@using WebHelpers.Mvc5

@using SmileSBankDirectDebit.Helper;
@{
    // var userDetail = GlobalFunction.GetLoginDetail(this.Context);
    var userDetail = SmileSBankDirectDebit.Helper.GlobalFunction.GetLoginDetail(this.Context);
    ViewBag.DepartmentID = userDetail.Department_ID;
    ViewBag.EmployeeCode = userDetail.UserName;
}

<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">

            <li class="header">Menu</li>
            <li class="@Url.IsLinkActive("Search", "BankDirectDebit")">
                <a href="@Url.Action("Search", "BankDirectDebit")"><i class="fa fa-link"></i> <span>ค้นหาเลขบัญชี</span></a>
            </li>

            @* อนุญาติให้แผนก เบี้ย และ DEV เห็นเมนู Import ได้เท่านั้น *@
            @{ if (ViewBag.DepartmentID == 7 || ViewBag.EmployeeCode == "00174" || ViewBag.EmployeeCode == "03774" || ViewBag.EmployeeCode == "01230")
                {
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i> <span>นำเข้าข้อมูล</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">

                            <li class="@Url.IsLinkActive("ImportData", "BankDirectDebit")">
                                <a href="@Url.Action("ImportData", "BankDirectDebit")"><i class="fa fa-link"></i> <span>Import Data</span></a>
                            </li>
                            <li class="@Url.IsLinkActive("ImportExcel", "BankDirectDebit")">
                                <a href="@Url.Action("ImportExcel", "BankDirectDebit")"><i class="fa fa-link"></i> <span>Import Excel</span></a>
                            </li>
                        </ul>
                    </li>
                }}
            @{ if (ViewBag.DepartmentID == 7 || ViewBag.EmployeeCode == "00174" || ViewBag.EmployeeCode == "03774" || ViewBag.EmployeeCode == "01230")
                {
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i> <span>ส่งข้อมูล KTB</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">

                            <li class="@Url.IsLinkActive("ExcelForExport", "BankDirectDebit")">
                                <a href="@Url.Action("ExcelForExport", "BankDirectDebit")"><i class="fa fa-link"></i><span>นำส่งข้อมูล KTB</span></a>
                            </li>

                            <li class="@Url.IsLinkActive("ReportForExport", "BankDirectDebit")">
                                <a href="@Url.Action("ReportForExport", "BankDirectDebit")"><i class="fa fa-link"></i><span>รายงานนำส่งข้อมูล KTB</span></a>
                            </li>
                        </ul>
                    </li>

                }}
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>ส่งหนังสือยินยอม</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Url.IsLinkActive("AddBankDirectDebitHeader", "BankDirectDebit")">
                        <a href="@Url.Action("AddBankDirectDebitHeader", "BankDirectDebit")"><i class="fa fa-link"></i> <span>ส่งหนังสือยินยอมหักธนาคาร</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("ManageDirectDebit", "BankDirectDebit")">
                        <a href="@Url.Action("ManageDirectDebit", "BankDirectDebit")"><i class="fa fa-link"></i> <span>ยกเลิกการนำส่งหนังสือยินยอม</span></a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>รายงาน</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @{ if (ViewBag.DepartmentID == 7 || ViewBag.EmployeeCode == "00174" || ViewBag.EmployeeCode == "03774" || ViewBag.EmployeeCode == "01230")
                        {
                            <li class="@Url.IsLinkActive("ReportImportData","BankDirectDebit")">
                                <a href="@Url.Action("ReportImportData","BankDirectDebit")"><i class="fa fa-link"></i><span>ผลการนำเข้าข้อมูลExcel</span></a>
                            </li>
                            <li class="@Url.IsLinkActive("ReportImportFile","BankDirectDebit")">
                                <a href="@Url.Action("ReportImportFile","BankDirectDebit")"><i class="fa fa-link"></i><span>ผลการนำเข้าไฟล์text</span></a>
                            </li>
                        } }
                    <li class="@Url.IsLinkActive("ReportForPremium", "BankDirectDebit")">
                        <a href="@Url.Action("ReportForPremium", "BankDirectDebit")"><i class="fa fa-link"></i><span>ผลนำส่งเอกสารหนังสือยินยอม</span></a>
                    </li>
                </ul>
            </li>
            <li class="@Url.IsLinkActive("DocumentMonitor", "BankDirectDebit")">
                <a href="@Url.Action("DocumentMonitor", "BankDirectDebit")"><i class="fa fa-link"></i> <span>ตรวจสอบเอกสาร</span></a>
            </li>
            @*if(ViewBag.DepartmentID == 7)
                {
                    <li class="@Url.IsLinkActive("ManageDirectDebit", "BankDirectDebit")">
                        <a href="@Url.Action("ManageDirectDebit", "BankDirectDebit")"><i class="fa fa-link"></i> <span>ยกเลิกการนำส่งหนังสือยินยอม</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("AddDirectDebitHeader", "BankDirectDebit")">
                        <a href="@Url.Action("AddDirectDebitHeader", "BankDirectDebit")"><i class="fa fa-link"></i> <span>ส่งหนังสือยินยอมหักธนาคาร</span></a>
                    </li>
                }*@
        </ul>
        @* END Menu *@
    </section>
</aside>