@{
    ViewBag.Title = "" + @ViewBag.QueueTypeDetail;
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "(สร้างเมื่อวันที่ " + @ViewBag.QueueCreated + ")";
    ViewBag.Header = "บันทึกการโทรคัดกรอง";
}

<style>
    .icheckbox_minimal-blue {
        border: 0.5px;
        opacity: 1;
        border-style: solid;
        vertical-align: baseline;
    }

    .iradio_minimal-blue {
        border: 0.5px;
        opacity: 1;
        vertical-align: baseline;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .btn-icon {
        background-color: transparent;
        color: #0d6efd;
        border: none;
        border-radius: 0.375rem;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-size: 30px;
    }

    .btn-icon:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
</style>

<div class="row">
    @{
        Html.RenderPartial("_ApplicationDetail");
    }
    <div id="UnderwriteHistory_form" class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">ประวัติคัดกรอง</h4>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <table id="tblUnderwriteHistory" class="table table-bordered table-striped"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="MainForm" action="@Url.Action("PAUnderwriteCallPost")" method="post">
        @* สถานะการโทร *@
        <div id="ContactDetail_form" class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">สถานะการโทร</h4>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                @{
                    int callOptionId = -1;
                    if (ViewBag.CallDetail != null) { callOptionId = (int)ViewBag.CallDetail.CallStatusId; }
                }
                <div class="box-body">
                    <div class="form-group row">
                        <div class="radio col-sm-offset-2">
                            <label class="col-sm-3">
                                <input type="radio" id="radio_call1" name="radio_call" value="option1" @if (callOptionId == 2) { <text> checked="checked" </text> }>
                                รับสาย &emsp; &emsp; ชื่อสกุลผู้รับสาย
                            </label>
                            <input class="col-sm-5" type="text" id="txtRecieverName" name="txtRecieverName" @if (callOptionId == 2) { <text> value="@ViewBag.CallDetail.ContactName" </text>  } else { <text> value="@ViewBag.CoopName" </text> } />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="radio col-sm-offset-2">
                            <label>
                                <input type="radio" id="radio_call2" name="radio_call" value="option2" @if (callOptionId == 3) { <text> checked="checked" </text> }>
                                ไม่รับสาย
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="radio col-sm-offset-2">
                            <label>
                                <input type="radio" id="radio_call3" name="radio_call" value="option3" @if (callOptionId == 4) { <text> checked="checked" </text> }>
                                ไม่สามารถติดต่อได้
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="radio col-sm-offset-2">
                            <label class="col-sm-2">
                                <input type="radio" id="radio_call4" name="radio_call" value="option4">
                                อื่นๆ &emsp;
                            </label>
                            <input class="col-sm-6" type="text" id="txtEtc" name="txtEtc" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* คำถามคัดกรอง *@
        <div id="PAQuestion_form" class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">คำถามคัดกรอง</h4>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        <div class="checkbox col-sm-offset-2">
                            <label>
                                <input type="checkbox" id="chk_option1" name="chk_option1"
                                       @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A2) { <text> checked="checked" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.A12) { <text> checked="checked" </text> }>
                                ทำประกันกับบริษัทอื่น &emsp; บริษัท
                            </label>
                            <select id="select_InsuranceCo" name="select_InsuranceCo">
                                @foreach (var itm in ViewBag.OtherInsurance)
                                {
                                    if (itm.InsuranceId != 26)
                                    {
                                        <option value="@itm.InsuranceId" @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A3 == itm.InsuranceId.ToString()) { <text> selected="selected" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.A13 == itm.InsuranceId.ToString()) { <text> selected="selected" </text> }>
                                            @itm.Insurance
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="checkbox col-sm-offset-2">
                            <label class="col-sm-4">
                                <input type="checkbox" id="chk_option2" name="chk_option2"
                                       @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A4) { <text> checked="checked" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.A14) { <text> checked="checked" </text> }>
                                ทางโรงเรียนไม่ประสงค์ทำประกัน เนื่องจาก &emsp;
                            </label>
                            <input class="col-sm-5" type="text" id="txtCause" name="txtCause"
                                   @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A4) { <text> value="@ViewBag.ResultQ2.A5" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.A14) { <text> value="@ViewBag.ResultQ3.A15" </text> } />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="checkbox col-sm-offset-2">
                            <label>
                                <input type="checkbox" id="chk_option3" name="chk_option3"
                                       @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A6) { <text> checked="checked" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.A16) { <text> checked="checked" </text> }>
                                โรงเรียนยุบรวมกับโรงเรียนอื่น
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="checkbox col-sm-offset-2">
                            <label>
                                <input type="checkbox" id="chk_option4" name="chk_option4"
                                       @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A7) { <text> checked="checked" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.A17) { <text> checked="checked" </text> }>
                                ไม่มีเจ้าหน้าที่เข้ามาจัดเก็บเบี้ยประกันภัย
                            </label>
                        </div>
                    </div>
                    <div class="form-group row" id="group_Paydate">
                        <div class="checkbox col-sm-offset-2">
                            <label class="col-sm-4" for="DatePayment">
                                <input type="checkbox" id="chk_option5" name="chk_option5"
                                       @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A8) { <text> checked="checked" </text> }>
                                นัดหมายกับเจ้าหน้าที่แล้ว จะชำระเบี้ยวันที่
                            </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control pull-right datepicker" name="DatePayment" id="DatePayment"
                                       data-provide="datepicker" data-date-language="th-th" placeholder="dd/mm/yyyy"
                                       @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A8) { <text> value="@ViewBag.DatePayment" </text> }>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="checkbox col-sm-offset-2">
                            <label class="col-sm-2" for="">
                                <input type="checkbox" id="chk_option6" name="chk_option6"
                                       @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A10) { <text> checked="checked" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.A18) { <text> checked="checked" </text> }>
                                สาเหตุอื่น &emsp;
                            </label>
                            <div class="col-sm-5">
                                <input type="text" id="txtAnotherCause" name="txtAnotherCause" style="width: 100%"
                                       @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A10) { <text> value="@ViewBag.ResultQ2.A11" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.A18) { <text> value="@ViewBag.ResultQ3.A19" </text> } />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* คำถามคัดกรอง(มีการชำระเบี้ยเข้ามา) *@
        <div id="PAQuestion2_form" class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">คำถามคัดกรอง</h4>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        <div class="checkbox col-sm-offset-2">
                            <label>
                                <input type="checkbox" id="chk_option2_1" name="chk_option2_1"
                                       @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A20) { <text> checked="checked" </text> }>
                                ถูกต้องตามชุดนำส่งเบี้ย
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="checkbox col-sm-offset-2">
                            <label>
                                <input type="checkbox" id="chk_option2_2" name="chk_option2_2"
                                       @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A21) { <text> checked="checked" </text> }>
                                ไม่ถูกต้องตามชุดนำส่งเบี้ย รายละเอียดดังนี้
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="checkbox col-sm-offset-3">
                            <label>
                                <input type="checkbox" id="chk_option2_2_1" name="chk_option2_2_1" value="A22"
                                       @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A22) { <text> checked="checked" </text> }>
                                จำนวนผู้ทำประกัน/คน รายละเอียดที่ไม่ตรง &emsp;
                            </label>
                            <input type="number" id="txtPersonUnequal" name="txtPersonUnequal"
                                   @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A22) { <text> value="@ViewBag.ResultQ4.A23" </text> } />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="checkbox col-sm-offset-3">
                            <label>
                                <input type="checkbox" id="chk_option2_2_2" name="chk_option2_2_1" value="A24"
                                       @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A24) { <text> checked="checked" </text> }>
                                ส่วนลด รายละเอียดที่ไม่ตรง &emsp;
                            </label>
                            <input type="number" id="txtDiscountUnequal" name="txtDiscountUnequal"
                                   @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A24) { <text> value="@ViewBag.ResultQ4.A25" </text> } />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="checkbox col-sm-offset-3">
                            <label>
                                <input type="checkbox" id="chk_option2_2_3" name="chk_option2_2_1" value="A26"
                                       @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A26) { <text> checked="checked" </text> }>
                                จำนวนเงินชำระเบี้ยประกันภัย รายละเอียดที่ไม่ตรง &emsp;
                            </label>
                            <input type="number" id="txtPaymentUnequal" name="txtPaymentUnequal"
                                   @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A26) { <text> value="@ViewBag.ResultQ4.A27" </text> } />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="checkbox col-sm-offset-3">
                            <label>
                                <input type="checkbox" id="chk_option2_2_4" name="chk_option2_2_1" value="A28"
                                       @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A28) { <text> checked="checked" </text> }>
                                อื่นๆ รายละเอียดที่ไม่ตรง &emsp;
                            </label>
                            <input type="text" id="txtEtcUnequal" name="txtEtcUnequal"
                                   @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A28) { <text> value="@ViewBag.ResultQ4.A29" </text> } />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="checkbox col-sm-offset-2">
                            <label class="col-sm-4">
                                <input type="checkbox" id="chk_option2_3" name="chk_option2_3"
                                       @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A30) { <text> checked="checked" </text> }>
                                มีการชำระเงินแล้ว เมื่อวันที่
                            </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control pull-left datepicker" name="DatePayment2" id="DatePayment2"
                                       data-provide="datepicker" data-date-language="th-th" placeholder="dd/mm/yyyy"
                                       @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A30) { <text> value="@ViewBag.DatePayment2" </text> }>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="checkbox col-sm-offset-3">
                            <label class="col-sm-2">
                                ชื่อตัวแทน &emsp;
                            </label>
                            <input class="col-sm-5" type="text" id="txtAgentName" name="txtAgentName"
                                   @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A30) { <text> value="@ViewBag.ResultQ4.A32" </text> } />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* ผลการโทรคัดกรอง *@
        <div id="PACallResult_form" class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">ผลการโทรคัดกรอง</h4>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        <div class="radio col-sm-offset-2">
                            <label>
                                <input type="radio" id="radio_callResult1" name="radio_callResult" value="option1"
                                       @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.UnderwriteStatusId == 3) { <text> checked="checked" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.UnderwriteStatusId == 3) { <text> checked="checked" </text>  } else if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.UnderwriteStatusId == 3) { <text> checked="checked" </text> }>
                                มีประเด็น &emsp;จำนวนเงิน :
                            </label>
                            <input type="number" id="txtAmountCorrupt" name="txtAmountCorrupt"
                                   @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.UnderwriteStatusId == 3) { <text> value="@ViewBag.ResultQ2.CorruptAmount" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.UnderwriteStatusId == 3) { <text> value="@ViewBag.ResultQ3.CorruptAmount" </text>  } else if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.UnderwriteStatusId == 3) { <text> value="@ViewBag.ResultQ4.CorruptAmount" </text> } />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="radio col-sm-offset-2">
                            <label>
                                <input type="radio" id="radio_callResult2" name="radio_callResult" value="option2"
                                       @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.UnderwriteStatusId == 2) { <text> checked="checked" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.UnderwriteStatusId == 2) { <text> checked="checked" </text>  } else if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.UnderwriteStatusId == 2) { <text> checked="checked" </text> }>
                                ปกติ
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* หมายเหตุ *@
        <div id="Remark_Form" class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">หมายเหตุ</h4>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-sm-offset-1 col-sm-10">
                            <label>หมายเหตุ</label>
                            <textarea id="txtRemark" name="txtRemark" class="form-control" rows="3">
                                    @if(ViewBag.ResultQ2 != null)
                                    {
                                        @ViewBag.ResultQ2.Remark
                                    }
                                    else if(ViewBag.ResultQ3 != null)
                                    {
                                        @ViewBag.ResultQ3.Remark
                                    }
                                    else if(ViewBag.ResultQ4 != null)
                                    {
                                        @ViewBag.ResultQ4.Remark
                                    }else
                                    {
                                        @ViewBag.Remark
                                    }</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* footer *@
        <div id="Action_form" class="col-md-12">
            <div class="box box-footer">
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-sm-offset-2 col-sm-2">
                            <button type="button" class="btn btn-block btn-success" title="กรุณากรอกข้อมูลให้ครบถ้วน" id="btnEndQueue">
                                <i class="fa fa-fw fa-check"></i>ปิดคิวงาน
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-block btn-warning" id="btnWaitQueue">
                                <i class="fa fa-fw fa-hourglass-half"></i>กำลังดำเนินการ
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-block btn-primary" id="btnAssignQueue"
                                    data-toggle="modal" data-target="#modal_Emp">
                                <i class="fa fa-fw fa-random"></i>โยกคิวงาน
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-block btn-default" id="btnBackToMain">กลับหน้าหลัก</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="hd_queueId" name="hd_queueId" value="@ViewBag.UnderwriteDetail.QueueId" />
        <input type="hidden" id="hd_underwriteId" name="hd_underwriteId" value="@ViewBag.UnderwiteId" />
        <input type="hidden" id="hd_schoolId" name="hd_schoolId" value="@ViewBag.AppDetail.School_id" />
        <input type="hidden" id="hd_submitType" name="hd_submitType" value="" />
    </form>
</div>
@* modal *@
<div class="modal fade in" id="modal_Emp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">รายชื่อแผนกคัดกรอง</h4>
            </div>
            <div class="modal-body">
                <!-- /.modal-content -->
                <div class="col-sm-12">
                    <table id="tblEmpSelect" class="table table-bordered table-striped"></table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">ยกเลิก</button>
                <button type="button" id="btnSubmitQueue" class="btn btn-primary">ยืนยัน</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@* end modal *@

@* Remark modal *@
<div class="modal fade in" id="modal_Remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">หมายเหตุ</h4>
            </div>
            <div class="modal-body">
                <!-- /.modal-content -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">ปิด</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@* end modal *@

@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            DisableAttribute();

            HideForm(@ViewBag.QuestionId);

            GetUnderwriteHistory();
            //assign queue
            $('#btnAssignQueue').on('click', function () {
                GetEmployeeDatatable();
            });
            $('#btnSubmitQueue').on('click', function () {

                AssignQueue($('#hd_queueId').val(), $('input[type=radio][name=EmpChkrow]:checked').val(), @Session["User_ID"]);
            });
            $('.btnEndQueue').prop('disabled', true);
            if ($('#radio_call1').is(':checked')) {
                $('#btnEndQueue').prop('disabled', false);
            }

            //validate attribute radio_call
            $('input[type=radio][name=radio_call]').on('ifChecked', function () {
                //if radio eqal to 'option1' enable attribute
                if ($(this).val() == 'option1') {
                    $('#btnEndQueue').prop('disabled', false);
                    $('#txtRecieverName').prop('disabled', false);
                    $('#txtRecieverName').prop('required', 'required');
                } else {
                    $('#txtRecieverName').val(null);
                    $('#txtRecieverName').prop('disabled', true);
                    $('#btnEndQueue').prop('disabled', true);
                }
                //if radio eqal to 'option1' enable attribute
                if ($(this).val() == 'option4') {
                    $('#txtEtc').prop('disabled', false);
                } else {
                    $('#txtEtc').val(null);
                    $('#txtEtc').prop('disabled', true);
                }
            });

            //manage validation checkbox 1
            $('#chk_option1').on('ifChecked', function (e) {
                //if checked enable attribute
                $('#select_InsuranceCo').prop('disabled', false);
            });
            $('#chk_option1').on('ifUnchecked', function (e) {
                //if checked disable attribute
                $('#select_InsuranceCo').prop('disabled', true);
            });
            //manage validation checkbox 2
            $('#chk_option2').on('ifChecked', function (e) {
                $('#txtCause').prop('disabled', false);
            });
            $('#chk_option2').on('ifUnchecked', function (e) {
                $('#txtCause').val(null);
                $('#txtCause').prop('disabled', true);
            });
            //manage validation checkbox 5
            $('#chk_option5').on('ifChecked', function (e) {
                $('#DatePayment').prop('disabled', false);
            });
            $('#chk_option5').on('ifUnchecked', function (e) {
                $('#DatePayment').val(null);
                $('#DatePayment').prop('disabled', true);
            });
            //manage validation checkbox 6
            $('#chk_option6').on('ifChecked', function (e) {
                $('#txtAnotherCause').prop('disabled', false);
            });
            $('#chk_option6').on('ifUnchecked', function (e) {
                $('#txtAnotherCause').val(null);
                $('#txtAnotherCause').prop('disabled', true);
            });

            //PA Question2 cannot check if parent not checked
             //if check option2_2 uncheck 2_1
            $('#chk_option2_2').on('ifChecked', function () {
                $('input[type=checkbox][name=chk_option2_1]').iCheck('uncheck');
            });
            $('#chk_option2_1').on('ifChecked', function () {
                 $('input[type=checkbox][name=chk_option2_2]').iCheck('uncheck');
            });
            //
            $('input[type=checkbox][name=chk_option2_2_1]').prop('disabled', true);
            //check if checkbox 2_2 is checked
            $('#chk_option2_2').on('ifUnchecked', function () {
                $('input[type=checkbox][name=chk_option2_2_1]').iCheck('uncheck');
                $('input[type=checkbox][name=chk_option2_2_1]').prop('disabled', true);
            });
             $('#chk_option2_2').on('ifChecked', function () {
                $('input[type=checkbox][name=chk_option2_2_1]').prop('disabled', false);
            });
            //manage validation checkbox 2_2_1
            $('#chk_option2_2_1').on('ifChecked', function (e) {
                $('#txtPersonUnequal').prop('disabled', false);
            });
            $('#chk_option2_2_1').on('ifUnchecked', function (e) {
                $('#txtPersonUnequal').val(null);
                $('#txtPersonUnequal').prop('disabled', true);
            });
            //manage validation checkbox 2_2_2
             $('#chk_option2_2_2').on('ifChecked', function (e) {
                $('#txtDiscountUnequal').prop('disabled', false);
            });
            $('#chk_option2_2_2').on('ifUnchecked', function (e) {
                $('#txtDiscountUnequal').val(null);
                $('#txtDiscountUnequal').prop('disabled', true);
            });
            //manage validation checkbox 2_2_3
             $('#chk_option2_2_3').on('ifChecked', function (e) {
                $('#txtPaymentUnequal').prop('disabled', false);
            });
            $('#chk_option2_2_3').on('ifUnchecked', function (e) {
                $('#txtPaymentUnequal').val(null);
                $('#txtPaymentUnequal').prop('disabled', true);
            });
            //manage validation checkbox 2_2_4
            $('#chk_option2_2_4').on('ifChecked', function (e) {
                $('#txtEtcUnequal').prop('disabled', false);
            });
            $('#chk_option2_2_4').on('ifUnchecked', function (e) {
                $('#txtEtcUnequal').val(null);
                $('#txtEtcUnequal').prop('disabled', true);
            });
             //manage validation checkbox 2_3
            $('#chk_option2_3').on('ifChecked', function (e) {
                $('#DatePayment2').prop('disabled', false);
                $('#txtAgentName').prop('disabled', false);
            });
            $('#chk_option2_3').on('ifUnchecked', function (e) {
                $('#DatePayment2').val(null);
                $('#DatePayment2').prop('disabled', true);
                $('#txtAgentName').val(null);
                $('#txtAgentName').prop('disabled', true);
            });

            //ผลการโทรคัดกรอง
            $('input[type=radio][name=radio_callResult]').on('ifChecked', function () {
                //if radio eqal to 'option1' enable attribute
                if ($(this).val() == 'option1') {
                    $('#txtAmountCorrupt').prop('disabled', false);
                } else {
                    $('#txtAmountCorrupt').val(null);
                    $('#txtAmountCorrupt').prop('disabled', true);
                }
            });

            //btn action
            $('#btnBackToMain').on('click', function () {
                window.swal({
                        title: 'ต้องการละทิ้งข้อมูลใช่หรือไม่?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#277020',
                        confirmButtonText: 'ตกลง',
                        cancelButtonText: 'ยกเลิก',
                        closeOnConfirm: false,
                        closeOnEsc: false,
                        closeOnCancel: true
                        }, function (isConfirm) {
                        if (isConfirm) {
                            window.location = '@Url.Action("QueueCallIndex","QueueCall")';
                        }
                    });
            });

            //btn end queue
            //TODO:save queue
            $('#btnEndQueue').on('click', function () {
                window.swal({
                     title: 'ต้องการบันทึกข้อมูลปิดคิวงานใช่หรือไม่?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#277020',
                        confirmButtonText: 'ตกลง',
                        cancelButtonText: 'ยกเลิก',
                        closeOnConfirm: false,
                        closeOnEsc: false,
                        closeOnCancel: true
                        }, function (isConfirm) {
                            if (isConfirm) {
                                var validate = ValidateForm();

                            if (validate == false) {
                                return false;
                            } else {
                                $('#hd_submitType').empty();
                                $('#hd_submitType').val("submit");
                                $('#MainForm').submit();
                            }
                        }
                });
            });

            //btn wait queue
            //TODO: save wait queue but not validate
            $('#btnWaitQueue').on('click', function () {
                window.swal({
                     title: 'ต้องการบันทึกข้อมูลรอดำเนินการใช่หรือไม่?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#277020',
                        confirmButtonText: 'ตกลง',
                        cancelButtonText: 'ยกเลิก',
                        closeOnConfirm: false,
                        closeOnEsc: false,
                        closeOnCancel: true
                        }, function (isConfirm) {
                            if (isConfirm) {

                                $('#hd_submitType').empty();
                                $('#hd_submitType').val("wait");
                                 $('#MainForm').submit();
                            //var validate = ValidateForm();

                            @*if (validate == false) {
                                window.location = '@Url.Action("InternalServerError","Error")';
                            } else {
                                $('#MainForm').submit();
                            }*@
                        }
                });
            });

        });

        //disable option
        function DisableAttribute() {
            //สถานะการโทร
            $('#txtRecieverName').prop('disabled', true);
            if ($('#txtRecieverName').val() != '') {
                $('#txtRecieverName').prop('disabled', false);
            }
            $('#txtEtc').prop('disabled', true);
             if ($('#txtEtc').val() != '') {
                $('#txtEtc').prop('disabled', false);
            }
            //คำถามคัดกรอง
            $('#select_InsuranceCo').prop('disabled', true);
             if ($('#select_InsuranceCo').val() != null) {
                $('#select_InsuranceCo').prop('disabled', false);
            }
            $('#txtCause').prop('disabled', true);
             if ($('#txtCause').val() != '') {
                $('#txtCause').prop('disabled', false);
            }
            $('#txtAnotherCause').prop('disabled', true);
             if ($('#txtAnotherCause').val() != '') {
                $('#txtAnotherCause').prop('disabled', false);
            }
            $('#DatePayment').prop('disabled', true);
             if ($('#DatePayment').val() != '') {
                $('#DatePayment').prop('disabled', false);
            }
            //คำถามคัดกรอง(มีการชำระเบี้ยเข้ามา)
            $('#txtPersonUnequal').prop('disabled', true);
             if ($('#txtPersonUnequal').val() != '') {
                $('#txtPersonUnequal').prop('disabled', false);
            }
            $('#txtDiscountUnequal').prop('disabled', true);
             if ($('#txtDiscountUnequal').val() != '') {
                $('#txtDiscountUnequal').prop('disabled', false);
            }
            $('#txtPaymentUnequal').prop('disabled', true);
             if ($('#txtPaymentUnequal').val() != '') {
                $('#txtPaymentUnequal').prop('disabled', false);
            }
            $('#txtEtcUnequal').prop('disabled', true);
             if ($('#txtEtcUnequal').val() != '') {
                $('#txtEtcUnequal').prop('disabled', false);
            }
            $('#DatePayment2').prop('disabled', true);
             if ($('#DatePayment2').val() != '') {
                $('#DatePayment2').prop('disabled', false);
            }
            $('#txtAgentName').prop('disabled', true);
             if ($('#txtAgentName').val() != '') {
                $('#txtAgentName').prop('disabled', false);
            }
            //ผลการโทรคัดกรอง
            $('#txtAmountCorrupt').prop('disabled', true);
             if ($('#txtAmountCorrupt').val() != '') {
                $('#txtAmountCorrupt').prop('disabled', false);
            }
        }

        //hide form by queueTypeId
        function HideForm(questionId) {
            if (questionId == '2') {
                $('#PAQuestion2_form').hide();
                $('#PAQuestion2_form').prop('disable', true);
            } else if (questionId == '3') {
                $('#PAQuestion2_form').hide();
                $('#PAQuestion2_form').prop('disable', true);
                $('#group_Paydate').hide();
                $('#group_Paydate').prop('disable', true);
            } else if (questionId == '4') {
                $('#PAQuestion_form').hide();
                $('#PAQuestion_form').prop('disable', true);
            } else {
                window.location = '@Url.Action("Report","QueueCall")';
            }
        }

        function ValidateForm() {
            //check radio have checked at least 1 at contact detail form
                                if ($('input[type=radio][name=radio_call]:checked').length <= 0) {
                                    window.swal({
                                        title: 'กรุณาเลือกสถานะการโทร!',
                                        type: 'error',
                                        text: 'กรุณาเลือกสถานะการโทร',
                                        showCancelButton: false,
                                        confirmButtonColor: '#ed2b09',
                                        confirmButtonText: 'ตกลง',
                                        closeOnEsc: false
                                    }, function () {
                                        $('#ContactDetail_form').children().removeClass().toggleClass('box box-danger');
                                        $('#ContactDetail_form :input').focus();
                                    });
                                } else {
                                    //validate text if cheked and input null
                                    if ($('input[type=radio][name=radio_call]:checked').val() == 'option1' && $('#txtRecieverName').val() == '') {
                                        window.swal({
                                            title: 'กรุณากรอกชื่อผู้รับสาย!',
                                            type: 'error',
                                            text: 'กรุณากรอกชื่อผู้รับสาย',
                                            showCancelButton: false,
                                            confirmButtonColor: '#ed2b09',
                                            confirmButtonText: 'ตกลง',
                                            closeOnEsc: false
                                        }, function () {
                                            $('#txtRecieverName').css('border-color', '#dd4b39');
                                            $('#txtRecieverName').focus();
                                            });
                                        return false;
                                    } else {
                                         $('#txtRecieverName').css('border-color', '#00a65a');
                                    }
                                    $('#ContactDetail_form').children().removeClass().toggleClass('box box-primary');
                                }
                                //check checkbox have checked at least 1 at PAQuestion form (If form visible)
                                if ($('#PAQuestion_form').is(':visible') && $('#PAQuestion_form input[type=checkbox]:checked').length <= 0) {
                                    window.swal({
                                        title: 'กรุณาเลือกคำถามคัดกรอง',
                                        type: 'error',
                                        text: 'กรุณาเลือกคำถามคัดกรองอย่างน้อย 1 ช่อง!',
                                        showCancelButton: false,
                                        confirmButtonColor: '#ed2b09',
                                        confirmButtonText: 'ตกลง',
                                        closeOnEsc: false
                                    }, function () {
                                        $('#PAQuestion_form').children().removeClass().toggleClass('box box-danger');
                                        $('#PAQuestion_form :input').focus();
                                        });
                                    return false;
                                } else {
                                    //check if correct and incorrect not checked togather
                                    $('#PAQuestion_form').children().removeClass().toggleClass('box box-primary');
                                    if ($('#chk_option2_1').is(':checked') && $('#chk_option2_2').is(':checked')) {
                                         window.swal({
                                            title: 'กรุณาเลือกถูกต้องหรือไม่ถูกต้องเท่านั้น!',
                                            type: 'error',
                                            text: 'กรุณาตรวจสอบข้อมูลคำถามคัดกรอง',
                                            showCancelButton: false,
                                            confirmButtonColor: '#ed2b09',
                                            confirmButtonText: 'ตกลง',
                                            closeOnEsc: false
                                        }, function () {
                                            $('#chk_option2_1').css('border-color', '#dd4b39');
                                            $('#chk_option2_2').css('border-color', '#dd4b39');
                                            $('#chk_option2_1').focus();
                                            });
                                        return false;
                                    }
                                    //validate text if cheked and input null
                                    if ($('#chk_option2').is(':checked') && $('#txtCause').val() == '') {
                                        window.swal({
                                            title: 'กรุณากรอกรายละเอียด!',
                                            type: 'error',
                                            text: 'กรุณากรอกรายละเอียด',
                                            showCancelButton: false,
                                            confirmButtonColor: '#ed2b09',
                                            confirmButtonText: 'ตกลง',
                                            closeOnEsc: false
                                        }, function () {
                                            $('#txtCause').css('border-color', '#dd4b39');
                                            $('#txtCause').focus();
                                            });
                                        return false;
                                    } else {
                                         $('#txtCause').css('border-color', '#00a65a');
                                    }
                                    //validate checkbox if checked and input null
                                    if ($('#chk_option5').is(':checked') && $('#DatePayment').val() == '') {
                                        window.swal({
                                            title: 'กรุณากรอกรายละเอียด!',
                                            type: 'error',
                                            text: 'กรุณาเลือกวันที่นัดหมาย',
                                            showCancelButton: false,
                                            confirmButtonColor: '#ed2b09',
                                            confirmButtonText: 'ตกลง',
                                            closeOnEsc: false
                                        }, function () {
                                            $('#DatePayment').css('border-color', '#dd4b39');
                                            $('#DatePayment').focus();
                                            });
                                        return false;
                                    } else {
                                         $('#DatePayment').css('border-color', '#00a65a');
                                    }
                                }
                                //check checkbox have checked at least 1 at PAQuestion2 form (If form visible)
                                if ($('#PAQuestion2_form').is(':visible') && $('#PAQuestion2_form input[type=checkbox]:checked').length <= 0) {
                                    window.swal({
                                        title: 'กรุณาเลือกคำถามคัดกรอง',
                                        type: 'error',
                                        text: 'กรุณาเลือกคำถามคัดกรองอย่างน้อย 1 ช่อง!',
                                        showCancelButton: false,
                                        confirmButtonColor: '#ed2b09',
                                        confirmButtonText: 'ตกลง',
                                        closeOnEsc: false
                                    }, function () {
                                        $('#PAQuestion2_form').children().removeClass().toggleClass('box box-danger');
                                        $('#PAQuestion2_form :input').focus();
                                        });
                                    return false;
                                }
                                else {
                                    $('#PAQuestion2_form').children().removeClass().toggleClass('box box-primary');
                                    if ($('#chk_option2_2').is(':checked') && $('input[type=checkbox][name=chk_option2_2_1]:checked').length <= 0) {
                                        window.swal({
                                            title: 'เลือกอย่างน้อย 1 อย่าง!',
                                            type: 'error',
                                            text: 'กรุณาเลือกข้อมูลที่ไม่ถูกต้องอย่างน้อย1อย่าง',
                                            showCancelButton: false,
                                            confirmButtonColor: '#ed2b09',
                                            confirmButtonText: 'ตกลง',
                                            closeOnEsc: false
                                        }, function () {
                                            $('#chk_option2_2_1').focus();
                                            });
                                        return false;
                                    } else {
                                        //if checked but not input data 2_2_1
                                        if ($('#chk_option2_2_1').is(':checked') && $('#txtPersonUnequal').val() == '') {
                                            window.swal({
                                                title: 'กรุณากรอกข้อมูล!',
                                                type: 'error',
                                                text: 'กรุณากรอกข้อมูล',
                                                showCancelButton: false,
                                                confirmButtonColor: '#ed2b09',
                                                confirmButtonText: 'ตกลง',
                                                closeOnEsc: false
                                            }, function () {
                                                $('#txtPersonUnequal').css('border-color', '#dd4b39');
                                                $('#txtPersonUnequal').focus();
                                                });
                                            return false;
                                        } else {
                                            $('#txtPersonUnequal').css('border-color', '#00a65a');
                                        }
                                        //if checked but not input data 2_2_2
                                         if ($('#chk_option2_2_2').is(':checked') && $('#txtDiscountUnequal').val() == '') {
                                            window.swal({
                                                title: 'กรุณากรอกข้อมูล!',
                                                type: 'error',
                                                text: 'กรุณากรอกข้อมูล',
                                                showCancelButton: false,
                                                confirmButtonColor: '#ed2b09',
                                                confirmButtonText: 'ตกลง',
                                                closeOnEsc: false
                                            }, function () {
                                                $('#txtDiscountUnequal').css('border-color', '#dd4b39');
                                                $('#txtDiscountUnequal').focus();
                                                 });
                                             return false;
                                        } else {
                                            $('#txtDiscountUnequal').css('border-color', '#00a65a');
                                        }
                                         //if checked but not input data 2_2_3
                                         if ($('#chk_option2_2_3').is(':checked') && $('#txtPaymentUnequal').val() == '') {
                                            window.swal({
                                                title: 'กรุณากรอกข้อมูล!',
                                                type: 'error',
                                                text: 'กรุณากรอกข้อมูล',
                                                showCancelButton: false,
                                                confirmButtonColor: '#ed2b09',
                                                confirmButtonText: 'ตกลง',
                                                closeOnEsc: false
                                            }, function () {
                                                $('#txtPaymentUnequal').css('border-color', '#dd4b39');
                                                $('#txtPaymentUnequal').focus();
                                                 });
                                             return false;
                                        } else {
                                            $('#txtPaymentUnequal').css('border-color', '#00a65a');
                                        }
                                        //if checked but not input data 2_2_4
                                         if ($('#chk_option2_2_4').is(':checked') && $('#txtEtcUnequal').val() == '') {
                                            window.swal({
                                                title: 'กรุณากรอกข้อมูล!',
                                                type: 'error',
                                                text: 'กรุณากรอกข้อมูล',
                                                showCancelButton: false,
                                                confirmButtonColor: '#ed2b09',
                                                confirmButtonText: 'ตกลง',
                                                closeOnEsc: false
                                            }, function () {
                                                $('#txtEtcUnequal').css('border-color', '#dd4b39');
                                                $('#txtEtcUnequal').focus();
                                                 });
                                             return false;
                                        } else {
                                            $('#txtEtcUnequal').css('border-color', '#00a65a');
                                        }
                                    }
                                    if ($('#chk_option2_3').is(':checked') && ($('#DatePayment2').val() == '' || $('#txtAgentName').val() == '')) {
                                        window.swal({
                                            title: 'กรุณากรอกข้อมูล!',
                                            type: 'error',
                                            text: 'กรุณากรอกข้อมูล',
                                            showCancelButton: false,
                                            confirmButtonColor: '#ed2b09',
                                            confirmButtonText: 'ตกลง',
                                            closeOnEsc: false
                                        }, function () {
                                            $('#DatePayment2').css('border-color', '#dd4b39');
                                            $('#txtAgentName').css('border-color', '#dd4b39');
                                            $('#DatePayment2').focus();
                                            });
                                        return false;
                                    } else {
                                        $('#DatePayment2').css('border-color', '#00a65a');
                                        $('#txtAgentName').css('border-color', '#00a65a');
                                    }
                                }
                                 //check radio have checked at least 1 at contact detail form
                                if ($('input[type=radio][name=radio_callResult]:checked').length <= 0) {
                                    window.swal({
                                        title: 'กรุณาเลือกผลการโทรคัดกรอง!',
                                        type: 'error',
                                        text: 'กรุณาเลือกผลการโทรคัดกรอง',
                                        showCancelButton: false,
                                        confirmButtonColor: '#ed2b09',
                                        confirmButtonText: 'ตกลง',
                                        closeOnEsc: false
                                    }, function () {
                                        $('#PACallResult_form').children().removeClass().toggleClass('box box-danger');
                                        $('#PACallResult_form :input').focus();
                                        });
                                    return false;
                                } else {
                                    $('#PACallResult_form').children().removeClass().toggleClass('box box-primary');
                                    //check if radio is check but not complete input text
                                      if ($('input[type=radio][name=radio_callResult]:checked').val() == 'option1' && $('#txtAmountCorrupt').val() == '') {
                                        window.swal({
                                            title: 'กรุณากรอกรายละเอียด!',
                                            type: 'error',
                                            text: 'กรุณากรอกรายละเอียดการทุจริต',
                                            showCancelButton: false,
                                            confirmButtonColor: '#ed2b09',
                                            confirmButtonText: 'ตกลง',
                                            closeOnEsc: false
                                        }, function () {
                                            $('#txtAmountCorrupt').css('border-color', '#dd4b39');
                                            $('#txtAmountCorrupt').focus();
                                              });
                                          return false;
                                    } else {
                                         $('#txtAmountCorrupt').css('border-color', '#00a65a');
                                    }
            }
        }

        function GetUnderwriteHistory() {
        $('#tblUnderwriteHistory').empty();
        var table = $('#tblUnderwriteHistory').DataTable({
                pageLength: 10,
                processing: true,
            serverSide: true,
                dom: "lfrti",
                destroy: true,
                ajax: {
                    url: '@Url.Action("UnderwriteHistory","PAUnderwriteCall")',
                    method:'POST',
                    data: function (d) {
                                d.pageSize = d.length;
                                d.pagestart = d.start;
                                d.sortField = d.columns[d.order[0].column].data;
                                d.orderType = d.order[0].dir;
                                d.search = d.search.value;
                                d.schoolId = $('#hd_schoolId').val();
                    }
                },
                columns: [
                    { title: 'วันที่รับคิวงาน', data: 'AssignDate',
                        className: 'dt-center',
                        render: function (data) {
                            return moment(data).format('DD/MM/YYYY');
                        } },
                    { title:'เลขอ้างอิง', data:'ReferenceCode'},
                    { title:'ประเภทคิว', data:'QueueTypeDetail'},
                    { title: 'ผลการโทรคัดกรอง', data: 'UnderwriteStatusDetail' },
                    { title: 'สถานะคิวงาน', data: 'QueueStatus' },
                    { title: 'ผู้รับผิดชอบ', data: 'AssignToName' },
                    {  data: 'QueueId',
                        title: 'รายละเอียด',
                        render: function (data, _, row) {
                            const hasRemark = !!row.Remark; // ตรวจสอบว่า remark มีค่าหรือไม่
                            const disabledAttr = hasRemark ? '' : 'disabled';
                            const style = hasRemark ? '' : 'opacity: 0.5; cursor: not-allowed;';

                            return `
                                <div style="display:flex;justify-content: space-around;align-items: space-around;">
                                    <button type="button"
                                            class="btn-icon"
                                            id="btnViewRemark-${data}"
                                            onclick="ViewRemark(\`${row.Remark}\`)"
                                            data-toggle="modal"
                                            data-target="#modal_Remark"
                                            ${disabledAttr}
                                            style="${style}">
                                        <i class="fa fa-info-circle"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-icon"
                                            id="btnDetail_${data}"
                                            name="btnDetail_${data}"
                                            value="${data}"
                                            onclick="CallDetail(${data})">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </div>
                            `;
                        }

                    }
                ]
            });
        }

        function ViewRemark(remark) {
            $("#modal_Remark .modal-dialog .modal-content .modal-body").html(`<p style="padding: 0px 25px 0px 25px; font-size:17px">${remark}</p>`)
        }

        function CallDetail(queueId) {
            window.open("@Url.Action("Detail","QueueCall")?queueId="+queueId);
        }

         //get employee datatable
        function GetEmployeeDatatable() {
            $('#tblEmpSelect').empty();
             var emptable = $('#tblEmpSelect').DataTable({
                pageLength: 50,
                processing: true,
                 serverSide: true,
                 //searching: false,
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetDataTableEmployee","Queue")',
                    method: 'POST',
                    data: function (d) {
                                d.draw = d.draw;
                                d.pageSize = d.length;
                                d.pagestart = d.start;
                                d.sortField = d.columns[d.order[0].column].data;
                                d.orderType = d.order[0].dir;
                                d.search = d.search.value;
                    }
                },
                columns: [
                    {
                        searchable: false,
                        orderable: false,
                        className: 'dt-center',
                        data: 'UserId',
                        title: 'เลือก',
                        render: function (data) {
                            return '<input type="radio" class="chk-emp-row-select" id="empChkrow_'+data+'" name="EmpChkrow" value="'+data+'" >';
                        }
                    },
                    { title: 'ชื่อพนักงาน', data: 'FullName' },
                    { title: 'รหัส', data: 'EmployeeCode' },
                    { title: 'แผนก', data: 'DepartmentDetail' }
                ]
            });
        }

        //assign queue
        function AssignQueue(queueId, assignTo, createBy) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AssignQueue","PAUnderwriteCall")',
                data: {
                    queueId: queueId,
                    assignToUserId: assignTo,
                    createByUserId: createBy
                },
                success: function (response) {
                    if (response == true) {
                        window.swal({
                            title: 'ทำรายการสำเร็จ',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#26A65B',
                            confirmButtonText: 'ตกลง',
                            closeOnEsc: false
                        }, function () {
                            window.location = "@Url.Action("QueueCallIndex","QueueCall")";
                        });
                    } else {
                        window.swal({
                            title: 'เกิดข้อผิดพลาด!',
                            type: 'error',
                            text: 'กรุณาตรวจสอบข้อมูลอีกครั้ง',
                            showCancelButton: false,
                            confirmButtonColor: '#ed2b09',
                            confirmButtonText: 'ตกลง',
                            closeOnEsc: false
                        }, function () {
                            window.location = "@Url.Action("InternalServerError","Error")";
                        });
                    }
                }
            });
        }
    </script>
}