@{
    ViewBag.Title = "ติดตามการให้บริการ Roadside Assistance";
}
@*<h6 id="FollowRoadsideAssistanceId" type="text" value="@(ViewBag.RoadsideAssisresult[0].RoadsideAssistanceId != null ?ViewBag.RoadsideAssisresult[0].RoadsideAssistanceId:"")"></h6>*@
@*<input id="RoadsideStatusId" type="hidden" value="@(ViewBag.RoadsideAssisresult[0].RoadsideAssistanceStatusId != null ?ViewBag.RoadsideAssisresult[0].RoadsideAssistanceStatusId:"")" />*@
<style>
    .content-wrapper {
        min-height: 800px !important;
    }

    .btn {
        color: #c8b8b8;
        border: none;
        outline: none;
        padding: 10px 16px;
        cursor: pointer;
        font-size: 18px;
    }

        .btn .label {
            top: 0px !important;
            font-size: 16px !important;
        }
</style>
<input type="hidden" value="" id="RoadsideStatusId" />
<div class="content">
    <div class="col-md-12">
        <div class="col-md-12 text-bold" style="background: linear-gradient(to right, rgb(103, 74, 64), rgba(103, 74, 64, 64));text-align: center;max-height: 75px;" id="nav">
            <a class="btn margin" id="2" href="#tab1" data-toggle="tab" aria-expanded="true" style="color:white">รอดำเนินการปิดงาน</a>

            <a class="btn margin" id="3" href="#tab1" data-toggle="tab" aria-expanded="true" style="color:white">กำลังดำเนินการ</a>

            <a class="btn margin" id="4" href="#tab1" data-toggle="tab" aria-expanded="true" style="color:white">สำเร็จ</a>

            <a class="btn margin" id="5" href="#tab1" data-toggle="tab" aria-expanded="true" style="color:white">ยกเลิกรายการ</a>
        </div>
        <div class="tab-content">
            <div class="tab-pane" id="tab1">
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                            </div>

                            <div class="box-body">
                                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="RoadsideFollow" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                                <thead style="background:#50a3a4"></thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="RoadsideFollow" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                                <thead style="background:#50a3a4">
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="RoadsideFollow" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                                <thead style="background:#50a3a4">
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.nav-tabs-custom -->
        @*<div class="box-footer" style="background: linear-gradient(to right, rgb(37, 80, 177), rgb(28, 176, 230));">
                <p style="color:white">Copyright SIAMSMILE BROKER (THAILAND) CO., LTD.</p>
            </div>*@
    </div>
    @*------------------- Modal Confirm --------------------*@
    <div class="modal fade" data-backdrop="static" tabindex="-1" id="ShowConfirm" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog" role="document" tabindex="-1">
            <div class="modal-content">
                <div class="modal-header" style="background:#1887db; color:white;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-center text-bold">ข้อมูลแจ้งเหตุ</h4>
                </div>
                <div class="modal-body">
                    <div class="box-header text-center">
                        <h4 style="">แจ้งเหตุ Siamsmile Roadside Assistance</h4>
                    </div>
                    <div class="box-body">
                        <div class="col-md-2 text-center">
                            <img src="~/Content/img/logo1.png" style="width:70px;height:70px;" />
                        </div>
                        <div class="col-md-10">
                            <div class="col-md-4">
                                <label class="control-label" style="font-size:12px;">วันที่ :</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control form-group" type="text" name="txtDate" id="txtDate" value="" readonly>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label" style="font-size:12px;">เวลา :</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control form-group" type="text" name="txtTime" id="txtTime" value="" readonly>
                            </div>
                            <div class="col-md-4 ">
                                <label class="control-label" style="font-size:12px;">ชื่อลูกค้า :</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control form-group" type="text" name="m_txtCustomerName" id="m_txtCustomerName" readonly>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label" style="font-size:12px;">เบอร์โทรติดต่อกลับ :</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control form-group" type="text" name="txtPhoneNumber" id="txtPhoneNumber" readonly>
                            </div>
                            <div class="col-md-4 ">
                                <label class="control-label" style="font-size:12px;" id="CardDetailTypeId"></label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control form-group" type="text" name="txtIDCard" id="txtIDCard" readonly>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label" style="font-size:12px;">ประเภทการบริการ :</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control form-group" type="text" name="txtServiceType" id="txtServiceType" readonly>
                            </div>
                            <div class="col-md-4 ">
                                <label class="control-label" style="font-size:12px;">ประเภทการใช้สิทธิ์ :</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control form-group" type="text" name="txtpayType" id="txtpayType" readonly>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label" style="font-size:12px;">สถานที่เกิดเหตุ :</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control form-group" type="text" name="txtlocation" id="txtlocation" readonly>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label" style="font-size:12px;">หมายเหตุ :</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control form-group" type="text" name="txtremark" id="txtremark" readonly>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label" style="font-size:12px;">ผู้รับเรื่อง :</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control form-group" type="text" name="txtCreatedByName" id="txtCreatedByName" value="" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input class="form-control form-group" type="hidden" name="hdserviceType" id="hdserviceType">
                        <input class="form-control form-group" type="hidden" name="hdpayType" id="hdpayType">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">ตกลง</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*-------------------End Modal Confirm --------------------*@
</div>
@section ViewSpecificJavascript{
    <script>
        var tableA;
        //load
        $(function () {

            //back google chrome
            history.pushState(null, null, location.href);
            history.back();
            history.forward();
            window.onpopstate = function () {
                history.go(1);
            };

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                e.target // newly activated tab
                e.relatedTarget // previous active tab

                $('#RoadsideStatusId').val(e.target.id);

                switch (e.target.id) {
                    case "2":
                        $('#ttt').empty();
                        $('#ttt').append(`<span class="label label-danger">รอดำเนินการปิดงาน</span>`);

                        $('#2').empty()
                        $('#2').append(`<span class="label label-danger">รอดำเนินการปิดงาน</span>`);

                        $('#3').text('กำลังดำเนินการ');
                        $('#4').text('สำเร็จ');
                        $('#5').text('ยกเลิกรายการ');
                        break;
                    case "3":
                        $('#ttt').empty();
                        $('#ttt').append(`<span class="label label-warning">กำลังดำเนินการ</span>`);

                        $('#3').empty()
                        $('#3').append(`<span class="label label-warning">กำลังดำเนินการ</span>`);

                        $('#2').text('รอดำเนินการปิดงาน');
                        $('#4').text('สำเร็จ');
                        $('#5').text('ยกเลิกรายการ');
                        break;
                    case "4":
                        $('#ttt').empty();
                        $('#ttt').append(`<span class="label label-success">สำเร็จ</span>`);

                        $('#4').empty()
                        $('#4').append(`<span class="label label-success">สำเร็จ</span>`);

                        $('#2').text('รอดำเนินการปิดงาน');
                        $('#3').text('กำลังดำเนินการ');
                        $('#5').text('ยกเลิกรายการ');
                        break;
                    case "5":
                        $('#ttt').empty();
                        $('#ttt').append(`<span class="label" style="background-color:brown;">ยกเลิกรายการ</span>`);

                        $('#5').empty()
                        $('#5').append(`<span class="label" style="background-color:brown;">ยกเลิกรายการ</span>`);

                        $('#2').text('รอดำเนินการปิดงาน');
                        $('#3').text('กำลังดำเนินการ');
                        $('#4').text('สำเร็จ');
                        break;
                    default:
                        $('#ttt').empty();
                        $('#ttt').append(`<span class="label label-default">!!!</span>`);
                        break;
                }

                ($('#RoadsideStatusId').val() == 5 ? dataRoadsideFollow2() : $('#RoadsideStatusId').val() == 4 ? dataRoadsideFollow() : $('#RoadsideStatusId').val() == 2 ? dataRoadsideFollow3() : dataRoadsideFollow4());

            })
        }); //endload

        const dataRoadsideFollow = () => {
            $("#RoadsideFollow").empty();
            tableA = $("#RoadsideFollow").DataTable({
                processing: true,
                serverSide: true,
                responsive: true,
                autoWidth: false,
                destroy: true,
                searching: true,
                lengthChange: false,
                pageLength: 8,
                ordering: false,
                ajax: {
                    url: "@Url.Action("GetDataRoadsideSatatus", "RoadsideAssistance")",
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.searchDetail = d.search.value;
                        d.roadsideStatusId = $('#RoadsideStatusId').val();
                        d.sortField = "RoadsideAssistanceCode";
                        switch ($('#RoadsideStatusId').val()) {
                            case "4":
                            case "5":
                                d.orderType = "desc"
                                break;
                            default:
                                d.orderType = "asc"
                                break;
                        }
                    }
                },
                 columns: [
                     {
                         "title": "รหัสทำรายการ",
                         orderable: false,
                         "data": "RoadsideAssistanceCode",
                     },
                     {
                         "title": "วันที่",
                         orderable: false,
                         "data": "CreatedDate",
                         render: function (data) {
                             if (data != null) {
                                 let date = moment(data);
                                 date.add(543, 'years');
                                 return moment(date).format('DD/MM/YYYY')
                             } else {
                                 return '-';
                             }
                         }
                     },
                     {
                         "title": "คำนำหน้า",
                         orderable: false,
                         "data": "MemberTitle"
                     },
                    {
                        "title": "ชื่อ",
                        orderable: false,
                        "data": "MemberFirstName"
                    },
                    {
                        "title": "นามสกุล",
                        orderable: false,
                        "data": "MemberLastName"
                    },
                    {
                        "title": "บัตรประชาชน/พาสปอร์ต",
                        orderable: false,
                        "data": "CardDetail"
                     },
                     {
                         "title": "ประเภทการใช้สิทธิ์",
                         orderable: false,
                         "data": null,
                         render: function (data) {
                             if (data.RoadsideAssistanceStatusId == 4) {
                                 return data.UseService
                             } else {
                                 return null
                             }
                         }
                     },
                    {
                        "title": "ประเภทลูกค้า",
                        orderable: false,
                        "data": "SourceTypeIdList",
                        render: function (data) {

                            if (data == null) {
                                return `<i class="fa fa-info-circle" style="font-size: 2.5rem; margin-right: 10px;cursor:pointer" title="ไม่ระบุ"></i>`;
                            } else {
                                let icon = '';
                                const obj = JSON.parse(data);
                                for (var i = 0; i < obj.length; i++) {
                                    icon = icon.concat(`<i class="glyphicon glyphicon-user" style="color: ${obj[i].ColorCode}; font-size: 1.8rem; margin-right: 10px;cursor:pointer;" title="${obj[i].SourceType}"></i>`)
                                }
                                return `<span>${icon}</span>`;
                            }

                        }
                     },
                    {
                        "title": "สถานะ",
                        orderable: false,
                        "data": "RoadsideAssistanceStatusId",
                        render: function (data) {
                            let status = '';
                            switch (data) {
                                case 2:
                                    status = `<span class="label label-danger">รอดำเนินการ</span>`;
                                    break;
                                case 3:
                                    status = `<span class="label label-warning">กำลังดำเนินการ</span>`;
                                    break;
                                case 4:
                                    status = `<span class="label label-success">สำเร็จ</span>`;
                                    break;
                                case 5:
                                    status = `<span class="label" style="background-color:brown;">ยกเลิก</span>`;
                                    break;
                                default:
                                    status = `<span class="label label-default"><i class="fa fa-info-circle" tyle="font-size: 2.5rem; margin-right: 10px;cursor:pointer;" title="ไม่ระบุ"></i></span>`;
                                    break;
                            }
                        return status;
                        }
                     },
                     {
                         "title": "",
                         orderable: false,
                         "data": null,
                         render: function (data) {

                             //let en_MemberId = window.btoa(data.roadsideId);
                             if (data.RoadsideAssistanceStatusId == 4) {

                                 return '<p style="color: #36CDFF; cursor:pointer;" class="glyphicon glyphicon-pencil"></p>';

                             } else {

                                 return '<p style="color: #36CDFF; cursor:pointer;" class="fa fa-eye"></p>';
                             }
                        }
                     },

                ],
                columnDefs : [
                    {
                        targets: [10],
                        visible: false,
                        render: function (data) {
                            if (data != null) {
                                return false;
                            } else {
                                return false;
                            }
                        }
                    }
                ],
            });

            //event click on tbody
            $('#RoadsideFollow tbody').on('click', 'td', function (e) {
                e.preventDefault();
                var data = tableA.row(this).data();
                if (data.RoadsideAssistanceStatusId == 4) {
                    if ($(this).index() == 9) {

                        var data = tableA.row(this).data();
                            let en_MemberId = window.btoa(data.MemberId);
                            let en_RoadsideAssistanceId = window.btoa(data.RoadsideAssistanceId);
                            let viewOnly = "";
                            setTimeout(() => window.location.replace(`@Url.Action("TakeActionCloseJob", "RoadsideAssistance")?roadsideId=${en_RoadsideAssistanceId}&memberId=${en_MemberId}&viewOnly=${viewOnly}`), 500);
                    } else {
                        let en_MemberId = window.btoa(data.MemberId);
                        let en_RoadsideAssistanceId = window.btoa(data.RoadsideAssistanceId);
                        let viewOnly = "Y";
                        setTimeout(() => window.open(`@Url.Action("TakeActionCloseJob", "RoadsideAssistance")?roadsideId=${en_RoadsideAssistanceId}&memberId=${en_MemberId}&viewOnly=${viewOnly}`),500);

                    //var data = tableA.row(this).data();
                    //    $('#ShowConfirm').modal('show');

                    //    let date = moment(data.CreatedDate);
                    //    date.add(543, 'years');
                    //    $('#txtDate').val(`${moment(date).format('DD/MM/YYYY')}`);
                    //    $('#txtTime').val(`${moment(data.CreatedDate).format('HH:mm:ss')}`);

                    //    let fullname = `${data.MemberTitle} ${data.MemberFirstName} ${data.MemberLastName}`;
                    //    $('#m_txtCustomerName').val(fullname);
                    //    $('#txtPhoneNumber').val(`${data.ContactNumber}`);
                    //    $('#CardDetailTypeId').text(`${data.CardDetailType} :`)

                    //    $('#txtIDCard').val(`${data.CardDetail}`);
                    //    $('#txtServiceType').val(`${data.RoadsideAssistanceServiceType}`);
                    //    $('#txtpayType').val(`${data.PayType}`);
                    //    $('#txtlocation').val(`${data.LocationDetail}`);
                    //    $('#txtremark').val(`${data.Remark}`);
                    //    $('#txtCreatedByName').val(`${data.CreatedByName}`);
                    };

                } else {

                    if ($(this).index() == 9) {

                        var data = tableA.row(this).data();
                        //$('#ShowConfirm').modal('show');

                        //$('#txtDate').val(`${moment(data.CreatedDate).format('DD/MM/YYYY')}`);
                        //$('#txtTime').val(`${moment(data.CreatedDate).format('HH:mm:ss')}`);

                        //let fullname = `${data.MemberTitle} ${data.MemberFirstName} ${data.MemberLastName}`;
                        //$('#m_txtCustomerName').val(fullname);
                        //$('#txtPhoneNumber').val(`${data.ContactNumber}`);
                        //$('#CardDetailTypeId').text(`${data.CardDetailType} :`)

                        //$('#txtIDCard').val(`${data.CardDetail}`);
                        //$('#txtServiceType').val(`${data.RoadsideAssistanceServiceType}`);
                        //$('#txtpayType').val(`${data.PayType}`);
                        //$('#txtlocation').val(`${data.LocationDetail}`);
                        //$('#txtremark').val(`${data.Remark}`);
                        //$('#txtCreatedByName').val(`${data.CreatedByName}`);
                        let en_MemberId = window.btoa(data.MemberId);
                        let en_RoadsideAssistanceId = window.btoa(data.RoadsideAssistanceId);
                        let viewOnly = "Y";
                        setTimeout(() => window.open(`@Url.Action("TakeActionCloseJob", "RoadsideAssistance")?roadsideId=${en_RoadsideAssistanceId}&memberId=${en_MemberId}&viewOnly=${viewOnly}`), 500);

                    } else {

                         var data = tableA.row(this).data();
                        let en_MemberId = window.btoa(data.MemberId);
                        let en_RoadsideAssistanceId = window.btoa(data.RoadsideAssistanceId);
                        let viewOnly = "";
                        setTimeout(() => window.location.replace(`@Url.Action("TakeActionCloseJob", "RoadsideAssistance")?roadsideId=${en_RoadsideAssistanceId}&memberId=${en_MemberId}&viewOnly=${viewOnly}`), 500);
                    }
                }

            });

        }

        const dataRoadsideFollow2 = () => {
            $("#RoadsideFollow").empty();
            tableA =  $("#RoadsideFollow").DataTable({
                processing: true,
                serverSide: true,
                responsive: true,
                autoWidth: false,
                destroy: true,
                searching: true,
                lengthChange: false,
                pageLength: 8,
                ordering: false,
                ajax: {
                    url: "@Url.Action("GetDataRoadsideSatatus", "RoadsideAssistance")",
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.searchDetail = d.search.value;
                        d.roadsideStatusId = $('#RoadsideStatusId').val();
                        d.sortField = "RoadsideAssistanceCode";
                        switch ($('#RoadsideStatusId').val()) {
                            case "4":
                            case "5":
                                d.orderType = "desc"
                                break;
                            default:
                                d.orderType = "asc"
                                break;
                        }
                    }
                },
                 columns: [
                     {
                         "title": "รหัสทำรายการ",
                         orderable: false,
                         "data": "RoadsideAssistanceCode",
                     },
                     {
                         "title": "วันที่",
                         orderable: false,
                         "data": "CreatedDate",
                         render: function (data) {
                             if (data != null) {
                                 let date = moment(data);
                                 date.add(543, 'years');
                                 return moment(date).format('DD/MM/YYYY')
                             } else {
                                 return '-';
                             }
                         }
                     },
                     {
                         "title": "คำนำหน้า",
                         orderable: false,
                         "data": "MemberTitle"
                     },
                    {
                        "title": "ชื่อ",
                        orderable: false,
                        "data": "MemberFirstName"
                    },
                    {
                        "title": "นามสกุล",
                        orderable: false,
                        "data": "MemberLastName"
                    },
                    {
                        "title": "บัตรประชาชน/พาสปอร์ต",
                        orderable: false,
                        "data": "CardDetail"
                    },
                    {
                        "title": "ประเภทลูกค้า",
                        orderable: false,
                        "data": "SourceTypeIdList",
                        render: function (data) {

                            if (data == null) {
                                return `<i class="fa fa-info-circle" style="font-size: 2.5rem; margin-right: 10px;cursor:pointer" title="ไม่ระบุ"></i>`;
                            } else {
                                let icon = '';
                                const obj = JSON.parse(data);
                                for (var i = 0; i < obj.length; i++) {
                                    icon = icon.concat(`<i class="glyphicon glyphicon-user" style="color: ${obj[i].ColorCode}; font-size: 1.8rem; margin-right: 10px;cursor:pointer;" title="${obj[i].SourceType}"></i>`)
                                }
                                return `<span>${icon}</span>`;
                            }

                        }
                     },
                     {
                         "title": "ชื่อ",
                         orderable: false,
                         "data": "UseService"
                     },
                     {

                         "title": "สาเหตุที่ยกเลิกรายการ",
                         orderable: false,
                         "data": "CancelRemark"
                     },
                     {
                         "title": "สถานะ",
                         orderable: false,
                         "data": "RoadsideAssistanceStatusId",
                         render: function (data) {
                             let status = '';
                             switch (data) {
                                 case 2:
                                     status = `<span class="label label-danger">รอดำเนินการ</span>`;
                                     break;
                                 case 3:
                                     status = `<span class="label label-warning">กำลังดำเนินการ</span>`;
                                     break;
                                 case 4:
                                     status = `<span class="label label-success">สำเร็จ</span>`;
                                     break;
                                 case 5:
                                     status = `<span class="label" style="background-color:brown;">ยกเลิก</span>`;
                                     break;
                                 default:
                                     status = `<span class="label label-default"><i class="fa fa-info-circle" tyle="font-size: 2.5rem; margin-right: 10px;cursor:pointer;" title="ไม่ระบุ"></i></span>`;
                                     break;
                             }
                             return status;
                         }
                     },
                     {
                         "title": "",
                         orderable: false,
                         "data": null,
                         render: function (data) {
                             //let en_MemberId = window.btoa(data.roadsideId);

                             if (data.RoadsideAssistanceStatusId == 4) {

                                 return '<p style="color: #36CDFF; cursor:pointer;" class="glyphicon glyphicon-pencil"></p>';
                             } else {

                                 return '<p style="color: #36CDFF; cursor:pointer;" class="fa fa-eye"></p>';
                             }
                        }
                     },

                ],
                columnDefs: [
                    {
                        targets: [7],
                        visible: false,
                        render: function (data) {
                            if (data != null) {
                                return false;
                            } else {
                                return false;
                            }
                        }
                    }
                ],
            });

            //event click on tbody
            $('#RoadsideFollow tbody').on('click', 'td', function (e) {
                e.preventDefault();
                var data = tableA.row(this).data();
                if (data.RoadsideAssistanceStatusId == 4) {
                    if ($(this).index() == 9) {
                        var data = tableA.row(this).data();
                        let en_MemberId = window.btoa(data.MemberId);
                        let en_RoadsideAssistanceId = window.btoa(data.RoadsideAssistanceId);
                        let viewOnly = "Y";
                        setTimeout(() => window.location.replace(`@Url.Action("TakeActionCloseJob", "RoadsideAssistance")?roadsideId=${en_RoadsideAssistanceId}&memberId=${en_MemberId}&viewOnly=${viewOnly}`), 500);
                    } else {
                        var data = tableA.row(this).data();
                        let en_MemberId = window.btoa(data.MemberId);
                        let en_RoadsideAssistanceId = window.btoa(data.RoadsideAssistanceId);
                        let viewOnly = "Y";
                        setTimeout(() => window.open(`@Url.Action("TakeActionCloseJob", "RoadsideAssistance")?roadsideId=${en_RoadsideAssistanceId}&memberId=${en_MemberId}&viewOnly=${viewOnly}`), 500);

                        //$('#ShowConfirm').modal('show');

                        //let date = moment(data.CreatedDate);
                        //date.add(543, 'years');
                        //$('#txtDate').val(`${moment(date).format('DD/MM/YYYY')}`);
                        //$('#txtTime').val(`${moment(data.CreatedDate).format('HH:mm:ss')}`);

                        //let fullname = `${data.MemberTitle} ${data.MemberFirstName} ${data.MemberLastName}`;
                        //$('#m_txtCustomerName').val(fullname);
                        //$('#txtPhoneNumber').val(`${data.ContactNumber}`);
                        //$('#CardDetailTypeId').text(`${data.CardDetailType} :`)

                        //$('#txtIDCard').val(`${data.CardDetail}`);
                        //$('#txtServiceType').val(`${data.RoadsideAssistanceServiceType}`);
                        //$('#txtpayType').val(`${data.PayType}`);
                        //$('#txtlocation').val(`${data.LocationDetail}`);
                        //$('#txtremark').val(`${data.Remark}`);
                        //$('#txtCreatedByName').val(`${data.CreatedByName}`);
                    }

                } else {

                    if ($(this).index() == 9) {

                        var data = tableA.row(this).data();
                        let en_MemberId = window.btoa(data.MemberId);
                        let en_RoadsideAssistanceId = window.btoa(data.RoadsideAssistanceId);
                        let viewOnly = "Y";
                        setTimeout(() => window.open(`@Url.Action("TakeActionCloseJob", "RoadsideAssistance")?roadsideId=${en_RoadsideAssistanceId}&memberId=${en_MemberId}&viewOnly=${viewOnly}`), 500);

                        //$('#ShowConfirm').modal('show');

                        //$('#txtDate').val(`${moment(data.CreatedDate).format('DD/MM/YYYY')}`);
                        //$('#txtTime').val(`${moment(data.CreatedDate).format('HH:mm:ss')}`);

                        //let fullname = `${data.MemberTitle} ${data.MemberFirstName} ${data.MemberLastName}`;
                        //$('#m_txtCustomerName').val(fullname);
                        //$('#txtPhoneNumber').val(`${data.ContactNumber}`);
                        //$('#CardDetailTypeId').text(`${data.CardDetailType} :`)

                        //$('#txtIDCard').val(`${data.CardDetail}`);
                        //$('#txtServiceType').val(`${data.RoadsideAssistanceServiceType}`);
                        //$('#txtpayType').val(`${data.PayType}`);
                        //$('#txtlocation').val(`${data.LocationDetail}`);
                        //$('#txtremark').val(`${data.Remark}`);
                        //$('#txtCreatedByName').val(`${data.CreatedByName}`);

                    } else {

                        var data = tableA.row(this).data();
                        let en_MemberId = window.btoa(data.MemberId);
                        let en_RoadsideAssistanceId = window.btoa(data.RoadsideAssistanceId);
                        let viewOnly = "Y";
                        setTimeout(() => window.open(`@Url.Action("TakeActionCloseJob", "RoadsideAssistance")?roadsideId=${en_RoadsideAssistanceId}&memberId=${en_MemberId}&viewOnly=${viewOnly}`), 500);
                    }
                }

            });

        }

        const dataRoadsideFollow3 = () => {
            $("#RoadsideFollow").empty();
            tableA = $("#RoadsideFollow").DataTable({
                processing: true,
                serverSide: true,
                responsive: true,
                autoWidth: false,
                destroy: true,
                searching: true,
                lengthChange: false,
                pageLength: 8,
                ordering: false,
                ajax: {
                    url: "@Url.Action("GetDataRoadsideSatatus", "RoadsideAssistance")",
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.searchDetail = d.search.value;
                        d.roadsideStatusId = $('#RoadsideStatusId').val();
                        d.sortField = "RoadsideAssistanceCode";
                        switch ($('#RoadsideStatusId').val()) {
                            case "4":
                            case "5":
                                d.orderType = "desc"
                                break;
                            default:
                                d.orderType = "asc"
                                break;
                        }
                    }
                },
                 columns: [
                     {
                         "title": "รหัสทำรายการ",
                         orderable: false,
                         "data": "RoadsideAssistanceCode",
                     },
                     {
                         "title": "วันที่",
                         orderable: false,
                         "data": "CreatedDate",
                         render: function (data) {
                             if (data != null) {
                                 let date = moment(data);
                                 date.add(543, 'years');
                                 return moment(date).format('DD/MM/YYYY')
                             } else {
                                 return '-';
                             }
                         }
                     },
                     {
                         "title": "คำนำหน้า",
                         orderable: false,
                         "data": "MemberTitle"
                     },
                    {
                        "title": "ชื่อ",
                        orderable: false,
                        "data": "MemberFirstName"
                    },
                    {
                        "title": "นามสกุล",
                        orderable: false,
                        "data": "MemberLastName"
                    },
                    {
                        "title": "บัตรประชาชน/พาสปอร์ต",
                        orderable: false,
                        "data": "CardDetail"
                     },
                    {
                        "title": "ประเภทลูกค้า",
                        orderable: false,
                        "data": "SourceTypeIdList",
                        render: function (data) {

                            if (data == null) {
                                return `<i class="fa fa-info-circle" style="font-size: 2.5rem; margin-right: 10px;cursor:pointer" title="ไม่ระบุ"></i>`;
                            } else {
                                let icon = '';
                                const obj = JSON.parse(data);
                                for (var i = 0; i < obj.length; i++) {
                                    icon = icon.concat(`<i class="glyphicon glyphicon-user" style="color: ${obj[i].ColorCode}; font-size: 1.8rem; margin-right: 10px;cursor:pointer;" title="${obj[i].SourceType}"></i>`)
                                }
                                return `<span>${icon}</span>`;
                            }

                        }
                     },
                    {
                        "title": "สถานะ",
                        orderable: false,
                        "data": "RoadsideAssistanceStatusId",
                        render: function (data) {
                            let status = '';
                            switch (data) {
                                case 2:
                                    status = `<span class="label label-danger">รอดำเนินการ</span>`;
                                    break;
                                case 3:
                                    status = `<span class="label label-warning">กำลังดำเนินการ</span>`;
                                    break;
                                case 4:
                                    status = `<span class="label label-success">สำเร็จ</span>`;
                                    break;
                                case 5:
                                    status = `<span class="label" style="background-color:brown;">ยกเลิก</span>`;
                                    break;
                                default:
                                    status = `<span class="label label-default"><i class="fa fa-info-circle" tyle="font-size: 2.5rem; margin-right: 10px;cursor:pointer;" title="ไม่ระบุ"></i></span>`;
                                    break;
                            }
                        return status;
                        }
                     },
                     {
                         "title": "",
                         orderable: false,
                         "data": null,
                         render: function (data) {
                             //let en_MemberId = window.btoa(data.roadsideId);

                             if (data.RoadsideAssistanceStatusId == 4) {

                                     return '<p style="color: #36CDFF; cursor:pointer;" class="glyphicon glyphicon-pencil"></p>';

                             } else {

                                 return '<p style="color: #36CDFF; cursor:pointer;" class="fa fa-eye"></p>';
                             }
                        }
                     },
                     {
                         "title": "",
                         orderable: false,
                         "data": null,
                         render: function (data) {
                             //let en_MemberId = window.btoa(data.roadsideId);
                             if (data.RoadsideAssistanceStatusId == 4) {

                                 return '<p style="color: #36CDFF; cursor:pointer;" class="glyphicon glyphicon-pencil"></p>';
                             } else {

                                 return '<p style="color: #36CDFF; cursor:pointer;" class="fa fa-car"></p>';
                             }
                         }
                     },
                ],
                columnDefs: [
                    {
                        targets: [10],
                        visible: false,
                        render: function (data) {
                            if (data != null) {
                                return false;
                            } else {
                                return false;
                            }
                        }
                    }
                ],
            });

            //event click on tbody
            $('#RoadsideFollow tbody').on('click', 'td', function (e) {
                e.preventDefault();
                var data = tableA.row(this).data();
                if (data.RoadsideAssistanceStatusId == 4) {
                    if ($(this).index() == 8) {
                    var data = tableA.row(this).data();
                    let en_MemberId = window.btoa(data.MemberId);
                    let en_RoadsideAssistanceId = window.btoa(data.RoadsideAssistanceId);
                    let viewOnly = "";
                        setTimeout(() => window.location.replace(`@Url.Action("TakeActionCloseJob", "RoadsideAssistance")?roadsideId=${en_RoadsideAssistanceId}&memberId=${en_MemberId}&viewOnly=${viewOnly}`),500);

                    } else {
                        let en_MemberId = window.btoa(data.MemberId);
                        let en_RoadsideAssistanceId = window.btoa(data.RoadsideAssistanceId);
                        let viewOnly = "Y";
                        setTimeout(() => window.open(`@Url.Action("TakeActionCloseJob", "RoadsideAssistance")?roadsideId=${en_RoadsideAssistanceId}&memberId=${en_MemberId}&viewOnly=${viewOnly}`),500);

                    //var data = tableA.row(this).data();
                    //    $('#ShowConfirm').modal('show');

                    //    let date = moment(data.CreatedDate);
                    //    date.add(543, 'years');
                    //    $('#txtDate').val(`${moment(date).format('DD/MM/YYYY')}`);
                    //    $('#txtTime').val(`${moment(data.CreatedDate).format('HH:mm:ss')}`);

                    //    let fullname = `${data.MemberTitle} ${data.MemberFirstName} ${data.MemberLastName}`;
                    //    $('#m_txtCustomerName').val(fullname);
                    //    $('#txtPhoneNumber').val(`${data.ContactNumber}`);
                    //    $('#CardDetailTypeId').text(`${data.CardDetailType} :`)

                    //    $('#txtIDCard').val(`${data.CardDetail}`);
                    //    $('#txtServiceType').val(`${data.RoadsideAssistanceServiceType}`);
                    //    $('#txtpayType').val(`${data.PayType}`);
                    //    $('#txtlocation').val(`${data.LocationDetail}`);
                    //    $('#txtremark').val(`${data.Remark}`);
                    //    $('#txtCreatedByName').val(`${data.CreatedByName}`);
                    }

                } else if (data.RoadsideAssistanceStatusId == 2){

                    if ($(this).index() == 8) {

                        var data = tableA.row(this).data();
                        //$('#ShowConfirm').modal('show');

                        //$('#txtDate').val(`${moment(data.CreatedDate).format('DD/MM/YYYY')}`);
                        //$('#txtTime').val(`${moment(data.CreatedDate).format('HH:mm:ss')}`);

                        //let fullname = `${data.MemberTitle} ${data.MemberFirstName} ${data.MemberLastName}`;
                        //$('#m_txtCustomerName').val(fullname);
                        //$('#txtPhoneNumber').val(`${data.ContactNumber}`);
                        //$('#CardDetailTypeId').text(`${data.CardDetailType} :`)

                        //$('#txtIDCard').val(`${data.CardDetail}`);
                        //$('#txtServiceType').val(`${data.RoadsideAssistanceServiceType}`);
                        //$('#txtpayType').val(`${data.PayType}`);
                        //$('#txtlocation').val(`${data.LocationDetail}`);
                        //$('#txtremark').val(`${data.Remark}`);
                        //$('#txtCreatedByName').val(`${data.CreatedByName}`);
                        let en_MemberId = window.btoa(data.MemberId);
                        let en_RoadsideAssistanceId = window.btoa(data.RoadsideAssistanceId);
                        let viewOnly = "Y";
                        setTimeout(() => window.open(`@Url.Action("TakeActionCloseJob", "RoadsideAssistance")?roadsideId=${en_RoadsideAssistanceId}&memberId=${en_MemberId}&viewOnly=${viewOnly}`), 500);

                    } else if ($(this).index() == 9) {
                        $('#ShowConfirm').modal('show');
                        $('#txtDate').val(`${moment(data.CreatedDate).format('DD/MM/YYYY')}`);
                        $('#txtTime').val(`${moment(data.CreatedDate).format('HH:mm:ss')}`);

                        let fullname = `${data.MemberTitle} ${data.MemberFirstName} ${data.MemberLastName}`;
                        $('#m_txtCustomerName').val(fullname);
                        $('#txtPhoneNumber').val(`${data.ContactNumber}`);
                        $('#CardDetailTypeId').text(`${data.CardDetailType} :`)

                        $('#txtIDCard').val(`${data.CardDetail}`);
                        $('#txtServiceType').val(`${data.RoadsideAssistanceServiceType}`);
                        $('#txtpayType').val(`${data.PayType}`);
                        $('#txtlocation').val(`${data.LocationDetail}`);
                        $('#txtremark').val(`${data.Remark}`);
                        $('#txtCreatedByName').val(`${data.CreatedByName}`);
                    } else {
                        var data = tableA.row(this).data();
                        let en_MemberId = window.btoa(data.MemberId);
                        let en_RoadsideAssistanceId = window.btoa(data.RoadsideAssistanceId);
                        let viewOnly = "";
                        setTimeout(() => window.location.replace(`@Url.Action("TakeActionCloseJob", "RoadsideAssistance")?roadsideId=${en_RoadsideAssistanceId}&memberId=${en_MemberId}&viewOnly=${viewOnly}`), 500);
                    }
                }

            });

        }

        const dataRoadsideFollow4 = () => {

            $("#RoadsideFollow").empty();
            tableA = $("#RoadsideFollow").DataTable({
                processing: true,
                serverSide: true,
                responsive: true,
                autoWidth: false,
                destroy: true,
                searching: true,
                lengthChange: false,
                pageLength: 8,
                ordering: false,
                ajax: {
                    url: "@Url.Action("GetDataRoadsideSatatus", "RoadsideAssistance")",
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.searchDetail = d.search.value;
                        d.roadsideStatusId = $('#RoadsideStatusId').val();
                        d.sortField = "RoadsideAssistanceCode";
                        switch ($('#RoadsideStatusId').val()) {
                            case "4":
                            case "5":
                                d.orderType = "desc"
                                break;
                            default:
                                d.orderType = "asc"
                                break;
                        }
                    }
                },
                 columns: [
                     {
                         "title": "รหัสทำรายการ",
                         orderable: false,
                         "data": "RoadsideAssistanceCode",
                     },
                     {
                         "title": "วันที่",
                         orderable: false,
                         "data": "CreatedDate",
                         render: function (data) {
                             if (data != null) {
                                 let date = moment(data);
                                 date.add(543, 'years');
                                 return moment(date).format('DD/MM/YYYY')
                             } else {
                                 return '-';
                             }
                         }
                     },
                     {
                         "title": "คำนำหน้า",
                         orderable: false,
                         "data": "MemberTitle"
                     },
                    {
                        "title": "ชื่อ",
                        orderable: false,
                        "data": "MemberFirstName"
                    },
                    {
                        "title": "นามสกุล",
                        orderable: false,
                        "data": "MemberLastName"
                    },
                    {
                        "title": "บัตรประชาชน/พาสปอร์ต",
                        orderable: false,
                        "data": "CardDetail"
                     },
                    {
                        "title": "ประเภทลูกค้า",
                        orderable: false,
                        "data": "SourceTypeIdList",
                        render: function (data) {

                            if (data == null) {
                                return `<i class="fa fa-info-circle" style="font-size: 2.5rem; margin-right: 10px;cursor:pointer" title="ไม่ระบุ"></i>`;
                            } else {
                                let icon = '';
                                const obj = JSON.parse(data);
                                for (var i = 0; i < obj.length; i++) {
                                    icon = icon.concat(`<i class="glyphicon glyphicon-user" style="color: ${obj[i].ColorCode}; font-size: 1.8rem; margin-right: 10px;cursor:pointer;" title="${obj[i].SourceType}"></i>`)
                                }
                                return `<span>${icon}</span>`;
                            }

                        }
                     },
                    {
                        "title": "สถานะ",
                        orderable: false,
                        "data": "RoadsideAssistanceStatusId",
                        render: function (data) {
                            let status = '';
                            switch (data) {
                                case 2:
                                    status = `<span class="label label-danger">รอดำเนินการ</span>`;
                                    break;
                                case 3:
                                    status = `<span class="label label-warning">กำลังดำเนินการ</span>`;
                                    break;
                                case 4:
                                    status = `<span class="label label-success">สำเร็จ</span>`;
                                    break;
                                case 5:
                                    status = `<span class="label" style="background-color:brown;">ยกเลิก</span>`;
                                    break;
                                default:
                                    status = `<span class="label label-default"><i class="fa fa-info-circle" tyle="font-size: 2.5rem; margin-right: 10px;cursor:pointer;" title="ไม่ระบุ"></i></span>`;
                                    break;
                            }
                        return status;
                        }
                     },
                     {
                         "title": "",
                         orderable: false,
                         "data": null,
                         render: function (data) {
                             //let en_MemberId = window.btoa(data.roadsideId);
                             if (data.RoadsideAssistanceStatusId == 4) {

                                 return '<p style="color: #36CDFF; cursor:pointer;" class="glyphicon glyphicon-pencil"></p>';
                             } else {

                                 return '<p style="color: #36CDFF; cursor:pointer;" class="fa fa-eye"></p>';
                             }
                         }
                     },
                ],

                columnDefs: [
                    {
                        targets: [9,10],
                        visible: false,
                        render: function (data) {
                            if (data != null) {
                                return false;
                            } else {
                                return false;
                            }
                        }
                    }
                ],
            });

            //event click on tbody
            $('#RoadsideFollow tbody').on('click', 'td', function (e) {
                e.preventDefault();
                var data = tableA.row(this).data();
                if (data.RoadsideAssistanceStatusId == 4) {
                    if ($(this).index() == 8) {
                        var data = tableA.row(this).data();
                        let en_MemberId = window.btoa(data.MemberId);
                        let en_RoadsideAssistanceId = window.btoa(data.RoadsideAssistanceId);
                        let viewOnly = "";
                        setTimeout(() => window.location.replace(`@Url.Action("TakeActionCloseJob", "RoadsideAssistance")?roadsideId=${en_RoadsideAssistanceId}&memberId=${en_MemberId}&viewOnly=${viewOnly}`), 500);
                    } else {
                        let en_MemberId = window.btoa(data.MemberId);
                        let en_RoadsideAssistanceId = window.btoa(data.RoadsideAssistanceId);
                        let viewOnly = "Y";
                        setTimeout(() => window.open(`@Url.Action("TakeActionCloseJob", "RoadsideAssistance")?roadsideId=${en_RoadsideAssistanceId}&memberId=${en_MemberId}&viewOnly=${viewOnly}`),500);

                    //var data = tableA.row(this).data();
                    //    $('#ShowConfirm').modal('show');

                    //    let date = moment(data.CreatedDate);
                    //    date.add(543, 'years');
                    //    $('#txtDate').val(`${moment(date).format('DD/MM/YYYY')}`);
                    //    $('#txtTime').val(`${moment(data.CreatedDate).format('HH:mm:ss')}`);

                    //    let fullname = `${data.MemberTitle} ${data.MemberFirstName} ${data.MemberLastName}`;
                    //    $('#m_txtCustomerName').val(fullname);
                    //    $('#txtPhoneNumber').val(`${data.ContactNumber}`);
                    //    $('#CardDetailTypeId').text(`${data.CardDetailType} :`)

                    //    $('#txtIDCard').val(`${data.CardDetail}`);
                    //    $('#txtServiceType').val(`${data.RoadsideAssistanceServiceType}`);
                    //    $('#txtpayType').val(`${data.PayType}`);
                    //    $('#txtlocation').val(`${data.LocationDetail}`);
                    //    $('#txtremark').val(`${data.Remark}`);
                    //    $('#txtCreatedByName').val(`${data.CreatedByName}`);
                    }

                } else {

                    if ($(this).index() == 8) {

                        var data = tableA.row(this).data();
                        //$('#ShowConfirm').modal('show');

                        //$('#txtDate').val(`${moment(data.CreatedDate).format('DD/MM/YYYY')}`);
                        //$('#txtTime').val(`${moment(data.CreatedDate).format('HH:mm:ss')}`);

                        //let fullname = `${data.MemberTitle} ${data.MemberFirstName} ${data.MemberLastName}`;
                        //$('#m_txtCustomerName').val(fullname);
                        //$('#txtPhoneNumber').val(`${data.ContactNumber}`);
                        //$('#CardDetailTypeId').text(`${data.CardDetailType} :`)

                        //$('#txtIDCard').val(`${data.CardDetail}`);
                        //$('#txtServiceType').val(`${data.RoadsideAssistanceServiceType}`);
                        //$('#txtpayType').val(`${data.PayType}`);
                        //$('#txtlocation').val(`${data.LocationDetail}`);
                        //$('#txtremark').val(`${data.Remark}`);
                        //$('#txtCreatedByName').val(`${data.CreatedByName}`);
                        let en_MemberId = window.btoa(data.MemberId);
                        let en_RoadsideAssistanceId = window.btoa(data.RoadsideAssistanceId);
                        let viewOnly = "Y";
                        setTimeout(() => window.open(`@Url.Action("TakeActionCloseJob", "RoadsideAssistance")?roadsideId=${en_RoadsideAssistanceId}&memberId=${en_MemberId}&viewOnly=${viewOnly}`), 500);

                    } else {

                         var data = tableA.row(this).data();
                        let en_MemberId = window.btoa(data.MemberId);
                        let en_RoadsideAssistanceId = window.btoa(data.RoadsideAssistanceId);
                        let viewOnly = "";
                        setTimeout(() => window.location.replace(`@Url.Action("TakeActionCloseJob", "RoadsideAssistance")?roadsideId=${en_RoadsideAssistanceId}&memberId=${en_MemberId}&viewOnly=${viewOnly}`), 500);
                    }
                }

            });

        }
    </script>

}