@{
    ViewBag.Title = "ประวัติการใช้บริการ";
}

<div class="box box-default">
    <div class="box-header with-border" style="background-color:rgb(255, 193, 47); color:white;">
        <h3 class="box-title"><i class="fa fa-user">ผู้ใช้บริการ</i></h3>
    </div>
    @if (ViewBag.Member_result.Count > 0)
    {
        <div class="box-body">
            <div class="col-md-2">
                <label class="control-label" style="font-size:12px;">ชื่อ-นามสกุล :</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo" value="@(ViewBag.Member_result[0].Title != null ?ViewBag.Member_result[0].Title:"-") @(ViewBag.Member_result[0].FirstName != null ?ViewBag.Member_result[0].FirstName : "-") @(ViewBag.Member_result[0].LastName !=null ?ViewBag.Member_result[0].LastName :"-")" readonly>
            </div>
            <div class="form-group col-md-2 col-md-offset-1" style="font-size:12px;">
                <label class="control-label">หน่วยงาน :</label>
            </div>
            <div class="form-group col-md-3">
                <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo" value="@(ViewBag.Member_result[0].BuildingName != null ?ViewBag.Member_result[0].BuildingName:"-")" readonly>
            </div>
            <div class="form-group col-md-2" style="font-size:12px;">
                <label class="control-label">@(ViewBag.Member_result[0].CardDetailType != null ? ViewBag.Member_result[0].CardDetailType:"?"):</label>
            </div>
            <div class="form-group col-md-3">
                <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo" value="@(ViewBag.Member_result[0].CardDetail != null ?ViewBag.Member_result[0].CardDetail:"-")" readonly>
            </div>
            <div class="form-group col-md-2 col-md-offset-1" style="font-size:12px;">
                <label class="control-label">ประเภทลูกค้า :</label>
            </div>
            <div class="form-group col-md-3">
                <span class="form-control" type="text" name="txtLastName" id="txtLastName">
                    @if (ViewBag.SourceTypeList.Length > 0)
                    {
                        for (int i = 0; i < ViewBag.SourceTypeList.Length; i++)
                        {
                            <i class="glyphicon glyphicon-user" style="color: @ViewBag.SourceTypeList[i].ColorCode; cursor: pointer" title="@ViewBag.SourceTypeList[i].SourceType"></i>
                        }
                    }
                    else
                    {
                        <i class="fa fa-info-circle" style="cursor:pointer" title="ไม่ระบุ"></i>
                    }
                </span>
            </div>
            <div class="form-group col-md-2" style="font-size:12px;">
                <label class="control-label"> เบอร์ติดต่อ :</label>
            </div>
            <div class="form-group col-md-3">
                <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo" value="@(ViewBag.Member_result[0].MobileNumber != null ?ViewBag.Member_result[0].MobileNumber:"-")" readonly>
            </div>
            <div class="form-group col-md-2 col-md-offset-1" style="font-size:12px;">
                <label class="control-label">สิทธิ์การใช้ :</label>
            </div>
            <div class="form-group col-md-3">
                <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo" value="@(ViewBag.Member_result[0].FreeServiceBalance)" readonly>
            </div>
        </div>
    }
</div>

@if (ViewBag.MemberRoadside_result.Count > 0)
{
    for (int i = 0; i < ViewBag.MemberRoadside_result.Count; i++)
    {

        <div class="box box-default collapsed-box" id="collap@(i + 1)">
            <div class="box-header with-border" style="background-color:#8dc6bf; color:white;">
                <h3 class="box-title">ประวัติการใช้บริการครั้งที่ :  @(ViewBag.MemberRoadside_result.Count - i)</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="box box-body" id="body@(i + 1)" aria-expanded="true" style="display:none">
                <div class="col-md-2">
                    <label class="control-label" style="font-size:12px;">วันและเวลาแจ้งงาน :</label>
                </div>
                <div class="col-md-3">
                    <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo1" value="@(ViewBag.MemberRoadside_result[i].CreatedDate != null ? string.Format("{0}/{1}/{2} {3}:{4}:{5}", ViewBag.MemberRoadside_result[i].CreatedDate.ToString("dd"), ViewBag.MemberRoadside_result[i].CreatedDate.ToString("MM"), ViewBag.MemberRoadside_result[i].CreatedDate.Year + 543, ViewBag.MemberRoadside_result[i].CreatedDate.ToString("HH"), ViewBag.MemberRoadside_result[i].CreatedDate.ToString("mm"), ViewBag.MemberRoadside_result[i].CreatedDate.ToString("ss")) : "-")" readonly>
                </div>
                <div class="form-group col-md-2 col-md-offset-1" style="font-size:12px;">
                    <label class="control-label">วันและเวลาปิดงาน :</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo2" value="@(ViewBag.MemberRoadside_result[i].ReferanceClosedDate != null ? string.Format("{0}/{1}/{2} {3}:{4}:{5}", ViewBag.MemberRoadside_result[i].ReferanceClosedDate.ToString("dd"), ViewBag.MemberRoadside_result[i].ReferanceClosedDate.ToString("MM"), ViewBag.MemberRoadside_result[i].ReferanceClosedDate.Year + 543, ViewBag.MemberRoadside_result[i].ReferanceClosedDate.ToString("HH"), ViewBag.MemberRoadside_result[i].ReferanceClosedDate.ToString("mm"), ViewBag.MemberRoadside_result[i].ReferanceClosedDate.ToString("ss")) : "")" readonly>
                </div>
                <div class="form-group col-md-2" style="font-size:12px;">
                    <label class="control-label">ทะเบียนรถ :</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo3" value="@ViewBag.MemberRoadside_result[i].VehicleRegistrationFullDetail" readonly>
                </div>
                <div class="form-group col-md-2 col-md-offset-1" style="font-size:12px;">
                    <label class="control-label">รหัสทำรายการ :</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo4" value="@ViewBag.MemberRoadside_result[i].RoadsideAssistanceCode" readonly>
                </div>
                <div class="form-group col-md-2" style="font-size:12px;">
                    <label class="control-label">สถานที่เกิดเหตุ :</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo5" value="@ViewBag.MemberRoadside_result[i].LocationDetail" readonly>
                </div>
                <div class="form-group col-md-2 col-md-offset-1" style="font-size:12px;">
                    <label class="control-label">ผู้รับเรื่อง Roadside :</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo6" value="@ViewBag.MemberRoadside_result[i].ReferanceName" readonly>
                </div>
                <div class="form-group col-md-2" style="font-size:12px;">
                    <label class="control-label">ประเภทบริการ :</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo7" value="@ViewBag.MemberRoadside_result[i].RoadsideAssistanceServiceType" readonly>
                </div>
                <div class="form-group col-md-2 col-md-offset-1" style="font-size:12px;">
                    <label class="control-label">หมายเลขอ้างอิง :</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo8" value="@ViewBag.MemberRoadside_result[i].ReferanceCode" readonly>
                </div>
                <div class="form-group col-md-2" style="font-size:12px;">
                    <label class="control-label">ประเภทการใช้สิทธิ์ :</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo9" value="@ViewBag.MemberRoadside_result[i].PayType" readonly>
                </div>
                <div class="form-group col-md-2 col-md-offset-1" style="font-size:12px;">
                    <label class="control-label">ผู้ปิดงาน Call center :</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo10" value="@ViewBag.MemberRoadside_result[i].ClosedByName" readonly>
                </div>
                <div class="form-group col-md-2" style="font-size:12px;">
                    <label class="control-label">หมายเหตุ​ :</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo11" value="@ViewBag.MemberRoadside_result[i].Remark" readonly>
                </div>
                <div class="form-group col-md-2 col-md-offset-1" style="font-size:12px;">
                    <label class="control-label">ค่าบริการสยามสไมล์จ่าย :</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo12" value="@ViewBag.MemberRoadside_result[i].TotalAmount" readonly>
                </div>
                <div class="form-group col-md-2" style="font-size:12px;">
                    <label class="control-label">ผู้แจ้งเรื่อง Call center :</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo13" value="@ViewBag.MemberRoadside_result[i].CreatedByName" readonly>
                </div>
                <div class="form-group col-md-2 col-md-offset-1" style="font-size:12px;">
                    <label class="control-label">ค่าบริการลูกค้าจ่าย :</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo14" value="@ViewBag.MemberRoadside_result[i].CustomerAmount" readonly>
                </div>

                <div class="form-group col-md-2" style="font-size:12px;">
                    <label class="control-label">สาเหตุที่ยกเลิกรายการ :</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo15" value="@ViewBag.MemberRoadside_result[i].CancelRemark" readonly>
                </div>
                <div class="form-group col-md-2 col-md-offset-1" style="font-size:12px;">
                    <label class="control-label">หักแต้มพนักงาน :</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" name="txtEmployeePointAmount" id="txtEmployeePointAmount" value="@ViewBag.MemberRoadside_result[i].EmployeePointAmount" readonly>
                </div>
                <div class="form-group col-md-2 " style="font-size:12px;">
                    <label class="control-label">สาเหตุที่ไม่ใช้สิทธิ์ :</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo16" value="@ViewBag.MemberRoadside_result[i].ServiceCancelCauseDetail" readonly>
                </div>
                <div class="form-group col-md-2 col-md-offset-1" style="font-size:12px;">
                    <label class="control-label">วันที่เกิดเหตุ :</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" name="txtDateHappent" id="txtDateHappent" value="@(ViewBag.MemberRoadside_result[i].DateHappen != null ? string.Format("{0}/{1}/{2} {3}:{4}:{5}", ViewBag.MemberRoadside_result[i].DateHappen.ToString("dd"), ViewBag.MemberRoadside_result[i].DateHappen.ToString("MM"), ViewBag.MemberRoadside_result[i].DateHappen.Year + 543, ViewBag.MemberRoadside_result[i].DateHappen.ToString("HH"), ViewBag.MemberRoadside_result[i].DateHappen.ToString("mm"), ViewBag.MemberRoadside_result[i].DateHappen.ToString("ss")) : "")" readonly>
                </div>
                <div class="form-group col-md-2 " style="font-size:12px;">
                    <label class="control-label">หมายเหตุที่ไม่ใช้สิทธิ์ :</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" name="txtBankAccNo" id="txtBankAccNo16" value="@ViewBag.MemberRoadside_result[i].OtherServiceCancelRemark" readonly>
                </div>
            </div>
        </div>
    }
}
<div class="box-footer" style="background: linear-gradient(to right, rgb(37, 80, 177), rgb(28, 176, 230));">
    <p style="color:white">Copyright SIAMSMILE BROKER (THAILAND) CO., LTD.</p>
</div>

@section ViewSpecificJavascript {
    <script type="text/javascript">
        $(function () {

            //back google chrome
            history.pushState(null, null, location.href);
            history.back();
            history.forward();
            window.onpopstate = function () {
                history.go(1);
            };
            //debugger
            $('#body1').attr('style', "display:block")
            $('#collap1').removeClass('collapsed-box');
        });
    </script>
}