@{
    ViewBag.Title = "นำเข้าข้อมูลส่งค่าตอบแทนจาก SSS";

}
<style>
    .table {
        font-size: 14px
    }
</style>
<form action="" method="post" id="Mainform">
    <div class="row">
        @* Search form *@
        <div class="col-sm-12" id="Search_form">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">นำเข้าข้อมูล DCR</h3>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-sm-offset-1 col-sm-3">
                            <label for="" class="control-label">ประจำเดือน/ปี:</label>
                            <input type="text" class="form-control pull-right" name="yearSelect" id="yearSelect"
                                   data-date-language="th-th" data-provide="datepicker">
                        </div>
                        <div class="col-sm-2" style="margin-top: 25px">
                            <button type="button" class="btn btn-block btn-info" id="btnSSS">SSS</button>
                        </div>
                        @*<div class="col-sm-2" style="margin-top: 25px">
                                <button type="button" class="btn btn-block btn-info" id="btnMotor">Motor</button>
                            </div>
                            <div class="col-sm-2" style="margin-top: 25px">
                                <button type="button" class="btn btn-block btn-info" id="btnCLA">claim on line</button>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
        @* Dt form *@
        <div class="col-sm-12" id="Detail_form">
            <div class="box box-default">
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-sm-offset-2 col-sm-2">
                            <h4>สถานะ : <label class="label label-default" id="lblStatus">ประมวลผล</label></h4>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <table id="dtShowDataSource" name="dtShowDataSource" class="table table-bordered table-striped" style="width: 100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hd_systemName" value="" />
    <input type="hidden" id="hd_headerId" value="" />
</form>
@section ViewSpecificJavascript
{
    <script type="text/javascript">
        let statusId = 0;
        //TODO: เหลือทำ log detail และซ่อนแทบข้างบน
        $(function () {
            //select datepicker year
            $('#yearSelect').datepicker({ format: 'MM yyyy', viewMode: "months", minViewMode: "months" }).datepicker("setDate", new Date());

            $('#Detail_form').hide();

            $('#btnSSS').click(() => {
                swal_confirm("ยืนยันการทำรายการ?", "ต้องการนำเข้าข้อมูล?", () => {
                    Integrate_Insert("SSS");
                    $('#Search_form').hide();
                    $('#Detail_form').show();
                });
            });
            $('#btnCLA').click(() => {
                 swal_confirm("ยืนยันการทำรายการ?", "ต้องการนำเข้าข้อมูล?", () => {
                    Integrate_Insert("CLA");
                    $('#Search_form').hide();
                    $('#Detail_form').show();
                });
            });
            $('#btnMotor').click(() => {
                 swal_confirm("ยืนยันการทำรายการ?", "ต้องการนำเข้าข้อมูล?", () => {
                    Integrate_Insert("Motor");
                    $('#Search_form').hide();
                    $('#Detail_form').show();
                });
            });
        });

        const Integrate_Insert = (systemName) => {
            var periodDate = $('#yearSelect').datepicker({ format: 'MM yyyy', viewMode: "months", minViewMode: "months" }).datepicker('getDate');
            var firstDate = new Date(periodDate.getFullYear(),periodDate.getMonth(),1);
            var periodDateConvert = moment(firstDate).format('DD-MM-YYYY');
            $('#hd_systemName').val(systemName);
            $.post('@Url.Action("Integrate_Insert","DataImport")', { period: periodDateConvert, systemName: systemName }, (data) => {
                if (data != null) {
                    $('#hd_headerId').val(data.Result);
                    Integrate_Update($('#hd_systemName').val(), $('#hd_headerId').val());

                } else {
                    swal_fail("เกิดข้อผิดพลาด กรุณาลองใหม่อีกครั้ง!");
                    setTimeout(() => {
                        window.location = ('@Url.Action("DataSystem_push_SSS")');
                    },5000);
                }
            });
        }

        const Integrate_Update = (systemName, headerId) => {
            $.post('@Url.Action("Integrate_Update","DataImport")', { headerId: headerId, systemName: systemName }, (data) => {
                if (data) {
                    IntegrateHeader_Select();
                    swal_info("กรุณารอสักครู่(อย่าออกจากหน้าจอนี้)...");
                } else {
                    swal_fail(data);
                     setTimeout(() => {
                        window.location = ('@Url.Action("DataSystem_push_SSS")');
                    },5000);
                }
            });
        }

        const IntegrateHeader_Select = () => {

            var name1 = $('#hd_systemName').val();
            var name2 = $('#hd_headerId').val();

                $.get('@Url.Action("IntegrateHeader_Select","DataImport")',
                    {
                         systemName: name1, headerId: name2
                    }, (data) => {
                    $('#lblStatus').text(data.Status);
                    statusId = data.StatusId;
                });
            setTimeout(() => {
                if (statusId == 2) {
                    swal_success("กระบวนการทำงานเสร็จสิ้น");
                    setTimeout(() => {
                        window.location = ('@Url.Action("Download_PreviewData")?headerId='+$('#hd_headerId').val()+'&systemName='+$('#hd_systemName').val());
                    },3000);
                    return;

                } else if (statusId == 3) {

                    swal_fail("error! กรุณาตรวจสอบข้อมูล");
                    return;
                }
                else {
                    IntegrateHeader_Select();
                    IntegrateDetail_Select();
                }
            },5000);
        }

        const IntegrateDetail_Select = () => {
           $('#dtShowDataSource').empty();
            var table = $('#dtShowDataSource').DataTable({
                lengthChange: false,
                 info:false,
                paging: false,
                searching: false,
                processing: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                ajax: {
                    url: '@Url.Action("IntegrateDetail_Select","DataImport")',
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = 999;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search;
                        d.systemName = $('#hd_systemName').val();
                        d.headerId = $('#hd_headerId').val();
                    }
                },
                columns: [
                    {
                        title: 'Type', data: 'Type'
                    },
                    { title: 'Detail', data: 'Detail' },
                    { title: 'Status', data: 'Status' }

                ]
            });
        }
    </script>
}