@using SmileSUnderwrite.Models
@using SmileSUnderwrite.SmileSPAService
@using WebHelpers.Mvc5.Enum

@{ 
    var _context = new UnderwriteDBContext();

    ViewBag.TimelineData = _context.usp_ReceiveTimeLine_Select(ViewBag.AppId);

    //var sssCashReceive = @System.Configuration.ConfigurationManager.AppSettings["SSSCashReceiveLink"].ToString();

    ViewBag.CashReceiveLink = "http://49.231.178.253:84/SSSCashReceive/Modules/CashReceive/frmReceiveDetailDisplay.aspx?mthID=";
}


<div class="row">

    <div class="col-sm-12">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">TimeLine @ViewBag.AppId</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>

            <div class="box-body">


                <ul class="timeline">
                    @foreach (var item in ViewBag.TimelineData)
                    {

                        if (item.ReceiveTimeLineTypeId == 1)
                        {
                <!-- timeline item -->
                            <li>
                                <!-- timeline icon -->
                                <i class="fa fa-dollar bg-green"></i>

                                <div class="timeline-item">
                                    <div class="box box-default">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">ชำระเบี้ย</h3>
                                            <span class=""><a class="btn btn-success btn-xs" target="_blank" href="@ViewBag.CashReceiveLink@item.MatchHeaderCode ">@item.MatchHeaderCode</a></span>
                                            <span>จำนวนเบี้ย : @item.PremiumNet.ToString("#,##0")</span>
                                            <span>วันที่โอน : @item.DateAction</span>


                                            @*<div class="box-tools pull-right">
                                                <span class="time"><i class="fa fa-clock-o"></i> </span>
                                               
                                            </div>*@

                                        </div>
                                        <!-- /.box-header -->
                                       
                                    </div>
                                </div>

                            </li>
                <!-- END timeline item -->
                        }

                        if (item.ReceiveTimeLineTypeId == 2)
                        {
                <!-- timeline item -->
                            <li>
                                <!-- timeline icon -->
                                <i class="fa fa-phone bg-blue"></i>
                                <div class="timeline-item ">
                                    <div class="box box-default">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">โทรคัดกรอง</h3>
                                            <span class=""><a class="btn btn-primary btn-xs">@item.QueueId</a></span>
                                            <span> เวลาโทร : @item.DateAction</span>
                                            <span> ผู้คัดกรอง : @item.CreatedByName </span>
                                            <span> สถานะการโทร : @item.CallStatus </span>

                                            
                                            
                                            @*<div class="box-tools pull-right">
                                                
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                            </div>*@
                                        </div>
                                       

                                    </div>
                                </div>
                            </li>
                <!-- END timeline item -->
                        }
                    }
                </ul>



            </div>
        </div>


    </div>
</div>



