@using System.Web
@using SmileSUnderwrite.Helper
@using SmileSUnderwrite.Models
@using WebHelpers.Mvc5
@{
    //เรียกคิวงานมีประเด็น
    using(var _context = new UnderwriteDBContext())
    {
        var userId = GlobalFunction.GetLoginDetail(this.Context).User_ID;
        var issuedQueueTotal = _context.usp_pvQueueIssuesCountByUserId_Select(userId).FirstOrDefault();
        ViewBag.issuedQueueTotal = issuedQueueTotal;
    }

}
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        @*<form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>*@
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            @*<li class="header">HEADER</li>*@
            @*<li class="@Url.IsLinkActive("Index", "Home")">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Home</span></a>
                </li>*@
            @*<li class="@Url.IsLinkActive("AnotherLink", "Home")">
                    <a href="@Url.Action("AnotherLink", "Home")"><i class="fa fa-link"></i> <span>Another Link</span></a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-link"></i> <span>Multilevel</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#">Link in level 2</a></li>
                        <li><a href="#">Link in level 2</a></li>
                    </ul>
                </li>*@
            @*<li class="treeview">
                    <a href="#">
                        <i class="fa fa-link"></i> <span>PA Underwrite Call</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("PAUnderwriteCall", "PAUnderwriteCall")">PAUnderwriteCall</a></li>
                    </ul>
                </li>*@
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>คิวงาน</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Assign", "Queue")">กระจายคิวงาน</a></li>
                    <li><a href="@Url.Action("Monitor", "Queue")">มอนิเตอร์งานแต่ละคน</a></li>
                    <li><a href="@Url.Action("MoveQueue", "Queue")">โยกคิวงาน</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>โทรคัดกรอง</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @*<li><a href="@Url.Action("Detail", "QueueCall")">Detail</a></li>
                        <li><a href="@Url.Action("Log", "QueueCall")">Log</a></li>*@
                    <li><a href="@Url.Action("QueueCallIndex", "QueueCall")">งานโทรคัดกรอง</a></li>
                    <li><a href="@Url.Action("Report", "QueueCall")">รายงาน</a></li>
                </ul>
            </li>
            <li class="@Url.IsLinkActive("index", "IssuedQueue")">
                <a href="@Url.Action("index", "IssuedQueue")"><i class="fa fa-link"></i> <span>คิวงานมีประเด็น</span> : <span class="text-red">@ViewBag.issuedQueueTotal</span></a>
            </li>
            <li class="@Url.IsLinkActive("ImportQueue", "Import")">
                <a href="@Url.Action("ImportQueue", "Import")"><i class="fa fa-link"></i> <span>นำเข้าข้อมูล</span></a>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>