﻿@{
    ViewBag.Title = "Monitor Application";
    ViewBag.Description = "จัดการแอพ";
}
<style>

    .table {
        font-size: 14px;
    }

    .toolbar {
        float: left;
    }
</style>
<form action="" method="post" id="Mainform">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a style="font-size: larger" href="#tab1" data-toggle="tab" aria-expanded="True">New Application</a></li>
                    <li><a style="font-size: larger" href="#tab2" data-toggle="tab" aria-expanded="True">รายการแก้ไขเอกสาร</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        @* search form *@
                        <div id="Search_form">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">ค้นหารายการ</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-md-offset-2 col-md-3">
                                            <label class="control-label" for="">งวดความคุ้มครอง :</label>
                                            <input type="text" class="form-control pull-right" name="fromDate" id="fromDate"
                                                   data-date-language="th-th" data-provide="datepicker">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-md-offset-2 col-md-3">
                                            <label class="control-label" for="">ค้นหา Application ID :</label>
                                            <input type="text" id="txtSearchAppId" name="txtSearchAppId" class="form-control input" placeholder="กรอกคำค้นหา" />
                                        </div>
                                        <div class="col-sm-12 col-md-offset-1 col-md-3">
                                            <label class="control-label" for="">คำค้นหา :</label>
                                            <input type="text" id="txtSearch" name="txtSearch" class="form-control input" placeholder="กรอกคำค้นหา" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-1 col-md-offset-1 col-md-1 ">
                                            <label class="control-label header" style="margin-top: 10px" for="">สถานะ :</label>
                                        </div>
                                        <div class=" col-sm-2 col-md-2 checkbox">
                                            <label style="padding-left: 0px">
                                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus1" class="icheckbox_minimal-blue chkAll" /> ทั้งหมด
                                            </label>
                                        </div>
                                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                                            <label style="padding-left: 0px">
                                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus2" class="icheckbox_minimal-blue chkSearch" /> บันทึกลูกค้าใหม่
                                            </label>
                                        </div>
                                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                                            <label style="padding-left: 0px">
                                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus3" class="icheckbox_minimal-blue chkSearch" /> ส่งตรวจเอกสารและคัดกรอง
                                            </label>
                                        </div>
                                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                                            <label style="padding-left: 0px">
                                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus4" class="icheckbox_minimal-blue chkSearch" /> ปกติ
                                            </label>
                                        </div>
                                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                                            <label style="padding-left: 0px">
                                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus5" class="icheckbox_minimal-blue chkSearch" /> ยกเลิก
                                            </label>
                                        </div>
                                        <div class="col-sm-2 col-md-offset-4 col-md-2 checkbox" style="margin-top: 10px">
                                            <label style="padding-left: 0px">
                                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus6" class="icheckbox_minimal-blue chkSearch" /> ยกเลิกก่อนDCR
                                            </label>
                                        </div>
                                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                                            <label style="padding-left: 0px">
                                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus7" class="icheckbox_minimal-blue chkSearch" /> มีกำหนดยกเลิก
                                            </label>
                                        </div>
                                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                                            <label style="padding-left: 0px">
                                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus8" class="icheckbox_minimal-blue chkSearch" /> ตรวจเอกสารผ่าน
                                            </label>
                                        </div>
                                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                                            <label style="padding-left: 0px">
                                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus9" class="icheckbox_minimal-blue chkSearch" /> ติดเงื่อนไข บริษัทประกัน
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 col-md-offset-4 col-md-2">
                                            <button class="btn btn-block btn-info" type="button" id="btnSearch" onclick=""><i class="fa fa-search"></i> ค้นหา</button>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <button class="btn btn-block btn-primary" type="button" id="btnClear" onclick="">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* DT form *@
                        <div id="dt_form">
                            <div class="box box-default">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="dtApplicationMonitor" name="dtApplicationMonitor" class="table table-bordered table-striped" style="width: 100%"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* end form *@
                        @* operation *@
                        <div class="col-sm-12 col-md-12" id="Operate_Form">
                            <div class="col-sm-6 col-md-2" style="margin-top: 25px">
                                <button type="button" id="btnCreateNewApp" class="btn btn-block btn-success">บันทึก NewApp</button>
                            </div>
                        </div>
                        @* end *@
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div id="docReturn_form">
                            <div class="box box-default">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="dtApplicationEdit" name="dtApplicationEdit" class="table table-bordered table-striped" style="width: 100%"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* modal edit document *@
    <div class="modal fade bd-doc-modal-lg" id="docModal" tabindex="-1" role="dialog" aria-labelledby="docModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">แก้ไขเอกสาร</h4>
                    <input type="hidden" id="hd_appId" value="" />
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-offset-1 col-md-5">
                            <label class="">Application ID : <a id="txtappId"></a></label>
                        </div>
                        <div class="col-sm-12  col-md-5">
                            <label class="">แผนประกัน : <a id="txtPlan"></a></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-offset-1 col-md-5">
                            <label class="">ชื่อผู้เอาประกัน : <a id="txtCustName"></a></label>
                        </div>
                        <div class="col-sm-12  col-md-5">
                            <label class="">ชื่อผู้ชำระเบี้ย : <a id="txtPayerName"></a></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-offset-1 col-md-10">
                            <label class="" style="font-style:italic;color: red">สาเหตุการตีกลับ : <a id="txtReturnCause"></a></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-offset-1 col-md-10">
                            <label class="" style="font-style:italic">หมายเหตุ : <a id="txtRemark"></a></label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <table id="dtDocument" name="dtDocument" class="table table-bordered table-striped" style="width: 100%"></table>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2 col-md-2 pull-right">
                            <button type="button" class="btn btn-block btn-info" id="btnRefresh">Refresh</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-6 col-md-offset-2 col-md-3">
                        <button type="button" class="btn btn-block btn-success" id="btnReSend">ส่งพิจารณาใหม่</button>
                    </div>
                    <div class="col-sm-6 col-md-offset-1 col-md-3">
                        <button type="button" class="btn btn-block btn-danger" data-dismiss="modal">ยกเลิก</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* end modal *@
    @* hidden *@
    <input type="hidden" id="hd_userId" value="@ViewBag.userId" />
</form>
@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            //select datepicker from dcr
            $('#fromDate').datepicker({ format: 'MM yyyy', viewMode: "months", minViewMode: "months",autoclose: true }).datepicker("setDate", new Date("@ViewBag.dcrDate"));
            //select datepicker to dcr
            //$('#toDate').datepicker({ format: 'MM yyyy', viewMode: "months", minViewMode: "months" }).datepicker("setDate", new Date());

            $('#btnClear').click(() => {
                //clear value
                $('#txtSearch').val('');
                //select datepicker from dcr
                $('#fromDate').datepicker({ format: 'MM yyyy', viewMode: "months", minViewMode: "months" ,autoclose: true }).datepicker("setDate", new Date("@ViewBag.dcrDate"));
                //select datepicker to dcr
                //$('#toDate').datepicker({ format: 'MM yyyy', viewMode: "months", minViewMode: "months" }).datepicker("setDate", new Date());
            });

            $('#btnRefresh').click(() => {
                GetDocEditDetail_DT($('#hd_appId').val());
            });
            //call at first
            let roleList = '@ViewBag.roleList';
            var arr = roleList.split(',');

            if (jQuery.inArray("Developer", arr) !== -1) {
                GetMonitorApplication();
            } else {
                GetMonitorApplication($('#hd_userId').val());
            }

            //call when search
            $('#btnSearch').click(() => {
            let roleList = '@ViewBag.roleList';
            var arr = roleList.split(',');

            if (jQuery.inArray("Developer", arr) !== -1) {
                GetMonitorApplication();
            } else {
                GetMonitorApplication($('#hd_userId').val());
            }
            });

            //call when tab change
            $('a[data-toggle="tab"]').on('shown.bs.tab', (e) => {
                var target = $(e.target).attr('href');
                if (target == '#tab1') {
                    if (jQuery.inArray("Developer", arr) !== -1) {
                             GetMonitorApplication();
                    } else {
                             GetMonitorApplication($('#hd_userId').val());
                    }
                } else if (target == '#tab2') {
                    GetDocEdit();
                }
            });

            //create new app
             $('#btnCreateNewApp').click((e) => {
                e.preventDefault();
                //get today date
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth();
                var yy = today.getFullYear();
                //max date newApp
                var mydate = new Date('2022-02-28');
                var mydd = mydate.getDate();
                var mymm = mydate.getMonth();
                var myyy = mydate.getFullYear();
                if (yy > myyy) {

                    swal_confirm("ปิดการขาย", "ปิดการขายประกันมะเร็ง 28-02-2565 เวลา 24:00 น.", function () {

                        swal.close();
                        $('#btnCreateNewApp').attr('disabled', 'disabled');

                    }, function () {

                            $('#btnCreateNewApp').attr('disabled', 'disabled');
                    });

                } else if (mm > mymm || ((mm == mymm) && (dd > mydd))) {

                    swal_confirm("ปิดการขาย", "ปิดการขายประกันมะเร็ง 28-02-2565 เวลา 24: 00 น.", function () {

                        swal.close();
                        $('#btnCreateNewApp').attr('disabled', 'disabled');

                    }, function () {

                            $('#btnCreateNewApp').attr('disabled', 'disabled');
                    });

                } else {

                    swal_confirm('ยืนยันสร้าง App ใหม่', 'ต้องการสร้าง Application ใหม่?', () => {
                    window.open('@Url.Action("NewApp","Application")');
                    sweetAlert.close();
                });
                }
            });
            @*$('#btnCreateNewApp').click(() => {
                swal_confirm('ยืนยันสร้าง App ใหม่', 'ต้องการสร้าง Application ใหม่?', () => {
                    window.open('@Url.Action("NewApp","Application")');
                    sweetAlert.close();
                });
            });*@

            //re send not pass app doc
            $('#btnReSend').click(()=>{
                swal_confirm('ยืนยันส่งพิจารณาใหม่','ต้องการส่งพิจารณาเอกสารใหม่?',()=>
                {
                    ReSend($('#hd_appId').val());
                });
            });

            //checkbox func
            var checkAll = $('input.chkAll');
            var checkboxes = $('input.chkSearch');
            checkAll.on('ifChecked ifUnchecked', function(event) {
                 if (event.type == 'ifChecked') {
                     checkboxes.iCheck('check');
                 } else {
                     checkboxes.iCheck('uncheck');
                 }
            });
            checkboxes.on('ifChanged', function(event){
                 if(checkboxes.filter(':checked').length == checkboxes.length) {
                     checkAll.prop('checked', 'checked');
                 } else {
                     checkAll.removeAttr('checked');
                     //checkAll.iCheck('uncheck');
                 }
                 checkAll.iCheck('update');
             });
        });

        const Edit = (appId) => {
            var enc = btoa(appId);
            window.open('@Url.Action("NewApp","Application")?appId='+enc);
        }

        const Play = (appCode) => {
             var enc = btoa(appCode);
            window.open('@Url.Action("DetailApp","Application")?appCode='+enc);
        }

        const GetMonitorApplication = (userId = null) => {
            //get datepicker fromDate value and convert
            var fromDate = $('#fromDate').datepicker({ format: 'MM yyyy', viewMode: "months", minViewMode: "months" }).datepicker('getDate');
            var addfirstFromDate = new Date(fromDate.getFullYear(), fromDate.getMonth(), 1);
            var fromDateConvert = moment(addfirstFromDate).format('DD-MM-YYYY');
            //get datepicker toDate value and convert
            //var toDate = $('#toDate').datepicker({ format: 'MM yyyy', viewMode: "months", minViewMode: "months" }).datepicker('getDate');
            //var addfirsttoDate = new Date(toDate.getFullYear(), toDate.getMonth(), 1);
            //var toDateConvert = moment(addfirsttoDate).format('DD-MM-YYYY');
            //get select branch value
            //var branchId = $('#select_Branch').val();
            //get search value
            var search = $('#txtSearch').val();
            //get checkbox value
            var isNewApp = ($('#chk_AppStatus2').is(":checked")) ? '2' : '';
            var isWaitProcess = ($('#chk_AppStatus3').is(":checked"))?'3':'';
            var isNormal = ($('#chk_AppStatus4').is(":checked"))?'4':'';
            var isCancel = ($('#chk_AppStatus5').is(":checked")) ? '5' : '';
            var isCancelBdcr = ($('#chk_AppStatus6').is(":checked")) ? '6' : '';
            var isCancelDue = ($('#chk_AppStatus7').is(":checked")) ? '7' : '';
            var isPassDoc = ($('#chk_AppStatus8').is(":checked")) ? '8' : '';
            var isNotPassIns = ($('#chk_AppStatus9').is(":checked")) ? '9' : '';
            //get status list
            var statusList = isNewApp + ',' + isWaitProcess + ',' + isNormal + ',' + isCancel + ',' + isCancelBdcr + ','+isCancelDue+','+isPassDoc+','+isNotPassIns;

            //var userId = $('#hd_userId').val();

            //call api
            $('#dtApplicationMonitor').empty();
            var appTable = $('#dtApplicationMonitor').DataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                searching: false,
                responsive: true,
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetMonitorApplication","Monitor")',
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.searchDetail = search;
                        d.branchId = null;
                        d.startCoverDate = fromDateConvert;
                        d.cancelDate = null;
                        d.endCoverDate = null;
                        d.appStatusIdList = statusList;
                        d.appUdwStatusIdList = null;
                        d.userId = userId;
                        d.appCode = $('#txtSearchAppId').val();
                    }
                },
                columns: [
                    {
                        title: 'วันที่คุ้มครอง', data: 'StartCoverDate',
                        render: function (data) {
                            if (data != null) {
                                let startCoverDate = moment(data)._d;
                                let yearBE = startCoverDate.getFullYear() + 543;
                                let startCoverDateBE = moment(startCoverDate.setFullYear(yearBE)).format("DD/MM/YYYY");
                                return startCoverDateBE;
                            } else {
                                return '';
                            }
                        }
                    },
                    { title: 'AppID', data: 'ApplicationCode' },
                    { title: 'กรมธรรม์', data: 'CurrentPolicyNo' },
                    { title: 'ผู้เอาประกัน', data: 'CustName' },
                    { title: 'แผนประกัน', data: 'Product' },
                    { title: 'เบี้ย', data: 'PremiumPerPolicy' },
                    { title: 'ตัวแทน', data: 'S1EmployeeName' },
                    { title: 'สถานะกรมธรรม์', data: 'ApplicationStatus' },
                    { title: 'ผลการพิจารณา', data: 'ApplicationUnderwriteStatus' },
                    {
                        title: 'จัดการ',
                        data: null,
                        searchable: false,
                        orderable: false,
                        mRender: function (data) {
                            if (data.ApplicationStatusId == 2) {
                                 return '<a type="button" class="btn btn-block btn-warning" id="btnEdit_' + data.ApplicationId
                                    + '" onclick="Edit(' + data.ApplicationId + ')" ><i class="fa fa-edit"></i>แก้ไข</a>' +
                                    '<a type="button" class="btn btn-block btn-success" id="btnPlay_' + data.ApplicationId
                                    + '" onclick="Play(\'' + data.ApplicationCode + '\')">ดู <i class="fa fa-arrow-right"></i></a>';
                            } else {

                                return '<a type="button" class="btn btn-block btn-success" id="btnPlay_' + data.ApplicationId
                                    + '" onclick="Play(\'' + data.ApplicationCode + '\')">ดู <i class="fa fa-arrow-right"></i></a>';
                            }

                        }
                    }
                ]
            });
        }

        const GetDocEdit = () => {
            var userId =  $('#hd_userId').val();

            //call api
            $('#dtApplicationEdit').empty();
            var appTable = $('#dtApplicationEdit').DataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                searching: false,
                responsive: true,
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetMonitorApplication","Monitor")',
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.searchDetail = null;
                        d.branchId = null;
                        d.startCoverDate = null;
                        d.cancelDate = null;
                        d.endCoverDate = null;
                        d.appStatusIdList = null;
                        d.appUdwStatusIdList = '3';
                        d.userId = userId;
                    }
                },
                columns: [
                    {
                        title: 'วันที่คุ้มครอง', data: 'StartCoverDate',
                        render: function (data) {
                            if (data != null) {
                                let startCoverDate = moment(data)._d;
                                let yearBE = startCoverDate.getFullYear() + 543;
                                let startCoverDateBE = moment(startCoverDate.setFullYear(yearBE)).format("DD/MM/YYYY");
                                return startCoverDateBE;
                            } else {
                                return '';
                            }
                        }
                    },
                    { title: 'AppID', data: 'ApplicationCode' },
                    { title: 'กรมธรรม์', data: 'CurrentPolicyNo' },
                    { title: 'ผู้เอาประกัน', data: 'CustName' },
                    { title: 'แผนประกัน', data: 'Product' },
                    { title: 'เบี้ย', data: 'PremiumPerPolicy' },
                    { title: 'ตัวแทน', data: 'S1EmployeeName' },
                    { title: 'สถานะกรมธรรม์', data: 'ApplicationStatus' },
                    { title: 'ผลการพิจารณา', data: 'ApplicationUnderwriteStatus' },
                    {
                        title: 'จัดการ',
                        data: null,
                        searchable: false,
                        orderable: false,
                        mRender: function (data) {
                            return '<a type="button" class="btn btn-block btn-danger" id="btnEdit_' + data.ApplicationId
                                + '" onclick="EditDoc(' + data.ApplicationId + ')" data-toggle="modal" data-target=".bd-doc-modal-lg" ' +
                                '><i class="fa fa-edit"></i>แก้ไขเอกสาร</a>';

                        }
                    }
                ]
            });
        }

        const EditDoc = (appId) => {
            $.get('@Url.Action("GetApplicationDocDetail","Monitor")', { applicationId: appId }, (data) => {
                $('#txtappId').text(data.ApplicationCode);
                $('#hd_appId').val(data.ApplicationId);
                $('#txtPlan').text(data.Product);
                $('#txtCustName').text(data.CustName);
                $('#txtPayerName').text(data.PayerName);
                $('#txtReturnCause').text(data.UdwUnApproveCause);
                $('#txtRemark').text(data.UdwRemark);
                GetDocEditDetail_DT(appId);
            });
        }

        const GetDocEditDetail_DT = (appId) => {
            //call api
            $('#dtDocument').empty();
            var appTable = $('#dtDocument').DataTable({
                lengthChange: false,
                 info:false,
                paging: false,
                searching: false,
                processing: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetMonitorDoc_DT","Monitor")',
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = 999;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search;
                        d.applicationId = appId;
                        d.documentTypeIdList = null;
                    }
                },
                columns: [
                    { title: 'รหัสเอกสาร', data: 'DocumentCode' },
                    { title: 'ประเภท', data: 'DocumentType' },
                    { title: 'รายละเอียด', data: 'DocumentDetail' },
                    { title: 'หมายเหตุ', data: 'Remark' },
                    {
                        title: 'scan',
                        data: null,
                        searchable: false,
                        orderable: false,
                        mRender: function (data) {
                            return '<a type="button" class="btn btn-block btn-warning" id="btnEdit_' + data
                                + '" href="'+data.UrlScan+'" target="_blank"><i class="fa fa-edit"></i>Scan เอกสาร</a>' +
                                '<a type="button" class="btn btn-block btn-success" id="btnDocCount_' + data
                                 + '" target="_blank" href="'+data.UrlOpen+'">ดูเอกสาร('+data.DocumentFileCount+') </a>';

                        }
                    }
                ]
            });
        }

        const ReSend = (appId) => {
            $.post('@Url.Action("ReSendDoc","Monitor")', { applicationId: appId }, (data) => {
                if (data.IsResult) {
                    swal_success(data.Msg);
                    setTimeout(() => { window.location = '@Url.Action("ApplicationMonitor")' },1500);
                } else {
                    swal_fail(data.Msg);
                }
            });
        }
    </script>
}