@{
    ViewBag.Title = "คิวงานคัดกรองมอบเอกสาร";
    Layout = "~/Views/Shared/_LayoutForTopIndexCancer.cshtml";
}

<style>
    strong {
        color: red;
    }

    label.title {
        color: #3F8FBD
    }

    .marker {
        list-style-type: circle;
        color: #005484
    }

    label.fonts-box {
        font-family: sans-serif;
        font-size: 14px;
        font-weight: lighter;
    }

    th.sorting_asc::after {
        content: "" !important;
    }

    /*  .box {
        border-top: 0px !important;
    }*/
</style>
<div class="row" style="text-align: center; background-color: #ECF0F5; color: #005484">
    <h2>รายละเอียดกรมธรรม์</h2>
</div>
<div class="row">
    <section class="content" style="background-color: #FFFFFF">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false"><h4>บันทึกผลการทำงาน</h4></a></li>

                <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="true"><h4>ประวัติคิวงาน</h4></a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card" style="background-color: #E0F7FF; border-radius: 8px 8px; ">
                            <div class="box-header" style="color: #3F8FBD; border-bottom: 1px solid #bbb">
                                <i class="fa fa-user"></i>
                                <h4 class="box-title">ข้อมูลผู้เอาประกัน </h4>
                            </div>
                            <div class="box-body" style="align-items: center;">
                                <div class="row">
                                    <h5 class=" col-md-3"><b>App ID</b> : <a href="" target="_blank" id="openSSS" style="text-decoration: underline; color: #2833FF " onclick="OpenSSS(`@ViewBag.QueueFullDetail.ApplicationCode`)">@ViewBag.QueueFullDetail.ApplicationCode</a></h5>
                                    <h5 class=" col-md-3">
                                        <b>วันเริ่มคุ้มครอง</b> : @(String.Format("{0:dd MMM yyyy}",ViewBag.QueueFullDetail.StartCoverDate))
                                    </h5>
                                    <h5 class=" col-md-3"><b>แผนประกัน</b> : @ViewBag.QueueFullDetail.ProductDetail</h5>
                                    <h5 class=" col-md-3"><b>เบี้ย</b> : @ViewBag.QueueFullDetail.Premium</h5>
                                </div>
                                <div class="row">
                                    <h5 class=" col-md-3 "><b>ชื่อ</b> : @(String.Format("{0}{1} {2}", ViewBag.QueueFullDetail.InsuredTitle, ViewBag.QueueFullDetail.InsuredFirstName, ViewBag.QueueFullDetail.InsuredLastName))</h5>
                                    <h5 class="col-md-3">
                                        <b>วันเกิด</b> :  <span class="control-label" display: inline-block; max-width: 100%; text-align: right">@(ViewBag.QueueFullDetail.InsuredBirthDate != null ? String.Format("{0:dd MMM yyyy}", ViewBag.QueueFullDetail.InsuredBirthDate) : "-")</span>
                                    </h5>
                                    <h5 class="col-md-3"><b>อายุวันสมัคร</b> : @ViewBag.QueueFullDetail.AgesAtRegister </h5>
                                    <h5 class="col-md-3"><b>อายุปัจจุบัน</b> :  @ViewBag.QueueFullDetail.AgesCurrent </h5>
                                </div>
                                <div class="row">
                                    <h5 class="col-md-3"><b>เบอร์โทร</b> : @ViewBag.QueueFullDetail.InsuredPhone</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" style="margin-top:15px;margin-bottom :15px">
                        <div class="card" style="background-color: #E0F7FF; border-radius: 8px 8px">
                            <div class="box-header" style="color: #3F8FBD; border-bottom: 1px solid #bbb">
                                <i class="fa fa-user"></i>
                                <h4 class="box-title">ข้อมูลผู้ชำระเบี้ย </h4>
                            </div>
                            <div class="box-body" style="align-items: center;">
                                <div class="row">

                                    <h5 class=" col-md-4"><b>ชื่อผู้ชำระเบี้ย</b> : @(ViewBag.QueueFullDetail.PayerFirstName != null ? String.Format("{0}{1} {2}", ViewBag.QueueFullDetail.PayerTitle, ViewBag.QueueFullDetail.PayerFirstName, ViewBag.QueueFullDetail.PayerLastName) : "-")</h5>
                                    <h5 class=" col-md-4"><b>ความสัมพันธ์</b> : @(ViewBag.QueueFullDetail.PayerRelate != null ? ViewBag.QueueFullDetail.PayerRelate : "-")</h5>
                                    <h5 class=" col-md-4"><b>เบอร์โทร</b> : @(ViewBag.QueueFullDetail.PayerPhone != null ? ViewBag.QueueFullDetail.PayerPhone : "-")</h5>
                                </div>
                                <div class="row">
                                    <h5 class=" col-md-4"><b>อาชีพ</b> : @(ViewBag.QueueFullDetail.PayerOccupationLevel != null ? ViewBag.QueueFullDetail.PayerOccupationLevel : "-")</h5>
                                    <h5 class=" col-md-4"><b>ชื่อหน่วยงาน</b> : @(ViewBag.QueueFullDetail.PayerOfficeName != null ? ViewBag.QueueFullDetail.PayerOfficeName : "-")</h5>
                                    <h5 class=" col-md-4"><b>เบอร์โทรที่ทำงาน</b> : @(ViewBag.QueueFullDetail.PayerOfficePhone != null ? ViewBag.QueueFullDetail.PayerOfficePhone : "-")</h5>
                                </div>
                                <div class="row">
                                    <h5 class=" col-md-4"><b>การชำระ</b> : @(ViewBag.QueueFullDetail.PayMethodType != null ? ViewBag.QueueFullDetail.PayMethodType : "-")</h5>
                                    <h5 class=" col-md-4"><b>ธนาคาร</b> : @(ViewBag.QueueFullDetail.PayerBankName != null ? ViewBag.QueueFullDetail.PayerBankName : "-")</h5>
                                    <h5 class=" col-md-4"><b>เลขบัญชี</b> : @(ViewBag.QueueFullDetail.PayerBankAccountNo != null ? ViewBag.QueueFullDetail.PayerBankAccountNo : "-")</h5>

                                </div>
                                <div class="form-group">
                                    <div class="col-md-12" style="text-align:right">
                                        <a href="#" id="btnPayerOther" data-toggle="modal" data-target="#modal-warning" style="text-decoration: underline; color: #2833FF; display: none "></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- #region แถลงสุขภาพ -->
                    <div class="col-sm-12">
                        <div class="form-horizontal">
                            <div class="box box-solid box-default">
                                <div class="box-header" style="background-color: #b3eeff; text-align: center;">
                                    <h4 class="box-title">แถลงสุขภาพ</h4>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body" style="padding:20px">
                                    <form class="form-horizontal">
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>ท่านมีหรือเคยมีประกันชีวิต หรือประกันสุขภาพ หรือประกันอุบัติเหตุ หรือกำลังขอเอาประกันภัยดังกล่าวไว้กับบริษัทนี้หรือบริษัทอื่นหรือไม่</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value1) ? "-" : ViewBag.QueueFullDetail.Value1)</span>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>โปรดระบุ บริษัท / จำนวนเงินเอาประกันภัย (บาท) / เงินชดเชยรายวัน (บาท) / ขณะนี้สัญญามีผลบังคับหรือไม่</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value2) ? "-" : ViewBag.QueueFullDetail.Value2)</span>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>
                                                ท่านเคยถูกปฏิเสธ เลื่อนการรับประกันภัย เพิ่มอัตราเบี้ยประกันภัย เปลี่ยนแปลงเงื่อนไข สำหรับการขอเอาประกันภัยหรือการขอกลับคืนสู่สถานะเดิม หรือการขอต่ออายุของกรมธรรม์ จากบริษัทนี้
                                                หรือบริษัทอื่นบ้างหรือไม่
                                            </span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value3) ? "-" : ViewBag.QueueFullDetail.Value3)</span>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>โปรดระบุ บริษัท / สาเหตุ / เมื่อใด</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value4) ? "-" : ViewBag.QueueFullDetail.Value4)</span>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>ท่านเคยมีส่วนเกี่ยวข้องกับการค้ายาเสพติดหรือเคยต้องโทษเกี่ยวกับคดียาเสพติดหรือไม่</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value5) ? "-" : ViewBag.QueueFullDetail.Value5)</span>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>ท่านเสพหรือเคยเสพยาเสพติด หรือสารเสพติดหรือไม่</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value6) ? "-" : ViewBag.QueueFullDetail.Value6)</span>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>โปรดระบุ ชนิด / ปริมาณ / ความถี่ (ครั้ง:สัปดาห์) / เสพมานาน (ปี) / เลิกเสพเมื่อ</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value7) ? "-" : ViewBag.QueueFullDetail.Value7)</span>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>ท่านดื่มหรือเคยดื่มเครื่องดื่มที่มีแอลกอฮอล์เป็นประจำหรือไม่</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value8) ? "-" : ViewBag.QueueFullDetail.Value8)</span>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>โปรดระบุ ชนิด / ปริมาณ (ขวด:ครั้ง) / ความถี่ (ครั้ง:สัปดาห์) / ดื่มมานาน (ปี) / เลิกดื่มเมื่อ</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value9) ? "-" : ViewBag.QueueFullDetail.Value9)</span>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>ท่านสูบหรือเคยสูบบุหรี่ หรือยาสูบชนิดอื่นหรือไม่</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value10) ? "-" : ViewBag.QueueFullDetail.Value10)</span>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>โปรดระบุ ปริมาณ (มวน:วัน) / สูบมานาน (ปี) / เลิกสูบเมื่อ</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value11) ? "-" : ViewBag.QueueFullDetail.Value11)</span>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>ส่วนสูงและน้ำหนัก</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span class="control-label" style="margin-bottom: 10px; color: #005484">ส่วนสูง</span>
                                            &nbsp;
                                            <span class="control-label">@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value12) ? "-" : ViewBag.QueueFullDetail.Value12)</span>
                                            &nbsp;
                                            <span class="control-label" style="margin-bottom: 10px; color: #005484">ซ.ม.</span>
                                            &nbsp;
                                            &nbsp;
                                            <span class="control-label" style="margin-bottom: 10px; color: #005484">น้ำหนัก</span>
                                            &nbsp;
                                            <span class="control-label">@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value13) ? "-" : ViewBag.QueueFullDetail.Value13)</span>
                                            &nbsp;
                                            <span class="control-label" style="margin-bottom: 10px; color: #005484">ก.ก.</span>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>ในรอบ 6 เดือนที่ผ่านมา น้ำหนักตัวของท่านเปลี่ยนแปลงหรือไม่</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value14) ? "-" : ViewBag.QueueFullDetail.Value14)</span>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>โปรดระบุ เพิ่มขึ้น (กก.) / ลดลง (กก.) / สาเหตุที่น้ำหนักเปลี่ยนแปลง</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value15) ? "-" : ViewBag.QueueFullDetail.Value15)</span>
                                        </div>
                                        <div class="row" style="background-color: #3C8DBC;color:white">
                                            <label>คำถามเกี่ยวกับประวัติการเจ็บป่วยหรือการรักษาโรคของผู้ขอเอาประกัน</label>
                                        </div>
                                        <div class="row" style="background-color: #9BDAFF;">
                                            <label>ท่านเคยได้รับการวินิจฉัย หรือรับการรักษา หรือตั้งข้อสังเกตโดยแพทย์ว่าป่วยเป็นโรคตามรายการท้ายคำถามนี้หรือไม่</label>
                                        </div>
                                        <div class="row">
                                            <ul class="list-unstyled">
                                                หากเคย กรุณาระบุโรคและการรักษาตามรายละเอียดด้านล่าง
                                                <li>
                                                    <div class="col-md-3 col-sm-6">
                                                        <ul class="marker">
                                                            <li>สายตาพิการ</li>
                                                            <li>โรคจอประสาทตา</li>
                                                            <li>โรคต้อหิน</li>
                                                            <li>โรคหลอดเลือดในสมอง</li>
                                                            <li>โรคอัมพฤกษ์ / โรคอัมพาต</li>
                                                            <li>โรคพาร์กินสัน</li>
                                                            <li>โรคความจำเสื่อม</li>
                                                            <li>โรคชัก</li>
                                                            <li>โรคปอดหรือปอดอักเสบ</li>
                                                            <li>โรควัณโรค</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6">
                                                        <ul class="marker">
                                                            <li>โรคหอบหืด</li>
                                                            <li>โรคปอดอุดกั้นเรื้อรัง</li>
                                                            <li>โรคถุงลมโป่งพอง</li>
                                                            <li>ภาวะหยุดหายใจขณะหลับ</li>
                                                            <li>โรคความดันโลหิตสูง</li>
                                                            <li>โรคหัวใจ</li>
                                                            <li>โรคเส้นเลือดหัวใจตีบ</li>
                                                            <li>โรคหลอดเลือด</li>
                                                            <li>โรคแผลในทางเดินอาหาร</li>
                                                            <li>โรคตับหรือทางเดินน้ำดี</li>
                                                            <li>โรคพิษสุราเรื้อรัง</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6">
                                                        <ul class="marker">
                                                            <li>ดีซ่าน</li>
                                                            <li>ม้ามโต</li>
                                                            <li>โรคตับอ่อนอักเสบ</li>
                                                            <li>โรคไต</li>
                                                            <li>โรคข้ออักเสบ</li>
                                                            <li>โรคเก๊าท์</li>
                                                            <li>โรคหนังแข็ง</li>
                                                            <li>โรคเอสแอลอี</li>
                                                            <li>โรคเลือด</li>
                                                            <li>โรคเบาหวาน</li>
                                                            <li>โรคไทรอยด์</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6">
                                                        <ul class="marker">
                                                            <li>โรคต่อมน้ำเหลืองโต</li>
                                                            <li>เนื้องอก ก้อนหรือถุงน้ำ</li>
                                                            <li>โรคมะเร็ง</li>
                                                            <li>โรคเอดส์หรือภูมิคุ้มกันบกพร่อง</li>
                                                            <li>โรคกามโรค (ภายใน 2 ปี)</li>
                                                            <li>พิการทางร่างกาย</li>
                                                            <li>โรคจิต</li>
                                                            <li>โรคประสาท</li>
                                                            <li>โรคซึมเศร้า</li>
                                                            <li>ดาวน์ซินโดรม</li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div> @* end row *@
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value16) ? "-" : ViewBag.QueueFullDetail.Value16)</span>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>โปรดระบุโรค/วันเดือนปีที่รักษา/การรักษาและอาการปัจจุบัน/สถานพยาบาลที่รักษา</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value17) ? "-" : ViewBag.QueueFullDetail.Value17)</span>
                                        </div>
                                        <div class="row" style="background-color: #9BDAFF;">
                                            <label>ท่านเคยมี หรือกำลังมีอาการ ดังต่อไปนี้หรือไม่</label>
                                        </div>
                                        <div class="row">
                                            <ul class="list-unstyled">
                                                หากเคยมี หรือกำลังมี กรุณาระบุอาการและการรักษาตามรายละเอียดด้านล่าง
                                                <li>
                                                    <div class="col-md-3 col-sm-6">
                                                        <ul class="marker">
                                                            <li>การมองเห็นผิดปกติ</li>
                                                            <li>กล้ามเนื้ออ่อนแรง</li>
                                                            <li>ร่างกายสูญเสียประสาทรับความรู้สึก</li>
                                                            <li>ปวดศีรษะรุนแรงเรื้อรัง</li>
                                                            <li>ไอเรื้อรัง</li>
                                                            <li>ไอเป็นเลือด</li>
                                                            <li>เหนื่อยง่ายผิดปกติ</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6">
                                                        <ul class="marker">
                                                            <li>เจ็บหรือแน่นหน้าอก</li>
                                                            <li>ปวดท้องเรื้อรัง</li>
                                                            <li>อาเจียนหรือถ่ายเป็นเลือด</li>
                                                            <li>ท้องมาน</li>
                                                            <li>มีเลือดปนในปัสสาวะ</li>
                                                            <li>ปวดข้อเรื้อรัง</li>
                                                            <li>เคยพยายามทำร้ายร่างกายตนเอง</li>
                                                            <li>คลำพบก้อนเนื้อ</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6">
                                                        <b>อาการในระหว่าง 6 เดือนที่ผ่านมา</b>
                                                        <ul class="marker">
                                                            <li>อาการอ่อนเพลีย</li>
                                                            <li>น้ำหนักลด</li>
                                                            <li>ท้องเดินเรื้อรัง</li>
                                                            <li>ไข้เรื้อรัง</li>
                                                            <li>โรคผิวหนังเรื้อรัง</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6">
                                                        <b>เฉพาะสตรี</b>
                                                        <ul class="marker">
                                                            <li>กำลังตั้งครรภ์(โปรดระบุเดือน)</li>
                                                            <li>โรคแทรกซ้อนในการตั้งครรภ์และคลอดบุตร</li>
                                                            <li>เลือดออกผิดปกติทางช่องคลอด</li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value18) ? "-" : ViewBag.QueueFullDetail.Value18)</span>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>โปรดระบุอาการ/วันเดือนปีที่เริ่มมีอาการ/อาการปัจจุบัน</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value19) ? "-" : ViewBag.QueueFullDetail.Value19)</span>
                                        </div>
                                        <div class="row" style="background-color: #9BDAFF;">
                                            <label>ในระหว่าง 5 ปีที่ผ่านมา ท่านเคยได้รับ</label>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>ก. การตรวจสุขภาพ การตรวจชิ้นเนื้อ หรือการตรวจเพื่อวินิจฉัยโรค เช่น การเอ็กซเรย์ การตรวจคลื่นหัวใจ การตรวจเลือดหรือการตรวจด้วยเครื่องมือพิเศษอื่นๆ หรือไม่</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value20) ? "-" : ViewBag.QueueFullDetail.Value20)</span>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>โปรดระบุ ตรวจอะไร / เมื่อใด / สถานที่ตรวจ / ผลการตรวจ / ข้อสังเกตโดยแพทย์</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value21) ? "-" : ViewBag.QueueFullDetail.Value21)</span>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>ข. การบาดเจ็บ เจ็บป่วย การผ่าตัด การปรึกษาแพทย์ การแนะนำจากแพทย์เกี่ยวกับสุขภาพ การรักษาในสถานพยาบาลที่มิได้ระบุไว้ข้างต้น</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value22) ? "-" : ViewBag.QueueFullDetail.Value22)</span>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>โปรดระบุ อาการ / วันเดือนปีที่รับการรักษา / สถานพยาบาล / ผลการรักษา</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value23) ? "-" : ViewBag.QueueFullDetail.Value23)</span>
                                        </div>
                                        <div class="row" style="background-color: #9BDAFF;">
                                            <label>คำถามเพิ่มเติมสำหรับการขอเอาประกันภัยสัญญาเพิ่มเติมเกี่ยวกับสุขภาพหรือโรคร้ายแรง</label>
                                        </div>
                                        <div class="row">
                                            <ul class="list-unstyled">
                                                ท่านเคยได้รับการวินิจฉัย หรือรับการรักษา หรือตั้งข้อสังเกตจากแพทย์ว่าป่วยเป็นโรคตามรายการท้ายคำถามนี้หรือไม่
                                                <li>
                                                    <div class="col-md-3 col-sm-6">
                                                        <ul class="marker">
                                                            <li>ติดเชื้อในหูชั้นกลาง</li>
                                                            <li>ต่อมทอนซิลอักเสบเรื้อรัง</li>
                                                            <li>ไซนัสอักเสบ</li>
                                                            <li>ปวดศีรษะไมเกรน</li>
                                                            <li>ภูมิแพ้</li>
                                                            <li>หลอดลมอักเสบเรื้อรัง</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6">
                                                        <ul class="marker">
                                                            <li>กรดไหลย้อน</li>
                                                            <li>นิ่ว</li>
                                                            <li>ถุงน้ำดีอักเสบ</li>
                                                            <li>ไส้เลื่อน</li>
                                                            <li>ริดสีดวงทวาร</li>
                                                            <li>ฝีคันฑสูตร</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6">
                                                        <ul class="marker">
                                                            <li>เยื่อบุโพรงมดลูกเจริญผิดที่</li>
                                                            <li>กระดูกสันหลังเคลื่อน</li>
                                                            <li>หมอนรองกระดูกเคลื่อนหรือทับเส้นประสาท</li>
                                                            <li>ข้อเสื่อม</li>
                                                            <li>เส้นเอ็นอักเสบเรื้อรัง</li>
                                                            <li>เส้นประสาทอักเสบหรือถูกเบียดทับ</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6">
                                                        <ul class="marker">
                                                            <li>ออทิสติก</li>
                                                            <li>สมาธิสั้น</li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value24) ? "-" : ViewBag.QueueFullDetail.Value24)</span>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px; padding: 3px; color: #005484">
                                            <span>โปรดระบุ โรค / วันเดือนปีที่รักษา / การรักษาและอาการปัจจุบัน / สถานพยาบาลที่รักษา</span>
                                        </div>
                                        <div class="row" style="background-color: #F5F5F5; border: #707070;margin-bottom:10px;padding:3px">
                                            <span>@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value25) ? "-" : ViewBag.QueueFullDetail.Value25)</span>
                                        </div>
                                    </form>
                                </div> @* end box body*@
                            </div>
                        </div>
                    </div>
                    <!-- #endregion -->
                    <!-- #region การใช้รถจักรยานยนต์ -->
                    <div class="col-sm-12">
                        <div class="box box-solid box-default">
                            <div class="box-header with-border" style="background-color: #B3EEFE;text-align:center">
                                <h3 class="box-title">การใช้รถจักรยานยนต์</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body" style="">
                                <div class="row">
                                    <span class="control-label" style="margin-bottom: 10px; color: #005484;padding: 3px;margin-left:7px">ท่านใช้รถจักรยานยนต์ในการทำงานหรือไม่ :</span>
                                    &nbsp;
                                    <span class="control-label">@(String.IsNullOrEmpty(ViewBag.QueueFullDetail.Value26) ? "-" : ViewBag.QueueFullDetail.Value26)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- #endregion -->

                    <div class=" col-sm-12">
                        <div class="box box-info bg-info " style="border-radius: 8px 8px 0px 0px ">
                            <div class="box-header" style="background-color: #00C0EF; color: azure; border-radius: 8px 8px 0px 0px ">
                                <h4 class="box-title">รายละเอียดการมอบกรมธรรม์ </h4>
                            </div>
                            <div class=" box-body" style="height: auto;width: auto;margin-top:15px">
                                <form id="sectionGiveCardFrom">

                                    <div class="typeSelectChildxx form-group col-md-12">
                                        <label class="col-md-2 control-label title">มอบกรมธรรม์ ให้กับ</label>
                                        <label class="col-md-2  fonts-box"><input type="checkbox" name="typeSelectChild" id="typeSelectChildPayer" value=""> ผู้ชำระเบี้ย </label>
                                        <label class="col-md-2  fonts-box"><input type="checkbox" name="typeSelectChild" id="typeSelectChildCustomer" value="customer"> ผู้เอาประกัน</label>
                                    </div>

                                    <div class="form-group col-md-12" id="remarkisLineOAFrom">
                                        <label class="col-md-2 control-label title">
                                            หมายเหตุการมอบกรมธรรม์
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" name="remarkisLineOA" id="remarkisLineOA" value="">
                                        </div>
                                    </div>

                                </form>
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-label title">แนบรูปภาพมอบกรมธรรม์ </label>
                                    <div class="col-md-8 ">
                                        <form action="@Url.Action("FileUpload")" class="dropzone" id="myDropzone" enctype="multipart/form-data">
                                            <div class="fallback">
                                                <input name="file" type="file" multiple />
                                            </div>
                                            <input type="hidden" name="queueId" id="hiddenQueueId" value="@ViewBag.QueueFullDetail.QueueId" />
                                            <input type="hidden" name="createdDate" id="hiddenQueueCreatedDate" value="@ViewBag.QueueFullDetail.CreatedDate" />
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <form id="sectionGiveCardFrom_2">
                        @*checkId == queueStatusId  // 8 = ยังไม่ดำเนินการ*@
                        @if (ViewBag.QueueFullDetail.QueueStatusId != 8)
                        {
                            <div class="col-sm-12">
                                <div class="box box-info bg-info " style="border-radius: 8px 8px 0px 0px ">
                                    <div class="box-header" style="background-color: #00C0EF; color: azure; border-radius: 8px 8px 0px 0px ">
                                        <h4 class="box-title">ข้อมูลการเฝ้าระวัง</h4>
                                    </div>
                                    <div class="radio-check box-body shadow" style="height: auto;width: auto;margin-top:15px">
                                        <div class="form-group text col-md-12">
                                            <label class="col-md-12 control-label title">ข้อมูลการเฝ้าระวัง</label>
                                            <label class="col-md-2 fonts-box">
                                                <input type="radio" name="isBeware" value="0" id="isBeware_1"> ไม่มี
                                            </label>
                                            <label class="col-md-2 fonts-box">
                                                <input type="radio" name="isBeware" value="1" id="isBeware_2"> มี
                                            </label>
                                            <label class="bewareRemarkLabel col-md-6 fonts-box" id="bewareRemarkLabel" style="display:none">
                                                <input class="form-control" id="bewareRemark" name="bewareRemark" type="text" placeholder="รายละเอียดเพิ่มเติม" />
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="box box-info bg-info " style="border-radius: 8px 8px 0px 0px ">
                                    <div class="box-header" style="background-color: #00C0EF; color: azure; border-radius: 8px 8px 0px 0px ">
                                        <h4 class="box-title">รายละเอียดเพิ่มเติม</h4>
                                    </div>
                                    <div class="box-body" style="height: auto;width: auto;margin-top:15px">
                                        <div class="form-group col-md-12">
                                            <label class="col-md-12 control-label title">รายละเอียดเพิ่มเติม</label>
                                            <textarea name="remarkFrom" id="remarkFrom" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }



                    </form>


                    <div style="text-align:center;padding-bottom: 10px;">
                        <input type="submit" name="btnSubmit" id="btnSubmit" value="บันทึกข้อมูล" class="form-control btn btn-info" style="width:150px" />
                    </div>
                    <!--.modal -->
                    <div class="modal fade" id="modal-warning">
                        <!--.modal-dialog -->
                        <div class="modal-dialog modal-lg">
                            <!--.modal-content -->
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #ffd243;border-color: #ffeeba;">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" style="color: black;">×</span>
                                    </button>
                                    <h4 class="modal-title">รายละเอียด</h4>
                                </div>
                                <div class="modal-body">
                                    <table id="tablePayerOther" class="table table-bordered table-striped display responsive" style="width: 100%">
                                        <tbody>
                                            <tr style="text-align:center"><td>ไม่พบข้อมูล</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!--/.modal -->
                    <!--<div class="modal fade" style="justify-content:center; align-content:center; align-items:center" id="modal-warning">



                        <div class="modal-dialog  ">
                            <div class="modal-content modal-lg ">
                                <div class="modal-header" style="background-color: #ffd243;border-color: #ffeeba;">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" style="color: black;">×</span>
                                    </button>
                                    <h4 class="modal-title">รายละเอียด</h4>
                                </div>
                                <div class="modal-body">
                                    <table id="tablePayerOther" class="table table-bordered table-striped display responsive" style="width: 100%">
                                        <tbody>
                                            <tr style="text-align:center"><td>ไม่พบข้อมูล</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    @* end modal *@
                </div> @* end row*@

            </div>

            <div id="tab_3" class="tab-pane">
                <div class="form-horizontal">
                    <table id="tableLog" name="tableLog" class="table table-bordered table-striped display responsive" style="width: 100%">
                        <tbody>
                            <tr style="text-align:center"><td>ไม่พบข้อมูล</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>

</div>





@section ViewSpecificJavascript
{
    <script>
        var chat;
        var cancerVal;
        var typeSelectVal;
        var countFile = 0;
        var imgUrlPath;
        var imgPhysicalPath;

        const OpenSSS = (app) => {
            debugger

            var encoded = btoa(app);
            window.open(`@ViewBag.OpenSSS?app=` + app,'_blank');
        }

        $(function () {

            if (!isWindows()) {
                $('#DocDetail_form').hide();
            }
            /*start signalR*/
            // Reference the auto-generated proxy for the hub.
            chat = $.connection.chatHub;
            //Start Connection
            $.connection.hub.start().done();

            //Date
            var date = new Date();

            //load dt payer other

            getPayerOther('@ViewBag.QueueId');

            //set options datepicker
            //$('#txtCoBrandDate').datepicker({
            //    format: 'dd/mm/yyyy',
            //    autoclose: true
            //}).datepicker('setDate', new Date());
            $('#txtCoBrandDate').val(`${date.getDate()}/${date.getMonth()+1}/${date.getFullYear() + 543}`);

            //Dropzone Options
            Dropzone.options.myDropzone = {
                paramName: "file", // ชื่อไฟล์ปลายทางเมื่อ upload แบบ mutiple จะเป็น array
                autoProcessQueue: true,// ใส่เพื่อไม่ให้อัพโหลดทันที หลังจากเลือกไฟล์
                uploadMultiple: false, // อัพโหลดไฟล์หลายไฟล์ - true จะส่งเป็น array
                parallelUploads: 10, // ให้ทำงานพร้อมกัน 10 ไฟล์
                maxFiles: 1, // ไฟล์สูงสุด 1 ไฟล์
                addRemoveLinks: true, // อนุญาตให้ลบไฟล์ก่อนการอัพโหลด
                maxFilesize: 10, // MB
                dictRemoveFile: "ลบ", // ชื่อ ปุ่ม remove
                dictCancelUpload: "ยกเลิก", // ชื่อ ปุ่ม ยกเลิก
                dictDefaultMessage: "เลือกรูปภาพ", // ข้อความบนพื้นที่แสดงรูปจะแสดงหลังจากโหลดเพจเสร็จ
                dictFileTooBig: "ไม่อนุญาตให้อัพโหลดไฟล์เกิน 2 MB", //ข้อความแสดงเมื่อเลือกไฟล์ขนาดเกินที่กำหนด
                acceptedFiles: ".jpeg,.jpg,.png", // อนุญาตให้เลือกไฟล์ประเภทรูปภาพได้
                dictMaxFilesExceeded: "ไฟล์เกินจำนวน",
                dictResponseError: "ไม่สามารถอัพโหลดไฟล์ได้",
                dictFallbackMessage: "ไม่รองรับไฟล์",
                // The setting up of the dropzone
                init: function () {
                    this.on("addedfile", function (file) {
                        if (this.files[1] != null) {
                            this.removeFile(this.files[0]);
                        }
                        countFile++
                    }).on("removedfile", function (file) {
                        countFile--
                        $.post('@Url.Action("File_delete")',
                            {
                                queueId: $('#hiddenQueueId').val(),
                                queueCreatedDate: $('#hiddenQueueCreatedDate').val()
                            }, (data) => {
                                console.log(data)
                                if (data.IsResult) {
                                    var _ref;
                                    return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                                } else {
                                    return swal("เกิดข้อผิดพลาด !", data.Msg, "error");
                                }
                            });
                        //ลบไฟล์ -เคลียร์ path
                        imgUrlPath = null;
                        imgPhysicalPath = null;
                        fileImgName = null;
                    }).on("thumbnail", function (file) {

                    }).on("success", function (file, response) {
                        //เก็บ path ในตัวแปร เพื่อใช้ในการบันทึกมอบกรมธรรม์ ต่อไป
                        imgUrlPath = response.urlPath;
                        imgPhysicalPath = response.physicalPath;
                        fileImgName = response.fileImgName;
                    }).on("error", function (file) {

                    }).on("processing", function(file) {

                    }).on("uploadprogress", function(file) {

                    });
                }
            }

            /*Event if checked*/
            //สถานะการคัดกรอง
            $('input[name=underwriteStatus]').on('ifChecked',
                function (e) {
                    if ($(this).valid()) {
                        switch ($(this).val()) {
                            case '1':
                                $(".ask-y").show();
                                $(".ask-n").hide();
                               // $('.ask-n').find("input").iCheck('uncheck');
                                $('#typeSelect_2').iCheck('check')
                                $('.box-typeselect-2').show();
                                $('.box-typeselect-3').hide();
                                $('.box-cancer-pass').hide();
                                $('.box-cancer-notpass').hide();
                                $('textarea[name=cancerChildPassOtherRemark]').val('');
                                $('textarea[name=cancerChildNotPassOtherRemark]').val('');
                                $('textarea[name=remark]').val('');
                                $('#sectionGivecard').hide();
                                break;
                            case '0':
                                $(".ask-y").hide();
                                $(".ask-n").show();
                                $('.ask-y').find("input").iCheck('uncheck');
                                $('.box-typeselect-2').hide();
                                $('.box-typeselect-3').hide();
                                $('.box-cancer-pass').hide();
                                $('.box-cancer-notpass').hide();
                                $('textarea[name=cancerChildPassOtherRemark]').val('');
                                $('textarea[name=cancerChildNotPassOtherRemark]').val('');
                                $('textarea[name=remark]').val('');
                                $('#sectionGivecard').hide();
                                break;
                            default:
                        }
                    }

                });
            /*tab change*/
            $('a[data-toggle="tab"]').on('shown.bs.tab',
                function (e) {
                    e.preventDefault();
                    loadingSpinnerCancer('fadeIn', 500);
                    const target = $(e.target).attr("href");
                    switch (target) {
                        case "#tab_3":
                            //Log
                            GetQueueLog_DT();
                            break;
                        default:
                    }
                });
            //FORM SUBMIT
            $('#btnSubmit').click(function () {
                if (ValidateSave()) {
                    if ($('#sectionGiveCardFrom').valid() && $('#sectionGiveCardFrom_2').valid() ) {
                        if (countFile === 0) {
                            imgUrlPath = null;
                            imgPhysicalPath = null;
                            fileImgName = null;
                            swal_confirm3("ยืนยันบันทึกข้อมูล", "", function (e) {
                                //บันทึกมอบกรมธรรม์  && แบบสอบถาม
                                InsertQueueCoBrand();
                                $('#btnSubmit').prop("disabled", true);
                            });
                        } else {
                            swal_confirm3("ยืนยันบันทึกข้อมูล", "", function (e) {
                                //บันทึกมอบกรมธรรม์  && แบบสอบถาม
                                InsertQueueCoBrand();
                                $('#btnSubmit').prop("disabled", true);
                            });
                        }

                    }
                }

            });
            $('#select_GiveType').on('change', function () {

                if ($('#select_GiveType').val() == 7) {
                    $('#giveTypeRemark').show();
                    $('#giveTypeRemarklabel').show();
                } else {
                    $('#giveTypeRemark').hide();
                    $('#giveTypeRemarklabel').hide();
                }
            });

            //ช่องทางการคัดกรอง
          @*  $('input[name=typeSelect]').on('ifChecked',
                function (e) {
                    if ($(this).valid()) {
                        typeSelectVal = $(this).val();
                        switch ($(this).val()) {
                            case '2': //เข้าพบ
                                $('.box-typeselect-2').show();
                                $('.box-typeselect-3').hide();
                                $('input[name=typeSelectChild]').iCheck('uncheck');
                                break;
                            case '3': //โทรคัดกรอง
                                $('.box-typeselect-2').hide();
                                $('.box-typeselect-3').show();
                                $('input[name=typeSelectChild]').iCheck('uncheck');
                                break;
                            default:
                        }
                        showSectionGivecard();
                    }
                });*@
            //ช่องทางการคัดกรอง - child
            $('input[name=typeSelectChild').on('ifChecked',
                function (e) {
                    $(this).valid();
                });
            //การชำระเบี้ย
            $('input[name=uwPaymentType').on('ifChecked',
                function (e) {
                    $(this).valid();
                });
            //สถานะการโทร
            $('input[name=callStatus').on('ifChecked',
                function (e) {
                    $(this).valid();
                });
            //สถานะการเข้าพบ
            $('input[name=foundCustomer').on('ifChecked',
                function (e) {
                    $(this).valid();
                });

            //การคัดกรองด้านสุขภาพ - parent
            $('input[name=cancer]').on('ifChecked',
                function (e) {
                    if ($(this).valid()) {
                        typeSelectVal = '2' //แก้ไขเพิ่มเติมกรณีตัดโทรคัดกรองออกและเลือกเข้าพบเสมอ
                        cancerVal = $(this).val();
                        switch ($(this).val()) {
                            case '1': //ผ่าน
                                $('.box-cancer-pass').show();
                                $('.box-cancer-notpass').hide();
                                $('input[name=cancerChildNotPass]').iCheck('uncheck');
                                $('textarea[name=cancerChildNotPassOtherRemark]').val('');
                                break;
                            case '0': //ไม่ผ่าน
                                $('.box-cancer-notpass').show();
                                $('.box-cancer-pass').hide();
                                $('.sub-box-cancer-pass').hide();
                                $('input[name=IsSpecify]').iCheck('uncheck');
                                $('input[name=cancerChildPass]').iCheck('uncheck');
                                $('textarea[name=cancerChildPassOtherRemark]').val('');
                                break;
                            default:
                        }
                        showSectionGivecard();
                    }
                });
            //การคัดกรองด้านสุขภาพ-ไม่ผ่าน - child
            $('input[name=cancerChildNotPass').on('ifChecked',
                function (e) {
                    $(this).valid();
                });
            //การคัดกรองด้านสุขภาพ-ผ่าน - child
            $('input[name=cancerChildPass]').on('ifChecked',
                function (e) {
                    if ($(this).valid()) {
                        switch ($(this).val()) {
                            case '1': //ผ่านตามมาตรฐาน
                                $('textarea[name=cancerChildPassOtherRemark]').val('');
                                $('.sub-box-cancer-pass').hide();
                                $('input[name=IsSpecify]').iCheck('uncheck');
                                break;
                            case '0'://ติดข้อยกเว้น
                                $('.sub-box-cancer-pass').show();
                                break;
                            default:
                        }
                    }
                });

            //มีประวัติสุขภาพที่ติดข้อยกเว้น
            $('input[name=IsSpecify]').on('ifChecked', function (e) {
                $(this).valid();
            });
            //ช่องทางการคัดกรอง - child // ใหม่ มอบกรมธรรม์ ให้กับ
            $('#typeSelectChildPayer').on('ifChecked',
                function (e) {
                    $(this).val("payer");
                });
            $('#typeSelectChildCustomer').on('ifChecked',
                function (e) {
                    $(this).val("insure");
                });

            //มีประวัติสุขภาพที่ติดข้อยกเว้น
            $('input[name=IsSpecify_CM]').on('ifChecked', function (e) {
                if ($(this).valid()) {
                    switch ($(this).val()) {
                        case "1":
                            CMSpecify = true;
                            break;
                        case "0":
                            CMSpecify = null;
                            break;
                        default:
                    }
                }
            });
              const InsertQueueCoBrand = () => {
            $.post("@Url.Action("QueueCIResultByQueueIdInsert")", {

                queueId: @ViewBag.QueueFullDetail.QueueId,
                  isBeware: $('input[name=isBeware]:checked').val(),
                bewareRemark: $('#bewareRemark').val(),
                isUnderwritePayer: $('#typeSelectChildPayer').val(),
                isUnderwriteCust: $('#typeSelectChildCustomer').val(),
                giveRemark: $('#remarkisLineOA').val(),
                remark: $('#remarkFrom').val(),
                uRLPath: imgUrlPath,
                physicalPath: imgPhysicalPath,
                fileName: fileImgName,


            }, function (data) {
                debugger
                if (data.IsResult) {
                    //บันทึกมอบกรมธรรม์ เรียบร้อยแล้ว
                    //บันทึกแบบสอบถาม
                    swal({
                        title: "บันทึกข้อมูลเรียบร้อย",
                        text: "",
                        type: "success",
                        showCancelButton: false,
                        showConfirmButton: true,
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        html: false
                    }, function (e) {
                        window.close();
                    });
                } else {
                    swal("เกิดข้อผิดพลาด !", data.Msg, "error");
                    $('#btnSubmit').prop("disabled", false);
                }
             });

            }


            //checkbox cancerChildNotPass
            $('input[name=cancerChildNotPass]').on('ifChanged', function () {
                if ($(this).is(':checked')) {
                    switch ($(this).val()) {
                        case "denyOther":
                            $('textarea[name=cancerChildNotPassOtherRemark]').prop('disabled', false);
                            break;
                        default:
                    }
                } else {
                    switch ($(this).val()) {
                        case "denyOther":
                            $('textarea[name=cancerChildNotPassOtherRemark]').val('');
                            $('textarea[name=cancerChildNotPassOtherRemark]').prop('disabled', true);
                            break
                        default:
                    }
                }
            });
        });

        const SubmitformQuestionCancer = () => {
            $.ajax({
             url: $('#formQuestionCancer').attr('action'),
             type: 'POST',
             data: $('#formQuestionCancer').serialize(),
             success: function (response) {
                 if (response != null && response.IsResult === true) {

                     switch (typeSelectVal) {
                        //ช่องทางโทรคัดกรอง
                         case "3":
                             if (cancerVal === "1") {
                                 swal({
                                     title: "บันทึกข้อมูลเรียบร้อย",
                                     text: "<h3>กรณีโทรคัดกรอง <br>ท่านต้องจัดการมอบกรมธรรม์และปิดคิวงานที่</h3><br><a href='@Url.Action("CancerPoliciesQueue", "CancerPolicies")'><img src='/Content/img/menu04.jpg' style='width: 180px;border: 1px solid;' /></a>",
                                     type: "success",
                                     showCancelButton: false,
                                     showConfirmButton: true,
                                     allowEscapeKey: false,
                                     allowOutsideClick: false,
                                     html: true
                                 }, function (e) {
                                     window.close();
                                 });
                                 break;
                             } else {
                                 swal({
                                     title: "บันทึกข้อมูลเรียบร้อย",
                                     text: "",
                                     type: "success",
                                     showCancelButton: false,
                                     showConfirmButton: true,
                                     allowEscapeKey: false,
                                     allowOutsideClick: false,
                                     html: false
                                 }, function (e) {
                                     window.close();
                                 });
                                 break;
                             }
                         default:
                             swal({
                                 title: "บันทึกข้อมูลเรียบร้อย",
                                 text: "",
                                 type: "success",
                                 showCancelButton: false,
                                 showConfirmButton: true,
                                 allowEscapeKey: false,
                                 allowOutsideClick: false,
                                 html: false
                             }, function (e) {
                                window.close();
                             });
                             break;
                     }
                 } else {
                     swal("บันทึกรายการไม่สำเร็จ กรุณาตรวจสอบข้อมูล", response.Msg , "error");
                 }
             }
             });
        }
        const showSectionGivecard = () => {
            //ผ่านคัดกรอง และ เข้าพบลูกค้า
            if (cancerVal === '1' && typeSelectVal === '2') {
                $('#sectionGivecard').show();
            } else {
                $('#sectionGivecard').hide();
            }
        }
        /***Document**/
        const SeeDoc = (path) => {
            if (!isWindows()) {
                window.location.href = path;
            } else {
                $('#DocDetail_form').children().show();
                //const extension = path.substr(path.length - 4);
                let extension = '';
                const indexPDF = path.indexOf('.pdf');
                const indexJPG = path.indexOf('.jpg');

                if (indexPDF >= 0) extension = '.pdf';
                if (indexJPG >= 0) extension = '.jpg';

                switch (extension) {
                    case '.pdf':
                        $('.SeeDoc').attr('src', path);
                        break;
                    case '.jpg':
                        $('.SeeDoc').attr('src', path);
                        break;
                    default:
                }
            }
        }

        const GetQueueLog_DT = () => {
            $('#tableLog').empty();
            var table = $('#tableLog').DataTable({
                pageLength: 10,
                lengthChange: false,
                processing: true,
                serverSide: true,
                destroy: true,
                searching: false,
                ordering: true,
                info: true,
                paging: true,
                autoWidth: false,
                responsive: true,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.20/i18n/Thai.json'
                },
                ajax: {
                    url: '@Url.Action("QueueLog")',
                    method: 'GET',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search;
                        d.queueId = "@ViewBag.QueueFullDetail.QueueId";
                    }
                },
                columns: [
                    {
                        title: 'วันที่ทำรายการ',
                        data: 'CreatedDate',
                        render: function (data) {
                            return moment(data).format("DD/MM/YYYY HH:mm:ss");
                        }

                    },
                    {
                        title: 'ผู้มอบหมายคิวงาน',
                        data: 'FromEmployeeName'
                    },
                    {
                        title: 'ผู้รับคิวงาน',
                        data: 'ToEmployeeName'
                    },
                    {
                        title: 'รายละเอียด',
                        data: 'TransactionTypeDetail'
                    },
                ]
            });

            window.onresize = function () {
                table.columns.adjust().responsive.recalc();
            };
        }

        const InsertQueueCancerPoliciesInsert = () => {

           $.post("@Url.Action("QueueCancerPoliciesInsert")", {
                queueId: @ViewBag.QueueFullDetail.QueueId,
                giverDate: $('#txtCoBrandDate').val(),
               giveTypeId: $('#select_GiveType').val(),
                giveTypeRemark: $('#txtGiveTypeRemark').val(),
                uRLPath: imgUrlPath,
                physicalPath: imgPhysicalPath,
                fileName: fileImgName,
            }, function (data) {

                if (data.IsResult) {
                    //บันทึกมอบกรมธรรม์ เรียบร้อยแล้ว
                    //บันทึกแบบสอบถาม
                    SubmitformQuestionCancer();
                } else {
                    swal("เกิดข้อผิดพลาด !", data.Msg, "error");
                }
             });
        }

        /*fn get payer other*/
        const getPayerOther = (queueId) => {
            $.get('@Url.Action("GetPayerOtherApp")',
                { queueId: queueId },
                function (data) {
                    if (data.IsResult) {
                        if (data.data.length > 0) {
                            /*declare str*/
                            const str = `ชำระเบี้ยให้อีก ${data.data.length} คน`;
                            /*show button*/
                            $('#btnPayerOther').show();
                            /*set str to text button*/
                            $('#btnPayerOther').text(str);
                            /*load datatables*/
                            loadDatatablesPayerOther(data.data);
                        }
                    } else {
                        swal("เกิดข้อผิดพลาด !", data.Msg, "error");
                    }
                });
        }

        const ValidateSave = () => {

              if ($('input[name=isBeware]:checked').val() == "1") {
                $('#bewareRemark').prop('required', true);
                //$('#bewareRemark').valid();
            }

                return true;
        }

        $('input[name=isBeware]').on('ifChecked',
            function (e) {
                if ($(this).valid()) {
                    switch ($(this).val()) {
                        case '0': //ไมีมี
                            $('#bewareRemarkLabel').hide();
                            break;
                        case '1': //มี
                            $('#bewareRemarkLabel').show();
                            break;
                        default:
                    }
                }
            }
        )

        $('input[name=isBeware]').on('ifChecked',
            function (e) {
                if ($(this).valid()) {
                    switch ($(this).val()) {
                        case '0': //ไมีมี
                            $('#bewareRemarkLabel').hide();
                            break;
                        case '1': //มี
                            $('#bewareRemarkLabel').show();
                            break;
                        default:
                    }
                }
            }
        )
        /*load datatables payer other*/
        const loadDatatablesPayerOther = (data) => {
            $('#tablePayerOther').empty();
            $('#tablePayerOther').DataTable({
                pageLength: 100,
                processing: true,
                serverSide: false,
                autoWidth: false,
                responsive: true,
                destroy: true,
                lengthChange: false,
                searching: false,
                info: true,
                paging: true,
                data: data,
                language: {
                    url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Thai.json"
                },
                columns: [
                    {
                        title: 'เลข App',
                        data: 'ApplicationCode',
                        orderable: false,
                        render: (data) => {
                            return `<a href="#" target="_blank" id="openSSS" style="text-decoration: underline; color: #2833FF " onclick="OpenSSS('${data}')">${data}</a>`
                                            }
                                            },
                    {
                        title: 'ชื่อ-สกุลผู้เอาประกัน',
                        data: 'InsuredName',
                        orderable: false,
                    },
                    {
                        title: 'ชื่อ-สกุลผู้ชำระเบี้ย',
                        data: 'PayerName',
                        orderable: false,
                    },

                    {
                        title: 'สถานะ',
                        data: 'ApplicationStatus',
                        orderable: false
                    }
                ]
            });
        }
    </script>
    <script type="text/javascript">

        $("#sectionGiveCardFrom").validate({

            rules:
            {
                bewareRemark: { required: true },
                typeSelectChild: { required: true },

            },
            messages:
            {


                typeSelectChild: {
                    required: "กรุณาเลือก.."
                },
                bewareRemark: {
                    required: "กรุณาเลือก.."
                },


            },
            errorPlacement: function (error, element) {
                if (element.is(":radio")) {
                    error.prependTo(element.parents('.radio-check'));
                } else if (element.is(":checkbox")) {
                    error.prependTo(element.parents('.typeSelectChildxx'));
                } else if (element.is(".healthChildPassOtherRemark")) {
                    error.prependTo(element.parents('.answerList'));
                }
                else { // This is the default behavior
                    error.insertAfter(element);
                }
            }
        });

        $("#sectionGiveCardFrom_2").validate({

            rules:
            {
                typeSelectChild: { required: true },
                isLineOA: { required: true },
                txtCoBrand: { required: true },
                bewareRemark: { required: true },
                isBeware: { required: true },
            },
            messages:
            {

                txtCoBrand: {
                    required: "โปรดระบุ.."
                },
                bewareRemark: {
                    required: "โปรดระบุ.."
                },
                isLineOA: {
                    required: "กรุณาเลือก.."
                },
                typeSelectChild: {
                    required: "กรุณาเลือก.."
                }, isBeware: {
                    required: "กรุณาเลือก.."
                }

            },
            errorPlacement: function (error, element) {
                if (element.is(":radio")) {
                    error.prependTo(element.parents('.radio-check'));
                } else if (element.is(":checkbox")) {
                    error.prependTo(element.parents('.typeSelectChildxx'));
                } else if (element.is(".healthChildPassOtherRemark")) {
                    error.prependTo(element.parents('.answerList'));
                }
                else { // This is the default behavior
                    error.insertAfter(element);
                }
            }
        });
        const swal_confirm3 = (title, text, success, cancel) => {
            window.swal({
                title: title,
                text: text,
                type: 'info',
                showCancelButton: true,
                confirmButtonColor: '#277020',
                confirmButtonText: 'ตกลง',
                cancelButtonText: 'ยกเลิก',
                closeOnConfirm: false,
                closeOnEsc: false

            }, (IsConfirm) => {
                if (IsConfirm) {
                    if (typeof success === "function") {

                        // Disable the confirm button
                        $(".confirm").prop("disabled", true);

                        // Execute the success callback
                        success();
                    }
                } else {
                    if (typeof cancel === "function") {
                        // Execute the cancel callback
                        cancel();
                    }
                }
            });
        };
    </script>


}

