
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <div class="box box-default" style="@(ViewBag.Msg == "Create" ? "border-color:#48b091":"border-color:#7792a6")">
            <div class="box-header " style="background-color:white">
                @if (ViewBag.Msg == "Create")
                {

                    <div class="breadcrumb" style="background-color:#48b091" >
                        <b style="font-size:large;color:white"> รายละเอียดหน่วยงาน
                        </b>
                    </div>

                }
                else
                {
                    <div class="breadcrumb" style="background-color:#7792a6">
                        <b style="font-size:large;color:white">
                            <i class="fa fa-pencil">
                            </i> รหัสรายการ : <span id="lblOrganizeCode"></span>
                        </b>
                    </div>
                }
                <div class="box-tools pull-right" style="margin-right:1%;margin-top:1%">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus " style="color:white"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" >
                <div class="col-sm-12" style="margin-left:1%">
                    <div class="row" >
                        <div class="col-sm-3 ">
                            <label>ประเภทหน่วยงาน <b class="text-red">*</b> :</label>
                            <select class="form-control select2" id="ddlOrganizeTypeId" disabled>
                                @{
                                    foreach (var item in ViewBag.OrganizeType)
                                    {
                                        <option value="@item.OrganizeTypeId">@item.OrganizeType</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top:1%">
                        <div class="col-sm-3 ">
                            <label>ประเภทย่อยหน่วยงาน <b class="text-red">*</b> :</label>
                            <select class="form-control select2" id="ddlOrganizeSubTypeId">
                                <option value="-1">---เลือกประเภท---</option>
                            </select>
                        </div>
                    </div>
                   
                    <div class="row" style="padding-top:1%">

                        <div class="col-sm-3 ">
                            <label>ที่อยู่ เลขที่ : </label>
                            <input class="form-control" type="text" placeholder="เลขที่" id="txtNo" />
                        </div>
                        <div class="col-sm-2">
                            <label>หมู่ที่ : </label>
                            <input class="form-control" type="text" placeholder="หมู่ที่ " id="txtMoo" />
                        </div>
                        <div class="col-sm-4">
                            <label>หมู่บ้าน/ อาคาร : </label>
                            <input class="form-control" type="text" placeholder="หมู่บ้าน, อาคาร" id="txtVillageName" />
                        </div>
                        <div class="col-sm-2">
                            <label>ชั้น :</label>
                            <input class="form-control" type="text" placeholder="ชั้น " id="txtFloor" />
                        </div>
                    </div>
                    <div class="row" style="padding-top:1%">

                        <div class="col-sm-3 ">
                            <label>ซอย : </label>
                            <input class="form-control" type="text" placeholder="ซอย, ตรอก, แยก" id="txtSoi" />
                        </div>
                        <div class="col-sm-3">
                            <label>ถนน : </label>
                            <input class="form-control" type="text" placeholder="ถนน" id="txtRoad" />
                        </div>
                    </div>
                    <div class="row" style="padding-top:1%">

                        <div class="col-sm-3 ">
                            <label>ตำบล <b class="text-red">*</b> :</label>
                            <select class="form-control select2" id="txtSubDistrictCode">
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label>อำเภอ <b class="text-red">*</b> : </label>
                            <input class="form-control" id="txtDistrict" type="text" readonly />
                        </div>
                        <div class="col-sm-3">
                            <label>จังหวัด <b class="text-red">*</b> : </label>
                            <input class="form-control" id="txtProvince" type="text" readonly />
                        </div>
                        <div class="col-sm-2">
                            <label>รหัสไปรษณีย์ <b class="text-red">*</b> : </label>
                            <input class="form-control" id="txtZipCode" type="text" readonly />
                        </div>
                    </div>
                    
                    <div class="row" style="padding-top:2%">
                        <div class="col-sm-5">
                            <label>ชื่อหน่วยงาน <b class="text-red">*</b> :</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-institution" style="color:steelblue"></i></span>
                                <input class="form-control" type="text" id="txtOrganizeDetail" placeholder="พิมพ์ตัวอักษรอย่างน้อย 4 ตัว" />
                            </div>
                        </div>
                        <div class="col-sm-2" style="padding-top:25px">
                            <button class="btn btn-block bg-blue-active" id="btnCheck">ตรวจสอบรายชื่อ</button>
                        </div>

                        <div class="col-sm-4" >
                            <label>เลขประจำตัวผู้เสียภาษีอากร :</label>
                            <input type="text" class="form-control" id="txtTaxNumber" placeholder="เลขประจำตัวผู้เสียภาษีอากร" />
                        </div>
                    </div>
                    <div class="row" style="padding-top:1%;display:none" id="duplicateShow">

                        <div class="col-sm-2" style="padding-top:4px">
                            <label> พบชื่อใกล้เคียง <b class="text-primary"><span class="text-red"><span id="dupCount"></span> รายการ</span></b></label>
                            <i class="fa fa-exclamation " style="color:orangered;"></i>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-block btn-sm bg-orange" id="btnDuplicate"><i class="fa fa-eye"></i> ดูเพิ่มเติม</button>
                        </div>
                    </div>
                    <div class="row" style="display:none" id="noDuplicateShow">
                        <div class="col-sm-2" style="padding-top:4px">
                            <label><i class="fa fa-check-circle fa-2x" style="color:limegreen"></i> ไม่พบชื่อใกล้เคียง</label>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12">
                    <hr />
                    <div class="row " style="padding-bottom:1%">
                        <div class="col-sm-12 text-center">
                            <button class="btn btn-linkedin" id="btnSave" style="font-size:large;width:16%">บันทึก</button>
                            <button class="btn btn-danger" id="btnCancel" style="font-size:large;width:16%;margin-left:3%">ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="box box-solid" >
            <div class="box-header " style="background-color:#3e95c7">
                    <b style="font-size:large;color:white"><i class="fa fa-file-text-o"></i> รายการเอกสาร</b>
                </div>
                <div class="box-body">
                    <table id="dtDocument" class="table table-bordered dataTable table-hover" style="width:100%"></table>
                </div>
            </div>

    </div>
</div>
<!-- Modal duplicate name-->

<div class="modal fade bd-example-modal-lg" id="modalDuplicate" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center" style="background-color:#eba146;margin-top:10%">
                <span style="font-size:large;color:white">รายการชื่อหน่วยงานที่ใกล้เคียง</span>
            </div>
            <div class="modal-body">
                <table id="dtDuplicateList" class="table table-bordered dataTable" style="width:100%"></table>
            </div>
            <div class="modal-footer " style="text-align:center">
                <button type="button" class="btn bg-orange" style="width:100px" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>




@section ViewSpecificJavascript
{
    <script type="text/javascript">

        var chat = $.connection.myHub;
        var userID;

        //check duplicate organizeDetail
        var dupCount;

        //Old Data to check Is data change or not??
        var oldOrganizeTypeId;
        var oldOrganizeSubTypeId;
        var oldOrganizeDetail;
        var oldNo;
        var oldMoo;
        var oldVillageName;
        var oldFloor;
        var oldSoi;
        var oldRoad;
        var oldSubdistrict;
        var oldTaxNumber;

        $(function () {
            //Start Connection
            $.connection.hub.start().done(function () {

          $('#btnSave').click(function (e) {
              e.preventDefault();
              if (IsValid()) {
                  swal({
                      title: "ยืนยัน ?",
                      text: "ยืนยันการบันทึกข้อมูลหน่วยงาน ?",
                      type: "warning",
                      showCancelButton: true,
                      confirmButtonClass: "btn-danger",
                      confirmButtonText: "ตกลง",
                      cancelButtonText: "ยกเลิก",
                      closeOnConfirm: false
                  },
                      function () {

                          if ('@ViewBag.Msg' == 'Create') InsertWorkplace();

                          else UpdateWorkplace();

                      }
                  )
              }
          });

            });

        });

        $(function () {

            ReLoad();
            $('.select2').select2();

            userID = '@ViewBag.userID';

            $('#txtOrganizeDetail').keyup(function (e) {

                    dupCount = null;

                var name = $('#txtOrganizeDetail').val().trim();

                if (name.length >= 4) {
                    $('#btnCheck').attr('disabled', false);

                    if (e.keyCode === 13 || e.which == 13) {
                        e.preventDefault();
                        $('#btnCheck').click();
                     }

                }
                else {
                    $('#btnCheck').attr('disabled', true);
                }

            });

            $('#txtSubDistrictCode').select2({
                ajax: {
                        url: '@Url.Action("ProvinceDistrictSubDistrict", "Address")',
                        dataType: 'json',
                        delay: 250,

                        data: function (params) {
                            return {
                                q: params.term, // search term
                                page: params.page
                            };
                        },
                        processResults: processAddressData,
                        cache: true
                     },
                    placeholder: 'ค้นหารายการ',
                    escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                    minimumInputLength: 2,

                    //templateResult: formatRepo,
                    templateSelection: formatAddressRepoSelection,
                    selectOnClose: true,
            });

            $('#txtSubDistrictCode').change(function (e) {
                e.preventDefault();
                GetAllAddress();
                dupCount = null;
            });

            $('#ddlOrganizeTypeId').change(function (e) {
                e.preventDefault();
                GetOrganizeSubTypeByOrganizeTypeId();
            });

            $('#ddlOrganizeSubTypeId').change(function (e) {
                e.preventDefault();
                dupCount = null;
            });


        $('#btnDuplicate').click(function (e) {
            e.preventDefault();
            DoLoadDuplicateList();
            $('#modalDuplicate').modal('show');
        });

        $('#btnCancel').click(function (e) {
            e.preventDefault();
            e.preventDefault();
            swal({
                title: "ยืนยัน",
                text: "คุณต้องการปิดหน้านี้ ?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "ตกลง",
                cancelButtonText: "ยกเลิก",
                closeOnConfirm: false
            },
                function () {
                    window.close();
                }
            )

        });


         $('#btnCheck').click(function (e) {
             e.preventDefault();
             if ($('#ddlOrganizeTypeId').val() == -1) swal('ตรวจสอบ', 'กรุณาเลือกประเภทหน่วยงาน', 'warning');
             else if ($('#ddlOrganizeSubTypeId').val() == -1) swal('ตรวจสอบ', 'กรุณาเลือกประเภทย่อยหน่วยงาน','warning');
             else if ($('#txtDistrict').val() == '') swal('ตรวจสอบ', 'กรุณาเลือกตำบล อำเภอ จังหวัด และรหัสไปรษณีย์', 'warning');
             else if (ValidateName($('#txtOrganizeDetail').val())) swal('ตรวจสอบ', 'ชื่อหน่วยงานต้องเป็น [ก-ฮ],[a-z],[A-Z],[0-9] เท่านั้น', 'error');
             else CheckDuplicateWorkplaceName();

           });


          setInterval(
               function () {
                  ValidationBtn();
                 },
               300
          );

        })


        function ReLoad(){
            $('#btnCheck').attr('disabled', true);

            if ('@ViewBag.Msg' !== "Create") {
                // dupCount = 0;
                GetWorkplaceDetailById();
                DoLoadDocument('@ViewBag.Msg');
            } else {
                GetOrganizeSubTypeByOrganizeTypeId();
            }

        }

        function GetOrganizeSubTypeByOrganizeTypeId() {
            $('#ddlOrganizeSubTypeId').empty();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetOrganizeSubTypeByOrganizeTypeId", "Workplace")",
                data: {
                    organizeTypeId: 24,
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    $("#ddlOrganizeSubTypeId").append(`<option value="-1">---เลือกประเภท---</option>`);
                    for (var i = 0; i < response.length; i++) {
                        $("#ddlOrganizeSubTypeId").append(`<option value="${response[i].OrganizeSubTypeId}">${response[i].OrganizeSubType}</option>`);
                    }
                }
            });
        }

         function GetWorkplaceDetailById() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetOrganizeDetailById", "Workplace")",
                data: {
                    organizeId: '@ViewBag.Msg',

                },
                async: false,
                dataType: "json",
                success: function (response) {
                    $('#lblOrganizeCode').text(response.OrganizeCode);

                    if (response.OrganizeType_ID == null || response.OrganizeType_ID == '')
                        $('#ddlOrganizeTypeId').val(-1).trigger('change.select2');
                    else
                        $('#ddlOrganizeTypeId').val(response.OrganizeType_ID).trigger('change.select2');

                    GetOrganizeSubTypeByOrganizeTypeId();

                    if (response.OrganizeSubTypeId == null || response.OrganizeSubTypeId == '')
                        $('#ddlOrganizeSubTypeId').val(-1).trigger('change.select2');
                    else
                        $('#ddlOrganizeSubTypeId').val(response.OrganizeSubTypeId).trigger('change.select2');

                    $('#txtOrganizeDetail').val(response.OrganizeDetail);
                    $('#txtVillageName').val(response.VillageName);
                    $('#txtNo').val(response.No);
                    $('#txtMoo').val(response.Moo);
                    $('#txtFloor').val(response.Floor);
                    $('#txtSoi').val(response.Soi);
                    $('#txtRoad').val(response.Road);
                    $('#txtTaxNumber').val(response.TaxNumber);

                    if (response.SubDistrict_ID != null) {
                        var subDistrict = new Option(response.SubDistrictDetail, response.SubDistrict_ID, true, true);
                        $('#txtSubDistrictCode').append(subDistrict).trigger('change');
                    }

                    $('#txtDistrict').val(response.DistrictDetail);
                    $('#txtProvince').val(response.ProvinceDetail);
                    $('#txtZipCode').val(response.ZipCode);

                    oldOrganizeTypeId = response.OrganizeType_ID;
                    oldOrganizeSubTypeId = response.OrganizeSubTypeId;
                    oldOrganizeDetail = response.OrganizeDetail;
                    oldNo = response.No;
                    oldMoo = response.Moo;
                    oldVillageName = response.VillageName;
                    oldFloor = response.Floor;
                    oldSoi = response.Soi;
                    oldRoad = response.Road;
                    oldSubdistrict = response.SubDistrict_ID;

                    if (response.TaxNumber == null) oldTaxNumber = "";
                    else oldTaxNumber = response.TaxNumber;

                }
            });
        }


       //-------------------------------------------- Datatable-----------------------------------------------

        function DoLoadDocument(id) {

            $('#dtDocument').empty();
                var t = $('#dtDocument').dataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                "order": [[0, "desc"]],
                searching:false,
                ajax: {
                    url: '@Url.Action("GetWorkplaceDocument", "Workplace")',

                    type: 'POST',
                    async: false,
                    data: function (d) {

                        d.referenceId = id ;
                        d.documentTypeIdList = "39,40,41";
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;

                    }
                },
                columns: [
                    { title: 'รหัสเอกสาร', data: 'DocumentCode', className: 'h-dt-center ' },
                    { title: 'ประเภทเอกสาร', data: 'DocumentType', className: 'h-dt-center ' },
                    {
                        title: 'ดูเอกสาร',
                        className: 'h-dt-center text-center',
                        data: null,
                        width: '30%',
                        mRender: (data, type, full) => {
                            return '<a class="btn bg-teal" type="button" href="'+data.UrlScan+'" target="_blank">Scan</a>' +
                                '<a class="btn bg-aqua" type="button" href="'+data.UrlLinkOpen+'" target="_blank" style="margin-left:2%">ดูเอกสาร</a>';
                        }
                    }
                ],
                bLengthChange: false,
            });
        }

        function DoLoadDuplicateList() {

            var organizeId = '@ViewBag.Msg';
            if ('@ViewBag' == 'Create') {
                organizeId = null;
            }

            $('#dtDuplicateList').empty();
            var t = $('#dtDuplicateList').dataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                autoWidth: false,
                "order": [[0, "desc"]],
                searching:false,
                ajax: {
                    url: '@Url.Action("GetDuplicateWorkplaceNameDetail", "Workplace")',

                    type: 'POST',
                    async: false,
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;

                        d.organizeId = organizeId,
                        d.subDistrictCode = $('#txtSubDistrictCode').val(),
                        d.organizeTypeId = $('#ddlOrganizeTypeId').val(),
                        d.organizeSubTypeId = $('#ddlOrganizeSubTypeId').val(),
                        d.searchDetail = $('#txtOrganizeDetail').val().trim()
                    }
                },
                columns: [
                    { title: 'Organize Code', data: 'OrganizeCode', className: 'h-dt-center text-font-small' },
                    { title: 'ชื่อหน่วยงาน', data: 'OrganizeDetail', className: 'h-dt-center text-font-small' },
                    { title: 'ที่อยู่', data: 'AddressDetail', className: 'h-dt-center text-font-small' },
                    { title: 'ตำบล', data: 'SubDistrictDetail', className: 'h-dt-center text-font-small'},
                    { title: 'อำเภอ', data: 'DistrictDetail', className: 'h-dt-center text-font-small' },
                    { title: 'จังหวัด', data: 'ProvinceDetail', className: 'h-dt-center text-font-small' },
                    {
                        title: 'สถานะการใช้งาน', data: 'IsActive', className: 'h-dt-center text-center text-font-small', width: '12%',
                        mRender: function (data) {
                            switch (data) {
                                case true:
                                    return '<span class="text-green">ใช้งาน</span>';
                                    break;
                                case false:
                                    return '<span class="text-red">ไม่ใช้งาน</span>';
                                    break;
                            }

                        }
                    },
                ],
                bLengthChange: false,
            });
        }

          //------------------------------------End  Datatable-------------------------------------


        function processAddressData(data) {
            var mapdata = $.map(data, function (obj) {
                obj.id = obj.SubDistrictId;
                obj.text = `${obj.SubDistrictDetail} > ${obj.DistrictDetail} > ${obj.ProvinceDetail} > ${obj.ZipCode}`;
                return obj;
            });
            return { results: mapdata };
        }

        function formatAddressRepoSelection(repo) {
            return repo.SubDistrictDetail || repo.text;
        }

        function GetAllAddress() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("ProvinceDistrictSubDistrict", "Address")",
                data: {
                    subDistrictId: $('#txtSubDistrictCode').val()
                },
                async: false,
                dataType: "json",
                success: function (response) {

                    $('#txtDistrict').val(response[0].DistrictDetail);
                    $('#txtProvince').val(response[0].ProvinceDetail);
                    $('#txtZipCode').val(response[0].ZipCode);

                }
            });
        }


        function InsertWorkplace() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("InsertOrganizeWorkplace", "Workplace")",
                data: {
                    organizeTypeId: $('#ddlOrganizeTypeId').val(),
                    organizeDetail: $('#txtOrganizeDetail').val().trim(),
                    buildingName: $('#txtOrganizeDetail').val(),
                    villageName: $('#txtVillageName').val(),
                    no: $('#txtNo').val(),
                    moo: $('#txtMoo').val(),
                    floor: $('#txtFloor').val(),
                    soi: $('#txtSoi').val(),
                    road: $('#txtRoad').val(),
                    subDistrictCode: $('#txtSubDistrictCode').val(),
                    zipCode: $('#txtZipCode').val(),
                    organizeSubTypeId: $('#ddlOrganizeSubTypeId').val(),
                    taxNumber: $('#txtTaxNumber').val()
                },
                async: false,
                dataType: "json",
                success: function (response) {

                    if (response.IsResult == false) {
                        swal('พบข้อผิดพลาด', response.Msg, 'error')
                    }
                    else
                    {
                        chat.server.sendNoticeGroup("เพิ่มข้อมูล", "", userID);

                        swal('สำเร็จ', 'เพิ่มหน่วยงานสำเร็จ', 'success')
                        DoLoadDocument(parseInt(response.Result));
                        DisableInput();
                        dupCount = null;
                        $('#noDuplicateShow').css('display', 'none');
                        $('#duplicateShow').css('display', 'none');
                    }

                },

                error: function (err) {
                    alert(err);
                }
            });
        }

        function UpdateWorkplace() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateOrganizeWorkplace", "Workplace")",
                data: {
                    organizeId: '@ViewBag.Msg',
                    organizeTypeId: $('#ddlOrganizeTypeId').val(),
                    organizeDetail: $('#txtOrganizeDetail').val().trim(),
                    buildingName: $('#txtOrganizeDetail').val(),
                    villageName: $('#txtVillageName').val(),
                    no: $('#txtNo').val(),
                    moo: $('#txtMoo').val(),
                    floor: $('#txtFloor').val(),
                    soi: $('#txtSoi').val(),
                    road: $('#txtRoad').val(),
                    subDistrictCode: $('#txtSubDistrictCode').val(),
                    zipCode: $('#txtZipCode').val(),
                    organizeSubTypeId: $('#ddlOrganizeSubTypeId').val(),
                    taxNumber: $('#txtTaxNumber').val()
                },
                async: false,
                dataType: "json",
                success: function (response) {

                    if (response.IsResult == true) {
                        chat.server.sendNoticeGroup("อัพเดตข้อมูล", "", userID);

                        swal('สำเร็จ', 'บันทึกการเปลี่ยนแปลงสำเร็จ', 'success');
                        DoLoadDocument('@ViewBag.Msg');
                        GetWorkplaceDetailById();
                        $('#noDuplicateShow').css('display', 'none');
                        $('#duplicateShow').css('display', 'none');
                    } else {

                        swal('ไม่สำเร็จ', response.Msg, 'error');
                    }
                },

                error: function (err) {
                    alert(err);
                }
            });
        }

        function CheckDuplicateWorkplaceName() {
            var organizeId = '@ViewBag.Msg';
            if ('@ViewBag' == 'Create') {
                organizeId = null;
            }

            $.ajax({
                type: "GET",
                url: "@Url.Action("CheckDuplicateWorkplaceName", "Workplace")",
                data: {
                    organizeId: organizeId,
                    subDistrictCode: $('#txtSubDistrictCode').val(),
                    organizeTypeId: $('#ddlOrganizeTypeId').val(),
                    organizeSubTypeId: $('#ddlOrganizeSubTypeId').val(),
                    searchDetail: $('#txtOrganizeDetail').val().trim()
                },
                async: false,
                dataType: "json",
                success: function (response) {

                    dupCount = response.length;
                    $('#dupCount').text(dupCount);

                    if (response.length == 0) {
                        $('#noDuplicateShow').css('display', '');
                        $('#duplicateShow').css('display', 'none');
                    }
                    else
                    {
                        $('#noDuplicateShow').css('display', 'none');
                        $('#duplicateShow').css('display', '');
                    }

                }
            });
        }

        function ValidationBtn() {
            let mode = '@ViewBag.Msg'

            //เปิดปุ่มตรวจสอบ
            if ($('#txtOrganizeDetail').val().trim().length > 3) {
                $('#btnCheck').attr('disabled', false);
            }
            else {
                $('#btnCheck').attr('disabled', true);
            }

            //create Mode
            if (mode == 'Create') {
                if (
                    $('#txtDistrict').val() !== ''
                    && $('#txtOrganizeDetail').val().trim() !== ''
                    && $('#txtOrganizeDetail').val().trim().length > 3
                    && $('#ddlOrganizeTypeId').val() !== -1
                    && $('#ddlOrganizeSubTypeId').val() !== -1
                    && (dupCount == 0 || dupCount > 0)
                ) {
                    $('#btnSave').attr('disabled', false);
                }
                else {
                    $('#btnSave').attr('disabled', true);
                    $('#noDuplicateShow').css('display', 'none');
                    $('#duplicateShow').css('display', 'none');
                }

                if (dupCount > 0 ) {
                    $('#duplicateShow').css('display', '');
                }
            }

            //Edit Mode
            else {
                 //case 1 มีการแก้ไขข้อมูล
                if (
                    (parseInt($('#ddlOrganizeTypeId').val()) == oldOrganizeTypeId || $('#ddlOrganizeTypeId').val() == -1)
                    && (parseInt($('#ddlOrganizeSubTypeId').val()) == oldOrganizeSubTypeId || $('#ddlOrganizeSubTypeId').val() == -1)
                    && $('#txtOrganizeDetail').val().trim() == oldOrganizeDetail
                    && $('#txtVillageName').val().trim() == oldVillageName
                    && $('#txtNo').val().trim() == oldNo
                    && $('#txtMoo').val().trim() == oldMoo
                    && $('#txtFloor').val().trim() == oldFloor
                    && $('#txtSoi').val().trim() == oldSoi
                    && $('#txtRoad').val().trim() == oldRoad
                    && $('#txtTaxNumber').val().trim() == oldTaxNumber
                    && $('#txtSubDistrictCode').val() == oldSubdistrict)
                {
                    dupCount = null;
                    $('#noDuplicateShow').css('display', 'none');
                    $('#duplicateShow').css('display', 'none');
                    $('#btnSave').attr('disabled', true);
                    $('#btnCheck').attr('disabled', true);
                }
                else {
                    $('#btnCheck').attr('disabled', true);
                    $('#btnSave').attr('disabled', false);
                }

                //case 2 แก้ไขประเภทหน่วยงาน ตำบล ชื่อ ต้องเปิดปุ่มตรวจสอบ
                if (parseInt($('#ddlOrganizeTypeId').val()) !== oldOrganizeTypeId
                    || parseInt($('#ddlOrganizeSubTypeId').val()) !== oldOrganizeSubTypeId
                    || $('#txtOrganizeDetail').val() !== oldOrganizeDetail
                    || $('#txtSubDistrictCode').val() !== oldSubdistrict)
                {
                    $('#noDuplicateShow').css('display', 'none');
                    $('#duplicateShow').css('display', 'none');
                             $('#btnSave').attr('disabled', true);
                             $('#btnCheck').attr('disabled', false);
                        }

                //case3 เปิดปุ่ม save เมื่อกดตรวจสอบแล้ว
                if (dupCount == 0 || dupCount > 0) {
                    $('#btnSave').attr('disabled', false);
                }

                //เช็คซ้ำถ้าชื่อหน่วยงาน เป็นค่าว่าง
                if ($('#txtOrganizeDetail').val().trim() == '') {

                    $('#btnSave').attr('disabled', true);
                    $('#btnCheck').attr('disabled', true);
                }

                if (dupCount > 0) {
                    $('#duplicateShow').css('display', '');
                }
                if (dupCount == 0) {
                    $('#noDuplicateShow').css('display', '');
                }

                     }
        }

        //--------------------------Validate---------------------------------


        function IsValid() {
            if ($('#txtTaxNumber').val() != "" &&  $('#txtTaxNumber').val() != "-") {
                if (!/^[0-9]+$/.test($('#txtTaxNumber').val())) {
                    swal('ตรวจสอบ', 'เลขประจำตัวผู้เสียภาษีอากร ต้องเป็นตัวเลขเท่านั้น', 'error')
                    return false
                }
            }
            if ($('#txtMoo').val() != "" && $('#txtMoo').val() != "-") {
                if (!/^[0-9]+$/.test($('#txtMoo').val())) {
                    swal('ตรวจสอบ', 'หมู่ที่ ต้องเป็นตัวเลขเท่านั้น', 'error')
                    return false
                }
            }
            return true
        }

        function ValidateName(name) {
            const re = /[!@@#$%^*+_,/<>?":{}|<>]/g
            return re.test(String(name));
        }

        function DisableInput() {

            $('#btnSave').attr('disabled', true);
            $('#btnCheck').attr('disabled', true);
            $('#ddlOrganizeTypeId').attr('disabled', true);
            $('#txtOrganizeDetail').attr('disabled', true);
            $('#txtVillageName').attr('disabled', true);
            $('#txtNo').attr('disabled', true);
            $('#txtMoo').attr('disabled', true);
            $('#txtFloor').attr('disabled', true);
            $('#txtSoi').attr('disabled', true);
            $('#txtRoad').attr('disabled', true);
            $('#txtSubDistrictCode').attr('disabled', true);
            $('#txtZipCode').attr('disabled', true);
            $('#ddlOrganizeSubTypeId').attr('disabled', true);
            $('#txtTaxNumber').attr('disabled', true);
        }


    </script>

}