@{
    ViewBag.Title = "Add Community";
    Layout = "~/Views/Shared/_MasterApplication.cshtml";
}
<style>
    .bgButton {
        text-align: center;
        background-color: #337ab7;
        cursor: pointer;
        /*height: 69px;*/
        position: fixed;
        bottom: 0;
        left: 0;
        margin-top: 50px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-primary text-white">
            <h3>เพิ่มข้อมูลชุมชน</h3>
        </div>
    </div>
    <br />
    <form class="form-horizontal" id="addCommunity" name="addCommunity" action="@Url.Action("AddNewCommunity")" method="post">
        <fieldset>
            <div class="container-fluid">
                @if (@ViewBag.message != null)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div id="alertMsg" class="alert alert-danger alert-warning" style="display: none">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-ban"></i> เตือน!</h4>
                                    @ViewBag.message
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" for="input_community">ชื่อชุมชน/ชื่อหมู่บ้าน :</label>
                            <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
                                <input type="text" name="input_community" id="input_community" class="form-control" required="required" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" for="input_name">ชื่อผู้ติดต่อ :</label>
                            <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
                                <input type="text" name="input_name" id="input_name" class="form-control" required="required" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" for="input_phone">เบอร์โทรศัพท์ :</label>
                            <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
                                <input type="text" name="input_phone" id="input_phone" class="form-control" required="required" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3" for="input_email">E-mail :</label>
                            <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
                                <input type="text" name="input_email" id="input_email" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group form-group-lg" style="text-align: center">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <button type="button" id="btnAddress" name="btnAddress" data-toggle="modal" href="#modal-id" class="btn btn-info">
                                    <span>+เพิ่มที่อยู่</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group form-group-lg" style="text-align: center">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="text" name="input_Address" id="input_Address" class="form-control" readonly="readonly" required="required" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- element ที่ซ่อนไว้เพื่อใช้เก็บค่า-->
                <input type="hidden" id="createby" name="createby" value="@ViewBag.empCode" />
                <input type="hidden" id="HomeNumber" name="HomeNumber" />
                <input type="hidden" id="HomeCompany" name="HomeCompany" />
                <input type="hidden" id="HomeVillageName" name="HomeVillageName" />
                <input type="hidden" id="HomeVillageNo" name="HomeVillageNo" />
                <input type="hidden" id="HomeFloor" name="HomeFloor" />
                <input type="hidden" id="HomeAlley" name="HomeAlley" />
                <input type="hidden" id="HomeRoad" name="HomeRoad" value="" />
                <input type="hidden" id="HomeProvinceId" name="HomeProvinceId" />
                <input type="hidden" id="HomeDistrictId" name="HomeDistrictId" />
                <input type="hidden" id="HomeTambol" name="HomeTambol" />
                <input type="hidden" id="HomeCode" name="HomeCode" />
                <input type="hidden" id="hidden_districtId" name="hidden_districtId" />
                <input type="hidden" id="hidden_subdistrictId" name="hidden_subdistrictId" />
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bgButton">
                        <button type="submit" class="btnNext" style="width: 100%">บันทึกข้อมูล</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

@* modal *@
<form class="form-horizontal" id="modal-Address">
    <div class="modal fade" id="modal-id">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">ที่อยู่</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_division">หน่วยงาน</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <input type="text" id="modal_division" name="modal_division" class="form-control"
                                               placeholder="หน่วยงาน">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_village">หมู่บ้าน</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <input type="text" id="modal_village" name="modal_village" class="form-control"
                                               placeholder="หมู่บ้าน">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_no">เลขที่</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <input type="text" id="modal_no" name="modal_no" class="form-control"
                                               placeholder="หมู่เลขที่" required="required">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_moo">หมู่ที่</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <input type="text" id="modal_moo" name="modal_moo" class="form-control"
                                               placeholder="หมู่ที่" required="required">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_floor">ชั้น</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <input type="text" id="modal_floor" name="modal_floor" class="form-control"
                                               placeholder="ชั้น">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_road">ถนน</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <input type="text" id="modal_road" name="modal_road" class="form-control"
                                               placeholder="ถนน">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_alley">ซอย</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <input type="text" id="modal_alley" name="modal_alley" class="form-control"
                                               placeholder="ซอย">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_province">จังหวัด</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <select name="modal_province" id="modal_province" class="form-control select2 checkNA" style="width: 100%">
                                            @foreach (var item in ViewBag.ProvinceList)
                                            {
                                                <option value="@item.Province_ID" )>@item.ProvinceDetail</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_district">อำเภอ</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <select name="modal_district" id="modal_district" class="form-control select2 checkNA" style="width: 100%"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_subdistrict">ตำบล</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <select name="modal_subdistrict" id="modal_subdistrict" class="form-control select2 checkNA" style="width: 100%"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_zipcode">รหัสไปรษณีย์</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <input type="number" value="" name="modal_zipcode" id="modal_zipcode" class="form-control" placeholder="รหัสไปรษณีย์" required="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <div class="clearfix "></div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group form-group-lg">
                                <div class="col-xs-6 col-sm-6  col-md-6 col-lg-6  Asetmarginformcontrol">
                                    <button type="button" class="btn btn-primary" name="modal_save" id="modal_save">Save</button>
                                </div>
                                <div class="col-xs-6 col-sm-6  col-md-6 col-lg-6  Asetmarginformcontrol setleftt">
                                    <button type="button" class="btn btn-default" name="modal_close" id="modal_close" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@* modal *@

@section scripts
{
    <script type="text/javascript">

        $(function () {
            GetDistrict($('#modal_province').val());

            $('#addCommunity').validate();

            $('#modal-Address').validate();

            //province change
            $('#modal_province').change(function () {
                $('#hidden_districtId').val("");
                $('#hidden_subdistrictId').val("");
                GetDistrict($('#modal_province').val());
            });

            //district change
            $('#modal_district').change(function () {
                //debugger;
                $('#hidden_subdistrictId').val("");
                GetSubDistrict($('#modal_district').val());

            });

            //subdistrict change
            $('#modal_subdistrict').change(function () {
                GetZipCode($('#modal_subdistrict').val());
            });

            $('#modal_save').click(function () {
                if ($('#modal-Address').valid() == true) {
                    SetAddress();
                    $('#modal_close').click();
                }
            });
        });

        //set modal value to hidden field
        function SetAddress() {
            $('#HomeNumber').val($('#modal_no').val());
            $('#HomeCompany').val($('#modal_division').val());
            $('#HomeVillageName').val($('#modal_village').val());
            $('#HomeVillageNo').val($('#modal_moo').val());
            $('#HomeFloor').val($('#modal_floor').val());
            $('#HomeAlley').val($('#modal_alley').val());
            $('#HomeRoad').val($('#modal_road').val());
            $('#HomeProvinceId').val($('#modal_province').val());
            $('#HomeDistrictId').val($('#modal_district').val());
            $('#HomeTambol').val($('#modal_subdistrict').val());
            $('#HomeCode').val($('#modal_zipcode').val());

            var str = $('#modal_division').val() +
                ' ' +
                $('#modal_no').val() +
                ' หมู่บ้าน' +
                $('#modal_village').val() +
                ' หมู่ ' +
                $('#modal_moo').val() +
                ' ชั้น ' +
                $('#modal_floor').val() +
                ' ซอย ' +
                $('#modal_alley').val() +
                ' ถนน ' +
                $('#modal_road').val() +
                ' จังหวัด' +
                $('#modal_province option:selected').text() +
                ' อำเภอ' +
                $('#modal_district option:selected').text() +
                ' ตำบล' +
                $('#modal_subdistrict option:selected').text() +
                ' ' +
                $('#modal_zipcode').val();
            $('#input_Address').val(str);
        }

        //get zipcode
        function GetZipCode(subDistrictId) {
            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlApplication/MobileApi/Address/zipCode?SubDistrictid=" + subDistrictId,
                success: function (response2) {
                    $('#modal_zipcode').val(response2.zipCode);
                }
            });
        }

        //get subdistrict
        function GetSubDistrict(districtId) {
            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlApplication/MobileApi/Address/SubDistrict?districtId=" + districtId,
                success: function (response) {

                    $('#modal_subdistrict').empty();
                    for (var i = 0; i < response.length; i++) {
                        $('#modal_subdistrict').append('<option value="' +
                            response[i].subDistrict_ID +
                            '">' +
                            response[i].subDistrictDetail +
                            '</option>');
                    }

                    if (districtId != "9999999" && $('#hidden_subdistrictId').val() != "") {
                        $('#modal_subdistrict').val($('#hidden_subdistrictId').val());
                        //GetZipCode($('#hidden_subdistrictId').val());
                    } else {
                        $('#modal_zipcode').val(response[0].zipCode);
                    }
                }
            });
        }

        //get district
        function GetDistrict(provinceId) {
            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlApplication/MobileApi/Address/District?provinceId=" + provinceId,
                //async: false, //ทำฟังก์ชั่นนี้ให้เสร็จก่อน
                success: function (response) {
                    $('#modal_district').empty();
                    for (var i = 0; i < response.length; i++) {
                        $('#modal_district').append('<option value="' +
                            response[i].district_ID +
                            '">' +
                            response[i].districtDetail +
                            '</option>');
                    }

                    if (provinceId != "9999999" && $('#hidden_districtId').val() != "") {
                        $('#modal_district').val($('#hidden_districtId').val());
                        GetSubDistrict($('#hidden_districtId').val());
                    } else {
                        GetSubDistrict(response[0].district_ID);
                    }

                }
            });
        }
    </script>
}