@{
    ViewBag.Title = "ประกันโรคร้ายแรง";
    Layout = "~/Views/Shared/_LayoutForTopIndexUnderwriteCancer.cshtml";
}

@{
    // var userDetail = GlobalFunction.GetLoginDetail(this.Context);
    var userDetail = SmileUnderwriteBranchV2.Helper.GlobalFunction.GetLoginDetail(this.Context);

    ViewBag.Firstname = userDetail.FirstName;
    ViewBag.Lastname = userDetail.LastName;
    ViewBag.EmpCode = userDetail.UserName;
    ViewBag.Department = userDetail.DepartmentDetail;
    ViewBag.BranchDetail = userDetail.BranchDetail;
    ViewBag.FullName = userDetail.FullName;
    ViewBag.EmployeeTeamDetail = userDetail.EmployeeTeamDetail;
    ViewBag.FullName = userDetail.FullName;
}

<div class="content-wrapper" style="min-height: 320px;">
    <br>
    <section class="container">

        <div class="container">
            <div class="box box-solid  box-header" style="background-color: #EE9A47; color:white">
                <center><span style="font-size:large;">ประกันโรคร้ายแรง</span></center>
            </div>

            <div class="box box-widget widget-user-2">
                <div class="widget-user-header">
                    <div class="widget-user-image">
                        <img class="img-circle" src="/Content/img/logo_200x200.png" alt="User SiamSmile">
                    </div>
                    <h3 class="widget-user-username"> @ViewBag.FullName</h3>
                    <h5 class="widget-user-desc">@ViewBag.EmployeeTeamDetail - @ViewBag.Department</h5>
                </div>
            </div>

            <div class="row animate-page">

                @{
                    if (ViewBag.AccessRole.Contains("UnderwriteV2_Director") || ViewBag.AccessRole.Contains("Developer"))
                    {

                        <div class="col-md-3 col-sm-4">
                            <div class="wrimagecard wrimagecard-topimage">
                                <a href="/CancerQueue/CancerQueueUnderwritePending">
                                    <div class="wrimagecard-topimage_header bg-aqua">
                                        <center><i class="fa fa-user" style="color: #ffffff "> </i></center>
                                    </div>
                                    <div class="wrimagecard-topimage_title">
                                        <center>
                                            <h5>
                                                คิวงานมอบกรมธรรม์
                                                <span class="pull-right badge bg-red" id="WrControls" style="position:absolute;right:5px;bottom:5px">@ViewBag.CIQueueUnderwritePendingCount</span>
                                            </h5>
                                        </center>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="wrimagecard wrimagecard-topimage">
                                <a href="/CancerPolicies/CancerPoliciesQueue">
                                    <div class="wrimagecard-topimage_header bg-aqua">
                                        <center><i class="fa fa-volume-control-phone" style="color: #ffffff "> </i></center>
                                    </div>
                                    <div class="wrimagecard-topimage_title">
                                        <center>
                                            <h5>
                                                มอบกรมธรรม์กรณีเกินกำหนด
                                                <span class="pull-right badge bg-red" id="WrControls" style="position:absolute;right:5px;bottom:5px">@ViewBag.CIPoliciesQueueCount</span>
                                            </h5>
                                        </center>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="wrimagecard wrimagecard-topimage">
                                <a href="/CancerReport/CancerReportUnderwriteAndPolicies">
                                    <div class="wrimagecard-topimage_header bg-aqua">
                                        <center><i class="fa fa-connectdevelop" style="color: #ffffff "> </i></center>
                                    </div>
                                    <div class="wrimagecard-topimage_title">
                                        <center>
                                            <h5>
                                                รายงานการมอบกรมธรรม์
                                            </h5>
                                        </center>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="wrimagecard wrimagecard-topimage">
                                <a href="/CancerQueue/CancerQueueAssign">
                                    <div class="wrimagecard-topimage_header bg-aqua">
                                        <center><i class="fa fa-refresh" style="color: #ffffff "> </i></center>
                                    </div>
                                    <div class="wrimagecard-topimage_title">
                                        <center>
                                            <h5>
                                                จัดการคิวงานมอบกรมธรรม์
                                            </h5>
                                        </center>
                                    </div>
                                </a>
                            </div>
                        </div>
@*
                        <div class="col-md-3 col-sm-4">
                            <div class="wrimagecard wrimagecard-topimage">
                                <a href="/CancerQueue/GetCancerQueueUnderwrite">
                                    <div class="wrimagecard-topimage_header bg-aqua">
                                        <center><i class="fa fa-exclamation-circle" style="color:#ffff"> </i></center>
                                    </div>
                                    <div class="wrimagecard-topimage_title">
                                        <center>
                                            <h5>
                                                รับคิวงานมอบกรมธรรม์
                                            </h5>
                                            <div class="pull-right badge bg-red" id="WrGridSystem" style="position:absolute;right:5px;bottom:5px">@ViewBag.QueueAccept</div>
                                        </center>
                                    </div>
                                </a>
                            </div>
                        </div>*@
                    }
                    if (ViewBag.AccessRole.Contains("UnderwriteV2_BusinesPromoteTeam") || ViewBag.AccessRole.Contains("Developer"))
                    {
                        <div class="col-md-3 col-sm-4">
                            <div class="wrimagecard wrimagecard-topimage">
                                <a href="/CancerUnderwrite/CancerUnderwriteDashboard">
                                    <div class="wrimagecard-topimage_header bg-aqua">
                                        <center>
                                            <span class="material-icons" style="color: rgba(39, 99, 145); font-size: 58px">
                                                contact_phone
                                            </span>
                                        </center>
                                    </div>
                                    <div class="wrimagecard-topimage_title">
                                        <center>
                                            <h5>
                                                ติดตามคิวงานมอบกรมธรรม์
                                            </h5>
                                            <div class="pull-right badge bg-red" id="WrGridSystem" style="position:absolute;right:5px;bottom:5px">@ViewBag.QueueStatus</div>
                                        </center>
                                    </div>
                                </a>
                            </div>
                        </div>
                        @*<div class="col-md-3 col-sm-4">
                                <div class="wrimagecard wrimagecard-topimage">
                                    <a href="/CancerQueue/CancerQueueUnderwriteOverdue">
                                        <div class="wrimagecard-topimage_header" style="background-color: rgba(237, 79, 74,0.8)">
                                            <center>
                                                <span class="material-icons" style="color: #9c270c; font-size: 58px">
                                                    queue_play_next
                                                </span>
                                            </center>
                                        </div>
                                        <div class="wrimagecard-topimage_title">
                                            <center>
                                                <h5>
                                                    คิวงานคัดกรองเกินกำหนด
                                                </h5>
                                                <div class="pull-right badge bg-red" id="WrGridSystem" style="position:absolute;right:5px;bottom:5px">@ViewBag.QueueOverdue</div>
                                            </center>
                                        </div>
                                    </a>
                                </div>
                            </div>*@
                        @*<div class="col-md-3 col-sm-4">
                                <div class="wrimagecard wrimagecard-topimage">
                                    <a href="/CancerQueue/EditCancerQueueUnderwrite">
                                        <div class="wrimagecard-topimage_header" style="background-color: #fabc09">
                                            <center><i class="fa fa-edit" style="color: #875D1B"> </i></center>
                                        </div>
                                        <div class="wrimagecard-topimage_title">
                                            <center>
                                                <h5>
                                                    แก้ไขผลการคัดกรอง
                                                </h5>
                                            </center>
                                        </div>
                                    </a>
                                </div>
                            </div>*@
                        <div class="col-md-3 col-sm-4">
                            <div class="wrimagecard wrimagecard-topimage">
                                <a href="/CancerReport/CancerReportPromotion">
                                    <div class="wrimagecard-topimage_header" style="background-color: rgba(203, 103, 240,0.7)">
                                        <center><i class="fa fa-connectdevelop" style="color: #6f1a78 "> </i></center>
                                    </div>
                                    <div class="wrimagecard-topimage_title">
                                        <center>
                                            <h5>
                                                รายงาน
                                            </h5>
                                        </center>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    if (ViewBag.AccessRole.Contains("Developer") || ViewBag.AccessRole.Contains("UnderwriteV2_AdminAssign"))
                    {
                        <div class="col-md-3 col-sm-4">
                            <div class="wrimagecard wrimagecard-topimage">
                                <a href="/CancerQueue/CancerQueueAdminAssign">
                                    <div class="wrimagecard-topimage_header" style="background-color: rgba(203, 103, 240,0.7)">
                                        <center><i class="fa fa-refresh" style="color: #6f1a78 "> </i></center>
                                    </div>
                                    <div class="wrimagecard-topimage_title">
                                        <center>
                                            <h5>
                                                จัดการคิวงานมอบกรมธรรม์สำหรับผู้ดูแล
                                            </h5>
                                        </center>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
</div>