@{
    /**/

    ViewBag.Title = "รายละเอียด";
    Layout = "~/Views/Shared/_LayoutForTopPHIndex.cshtml";
}
<style>
    strong {
        color: red;
    }
</style>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false">บันทึกผลการทำงาน</a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">ผลการคัดกรองสาขา</a></li>
            <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="true">เอกสาร</a></li>
            <li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="true">ประวัติคิวงาน</a></li>
        </ul>
        @if (ViewBag.QueueFullDetail != null)
        {
            <div class="tab-content">
                @* tab_1 *@
                <div class="tab-pane active view-detail" id="tab_1">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="box box-info">
                                    <div class="box-header" style="background-color: #b3eeff">
                                        <h4 class="box-title">ข้อมูลผู้เอาประกัน </h4>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <form class="form-horizontal">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">App ID</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtAppID" name="txtAppID" class="form-control" value="@ViewBag.QueueFullDetail.ApplicationCode" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">สถานะ</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtAppStatus" name="txtAppStatus" class="form-control" value="@ViewBag.QueueFullDetail.AppStatus" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">แผนประกัน</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtProduct" name="txtProduct" class="form-control" value="@ViewBag.QueueFullDetail.Product" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">เบี้ย</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPremium" name="txtPremium" class="form-control" value="@ViewBag.QueueFullDetail.Premium" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">วันเริ่มคุ้มครอง</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtAppStartCoverDate" name="txtAppStartCoverDate" class="form-control" value="@ViewBag.QueueFullDetail.AppStartCoverDate" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">ชื่อลูกค้า</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtCustomerName" name="txtCustomerName" class="form-control" value="@(String.Format("{0}{1} {2}", ViewBag.QueueFullDetail.CustTitle, ViewBag.QueueFullDetail.CustFirstName, ViewBag.QueueFullDetail.CustLastName))" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">วันเกิด</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtCustBirthDate" name="txtCustBirthDate" class="form-control" value="@ViewBag.QueueFullDetail.CustBirthDate" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">เบอร์โทร</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtCustPhone" name="txtCustPhone" class="form-control" value="@ViewBag.QueueFullDetail.CustPhone" type="text" readonly />
                                                    </div>
                                                </div>
                                                @* -------Open SSS App-------- *@
                                                <div class="form-group">
                                                    <div class="col-md-12" style="text-align:center;padding-right:45px">
                                                        <button id="openSSS" type="button" class="btn btn-success" onclick="OpenSSS(@ViewBag.QueueFullDetail.ApplicationCode)">
                                                            รายละเอียด App
                                                        </button>
                                                    </div>
                                                </div>
                                                @* -------end-------- *@
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="box box-info">
                                    <div class="box-header" style="background-color: #b3eeff">
                                        <h4 class="box-title">ข้อมูลผู้ชำระเบี้ย </h4>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <form class="form-horizontal">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">ความสัมพันธ์</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtRelation" name="txtRelation" class="form-control" value="@(ViewBag.QueueFullDetail.PayerRelate != null ? ViewBag.QueueFullDetail.PayerRelate : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">ชื่อผู้ชำระเบี้ย</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayerName" name="txtPayerName" class="form-control" value="@(ViewBag.QueueFullDetail.PayerFirstName != null ? String.Format("{0}{1} {2}", ViewBag.QueueFullDetail.PayerTitle, ViewBag.QueueFullDetail.PayerFirstName, ViewBag.QueueFullDetail.PayerLastName) : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">อาชีพ</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayerOccupationLevel" name="txtPayerOccupationLevel" class="form-control" value="@(ViewBag.QueueFullDetail.PayerOccupationLevel != null ? ViewBag.QueueFullDetail.PayerOccupationLevel : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">เบอร์โทร</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayerPhone" name="txtPayerPhone" class="form-control" value="@(ViewBag.QueueFullDetail.PayerPhone != null ? ViewBag.QueueFullDetail.PayerPhone : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">เบอร์โทรที่ทำงาน</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayerBuildingPhone" name="txtPayerBuildingPhone" class="form-control" value="@(ViewBag.QueueFullDetail.PayerBuildingPhone != null ? ViewBag.QueueFullDetail.PayerBuildingPhone : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">ชื่อหน่วยงาน</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtBuildingName" name="txtBuildingName" class="form-control" value="@(ViewBag.QueueFullDetail.PayerBuildingName != null ? ViewBag.QueueFullDetail.PayerBuildingName : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">การชำระ</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayMethodType" name="txtPayMethodType" class="form-control" value="@(ViewBag.QueueFullDetail.PayMethodType != null ? ViewBag.QueueFullDetail.PayMethodType : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">ธนาคาร</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayerBankName" name="txtPayerBankName" class="form-control" value="@(ViewBag.QueueFullDetail.PayerBankName != null ? ViewBag.QueueFullDetail.PayerBankName : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">เลขที่บัญชี</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayerBankAccountNo" name="txtPayerBankAccountNo" class="form-control" value="@(ViewBag.QueueFullDetail.PayerBankAccountNo != null ? ViewBag.QueueFullDetail.PayerBankAccountNo : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                @* -------payer other-------- *@
                                                <div class="form-group">
                                                    <div class="col-md-12" style="text-align:center">
                                                        <button id="btnPayerOther" type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-warning" style="display:none">
                                                            ชำระเบี้ยให้อีก n คน
                                                        </button>
                                                    </div>
                                                </div>
                                                @* -------end-------- *@
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form id="formQuestion">
                            @* -------ผลการตรวจสอบของแผนก QC-------- *@
                            <div class="col-sm-12">
                                <div class="box box-info">
                                    <div class="box-header" style="background-color: #b3eeff">
                                        <h4 class="box-title">ผลการตรวจสอบของแผนก QC </h4>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div id="box-audit-1" class="box-body bodyQuestion" style="height: auto;width: auto;">
                                        <label>สถานะการตรวจสอบ</label>
                                        <ul class="answerList">
                                            @foreach (var item in ViewBag.QueueAuditStatus)
                                            {
                                                <li>
                                                    <label name="lbl-QueueAuditStatus">
                                                        <input type="radio" name="QueueAuditStatus" value="@item.QueueAuditStatusId" id="QueueAuditStatus_@item.QueueAuditStatusId" @((ViewBag.QueueAuditStatusId == item.QueueAuditStatusId) ? "checked" : "")>  @item.AuditStatusDetail
                                                    </label>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    <div id="box-audit-2" class="box-body bodyQuestion" style="height: auto;width: auto;display:@(ViewBag.QueueAuditStatusId == 2 ? "block" : "none")">
                                        <label>สถานะการโทร</label>
                                        <ul class="answerList">
                                            <li>
                                                @if (ViewBag.CallStatusList != null)
                                                {
                                                    foreach (var i in ViewBag.CallStatusList)
                                                    {
                                                        if (i.CallStatusId != 1 && i.CallStatusId != 5)
                                                        {
                                                            <label>
                                                                <input type="radio" name="CallStatus" value="@i.CallStatusId" id="CallStatus_@(i.CallStatusId)" @(ViewBag.QueueFullDetail.AuditCallStatusId == i.CallStatusId ? "checked" : "")> @i.CallStatusDetail
                                                            </label>
                                                        }
                                                    }
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="box-audit-3" class="box-body bodyQuestion" style="height: auto;width: auto;display:@(ViewBag.QueueAuditStatusId == 2 ? "block" : "none")">
                                        <label>หมายเหตุ</label>
                                        <ul class="answerList">
                                            <li>
                                                <textarea name="remark" id="remark" style="display: block;border-radius: 5px; width: 100%;height: 80px;resize: none;">@ViewBag.QueueFullDetail.AuditRemark</textarea>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            @* -------การตรวจสอบการคัดกรองของ ผอ.บล. -------- *@
                            <div id="box-audit-4" class="col-sm-12" style="display:@((ViewBag.QueueAuditStatusId == 3 && ViewBag.AccessRole != "AUDIT_INSURE") ? "block" : "none")">
                                <div class="box box-default">
                                    <div class="box-header" style="background-color: #f4e7a3">
                                        <h4 class="box-title">การตรวจสอบการคัดกรองของ ผอ.บล. </h4>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body bodyResultDirector" style="height: auto;width: auto;background-color:#fff9db;cursor: not-allowed;">
                                        <label>ผลการคัดกรองของ ผอ.บล.</label>
                                        @* -------ผลการคัดกรอง ผอ.บล. = true -------- *@
                                        @if (ViewBag.QueueFullDetail.IsUnderwrite == true)
                                        {
                                            <div style="height: auto;width: auto;">
                                                <ul class="answerList">
                                                    <li>
                                                        <label>
                                                            <input type="radio" style="cursor: not-allowed;" checked> คัดกรองแล้ว
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="radio" id="underwriteStatus_0"> ยังไม่คัดกรอง
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div style="height: auto;width: auto;">
                                                <label>
                                                    เข้าพบคัดกรองเพื่อมอบบัตร
                                                </label>
                                                <ul class="answerList">
                                                    @if (ViewBag.UnderwriteType != null)
                                                    {
                                                        foreach (var i in ViewBag.UnderwriteType)
                                                        {
                                                            switch (i.UnderwriteTypeId)
                                                            {
                                                                //เข้าพบ
                                                                case 2:
                                                                    <li>
                                                                        <input type="hidden" name="typeSelect" value="@i.UnderwriteTypeId" id="typeSelect_@(i.UnderwriteTypeId)" checked>

                                                                        <div class="box-typeselect-@(i.UnderwriteTypeId)" style="padding-left:30px;">
                                                                            <label>
                                                                                <input type="checkbox" name="typeSelectChild" id="typeSelect-chlid-customer-@(i.UnderwriteTypeId)" value="customer" @(ViewBag.QueueFullDetail.IsUnderwriteCust == true ? "checked" : "")> ผู้เอาประกัน
                                                                            </label>
                                                                            <label>
                                                                                <input type="checkbox" name="typeSelectChild" id="typeSelect-chlid-payer-@(i.UnderwriteTypeId)" value="payer" @(ViewBag.QueueFullDetail.IsUnderwritePayer == true ? "checked" : "")> ผู้ชำระเบี้ย
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                    break;
                                                                //โทรคัดกรอง
                                                                case 3:
                                                                    @*  <li>

                                                                            <label>
                                                                                <input type="radio" name="typeSelect" value="@i.UnderwriteTypeId" id="typeSelect_@(i.UnderwriteTypeId)" checked> @i.UnderwriteType
                                                                            </label>
                                                                            <div class="box-typeselect-@(i.UnderwriteTypeId)" style="padding-left:30px;">
                                                                                <label>
                                                                                    <input type="checkbox" name="typeSelectChild" id="typeSelect-chlid-customer-@(i.UnderwriteTypeId)" value="customer" @(ViewBag.QueueFullDetail.IsUnderwriteCust == true ? "checked" : "")> ผู้เอาประกัน
                                                                                </label>
                                                                                <label>
                                                                                    <input type="checkbox" name="typeSelectChild" id="typeSelect-chlid-payer-@(i.UnderwriteTypeId)" value="payer" @(ViewBag.QueueFullDetail.IsUnderwritePayer == true ? "checked" : "")> ผู้ชำระเบี้ย
                                                                                </label>
                                                                                <label>
                                                                                    <span style="color:red">*</span>สาเหตุการโทรคัดกรองลูกค้า
                                                                                    <textarea name="txtCause" id="txtCause" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px;resize: none;"> @ViewBag.QueueFullDetail.CallCauseRemark</textarea>
                                                                                </label>
                                                                            </div>
                                                                        </li>*@
                                                                    break;
                                                                default:
                                                                    break;
                                                            }
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="box-body" style="height: auto;width: auto;">
                                                <ul class="answerList">
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="underwriteStatus" value="1" id="underwriteStatus_1"> คัดกรองแล้ว
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="underwriteStatus" value="0" id="underwriteStatus_0" checked> ยังไม่คัดกรอง
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="box-body" style="height: auto;width: auto;">
                                                <label>สถานะการโทร</label>
                                                <ul class="answerList">
                                                    <li>
                                                        @if (ViewBag.CallStatusList != null)
                                                        {
                                                            foreach (var i in ViewBag.CallStatusList)
                                                            {
                                                                if (i.CallStatusId != 2)
                                                                {
                                                                    if (ViewBag.QueueFullDetail.CallStatusId == i.CallStatusId)
                                                                    {
                                                                        <label>
                                                                            <input type="radio" name="callStatus" value="@i.CallStatusId" id="callStatus_@(i.CallStatusId)" checked> @i.CallStatusDetail
                                                                        </label>
                                                                    }
                                                                    else
                                                                    {
                                                                        <label>
                                                                            <input type="radio" name="callStatus" value="@i.CallStatusId" id="callStatus_@(i.CallStatusId)"> @i.CallStatusDetail
                                                                        </label>
                                                                    }

                                                                }
                                                            }
                                                        }
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="box-body" style="height: auto;width: auto;">
                                                <label>สถานะการเข้าพบ</label>
                                                <ul class="answerList">
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="foundCustomer" value="0" id="foundCustomer_0" @(ViewBag.QueueFullDetail.IsNotFoundCustomer == true ? "checked" : "")> ไม่พบลูกค้า
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                    @if (ViewBag.QueueFullDetail.AuditUnderwriteResultStatusId != null && ViewBag.QueueFullDetail.AuditUnderwriteResultStatusId != 1)
                                    {
                                        <div class="box-body bodyQuestion" style="height: auto;width: auto;">
                                            <label>ผลการตรวจสอบ ผอ.บล.</label>
                                            <ul class="answerList">
                                                @if (ViewBag.AuditUnderwriteResultStatus != null)
                                                {
                                                    foreach (var i in ViewBag.AuditUnderwriteResultStatus)
                                                    {
                                                        if (i.AuditUnderwriteResultStatusId != 1)
                                                        {
                                                            <li>
                                                                <label>
                                                                    <input type="radio" name="AuditUnderwriteResultStatus" value="@i.AuditUnderwriteResultStatusId" id="AuditUnderwriteResultStatus_@(i.AuditUnderwriteResultStatusId)" @(i.AuditUnderwriteResultStatusId == ViewBag.QueueFullDetail.AuditUnderwriteResultStatusId ? "checked" : "")> @i.AuditUnderwriteResultStatusDetail
                                                                </label>
                                                            </li>
                                                        }
                                                    }
                                                    <li>
                                                        <label>
                                                            <span style="color:red">*</span>หมายเหตุ
                                                            <textarea name="AuditUnderwriteResultStatusRemark" id="AuditUnderwriteResultStatusRemark" style="border-radius: 5px;width: 100%;height: 60px;resize: none;">@(@ViewBag.QueueFullDetail.QueueAuditStatusId == 3 ? ViewBag.QueueFullDetail.AuditUnderwriteResultRemark : "")</textarea>
                                                        </label>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="box-body bodyQuestion" style="height: auto;width: auto;">
                                            <label>ผลการตรวจสอบการคัดกรอง</label>
                                            <ul class="answerList">
                                                @if (ViewBag.AuditUnderwriteStatus != null)
                                                {
                                                    foreach (var i in ViewBag.AuditUnderwriteStatus)
                                                    {
                                                        if (i.AuditUnderwriteStatusId != 1)
                                                        {
                                                            <li>
                                                                <label>
                                                                    <input type="radio" name="AuditUnderwriteStatus" value="@i.AuditUnderwriteStatusId" id="AuditUnderwriteStatus_@(i.AuditUnderwriteStatusId)" @(i.AuditUnderwriteStatusId == ViewBag.QueueFullDetail.AuditUnderwriteStatusId ? "checked" : "")> @i.AuditUnderwriteStatusDetail
                                                                </label>
                                                            </li>
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </div>
                                        <div class="box-body bodyQuestion" style="height: auto;width: auto;">
                                            <label>ผลการตรวจสอบการมอบบัตร</label>
                                            <ul class="answerList">
                                                @if (ViewBag.AuditCobrandGivenStatus != null)
                                                {
                                                    foreach (var i in ViewBag.AuditCobrandGivenStatus)
                                                    {
                                                        if (i.AuditCobrandGivenStatusId != 1)
                                                        {
                                                            <li>
                                                                <label>
                                                                    <input type="radio" name="AuditCobrandGivenStatus" value="@i.AuditCobrandGivenStatusId" id="AuditCobrandGivenStatus_@(i.AuditCobrandGivenStatusId)" @(i.AuditCobrandGivenStatusId == ViewBag.QueueFullDetail.AuditCobrandGivenStatusId ? "checked" : "")> @i.AuditCobrandGivenStatusDetail
                                                                </label>
                                                            </li>
                                                        }
                                                    }
                                                }
                                            </ul>
                                            <label>หมายเหตุ</label>
                                            <ul class="answerList">
                                                <li>
                                                    <label>
                                                        @*<span style="color:red">*</span>หมายเหตุ*@
                                                        <textarea name="AuditUnderwriteResultStatusRemark" id="AuditUnderwriteResultStatusRemark" style="border-radius: 5px;width: 100%;height: 60px;resize: none;">@(@ViewBag.QueueFullDetail.QueueAuditStatusId == 3 ? ViewBag.QueueFullDetail.AuditUnderwriteResultRemark : "")</textarea>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div id="box-audit-5" class="col-sm-12" style="display:@(ViewBag.QueueAuditStatusId == 3 ? "block" : "none")">
                                <div class="box box-default">
                                    <div class="box-header" style="background-color: #DFF0D8">
                                        <h4 class="box-title">การตรวจสอบด้านสุขภาพ </h4>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body bodyQuestion" style="height: auto;width: auto;">
                                        <label>ผลการตรวจสอบ</label>
                                        <ul class="answerList">
                                            @if (ViewBag.AuditHealthStatus != null)
                                            {
                                                foreach (var i in ViewBag.AuditHealthStatus)
                                                {
                                                    if (i.AuditHealthStatusId != 1)
                                                    {
                                                        <li>
                                                            <label name="lbl-AuditHealthStatus">
                                                                <input type="radio" name="AuditHealthStatus" value="@i.AuditHealthStatusId" id="AuditHealthStatus_@(i.AuditHealthStatusId)" @(i.AuditHealthStatusId == ViewBag.QueueFullDetail.AuditHealthStatusId ? "checked" : "")> @i.AuditHealthStatusDetail
                                                            </label>
                                                        </li>
                                                    }

                                                }
                                                <li id="li-AuditHealthRemark" style="display:@(ViewBag.QueueFullDetail.AuditHealthStatusId == 2 ? "block" : "none")">
                                                    <label>
                                                        <span style="color:red;">*</span>หมายเหตุ
                                                        <textarea name="AuditHealthRemark" id="AuditHealthRemark" style="border-radius: 5px;width: 100%;height: 60px;resize: none;">@(ViewBag.QueueFullDetail.AuditHealthStatusId == 2 ? ViewBag.QueueFullDetail.AuditHealthRemark : "")</textarea>
                                                    </label>
                                                </li>
                                            }
                                            <li>
                                                <div id="box-audit-5-1" style="padding-left:30px;display:@(ViewBag.QueueFullDetail.AuditHealthStatusId == 3 ? "block" : "none")">
                                                    @if (ViewBag.AuditHealthSpecifyStatus != null)
                                                    {
                                                        foreach (var i in ViewBag.AuditHealthSpecifyStatus)
                                                        {
                                                            if (i.AuditHealthSpecifyStatusId != 1)
                                                            {

                                                                <label>
                                                                    <input type="radio" name="AuditHealthSpecifyStatus" value="@i.AuditHealthSpecifyStatusId" id="AuditHealthSpecifyStatus_@(i.AuditHealthSpecifyStatusId)" @(i.AuditHealthSpecifyStatusId == ViewBag.QueueFullDetail.AuditHealthSpecifyStatusId ? "checked" : "")> @i.AuditHealthSpecifyStatusDetail
                                                                </label>

                                                            }
                                                        }

                                                    }
                                                    <label>
                                                        <span style="color:red">*</span>ระบุข้อยกเว้น
                                                        <textarea name="AuditHealthSpecifyRemark" id="AuditHealthSpecifyRemark" style="display: block;border-radius: 5px;width: 100%;height: 60px;resize: none;">@(ViewBag.QueueFullDetail.AuditHealthStatusId == 3 ? ViewBag.QueueFullDetail.AuditHealthRemark : "")</textarea>
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>

                        @* form ผลการตพิจารณาของฝ่ายรับประกัน //ต้องตรวจสอบแล้ว 3 //การตรวจสอบด้านสุขภาพ รอพิจารณา 3 จะแสดง/ส่งไปรับประกัน1พิจารณา *@
                        @if (ViewBag.QueueAuditStatusId == 3 && ViewBag.QueueFullDetail.AuditHealthStatusId == 3 && (ViewBag.AccessRole == "AUDIT_DEV" || ViewBag.AccessRole == "AUDIT_INSURE" || ViewBag.AccessRole == "AUDIT_BPT"))
                        {
                            <form id="formAuditInsure">
                                <input type="hidden" id="QueueAuditId_formInsure" name="QueueAuditId_formInsure" value="@ViewBag.QueueFullDetail.QueueAuditId" />
                                <div id="box-audit-insure-1" class="col-sm-12">
                                    <div class="box box-primary">
                                        <div class="box-header" style="background-color: #b3eeff">
                                            <h4 class="box-title">ผลการพิจารณาของฝ่ายรับประกัน</h4>
                                            <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                            </div>
                                        </div>
                                        <div id="bodyAuditInsure" class="box-body" style="height: auto;width: auto;background-color:#edfcfc">
                                            <label>สถานะพิจารณา</label>
                                            <ul class="answerList">
                                                @if (ViewBag.AuditInsureStatus != null)
                                                {
                                                    foreach (var i in ViewBag.AuditInsureStatus)
                                                    {
                                                        if (i.AuditInsureStatusId != 1)
                                                        {
                                                            <li>
                                                                <label>
                                                                    <input type="radio" name="AuditInsureStatus" value="@i.AuditInsureStatusId" id="AuditInsureStatus_@(i.AuditInsureStatusId)" @(i.AuditInsureStatusId == ViewBag.QueueFullDetail.AuditInsureStatusId ? "checked" : "")> @i.AuditInsureStatusDetail
                                                                </label>
                                                            </li>

                                                            if (i.AuditInsureStatusId == 2) //รอพิจารณา
                                                            {
                                                                <li>
                                                                    <div id="box-audit-insure-1-1" style="padding-left:30px;display:@(ViewBag.QueueFullDetail.AuditInsureStatusId == 2 ? "block":"none")">
                                                                        <label>
                                                                            <span style="color:red">*</span>หมายเหตุ
                                                                            <textarea name="AuditInsureStatusRemark" id="AuditInsureStatusRemark" style="display: block;border-radius: 5px;width: 100%;height: 60px;resize: none;">@(ViewBag.QueueFullDetail.AuditInsureStatusId == 2 ? ViewBag.QueueFullDetail.AuditInsureRemark : "")</textarea>
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                            }
                                                            else if (i.AuditInsureStatusId == 3) //พิจารณาแล้ว
                                                            {
                                                                <li>
                                                                    <div id="box-audit-insure-1-2" style="padding-left:30px;display:@(ViewBag.QueueFullDetail.AuditInsureStatusId == 3 ? "block":"none")">
                                                                        @foreach (var j in ViewBag.AuditInsureConsiderStatus)
                                                                        {
                                                                            if (j.AuditInsureConsiderStatusId != 1)
                                                                            {
                                                                                <label disabled>
                                                                                    <input type="radio" name="AuditInsureConsiderStatus" value="@j.AuditInsureConsiderStatusId" id="AuditInsureConsiderStatus_@(j.AuditInsureConsiderStatusId)" @(j.AuditInsureConsiderStatusId == ViewBag.QueueFullDetail.AuditInsureConsiderStatusId ? "checked" : "")> @j.AuditInsureConsiderStatusDetail
                                                                                </label>
                                                                            }
                                                                        }
                                                                        <label>
                                                                            <span style="color:red">*</span>หมายเหตุ
                                                                            <textarea name="AuditInsureConsiderStatusRemark" id="AuditInsureConsiderStatusRemark" style="display: block;border-radius: 5px;width: 100%;height: 60px;resize: none;">@(ViewBag.QueueFullDetail.AuditInsureStatusId == 3 ? ViewBag.QueueFullDetail.AuditInsureConsiderRemark : "")</textarea>
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                            }
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        }
                    </div>
                </div>
                @* tab_2 *@
                <div class="tab-pane view-detail" id="tab_2">
                    <div class="row form-group">
                        <form>
                            <div class="col-sm-12">
                                <div class="box box-info">
                                    <div class="box-header" style="background-color: #b3eeff">
                                        <h4 class="box-title">ผลการคัดกรอง </h4>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    @if (ViewBag.QueueFullDetail.IsUnderwrite == true)
                                    {
                                        <div class="box-body bodyResultDirector" style="height: auto;width: auto;">
                                            <label>สถานะการคัดกรอง</label>
                                            <ul class="answerList">
                                                <li>
                                                    <label>
                                                        <input type="radio" name="underwriteStatus" value="1" id="underwriteStatus_1" checked> คัดกรองแล้ว
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="underwriteStatus" value="0" id="underwriteStatus_0"> ยังไม่คัดกรอง
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="box-body bodyResultDirector" style="height: auto;width: auto;">
                                            <label>
                                                เข้าพบคัดกรองเพื่อมอบบัตร
                                            </label>
                                            <ul class="answerList">
                                                @if (ViewBag.UnderwriteType != null)
                                                {
                                                    foreach (var i in ViewBag.UnderwriteType)
                                                    {
                                                        switch (i.UnderwriteTypeId)
                                                        {
                                                            //เข้าพบ
                                                            case 2:
                                                                <li>
                                                                    @if (ViewBag.QueueFullDetail.UnderwriteTypeId == i.UnderwriteTypeId)
                                                                    {
                                                                        <input type="hidden" name="typeSelect" value="@i.UnderwriteTypeId" id="typeSelect_@(i.UnderwriteTypeId)" checked>
                                                                        @*  <label>
                                                                            </label>*@
                                                                        <div class="box-typeselect-@(i.UnderwriteTypeId)" style="padding-left:30px;">
                                                                            <label>
                                                                                <input type="checkbox" name="typeSelectChild" id="typeSelect-chlid-customer-@(i.UnderwriteTypeId)" value="customer" @(ViewBag.QueueFullDetail.IsUnderwriteCust == true ? "checked" : "")> ผู้เอาประกัน
                                                                            </label>
                                                                            <label>
                                                                                <input type="checkbox" name="typeSelectChild" id="typeSelect-chlid-payer-@(i.UnderwriteTypeId)" value="payer" @(ViewBag.QueueFullDetail.IsUnderwritePayer == true ? "checked" : "")> ผู้ชำระเบี้ย
                                                                            </label>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <label>
                                                                            <input type="radio" name="typeSelect" value="@i.UnderwriteTypeId" id="typeSelect_@(i.UnderwriteTypeId)"> @i.UnderwriteType
                                                                        </label>

                                                                    }
                                                                </li>
                                                                break;
                                                            //โทรคัดกรอง
                                                            case 3:
                                                                @* <li>
                                                                        @if (ViewBag.QueueFullDetail.UnderwriteTypeId == i.UnderwriteTypeId)
                                                                        {
                                                                            <label>
                                                                                <input type="radio" name="typeSelect" value="@i.UnderwriteTypeId" id="typeSelect_@(i.UnderwriteTypeId)" checked> @i.UnderwriteType
                                                                            </label>
                                                                            <div class="box-typeselect-@(i.UnderwriteTypeId)" style="padding-left:30px;">
                                                                                <label>
                                                                                    <input type="checkbox" name="typeSelectChild" id="typeSelect-chlid-customer-@(i.UnderwriteTypeId)" value="customer" @(ViewBag.QueueFullDetail.IsUnderwriteCust == true ? "checked" : "")> ผู้เอาประกัน
                                                                                </label>
                                                                                <label>
                                                                                    <input type="checkbox" name="typeSelectChild" id="typeSelect-chlid-payer-@(i.UnderwriteTypeId)" value="payer" @(ViewBag.QueueFullDetail.IsUnderwritePayer == true ? "checked" : "")> ผู้ชำระเบี้ย
                                                                                </label>
                                                                                <label>
                                                                                    <span style="color:red">*</span>สาเหตุการโทรคัดกรองลูกค้า
                                                                                    <textarea name="txtCause" id="txtCause" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px;resize: none;"> @ViewBag.QueueFullDetail.CallCauseRemark</textarea>
                                                                                </label>
                                                                            </div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <label>
                                                                                <input type="radio" name="typeSelect" value="@i.UnderwriteTypeId" id="typeSelect_@(i.UnderwriteTypeId)"> @i.UnderwriteType
                                                                            </label>

                                                                        }
                                                                    </li>*@
                                                                break;
                                                            default:
                                                                break;
                                                        }

                                                    }
                                                }
                                            </ul>
                                        </div>
                                        <div class="box-body bodyResultDirector" style="height: auto;width: auto;">
                                            <label>การชำระเบี้ย</label>
                                            <ul class="answerList">
                                                @if (ViewBag.UnderwritePaymentType != null)
                                                {
                                                    foreach (var i in ViewBag.UnderwritePaymentType)
                                                    {
                                                        if (i.UnderwritePaymentTypeId != 1 && i.UnderwritePaymentTypeId != 3)
                                                        {
                                                            <li>
                                                                <label>
                                                                    <input type="radio" name="uwPaymentType" value="@i.UnderwritePaymentTypeId" id="uwPaymentType_@(i.UnderwritePaymentTypeId)" @(ViewBag.QueueFullDetail.UnderwritePaymentTypeId == i.UnderwritePaymentTypeId ? "checked" : "")> @i.UnderwritePaymentTypeDetail
                                                                </label>
                                                            </li>
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </div>
                                        <div class="box-body bodyResultDirector" style="height: auto;width: auto;">
                                            <label>การคัดกรองด้านสุขภาพ</label>
                                            <ul class="answerList">
                                                @if (ViewBag.QueueFullDetail.IsUnderwritePass == true)
                                                {
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="health" value="1" id="health_pass" checked> ผ่านคัดกรอง
                                                        </label>
                                                        <div class="box-health-pass" style="padding-left:30px;">
                                                            <label>
                                                                <input type="radio" name="healthChildPass" value="1" id="health-child-pass-std" @(ViewBag.QueueFullDetail.IsUnderwritePassStandard == true ? "checked" : "")> ตามมาตรฐานทุกประการ
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="healthChildPass" value="0" id="health-child-pass-condition" @(ViewBag.QueueFullDetail.IsUnderwritePassCondition == true ? "checked" : "")> มีประวัติสุขภาพที่ติดข้อยกเว้น
                                                            </label>
                                                        </div>
                                                        @if (ViewBag.QueueFullDetail.IsUnderwritePassCondition == true)
                                                        {
                                                            <div class="sub-box-health-pass" style="padding-left:60px;">
                                                                <label>
                                                                    <input type="radio" name="IsSpecify" value="1" id="IsSpecify_1" @((ViewBag.QueueFullDetail.IsUnderwritePassIsSpecify == true && ViewBag.QueueFullDetail.IsUnderwritePassIsSpecifyNotComplete == null) ? "checked" : "")> ระบุในใบสมัครครบถ้วน
                                                                </label>
                                                                <label>
                                                                    <input type="radio" name="IsSpecify" value="2" id="IsSpecify_2" @((ViewBag.QueueFullDetail.IsUnderwritePassIsSpecify == true && ViewBag.QueueFullDetail.IsUnderwritePassIsSpecifyNotComplete == true) ? "checked" : "")> ระบุในใบสมัครไม่ครบถ้วน
                                                                </label>
                                                                <label>
                                                                    <input type="radio" name="IsSpecify" value="0" id="IsSpecify_0" @((ViewBag.QueueFullDetail.IsUnderwritePassIsSpecify == false && ViewBag.QueueFullDetail.IsUnderwritePassIsSpecifyNotComplete == null) ? "checked" : "")> ไม่ระบุในใบสมัคร
                                                                </label>
                                                                <label>
                                                                    <span style="color:red">*</span>ระบุข้อมูลข้อยกเว้น..
                                                                    <textarea name="healthChildPassOtherRemark" id="healthChildPassOtherRemark" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px;resize: none;" disabled>@ViewBag.QueueFullDetail.UnderwritePassSpecifyRemark</textarea>
                                                                </label>
                                                            </div>
                                                        }
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="health" value="0" id="health_notpass" checked> ไม่ผ่านคัดกรอง
                                                        </label>
                                                        <div class="box-health-notpass" style="padding-left:30px;">
                                                            <label>
                                                                <input type="checkbox" name="healthChildNotPass" value="denyHealth" id="health-child-notpass-health" @(ViewBag.QueueFullDetail.IsUnderwriteUnPassHealth == true ? "checked" : "")> ด้านสุขภาพ
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" name="healthChildNotPass" value="denyOccupation" id="health-child-notpass-occupation" @(ViewBag.QueueFullDetail.IsUnderwriteUnPassOccupation == true ? "checked" : "")> ด้านอาชีพ
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" name="healthChildNotPass" value="denyCantPay" id="health-child-notpass-cantpay" @(ViewBag.QueueFullDetail.IsUnderwriteUnPassCantPay == true ? "checked" : "")> ไม่สามารถชำระเบี้ยตามเงื่อนไขได้
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" name="healthChildNotPass" value="denyOther" id="health-child-notpass-other" @(ViewBag.QueueFullDetail.IsUnderwriteUnPassOther == true ? "checked" : "")> อื่นๆ
                                                            </label>
                                                            <label>
                                                                <span style="color:red">*</span>อื่นๆ โปรดระบุ..
                                                                <textarea name="healthChildNotPassOtherRemark" id="healthChildNotPassOtherRemark" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px;resize: none;" disabled>@ViewBag.QueueFullDetail.UnderwriteUnPassOtherRemark</textarea>
                                                            </label>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="box-body bodyResultDirector" style="height: auto;width: auto;">
                                            <label>หมายเหตุ/บันทึกเพิ่มเติม</label>
                                            <ul class="answerList">
                                                <li>
                                                    <textarea name="remark" id="remark" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px;resize: none;" disabled>@ViewBag.QueueFullDetail.QueueResultRemark</textarea>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="box-body bodyResultDirector" style="height: auto;width: auto;">
                                            <label>สถานะการคัดกรอง</label>
                                            <ul class="answerList">
                                                <li>
                                                    <label>
                                                        <input type="radio" name="underwriteStatus" value="1" id="underwriteStatus_1"> คัดกรองแล้ว
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="underwriteStatus" value="0" id="underwriteStatus_0" checked> ยังไม่คัดกรอง
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="box-body bodyResultDirector" style="height: auto;width: auto;">
                                            <label>สถานะการโทร</label>
                                            <ul class="answerList">
                                                <li>
                                                    @if (ViewBag.CallStatusList != null)
                                                    {
                                                        foreach (var i in ViewBag.CallStatusList)
                                                        {
                                                            if (i.CallStatusId != 2)
                                                            {
                                                                if (ViewBag.QueueFullDetail.CallStatusId == i.CallStatusId)
                                                                {
                                                                    <label>
                                                                        <input type="radio" name="callStatus" value="@i.CallStatusId" id="callStatus_@(i.CallStatusId)" checked> @i.CallStatusDetail
                                                                    </label>
                                                                }
                                                                else
                                                                {
                                                                    <label>
                                                                        <input type="radio" name="callStatus" value="@i.CallStatusId" id="callStatus_@(i.CallStatusId)"> @i.CallStatusDetail
                                                                    </label>
                                                                }

                                                            }
                                                        }
                                                    }
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="box-body bodyResultDirector" style="height: auto;width: auto;">
                                            <label>สถานะการเข้าพบ</label>
                                            <ul class="answerList">
                                                <li>
                                                    <label>
                                                        <input type="checkbox" name="foundCustomer" value="0" id="foundCustomer_0" @(ViewBag.QueueFullDetail.IsNotFoundCustomer == true ? "checked" : "")> ไม่พบลูกค้า
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                </div>
                            </div>
                        </form>
                        @if (ViewBag.QueueFullDetail.CoBrandNo != "" && ViewBag.QueueFullDetail.CoBrandNo != null)
                        {
                            <div class="col-sm-12" id="sectionGivecard">
                                <div class="box box-info">
                                    <div class="box-header" style="background-color: #b3eeff">
                                        <h4 class="box-title">บันทึกการมอบบัตรประกันสุขภาพ </h4>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="height: auto;width: auto;">
                                        <div class="form-group col-md-12">
                                            <label class="col-md-2 control-label">  มอบบัตร CoBrand<span style="color:red">*</span></label>
                                            <div class="col-md-6 ">
                                                <input class="form-control" id="txtCoBrand" name="txtCoBrand" type="text" value="@ViewBag.QueueFullDetail.CoBrandNo" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="col-md-2 control-label"> วันที่บันทึกมอบบัตร<span style="color:red">*</span></label>
                                            <div class="col-md-6 ">
                                                <input class="form-control" id="txtCoBrandDate" name="txtCoBrandDate" type="text" value="@(ViewBag.QueueFullDetail.GiverDate != null ? ViewBag.QueueFullDetail.GiverDate.ToString("dd/MM/yyyy") : "")" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="col-md-2 control-label">แนบรูปภาพมอบบัตร<span style="color:red">*</span></label>
                                            <div class="col-md-6 ">
                                                <a href="javascript:void();" class="pop">
                                                    <img id="myImg" src="@ViewBag.QueueFullDetail.URLPath" alt="@ViewBag.QueueFullDetail.FileName" style="width:100%;max-width:100px">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="col-md-2 control-label"> ประเภทการมอบบัตร<span style="color:red">*</span></label>
                                            <div class="col-md-6 ">
                                                <input class="form-control" id="txtGiveType" name="txtGiveType" type="text" value="@ViewBag.QueueFullDetail.GiveType" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="col-md-2 control-label"> ผู้มอบบัตร<span style="color:red">*</span></label>
                                            <div class="col-md-6 ">
                                                <input class="form-control" id="txtGiverEmployeeName" name="txtGiverEmployeeName" type="text" value="@ViewBag.QueueFullDetail.GiverEmployeeName" disabled />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (ViewBag.QueueFullDetail.ApproveStatusId != null && ViewBag.QueueFullDetail.ApproveStatusId != 1 && ViewBag.QueueFullDetail.ApproveStatusId != 2)
                        {
                            <!--section CM Result-->
                            @* <div id="sectionCMResult" style="display:block">
                                    <div class="col-sm-12 pd-xs-0">
                                        <div class="box box-info">
                                            <div class="box-header" style="background-color: #b3eeff;position:relative">
                                                <h4 class="box-title">
                                                    ผลการพิจารณาอนุมัติของประธานสาขา
                                                </h4>
                                                <div class="box-tools pull-right">
                                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                                </div>
                                            </div>
                                            <div class="box-body" style="height: auto;width: auto;">
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <strong>ผลการพิจารณา :</strong>
                                                        </span>
                                                        @switch (ViewBag.QueueFullDetail.ApproveStatusId)
                                                        {
                                                            case 3:
                                                                <span class="label label-success" name="lblCMStatusApprove" id="lblCMStatusApprove">@ViewBag.QueueFullDetail.ApproveStatus</span>
                                                                break;
                                                            case 4:
                                                                <span class="label label-warning" name="lblCMStatusApprove" id="lblCMStatusApprove">@ViewBag.QueueFullDetail.ApproveStatus</span>
                                                                break;
                                                            case 5:
                                                                <span class="label label-danger" name="lblCMStatusApprove" id="lblCMStatusApprove">@ViewBag.QueueFullDetail.ApproveStatus</span>
                                                                break;
                                                            default:
                                                                <span class="label label-default" name="lblCMStatusApprove" id="lblCMStatusApprove">-</span>
                                                                break;
                                                        }
                                                    </li>
                                                    <li id="li-detail">
                                                        @switch (ViewBag.QueueFullDetail.ApproveStatusId)
                                                        {
                                                            case 3:
                                                                break;
                                                            case 4:
                                                                if (ViewBag.QueueFullDetail.ApproveIsUnderwritePassIsSpecify == true)
                                                                {
                                                                    <span><strong>รายละเอียด :</strong> </span> <ul style="list-style-type:initial;"><li>มีประวัติสุขภาพติดข้อยกเว้น-ระบุในใบสมัคร</li></ul>
                                                                    <span><strong>ข้อมูลข้อยกเว้น :</strong> </span> <ul style="list-style-type:initial;"><li>@(ViewBag.QueueFullDetail.ApproveUnderwritePassSpecifyRemark != null && ViewBag.QueueFullDetail.ApproveUnderwritePassSpecifyRemark != "" ? ViewBag.QueueFullDetail.ApproveUnderwritePassSpecifyRemark : "-")</li></ul>
                                                                }
                                                                else
                                                                {
                                                                    <span><strong>รายละเอียด :</strong> </span> <ul style="list-style-type:initial;"><li>มีประวัติสุขภาพติดข้อยกเว้น-ไม่ระบุในใบสมัคร</li></ul>
                                                                    <span><strong>ข้อมูลข้อยกเว้น :</strong> </span> <ul style="list-style-type:initial;"><li>@(ViewBag.QueueFullDetail.ApproveUnderwritePassSpecifyRemark != null && ViewBag.QueueFullDetail.ApproveUnderwritePassSpecifyRemark != "" ? ViewBag.QueueFullDetail.ApproveUnderwritePassSpecifyRemark : "-")</li></ul>

                                                                }
                                                                break;
                                                            case 5:
                                                                <span><strong>รายละเอียด :</strong> </span>
                                                                <ul style="list-style-type:initial;">
                                                                    @if (ViewBag.QueueFullDetail.ApproveIsUnderwriteUnPassHealth == true)
                                                                    {
                                                                        <li>ไม่ผ่าน-ด้านสุขภาพ</li>
                                                                    }
                                                                    @if (ViewBag.QueueFullDetail.ApproveIsUnderwriteUnPassCantPay == true)
                                                                    {
                                                                        <li>ไม่ผ่าน-ไม่สามารถชำระเบี้ยตามเงื่อนไขได้</li>
                                                                    }
                                                                    @if (ViewBag.QueueFullDetail.ApproveIsUnderwriteUnPassOccupation == true)
                                                                    {
                                                                        <li>ไม่ผ่าน-ด้านอาชีพ</li>
                                                                    }
                                                                    @if (ViewBag.QueueFullDetail.ApproveIsUnderwriteUnPassOther == true)
                                                                    {
                                                                        <li>ไม่ผ่าน-อื่นๆ</li>
                                                                        //ถ้าเป็น string empty ให้แสดง -
                                                                        <li>@(ViewBag.QueueFullDetail.ApproveUnderwriteUnPassOtherRemark != "" ? ViewBag.QueueFullDetail.ApproveUnderwriteUnPassOtherRemark : "-")</li>
                                                                    }
                                                                </ul>
                                                                break;
                                                            default:
                                                                break;
                                                        }
                                                    </li>
                                                    @if (ViewBag.QueueFullDetail.ApproveRemark != "")
                                                    {
                                                        <li style="border-bottom: solid 1px;padding-bottom: 10px; margin-bottom: 10px;">
                                                            <span>
                                                                <strong>หมายเหตุ :</strong>
                                                            </span>
                                                            <span name="lblCMRemark" id="lblCMRemark">@ViewBag.QueueFullDetail.ApproveRemark</span>
                                                        </li>
                                                    }

                                                    <li>
                                                        <span>
                                                            <strong>ผู้พิจารณา :</strong>
                                                        </span>
                                                        <span name="lblCMName" id="lblCMName">@(ViewBag.QueueFullDetail.ApproveByChairmanName != null ? ViewBag.QueueFullDetail.ApproveByChairmanName : "-")</span>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <strong>วันที่พิจารณา :</strong>
                                                        </span>
                                                        <span name="lblCMName" id="lblCMName">@(ViewBag.QueueFullDetail.ApproveDate != null ? ViewBag.QueueFullDetail.ApproveDate : "-")</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                        }
                    </div>
                </div>
                @* tab_3 *@
                <div class="tab-pane" id="tab_3">
                    <div id="Document_form" class="form-horizontal">
                        @if (ViewBag.FirstDoc == null)
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="form1_msg" class="alert alert-warning alert-dismissible">
                                        <h4><i class="icon fa fa-ban"></i> แจ้งเตือน!</h4>
                                        ไม่พบเอกสาร
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <br />
                            <div class="form-group">
                                @if (ViewBag.DocLink != null)
                                {
                                    foreach (var itm in ViewBag.DocLink)
                                    {
                                        <div class="col-sm-6 col-xs-12">
                                            <button type="button" class="btn btn-block btn-info" id="btn_@itm.DocumentFileId" onclick="SeeDoc('@itm.PathFullDoc')"><i class="fa fa-fw fa-search"></i>@itm.DocumentTypeName:@itm.DocumentId</button>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="row" id="DocDetail_form">
                                <div class="col-sm-12" style="height: 950px">
                                    <iframe class="SeeDoc" style="width: 100%; height: 100%;overflow:auto !important" src="@ViewBag.FirstDoc"></iframe>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @* tab_4 *@
                <div id="tab_4" class="tab-pane view-detail">
                    <div class="form-horizontal">
                        <table id="tableLog" name="tableLog" class="table table-bordered table-striped display responsive" style="width: 100%">
                            <tbody>
                                <tr style="text-align:center"><td>ไม่พบข้อมูล</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
    <!--Modal Img-->
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <img src="" class="imagepreview" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>

    <!--.modal -->
    <div class="modal fade" id="modal-warning">
        <!--.modal-dialog -->
        <div class="modal-dialog">
            <!--.modal-content -->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #ffd243;border-color: #ffeeba;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: black;">×</span>
                    </button>
                    <h4 class="modal-title">รายละเอียด</h4>
                </div>
                <div class="modal-body">
                    <table id="tablePayerOther" class="table table-bordered table-striped display responsive" style="width: 100%"></table>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--/.modal -->
</section>

@section ViewSpecificJavascript
{
    <script>
        var chat;
        var healtVal;
        var typeSelectVal;
        var countFile = 0;
        var imgUrlPath;
        var imgPhysicalPath;

        $(function () {
            //check mobile
            if (isMobileTablet()) $('#DocDetail_form').hide();

            //disabled element input
            $(".view-detail :input").prop("disabled", true);
            $(".view-detail label").css("cursor", "not-allowed");
            $('#openSSS').prop("disabled", false);
            $('#btnPayerOther').prop("disabled", false);

            //modal img
            // click img
            $('.pop').on('click', function () {
                $('.imagepreview').attr('src', $(this).find('img').attr('src'));
                $('#imagemodal').modal('show');
            });

            //load dt payer other
            getPayerOther('@ViewBag.AppCode');

            /*tab change*/
            $('a[data-toggle="tab"]').on('shown.bs.tab',
                function (e) {
                    e.preventDefault();
                    loadingSpinner('fadeIn',200);
                    const target = $(e.target).attr("href");
                    switch (target) {
                        case "#tab_4":
                            //Log
                            GetQueueAuditLog_DT();
                            break;
                        default:
                    }
                });
        });
          const OpenSSS = (app) => {
            var encoded = btoa(app);
            window.open(`@ViewBag.OpenSSS?app=`+encoded,'_blank');
        }
        /***Document**/
        const SeeDoc = (path) => {
            if (isMobileTablet()) {
                window.location.href = path;
            } else {
                $('#DocDetail_form').children().show();
                //const extension = path.substr(path.length - 4);
                let extension = '';
                const indexPDF = path.indexOf('.pdf');
                const indexJPG = path.indexOf('.jpg');

                if (indexPDF >= 0) extension = '.pdf';
                if (indexJPG >= 0) extension = '.jpg';

                switch (extension) {
                    case '.pdf':
                        $('.SeeDoc').attr('src', path);
                        break;
                    case '.jpg':
                        $('.SeeDoc').attr('src', path);
                        break;
                    default:
                }
            }
        }

        const GetQueueAuditLog_DT = () => {
            $('#tableLog').empty();
            var table = $('#tableLog').DataTable({
                pageLength: 10,
                lengthChange: false,
                processing: true,
                serverSide: true,
                destroy: true,
                searching: true,
                ordering: true,
                info: true,
                paging: true,
                autoWidth: false,
                responsive: true,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.20/i18n/Thai.json'
                },
                ajax: {
                    url: '@Url.Action("QueueAuditLog")',
                    method: 'GET',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search;
                        d.queueAuditId = "@ViewBag.QueueFullDetail.QueueAuditId";
                    }
                },
                columns: [
                    {
                        title: 'วันที่ได้รับคิวงาน',
                        data: 'CreatedDate',
                        render: function (data) {
                            return moment(data).format("DD/MM/YYYY HH:mm:ss");
                        }

                    },
                    {
                        title: 'ผู้มอบหมายคิวงาน',
                        data: 'FromFullName'
                    },
                    {
                        title: 'ผู้รับคิวงาน',
                        data: 'ToFullName'
                    },
                    @*{
                        title: 'ภาค',
                        data:'ToAreaDetail'
                    }*@
                ]
            });

            window.onresize = function () {
                table.columns.adjust().responsive.recalc();
            };
        }

        /*fn get payer other*/
        const getPayerOther = (appCode) => {
            $.get('@Url.Action("GetPayerOtherApp")',
                { appCode: appCode },
                function (data) {
                    if (data.length > 0) {
                        /*declare str*/
                        const str = `ชำระเบี้ยให้อีก ${data.length} คน`;
                        /*show button*/
                        $('#btnPayerOther').show();
                        /*set str to text button*/
                        $('#btnPayerOther').text(str);
                        /*load datatables*/
                        loadDatatablesPayerOther(data);
                    }
                });
        }

        /*load datatables payer other*/
        const loadDatatablesPayerOther = (data) => {
            $(`#tablePayerOther`).empty();
            $(`#tablePayerOther`).DataTable({
                pageLength: 100,
                processing: true,
                serverSide: false,
                autoWidth: false,
                responsive: true,
                destroy: true,
                lengthChange: false,
                searching: false,
                info: true,
                paging: true,
                data: data,
                language: {
                    url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Thai.json"
                },
                columns: [
                    {
                        title: 'AppId',
                        data: 'app_Id',
                        orderable: false
                    },
                    {
                        title: 'ชื่อ-สกุล',
                        data: null,
                        orderable: false,
                        render: (d) => {
                            return `${d.customerFirstName} ${d.customerLastName}`;
                        }

                    },
                    {
                        title: 'วันเริ่มคุ้มครอง',
                        data: 'startCoverDate',
                        orderable: false,
                        render: (d) => {
                            return moment(d).format("DD/MM/YYYY");
                        }
                    },
                    {
                        title: 'สถานะ',
                        data: 'status',
                        orderable: false
                    }
                ]
            });
        }
    </script>
}