@{
    Layout = "../Shared/_Layout_Empty.cshtml";
}

<style>
    body {
        background: rgb(204,204,204);
    }

    .page {
        background: white;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        border: solid 0.2px black;
    }

        .page[size="A4"] {
            width: 21cm;
            height: 29.7cm;
        }

            .page[size="A4"][layout="portrait"] {
                width: 29.7cm;
                height: 21cm;
            }

    @@media print {
        body, .page {
            margin: 0;
            box-shadow: 0;
        }
    }

    Table, Tr, Td {
        font: 8pt arial, tahoma, sans-serif;
        border-color: black;
    }

    .all-border {
        border: 0.2px solid black;
        height: 25px;
    }

    .padding {
        padding: 3px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }
</style>

<form id="Mainform">
    <div class="page" style="vertical-align: top; page-break-after: always">
        <div>
            <table id="MainHeaderTable" style="border: solid black 0.2px;width: 100%">
                <tr>
                    <td colspan="4" rowspan="6">
                        <table>
                            <tr>
                                <td style="text-align: left; font-weight: bold">@ViewBag.CompanyHeader</td>
                            </tr>
                            <tr><td style="text-align: left">@ViewBag.CompanyDetail_1</td></tr>
                            <tr><td style="text-align: left">@ViewBag.CompanyDetail_2</td></tr>
                            <tr><td style="text-align: left">@ViewBag.CompanyDetail_3</td></tr>
                            <tr>
                                <td>&emsp;</td>
                            </tr>
                        </table>
                    </td>
                    <td colspan="4" rowspan="6">
                        <table>
                            <tr><td></td></tr>
                            <tr>
                                <td style="text-align: center; font-size: large; font-weight: bold; padding-left: 30px">ใบสำคัญจ่าย</td>
                            </tr>
                            <tr>
                                <td style="text-align: center; font-size: large; font-weight: bold; padding-left: 30px">(Payment Voucher)</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr><td></td></tr>
                        </table>
                    </td>
                    <td colspan="8" rowspan="6" style="padding-left: 80px">
                        <table>
                            <tr>
                                <td>&emsp;</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;height: 20px">สำนักงาน/สายงาน @ViewBag.Voucher_branch</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;height: 20px">หน่วยงาน / ฝ่าย @ViewBag.Voucher_department</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;height: 20px">วันที่เอกสาร @ViewBag.Voucher_date</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;height: 20px">เลขที่เอกสาร @ViewBag.Voucher_No</td>
                            </tr>
                            <tr>
                                <td>&emsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div style="padding-top: 3px">
            <table id="NameHeaderTable" style="border: solid black 0.2px;width: 100%">
                <tr>
                    <td colspan="12" style="padding-top: 10px">
                        &emsp; ข้าพเจ้า @ViewBag.Owner_name รหัสพนักงาน @ViewBag.Owner_code
                    </td>
                </tr>
                <tr>
                    <td colspan="12" style="padding-top: 10px">
                        ขออนุมัติการจ่ายเงินตามรายการดังต่อไปนี้
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table id="ListWithdrawTable" class="all-border" style="border: solid black 0.2px;width: 100%">
                <tr>
                    <td class="all-border" style="width: 5%;text-align: center">ลำดับ</td>
                    <td class="all-border" style="width: 65%;text-align: center">รายการ</td>
                    <td class="all-border" style="width: 15%;text-align: center">เดบิต</td>
                    <td class="all-border" style="width: 15%;text-align: center">เครดิต</td>
                </tr>
                <tr class="all-border">
                    <td class="all-border" style="text-align: center">1</td>
                    <td class="all-border">@ViewBag.List01_detail</td>
                    <td class="all-border" style="text-align: center">@ViewBag.List01_debit</td>
                    <td class="all-border" style="text-align: center">@ViewBag.List01_credit</td>
                </tr>
                <tr class="all-border">
                    <td class="all-border" style="text-align: center">2</td>
                    <td class="all-border">@ViewBag.List02_detail</td>
                    <td class="all-border" style="text-align: center">@ViewBag.List02_debit</td>
                    <td class="all-border" style="text-align: center">@ViewBag.List02_credit</td>
                </tr>
                <tr class="all-border">
                    <td class="all-border" style="text-align: center">3</td>
                    <td class="all-border">@ViewBag.List03_detail</td>
                    <td class="all-border" style="text-align: center">@ViewBag.List03_debit</td>
                    <td class="all-border" style="text-align: center">@ViewBag.List03_credit</td>
                </tr>
                <tr class="all-border">
                    <td class="all-border" style="text-align: center">4</td>
                    <td class="all-border">@ViewBag.List04_detail</td>
                    <td class="all-border" style="text-align: center">@ViewBag.List04_debit</td>
                    <td class="all-border" style="text-align: center">@ViewBag.List04_credit</td>
                </tr>
                <tr class="all-border">
                    <td class="all-border" style="text-align: center">5</td>
                    <td class="all-border">@ViewBag.List05_detail</td>
                    <td class="all-border" style="text-align: center">@ViewBag.List05_debit</td>
                    <td class="all-border" style="text-align: center">@ViewBag.List05_credit</td>
                </tr>
                <tr class="all-border">
                    <td class="all-border" style="text-align: center"></td>
                    <td class="all-border">ผลต่างจากการปรับเศษสตางค์</td>
                    <td class="all-border"></td>
                    <td class="all-border"></td>
                </tr>
                <tr class="all-border">
                    <td class="all-border" style="text-align: center"></td>
                    <td class="all-border">เงินสด/เงินโอน</td>
                    <td class="all-border" style="text-align: center">@ViewBag.ListResult_debit</td>
                    <td class="all-border" style="text-align: center">@ViewBag.ListResult_credit</td>
                </tr>
                <tr class="all-border">
                    <td class="all-border" style="text-align: center"></td>
                    <td class="all-border" style="text-align: center">@ViewBag.ListResult_thai</td>
                    <td class="all-border" style="text-align: center">@ViewBag.ListResult_total_debit</td>
                    <td class="all-border" style="text-align: center">@ViewBag.ListResult_total_credit</td>
                </tr>
            </table>
        </div>
        <div>
            <table id="signSection" style="width: 100%">
                <tr class="all-border">
                    <td class="all-border" style="width: 50%">
                        <table style="width: 100%">
                            <tr>
                                <td style="font-weight: bold;text-decoration: underline">ฝ่าย/สาขา</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 30px;text-align: center">ลงชื่อ ........................................... ผู้ขอเบิก</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 10px;text-align: center">............/............/...........</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 40px;text-align: center">ลงชื่อ ........................................... ผู้อำนวยการสาขา/หัวหน้าฝ่าย</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 10px;text-align: center">............/............/...........</td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 10px"></td>
                            </tr>
                        </table>
                    </td>
                    <td class="all-border" style="width: 50%">
                        <table style="width: 100%">
                            <tr>
                                <td style="font-weight: bold;text-decoration: underline">การอนุมัติดำเนินการ</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 30px;text-align: center">ลงชื่อ ........................................... ผู้อนุมัติดำเนินการ</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 10px;text-align: center">............/............/...........</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 40px;text-align: center">ลงชื่อ ........................................... ผู้ตรวจสอบการอนุมัติ</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 10px;text-align: center">............/............/...........</td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 10px"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table id="FinanceChecker" style="width: 100%">
                <tr class="all-border">
                    <td class="all-border" style="width: 30%">
                        <table style="width: 100%">
                            <tr>
                                <td style="font-weight: bold;text-decoration: underline">ฝ่ายการเงิน</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 40px;text-align: center">ลงชื่อ ........................................... ผู้จัดทำ</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 10px;text-align: center">............/............/...........</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 40px;text-align: center">ลงชื่อ ........................................... ผู้ตรวจสอบ</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 10px;text-align: center">............/............/...........</td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 10px"></td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 60%">
                        <table style="width: 100%">
                            <tr>
                                <td style="font-weight: bold;text-decoration: underline">การอนุมัติทางการเงิน</td>
                            </tr>
                            <tr>
                                <td style="width: 50%">
                                    <table style="width: 100%">
                                        <tr>
                                            <td style="padding-top: 40px;text-align: center">ลงชื่อ ........................................ ผู้อนุมัติทางการเงิน</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 10px;text-align: center">............/............/...........</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 40px;text-align: center">ลงชื่อ ........................................... ผู้ตรวจสอบการจ่ายเงิน</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 10px;text-align: center">............/............/...........</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-bottom: 10px"></td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width: 50%">
                                    <table style="width: 100%">
                                        <tr>
                                            <td style="padding-top: 40px;text-align: center">ลงชื่อ ........................................ ผู้อนุมัติทางการเงิน</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 10px;text-align: center">............/............/...........</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 40px;text-align: center">ลงชื่อ ........................................... ผู้ตรวจสอบการจ่ายเงิน</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 10px;text-align: center">............/............/...........</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-bottom: 10px"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table class="all-border" id="PaymentTable" style="width: 100%">
                <tr>
                    <td colspan="1" class="all-border" style="font-weight: bold;text-align: center">วิธีการจ่ายเงิน</td>
                    <td colspan="5">&emsp;</td>
                </tr>
                <tr>
                    <td style="width: 16.6%;text-align: center"></td>
                    <td style="width: 16.6%;text-align: center">ธนาคาร</td>
                    <td style="width: 16.6%;text-align: center">เลขที่บัญชี/เลขที่เช็ค</td>
                    <td style="width: 16.6%;text-align: center">ชื่อบัญชี</td>
                    <td style="width: 16.6%;text-align: center">สาขา/ลงวันที่</td>
                    <td style="width: 16.6%;text-align: center">จำนวนเงิน</td>
                </tr>
                <tr>
                    <td>เงินสด</td>
                    <td style="background-color: silver"></td>
                    <td style="background-color: silver"></td>
                    <td style="background-color: silver"></td>
                    <td style="background-color: silver"></td>
                    <td class="all-border"></td>
                </tr>
                <tr>
                    <td>เงินโอน</td>
                    <td class="all-border">@ViewBag.Payment_bank</td>
                    <td class="all-border">@ViewBag.Payment_no</td>
                    <td class="all-border">@ViewBag.Payment_name</td>
                    <td class="all-border">@ViewBag.Payment_branch</td>
                    <td class="all-border">@ViewBag.Payment_cash</td>
                </tr>
                <tr>
                    <td>เช็คสั่งจ่าย</td>
                    <td class="all-border"></td>
                    <td class="all-border"></td>
                    <td class="all-border"></td>
                    <td class="all-border"></td>
                    <td class="all-border"></td>
                </tr>
                <tr>
                    <td>สั่งจ่ายจาก</td>
                    <td class="all-border"></td>
                    <td class="all-border"></td>
                    <td class="all-border"></td>
                    <td class="all-border"></td>
                    <td class="all-border"></td>
                </tr>
            </table>
        </div>
        <div>
            <table id="footerSign" style="width: 100%" class="all-border">
                <tr>
                    <td style="width: 50%">
                        <table style="width: 100%">
                            <tr>
                                <td style="padding-top: 30px;text-align: center">ลงชื่อ ........................................... ผู้รับเงิน/เช็คสั่งจ่าย</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 10px;text-align: center">วันที่รับเงิน/เช็คสั่งจ่าย ................./................./..............</td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 10px"></td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 50%">
                        <table style="width: 100%">
                            <tr>
                                <td style="padding-top: 30px;text-align: center">ลงชื่อ ........................................... ผู้จ่ายเงิน/เช็คสั่งจ่าย</td>
                            </tr>
                            <tr>
                                <td style="padding-top: 10px;text-align: center">วันที่จ่ายเงิน/เช็คสั่งจ่าย ................./................./..............</td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 10px"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table id="footer" style="width: 100%">
                <tr>
                    <td colspan="5">(หมายเหตุ - รายการที่มีการอนุมัติผ่านช่องทางอื่น ๆ  ต้องแนบเอกสารประกอบการอนุมัติทุกกรณี)</td>
                </tr>
                <tr>
                    <td style="width: 10%"></td>
                    <td style="width: 22.5%;text-align: center">รับเอกสาร</td>
                    <td style="width: 22.5%;text-align: center">เอกสารตีคืน</td>
                    <td style="width: 22.5%;text-align: center">ตรวจสอบ</td>
                    <td style="width: 22.5%;text-align: center">อนุมัติทางการเงิน</td>
                </tr>
                <tr>
                    <td style="width: 10%">วันที่</td>
                    <td class="all-border" style="width: 22.5%"></td>
                    <td class="all-border" style="width: 22.5%"></td>
                    <td class="all-border" style="width: 22.5%"></td>
                    <td class="all-border" style="width: 22.5%"></td>
                </tr>
            </table>
        </div>
    </div>
</form>
@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            window.onload = () => { window.print(); }
        });
    </script>
}