@{
    ViewBag.Title = "สรุปรายการปิดยอด/วัน";
}
<style>
    .table {
        font-size: 14px;
    }
</style>
<form action="" method="post" id="Mainform">
    <div class="row">
        @* Dt form *@
        <div class="col-sm-12" id="Detail_form">
            <div class="box box-default">
                <div class="box-body">
                    <div class="form-group row">
                        @*<div class=" col-sm-2">
                                <label for="" class="control-label">เลือกวันที่ :</label>
                                <input type="text" class="form-control pull-right" name="dateInput" id="dateInput"
                                       data-date-language="th-th" data-provide="datetimepicker">
                            </div>
                            <div class="col-sm-2" style="padding-top: 25px">
                                <button type="button" class="btn btn-block btn-info" id="btnSearch" onclick="">ค้นหา</button>
                            </div>*@
                        @*<div class="col-sm-5 pull-right" style="padding-top: 25px">
                                <h5 class="text-bold">ยอดยกมา ณ วันที่ @ViewBag.updatedDate จำนวน @ViewBag.balance บาท เงินคงเหลือ <label id="lblTotal">0</label> บาท</h5>
                            </div>*@
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <table id="dtShowDataSource" name="dtShowDataSource" class="table table-bordered table-striped"></table>
                        </div>
                    </div>
                    <div class="form-group row">
                        @*<div class="col-sm-2">
                                <h5 class="text-bold">เงินคงเหลือ 9,999 บาท</h5>
                            </div>*@
                        <div class="col-sm-2 pull-right">
                            <button type="button" class="btn btn-block btn-success" id="btnSubmit" onclick="" data-toggle="modal" data-target=".bd-edit-modal-lg">ปิดยอด</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* modal *@
    <div class="modal fade bd-edit-modal-lg" id="CloseTransactionModal" tabindex="-1" role="dialog" aria-labelledby="CloseTransactionModal" aria-hidden="true">
        <div class="modal-dialog  modal-md " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">ยืนยันยอด</h4>
                    <h5 class="text-bold">ยอดเงินสด ณ วันที่ @ViewBag.updatedDate จำนวน <label id="sum_label_total">0</label> บาท</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-offset-1 col-sm-3">
                            <h5 class="text-bold">ประเภทธนบัตร</h5>
                        </div>
                        <div class="col-sm-3">
                            <h5 class="text-bold">จำนวน</h5>
                        </div>
                        <div class="col-sm-3">
                            <h5 class="text-bold">จำนวนเงิน</h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-1 col-sm-3">
                            1,000บาท :
                        </div>
                        <div class="col-sm-3">
                            <input class="form-control sum_input checkOnlyNum" name="txt1000" id="txt1000" value="0">
                        </div>
                        <div class="col-sm-3">
                            <label class="text-bold sum_label" id="txt1000total" name="txt1000total">0</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-1 col-sm-3">
                            500บาท :
                        </div>
                        <div class="col-sm-3">
                            <input class="form-control sum_input checkOnlyNum" name="txt500" id="txt500" value="0">
                        </div>
                        <div class="col-sm-3">
                            <label class="text-bold sum_label" id="txt500total" name="txt500total">0</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-1 col-sm-3">
                            100บาท :
                        </div>
                        <div class="col-sm-3">
                            <input class="form-control sum_input checkOnlyNum" name="txt100" id="txt100" value="0">
                        </div>
                        <div class="col-sm-3">
                            <label class="text-bold sum_label" id="txt100total" name="txt100total">0</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-1 col-sm-3">
                            50บาท :
                        </div>
                        <div class="col-sm-3">
                            <input class="form-control sum_input " name="txt50" id="txt50" value="0">
                        </div>
                        <div class="col-sm-3">
                            <label class="text-bold sum_label" id="txt50total" name="txt50total">0</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-1 col-sm-3">
                            20บาท :
                        </div>
                        <div class="col-sm-3">
                            <input class="form-control sum_input checkOnlyNum" name="txt20" id="txt20" value="0">
                        </div>
                        <div class="col-sm-3">
                            <label class="text-bold sum_label" id="txt20total" name="txt20total">0</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-1 col-sm-3">
                            10บาท :
                        </div>
                        <div class="col-sm-3">
                            <input class="form-control sum_input checkOnlyNum" name="txt10" id="txt10" value="0">
                        </div>
                        <div class="col-sm-3">
                            <label class="text-bold sum_label" id="txt10total" name="txt10total">0</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-1 col-sm-3">
                            5บาท :
                        </div>
                        <div class="col-sm-3">
                            <input class="form-control sum_input checkOnlyNum" name="txt5" id="txt5" value="0">
                        </div>
                        <div class="col-sm-3">
                            <label class="text-bold sum_label" id="txt5total" name="txt5total">0</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-1 col-sm-3">
                            2บาท :
                        </div>
                        <div class="col-sm-3">
                            <input class="form-control sum_input checkOnlyNum" name="txt2" id="txt2" value="0">
                        </div>
                        <div class="col-sm-3">
                            <label class="text-bold sum_label" id="txt2total" name="txt2total">0</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-1 col-sm-3">
                            1บาท :
                        </div>
                        <div class="col-sm-3">
                            <input class="form-control sum_input checkOnlyNum" name="txt1" id="txt1" value="0">
                        </div>
                        <div class="col-sm-3">
                            <label class="text-bold sum_label" id="txt1total" name="txt1total">0</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-1 col-sm-3">
                            0.50บาท :
                        </div>
                        <div class="col-sm-3">
                            <input class="form-control sum_input checkOnlyNum" name="txt050" id="txt050" value="0">
                        </div>
                        <div class="col-sm-3">
                            <label class="text-bold sum_label" id="txt050total" name="txt050total">0</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-1 col-sm-3">
                            0.25บาท :
                        </div>
                        <div class="col-sm-3">
                            <input class="form-control sum_input checkOnlyNum" name="txt025" id="txt025" value="0">
                        </div>
                        <div class="col-sm-3">
                            <label class="text-bold sum_label" id="txt025total" name="txt025total">0</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-offset-3 col-sm-3">
                        <button type="button" class="btn btn-block btn-success" id="btnCloseTransaction" onclick="InsertCloseDayTransaction()">ยืนยันปิดยอด</button>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-block btn-danger" data-dismiss="modal">ยกเลิก</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* end modal *@
    @* hidden *@
    <input type="hidden" name="hd_pettyCashId" id="hd_pettyCashId" value="@ViewBag.pettyCashId" />
    @* end hidden *@
</form>
@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            $('#Mainform').validate();

            $('input').on('focusout  keyup change', () => {
                if ($('form').valid()) {
                    $('#btnCloseTransaction').prop('disabled', false);
                } else {
                    $('#btnCloseTransaction').prop('disabled', true);
                }
            });

            CallPettyCashDT($('#hd_pettyCashId').val());
            //   setTimeout(function () { loopInputToTblInput(); }, 1500);

            $('#dtShowDataSource tbody').on('click', 'td.details-control', function () {
                const tr = $(this).closest('tr');
                const row = $('#dtShowDataSource').DataTable().row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });

            EventCalculateMoney();
        });

        function commaSeparateNumber(val) {
            while (/(\d+)(\d{3})/.test(val.toString())) {
                val = val.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
            }
            return val;
        }

        const EventCalculateMoney = () => {

            $('#txt1000').keyup(function () {
                $('#txt1000total').text((commaSeparateNumber(1000 * $('#txt1000').val())));
            });
            $('#txt500').keyup(function () {
                $('#txt500total').text((commaSeparateNumber(500 * $('#txt500').val())));
            });
            $('#txt100').keyup(function () {
                $('#txt100total').text((commaSeparateNumber(100 * $('#txt100').val())));
            });
            $('#txt50').keyup(function () {
                $('#txt50total').text((commaSeparateNumber(50 * $('#txt50').val())));
            });
            $('#txt20').keyup(function () {
                $('#txt20total').text((commaSeparateNumber(20 * $('#txt20').val())));
            });
            $('#txt10').keyup(function () {
                $('#txt10total').text((commaSeparateNumber(10 * $('#txt10').val())));
            });
            $('#txt5').keyup(function () {
                $('#txt5total').text((commaSeparateNumber(5 * $('#txt5').val())));
            });
            $('#txt2').keyup(function () {
                $('#txt2total').text((commaSeparateNumber(2 * $('#txt2').val())));
            });
            $('#txt1').keyup(function () {
                $('#txt1total').text((commaSeparateNumber(1 * $('#txt1').val())));
            });
            $('#txt050').keyup(function () {
                $('#txt050total').text((commaSeparateNumber(0.5 * $('#txt050').val())));
            });
            $('#txt025').keyup(function () {
                $('#txt025total').text((commaSeparateNumber(0.25 * $('#txt025').val())));
            });

            Calculate();
        }

        //calculate
        const Calculate = () => {
            $('.sum_input').on('focusout keyup', function (e) {
                e.preventDefault();
                var result = 0;
                $('.sum_label').each(function (index, obj) {
                    //check
                    var nuwStr = obj.textContent.replace(/,/g, "");
                    if (Number(nuwStr) > 0) {
                        result += Number(nuwStr);
                    }
                });

                $('#sum_label_total').text(commaSeparateNumber(result));
            });
        }
        //call data table
        const CallPettyCashDT = (pettyCashId) => {
            $('#dtShowDataSource').empty();
            var table = $('#dtShowDataSource').DataTable({
                dom: '<"toolbar">frtip<"footer">',
                paging: false,
                info: false,
                processing: true,
                serverSide: true,
                responsive: false,
                destroy: true,
                searching: false,
                scrollX: true,
                ajax: {
                    url: '@Url.Action("GetPettyCashDT","PettyCash")',
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = 99999;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;
                        d.pettyCashId = pettyCashId;
                        d.pettyCashTransactionTypeStatusId = 2;
                    }
                },
                columns: [
                    {
                        className: 'details-control',
                        orderable: false,
                        data: null,
                        defaultContent: '',
                        width: "10px"
                    }, {
                        title: 'Code',
                        data: 'PettyCashTransactionCode',
                        className: "h-dt-center d-dt-center",
                        width: "100px"
                    }, {
                        title: 'วันที่สร้างรายการ',
                        data: 'CreatedDate',
                        className: "h-dt-center d-dt-center",
                        width: "160px",
                        render: function (data) {
                            if (data != null) {
                                return moment(data).format('DD/MM/YYYY HH:mm');
                            } else {
                                return '-';

                            }
                        }
                    },

                    {
                        title: 'ประเภท',
                        data: 'PettyCashTransactionGroup',
                        className: "h-dt-center d-dt-center",
                        width: "80px",
                        render: function (data) {
                            if (data == "บันทึกจ่าย") {
                                return `<span style="color: #d10000;">${data}</span>`
                            } else if (data == "บันทึกรับ") {
                                return `<span style="color: #007c16;">${data}</span>`
                            }

                            return `<span>${data}</span>`
                        }
                    },
                    {
                        title: 'รายละเอียด/ประเภทค่าใช้จ่าย',
                        data: 'PettyCashTransactionType',
                        className: "h-dt-center d-dt-center",
                        width: "250px"
                    },
                    {
                        title: 'รายละเอียดเพิ่มเติม',
                        data: 'PettyCashTransactionTypeDescription',
                        className: "h-dt-center d-dt-center",
                        width: "150px"
                    }, {
                        title: 'จำนวนเงิน',
                        data: null,
                        className: "h-dt-center d-dt-right",
                        width: "80px",
                        searchable: false,
                        render: function (data) {
                            if (data.PettyCashTransactionGroup == "บันทึกจ่าย") {
                                return `<span style="color: #d10000;">${formatNumber(data.Amount)}</span>` + '<input class="m_result" type="hidden" id="hd_' + data.PettyCashTransactionCode + '" value="' + data.MultiplierResult + '">'
                            } else if (data.PettyCashTransactionGroup == "บันทึกรับ") {
                                return `<span style="color: #007c16;">${formatNumber(data.Amount)}</span>` + '<input class="m_result" type="hidden" id="hd_' + data.PettyCashTransactionCode + '" value="' + data.MultiplierResult + '">'
                            }

                            return `<span>${formatNumber(data.Amount)}</span>` + '<input class="m_result" type="hidden" id="hd_' + data.PettyCashTransactionCode + '" value="' + data.MultiplierResult + '">'
                        }
                    }, {
                        title: 'เลขที่ใบเสร็จ',
                        data: 'BillBook',
                        className: "h-dt-center d-dt-center",
                        width: "100px"
                    }, {
                        title: 'เอกสาร',
                        data: null,
                        className: "h-dt-center d-dt-center",
                        width: "100px",
                        searchable: false
                        , mRender: function (data) {
                            return '<a target="_blank" href="' + data.UrlLinkOpenSSSDoc + '" class="btn btn-block btn-default">จำนวนเอกสาร:' + data.DocumentFileCount + '</a>';
                        }
                    }
                ],
                drawCallback: function (d) {
                    var api = this.api();
                    var sum = 0;
                    var d = api.rows({ page: 'current' }).data();
                    for (var i = 0; i < d.length; i++) {
                        sum += d[i].MultiplierResult
                    }
                    $("div.footer").html(`<h4 style="float: right" class="text-bold">ยอดรวมรายการเบิก รับ-จ่าย &nbsp&nbsp รวม: <span style="color:${negative(sum) ? "#d10000;" : "#007c16;"}">${formatNumber(sum)}</span> บาท &nbsp &nbsp &nbsp &nbsp เงินคงเหลือ <label style="color:#e24a09;" id="lblTotal">0</label> บาท</h4>`);
                    loopInputToTblInput();
                }
            });
            $("div.toolbar").html('<h4 style="float: right" class="text-bold">ยอดยกมา ณ วันที่ @ViewBag.updatedDate จำนวน <span style="color:#0962e1;">@ViewBag.balance</span> บาท</h4>');
        }

        const format = (d) => {
            return `<tr><td>ชื่อบริษัท :</td><td>${d.OrganizeShortName}</td></tr><tr><td>หมายเหตุ :</td><td>${d.Remark}</td></tr><tr><td>วันที่ใบเสร็จ :</td><td>${moment(d.BillDate).format('DD/MM/YYYY HH:mm:ss')}</td></tr>`;
        }

        const InsertCloseDayTransaction = () => {

            $.post("@Url.Action("InsertCloseDayTransaction","PettyCash")",
           {
               pettyCashId: $('#hd_pettyCashId').val(),
               pettyCashTransactionStatusId: 2,
               c_1000_00: $('#txt1000').val(),
               c_0500_00: $('#txt500').val(),
               c_0100_00: $('#txt100').val(),
               c_0050_00: $('#txt50').val(),
               c_0020_00: $('#txt20').val(),
               c_0010_00: $('#txt10').val(),
               c_0005_00: $('#txt5').val(),
               c_0002_00: $('#txt2').val(),
               c_0001_00: $('#txt1').val(),
               c_0000_50: $('#txt050').val(),
               c_0000_25: $('#txt025').val()
           }, function (data) {
               if (data.IsResult) {
                   swal_success(setTimeout(function () {
                       window.location = ('@Url.Action("ManagePettyCashTransaction","PettyCash")');
                       swal.close();
                   }, 2000));
               } else {
                   swal_fail(data.Msg, setTimeout(function () { swal.close(); }, 2000));
               }
           });

        }
        //loop and send not null data to sp
        const loopInputToTblInput = () => {
            var result = 0;
            //loop in class input
            $('.m_result').each(function (index, data) {
                //check if assign not null
                if (data.value != "") {
                    result += Number(data.value);
                }
            });
            var balance = parseFloat("@ViewBag.balanceInt");
            result += balance;
            $('#lblTotal').text(result.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));
            // $('#lblTotal2').text(result.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));
            //console.log(result);

        }
    </script>
}