@{
    ViewBag.Title = "Application";
    Layout = "~/Views/Shared/_MasterApplication.cshtml";
}
<style>
    .bgButton {
        text-align: center;
        background-color: #337ab7;
        cursor: pointer;
        /*height: 69px;*/
        position: fixed;
        bottom: 0;
        left: 0;
        margin-top: 50px;
    }

    .btnNext {
        padding: 10px;
        font-size: 25px;
        color: #fff;
        background-color: #337ab7;
        border-color: transparent;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
</style>
<div class="container-fluid" id="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-primary text-white">
            <h3>Application</h3>
        </div>
    </div>
    <form action="@Url.Action("Application")" method="post" enctype="multipart/form-data" class="form-horizontal" id="main">
        <fieldset>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <hr />
                            <label class="col-sm-4 col-lg-4 control-label" for="applicationId">Application ID</label>
                            <div class="col-sm-5 col-lg-5">
                                @*<input type="hidden" name="applicationId" value="1234" />*@
                                <input type="text" name="applicationId" id="applicationId" class="form-control" style="text-align: left; color: blue;" required="required" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="appStatus">สถานะ</label>
                            <label class="col-sm-5 col-lg-5 control-label" id="appStatus" name="appStatus" style="text-align: left; color: green"></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="product">ผลิตภัณฑ์</label>
                            <label class="col-sm-5 col-lg-5 control-label" id="product" name="product" style="text-align: left; color: blue"></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="ktbCardNo">KTB Card No</label>
                            <div class="col-sm-5 col-lg-5">
                                <input type="text" name="ktbCardNo" id="ktbCardNo" class="form-control" required="required">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="startCoverDate">วันเริ่มคุ้มครอง</label>
                            <div class="col-sm-5 col-lg-5">
                                <input type="date" name="startCoverDate" id="startCoverDate" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <hr />
        <fieldset>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="agentDetail1">ตัวแทนที่ 1</label>
                            <div class="col-sm-2 col-lg-2">
                                <button type="button" id="btnAgent1" name="btnAgent1" class="btn btn-success btn-lg" style="width: 100%" data-toggle="modal">
                                    <span name="glypiconAgent1" id="glypiconAgent1" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <!--นี่นะ-->
                                <input type="text" name="agentDetail1" id="agentDetail1" class="form-control" required="required" readonly="readonly" style="font-size: smaller">
                                <!-- element ที่ซ่อนไว้เพื่อใช้เก็บค่า-->
                                <input type="hidden" id="empId1" name="empId1" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="agentDetail2">ตัวแทนที่ 2</label>
                            <div class="col-sm-2 col-lg-2">
                                <button type="button" id="btnAgent2" name="btnAgent2" class="btn btn-success btn-lg" style="width: 100%" data-toggle="modal" aria-label="Left Align">
                                    <span name="glypiconAgent2" id="glypiconAgent2" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <input type="text" name="agentDetail2" id="agentDetail2" class="form-control" readonly="readonly" style="font-size: smaller">
                                <!-- element ที่ซ่อนไว้เพื่อใช้เก็บค่า-->
                                <input type="hidden" id="empId2" name="empId2" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="zebraCar">รหัสรถม้าลาย</label>
                            <div class="col-sm-5 col-lg-5">
                                <select name="zebraCar" id="zebraCar" class="form-control select2"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <hr />
        <fieldset>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="udwPeriod">เวลาที่สะดวกคัดกรอง</label>
                            <div class="col-sm-5 col-lg-5">
                                <select name="udwPeriod" id="udwPeriod" class="form-control select2">
                                    <option value="6901">ช่วงเช้า (9:00 - 12:00)</option>
                                    <option value="6902">ช่วงบ่าย (13:00 - 16:00)</option>
                                    <option value="6903">ช่วงค่ำ (16:00 - 18:00)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <hr />
        <fieldset>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="premium">เบี้ยประกัน</label>
                            <div class="col-sm-5 col-lg-5">
                                <input type="number" name="premium" id="premium" class="form-control pnumber" readonly="readonly" style="text-align: left; color: blue" required="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="periodCount">จำนวนงวด</label>
                            <div class="col-sm-5 col-lg-5">
                                <input type="number" name="periodCount" id="periodCount" class="form-control pnumber" style="text-align: left; color: blue" required="required">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="amount">รวมเงิน</label>
                            <div class="col-sm-5 col-lg-5">
                                <input type="number" name="amount" id="amount" class="form-control" style="text-align: left; color: blue" disabled="disabled" required="required">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <div class="col-sm-offset-4 col-lg-offset-4 col-sm-4 col-lg-4">
                                <div class="checkbox">
                                    <label for="bankAdvance">
                                        <input type="checkbox" name="bankAdvance" id="bankAdvance" value="1">หักผ่านธนาคารล่วงหน้า
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <div class="col-sm-offset-4 col-lg-offset-4 col-sm-4 col-lg-4">
                                <div class="checkbox">
                                    <label for="signaturePass">
                                        <input type="checkbox" name="signaturePass" id="signaturePass" value="1">ตรวจลายเซ็นต์ผ่าน
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <div class="col-sm-offset-4 col-lg-offset-4 col-sm-4 col-lg-4">
                                <div class="checkbox">
                                    <label for="oldCustomer">
                                        <input type="checkbox" name="oldCustomer" id="oldCustomer" value="1">ลูกค้าเก่าทำเพิ่ม(ใช้บัญชีเดิม)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="payMethod">วิธีการชำระ</label>
                            <div class="col-sm-5 col-lg-5">
                                <select name="payMethod" id="payMethod" class="form-control select2 checkNA">
                                    @foreach (var itm in ViewBag.paymethodtype)
                                    {
                                        <option value="@itm.PayMethodTypeCode" @(itm.PayMethodTypeCode == ViewBag.obj.PayMethod_id ? "selected" : "")>@itm.PayMethodTypeDetail</option>
                                    }
                                </select>
                                <input type="hidden" id="payMethodHidden" name="payMethodHidden" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="collectSource">แหล่งจัดเก็บ</label>
                            <div class="col-sm-5 col-lg-5">
                                <select name="collectSource" id="collectSource" class="form-control select2 checkNA">
                                    @foreach (var itm in ViewBag.collectSource)
                                    {
                                        <option value="@itm.OrganizeCode">@itm.OrganizeDetail</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="bank">ธนาคาร</label>
                            <div class="col-sm-5 col-lg-5">
                                <select name="bank" id="bank" class="form-control select2 checkNA"></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="bank">เลขที่บัญชี</label>
                            <div class="col-sm-5 col-lg-5">
                                <input type="number" name="bankAccount" id="bankAccount" class="form-control" required="required">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <hr />
        <fieldset>
            @*<div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <div class="col-sm-offset-4 col-lg-offset-4 col-sm-4 col-lg-4">
                                <a href="http://www.google.co.th" id="btnDocument" class="btn btn-link" target="_blank"><span>Smile Doc</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <div class="col-sm-offset-4 col-lg-offset-4 col-sm-4 col-lg-4">
                                <a href="http://www.google.co.th" id="btnUDWResult" class="btn btn-link" target="_blank"><span>ผลการตรวจเอกสาร/คัดกรอง</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <div class="col-sm-offset-4 col-lg-offset-4 col-sm-4 col-lg-4">
                                <a href="http://www.google.co.th" id="btnTransaction" class="btn btn-link" target="_blank"><span>เรียกดู Transaction</span></a>
                            </div>
                        </div>
                    </div>
                </div>*@
            <!-- element ที่ซ่อนไว้เพื่อใช้เก็บค่า-->
            <input type="hidden" id="hidden_CreateById" name="hidden_CreateById" />
            <hr />
        </fieldset>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bgButton">
                <button type="submit" class="btnNext" style="width: 100%">ถัดไป</button>
            </div>
        </div>
    </form>
</div>

<!-----------------------Modal--------------------------------->
<div class="modal fade" id="modal-SearchAgent1">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">ค้นหาตัวแทน</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-4 col-lg-4 control-label" for="modal-inputEmpCode1">รหัสตัวแทน</label>
                                    <div class="col-sm-6 col-lg-6">
                                        <input type="number" class="form-control" name="modal-inputEmpCode1" id="modal-inputEmpCode1" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <div class="col-sm-offset-8 col-lg-offset-8 col-sm-2 col-lg-2">
                                        <span class="btn btn-primary" id="modal_btSearch1" name="modal_btSearch1">Search</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-SearchAgent2">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">ค้นหาตัวแทน</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-4 col-lg-4 control-label" for="modal-inputEmpCode2">รหัสตัวแทน</label>
                                    <div class="col-sm-6 col-lg-6">
                                        <input type="number" class="form-control" name="modal-inputEmpCode2" id="modal-inputEmpCode2" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <div class="col-sm-offset-8 col-lg-offset-8 col-sm-2 col-lg-2">
                                        <span class="btn btn-primary" id="modal_btSearch2" name="modal_btSearch2">Search</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            ////onLoad
            var payMethodId = $('#payMethod').val();
            payMethodChange(payMethodId);
            calculatePremium();
            GetApplicationDetail();

            //onChange
            $('#payMethod').change(function () {
                payMethodId = $('#payMethod').val();
                payMethodChange(payMethodId);
            });

            $('#bank').change(function () {
                $('#bankAccount').val('');
            });

            //หักล่วงหน้า
            $('#bankAdvance').change(function () {
                if (this.checked) {
                    payMethodChange('9002');
                    $('#payMethod').val('9002').trigger('change');
                    $('#payMethod').prop('disabled', true);
                    $('#collectSource').val('-1').trigger('change');
                } else {
                    $('#payMethod').prop('disabled', false);
                    $('#payMethod').val('-1').trigger('change');
                }
            });

            $('#signaturePass').change(function () {
                if (this.checked) {
                    GetFinancialBank(true, false);
                    $('#oldCustomer').attr('checked', false);
                } else {
                    GetFinancialBank(false, false);
                    $('#bankAccount').val('');
                }
            });

            $('#oldCustomer').change(function () {
                if (this.checked) {
                    GetFinancialBank(false, true);
                    $('#signaturePass').attr('checked', false);
                } else {
                    GetFinancialBank(false, false);
                    $('#bankAccount').val('');
                }
            });

            ////Agent 1
            $('#btnAgent1').click(function () {
                $('#btnAgent1').attr('href', '#modal-SearchAgent1');
                btnSearchClick(1);
            });

            //Agent 2
            $('#btnAgent2').click(function () {
                $('#btnAgent2').attr('href', '#modal-SearchAgent2');
                btnSearchClick(2);
            });

            //calculate premium
            $('.pnumber').on("change paste keyup",
                function () {
                    calculatePremium();
                });

            //$("form").validate({
            //    rules: {
            //        bank: {
            //            checkNotAvailable: true
            //        }
            //    }
            //});

        });

        function payMethodChange(payMethodId) {
            switch (payMethodId) {
                case "9001": //เงินสด
                    $('#collectSource').prop('disabled', true);
                    $('#bank').prop('disabled', true);
                    $('#bankAccount').prop('disabled', true);

                    $('#bankAdvance').prop('disabled', true);
                    $('#signaturePass').prop('disabled', true);
                    $('#oldCustomer').prop('disabled', true);
                    $('#signaturePass').attr('checked', false);
                    $('#oldCustomer').attr('checked', false);
                    $('#bankAdvance').attr('checked', false);

                    $('#bank').val('-1').trigger('change');
                    $('#collectSource').val('-1').trigger('change');
                    $('#payMethodHidden').val('9001');
                    break;
                case "9002": //หักผ่านธนาคาร
                    $('#collectSource').prop('disabled', true);
                    $('#bank').prop('disabled', false);
                    $('#bankAccount').prop('disabled', false);

                    $('#bankAdvance').prop('disabled', false);
                    $('#signaturePass').prop('disabled', false);
                    $('#oldCustomer').prop('disabled', false);
                    $('#payMethodHidden').val('9002');
                    GetFinancialBank(false, false);
                    break;
                case "9003": //ตามแหล่งจัดเก็บ
                    $('#collectSource').prop('disabled', false);
                    $('#bank').prop('disabled', true);
                    $('#bankAccount').prop('disabled', true);

                    $('#bankAdvance').attr('checked', false);
                    $('#bankAdvance').prop('disabled', false);
                    $('#signaturePass').prop('disabled', true);
                    $('#oldCustomer').prop('disabled', true);
                    $('#signaturePass').attr('checked', false);
                    $('#oldCustomer').attr('checked', false);
                    $('#bank').val('-1').trigger('change');
                    $('#payMethodHidden').val('9003');
                    break;
                default:
                    $('#collectSource').prop('disabled', true);
                    $('#bank').prop('disabled', true);
                    $('#bankAccount').prop('disabled', true);

                    $('#bankAdvance').attr('checked', false);
                    $('#signaturePass').attr('checked', false);
                    $('#oldCustomer').attr('checked', false);
                    $('#signaturePass').prop('disabled', true);
                    $('#oldCustomer').prop('disabled', true);

                    $('#bank').val('-1').trigger('change');
                    $('#collectSource').val('-1').trigger('change');
                    $('#payMethodHidden').val('');
                    break;
            }
        }

        function btnSearchClick(btnAgentId) {
            switch (btnAgentId) {
                case 1:

                    $('#modal_btSearch1').click(function () {
                        var empCode = $('#modal-inputEmpCode1').val();
                        if (empCode != "") {
                            GetEmployee(empCode, 1);
                            $('#modal-SearchAgent1').modal('hide');
                        } else {
                            $('#agentDetail1').val('');
                            $('#empId1').val('');
                            $('#btnAgent1').removeClass("btn btn-warning").addClass("btn btn-success");
                            $('#glypiconAgent1').removeClass("glyphicon glyphicon-pencil").addClass("glyphicon glyphicon-plus");
                            $('#modal-SearchAgent1').modal('hide');
                        }
                    });
                    break;
                case 2:
                    $('#modal_btSearch2').click(function () {
                        var empCode = $('#modal-inputEmpCode2').val();
                        if (empCode != "") {
                            GetEmployee(empCode, 2);
                            $('#modal-SearchAgent2').modal('hide');
                        } else {
                            $('#agentDetail2').val('');
                            $('#empId2').val('');
                            $('#btnAgent2').removeClass("btn btn-warning").addClass("btn btn-success");
                            $('#glypiconAgent2').removeClass("glyphicon glyphicon-pencil").addClass("glyphicon glyphicon-plus");
                            $('#modal-SearchAgent2').modal('hide');
                        }
                    });
                    break;
                default:
            }
        }

        function calculatePremium() {
            // we use jQuery each() to loop through all the textbox with 'price' class
            // and compute the sum for each loop
            //Plus
            //$('.pnumber').each(function () {
            //    sum += Number($(this).val());
            //});
            //multiply
            // initialize the sum (total price) to zero
            var sum = 0;
            sum = $('#premium').val() * $('#periodCount').val();
            // set the computed value to 'totalPrice' textbox
            $('#amount').val(sum);
        }

        function GetFinancialBank(isSingature, isAdditionalCustomer) {
            debugger;
            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlApplication/MobileApi/Mobile/FinancialBank?isSingature=" + isSingature + "&isAdditionalCustomer=" + isAdditionalCustomer,
                async: false, //ทำฟังก์ชั่นนี้ให้เสร็จก่อน
                success: function (response) {
                    $('#bank').empty();
                    for (var i = 0; i < response.length; i++) {
                        $('#bank').append('<option value="' + response[i].bankCode + '">' + response[i].bankDetail + '</option>');
                    }
                }
            });
        }

        function GetZebraCar() {
            debugger;
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetZebraCar")",
                async: false,
                success: function (response) {
                    $('#zebraCar').empty();
                    for (var i = 0; i < response.length; i++) {
                        $('#zebraCar').append('<option value="' + response[i].Zebra_Code + '">' + response[i].FullDetail + '</option>');
                    }
                }
            });
        }

        function GetEmployee(empCode, saleNo) {
            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlApplication/MobileApi/Mobile/SearchEmployeeByCode?empCode=" + empCode,
                //async: false,
                success: function (response) {
                    if (response != null) {
                        switch (saleNo) {
                            case 1:
                                $('#agentDetail1').val(response.codeEmployeeName);
                                $('#empId1').val(response.employeeCode);
                                $('#btnAgent1').addClass("btn btn-warning");
                                $('#glypiconAgent1').addClass("glyphicon glyphicon-pencil");
                                break;
                            case 2:
                                $('#agentDetail2').val(response.codeEmployeeName);
                                $('#empId2').val(response.employeeCode);
                                $('#btnAgent2').addClass("btn btn-warning");
                                $('#glypiconAgent2').addClass("glyphicon glyphicon-pencil");
                                break;
                            default:
                        }

                    } else {
                        switch (saleNo) {
                            case 1:
                                $('#agentDetail1').val('');
                                $('#empId1').val('');
                                $('#btnAgent1').removeClass("btn btn-warning").addClass("btn btn-success");
                                $('#glypiconAgent1').removeClass("glyphicon glyphicon-pencil").addClass("glyphicon glyphicon-plus");
                                break;
                            case 2:
                                $('#agentDetail2').val('');
                                $('#empId2').val('');
                                $('#btnAgent2').removeClass("btn btn-warning").addClass("btn btn-success");
                                $('#glypiconAgent2').removeClass("glyphicon glyphicon-pencil").addClass("glyphicon glyphicon-plus");
                                break;
                            default:
                        }

                    }
                }
            });
        }

        function GetApplicationDetail() {
            GetZebraCar();
            $('#applicationId').val('@ViewBag.obj.App_id');
            $('#appStatus').text('@ViewBag.obj.Status');
            $('#product').text('@ViewBag.obj.Product');
            $('#ktbCardNo').val('@ViewBag.obj.Card_no');
            $('#startCoverDate').val('@ViewBag.obj.StartCoverDate.ToString("yyyy-MM-dd")');
            $('#premium').val('@ViewBag.obj.Premium');
            $('#periodCount').val('@ViewBag.trPeriod');
            $('#amount').val('@ViewBag.trPremiumSum');
            $('#bankAccount').val('@ViewBag.obj.Account_id');
            $('#empId1').val('@ViewBag.obj.Sale_id1');
            $('#empId2').val('@ViewBag.obj.Sale_id2');
            $('#zebraCar').val('@ViewBag.obj.ZebraCar_id').trigger('change');
            $('#hidden_CreateById').val('@ViewBag.CreatedBy_id');

            if ('@ViewBag.empDetail1' != '') {
                $('#agentDetail1').val('@ViewBag.empDetail1');
                $('#btnAgent1').addClass("btn btn-warning");
                $('#glypiconAgent1').addClass("glyphicon glyphicon-pencil");
            }

            if ('@ViewBag.empDetail2' != '') {
                $('#agentDetail2').val('@ViewBag.empDetail2');
                $('#btnAgent2').addClass("btn btn-warning");
                $('#glypiconAgent2').addClass("glyphicon glyphicon-pencil");
            }

            if ('@ViewBag.obj.IsAdditionalCustomer' == 'True') {
                $('#oldCustomer').attr('checked', true);
                GetFinancialBank(false, true);
            }

            if ('@ViewBag.obj.IsBankDeductNextMonth' == 'True') {
                $('#bankAdvance').attr('checked', true);
                $('#payMethod').prop('disabled', true);
            }

            if ('@ViewBag.obj.IsCheckSignature' == 'True') {
                $('#signaturePass').attr('checked', true);
                GetFinancialBank(true, false);
            }

            if ('@ViewBag.obj.IsAdditionalCustomer' != 'True' && '@ViewBag.obj.IsBankDeductNextMonth' != 'True' && '@ViewBag.obj.IsCheckSignature' != 'True') {
                GetFinancialBank(false, false);
            }

            if ('@ViewBag.obj.CollectSource_id' != '') {
                $('#collectSource').val('@ViewBag.obj.CollectSource_id').trigger('change');
            } else {
                $('#collectSource').val('-1').trigger('change');
            }

            if ('@ViewBag.obj.Bank_id' != '') {
                $('#bank').val('@ViewBag.obj.Bank_id').trigger('change');
            } else {
                $('#bank').val('-1').trigger('change');
            }
        }
    </script>

}