@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_MasterApplication.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-primary text-white">
            <h4>Customer</h4>
        </div>
    </div>
    <br />
    <form action="@Url.Action("Payer")" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="checkboxes">เลขที่บัตรประชาชน</label>
                            <div class="col-sm-4 col-lg-4">
                                <input type="number" name="id_card" id="id_card" class="form-control" value="@ViewBag.IdCard" required="required" maxlength="13" minlength="13">
                            </div>
                            <div class="col-sm-2 col-lg-2">
                                <button type="button" class="btn btn-info" style="width: 100%">Search</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="titleName">คำนำหน้า</label>
                            <div class="col-sm-4 col-lg-4">
                                <select name="titleName" id="titleName" class="form-control select2">
                                    @*@foreach (var item in ViewBag.RelationshipList)
                                        {
                                            <option value="@item.Title_ID" @(item.Title_ID == ViewBag.RelationshipId ? "selected" : "")>@item.TitleDetail</option>
                                        }*@
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="firstName">ชื่อ</label>
                            <div class="col-sm-4 col-lg-4">
                                <input type="text" name="firstName" id="firstName" class="form-control" value="" required="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="lastName">สกุล</label>
                            <div class="col-sm-4 col-lg-4">
                                <input type="text" name="lastName" id="lastName" class="form-control" value="" required="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="birthdate">วันเกิด</label>
                            <div class="col-sm-4 col-lg-4">
                                <input type="text" name="birthdate" id="birthdate" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="passport">Passport</label>
                            <div class="col-sm-4 col-lg-4">
                                <input type="text" name="passport" id="passport" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="officercard">บัตรข้าราชการ</label>
                            <div class="col-sm-4 col-lg-4">
                                <input type="text" name="officercard" id="officercard" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="sex">เพศ</label>
                            <div class="col-sm-4 col-lg-4">
                                <select name="sex" id="sex" class="form-control select2">
                                    @*@foreach (var item in ViewBag.RelationshipList)
                                        {
                                            <option value="@item.Title_ID" @(item.Title_ID == ViewBag.RelationshipId ? "selected" : "")>@item.TitleDetail</option>
                                        }*@
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="maritalstatus">สถานภาพสมรส</label>
                            <div class="col-sm-4 col-lg-4">
                                <select name="maritalstatus" id="maritalstatus" class="form-control select2">
                                    @*@foreach (var item in ViewBag.RelationshipList)
                                        {
                                            <option value="@item.Title_ID" @(item.Title_ID == ViewBag.RelationshipId ? "selected" : "")>@item.TitleDetail</option>
                                        }*@
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="bloodtype">กรุ๊ปเลือด</label>
                            <div class="col-sm-4 col-lg-4">
                                <select name="bloodtype" id="bloodtype" class="form-control select2">
                                    @*@foreach (var item in ViewBag.RelationshipList)
                                        {
                                            <option value="@item.Title_ID" @(item.Title_ID == ViewBag.RelationshipId ? "selected" : "")>@item.TitleDetail</option>
                                        }*@
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="weight">น้ำหนัก</label>
                            <div class="col-sm-4 col-lg-4">
                                <input type="text" name="weight" id="weight" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="height">ส่วนสูง</label>
                            <div class="col-sm-4 col-lg-4">
                                <input type="text" name="height" id="height" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="occupation">อาชีพ</label>
                            <div class="col-sm-4 col-lg-4">
                                <select name="occupation" id="occupation" class="form-control select2">
                                    <option value="1">นักบวช</option>
                                    <option value="2">เกษตรกร</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="occupationLevel">ระดับอาชีพ</label>
                            <div class="col-sm-4 col-lg-4">
                                <select name="occupationLevel" id="occupationLevel" class="form-control select2">
                                    <option value="1">ทำนา</option>
                                    <option value="2">เลี้ยงสัตว์</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="home_phone">โทรศัพท์บ้าน</label>
                            <div class="col-sm-4 col-lg-4">
                                <input type="text" name="home_phone" id="home_phone" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="work_phone">โทรศัพท์ที่ทำงาน</label>
                            <div class="col-sm-4 col-lg-4">
                                <input type="text" name="work_phone" id="work_phone" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="mobilePhone">โทรศัพท์มือถือ</label>
                            <div class="col-sm-4 col-lg-4">
                                <input type="text" name="mobilePhone" id="mobilePhone" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="">ที่อยู่ที่ทำงาน</label>
                            <div class="col-sm-4 col-lg-4">
                                <button type="button" class="btn btn-success" data-toggle="modal" href="#modal-id">+</button>
                                <label for="" id="cur_address" name="cur_address" class="labeldetail" style="color: red">Pun Bnk48</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="">ที่อยู่ปัจจุบัน</label>
                            <div class="col-sm-4 col-lg-4">
                                <button type="button" class="btn btn-success" data-toggle="modal" href="#modal-id">+</button>
                                <label for="" id="work_address" name="work_address" class="labeldetail" style="color: red">Kaew Bnk48</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-4 control-label" for="">ที่อยู่ตามบัตรประชาชน</label>
                            <div class="col-sm-4 col-lg-4">
                                <button type="button" class="btn btn-success" data-toggle="modal" href="#modal-id">+</button>
                                <label for="" id="card_address" name="card_address" class="labeldetail" style="color: red">Kaimook Bnk48</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-lg-offset-4 col-sm-4 col-lg-4">
                                <button type="submit" class="btn btn-info" style="width: 100%">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- element ที่ซ่อนไว้เพื่อใช้เก็บค่า-->
                <input type="hidden" id="cur_AddressID" name="cur_AddressID" />
                <input type="hidden" id="work_AddressID" name="work_AddressID" />
                <input type="hidden" id="Card_AddressID" name="Card_AddressID" />
                <hr />
            </div>
        </fieldset>
    </form>
</div>

<!--Modal-->
<div class="modal fade" id="modal-id">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">ที่อยู่</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="select_typeaddress">ประเภทที่อยู่</label>
                                    <div class="col-lg-8">
                                        <select name="select_typeaddress" id="select_typeaddress" class="form-control select2" style="width: 100%">
                                            <option value="1">ที่อยู่ตามบัตรประชาชน</option>
                                            <option value="2">ที่อยู่ที่ติดต่อ</option>
                                            <option value="3">ที่อยู่ที่ทำงาน</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="modal_division">หน่วยงาน</label>
                                    <div class="col-lg-8">
                                        <input type="text" id="modal_division" name="modal_division" class="form-control"
                                               placeholder="หน่วยงาน">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="modal_village">หมู่บ้าน</label>
                                    <div class="col-lg-8">
                                        <input type="text" id="modal_village" name="modal_village" class="form-control"
                                               placeholder="หมู่บ้าน">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="modal_no">เลขที่</label>
                                    <div class="col-lg-8">
                                        <input type="text" id="modal_no" name="modal_no" class="form-control"
                                               placeholder="หมู่เลขที่">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="modal_moo">หมู่ที่</label>
                                    <div class="col-lg-8">
                                        <input type="text" id="modal_moo" name="modal_moo" class="form-control"
                                               placeholder="หมู่ที่">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="modal_floor">ชั้น</label>
                                    <div class="col-lg-8">
                                        <input type="text" id="modal_floor" name="modal_floor" class="form-control"
                                               placeholder="ชั้น">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="modal_road">ถนน</label>
                                    <div class="col-lg-8">
                                        <input type="text" id="modal_road" name="modal_road" class="form-control"
                                               placeholder="ถนน">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="modal_alley">ซอย</label>
                                    <div class="col-lg-8">
                                        <input type="text" id="modal_alley" name="modal_alley" class="form-control"
                                               placeholder="ซอย">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="modal_province">จังหวัด</label>
                                    <div class="col-lg-8">
                                        <select name="modal_province" id="modal_province" class="form-control select2" style="width: 100%">
                                            <option value="1">เชียงราย</option>
                                            <option value="2">กทม</option>
                                            <option value="3">เชียงใหม่</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="modal_district">อำเภอ</label>
                                    <div class="col-lg-8">
                                        <select name="modal_district" id="modal_district" class="form-control select2" style="width: 100%">
                                            <option value="1">พาน</option>
                                            <option value="2">เทิง</option>
                                            <option value="3">เมือง</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="modal_subdistrict">ตำบล</label>
                                    <div class="col-lg-8">
                                        <select name="modal_subdistrict" id="modal_subdistrict" class="form-control select2" style="width: 100%">
                                            <option value="1">ม่วงคำ</option>
                                            <option value="2">ป่าซาง</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="modal_zipcode">รหัสไปรษณีย์</label>
                                    <div class="col-lg-8">
                                        <input type="number" value="" name="modal_zipcode" id="modal_zipcode" class="form-control" placeholder="รหัสไปรษณีย์" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <div class="clearfix "></div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <div class="col-xs-6 col-sm-6  col-md-6 col-lg-6  Asetmarginformcontrol">
                                <span class="btn btn-primary" id="modal_save">Save</span>
                            </div>
                            <div class="col-xs-6 col-sm-6  col-md-6 col-lg-6  Asetmarginformcontrol setleftt">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            ////event onclick
            //$('#modal_save').click(function () {
            //    var modaldivision = $('#modal_division').val();
            //    $('#cur_division').val(modaldivision);
            //    $('#cur_address').text(modaldivision);
            //    $('#modal-id').modal('hide');
            //});

            //$('#title').on('change', function () {
            //    if (parseInt($('#title').val()) % 2 == 0) {
            //        $('#relationship').val("2").trigger('change');
            //    } else {
            //        $('#relationship').val("1").trigger('change');
            //    }
            //});

            //TEST ADD Validate BY Boom 9-2-2561
            jQuery.validator.addMethod("Testjqueryvalid", function (value) {
                var result;
                $.ajax({
                    type: "GET",
                    async: false,
                    url: "@Url.Action("TestJqueryValid")?value=" + value,
                    success: function (response) {
                        if (response != null) {
                            result = response;
                        }

                    }
                });
                if (result) {
                    return false;  // FAIL validation
                } else {
                    return true;   // PASS validation
                };
            }, "FAIL Validation");

            $('form').validate({
                rules: {
                    firstName: {
                        Testjqueryvalid: $('#firstName').val()
                    }
                }
            });
        });
    </script>
}