@{
    ViewBag.Title = "Payer";
    Layout = "~/Views/Shared/_MasterApplication.cshtml";
}

<style>
    .bgButton {
        text-align: center;
        background-color: #337ab7;
        cursor: pointer;
        /*height: 69px;*/
        position: fixed;
        bottom: 0;
        left: 0;
        margin-top: 50px;
    }

    .btnNext {
        padding: 10px;
        font-size: 25px;
        color: #fff;
        background-color: #337ab7;
        border-color: transparent;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
</style>

<div class="container-fluid" id="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-primary text-white">
            <h3>Payer</h3>
        </div>
    </div>
    <form action="@Url.Action("Payer")" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
            <div class="container-fluid" id="main">
                @*<div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group form-group-lg">
                                <label class="col-sm-4 col-lg-4 control-label" for="checkboxes">ความสัมพันธ์</label>
                                <div class="col-sm-5 col-lg-5">
                                    <div class="checkbox">
                                        <label for="checkboxes">
                                            <input type="checkbox" name="checkboxes" id="checkboxes" value="1">บุคคลเดียวกัน
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <hr />
                            <label class="col-sm-4 col-lg-4 control-label" for="">ความสัมพันธ์</label>
                            <div class="col-sm-5 col-lg-5">
                                @*<div class="col-sm-offset-4 col-lg-offset-4 col-sm-4 col-lg-4">*@
                                <select name="relationship" id="relationship" class="form-control select2 checkNA">
                                    @foreach (var item in ViewBag.RelationType)
                                    {
                                        <option value="@item.PersonRelationTypeCode" @(item.PersonRelationTypeCode == ViewBag.obj.PayerRelation_id ? "selected" : "")>@item.PersonRelationType</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="">เลขที่บัตรประชาชน</label>
                            <div class="col-sm-5 col-lg-5">
                                <input type="number" name="id_card" id="id_card" class="form-control" value="">
                            </div>
                            @*<div class="col-sm-2 col-lg-2">
                                    <button type="button" class="btn btn-info" style="width: 100%">Check</button>
                                </div>*@
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="titleName">คำนำหน้า</label>
                            <div class="col-sm-5 col-lg-5">
                                <select name="titleName" id="titleName" class="form-control select2 checkNA">

                                    @foreach (var itm in ViewBag.TitleName) //payer
                                    {
                                        <option value="@itm.TempCode" @(itm.TempCode == ViewBag.obj.PayerTitle_id ? "selected" : "")>@itm.TitleDetail</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="firstName">ชื่อ</label>
                            <div class="col-sm-5 col-lg-5">
                                <input type="text" name="firstName" id="firstName" class="form-control" value="" required="required">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="lastName">สกุล</label>
                            <div class="col-sm-5 col-lg-5">
                                <input type="text" name="lastName" id="lastName" class="form-control" value="" required="required">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="occupation">อาชีพ</label>
                            <div class="col-sm-5 col-lg-5">
                                <select name="occupation" id="occupation" class="form-control select2 checkNA">
                                    @foreach (var item in ViewBag.Occupation)
                                    {
                                        <option value="@item.OccupationCode" @(item.OccupationCode == ViewBag.obj.PayerOccupation_id ? "selected" : "")>@item.OccupationDetail</option>
                                    };
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="occupationLevel">ระดับอาชีพ</label>
                            <div class="col-sm-5 col-lg-5">
                                <select name="occupationLevel" id="occupationLevel" class="form-control select2 checkNA"></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="mobilePhone">โทรศัพท์มือถือ</label>
                            <div class="col-sm-5 col-lg-5">
                                <input type="number" name="mobilePhone" id="mobilePhone" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-4 col-lg-4 control-label" for="email">Email</label>
                            <div class="col-sm-5 col-lg-5">
                                <input type="email" name="email" id="email" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="col-sm-offset-4 col-lg-offset-4 col-sm-7 col-lg-7">
                            <div class="btn-group">
                                <button type="button" id="btnWork_address" name="btnWork_address" data-toggle="modal" href="#modal-id" class="btn btn-success">เพิ่ม</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <div class="col-sm-4 col-lg-4 control-label">
                                <label class="" for="">ที่อยู่ที่ทำงาน</label>
                            </div>
                            @*<div class="col-sm-1 col-lg-1">
                                    <button id="btnWork_address" name="btnWork_address" type="button" class="btn btn-success btn-lg" data-toggle="modal" href="#modal-id">+</button>
                                </div>*@
                            <div class="col-sm-7 col-lg-7">

                                <input id="work_address" name="work_address" class="form-control border0" style="font-size: smaller" readonly="readonly" required="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="col-sm-offset-4 col-lg-offset-4 col-sm-7 col-lg-7">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success" id="btnCur_address" name="btnCur_address" data-toggle="modal" href="#modal-id">เพิ่ม</button>
                                <div class="btn-group">
                                    <button type="button" id="btnCopy" name="btnCopy" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        คัดลอก <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#" id="WorkAddressToCurrentAddress">ที่อยู่ที่ทำงาน</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group form-group-lg">
                            <div class="col-sm-4 col-lg-4 control-label">
                                <label class="" for="">ที่อยู่ปัจจุบัน</label>
                            </div>
                            @*<div class="col-sm-1 col-lg-1">
                                    <button id="btnCur_address" name="btnCur_address" type="button" class="btn btn-success btn-lg" data-toggle="modal" href="#modal-id">+</button>
                                </div>*@
                            <div class="col-sm-7 col-lg-7">
                                <input id="cur_address" name="cur_address" class="form-control" style="font-size: smaller" readonly="readonly" required="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- element ที่ซ่อนไว้เพื่อใช้เก็บค่า-->
                <input type="hidden" id="hidden_districtId" name="hidden_districtId" />
                <input type="hidden" id="hidden_subdistrictId" name="hidden_subdistrictId" />
                <input type="hidden" id="hidden_AppId" name="hidden_AppId" />
                <input type="hidden" id="hidden_addressType" name="hidden_addressType" />
                <input type="hidden" id="cur_AddressID" name="cur_AddressID" />
                <input type="hidden" id="work_AddressID" name="work_AddressID" />
                <input type="hidden" id="hidden_CreateById" name="hidden_CreateById" />
                <input type="hidden" id="hidden_titleName" name="hidden_titleName" />
                <input type="hidden" id="hidden_occupationLevelId" name="hidden_occupationLevelId" />
                <input type="hidden" id="hidden_occupationId" name="hidden_occupationId" />
                <input type="hidden" id="hidden_relationshipDefault" name="hidden_relationshipDefault" value="@ViewBag.obj.PayerRelation_id" />
                <hr />
            </div>
        </fieldset>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bgButton">
                <button type="submit" name="btn-next" id="btn-next" class="btnNext" style="width: 100%">ถัดไป</button>
            </div>
        </div>
    </form>
</div>

<!--Modal-->
<form class="form-horizontal" id="modal-Address">
    <div class="modal fade" id="modal-id">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">ที่อยู่</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="select_typeaddress">ประเภทที่อยู่</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <select name="select_typeaddress" id="select_typeaddress" class="form-control select2" style="width: 100%">
                                            @foreach (var item in ViewBag.AddressType)
                                            {
                                                <option value="@item.AddressType_ID">@item.AddressTypeDetail</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_division">หน่วยงาน</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <input type="text" id="modal_division" name="modal_division" class="form-control"
                                               placeholder="หน่วยงาน">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_village">หมู่บ้าน</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <input type="text" id="modal_village" name="modal_village" class="form-control"
                                               placeholder="หมู่บ้าน">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_no">เลขที่</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <input type="text" id="modal_no" name="modal_no" class="form-control"
                                               placeholder="หมู่เลขที่" required="required">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_moo">หมู่ที่</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <input type="text" id="modal_moo" name="modal_moo" class="form-control"
                                               placeholder="หมู่ที่" required="required">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_floor">ชั้น</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <input type="text" id="modal_floor" name="modal_floor" class="form-control"
                                               placeholder="ชั้น">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_road">ถนน</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <input type="text" id="modal_road" name="modal_road" class="form-control"
                                               placeholder="ถนน">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_alley">ซอย</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <input type="text" id="modal_alley" name="modal_alley" class="form-control"
                                               placeholder="ซอย">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_province">จังหวัด</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <select name="modal_province" id="modal_province" class="form-control select2 checkNA" style="width: 100%">
                                            @foreach (var item in ViewBag.ProvinceList)
                                            {
                                                <option value="@item.Province_ID" )>@item.ProvinceDetail</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_district">อำเภอ</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <select name="modal_district" id="modal_district" class="form-control select2 checkNA" style="width: 100%"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_subdistrict">ตำบล</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <select name="modal_subdistrict" id="modal_subdistrict" class="form-control select2 checkNA" style="width: 100%"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-3 col-lg-3 control-label" for="modal_zipcode">รหัสไปรษณีย์</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <input type="number" value="" name="modal_zipcode" id="modal_zipcode" class="form-control" placeholder="รหัสไปรษณีย์" required="required" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <div class="clearfix "></div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group form-group-lg">
                                <div class="col-xs-6 col-sm-6  col-md-6 col-lg-6  Asetmarginformcontrol">
                                    <button type="button" class="btn btn-primary" name="modal_save" id="modal_save">Save</button>
                                </div>
                                <div class="col-xs-6 col-sm-6  col-md-6 col-lg-6  Asetmarginformcontrol setleftt">
                                    <button type="button" name="modal_close" id="modal_close" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts{
    <script>
        $(function () {
            //load occupation Level
            GetPayerDetail();
            GetOccupationLevel($('#occupation').val());
            GetDistrict($('#modal_province').val());

            if ($('#relationship').val() == '3000') {
                GetCustomerDetail();
                $('#btnWork_address').prop('disabled', true);
                $('#btnCur_address').prop('disabled', true);
                $('#btnCopy').prop('disabled', true);
                $('#id_card').prop('required', false);
                SetReadOnly(true);
                $('#hidden_relationshipDefault').val($('#relationship').val());
            } else {
                $('#id_card').prop('required', true);
                $('#id_card').prop('maxlength ', 13);
                $('#id_card').prop('minlength ', 13);
            }

            //occupation change
            $('#occupation').change(function () {
                GetOccupationLevel($('#occupation').val());
                $('#hidden_occupationLevelId').val('');
            });

            //occupationvlevel change
            $('#occupationLevel').change(function () {

                $('#hidden_occupationLevelId').val($('#occupationLevel').val());
            });

            //บุคคลเดียวกัน
            $('#relationship').change(function () {
                //บุคคลเดียวกัน
                $("form").validate().resetForm();
                if ($('#relationship').val() == '3000') {
                    GetCustomerDetail();
                    $('#btnWork_address').prop('disabled', true);
                    $('#btnCur_address').prop('disabled', true);
                    $('#btnCopy').prop('disabled', true);
                    $('#id_card').prop('required', false);
                    SetReadOnly(true);
                    $('#hidden_relationshipDefault').val($('#relationship').val());
                } else if ($('#hidden_relationshipDefault').val() == '-1') { //เป็น n/a
                    GetPayerDetail();
                    SetReadOnly(false);

                } else if ($('#relationship').val() == '@ViewBag.obj.PayerRelation_id') {
                    $('#btnWork_address').prop('disabled', false);
                    $('#btnCur_address').prop('disabled', false);
                    $('#btnCopy').prop('disabled', false);
                    $('#id_card').prop('required', true);
                    $('#id_card').prop('maxlength ', 13);
                    $('#id_card').prop('minlength ', 13);
                    GetPayerDetail();
                    SetReadOnly(false);
                    $('#hidden_relationshipDefault').val($('#relationship').val());
                } else {
                    $('#id_card').val("");
                    $('#firstName').val("");
                    $('#lastName').val("");
                    $('#mobilePhone').val("");
                    $('#email').val("");
                    $('#occupation').val("-1").trigger('change');
                    $('#titleName').val("-1").trigger('change');
                    $('#btnWork_address').prop('disabled', false);
                    $('#btnCur_address').prop('disabled', false);
                    $('#btnCopy').prop('disabled', false);
                    $('#id_card').prop('required', true);
                    $('#id_card').prop('maxlength ', 13);
                    $('#id_card').prop('minlength ', 13);

                    $('#cur_address').val("");
                    $('#work_address').val("");
                    SetReadOnly(false);
                }
            });

            //change value title name
            $('#titleName').change(function () {
                $('#hidden_titleName').val($('#titleName').val());
            });
            //province change
            $('#modal_province').change(function () {
                $('#hidden_districtId').val("");
                $('#hidden_subdistrictId').val("");
                GetDistrict($('#modal_province').val());
            });

            //district change
            $('#modal_district').change(function () {
                //debugger;
                $('#hidden_subdistrictId').val("");
                GetSubDistrict($('#modal_district').val());

            });

            //subdistrict change
            $('#modal_subdistrict').change(function () {
                GetZipCode($('#modal_subdistrict').val());
            });

            $('#btnCur_address').click(function () {
                $("#modal-Address").validate().resetForm();
                if ($('#cur_AddressID').val() != null || $('#cur_AddressID').val() != "") {
                    if ($('#relationship').val() != '3000' && $('#cur_address').val() == "") {
                        GetModalAddress("2", ""); //ที่ปัจจุบัน
                    } else {
                        GetModalAddress("2", $('#cur_AddressID').val()); //ที่ปัจจุบัน
                    }
                    $('#hidden_addressType').val("2");

                } else {
                    $('#select_typeaddress').val("2").trigger('change');
                }
            });

            //btnWork_Address Click
            $('#btnWork_address').click(function () {
                $("#modal-Address").validate().resetForm();
                if ($('#work_AddressID').val() != null || $('#work_AddressID').val() != "") {
                    //เช็คว่าไม่ใช่บุคคลเดียวกัน
                    if ($('#relationship').val() != '3000' && $('#work_address').val() == "") {
                        GetModalAddress("4", ""); //ที่ทำงาน
                    } else {
                        GetModalAddress("4", $('#work_AddressID').val()); //ที่ทำงาน
                    }
                    $('#hidden_addressType').val("4");
                } else {
                    $('#select_typeaddress').val("4").trigger('change');
                }

            });

            //validate
            $("#modal-Address").validate();

            //btnModalSave Click
            $('#modal_save').click(function () {
                if ($("#modal-Address").valid() == true) {
                    SetAddress($('#hidden_addressType').val());
                    $('#modal_close').click();
                };
            });

            //change keyup
            $('#id_card').on("change paste keyup",
                function () {
                    //Call method Check identityCard
                    $('#id_card').css("color", "black");
                    var idcard = $('#id_card').val();
                    if (idcard.length == 13) {
                        if (CheckIdentityCard(idcard) == true) {
                            //alert("true");
                            $('#id_card').css("color", "green");
                        } else {
                            //alert("false");
                            $('#id_card').css("color", "red");
                            $('#id_card').focus();
                        }
                    };
                });

            //copy address
            $('#WorkAddressToCurrentAddress').click(function (e) {
                e.preventDefault();
                if ($('#work_address').val() != "") {
                    CopyAddress($('#work_AddressID').val(), $('#cur_AddressID').val(), "2"); //คัดลอกที่อยู่ที่ทำงานไปยังที่อยู่ปัจจุบัน
                }
            });

        });

        function CopyAddress(formAddress, toAddress, addressType) {
            $.ajax({
                type: "POST",
                url: "@ViewBag.APIUrlApplication/MobileApi/Address/setcopyaddress",
                data: {
                    "fromAdressId": formAddress,
                    "toAddressId": toAddress
                },
                success: function (response) {
                    GetModalAddress(addressType, toAddress);
                },
                error: function (xhr, error) {
                    alert(xhr.responseText);
                }
            });
        }

        //Clear Modal address
        function ClearAddressModal() {
            //clear address
            $('#modal_division').val("");
            $('#modal_village').val("");
            $('#modal_no').val("");
            $('#modal_moo').val("");
            $('#modal_floor').val("");
            $('#modal_road').val("");
            $('#modal_alley').val("");
            $('#modal_province').val("9999999").trigger('change');
            $('#modal_zipcode').val("");
        }

        function SetReadOnly(value) {
            $('#id_card').prop('readonly', value);
            $('#firstName').prop('readonly', value);
            $('#lastName').prop('readonly', value);
            $('#mobilePhone').prop('readonly', value);
            $('#email').prop('readonly', value);
            $('#occupation').prop('disabled', value);
            $('#occupationLevel').prop('disabled', value);
            $('#titleName').prop('disabled', value);

        }
        //Get Occupation Level
        function GetOccupationLevel(occupationId) {
            //debugger
            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlApplication/MobileApi/Mobile/OccupationLevels?occupationCode=" + occupationId,
                //async: false, //ทำฟังก์ชั่นนี้ให้เสร็จก่อน
                success: function (response) {
                    $('#occupationLevel').empty();
                    for (var i = 0; i < response.length; i++) {
                        $('#occupationLevel').append('<option value="' +
                            response[i].temp1 +
                            '">' +
                            response[i].occupationLevelDetail +
                            '</option>');
                    }

                    if ('@ViewBag.obj.PayerOccupationLevel_id' != '' && '@ViewBag.obj.PayerOccupationLevel_id' == $('#hidden_occupationLevelId').val()) {
                        $('#occupationLevel').val('@ViewBag.obj.PayerOccupationLevel_id');
                    } else if ('@ViewBag.obj.OccupationLevel_id' != '' &&
                        '@ViewBag.obj.OccupationLevel_id' == $('#hidden_occupationLevelId').val()) {
                        $('#occupationLevel').val($('#hidden_occupationLevelId').val());
                    } else {
                        $('#hidden_occupationLevelId').val($('#occupationLevel').val());
                        $('#hidden_occupationId').val($('#occupation').val());
                    }
                }
            });
        }

        //Get Payer detail
        function GetPayerDetail() {
            //debugger;
            $('#id_card').val('@ViewBag.obj.PayerZcardID');
            $('#firstName').val('@ViewBag.obj.PayerFirstName');
            $('#lastName').val('@ViewBag.obj.PayerLastName');
            $('#home_phone').val('');
            $('#mobilePhone').val('@ViewBag.obj.PayerPhoneNumber');
            $('#email').val('@ViewBag.obj.PayerEmail');
            $('#titleName').val('@ViewBag.obj.PayerTitle_id').trigger('change');
            $('#occupation').val('@ViewBag.obj.PayerOccupation_id').trigger('change');
            $('#occupationLevel').val('@ViewBag.obj.PayerOccupationLevel_id').trigger('change');

            $('#cur_address').val('@ViewBag.ContactAddress.AddressFullDetail');
            $('#work_address').val('@ViewBag.WorkAddress.AddressFullDetail');

            $('#cur_AddressID').val('@ViewBag.obj.PayerAddress_id');
            $('#work_AddressID').val('@ViewBag.obj.PayerWorkAddress_id');

            $('#hidden_AppId').val('@ViewBag.AppId');

            if ('@ViewBag.obj.PayerOccupationLevel_id' == '') {
                $('#hidden_occupationLevelId').val('@ViewBag.obj.OccupationLevel_id');
                $('#hidden_occupationId').val('@ViewBag.obj.Occupation_id');

            } else {
                $('#hidden_occupationLevelId').val('@ViewBag.obj.PayerOccupationLevel_id');
                $('#hidden_occupationId').val('@ViewBag.obj.PayerOccupation_id');

            }
            $('#hidden_CreateById').val('@ViewBag.CreatedBy_id');
        }

        //Get Customer detail
        function GetCustomerDetail() {
            //debugger;
            $('#id_card').val('@ViewBag.obj.ZCard_id');
            $('#firstName').val('@ViewBag.obj.FirstName');
            $('#lastName').val('@ViewBag.obj.LastName');
            $('#home_phone').val('');
            $('#mobilePhone').val('@ViewBag.obj.MobilePhoneNumber');
            $('#email').val('');
            $('#titleName').val('@ViewBag.obj.Title_id').trigger('change');
            $('#occupation').val('@ViewBag.obj.Occupation_id').trigger('change');
            $('#occupationLevel').val('@ViewBag.obj.OccupationLevel_id').trigger('change');

            $('#cur_address').val('@ViewBag.ContactAddressCustomer.AddressFullDetail');
            $('#work_address').val('@ViewBag.WorkAddressCustomer.AddressFullDetail');

            $('#cur_AddressID').val('@ViewBag.obj.ContactAddress_id');
            $('#work_AddressID').val('@ViewBag.obj.WorkAddress_id');

            $('#hidden_AppId').val('@ViewBag.AppId');
            $('#hidden_occupationLevelId').val('@ViewBag.obj.OccupationLevel_id');
            $('#hidden_occupationId').val('@ViewBag.obj.Occupation_id');
            $('#hidden_CreateById').val('@ViewBag.CreatedBy_id');
        }

        function GetModalAddress(addressType, addressId) {
            $('#select_typeaddress').val(addressType).trigger('change');
            $('#select_typeaddress').prop("disabled", true);

            if (addressId != "") {
                $.ajax({
                    type: "GET",
                    url: "@ViewBag.APIUrlApplication/MobileApi/Address/AddressPH?addressId=" + addressId,
                    success: function (response) {
                        //debugger;
                        $('#modal_division').val(response.buildingName);
                        $('#modal_village').val(response.villageName);
                        $('#modal_no').val(response.no);
                        $('#modal_moo').val(response.moo);
                        $('#modal_floor').val(response.floor);
                        $('#modal_road').val(response.road);
                        $('#modal_alley').val(response.soi);
                        if (response.province_id != null) {
                            $('#modal_province').val(response.province_id).trigger('change');
                        }
                        if (response.amphoe_id != null) {
                            $('#hidden_districtId').val(response.amphoe_id);
                        }
                        if (response.tumbol_id != null) {
                            $('#hidden_subdistrictId').val(response.tumbol_id);
                        }

                        $('#modal_zipcode').val(response.zipCode);

                        switch (addressType) {
                            case "2":
                                $('#cur_address').val(response.addressFullDetail);
                                break;
                            case "4":
                                $('#work_address').val(response.addressFullDetail);
                                break;
                            default:
                                break;
                        }

                    }
                });
            } else {
                ClearAddressModal();
            }

        }

        //set address
        function SetAddress(addressType) {
            //debugger;
            var addressId = "0";
            switch (addressType) {
                case "2":
                    addressId = $('#cur_AddressID').val();
                    break;
                case "4":
                    addressId = $('#work_AddressID').val();
                    break;
                default:
                    break;
            }
            $.ajax({
                type: "POST",
                url: "@ViewBag.APIUrlApplication/MobileApi/Address/AddressPH",
                data: {
                    "addressId": addressId,
                    "buildingName": $('#modal_division').val(),
                    "villageName": $('#modal_village').val(),
                    "no": $('#modal_no').val(),
                    "moo": $('#modal_moo').val(),
                    "floor": $('#modal_floor').val(),
                    "soi": $('#modal_alley').val(),
                    "road": $('#modal_road').val(),
                    "subDistrictId": $('#modal_subdistrict').val(),
                    "updateById": $('#hidden_CreateById').val() // id ทดสอบ
                },
                success: function (response) {

                    //get address
                    GetModalAddress(addressType, response.address_ID);

                },
                error: function (xhr, error) {
                    alert(xhr.responseText);
                }
            });
        }

        //get district
        function GetDistrict(provinceId) {
            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlApplication/MobileApi/Address/District?provinceId=" + provinceId,
                //async: false, //ทำฟังก์ชั่นนี้ให้เสร็จก่อน
                success: function (response) {
                    $('#modal_district').empty();
                    for (var i = 0; i < response.length; i++) {
                        $('#modal_district').append('<option value="' +
                            response[i].district_ID +
                            '">' +
                            response[i].districtDetail +
                            '</option>');
                    }

                    if (provinceId != "9999999" && $('#hidden_districtId').val() != "") {
                        $('#modal_district').val($('#hidden_districtId').val());
                        GetSubDistrict($('#hidden_districtId').val());
                    } else {
                        GetSubDistrict(response[0].district_ID);
                    }

                }
            });
        }

        //get subdistrict
        function GetSubDistrict(districtId) {
            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlApplication/MobileApi/Address/SubDistrict?districtId=" + districtId,
                success: function (response) {

                    $('#modal_subdistrict').empty();
                    for (var i = 0; i < response.length; i++) {
                        $('#modal_subdistrict').append('<option value="' +
                            response[i].subDistrict_ID +
                            '">' +
                            response[i].subDistrictDetail +
                            '</option>');
                    }

                    if (districtId != "9999999" && $('#hidden_subdistrictId').val() != "") {
                        $('#modal_subdistrict').val($('#hidden_subdistrictId').val()); //BOOM ติดตรงนี้ ทั้งCustomerและPayer
                    } else {
                        $('#modal_zipcode').val(response[0].zipCode);
                    }

                }
            });
        }

        //get zipcode
        function GetZipCode(subDistrictId) {
            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlApplication/MobileApi/Address/zipCode?SubDistrictid=" + subDistrictId,
                success: function (response2) {
                    $('#modal_zipcode').val(response2.zipCode);
                }
            });
        }

        //Check id card
        function CheckIdentityCard(cardId) {
            if (cardId.length != 13) return false;
            var sum = 0;
            for (var i = 0; i < 12; i++) {
                sum += parseFloat(cardId.charAt(i)) * (13 - i);
            }
            if ((11 - (sum % 11)) % 10 != parseFloat(cardId.charAt(12))) {
                return false;
            }

            return true;
        }
    </script>
}