@using System.Diagnostics
@using Microsoft.Ajax.Utilities
@{
    ViewBag.Title = "UnderWrite";
    Layout = "~/Views/Shared/_MasterApplication.cshtml";
}
<style>
    .bgButton {
        text-align: center;
        background-color: #337ab7;
        cursor: pointer;
        /*height: 69px;*/
        position: fixed;
        bottom: 0;
        left: 0;
        margin-top: 50px;
    }

    .btnNext {
        padding: 10px;
        font-size: 25px;
        color: #fff;
        background-color: #337ab7;
        border-color: transparent;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-primary text-white">
            <h4>UnderWrite</h4>
        </div>
    </div>
    <br />

    <form action="@Url.Action("UnderWrite")" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-12 col-lg-12">

                        @* loop get data of heir *@
                        @foreach (var item in ViewBag.UnderWriteList)
                        {

                            <div class="row">
                                <div class="col-sm-12 col-lg-12">
                                    <div class="form-group">

                                        @*----------------label คำถาม----------------*@
                                        @* 4 4 *@
                                        <div>
                                            <label for="" class=" col-sm-6 col-lg-6 control-label">@item.UDWQuestion</label>
                                        </div>

                                        @*----------------คำตอบ----------------*@
                                        @*value YN*@
                                        @if (@item.QuestionType == 0)
                                        {
                                            //4 4
                                            <div class="col-sm-5 col-lg-5">
                                                <label class="radio-inline">
                                                    <input type="radio" name="udw_@item.Underwrite_id" id="udw_@item.Underwrite_id" value="1" @(item.ValueYN_Doc == true ? "checked" : "")> @item.TrueText
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="udw_@item.Underwrite_id" id="" value="0" @(item.ValueYN_Doc == null || item.ValueYN_Doc == false ? "checked" : "")>@item.FalseText
                                                </label>
                                            </div>
                                        }

                                        @*value number*@
                                        @if (@item.QuestionType == 1)
                                        {
                                            //4 4
                                            <div class="col-sm-5  col-lg-5  Acontroldetail">
                                                @{
                                                    ViewBag.valueNumberDoc = string.IsNullOrEmpty(Convert.ToString(@item.ValueNumber_Doc)) ? 0 : @item.ValueNumber_Doc;
                                                }
                                                <input type="Number" name="udw_@item.Underwrite_id" id="udw_@item.Underwrite_id" class="form-control" pattern="" title=""
                                                       required="required"
                                                       placeholder="@item.QuantityText"
                                                       value="@ViewBag.valueNumberDoc">
                                            </div>
                                                    }

                                        @if (@item.QuestionType == 2)
                                        {
                                            //4 4
                                            <div class="col-sm-5 col-lg-5">
                                                @{
                                                    ViewBag.valueTextDoc = string.IsNullOrEmpty(@item.ValueText_Doc) ? "-" : @item.ValueText_Doc;
                                                }
                                                <input type="text" name="udw_@item.Underwrite_id" id="udw_@item.Underwrite_id" class="form-control"
                                                       required="required"
                                                       value="@ViewBag.valueTextDoc">
                                            </div>
                                                    }
                                    </div>
                                </div>
                            </div>
                            <br />
                                                    }
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bgButton">
                        <button type="submit" class="btnNext" style="width: 100%">ถัดไป</button>
                    </div>
                </div>
            </div>
            <input type="hidden" name="applicationId" id="applicationId" value="@ViewBag.AppId" />
            <input type="hidden" name="hidden_CreateById" id="hidden_CreateById" value="@ViewBag.obj.CreatedBy_id" />
        </fieldset>
    </form>
</div>