@{
    ViewBag.Title = "บันทึกแก้ไขผู้ประสานงานชุมชน";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal">
    <div class="row">
        <div class="col-xs-12">

            <div id="divSearch">

                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">ค้นหา Application</h3>

                        <!-- /.box-tools -->
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>ระบุชื่อชุมชน หรือ เลข Application:</label>
                                <input type="text" class="form-control" id="txtKeyword" />
                            </div>
                            <div class="col-xs-3" style="padding-top:26px">
                                <button type="button" class="btn btn-primary" id="btnSearch">ค้นหา</button>
                            </div>
                        </div>
                        <div>
                            <table id="dtApplication" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="appDetail" class="collapse">
                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">ข้อมูลผู้ประสานงานชุมชน</h3>

                        <!-- /.box-tools -->
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <label>คำนำหน้า:</label>
                                <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" id="ddltitle">
                                    <option value="-1">--โปรดระบุ--</option>

                                    @{foreach (var item in ViewBag.Titles)
                                        {
                                            <option value="@item.TitleId">@item.Title</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <label>ชื่อ:</label>
                                <input type="text" class="form-control" id="txtFirstName" />
                            </div>
                            <div class="col-xs-4">
                                <label>นามสกุล:</label>
                                <input type="text" class="form-control" id="txtLastName" />
                            </div>
                        </div>
                        <div class="row" style="padding-top:6px">
                            <div class="col-xs-3">
                                <label>เบอร์โทรศัพท์:</label>
                                <input type="text" class="form-control" id="txtTel" data-inputmask="'mask': '999-9999999'" />
                            </div>

                            <div class="col-xs-4" style="padding-top:6px">
                                <div class="col-xs-1" style="padding-left:3px;padding-top: 32px">
                                    <input type="radio" name="r2" class="minimal" checked style="position: absolute; opacity: 0;" id="rdoZCardId" value="1">
                                </div>
                                <div class="col-xs-11 input-group" id="divZcardId">
                                    <label class="control-label" for="">หมายเลขบัตรประชาชน</label>
                                    <input type="text" class="form-control" id="txtZCardId" name="txtZCardId" data-inputmask="'mask': '9-9999-99999-99-9'" />
                                    <span class="input-group-btn" style="padding-top: 27px">
                                        <button type="button" id="btnChkIdcard" class="btn btn-primary">ตรวจสอบ</button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-xs-4" style="padding-top:6px">

                                <div class="col-xs-1" style="padding-left:3px;padding-top: 32px">
                                    <input type="radio" name="r2" class="minimal" style="position: absolute; opacity: 0;" id="rdoPassport" value="0">
                                </div>
                                <div class="col-xs-11 input-group" id="divPassport">
                                    <label class="control-label" for="lblPassportNo">หมายเลขพาสปอร์ต</label>
                                    <input type="text" class="form-control" id="txtPassportNo" name="txtPassportNo" placeholder="หมายเลขพาสปอร์ต">
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-top:6px">
                            <div class="col-xs-3">
                                <label>ธนาคาร:</label>
                                <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" id="ddlBank">
                                    <option value="-1">--โปรดระบุ--</option>

                                    @{foreach (var item in ViewBag.OrganizeBank)
                                        {
                                            <option value="@item.Organize_ID">@item.OrganizeDetail</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <label>ชื่อบัญชี:</label>
                                <input type="text" class="form-control" id="txtAccountName" />
                            </div>
                            <div class="col-xs-3">
                                <label>เลขที่บัญชี:</label>
                                <input type="text" class="form-control" id="txtAccountNo" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">รายการเอกสาร</h3>

                        <!-- /.box-tools -->
                    </div>

                    <div class="box-body">
                        <div>
                            <table id="dtDocument" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12" style="text-align:center" id="divbutton">
                        <button type="button" class="btn btn-success" id="btnSentEndorse">ส่งขออนุมัติแก้ไข</button>
                        <button type="button" class="btn btn-danger" id="btnCancelEnodrse">ยกเลิก</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="hdfReferenceID" value="@ViewBag.RequestEndorseContactAndAccountId" />
    <input type="hidden" id="hdfApplicationID" />
</form>

@section ViewSpecificJavascript {
    <script type="text/javascript">
        let IsShow = false;
        $(function () {
            $('.select2').select2();

            if ($('#hdfReferenceID').val() == "") {
                $('#appDetail').collapse('hide');
                $('#divSearch').show();
                IsShow = false;
                SetEnabledButton(false);
                SetEnabledInput(false);
            } else {
                //GetDataAll
                IsShow = true;
                $('#divSearch').hide();
                $('#appDetail').collapse('show');
                GetData();
            }

            $('#rdoZCardId').on('ifChecked', function (event) {
                $("#divZcardId").find('input, button').prop('disabled', false);
                $("#divPassport").find('input').prop('disabled', true);
                $("#txtPassportNo").val("");
            });

            $('#rdoPassport').on('ifChecked', function (event) {
                $("#divZcardId").find('input, button').prop('disabled', true);
                $("#divPassport").find('input').prop('disabled', false);
                $("#txtZCardId").val("");
            });

            $('#btnSearch').click(function (e) {
                e.preventDefault();
                GetDtApplication();
            });

            $('#btnSentEndorse').click(function (e) {
                e.preventDefault();
                if (IsvalidateForContaxtandAccount()) {
                    window.swal({
                        title: 'ยืนยันการทำรายการหรือไม่?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#277020',
                        confirmButtonText: 'ตกลง',
                        cancelButtonText: 'ยกเลิก',
                        closeOnConfirm: false,
                        closeOnEsc: false,
                        closeOnCancel: true
                    }, function (isconfirm) {

                        if (isconfirm) {
                            SendEndorseContaxtandAccount();
                        }

                    });
                }

            });

            $('#btnCancelEnodrse').click(function (e) {
                e.preventDefault();
                $('#appDetail').collapse('hide');
                DoClearEndorseContactandAccount();
            });

            $('#btnChkIdcard').click(function (e) {
                e.preventDefault();
                if (checkID($('#txtZCardId').val()) == true) {
                    swal("ตรวจสอบข้อมูล", "รหัสบัตรประชาชนถูกต้อง", "success")
                }
            });

        });

        const checkID = (id) => {
            debugger;
            id = id.replace(/-/gi, '')
            if (id.length != 13) {

                swal("ตรวจสอบข้อมูล", "รหัสบัตรประชาชนต้องมี 13 หลัก", "warning")
                $('#txtZCardId').val('')
                return false
            } else {

                for (i = 0, sum = 0; i < 12; i++)
                    sum += parseFloat(id.charAt(i)) * (13 - i);

                if ((11 - sum % 11) % 10 != parseFloat(id.charAt(12))) {
                    $('#txtZCardId').val()
                    swal("ตรวจสอบข้อมูล", "รหัสบัตรประชาชนไม่ถูกต้องกรุณาตรวจสอบ", "warning")
                    $('#txtZCardId').val('')
                    return false
                } else {

                    return true

                }

            }

        }

        const SetEnabledButton = (v) => {
            $('#divbutton').find('button').prop('disabled', v);
        }

        const SetEnabledInput = (v) => {

            $('#appDetail').find('input,select').prop('disabled', v);
        }

        const GetData = () => {
            SetEnabledInput(true);
            SetEnabledButton(true);
            GetEnodorseContactandAccount();
            GetDocument();

        }

        const GetEnodorseContactandAccount = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetEndorseContactandAccount","Endorse")",
                data: {
                    referenceId: $('#hdfReferenceID').val()
                },
                async: false,
                dataType: "json",
                success: function (response) {
                    $('#ddltitle').select2().val(response.ToContactTitleId).trigger('change.select2');
                    $('#txtFirstName').val(response.ToContactFirstName);
                    $('#txtLastName').val(response.ToContactLastName);
                    $('#txtTel').val(response.ToContactMobileNumber).inputmask();
                    $('#ddlBank').select2().val(response.ToBankId).trigger('change.select2');
                    $('#txtAccountName').val(response.ToAccountName);
                    $('#txtAccountNo').val(response.ToAccountNo);

                    if (response.ToIdCardNumber != null && response.ToIdCardNumber != "") {

                        $('#rdoZCardId').iCheck('check');
                        $("#txtPassportNo").val("");

                        $("#txtZCardId").val(response.ToIdCardNumber)
                    }

                    if (response.ToPassPortNumber != null && response.ToPassPortNumber != "") {
                        $('#rdoPassport').iCheck('check');
                        $("#txtZCardId").val("");
                        $("#txtPassportNo").val(response.ToPassPortNumber)
                    }

                }
            });
        }

        const DoClearEndorseContactandAccount = () => {
            $('#hdfApplicationID').val('');
            $('#hdfReferenceID').val('');
            $('#ddltitle').val('-1').select2().trigger('change.select2');
            $('#txtFirstName').val('');
            $('#txtLastName').val('');
            $('#ddlBank').val('-1').select2().trigger('change.select2');
            $('#txtTel').val('').inputmask();
            $('#txtAccountName').val('');
            $('#txtAccountNo').val('');
            $('#txtZCardId').val('');
            $('#txtPassportNo').val('');
        }

        const IsvalidateForContaxtandAccount = () => {

            if ($('#ddltitle').val() == '-1') {
                swal("ตรวจสอบข้อมูล", "กรุณาเลือก คำนำหน้า", "warning");
                return false;
            }

            if ($("#txtFirstName").val() == "") {
                swal("ตรวจสอบข้อมูล", "กรุณากรอก ชื่อ", "warning");
                return false;
            }

            if ($("#txtLastName").val() == "") {
                swal("ตรวจสอบข้อมูล", "กรุณากรอก นามสกุล", "warning");
                return false;
            }

            if ($("#txtTel").val() == "") {
                swal("ตรวจสอบข้อมูล", "กรุณากรอก เบอร์โทร", "warning");
                return false;
            } else {

                debugger;
                let tel = $("#txtTel").val()

                let c_tel = tel.split('-').join("");
                let c_tel1 = c_tel.split('_').join("");

                if (c_tel1.length != 10) {
                    swal("ตรวจสอบข้อมูล", "เบอร์โทรไม่ครบ 10 หลัก รบกวนตรวจสอบ", "warning");
                    return false;
                }
            }

            //IDCard Passport
            //Check Zcard Passport
            let rdoZcard = $('#rdoZCardId').iCheck('update')[0].checked;
            let rdoPassport = $('#rdoPassport').iCheck('update')[0].checked;

            if (rdoZcard == true) {
                //Check null ZcardId
                if ($('#txtZCardId').val() == "") {
                    result = "กรุณากรอก เลขบัตรประชาชน";
                    return result;
                }
            }

            if (rdoPassport == true) {
                //Check null passport
                if ($('#txtPassportNo').val() == "") {
                    result = "กรุณากรอก เลขบัตรPassport";
                    return result;
                }
                debugger;
                let c_passportNo = $('#txtPassportNo').val();
                //Check length passport
                if (c_passportNo.length < 6) {
                    result = "กรุณาตรวจสอบ เลขบัตรPassport เนื่องจากต้องมี 6 หลักขึ้นไป";
                    return result;
                }

            }

            if ($('#ddlBank').val() == "-1") {
                swal("ตรวจสอบข้อมูล", "กรุณาเลือก ธนาคาร", "warning");
                return false;
            }

            if ($('#txtAccountName').val() == "") {
                swal("ตรวจสอบข้อมูล", "กรุณากรอก ชื่อบัญชี", "warning");
                return false;
            }

            if ($('#txtAccountNo').val() == "") {
                swal("ตรวจสอบข้อมูล", "กรุณากรอก เลขที่บัญชี", "warning");
                return false;
            }

            return true;
        }

        const SendEndorseContaxtandAccount = () => {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DoSentEndorseContactandAccount","Endorse")",
                data: {
                    referanceId: $('#hdfReferenceID').val(),
                    toContactTitleId: $('#ddltitle').val(),
                    toContactFirstName: $('#txtFirstName').val(),
                    toContactLastName: $('#txtLastName').val(),
                    toContactMobile: $('#txtTel').val(),
                    toBankId: $('#ddlBank').val(),
                    toAccountNo: $('#txtAccountNo').val(),
                    toAccountName: $('#txtAccountName').val(),
                    toIdCardNumber: $('#txtZCardId').val(),
                    toPassportNumber: $('#txtPassportNo').val()
                },
                dataType: "json",
                success: function (response) {

                    if (response.IsResult == 1) {
                        swal({
                            title: response.Msg,
                            type: "success",
                            showCancelButton: false,
                            closeOnConfirm: false,
                            showLoaderOnConfirm: true
                        }, function () {
                            setTimeout(function () {
                                //swal("Ajax request finished!");
                                window.close();
                            }, 1000);
                        });
                    } else {
                        swal("", response.Msg, "error");
                    }
                }
            });
        }

        const GetDtApplication = () => {
            $('#dtApplication').empty();

            let t = $('#dtApplication').DataTable({
             pageLength: 5,
             processing: true,
             serverSide: true,
             responsive: true,
             destroy: true,
             searching: false,
             ajax: {
                 url: '@Url.Action("GetApplicationDetail", "Endorse")',
                    type: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.pageStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = $("#txtKeyword").val();
                       //------------------------------------------------------
                        //d.branchID = null;
                        //d.branchID = @ViewBag.BranchID;
                       //------------------------------------------------------

                    }
                },
                columns: [
                    { title: 'ApplicationCode', data: 'ApplicationCode', className: 'h-dt-center d-dt-center' },
                    { title: 'ชื่อกรมธรรม์', data: 'ApplicationName', className: 'h-dt-center '},
                    { title: 'สถานะ', data: 'ApplicationStatus', className: 'h-dt-center' },
                    {
                        title: 'วันเริ่มคุ้มครอง', data: 'StartCoverDate', className: 'h-dt-center d-dt-center',
                        mRender: function (data) {
                            moment.locale('th');
                            return moment(data).add(543, 'years').format("DD/MM/YYYY ", "LLLL");
                        }
                    },
                    {
                        title: 'วันสิ้นสุดคุ้มครอง', data: 'EndCoverDate',
                        className: 'h-dt-center d-dt-center',
                        mRender: function (data) {
                            moment.locale('th');
                            return moment(data).add(543, 'years').format("DD/MM/YYYY", "LLLL");
                        }
                    },

                    {
                        data: null,
                        className: 'h-dt-center d-dt-center',
                        mRender: (data, type, full) =>
                        {
                            let encode_appid = window.btoa(data.ApplicationId);
                            return '<a href="@Url.Action("PACommunityDetail", "PACommunity")?applicationID=' + encode_appid + '" class="btn btn-primary btn-sm" target="_blank"><i class="fa fa-fw fa-desktop"></i> รายละเอียด </a>';
                        }, width: '10%'
                    },
                    {
                        data: null,
                        className: 'h-dt-center d-dt-center',
                        mRender: (data, type, full) =>
                        {
                            if (data.ApplicationStatusId == 4)
                            {

                                return '<a  class="btn btn-warning btn-sm " onclick="GetContactDetail(\'' + data.ApplicationId + '\');" ; ><i class="glyphicon glyphicon-minus-sign"></i> แก้ไขข้อมูล </a >';
                            }
                            else
                            {
                                return '';
                            }

                        }, width: '11%'
                    },
                ],
                bLengthChange: false,
            });
        }

        const GetContactDetail = (appId) => {

            $('#hdfApplicationID').val(appId);

            if (InsertRequestEndorseContactandAccount() == true) {
                $('#appDetail').collapse('show');
                //Get ContactAndAccountByAppID
                GetContactAndAccountByAppID();
                GetDocument();
            } else {
                $('#appDetail').collapse('hide');
            }

        }

        const GetDocument = () => {
            $('#dtDocument').empty();

            let t = $('#dtDocument').DataTable({
                 pageLength: 5,
                 processing: true,
                 serverSide: true,
                 responsive: true,
                 destroy: true,
                 searching: false,
                 ajax: {
                     url: '@Url.Action("GetDocumentRequestEndorseContactAndAccount", "Endorse")',
                        type: 'POST',
                        data: function (d) {
                            d.draw = d.draw;
                            d.pageSize = d.length;
                            d.pageStart = d.start;
                            d.sortField = d.columns[d.order[0].column].data;
                            d.orderType = d.order[0].dir;
                            d.search = d.search;
                            d.referenceId = $('#hdfReferenceID').val();
                        }
                    },
                    columns: [
                        { title: 'รหัสเอกสาร', data: 'DocumentCode', className: 'h-dt-center d-dt-center', width: '17%' },
                        { title: 'ประเภทเอกสาร', data: 'DocumentType', className: 'h-dt-center '},
                        {
                            title: 'Action', data: null,
                            className: 'h-dt-center d-dt-center',
                            mRender: (data, type, full) =>
                            {
                                if ($('#hdfReferenceID').val() != "" && IsShow == true) {
                                    return '<a href = "' + data.UrlLinkScan + '" target = "_blank" class="btn btn-warning btn-sm" disabled="disabled"> <i class="fa fa-fw fa-upload"></i> Scan</a> '
                                        + '<a href="' + data.UrlLinkOpen + '" target="_blank" class="btn btn-info btn-sm" > <i class="fa fa-fw fa-file"></i> เอกสาร</a > ';
                                } else {
                                    return '<a href = "' + data.UrlLinkScan + '" target = "_blank" class="btn btn-warning btn-sm" > <i class="fa fa-fw fa-upload"></i> Scan</a> '
                                        + '<a href="' + data.UrlLinkOpen + '" target="_blank" class="btn btn-info btn-sm" > <i class="fa fa-fw fa-file"></i> เอกสาร</a > ';
                                }

                            }, width: '20%'
                        },

                    ],
                    bLengthChange: false,
                });
        }

        const GetContactAndAccountByAppID = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetContactandAccountByAppID", "Endorse")",
                data: {
                    applicationId: $('#hdfApplicationID').val()
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    $('#ddltitle').select2().val(response.TitleId).trigger('change.select2');
                    $('#txtFirstName').val(response.FirstName);
                    $('#txtLastName').val(response.LastName);
                    $('#txtTel').val(response.MobileNumber).inputmask();
                    $('#ddlBank').select2().val(response.BankId).trigger('change.select2');
                    $('#txtAccountName').val(response.AccountName);
                    $('#txtAccountNo').val(response.AccountNo);

                    debugger;
                    if (response.IdCardNumber != null && response.IdCardNumber != "") {

                        $('#rdoZCardId').iCheck('check');
                        $("#divZcardId").find('input, button').prop('disabled', false);
                        $("#divPassport").find('input').prop('disabled', true);
                        $("#txtPassportNo").val("");

                        $("#txtZCardId").val(response.IdCardNumber)
                    }

                    if (response.PassPortNumber != null && response.PassPortNumber != "") {
                        $('#rdoPassport').iCheck('check');
                        $("#divZcardId").find('input, button').prop('disabled', true);
                        $("#divPassport").find('input').prop('disabled', false);
                        $("#txtZCardId").val("");

                        $("#txtPassportNo").val(response.PassPortNumber)
                    }
                }
            });
        }

        const InsertRequestEndorseContactandAccount = () => {
            let result;

            $.ajax({
                type: "POST",
                url: "@Url.Action("DoInsertRequestEndorseContactAndAccount", "Endorse")",
                data: { applicationId: $('#hdfApplicationID').val() },
                dataType: "json",
                async: false,
                success: function (response) {
                    debugger;
                    if (response.IsResult == 1) {
                        result = true
                        $('#hdfReferenceID').val(response.Result);
                    } else {
                        swal("", response.Msg, "error");
                        result = false
                    }
                }
            });

            return result;
        }
    </script>
}