@{
    ViewBag.Title = "การโอนเงิน";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .set-status-color-5 {
        border-radius: 8px;
        padding: 4px 4px 4px 4px;
        background-color: #f56954;
        color: white;
        font-size: 1.2rem;
    }

    .set-status-color-2 {
        border-radius: 8px;
        padding: 4px 7px 7px 7px;
        background-color: #f18f03;
        color: white;
        font-size: 1.2rem;
    }

    .set-status-color-3 {
        border-radius: 8px;
        padding: 4px 7px 7px 7px;
        background-color: #00a65a;
        color: white;
        font-size: 1.2rem;
    }

    .set-status-color-4 {
        border-radius: 8px;
        padding: 4px 7px 7px 7px;
        background-color: #d9b200;
        color: white;
        font-size: 1.2rem;
    }

    a:hover {
        color: white;
    }
</style>

@*<div class="row">
    <div class="col-sm-offset-10" style="margin-bottom:10px; margin-right:15px">
        <button type="button" class="btn bg-olive btn-block" id="btnAddTransferPayment"><i class="fa fa-plus"></i>&nbsp;เพิ่มรายการ</button>
    </div>
</div>*@

<div class="box box-primary" style="margin-top:0.8%;border-color:#65aadb">
    <div class="box-body">
        <!-- Date -->
        <form id="formSearchClaimPayBackTransferPaymentMonitor">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label>วันที่สร้างรายการโอนเงิน:</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" name="dphDateStart" data-date-language="th-th" data-provide="datepicker" class="form-control checkErrorDate" id="dphDateStart" style="width:100%" endDate="dphDateEnd" checkStartDate="checkStartDate" checkErrorBtn="btnSearch">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>ถึงวันที่:</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" name="dphDateEnd" data-date-language="th-th" data-provide="datepicker" class="form-control checkErrorDate" id="dphDateEnd" style="width:100%" startDate="dphDateStart" checkEndDate="checkEndDate" checkErrorBtn="btnSearch">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>สถานะ</label>
                        <select class="form-control select2" id="searchPaymentStatus" style="width:100%">
                            @*<option value="-1">---ทั้งหมด---</option>*@
                            @{
                                foreach (var item in ViewBag.Status)
                                {
                                    if (item.ClaimPayBackTransferStatusId == 2)
                                    {
                                        <option value="@item.ClaimPayBackTransferStatusId" selected="selected">@item.ClaimPayBackTransferStatus</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ClaimPayBackTransferStatusId">@item.ClaimPayBackTransferStatus</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label>ประเภทงานเคลม</label>
                        <select class="form-control select2" id="ddlClaimGroupType" style="width:100%">
                            <option value="-1">---ทั้งหมด---</option>
                            @{
                                foreach (var item in ViewBag.ClaimGroupType)
                                {
                                    <option value="@item.ClaimGroupTypeId">@item.ClaimGroupType</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-2" style="padding-top:25px">
                        <button class="btn btn-block bg-primary" id="btnSearch" style="color:#ffffff" type="button">ค้นหา</button>
                    </div>
                </div>
                <div class="row" style="margin-top:15px">
                    <div class="col-sm-12">
                        <table id="dtReport" class="table table-bordered dataTable table-hover"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Modal Transactions-->
<div class="modal fade" id="modal-ConfirmTranfer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="margin-top:20%;">
            <div class="modal-header with-border" style="background-color:#65aadb; color:white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="box-title">บันทึกการโอน</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-2">
                                <label>รหัสรายการ: </label>
                                <span id="lblTransferCode"></span>
                            </div>
                        </div>
                        <div class="row" style="padding-top:5px">
                            <div class="col-sm-4 col-sm-offset-2">
                                <label>ยอดที่โอน :</label>
                                <input type="text" class="form-control" id="txtTransferAmount" disabled />
                            </div>
                        </div>
                        <div class="row" style="padding-top:5px">
                            <div class="col-sm-4 col-sm-offset-2">
                                <label>วันที่โอนเงิน: </label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" name="dphDateTransfer" data-date-language="th-th" data-provide="datepicker" class="form-control" id="dphDateTransfer" style="width:100%">
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                    <label>เวลาโอนเงิน: </label>
                                    <div class="input-group">
                                        <input type="text" class="form-control timepicker" id="timeTransfer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row" style="margin-top:3%; text-align:center;">
                    <button type="button" id="btnConfirm" class="btn bg-olive form-control" style="max-width:20%; border-radius:20px; text-decoration:none; font-size:16px;">
                        <i class="glyphicon glyphicon-ok"></i>
                        ยืนยัน
                    </button>
                    <button type="button" id="btnCancel" class="btn btn-danger form-control" style="max-width: 20%; margin-left: 3%; border-radius:20px; text-decoration: none" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal Transactions-->
<div class="modal fade in" id="modal-TransferPayBackDetail" style="display: none; padding-right: 5px;">
    <div class="modal-dialog" style="width:70%">
        <div class="modal-content">
            <div class="modal-header with-borde text-center" style="text-align: center; background-color: #4bafbf;">
                <h3 style="color: white; text-align: center; ">รายละเอียดการตั้งเบิก</h3>
            </div>

            <div class="modal-body">
                <div class="row" style="margin-left:2%; margin-right:2%">
                    <div class="col-xs-12">
                        <table id="dtTransferPayBackDetail" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                    </div>
                </div>
                <div class="row" style="margin-top:3%; text-align:center;">
                    <button type="button" id="btnCancelModal" class="btn  btn-danger form-control" style="max-width: 10%; margin-left: 3%; border-radius: 20px; text-decoration: none; font-size: 16px;" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal Cancel ClaimPayBack Group -->
<div class="modal fade bd-example-modal-sm" id="modalWarning" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="margin-top:70%;width:450px">
            <div class="modal-header bg-gray">
                <button type="button" data-dismiss="modal" class="close"><i class="fa fa-times"></i> </button>
                <span style="font-size:18px"><i class="fa fa-warning"></i>&nbsp; ยกเลิกรายการ</span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="text-center">
                        <h4 style="color:red"> แจ้งเตือน! ยืนยันยกเลิกรายการ</h4>
                    </div>
                </div>
                <input type="text" id="ClaimPayBackTransferId" hidden />
            </div>
            <div class="modal-footer" style="text-align:center;">
                <button class="btn bg-green" id="btnSaveChangeTranferGroup" onclick="SaveChangeTranferGroup(event)">ยืนยัน</button>
                <button class="btn bg-gray " data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@section ViewSpecificJavascript
    {
    <script type="text/javascript">

        let claimPayBackTransferId = 0;

        var chat = $.connection.myHub;

        $(function () {

            //Start Connection
            $.connection.hub.start().done(function () {
                chat.server.joinGroup();
            });

            //Show addNewNotice to client
            chat.client.sendNoticeResult = function (Str1, Str2) {
                $('#btnSearch').trigger('click');
            };


            $('.select2').select2();

            //---------------------------------Date-----------------------------------//
            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

            var dateDefualt = {
                format: 'dd/mm/yyyy',
                autoclose: true,

            }
            var dateDefualtTranfers = {
                language: 'th-th',
                format: "dd/mm/yyyy",
                autoclose: true,
                endDate: new Date(),
            }

            $('#dphDateTransfer').datepicker(dateDefualtTranfers).datepicker('setDate',new Date())

            $('#dphDateStart').datepicker({
                autoclose: true,
                language: 'th-th',
                format: 'dd/mm/yyyy',
                endDate: today + 1,
            });
            $('#dphDateStart').datepicker('setDate', new Date(date.getFullYear(), date.getMonth(), date.getDate() - 7));

            $('#dphDateEnd').datepicker({
                autoclose: true,
                language: 'th-th',
                format: 'dd/mm/yyyy',
                endDate: today + 1,
            });
            $('#dphDateEnd').datepicker('setDate', today);

            //$("#dphDateStart,#dphDateEnd").on("change", function () {
            //    var dateEndString = $('#dphDateEnd').val();
            //    var [day, month, year] = dateEndString.split("/");
            //    var dateEnd = new Date(`${year}-${month}-${day}`);

            //    var dateStartString = $('#dphDateStart').val();
            //    var [day, month, year] = dateStartString.split("/");
            //    var dateStart = new Date(`${year}-${month}-${day}`);

            //    if (dateEnd < dateStart) {
            //        $('#dphDateEnd').val($('#dphDateStart').val());
            //    }
            //});

            //--------------------------------Time-----------------------------//

            $('#timeTransfer').timepicker({
                showMeridian: false,
                //showSeconds: true,
                timeFormat: 'HH:mm',
                showInputs: false,
                defaultTime: "00:00"
                /*startTime: new Date(0, 0, 0, date.getHours(), date.getMinutes(), 0)*/
            })

           SetDefaultTransferDate();

            //-------------------------------Search--------------------------------//
            $('#btnSearch').click(function(e) {
                e.preventDefault();
                if ($('#formSearchClaimPayBackTransferPaymentMonitor').valid()) {
                    if (isValidate()) {
                        DoLoadMonitor()
                    }
                }
            });

            //------------------------------- Create Transfers --------------------------------//
            $('#btnAddTransferPayment').click(function (e) {
                e.preventDefault();
               OpenCreates()
            });

            //----------------------------- Confirm Tranfer ------------------------//

            $('#btnConfirm').click(function (e) {
                e.preventDefault();
                if (isValidateForTransfer()) {
                    ConfirmTranfer()
                }
            })

            $('#btnCancel').click(function (e) {
                e.preventDefault();
                //DoClear
                DoClear();
                $('#modal-ConfirmTranfer').modal('hide');

            });

            $('#btnGroupCiam').click(function (e) {
                e.preventDefault();

                ClaimPayBackSubGroup()
            });
            console.log(new Date())
        })

        const SetDefaultTransferDate = () => {
            var date = new Date();
            var testTime = new Date(0,0,0,15,12,0,0)

            var hours = ""
            var minnute = ""


            $('#dphDateTransfer').datepicker({ language: 'th-th',format: "dd/mm/yyyy", autoclose: true, endDate: new Date()}).datepicker('setDate', new Date());
           // $('#timeTransfer').val(date.getHours() + ":" + date.getMinutes())
            //if (date.getMinutes() < 10) {
            //    minnute = "0" + date.getMinutes()
            //} else {
            //    minnute = date.getMinutes()
            //}
            //if (date.getHours() < 10) {
            //    hours = "0" + date.getHours()
            //} else {
            //    hours = date.getHours()
            //}

            $('#timeTransfer').val("00:00").timepicker({
                showMeridian: false,
                timeFormat: 'HH:mm',
                showInputs: false,
                defaultTime: "00:00"
            })

         /*   $('#timeTransfer').val("00:00");*/
        }

        const DoClear = () => {
            $('#lblTransferCode').text('');
            $('#txtTransferAmount').val('');
            claimPayBackTransferId = 0;

            $('#timepicker').val("")

            $('#dphDateTransfer').val('').datepicker('update');

        }

         //---------------------------- Validate ------------------------------//
        function ValidateNumberforPrice(price) {
            const re = /^[0-9]+$/;
            return re.test(String(price).toLowerCase());
        }

        isValidate = () => {
            if ($('#dphDateStart').val() == "" || $('#dphDateEnd').val() == "" ) {
                swal('ตรวจสอบ', 'กรุณาเลือก ช่วงวันที่ทำรายการ', 'error');
                return false;
            }
            return true
        }

        isValidateForTransfer = () => {
            let nowDateStr = toBuddhistYear(moment(new Date()), 'DD/MM/YYYY HH:mm:ss');

            let arrNowDate = nowDateStr.split(" ");
            let arrNowDate2 = arrNowDate[0].split("/");

            let timeNowDate = arrNowDate[1].split(":");

            let transfersDate = moment($('#dphDateTransfer').val() + ' ' + $('#timeTransfer').val())._i
            let arrTransferTime = transfersDate.split(" ")
            let dateTransferTime1 = arrTransferTime[0].split("/")
            let endTransferTime2 = arrTransferTime[1].split(":")

            let nowDate = new Date(parseInt(arrNowDate2[2]) - 543, parseInt(arrNowDate2[1]) - 1, parseInt(arrNowDate2[0]), parseInt(timeNowDate[0]), parseInt(timeNowDate[1]), parseInt(timeNowDate[2]));
            let transferDate = new Date(parseInt(dateTransferTime1[2]) - 543, parseInt(dateTransferTime1[1] - 1), parseInt(dateTransferTime1[0]), parseInt(endTransferTime2[0]), parseInt(endTransferTime2[1]));

            if ($('#dphDateTransfer').val() == "") {
                swal('ตรวจสอบ', 'กรุณาเลือก วันที่โอนเงิน', 'error');
                return false;
            }

            if (transferDate > nowDate) {
                swal('ตรวจสอบ', 'รบกวนตรวจสอบเวลาโอนเงิน เนื่องจากเวลามากกว่าเวลาปัจจุบัน', 'error');
                return false;
            }

            let defaultDate = moment( new Date("01/01/1990")).format('DD/MM/YYYY HH:mm:ss');
            let arrdefaultDate = defaultDate.split(" ")
            let datedefaultDate1 = arrdefaultDate[0].split("/")
            let enddefaultDate2 = arrdefaultDate[1].split(":")

            let d_defaultDate = new Date(parseInt(datedefaultDate1[2]), parseInt(datedefaultDate1[1] - 1), parseInt(datedefaultDate1[0]), parseInt(enddefaultDate2[0]), parseInt(enddefaultDate2[1]));

            if (transferDate < d_defaultDate) {
                swal('ตรวจสอบ', 'รบกวนตรวจสอบวันที่โอนเงิน', 'error');
                return false;
            }

            if ($("#timeTransfer").val() == "") {
                swal('ตรวจสอบ', 'กรุณากรอก เวลาโอนเงิน', 'error');
                return false;
            }

            if ($('#timeTransfer').val() == "00:00" || $('#timeTransfer').val() == "0:00") {
                swal('ตรวจสอบ', 'กรุณาตรวจสอบ เวลาโอนเงิน', 'error');
                return false;
            }

            //if ($('#txtTransferAmount').val() == "" || ValidateNumberforPrice($('#txtTransferAmount').val()) === false) {
            //    swal('ตรวจสอบ', 'กรุณากรอก ยอดโอนเงินจะต้องเป็นตัวเลข', 'error');
            //    return false;
            //}

            return true;
        }

        $('#dphDateStart').change(function (e) {
            $(this).valid();
        });

        $('#dphDateEnd').change(function (e) {
            $(this).valid();
        });

        //---------------------------- Nomal Function --------------------------//

       const OpenCreates = () => {
            view = `@Url.Action("ClaimPayBackTransferPayment","ClaimPayBack")`
            window.open(view, '_blank');
        }

        function ClaimPayBackSubGroupAllPDF(claimPayBackTransferId, claimPayBackTransferCode) {
            event.preventDefault();
            let encodeClaimPayBackTransferId = window.btoa(claimPayBackTransferId);
            let encodeClaimPayBackTransferCode = window.btoa(claimPayBackTransferCode);
            view = `@Url.Action("MedicalPaymentPrintAllPDF", "ClaimPayBack")?ClaimPayBackTransferId=${encodeClaimPayBackTransferId}&ClaimPayBackTransferCode=${encodeClaimPayBackTransferCode}`;
            window.open(view, '_blank');
        }


        //----------------------------Data Table------------------------------//
        function DoLoadMonitor() {
            $('#dtReport').empty();
            var t = $('#dtReport').dataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                autoWidth: false,
                responsive: true,
                destroy: true,
                "order": [[0, "desc"]],
                searching: false,
                ajax: {
                    url: '@Url.Action("GetClaimPayBackTransferMonitor", "ClaimPayBack")',

                    type: 'POST',
                    async: true,
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.searchDetail = d.search;
                        d.createdDateFrom = $('#dphDateStart').val();
                        d.createdDateTo = $('#dphDateEnd').val();
                        d.transferStatusId = $('#searchPaymentStatus').val();
                        d.claimGroupType = $('#ddlClaimGroupType').val();
                    }
                },
                columns: [
                    { title: 'รหัสการโอน', data: 'ClaimPayBackTransferCode', className: 'h-dt-center text-font-small' },
                    {
                        title: 'ยอดที่โอน',
                        data: 'Amount',
                        className: 'h-dt-center text-font-small text-right',
                        mRender: function (data) {
                            return numberWithCommas(data.toFixed(2));
                        }
                    },
                    { title: 'ประเภทงานเคลม', data: 'ClaimGroupType', className: 'h-dt-center text-font-small' },
                    {
                        title: 'สถานะ',
                        data: 'ClaimPayBackTransferStatus',
                        className: 'h-dt-center text-font-small',
                        mRender: function (data, type, row, meta) {
                            var classIcon = ["", "", "fa-spinner", "fa-check-circle-o", "fa-exclamation-circle", "fa-hourglass-end"];
                            return '<a href="javascript:void(0)" class="set-status-color-' + row.ClaimPayBackTransferStatusId + '"><i class="fa ' + classIcon[row.ClaimPayBackTransferStatusId] + '"></i> ' + row.ClaimPayBackTransferStatus + '</a>';
                        }
                    },
                    {
                        title: 'วันที่สร้างรายการ', data: 'CreatedDate', className: 'h-dt-center text-font-small text-center', width: '15%',
                        mRender: function (data) {
                            if (data != null) {
                                return toBuddhistYear(moment(data), 'DD/MM/YYYY HH:mm:ss');

                            }
                            else {
                                return '<span>-<span>'
                            }

                        }
                    },
                    {
                        title: 'วันที่โอนเงิน', data: 'TransferDate', className: 'h-dt-center text-font-small text-center', width: '15%',
                        mRender: function (data) {
                            if (data != null) {
                                return toBuddhistYear(moment(data), 'DD/MM/YYYY HH:mm:ss');

                            }
                            else {
                                return '<span>-<span>'
                            }

                        }
                    },
                    {
                        title: 'ดำเนินการ', data: null, className: 'h-dt-center', width: '25%', orderable: false,
                        mRender: (data, type, full) => {
                            var bth_Transfer = ""
                            var btn_Cancel = ""
                            var btn_GroupCaim = ""
                            var btn_Pdf = ""
                            var btn_Hospital_Transfer = ""

                            //ถ้าสถานะ เป็น 2 (รอจ่าย) ให้แสดงปุ่ม บันทึกการโอนแสดง
                            if (data.ClaimPayBackTransferStatusId == 2) {
                                if (data.ClaimGroupTypeId != 4) {
                                    bth_Transfer = `<button type="button" class="btn bg-olive btn-sm" id="btnTransfer" data-toggle="tooltip" data-placement="top" title="" data-original-title="บันทึกโอนเงิน"><i class="fa fa-save ColorWhite" style ="font-size: large;"> </i></button>`
                                }
                                //todo รอถาม BA
                                //btn_Cancel = `<button type="button" onclick="CancelTranferGroup(${data.ClaimPayBackTransferId}, event)" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" id="btnCancel" title="" data-original-title="ยกเลิก"><i class="fa fa-times-circle ColorWhite" style ="font-size: large;"></i></button>`

                            }
                            if (data.ClaimGroupTypeId == 4) {
                                //แสดงปุ่ม GenGroup ก็ต่อเมื่อเป็นเคลมโรงบาล
                                //btn_GroupCaim = `<button type="button" onclick="ClaimPayBackSubGroup('${data.ClaimPayBackTransferId}','${data.ClaimPayBackTransferCode}')" class="btn btn-sm btn-warning" id="btnGroupCiam" data-toggle="tooltip" data-placement="top" title="" data-original-title="กรุ๊ปรายการ"><i class="fa fa-spinner ColorWhite" style ="font-size: large;"> </i></button>`
                                if (data.ClaimPayBackTransferStatusId == 3) {
                                    //แสดงปุ่ม Print PDF ก็ต่อเมื่อเป็ฯเคลมโรงบาล และมีสถานะจ่ายแล้ว
                                    btn_Pdf = `<button type="button" onclick="ClaimPayBackSubGroupAllPDF('${data.ClaimPayBackTransferId}','${data.ClaimPayBackTransferCode}')" class="btn btn-danger btn-sm" id="btnPdf" data-toggle="tooltip" data-placement="top" title=""  data-original-title="พิมพ์หนังสือแจ้งชำระทั้งหมด"><i class="fa fa-file-pdf-o ColorWhite" style ="font-size: large;"> </i></button>`
                                }
                                btn_Hospital_Transfer = `<button type="button" onclick="TransferClaimPayBackSubGroup('${data.ClaimPayBackTransferId}','${data.ClaimPayBackTransferCode}')" class="btn bg-olive btn-sm" id="btnHospitalTransfer" data-toggle="tooltip" data-placement="top" title="" data-original-title="โอนเงิน"><i class="fa fa-exchange ColorWhite" style ="font-size: large;"> </i></button>`
                            }
                            return (
                                `<div class="row"  style="text-align:center; vertical-align: baseline;">` +
                                `<button type="button" class="btn btn-info btn-sm" id="btnDetail" data-toggle="tooltip" data-placement="top" title="" data-original-title="ดูรายละเอียด"><i class="fa fa-eye ColorWhite" style ="font-size: large;"></i></button> ` +
                                btn_Hospital_Transfer + ` ` + bth_Transfer + ` ` + btn_Cancel + ` ` + btn_GroupCaim + ` ` + btn_Pdf +
                                `</div>`
                            )
                        }
                    },
                ],
                drawCallback: function () {
                    // Reinitialize tooltips on draw
                    $('[data-toggle="tooltip"]').tooltip();
                },
                bLengthChange: false,

            });

            //-------------------------------------Call modal Function-------------------------------------------//

            $('#dtReport tbody').on('click', 'td button[id="btnDetail"]', function () {
                var table = $('#dtReport').DataTable();
                var data = table.row($(this).closest('tr')).data()
                let claimPayBackTransferId = data.ClaimPayBackTransferId;

                @*let encode = window.btoa(claimPayBackTransferId);

                let view =  `@Url.Action("ClaimPayBackTransferPayment","ClaimPayBack")?claimPayBackId=${encode}`*@
                DoLoadPayBackDetail(claimPayBackTransferId)
                $('#modal-TransferPayBackDetail').modal('show')

            });

            $('#dtReport tbody').on('click', 'td button[id="btnTransfer"]', function () {
                var table = $('#dtReport').DataTable();
                var data = table.row($(this).closest('tr')).data()

                claimPayBackTransferId = data.ClaimPayBackTransferId;

                $('#lblTransferCode').text(data.ClaimPayBackTransferCode);
                $('#txtTransferAmount').val(data.Amount);

                SetDefaultTransferDate();
                $('#modal-ConfirmTranfer').modal('show');

            });
        }
        //------------------------------------------- Datatable in Modal -----------------------------------------//

        const DoLoadPayBackDetail = (id) => {
             $('#dtTransferPayBackDetail').empty();
            var t = $('#dtTransferPayBackDetail').DataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                autoWidth: false,
                responsive: true,
                destroy: true,
                "order": [[1, "desc"]],
                searching: false,
                ajax: {
                    url: '@Url.Action("GetClaimPaymentReceipGroupByTransfer", "ClaimPayBack")',

                    type: 'POST',
                    async: false,
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.searchDetail = d.search;
                        d.claimPayBackTransferid = id;
                    }
                },
                columns: [
                    {
                        title: 'ลำดับ', data: null, className: 'h-dt-center text-fort-small', width: '10%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { title: 'รหัสรายการ', data: 'ClaimPayBackCode', className: 'h-dt-center text-font-small' },
                    { title: 'สาขา', data: 'Branch', className: 'h-dt-center text-font-small' },
                    {
                        title: 'ยอดเงินรวม',
                        data: 'Amount',
                        className: 'h-dt-center text-font-small',
                        mRender: function (data) {
                            return numberWithCommas(data);
                        }
                    },
                    {
                        title: 'วันที่ทำรายการ', data: 'CreatedDate', className: 'h-dt-center text-font-small', width: '15%',
                        mRender: function (data) {
                            return toBuddhistYear(moment(data), 'DD/MM/YYYY HH:mm:ss');
                        }
                    },
                    {
                        title: 'เรียกดูรายละเอียด', data: null, className: 'h-dt-center', width: '20%',
                        mRender: (data, type, full) => {
                            return (
                                `<div class="row"  style="margin-top:3%; text-align:center;">` +
                                `<button type="button"  class="btn btn-info btn-sm" id="btnDetail"><i class="glyphicon glyphicon glyphicon-eye-open ColorWhite"></i> ดูรายละเอียด</button>` +
                                `</div>`
                            )
                        }

                    },

                ],
                bLengthChange: false,

            });
             window.onresize = function () {
                t.columns.adjust().responsive.recalc();
            };

            $('#dtTransferPayBackDetail tbody').on('click', 'td button[id="btnDetail"]', function () {
                var table = $('#dtTransferPayBackDetail').DataTable();
                 var data = table.row($(this).closest('tr')).data()
                 let claimPayBackId = data.ClaimPayBackId;

                 let encode = window.btoa(claimPayBackId);

                 let view = `@Url.Action("ClaimPayBackDetail", "ClaimPayBack")?claimPayBackId=${encode}`
                 window.open(view, '_blank');
             });
        }

            //-------------------------------------Call modal--------------------------------------------//

            const ConfirmTranfer = () => {
                swal({
                    title: "ยืนยัน ?",
                    text: "ยืนยันการบันทึกรายการ ?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "ตกลง",
                    cancelButtonText: "ยกเลิก",
                    closeOnConfirm: false
                },
                    function () {
                        //UpdateTransfer
                        UpdateTransfer();
                    }
                )
            }

        const UpdateTransfer = () => {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateTransfer", "ClaimPayBack")",
                    data: {
                        claimPayBackTransferId: claimPayBackTransferId,
                        transferAmount: $('#txtTransferAmount').val(),
                        transferDate: $('#dphDateTransfer').val(),
                        transferTimeDate: $('#timeTransfer').val()
                    },
                    dataType: "json",
                    async: false,
                    success: function (response) {
                        if (response.IsResult == true) {
                            swal('บันทึกข้อมูล', response.Msg, 'success');
                            DoClear();
                            DoLoadMonitor();
                            $('#modal-ConfirmTranfer').modal('hide');
                        }
                        else {
                            swal('ข้อมูลผิดพลาด !!', response.Msg, 'error');
                            $('#modal-ConfirmTranfer').modal('show');
                        }
                    },
                    error: function (jqXHR, exception) {
                        //checkXHRStatus(jqXHR.status);
                    }
                });
        }

        const ClaimPayBackSubGroup = (ClaimPayBackTransferId, ClaimPayBackTransferCode) => {
            let encodeClaimPayBackTransferId = window.btoa(ClaimPayBackTransferId);
            let encodeClaimPayBackTransferCode = window.btoa(ClaimPayBackTransferCode);

            window.open(`@Url.Action("ClaimPayBackSubGroup","ClaimPayBack")?ClaimPayBackTransferId=${encodeClaimPayBackTransferId}&ClaimPayBackTransferCode=${encodeClaimPayBackTransferCode}`,'_blank');
        }

        const TransferClaimPayBackSubGroup = (ClaimPayBackTransferId, ClaimPayBackTransferCode) => {
            let encodeClaimPayBackTransferId = window.btoa(ClaimPayBackTransferId);
            let encodeClaimPayBackTransferCode = window.btoa(ClaimPayBackTransferCode);

            window.open(`@Url.Action("TransferClaimPayBackSubGroup", "ClaimPayBack")?ClaimPayBackTransferId=${encodeClaimPayBackTransferId}&ClaimPayBackTransferCode=${encodeClaimPayBackTransferCode}`,'_blank');
        }

        //Cancel ClaimPayBack Group
        function CancelTranferGroup(id, event) {
            event.preventDefault();
            $('#ClaimPayBackTransferId').val(id);
            $('#modalWarning').modal('show');
        };

        @*//Open HospitalClaimGroupPDF
        function openPdf() {
            event.preventDefault();
             /*let encode_id = window.btoa(id);*/
            view = `@Url.Action("HospitalClaimGroupPDF", "ClaimPayBack")`
            window.open(view, '_blank');
        }*@

        function SaveChangeTranferGroup(event) {
            event.preventDefault();
            $.ajax({
                url: "@Url.Action("SaveChangeTranferGroup", "ClaimPayBack")",
                type: "POST",
                data: {
                    ClaimPayBackTransferId: $('#ClaimPayBackTransferId').val()
                },
                success: function (response) {
                    if (response.IsResult == true) {
                        swal('สำเร็จ', 'ยกเลิกรายการเรียบร้อยแล้ว', 'success')
                        $('#modalWarning').modal('hide');
                        DoLoadMonitor();
                    }
                    else {
                        swal('ข้อมูลผิดพลาด !', response.Msg, 'error');
                    }

                },
                 error: function (jqXHR, exception) {
                    checkXHRStatus(jqXHR.status);
                 }
            });
        };

        //---
        function toBuddhistYear(moment, format) {
            var christianYear = moment.format('YYYY')
            var buddhishYear = (parseInt(christianYear) + 543).toString()
            return moment
                .format(format.replace('YYYY', buddhishYear).replace('YY', buddhishYear.substring(2, 4)))
                .replace(christianYear, buddhishYear)
        }
    </script>
}