@{
    ViewBag.Title = "Import ไฟล์บันทึกยอดเงินบริษัทประกัน";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Import ไฟล์บันทึกยอดเงิน</title>
    <style>
        table.dataTable thead {
            background-color: #F4C771;
            color: black;
        }

        /*.separator--line {
            border: 0;
            width: 0;
            animation: separator-width 1s ease-out forwards;
        }*/
        @@keyframes separator-width {
            0% {
                width: 0;
            }

            100% {
                width: 100%;
            }
        }

        @@keyframes slideup {
            from {
                opacity: 0;
                transform: translateY(50px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        #rowImport {
            animation: slideup ease-in 0.5s;
        }

        #rowValidate {
            animation: slideup ease-in 0.6s;
        }

        #hrslide {
            animation: separator-width 0.5s ease-out forwards;
        }

        #btnImportValidation.loading::before {
            content: "";
            display: inline-block;
            width: 1em;
            height: 1em;
            margin-right: 0.5em;
            border: 3px solid white;
            border-radius: 50%;
            border-top-color: transparent;
            animation: spin 0.8s linear infinite;
        }

        @@keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>
    <div class="box box-primary" style="margin-top:0.8%;border-color:#65aadb">
        <div class="box-body">
            <div class=" form-group">
                <div class=" row" id="rowImport">
                    <div class="col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <i class="panel-title glyphicon glyphicon-copy"> </i> เลือกไฟล์นำเข้า
                            </div>
                            <div class="panel-body">
                                <div class="col-xs-12 ">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>เลือกไฟล์นำเข้า :</label>
                                            <div class="input-group">
                                                <div class=" form-control" style="width: 100%">
                                                    <input type="file" id="ImportFile" name="ImportFile" style="width:100%;cursor:pointer;" accept=".xls, .xlsx">
                                                    @*<input type="text" id="txtFileName" class="form-control" disabled>*@
                                                </div>
                                                <span class="input-group-btn">
                                                    <button class="btn bg-primary" id="btnImportValidation" disabled>
                                                        <i class="glyphicon glyphicon-open" id="upIcon"></i>อัปโหลด
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="rowValidate">
                    <div class="col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <i class="panel-title glyphicon glyphicon-copy"> </i> ผลการตรวจสอบไฟล์นำเข้า
                            </div>
                            <div class="panel-body">
                                <table class="table-responsive" style="width:100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div style="width: auto; text-align: left; vertical-align: baseline;">
                                                    <label class="control-label">
                                                        จำนวนรายการที่นำเข้า :
                                                    </label>
                                                    <label id="lblBOHOinFileCount">0</label>

                                                </div>
                                            </td>
                                            <td style=" text-align : right ">
                                                <button class="btn bg-olive" id="btnExportToExcel" style="border-radius: 10px;" disabled>
                                                    Export to Excel  &nbsp;<i class="fa fa-file-excel-o"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div style="width: auto; text-align: left; vertical-align: baseline;">
                                                    @*<label>จำนวนรายการที่ <font style="color:red;"> Error: </font> </label>*@
                                                    <label class="control-label" for="inputError">
                                                        จำนวนรายการที่ Error:
                                                    </label>
                                                    <label id="lblErrorinFileCount" style="color: red;">0</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <div id="divReport" hidden>
                                                    <hr id="hrslide" />
                                                    <table id="dtReport" class="table table-bordered dataTable table-hover"></table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table-responsive" style="width:100%;">
                    <tbody>
                        <tr>
                            <td style="width:40%; padding:2px">&nbsp;</td>
                            <td style="width:10%; padding:2px">
                                <div id="divConfirm" style="display: none;">
                                    <button class="btn btn-block bg-primary" id="btnConfirm" style="color:#ffffff" type="button">ยืนยันการนำเข้า</button>
                                </div>
                            </td>
                            <td style="width: 10%; padding: 2px">
                                <div id="divCancelConfirm" style="display: none;">
                                    <button class="btn btn-block bg-primary" id="btnCancelConfirm" style="color: #367FA9; border-color: #367FA9; background-color: white; " type="button">ยกเลิก</button>
                                </div>
                            </td>
                            <td style="width:40%; padding:2px">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <input type="hidden" id="hdfHeaderId" />
</body>
</html>

@section ViewSpecificJavascript
    {
    <script type="text/javascript">

        $(document).ready(function () {
            var chat = $.connection.myHub;

            //Start Connection
            $.connection.hub.start().done(function () {

                const DoConfirmImport = () => {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ImportSaveBlanceConfirm", "ClaimPayBack")',
                        data: function () {
                            /*tmpCode: $('#hdfTmpCode').val();*/
                            var data = new FormData();
                            data.append("file", jQuery("#ImportFile").get(0).files[0]);
                            data.append("headerId", $('#hdfHeaderId').val());
                            return data;
                        }(),
                        contentType: false,
                        processData: false,
                        async: false,
                        dataType: "json",
                        success: function (response) {
                            if (response[0] == "True" && response[1] != 0) {
                                //ให้ hdfTmpCode ว่าง
                                $('#hdfHeaderId').val('');
                                chat.server.sendNotice("", "");
                                window.swal({
                                    title: 'บันทึกสำเร็จ',
                                    type: 'success',
                                    text: response[2],
                                    showCancelButton: false,
                                    confirmButtonColor: '#26A65B',
                                    confirmButtonText: 'ตกลง',
                                    closeOnEsc: false,
                                    className: "text"
                                }, function () {
                                    RedirectClaimPayBackImportBOHO();
                                    $('#btnConfirm').attr("disabled", true);
                                    $('#btnConfirm').attr("disabled", true);
                                });
                            } else {
                                window.swal({
                                    title: 'กรุณาตรวจสอบ!',
                                    type: 'warning',
                                    html: true,
                                    text: 'ยอดบริษัทประกันต้องไม่ตรงกับค่าเดิม <br> หรือ มีการ Generate Group แล้ว',
                                    showCancelButton: false,
                                    confirmButtonText: 'ตกลง',
                                    closeOnEsc: false,
                                    className: "text"
                                }, function () {

                                    //Closed button
                                    $('#btnConfirm').attr("disabled", true);
                                });
                            }
                        }
                    })
                }

                chat.server.joinGroup(@ViewBag.userID);

                $('#btnConfirm').click(function (e) {
                    e.preventDefault();
                        swal({
                            title: "ยืนยัน ?",
                            text: "ยืนยันการทำรายการ ?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonClass: "btn-danger",
                            confirmButtonText: "ตกลง",
                            cancelButtonText: "ยกเลิก",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                            function (isConfirm) {
                                if (isConfirm) {
                                    DoConfirmImport();
                                } else {
                                    swal("ยกเลิกทำรายการ", "", "error");
                                }
                            }
                        );
                });
            });
        });

        //------------------------------------- Event --------------------------------

        $('#ImportFile').change(function (e) {
            var filePath = $(this).val();
            if (filePath != "") {
                $('#btnImportValidation').prop('disabled', false);
            }
        });

        $('#btnImportValidation').click(function (e) {
            e.preventDefault();
                $('#btnImportValidation').addClass("loading");
                $('#upIcon').removeClass("glyphicon glyphicon-open");
                setTimeout(function () {
                    /*DoGetHeaderID();*/
                    DoUploadSaveBalanceFile();
                }, 500);
                //$('#btnImportValidation').removeClass("loading");
                $('#btnImportValidation').prop('disabled', true);
            $('#btnImportValidation').prop('disabled', false);
        });


        $('#btnCancelConfirm').click(function (e) {
            e.preventDefault();
            DoClear();
        });

        $('#btnExportToExcel').click(function (e) {
            e.preventDefault();
            ExportValidateResponseToExcel();
        });

        const RedirectClaimPayBackImportBOHO = () => {
            view = `@Url.Action("ClaimPayBackBillingRequestGroupImport", "ClaimPayBack")`
            window.location.replace(view);
        }

         //------------------------------------- Method --------------------------------//

        const DoUploadSaveBalanceFile = () => {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ImportClaimPayBackSaveBalanceFile", "ClaimPayBack")',
                data: function () {
                    var data = new FormData();
                    data.append("file", jQuery("#ImportFile").get(0).files[0]);
                    return data;
                }(),
                contentType: false,
                processData: false,
                async: false,
                dataType: "json",
                success: function (response) {
                    DoCountImportSaveBalanceHeaderId(response[3]);
                    $('#hdfHeaderId').val(response[3]);
                    if (response == false) {
                        //alert("กรุณาตรวจสอบไฟล์");
                        swal("", "กรุณาตรวจสอบไฟล์", "warning");
                        $('#btnImportValidation').prop('disabled', false);
                        $('#ImportFile').prop('disabled', false);
                    }
                    else {
                        //ไม่มี error ไม่แสดงตารางเหลือง ปุ่ม Export excel disable
                        if (response[0] == "True" && response[1] == 1) {

                            $('#hdfHeaderId').val(response[3]);

                            //Get Table Data
                            $('#divReport').hide();

                            //Disable Button Excel
                            $('#btnExportToExcel').attr("disabled", true);

                            //Show Button
                            $('#divConfirm').show();
                            $('#divCancelConfirm').show();


                            //Enabled Button
                            $('#btnConfirm').attr("disabled", false);
                        }
                        else if (response[0] == "True" && response[1] == 0)
                        {
                            $('#hdfHeaderId').val(response[3]);
                            $('#divReport').show();

                            //มี error แสดงตารางเหลือง ปุ่ม Export excel Enable ยืนยันการนำเข้า disable
                            //Enable Button Excel
                            $('#btnExportToExcel').attr("disabled", false);

                            //Get Table Data
                            GetImportSaveBalanceOverView(response[3]);

                            //Show Button
                            $('#divConfirm').show();
                            $('#divCancelConfirm').show();

                            //Enabled Button
                            $('#btnConfirm').attr("disabled", true);
                        }
                    }
                    $('#btnImportValidation').removeClass("loading");
                    $('#upIcon').addClass("glyphicon glyphicon-open");
                }
            });
        }

        const GetImportSaveBalanceOverView = (headerId) => {
        $('#dtReport').empty();
        var table = $('#dtReport').DataTable({
            pageLength: 10,
            processing: true,
            serverSide: true,
            autoWidth: false,
            responsive: true,
            destroy: true,
            "order": [[0, "desc"]],
            searching: false,
                ajax: {
                    url: '@Url.Action("GetTmpSaveBalanceImportOverView", "ClaimPayBack")',
                    type: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.pageStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;
                        d.headerId = headerId;
                    }
                },
                columns: [

                    {
                        title: 'ลำดับ',
                        data: null,
                        className: 'text-center',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        title: 'รายการ',
                        data: 'ClaimHeaderGroupCode'
                    },
                    {
                        title: 'CL',
                        data: 'ClaimCode',
                        className: 'text-center',
                    },
                    {
                        title: 'จำนวนเงิน',
                        data: 'Amount',
                        className: 'text-right',
                        mRender: function (data) {
                            if (data == null)
                                data = 0;
                            return numberWithCommas(data.toFixed(2));
                        }
                    },
                    {
                        title: 'ยอดเงินบริษัทประกัน',
                        data: 'CoverAmount',
                        className: 'text-right',
                        mRender: function (data) {
                            if (data == null)
                                data = 0;
                            return numberWithCommas(data.toFixed(2));
                        }
                    },
                    {
                        title: 'Error Message',
                        data: 'Result',
                        className: 'text-left',
                    },
                ],
        });
            window.onresize = function () {
                table.columns.adjust().responsive.recalc();
            };
        }

        const DoCountImportSaveBalanceHeaderId = (headerId) => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetImportSaveBalanceHeaderIdCount", "ClaimPayBack")",
                data: {
                    headerId: headerId
                },
                async: false,
                dataType: "json",
                success: function (response) {
                    $('#lblBOHOinFileCount').text(response.ImportCount);
                    $('#lblErrorinFileCount').text(response.ErrorCount);
                }
            });
        }

        const ExportValidateResponseToExcel = () => {
            loadingSpinner('fadeIn');
            $.ajax({
                url: "@Url.Action("ExportSaveBalanceImportValidateToExcel", "ClaimPayBack")",
                type: "POST",
                data: {
                    headerId: $('#hdfHeaderId').val()
                },
                success: function (data) {
                    window.location = "@Url.Action("DownloadSaveBalanceImportValidate")";
                    loadingSpinner('fadeOut');
                },
                 error: function (jqXHR, exception) {
                     checkXHRStatus(jqXHR.status);
                     loadingSpinner('fadeOut');
                 }
            });
        }

        const DoClear = () => {
            swal({
                title: "ยืนยัน ?",
                text: "ยืนยันการยกเลิกรายการ ?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "ตกลง",
                cancelButtonText: "ยกเลิก",
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            },
                function () {
                    setTimeout(function () {
                        location.reload();
                    }, 1000)
                }
            )
        }

    </script>
}
