<div class="col-xs-12 col-md-6 col-lg-3"></div>
<div class="col-xs-12 col-md-6 col-lg-3">
    <div class="info-box boxSumAmount">
        <span class="info-box-icon" style="background-color: deepskyblue;color:white"><i class="fa fa-money"></i></span>
        <div class="info-box-content">
            <div class="inner">
                <small>จำนวนเงินทั้งหมด :</small>
                <small class="info-box-number" style="color:deepskyblue">@ViewBag.totalAmount บาท</small>
                <small>จำนวนสถานพยาบาลทั้งหมด :</small>
                <small class="info-box-number" style="color:deepskyblue">@ViewBag.totalHospital ราย</small>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-6 col-lg-3">
    <div class="info-box boxSumAmount">
        <span class="info-box-icon bg-green"><i class="fa fa-check-circle-o"></i></span>
        <div class="info-box-content">
            <div class="inner">
                <small>จำนวนเงินโอนแล้ว :</small>
                <small class="info-box-number text-green">@ViewBag.transferedAmount บาท</small>
                <small>จำนวนสถานพยาบาลโอนแล้ว :</small>
                <small class="info-box-number text-green">@ViewBag.transferedHospital ราย</small>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-6 col-lg-3">
    <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-hourglass-end"></i></span>
        <div class="info-box-content">
            <div class="inner">
                <small>จำนวนเงินค้างชำระ :</small>
                <small class="info-box-number text-yellow">@ViewBag.remain บาท</small>
                <small>จำนวนสถานพยาบาลคงเหลือ :</small>
                <small class="info-box-number text-yellow">@ViewBag.remainHospital ราย</small>
            </div>
        </div>
    </div>
</div>