
@{
    ViewBag.Title = "ส่งความคุ้มครอง Product ทั่วไป";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal">
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">ค้นหารายการ</h3>

                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="row">
                        <div class="col-xs-3 col-xs-offset-2">
                            <label>สถานะการส่ง :</label>
                            <select id="ddlStatusSend" class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                <option selected="selected" value="0">ยังไม่ส่ง บ.ประกัน</option>
                                <option value="1">ส่ง บ.ประกัน</option>

                            </select>
                        </div>
                        <div class="col-xs-3">
                            <label>ประเภทแผน :</label>
                            <select id="ddlProductType" class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                <option value="-1">--ทั้งหมด--</option>
                                @{
                                    foreach (var item in ViewBag.ProductType)
                                    {
                                        <option value="@item.ProductTypeID">@item.ProductType</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row" style="padding-top:6px">
                        <div class="col-xs-6 col-xs-offset-2">
                            <label>บริษัทประกัน :</label>
                            <select id="ddlInsurance" class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">

                            </select>
                        </div>
                        <div class="col-xs-3" style="padding-top:26px">
                            <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-search"></i> ค้นหา</button>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>


            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">รายการ</h3>

                    <!-- /.box-tools -->
                </div>

                <div class="box-body">
                    <table id="dtMain" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                </div>
            </div>

        </div>
    </div>

    <input type="hidden" id="hdfapplicationId" hidden />
</form>

<!-- /.modal-dialog -->
<div class="modal fade in" id="modal-UpdateStatusSend" style="display: none;">
    <div class="modal-dialog">
        <div class="box box-primary" style="width:120%">
            <div class="box-header with-border">
                <h3 class="box-title">Update สถานะการส่ง</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-2">
                        <label>สถานะการส่ง:</label>
                        <input type="radio" class="iradio_minimal-blue minimal" name="status" value="1" id="rdosend"/> ส่งแล้ว
                        <input type="radio" class="iradio_minimal-blue minimal" name="status" value="0" id="rdonotsend"/> ยังไม่ส่ง
                    </div>
                </div>
                <div class="row" style="padding-top: 5px;">
                    <div class="col-xs-8 col-xs-offset-2">
                        <label>หมายเหตุ:</label>
                        <textarea rows="3" class="form-control" id="txtRemark"></textarea>
                    </div>
                </div>
               
                <div class="row" style="padding-top: 5px;">
                    <div class="col-xs-12" style="text-align:center">
                        <button type="button" class="btn btn-success" id="btnUpdateStatus"><i class="glyphicon glyphicon-ok"></i> ตกลง</button>
                        <button type="button" class="btn btn-danger" id="btnCancelUpdateStatus"><i class="glyphicon glyphicon-remove"></i> ยกเลิก</button>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            $('.select2').select2();

            GetInsuranceCompany();

            $('#ddlProductType').change(function (e) {  
                e.preventDefault();
                GetInsuranceCompany();
            });


            $('#btnSearch').click(function (e) {    
                e.preventDefault();
                GetData();
            });

            $('#btnUpdateStatus').click(function (e) {  
                e.preventDefault();
                if (IsvalidateForUpdateStatus()) {
                    UpdateSendCoverage();
                } else {
                    $('#modal-UpdateStatusSend').modal('show');
                }
                
            });

            $('#btnCancelUpdateStatus').click(function (e) {    
                e.preventDefault();
                DoClearUpdateStatus();
                $('#modal-UpdateStatusSend').modal('hide');
            });

        });

        const UpdateSendCoverage = () => {
            let isSendCoverage;
            var radioValue = $("input[name='status']:checked").val();

            if (radioValue == '1') {
                isSendCoverage = true;
            } else {
                isSendCoverage = false;
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateStatusNormalCoverage","Reports")",
                data: {
                    appId: $('#hdfapplicationId').val(),
                    isSend: isSendCoverage,
                    remark: $('#txtRemark').val()
                },
                dataType: "json",
                success: function (response) {

                    if (response.IsResult == 1) {
                        swal("", response.Msg, "success");
                        GetData();
                        DoClearUpdateStatus();
                        $('#modal-UpdateStatusSend').modal('hide');
                    } else {

                        swal("", response.Msg, "error");
                        $('#modal-UpdateStatusSend').modal('show');
                    }
                }
            });
        }


        const IsvalidateForUpdateStatus = () => {
            var radioValue = $("input[name='status']:checked").val();

            if (radioValue == "" || radioValue == null) { 
                swal("ตรวจสอบข้อมูล", "กรุณาเลือก สถานะการส่ง", "warning");
                return false;
            }

            return true;
        }

        const DoClearUpdateStatus = () => {
            debugger;
            $('#txtRemark').val('');
            // remove 'checked' state
            $('input[name="status"]').iCheck('uncheck');
            $('#hdfapplicationId').val('');
        }

        const GetData = () => {
            $('#dtMain').empty();
            var t = $('#dtMain').dataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                searching: false,
                info:false,
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetApplicationSendInsured", "Reports")',
                       type: 'POST',
                       data: function (d) {
                           d.draw = d.draw;
                           d.pageSize = d.length;
                           d.pageStart = d.start;
                           d.sortField = d.columns[d.order[0].column].data;
                           d.orderType = d.order[0].dir;
                           d.search = d.search.value;
                           d.isSendInsured = $('#ddlStatusSend').val();
                           d.insuranceCompanyId = $('#ddlInsurance').val();
                           d.productTypeId = $('#ddlProductType').val();
                       }
                   },
                   columns: [
                       { title: 'เลขที่', data: 'ApplicationCode', className: 'h-dt-center', },
                       { title: 'ผู้เอาประกัน', data: 'InsuredName', className: 'h-dt-center', },
                       {
                           title: 'วันเริ่มคุ้มครอง', data: 'StartCoverDate', className: 'h-dt-center ',
                           mRender: function (data) {
                               return moment(data).add('years', 543).format('DD/MM/YYYY');
                           }
                       },
                       { title: 'ประเภท', data: 'ProductType', className: 'h-dt-center ', },
                       { title: 'แผน', data: 'ProductDetail', className: 'h-dt-center ', },
                       {
                           title: 'สถานะการส่ง', data: 'IsSendInsured', className: 'h-dt-center ',
                           mRender: function (data) {
                               if (data == 1) {
                                   return 'ส่ง บ.ประกัน';
                               } else {
                                   return 'ยังไม่ส่ง บ.ประกัน';
                               }

                           }
                       },
                       {
                           title: 'วันที่ส่ง บ.ประกัน', data: 'SendInsuredDate', className: 'h-dt-center ',
                           mRender: function (data) {
                               if (data == null) {
                                   return '';
                               } else {
                                   return moment(data).add('years', 543).format('DD/MM/YYYY');
                               }
                               
                           }
                       },
                       {
                           title: '', data: null, width: '5%', className: 'h-dt-center d-dt-center', orderable: false,
                           mRender: function (data) {

                               let encode = window.btoa(data.ApplicationId);

                               return `<a class="btn btn-primary btn-sm" href="@Url.Action("DetailApp","Application")?appId=${encode}" target="_blank">เรียกดู</a>`

                           }
                       },

                       {
                           title: '', data: null, width: '5%', className: 'h-dt-center d-dt-center', orderable: false,
                           mRender: function (data) {

                               //data.ApplicationId

                               return `<a class="btn btn-warning btn-sm" onclick="GetApplicationData(${data.ApplicationId})">บันทึกนำส่ง</a>`

                           }
                       }
                   ],
                   bLengthChange: false,
                   //createdRow: function (row, data, index) {
                   //    if (data.ClaimOnLineStatusId == 3) {
                   //        $('td', row).addClass('selected');
                   //    }
                   //},

           });
        }

        const GetApplicationData = (appId) => {
            $('#hdfapplicationId').val(appId);

            $('#modal-UpdateStatusSend').modal('show');
        }



        const GetInsuranceCompany = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetInsuranceCompany", "Master")",
                data: {
                    productTypeId: $('#ddlProductType').val()
                },
                dataType: "json",
                async: false,
                success: function (response) {

                    $('#ddlInsurance').empty();

                    $('#ddlInsurance').append(`<option value="-1">--ทั้งหมด--</option>`);

                    for (var i = 0; i < response.length; i++) { 
                        $('#ddlInsurance').append(`<option value="${response[i].InsuranceCompanyID}">${response[i].InsuranceCompany}</option>`);
                    }
                }
            });
        }

       

    </script>
}