
@{
    ViewBag.Title = "TaxCustomerConfirm";
    Layout = "~/Views/Shared/_LayoutForTaxCustomer.cshtml";
}

<form class="form-horizontal">
    <div class="row">
        <div class="col-xs-12">

            @* Progress Step Bar *@
            <div class="row  text-padding" style="text-decoration:none;">

                <div class="container-fluid">

                    <ul class="list-unstyled multi-steps">
                        <li>Step 1</li>
                        <li class="is-active">Step 2</li>
                        <li>Step 3</li>

                    </ul>
                </div>

            </div>


            @* Form TaxDetail *@
            <div class="panel panel-default display-block ">

                <div class="row text-center text-padding text-wordwrap" style="text-decoration:none; margin: 0 auto 10px auto;">
                    <span style="font-size:18px">แบบฟอร์มแจ้งความประสงค์ในการใช้สิทธิขอยกเว้นภาษีเงินได้ ตามกฎหมายว่าด้วยภาษีอากร</span>
                </div>

                <div class="row text-padding text-wordwrap" style="margin: 0 auto 10px auto;font-size:16px">
                    <span class="text-font-color-blue" style="text-align:left">ข้อมูลผู้เอาประกันภัย</span><br />
                    
                    <div class="row" style="margin: 0 auto 2px auto;">
                        <span class="text-font-color-black">ชื่อ</span>
                        <input type="text" id="txtCustFirstname" name="txtCustFirstname" class="form-control " width="100" required="required" />
                    </div>

                    <div class="row" style="margin: 0 auto 2px auto;">
                        <span class="text-font-color-black">นามสกุล</span>
                        <input type="text" id="txtCustLastname" name="txtCustLastname" class="form-control " width="100" required="required" />
                    </div>
                    
                    <div class="row" style="margin: 0 auto 2px auto;">
                        <span class="text-font-color-black">เลขบัตรประชาชน</span>
                        <input type="text" id="txtCustZCardId" name="txtCustZCardId" class="form-control " width="100" disabled />
                    </div>
                    

                    <div class="row" style="margin: 0 auto 2px auto;">
                        <span class="text-font-color-black">วันเกิด</span>
                            <input type="text" class="form-control pull-right datepicker" id="dtpCustBirthdate" name="dtpCustBirthdate" data-provide="datepicker" data-date-language="th-th" disabled data-inputmask="'mask': '99/99/9999', 'placeholder': 'วว/ดด/ปปปป'" placeholder="วว/ดด/ปปปป">

                    </div>
                    

                    <div class="row" style="margin: 0 auto 2px auto;">
                        <span class="text-font-color-black">เบอร์มือถือ</span>
                        <input type="text" id="txtCustTel" name="txtCustTel" class="form-control " width="100" required="required" />
                    </div>
                    
                    <div class="row" style="margin: 0 auto 2px auto;">
                        <span class="text-font-color-black">E-Mail</span>
                        <input type="text" id="txtCustEmail" name="txtCustEmail" class="form-control " width="100" />
                    </div>

                    
                </div>



                <div class="row text-padding text-wordwrap" style="margin: 0 auto 10px auto;font-size:16px">
                    <span class="text-font-color-blue" style="text-align:left">ข้อมูลผู้ชำระเบี้ย</span><br />

                    <div class="row" style="margin: 0 auto 2px auto;">
                        <span class="text-font-color-black">ชื่อ</span>
                        <input type="text" id="txtPayerFirstname" name="txtPayerFirstname" class="form-control " width="100" required="required" />
                    </div>

                    <div class="row" style="margin: 0 auto 2px auto;">
                        <span class="text-font-color-black">นามสกุล</span>
                        <input type="text" id="txtPayerLastname" name="txtPayerLastname" class="form-control " width="100" required="required" />
                    </div>

                    
                    <div class="row" style="margin: 0 auto 2px auto;">
                        <span class="text-font-color-black">เลขบัตรประชาชน</span>
                        <input type="text" id="txtPayerZCardId" name="txtPayerZCardId" class="form-control " width="100" required="required" checkID="checkID" />
                    </div>

                    
                    <div class="row" style="margin: 0 auto 2px auto;">
                        <span class="text-font-color-black">วันเกิด (พ.ศ.)</span>
                        <input type="text" class="form-control" id="dtpPayerBirthdate" name="dtpPayerBirthdate" required="required" data-inputmask="'mask': '99/99/9999', 'placeholder': 'วว/ดด/ปปปป'" placeholder="วว/ดด/ปปปป" checkDate="checkDate">
                        
                    </div>

                    
                    <div class="row" style="margin: 0 auto 2px auto;">
                        <span class="text-font-color-black">เบอร์มือถือ</span>
                        <input type="text" id="txtPayerTel" name="txtPayerTel" class="form-control " width="100" required="required" />
                    </div>

                    
                    <div class="row" style="margin: 0 auto 2px auto;">
                        <span class="text-font-color-black">E-Mail</span>
                        <input type="text" id="txtPayerEmail" name="txtPayerEmail" class="form-control " width="100" />
                    </div>

                    
                </div>

                
                

                <div class="row text-padding " style="margin: 0 auto 10px auto;font-size:16px">

                    <div class="col-xs-12">
                        <div class="col-xs-1" style="padding-left:0px;padding-right: 0px; right: 15px;">
                            <input type="radio" name="rdoDisclosureStatus" class="minimal" style="position: absolute; visibility: hidden;" value="2" />
                        </div>
                        <div class="col-xs-11 text-wordwrap" style="padding-left:0px; padding-right:0px;right: 12px;">
                            <span class="text-font-color-black"> มีความประสงค์ และยินยอมให้บริษัทประกันภัยส่งและเปิดเผยข้อมูลเกี่ยวกับเบี้ยประกันภัยต่อกรมสรรพากร ตามหลักเกณฑ์ วิธีการที่กรมสรรพากรกำหนด</span>
                        </div>
                    </div>



                    <div class="col-xs-12">
                        <div class="col-xs-1" style="padding-left:0px;padding-right: 0px;     right: 15px;">
                            <input type="radio" name="rdoDisclosureStatus" class="minimal" style="position: absolute; visibility: hidden;" value="3" />
                        </div>

                        <div class="col-xs-11 text-wordwrap" style="padding-left:0px; padding-right:0px;     right: 12px;">
                            <span class="text-font-color-black"> ไม่มีความประสงค์</span>
                        </div>
                    </div>

                </div>


                <div class="row text-padding text-center" style="margin: 0 auto 10px auto; text-decoration:none">
                    <button class=" btn-danger btn-back" style="border-radius:15px;float:left" type="button" id="btnbackToMain">กลับหน้าหลัก</button>
                    <button class="btn-next" type="button" style="float:right" id="btnConfirmData">ยืนยัน</button>
                </div>



            </div>

        </div>

        <input type="hidden" id="hdfCustZCardId" hidden value="@ViewBag.CustZCardId" />
        <input type="hidden" id="hdfCustBirthDate" hidden value="@ViewBag.CustBirthDate" />
        <input type="hidden" id="hdfApplicationCode" hidden />
        <input type="hidden" id="hdfCustFirstname" hidden />
        <input type="hidden" id="hdfCustLastname" hidden />


    </div>
</form>

@section ViewSpecificJavascript
{
    <script type="text/javascript">
        
        $(function () {

            $('#dtpCustBirthdate').inputmask("99/99/9999");

            $('#dtpPayerBirthdate').inputmask("99/99/9999");


            GetCustomerDatailLasest();

            $('#btnbackToMain').click(function (e) {    
                e.preventDefault();
                window.location.href = "@Url.Action("TaxCustomer", "TaxCustomer")";
            });

            $('#btnConfirmData').click(function (e) {
                e.preventDefault();

                debugger;
                if ($('form').valid())
                {    
                    if (IsValidateForSave() == true) {  
                        SaveTaxCustomerData();
                    }
                }
            });

        });

        function IsValidateForSave()
        {

            if ($('input[name="rdoDisclosureStatus"]:checked').length == 0) {   

                swal("คำเตือน", "กรุณาเลือกความประสงค์ในการใช้สิทธิขอยกเว้นภาษีเงินได้", "error");
                return false;

            }

            return true;
        }


        function SaveTaxCustomerData()
        {
            debugger;
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveTaxCustomerData", "TaxCustomer")",
                data: {
                    applicationCode: $('#hdfApplicationCode').val(),
                    custFirstName: $('#txtCustFirstname').val(),
                    custLastName: $('#txtCustLastname').val(),
                    custIDCard: $('#txtCustZCardId').val(),
                    custBirthDate: $('#dtpCustBirthdate').val(),
                    custMobile: $('#txtCustTel').val(),
                    custEmail: $('#txtCustEmail').val(),
                    payerFirstName: $('#txtPayerFirstname').val(),
                    payerLastName: $('#txtPayerLastname').val(),
                    payerIDCard: $('#txtPayerZCardId').val(),
                    payerBirthDate: $('#dtpPayerBirthdate').val(),
                    payerMobile: $('#txtPayerTel').val(),
                    payerEmail: $('#txtPayerEmail').val(),
                    disclosureStatus: $('input[name="rdoDisclosureStatus"]:checked').val()

                },
                dataType: "json",
                async: false,
                success: function (response) {

                    if (response[0] == "True") {

                        debugger;
                        //Link To Preview page
                        let encode_CustIDCard = window.btoa($('#txtCustZCardId').val());
                        let encode_disclosureStatus = window.btoa($('input[name="rdoDisclosureStatus"]:checked').val());
                        let encode_CustFirstName = window.btoa(encodeURIComponent( $('#hdfCustFirstname').val()));
                        let encode_CustLastName = window.btoa(encodeURIComponent( $('#hdfCustLastname').val()));
                        window.location.href = `@Url.Action("TaxCustomerPreview","TaxCustomer")?custIDCard=${encode_CustIDCard}&disclosureStatusId=${encode_disclosureStatus}&custFirstname=${encode_CustFirstName}&custLastname=${encode_CustLastName}`;

                    } else {

                        swal("warning !!", response[2], "warning");
                    }

                }
            });
        }

        function GetCustomerDatailLasest()
        {
            $.ajax({
                type: "GET",    
                url: "@Url.Action("GetCustomerDetailByZcardId", "TaxCustomer")",
                data: {
                    zcardId: $('#hdfCustZCardId').val(),
                    birthDate: $('#hdfCustBirthDate').val()

                },
                dataType: "json",
                async: false,
                success: function (response) {

                    if (response != false)
                    {    
                        $('#hdfApplicationCode').val(response.ApplicationCode);
                        $('#txtCustFirstname').val(response.CustFirstName);
                        $('#txtCustLastname').val(response.CustLastName);
                        $('#txtCustZCardId').val(response.CustIDCard);

                        let d_Birthdate = moment(response.CustBirthDate).add(543, "years").format("DD/MM/YYYY");

                        $('#dtpCustBirthdate').val(d_Birthdate);
                        $('#txtCustTel').val(response.CustMobileNumber);
                        $('#txtCustEmail').val(response.CustEmail);
                        $('#txtPayerFirstname').val(response.PayerFirstName);
                        $('#txtPayerLastname').val(response.PayerLastName);
                        $('#txtPayerZCardId').val(response.PayerIDCard);

                        $('#hdfCustFirstname').val(response.CustFirstName);
                        $('#hdfCustLastname').val(response.CustLastName);

                        debugger;

                        if (response.PayerBirthDate != null) {  

                            let d_payerBirthdate = moment(response.PayerBirthDate).add(543, "years").format("DD/MM/YYYY");
                            $('#dtpPayerBirthdate').val(d_payerBirthdate);
                        }


                        
                        $('#txtPayerTel').val(response.PayerMobileNumber);
                        $('#txtPayerEmail').val(response.PayerEmail);
                    }
                }
            });
        }

        


    </script>
}

