@{
    ViewBag.Title = "Application ID:" + @ViewBag.AppId;
    ViewBag.Description = "แผน:" + @ViewBag.Plan + " สถานะกรมธรรม์:" + @ViewBag.Status;
    Layout = "~/Views/Shared/_Layout_Empty.cshtml";
}
@* Header *@
<form action="" method="post" id="Mainform">
    <div class="row">
        @* on left *@
        <div class="col-md-5">
            @* Customer Detail *@
            <div id="Customer_form" class="form-horizontal">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h4 class="box-title">ข้อมูลผู้เอาประกัน </h4> &emsp; เบอร์โทร: @ViewBag.PhoneNum
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group row">
                            <label for="select_title" class="control-label col-sm-4"><font color="red">*</font>คำนำหน้า:</label>
                            <div class="col-sm-7">
                                <select class="form-control select2" id="select_title" name="select_title">
                                    @foreach(var itm in ViewBag.PersonTitle)
                                    {
                                        if(ViewBag.CustomerTitle == itm.TempCode)
                                        {
                                            <option value="@itm.TempCode" selected="selected">@itm.TitleDetail</option>
                                        }
                                        else
                                        {
                                            <option value="@itm.TempCode">@itm.TitleDetail</option>
                                        }
                                    }
                                </select>
                                <input type="hidden" id="hd_CustTitle" name="hd_CustTitle" value="@ViewBag.CustomerTitle" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtFname" class="control-label col-sm-4"><font color="red">*</font>ชื่อ:</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" id="txtFname" name="txtFname" value="@ViewBag.Fname" required="required" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtLname" class="control-label col-sm-4"><font color="red">*</font>นามสกุล:</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" id="txtLname" name="txtLname" value="@ViewBag.Lname" required="required" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="control-label col-sm-4"><font color="red">*</font>วันเกิด:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control pull-right datepicker" name="CusBirthDate" id="CusBirthDate" required="required"
                                       data-provide="datepicker" value="@ViewBag.BirthDay" data-date-language="th-th" placeholder="dd/mm/yyyy">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="radio-inline col-sm-offset-3 col-sm-4">
                                <input type="radio" name="rd_Nation" id="rd_Thai" value="2" />ชาวไทย
                            </label>
                            <label class="radio-inline col-sm-4">
                                <input type="radio" name="rd_Nation" id="rd_Nation1" value="3" />ชาวต่างชาติ
                            </label>
                        </div>
                        <div class="form-group row" id="showErrorCust">
                            <label class="col-sm-offset-6 col-sm-6" style="color: red">
                                กรุณาเลือกข้อมูล!
                            </label>
                        </div>
                        <div class="form-group row">
                            <label for="txtIdCard" class="control-label col-sm-4">เลขบัตรประชาชน:</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" id="txtIdCard" name="txtIdCard" value="@ViewBag.IdCard" checkID="checkID" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtPassport" class="control-label col-sm-4">Passport:</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" id="txtPassport" name="txtPassport" value="@ViewBag.Passport" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="select_result" class="control-label col-sm-4">ผลการตรวจสอบ:</label>
                            <div class="col-sm-7">
                                <select class="form-control select2" id="select_Result" name="select_Result">
                                    @foreach(var itm in ViewBag.StatusType)
                                    {
                                        if(ViewBag.StatusTypeCustomer == itm.CheckStatusId)
                                        {
                                            <option value="@itm.CheckStatusId" selected="selected">@itm.CheckStatus</option>
                                        }
                                        else
                                        {
                                            <option value="@itm.CheckStatusId">@itm.CheckStatus</option>
                                        }
                                    }
                                </select>
                                <input type="hidden" id="hd_CustStatusType" name="hd_CustStatusType" value="@ViewBag.StatusTypeCustomer" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Payer Detail *@
            <div id="Payer_form" class="form-horizontal">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">ข้อมูลผู้ชำระเบี้ย</h4> &emsp; เบอร์โทร: @ViewBag.PayerPhoneNum
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group row">

                            <label for="select_Payertitle" class="control-label col-sm-4"><font color="red">*</font>คำนำหน้า:</label>

                            <div class="col-sm-7">
                                <select class="form-control select2" id="select_Payertitle" name="select_Payertitle" required="">
                                    @foreach(var itm in ViewBag.PersonTitle)
                                    {
                                        if(ViewBag.PayerTitle == itm.TempCode)
                                        {
                                            <option value="@itm.TempCode" selected="selected">@itm.TitleDetail</option>
                                        }
                                        else
                                        {
                                            <option value="@itm.TempCode">@itm.TitleDetail</option>
                                        }

                                    }
                                </select>
                                <input type="hidden" id="hd_PayerTitle" name="hd_PayerTitle" value="@ViewBag.PayerTitle" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtPayerFname" class="control-label col-sm-4"><font color="red">*</font>ชื่อ:</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" id="txtPayerFname" name="txtPayerFname" value="@ViewBag.PayerFname" required="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtPayerLname" class="control-label col-sm-4"><font color="red">*</font>นามสกุล:</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" id="txtPayerLname" name="txtPayerLname" value="@ViewBag.PayerLname" required="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="control-label col-sm-4">วันเกิด:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control pull-right datepicker" name="PayerBirthDate" id="PayerBirthDate"
                                       data-provide="datepicker" value="@ViewBag.PayerBirthDate" data-date-language="th-th" placeholder="dd/mm/yyyy">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="radio-inline col-sm-offset-3 col-sm-4">
                                <input type="radio" name="rd_PayerNation" id="rd_PayerThai" value="2" />ชาวไทย
                            </label>
                            <label class="radio-inline col-sm-4">
                                <input type="radio" name="rd_PayerNation" id="rd_PayerNation" value="3" />ชาวต่างชาติ
                            </label>
                        </div>
                        <div class="form-group row" id="showErrorPayer">
                            <label class="col-sm-offset-6 col-sm-6" style="color: red">
                                กรุณาเลือกข้อมูล!
                            </label>
                        </div>
                        <div class="form-group row">
                            <label for="txtPayerIdCard" class="control-label col-sm-4">เลขบัตรประชาชน:</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" id="txtPayerIdCard" name="txtPayerIdCard" value="@ViewBag.PayerIdCard" checkID="checkID" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtPayerPassport" class="control-label col-sm-4">Passport:</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" id="txtPayerPassport" name="txtPayerPassport" value="@ViewBag.PayerPassport" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="select_PayerResult" class="control-label col-sm-4">ผลการตรวจสอบ:</label>
                            <div class="col-sm-7">
                                <select class="form-control select2" id="select_PayerResult" name="select_PayerResult" required="">
                                    @foreach(var itm in ViewBag.StatusTypePayerList)
                                    {
                                        if(ViewBag.StatusTypePayer == itm.CheckStatusId)
                                        {
                                            <option value="@itm.CheckStatusId" selected="selected">@itm.CheckStatus</option>
                                        }
                                        else
                                        {
                                            <option value="@itm.CheckStatusId">@itm.CheckStatus</option>
                                        }
                                    }
                                </select>
                                <input type="hidden" id="hd_PayerStatusType" name="hd_PayerStatusType" value="@ViewBag.StatusTypePayer" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Result *@
            <div id="Result_Form" class="form-horizontal">
                <div class="box box-primary">
                    <div class="box-body">
                        @*<div class="form-group row">
                                <label for="txtApproveStatus" class="control-label col-sm-4">สถานะการตรวจสอบ:</label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" id="txtApproveStatus" name="txtApproveStatus" value="@ViewBag.ApproveStatus" readonly="readonly" />
                                </div>
                            </div>*@
                        <div class="form-group row">
                            <label for="txtRemark" class="control-label col-sm-4">หมายเหตุ:</label>
                            <div class="col-sm-7">
                                <textarea id="txtRemark" name="txtRemark" class="form-control" rows="3" placeholder="Enter ..."> @ViewBag.Remark</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* on right *@
        <div class="col-md-7">
            @* document *@
            <div id="Document_form" class="form-horizontal">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @if(ViewBag.FirstDoc == null)
                                {
                                    <div id="form1_msg" class="alert alert-warning alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <h4><i class="icon fa fa-ban"></i> เตือน!</h4>
                                        ไม่มีรายการเอกสารดังกล่าว
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group row">

                            @if(ViewBag.DocLink != null)
                            {
                                foreach(var itm in ViewBag.DocLink)
                                {
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-block btn-info" id="btn_@itm.DocumentFileId" onclick="SeeDoc('@itm.PathFullDoc')"><i class="fa fa-fw fa-search"></i>@itm.DocumentTypeName:@itm.DocumentId</button>
                                    </div>
                                }
                            }
                        </div>
                        <div class="form-group row" id="DocDetail_form">
                            <div class="col-sm-12" style="height: 1000px">
                                <iframe class="SeeDoc" style="width: 100%; height: 100%;" src="@ViewBag.FirstDoc"></iframe>
                                @*<iframe style="width: 100%;height: 100%;" src="https://pbs.twimg.com/media/DOrH-4pUMAAHEGv.jpg"></iframe>*@
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="col-sm-6 col-sm-offset-6">

                                    <div class="col-sm-6 " style="text-align:right">
                                        <div>
                                            <a href="@ViewBag.SSSDoc" id="btnsssDoc" name="btnsssDoc" class="btn btn-primary" target="_blank">Scan SSSDoc</a>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 ">
                                        <div>

                                            <a href="http://49.231.178.252:81/smiledoc/document/submit.aspx" class="btn btn-primary" target="_blank">Scan SmileDoc</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @* submit *@
            <div id="Submit_form" class="form-horizontal">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="form-group row">
                            <div class="col-sm-offset-2 col-sm-3">
                                <button class="btn btn-block btn-success" type="button" id="btnSubmit">บันทึก</button>
                            </div>
                            <div class="col-sm-offset-1 col-sm-3">
                                <button class="btn btn-block btn-warning" type="button" id="btnCancel" onclick="ReturnToMainPage()">ยกเลิก</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* hidden field *@
    <input type="hidden" id="hd_queueId" name="hd_queueId" value="@ViewBag.QueueId" />
    <input type="hidden" id="hd_CleanCustomerId" name="hd_CleanCustomerId" value="@ViewBag.CleanCustomerId" />
    <input type="hidden" id="hd_SSSDocLink" name="hd_SSSDocLink" value="@ViewBag.SSSDoc" />
    <input id="hd_planId" name="hd_planId" type="hidden" value="@ViewBag.PlanId" />
</form>
@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {

            $('.select2').select2();
            //insert input mask
            $('#txtIdCard').inputmask('9-9999-99-999-99-9', { 'clearIncomplete': true });
            $('#txtPayerIdCard').inputmask('9-9999-99-999-99-9', { 'clearIncomplete': true });
            $('#showErrorCust').hide();
            $('#showErrorPayer').hide();

            Enablebutton();

            // Reference the auto-generated proxy for the hub.
            var chat = $.connection.myHub;

            //check if status check == 3 or 4 and put children to read only
            if ($('#select_Result').val() == 3 || $('#select_Result').val() == 4) {
                $('#Customer_form input').attr('readonly', true);
                $('#Customer_form select').attr('disabled', true);
                $('input[name=rd_Nation]').prop('disabled', true);
                $('#CusBirthDate').unbind('focus');
            }
            if ($('#select_PayerResult').val() == 3 || $('#select_PayerResult').val() == 4) {
                $('#Payer_form input').attr('readonly', true);
                $('#Payer_form select').attr('disabled', true);
                $('input[name=rd_PayerNation]').prop('disabled', true);
                $('#PayerBirthDate').unbind('focus');
            }
            //hide doc
            //$('#DocDetail_form').children().hide();
            //check if have value idcard or passport onload(customer)
            if ($('#txtIdCard').val() != '') {
                $('#rd_Thai').iCheck('check');
                $('#txtIdCard').prop('required', true);
                $('#txtPassport').prop('disabled', true);
            } else if ($('#txtPassport').val() != '') {
                $('#rd_Nation1').iCheck('check');
                $('#txtPassport').prop('required', true);
                $('#txtIdCard').prop('disabled', true);
            } else {
                $('#showErrorCust').show();
            }
            //check if have value idcard or passport onload(payer)
            if ($('#txtPayerIdCard').val() != '') {
                $('#rd_PayerThai').iCheck('check');
                $('#txtPayerIdCard').prop('required', true);
                $('#txtPayerPassport').prop('disabled', true);
            } else if ($('#txtPayerPassport').val() != '') {
                $('#rd_PayerNation').iCheck('check');
                $('#txtPayerPassport').prop('required', true);
                $('#txtPayerIdCard').prop('disabled', true);
            } else {
                $('#showErrorPayer').show();
            }

            //Check Redio
            $("input[name=rd_Nation]").on('ifChecked', function (e) {
                debugger;
                $('#showErrorCust').hide();
                if ($(this).val() == 2) { //ชาวไทย
                    //manage id card input
                    $('#txtIdCard').prop('disabled', false);
                    //$('#txtIdCard').prop('required', true);

                    //manage passport input
                    $('#txtPassport').prop('disabled', true);
                    //$('#txtPassport').prop('required', false);
                    $('#txtPassport').val('');

                } else {
                    debugger;
                    //manage passport input
                    $('#txtPassport').prop('disabled', false);
                    //$('#txtPassport').prop('required', true);
                    //manage id card input
                    $('#txtIdCard').prop('disabled', true);
                    //$('#txtIdCard').prop('required', false);
                    $('#txtIdCard').val('');
                }
            });

            $("input[name=rd_PayerNation]").on('ifChecked', function (e) {
                debugger;
                $('#showErrorPayer').hide();
                if ($(this).val() == 2) { //ชาวไทย
                    //manage id card input
                    $('#txtPayerIdCard').prop('disabled', false);
                    //$('#txtPayerIdCard').prop('required', true);
                    //manage passport input
                    //$('#txtPayerPassport').prop('required', false);
                    $('#txtPayerPassport').prop('disabled', true);
                    $('#txtPayerPassport').val('');
                } else {
                    //manage passport input
                    $('#txtPayerPassport').prop('disabled', false);
                    //$('#txtPayerPassport').prop('required', true);
                    //manage id card input
                    $('#txtPayerIdCard').prop('disabled', true);
                    //$('#txtPayerIdCard').prop('required', false);
                    $('#txtPayerIdCard').val('');
                }
            });

            //CheckStatus Cust
            $("#select_Result").change(function () {
                //alert("Handler for .change() called.");
                var cusstatus = $('#select_Result').val();
                $('#hd_CustStatusType').val(cusstatus);
                debugger;
                if ($('#select_Result').val() != 3 && $('#select_Result').val() != 4) {

                    //ชาวไทย
                    if ($('#rd_Thai').is(":checked")) {
                        $('#txtIdCard').prop('required', false);
                    } else if ($('#rd_Nation1').is(":checked")) {
                        $('#txtPassport').prop('required', false);
                    } else {
                        $('#txtIdCard').prop('required', false);
                        $('#txtPassport').prop('required', false);
                    }

                } else {

                    if ($('#rd_Thai').is(":checked")) {
                        $('#txtIdCard').prop('required', true);
                    } else if ($('#rd_Nation1').is(":checked")) {
                        $('#txtPassport').prop('required', true);
                    } else {
                        $('#txtIdCard').prop('required', true);
                        $('#txtPassport').prop('required', true);
                    }

                }
            });

            $('#select_PayerResult').change(function () {
                 var payerstatus = $('#select_PayerResult').val();
                $('#hd_PayerStatusType').val(payerstatus);
                debugger;
                if ($('#select_PayerResult').val() != 3 && $('#select_PayerResult').val() != 4)
                {
                    if ($('#rd_PayerThai').is(":checked")) {
                        $('#txtPayerIdCard').prop('required', false);
                    } else if ($('#rd_PayerNation').is(":checked")) {
                        $('#txtPayerPassport').prop('required', false);
                    } else {
                        $('#txtPayerPassport').prop('required', false);
                        $('#txtPayerIdCard').prop('required', false);
                    }
                } else {

                    if ($('#rd_PayerThai').is(":checked")) {
                        $('#txtPayerIdCard').prop('required', true);
                    }
                    else if ($('#rd_PayerNation').is(":checked")){
                        $('#txtPayerPassport').prop('required', true);
                    }

                    else {
                        $('#txtPayerPassport').prop('required', true);
                        $('#txtPayerIdCard').prop('required', true);
                    }
                }

            });

            //check if connection done
            //$.connection.hub.start().done(function () {

            //});

            //submit form
            $('#btnSubmit').on('click', function () {
                $('#Mainform').validate();
                debugger;
                if (Validate() != '') {
                    window.swal({
                        title: 'คำเตือน',
                        type: 'error',
                        text: Validate(),
                        showCancelButton: false,
                        confirmButtonColor: '#ed2b09',
                        confirmButtonText: 'ตกลง',
                        closeOnEsc: false
                    }, function () {
                        //$('#showErrorCust').focus();
                        //$('#showErrorPayer').focus();
                    });
                    return false;
                } else {
                    if ($('#Mainform').valid()) {
                        debugger;
                        window.swal({
                            title: 'ยืนยันรายการ?',
                            type: 'info',
                            showCancelButton: true,
                            confirmButtonColor: '#277020',
                            confirmButtonText: 'ตกลง',
                            cancelButtonText: 'ยกเลิก',
                            closeOnConfirm: false,
                            closeOnEsc: false,
                            closeOnCancel: true
                        }, function (isConfirm) {
                            if (isConfirm) {
                                debugger;
                                //if (($('#select_Result').val() == 3 || $('#select_Result').val() == 4)
                                //    &&
                                //    ($('#select_PayerResult').val() == 3 || $('#select_PayerResult').val() == 4)) {
                                //    var message = 'คิวงานที่' + $('#hd_queueId').val() + 'ได้ถูกปิดแล้ว';
                                //    chat.server.refreshQueueManager(message);
                                //    $('#Mainform').submit();
                                //} else {
                                    $('#Mainform').submit();
                                //}
                                //window.close();
                            }
                        });
                    }
                }

            });

            jQuery.validator.addMethod("checkID", function (value, element) {
                $(element).parent().removeClass('form-group has-error');
                $(element).parent().removeClass('form-group has-success');
                value = value.split('-').join('');
                if (value == '') {
                    return true;
                }
                if (value.length != 13) {
                    $(element).parent().addClass('form-group has-error');
                    return false;
                }
                var sum = 0;
                for (var i = 0; i < 12; i++) {
                    sum += parseFloat(value.charAt(i)) * (13 - i);
                }
                if ((11 - (sum % 11)) % 10 != parseFloat(value.charAt(12))) {
                    $(element).parent().addClass('form-group has-error');
                    return false;
                }
                $(element).parent().addClass('form-group has-success');
                return true;
            }, "เลขบัตรประจำตัวประชาชนไม่ถูกต้อง!");

        });

        function Enablebutton() {
            debugger;
            if ($('#hd_SSSDocLink').val() == "") {
                $('#btnsssDoc').prop('visible', true);
                //$('#btnsssDoc').unbind();
            } else {
                $('#btnsssDoc').prop('visible', false);
                //$('#btnsssDoc').unbind('click');
            }
        }

        function Validate()
        {
            var result = '';
            debugger;
            //ถ้า ข้อมูลผู้เอาประกัน ผลการตรวจสอบเป็น ผ่าน หรือ ผ่าน แนบ ให้ Check การกรอก
            if ($('#select_Result').val() == 3 || $('#select_Result').val()==4|| $('#select_Result').val()==7) {
                //Title

                if ($('#select_title').val() == "-1" && ($('#select_Result').val() == 3 || $('#select_Result').val()==4 || $('#select_Result').val()==7)) {
                    result = 'กรุณาเลือกคำนำหน้า';
                    return result;
                }

                //Name
                if ($('#txtFname').val() == ""  && ($('#select_Result').val() == 3 || $('#select_Result').val()==4 || $('#select_Result').val()==7)) {
                    result = 'กรุณากรอกชื่อผู้เอาประกัน';
                    return result;
                }

                //lastname
                if ($('#txtLname').val() == ""  && ($('#select_Result').val() == 3 || $('#select_Result').val()==4 || $('#select_Result').val()==7)) {
                    result = 'กรุณากรอกนามสกุลผู้เอาประกัน';
                    return result;
                }

                //BirthDate
                if ($('#CusBirthDate').val() == ""  && ($('#select_Result').val() == 3 || $('#select_Result').val()==4 || $('#select_Result').val()==7)) {
                    result = 'กรุณาเลือกวันเกิด';
                    return result;
                }

                var CustdatetoDiff = new Date($('#CusBirthDate').datepicker('getDate'))

                var CustToday = new Date();

                var CustYears = GetYears(CustdatetoDiff);

                if ($('#hd_planId').val() != "1220") {

                    if (CustYears < 5) {
                        result = 'รบกวนตรวจสอบวันเกิดผู้เอาประกัน เนื่องจากอายุน้อยกว่า 5 ปี';
                        return result;
                    }
                }

                //if (CustdatetoDiff >= CustToday) {
                //    result = 'รบกวนตรวจสอบวันเกิด เนื่องจากวันเกิดมากกว่าวันปัจจุบัน';
                //    return result;
                //}

                //if ($('#CusBirthDate').val() >= d) {
                //    result = 'รบกวนตรวจสอบวันเกิด เนื่องจากวันเกิดมากกว่าวันปัจจุบัน';
                //    return result;
                //}

            } else {

                var CustdatetoDiff = new Date($('#CusBirthDate').datepicker('getDate'))

                var CustToday = new Date();

                var CustYears = GetYears(CustdatetoDiff);

                if ($('#CusBirthDate').val() != "") {

                    if ($('#hd_planId').val() != "1220") {

                        if (CustYears < 5) {
                            result = 'รบกวนตรวจสอบวันเกิดผู้เอาประกัน เนื่องจากอายุน้อยกว่า 5 ปี';
                            return result;
                        }
                    }
                }

                }

             //ถ้า ข้อมูลผู้ชำระเบี้ย ผลการตรวจสอบเป็น ผ่าน หรือ ผ่าน แนบ ให้ Check การกรอก
            if ($('#select_PayerResult').val() == 3 || $('#select_PayerResult').val() == 4 || $('#select_PayerResult').val() == 7) {
                debugger;
                //Title
                if ($('#select_Payertitle').val() == "-1") {
                    result = 'กรุณาเลือกคำนำหน้า';
                    return result;
                }

                //Name
                if ($('#txtPayerFname').val()=="") {
                    result = 'กรุณากรอกชื่อผู้ชำระเบี้ย';
                    return result;
                }

                //lastname
                if ($('#txtPayerLname').val() == "") {
                    result = 'กรุณากรอกนามสกุลผู้ชำระเบี้ย';
                    return result;
                }

                //BirthDate
                if ($('#PayerBirthDate').val() == "" && ($('#select_PayerResult').val() == 3 || $('#select_PayerResult').val() == 4)) {
                    result = 'กรุณาเลือกวันเกิดผู้ชำระเบี้ย';
                    return result;
                }

                var PayerdatetoDiff = new Date($('#PayerBirthDate').datepicker('getDate'))

                var PayerToday = new Date();

                var payerYears = GetYears(PayerdatetoDiff);

                if ($('#PayerBirthDate').val() != "") {

                    //ผู้ชำระเบี้ย อายุห้ามน้อยกว่า 18
                    if (payerYears < 18 && $('#hd_planId').val() != "2501") {
                        result = 'รบกวนตรวจสอบวันเกิดผู้ชำระเบี้ย เนื่องจากอายุน้อยกว่า 18';
                        return result;
                    }

                }

                if (PayerdatetoDiff >= PayerToday) {
                    result = 'รบกวนตรวจสอบวันเกิด เนื่องจากวันเกิดมากกว่าวันปัจจุบัน';
                    return result;
                }

                //สัญชาติ
                if ($('#showErrorPayer').is(':visible') == true) {
                    result = 'กรุณาเลือกสัญชาติ';
                    return result;
                }

            } else {

                var PayerdatetoDiff = new Date($('#PayerBirthDate').datepicker('getDate'));

                var PayerToday = new Date();

                var payerYears = GetYears(PayerdatetoDiff);

                    if ($('#PayerBirthDate').val() != "") {
                        debugger;
                        //ผู้ชำระเบี้ย อายุห้ามน้อยกว่า 18
                        if (payerYears < 18 && $('#hd_planId').val() != "2501") {
                            result = 'รบกวนตรวจสอบวันเกิดผู้ชำระเบี้ย เนื่องจากอายุน้อยกว่า 18';
                            return result;
                        }

                        //if (PayerdatetoDiff >= PayerToday) {
                        //    result = 'รบกวนตรวจสอบวันเกิด เนื่องจากวันเกิดมากกว่าวันปัจจุบัน';
                        //    return result;
                        //}

                    }

            }

            if (($('#select_Result').val() == 3 || $('#select_Result').val() == 4) && ($('#select_PayerResult').val() == 3 || $('#select_PayerResult').val() == 4|| $('#select_PayerResult').val() == 7))
            {

                if ($('#rd_Thai').is(":checked") && $('#rd_PayerThai').is(":checked")) {

                    //ถ้าIDCard เหมือนกัน ให้ เช็ค ชื่อ ด้วย
                    if ($('#txtIdCard').val() == $('#txtPayerIdCard').val()) {

                        // เช็ค ชื่อ - นามสกุล เหมือนกัน ไหม ถ้าไม่เหมือนกัน ให้รีเทรินข้อความแจ้งเตือนออกไป
                        if (($('#txtFname').val() != $('#txtPayerFname').val()) || ($('#txtLname').val() != $('#txtPayerLname').val())) {
                            result = 'รบกวนตรวจสอบเลขบัตรประชาชน เนื่องจากไม่ใช่บุคคลเดียวกัน';
                            return result;
                        }
                    }

                } else {
                    //ถ้าPassport เหมือนกัน ให้ เช็ค ชื่อ ด้วย
                    if ($('#txtPassport').val() == $('#txtPayerPassport').val()) {

                        // เช็ค ชื่อ - นามสกุล เหมือนกัน ไหม ถ้าไม่เหมือนกัน ให้รีเทรินข้อความแจ้งเตือนออกไป
                        if (($('#txtFname').val() != $('#txtPayerFname').val()) || ($('#txtLname').val() != $('#txtPayerLname').val())) {
                            result = 'รบกวนตรวจสอบเลข Passport เนื่องจากไม่ใช่บุคคลเดียวกัน';
                            return result;
                        }
                    }
                }

            }

            return result;

        }

        function GetYears(from)
        {
            var now = new Date();
            //var past = new Date(birthday);
            var nowYear = now.getFullYear();
            var pastYear = from.getFullYear();
            var age = nowYear - pastYear;

            return age;

        }

        function formaetDate()
        {
            var fullDate = new Date()
            //console.log(fullDate);
            //Thu May 19 2011 17:25:38 GMT+1000 {}

            //convert month to 2 digits
            var twoDigitMonth = ((fullDate.getMonth().length + 1) === 1) ? (fullDate.getMonth() + 1) : '0' + (fullDate.getMonth() + 1);

            var year = fullDate.getFullYear() + 543;

            var currentDate = fullDate.getDate() + "/" + twoDigitMonth + "/" + year;

            return currentDate;
        }

        //back to main page
        function ReturnToMainPage() {
            window.swal({
                title: 'ต้องการละทิ้งข้อมูลใช่หรือไม่?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#277020',
                confirmButtonText: 'ตกลง',
                cancelButtonText: 'ยกเลิก',
                closeOnConfirm: false,
                closeOnEsc: false,
                closeOnCancel: true
            }, function (isConfirm) {
                if (isConfirm) {
                    $('#Customer_form').find('input:text').val('');
                    $('#Payer_form').find('input:text').val('');
                    //window.location = '@*@Url.Action("QueueManager","CustomerBase")*@';
                    window.close();
                }
            });

        }
        //click to show document
        function SeeDoc(path) {
            debugger;
            $('#DocDetail_form').children().show();
            var extension = path.substr(path.length - 4);
            switch (extension) {
                case '.pdf':
                    $('.SeeDoc').attr('src', 'http://49.231.178.252:81/sssdocfiles/pdfviewer/web/viewer.html?file=' + encodeURIComponent(path));
                    break;
                case '.jpg':
                    $('.SeeDoc').attr('src', path);
                    break;
                default:
            }
        }
    </script>
}