@model SmilePoint.Models.usp_Transaction_GetDetail_Result
@using System.Globalization

@{
    ViewBag.Title = "รายละเอียดการใช้แต้ม";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <h5 class="box-title">รายละเอียดการทำรายการ</h5>
                <span class="tab-default col-md-6 col-xs-12">รหัสรายการ : @Model.TransactionId</span>
                <span class="tab-default col-md-3 col-xs-12">สถานะ : @Model.TransactionStatusDetail</span>
                <span class="tab-default col-md-3 col-xs-12">วันที่ทำรายการ : @Model.CreatedDate.ToString()</span>
                <span class="tab-default col-md-6 col-xs-12">แผนก : @Model.TransactionGroupName</span>
                <span class="tab-default col-md-6 col-xs-12">ประเภทรายการ : @Model.TransactionTypeName </span>
                <span class="tab-default col-md-6 col-xs-12">รหัสผู้ทำรายการ : @Model.CreatedById </span>
            </div>
        </div>
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <h5 class="box-title">ข้อมูลบัญชี</h5>
                <span class="tab-default col-md-6 col-xs-12">เลขที่บัญชี : @Model.PointAccountId</span>
                <span class="tab-default col-md-6 col-xs-12">ประเภทบัญชี : @Model.PointAccountTypeName</span>
                <span class="tab-default col-md-6 col-xs-12">เลขที่อ้างอิง : @Model.ReferenceCode</span>
                <span class="tab-default col-md-6 col-xs-12">ชื่อบัญชี : @Model.PointAccountName</span>
            </div>
        </div>
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <h5 class="box-title">รายละเอียด</h5>
                <span class="tab-default col-md-6 col-xs-6">Point ก่อนทำรายการ : </span>
                <span class="tab-default col-md-6 col-xs-6">@ViewBag.AmountBefore</span>
                @if (Model.AmountIncrease != 0)
                {
                    <span class="tab-default col-md-6 col-xs-6">ได้รับ Point : </span>
                    <span class="tab-default col-md-6 col-xs-6">@Model.AmountIncrease</span>
                }

                @if (Model.AmountDecrease != 0)
                {
                    <span class="tab-default col-md-6 col-xs-6">ใช้ Point : </span>
                    <span class="tab-default col-md-6 col-xs-6">@Model.AmountDecrease</span>
                }

                <span class="tab-default col-md-6 col-xs-6">คงเหลือหลังทำรายการ : </span>
                <span class="tab-default col-md-6 col-xs-6">@Model.AmountBalance</span>

                <span class="tab-default col-md-12 col-xs-12">หมายเหตุ : @Model.Remark</span>
            </div>
        </div>

        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
<div class="box-footer">
    <a href="javascript:window.print()" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
    <a href="@Url.Action("Cancel","Transaction",new { id= @Model.TransactionId})" class="btn btn-danger pull-right">ยกเลิกรายการนี้</a>
</div>