@{
    ViewBag.Title = "Employee_HO_AHO";
    ViewBag.Description = "";
}
@if(ViewBag.isInvalidColumn == true)
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Error!</h4>
        @ViewBag.isInvalidMsg
    </div>
}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">ชื่อไฟล์</h3>
            </div>
            @using(Html.BeginForm("Upload","Employee_HO_AHO",FormMethod.Post,new { id = "upload_form",enctype = "multipart/form-data" }))
            {
                <div class="box-body">
                    <div id="form_upload" class="form-group">
                        <label for="input_file">กรุณาเลือกไฟล์ที่ต้องการอัพโหลด</label>
                        <input type="file" name="file" id="input_file">
                        <p class="help-block">*ไฟล์ .xls .xlsx</p>
                    </div>
                </div>
                <div class="box-footer">
                    <div onclick="upload_file()" class="btn btn-primary">อัพโหลด</div>
                    <a class="btn btn-default" href="~/Content/excel_example/Employee_HO&AHO.xlsx">ไฟล์ตัวอย่าง</a>
                    <button type="button" id="btnNoData" class="pull-right btn btn-danger">No Data</button>
                </div>
            }
        </div>
    </div>
</div>
@*<p>@ViewBag.ValidJson</p>
    <p>@ViewBag.InvalidJson</p>*@
@if(ViewBag.Valid.Count > 0)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">ข้อมูลที่ถูกต้องตามเงื่อนไข</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                            <div class="col-sm-12">
                                <table id="table_valid" class="table table-bordered table-hover dataTable" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">SS_ID</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">HCM_ID</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">EmployeeName</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">EmployeeStatus</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">BranchCode</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">Branch</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">TeamCode</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">Team</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">AreaCode</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">Area</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">MSNID</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">Position_Level</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">Position_Abbr</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">Position_Abbr_SSS</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">Status</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var item in ViewBag.Valid)
                                        {
                                            <tr role="row" class="odd">
                                                <td>@item.SS_ID</td>
                                                <td>@item.HCM_ID</td>
                                                <td>@item.EmployeeName</td>
                                                <td>@item.EmployeeStatus</td>
                                                <td>@item.BranchCode</td>
                                                <td>@item.Branch</td>
                                                <td>@item.TeamCode</td>
                                                <td>@item.Team</td>
                                                <td>@item.AreaCode</td>
                                                <td>@item.Area</td>
                                                <td>@item.MSNID</td>
                                                <td>@item.Position_Level</td>
                                                <td>@item.Position_Abbr</td>
                                                <td>@item.Position_Abbr_SSS</td>
                                                <td>@item.Status</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
}
@if(ViewBag.Invalid.Count > 0)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">ข้อมูลที่มีปัญหา</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                            <div class="col-sm-12">
                                <table id="table_invalid" class="table table-bordered table-hover dataTable" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 200px; text-align: center;">Error</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">SS_ID</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">HCM_ID</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">EmployeeName</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">EmployeeStatus</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">BranchCode</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">Branch</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">TeamCode</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">Team</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">AreaCode</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">Area</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">MSNID</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">Position_Level</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">Position_Abbr</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">Position_Abbr_SSS</div>
                                            </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                                <div style="min-width: 100px; text-align: center;">Status</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var item in ViewBag.Invalid)
                                        {
                                            <tr role="row" class="odd">
                                                <td>
                                                    @foreach(var err in item.InvalidList)
                                                    {
                                                        <p style="color: red;">- @err</p>
                                                    }
                                                </td>
                                                <td>@item.SS_ID</td>
                                                <td>@item.HCM_ID</td>
                                                <td>@item.EmployeeName</td>
                                                <td>@item.EmployeeStatus</td>
                                                <td>@item.BranchCode</td>
                                                <td>@item.Branch</td>
                                                <td>@item.TeamCode</td>
                                                <td>@item.Team</td>
                                                <td>@item.AreaCode</td>
                                                <td>@item.Area</td>
                                                <td>@item.MSNID</td>
                                                <td>@item.Position_Level</td>
                                                <td>@item.Position_Abbr</td>
                                                <td>@item.Position_Abbr_SSS</td>
                                                <td>@item.Status</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
}
@if(ViewBag.Valid.Count > 0 && ViewBag.Invalid.Count == 0)
{
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="box box-default">
                <div class="box-footer">
                    @*@using (Html.BeginForm("Save", "Home", FormMethod.Post, new { id = "upload_form", enctype = "multipart/form-data" }))
                        {
                            <input type="hidden" name="valid" value="@ViewBag.ValidJson" />
                            <input type="hidden" name="invalid" value="@ViewBag.InvalidJson" />

                            <button type="submit" class="btn btn-primary">บันทึกข้อมูล</button>
                        }*@
                    <button onclick="save()" class="btn btn-primary">บันทึกข้อมูล</button>
                </div>
            </div>
        </div>
    </div>
}
@section ViewSpecificJavascript {
    <script>

        $(document).ready(function () {
            $('#table_valid').DataTable({
                "scrollX": true
            });
            $('#table_invalid').DataTable({
                "scrollX": true
            });
             $('#btnNoData').click((e) => {
                e.preventDefault();
                swal_confirm('ยืนยันการทำงาน', 'ต้องการบันทึกแบบไม่มีรายการ?', () => {
                    NoData();
                });
            });
        } );

        function upload_file() {
            //var files = $('#input_file').prop('files');

            //if (files.length == 0) {
            //    $('#form_upload').addClass('has-error');
            //}

            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#input_file").get(0);
                var files = fileUpload.files;

                // Check selected file
                if (files.length == 0) {
                    //$('#form_upload').addClass('has-error');
                    swal({
                        title: 'กรุณาเลือกไฟล์ที่ต้องการ!',
                        type: 'error',
                        showCancelButton: false,
                        confirmButtonColor: '#00a65a',
                        confirmButtonText: 'ตกลง',
                        closeOnConfirm: false,
                        closeOnCancel: true
                    });
                } else {
                    $.LoadingOverlay("show",
                        {
                            image: "/Content/img/Spinner-1s-200px.svg",
                            imageAnimation: "",
                            imageColor: "#00aeef"
                        });

                    $('#upload_form').submit();
                }

            } else {
                alert("FormData is not supported.");
            }
        }

        function save() {
            $.LoadingOverlay("show",
                {
                    image: "/Content/img/Spinner-1s-200px.svg",
                    imageAnimation: "",
                    imageColor: "#00aeef"
                });

            $.ajax({
                url: '@Url.Action("Save", "Employee_HO_AHO")',
                type: "POST",
                data: {
                    dataKey: '@ViewBag.DataKey'
                },
                success: function (result) {
                    $.LoadingOverlay("hide");

                    console.log(result);

                    swal({
                        title: 'บันทึกข้อมูลเรียบร้อยแล้ว!',
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#00a65a',
                        confirmButtonText: 'ตกลง',
                        closeOnConfirm: false,
                        closeOnCancel: true
                    },
                    function() {
                        window.location.href = '@Url.Action("Index", "Employee_HO_AHO")';
                    });
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        }
        const NoData = () => {
            $.post('@Url.Action("SaveNoData")', (data) => {
                swal_success('ทำรายการสำเร็จ');
                setTimeout(() => { window.location = '@Url.Action("Index")';},1500);
            });
        }
    </script>
}