@using WebHelpers.Mvc5

<div class="box-body">
    <span class="tab-default col-md-3 col-xs-12">Id : @ViewBag.UserInfo.Id</span>
    <span class="tab-default col-md-3 col-xs-12">User_ID : @ViewBag.UserInfo.User_ID</span>
    <span class="tab-default col-md-3 col-xs-12">Person_ID : @ViewBag.UserInfo.Person_ID</span>
    <span class="tab-default col-md-3 col-xs-12">Employee_ID : @ViewBag.UserInfo.Employee_ID</span>
    <span class="tab-default col-md-3 col-xs-12">UserName : @ViewBag.UserInfo.UserName</span>
    <span class="tab-default col-md-3 col-xs-12">FirstName : @ViewBag.UserInfo.FirstName</span>
    <span class="tab-default col-md-3 col-xs-12">LastName : @ViewBag.UserInfo.LastName</span>
    <span class="tab-default col-md-3 col-xs-12">EmployeePositionDetail : @ViewBag.UserInfo.EmployeePositionDetail</span>
    <span class="tab-default col-md-3 col-xs-12">EmployeeTeamDetail : @ViewBag.UserInfo.EmployeeTeamDetail</span>
    <span class="tab-default col-md-3 col-xs-12">BranchDetail : @ViewBag.UserInfo.BranchDetail</span>
    <span class="tab-default col-md-3 col-xs-12">DepartmentDetail : @ViewBag.UserInfo.DepartmentDetail</span>
</div>