@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Menu</li>

            @{var userId = Convert.ToInt32(Session["User_ID"]);
                var userDepartmentId = Convert.ToInt32(Session["Department_ID"]);
                var EmployeePosition_ID = Convert.ToInt32(Session["EmployeePosition_ID"]);
            }

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Operation</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Url.IsLinkActive("QueueManager", "CustomerBase")">
                        <a href="@Url.Action("QueueManager", "CustomerBase")"><i class="fa fa-link"></i> <span>Queue Manager</span></a>
                    </li>
                    @*อนุญาตให้ Developper || 171 = พี่ต้อม*@
                    @{if(userDepartmentId == 7 || userId == 171)
                        {
                            <li class="@Url.IsLinkActive("Assign", "CustomerBase")">
                                <a href="@Url.Action("Assign", "CustomerBase")"><i class="fa fa-link"></i><span>Assign Queue</span></a>
                            </li>

                        } }
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Audit</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @*อนุญาตให้ Developper || 120 = พี่เอ็น || 171 = พี่ต้อม*@
                    @{if(userDepartmentId == 7 || userId == 120 || userId == 171)
                        {
                            <li class="@Url.IsLinkActive("AuditAssign", "Audit")">
                                <a href="@Url.Action("AuditAssign", "Audit")"><i class="fa fa-link"></i> <span>Audit Assign</span></a>
                            </li>} }
                    @*อนุญาตให้ Developper || 120 = พี่เอ็น || 171 = พี่ต้อม*@
                    @{if(userDepartmentId == 7 || userId == 120 || userId == 171)
                        {
                            <li class="@Url.IsLinkActive("AuditQueueManager", "Audit")">
                                <a href="@Url.Action("AuditQueueManager", "Audit")"><i class="fa fa-link"></i> <span>Audit Queue Manager</span></a>
                            </li>} }
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Report</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @*อนุญาตให้ Developper || 171 = พี่ต้อม*@
                    @{if(userDepartmentId == 7 || userId == 171)
                        {
                            <li class="@Url.IsLinkActive("ReportCloseQueue", "Audit")">
                                <a href="@Url.Action("ReportCloseQueue", "Audit")"><i class="fa fa-link"></i> <span>Queue Closed Report</span></a>
                            </li>} }
                    <li class="@Url.IsLinkActive("SummaryQueueReport", "CustomerBase")">
                        <a href="@Url.Action("SummaryQueueReport", "CustomerBase")"><i class="fa fa-link"></i> <span>Summary Queue Report</span></a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i><span>CustomerBase Phase2</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @if(userDepartmentId == 7
                                || EmployeePosition_ID == 4 //DS
                                || EmployeePosition_ID == 5 //MA
                                || EmployeePosition_ID == 8 //DM
                                || EmployeePosition_ID == 9 //MS
                                || EmployeePosition_ID == 10 //MM
                                || EmployeePosition_ID == 12 //MR
                                || EmployeePosition_ID == 14 //MMR
                                || EmployeePosition_ID == 16 //ADM
                                || EmployeePosition_ID == 17 //MSR
                                || EmployeePosition_ID == 20 //AHO
                                || EmployeePosition_ID == 38 //DO
                                || EmployeePosition_ID == 39 //HO
                                || EmployeePosition_ID == 40 //MO
                                || EmployeePosition_ID == 41 //MOS
                                || EmployeePosition_ID == 42 //DB
                                || EmployeePosition_ID == 43 //ADB
                                || EmployeePosition_ID == 44 //PDB
                                || EmployeePosition_ID == 45 //DB2
                                || EmployeePosition_ID == 49 //DA
                    )
                    {
                        <li class="@Url.IsLinkActive("QueueManagerMO", "CustomerBaseP2")">
                            <a href="@Url.Action("QueueManagerMO","CustomerBaseP2")"><i class="fa fa-link"></i><span>Queue Manager Phase2</span></a>
                        </li>
                        <li class="@Url.IsLinkActive("ReportBranch","CustomerBaseP2")">
                            <a href="@Url.Action("ReportBranch","CustomerBaseP2")"><i class="fa fa-link"></i><span>Download รายงานสาขา</span></a>
                        </li>
                    }
                    @if(userId == 119 || userId == 52 || userDepartmentId == 7)
                    {
                        <li class="@Url.IsLinkActive("ReportExcel", "CustomerBaseP2")">
                            <a href="@Url.Action("ReportExcel","CustomerBaseP2")"><i class="fa fa-link"></i><span>Download Summary Report</span></a>
                        </li>
                    }
                </ul>
            </li>
            @{
                if(userDepartmentId == 7)
                {
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i> <span>Dev Tools</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">

                            <li class="@Url.IsLinkActive("ReturnQueue","CustomerBase")">
                                <a href="@Url.Action("ReturnQueue","CustomerBase")"><i class="fa fa-link"></i><span>คืนคิว</span></a>
                            </li>
                        </ul>
                    </li>
                }

            }
        </ul>
        @* END Menu *@
    </section>
</aside>