@{
    ViewBag.Title = "SMS สินไหมรถยนต์";
}

<style>
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-input {
        display: inline-block;
        border-bottom: 1px solid #000;
        width: 90px;
        text-align: left;
    }

    .fill {
        width: -webkit-fit-content;
    }
</style>

<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-5">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">SMS สินไหมรถยนต์</h3>
            </div>
            <div class="box-body">
                <div class="form-group row" style="padding-top:1.5rem;">
                    <div class="col-xs-12 col-sm-11">
                        <label class="control-label">ประเภท SMS :</label>
                        @if (ViewBag.SMSType != null)
                        {
                            <label class="control-label" id="smsTypeDetail">@ViewBag.SMSType.SMSTypeDetail</label>
                        }
                        else
                        {
                            <label class="control-label">Unknown</label>
                        }
                    </div>
                </div>
                <div class="form-group row" style="padding-top:0.5rem;">
                    <div class="col-xs-12 col-sm-11">
                        <label class="control-label">เบอร์โทรศัพท์</label>
                        <input class="form-control" id="txtPhoneNumber" name="txtPhoneNumber" type="text" placeholder="ระบุเบอร์โทรศัพท์" onkeypress="return /[0-9]/i.test(event.key)" onkeyup="SetPhoneNumberLabel(event)" maxlength="10" />
                        <p id="phoneNumberErrorMessage" style="color: red; font-weight: bold; font-size:10px; position:absolute"></p>
                    </div>
                </div>
                <div class="form-group row" style="padding-top: 0.5rem;">
                    <div class="col-xs-12 col-sm-11">
                        <label class="control-label">ทะเบียนรถ</label>
                        <div style="display: flex; align-items: center;">
                            <div style="width: -webkit-fill-available;">
                                <input class="form-control" id="txtVehicleRegistration1" name="txtVehicleRegistration1" type="text" placeholder="e.g., 1กข" onkeypress="return /^[\u0E01-\u0E5B0-9a-zA-Z]+$/i.test(event.key)" />
                                <p id="vehicleRegistration1ErrorMessage" style="color: red; font-weight: bold; font-size:10px; position:absolute"></p>
                            </div>
                            <div style="padding: 5px 5px 5px 5px;"><span>-</span></div>
                            <div style="width: -webkit-fill-available;">
                                <input class="form-control" id="txtVehicleRegistration2" name="txtVehicleRegistration2" type="text" placeholder="e.g., 1234" onkeypress="return /^[0-9]+$/i.test(event.key)" />
                                <p id="vehicleRegistration2ErrorMessage" style="color: red; font-weight: bold; font-size:10px; position:absolute"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row" style="padding-top:0.5rem;">
                    <div class="col-xs-12 col-sm-11">
                        <label for="" class="control-label">จังหวัด</label>
                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" data-select2-id="1" aria-hidden="true" id="txtProvinces" name="txtProvinces">
                            @if (ViewBag.Provinces != null)
                            {
                                <option value="-1">--โปรดระบุ--</option>
                                foreach (var item in ViewBag.Provinces)
                                {
                                    <option value="@item.Province_ID">@item.ProvinceDetail</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row" style="padding-top:0.5rem;">
                    <div class="col-xs-12 col-sm-11">
                        <label class="control-label">ข้อความ :</label>
                        <div style="padding-left: 1rem;" id="msgForSendSms">
                            <p style="margin: 0 0 0px;">
                                สยามสไมล์ ได้รับการแจ้งอุบัติเหตุ รถประกันทะเบียน <span id="labelVehicleRegistrationValue" class="form-input" style="color: #3c8dbc; font-weight:bold">___</span>&nbsp;
                            </p>
                            <p style="margin: 0 0 0px;">
                                ขณะนี้เจ้าหน้าที่กำลังออกให้บริการ สอบถามข้อมูลเพิ่มเติมหรือแจ้งปัญหาการบริการได้ที่ 1434
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-4">
                        <button id="btnModalConfirm" type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#modalConfirm">ยืนยันการส่ง SMS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalConfirm" aria-hidden="true">
        <div class="row justify-content-center" style="height: 100vh; align-items: center;">
            <div class="col-xs-12 col-sm-10 col-md-5">
                <div class="box box-primary">
                    <div class="box-header with-border" style="background-color: #3C8DBC; color: white;">
                        <h3 class="box-title">ยืนยันการส่ง SMS สินไหมรถยนต์</h3>
                        <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="color: white;">&times;</span>
                        </button>
                    </div>
                    <div class="box-body">
                        <div class="form-group" style="padding-top:0.5rem;">
                            <div class="col-xs-3 col-sm-3">
                                <div style="display: flex; justify-content: space-between;">
                                    <label class="control-label">เบอร์โทรศัพท์</label>
                                    <label class="">:</label>
                                </div>
                            </div>
                            <div class="col-xs-9 col-sm-9">
                                <label class="control-label" id="labelPhoneNumberInConfirm"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-3 col-sm-3">
                                <div style="display: flex; justify-content: space-between;">
                                    <label class="control-label">ข้อความ</label>
                                    <label class="">:</label>
                                </div>
                            </div>
                            <div class="col-xs-9 col-sm-9">
                                <p style="margin: 0 0 0px;">
                                    สยามสไมล์ ได้รับการแจ้งอุบัติเหตุ รถประกันทะเบียน <span id="labelVehicleRegistrationValueInConfirm" class="form-input" style="color: #3c8dbc; font-weight:bold">___</span>&nbsp;
                                </p>
                                <p style="margin: 0 0 0px;">
                                    ขณะนี้เจ้าหน้าที่กำลังออกให้บริการ สอบถามข้อมูลเพิ่มเติมหรือแจ้งปัญหาการบริการได้ที่ 1434
                                </p>
                            </div>
                        </div>
                        <div class="form-group row" style="padding-top:2rem;">
                            <div class="col-xs-2 col-sm-2">
                                <button type="button" class="btn btn-block btn-danger" id="btnCancel" data-dismiss="modal">ยกเลิก</button>
                            </div>
                            <div class="col-xs-2 col-sm-2">
                                <button class="btn btn-block btn-success ladda-button" id="btnSubmit" type="submit" data-style="zoom-in"><span class="ladda-label">ยืนยัน</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hd_UserId" value="@ViewBag.userId" />
@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            $('.select2').select2();

            Ladda.bind('#btnSubmit');

            $('#btnSubmit, #btnCancel, #btnModalConfirm').prop('disabled', true); // ค่าเริ่มต้นของปุ่ม
            UpdateButtonClass(); // Update class

            $('#sendDate').datepicker({
                dateFormat: 'dd-mm-yyyy',
                inline: true
            });
            //set interval time
            var interval = setInterval(function () {
                var momentNow = moment();
                $('#dateNow').html(momentNow.format('DD/MM/YYYY') + ' '
                    + momentNow.format('dddd')
                        .substring(0, 3).toUpperCase());
                $('#timeNow').html(momentNow.format('A hh:mm:ss'));
            }, 100);

            //count message when keyup
            $('#txtVehicleRegistration1, #txtVehicleRegistration2').keyup(function () {
                var count = $(this).val().length;
                $('#lblCountText').text(count);
                if (count > 134) {
                    $('#lblCountText').css('color', 'red');
                    $('#lblCountSMS').text('3');
                } else if (count > 70) {
                    $('#lblCountText').css('color', 'orange');
                    $('#lblCountSMS').text('2');
                }
                else {
                    $('#lblCountText').css('color', 'black');
                    $('#lblCountSMS').text('1');
                }
            });

            // Validate ปุ่ม ยืนยันการส่ง SMS
            $('#smsTypeDetail, #txtPhoneNumber, #txtVehicleRegistration1, #txtVehicleRegistration2, #txtProvinces').on('input change', function () {
                var smsTypeDetail = document.getElementById('smsTypeDetail').textContent;
                var phoneNumber = $('#txtPhoneNumber').val();
                var vehicleRegistration1 = $('#txtVehicleRegistration1').val();
                var vehicleRegistration2 = $('#txtVehicleRegistration2').val();
                var provinces = $('#txtProvinces option:selected').text();

                if (smsTypeDetail === '' || phoneNumber === '' || phoneNumber.length !== 10 || vehicleRegistration1 === '' || vehicleRegistration2 === '' || (provinces === '' || provinces === '--โปรดระบุ--' || $('#txtProvinces').val() === '-1')) {
                    $('#btnSubmit, #btnCancel, #btnModalConfirm').prop('disabled', true);
                } else {
                    $('#btnSubmit, #btnCancel, #btnModalConfirm').prop('disabled', false);
                }

                UpdateButtonClass();
            });

            const DefaultValues = () => {
                $('#txtPhoneNumber').val('');
                $('#txtVehicleRegistration1').val('');
                $('#txtVehicleRegistration2').val('');
                $('#txtProvinces').val('-1').trigger('change');
            }

            var loadingTimeout;
            var l;
            // send sms function
            const SendSMS = () => {
                var labelVehicleRegistrationValue = document.getElementById('labelVehicleRegistrationValue');
                var labelVehicleRegistrationValueInConfirm = document.getElementById('labelVehicleRegistrationValueInConfirm');
                if (labelVehicleRegistrationValue === '' || labelVehicleRegistrationValueInConfirm == '') {
                    return;
                }

                var msgDiv = document.getElementById('msgForSendSms');
                var paragraphs = msgDiv.getElementsByTagName('p');
                var messageContent = '';
                for (var i = 0; i < paragraphs.length; i++) {
                    messageContent += paragraphs[i].textContent.trim() + '\n';
                }

                //----------------------------------------------//
                isActiveCloseButtonModal(true);
                l.start();
                //----------------------------------------------//

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SendSMSWithRef", "SMS")",
                    data: {
                        "Ref": $('#labelVehicleRegistrationValue').text(),
                        "PhoneNo": $('#txtPhoneNumber').val(),
                        "Message": messageContent,
                        "SMSTypeId": '@ViewBag.SMSType.SMSTypeID',
                        "CreatedById": $('#hd_UserId').val()
                    },
                    dataType: "json",
                    async: true,
                    success: function async(response) {
                        //----------------------------------------------//
                        l.stop();
                        isActiveCloseButtonModal();
                        $('#modalConfirm').modal('hide');
                        $('#btnCancel').prop('disabled', false);
                        clearTimeout(loadingTimeout);
                        //----------------------------------------------//

                        if (response === '' || response === undefined) {
                            return swal({
                                title:"เกิดข้อผิดพลาด! ส่งข้อความไม่สำเร็จ",
                                type: "error",
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "OK",
                                showCancelButton: false,
                                closeOnConfirm: false,
                                closeOnEsc: false
                            }, function (isConfirm) {
                                if (isConfirm) {
                                    DefaultValues()
                                    swal.close()
                                }
                            });
                        }

                        //if (response.Status === '1111') {
                        //    return swal({
                        //        title: response.Detail,
                        //        type: "error",
                        //        confirmButtonColor: "#DD6B55",
                        //        confirmButtonText: "OK",
                        //        showCancelButton: false,
                        //        closeOnConfirm: false,
                        //        closeOnEsc: false
                        //    }, function (isConfirm) {
                        //        if (isConfirm) {
                        //            DefaultValues()
                        //            swal.close()
                        //        }
                        //    });
                        //} else

                        if (response.Status === '000') {
                            return swal({
                                title: "ส่งออกข้อความเรียบร้อยแล้ว",
                                type: "success",
                                confirmButtonColor: "#277020",
                                confirmButtonText: "OK",
                                showCancelButton: false,
                                closeOnConfirm: false,
                                closeOnEsc: false
                            }, function (isConfirm) {
                                if (isConfirm) {
                                    DefaultValues()
                                    swal.close()
                                }
                            });
                        } else {
                            return swal({
                                title: "ส่งข้อความไม่สำเร็จ",
                                type: "error",
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "OK",
                                showCancelButton: false,
                                closeOnConfirm: false,
                                closeOnEsc: false
                            }, function (isConfirm) {
                                if (isConfirm) {
                                    DefaultValues()
                                    swal.close()
                                }
                            });
                        }
                    },
                    error: function async(xhr, textStatus, errorThrown) {
                        //----------------------------------------------//
                        l.stop();
                        isActiveCloseButtonModal();
                        $('#modalConfirm').modal('hide');
                        $('#btnCancel').prop('disabled', false);
                        clearTimeout(loadingTimeout);
                        //----------------------------------------------//

                        return swal({
                            title: 'เกิดข้อผิดพลาด ' + JSON.parse(textStatus),
                            type: "error",
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "OK",
                            showCancelButton: false,
                            closeOnConfirm: false,
                            closeOnEsc: false
                        }, function (isConfirm) {
                            if (isConfirm) {
                                DefaultValues()
                                swal.close()
                            }
                        });
                    }
                });
            }

            $('#btnSubmit').click(function (e) {
                e.preventDefault();
                l = Ladda.create(this);

                var smsTypeDetail = document.getElementById('smsTypeDetail').textContent;
                var phoneNumber = $('#txtPhoneNumber').val();
                var vehicleRegistration1 = $('#txtVehicleRegistration1').val();
                var vehicleRegistration2 = $('#txtVehicleRegistration2').val();
                var provinces = $('#txtProvinces option:selected').text();

                $('#btnCancel').prop('disabled', true);
                if (smsTypeDetail === '' || phoneNumber === '' || phoneNumber.length !== 10 || vehicleRegistration1 === '' || vehicleRegistration2 === '' || (provinces === '' || provinces === '--โปรดระบุ--' || $('#txtProvinces').val() === '-1')) {
                    //----------------------------------------------//
                    l.stop();
                    isActiveCloseButtonModal();
                    $('#modalConfirm').modal('hide');
                    $('#btnCancel').prop('disabled', false);
                    //----------------------------------------------//
                    swal_fail("กรุณากรอกข้อมูลให้ครบถ้วน");
                } else {
                    loadingTimeout = setTimeout(function () {
                        //----------------------------------------------//
                        l.stop();
                        isActiveCloseButtonModal();
                        $('#modalConfirm').modal('hide');
                        $('#btnCancel').prop('disabled', false);
                        //----------------------------------------------//
                        swal({
                            title: "การส่งข้อความใช้เวลานานเกินไป",
                            html: true,
                            text: "อาจจะเกิดข้อผิดพลาดในการส่ง SMS<br>กรุณาติดต่อผู้ดูแลระบบ",
                            type: "error",
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "OK",
                            showCancelButton: false,
                            closeOnConfirm: false,
                            closeOnEsc: false
                        }, function (isConfirm) {
                            if (isConfirm) {
                                DefaultValues()
                                swal.close()
                            }
                        });
                    }, 10000);

                    SendSMS(function () {
                        //----------------------------------------------//
                        l.stop();
                        isActiveCloseButtonModal();
                        $('#modalConfirm').modal('hide');
                        $('#btnCancel').prop('disabled', false);
                        clearTimeout(loadingTimeout);
                        //----------------------------------------------//
                    });
                }
            });

            // ข้อความ
            var value = '';
            $('#labelVehicleRegistrationValue, #labelVehicleRegistrationValueInConfirm').text('');
            $('#txtVehicleRegistration1, #txtVehicleRegistration2, #txtProvinces').on('input change', function () {
                var vehicleRegistration1 = $('#txtVehicleRegistration1').val();
                var vehicleRegistration2 = $('#txtVehicleRegistration2').val();
                var provinces = $('#txtProvinces option:selected').text();

                if (provinces !== '--โปรดระบุ--' && $('#txtProvinces').val() !== '-1') {
                    value = vehicleRegistration1 + '-' + vehicleRegistration2 + ' ' + provinces;
                } else if (vehicleRegistration2 !== '') {
                    value = vehicleRegistration1 + '-' + vehicleRegistration2;
                } else {
                    value = vehicleRegistration1;
                }

                $('#labelVehicleRegistrationValue, #labelVehicleRegistrationValueInConfirm').text(value);

                if (value !== '') {
                    $('#labelVehicleRegistrationValue, #labelVehicleRegistrationValueInConfirm').removeClass('form-input');
                } else {
                    $('#labelVehicleRegistrationValue, #labelVehicleRegistrationValueInConfirm').addClass('form-input');
                }
            });

            // Validate phone number
            $('#txtPhoneNumber').on('input', function () {
                var phoneNumber = $(this).val().trim();
                var errorMessage = '';

                if (phoneNumber.length !== 10) {
                    errorMessage = 'กรุณาใส่หมายเลขโทรศัพท์ 10 หลัก';
                }

                if (phoneNumber === '') {
                    errorMessage = 'กรุณาระบุเบอร์โทรศัพท์';
                }

                if (errorMessage !== '') {
                    $('#phoneNumberErrorMessage').text(errorMessage);
                } else {
                    $('#phoneNumberErrorMessage').text('');
                }
            });

            // Validate vehicle registration
            $('#txtVehicleRegistration1').on('input', function () {
                var vehicleRegistration1 = $(this).val().trim();
                var errorMessage = '';

                var regex1 = /^[\u0E01-\u0E5B0-9a-zA-Z]+$/;

                if (vehicleRegistration1.length === 0) {
                    errorMessage = 'กรุณาระบุตัวเลขหรือตัวอักษร';
                } else if (!regex1.test(vehicleRegistration1)) {
                    errorMessage = 'กรุณาระบุตัวเลขหรือตัวอักษร';
                }

                if (errorMessage !== '') {
                    $('#vehicleRegistration1ErrorMessage').text(errorMessage);
                } else {
                    $('#vehicleRegistration1ErrorMessage').text('');
                }
            });

            $('#txtVehicleRegistration2').on('input', function () {
                var vehicleRegistration2 = $(this).val().trim();
                var errorMessage = '';

                var regex2 = /^[0-9]+$/;

                if (vehicleRegistration2.length === 0) {
                    errorMessage = 'กรุณาระบุตัวเลข';
                } else if (!regex2.test(vehicleRegistration2)) {
                    errorMessage = 'กรุณาระบุตัวเลข';
                }

                if (errorMessage !== '') {
                    $('#vehicleRegistration2ErrorMessage').text(errorMessage);
                } else {
                    $('#vehicleRegistration2ErrorMessage').text('');
                }
            });

        });

        function SetPhoneNumberLabel() {
            const phoneNumber = $('#txtPhoneNumber').val();
            document.getElementById('labelPhoneNumberInConfirm').textContent = `${phoneNumber}`;
        }

        function UpdateButtonClass() {
            var disabled = $('#btnSubmit, #btnModalConfirm').prop('disabled');
            var button = $('#btnSubmit, #btnModalConfirm');

            if (disabled) {
                button.removeClass('btn-success').addClass('btn-default');
            } else {
                button.removeClass('btn-default').addClass('btn-success');
            }
        }

        function isActiveCloseButtonModal(status = false) {
            $('#modalConfirm #closeModal').prop('disabled', status);
        }
    </script>
}