
@{
    ViewBag.Title = "CustomerID: " + @ViewBag.PersonId;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form class="form-horizontal" style="margin-top:1px">
    <div class="row">
        <div class="col-sm-12">
            <div class="nav-tabs-custom">
                <br />
                <div class="row" style="margin-left:0.1%">
                    <div class="col-md-10">
                        <span>ประเภทลูกค้า : </span> <span id="lblCustomPersonTypeDetail"></span>
                    </div>
                    <div class="col-md-2">
                        <span>สถานะลูกค้า : </span> <span id="lblCustomActiveStatus"></span>
                    </div>
                </div>
                <ul class="nav nav-tabs" style="margin-top:1%">
                    <li class="active"><a href="#CustomDetail" data-toggle="tab" aria-expanded="true" data_id="2"><h5>ข้อมูลลูกค้า</h5></a></li>
                    <li class=""><a href="#Insurance" data-toggle="tab" aria-expanded="false" data_id="4"><h5>กรมธรรม์ที่เกี่ยวข้อง</h5></a></li>
                    <li class=""><a href="#Service" data-toggle="tab" aria-expanded="false" data_id="5"><h5>บริการที่เกี่ยวข้อง</h5></a></li>
                    <li class=""><a href="#CustomHistory" data-toggle="tab" aria-expanded="false" data_id="3"><h5>ประวัติการทำรายการ</h5></a></li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="CustomDetail">
                        <!-- /.post -->
                        <div class="row" style="margin-top:1%;">
                            <div class="col-sm-12">
                                <div class="box box-solid box-default" style="border-color: #3c98de">
                                    <div class="box-header " style="background-color:#3c98de">
                                        <label style="color:white"><i class="fa fa-user"></i> ข้อมูลส่วนตัว</label>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i style="color:white" class="fa fa-chevron-down"></i></button>
                                        </div>
                                    </div>

                                    <div class="box-body" style="margin-top:1px;">
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-2"><b>คำนำหน้า (ไทย) : </b></div>
                                            <div class="col-sm-2"><span id="lblCustomTitle"></span></div>

                                            <div class="col-sm-2"><b>ชื่อ (ไทย) : </b></div>
                                            <div class="col-sm-2"><span id="lblCustomFirstName"></span></div>

                                            <div class="col-sm-2"><b>นามสกุล (ไทย) : </b></div>
                                            <div class="col-sm-2"> <span id="lblCustomLastName"></span></div>

                                        </div>
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-2"><b>เลขบัตรประชาชน : </b></div>
                                            <div class="col-sm-2"><span id="lblCustomIdCard"></span></div>

                                            <div class="col-sm-2"><b>เลข Passport : </b></div>
                                            <div class="col-sm-2"><span id="lblCustomPassport"></span></div>

                                            <div class="col-sm-2"><b>สถานะการมีชีวิต : </b></div>
                                            <div class="col-sm-2"><span id="lblCustomAliveStatus"></span></div>

                                        </div>
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-2"><b>วันเกิด : </b></div>
                                            <div class="col-sm-2"> <span id="lblCustomBirthDate"></span></div>


                                            <div class="col-sm-2"><b>เพศ : </b></div>
                                            <div class="col-sm-2"><span id="lblCustomSex"></span></div>

                                            <div class="col-sm-2"><b>สถานภาพ : </b></div>
                                            <div class="col-sm-2"><span id="lblCustomMaritalStatus"></span></div>

                                        </div>
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-2"><b>กรุ๊ปเลือด : </b></div>
                                            <div class="col-sm-2"><span id="lblCustomBloodType"></span></div>

                                            <div class="col-sm-2"> <b>น้ำหนัก (กก.) : </b></div>
                                            <div class="col-sm-2"><span id="lblCustomWeight"></span></div>

                                            <div class="col-sm-2"><b>ส่วนสูง (ซม.) : </b></div>
                                            <div class="col-sm-2"><span id="lblCustomHeight"></span></div>

                                        </div>
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-2"><b>สัญชาติ : </b></div>
                                            <div class="col-sm-2"><span id="lblCustomNationality"></span></div>

                                            <div class="col-sm-2"><b>เชื้อชาติ : </b></div>
                                            <div class="col-sm-2"><span id="lblCustomRace"></span></div>

                                            <div class="col-sm-2"><b>ศาสนา : </b></div>
                                            <div class="col-sm-2"><span id="lblCustomReligion"></span></div>

                                        </div>
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-2"><b>ประเภทอาชีพ : </b></div>
                                            <div class="col-sm-2"><span id="lblCustomOccupation"></span></div>

                                            <div class="col-sm-2"><b>อาชีพ : </b></div>
                                            <div class="col-sm-2"><span id="lblCustomOccupationLevel"></span></div>

                                            <div class="col-sm-2"><b>ขั้นความเสี่ยงอาชีพ : </b></div>
                                            <div class="col-sm-2"><span id="lblCustomOccupationRisk"></span></div>

                                        </div>
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-2"><b>เงินเดือน (บาท) : </b></div>
                                            <div class="col-sm-2"><span id="lblCustomSalary"></span></div>

                                            <div class="col-sm-2"><b>โรคประจำตัว : </b></div>
                                            <div class="col-sm-2"><span id="lblCustomMedicalConditions"></span></div>

                                            <div class="col-sm-2"><b>ความบกพร่องหรือพิการ<br />ทางร่างกายหรือจิตใจ:</b></div>
                                            <div class="col-sm-2"><span id="lblCustomDisability"></span></div>

                                        </div>
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-2"><b>พนักงานสยามสไมล์ : </b></div>
                                            <div class="col-sm-10"><span>ไม่เป็น</span></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box box-solid box-default" style="border-color: #31617d">
                                    <div class="box-header " style="background-color:#31617d">
                                        <label style="color:white"><i class="fa fa-phone"></i> ข้อมูลการติดต่อ</label>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i style="color:white" class="fa fa-chevron-down"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="margin-top:1px">
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-2"> <label>เบอร์โทรศัพท์หลัก : </label></div>
                                            <div class="col-sm-2"> <span id="lblCustomMobile"></span></div>

                                            <div class="col-sm-2"> <label>เบอร์โทรศัพท์รอง : </label></div>
                                            <div class="col-sm-2">  <span id="lblCustomSecondaryPhone"></span></div>

                                            <div class="col-sm-2">  <label>เบอร์โทรศัพท์อื่น : </label></div>
                                            <div class="col-sm-2">  <span id="lblCustomOtherPhone"></span></div>

                                        </div>
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-2"> <label>Email : </label></div>
                                            <div class="col-sm-2"> <span id="lblCustomEmail"></span></div>

                                            <div class="col-sm-2"> <label>ID Line : </label></div>
                                            <div class="col-sm-2">  <span id="lblCustomLineID"></span></div>

                                            <div class="col-sm-2">  <label>ID Facebook : </label></div>
                                            <div class="col-sm-2">  <span id="lblCustomFacebook"></span></div>

                                        </div>
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-2"> <label>ID Twitter : </label></div>
                                            <div class="col-sm-2">  <span id="lblCustomTwitterID"></span></div>

                                            <div class="col-sm-2">  <label>ID Instagram : </label></div>
                                            <div class="col-sm-2"> <span id="lblCustomInstagramID"></span></div>

                                            <div class="col-sm-2">  <label>ID Youtube : </label></div>
                                            <div class="col-sm-2">  <span id="lblCustomYoutubeID"></span></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box box-solid box-default" style="border-color: #00b090">
                                    <div class="box-header " style="background-color:#00b090">
                                        <label style="color:white"><i class="fa fa-id-card"></i> ที่อยู่ตามบัตรประชาชน</label>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i style="color:white" class="fa fa-chevron-down"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="margin-top:1px">
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-1"><b>ที่อยู่ </b></div>
                                            <div class="col-sm-1"><b>เลขที่ :</b></div>
                                            <div class="col-sm-2"><span id="lblCustomCardAddressNo"></span></div>

                                            <div class="col-sm-1"><b>หมู่ :</b></div>
                                            <div class="col-sm-1"><span id="lblCustomCardAddressMoo"></span></div>

                                            <div class="col-sm-1"><b>หมู่บ้าน :</b></div>
                                            <div class="col-sm-2"><span id="lblCustomCardAddressVillageName"></span></div>

                                            <div class="col-sm-2"><b>ชั้น :</b></div>
                                            <div class="col-sm-1"><span id="lblCustomCardAddressFloor"></span></div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-1"></div>

                                            <div class="col-sm-1"><b>ซอย :</b></div>
                                            <div class="col-sm-2"><span id="lblCustomCardAddressSoi"></span></div>
                                            <div class="col-sm-1"><b>ถนน :</b></div>
                                            <div class="col-sm-7"><span id="lblCustomCardAddressRoad"></span></div>

                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-1"><label>ตำบล :</label></div>
                                            <div class="col-sm-1"><span id="lblCustomCardAddressSubDistrictDetail"></span></div>

                                            <div class="col-sm-1"><label>อำเภอ :</label></div>
                                            <div class="col-sm-2"><span id="lblCustomCardAddressDistrictDetail"></span></div>

                                            <div class="col-sm-1"><label>จังหวัด :</label></div>
                                            <div class="col-sm-2"><span id="lblCustomCardAddressProvinceDetail"></span></div>

                                            <div class="col-sm-2"><label>รหัสไปรษณีย์ :</label></div>
                                            <div class="col-sm-1"><span id="lblCustomCardAddressZipCode"></span></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box box-solid box-default" style="border-color:#11bf68">
                                    <div class="box-header " style="background-color:#11bf68">
                                        <label style="color:white"><i class="fa fa-institution"></i> สถานที่ทำงาน</label>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i style="color:white" class="fa fa-chevron-down"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="margin-top:1px">
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-1"><b>ที่อยู่ </b></div>
                                            <div class="col-sm-2"><label>ชื่อหน่วยงาน :</label></div>
                                            <div class="col-sm-9"><span id="lblCustomWorkAddressAddressBuildingName"></span></div>
                                        </div>

                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-1"><b>เลขที่ :</b></div>
                                            <div class="col-sm-2"><span id="lblCustomWorkAddressNo"></span></div>

                                            <div class="col-sm-1"><b>หมู่ :</b></div>
                                            <div class="col-sm-1"><span id="lblCustomWorkAddressMoo"></span></div>

                                            <div class="col-sm-1"><b>หมู่บ้าน :</b></div>
                                            <div class="col-sm-2"><span id="lblCustomWorkAddressVillageName"></span></div>

                                            <div class="col-sm-2"><b>ชั้น :</b></div>
                                            <div class="col-sm-1"><span id="lblCustomWorkAddressFloor"></span></div>


                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-1"></div>

                                            <div class="col-sm-1"><b>ซอย :</b></div>
                                            <div class="col-sm-2"><span id="lblCustomWorkAddressSoi"></span></div>
                                            <div class="col-sm-1"><b>ถนน :</b></div>
                                            <div class="col-sm-7"><span id="lblCustomWorkAddressRoad"></span></div>

                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-1"><label>ตำบล :</label></div>
                                            <div class="col-sm-1"><span id="lblCustomWorkAddressSubDistrictDetail"></span></div>

                                            <div class="col-sm-1"><label>อำเภอ :</label></div>
                                            <div class="col-sm-2"><span id="lblCustomWorkAddressDistrictDetail"></span></div>

                                            <div class="col-sm-1"><label>จังหวัด :</label></div>
                                            <div class="col-sm-2"><span id="lblCustomWorkAddressProvinceDetail"></span></div>

                                            <div class="col-sm-2"><label>รหัสไปรษณีย์ : </label></div>
                                            <div class="col-sm-1"><span id="lblCustomWorkAddressZipCode"></span></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box box-solid box-default" style="border-color:#00bf86">
                                    <div class="box-header " style="background-color:#00bf86">
                                        <label style="color:white"><i class="fa fa-home"></i> ที่อยู่ปัจจุบัน</label>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i style="color:white" class="fa fa-chevron-down"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="margin-top:-5px">
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-1"><b>ที่อยู่ </b></div>
                                            <div class="col-sm-1"><b>ชื่อสถานที่ :</b></div>
                                            <div class="col-sm-10"><span id="lblCustomCurrentAddressBuildingName"></span></div>
                                        </div>

                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-1"><b>เลขที่ :</b></div>
                                            <div class="col-sm-2"><span id="lblCustomCurrentAddressNo"></span></div>

                                            <div class="col-sm-1"><b>หมู่ :</b></div>
                                            <div class="col-sm-1"><span id="lblCustomCurrentAddressMoo"></span></div>

                                            <div class="col-sm-1"><b>หมู่บ้าน :</b></div>
                                            <div class="col-sm-2"><span id="lblCustomCurrentAddressVillageName"></span></div>

                                            <div class="col-sm-2"><b>ชั้น :</b></div>
                                            <div class="col-sm-1"><span id="lblCustomCurrentAddressFloor"></span></div>

                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-1"></div>

                                            <div class="col-sm-1"><b>ซอย :</b></div>
                                            <div class="col-sm-2"><span id="lblCustomCurrentAddressSoi"></span></div>
                                            <div class="col-sm-1"><b>ถนน :</b></div>
                                            <div class="col-sm-7"><span id="lblCustomCurrentAddressRoad"></span></div>

                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-1"><label>ตำบล :</label></div>
                                            <div class="col-sm-1"><span id="lblCustomCurrentAddressSubDistrictDetail"></span></div>

                                            <div class="col-sm-1"><label>อำเภอ :</label></div>
                                            <div class="col-sm-2"><span id="lblCustomCurrentAddressDistrictDetail"></span></div>

                                            <div class="col-sm-1"><label>จังหวัด :</label></div>
                                            <div class="col-sm-2"><span id="lblCustomCurrentAddressProvinceDetail"></span></div>

                                            <div class="col-sm-2"><label>รหัสไปรษณีย์ :</label></div>
                                            <div class="col-sm-1"><span id="lblCustomCurrentAddressZipCode"></span></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*@Html.Partial("~/Views/PartialView/_PDPAView.cshtml")*@


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box box-solid box-default" style="border-color:#04c8de">
                                    <div class="box-header " style="background-color:#04c8de">
                                        <label style="color:white"><i class="fa fa-file-text"></i> รายการเอกสาร</label>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i style="color:white" class="fa fa-chevron-down"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="margin-top:1px">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="dtDocument" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box box-solid box-default" style="border-color:#eba338">
                                    <div class="box-header " style="background-color:#eba338">
                                        <label style="color:white"><i class="fa fa-info-circle"></i> ข้อมูลเพิ่มเติม</label>

                                    </div>
                                    <div class="box-body" style="margin-top:1px">
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-2"><label>วันที่ลูกค้าเปิดกรมธรรม์<br />ครั้งแรก : </label></div>
                                            <div class="col-sm-2"></div>

                                            <div class="col-sm-2"><label>Loss Ratio PH : </label></div>
                                            <div class="col-sm-2"></div>

                                            <div class="col-sm-2"><label>คุณภาพลูกค้า : </label></div>
                                            <div class="col-sm-2"></div>
                                        </div>
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-2"><label>ประเภทลูกค้า: </label></div>
                                            <div class="col-sm-2"></div>

                                            <div class="col-sm-2"><label>อัตราความยั่งยืนของลุกค้า : </label></div>
                                            <div class="col-sm-2"></div>

                                            <div class="col-sm-2"><label>สถานะการชำระเงิน : </label></div>
                                            <div class="col-sm-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="CustomHistory">
                        <div class="box-body" style="margin-top:-10px">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="dtTransaction" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane " id="Insurance">
                        <div class="row" style="margin-top:1%">
                            <div class="col-sm-12">
                                <table id="dtInsurance" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane " id="Service">
                        <!-- /.post -->
                        <div class="row" style="margin-top:1%">
                            <div class="col-sm-12">
                                <table id="dtService" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                            </div>
                        </div>
                    </div>

                    <!--Transaction Detail Modal-->
                    <div class="modal fade bd-example-modal-lg" id="ModalTransactTionDetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <div class="modal-body justify-content-center">
                                    <table id="dtTransactionDetail" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                                </div>
                                <div class="modal-footer" style="text-align:center">
                                    <button type="button" class="btn btn-danger" style="width:80px" data-dismiss="modal">ปิด</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="hdfPersonId" value="@ViewBag.PersonId" />
</form>


@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            GetCustomerManagementContact();
            GetCustomerManagementInfo();
            //GetCustomerManagementCardAddress(1);
            GetCustomerManagementAddress(2);
            GetCustomerManagementAddress(3);
            GetCustomerManagementAddress(4);
            GetDocument();
            GetTransaction();
            DoLoadInsuranceTransactionById();
            DoLoadServiceTransactionById();


            //let personId = $('#hdfPersonId').val();
            //GetPDPADetail(personId);
        });

        const GetCustomerManagementContact = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCustomerContactById", "CustomerManagement")",
                data: {
                    personId: $('#hdfPersonId').val()
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    $('#lblCustomMobile').text(response.Mobile);
                    $('#lblCustomSecondaryPhone').text(response.SecondaryPhone);
                    $('#lblCustomOtherPhone').text(response.OtherPhone);
                    $('#lblCustomEmail').text(response.Email);
                    $('#lblCustomLineID').text(response.LineID);
                    $('#lblCustomFacebook').text(response.Facebook);
                    $('#lblCustomTwitterID').text(response.TwitterID);
                    $('#lblCustomInstagramID').text(response.InstagramID);
                    $('#lblCustomYoutubeID').text(response.YoutubeID);
                }
            });
        }

          const GetCustomerManagementInfo = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCustomerPersonById", "CustomerManagement")",
                data: {
                    personId: $('#hdfPersonId').val()
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    if (response.ActiveStats === true) {
                        $('#lblCustomActiveStatus').text('เป็นลูกค้า').css("color", "green");
                    }
                    else if (response.ActiveStats === false) {
                        $('#lblCustomActiveStatus').text('ไม่เป็นลูกค้า').css("color", "red");
                    }
                    else {
                        $('#lblCustomActiveStatus').text('กำลังตรวจสอบ').css("color", "orange");
                    }
                    $('#lblCustomTitle').text(response.Title);
                    $('#lblCustomFirstName').text(response.FirstName);
                    $('#lblCustomLastName').text(response.LastName);
                    $('#lblCustomIdCard').text(response.IdCard);
                    $('#lblCustomPassport').text(response.Passport);
                    $('#lblCustomAliveStatus').text(response.AliveStatus);

                    if (response.BirthDate != null) {
                        let d_pickupDate = moment(response.BirthDate).add(543, 'years').format("DD/MM/YYYY", "LLLL");
                        $('#lblCustomBirthDate').text(d_pickupDate);
                    }

                    $('#lblCustomSex').text(response.Sex);
                    $('#lblCustomMaritalStatus').text(response.MaritalStatus);
                    $('#lblCustomBloodType').text(response.BloodType);
                    $('#lblCustomWeight').text(response.Weight);
                    $('#lblCustomHeight').text(response.Height);
                    $('#lblCustomNationality').text(response.Nationality);
                    $('#lblCustomRace').text(response.Race);
                    $('#lblCustomReligion').text(response.Religion);
                    $('#lblCustomOccupation').text(response.Occupation);
                    $('#lblCustomOccupationLevel').text(response.OccupationLevel);
                    $('#lblCustomOccupationRisk').text(response.OccupationRisk);
                    $('#lblCustomSalary').text(response.Salary);
                    $('#lblCustomMedicalConditions').text(response.MedicalConditions);
                    $('#lblCustomDisability').text(response.Disability);
                    $('#lblCustomPersonTypeDetail').text(response.PersonTypeDetail);
             /*       $('#lblCustomTitle').text(response.Disability);*/

                }
            });
        }

        const GetCustomerManagementAddress = (typeId) => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCustomerAddressById", "CustomerManagement")",
                data: {
                    personId: $('#hdfPersonId').val(),
                    addressTypeId: typeId
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    //current
                    if (response.AddressType_ID === 2) {
                        $('#lblCustomCurrentAddressNo').text(response.No);
                        $('#lblCustomCurrentAddressVillageName').text(response.VillageName);
                        $('#lblCustomCurrentAddressBuildingName').text(response.BuildingName);
                        $('#lblCustomCurrentAddressMoo').text(response.Moo);
                        $('#lblCustomCurrentAddressFloor').text(response.Floor);
                        $('#lblCustomCurrentAddressSoi').text(response.Soi);
                        $('#lblCustomCurrentAddressRoad').text(response.Road);
                        $('#lblCustomCurrentAddressSubDistrictDetail').text(response.SubDistrictDetail);
                        $('#lblCustomCurrentAddressDistrictDetail').text(response.DistrictDetail);
                        $('#lblCustomCurrentAddressProvinceDetail').text(response.ProvinceDetail);
                        $('#lblCustomCurrentAddressZipCode').text(response.ZipCode);
                    }
                    //card
                    else if (response.AddressType_ID === 3) {
                        $('#lblCustomCardAddressNo').text(response.No);
                        $('#lblCustomCardAddressVillageName').text(response.VillageName);
                        $('#lblCustomCardAddressMoo').text(response.Moo);
                        $('#lblCustomCardAddressFloor').text(response.Floor);
                        $('#lblCustomCardAddressSoi').text(response.Soi);
                        $('#lblCustomCardAddressRoad').text(response.Road);
                        $('#lblCustomCardAddressSubDistrictDetail').text(response.SubDistrictDetail);
                        $('#lblCustomCardAddressDistrictDetail').text(response.DistrictDetail);
                        $('#lblCustomCardAddressProvinceDetail').text(response.ProvinceDetail);
                        $('#lblCustomCardAddressZipCode').text(response.ZipCode);
                    }
                    //work
                    else {
                        $('#lblCustomWorkAddressNo').text(response.No);
                        $('#lblCustomWorkAddressVillageName').text(response.VillageName);
                        $('#lblCustomWorkAddressMoo').text(response.Moo);
                        $('#lblCustomWorkAddressFloor').text(response.Floor);
                        $('#lblCustomWorkAddressSoi').text(response.Soi);
                        $('#lblCustomWorkAddressRoad').text(response.Road);
                        $('#lblCustomWorkAddressAddressBuildingName').text(response.BuildingName);
                        $('#lblCustomWorkAddressSubDistrictDetail').text(response.SubDistrictDetail);
                        $('#lblCustomWorkAddressDistrictDetail').text(response.DistrictDetail);
                        $('#lblCustomWorkAddressProvinceDetail').text(response.ProvinceDetail);
                        $('#lblCustomWorkAddressZipCode').text(response.ZipCode);
                    }
                }
            });
        }

              //--------------------------* Data Table *-----------------------------------------

        const DoLoadInsuranceTransactionById = () => {
            $('#dtInsurance').empty();
            var t = $('#dtInsurance').dataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                searching: false,
                autoWidth: false,
                "order": [[0, "desc"]],
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetInsuranceTransactionById", "CustomerManagement")',
                    type: 'POST',
                    async: false,
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;
                        d.personId = $('#hdfPersonId').val();
                    }
                },
                columns: [
                    {
                        title: 'Application Code',
                        data: null,
                        className: 'h-dt-center d-dt-center ',
                        mRender: (data, type, full) => {
                            return '<a target="_blank" href="' + data.linkOpenDetail + '" >' + data.ApplicationCode + '</a>'
                        }, width: '20%'
                    },
                    { title: 'Paticipant Code', data: 'ParticipantCode', className: 'h-dt-center text-font-small', width: '20%' },
                    { title: 'Product', data: 'ProductTypeDetail', className: 'h-dt-center text-font-small', width: '20%' },
                    { title: 'ประเภทลูกค้า', data: 'CustomerType', className: 'h-dt-center text-font-small', width: '20%' },
                    {
                        title: 'วันที่สร้างรายการ', data: 'CreatedDate', className: 'h-dt-center text-center', width: '20%',
                        mRender: function (data) {
                            moment.locale('th');
                            return moment(data).add(543, 'years').format("DD/MM/YYYY HH:mm:ss", "LLLL");
                        }
                    }

                ],
                bLengthChange: false,
            });

        }

        const DoLoadServiceTransactionById = () => {
            $('#dtService').empty();
             var t = $('#dtService').dataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                searching: false,
                autoWidth: false,
                "order": [[0, "desc"]],
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetServiceTransactionById", "CustomerManagement")',
                    type: 'POST',
                    async: false,
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;
                        d.personId = $('#hdfPersonId').val();
                    }
                },
                columns: [
                    {
                        title: 'Application Code',
                        data: null,
                        className: 'h-dt-center d-dt-center ',
                        mRender: (data, type, full) => {
                            return '<a class="text-black">' + data.ApplicationCode + '</a>'
                             }, width: '25%'
                    },
                    { title: 'ประเภทลูกค้า', data: 'CustomerType', className: 'h-dt-center text-font-small', width: '20%' },
                    {
                        title: 'วันที่สร้างรายการ', data: 'CreatedDate', className: 'h-dt-center text-center', width: '30%',
                        mRender: function (data) {
                            moment.locale('th');
                            return moment(data).add(543, 'years').format("DD/MM/YYYY HH:mm:ss", "LLLL");
                        }
                    }

                ],
                bLengthChange: false,
            });

        }


        const GetDocument = () => {
            $('#dtDocument').empty();
            var t = $('#dtDocument').dataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                searching: false,
                "order": [[0, "desc"]],
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetCustomerDocumentById", "CustomerManagement")',
                    type: 'POST',
                    async: false,
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.pageStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;

                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;

                        d.personId = $('#hdfPersonId').val();
                        d.documentTypeIdList = '35,36,37,38';
                    }
                },
                columns: [
                    { title: 'รหัสเอกสาร', data: 'DocumentCode', className: 'h-dt-center text-font-small', width: '8%' },
                    { title: 'ประเภทเอกสาร', data: 'DocumentType', className: 'h-dt-center text-font-small', width: '8%' },
                    {
                        title: 'เอกสาร',
                        data: null,
                        className: 'h-dt-center d-dt-center ',
                        mRender: (data, type, full) => {
                            return '<a target="_blank" type="button"  class="btn bg-aqua btn-sm"  href="' + data.UrlLinkOpen+'"> ดูเอกสาร</a>'
                        }, width: '5%'
                    },
                ],
                bLengthChange: false,
            });
        }

        const GetTransaction = () => {
            $('#dtTransaction').empty();
            var t = $('#dtTransaction').dataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                searching: false,
                "order": [[0, "desc"]],
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetTransaction", "CustomerManagement")',
                    type: 'POST',
                    async: false,
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.pageStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;

                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;

                        d.personId = $('#hdfPersonId').val();
                        d.documentTypeIdList = '35,36,37,38';
                    }
                },
                columns: [
                    {
                        title: 'วันที่ทำรายการ', data: 'CreatedDate', className: 'h-dt-center', width: '8%',
                        mRender: function (data) {
                            moment.locale('th');
                            return moment(data).add(543, 'years').format("DD/MM/YYYY HH:mm:ss", "LLLL");
                        }
                    },
                    { title: 'ผู้ทำรายการ', data: 'PersonName', className: 'h-dt-center text-font-small', width: '8%' },
                    { title: 'ประเภทรายการ', data: 'TransactionTypeDetail', className: 'h-dt-center text-font-small', width: '8%' },
                    {
                        title: 'ดูรายละเอียด',
                        className: 'h-dt-center',
                        data: 'TransactionId',
                        width: '30%',
                        mRender: (data, type, full) => {
                            return '<div class="btn- text-center">' +
                                '<button onclick="DoLoadTransactionDetail(\'' + data + '\')" type="button" class="btn btn-twitter btn-sm" style="width:"7px">ดูรายละเอียด</button>'
                            '</div >';
                        }
                    },
                ],
                bLengthChange: false,
            });
        }

           const DoLoadTransactionDetail = (TransactionId) => {
            $('#dtTransactionDetail').empty();
             var t = $('#dtTransactionDetail').dataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                searching:false,
                ajax: {
                    url: '@Url.Action("GetTransactionDetailById", "CustomerManagement")',

                    type: 'POST',
                    async: false,
                    data: function (d) {

                        d.PersonId = $('#hdfPersonId').val();
                        d.transactionId = TransactionId;
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.pageStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;

                    }
                },
                 columns: [
                     {title: 'รายการ', data: 'TransactionSubTypeDetail', className: 'h-dt-center text-font-small'},
                     { title: 'ข้อมูลเดิม', data: 'FromDetail', className: 'h-dt-center text-font-small'},
                     { title: 'ข้อมูลใหม่', data: 'ToDetail', className: 'h-dt-center text-font-small'}

                ],
                bLengthChange: false,
             });


            $('#ModalTransactTionDetail').modal('show');
        }


    </script>
}
