@{
    ViewBag.Title = "CustomerID : " + @ViewBag.PersonId;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal" style="margin-top:1px">
    <div class="row">
        <div class="col-sm-12">
            <div class="nav-tabs-custom">
                <br />
                <div class="row" style="margin-left:0.1%">
                    <div class="col-sm-10">
                        <span>ประเภทลูกค้า : </span> <span id="lblCustomPersonTypeDetail"></span>
                    </div>
                    <span>สถานะลูกค้า : </span> <span id="lblCustomActiveStatus"></span>
                </div>
                <ul class="nav nav-tabs" style="margin-top:1%">
                    <li class="active"><a href="#CustomDetail" data-toggle="tab" aria-expanded="true" data_id="2"><h5>ข้อมูลลูกค้า</h5></a></li>
                    <li class=""><a href="#Insurance" data-toggle="tab" aria-expanded="false" data_id="4"><h5>กรมธรรม์ที่เกี่ยวข้อง</h5></a></li>
                    <li class=""><a href="#Service" data-toggle="tab" aria-expanded="false" data_id="5"><h5>บริการที่เกี่ยวข้อง</h5></a></li>
                    <li class=""><a href="#CustomHistory" data-toggle="tab" aria-expanded="false" data_id="3"><h5>ประวัติการทำรายการ</h5></a></li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="CustomDetail">
                        <!-- /.post -->
                        <div class="row" style="margin-top:1%">
                            <div class="col-sm-12">
                                <div class="box box-solid box-default" style="border-color:#3c98de">
                                    <div class="box-header " style="background-color:#3c98de">
                                        <label style="color:white"><i class="fa fa-user"></i> ข้อมูลส่วนตัว</label>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i style="color:white" class="fa fa-chevron-down"></i></button>
                                        </div>
                                    </div>

                                    <div class="box-body" style="margin-top:1px">
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-4">
                                                <label>คำนำหน้า (ไทย) <a style="color:red">*</a> </label>
                                                <select required class="form-control select2  select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" id="defaultCustomTitle">
                                                    @{
                                                        foreach (var item in ViewBag.PersonTitle)
                                                        {
                                                            <option value="@item.Title_ID">@item.TitleDetail</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>ชื่อ (ไทย) <a style="color:red">*</a> </label>
                                                <input class="form-control" type="text" id="lblCustomFirstName" required>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>นามสกุล (ไทย) <a style="color:red">*</a> </label>
                                                <input class="form-control" type="text" id="lblCustomLastName" required>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-4">
                                                <label>เลขบัตรประชาชน  </label>
                                                <input class="form-control" type="text" id="lblCustomIdCard" disabled>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>เลข Passport  </label>
                                                <input class="form-control" type="text" id="lblCustomPassport" disabled>
                                            </div>

                                            <div class="col-sm-4">
                                                <label>สถานะการมีชีวิต  </label>
                                                <select class="form-control select2  select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" id="defaultCustomAliveStatus" disabled>

                                                    @{
                                                        foreach (var item in ViewBag.AliveStatus)
                                                        {
                                                            <option value="@item.AliveStatusId">@item.AliveStatusDetail</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-4">
                                                <label>วันเกิด <b class="text-red">*</b> </label>
                                                <input type="text" name="dphCustomerBirthDate" data-date-language="th-th" class="form-control" id="dphCustomerBirthDate" value="" style="width:100%">
                                            </div>
                                            <div class="col-sm-4">
                                                <label>เพศ  </label>
                                                <select class="form-control select2  select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" id="defaultCustomSex">

                                                    @{
                                                        foreach (var item in ViewBag.Sex)
                                                        {
                                                            <option value="@item.Sex_ID">@item.SexDetail</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>สถานภาพ  </label>
                                                <select class="form-control select2  select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" id="defaultCustomMaritalStatus">

                                                    @{
                                                        foreach (var item in ViewBag.MaritalStatus)
                                                        {
                                                            <option value="@item.MaritalStatus_ID">@item.MaritalStatusDetail</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-4">
                                                <label>กรุ๊ปเลือด  </label>
                                                <select class="form-control select2  select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" id="defaultCustomBloodType">

                                                    @{
                                                        foreach (var item in ViewBag.BloodType)
                                                        {
                                                            <option value="@item.BloodType_ID">@item.BloodTypeDetail</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>น้ำหนัก (กก.)  </label>
                                                <input class="form-control" type="number" min="0" id="lblCustomWeight">
                                            </div>
                                            <div class="col-sm-4">
                                                <label>ส่วนสูง (ซม.)  </label>
                                                <input class="form-control" type="number" min="0" id="lblCustomHeight">
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-4">
                                                <label>สัญชาติ  </label>
                                                <select class="form-control select2  select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" id="defaultCustomNationality">

                                                    @{
                                                        foreach (var item in ViewBag.Nationality)
                                                        {
                                                            <option value="@item.Nationality_Id">@item.NationalityDetail</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>เชื้อชาติ  </label>
                                                <select class="form-control select2  select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" id="defaultCustomRace">

                                                    @{
                                                        foreach (var item in ViewBag.Race)
                                                        {
                                                            <option value="@item.Race_Id">@item.RaceDetail</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>ศาสนา  </label>
                                                <select class="form-control select2  select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" id="defaultCustomReligion">

                                                    @{
                                                        foreach (var item in ViewBag.Religion)
                                                        {
                                                            <option value="@item.Religion_Id">@item.ReligionDetail</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-4">
                                                <label>ประเภทอาชีพ  </label>
                                                <select onchange="GetOccupationLevelDetail(this.value)" class="form-control select2  select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" id="defaultCustomOccupation">

                                                    @{
                                                        foreach (var item in ViewBag.Occupation)
                                                        {
                                                            <option value="@item.Occupation_ID">@item.OccupationDetail</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>อาชีพ </label>
                                                <select onchange="GetOccupationLevelRisk(this.value)" class="form-control select2" style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlOccupationLevelDetail"></select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>ขั้นความเสี่ยงอาชีพ  </label>
                                                <input class="form-control" type="text" id="lblCustomOccupationRisk" disabled>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-4">
                                                <label>เงินเดือน (บาท)  </label>
                                                <input class="form-control" type="number" id="lblCustomSalary" min="0">
                                            </div>
                                            <div class="col-sm-4">
                                                <label>โรคประจำตัว  </label>
                                                <input class="form-control" type="text" id="lblCustomMedicalConditions">
                                            </div>
                                            <div class="col-sm-4">
                                                <label>ความบกพร่องหรือพิการทางร่างกายหรือจิตใจ</label>
                                                <input class="form-control" type="text" id="lblCustomDisability">
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-4">
                                                <label>พนักงานสยามสไมล์ : ไม่เป็น</label>
                                                <label></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:1%">
                            <div class="col-sm-12">
                                <div class="box box-solid box-default" style="border-color:#31617d">
                                    <div class="box-header " style="background-color:#31617d">
                                        <label style="color:white"><i class="fa fa-phone"></i> ข้อมูลการติดต่อ</label>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i style="color:white" class="fa fa-chevron-down"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="margin-top:1px">
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-4">
                                                <label>เบอร์โทรศัพท์หลัก <a style="color:red">*</a> </label>
                                                <input class="form-control" type="text" id="lblCustomMobile" data-inputmask='"mask": "999-999-9999"' data-mask required />
                                            </div>
                                            <div class="col-sm-4">
                                                <label>เบอร์โทรศัพท์รอง  </label>
                                                <input class="form-control" type="text" id="lblCustomSecondaryPhone" />
                                            </div>
                                            <div class="col-sm-4">
                                                <label>เบอร์โทรศัพท์อื่น  </label>
                                                <input class="form-control" type="text" id="lblCustomOtherPhone" />
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-4">
                                                <label>Email  </label>
                                                <input class="form-control" type="email" id="lblCustomEmail">
                                            </div>
                                            <div class="col-sm-4">
                                                <label>ID Line  </label>
                                                <input class="form-control" type="text" id="lblCustomLineID">
                                            </div>
                                            <div class="col-sm-4">
                                                <label>ID Facebook  </label>
                                                <input class="form-control" type="text" id="lblCustomFacebook">
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-4">
                                                <label>ID Twitter  </label>
                                                <input class="form-control" type="text" id="lblCustomTwitterID">
                                            </div>
                                            <div class="col-sm-4">
                                                <label>ID Instagram  </label>
                                                <input class="form-control" type="text" id="lblCustomInstagramID">
                                            </div>
                                            <div class="col-sm-4">
                                                <label>ID Youtube  </label>
                                                <input class="form-control" type="text" id="lblCustomYoutubeID">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:1%">
                            <div class="col-sm-12">
                                <div class="box box-solid box-default" style="border-color:#00b090">
                                    <div class="box-header " style="background-color:#00b090">
                                        <label style="color:white"><i class="fa fa-id-card"></i> ที่อยู่ตามบัตรประชาชน</label>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i style="color:white" class="fa fa-chevron-down"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="margin-top:-10px">
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-3">
                                                <label>ที่อยู่ </label>&nbsp;&nbsp;&nbsp;
                                                <label>เลขที่ </label>
                                                <input class="form-control" type="text" placeholder="เลขที่ " id="lblCustomCardAddressNo">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>หมู่บ้าน </label>
                                                <input class="form-control" type="text" placeholder="หมู่บ้าน " id="lblCustomCardAddressVillageName">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>หมู่ </label>
                                                <input class="form-control" type="text" placeholder="หมู่" id="lblCustomCardAddressMoo">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>ชั้น </label>
                                                <input class="form-control" type="text" placeholder="ชั้น" id="lblCustomCardAddressFloor">
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-3">
                                                <label>ซอย </label>
                                                <input class="form-control" type="text" placeholder="ซอย " id="lblCustomCardAddressSoi">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>ถนน </label>
                                                <input class="form-control" type="text" placeholder="ถนน " id="lblCustomCardAddressRoad">
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-3">
                                                <label>ตำบล </label>
                                                <select class="form-control select2" style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlSubDistrict"></select>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>อำเภอ </label>
                                                <input class="form-control" type="text" placeholder="" id="txtDistrct" disabled>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>จังหวัด </label>
                                                <input class="form-control" type="text" placeholder="" id="txtProvince" disabled>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>รหัสไปรษณีย์</label>
                                                <input class="form-control" type="text" placeholder="" id="txtZipCode" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:1%">
                            <div class="col-sm-12">
                                <div class="box box-solid box-default" style="border-color:#11bf68">
                                    <div class="box-header " style="background-color:#11bf68">
                                        <label style="color:white"><i class="fa fa-institution"></i> สถานที่ทำงาน</label>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i style="color:white" class="fa fa-chevron-down"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="margin-top:-10px">

                                        <div class="row" style="padding-top:1%;margin-left:1%">
                                            <div class="col-sm-2 ">
                                                <button class="btn btn-block bg-gray-light btn-sm" id="btnWorkNew" style="border-color:green;color:forestgreen;border-radius:18px">
                                                    <i class="fa fa-plus-circle"><b> เพิ่มที่อยู่ใหม่ </b></i>
                                                </button>
                                            </div>
                                            <div class="col-sm-3">
                                                <button class="btn btn-block btn-default btn-sm" id="btnWorkCard" style="border-radius: 18px">
                                                    <i class="fa fa-id-card"> คัดลอกที่อยู่ตามบัตรประชาชน </i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:2%">
                                            <div class="col-sm-3">
                                                <label>ตำบล </label>
                                                <select class="form-control select2" style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlSubDistrictWork"></select>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>อำเภอ </label>
                                                <input class="form-control" type="text" placeholder="" id="txtDistrctWork" disabled>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>จังหวัด </label>
                                                <input class="form-control" type="text" placeholder="" id="txtProvinceWork" disabled>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>รหัสไปรษณีย์</label>
                                                <input class="form-control" type="text" placeholder="" id="txtZipCodeWork" disabled>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <div class="col-sm-10">
                                                        <label>ชื่อหน่วยงาน </label>
                                                    </div>
                                                    <div class="col-sm-2 pull-right">
                                                        <button class="btn btn-default btn-flat btn-xs" style="color:#06911d;background-color:white" id="btnCreateWorkplace"><i class="fa fa-plus"></i><u> เพิ่มใหม่</u></button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <select style="width:100%" class="form-control select2  " id="ddlCustomWorkAddressBuildingName"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>ที่อยู่ </label>&nbsp;&nbsp;&nbsp;
                                                <label>เลขที่ </label>
                                                <input class="form-control" type="text" placeholder="เลขที่ " id="lblCustomWorkAddressNo">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>หมู่บ้าน </label>
                                                <input class="form-control" type="text" placeholder="หมู่บ้าน " id="lblCustomWorkAddressVillageName">
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-3">
                                                <label>หมู่ </label>
                                                <input class="form-control" type="text" placeholder="หมู่" id="lblCustomWorkAddressMoo">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>ชั้น </label>
                                                <input class="form-control" type="text" placeholder="ชั้น" id="lblCustomWorkAddressFloor">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>ซอย </label>
                                                <input class="form-control" type="text" placeholder="ซอย " id="lblCustomWorkAddressSoi">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>ถนน </label>
                                                <input class="form-control" type="text" placeholder="ถนน " id="lblCustomWorkAddressRoad">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:1%">
                            <div class="col-sm-12">
                                <div class="box box-solid box-default" style="border-color:#00bf86">
                                    <div class="box-header " style="background-color:#00bf86">
                                        <label style="color:white"><i class="fa fa-home"></i> ที่อยู่ปัจจุบัน</label>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i style="color:white" class="fa fa-chevron-down"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="margin-top:-10px">
                                        <div class="row" style="margin-top:1%;margin-left:1%">
                                            <div class="col-sm-2 ">
                                                <button class="btn btn-block bg-gray-light btn-sm" id="btnCurrentNew" style="border-color:green;color:forestgreen;border-radius:18px">
                                                    <i class="fa fa-plus-circle"><b> เพิ่มที่อยู่ใหม่</b> </i>
                                                </button>
                                            </div>
                                            <div class="col-sm-3">
                                                <button class="btn btn-block btn-default btn-sm" id="btnCurrentCard" style="border-radius: 18px">
                                                    <i class="fa fa-id-card"> คัดลอกที่อยู่ตามบัตรประชาชน </i>
                                                </button>
                                            </div>
                                            <div class="col-sm-3">
                                                <button class="btn btn-block btn-default btn-sm" id="btnCurrentWork" style="border-radius: 18px">
                                                    <i class="fa fa-institution"> คัดลอกที่อยู่ที่ทำงาน </i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:2%">
                                            <div class="col-sm-3">
                                                <label>ที่อยู่ </label>&nbsp;&nbsp;&nbsp;
                                                <label>เลขที่ </label>
                                                <input class="form-control" type="text" placeholder="เลขที่ " id="lblCustomCurrentAddressNo">
                                            </div>
                                            <div class="col-sm-6">
                                                <label>ชื่อสถานที่ </label>
                                                <input class="form-control" type="text" placeholder="ชื่อสถานที่" id="lblCustomCurrentAddressBuildingName">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>หมู่บ้าน </label>
                                                <input class="form-control" type="text" placeholder="หมู่บ้าน " id="lblCustomCurrentAddressVillageName">
                                            </div>

                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-3">
                                                <label>หมู่ </label>
                                                <input class="form-control" type="text" placeholder="หมู่" id="lblCustomCurrentAddressMoo">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>ชั้น </label>
                                                <input class="form-control" type="text" placeholder="ชั้น" id="lblCustomCurrentAddressFloor">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>ซอย </label>
                                                <input class="form-control" type="text" placeholder="ซอย " id="lblCustomCurrentAddressSoi">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>ถนน </label>
                                                <input class="form-control" type="text" placeholder="ถนน " id="lblCustomCurrentAddressRoad">
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-3">
                                                <label>ตำบล </label>
                                                <select class="form-control select2" style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlSubDistrictCurrent"></select>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>อำเภอ </label>
                                                <input class="form-control" type="text" placeholder="" id="txtDistrctCurrent" disabled>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>จังหวัด </label>
                                                <input class="form-control" type="text" placeholder="" id="txtProvinceCurrent" disabled>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>รหัสไปรษณีย์</label>
                                                <input class="form-control" type="text" placeholder="" id="txtZipCodeCurrent" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*@Html.Partial("~/Views/PartialView/_PDPAView.cshtml")*@


                        <div class="row" style="margin-top:1%">
                            <div class="col-sm-12">
                                <div class="box box-solid box-default" style="border-color:#04c8de">
                                    <div class="box-header " style="background-color:#04c8de">
                                        <label style="color:white"><i class="fa fa-file-text"></i> รายการเอกสาร</label>
                                    </div>
                                    <div class="box-body" style="margin-top:1px">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="dtDocument" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top:2.5%">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-2"><button id="btnSave" class="btn bg-olive btn-block" style="font-size:large">บันทึก</button></div>

                            <div class="col-sm-2"><button id="btnCancel" class="btn btn-danger btn-block" style="font-size:large">ยกเลิก</button></div>

                        </div>
                    </div>

                    <div class="tab-pane" id="CustomHistory">
                        <div class="box-body" style="margin-top:-10px">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="dtTransaction" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane " id="Insurance">
                        <!-- /.post -->
                        <div class="row" style="margin-top:1%">
                            <div class="col-sm-12">
                                <table id="dtInsurance" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane " id="Service">
                        <!-- /.post -->
                        <div class="row" style="margin-top:1%">
                            <div class="col-sm-12">
                                <table id="dtService" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                            </div>
                        </div>
                    </div>

                    <!--Transaction Detail Modal-->
                    <div class="modal fade bd-example-modal-lg" id="ModalTransactTionDetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <div class="modal-body justify-content-center">
                                    <table id="dtTransactionDetail" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                                </div>
                                <div class="modal-footer" style="text-align:center">
                                    <button type="button" class="btn btn-danger" style="width:80px" data-dismiss="modal">ปิด</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="hdfPersonId" value="@ViewBag.PersonId" />
</form>

@section ViewSpecificJavascript
{
    <script type="text/javascript">
        let tel ;
        let tel2 ;
        let tel3;

        var workSubDistrictId;
        var cardSubDistrictId;
        var workSubDistrictDetail;
        var cardSubDistrictDetail;
        var buildingNameWorkDetail;
        var buildingNameWorkId;

        $(function () {
            let isEdit = false;

            GetCustomerManagementContact();
            GetCustomerManagementInfo();
            GetCustomerManagementAddress(2);
            GetCustomerManagementAddress(3);
            GetCustomerManagementAddress(4);
            GetDucumentInsert();
            GetTransaction();
            DoLoadInsuranceTransactionById();
            DoLoadServiceTransactionById();

            //let personId = $('#hdfPersonId').val();
            //GetPDPADetail(personId);


            //------------------------------------ BrithDay ---------------------------------

            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

            var dateDefualt = {
                format: 'dd/mm/yyyy',
                autoclose: true,
                endDate: new Date(),
            }

            $('#dphCustomerBirthDate').datepicker(dateDefualt)



            //-----------------------------------------------------GetOrganize Search Work-----------------------------

            $("#ddlCustomWorkAddressBuildingName").select2({
               ajax: {
                        url: '@Url.Action("GetOrganizeBySubDistrictId", "CustomerManagement")',
                        dataType: 'json',
                        delay: 250,

                        data: function (params) {
                            return {
                                subDistrictId: $("#ddlSubDistrictWork").val(),
                                q: params.term, // search term
                                page: params.page
                            };
                        },
                       processResults: processBuildingNameWork,
                       cache: true
                     },
                    placeholder: 'ค้นหารายการ',
                    escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                    minimumInputLength: 3,

                    //templateResult: formatRepo,
                    templateSelection: formatBuildingNameWork,
                    selectOnClose: true,
                language: { inputTooShort: function () { return 'กรอกข้อมูลอย่างน้อย 3 ตัวอักษร'; } }

            });

            $('#ddlCustomWorkAddressBuildingName').change(function (e) {
                e.preventDefault();

                GetOrganizeDetailById();
            });

            //-----------------------------------------------------ProvinceDistrictSubDistrict-Card-----------------------------------------------------
              $("#ddlSubDistrict").select2({
               ajax: {
                        url: '@Url.Action("ProvinceDistrictSubDistrict", "Address")',
                        dataType: 'json',
                        delay: 250,

                        data: function (params) {
                            return {
                                q: params.term, // search term
                                page: params.page
                            };
                        },
                        processResults: processAddressData,
                        cache: true
                     },
                    placeholder: 'ค้นหารายการ',
                    escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                    minimumInputLength: 3,

                    //templateResult: formatRepo,
                    templateSelection: formatAddressRepoSelection,
                    selectOnClose: true,
                    language: { inputTooShort: function () { return 'กรอกข้อมูลอย่างน้อย 3 ตัวอักษร'; } }
             });

            $('#ddlSubDistrict').change(function (e) {
                e.preventDefault();

                GetProvinceDistrict();
            });

               //-----------------------------------------------------ProvinceDistrictSubDistrict-Current-----------------------------------------------------
            $("#ddlSubDistrictCurrent").select2({
               ajax: {
                        url: '@Url.Action("ProvinceDistrictSubDistrict", "Address")',
                        dataType: 'json',
                        delay: 250,

                        data: function (params) {
                            return {
                                q: params.term, // search term
                                page: params.page
                            };
                        },
                    processResults: processAddressDataCurrent,
                        cache: true
                     },
                    placeholder: 'ค้นหารายการ',
                    escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                    minimumInputLength: 3,

                    //templateResult: formatRepo,
                templateSelection: formatAddressRepoSelectionCurrent,
                    selectOnClose: true,
                    language: { inputTooShort: function () { return 'กรอกข้อมูลอย่างน้อย 3 ตัวอักษร'; } }
             });

            $('#ddlSubDistrictCurrent').change(function (e) {
                e.preventDefault();

                GetProvinceDistrictCurrent();
            });

               //-----------------------------------------------------ProvinceDistrictSubDistrict-Work-----------------------------------------------------
            $("#ddlSubDistrictWork").select2({
               ajax: {
                        url: '@Url.Action("ProvinceDistrictSubDistrict", "Address")',
                        dataType: 'json',
                        delay: 250,

                        data: function (params) {
                            return {
                                q: params.term, // search term
                                page: params.page
                            };
                        },
                    processResults: processAddressDataWork,
                        cache: true
                     },
                    placeholder: 'ค้นหารายการ',
                    escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                    minimumInputLength: 3,

                    //templateResult: formatRepo,
                templateSelection: formatAddressRepoSelectionWork,
                    selectOnClose: true,
                    language: { inputTooShort: function () { return 'กรอกข้อมูลอย่างน้อย 3 ตัวอักษร'; } }
             });

            $('#ddlSubDistrictWork').change(function (e) {
                e.preventDefault();

                GetProvinceDistrictWork();
            });

            $('#btnSave').click(function (e) {
                e.preventDefault();
                debugger;
                if (Isvalidate()) {
                    Confirm();
                }

            });

            $('#btnCancel').click(function (e) {
                e.preventDefault();
                window.close();

            });

            $('#btnCreateWorkplace').click(function (e) {
                e.preventDefault();
             let encode_id = window.btoa("CreateNew");
            view = `@Url.Action("WorkplaceEditAndCreate", "Workplace")?workplaceId=${encode_id}`;

            window.open(view, '_blank');

            });

            $('#btnWorkCard').click(function (e) {
                e.preventDefault();
                GetCardToWorkAddress();
                $('#btnWorkNew').attr('disabled', false);

                $('#btnWorkCard').css('background-color', '#afe0f0');
            });

            $('#btnCurrentCard').click(function (e) {
                e.preventDefault();
                GetCardToCurrentAddress();
                $('#btnCurrentNew').attr('disabled', false)

                $('#btnCurrentCard').css('background-color', '#afe0f0');
                $('#btnCurrentWork').css('background-color', '#f7f7f7');
            });

            $('#btnCurrentWork').click( function (e) {
                e.preventDefault();
                GetWorkToCurrentAddress();
                $('#btnCurrentNew').attr('disabled', false)

                $('#btnCurrentWork').css('background-color', '#afe0f0');
                $('#btnCurrentCard').css('background-color', '#f7f7f7');
            });

            $('#btnWorkNew').click( function (e) {
                e.preventDefault();
                 GetCustomerManagementAddress(4);
                $('#btnWorkNew').attr('disabled', true);

                $('#btnWorkCard').css('background-color', '#f7f7f7');
            });

            $('#btnCurrentNew').click( function (e) {
                e.preventDefault();
                GetCustomerManagementAddress(2);
                $('#btnCurrentNew').attr('disabled', true)

                $('#btnCurrentCard').css('background-color', '#f7f7f7');
                $('#btnCurrentWork').css('background-color', '#f7f7f7');
            });
        });

          //----------------------------------------------UPDATE----------------------------------------------------
        const Confirm = () => {
            //Do validation function first
            swal({
                title: "ยืนยัน",
                text: "ยืนยันการเปลี่ยนแปลงข้อมูลลูกค้า",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "ตกลง",
                cancelButtonText: "ยกเลิก",
                closeOnConfirm: false,
                closeOnCancel: true
            },
                function (isConfirm) {
                    if (isConfirm)
                    {
                            DoUpdate();

                    } else {
                        //swal("ยกเลิกทำรายการ", "", "error");
                    }
                }
            );
        }

         const DoUpdate = () => {

             var phone1;

             if ($('#lblCustomMobile').val() != '') {
                 phone1 = $('#lblCustomMobile').val().replaceAll("-", "");
             }
             debugger;
            $.ajax({
                type: "POST",
                url: "@Url.Action("DoUpdateNormalCustomer", "CustomerManagement")",
                data: {
                         personId: $('#hdfPersonId').val(),
                         titleId : $('#defaultCustomTitle').val(),
                         firstName : $('#lblCustomFirstName').val(),
                         lastName : $('#lblCustomLastName').val(),
                         identityCard : $('#lblCustomIdCard').val(),
                         passport : $('#lblCustomPassport').val(),
                         aliveStatusId : $('#defaultCustomAliveStatus').val(),
                         birthDate : $('#dphCustomerBirthDate').val(),
                         sexId : $('#defaultCustomSex').val(),
                         maritalStatusId : $('#defaultCustomMaritalStatus').val(),

                         bloodTypeId : $('#defaultCustomBloodType').val(),
                         weight : $('#lblCustomWeight').val(),
                         height : $('#lblCustomHeight').val(),
                         nationalityId : $('#defaultCustomNationality').val(),
                         raceId : $('#defaultCustomRace').val(),
                         religionId : $('#defaultCustomReligion').val(),
                         occupationLevelId : $('#ddlOccupationLevelDetail').val(),
                         salary : $('#lblCustomSalary').val(),
                         medicalConditions : $('#lblCustomMedicalConditions').val(),
                         disability : $('#lblCustomDisability').val(),

                         primaryPhone: phone1,
                         secondaryPhone: $('#lblCustomSecondaryPhone').val(),
                         otherPhone: $('#lblCustomOtherPhone').val(),
                         email : $('#lblCustomEmail').val(),
                         lineID : $('#lblCustomLineID').val(),
                         facebook : $('#lblCustomFacebook').val(),
                         twitterID: $('#lblCustomTwitterID').val(),
                         instagramID: $('#lblCustomInstagramID').val(),
                         youtubeID : $('#lblCustomYoutubeID').val(),

                         h_No : $('#lblCustomCardAddressNo').val(),
                         h_Moo : $('#lblCustomCardAddressMoo').val(),
                         h_VillageName : $('#lblCustomCardAddressVillageName').val(),
                         h_Floor : $('#lblCustomCardAddressFloor').val(),
                         h_Soi : $('#lblCustomCardAddressSoi').val(),
                         h_Road : $('#lblCustomCardAddressRoad').val(),
                         h_SubDistrictCode : $('#ddlSubDistrict').val(),
                         h_ZipCode : $('#txtZipCode').val(),

                         c_No : $('#lblCustomCurrentAddressNo').val(),
                         c_Moo : $('#lblCustomCurrentAddressMoo').val(),
                         c_VillageName: $('#lblCustomCurrentAddressVillageName').val(),
                         c_BuildingName: $('#lblCustomCurrentAddressBuildingName').val(),
                         c_Floor : $('#lblCustomCurrentAddressFloor').val(),
                         c_Soi : $('#lblCustomCurrentAddressSoi').val(),
                         c_Road : $('#lblCustomCurrentAddressRoad').val(),
                         c_SubDistrictCode : $('#ddlSubDistrictCurrent').val(),
                         c_ZipCode : $('#txtZipCodeCurrent').val(),

                         w_BuildingName: buildingNameWorkDetail,
                         w_No : $('#lblCustomWorkAddressNo').val(),
                         w_Moo : $('#lblCustomWorkAddressMoo').val(),
                         w_VillageName : $('#lblCustomWorkAddressVillageName').val(),
                         w_Floor : $('#lblCustomWorkAddressFloor').val(),
                         w_Soi : $('#lblCustomWorkAddressSoi').val(),
                         w_Road : $('#lblCustomWorkAddressRoad').val(),
                         w_SubDistrictCode : $('#ddlSubDistrictWork').val(),
                         w_ZipCode : $('#txtZipCodeWork').val()
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    debugger;
                    if (response.IsResult == true) {

                        swal({
                            title: "สำเร็จ",
                            text: "บันทึกข้อมูลสำเร็จ",
                            type: "success"
                        }, function () {
                                GetCustomerManagementContact();
                                GetCustomerManagementInfo();
                                GetCustomerManagementAddress(2);
                                GetCustomerManagementAddress(3);
                                GetCustomerManagementAddress(4);
                                GetDucumentInsert();
                                GetTransaction();
                        });

                    } else {
                        //alert Msg
                        swal("ตรวจสอบข้อมูล", response.Msg, "warning");
                    }

                },
                error: function (err) {
                    debugger;
                    alert(err);
                }
            });
         }
        function validateEmail(email) {
           const re = /^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
           return re.test(String(email).toLowerCase());
        }

        function ValidateThai(email) {
            const re = /^[a-zA-Z0-9$\s@@$!%*?&#^-_.+-/]+$/;
            return re.test(String(email).toLowerCase());
        }

        const Isvalidate = () => {
           
            if ($('#lblCustomFirstName').val() == "") {
                swal('ตรวจสอบ', 'กรุณากรอก ชื่อ', 'error');
                return false;
            }

            if ($('#lblCustomLastName').val() == "") {
                swal('ตรวจสอบ', 'กรุณากรอก นามสุกุล', 'error');
                return false;
            }

            if ($('#dphCustomerBirthDate').val() == "") {
                swal('ตรวจสอบ', 'กรุณาระบุ วันเกิด', 'error');
                return false;
            }

            var d_birthDate = moment($('#dphCustomerBirthDate').val())._i;
            let nowDateStr = moment(new Date()).add(543, 'years').format('DD/MM/YYYY HH:mm:ss');

            let arrNowDate = nowDateStr.split(" ");
            let arrNowDate2 = arrNowDate[0].split("/");

            let arrBirthDate = d_birthDate.split(" ");
            let arrBirthDate2 = arrBirthDate[0].split("/");

            let nowDate = new Date(parseInt(arrNowDate2[2]) - 543, parseInt(arrNowDate2[1]) - 1, parseInt(arrNowDate2[0]));
            let birthDate = new Date(parseInt(arrBirthDate2[2]) - 543, parseInt(arrBirthDate2[1]) - 1, parseInt(arrBirthDate2[0]));

          
            //Chk Datefrom > DateTime Now
            if (birthDate > nowDate) {
                swal("ตรวจสอบ", "กรุณาตรวจสอบ วันเกิดมากกว่าวันที่ปัจจุบัน", 'error');
                return false;
            }

            if (/^\d{1,2}\/\d{1,2}\/\d{4}$/.test($('#dphCustomerBirthDate').val()) == false) {
                swal("ตรวจสอบ", "กรุณาตรวจสอบ รูปแบบวันเกิดไม่ถูกต้อง", 'error');
                return false;
            }

            if ($('#lblCustomMobile').val() == "") {
                swal('ตรวจสอบ', 'กรุณากรอก เบอร์โทรศัพท์หลัก', 'error');
                return false;
            }
            else
            {
                tel = $('#lblCustomMobile').val();
                tel = tel.replace('-', '').replace('-', '').replace('_', '');
                let t = tel.length;
                if (t != 10) {
                    swal("ตรวจสอบข้อมูล", "กรุณาตรวจสอบ เบอร์โทรศัพท์หลัก ต้องให้ครบ 10 หลัก", "error");
                    return false;
                }
            }


            if ($('#lblCustomSecondaryPhone').val() !== "") {
                 if (!/^[0-9]+$/.test($('#lblCustomSecondaryPhone').val())) {
                    swal('ตรวจสอบ', 'เบอร์โทรศัพท์รอง ต้องเป็นตัวเลขเท่านั้น', 'error');
                    return false;
                }
            }

            if ($('#lblCustomOtherPhone').val() !== "") {
                if (!/^[0-9]+$/.test($('#lblCustomOtherPhone').val())) {
                    swal('ตรวจสอบ', 'เบอร์โทรศัพท์อื่นๆ ต้องเป็นตัวเลขเท่านั้น', 'error');
                    return false;
                }
            }


            let email = $('#lblCustomEmail').val();
            if (email != '') {
                if (validateEmail(email) === false || ValidateThai(email) === false) {
                    swal('ตรวจสอบ', 'กรุณาตรวจสอบ อีเมล', 'error');
                    return false;
                }
            }

            let salary = $('#lblCustomSalary').val();
            if (salary != '' && salary < 0 ) {
                    swal('ตรวจสอบ', 'กรุณาตรวจสอบ เงินเดือน', 'error');
                    return false;
            }
            return true;
        }

        const GetOccupationLevelDetail = (occupation_ID) => {

            $('#ddlOccupationLevelDetail').empty();
            $.ajax({
                type: "GET",
                url: "@Url.Action("OccupationLevelByOccupationID", "CustomerManagement")",
                data: {
                    occupation_ID: occupation_ID
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    for (var i = 0; i < response.length; i++) {
                        $("#ddlOccupationLevelDetail").append(`<option value="${response[i].OccupationLevel_ID}">${response[i].OccupationLevelDetail}</option>`);
                    }
                }
            });
        }
        const GetOccupationLevelRisk = (occupationLevel_ID) => {

            $('#lblCustomOccupationRisk').val('');
            $.ajax({
                type: "GET",
                url: "@Url.Action("OccupationRiskByOccupationLevelID", "CustomerManagement")",
                data: {
                    occupationLevel_ID: occupationLevel_ID
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    $('#lblCustomOccupationRisk').val(response.OccupationRisk);
                }
            });
        }

        const GetCustomerManagementContact = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCustomerContactById", "CustomerManagement")",
                data: {
                    personId: $('#hdfPersonId').val()
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    $('#lblCustomMobile').val(response.Mobile);
                    $('#lblCustomSecondaryPhone').val(response.SecondaryPhone);
                    $('#lblCustomOtherPhone').val(response.OtherPhone);
                    $('#lblCustomEmail').val(response.Email);
                    $('#lblCustomLineID').val(response.LineID);
                    $('#lblCustomFacebook').val(response.Facebook);
                    $('#lblCustomTwitterID').val(response.TwitterID);
                    $('#lblCustomInstagramID').val(response.InstagramID);
                    $('#lblCustomYoutubeID').val(response.YoutubeID);
                }
            });
        }

          const GetCustomerManagementInfo = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCustomerPersonById", "CustomerManagement")",
                data: {
                    personId: $('#hdfPersonId').val()
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    if (response.ActiveStats === true) {
                        $('#lblCustomActiveStatus').text('เป็นลูกค้า').css('color', 'green');
                    }
                    else if (response.ActiveStats === false) {
                        $('#lblCustomActiveStatus').text('ไม่เป็นลูกค้า').css('color', 'red');
                    }
                    else {
                        $('#lblCustomActiveStatus').text('กำลังตรวจสอบ').css("color", "orange");

                    }

                    if (response.Title=== null) {
                        $('#defaultCustomTitle').val(1).trigger('change.select2');

                    }
                    else {
                        $('#defaultCustomTitle').val(response.TitleId).trigger('change.select2');
                    }

                    $('#lblCustomFirstName').val(response.FirstName);
                    $('#lblCustomLastName').val(response.LastName);
                    $('#lblCustomIdCard').val(response.IdCard);
                    $('#lblCustomPassport').val(response.Passport);
                    //
                    if (response.AliveStatusId == null || response.AliveStatusId == '') {
                        $('#defaultCustomAliveStatus').val(1).trigger('change.select2');
                    } else {
                        $('#defaultCustomAliveStatus').val(response.AliveStatusId).trigger('change.select2');
                    }
                    //
                    if (response.BloodTypeId == null || response.BloodTypeId == '') {
                        $('#defaultCustomBloodType').val(1).trigger('change.select2');
                    } else {
                        $('#defaultCustomBloodType').val(response.BloodTypeId).trigger('change.select2');
                    }
                    //
                    if (response.NationalityId == null || response.NationalityId == '') {
                        $('#defaultCustomNationality').val(1).trigger('change.select2');
                    } else {
                        $('#defaultCustomNationality').val(response.NationalityId).trigger('change.select2');
                    }
                    //
                    if (response.RaceId == null || response.RaceId == '') {
                        $('#defaultCustomRace').val(1).trigger('change.select2');
                    } else {
                        $('#defaultCustomRace').val(response.RaceId).trigger('change.select2');
                    }
                    //
                    if (response.ReligionId == null || response.ReligionId == '') {
                            $('#defaultCustomReligion').val(1).trigger('change.select2');
                        } else {
                            $('#defaultCustomReligion').val(response.ReligionId).trigger('change.select2');
                        }
                    //
                    if (response.OccupationId == null || response.OccupationId == '') {
                            $('#defaultCustomOccupation').val(1).trigger('change.select2');
                        } else {

                            $('#defaultCustomOccupation').val(response.OccupationId).trigger('change.select2');
                    }
                    //
                    if (response.OccupationLevelId == null || response.OccupationLevelId == '') {
                        $('#ddlOccupationLevelDetail').val(1).trigger('change.select2');
                    } else {

                        $('#defaultCustomOccupationLevel').val(response.OccupationLevelId).trigger('change.select2');
                        $('#ddlOccupationLevelDetail').val(response.OccupationLevelId).trigger('change.select2');
                    }

                    //
                    if (response.BirthDate != null) {
                        let birthDateFormat = moment(response.BirthDate).format('DD/MM/YYYY', 'LLLL');
                        let arrBirthDate = birthDateFormat.split("/");
                        
                        let yearTh = parseInt(arrBirthDate[2]) + 543;
                        let useBirthDate = arrBirthDate[0] + "/" + arrBirthDate[1] + "/" + yearTh.toString()
                     
                        $('#dphCustomerBirthDate').datepicker({ language: 'th-th', format: "dd/mm/yyyy", autoclose: true, endDate: new Date() }).datepicker('update', useBirthDate);
                    }
                    //
                    if (response.SexId == null || response.SexId == '') {
                        $('#defaultCustomSex').val(1).trigger('change.select2');
                    }
                    else{
                        $('#defaultCustomSex').val(response.SexId).trigger('change.select2');
                    }
                    //
                    if (response.MaritalStatusId == null || response.MaritalStatusId == '') {
                        $('#defaultCustomMaritalStatus').val(1).trigger('change.select2');
                    }
                    else {
                        $('#defaultCustomMaritalStatus').val(response.MaritalStatusId).trigger('change.select2');
                    }



                    $('#lblCustomWeight').val(response.Weight);
                    $('#lblCustomHeight').val(response.Height);

                    $('#lblCustomNationality').text(response.Nationality);

                    GetOccupationLevelRisk(response.OccupationLevelId);

                    $('#lblCustomSalary').val(response.Salary);

                    $('#lblCustomMedicalConditions').val(response.MedicalConditions);
                    $('#lblCustomDisability').val(response.Disability);
                    $('#lblCustomPersonTypeDetail').text(response.PersonTypeDetail);

             /*       $('#lblCustomTitle').text(response.Disability);*/

                }
            });
        }

        const GetCustomerManagementAddress = (typeId) => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCustomerAddressById", "CustomerManagement")",
                data: {
                    personId: $('#hdfPersonId').val(),
                    addressTypeId: typeId
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    //---------------------------------------------------------------current
                    if (response.AddressType_ID === 2) {
                        if (response.SubDistrictDetail != null || response.SubDistrictDetail != "") {
                            var subDistrict = new Option(response.SubDistrictDetail, response.SubDistrict_ID, true, true);
                            $('#ddlSubDistrictCurrent').append(subDistrict).trigger('change').attr('disabled', false);
                        }

                        $('#lblCustomCurrentAddressNo').val(response.No).attr('disabled', false);
                        $('#lblCustomCurrentAddressVillageName').val(response.VillageName).attr('disabled', false);
                        $('#lblCustomCurrentAddressBuildingName').val(response.BuildingName).attr('disabled', false);
                        $('#lblCustomCurrentAddressMoo').val(response.Moo).attr('disabled', false);
                        $('#lblCustomCurrentAddressFloor').val(response.Floor).attr('disabled', false);
                        $('#lblCustomCurrentAddressSoi').val(response.Soi).attr('disabled', false);
                        $('#lblCustomCurrentAddressRoad').val(response.Road).attr('disabled', false);
                        $('#txtDistrctCurrent').val(response.DistrictDetail);
                        $('#txtProvinceCurrent').val(response.ProvinceDetail);
                        $('#txtZipCodeCurrent').val(response.ZipCode);
                    }
                    //---------------------------------------------------------------card
                    else if (response.AddressType_ID === 3) {
                        if (response.SubDistrictDetail != null || response.SubDistrictDetail != "") {
                            var subDistrict = new Option(response.SubDistrictDetail, response.SubDistrict_ID, true, true);
                            $('#ddlSubDistrict').append(subDistrict).trigger('change').attr('disabled', false);
                        }

                        cardSubDistrictId = response.SubDistrict_ID;
                        cardSubDistrictDetail = response.SubDistrictDetail
                        $('#txtDistrct').val(response.DistrictDetail);
                        $('#txtProvince').val(response.ProvinceDetail);
                        $('#txtZipCode').val(response.ZipCode);
                        $('#lblCustomCardAddressNo').val(response.No).attr('disabled', false);
                        $('#lblCustomCardAddressVillageName').val(response.VillageName).attr('disabled', false);
                        $('#lblCustomCardAddressMoo').val(response.Moo).attr('disabled', false);
                        $('#lblCustomCardAddressFloor').val(response.Floor).attr('disabled', false);
                        $('#lblCustomCardAddressSoi').val(response.Soi).attr('disabled', false);
                        $('#lblCustomCardAddressRoad').val(response.Road).attr('disabled', false);
                    }
                    //---------------------------------------------------------------work
                    else {
                        if (response.SubDistrictDetail != null || response.SubDistrictDetail != "") {
                            var subDistrict = new Option(response.SubDistrictDetail, response.SubDistrict_ID, true, true);
                            $('#ddlSubDistrictWork').append(subDistrict).trigger('change').attr('disabled', false);
                        }

                        $('#btnCreateWorkplace').attr('disabled', false);
                        workSubDistrictId = response.SubDistrict_ID;
                        workSubDistrictDetail = response.SubDistrictDetail;
                        $('#txtDistrctWork').val(response.DistrictDetail);
                        $('#txtProvinceWork').val(response.ProvinceDetail);
                        $('#txtZipCodeWork').val(response.ZipCode);
                        $('#lblCustomWorkAddressNo').val(response.No).attr('disabled', true);
                        $('#lblCustomWorkAddressVillageName').val(response.VillageName).attr('disabled', true);
                        $('#lblCustomWorkAddressMoo').val(response.Moo).attr('disabled', true);
                        $('#lblCustomWorkAddressFloor').val(response.Floor).attr('disabled', true);
                        $('#lblCustomWorkAddressSoi').val(response.Soi).attr('disabled', true);
                        $('#lblCustomWorkAddressRoad').val(response.Road).attr('disabled', true);

                        if (response.BuildingName != null || response.BuildingName != "") {
                            var buildingName = new Option(response.BuildingName, response.BuildingName, true, true);
                            $('#ddlCustomWorkAddressBuildingName').append(buildingName).trigger('change').attr('disabled', false);
                            buildingNameWorkDetail = response.BuildingName;
                        }

                    }
                }
            });
        }

        const GetDucumentInsert = () => {
               $.ajax({
                type: "POST",
                url: "@Url.Action("GetCustomerDocumentInsertById", "CustomerManagement")",
                data: {
                    personId : $('#hdfPersonId').val(),
                    documentTypeIdList : '35,36,37,38'
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    GetDucument();
                }
            });
        }


        //--------------------------* Data Table *-----------------------------------------

        const DoLoadInsuranceTransactionById = () => {
            $('#dtInsurance').empty();
            var t = $('#dtInsurance').dataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                searching: false,
                autoWidth: false,
                "order": [[0, "desc"]],
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetInsuranceTransactionById", "CustomerManagement")',
                    type: 'POST',
                    async: false,
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;
                        d.personId = $('#hdfPersonId').val();
                    }
                },
                columns: [
                    {
                        title: 'Application Code',
                        data: null,
                        className: 'h-dt-center d-dt-center ',
                        mRender: (data, type, full) => {
                            return '<a target="_blank" href="' + data.linkOpenDetail + '" >' + data.ApplicationCode + '</a>'
                             }, width: '25%'
                    },
                    { title: 'Paticipant Code', data: 'ParticipantCode', className: 'h-dt-center text-font-small', width: '20%' },
                    { title: 'Product', data: 'ProductTypeDetail', className: 'h-dt-center text-font-small', width: '20%' },
                    { title: 'ประเภทลูกค้า', data: 'CustomerType', className: 'h-dt-center text-font-small', width: '20%' },
                    {
                        title: 'วันที่สร้างรายการ', data: 'CreatedDate', className: 'h-dt-center text-center', width: '30%',
                        mRender: function (data) {
                            moment.locale('th');
                            return moment(data).add(543, 'years').format("DD/MM/YYYY HH:mm:ss", "LLLL");
                        }
                    }

                ],
                bLengthChange: false,
            });

        }

         const DoLoadServiceTransactionById = () => {
            $('#dtService').empty();
             var t = $('#dtService').dataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                searching: false,
                autoWidth: false,
                "order": [[0, "desc"]],
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetServiceTransactionById", "CustomerManagement")',
                    type: 'POST',
                    async: false,
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;
                        d.personId = $('#hdfPersonId').val();
                    }
                },
                columns: [
                    {
                        title: 'Application Code',
                        data: null,
                        className: 'h-dt-center d-dt-center ',
                        mRender: (data, type, full) => {
                                  return '<a class="text-black">' + data.ApplicationCode + '</a>'
                             }, width: '25%'
                    },
                    { title: 'ประเภทลูกค้า', data: 'CustomerType', className: 'h-dt-center text-font-small', width: '20%' },
                    {
                        title: 'วันที่สร้างรายการ', data: 'CreatedDate', className: 'h-dt-center text-center', width: '30%',
                        mRender: function (data) {
                            moment.locale('th');
                            return moment(data).add(543, 'years').format("DD/MM/YYYY HH:mm:ss", "LLLL");
                        }
                    }

                ],
                bLengthChange: false,
            });

        }

           const GetDucument = () => {
            $('#dtDocument').empty();
            var t = $('#dtDocument').dataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                searching: false,
                "order": [[0, "desc"]],
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetCustomerDocumentById", "CustomerManagement")',
                    type: 'POST',
                    async: false,
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.pageStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;

                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;

                        d.personId = $('#hdfPersonId').val();
                        d.documentTypeIdList = '35,36,37,38';
                    }
                },
                columns: [
                    { title: 'รหัสเอกสาร', data: 'DocumentCode', className: 'h-dt-center ', width: '8%' },
                    { title: 'ประเภทเอกสาร', data: 'DocumentType', className: 'h-dt-center ', width: '8%' },
                    {
                        title: 'เอกสาร',
                        data: null,
                        className: 'h-dt-center d-dt-center ',
                        mRender: (data, type, full) => {
                            return '<a target="_blank" type="button"  class="btn bg-teal "  href="' + data.UrlScan + '"> Scan</a> <a target="_blank" type="button"  class="btn bg-aqua "  href="' + data.UrlLinkOpen +'"> ดูเอกสาร</a>'
                        }, width: '5%'
                    },
                ],
                bLengthChange: false,
            });
        }

           const GetTransaction = () => {
            $('#dtTransaction').empty();
            var t = $('#dtTransaction').dataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                searching: false,
                "order": [[0, "desc"]],
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetTransaction", "CustomerManagement")',
                    type: 'POST',
                    async: false,
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.pageStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;

                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;

                        d.personId = $('#hdfPersonId').val();
                        d.documentTypeIdList = '35,36,37,38';
                    }
                },
                columns: [
                    {
                        title: 'วันที่ทำรายการ', data: 'CreatedDate', className: 'h-dt-center', width: '8%',
                        mRender: function (data) {
                            moment.locale('th');
                            return moment(data).add(543, 'years').format("DD/MM/YYYY HH:mm:ss", "LLLL");
                        }
                    },
                    { title: 'ผู้ทำรายการ', data: 'PersonName', className: 'h-dt-center text-font-small', width: '8%' },
                    { title: 'ประเภทรายการ', data: 'TransactionTypeDetail', className: 'h-dt-center text-font-small', width: '8%' },
                    {
                        title: 'รายละเอียด',
                        data: null,
                        className: 'h-dt-center d-dt-center ',
                        mRender: (data, type, full) => {
                            return '<a onclick="DoLoadTransactionDetail(\'' + data.TransactionId + '\')"  type="button"  class="btn btn-twitter btn-sm" > ดูรายละเอียด</a>'
                        }, width: '5%'
                    },
                ],
                bLengthChange: false,
            });
        }

          const DoLoadTransactionDetail = (TransactionId) => {
            $('#dtTransactionDetail').empty();
             var t = $('#dtTransactionDetail').dataTable({
                pageLength: 10,
                processing: true,
                 serverSide: true,
                 autoWidth: false,
                 responsive: true,
                destroy: true,
                searching:false,
                ajax: {
                    url: '@Url.Action("GetTransactionDetailById", "CustomerManagement")',

                    type: 'POST',
                    async: false,
                    data: function (d) {

                        d.personId = $('#hdfPersonId').val();
                        d.transactionId = TransactionId;
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.pageStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;

                    }
                },
                 columns: [
                     {title: 'รายการ', data: 'TransactionSubTypeDetail', className: 'h-dt-center text-font-small'},
                     { title: 'ข้อมูลเดิม', data: 'FromDetail', className: 'h-dt-center text-font-small'},
                     { title: 'ข้อมูลใหม่', data: 'ToDetail', className: 'h-dt-center text-font-small'}

                ],
                bLengthChange: false,
             });

            $('#ModalTransactTionDetail').modal('show');
        }
        //-------------------------------------------------Address Func-Card-------------------------------------------------

        const GetProvinceDistrict = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("ProvinceDistrictSubDistrict", "CustomerManagement")",
                data: {
                    subDistrictId: $(`#ddlSubDistrict`).val()
                },
                async:  false,
                dataType: "json",
                success: function (response) {
                  
                    cardSubDistrictId = response[0].SubDistrictId
                    cardSubDistrictDetail = response[0].SubDistrictDetail
                    $('#txtDistrct').val(response[0].DistrictDetail);
                    $('#txtProvince').val(response[0].ProvinceDetail);
                    $('#txtZipCode').val(response[0].ZipCode);

            }
        });
        }

        function processAddressData(data) {
            var mapdata = $.map(data, function (obj) {
                obj.id = obj.SubDistrictId;
                obj.text = `${obj.SubDistrictDetail} > ${obj.DistrictDetail} > ${obj.ProvinceDetail} > ${obj.ZipCode}`;
                return obj;
            });
            return { results: mapdata };
        }

        function formatAddressRepoSelection(repo) {
            return repo.SubDistrictDetail || repo.text;
        }

          //-------------------------------------------------Address Func-Current-------------------------------------------------

        const GetProvinceDistrictCurrent = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("ProvinceDistrictSubDistrict", "CustomerManagement")",
                data: {
                    subDistrictId: $(`#ddlSubDistrictCurrent`).val()
                },
                async:  false,
                dataType: "json",
                success: function (response) {
                    $('#txtDistrctCurrent').val(response[0].DistrictDetail);
                    $('#txtProvinceCurrent').val(response[0].ProvinceDetail);
                    $('#txtZipCodeCurrent').val(response[0].ZipCode);

            }
        });
        }

        function processAddressDataCurrent(data) {
            var mapdata = $.map(data, function (obj) {
                obj.id = obj.SubDistrictId;
                obj.text = `${obj.SubDistrictDetail} > ${obj.DistrictDetail} > ${obj.ProvinceDetail} > ${obj.ZipCode}`;
                return obj;
            });
            return { results: mapdata };
        }

        function formatAddressRepoSelectionCurrent(repo) {
            return repo.SubDistrictDetail || repo.text;
        }

         //-------------------------------------------------Address Func-Work-------------------------------------------------

        const GetProvinceDistrictWork = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("ProvinceDistrictSubDistrict", "CustomerManagement")",
                data: {
                    subDistrictId: $(`#ddlSubDistrictWork`).val()
                },
                async:  false,
                dataType: "json",
                success: function (response) {
                    workSubDistrictId = response[0].SubDistrictId
                    workSubDistrictDetail = response[0].SubDistrictDetail
                    $('#txtDistrctWork').val(response[0].DistrictDetail);
                    $('#txtProvinceWork').val(response[0].ProvinceDetail);
                    $('#txtZipCodeWork').val(response[0].ZipCode);

                    //Clear address
                    $('#lblCustomWorkAddressNo').val("")
                    $('#lblCustomWorkAddressVillageName').val("")
                    $('#lblCustomWorkAddressMoo').val("")
                    $('#lblCustomWorkAddressFloor').val("")
                    $('#lblCustomWorkAddressRoad').val("")
                    $('#lblCustomWorkAddressSoi').val("")
                    $('#ddlCustomWorkAddressBuildingName').val("").trigger('change.select2')
                    buildingNameWorkDetail = "";

            }
        });
        }

        function processAddressDataWork(data) {
            var mapdata = $.map(data, function (obj) {
                obj.id = obj.SubDistrictId;
                obj.text = `${obj.SubDistrictDetail} > ${obj.DistrictDetail} > ${obj.ProvinceDetail} > ${obj.ZipCode}`;
                return obj;
            });
            return { results: mapdata };
        }

        function formatAddressRepoSelectionWork(repo) {
            return repo.SubDistrictDetail || repo.text;
        }

         //------------------------------------------------- BuidingName -Work -------------------------------------------------

        const GetOrganizeDetailById = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetOrganizeDetailById", "Workplace")",
                data: {
                    organizeId: $('#ddlCustomWorkAddressBuildingName').val()
                },
                async:  false,
                dataType: "json",
                success: function (response) {
                    buildingNameWorkDetail = response.OrganizeDetail
                    buildingNameWorkId = response.Organize_ID
                    $('#lblCustomWorkAddressNo').val(response.No)
                    $('#lblCustomWorkAddressVillageName').val(response.VillageName)
                    $('#lblCustomWorkAddressMoo').val(response.Moo)
                    $('#lblCustomWorkAddressFloor').val(response.Floor)
                    $('#lblCustomWorkAddressSoi').val(response.Soi)
                    $('#lblCustomWorkAddressRoad').val(response.Road)

            }
        });
        }

        function processBuildingNameWork(data) {
            var mapdata = $.map(data, function (obj) {
                obj.id = obj.Organize_ID;
                obj.text = `${obj.OrganizeDetail}`;
                return obj;
            });
            return { results: mapdata };
        }

        function formatBuildingNameWork(repo) {
            return repo.OrganizeDetail || repo.text;
        }

        //-----------------------------------------------Address Copy----------------------------------------------


        function GetCardToWorkAddress() {

            var subDistrict = new Option(cardSubDistrictDetail, cardSubDistrictId, true, true);
            $('#ddlSubDistrictWork').append(subDistrict).trigger('change').attr('disabled', true)

            $('#lblCustomWorkAddressNo').val($('#lblCustomCardAddressNo').val()).attr('disabled', true)
            $('#lblCustomWorkAddressVillageName').val($('#lblCustomCardAddressVillageName').val()).attr('disabled', true)
            $('#lblCustomWorkAddressMoo').val($('#lblCustomCardAddressMoo').val()).attr('disabled', true)
            $('#lblCustomWorkAddressFloor').val($('#lblCustomCardAddressFloor').val()).attr('disabled', true)
            $('#lblCustomWorkAddressSoi').val($('#lblCustomCardAddressSoi').val()).attr('disabled', true)
            $('#lblCustomWorkAddressRoad').val($('#lblCustomCardAddressRoad').val()).attr('disabled', true);
            $('#ddlCustomWorkAddressBuildingName').val("").trigger('change.select2').attr('disabled', true);
            buildingNameWorkDetail = "";
            $('#txtDistrctWork').val($('#txtDistrct').val());
            $('#txtProvinceWork').val($('#txtProvince').val());
            $('#txtZipCodeWork').val($('#txtZipCode').val());

            $('#btnCreateWorkplace').attr('disabled', true);
        }

        function GetCardToCurrentAddress() {

            var subDistrict = new Option(cardSubDistrictDetail, cardSubDistrictId, true, true);
            $('#ddlSubDistrictCurrent').append(subDistrict).trigger('change').attr('disabled', true)

            $('#lblCustomCurrentAddressNo').val($('#lblCustomCardAddressNo').val()).attr('disabled', true)
            $('#lblCustomCurrentAddressVillageName').val($('#lblCustomCardAddressVillageName').val()).attr('disabled', true)
            $('#lblCustomCurrentAddressMoo').val($('#lblCustomCardAddressMoo').val()).attr('disabled', true)
            $('#lblCustomCurrentAddressFloor').val($('#lblCustomCardAddressFloor').val()).attr('disabled', true)
            $('#lblCustomCurrentAddressSoi').val($('#lblCustomCardAddressSoi').val()).attr('disabled', true)
            $('#lblCustomCurrentAddressRoad').val($('#lblCustomCardAddressRoad').val()).attr('disabled', true);
            $('#lblCustomCurrentAddressBuildingName').val("").attr('disabled', true);
            $('#txtDistrctCurrent').val($('#txtDistrct').val());
            $('#txtProvinceCurrent').val($('#txtProvince').val());
            $('#txtZipCodeCurrent').val($('#txtZipCode').val());

        }

        function GetWorkToCurrentAddress() {

            var subDistrict = new Option(workSubDistrictDetail, workSubDistrictId, true, true);
            $('#ddlSubDistrictCurrent').append(subDistrict).trigger('change').attr('disabled', true)

            $('#lblCustomCurrentAddressNo').val($('#lblCustomWorkAddressNo').val()).attr('disabled', true)
            $('#lblCustomCurrentAddressVillageName').val($('#lblCustomWorkAddressVillageName').val()).attr('disabled', true)
            $('#lblCustomCurrentAddressMoo').val($('#lblCustomWorkAddressMoo').val()).attr('disabled', true)
            $('#lblCustomCurrentAddressFloor').val($('#lblCustomWorkAddressFloor').val()).attr('disabled', true)
            $('#lblCustomCurrentAddressSoi').val($('#lblCustomWorkAddressSoi').val()).attr('disabled', true)
            $('#lblCustomCurrentAddressRoad').val($('#lblCustomWorkAddressRoad').val()).attr('disabled', true);
            $('#lblCustomCurrentAddressBuildingName').val(buildingNameWorkDetail).attr('disabled', true);
            $('#txtDistrctCurrent').val($('#txtDistrctWork').val());
            $('#txtProvinceCurrent').val($('#txtProvinceWork').val());
            $('#txtZipCodeCurrent').val($('#txtZipCodeWork').val());

        }



    </script>
}