
@{
    ViewBag.Title = "CustomerID :" + @ViewBag.PersonId;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form class="form-horizontal">
    <div class="row" style="margin-top:1px">
        <div class="col-sm-12">
            <div class="nav-tabs-custom">
                <br />
                <div class="row " style="margin-left:0.1%">
                    <div class="col-md-10 "><span> ประเภทลูกค้า : </span><span id="personTypeDetail"></span></div>
                    <div class="col-md-2 "><span>สถานะลูกค้า : </span><span id="activeStats"></span></></div>
                </div>
                <ul class="nav nav-tabs" style="margin-top:8px">
                    <li class="active"><a href="#NavCusInfo" data-toggle="tab" aria-expanded="true" data_id="2"><h5>ข้อมูลลูกค้า</h5></a></li>
                    <li class=""><a href="#NavCusHistory" data-toggle="tab" aria-expanded="false" data_id="3"><h5>ประวัติการทำรายการ</h5></a></li>
                </ul>
                <div class="tab-content">


                    <!---ข้อมูลลูกค้า-->
                    <div class="tab-pane active" id="NavCusInfo">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box box-solid box-info">
                                    <div class="box-header">
                                        <label><i class="fa fa-user"></i> ข้อมูลส่วนตัว</label>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-chevron-down"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="margin-top:1px">
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-2"><b>ชื่อหน่วยงาน<a class="text-red">*</a> :</b></div>
                                            <div class="col-sm-10"><span id="organize"></span></div>

                                        </div>
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-2"><b>สาขา :</b></div>
                                            <div class="col-sm-4"><span id="organizeBranchType"></span></div>

                                            <div class="col-sm-2"><b>รหัสสาขา :</b></div>
                                            <div class="col-sm-4"><span id="organizeBranchRefCode"></span></div>

                                        </div>
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-2"><b>เลขประจำตัวผู้เสีย<br />ภาษีอากร :</b></div>
                                            <div class="col-sm-4"><span id="taxId"></span></div>

                                            <div class="col-sm-2"><b>รหัสสถานศึกษา :</b></div>
                                            <div class="col-sm-4"><span id="organizeId"></span></div>

                                        </div>
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-2"><b>ประเภทองค์กร<a class="text-red">*</a> :</b></div>
                                            <div class="col-sm-4"><span id="organizeGroup"></span></div>

                                            <div class="col-sm-2"><b>ประเภทธุรกิจ :</b></div>
                                            <div class="col-sm-4"><span id="organizeType"></span></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box box-solid box-primary">
                                    <div class="box-header">
                                        <label><i class="fa fa-phone"></i> ข้อมูลการติดต่อ</label>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-chevron-down"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="margin-top:1px">
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-2"> <b>เบอร์โทรศัพท์หลัก<a class="text-red">*</a> :</b></div>
                                            <div class="col-sm-2"><span id="primaryPhone"></span></div>

                                            <div class="col-sm-2"><b>เบอร์โทรศัพท์รอง :</b></div>
                                            <div class="col-sm-2"><span id="secondaryPhone"></span></div>

                                            <div class="col-sm-2"><b>เบอร์โทรศัพท์อื่นๆ :</b></div>
                                            <div class="col-sm-2"><span id="otherPhone"></span></div>
                                        </div>

                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-2"><b>Email :</b></div>
                                            <div class="col-sm-2"><span id="email"></span></div>

                                            <div class="col-sm-2"><b>ID Line :</b></div>
                                            <div class="col-sm-2"><span id="lineID"></span></div>

                                            <div class="col-sm-2"><b>ID Facebook :</b></div>
                                            <div class="col-sm-2"><span id="facebook"></span></div>
                                        </div>

                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-2"><b>ID Twitter :</b></div>
                                            <div class="col-sm-2"><span id="twitterID"></span></div>

                                            <div class="col-sm-2"><b>ID Instagram :</b></div>
                                            <div class="col-sm-2"><span id="instagramID"></span></div>

                                            <div class="col-sm-2"><b>ID Youtube :</b></div>
                                            <div class="col-sm-2"><span id="youtubeID"></span></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box box-solid box-success">
                                    <div class="box-header">
                                        <label><i class="fa fa-institution"></i> ที่ตั้ง</label>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-chevron-down"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="margin-top:1px">
                                        <div class="row" style="margin-top:1%">

                                            <div class="col-sm-1"><b>ที่อยู่ </b></div>
                                            <div class="col-sm-1"><b>เลขที่ :</b></div>
                                            <div class="col-sm-2"><span id="no"></span></div>
                                            <div class="col-sm-1"><b>หมู่ :</b></div>
                                            <div class="col-sm-1"><span id="moo"></span></div>

                                            <div class="col-sm-1"><b>หมู่บ้าน :</b></div>
                                            <div class="col-sm-2"><span id="villageName"></span></div>
                                            <div class="col-sm-2"><b>ชั้น :</b></div>
                                            <div class="col-sm-1"><span id="floor"></span></div>


                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-1"></div>
                                            
                                           
                                            <div class="col-sm-1"><b>ซอย :</b></div>
                                            <div class="col-sm-2"><span id="soi"></span></div>
                                            <div class="col-sm-1"><b>ถนน :</b></div>
                                            <div class="col-sm-7"><span id="road"></span></div>

                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-1"><b>ตำบล :</b></div>
                                            <div class="col-sm-1"><span id="subDistrictDetail"></span></div>

                                            <div class="col-sm-1"><b>อำเภอ :</b></div>
                                            <div class="col-sm-2"><span id="districtDetail"></span></div>

                                            <div class="col-sm-1"> <b>จังหวัด :</b></div>
                                            <div class="col-sm-2"><span id="provinceDetail"></span></div>

                                            <div class="col-sm-2"> <b>รหัสไปรษณีย์ :</b></div>
                                            <div class="col-sm-1"><span id="zipCode"></span></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box box-solid box-warning">
                                    <div class="box-header ">
                                        <label><i class="fa fa-file-text"></i> รายการเอกสาร</label>

                                    </div>
                                    <div class="box-body" style="margin-top:1px">
                                        <div class="">
                                            <table id="dtDocument" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--ประวัติรายการ-->
                    <div class="tab-pane" id="NavCusHistory">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="">
                                    <table id="dtTransaction" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Transaction Detail Modal-->
    <div class="modal fade bd-example-modal-lg" id="ModalTransactTionDetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-body justify-content-center">
                    <table id="dtTransactionDetail" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                </div>
                <div class="modal-footer" style="text-align:center">
                    <button type="button" class="btn btn-danger" style="width:80px" data-dismiss="modal">ปิด</button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="personId" value="@ViewBag.PersonId" />
</form>


@section ViewSpecificJavascript
{
    <script type="text/javascript">


        $(function () {

            GetCustomerPerson();
            GetCustomerContact();
            GetCustomerAddress();
            DoLoadDocument();
            DoLoadTransaction();
        });

        //Load data to datatable

        const GetCustomerContact = () => {

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCustomerContactById", "CustomerManagement")",
                data: {
                    personId: $('#personId').val()
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    $('#email').text(response.Email);
                    $('#facebook').text(response.Facebook);
                    $('#fax').text(response.Fax);
                    $('#instagramId').text(response.InstagramID);
                    $('#lineId').text(response.Line);
                    $('#mobile').text(response.Mobile);
                    $('#otherPhone').text(response.OtherPhone);
                    $('#primaryPhone').text(response.PrimaryPhone);
                    $('#secondaryPhone').text(response.SecondaryPhone);
                    $('#email').text(response.Email);
                    $('#twitterID').text(response.TwitterID);
                    $('#youtubeID').text(response.YoutubeID);
                }
            });
        }
        const GetCustomerAddress = () => {
            var addressTypeId = 2;
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCustomerAddressById", "CustomerManagement")",
                data: {
                    personId: $('#personId').val(),
                    addressTypeId
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    $('#no').text(response.No);
                    $('#villageName').text(response.VillageName);
                    $('#moo').text(response.Moo);
                    $('#floor').text(response.Floor);
                    $('#soi').text(response.Soi);
                    $('#road').text(response.Road);
                    $('#addressDetail1').text(response.AddressDetail1);
                    $('#addressDetail2').text(response.AddressDetail2);
                    $('#districtDetail').text(response.DistrictDetail);
                    $('#provinceDetail').text(response.ProvinceDetail);
                    $('#subDistrictDetail').text(response.SubDistrictDetail);
                    $('#zipCode').text(response.ZipCode);
                }
            });
        }
        const GetCustomerPerson = () => {
                $.ajax({
                type: "GET",
                url: "@Url.Action("GetCustomerPersonById", "CustomerManagement")",
                data: {
                    personId: $('#personId').val()
                },
                dataType: "json",
                async: false,
                success: function (response) {

                    switch (response.ActiveStats) {
                        case null:
                            $('#activeStats').text("กำลังตรวจสอบ").css("color", "orange");
                            break;
                        case true:
                            $('#activeStats').text("เป็นลูกค้า").css("color", "green");
                            break;
                        case false:
                            $('#activeStats').text("ไม่เป็นลูกค้า").css("color", "red");
                    }
                    $('#personTypeDetail').text(response.PersonTypeDetail);
                    $('#organize').text(response.Organize);
                    $('#organizeBranchRefCode').text(response.OrganizeBranchRefCode);
                    $('#organizeBranchType').text(response.OrganizeBranchType);
                    $('#organizeGroup').text(response.OrganizeGroup);
                    $('#organizeId').text(response.OrganizeId);
                    $('#organizeType').text(response.OrganizeType);
                    $('#taxId').text(response.TaxId);
                }
                });
        }

        const DoLoadDocument = () => {
            $('#dtDocument').empty();
                var t = $('#dtDocument').dataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                "order": [[0, "desc"]],
                searching:false,
                ajax: {
                    url: '@Url.Action("GetCustomerDocumentById", "CustomerManagement")',

                    type: 'POST',
                    async: false,
                    data: function (d) {

                        d.PersonId = $('#personId').val();
                        d.documentTypeIdList = "39,40,41";
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.pageStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;

                    }
                },
                columns: [
                    { title: 'รหัสเอกสาร', data: 'DocumentCode', className: 'h-dt-center text-font-small' },
                    { title: 'ประเภทเอกสาร', data: 'DocumentType', className: 'h-dt-center text-font-small' },
                    {
                        title: 'ดูเอกสาร',
                        className: 'h-dt-center',
                        data: 'UrlLinkOpen',
                        width: '30%',
                        mRender: (data, type, full) => {
                            return '<div class="btn- text-center">' +
                                '<button target="_blank" onclick="OpenLink(\'' + data +'\')" type="button" class="btn bg-aqua " style="width:"10px">ดูเอกสาร</button>'
                                    '</div >';
                        }
                    }
                ],
                bLengthChange: false,
            });
        }

         const OpenLink = (link) => {
            let view = link;
            var url = view
            window.open(url, '_blank');

        }

         const DoLoadTransaction = () => {
            $('#dtTransaction').empty();
             var t = $('#dtTransaction').dataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                "order": [[0, "desc"]],
                searching:false,
                ajax: {
                    url: '@Url.Action("GetTransaction", "CustomerManagement")',

                    type: 'POST',
                    async: false,
                    data: function (d) {

                        d.PersonId = $('#personId').val();
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.pageStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;

                    }
                },
                 columns: [
                     {
                         title: 'วันที่ทำรายการ', data: 'CreatedDate', className: 'h-dt-center', width: '8%',
                         mRender: function (data) {
                             moment.locale('th');
                             return moment(data).add(543, 'years').format("DD/MM/YYYY HH:mm:ss", "LLLL");
                         }
                     },

                     { title: 'ผู้ทำรายการ', data: 'PersonName', className: 'h-dt-center text-font-small' },
                     { title: 'ประเภทรายการ', data: 'TransactionTypeDetail', className: 'h-dt-center text-font-small' },

                    {
                        title: 'ดูรายละเอียด',
                        className: 'h-dt-center',
                        data: 'TransactionId',
                        width: '30%',
                        mRender: (data, type, full) => {
                            return '<div class="btn- text-center">' +
                                '<button onclick="DoLoadTransactionDetail(\'' + data +'\')" type="button" class="btn btn-twitter btn-sm " style="width:"7px">ดูรายละเอียด</button>'
                                    '</div >';
                        }
                    }
                ],
                bLengthChange: false,
            });
        }

        const DoLoadTransactionDetail = (TransactionId) => {
            $('#dtTransactionDetail').empty();
             var t = $('#dtTransactionDetail').dataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                searching:false,
                ajax: {
                    url: '@Url.Action("GetTransactionDetailById", "CustomerManagement")',

                    type: 'POST',
                    async: false,
                    data: function (d) {

                        d.PersonId = $('#personId').val();
                        d.transactionId = TransactionId;
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.pageStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;

                    }
                },
                 columns: [
                     {title: 'รายการ', data: 'TransactionSubTypeDetail', className: 'h-dt-center text-font-small'},
                     { title: 'ข้อมูลเดิม', data: 'FromDetail', className: 'h-dt-center text-font-small'},
                     { title: 'ข้อมูลใหม่', data: 'ToDetail', className: 'h-dt-center text-font-small'}

                ],
                bLengthChange: false,
             });


            $('#ModalTransactTionDetail').modal('show');
        }




    </script>
}

