@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/rating-star/star-rating.css" media="all"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.3/css/star-rating.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pridi" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet">
    @*<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">*@

    <style>
        body {
            font-family: 'Pridi', serif;
        }

        .menu {
            text-align: center;
            background-color: #00ADEF;
            cursor: pointer;
            color: white;
            height: 70px;
            border: 1px white solid;
        }

        #sales {
            background-color: #80D6F9;
        }

        .menu > label {
            padding-top: 10px;
            font-size: 30px;
        }

        #profile {
            height: 200px;
            padding: 20px 20px 20px 20px;
            background-color: #EBF4FD;
        }

        #image {
            width: 160px;
            background-color: white;
            display: table-cell;
        }

        #imgprofile {
            padding: 20px;
            width: 100%;
        }

        #detail {
            vertical-align: top;
            display: table-cell;
            font-size: 20px;
            padding: 16px 16px 16px 40px;
        }

        /* td > label{
            padding-left: 30px;
            font-size: 16px;
            font-weight: normal;
        } */

        #performance {
            font-size: 20px;
            font-weight: bold;
        }

        #dcr {
            font-size: 20px;
            text-align: right;
        }

        #row3 {
            height: 60px;
            padding-top: 18px;
        }

        #dcr-month {
            width: 180px;
            display: table-cell;
        }

        #row4 {
            height: 100px;
            background-color: #00ADEF;
        }

        #imagemenu {
            text-align: center;
        }

            #imagemenu > img {
                display: inline-block;
                width: 90px;
                margin: 5px 0px 5px 5px;
            }

        img {
            display: inline-block;
            width: 90px;
            margin: 5px 0px 5px 5px;
        }

        #grading {
            background-color: #1C5078;
            color: white;
            height: 40px;
            display: table-cell;
            font-size: 20px;
            padding-top: 5px;
            font-weight: bold;
        }

        #rating {
            width: 100%;
            text-align: center;
        }

        #star {
            width: 10px;
        }

        #tablegrade {
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }

        .trgrade > td {
            padding: 10px;
        }

        .parameter {
            color: #1A4F7A;
            font-weight: bold;
            font-size: 20px;
        }

        .grade {
            font-weight: bold;
        }

        #icon {
            height: 100%;
            width: 100%;
            margin-top: 5px;
        }

            #icon > table > tbody > tr > td {
                padding-left: 27px;
            }

        .img-icon {
            width: 80px;
            display: table-cell;
            /* margin-left: 26px; */
            margin-left: 0px;
        }

        .icon-menu {
            height: 100%;
            /* display: inline-block; */
            display: table-cell;
            position: static;
            vertical-align: middle;
        }

        .icon-noti {
            display: table-cell;
            position: relative;
            right: 26px;
        }

        .badge {
            font-size: 23px;
            position: relative;
            top: -84px;
            left: 27px;
            background-color: red;
        }

        #error-text {
            text-align: center;
            position: absolute;
            top: 402px;
            left: 45.5%;
            font-size: 25px;
        }

        #modal-icondetail > div > div {
            width: 48em;
            right: 35px;
        }

        .modal-header {
            background-color: #06b6f9;
        }

        #datatable1 > thead > tr > th {
            background-color: lightskyblue;
        }

        .chart {
            /*border: 1px solid black;*/
            margin-top: 22px;
            background-color: #ebfafa;
        }

        /*#dcr1 {
                    margin: 54px 0px;
                }

                #dcr2 {
                    margin: 73px 0px;
                }

                #dcr3 {
                    margin: 17px 0px;
                }

                #dcr4 {
                    margin: 95px 0px 0px 0px;
                }*/

        #dcr1 {
            margin: 10px 0px 0px 0px;
        }

        #dcr2 {
            margin: 10px 0px 0px 0px;
        }

        #dcr3 {
            margin: 10px 0px 0px 0px;
        }

        #dcr4 {
            margin: 10px 0px 0px 0px;
        }

        table {
            text-align: center;
        }

        th {
            text-align: center;
        }

        .graphname-label {
            font-size: 20px;
            /*margin-left: 20px;*/
        }

        .dateupdate-label {
            /*margin-left: 55px;*/
            font-size: 17px;
            margin-top: 3px;
            color: gray;
        }

        .headgraph-table {
            background-color: #00ADEF;
        }

        #tableRanking > thead > tr:nth-child(1) > td:nth-child(1) {
            background-color: #FFFF88;
        }

        #tableRanking > thead > tr:nth-child(1) > td:nth-child(2) {
            background-color: #FFBE7D;
        }

        #tableRanking > thead > tr:nth-child(1) > td:nth-child(3) {
            background-color: #f27d60;
        }

        #tableRanking > tbody > tr:nth-child(1) > td:nth-child(1) {
            background-color: #ffff887a;
            border-top: none;
        }

        #tableRanking > tbody > tr:nth-child(1) > td:nth-child(2) {
            background-color: #ffbe7d73;
            border-top: none;
        }

        #tableRanking > tbody > tr:nth-child(1) > td:nth-child(3) {
            background-color: #f27d6066;
            border-top: none;
        }

        #tableRanking > tbody > tr:nth-child(1) {
            border: 0px;
        }

        /*#dcr1 > table > thead > tr > th:nth-child(1){
            background-color: #80D6F9;
        }*/

        .table-detail {
            margin-top: 20px;
        }

        .table-head {
            background-color: #80D6F9;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div id="row1" class="row">
            <div id="sales" class="col-xs-4 menu">
                <label>นักขาย</label>
            </div>
            <div id="teams" class="col-xs-4 menu">
                <label>ทีม</label>
            </div>
            <div id="branch" class="col-xs-4 menu">
                <label>สาขา</label>
            </div>
        </div>
        <div id="row3" class="row">
            <div id="performance" class="col-xs-2">
                Performance
            </div>
            <div id="dcr" class="col-xs-10">
                DCR :
                <select id="dcr-month" class="form-control"></select>
            </div>
        </div>
        <div id="row4" class="row">
            <div class="col-xs-12">
                <table id="icon">
                    <tr>
                        <td class="" align="center">
                            <div class="icon-menu">
                                <img id="icon1" src="~/Content/Image/PH.png" class="img-responsive img-icon" alt="Image">
                                <span id="badge-PH" class="badge">0</span>
                            </div>
                        </td>
                        <td align="center">
                            <div class="icon-menu">
                                <img id="icon2" src="~/Content/Image/PL.png" class="img-responsive img-icon" alt="Image">
                                <span id="badge-PL" class="badge">0</span>
                            </div>
                        </td>
                        <td align="center">
                            <div class="icon-menu">
                                <img id="icon3" src="~/Content/Image/HO.png" class="img-responsive img-icon" alt="Image">
                                <span id="badge-H" class="badge">0</span>
                            </div>
                        </td>
                        <td align="center">
                            <div class="icon-menu">
                                <img id="icon4" src="~/Content/Image/MO.png" class="img-responsive img-icon" alt="Image">
                                <span id="b-test" class="badge">0</span>
                            </div>
                            <!-- <td align="center"></td> -->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="row5" class="row chart">
            <div>
                <table class="headgraph-table" style="width:100%">
                    <tr>
                        <td style="width:50%">
                            <label class="graphname-label">New Application</label>
                        </td>
                        <td>
                            <label class="dateupdate-label">Last Update : </label><label id="updateNewApp" class="dateupdate-label" style="margin-left:5px;"></label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-9">

                <canvas id="canvas"></canvas>
            </div>
            <div class="col-xs-3">
                <div>
                    <div id="dcr1">
                        DCR :
                        <select id="dcr-month2" class="form-control"></select>

                        <table class="table table-detail">
                            <thead class="table-head">
                                <tr>
                                    <th>Product</th>
                                    <th>จำนวน New Application</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="row6" class="row chart">
            <div>
                <table class="headgraph-table" style="width:100%">
                    <tr>
                        <td style="width:50%">
                            <label class="graphname-label">Growth</label>
                        </td>
                        <td>
                            <label class="dateupdate-label">Last Update  : </label><label id="updateGrowth" class="dateupdate-label" style="margin-left:5px;"></label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-9">
                <div>
                    <!-- <canvas id="chart-area2" /> -->
                    <canvas id="canvas2"></canvas>
                </div>
            </div>
            <div class="col-xs-3">
                <div>
                    <div id="dcr2">
                        DCR :
                        <select id="dcr-month3" class="form-control"></select>

                        <table class="table table-detail">
                            <thead class="table-head">
                                <tr>
                                    <th>Growth</th>
                                    <th>จำนวน</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="row7" class="row chart">
            <div>
                <table class="headgraph-table" style="width:100%">
                    <tr>
                        <td style="width:50%">
                            <label class="graphname-label">Rank</label>
                        </td>
                        <td>
                            <label class="dateupdate-label">Last Update  : </label><label id="updateRank" class="dateupdate-label" style="margin-left:5px;"></label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-9">
                <div class="col-xs-5 col-xs-offset-7" style="margin-top: 16px;">
                    <select name="" id="filterRank" class="form-control" required="required">
                        @*<option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>*@
                    </select>
                </div>

                <table id="tableRanking" class="table" style="margin-top: 99px; font-size: 22px;">
                    <!-- <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead> -->
                    <!-- <tbody>
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                    </tbody> -->
                </table>

                <!-- <canvas id="chart-area2" /> -->
                <!-- <canvas id="canvas3"></canvas> -->
            </div>
            <div class="col-xs-3">
                <div>
                    <div id="dcr3">
                        DCR :
                        <select id="dcr-month4" class="form-control"></select>

                        <table class="table table-detail">
                            <thead class="table-head">
                                <tr>
                                    <th>Ranking</th>
                                    <th>อันดับ</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="row8" class="row chart">
            <div>
                <table class="headgraph-table" style="width:100%">
                    <tr>
                        <td style="width:50%">
                            <label class="graphname-label">Point ตามรอบ DCR</label>
                        </td>
                        <td>
                            <label class="dateupdate-label">Last Update  : </label><label id="updatePoint" class="dateupdate-label" style="margin-left:5px;"></label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-9">
                <div class="col-xs-12">
                    <div>
                        <!-- <canvas id="canvas"></canvas> -->
                        <canvas id="canvas3"></canvas>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div>
                        <!-- <canvas id="canvas"></canvas> -->
                        <canvas id="canvas4"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div>
                    <div id="dcr4">
                        DCR :
                        <select id="dcr-month5" class="form-control"></select>

                        <table class="table table-detail">
                            <thead class="table-head">
                                <tr>
                                    <th>ประเภทแต้ม</th>
                                    <th>Point</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div style="text-align: center; font-size: 20px;">

                        <label>Point คงเหลือ </label>
                        <label id="pointBalance">123456</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div id="row5" class="row">
                <div id="grading" class="col-xs-6">
                    Performance Grading
                </div>
                <div class="col-xs-6">
                    <table id="rating">
                        <tr>
                            <td>Claim Score</td>
                        </tr>
                        <tr>
                            <td>
                                <input id="star" value="3" class="rating-loading">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table id="tablegrade" class="table table-responsive table-bordered"></table>
                </div>
            </div>
            <div>
                <label id="error-text"> ไม่พบข้อมูล </label>
            </div> -->
    </div>

    <div class="modal fade" id="modal-icondetail" align="center">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">New App</h4>
                </div>
                <div class="modal-body">
                    <table id="datatable1" class="table table-bordered table-striped"></table>
                    <!-- <table id="example" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Extn.</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </thead>
                        </table> -->
                </div>
                <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div> -->
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script src="/rating-star/star-rating.js"></script> -->
</body>

@section scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.3/js/star-rating.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>

    @*<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>*@

    <script>

        var refId;
        var teamId;
        var branchId;
        var group;
        var table;
        var config1, config2, config3, config4;
        var lstConfig;

        var myDoughnut1, myDoughnut2, myDoughnut3, myHorizontalBar;

        $(function () {

            getDCR2();

            var refIdRcv = getParameterByName('empID');

            group = 1;
            refId = refIdRcv;

            //------------------------------------------------------------
            getDCR();

            var dcrValue = getValueDCR();

            drawTable(group, refIdRcv, refId, teamId, branchId, dcrValue);
            //-------------------------------------------------------------

            //getDataNewAppForTable('1', '00055', $('#dcr-month2').val());
            //getDataGrowthForTable('1', '00055', $('#dcr-month3').val());
            //getDataRankForTable('', '00055', $('#dcr-month4').val(), '');
            //getDataPointByPeriodForTable('00014', $('#dcr-month5').val());

            getDataNewAppForTable('1', refIdRcv, $('#dcr-month2').val());
            getDataGrowthForTable('1', refIdRcv, $('#dcr-month3').val());
            getDataRankForTable('1', refIdRcv, $('#dcr-month4').val(), '');
            getDataPointByPeriodForTable(refIdRcv, $('#dcr-month5').val());

            //--------------------------------------------------
            lstConfig = [];

            config1 = getDataNewAppForGraph('1', refIdRcv, '');
            lstConfig.push(config1);
            config2 = getDataGrowthForGraph('1', refIdRcv, '');
            lstConfig.push(config2);
            getDataRankForGraph('1', refIdRcv, '', $('#filterRank').val());
            //var config3 = getDataRankForGraph('','00055','','');
            //lstConfig.push(config3);
            config3 = getDataPointByPeriodForGraph(refIdRcv, $('#dcr-month5').val())[0];
            lstConfig.push(config3);
            config4 = getDataPointByPeriodForGraph(refIdRcv, $('#dcr-month5').val())[1];
            lstConfig.push(config4);

            loadChart(lstConfig);

            //-------------------------------------

            //getDataPointBalance();

            //---------------Chart-----------------
            // drawChart();
            //-------------------------------------

            //$('#star').rating({ displayOnly: true, size: 'xs' });

            //getDCR(refIdRcv, refId, dcrValue);

            ////------------------------------------------------------------
            //getDCR();

            //var dcrValue = getValueDCR();

            //drawTable(group, refIdRcv, refId, teamId, branchId, dcrValue);
            ////-------------------------------------------------------------

            $('#sales').click(function (e) {
                $('#sales').css("background-color", "#80D6F9");
                $('#teams,#branch').css("background-color", "#00ADEF");

                $('#row7').show();
                $('#row8').show();

                refId = refIdRcv;
                group = 1;

                getDataNewAppForTable(group, refIdRcv, $('#dcr-month2').val());
                getDataGrowthForTable(group, refIdRcv, $('#dcr-month3').val());

                myDoughnut1.destroy();
                myDoughnut2.destroy();
                myDoughnut3.destroy();
                myHorizontalBar.destroy()

                lstConfig = [];
                config1 = getDataNewAppForGraph(group, refIdRcv, '');
                lstConfig.push(config1);
                config2 = getDataGrowthForGraph(group, refIdRcv, '');
                lstConfig.push(config2);
                config3 = getDataPointByPeriodForGraph(refIdRcv, $('#dcr-month5').val())[0];
                lstConfig.push(config3);
                config4 = getDataPointByPeriodForGraph(refIdRcv, $('#dcr-month5').val())[1];
                lstConfig.push(config4);

                loadChart(lstConfig);
                //$('#tablegrade').empty();
                drawTable(group, refId, refIdRcv, teamId, branchId, getValueDCR());
            });

            $('#teams').click(function (e) {
                $('#teams').css("background-color", "#80D6F9");
                $('#sales,#branch').css("background-color", "#00ADEF");

                $('#row7').hide();
                $('#row8').hide();

                refId = teamId;
                group = 2;

                getDataNewAppForTable(group, refIdRcv, $('#dcr-month2').val());
                getDataGrowthForTable(group, refIdRcv, $('#dcr-month3').val());

                myDoughnut1.destroy();
                myDoughnut2.destroy();
                myDoughnut3.destroy();
                myHorizontalBar.destroy();

                lstConfig = [];
                config1 = getDataNewAppForGraph(group, refIdRcv, '');
                lstConfig.push(config1);
                config2 = getDataGrowthForGraph(group, refIdRcv, '');
                lstConfig.push(config2);

                loadChart(lstConfig);
                //$('#tablegrade').empty();
                drawTable(group, refId, refIdRcv, teamId, branchId, getValueDCR());
            });

            $('#branch').click(function (e) {
                $('#branch').css("background-color", "#80D6F9");
                $('#sales,#teams').css("background-color", "#00ADEF");

                $('#row7').hide();
                $('#row8').hide();

                refId = branchId;
                group = 3;

                getDataNewAppForTable(group, refIdRcv, $('#dcr-month2').val());
                getDataGrowthForTable(group, refIdRcv, $('#dcr-month3').val());

                myDoughnut1.destroy();
                myDoughnut2.destroy();
                myDoughnut3.destroy();
                myHorizontalBar.destroy();

                lstConfig = [];
                config1 = getDataNewAppForGraph(group, refIdRcv, '');
                lstConfig.push(config1);
                config2 = getDataGrowthForGraph(group, refIdRcv, '');
                lstConfig.push(config2);

                loadChart(lstConfig);
                //$('#tablegrade').empty();
                drawTable(group, refId, refIdRcv, teamId, branchId, getValueDCR());
            });

            $('#dcr-month').change(function (e) {
                var dcrValuechange = getValueDCR();
                getData(group, refId, refIdRcv, teamId, branchId, dcrValuechange);

            });

            $('#dcr-month2').change(function (e) {
                getDataNewAppForTable('1', refIdRcv, $('#dcr-month2').val());
            });

            $('#dcr-month3').change(function (e) {
                getDataGrowthForTable('1', refIdRcv, $('#dcr-month3').val());
            });

            $('#dcr-month4').change(function (e) {
                //getDataRankForTable('1', refIdRcv, $('#dcr-month4').val(), '');
                getDataRankForGraph('1', refIdRcv, '', $('#filterRank').val());
            });

            $('#dcr-month5').change(function (e) {
                getDataPointByPeriodForTable(refIdRcv, $('#dcr-month5').val());
            });

            $('#filterRank').change(function (e) {
                getDataRankForGraph('1', refIdRcv, '', $('#filterRank').val())
            });

            $('#icon1').click(function (e) {

                if ($('#badge-PH').text() != '0') {
                    getIconDetail("1000", refId, getValueDCR())
                    $('#modal-icondetail').modal('show');
                }
            });

            $('#icon2').click(function (e) {
                if ($('#badge-PL').text() != '0') {
                    getIconDetail("3000", refId, getValueDCR())
                    $('#modal-icondetail').modal('show');
                }
            });

            $('#icon3').click(function (e) {
                if ($('#badge-H').text() != '0') {
                    getIconDetail("4000", refId, getValueDCR())
                    $('#modal-icondetail').modal('show');
                }
            });

        });

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        function getDCR() {
            $.ajax({
                type: "GET",
                //url: "@ViewBag.APIUrlFirstPage1/api/parameters/ScheduleDCR",
                url: "@ViewBag.APIUrlFirstPage1/api/parameters/ScheduleDCR",
                async: false,
                success: function (response) {
                    for (var i = 0; i < response.length; i++) {
                        var dcrValue = response[i].id;
                        var dateDcr = response[i].monthlyProductDCR.split("T");
                        var date = dateDcr[0].split("-");

                        var year = parseInt(date[0]) + 543;
                        var month = date[1];

                        switch (month) {
                            case '01': $('#dcr-month').append("<option value=" + dcrValue + ">มกราคม " + year + "</option>")
                                break;
                            case '02': $('#dcr-month').append("<option value=" + dcrValue + ">กุมภาพันธ์ " + year + "</option>")
                                break;
                            case '03': $('#dcr-month').append("<option value=" + dcrValue + ">มีนาคม " + year + "</option>")
                                break;
                            case '04': $('#dcr-month').append("<option value=" + dcrValue + ">เมษายน " + year + "</option>")
                                break;
                            case '05': $('#dcr-month').append("<option value=" + dcrValue + ">พฤษภาคม " + year + "</option>")
                                break;
                            case '06': $('#dcr-month').append("<option value=" + dcrValue + ">มิถุนายน " + year + "</option>")
                                break;
                            case '07': $('#dcr-month').append("<option value=" + dcrValue + ">กรกฎาคม " + year + "</option>")
                                break;
                            case '08': $('#dcr-month').append("<option value=" + dcrValue + ">สิงหาคม " + year + "</option>")
                                break;
                            case '09': $('#dcr-month').append("<option value=" + dcrValue + ">กันยายน " + year + "</option>")
                                break;
                            case '10': $('#dcr-month').append("<option value=" + dcrValue + ">ตุลาคม " + year + "</option>")
                                break;
                            case '11': $('#dcr-month').append("<option value=" + dcrValue + ">พฤศจิกายน " + year + "</option>")
                                break;
                            case '12': $('#dcr-month').append("<option value=" + dcrValue + ">ธันวาคม " + year + "</option>")
                                break;
                        }
                    }

                    //drawTable(group, refIdRcv, refId, teamId, branchId, dcrValue);
                }
            });
        }

        function getDCR2() {
            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlFirstPage1/MasterFilter?filterTypeId=27",
                async: false,
                success: function (response) {
                    for (var i = 0; i < response.length; i++) {

                        var arrDisplay = response[i].display.split(' ');

                        var year = parseInt(arrDisplay[1]) + 543;

                        $('#dcr-month2, #dcr-month3, #dcr-month4, #dcr-month5').append("<option value=" + response[i].value + ">" + arrDisplay[0] + ' ' + year + "</option>")

                        if (i == 0) {
                            $('#updatePoint').text(arrDisplay[0] + ' ' + year);
                        }

                    }
                }
            });
        }

        function drawTable(group, refIdUse, refIdCheck, teamIdCheck, branchIdCheck, dcrValue) {
            if (group == 1 && refIdUse == refIdCheck) {

                getData(group, refIdUse, refIdCheck, teamIdCheck, branchIdCheck, dcrValue);

            } else if (group == 2 && refIdUse == teamIdCheck) {

                getData(group, refIdUse, refIdCheck, teamIdCheck, branchIdCheck, dcrValue);

            } else if (group == 3 && refIdUse == branchIdCheck) {

                getData(group, refIdUse, refIdCheck, teamIdCheck, branchIdCheck, dcrValue);

            }
        }

        function getData(group, refIdUse, refIdCheck, teamIdCheck, branchIdCheck, dcrValue) {

            var valueList = { parameterId: [], value: [], valueString: [] };

            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlFirstPage1/api/parameters/ParameterValue?scheduleId=" + $('#dcr-month').val() + "&referenceId=" + refIdUse,
                success: function (response) {

                    getCountIcon_PH(refIdUse, 1000, dcrValue);
                    getCountIcon_PL(refIdUse, 3000, dcrValue);
                    getCountIcon_H(refIdUse, 4000, dcrValue);

                }
            });
        }

        function getValueDCR() {

            var arrDCR;

            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlFirstPage1/api/parameters/ScheduleDCRID?id=" + $('#dcr-month').val(),
                //url: "@ViewBag.APIUrlFirstPage1/api/parameters/ScheduleDCRID?id=" + $('#dcr-month').val(),
                async: false,
                success: function (response) {

                    var dcr = response[0].monthlyProductDCR;

                    arrDCR = dcr.split("T");
                }
            });

            return arrDCR[0];
        }

        function getCountIcon_PH(refIdUse, productGroupID, dcrValue) {
            $.ajax({
                type: "GET",
                url: "http://49.231.178.249:9683/MobileApi/Applications/NewAppDCRByProductGroup?empCode=" + refIdUse + "&dcr=" + dcrValue + "&productGroupId=" + productGroupID,
                async: false,
                success: function (response) {

                    $('#badge-PH').text(response.data.length);
                }
            });
        }

        function getCountIcon_PL(refIdUse, productGroupID, dcrValue) {
            $.ajax({
                type: "GET",
                url: "http://49.231.178.249:9683/MobileApi/Applications/NewAppDCRByProductGroup?empCode=" + refIdUse + "&dcr=" + dcrValue + "&productGroupId=" + productGroupID,
                async: false,
                success: function (response) {

                    $('#badge-PL').text(response.data.length);
                }
            });
        }

        function getCountIcon_H(refIdUse, productGroupID, dcrValue) {
            $.ajax({
                type: "GET",
                url: "http://49.231.178.249:9683/MobileApi/Applications/NewAppDCRByProductGroup?empCode=" + refIdUse + "&dcr=" + dcrValue + "&productGroupId=" + productGroupID,
                async: false,
                success: function (response) {

                    $('#badge-H').text(response.data.length);

                }
            });
        }

        function getIconDetail(productGroupID, refIdRcv, dcrValue) {

            $('#datatable1').DataTable({
                "lengthChange": false,
                pageLength: 10,
                processing: true,
                serverSide: true,
                destroy: true,
                ajax: {
                    url: "http://49.231.178.249:9683/MobileApi/Applications/NewAppDCRByProductGroup?empCode=" + refIdRcv + "&dcr=" + dcrValue + "&productGroupId=" + productGroupID,
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;
                    }
                },
                columns: [
                    { title: 'App ID', data: 'app_id' },
                    { title: 'Customer Name', data: 'customerName' },
                    { title: 'Payer Name', data: 'payerName' },
                    { title: 'Product', data: 'product' },
                    { title: 'Status', data: 'status' },
                    { title: 'Total Count', data: 'totalCount' },
                    { title: 'UWD Status', data: 'udwStatus' }
                ]
            });
        }

        function getDataNewAppForTable(typeCode, empCode, filterType) {
            var lstNameNewapp = [];
            var lstTotalNewapp = [];

            var chkData = 0;

            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlFirstPage1/api/parameters/ApplicationValue?typeCode=" + typeCode + "&empCode=" + empCode + "&filterType=" + filterType,
                async: false,
                success: function (response) {

                    $('#dcr1 > table > tbody').empty();

                    for (var i = 0; i < response.length; i++) {

                        if (i == 0) {
                            $('#dcr1 > table').empty();
                            $('#dcr1 > table').append(
                                '<thead class="table-head">' +
                                '<tr>' +
                                '<th>Product</th>' +
                                '<th>จำนวน New Application</th>' +
                                '</tr>' +
                                '</thead>' +
                                '<tbody>' +
                                '</tbody>'
                            );
                        }

                        if (response[i].newApp != 0) {

                            chkData = response[i].newApp;

                            $('#dcr1 > table > tbody').append(
                                '<tr>' +
                                '<td>' + response[i].productGroup + '</td>' +
                                '<td>' + response[i].newApp + '</td>' +
                                '</tr>'
                            );
                        }
                    }

                    if (chkData == 0) {

                        $('#dcr1 > table').empty();
                        $('#dcr1 > table').append(
                            '<thead class="table-head">' +
                            '<tr>' +
                            '<th style="width:50%;">Product</th>' +
                            '<th style="width:50%;">จำนวน New Application</th>' +
                            '</tr>' +
                            '</thead>' +
                            '<tbody>' +
                            '<tr style="text-align:center;">' +
                            '<td colspan="2">ไม่พบข้อมูล</td>' +
                            '</tr>' +
                            '</tbody>'
                        );
                    }
                }
            });
        }

        function getDataGrowthForTable(typeCode, empCode, filterType) {
            var lstNameGrowth = [];
            var lstTotalGrowth = [];

            var chkData = 0;

            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlFirstPage1/api/parameters/ApplicationValue?typeCode=" + typeCode + "&empCode=" + empCode + "&filterType=" + filterType,
                async: false,
                success: function (response) {

                    $('#dcr2 > table > tbody').empty();

                    for (var i = 0; i < response.length; i++) {

                        if (i == 0) {
                            $('#dcr2 > table').empty();
                            $('#dcr2 > table').append(
                                '<thead class="table-head">' +
                                '<tr>' +
                                '<th>Growth</th>' +
                                '<th>จำนวน</th>' +
                                '</tr>' +
                                '</thead>' +
                                '<tbody>' +
                                '</tbody>'
                            );
                        }

                        if (response[i].growth != 0) {

                            chkData = response[i].growth;

                            $('#dcr2 > table > tbody').append(
                                '<tr>' +
                                '<td>' + response[i].productGroup + '</td>' +
                                '<td>' + response[i].growth + '</td>' +
                                '</tr>'
                            )
                        }
                    }

                    if (chkData == 0) {

                        $('#dcr2 > table').empty();
                        $('#dcr2 > table').append(
                            '<thead class="table-head">' +
                            '<tr>' +
                            '<th style="width:50%;">Growth</th>' +
                            '<th style="width:50%;">จำนวน</th>' +
                            '</tr>' +
                            '</thead>' +
                            '<tbody>' +
                            '<tr style="text-align:center;">' +
                            '<td colspan="2">ไม่พบข้อมูล</td>' +
                            '</tr>' +
                            '</tbody>'
                        );
                    }
                }
            });
        }

        function getDataRankForTable(typeCode, empCode, filterType, rankId) {
            var lstNameRank = [];
            var lstRank = [];

            var chkData = 0;

            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlFirstPage1/api/parameters/RankingValue?typeCode=" + typeCode + "&empCode=" + empCode + "&filterType=" + filterType + "&rankId=" + rankId,
                async: false,
                success: function (response) {
                    $('#dcr3 > table > tbody').empty();
                    $('#filterRank').empty();

                    for (var i = 0; i < response.length; i++) {

                        if (i == 0) {
                            $('#dcr3 > table').empty();
                            $('#dcr3 > table').append(
                                '<thead class="table-head">' +
                                '<tr>' +
                                '<th>Ranking</th>' +
                                '<th>อันดับ</th>' +
                                '</tr>' +
                                '</thead>' +
                                '<tbody>' +

                                '</tbody>'
                            );
                        }

                        if (response[i].rankingNo != 0) {

                            chkData = response[i].rankingNo;

                            $('#dcr3 > table > tbody').append(
                                '<tr>' +
                                '<td>' + response[i].ranking + '</td>' +
                                '<td>' + response[i].rankingNo + '</td>' +
                                '</tr>'
                            )

                            $('#filterRank').append(
                                '<option value="' + response[i].rankingId + '">' + response[i].ranking + '</option>'
                            )
                        }
                    }

                    if (chkData == 0) {

                        $('#dcr3 > table').empty();
                        $('#dcr3 > table').append(
                            '<thead class="table-head">' +
                            '<tr>' +
                            '<th>Ranking</th>' +
                            '<th>อันดับ</th>' +
                            '</tr>' +
                            '</thead>' +
                            '<tbody>' +
                            '<tr style="text-align:center;">' +
                            '<td colspan="2">ไม่พบข้อมูล</td>' +
                            '</tr>' +
                            '</tbody>'
                        );

                        $('#filterRank').append(
                                '<option value="">ไม่พบข้อมูล</option>'
                            )
                    }
                }
            });
        }

        function getDataPointByPeriodForTable(empCode, filterType) {
            var lstNamePoint = [];
            var lstTotalPoint = [];

            var chkData = 0;

            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlFirstPage1/api/parameters/PointBalanceByPeriod?empCode=" + empCode + "&filterType=" + filterType,
                async: false,
                success: function (response) {

                    $('#dcr4 > table > tbody').empty();

                    for (var i = 0; i < response.length; i++) {

                        if (i == 0) {
                            $('#dcr4 > table').empty();
                            $('#dcr4 > table').append(
                                '<thead class="table-head">' +
                                '<tr>' +
                                '<th>ประเภทแต้ม</th>' +
                                '<th>Point</th>' +
                                '</tr>' +
                                '</thead>' +
                                '<tbody>' +

                                '</tbody>'
                            );
                        }

                        if (response[i].pointValue != 0) {

                            chkData = response[i].pointValue;

                            if (response[i].multiplier == 1) {
                                $('#dcr4 > table > tbody').append(
                                    '<tr>' +
                                    '<td style="background-color:#B9E3AE;">' + response[i].point + '</td>' +
                                    '<td style="background-color:#b9e3aead;">' + response[i].pointValue * response[i].multiplier + '</td>' +
                                    '</tr>'
                                )
                            } else {
                                $('#dcr4 > table > tbody').append(
                                '<tr>' +
                                '<td style="background-color:#FF9797;">' + response[i].point + '</td>' +
                                '<td style="background-color:#ff979775;">' + response[i].pointValue * response[i].multiplier + '</td>' +
                                '</tr>'
                            )
                            }

                        }
                    }

                    if (chkData == 0) {
                        $('#dcr4 > table').empty();
                        $('#dcr4 > table').append(
                            '<thead class="table-head">' +
                            '<tr>' +
                            '<th>ประเภทแต้ม</th>' +
                            '<th>Point</th>' +
                            '</tr>' +
                            '</thead>' +
                            '<tbody>' +
                            '<tr style="text-align:center;">' +
                            '<td colspan="2">ไม่พบข้อมูล</td>' +
                            '</tr>' +
                            '</tbody>'
                        );
                    }

                    getDataPointBalance(empCode, filterType);
                }
            });
        }

        function getDataPointBalance(empCode, filterType) {
            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlFirstPage1/api/parameters/PointBalance?empCode=" + empCode + "&filterType=" + filterType,
                async: false,
                success: function (response) {
                    if (response.length != 0) {
                        $('#pointBalance').text(response[0].pointBalance);
                    }

                }
            });
        }

        function getDataNewAppForGraph(typeCode, empCode, filterType) {

            var lstTotalNewapp = [];
            var lstPeriod = [];
            var lstEditPeriod = [];
            var lstNameNewapp = [];
            var config;

            var nameTeamBranch;

            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlFirstPage1/api/parameters/ApplicationValue?typeCode=" + typeCode + "&empCode=" + empCode + "&filterType=",
                async: false,
                success: function (response) {
                    for (var i = 0; i < response.length; i++) {

                        var chkPeriod = response[i].period.split('T');
                        var chkNameNewapp = response[i].productGroup;

                        if (lstPeriod.length == 0) {

                            lstPeriod.push(chkPeriod[0]);

                            var year;
                            var month;

                            var editPeriodArr = chkPeriod[0].split('-');

                            year = parseInt(editPeriodArr[0]) + 543;

                            switch (editPeriodArr[1]) {

                                case '01': month = 'มกราคม'
                                    break;
                                case '02': month = 'กุมภาพันธ์'
                                    break;
                                case '03': month = 'มีนาคม'
                                    break;
                                case '04': month = 'เมษายน'
                                    break;
                                case '05': month = 'พฤษภาคม'
                                    break;
                                case '06': month = 'มิถุนายน'
                                    break;
                                case '07': month = 'กรกฎาคม'
                                    break;
                                case '08': month = 'สิงหาคม'
                                    break;
                                case '09': month = 'กันยายน'
                                    break;
                                case '10': month = 'ตุลาคม'
                                    break;
                                case '11': month = 'พฤศจิกายน'
                                    break;
                                case '12': month = 'ธันวาคม'
                                    break;
                            }

                            var editPeriod = month + ' ' + year;

                            lstEditPeriod.push(editPeriod);

                        } else {
                            var countData = 0;
                            var editPeriod;

                            for (var ii = 0; ii < lstPeriod.length; ii++) {
                                if (chkPeriod[0] == lstPeriod[ii]) {
                                    countData++;
                                }

                                if (countData > 0) {
                                    break;
                                }
                            }

                            if (countData == 0) {
                                lstPeriod.push(chkPeriod[0]);

                                var year;
                                var month;

                                var editPeriodArr = chkPeriod[0].split('-');

                                year = parseInt(editPeriodArr[0]) + 543;

                                switch (editPeriodArr[1]) {

                                    case '01': month = 'มกราคม'
                                        break;
                                    case '02': month = 'กุมภาพันธ์'
                                        break;
                                    case '03': month = 'มีนาคม'
                                        break;
                                    case '04': month = 'เมษายน'
                                        break;
                                    case '05': month = 'พฤษภาคม'
                                        break;
                                    case '06': month = 'มิถุนายน'
                                        break;
                                    case '07': month = 'กรกฎาคม'
                                        break;
                                    case '08': month = 'สิงหาคม'
                                        break;
                                    case '09': month = 'กันยายน'
                                        break;
                                    case '10': month = 'ตุลาคม'
                                        break;
                                    case '11': month = 'พฤศจิกายน'
                                        break;
                                    case '12': month = 'ธันวาคม'
                                        break;
                                }

                                editPeriod = month + ' ' + year;
                                lstEditPeriod.push(editPeriod);

                            }

                            if (i == response.length - 1) {
                                $('#updateNewApp').text(editPeriod);
                            }
                        }

                        if (lstNameNewapp.length == 0) {
                            lstNameNewapp.push(chkNameNewapp);
                        } else {
                            var countData = 0;

                            for (var jj = 0; jj < lstNameNewapp.length; jj++) {
                                if (chkNameNewapp == lstNameNewapp[jj]) {
                                    countData++;
                                }

                                if (countData > 0) {
                                    break;
                                }
                            }

                            if (countData == 0) {
                                lstNameNewapp.push(chkNameNewapp);
                            }
                        }

                        if (typeCode == 2 || typeCode == 3) {
                            if (response[i].valueString != null) {
                                nameTeamBranch = response[i].valueString;
                            }
                        }
                    }

                    for (var j = 0; j < lstNameNewapp.length; j++) {
                        var lstNewapp = [];
                        for (var jj = 0; jj < response.length; jj++) {
                            if (lstNameNewapp[j] == response[jj].productGroup) {
                                lstNewapp.push(response[jj].newApp);
                            }
                        }

                        lstTotalNewapp.push(lstNewapp);
                    }

                    config = drawNewAppGraph(lstEditPeriod, lstNameNewapp, lstTotalNewapp, typeCode, nameTeamBranch);
                }
            });

            return config;
        }

        function getDataGrowthForGraph(typeCode, empCode, filterType) {
            var lstTotalGrowth = [];
            var lstPeriod = [];
            var lstEditPeriod = [];
            var lstNameGrowth = [];
            var config;

            var nameTeamBranch;

            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlFirstPage1/api/parameters/ApplicationValue?typeCode=" + typeCode + "&empCode=" + empCode + "&filterType=" + filterType,
                async: false,
                success: function (response) {
                    for (var i = 0; i < response.length; i++) {

                        var chkPeriod = response[i].period.split('T');
                        var chkNameGrowth = response[i].productGroup;

                        if (lstPeriod.length == 0) {
                            lstPeriod.push(chkPeriod[0]);

                            var year;
                            var month;

                            var editPeriodArr = chkPeriod[0].split('-');

                            year = parseInt(editPeriodArr[0]) + 543;

                            switch (editPeriodArr[1]) {

                                case '01': month = 'มกราคม'
                                    break;
                                case '02': month = 'กุมภาพันธ์'
                                    break;
                                case '03': month = 'มีนาคม'
                                    break;
                                case '04': month = 'เมษายน'
                                    break;
                                case '05': month = 'พฤษภาคม'
                                    break;
                                case '06': month = 'มิถุนายน'
                                    break;
                                case '07': month = 'กรกฎาคม'
                                    break;
                                case '08': month = 'สิงหาคม'
                                    break;
                                case '09': month = 'กันยายน'
                                    break;
                                case '10': month = 'ตุลาคม'
                                    break;
                                case '11': month = 'พฤศจิกายน'
                                    break;
                                case '12': month = 'ธันวาคม'
                                    break;
                            }

                            var editPeriod = month + ' ' + year;

                            lstEditPeriod.push(editPeriod);
                        } else {
                            var countData = 0;
                            var editPeriod;

                            for (var ii = 0; ii < lstPeriod.length; ii++) {
                                if (chkPeriod[0] == lstPeriod[ii]) {
                                    countData++;
                                }

                                if (countData > 0) {
                                    break;
                                }
                            }

                            if (countData == 0) {
                                lstPeriod.push(chkPeriod[0]);

                                var year;
                                var month;

                                var editPeriodArr = chkPeriod[0].split('-');

                                year = parseInt(editPeriodArr[0]) + 543;

                                switch (editPeriodArr[1]) {

                                    case '01': month = 'มกราคม'
                                        break;
                                    case '02': month = 'กุมภาพันธ์'
                                        break;
                                    case '03': month = 'มีนาคม'
                                        break;
                                    case '04': month = 'เมษายน'
                                        break;
                                    case '05': month = 'พฤษภาคม'
                                        break;
                                    case '06': month = 'มิถุนายน'
                                        break;
                                    case '07': month = 'กรกฎาคม'
                                        break;
                                    case '08': month = 'สิงหาคม'
                                        break;
                                    case '09': month = 'กันยายน'
                                        break;
                                    case '10': month = 'ตุลาคม'
                                        break;
                                    case '11': month = 'พฤศจิกายน'
                                        break;
                                    case '12': month = 'ธันวาคม'
                                        break;
                                }

                                editPeriod = month + ' ' + year;

                                lstEditPeriod.push(editPeriod);
                            }

                            if (i == response.length - 1) {
                                $('#updateGrowth').text(editPeriod);
                            }
                        }

                        if (lstNameGrowth.length == 0) {
                            lstNameGrowth.push(chkNameGrowth);
                        } else {
                            var countData = 0;

                            for (var jj = 0; jj < lstNameGrowth.length; jj++) {
                                if (chkNameGrowth == lstNameGrowth[jj]) {
                                    countData++;
                                }

                                if (countData > 0) {
                                    break;
                                }
                            }

                            if (countData == 0) {
                                lstNameGrowth.push(chkNameGrowth);
                            }
                        }

                        if (typeCode == 2 || typeCode == 3) {
                            if (response[i].valueString != null) {
                                nameTeamBranch = response[i].valueString;
                            }
                        }
                    }

                    for (var j = 0; j < lstNameGrowth.length; j++) {
                        var lstNewapp = [];
                        for (var jj = 0; jj < response.length; jj++) {
                            if (lstNameGrowth[j] == response[jj].productGroup) {
                                lstNewapp.push(response[jj].growth);
                            }
                        }

                        lstTotalGrowth.push(lstNewapp);
                    }

                    config = drawGrowthGraph(lstEditPeriod, lstNameGrowth, lstTotalGrowth, typeCode, nameTeamBranch);

                }
            });

            return config;
        }

        function getDataRankForGraph(typeCode, empCode, filterType, rankId) {

            var month = '';
            var year = '';

            if (rankId != "") {

                $.ajax({
                    type: "GET",
                    url: "@ViewBag.APIUrlFirstPage1/api/parameters/RankingValue?typeCode=" + typeCode + "&empCode=" + empCode + "&filterType=&rankId=" + rankId,
                    async: false,
                    success: function (response) {

                        $('#tableRanking').empty();

                        for (var i = 0; i < response.length; i++) {

                            var period = response[i].period.split('T');

                            var arrPeriod = period[0].split('-');

                            year = parseInt(arrPeriod[0]) + 543;

                            switch (arrPeriod[1]) {
                                case '01':
                                    month = 'มกราคม'
                                    break;
                                case '02':
                                    month = 'กุมภาพันธ์'
                                    break;
                                case '03':
                                    month = 'มีนาคม'
                                    break;
                                case '04':
                                    month = 'เมษายน'
                                    break;
                                case '05':
                                    month = 'พฤษภาคม'
                                    break;
                                case '06':
                                    month = 'มิถุนายน'
                                    break;
                                case '07':
                                    month = 'กรกฎาคม'
                                    break;
                                case '08':
                                    month = 'สืงหาคม'
                                    break;
                                case '09':
                                    month = 'กันยายน'
                                    break;
                                case '10':
                                    month = 'ตุลาคม'
                                    break;
                                case '11':
                                    month = 'พฤศจิกายน'
                                    break;
                                case '12':
                                    month = 'ธันวาคม'
                                    break;

                            }

                            var editPeriod = month + ' ' + year;

                            if (i == 0) {
                                //$('#tableRanking').append(
                                //    '<tbody>' +
                                //    '<tr>' + '</tr>' +
                                //    '<tr>' + '</tr>' +
                                //    '</tbody>'
                                //);

                                $('#tableRanking').append(
                                    '<thead>' +
                                    '<tr>' + '</tr>' +
                                    '<thead>' +
                                    '<tbody>' +
                                    '<tr>' + '</tr>' +
                                    '</tbody>'
                                );

                            }

                            $('#tableRanking > thead > tr:nth-child(1)').append(
                                '<td>' + editPeriod + '</td>'
                            );

                            $('#tableRanking > tbody > tr:nth-child(1)').append(
                                '<td>' + response[i].rankingNo + '</td>'
                            );

                            if (i == response.length - 1) {
                                $('#updateRank').text(editPeriod);
                            }

                        }
                    }
                });
            }
        }

        function getDataPointByPeriodForGraph(empCode, filterType) {
            var lstNamePlusPoint = [];
            var lstNameMinusPoint = [];
            var lstPlusPoint = [];
            var lstMinusPoint = [];
            var lstColorPlusPoint = [];
            var lstColorMinusPoint = [];
            var period;
            var config = [];

            $.ajax({
                type: "GET",
                url: "@ViewBag.APIUrlFirstPage1/api/parameters/PointBalanceByPeriod?empCode=" + empCode + "&filterType=" + filterType,
                async: false,
                success: function (response) {
                    for (var i = 0; i < response.length; i++) {

                        if (response[i].multiplier == 1) {
                            lstPlusPoint.push(response[i].pointValue);
                            lstNamePlusPoint.push(response[i].point);
                            lstColorPlusPoint.push(response[i].pointColor);
                        } else {
                            lstMinusPoint.push(response[i].pointValue);
                            lstNameMinusPoint.push(response[i].point);
                            lstColorMinusPoint.push(response[i].pointColor);
                        }
                    }

                    config.push(drawPlusPointByPeriodGraph(lstNamePlusPoint, lstPlusPoint, lstColorPlusPoint));
                    config.push(drawMinusPointByPeriodGraph(lstNameMinusPoint, lstMinusPoint, lstColorMinusPoint));
                }
            });

            return config;
        }

        function drawNewAppGraph(lstPeriod, lstNameNewapp, lstTotalNewapp, typeCode, nameTeamBranch) {

            var dataSet = [];
            //var lstColor = ['#ff0000', '#ffff00', '#00cc00', '#0000ff', '#ff00ff', '#6600cc'];

            //var lstColor = ['#2552AC','#5ACFD6','#189BFA','#0C4B8E','#5AC8D8','#597FCA'];

            //var lstColor = ['#2794EB', '#1E549F', '#47D6B6', '#17B3C1', '#5FC9F3', '#2E79BA'];

            var lstColor = ['#A4C8F0', '#88DDBB', '#FFFF88', '#FFBE7D', '#FDB4BF', '#D0B3E1'];

            for (var i = 0; i < lstNameNewapp.length; i++) {
                dataSet.push({
                    label: lstNameNewapp[i],
                    backgroundColor: lstColor[i],
                    borderColor: lstColor[i],
                    borderWidth: 5,
                    data: lstTotalNewapp[i],
                    fill: false
                });
            }

            var textTitle;

            if (typeCode == 1) {
                textTitle = 'รายบุคคล';
            } else if (typeCode == 2) {
                textTitle = 'ทีม ' + nameTeamBranch;
            } else if (typeCode == 3) {
                textTitle = 'สาขา ' + nameTeamBranch;
            }

            var config = {
                type: 'line',
                data: {
                    labels: lstPeriod,
                    datasets: dataSet
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'รายงานลูกค้าใหม่ ' + textTitle
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'เดือน'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'จำนวน App'
                            }
                        }]
                    }
                }
            };

            return config;
        }

        function drawGrowthGraph(lstPeriod, lstNameGrowth, lstTotalGrowth, typeCode, nameTeamBranch) {
            var dataSet = [];
            //var lstColor = ['#ff0000', '#ffff00', '#00cc00', '#0000ff', '#ff00ff', '#6600cc'];

            //var lstColor = ['#2794EB','#1E549F','#47D6B6','#17B3C1','#5FC9F3','#2E79BA'];

            var lstColor = ['#A4C8F0', '#88DDBB', '#FFFF88', '#FFBE7D', '#FDB4BF', '#D0B3E1'];

            for (var i = 0; i < lstNameGrowth.length; i++) {
                dataSet.push({
                    label: lstNameGrowth[i],
                    backgroundColor: lstColor[i],
                    //borderColor: lstColor[i],
                    borderColor: "#fff",
                    borderWidth: 3,
                    data: lstTotalGrowth[i]
                });
            }

            var textTitle;

            if (typeCode == 1) {
                textTitle = 'รายบุคคล';
            } else if (typeCode == 2) {
                textTitle = 'ทีม ' + nameTeamBranch;
            } else if (typeCode == 3) {
                textTitle = 'สาขา ' + nameTeamBranch;
            }

            var horizontalBarChartData = {
                labels: lstPeriod,
                datasets: dataSet,

            };

            var config = {
                type: 'horizontalBar',
                data: horizontalBarChartData,
                options: {
                    elements: {
                        rectangle: {
                            borderWidth: 2,
                        }
                    },
                    responsive: true,
                    legend: {
                        position: 'right',
                    },
                    title: {
                        display: true,
                        text: 'รายงานการเติบโตของลูกค้า ' + textTitle
                    }
                }
            }

            return config;
        }

        function drawPlusPointByPeriodGraph(lstNamePlusPoint, lstPlusPoint, lstColorPlusPoint) {

            //var lstColor = ['#73E800','#00FF59','#3DC24C','#00A659','#9ACD32','#556B2F'];

            var config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: lstPlusPoint,
                        backgroundColor: lstColorPlusPoint
                    }],
                    labels: lstNamePlusPoint
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Point ตามรอบ DCR ปัจจุบัน'
                    },
                    legend: {
                        position: 'top',
                    },
                    animation: {
                        animateScale: true,
                        animateRotate: true
                    }
                }
            };

            return config;
        }

        function drawMinusPointByPeriodGraph(lstNameMinusPoint, lstMinusPoint, lstColorMinusPoint) {

            //var lstColor = ['#FF1A00','#FF4200','#FF6600','#FF8C00','#B22222'];

            var config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: lstMinusPoint,
                        backgroundColor: lstColorMinusPoint
                    }],
                    labels: lstNameMinusPoint
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Point ตามรอบ DCR ปัจจุบัน'
                    },
                    legend: {
                        position: 'top',
                    },
                    animation: {
                        animateScale: true,
                        animateRotate: true
                    }
                }
            };

            return config;
        }

        function loadChart(lstConfig) {
            // window.onload = function () {
            for (var i = 0; i < lstConfig.length; i++) {
                var ctx;

                if (i == 0) {
                    ctx = document.getElementById("canvas").getContext("2d");
                    //window.myDoughnut = new Chart(ctx, lstConfig[i]);
                    myLine = new Chart(ctx, lstConfig[i]);
                }
                else if (i == 1) {
                    ctx = document.getElementById("canvas2").getContext("2d");
                    //window.myHorizontalBar = new Chart(ctx, {
                    debugger
                    myHorizontalBar = new Chart(ctx, lstConfig[i]
                        //{
                        //type: 'horizontalBar',
                        //data: lstConfig[i]
             //           options: {
             //               // Elements options apply to all of the options unless overridden in a dataset
             //               // In this case, we are setting the border of each horizontal bar to be 2px wide
             //               elements: {
             //                   rectangle: {
             //                       borderWidth: 2,
             //                   }
             //               },
             //               responsive: true,
             //               legend: {
             //                   position: 'right',
             //               },
                            //title: {
                               // display: true,
                               // text: 'รายงานการเติบโตของลูกค้า รายบุคคล'
                            //}
             //           }
                    //}
                    );
                } else if (i == 2) {
                    ctx = document.getElementById("canvas3").getContext("2d");
                    //window.myDoughnut = new Chart(ctx, lstConfig[i]);
                    myDoughnut2 = new Chart(ctx, lstConfig[i]);
                } else if (i == 3) {
                    ctx = document.getElementById("canvas4").getContext("2d");
                    //window.myDoughnut = new Chart(ctx, lstConfig[i]);
                    myDoughnut3 = new Chart(ctx, lstConfig[i]);
                }

            }
            //  };
        }

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    </script>
}