@{
    ViewBag.Title = "CancerQueueManageAssign";
    Layout = "~/Views/Shared/_LayoutForTopCancer.cshtml";
}
<style>
    table.dataTable thead {
        background-color: #337AB7;
        color: azure;
    }

    .select2-container .select2-selection--single {
        height: 34px !important;
        border-radius: 0px
    }

    .btnSearch {
        margin-top: 5px;
    }

    .table {
        font-size: 14px;
    }
</style>

<div class="box box-header bg-yellow" style="margin-left:15px">
    <center><span style="font-size:large;">ประกันโรคร้ายแรง</span></center>
</div>

<form class="form-horizontal">
    <div class="container">
        <div class="box box-widget widget-user-2">

            <div class="box-header with-border" style="background-color:#3c8dbc; color:white">
                <h3 class="box-title">ระบบจัดการคิวงาน</h3>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="col-xs-12 col-md-2 col-lg-1" style="padding-top:5px; text-align:left">
                                <label>ค้นหา:</label>
                            </div>
                            <div class="col-xs-3" style="padding-top:5px">
                                <label>เลข App</label>
                                <input class="form-control" style="width: 100%;" id="txtapplicationCode">
                            </div>
                            <div class="col-xs-3" style="padding-top:5px">
                                <label>สาขา</label>
                                <select class="form-control select2" style="width: 100%;" id="ddlBranch">
                                    <option value="-1">ทั้งหมด</option>
                                    @{
                                        foreach (var item in ViewBag.Branch)
                                        {
                                            if (item.Branch_ID != null)
                                            {
                                                <option value="@item.Branch_ID">@item.BranchDetail</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>

                            <div class="col-xs-3" style="padding-top:5px">
                                <label>ผู้รับผิดชอบ</label>
                                <select class="form-control select2  select2-hidden-accessible" style="width: 100%;" id="QCUser">
                                    <option value="null">ทั้งหมด</option>
                                    @{
                                        foreach (var item in ViewBag.QCUser)
                                        {
                                            if (item.UserId != null)
                                            {
                                                <option value="@item.UserId">@item.EmployeeName</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-xs-3 col-lg-offset-1" style="padding-top:5px">
                                <label>ชื่อ-สกุล ผู้เอาประกัน</label>
                                <div class="input-group date col-xs-12 col-md-12 col-lg-12">
                                    <input type="text" class="form-control" id="txtcustomerName" placeholder="ชื่อ-สกุล ผู้เอาประกัน" />
                                </div>
                            </div>
                            <div class="col-xs-3" style="padding-top:5px">
                                <label>ชื่อ-สกุล ผู้ชำระเบี้ย</label>
                                <div class="input-group date col-xs-12 col-md-12 col-lg-12">
                                    <input type="text" class="form-control" id="txtpayerName" placeholder="ชื่อ-สกุล ผู้ชำระเบี้ย" />
                                </div>
                            </div>
                            <div class="col-xs-3" style="padding-top:5px;">
                                <label> เบอร์โทรผู้ชำระเบี้ย</label>
                                <div class="input-group date col-xs-12 col-md-12 col-lg-12">
                                    <input type="text" class="form-control" id="txtpayerPhone" placeholder=" เบอร์โทรผู้ชำระเบี้ย" />
                                </div>
                            </div>
                            <div class="col-xs-1 col-md-1 col-lg-1" style="padding-top:30px">
                                <button type="button" class="btn btn-info" id="btnSearch">ค้นหา</button>
                            </div>
                        </div>
                        <div class="box-group">
                            <label id="countSelect"></label>
                            <label id="textSelectAll2"></label>
                            <a class="pull-right" id="textSelectAll" style="display:none;cursor:pointer" onclick="GetQueueAssignAll();"></a>
                            <a class="pull-right" id="textSelectAllClear" style="display:none;cursor:pointer" onclick="ClearCheckboxAll();">ล้างข้อมูลที่เลือก</a>
                            <div class="row" style="padding-top:7px">
                                <div class="col-xs-12">
                                    <table id="tableQueueAssignDetail" name="tableQueueAssignDetail" class="table table-bordered table-hover dataTable" style="width:100%;"></table>
                                </div>

                                <div style="text-align:center">
                                    <button type="button" id="btnModal" name="btnModal" class="btn btn-warning">เปลี่ยนผู้รับผิดชอบ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- /.modal-dialog -->
<div class="modal fade in" id="modal-AreaManager" style="display: none; padding-right: 5px;">
    <div class="modal-dialog">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">เปลี่ยนผู้รับผิดชอบ</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="countSelectModal" class="col-sm-3 col-md-offset-1 control-label txt-nowrap">คิวงานที่ท่านเลือก</label>

                        <div class="col-sm-9  col-md-6">
                            <label id="countSelectModal" class="control-label txt-nowrap"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selectDirector" class="col-sm-3 col-md-offset-1 control-label txt-nowrap">เลือกผู้รับผิดชอบ : </label>
                        <div class="col-sm-9 col-md-6">
                            <select class="form-control select2  select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlEmployee">
                                <option value="-1">-----เลือก-----</option>
                                @{
                                    foreach (var item in ViewBag.QCUser)
                                    {
                                        if (item.UserId != null)
                                        {
                                            <option value="@item.UserId">@item.EmployeeName</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row" style="padding: 10px;">
                <div class="col-xs-12" style="text-align:center">
                    <button type="button" class="btn btn-success" id="btnUpdateChangeAreaManager"><i class="glyphicon glyphicon-ok"></i> ตกลง</button>
                    <button type="button" class="btn btn-danger" id="btncancleUpdate" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> ยกเลิก</button>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section ViewSpecificJavascript
{
    <script type="text/javascript">
        var inited = false;
        var count = 0;
        var rowDT = 0;
        var totalDT = 0;
        var ListCheckBox = [];
        var ListCheckBoxAll = [];

        $(function () {
            $('.select2').select2();
            QueueAssign_DT();
            $('#btnSearch').click(function (e) {
                e.preventDefault();
                QueueAssign_DT();
            });

            $('#btnModal').click(function (e) {
                e.preventDefault();
                if (ListCheckBoxAll.length == 0) {
                    swal("คำเตือน", "กรุณาเลือกคิวงานที่ต้องการเปลี่ยนผู้รับผิดชอบ", "warning");
                } else {
                    $('#modal-AreaManager').modal('show');
                    $('#countSelect').text(`คิวงานที่เลือก จำนวน ${ListCheckBoxAll.length} รายการ`);
                    $('#countSelectModal').text(`จำนวน ${ListCheckBoxAll.length} รายการ`)
                }

            });

            $('#btnUpdateChangeAreaManager').click(function (e) {
                e.preventDefault();

                if (IsValidateForUpdate()) {
                    UpdateQueueListAssign();
                } else {
                    $('#modal-AreaManager').modal('show');
                }
            });

            $('#btncancleUpdate').click(function (e) {
                e.preventDefault();
                //ClearCheckboxAll();
                $('#ddlEmployee').val('-1').trigger('change');
            });

            $("#ddlAreaManager").on('change', function (e) {
                e.preventDefault();
                GetBranch($(this).val());
            });

        //event tableQueueAssignDetail paging
        $('#tableQueueAssignDetail').on('page.dt', function () {
            if (ListCheckBoxAll.length === totalDT) {
                $('table[name="tableQueueAssignDetail"]').find(".chk-row-select").prop('checked', true);
                $('table[name="tableQueueAssignDetail"]').find(".chk-row-select-all").prop('checked', true);
            } else {
                $('table[name="tableQueueAssignDetail"]').find(".chk-row-select-all").prop('checked', false);
                $('#countSelect').text('');
                $('#textSelectAll').hide
                $('#textSelectAll2').hide();
                $('#textSelectAllClear').hide();
                for (var i = 0; i < ListCheckBox.length; i++) {
                    if (!(ListCheckBoxAll.includes(ListCheckBox[i]))) {
                        ListCheckBoxAll.push(ListCheckBox[i]);
                    }
                }
                count = 0;
                ListCheckBox = [];
            }
            //console.log(ListCheckBoxAll)
        });

        /*checkbox in datatables change*/
            $('#tableQueueAssignDetail').on('change', 'input[type="checkbox"]', function (e) {
                let table = $('#tableQueueAssignDetail').DataTable();
                let rows = table.rows().nodes();
                switch (this.className) {
                    case 'chk-row-select-all':
                        if (this.checked) {
                            $('input[class="chk-row-select"]', rows).prop('checked', true).change();
                        } else {
                            $('input[class="chk-row-select"]', rows).prop('checked', false).change();
                        }
                        break;
                    case 'chk-row-select':
                        if (this.checked) {
                            let count = 0;
                            const value = this.value;
                            //adds one or more elements to the end of an array and returns the new length of the array.
                            if (!ListCheckBox.includes(value)) ListCheckBox.push(this.value);
                            if (!ListCheckBoxAll.includes(value)) ListCheckBoxAll.push(this.value);
                            //check count data equal rows.length then checkbox-all is checked
                            if (!(ListCheckBox.length === rows.length)) {
                                $('table[name="tableQueueAssignDetail"]').find(".chk-row-select-all").prop('checked', false);
                                $('#countSelect').text('')

                            } else {
                                $('table[name="tableQueueAssignDetail"]').find(".chk-row-select-all").prop('checked', true);
                                $('#countSelect').text(`คิวงานที่เลือก จำนวน ${ListCheckBox.length} รายการ`)
                                $('#textSelectAll').text(`เลือกทั้งหมด ${totalDT} รายการ`).show();
                                $('#textSelectAll2').text(`จาก ${totalDT} รายการ`).show();
                            }
                        } else {
                            const value = this.value;
                            //replaces 1 element at indexOd() returnValue index
                            ListCheckBox.splice(ListCheckBox.indexOf(value), 1);
                            ListCheckBoxAll.splice(ListCheckBoxAll.indexOf(value), 1);

                            //check count data equal rows.length then checkbox-all is checked
                            if (!(ListCheckBox.length === rows.length)) {
                                $('table[name="tableQueueAssignDetail"]').find(".chk-row-select-all").prop('checked', false);
                                $('#countSelect').text('')
                                $('#textSelectAll').hide();
                                $('#textSelectAll2').hide();
                                $('#textSelectAllClear').hide();
                            } else {
                                $('table[name="tableQueueAssignDetail"]').find(".chk-row-select-all").prop('checked', true);
                            }
                        }
                        break;
                    default:
                }
            });
        });
          const GetBranch = (areaId) => {
           $.get("@Url.Action("GetBranchByArea")", { areaId: areaId }, function (data) {
                $("#ddlBranch").empty();
                $("#ddlBranch").append('<option value="-1">--กรุณาเลือก--</option>');
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        $("#ddlBranch").append(`<option value="${data[i].Branch_ID}">${data[i].BranchDetail}</option>`);
                    }
                }
            })
        }


        const IsValidateForUpdate = () => {

            if ($('#ddlEmployee').val() == "-1") {
                swal("ตรวจสอบ", "กรุณาเลือกผู้รับผิดชอบ", "warning");
                return false;
            }

            return true;
        }

            const UpdateQueueListAssign = () => {
            $.post("@Url.Action("UpdateAssignUserIdInQueueAuditCancer")",
                {
                    queueAuditArray: ListCheckBoxAll,
                    assignToUserId: $('#ddlEmployee').val()

                },
                function (data, textStatus, jqXHR) {

                    if (data.IsResult) {
                        swal("", "ดำเนินการเรียบร้อย", "success");
                        QueueAssign_DT();
                        ClearCheckboxAll();
                        $('#modal-AreaManager').modal('hide');
                    } else {
                        swal("ผิดพลาด", data.Msg, "error");
                        $('#modal-AreaManager').modal('show');
                    }
                },

            );
        }
        const GetQueueAssignAll = () => {
                $.post("@Url.Action("UpdateAssignUserIdInQueueAuditCancerAll")", {
                    applicationCode: $("#txtapplicationCode").val(),
                    branchId: $("#ddlBranch").val(),
                    customerName: $("#txtcustomerName").val(),
                    payerName: $("#txtpayerName").val(),
                    payerPhone: $("#txtpayerPhone").val(),
                    QCUser: $("#QCUser").val()
                }, function (data) {
                    ListCheckBoxAll = []
                    for (var i = 0; i < data.length; i++) {
                        if (!ListCheckBoxAll.includes(data[i].QueueAuditId.toString())) ListCheckBoxAll.push(data[i].QueueAuditId.toString())
                    }
                    $('#countSelect').text(`ทั้ง ${totalDT} รายการถูกเลือกอยู่`)
                    $('#textSelectAllClear').show();
                    $('#textSelectAll').hide();
                    $('#textSelectAll2').hide();
                });
        }

        const QueueAssign_DT = () => {
            $('#tableQueueAssignDetail').empty();
            var table = $('#tableQueueAssignDetail').DataTable({
                pageLength: 10,
                lengthChange: true,
                processing: true,
                serverSide: true,
                destroy: true,
                searching: false,
                ordering: true,
                info: true,
                paging: true,
                autoWidth: false,
                responsive: true,
                lengthMenu: [[10, 25, 50, 100, 250, 500], [10, 25, 50, 100, 250, 500]],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.20/i18n/Thai.json'
                },
                order: [[4, "asc"]],
                ajax: {
                    url: '@Url.Action("GetDataQueueAuditCancerQueueAssignDetail")',
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.applicationCode = $("#txtapplicationCode").val();
                        d.branchId = $("#ddlBranch").val();
                        d.customerName = $("#txtcustomerName").val();
                        d.payerName = $("#txtpayerName").val();
                        d.payerPhone = $("#txtpayerPhone").val();
                        d.QCUser = $("#QCUser").val();
                    },
                    dataSrc: function (json) {
                        rowDT = json.data.length;
                        totalDT = json.recordsTotal;
                        return json.data;
                    },
                },
                columns: [
                    {
                        title: '<label>เลือก</label><input id="chk-all" name="chk-all" style="cursor:pointer"  class="chk-row-select-all" type="checkbox" />',
                        data: null,
                        orderable: false,
                        className: 'th-center td-center-checkbox nosort',
                        width: "33px",
                        render: function (data) {
                            let Ischecked = "";
                            if (ListCheckBoxAll.includes(data.QueueAuditId.toString())) {
                                count++
                                Ischecked = "checked"
                            }

                            if (count === rowDT) {
                                $('input[class="chk-row-select-all"]').prop('checked', true);
                                rowDT = 0;
                                count = 0;
                            }

                            return `<input type="checkbox" style="cursor:pointer"  class="chk-row-select" ${Ischecked} id="chkdtrow_${data.QueueAuditId}" name="chkdtrow_${data.QueueAuditId}" value="${data.QueueAuditId}">`;
                        }
                    },
                    {
                        title: 'เลข App',
                        data: 'ApplicationCode',
                        orderable: true,
                        className: "th-center"
                    },
                    {
                        title: 'ชื่อผู้เอาประกัน',
                        data: 'InsuredName',
                        orderable: true,
                        className: "th-center"
                    },
                    {
                        title: 'ชื่อผู้ชำระเบี้ย',
                        data: 'PayerName',
                        orderable: true,
                        className: "th-center"
                    },
                    {
                        title: 'เบอร์โทรผู้ชำระเบี้ย',
                        data: 'PayerPhone',
                        orderable: true,
                        className: "th-center"
                    },
                    {
                        title: 'วันเริ่มคุ้มครอง',
                        data: 'StartCoverDate',
                        className: "th-center",
                        orderable: true,
                        render: function (data) {
                            return moment(data).add('years', 543).format("DD/MM/YYYY");
                        }
                    },
                    {
                        title: 'สาขา',
                        data: 'BranchName',
                        orderable: true,
                        className: "th-center"
                    },
                    {
                        title: 'ผู้รับผิดชอบ',
                        data: 'EmployeeFullName',
                        orderable: true,
                        className: "th-center"
                    }
                ],

            });
            window.onresize = function () {
                table.columns.adjust().responsive.recalc();
            };
        }


        const ClearCheckboxAll = () => {
            ListCheckBoxAll = [];
            ListCheckBox = [];
            $('#countSelect').text('');
            $('#textSelectAll').hide();
            $('#textSelectAll2').hide();
            $('#textSelectAllClear').hide();
            $('table[name="tableQueueAssignDetail"]').find(".chk-row-select").prop('checked', false);
            $('table[name="tableQueueAssignDetail"]').find(".chk-row-select-all").prop('checked', false);
        }
    </script>
}