@{
    //ViewBag.Title = "Deliverynote";
    Layout = "~/Views/Shared/_Layout_Emtry.cshtml";

    var userDetail = SmileSBankDirectDebit.Helper.OAuth2Helper.GetLoginDetail();

    ViewBag.Branch = userDetail.BranchDetail;
}

@*<h2>Deliverynote</h2>*@

<body id="bdy">

    <form class="">

        <input id="hdfID" type="hidden" value="@ViewBag.DeliverNoteID" />

        <div style="page-break-after:always;">

            <table style="width:100%">
                <tr>
                    <td style="width:5%"><div style="">ใบคุม</div></td>
                    <td style="width:25%; ">
                        <label id="lblHeaderCode" name="lblHeaderCode" style="font-style:normal; font-weight:normal"></label>
                    </td>
                    <td style="width:30%"></td>
                    <td style="width:40%">@ViewBag.BankName</td>
                </tr>
            </table>

            <table style="width:100%">
                <tr>
                    <td style="width:5%; vertical-align:text-top"><div style="">สาขา</div></td>
                    <td style="width:25%; vertical-align:text-top"> @ViewBag.Branch </td>
                    <td style="width:30%"></td>
                    <td style="width:40%; word-wrap: break-word;">@ViewBag.BankAddress</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="">
                        โทร : @ViewBag.BankTel
                    </td>
                </tr>
                @*<tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="">
                            โทร : @ViewBag.BankTel
                        </td>
                    </tr>*@
                <tr>
                    <td></td>
                    <td></td>
                    <td style="text-align:center; padding-top: 10px;">วันที่ @ViewBag.DeliveryDate</td>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-top: 10px;">เรียน</td>
                    <td style="padding-top: 10px;"> หน่วยงานธุรกรรมเงินโอน</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <table style="width:100%; padding-bottom:8px;">
                <tr>
                    <td style="width:50%; padding-top:25px;">สรุปใบนำส่งหนังสือยินยอมหักบัญชีธนาคารกรุงไทย </td>
                    <td style="width:5%; padding-top:25px; text-align:right">รวม</td>
                    <td style="width:9%; padding-top:25px; border-bottom-style:dashed; border-bottom-width:1px; text-align:center"><label id="lblcountAccount" name="lblcountAccount" style="font-style:normal; font-weight:normal"></label></td>
                    <td style="padding-top:25px;">บัญชี</td>
                </tr>
            </table>
            <div style="padding-top:7px; width:100%" id="dvTable">

                <table style="width:100%;" border="1">
                    <thead>
                        <tr>
                            <th style="width:10%">ลำดับ</th>
                            <th style="width:25%">ชื่อ</th>
                            <th style="width:15%">เลขที่บัญชี</th>
                            <th style="width:20%">REF1</th>
                            <th style="width:30%">หมายเหตุ</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
            <table style="width:100%">
                <tr>
                    <td style="width:60%"></td>
                    <td style="width:13%; padding-top:40px">ผู้นำส่งเอกสาร </td>
                    <td style=" padding-top:40px">.....................................................</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        (&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)
                    </td>
                </tr>
                <tr>
                    <td style="width:60%; padding-top:40px">
                        @** ให้ส่งไฟล์คุม ไปยัง E-mail:premium@siamsmile.co.th*@
                    </td>
                    <td style="width:13%; padding-top:40px">ผู้รับเอกสาร </td>
                    <td style=" padding-top:40px">.....................................................</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        (&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)
                    </td>
                </tr>
            </table>
        </div>

        <div style="page-break-after:always">
            <table style="width:100%">
                @*ที่อยู่สาขา*@
                <tr>
                    <td style="width:50%; font-size:20px;">@ViewBag.Company</td>
                    <td style="width:0%;"></td>
                    <td style="width:0%"></td>
                    <td style="width:50%;"></td>
                </tr>
                <tr>
                    <td style="word-wrap: break-word; font-size:20px;">
                        @ViewBag.Address
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="font-size:20px;">
                        @ViewBag.PhoneNo
                    </td>

                <tr>
                    <td height="80"></td>
                    <td height="80"></td>
                    <td height="80"></td>
                    <td height="80"></td>
                </tr>

                @*ธนาคาร*@
                <tr>
                    <td></td>
                    <td></td>
                    <td style="width:50%; font-size:20px;">@ViewBag.BankName</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="word-wrap: break-word; font-size:20px;">
                        @ViewBag.BankAddress
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="font-size:20px;">
                        โทร : @ViewBag.BankTel
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    </form>
</body>

@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            showAccount();

        });

        function showAccount() {
            //$('.loading').css('display', 'block');
            //var appID = $('#app_search').val();
            $.ajax({
                method: 'GET',
                url: '@Url.Action("GetDeliveryNote")',
                data: { delivernoteID: $("#hdfID").val() }
            })
                .done(function (result) {

                    $("#lblcountAccount").text(result.length);

                    $("#lblHeaderCode").text(result[0].HeaderCode);
                    debugger;
                    //Bind Data
                    for (var i = 0; i < result.length; i++) {
                        $('#dvTable > table > tbody').append('<tr>' + '<td style="text-align:center">' + result[i].No + '</td>' + '<td style="padding-left:5px">' + result[i].AccountName + '</td>' + '<td style="text-align:center">' + result[i].AccountNo + '</td>'  + '<td style="text-align:center">' + result[i].Ref1 + '</td>'+ '<td style="padding-left:5px">' + result[i].Remark + '</td>' +'</tr>');
                    }

                    $("#bdy").load(window.print());

                });

        }
    </script>
}