@{
    ViewBag.Title = "หน้าแรก";
    Layout = "~/Views/Shared/_LayoutForTopIndex.cshtml";
}
@{
    // var userDetail = GlobalFunction.GetLoginDetail(this.Context);
    var userDetail = SmileUnderwriteBranchV2.Helper.GlobalFunction.GetLoginDetail(this.Context);

    ViewBag.Firstname = userDetail.FirstName;
    ViewBag.Lastname = userDetail.LastName;
    ViewBag.EmpCode = userDetail.UserName;
    ViewBag.Department = userDetail.DepartmentDetail;
    ViewBag.BranchDetail = userDetail.BranchDetail;
    ViewBag.FullName = userDetail.FullName;
    ViewBag.EmployeeTeamDetail = userDetail.EmployeeTeamDetail;
    ViewBag.FullName = userDetail.FullName;
}
<div class="content-wrapper" style="min-height: 320px;">
    <br>
    <section class="container">
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header">
                    <div class="widget-user-image">
                        <img class="img-circle" src="~/Content/img/logo_200x200.png" alt="User SiamSmile">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">@ViewBag.UserDetail.FullName</h3>
                    <h5 class="widget-user-desc">@ViewBag.EmployeeTeamDetail - @ViewBag.UserDetail.DepartmentDetail</h5>
                </div>
            </div>

            <div class="row">
                @if (ViewBag.AccessRolePH.Contains("Developer") || ViewBag.AccessRolePH.Contains("UnderwriteV2_Director"))
                {

                    <div class="col-md-3 col-sm-4">
                        <div class="wrimagecard wrimagecard-topimage">
                            <a href="@Url.Action("QueueUnderwritePending","Queue")">
                                <div class="wrimagecard-topimage_header bg-aqua">
                                    <center><i class="fa fa-user" style="color: #ffffff "> </i></center>
                                </div>
                                <div class="wrimagecard-topimage_title">
                                    <center>
                                        <h5>
                                            คิวงานมอบบัตร
                                        </h5>
                                        <div class="pull-right badge bg-red" id="WrControls" style="right:5px;bottom:5px">@ViewBag.QueueUnderwritePendingCount</div>
                                    </center>
                                    @* <div class="pull-right badge bg-blue" id="WrControls" style="right:5px;bottom:5px">@ViewBag.QueueUnderwritePendingCountV2</div>*@

                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="wrimagecard wrimagecard-topimage">
                            <a href="@Url.Action("GiveBackInsuranceCardAfterUnderwrite","InsuranceCard")">
                                <div class="wrimagecard-topimage_header bg-aqua">
                                    <center><i class="fa fa-volume-control-phone" style="color: #ffffff "> </i></center>
                                </div>
                                <div class="wrimagecard-topimage_title">
                                    <center>
                                        <h5>
                                            มอบบัตรกรณีเกินกำหนด
                                        </h5>
                                        <div class="pull-right badge bg-red" id="WrGridSystem" style="right:5px;bottom:5px">@ViewBag.QueueCoBrandPendingCount</div>
                                    </center>
                                    @*<div class="pull-right badge bg-blue" id="WrGridSystem" style="right:5px;bottom:5px">@ViewBag.QueueCoBrandPendingCountV2</div>*@

                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="wrimagecard wrimagecard-topimage">
                            <a href="@Url.Action("ReportUnderwriteAndInsuranceCard","Report")">
                                <div class="wrimagecard-topimage_header bg-aqua">
                                    <center><i class="fa fa-connectdevelop" style="color: #ffffff "> </i></center>
                                </div>
                                <div class="wrimagecard-topimage_title">
                                    <center>
                                        <h5>
                                            รายงานการมอบบัตร
                                        </h5>
                                    </center>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="wrimagecard wrimagecard-topimage">
                            <a href="@Url.Action("QueueAssign","Queue")">
                                <div class="wrimagecard-topimage_header bg-aqua">
                                    <center><i class="fa fa-refresh" style="color: #ffffff "> </i></center>
                                </div>
                                <div class="wrimagecard-topimage_title">
                                    <center>
                                        <h5>
                                            จัดการคิวงานมอบบัตร
                                        </h5>
                                    </center>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!--<div class="col-md-3 col-sm-4">
                        <div class="wrimagecard wrimagecard-topimage">
                            <a href="@Url.Action("GetQueueUnderwrite","Queue")">
                                <div class="wrimagecard-topimage_header bg-aqua">
                                    <center><i class="fa fa-exclamation-circle" style="color:#ffff"> </i></center>
                                </div>
                                <div class="wrimagecard-topimage_title">
                                    <center>
                                        <h5>
                                            รับคิวงานมอบบัตร
                                        </h5>
                                        <div class="pull-right badge bg-red" id="WrGridSystem" style="right:5px;bottom:5px">@ViewBag.QueueAccept</div>
                                    </center>-->
                                    @* <div class="pull-right badge bg-blue" id="WrGridSystem" style="right:5px;bottom:5px">@ViewBag.QueueAcceptV2</div>*@

                                <!--</div>
                            </a>
                        </div>
                    </div>-->

                }
                @if (ViewBag.AccessRolePH.Contains("Developer") || ViewBag.AccessRolePH.Contains("UnderwriteV2_BusinesPromoteTeam"))
                {

                    <div class="col-md-3 col-sm-4">
                        <div class="wrimagecard wrimagecard-topimage">
                            <a href="/Underwrite/UnderwriteDashboard">
                                <div class="wrimagecard-topimage_header bg-aqua">
                                    <center>
                                        <i class="material-icons" style="font-size: 58px; color: rgba(39, 99, 145) ">
                                            contact_phone
                                        </i>
                                    </center>
                                </div>

                                <div class="wrimagecard-topimage_title">
                                    <center>
                                        <h5>
                                            ติดตามงานมอบบัตร
                                        </h5>
                                        <div class="pull-right badge bg-red" id="WrGridSystem" style="right:5px;bottom:5px">@ViewBag.QueueStatus</div>
                                    </center>
                                    @*   <div class="pull-right badge bg-blue" id="WrGridSystem" style="right:5px;bottom:5px">@ViewBag.QueueStatusV2</div>*@

                                </div>
                            </a>
                        </div>
                    </div>
                    @*
            <div class="col-md-3 col-sm-4">
                <div class="wrimagecard wrimagecard-topimage">
                    <a href="@Url.Action("QueueUnderwriteOverdue", "Queue")">
                        <div class="wrimagecard-topimage_header" style="background-color: rgba(237, 79, 74,0.8)">
                            <center>
                                <i class="material-icons" style="font-size: 58px; color: #9c270c ">
                                    queue_play_next
                                </i>
                            </center>
                        </div>

                        <div class="wrimagecard-topimage_title">
                            <center>
                                <h5>
                                    คิวงานคัดกรองเกินกำหนด
                                </h5>
                                <div class="pull-right badge bg-red" id="WrGridSystem" style="position:absolute;right:5px;bottom:5px">@ViewBag.QueueOverdue</div>
                            </center>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="wrimagecard wrimagecard-topimage">
                    <a href="@Url.Action("EditQueueUnderwrite", "Queue")">
                        <div class="wrimagecard-topimage_header" style="background-color: #fabc09">
                            <center><i class="fa fa-edit" style="color: #875D1B"> </i></center>
                        </div>
                        <div class="wrimagecard-topimage_title">
                            <center>
                                <h5>
                                    แก้ไขผลการคัดกรอง
                                </h5>
                            </center>
                        </div>
                    </a>
                </div>
            </div>
                    *@

                    <div class="col-md-3 col-sm-4">
                        <div class="wrimagecard wrimagecard-topimage">
                            <a href="@Url.Action("ReportPromotion", "Report")">
                                <div class="wrimagecard-topimage_header" style="background-color: rgba(203, 103, 240,0.7)">
                                    <center><i class="fa fa-connectdevelop" style="color: #6f1a78 "> </i></center>
                                </div>
                                <div class="wrimagecard-topimage_title">
                                    <center>
                                        <h5>
                                            รายงาน
                                        </h5>
                                    </center>
                                </div>
                            </a>
                        </div>
                    </div>

                }
                @if (ViewBag.AccessRolePH.Contains("Developer")|| ViewBag.AccessRolePH.Contains("UnderwriteV2_AdminAssign"))
                { 
            <div class="col-md-3 col-sm-4">
                <div class="wrimagecard wrimagecard-topimage">
                    <a href="@Url.Action("QueueAdminAssign","Queue")">
                        <div class="wrimagecard-topimage_header" style="background-color: rgba(203, 103, 240,0.7)">
                            <center><i class="fa fa-refresh" style="color: #6f1a78 "> </i></center>
                        </div>
                        <div class="wrimagecard-topimage_title">
                            <center>
                                <h5>
                                    จัดการคิวงานมอบบัตรสำหรับผู้ดูแล
                                </h5>
                            </center>
                        </div>
                    </a>
                </div>
            </div>
                }


                


            </div>
    </section>
</div>