@{
    /**/

    ViewBag.Title = "รายงาน Application";

}
<style>

    .table {
        font-size: 14px;
    }

    .toolbar {
        float: left;
    }
</style>

<form action="" method="post" id="Mainform">
    <div class="row">
        @* search form *@
        <div class="col-sm-12 col-md-12" id="Search_form">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">ค้นหารายการ</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-md-offset-1 col-sm-6 col-md-2">
                            <label class="control-label" for="">เงื่อนไข :</label>
                            <select class="form-control" id="select_dateType">
                                <option value="1">วันที่เริ่มคุ้มครอง</option>
                                @*<option value="2">วันที่สร้างข้อมูล</option>*@
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-offset-1 col-sm-6 col-md-2">
                            <label class="control-label" for="">ช่วงวันที่ :</label>
                            <input type="text" class="form-control pull-right" name="dp_dateFrom" id="dp_dateFrom"
                                   data-date-language="th-th" data-provide="datepicker">
                        </div>
                        <div class="col-sm-6 col-md-2">
                            <label class="control-label" for="">ถึงวันที่ :</label>
                            <input type="text" class="form-control pull-right" name="dp_dateTo" id="dp_dateTo"
                                   data-date-language="th-th" data-provide="datepicker">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-1 col-md-offset-1 col-md-1 ">
                            <label class="control-label header" style="margin-top: 10px" for="">สถานะ :</label>
                        </div>
                        <div class=" col-sm-2 col-md-2 checkbox">
                            <label style="padding-left: 0px">
                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus1" class="icheckbox_minimal-blue chkAll" /> ทั้งหมด
                            </label>
                        </div>
                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                            <label style="padding-left: 0px">
                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus2" class="icheckbox_minimal-blue chkSearch" /> บันทึกลูกค้าใหม่
                            </label>
                        </div>
                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                            <label style="padding-left: 0px">
                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus3" class="icheckbox_minimal-blue chkSearch" /> ส่งตรวจเอกสารและคัดกรอง
                            </label>
                        </div>
                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                            <label style="padding-left: 0px">
                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus4" class="icheckbox_minimal-blue chkSearch" /> ปกติ
                            </label>
                        </div>
                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                            <label style="padding-left: 0px">
                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus5" class="icheckbox_minimal-blue chkSearch" /> ยกเลิก
                            </label>
                        </div>
                        <div class="col-sm-2 col-md-offset-4 col-md-2 checkbox" style="margin-top: 10px">
                            <label style="padding-left: 0px">
                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus6" class="icheckbox_minimal-blue chkSearch" /> ยกเลิกก่อนDCR
                            </label>
                        </div>
                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                            <label style="padding-left: 0px">
                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus7" class="icheckbox_minimal-blue chkSearch" /> มีกำหนดยกเลิก
                            </label>
                        </div>
                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                            <label style="padding-left: 0px">
                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus8" class="icheckbox_minimal-blue chkSearch" /> ตรวจเอกสารผ่าน
                            </label>
                        </div>
                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                            <label style="padding-left: 0px">
                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus9" class="icheckbox_minimal-blue chkSearch" /> ติดเงื่อนไข บริษัทประกัน
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-offset-1 col-sm-6 col-md-2">
                            <label class="control-label" for="">สาขา :</label>

                            @if (ViewBag.IsUserRolesCriticalIllness_Underwrite == "1" || ViewBag.IsUserRolesDeveloper == "1")

                            {
                                <select id="select_Branch" type="text" class="form-control">
                                    <option value="-1">ทั้งหมด</option>
                                    @if (ViewBag.Branch != null)
                                    {
                                        foreach (var item in ViewBag.Branch)
                                        {

                                            <option value="@item.BranchId">@item.Branch</option>

                                        }

                                    }
                                </select>
                            }
                            else
                            {
                                <select id="select_Branch" type="text" class="form-control" disabled="disabled">
                                    <option value="-1">ทั้งหมด</option>
                                    @if (ViewBag.Branch != null)
                                    {
                                        foreach (var item in ViewBag.Branch)
                                        {

                                            <option value="@item.BranchId">@item.Branch</option>

                                        }

                                    }
                                </select>
                            }
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-offset-1 col-sm-6 col-md-2">
                            <label class="control-label" for="">รหัสพนักงาน :</label>
                            @if (ViewBag.UserAuth.UserName != null)
                            {

                                if (ViewBag.IsUserRolesCriticalIllness_Underwrite == "1" || ViewBag.IsUserRolesDeveloper == "1")
                                {
                                    <input type="text" id="txtEmployeeCode" name="txtEmployeeCode" class="form-control input" placeholder="" />
                                }
                                else
                                {
                                    <input type="text" id="txtEmployeeCode" name="txtEmployeeCode" class="form-control input" placeholder="" value="@ViewBag.UserAuth.UserName" readonly="readonly" />
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* end search *@

        @* operate *@
        <div class="col-sm-12 col-md-12" id="Operate_Form">
            <div class="col-sm-6 col-md-2 pull-right">
                <button type="button" id="btnExport" class="btn btn-block btn-success">Export</button>
            </div>
        </div>

        @* end operate *@
    </div>
    @*<input type="hidden" id="hd_employeeId" value="@ViewBag.UserAuth.Employee_ID" />*@
</form>

@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            //Set DatePicker Start Date
            $('#dp_dateFrom').datepicker({ format: 'MM yyyy', viewMode: "months", minViewMode: "months" }).datepicker("setDate", new Date());
            $('#dp_dateTo').datepicker({ format: 'MM yyyy', viewMode: "months", minViewMode: "months" }).datepicker("setDate", new Date());
        });

        $('#btnExport').click(function (e) {
            e.preventDefault();
            //set dateTypeId
            var dateTypeId = $('#select_dateType').val();

            //set dateFrom
            var dateFrom = $('#dp_dateFrom').datepicker('getDate');
            var addfirstdateFrom = new Date(dateFrom.getFullYear(), dateFrom.getMonth(), 1);
            var dateFromConvert = moment(addfirstdateFrom).format('DD-MM-YYYY');
            // set dateTo
            var dateTo = $('#dp_dateTo').datepicker('getDate');
            var addfirstdateTo = new Date(dateTo.getFullYear(), dateTo.getMonth(), 1);
            var dateToConvert = moment(addfirstdateTo).format('DD-MM-YYYY');

            //set applicationStatusId
            var isNewApp = ($('#chk_AppStatus2').is(":checked")) ? '2' : '';
            var isWaitProcess = ($('#chk_AppStatus3').is(":checked"))?'3':'';
            var isNormal = ($('#chk_AppStatus4').is(":checked"))?'4':'';
            var isCancel = ($('#chk_AppStatus5').is(":checked")) ? '5' : '';
            var isCancelBdcr = ($('#chk_AppStatus6').is(":checked")) ? '6' : '';
            var isCancelDue = ($('#chk_AppStatus7').is(":checked")) ? '7' : '';
            var isPassDoc = ($('#chk_AppStatus8').is(":checked")) ? '8' : '';
            var isNotPassIns = ($('#chk_AppStatus9').is(":checked")) ? '9' : '';
            //get applicationStatusIdList
            var applicationStatusIdList = isNewApp + ',' + isWaitProcess + ',' + isNormal + ',' + isCancel + ',' + isCancelBdcr + ',' + isCancelDue + ',' + isPassDoc + ',' + isNotPassIns;

            //set branchId
            var branchId = $('#select_Branch').val();

            //set employeeCode
            var employeeCode= $('#txtEmployeeCode').val();

            //func export
            exportExcel_applicationReport(dateTypeId, dateFromConvert, dateToConvert, branchId, applicationStatusIdList, employeeCode);
        });

         //func checkbox all/unall
            var checkAll = $('input.chkAll');
            var checkboxes = $('input.chkSearch');
            checkAll.on('ifChecked ifUnchecked', function(event) {
                 if (event.type == 'ifChecked') {
                     checkboxes.iCheck('check');
                 } else {
                     checkboxes.iCheck('uncheck');
                 }
            });
        //func checkbox all valid
          checkboxes.on('ifChanged', function(event){
                 if(checkboxes.filter(':checked').length == checkboxes.length) {
                     checkAll.prop('checked', 'checked');
                 } else {
                     checkAll.removeAttr('checked');
                     //checkAll.iCheck('uncheck');
                 }
                 checkAll.iCheck('update');
             });

        //export excel
        const exportExcel_applicationReport = (dateTypeId, dateFrom, dateTo, branchId, applicationStatusIdList, employeeCode) => {
            window.location.href = `@Url.Action("ApplicationReport_ExportExcel")?dateTypeId=` + dateTypeId + '&dateFrom=' + dateFrom + '&dateTo=' + dateTo + '&branchId=' + branchId + '&applicationStatusIdList=' + applicationStatusIdList + '&employeeCode=' + employeeCode;
        }
    </script>
}