@{
    ViewBag.Title = "บันทึกคัดกรอง";
    Layout = "~/Views/Shared/_LayoutForTopIndexPH.cshtml";
}
<style>
    strong {
        color: red;
    }
</style>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false"><h4>บันทึกผลการทำงาน</h4></a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="true"><h4>เอกสาร</h4></a></li>
            <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="true"><h4>ประวัติคิวงาน</h4></a></li>
        </ul>
        @if (ViewBag.QueueFullDetail != null)
        {
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="box box-info">
                                    <div class="box-header" style="background-color: #b3eeff">
                                        <h4 class="box-title">ข้อมูลผู้เอาประกัน </h4>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <form class="form-horizontal">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">App ID</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtAppID" name="txtAppID" class="form-control" value="@ViewBag.QueueFullDetail.ApplicationCode" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">สถานะ</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtAppStatus" name="txtAppStatus" class="form-control" value="@ViewBag.QueueFullDetail.AppStatus" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">แผนประกัน</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtProduct" name="txtProduct" class="form-control" value="@ViewBag.QueueFullDetail.Product" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">เบี้ย</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPremium" name="txtPremium" class="form-control" value="@ViewBag.QueueFullDetail.Premium" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">วันเริ่มคุ้มครอง</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtAppStartCoverDate" name="txtAppStartCoverDate" class="form-control" value="@ViewBag.QueueFullDetail.AppStartCoverDate" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">ชื่อลูกค้า</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtCustomerName" name="txtCustomerName" class="form-control" value="@(String.Format("{0}{1} {2}", ViewBag.QueueFullDetail.CustTitle, ViewBag.QueueFullDetail.CustFirstName, ViewBag.QueueFullDetail.CustLastName))" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">วันเกิด</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtCustBirthDate" name="txtCustBirthDate" class="form-control" value="@ViewBag.QueueFullDetail.CustBirthDate" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">เบอร์โทร</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtCustPhone" name="txtCustPhone" class="form-control" value="@ViewBag.QueueFullDetail.CustPhone" type="text" readonly />
                                                    </div>
                                                </div>
                                                @* -------Open SSS App-------- *@
                                                <div class="form-group">
                                                    <div class="col-md-12" style="text-align:center">
                                                        <button id="openSSS" type="button" class="btn btn-success" onclick="OpenSSS(@ViewBag.QueueFullDetail.ApplicationCode)">
                                                            รายละเอียด App
                                                        </button>
                                                    </div>
                                                </div>
                                                @* -------end-------- *@
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="box box-info">
                                    <div class="box-header" style="background-color: #b3eeff">
                                        <h4 class="box-title">ข้อมูลผู้ชำระเบี้ย </h4>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <form class="form-horizontal">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">ความสัมพันธ์</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtRelation" name="txtRelation" class="form-control" value="@(ViewBag.QueueFullDetail.PayerRelate != null ? ViewBag.QueueFullDetail.PayerRelate : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">ชื่อผู้ชำระเบี้ย</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayerName" name="txtPayerName" class="form-control" value="@(ViewBag.QueueFullDetail.PayerFirstName != null ? String.Format("{0}{1} {2}", ViewBag.QueueFullDetail.PayerTitle, ViewBag.QueueFullDetail.PayerFirstName, ViewBag.QueueFullDetail.PayerLastName) : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">อาชีพ</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayerOccupationLevel" name="txtPayerOccupationLevel" class="form-control" value="@(ViewBag.QueueFullDetail.PayerOccupationLevel != null ? ViewBag.QueueFullDetail.PayerOccupationLevel : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">เบอร์โทร</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayerPhone" name="txtPayerPhone" class="form-control" value="@(ViewBag.QueueFullDetail.PayerPhone != null ? ViewBag.QueueFullDetail.PayerPhone : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">เบอร์โทรที่ทำงาน</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayerBuildingPhone" name="txtPayerBuildingPhone" class="form-control" value="@(ViewBag.QueueFullDetail.PayerBuildingPhone != null ? ViewBag.QueueFullDetail.PayerBuildingPhone : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">ชื่อหน่วยงาน</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtBuildingName" name="txtBuildingName" class="form-control" value="@(ViewBag.QueueFullDetail.PayerBuildingName != null ? ViewBag.QueueFullDetail.PayerBuildingName : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">การชำระ</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayMethodType" name="txtPayMethodType" class="form-control" value="@(ViewBag.QueueFullDetail.PayMethodType != null ? ViewBag.QueueFullDetail.PayMethodType : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">ธนาคาร</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayerBankName" name="txtPayerBankName" class="form-control" value="@(ViewBag.QueueFullDetail.PayerBankName != null ? ViewBag.QueueFullDetail.PayerBankName : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">เลขที่บัญชี</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayerBankAccountNo" name="txtPayerBankAccountNo" class="form-control" value="@(ViewBag.QueueFullDetail.PayerBankAccountNo != null ? ViewBag.QueueFullDetail.PayerBankAccountNo : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                @* -------payer other-------- *@
                                                <div class="form-group">
                                                    <div class="col-md-12" style="text-align:center">
                                                        <button id="btnPayerOther" type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-warning" style="display:none">
                                                            ชำระเบี้ยให้อีก n คน
                                                        </button>
                                                    </div>
                                                </div>
                                                @* -------end-------- *@
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form id="formQuestion" action="@Url.Action("QuestionUpdate")" method="post" enctype="multipart/form-data">
                            <div class="col-sm-12">
                                <div class="box box-info">
                                    <div class="box-header" style="background-color: #b3eeff">
                                        <h4 class="box-title">ผลการคัดกรอง </h4>
                                    </div>
                                    <div id="box-ask-1" class="box-body" style="height: auto;width: auto;">
                                        <label>สถานะการคัดกรอง</label>
                                        <ul class="answerList">
                                            <li>
                                                <label>
                                                    <input type="radio" name="underwriteStatus1" value="1" id="underwriteStatus_1" checked> คัดกรองแล้ว
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="box-ask-1" class="box-body" style="height: auto;width: auto;" hidden>
                                        <label>สถานะการคัดกรอง</label>
                                        <ul class="answerList">
                                            <li>
                                                <label>
                                                    <input type="radio" name="underwriteStatus" value="1" id="underwriteStatus_1" checked> คัดกรองแล้ว
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="box-ask-2" class="box-body ask-y" style="height: auto;width: auto;">
                                        <label>ช่องทางการคัดกรอง</label>
                                        <ul class="answerList">
                                            @if (ViewBag.UnderwriteType != null)
                                            {
                                                foreach (var i in ViewBag.UnderwriteType)
                                                {
                                                    switch (i.UnderwriteTypeId)
                                                    {
                                                        //เข้าพบ
                                                        case 2:
                                                            @* <li>
                                                                    <label>
                                                                        <input type="radio" name="typeSelect" value="@i.UnderwriteTypeId" id="typeSelect_@(i.UnderwriteTypeId)"> @i.UnderwriteType
                                                                    </label>
                                                                    <div class="box-typeselect-@(i.UnderwriteTypeId)" style="padding-left:30px;display:none">
                                                                        <label>
                                                                            <input type="checkbox" name="typeSelectChild" id="typeSelect-chlid-customer-@(i.UnderwriteTypeId)" value="customer"> ผู้เอาประกัน
                                                                        </label>
                                                                        <label>
                                                                            <input type="checkbox" name="typeSelectChild" id="typeSelect-chlid-payer-@(i.UnderwriteTypeId)" value="payer"> ผู้ชำระเบี้ย
                                                                        </label>
                                                                    </div>
                                                                </li>*@
                                                            break;
                                                        //โทรคัดกรอง
                                                        case 3:
                                                            <li>
                                                                <label>
                                                                    <input type="radio" name="typeSelect" value="@i.UnderwriteTypeId" id="typeSelect_@(i.UnderwriteTypeId)" checked> @i.UnderwriteType
                                                                </label>
                                                                <div class="box-typeselect-@(i.UnderwriteTypeId)" style="padding-left:30px;">
                                                                    <label>
                                                                        <input type="checkbox" name="typeSelectChild" id="typeSelect-chlid-customer-@(i.UnderwriteTypeId)" value="customer"> ผู้เอาประกัน
                                                                    </label>
                                                                    <label>
                                                                        <input type="checkbox" name="typeSelectChild" id="typeSelect-chlid-payer-@(i.UnderwriteTypeId)" value="payer"> ผู้ชำระเบี้ย
                                                                    </label>
                                                                    <label>
                                                                        <span style="color:red">*</span>สาเหตุการโทรคัดกรองลูกค้า
                                                                        <textarea name="txtCause" id="txtCause" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px"></textarea>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            break;
                                                        default:
                                                            break;
                                                    }

                                                }
                                            }
                                        </ul>
                                    </div>
                                    <div id="box-ask-3" class="box-body ask-y" style="height: auto;width: auto;">
                                        <label>การชำระเบี้ย</label>
                                        <ul class="answerList">
                                            @if (ViewBag.UnderwritePaymentType != null)
                                            {
                                                foreach (var i in ViewBag.UnderwritePaymentType)
                                                {
                                                    if (i.UnderwritePaymentTypeId != 1 && i.UnderwritePaymentTypeId != 3)
                                                    {
                                                        <li>
                                                            <label>
                                                                <input type="radio" name="uwPaymentType" value="@i.UnderwritePaymentTypeId" id="uwPaymentType_@(i.UnderwritePaymentTypeId)"> @i.UnderwritePaymentTypeDetail
                                                            </label>
                                                        </li>
                                                    }

                                                }
                                            }
                                        </ul>
                                    </div>
                                    <div id="box-ask-4" class="box-body ask-y" style="height: auto;width: auto;">
                                        <label>การคัดกรองด้านสุขภาพ</label>
                                        <ul class="answerList">
                                            <li>
                                                <label>
                                                    <input type="radio" name="health" value="1" id="health_pass"> ผ่านคัดกรอง
                                                </label>
                                                <div class="box-health-pass" style="padding-left:30px;display:none">
                                                    <label>
                                                        <input type="radio" name="healthChildPass" value="1" id="health-child-pass-std"> ตามมาตรฐานทุกประการ
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="healthChildPass" value="0" id="health-child-pass-condition"> มีประวัติสุขภาพที่ติดข้อยกเว้น
                                                    </label>
                                                </div>
                                                <div class="sub-box-health-pass" style="padding-left:60px;display:none">
                                                    <label>
                                                        <input type="radio" name="IsSpecify" value="1" id="IsSpecify_1"> ระบุในใบสมัคร
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="IsSpecify" value="0" id="IsSpecify_0"> ไม่ระบุในใบสมัคร
                                                    </label>
                                                    <label>
                                                        <span style="color:red">*</span>ระบุข้อมูลข้อยกเว้น..
                                                        <textarea name="healthChildPassOtherRemark" id="healthChildPassOtherRemark" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px"></textarea>
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="radio" name="health" value="0" id="health_notpass"> ไม่ผ่านคัดกรอง
                                                </label>
                                                <div class="box-health-notpass" style="padding-left:30px;display:none">
                                                    <label>
                                                        <input type="checkbox" name="healthChildNotPass" value="denyHealth" id="health-child-notpass-health"> ด้านสุขภาพ
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" name="healthChildNotPass" value="denyOccupation" id="health-child-notpass-occupation"> ด้านอาชีพ
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" name="healthChildNotPass" value="denyCantPay" id="health-child-notpass-cantpay"> ไม่สามารถชำระเบี้ยตามเงื่อนไขได้
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" name="healthChildNotPass" value="denyCantContact" id="health-child-notpass-cantcontact"> ติดต่อไม่ได้/ไม่รับสาย/ไม่สะดวกคุย
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" name="healthChildNotPass" value="denyOther" id="health-child-notpass-other"> อื่นๆ
                                                    </label>
                                                    <label>
                                                        <span style="color:red">*</span>อื่นๆ โปรดระบุ..
                                                        <textarea name="healthChildNotPassOtherRemark" id="healthChildNotPassOtherRemark" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px" disabled></textarea>
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="box-ask-5" class="box-body ask-y" style="height: auto;width: auto;">
                                        <label>หมายเหตุ/บันทึกเพิ่มเติม</label>
                                        <ul class="answerList">
                                            <li>
                                                <textarea name="remark" id="remark" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px"></textarea>
                                            </li>
                                        </ul>
                                    </div>
                                  @*  <div id="box-ask-6" class="box-body ask-n" style="height: auto;width: auto;display:@(ViewBag.QueueFullDetail.IsUnderwrite == false ? "block" : "none")">
                                        <label>สถานะการโทร</label>
                                        <ul class="answerList">
                                            <li>
                                                @if (ViewBag.CallStatusList != null)
                                                {
                                                    foreach (var i in ViewBag.CallStatusList)
                                                    {
                                                        if (i.CallStatusId != 2)
                                                        {
                                                            <label>
                                                                <input type="radio" name="callStatus" value="@i.CallStatusId" id="callStatus_@(i.CallStatusId)" @(ViewBag.QueueFullDetail.CallStatusId == i.CallStatusId ? "checked" : "")> @i.CallStatus
                                                            </label>
                                                        }
                                                    }
                                                }
                                            </li>
                                        </ul>
                                    </div>

                                    <div id="box-ask-7" class="box-body ask-n" style="height: auto;width: auto;display:@(ViewBag.QueueFullDetail.IsUnderwrite == false ? "block" : "none")">
                                        <label>สถานะการเข้าพบ</label>
                                        <ul class="answerList">
                                            <li>
                                                <label>
                                                    <input type="checkbox" name="foundCustomer" value="0" id="foundCustomer_0" @(ViewBag.QueueFullDetail.IsNotFoundCustomer == true ? "checked" : "" )> ไม่พบลูกค้า
                                                </label>
                                            </li>
                                        </ul>
                                    </div>*@
                                </div>
                            </div>
                            <input type="hidden" name="hiddenQueueId" id="hiddenQueueId" value="@ViewBag.QueueFullDetail.QueueId" />
                            <input type="hidden" name="hiddenQueueCreatedDate" id="hiddenQueueCreatedDate" value="@ViewBag.QueueFullDetail.CreatedDate" />
                        </form>
                        <div class="col-sm-12" id="sectionGivecard" style="display:none">
                            <div class="box box-info">
                                <div class="box-header" style="background-color: #b3eeff">
                                    <h4 class="box-title">บันทึกการมอบบัตรประกันสุขภาพ </h4>
                                </div>
                                <div class="box-body" style="height: auto;width: auto;">
                                    <form id="formCobrand">
                                        <div class="form-group col-md-12">
                                            <label class="col-md-2 control-label">  มอบบัตร CoBrand<span style="color:red">*</span></label>
                                            <div class="col-md-6 ">
                                                <input class="form-control" id="txtCoBrand" name="txtCoBrand" type="text" checkOnlyNum="checkOnlyNum" maxlength="12" minLength="12" />
                                            </div>
                                        </div>
                                    </form>
                                    <div class="form-group col-md-12">
                                        <label class="col-md-2 control-label"> วันที่บันทึกมอบบัตร<span style="color:red">*</span></label>
                                        <div class="col-md-6 ">
                                            <input class="form-control" id="txtCoBrandDate" name="txtCoBrandDate" type="text" disabled="disabled" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="col-md-2 control-label">แนบรูปภาพมอบบัตร<span style="color:red">*</span></label>
                                        <div class="col-md-6 ">
                                            <form action="@Url.Action("FileUpload")" class="dropzone" id="myDropzone" enctype="multipart/form-data">
                                                @*<div class="dz-message">
                                                        Drop files here or click to upload.
                                                    </div>*@
                                                <div class="fallback">
                                                    <input name="file" type="file" multiple />
                                                </div>
                                                <input type="hidden" name="queueId" value="@ViewBag.QueueFullDetail.QueueId" />
                                                <input type="hidden" name="createdDate" value="@ViewBag.QueueFullDetail.CreatedDate" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="text-align:center;padding-bottom: 10px;">
                            <button id="btnSubmit" class="form-control btn btn-success" style="width:150px">บันทึกข้อมูล</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_2">
                    <div id="Document_form" class="form-horizontal">
                        @if (ViewBag.FirstDoc == null)
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="form1_msg" class="alert alert-warning alert-dismissible">
                                        <h4><i class="icon fa fa-ban"></i> แจ้งเตือน!</h4>
                                        ไม่พบเอกสาร
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <br />
                            <div class="form-group">
                                @if (ViewBag.DocLink != null)
                                {
                                    foreach (var itm in ViewBag.DocLink)
                                    {
                                        <div class="col-sm-6 col-xs-12">
                                            <button type="button" class="btn btn-block btn-info" id="btn_@itm.DocumentFileId" onclick="SeeDoc('@itm.PathFullDoc')"><i class="fa fa-fw fa-search"></i>@itm.DocumentTypeName:@itm.DocumentId</button>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="row" id="DocDetail_form">
                                <div class="col-sm-12" style="height: 950px">
                                    <iframe class="SeeDoc" style="width: 100%; height: 100%;overflow:auto !important" src="@ViewBag.FirstDoc"></iframe>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div id="tab_3" class="tab-pane">
                    <div class="form-horizontal">
                        <table id="tableLog" name="tableLog" class="table table-bordered table-striped display responsive" style="width: 100%">
                            <tbody>
                                <tr style="text-align:center"><td>ไม่พบข้อมูล</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
    <!--.modal -->
    <div class="modal fade" id="modal-warning">
        <!--.modal-dialog -->
        <div class="modal-dialog">
            <!--.modal-content -->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #ffd243;border-color: #ffeeba;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: black;">×</span>
                    </button>
                    <h4 class="modal-title">รายละเอียด</h4>
                </div>
                <div class="modal-body">
                    <table id="tablePayerOther" class="table table-bordered table-striped display responsive" style="width: 100%"></table>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--/.modal -->
</section>
@section ViewSpecificJavascript
{
    <script>
        var chat;
        var healtVal;
        var typeSelectVal;
        var countFile = 0;
        var imgUrlPath;
        var imgPhysicalPath;

        $(function () {
            if (!isWindows()) {
                $('#DocDetail_form').hide();
            }

            //disabled element input
            $("#box-ask-1 :input").prop("disabled", true);
            $(".typeSelect1 :input").prop("disabled", true);

            /*start signalR*/
            // Reference the auto-generated proxy for the hub.
            chat = $.connection.chatHub;
            //Start Connection
            $.connection.hub.start().done();

            //Date
            var date = new Date();

            //load dt payer other
            getPayerOther('@ViewBag.AppCode');

            //set options datepicker
            //$('#txtCoBrandDate').datepicker({
            //    format: 'dd/mm/yyyy',
            //    autoclose: true
            //}).datepicker('setDate', new Date());
            $('#txtCoBrandDate').val(`${date.getDate()}/${date.getMonth()+1}/${date.getFullYear() + 543}`);

            //Dropzone Options
            Dropzone.options.myDropzone = {
                paramName: "file", // ชื่อไฟล์ปลายทางเมื่อ upload แบบ mutiple จะเป็น array
                autoProcessQueue: true,// ใส่เพื่อไม่ให้อัพโหลดทันที หลังจากเลือกไฟล์
                uploadMultiple: false, // อัพโหลดไฟล์หลายไฟล์ - true จะส่งเป็น array
                parallelUploads: 10, // ให้ทำงานพร้อมกัน 10 ไฟล์
                maxFiles: 1, // ไฟล์สูงสุด 1 ไฟล์
                addRemoveLinks: true, // อนุญาตให้ลบไฟล์ก่อนการอัพโหลด
                maxFilesize: 10, // MB
                dictRemoveFile: "ลบ", // ชื่อ ปุ่ม remove
                dictCancelUpload: "ยกเลิก", // ชื่อ ปุ่ม ยกเลิก
                dictDefaultMessage: "เลือกรูปภาพ", // ข้อความบนพื้นที่แสดงรูปจะแสดงหลังจากโหลดเพจเสร็จ
                dictFileTooBig: "ไม่อนุญาตให้อัพโหลดไฟล์เกิน 2 MB", //ข้อความแสดงเมื่อเลือกไฟล์ขนาดเกินที่กำหนด
                acceptedFiles: ".jpeg,.jpg,.png", // อนุญาตให้เลือกไฟล์ประเภทรูปภาพได้
                dictMaxFilesExceeded: "ไฟล์เกินจำนวน",
                dictResponseError: "ไม่สามารถอัพโหลดไฟล์ได้",
                dictFallbackMessage: "ไม่รองรับไฟล์",
                // The setting up of the dropzone
                init: function () {
                    this.on("addedfile", function (file) {
                        if (this.files[1] != null) {
                            this.removeFile(this.files[0]);
                        }
                        countFile++
                    }).on("removedfile", function (file) {
                        countFile--
                        $.post('@Url.Action("File_delete")',
                            {
                                queueId: $('#hiddenQueueId').val(),
                                queueCreatedDate: $('#hiddenQueueCreatedDate').val()
                            }, (data) => {
                                if (data.IsResult) {
                                    var _ref;
                                    return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                                } else {
                                    return swal("เกิดข้อผิดพลาด !", data.Msg, "error");
                                }
                            });
                        //ลบไฟล์ -เคลียร์ path
                        imgUrlPath = null;
                        imgPhysicalPath = null;
                        fileImgName = null;
                    }).on("thumbnail", function (file) {

                    }).on("success", function (file, response) {
                        //เก็บ path ในตัวแปร เพื่อใช้ในการบันทึกมอบบัตรต่อไป
                        imgUrlPath = response.urlPath;
                        imgPhysicalPath = response.physicalPath;
                        fileImgName = response.fileImgName;
                    }).on("error", function (file) {

                    }).on("processing", function(file) {

                    }).on("uploadprogress", function(file) {

                    });
                }
            }

            /*Event if checked*/
            //สถานะการคัดกรอง
            $('input[name=underwriteStatus]').on('ifChecked',
                function (e) {
                    if ($(this).valid()) {
                        switch ($(this).val()) {
                            case '1':
                                $(".ask-y").show();
                                $(".ask-n").hide();
                                $('.ask-n').find("input").iCheck('uncheck');
                                $('.box-typeselect-2').hide();
                                $('.box-typeselect-3').hide();
                                $('.box-health-pass').hide();
                                $('.box-health-notpass').hide();
                                $('textarea[name=healthChildPassOtherRemark]').val('');
                                $('textarea[name=healthChildNotPassOtherRemark]').val('');
                                $('textarea[name=remark]').val('');
                                $('#sectionGivecard').hide();
                                break;
                            case '0':
                                $(".ask-y").hide();
                                $(".ask-n").show();
                                $('.ask-y').find("input").iCheck('uncheck');
                                $('.box-typeselect-2').hide();
                                $('.box-typeselect-3').hide();
                                $('.box-health-pass').hide();
                                $('.box-health-notpass').hide();
                                $('textarea[name=healthChildPassOtherRemark]').val('');
                                $('textarea[name=healthChildNotPassOtherRemark]').val('');
                                $('textarea[name=remark]').val('');
                                $('#sectionGivecard').hide();
                                break;
                            default:
                        }
                    }

                });
            /*tab change*/
            $('a[data-toggle="tab"]').on('shown.bs.tab',
                function (e) {
                    e.preventDefault();
                    loadingSpinner('fadeIn', 500);
                    const target = $(e.target).attr("href");
                    switch (target) {
                        case "#tab_3":
                            //Log
                            GetQueueLog_DT();
                            break;
                        default:
                    }
                });
            //FORM SUBMIT
            $('#btnSubmit').click(function () {
                if ($('#formQuestion').valid()) {
                    if ($("input[name=underwriteStatus]:checked").val() === "1") {
                        //ผ่านคัดกรอง และ เข้าพบลูกค้า
                        if (healtVal === '1' && typeSelectVal === '2') {
                            if ( countFile > 0) {
                                swal_confirm("ยืนยันบันทึกข้อมูล", "", function (e) {
                                   //บันทึกมอบบัตร && แบบสอบถาม
                                   InsertQueueCoBrand();
                                });
                            } else {
                              

                                if (countFile === 0) {
                                    swal("แนบไฟล์รูปอย่างน้อย 1 รูป", "", "error");
                                }
                            }
                        } else {
                            swal({
                                title: "ยืนยันบันทึกข้อมูล",
                                text: "",
                                type: 'info',
                                showCancelButton: true,
                                confirmButtonColor: '#277020',
                                confirmButtonText: 'ยืนยัน',
                                cancelButtonText: 'ยกเลิก',
                                closeOnConfirm: false,
                                closeOnEsc: false,
                                closeOnCancel: true
                            }, function () {
                                $(".confirm").attr('disabled', 'disabled');
                                SubmitformQuestion();
                            });
                        }
                    } else {
                        swal({
                            title: "ยืนยันบันทึกข้อมูล",
                            text: "",
                            type: 'info',
                            showCancelButton: true,
                            confirmButtonColor: '#277020',
                            confirmButtonText: 'ยืนยัน',
                            cancelButtonText: 'ยกเลิก',
                            closeOnConfirm: false,
                            closeOnEsc: false,
                            closeOnCancel: true
                        }, function () {
                            $(".confirm").attr('disabled', 'disabled');
                            SubmitformQuestion();
                        });
                    }

                    return false;
                }
            });

            //ช่องทางการคัดกรอง
            $('input[name=typeSelect]').on('ifChecked',
                function (e) {
                    if ($(this).valid()) {
                        typeSelectVal = $(this).val();
                        switch ($(this).val()) {
                            case '2': //เข้าพบ
                                $('.box-typeselect-2').show();
                                $('.box-typeselect-3').hide();
                                $('input[name=typeSelectChild]').iCheck('uncheck');
                                break;
                            case '3': //โทรคัดกรอง
                                $('.box-typeselect-2').hide();
                                $('.box-typeselect-3').show();
                                $('input[name=typeSelectChild]').iCheck('uncheck');
                                break;
                            default:
                        }
                        showSectionGivecard();
                    }
                });
            //ช่องทางการคัดกรอง - child
            $('input[name=typeSelectChild').on('ifChecked',
                function (e) {
                    $(this).valid();
                });
            //การชำระเบี้ย
            $('input[name=uwPaymentType').on('ifChecked',
                function (e) {
                    $(this).valid();
                });
            //สถานะการโทร
            $('input[name=callStatus').on('ifChecked',
                function (e) {
                    $(this).valid();
                });
            //สถานะการเข้าพบ
            $('input[name=foundCustomer').on('ifChecked',
                function (e) {
                    $(this).valid();
                });

            //การคัดกรองด้านสุขภาพ - parent
            $('input[name=health]').on('ifChecked',
                function (e) {
                    if ($(this).valid()) {
                        healtVal = $(this).val();
                        switch ($(this).val()) {
                            case '1': //ผ่าน
                                $('.box-health-pass').show();
                                $('.box-health-notpass').hide();
                                $('input[name=healthChildNotPass]').iCheck('uncheck');
                                $('textarea[name=healthChildNotPassOtherRemark]').val('');
                                break;
                            case '0': //ไม่ผ่าน
                                $('.box-health-notpass').show();
                                $('.box-health-pass').hide();
                                $('.sub-box-health-pass').hide();
                                $('input[name=IsSpecify]').iCheck('uncheck');
                                $('input[name=healthChildPass]').iCheck('uncheck');
                                $('textarea[name=healthChildPassOtherRemark]').val('');
                                break;
                            default:
                        }
                        showSectionGivecard();
                    }
                });
            //การคัดกรองด้านสุขภาพ-ไม่ผ่าน - child
            $('input[name=healthChildNotPass').on('ifChecked',
                function (e) {
                    $(this).valid();
                });
            //การคัดกรองด้านสุขภาพ-ผ่าน - child
            $('input[name=healthChildPass]').on('ifChecked',
                function (e) {
                    if ($(this).valid()) {
                        switch ($(this).val()) {
                            case '1': //ผ่านตามมาตรฐาน
                                $('textarea[name=healthChildPassOtherRemark]').val('');
                                $('.sub-box-health-pass').hide();
                                $('input[name=IsSpecify]').iCheck('uncheck');
                                break;
                            case '0'://ติดข้อยกเว้น
                                $('.sub-box-health-pass').show();
                                break;
                            default:
                        }
                    }
                });

            //มีประวัติสุขภาพที่ติดข้อยกเว้น
            $('input[name=IsSpecify]').on('ifChecked', function (e) {
                $(this).valid();
            });

            //มีประวัติสุขภาพที่ติดข้อยกเว้น
            $('input[name=IsSpecify_CM]').on('ifChecked', function (e) {
                if ($(this).valid()) {
                    switch ($(this).val()) {
                        case "1":
                            CMSpecify = true;
                            break;
                        case "0":
                            CMSpecify = null;
                            break;
                        default:
                    }
                }
            });

            //checkbox healthChildNotPass
            $('input[name=healthChildNotPass]').on('ifChanged', function () {
                if ($(this).is(':checked')) {
                    switch ($(this).val()) {
                        case "denyOther":
                            $('textarea[name=healthChildNotPassOtherRemark]').prop('disabled', false);
                            break;
                        default:
                    }
                } else {
                    switch ($(this).val()) {
                        case "denyOther":
                            $('textarea[name=healthChildNotPassOtherRemark]').val('');
                            $('textarea[name=healthChildNotPassOtherRemark]').prop('disabled', true);
                            break
                        default:
                    }
                }
            });
        });

        const SubmitformQuestion = () => {
            $.ajax({
             url: $('#formQuestion').attr('action'),
             type: 'POST',
             data: $('#formQuestion').serialize(),
             success: function (response) {
                 if (response != null && response.IsResult === true) {
                     switch (typeSelectVal) {
                        //ช่องทางโทรคัดกรอง
                         case "3":
                             if (healtVal === "1") {
                                 swal({
                                     title: "บันทึกข้อมูลเรียบร้อย",
                                     text: "<h3>กรณีโทรคัดกรอง <br>ท่านต้องจัดการมอบบัตรและปิดคิวงานที่</h3><br><a href='@Url.Action("Index","Home")'><img src='/Content/img/menu03.jpg' style='width: 180px;border: 1px solid;' /></a>",
                                     type: "success",
                                     showCancelButton: false,
                                     showConfirmButton: true,
                                     allowEscapeKey: false,
                                     allowOutsideClick: false,
                                     html: true
                                 }, function (e) {
                                    window.close();
                                 });
                                 break;
                             } else {
                                 swal({
                                     title: "บันทึกข้อมูลเรียบร้อย",
                                     text: "",
                                     type: "success",
                                     showCancelButton: false,
                                     showConfirmButton: true,
                                     allowEscapeKey: false,
                                     allowOutsideClick: false,
                                     html: false
                                 }, function (e) {
                                     window.close();
                                 });
                                 break;
                             }
                         default:
                             swal({
                                 title: "บันทึกข้อมูลเรียบร้อย",
                                 text: "",
                                 type: "success",
                                 showCancelButton: false,
                                 showConfirmButton: true,
                                 allowEscapeKey: false,
                                 allowOutsideClick: false,
                                 html: false
                             }, function (e) {
                                window.close();
                             });
                             break;
                     }
                 } else {
                     swal("บันทึกรายการไม่สำเร็จ กรุณาตรวจสอบข้อมูล", response.Msg , "error");
                 }
             }
             });
        }

         const OpenSSS = (app) => {
            var encoded = btoa(app);
            window.open(`@ViewBag.OpenSSS?app=`+encoded,'_blank');
        }

        const showSectionGivecard = () => {
            //ผ่านคัดกรอง และ เข้าพบลูกค้า
            if (healtVal === '1' && typeSelectVal === '2') {
                $('#sectionGivecard').show();
            } else {
                $('#sectionGivecard').hide();
            }
        }
        /***Document**/
        const SeeDoc = (path) => {
            if (!isWindows()) {
                window.location.href = path;
            } else {
                $('#DocDetail_form').children().show();
                //const extension = path.substr(path.length - 4);
                let extension = '';
                const indexPDF = path.indexOf('.pdf');
                const indexJPG = path.indexOf('.jpg');

                if (indexPDF >= 0) extension = '.pdf';
                if (indexJPG >= 0) extension = '.jpg';

                switch (extension) {
                    case '.pdf':
                        $('.SeeDoc').attr('src', path);
                        break;
                    case '.jpg':
                        $('.SeeDoc').attr('src', path);
                        break;
                    default:
                }
            }
        }

        const GetQueueLog_DT = () => {
            $('#tableLog').empty();
            var table = $('#tableLog').DataTable({
                pageLength: 10,
                lengthChange: false,
                processing: true,
                serverSide: true,
                destroy: true,
                searching: true,
                ordering: true,
                info: true,
                paging: true,
                autoWidth: false,
                responsive: true,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.20/i18n/Thai.json'
                },
                ajax: {
                    url: '@Url.Action("QueueLog")',
                    method: 'GET',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search;
                        d.queueId = "@ViewBag.QueueFullDetail.QueueId";
                    }
                },
                columns: [
                    {
                        title: 'วันที่ทำรายการ',
                        data: 'CreatedDate',
                        render: function (data) {
                            return moment(data).format("DD/MM/YYYY HH:mm:ss");
                        }

                    },
                    {
                        title: 'ผู้มอบหมายคิวงาน',
                        data: 'FromEmployeeName'
                    },
                    {
                        title: 'ผู้รับคิวงาน',
                        data: 'ToEmployeeName'
                    },
                    {
                        title: 'รายละเอียด',
                        data: 'TransactionTypeDetail'
                    },
                ]
            });

            window.onresize = function () {
                table.columns.adjust().responsive.recalc();
            };
        }

        const InsertQueueCoBrand = () => {
            $.post("@Url.Action("QueueCoBrandInsert")", {
                queueId: @ViewBag.QueueFullDetail.QueueId,
                coBrandNo: $('#txtCoBrand').val(),
                giverDate: $('#txtCoBrandDate').val(),
                uRLPath: imgUrlPath,
                physicalPath: imgPhysicalPath,
                fileName: fileImgName,
            }, function (data) {
                if (data.IsResult) {
                    //บันทึกมอบบัตรเรียบร้อยแล้ว
                    //บันทึกแบบสอบถาม
                    SubmitformQuestion();
                } else {
                    swal("เกิดข้อผิดพลาด !", data.Msg, "error");
                }
             });
        }

        /*fn get payer other*/
        const getPayerOther = (appCode) => {
            $.get('@Url.Action("GetPayerOtherApp")',
                { appCode: appCode },
                function (data) {
                    if (data.length > 0) {
                        /*declare str*/
                        const str = `ชำระเบี้ยให้อีก ${data.length} คน`;
                        /*show button*/
                        $('#btnPayerOther').show();
                        /*set str to text button*/
                        $('#btnPayerOther').text(str);
                        /*load datatables*/
                        loadDatatablesPayerOther(data);
                    }
                });
        }

        /*load datatables payer other*/
        const loadDatatablesPayerOther = (data) => {
            $(`#tablePayerOther`).empty();
            $(`#tablePayerOther`).DataTable({
                pageLength: 100,
                processing: true,
                serverSide: false,
                autoWidth: false,
                responsive: true,
                destroy: true,
                lengthChange: false,
                searching: false,
                info: true,
                paging: true,
                data: data,
                language: {
                    url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Thai.json"
                },
                columns: [
                    {
                        title: 'AppId',
                        data: 'app_Id',
                        orderable: false
                    },
                    {
                        title: 'ชื่อ-สกุล',
                        data: null,
                        orderable: false,
                        render: (d) => {
                            return `${d.customerFirstName} ${d.customerLastName}`;
                        }

                    },
                    {
                        title: 'วันเริ่มคุ้มครอง',
                        data: 'startCoverDate',
                        orderable: false,
                        render: (d) => {
                            return moment(d).format("DD/MM/YYYY");
                        }
                    },
                    {
                        title: 'สถานะ',
                        data: 'status',
                        orderable: false
                    }
                ]
            });
        }
    </script>
}