@{
    /**/

    ViewBag.Title = "บันทึกคัดกรอง";
    Layout = "~/Views/Shared/_LayoutForTopIndexPH.cshtml";
}
<style>
    strong {
        color: red;
    }

    label.title {
        color: #3F8FBD
    }

    label.fonts-box {
        font-family: sans-serif;
        font-size: 14px;
        font-weight: lighter;
    }
</style>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false"><h4>บันทึกผลการทำงาน</h4></a></li>
            @*  <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="true"><h4>เอกสาร</h4></a></li>*@
            <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="true"><h4>ประวัติคิวงาน</h4></a></li>
        </ul>
        @if (ViewBag.QueueFullDetail != null)
        {
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1" style="padding:0px 20px 0px 20px">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card" style="background-color: #E0F7FF; border-radius: 8px 8px; ">
                                <div class="box-header" style="color: #3F8FBD; border-bottom: 1px solid #D2D6DE">
                                    <i class="fa fa-user"></i>
                                    <h4 class="box-title">ข้อมูลผู้เอาประกัน </h4>
                                </div>
                                <div class="box-body" style="align-items: center;">
                                    <div class="row">
                                        <h5 class=" col-md-3"><b>App ID</b> : <a href="#" target="_blank" id="openSSS" style="text-decoration: underline; color: #2833FF " onclick="OpenSSS(@ViewBag.QueueFullDetail.ApplicationCode)">@ViewBag.QueueFullDetail.ApplicationCode</a></h5>
                                        <h5 class=" col-md-3">
                                            <b>วันเริ่มคุ้มครอง</b>  : @(String.Format("{0:dd MMM yyyy}", ViewBag.QueueFullDetail.AppStartCoverDate))
                                        </h5>
                                        <h5 class=" col-md-3"><b>แผนประกัน</b> : @ViewBag.QueueFullDetail.Product</h5>
                                        <h5 class=" col-md-3"><b>เบี้ย</b> : @ViewBag.QueueFullDetail.Premium บาท</h5>
                                    </div>
                                    <div class="row">
                                        <h5 class=" col-md-3 "><b>ชื่อ</b> : @(String.Format("{0}{1} {2}", ViewBag.QueueFullDetail.CustTitle, ViewBag.QueueFullDetail.CustFirstName, ViewBag.QueueFullDetail.CustLastName))</h5>
                                        <h5 class="col-md-3"><b>วันเกิด</b> : @(String.Format("{0:dd MMM yyyy}", ViewBag.QueueFullDetail.CustBirthDate))</h5>
                                        <h5 class="col-md-3"><b>อายุวันสมัคร</b> : @ViewBag.QueueFullDetail.AgesAtRegister ปี</h5>
                                        <h5 class="col-md-3"><b>อายุปัจจุบัน</b> :  @ViewBag.QueueFullDetail.AgesCurrent ปี</h5>
                                    </div>
                                    <div class="row">
                                        <h5 class="col-md-3"><b>เบอร์โทร</b> : @ViewBag.QueueFullDetail.CustPhone</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="margin-top:15px;margin-bottom :15px">
                            <div class="card" style="background-color: #E0F7FF; border-radius: 8px 8px">
                                <div class="box-header" style="color: #3F8FBD; border-bottom: 1px solid #D2D6DE">
                                    <i class="fa fa-user"></i>
                                    <h4 class="box-title">ข้อมูลผู้ชำระเบี้ย </h4>
                                </div>
                                <div class="box-body" style="align-items: center;">
                                    <div class="row">
                                        <h5 class=" col-md-4"><b>ชื่อผู้ชำระเบี้ย</b> : @(ViewBag.QueueFullDetail.PayerFirstName != null ? String.Format("{0}{1} {2}", ViewBag.QueueFullDetail.PayerTitle, ViewBag.QueueFullDetail.PayerFirstName, ViewBag.QueueFullDetail.PayerLastName) : "-")</h5>
                                        <h5 class=" col-md-4"><b>ความสัมพันธ์</b> : @(ViewBag.QueueFullDetail.PayerRelate != null ? ViewBag.QueueFullDetail.PayerRelate : "-")</h5>
                                        <h5 class=" col-md-4"><b>เบอร์โทร</b> : @(ViewBag.QueueFullDetail.PayerPhone != null ? ViewBag.QueueFullDetail.PayerPhone : "-")</h5>
                                    </div>
                                    <div class="row">
                                        <h5 class=" col-md-4"><b>อาชีพ</b> : @(ViewBag.QueueFullDetail.PayerOccupationLevel != null ? ViewBag.QueueFullDetail.PayerOccupationLevel : "-")</h5>
                                        <h5 class=" col-md-4"><b>ชื่อหน่วยงาน</b> : @(ViewBag.QueueFullDetail.PayerBuildingName != null ? ViewBag.QueueFullDetail.PayerBuildingName : "-")</h5>
                                        <h5 class=" col-md-4"><b>เบอร์โทรที่ทำงาน</b> : @(ViewBag.QueueFullDetail.PayerBuildingPhone != null ? ViewBag.QueueFullDetail.PayerBuildingPhone : "-")</h5>
                                    </div>
                                    <div class="row">
                                        <h5 class=" col-md-4"><b>การชำระ</b> : @(ViewBag.QueueFullDetail.PayMethodType != null ? ViewBag.QueueFullDetail.PayMethodType : "-")</h5>
                                        <h5 class=" col-md-4"><b>ธนาคาร</b> : @(ViewBag.QueueFullDetail.PayerBankName != null ? ViewBag.QueueFullDetail.PayerBankName : "-")</h5>
                                        <h5 class=" col-md-4"><b>เลขบัญชี</b> : @(ViewBag.QueueFullDetail.PayerBankAccountNo != null ? ViewBag.QueueFullDetail.PayerBankAccountNo : "-")</h5>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12" style="text-align:right">
                                            <a href="#" id="btnPayerOther" data-toggle="modal" data-target="#modal-warning" style="text-decoration: underline; color: #2833FF; display: none "></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class=" col-sm-12">
                            <div class="box box-info bg-info " style="border-radius: 8px 8px 0px 0px ">
                                <div class="box-header" style="background-color: #00C0EF; color: azure; border-radius: 8px 8px 0px 0px ">
                                    <h4 class="box-title">รายละเอียดการมอบบัตร</h4>
                                </div>
                                <div class=" box-body" style="height: auto;width: auto;margin-top:15px">
                                    <form id="sectionGiveCardFrom">
                                        <div class="typeSelectChildxx form-group col-md-12">
                                            <label class="col-md-2 control-label title">มอบบัตรให้กับ</label>
                                            <label class="col-md-2  fonts-box"><input type="checkbox" name="typeSelectChild" id="typeSelectChildPayer" value=""> ผู้ชำระเบี้ย </label>
                                            <label class="col-md-2  fonts-box"><input type="checkbox" name="typeSelectChild" id="typeSelectChildCustomer" value="customer"> ผู้เอาประกัน</label>
                                        </div>
                                        <div class=" radio-check  form-group col-md-12">
                                            <label class="col-md-2 control-label title">ประเภทบัตร</label>
                                            <label class="col-md-2 fonts-box">
                                                <input type="radio" name="isLineOA" value="1" id="IsSpecify_1"> Line OA
                                            </label>
                                            <label class="col-md-2 fonts-box">
                                                <input type="radio" name="isLineOA" value="0" id="IsSpecify_2"> Cobrand
                                            </label>
                                            <label class="col-md-4 fonts-box" id="formCobrand" style="display:none">
                                                <input class="form-control" id="txtCoBrand" name="txtCoBrand" type="text" checkOnlyNum="checkOnlyNum" minlength="12" maxlength="12" placeholder="ระบุเลข Cobrand" />
                                            </label>
                                        </div>
                                        <div class="form-group col-md-12" id="remarkisLineOAFrom">
                                            <label class="col-md-2 control-label title">
                                                หมายเหตุการมอบบัตร
                                            </label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" name="remarkisLineOA" id="remarkisLineOA" value="">
                                            </div>
                                        </div>
                                    </form>
                                    <div class="form-group col-md-12">
                                        <label class="col-md-2 control-label title">แนบรูปภาพมอบบัตร</label>
                                        <div class="col-md-8 ">
                                            <form action="@Url.Action("FileUpload")" class="dropzone" id="myDropzone" enctype="multipart/form-data">
                                                <div class="fallback">
                                                    <input name="file" type="file" multiple />
                                                </div>
                                                <input type="hidden" name="queueId" id="hiddenQueueId" value="@ViewBag.QueueFullDetail.QueueId" />
                                                <input type="hidden" name="createdDate" id="hiddenQueueCreatedDate" value="@ViewBag.QueueFullDetail.CreatedDate" />
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <form id="sectionGiveCardFrom_2">
                            @*checkId == queueStatusId  // 8 = ยังไม่ดำเนินการ*@
                            @if (ViewBag.checkId != 8)
                            {
                                <div class="col-sm-12">
                                    <div class="box box-info bg-info " style="border-radius: 8px 8px 0px 0px ">
                                        <div class="box-header" style="background-color: #00C0EF; color: azure; border-radius: 8px 8px 0px 0px ">
                                            <h4 class="box-title">ข้อมูลการเฝ้าระวัง</h4>
                                        </div>
                                        <div class=" box-body shadow " style="height: auto;width: auto;margin-top:15px">
                                            <div class="radio-check form-group text col-md-12">
                                                <label class="col-md-12 control-label title">ข้อมูลการเฝ้าระวัง</label>
                                                <label class="col-md-2 fonts-box">
                                                    <input type="radio" name="isBeware" value="0" id="isBeware_1"> ไม่มี
                                                </label>
                                                <label class="col-md-2 fonts-box">
                                                    <input type="radio" name="isBeware" value="1" id="isBeware_2"> มี
                                                </label>
                                                <label class="bewareRemarkLabel col-md-6 fonts-box" id="bewareRemarkLabel" style="display:none">
                                                    <input class="form-control" id="bewareRemark" name="bewareRemark" type="text" placeholder="รายละเอียดเพิ่มเติม" />
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="box box-info bg-info " style="border-radius: 8px 8px 0px 0px ">
                                        <div class="box-header" style="background-color: #00C0EF; color: azure; border-radius: 8px 8px 0px 0px ">
                                            <h4 class="box-title">รายละเอียดเพิ่มเติม</h4>
                                        </div>
                                        <div class="box-body" style="height: auto;width: auto;margin-top:15px">
                                            <div class="form-group col-md-12">
                                                <label class="col-md-12 control-label title">รายละเอียดเพิ่มเติม</label>
                                                <textarea name="remarkFrom" id="remarkFrom" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </form>


                        <div style="text-align:center;padding-bottom: 10px;">
                            <input type="submit" name="btnSubmit" id="btnSubmit" value="บันทึกข้อมูล" class="form-control btn btn-info" style="width:150px" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_2">
                    <div id="Document_form" class="form-horizontal">
                        @if (ViewBag.FirstDoc == null)
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="form1_msg" class="alert alert-warning alert-dismissible">
                                        <h4><i class="icon fa fa-ban"></i> แจ้งเตือน!</h4>
                                        ไม่พบเอกสาร
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <br />
                            <div class="form-group">
                                @if (ViewBag.DocLink != null)
                                {
                                    foreach (var itm in ViewBag.DocLink)
                                    {
                                        <div class="col-sm-6 col-xs-12">
                                            <button type="button" class="btn btn-block btn-info" id="btn_@itm.DocumentFileId" onclick="SeeDoc('@itm.PathFullDoc')"><i class="fa fa-fw fa-search"></i>@itm.DocumentTypeName:@itm.DocumentId</button>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="row" id="DocDetail_form">
                                <div class="col-sm-12" style="height: 950px">
                                    <iframe class="SeeDoc" style="width: 100%; height: 100%;overflow:auto !important" src="@ViewBag.FirstDoc"></iframe>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div id="tab_3" class="tab-pane">
                    <div class="form-horizontal">
                        <table id="tableLog" name="tableLog" class="table table-bordered table-striped display responsive" style="width: 100%">
                            <tbody>
                                <tr style="text-align:center"><td>ไม่พบข้อมูล</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
    <!--.modal -->
    <div class="modal fade" id="modal-warning">
        <!--.modal-dialog -->
        <div class="modal-dialog">
            <!--.modal-content -->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #ffd243;border-color: #ffeeba;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: black;">×</span>
                    </button>
                    <h4 class="modal-title">รายละเอียด</h4>
                </div>
                <div class="modal-body">
                    <table id="tablePayerOther" class="table table-bordered table-striped display responsive" style="width: 100%"></table>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--/.modal -->
</section>
@section ViewSpecificJavascript
{
    <script>
        var chat;
        var healtVal;
        var typeSelectVal;
        var countFile = 0;
        var imgUrlPath;
        var imgPhysicalPath;


        $(function () {


            if (!isWindows()) {
                $('#DocDetail_form').hide();
            }
            /*start signalR*/
            // Reference the auto-generated proxy for the hub.
            chat = $.connection.chatHub;
            //Start Connection
            $.connection.hub.start().done();

            //Date
            var date = new Date();

            //load dt payer other
            getPayerOther('@ViewBag.AppCode');

            //set options datepicker
            //$('#txtCoBrandDate').datepicker({
            //    format: 'dd/mm/yyyy',
            //    autoclose: true
            //}).datepicker('setDate', new Date());
            $('#txtCoBrandDate').val(`${date.getDate()}/${date.getMonth()+1}/${date.getFullYear() + 543}`);

            //Dropzone Options
            Dropzone.options.myDropzone = {
                paramName: "file", // ชื่อไฟล์ปลายทางเมื่อ upload แบบ mutiple จะเป็น array
                autoProcessQueue: true,// ใส่เพื่อไม่ให้อัพโหลดทันที หลังจากเลือกไฟล์
                uploadMultiple: false, // อัพโหลดไฟล์หลายไฟล์ - true จะส่งเป็น array
                parallelUploads: 10, // ให้ทำงานพร้อมกัน 10 ไฟล์
                maxFiles: 1, // ไฟล์สูงสุด 1 ไฟล์
                addRemoveLinks: true, // อนุญาตให้ลบไฟล์ก่อนการอัพโหลด
                maxFilesize: 10, // MB
                dictRemoveFile: "ลบ", // ชื่อ ปุ่ม remove
                dictCancelUpload: "ยกเลิก", // ชื่อ ปุ่ม ยกเลิก
                dictDefaultMessage: "เลือกรูปภาพ", // ข้อความบนพื้นที่แสดงรูปจะแสดงหลังจากโหลดเพจเสร็จ
                dictFileTooBig: "ไม่อนุญาตให้อัพโหลดไฟล์เกิน 2 MB", //ข้อความแสดงเมื่อเลือกไฟล์ขนาดเกินที่กำหนด
                acceptedFiles: ".jpeg,.jpg,.png", // อนุญาตให้เลือกไฟล์ประเภทรูปภาพได้
                dictMaxFilesExceeded: "ไฟล์เกินจำนวน",
                dictResponseError: "ไม่สามารถอัพโหลดไฟล์ได้",
                dictFallbackMessage: "ไม่รองรับไฟล์",
                // The setting up of the dropzone
                init: function () {
                    this.on("addedfile", function (file) {
                        if (this.files[1] != null) {
                            this.removeFile(this.files[0]);
                        }
                        countFile++
                    }).on("removedfile", function (file) {
                        countFile--
                        $.post('@Url.Action("File_delete")',
                            {
                                queueId: $('#hiddenQueueId').val(),
                                queueCreatedDate: $('#hiddenQueueCreatedDate').val()
                            }, (data) => {
                                if (data.IsResult) {
                                    var _ref;
                                    return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                                } else {
                                    return swal("เกิดข้อผิดพลาด !", data.Msg, "error");
                                }
                            });
                        //ลบไฟล์ -เคลียร์ path
                        imgUrlPath = null;
                        imgPhysicalPath = null;
                        fileImgName = null;
                    }).on("thumbnail", function (file) {

                    }).on("success", function (file, response) {
                        //เก็บ path ในตัวแปร เพื่อใช้ในการบันทึกมอบบัตรต่อไป
                        imgUrlPath = response.urlPath;
                        imgPhysicalPath = response.physicalPath;
                        fileImgName = response.fileImgName;
                    }).on("error", function (file) {

                    }).on("processing", function(file) {

                    }).on("uploadprogress", function(file) {

                    });
                }
            }


            /*tab change*/
            $('a[data-toggle="tab"]').on('shown.bs.tab',
                function (e) {
                    e.preventDefault();
                    loadingSpinner('fadeIn', 500);
                    const target = $(e.target).attr("href");
                    switch (target) {
                        case "#tab_3":
                            //Log
                            GetQueueLog_DT();
                            break;
                        default:
                    }
                });
            //FORM SUBMIT
            $('#btnSubmit').click(function () {

                if (ValidateSave()) {
                    if ($('#sectionGiveCardFrom').valid() && $('#sectionGiveCardFrom_2').valid()) {
                        if (countFile === 0) {
                            imgUrlPath = null;
                            imgPhysicalPath = null;
                            fileImgName = null;
                            swal_confirm3("ยืนยันบันทึกข้อมูล", "", function (e) {
                                //บันทึกมอบบัตร && แบบสอบถาม
                                InsertQueueCoBrand();
                                $('#btnSubmit').prop("disabled", true);

                            });
                        } else {
                            swal_confirm3("ยืนยันบันทึกข้อมูล", "", function (e) {
                                //บันทึกมอบบัตร && แบบสอบถาม
                                InsertQueueCoBrand();
                                $('#btnSubmit').prop("disabled", true);
                            });
                        }

                    }
                }

            });


            //ประเภทบัตร
            $('input[name=typeSelectChild]').on('ifChecked',
                function (e) {
                    $(this).valid()
                }
            )

            //ช่องทางการคัดกรอง - child // ใหม่ มอบบัตรให้กับ
            $('#typeSelectChildPayer').on('ifChecked',
                function (e) {
                    $(this).val("payer");
                });
            $('#typeSelectChildCustomer').on('ifChecked',
                function (e) {
                    $(this).val("customer");
                });

            $('#typeSelectChildPayer').on('ifUnchecked',
                function (e) {
                    $(this).val("");
                });
            $('#typeSelectChildCustomer').on('ifUnchecked',
                function (e) {
                    $(this).val("");
                });

            //ประเภทบัตร
            $('input[name=isLineOA]').on('ifChecked',
                function (e) {
                    if ($(this).valid()) {
                        switch ($(this).val()) {
                            case '1': //Line OA
                                $('#formCobrand').hide();
                                break;
                            case '0': //Cobrand
                                $('#formCobrand').show();
                                break;
                            default:
                        }
                    }

                }
            )

            //ข้อมูลเฝ้าระวัง
            $('input[name=isBeware]').on('ifChecked',
                function (e) {
                    if ($(this).valid()) {
                    switch ($(this).val()) {
                        case '0': //ไมีมี
                            $('#bewareRemarkLabel').hide();
                            break;
                        case '1': //มี
                            $('#bewareRemarkLabel').show();
                            break;
                        default:
                        }
                    }
                }
            )



            const ValidateSave = () => {
                if ($('input[name=isLineOA]:checked').val() == "0") {
                    $('#txtCoBrand').prop('required', true);
                }
                if ($('input[name=isBeware]:checked').val() == "1") {
                    $('#bewareRemark').prop('required', true);
                    $('#bewareRemark').valid()

                }



                return true;
            }

        });

         const OpenSSS = (app) => {
            var encoded = btoa(app);
            window.open(`@ViewBag.OpenSSS?app=`+encoded,'_blank');
        }


        const InsertQueueCoBrand = () => {
            $.post("@Url.Action("QueueResultByQueueIdInsert")", {

                queueId: @ViewBag.QueueFullDetail.QueueId,
                coBrandNo: $('#txtCoBrand').val(),
                isBeware: $('input[name=isBeware]:checked').val(),
                bewareRemark: $('#bewareRemark').val(),
                isLineOA: $('input[name=isLineOA]:checked').val(),
                isUnderwritePayer: $('#typeSelectChildPayer').val(),
                isUnderwriteCust: $('#typeSelectChildCustomer').val(),
                giveRemark: $('#remarkisLineOA').val(),
                remark: $('#remarkFrom').val(),
                uRLPath: imgUrlPath,
                physicalPath: imgPhysicalPath,
                fileName: fileImgName,
            }, function (data) {
                if (data.IsResult) {
                    //บันทึกมอบบัตรเรียบร้อยแล้ว
                    //บันทึกแบบสอบถาม
                    swal({
                        title: "บันทึกข้อมูลเรียบร้อย",
                        text: "",
                        type: "success",
                        showCancelButton: false,
                        showConfirmButton: true,
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        html: false
                    }, function (e) {
                        window.close();
                    });
                } else {
                    swal("เกิดข้อผิดพลาด !", data.Msg, "error");
                    $('#btnSubmit').prop("disabled", false);
                }
             });
        }


        const GetQueueLog_DT = () => {
            $('#tableLog').empty();
            var table = $('#tableLog').DataTable({
                pageLength: 10,
                lengthChange: false,
                processing: true,
                serverSide: true,
                destroy: true,
                searching: true,
                ordering: true,
                info: true,
                paging: true,
                autoWidth: false,
                responsive: true,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.20/i18n/Thai.json'
                },
                ajax: {
                    url: '@Url.Action("QueueLog")',
                    method: 'GET',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search;
                        d.queueId = "@ViewBag.QueueFullDetail.QueueId";
                    }
                },
                columns: [
                    {
                        title: 'วันที่ทำรายการ',
                        data: 'CreatedDate',
                        render: function (data) {
                            return moment(data).format("DD/MM/YYYY HH:mm:ss");
                        }

                    },
                    {
                        title: 'ผู้มอบหมายคิวงาน',
                        data: 'FromEmployeeName'
                    },
                    {
                        title: 'ผู้รับคิวงาน',
                        data: 'ToEmployeeName'
                    },
                    {
                        title: 'รายละเอียด',
                        data: 'TransactionTypeDetail'
                    },
                ]
            });
            window.onresize = function () {
                table.columns.adjust().responsive.recalc();
            };
        }



        /*fn get payer other*/
        const getPayerOther = (appCode) => {
            $.get('@Url.Action("GetPayerOtherApp")',
                { appCode: appCode },
                function (data) {
                    if (data.length > 0) {
                        /*declare str*/
                        const str = `ชำระเบี้ยให้อีก ${data.length} คน`;
                        /*show button*/
                        $('#btnPayerOther').show();
                        /*set str to text button*/
                        $('#btnPayerOther').text(str);
                        /*load datatables*/
                        loadDatatablesPayerOther(data);
                    }
                });
        }

        /*load datatables payer other*/
        const loadDatatablesPayerOther = (data) => {
            $(`#tablePayerOther`).empty();
            $(`#tablePayerOther`).DataTable({
                pageLength: 100,
                processing: true,
                serverSide: false,
                autoWidth: false,
                responsive: true,
                destroy: true,
                lengthChange: false,
                searching: false,
                info: true,
                paging: true,
                data: data,
                language: {
                    url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Thai.json"
                },
                columns: [
                    {
                        title: 'AppId',
                        data: 'app_Id',
                        orderable: false,
                        render: (data) => {
                            return `<a href="#" target="_blank" id="openSSS" style="text-decoration: underline; color: #2833FF " onclick="OpenSSS(${data})">${data}</a>`
                        }
                    },
                    {
                        title: 'ชื่อ-สกุล',
                        data: null,
                        orderable: false,
                        render: (d) => {
                            return `${d.customerFirstName} ${d.customerLastName}`;
                        }

                    },
                    {
                        title: 'วันเริ่มคุ้มครอง',
                        data: 'startCoverDate',
                        orderable: false,
                        render: (d) => {
                            return moment(d).format("DD/MM/YYYY");
                        }
                    },
                    {
                        title: 'สถานะ',
                        data: 'status',
                        orderable: false
                    }
                ]
            });
        }




    </script>

    <script type="text/javascript">
        $("#sectionGiveCardFrom").validate({

            rules:
            {
                typeSelectChild: { required: true },
                isLineOA: { required: true },
                txtCoBrand: { required: true },
                bewareRemark: { required: true },
                isBeware: { required: true },
            },
            messages:
            {

                txtCoBrand: {
                    required: "โปรดระบุ.."
                },
                bewareRemark: {
                    required: "โปรดระบุ.."
                },
                isLineOA: {
                    required: "กรุณาเลือก.."
                },
                typeSelectChild: {
                    required: "กรุณาเลือก.."
                },
                isBeware: {
                    required: "กรุณาเลือก.."
                }


            },
            errorPlacement: function (error, element) {
                if (element.is(":radio")) {
                    error.prependTo(element.parents('.radio-check'));
                } else if (element.is(":checkbox")) {
                    error.prependTo(element.parents('.typeSelectChildxx'));
                } else if (element.is(".healthChildPassOtherRemark")) {
                    error.prependTo(element.parents('.answerList'));
                }
                else { // This is the default behavior
                    error.insertAfter(element);
                }
            }
        });


        $("#sectionGiveCardFrom_2").validate({

            rules:
            {
                typeSelectChild: { required: true },
                isLineOA: { required: true },
                txtCoBrand: { required: true },
                bewareRemark: { required: true },
                isBeware: { required: true },
            },
            messages:
            {

                txtCoBrand: {
                    required: "โปรดระบุ.."
                },
                bewareRemark: {
                    required: "โปรดระบุ.."
                },
                isLineOA: {
                    required: "กรุณาเลือก.."
                },
                typeSelectChild: {
                    required: "กรุณาเลือก.."
                },
                isBeware: {
                    required: "กรุณาเลือก.."
                }
            },
            errorPlacement: function (error, element) {
                if (element.is(":radio")) {
                    error.prependTo(element.parents('.radio-check'));
                } else if (element.is(":checkbox")) {
                    error.prependTo(element.parents('.typeSelectChildxx'));
                } else if (element.is(".healthChildPassOtherRemark")) {
                    error.prependTo(element.parents('.answerList'));
                }
                else { // This is the default behavior
                    error.insertAfter(element);
                }
            }
        });

        const swal_confirm3 = (title, text, success, cancel) => {
            window.swal({
                title: title,
                text: text,
                type: 'info',
                showCancelButton: true,
                confirmButtonColor: '#277020',
                confirmButtonText: 'ตกลง',
                cancelButtonText: 'ยกเลิก',
                closeOnConfirm: false,
                closeOnEsc: false

            }, (IsConfirm) => {
                if (IsConfirm) {
                    if (typeof success === "function") {

                        // Disable the confirm button
                        $(".confirm").prop("disabled", true);

                        // Execute the success callback
                        success();
                    }
                } else {
                    if (typeof cancel === "function") {
                        // Execute the cancel callback
                        cancel();
                    }
                }
            });
        };
    </script>
}
