@{
    ViewBag.Title = "พิจารณาผลการคัดกรอง";
    Layout = "~/Views/Shared/_LayoutForTopIndexPH.cshtml";
}

<style>
    strong {
        color: red;
    }
</style>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false"><h4>บันทึกผลการทำงาน</h4></a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="true"><h4>เอกสาร</h4></a></li>
            <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="true"><h4>ประวัติคิวงาน</h4></a></li>
        </ul>
        @if (ViewBag.QueueFullDetail != null)
        {
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="box box-info">
                                    <div class="box-header" style="background-color: #b3eeff">
                                        <h4 class="box-title">ข้อมูลผู้เอาประกัน </h4>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <form class="form-horizontal">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">App ID</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtAppID" name="txtAppID" class="form-control" value="@(ViewBag.QueueFullDetail.ApplicationCode != null ? ViewBag.QueueFullDetail.ApplicationCode : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">สถานะ</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtAppStatus" name="txtAppStatus" class="form-control" value="@(ViewBag.QueueFullDetail.AppStatus != null ? ViewBag.QueueFullDetail.AppStatus : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">แผนประกัน</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtProduct" name="txtProduct" class="form-control" value="@(ViewBag.QueueFullDetail.Product != null ? ViewBag.QueueFullDetail.Product : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">เบี้ย</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPremium" name="txtPremium" class="form-control" value="@(ViewBag.QueueFullDetail.Premium != null ? ViewBag.QueueFullDetail.Premium : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">วันเริ่มคุ้มครอง</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtAppStartCoverDate" name="txtAppStartCoverDate" class="form-control" value="@(ViewBag.QueueFullDetail.AppStartCoverDate != null ? ViewBag.QueueFullDetail.AppStartCoverDate : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">ชื่อลูกค้า</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtCustomerName" name="txtCustomerName" class="form-control" value="@(ViewBag.QueueFullDetail.CustFirstName != null ? String.Format("{0}{1} {2}", ViewBag.QueueFullDetail.CustTitle, ViewBag.QueueFullDetail.CustFirstName, ViewBag.QueueFullDetail.CustLastName) : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">วันเกิด</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtCustBirthDate" name="txtCustBirthDate" class="form-control" value="@(ViewBag.QueueFullDetail.CustBirthDate != null ? ViewBag.QueueFullDetail.CustBirthDate : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">เบอร์โทร</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtCustPhone" name="txtCustPhone" class="form-control" value="@(ViewBag.QueueFullDetail.CustPhone != null ? ViewBag.QueueFullDetail.CustPhone : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                @* -------Open SSS App-------- *@
                                                <div class="form-group">
                                                    <div class="col-md-12" style="text-align:center">
                                                        <button id="openSSS" type="button" class="btn btn-success" onclick="OpenSSS(@ViewBag.QueueFullDetail.ApplicationCode)">
                                                            รายละเอียด App
                                                        </button>
                                                    </div>
                                                </div>
                                                @* -------end-------- *@
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="box box-info">
                                    <div class="box-header" style="background-color: #b3eeff">
                                        <h4 class="box-title">ข้อมูลผู้ชำระเบี้ย </h4>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <form class="form-horizontal">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">ความสัมพันธ์</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtRelation" name="txtRelation" class="form-control" value="@(ViewBag.QueueFullDetail.PayerRelate != null ? ViewBag.QueueFullDetail.PayerRelate : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">ชื่อผู้ชำระเบี้ย</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayerName" name="txtPayerName" class="form-control" value="@(ViewBag.QueueFullDetail.PayerFirstName != null ? String.Format("{0}{1} {2}", ViewBag.QueueFullDetail.PayerTitle, ViewBag.QueueFullDetail.PayerFirstName, ViewBag.QueueFullDetail.PayerLastName) : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">อาชีพ</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayerOccupationLevel" name="txtPayerOccupationLevel" class="form-control" value="@(ViewBag.QueueFullDetail.PayerOccupationLevel != null ? ViewBag.QueueFullDetail.PayerOccupationLevel : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">เบอร์โทร</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayerPhone" name="txtPayerPhone" class="form-control" value="@(ViewBag.QueueFullDetail.PayerPhone != null ? ViewBag.QueueFullDetail.PayerPhone : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">เบอร์โทรที่ทำงาน</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayerBuildingPhone" name="txtPayerBuildingPhone" class="form-control" value="@(ViewBag.QueueFullDetail.PayerBuildingPhone != null ? ViewBag.QueueFullDetail.PayerBuildingPhone : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">ชื่อหน่วยงาน</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtBuildingName" name="txtBuildingName" class="form-control" value="@(ViewBag.QueueFullDetail.PayerBuildingName != null ? ViewBag.QueueFullDetail.PayerBuildingName : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">การชำระ</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayMethodType" name="txtPayMethodType" class="form-control" value="@(ViewBag.QueueFullDetail.PayMethodType != null ? ViewBag.QueueFullDetail.PayMethodType : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">ธนาคาร</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayerBankName" name="txtPayerBankName" class="form-control" value="@(ViewBag.QueueFullDetail.PayerBankName != null ? ViewBag.QueueFullDetail.PayerBankName : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">เลขที่บัญชี</label>
                                                    <div class="col-md-8 ">
                                                        <input id="txtPayerBankAccountNo" name="txtPayerBankAccountNo" class="form-control" value="@(ViewBag.QueueFullDetail.PayerBankAccountNo != null ? ViewBag.QueueFullDetail.PayerBankAccountNo : "-")" type="text" readonly />
                                                    </div>
                                                </div>
                                                @* -------payer other-------- *@
                                                <div class="form-group">
                                                    <div class="col-md-12" style="text-align:center">
                                                        <button id="btnPayerOther" type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-warning" style="display:none">
                                                            ชำระเบี้ยให้อีก n คน
                                                        </button>
                                                    </div>
                                                </div>
                                                @* -------end-------- *@
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form id="formQuestion" action="@Url.Action("QuestionUpdate")" method="post" enctype="multipart/form-data">
                            <div class="col-sm-12">
                                <div class="box box-info">
                                    <div class="box-header" style="background-color: #b3eeff">
                                        <h4 class="box-title">ผลการคัดกรอง </h4>
                                        @if (ViewBag.QueueFullDetail.QueueStatusId == 2)
                                        {
                                            <h4 class="box-title"> : ยังไม่ได้คัดกรอง </h4>
                                        }
                                        @if (ViewBag.QueueFullDetail.QueueStatusId == 8)
                                        {
                                            <h4 class="box-title"> : ยังไม่ได้ดำเนินการ </h4>
                                        }
                                    </div>
                                    @if (ViewBag.QueueFullDetail.QueueStatusId != 2 && ViewBag.QueueFullDetail.QueueStatusId != 8)
                                    {
                                        if (ViewBag.QueueFullDetail.IsUnderwrite == true)
                                        {
                                            <div id="box-ask-1" class="box-body" style="height: auto;width: auto;">
                                                <label>สถานะการคัดกรอง</label>
                                                <ul class="answerList">
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="underwriteStatus" value="1" id="underwriteStatus_1" @(ViewBag.QueueFullDetail.IsUnderwrite == true ? "checked" : "")> คัดกรองแล้ว
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="underwriteStatus" value="0" id="underwriteStatus_0" @(ViewBag.QueueFullDetail.IsUnderwrite == false ? "checked" : "")> ยังไม่คัดกรอง
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        }
                                        <div id="box-ask-2" class="box-body ask-y" style="height: auto;width: auto;">
                                            <label>ช่องทางการคัดกรอง</label>
                                            <ul class="answerList">
                                                @if (ViewBag.UnderwriteType != null)
                                                {
                                                    foreach (var i in ViewBag.UnderwriteType)
                                                    {
                                                        switch (i.UnderwriteTypeId)
                                                        {
                                                            //เข้าพบ
                                                            case 2:
                                                                <li>
                                                                    @if (ViewBag.QueueFullDetail.UnderwriteTypeId == i.UnderwriteTypeId)
                                                                    {
                                                                        <label>
                                                                            <input type="radio" name="typeSelect" value="@i.UnderwriteTypeId" id="typeSelect_@(i.UnderwriteTypeId)" checked> เข้าพบเพื่อมอบบัตร
                                                                        </label>
                                                                        <div class="box-typeselect-@(i.UnderwriteTypeId)" style="padding-left:30px;">
                                                                            <label>
                                                                                <input type="checkbox" name="typeSelectChild" id="typeSelect-chlid-customer-@(i.UnderwriteTypeId)" value="customer" @(ViewBag.QueueFullDetail.IsUnderwriteCust == true ? "checked" : "")> ผู้เอาประกัน
                                                                            </label>
                                                                            <label>
                                                                                <input type="checkbox" name="typeSelectChild" id="typeSelect-chlid-payer-@(i.UnderwriteTypeId)" value="payer" @(ViewBag.QueueFullDetail.IsUnderwritePayer == true ? "checked" : "")> ผู้ชำระเบี้ย
                                                                            </label>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <label>
                                                                            <input type="radio" name="typeSelect" value="@i.UnderwriteTypeId" id="typeSelect_@(i.UnderwriteTypeId)"> @i.UnderwriteType
                                                                        </label>

                                                                    }
                                                                </li>
                                                                break;
                                                            //โทรคัดกรอง
                                                            @*   case 3:
                                                                <li>
                                                                    @if (ViewBag.QueueFullDetail.UnderwriteTypeId == i.UnderwriteTypeId)
                                                                    {
                                                                        <label>
                                                                            <input type="radio" name="typeSelect" value="@i.UnderwriteTypeId" id="typeSelect_@(i.UnderwriteTypeId)" checked> @i.UnderwriteType
                                                                        </label>
                                                                        <div class="box-typeselect-@(i.UnderwriteTypeId)" style="padding-left:30px;">
                                                                            <label>
                                                                                <input type="checkbox" name="typeSelectChild" id="typeSelect-chlid-customer-@(i.UnderwriteTypeId)" value="customer" @(ViewBag.QueueFullDetail.IsUnderwriteCust == true ? "checked" : "")> ผู้เอาประกัน
                                                                            </label>
                                                                            <label>
                                                                                <input type="checkbox" name="typeSelectChild" id="typeSelect-chlid-payer-@(i.UnderwriteTypeId)" value="payer" @(ViewBag.QueueFullDetail.IsUnderwritePayer == true ? "checked" : "")> ผู้ชำระเบี้ย
                                                                            </label>
                                                                            <label>
                                                                                <span style="color:red">*</span>สาเหตุการโทรคัดกรองลูกค้า
                                                                                <textarea name="txtCause" id="txtCause" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px;resize: none;"> @ViewBag.QueueFullDetail.CallCauseRemark</textarea>
                                                                            </label>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <label>
                                                                            <input type="radio" name="typeSelect" value="@i.UnderwriteTypeId" id="typeSelect_@(i.UnderwriteTypeId)"> @i.UnderwriteType
                                                                        </label>

                                                                    }
                                                                </li>
                                                                break;*@
                                                            default:
                                                                break;
                                                        }

                                                    }
                                                }
                                            </ul>
                                        </div>
                                        <div id="box-ask-3" class="box-body ask-y" style="height: auto;width: auto;">
                                            <label>การชำระเบี้ย</label>
                                            <ul class="answerList">
                                                @if (ViewBag.UnderwritePaymentType != null)
                                                {
                                                    foreach (var i in ViewBag.UnderwritePaymentType)
                                                    {
                                                        if (i.UnderwritePaymentTypeId != 1 && i.UnderwritePaymentTypeId != 3)
                                                        {
                                                            <li>
                                                                <label>
                                                                    <input type="radio" name="uwPaymentType" value="@i.UnderwritePaymentTypeId" id="uwPaymentType_@(i.UnderwritePaymentTypeId)" @(ViewBag.QueueFullDetail.UnderwritePaymentTypeId == i.UnderwritePaymentTypeId ? "checked" : "")> @i.UnderwritePaymentTypeDetail
                                                                </label>
                                                            </li>
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </div>
                                        <div id="box-ask-4" class="box-body ask-y" style="height: auto;width: auto;">
                                            <label>การคัดกรองด้านสุขภาพ</label>
                                            <ul class="answerList">
                                                @if (ViewBag.QueueFullDetail.IsUnderwritePass == true)
                                                {
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="health" value="1" id="health_pass" checked> ผ่านคัดกรอง
                                                        </label>
                                                        <div class="box-health-pass" style="padding-left:30px;">
                                                            <label>
                                                                <input type="radio" name="healthChildPass" value="1" id="health-child-pass-std" @(ViewBag.QueueFullDetail.IsUnderwritePassStandard == true ? "checked" : "")> ตามมาตรฐานทุกประการ
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="healthChildPass" value="0" id="health-child-pass-condition" @(ViewBag.QueueFullDetail.IsUnderwritePassCondition == true ? "checked" : "")> มีประวัติสุขภาพที่ติดข้อยกเว้น
                                                            </label>
                                                        </div>
                                                        @if (ViewBag.QueueFullDetail.IsUnderwritePassCondition == true)
                                                        {
                                                            <div class="sub-box-health-pass" style="padding-left:60px;">
                                                                <label>
                                                                    <input type="radio" name="IsSpecify" value="1" id="IsSpecify_1" @((ViewBag.QueueFullDetail.IsUnderwritePassIsSpecify == true && ViewBag.QueueFullDetail.IsUnderwritePassIsSpecifyNotComplete == null) ? "checked" : "")> ระบุในใบสมัครครบถ้วน
                                                                </label>
                                                                <label>
                                                                    <input type="radio" name="IsSpecify" value="2" id="IsSpecify_2" @((ViewBag.QueueFullDetail.IsUnderwritePassIsSpecify == true && ViewBag.QueueFullDetail.IsUnderwritePassIsSpecifyNotComplete == true) ? "checked" : "")> ระบุในใบสมัครไม่ครบถ้วน
                                                                </label>
                                                                <label>
                                                                    <input type="radio" name="IsSpecify" value="0" id="IsSpecify_0" @((ViewBag.QueueFullDetail.IsUnderwritePassIsSpecify == false && ViewBag.QueueFullDetail.IsUnderwritePassIsSpecifyNotComplete == null) ? "checked" : "")> ไม่ระบุในใบสมัคร
                                                                </label>
                                                                <label>
                                                                    <span style="color:red">*</span>ระบุข้อมูลข้อยกเว้น..
                                                                    <textarea name="healthChildPassOtherRemark" id="healthChildPassOtherRemark" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px;resize: none;" disabled>@ViewBag.QueueFullDetail.UnderwritePassSpecifyRemark</textarea>
                                                                </label>
                                                            </div>
                                                        }
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="health" value="0" id="health_notpass" checked> ไม่ผ่านคัดกรอง
                                                        </label>
                                                        <div class="box-health-notpass" style="padding-left:30px;">
                                                            <label>
                                                                <input type="checkbox" name="healthChildNotPass" value="denyHealth" id="health-child-notpass-health" @(ViewBag.QueueFullDetail.IsUnderwriteUnPassHealth == true ? "checked" : "")> ด้านสุขภาพ
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" name="healthChildNotPass" value="denyOccupation" id="health-child-notpass-occupation" @(ViewBag.QueueFullDetail.IsUnderwriteUnPassOccupation == true ? "checked" : "")> ด้านอาชีพ
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" name="healthChildNotPass" value="denyCantPay" id="health-child-notpass-cantpay" @(ViewBag.QueueFullDetail.IsUnderwriteUnPassCantPay == true ? "checked" : "")> ไม่สามารถชำระเบี้ยตามเงื่อนไขได้
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" name="healthChildNotPass" value="denyCantContact" id="health-child-notpass-cantcontact" @(ViewBag.QueueFullDetail.IsUnderwriteUnPassCantContact == true ? "checked" : "")> ติดต่อไม่ได้/ไม่รับสาย/ไม่สะดวกคุย
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" name="healthChildNotPass" value="denyOther" id="health-child-notpass-other" @(ViewBag.QueueFullDetail.IsUnderwriteUnPassOther == true ? "checked" : "")> อื่นๆ
                                                            </label>
                                                            <label>
                                                                <span style="color:red">*</span>อื่นๆ โปรดระบุ..
                                                                <textarea name="healthChildNotPassOtherRemark" id="healthChildNotPassOtherRemark" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px;resize: none;">@ViewBag.QueueFullDetail.UnderwriteUnPassOtherRemark</textarea>
                                                            </label>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                        <div id="box-ask-5" class="box-body ask-y" style="height: auto;width: auto;">
                                            <label>หมายเหตุ/บันทึกเพิ่มเติม</label>
                                            <ul class="answerList">
                                                <li>
                                                    <textarea name="remark" id="remark" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px;resize: none;" disabled>@ViewBag.QueueFullDetail.QueueResultRemark</textarea>
                                                </li>
                                            </ul>
                                        </div>
                                    }

                                </div>
                            </div>
                        </form>
                        @if (ViewBag.QueueFullDetail.GiveTypeId != null)
                        {
                            <div class="col-sm-12" id="sectionGivecard">
                                <div class="box box-info">
                                    <div class="box-header" style="background-color: #b3eeff">
                                        <h4 class="box-title">บันทึกการมอบบัตรประกันสุขภาพ </h4>
                                    </div>
                                    <div class="box-body" style="height: auto;width: auto;">
                                        <div class="form-group col-md-12">
                                            <label class="col-md-2 control-label">  มอบบัตร CoBrand</label>
                                            <div class="col-md-6 ">
                                                <input class="form-control" id="txtCoBrand" name="txtCoBrand" type="text" value="@ViewBag.QueueFullDetail.CoBrandNo" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="col-md-2 control-label"> วันที่บันทึกมอบบัตร<span style="color:red">*</span></label>
                                            <div class="col-md-6 ">
                                                <input class="form-control" id="txtCoBrandDate" name="txtCoBrandDate" type="text" value="@(ViewBag.QueueFullDetail.GiverDate != null ? ViewBag.QueueFullDetail.GiverDate.ToString("dd/MM/yyyy") : "")" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="col-md-2 control-label">แนบรูปภาพมอบบัตร</label>
                                            <div class="col-md-6 ">
                                                <a href="javascript:void();" class="pop">
                                                    <img id="myImg" src="@ViewBag.QueueFullDetail.URLPath" alt="@ViewBag.QueueFullDetail.FileName" style="width:100%;max-width:100px">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="col-md-2 control-label">  ประเภทการมอบบัตร<span style="color:red">*</span></label>
                                            <div class="col-md-6 ">
                                                <input class="form-control" id="txtGiveType" name="txtGiveType" type="text" value="@ViewBag.QueueFullDetail.GiveType" disabled />
                                            </div>
                                        </div>

                                        @if (ViewBag.QueueFullDetail.GiveTypeId == 4)
                                        {
                                            <div class="form-group col-md-12">
                                                <label class="col-md-2 control-label">  เลขพัสดุ<span style="color:red">*</span></label>
                                                <div class="col-md-6 ">
                                                    <input class="form-control" id="txtTrackingNo" name="txtTrackingNo" type="text" value="@ViewBag.QueueFullDetail.TrackingNo" disabled />
                                                </div>
                                            </div>
                                        }
                                        @if (ViewBag.QueueFullDetail.GiveTypeId == 7)
                                        {
                                            <div class="form-group col-md-12">
                                                <label class="col-md-2 control-label">
                                                    หมายเหตุกรณีเลือกอื่นๆ
                                                    <span style="color:red">*</span>
                                                </label>
                                                <div class="col-md-6 ">
                                                    <input class="form-control" id="txtTrackingNo" name="txtTrackingNo" type="text" value="@ViewBag.QueueFullDetail.GiveTypeRemark" disabled />
                                                </div>
                                            </div>
                                        }

                                        <div class="form-group col-md-12">
                                            <label class="col-md-2 control-label">  ผู้มอบบัตร<span style="color:red">*</span></label>
                                            <div class="col-md-6 ">
                                                <input class="form-control" id="txtGiver" name="txtGiver" type="text" value="@ViewBag.QueueFullDetail.GiverEmployeeName" disabled />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @* check status ยกเลิกก่อน DCR *@
                        @if (ViewBag.QueueFullDetail.QueueStatusId != 7)
                        {
                            <!--1  n/a-->
                            <!--2 รอพิจารณา-->
                            <!--6 เกินกำหนดยังไม่ได้พิจารณา-->
                            if (ViewBag.QueueFullDetail.ApproveStatusId == 1 || ViewBag.QueueFullDetail.ApproveStatusId == 2)
                            {
                                if (ViewBag.AccessRole == "DEV" || ViewBag.AccessRole == "CM_DIR" || ViewBag.AccessRole == "CM")
                                {
                                    <!--section CM-->
                                    @*  <div id="sectionCM">
                                            <div class="col-sm-12">
                                                <div class="box box-info">
                                                    <div class="box-header" id="sectionCM-header" style="background-color: #b3eeff">
                                                        <h4 class="box-title" id="sectionCM-title">ผลการพิจารณาประธานสาขา </h4>
                                                    </div>
                                                    <div style="text-align:center;padding: 10px">
                                                        <button name="btnCM" id="btnApprove" class="form-control btn btn-success" value="1" style="width: 230px;margin:5px;">อนุมัติให้ผ่านคัดกรอง</button>
                                                        <button name="btnCM" id="btnApproveCondition" class="form-control btn btn-warning" value="2" style="width: 230px;margin:5px;" data-toggle="modal" data-target="#modal-approved-condition">อนุมัติให้ผ่านคัดกรองแบบติดเงื่อนไข</button>
                                                        <button name="btnCM" id="btnUnApprove" class="form-control btn btn-danger" value="0" style="width: 230px;margin:5px;" data-toggle="modal" data-target="#modal-unapproved">อนุมัติไม่ให้ผ่านคัดกรอง</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                }
                            }
                            else if (ViewBag.QueueFullDetail.ApproveStatusId == 6 && (ViewBag.AccessRole == "CM_DIR_BPT" || ViewBag.AccessRole == "CM_BPT" || ViewBag.AccessRole == "DIR_BPT" || ViewBag.AccessRole == "BPT" || ViewBag.AccessRole == "DEV"))
                            {
                                <!--section CM-->
                                @*<div id="sectionCM">
                                        <div class="col-sm-12">
                                            <div class="box box-info">
                                                <div class="box-header" id="sectionCM-header" style="background-color: #b3eeff">
                                                    <h4 class="box-title" id="sectionCM-title">ผลการพิจารณาประธานสาขา </h4>
                                                </div>
                                                <div style="text-align:center;padding: 10px">
                                                    <button name="btnCM" id="btnApprove" class="form-control btn btn-success" value="1" style="width: 230px;margin:5px;">อนุมัติให้ผ่านคัดกรอง</button>
                                                    <button name="btnCM" id="btnApproveCondition" class="form-control btn btn-warning" value="2" style="width: 230px;margin:5px;" data-toggle="modal" data-target="#modal-approved-condition">อนุมัติให้ผ่านคัดกรองแบบติดเงื่อนไข</button>
                                                    <button name="btnCM" id="btnUnApprove" class="form-control btn btn-danger" value="0" style="width: 230px;margin:5px;" data-toggle="modal" data-target="#modal-unapproved">อนุมัติไม่ให้ผ่านคัดกรอง</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                            }
                            else if (ViewBag.QueueFullDetail.ApproveStatusId != null && ViewBag.QueueFullDetail.ApproveStatusId != 1 && ViewBag.QueueFullDetail.ApproveStatusId != 2)
                            {
                                <!--section CM Result-->
                                @*<div id="sectionCMResult" style="display:block">
                                        <div class="col-sm-12 pd-xs-0">
                                            <div class="box box-info">
                                                <div class="box-header" style="background-color: #b3eeff;position:relative">
                                                    <h4 class="box-title">
                                                        ผลการพิจารณาอนุมัติของประธานสาขา
                                                        @if (((ViewBag.AccessRole == "DEV" || ViewBag.AccessRole == "CM_DIR" || ViewBag.AccessRole == "CM") && ViewBag.IsEdit == true))
                                                        {<text> <button id="btnCMEdit" class="btn btn-warning pull-right" data-toggle="collapse" data-target="#sectionCMEdit" style="position:absolute;bottom:5px;right:5px">แก้ไขผลการพิจารณา</button> </text>}
                                                    </h4>
                                                </div>
                                                <div id="box-cmapprove-result" class="box-body" style="height: auto;width: auto;">
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                <strong>ผลการพิจารณา :</strong>
                                                            </span>
                                                            @switch (ViewBag.QueueFullDetail.ApproveStatusId)
                                                            {
                                                                case 3:
                                                                    <span class="label label-success" name="lblCMStatusApprove" id="lblCMStatusApprove">@ViewBag.QueueFullDetail.ApproveStatus</span>
                                                                    break;
                                                                case 4:
                                                                    <span class="label label-warning" name="lblCMStatusApprove" id="lblCMStatusApprove">@ViewBag.QueueFullDetail.ApproveStatus</span>
                                                                    break;
                                                                case 5:
                                                                    <span class="label label-danger" name="lblCMStatusApprove" id="lblCMStatusApprove">@ViewBag.QueueFullDetail.ApproveStatus</span>
                                                                    break;
                                                                default:
                                                                    <span class="label label-default" name="lblCMStatusApprove" id="lblCMStatusApprove">-</span>
                                                                    break;
                                                            }
                                                        </li>
                                                        <li id="li-detail">
                                                            @switch (ViewBag.QueueFullDetail.ApproveStatusId)
                                                            {
                                                                case 3:
                                                                    break;
                                                                case 4:
                                                                    if (ViewBag.QueueFullDetail.ApproveIsUnderwritePassIsSpecify == true)
                                                                    {
                                                                        <span><strong>รายละเอียด :</strong> </span> <ul style="list-style-type:initial;"><li>มีประวัติสุขภาพติดข้อยกเว้น-ระบุในใบสมัคร</li></ul>
                                                                        <span><strong>ข้อมูลข้อยกเว้น :</strong> </span> <ul style="list-style-type:initial;"><li>@(ViewBag.QueueFullDetail.ApproveUnderwritePassSpecifyRemark != null && ViewBag.QueueFullDetail.ApproveUnderwritePassSpecifyRemark != "" ? ViewBag.QueueFullDetail.ApproveUnderwritePassSpecifyRemark : "-")</li></ul>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span><strong>รายละเอียด :</strong> </span> <ul style="list-style-type:initial;"><li>มีประวัติสุขภาพติดข้อยกเว้น-ไม่ระบุในใบสมัคร</li></ul>
                                                                        <span><strong>ข้อมูลข้อยกเว้น :</strong> </span> <ul style="list-style-type:initial;"><li>@(ViewBag.QueueFullDetail.ApproveUnderwritePassSpecifyRemark != null && ViewBag.QueueFullDetail.ApproveUnderwritePassSpecifyRemark != "" ? ViewBag.QueueFullDetail.ApproveUnderwritePassSpecifyRemark : "-")</li></ul>

                                                                    }
                                                                    break;
                                                                case 5:
                                                                    <span><strong>รายละเอียด :</strong> </span>
                                                                    <ul style="list-style-type:initial;">
                                                                        @if (ViewBag.QueueFullDetail.ApproveIsUnderwriteUnPassHealth == true)
                                                                        {
                                                                            <li>ไม่ผ่าน-ด้านสุขภาพ</li>
                                                                        }
                                                                        @if (ViewBag.QueueFullDetail.ApproveIsUnderwriteUnPassCantPay == true)
                                                                        {
                                                                            <li>ไม่ผ่าน-ไม่สามารถชำระเบี้ยตามเงื่อนไขได้</li>
                                                                        }
                                                                        @if (ViewBag.QueueFullDetail.ApproveIsUnderwriteUnPassOccupation == true)
                                                                        {
                                                                            <li>ไม่ผ่าน-ด้านอาชีพ</li>
                                                                        }
                                                                        @if (ViewBag.QueueFullDetail.ApproveIsUnderwriteUnPassCantContact == true)
                                                                        {
                                                                            <li>ไม่ผ่าน-ติดต่อไม่ได้/ไม่รับสาย/ไม่สะดวกคุย</li>
                                                                        }
                                                                        @if (ViewBag.QueueFullDetail.ApproveIsUnderwriteUnPassOther == true)
                                                                        {
                                                                            <li>ไม่ผ่าน-อื่นๆ</li>
                                                                            //ถ้าเป็น string empty ให้แสดง -
                                                                            <li>@(ViewBag.QueueFullDetail.ApproveUnderwriteUnPassOtherRemark != "" ? ViewBag.QueueFullDetail.ApproveUnderwriteUnPassOtherRemark : "-")</li>
                                                                        }
                                                                    </ul>
                                                                    break;
                                                                default:
                                                                    break;
                                                            }
                                                        </li>
                                                        @if (ViewBag.QueueFullDetail.ApproveRemark != "")
                                                        {
                                                            <li style="border-bottom: solid 1px;padding-bottom: 10px; margin-bottom: 10px;">
                                                                <span>
                                                                    <strong>หมายเหตุ :</strong>
                                                                </span>
                                                                <span name="lblCMRemark" id="lblCMRemark">@ViewBag.QueueFullDetail.ApproveRemark</span>
                                                            </li>
                                                        }

                                                        <li>
                                                            <span>
                                                                <strong>ผู้พิจารณา :</strong>
                                                            </span>
                                                            <span name="lblCMName" id="lblCMName">@(ViewBag.QueueFullDetail.ApproveByChairmanName != null ? ViewBag.QueueFullDetail.ApproveByChairmanName : "-")</span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                <strong>วันที่พิจารณา :</strong>
                                                            </span>
                                                            <span name="lblCMName" id="lblCMName">@(ViewBag.QueueFullDetail.ApproveDate != null ? ViewBag.QueueFullDetail.ApproveDate : "-")</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                                <!--section CM Edit-->
                                @*    <div id="sectionCMEdit" class="collapse">
                                        <div class="col-sm-12">
                                            <div class="box box-warning">
                                                <div class="box-header" style="background-color: #ffd243">
                                                    <h4 class="box-title" id="sectionCM-title">แก้ไขผลการพิจารณา</h4>
                                                </div>
                                                <div style="text-align:center;padding: 10px">
                                                    <button name="btnCM" id="btnApprove" class="form-control btn btn-success" value="1" style="width: 230px;margin:5px;">อนุมัติให้ผ่านคัดกรอง</button>
                                                    <button name="btnCM" id="btnApproveCondition" class="form-control btn btn-warning" value="2" style="width: 230px;margin:5px;" data-toggle="modal" data-target="#modal-approved-condition">อนุมัติให้ผ่านคัดกรองแบบติดเงื่อนไข</button>
                                                    <button name="btnCM" id="btnUnApprove" class="form-control btn btn-danger" value="0" style="width: 230px;margin:5px;" data-toggle="modal" data-target="#modal-unapproved">อนุมัติไม่ให้ผ่านคัดกรอง</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                            }
                        }
                    </div>
                </div>
                <div class="tab-pane" id="tab_2">
                    <div id="Document_form" class="form-horizontal">
                        @if (ViewBag.FirstDoc == null)
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="form1_msg" class="alert alert-warning alert-dismissible">
                                        <h4><i class="icon fa fa-ban"></i> แจ้งเตือน!</h4>
                                        ไม่พบเอกสาร
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <br />
                            <div class="form-group">
                                @if (ViewBag.DocLink != null)
                                {
                                    foreach (var itm in ViewBag.DocLink)
                                    {
                                        <div class="col-sm-6 col-xs-12">
                                            <button type="button" class="btn btn-block btn-info" id="btn_@itm.DocumentFileId" onclick="SeeDoc('@itm.PathFullDoc')"><i class="fa fa-fw fa-search"></i>@itm.DocumentTypeName:@itm.DocumentId</button>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="row" id="DocDetail_form">
                                <div class="col-sm-12" style="height: 950px">
                                    <iframe class="SeeDoc" style="width: 100%; height: 100%;overflow:auto !important" src="@ViewBag.FirstDoc"></iframe>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div id="tab_3" class="tab-pane">
                    <div class="form-horizontal">
                        <table id="tableLog" name="tableLog" class="table table-bordered table-striped display responsive" style="width: 100%">
                            <tbody>
                                <tr style="text-align:center"><td>ไม่พบข้อมูล</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
    <!--Modal Img-->
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <img src="" class="imagepreview" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal Section CM-->
    <form id="formModalApprovedCondition">
        <div class="modal fade" id="modal-approved-condition">
            <!--.modal-dialog -->
            <div class="modal-dialog">
                <!--.modal-content -->
                <div class="modal-content">
                    <div class="modal-header" style="background-color:  #ffc318;border-color: #ffc318;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">รายละเอียดการพิจารณาอนุมัติของประธานสาขา</h4>
                    </div>
                    <div class="modal-body">
                        <div id="box-approved-contidion" class="box-body" style="height: auto;width: auto;">
                            <ul class="answerList" style="padding-left: 0px !important;">
                                <li>
                                    <label>
                                        <input type="radio" name="healthChildPassCM" value="0" id="health-child-pass-conditionCM"> มีประวัติสุขภาพที่ติดข้อยกเว้น
                                    </label>
                                    <div style="padding-left:30px;">
                                        <label>
                                            <input type="radio" name="IsSpecify_CM" value="1" id="IsSpecify_CM1"> ระบุในใบสมัคร
                                        </label>
                                        <label>
                                            <input type="radio" name="IsSpecify_CM" value="0" id="IsSpecify_CM0"> ไม่ระบุในใบสมัคร
                                        </label>
                                        <label>
                                            <span style="color:red">*</span>ระบุข้อมูลข้อยกเว้น..
                                            <textarea name="healthChildPassOtherRemarkCM" id="healthChildPassOtherRemarkCM" style="display: block;border-radius: 5px; margin: 10px;width: 100%;height: 80px;resize: none;"></textarea>
                                        </label>
                                    </div>
                                    <div style="text-align:center;">
                                        <input type="button" style="width:100px;margin:10px" class="btn btn-lg btn-default" data-dismiss="modal" name="button-cancel-condition" value="ยกเลิก" />
                                        <input type="button" style="width:100px;margin:10px" class="btn btn-lg btn-success" name="button-save-condition" id="button-save-condition" value="บันทึก" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </form>

    <form id="formModalUnapproved">
        <!--.modal cm -->
        <div class="modal fade" id="modal-unapproved">
            <!--.modal-dialog -->
            <div class="modal-dialog">
                <!--.modal-content -->
                <div class="modal-content">
                    <div class="modal-header" style="background-color:  #f67083;border-color: #f67083;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">รายละเอียดการพิจารณาอนุมัติของประธานสาขา</h4>
                    </div>
                    <div class="modal-body">
                        <div id="box-unapproved" class="box-body" style="height: auto;width: auto;">
                            <ul class="answerList" style="padding-left: 0px !important;">
                                <li>
                                    <label>
                                        <input type="radio" name="healthCM" value="0" id="health_notpassCM"> ไม่ผ่านคัดกรอง
                                    </label>
                                    <div style="padding-left:30px;">
                                        <label>
                                            <input type="checkbox" name="healthChildNotPassCM" value="denyHealth" id="health-child-notpass-healthCM"> ด้านสุขภาพ
                                        </label>
                                        <label>
                                            <input type="checkbox" name="healthChildNotPassCM" value="denyOccupation" id="health-child-notpass-occupationCM"> ด้านอาชีพ
                                        </label>
                                        <label>
                                            <input type="checkbox" name="healthChildNotPassCM" value="denyCantPay" id="health-child-notpass-cantpayCM"> ไม่สามารถชำระเบี้ยตามเงื่อนไขได้
                                        </label>
                                        <label>
                                            <input type="checkbox" name="healthChildNotPassCM" value="denyCantContact" id="health-child-notpass-cantcontactCM"> ติดต่อไม่ได้/ไม่รับสาย/ไม่สะดวกคุย
                                        </label>
                                        <label>
                                            <input type="checkbox" name="healthChildNotPassCM" value="denyOther" id="health-child-notpass-otherCM"> อื่นๆ
                                        </label>
                                        <label>
                                            <span style="color:red">*</span>อื่นๆ โปรดระบุ..
                                            <textarea name="healthChildNotPassOtherRemarkCM" id="healthChildNotPassOtherRemarkCM" style="display: block;border-radius: 5px; margin: 10px;width: 100%;height: 80px;resize: none;" disabled></textarea>
                                        </label>
                                    </div>
                                    <div style="text-align:center;">
                                        <input type="button" style="width:100px;margin:10px" class="btn btn-lg btn-default" data-dismiss="modal" name="button-cancel" value="ยกเลิก" />
                                        <input type="button" style="width:100px;margin:10px" class="btn btn-lg btn-success" name="button-save-unapproved" id="button-save-unapproved" value="บันทึก" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--/.modal -->
        <!--.modal -->
        <div class="modal fade" id="modal-warning">
            <!--.modal-dialog -->
            <div class="modal-dialog">
                <!--.modal-content -->
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #ffd243;border-color: #ffeeba;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="color: black;">×</span>
                        </button>
                        <h4 class="modal-title">รายละเอียด</h4>
                    </div>
                    <div class="modal-body">
                        <table id="tablePayerOther" class="table table-bordered table-striped display responsive" style="width: 100%"></table>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--/.modal -->
    </form>
</section>

@section ViewSpecificJavascript
{
    <script>
        var chat;
        var healtVal;
        var typeSelectVal;
        var CMApproveStatusId;
        var CMIsApprovePassCondition = null;
        var CMRemark = null;
        var CMSpecify = null;
        var CMDenyHealth = null;
        var CMDenyOccupation = null;
        var CMDenyCantPay = null;
        var CMDenyCantContact = null;
        var CMDenyOther = null;
        var CMDenyRemark = null;
        var CMResultPassSpecifyRemark = null;

        $(function () {
            if (!isWindows()) {
                $('#DocDetail_form').hide();
            }

            /*start signalR*/
            // Reference the auto-generated proxy for the hub.
            chat = $.connection.chatHub;

            //Start Connection
            $.connection.hub.start().done();

            //disabled element input
            $("#formQuestion :input").prop("disabled", true);

            //load dt payer other
            getPayerOther('@ViewBag.AppCode');

            // click img
            $('.pop').on('click', function () {
                $('.imagepreview').attr('src', $(this).find('img').attr('src'));
                $('#imagemodal').modal('show');
            });

            /*tab change*/
            $('a[data-toggle="tab"]').on('shown.bs.tab',
                function (e) {
                    e.preventDefault();
                    loadingSpinner('fadeIn', 500);
                    const target = $(e.target).attr("href");
                    switch (target) {
                        case "#tab_3":
                            //Log
                            GetQueueLog_DT();
                            break;
                        default:
                    }
                });

            //มีประวัติสุขภาพที่ติดข้อยกเว้น
            $('input[name=IsSpecify_CM]').on('ifChecked', function (e) {
                if ($(this).valid()) {
                    switch ($(this).val()) {
                        case "1":
                            CMSpecify = true;
                            break;
                        case "0":
                            CMSpecify = null;
                            break;
                        default:
                    }
                }
            });

            //มีประวัติสุขภาพที่ติดข้อยกเว้น ส่วนประธานา
            $('input[name=healthChildPassCM]').on('ifChecked', function (e) {
                $(this).valid();
            });

            //ไม่ผ่านคัดกรอง ส่วนประธาน
            $('input[name=healthCM]').on('ifChecked', function (e) {
                $(this).valid();
            });

            //ไม่ผ่านคัดกรอง-ส่วนย่อย -ประธาน
            $('input[name=healthChildNotPassCM]').on('ifChecked', function (e) {
                $(this).valid();
            });

            //button save in modal condition cm
            $('#button-save-condition').click(function (e) {
                if ($('input[name=healthChildPassCM]').valid() && $('input[name=IsSpecify_CM]').valid() && $('textarea[name=healthChildPassOtherRemarkCM]').valid()) {
                   FuncCMApproveUpdate();
                }
            });

            //button save in modal unapprove cm
            $('#button-save-unapproved').click(function (e) {
                if ($('input[name=healthCM]').valid() && $('input[name=healthChildNotPassCM]').valid()) {
                  FuncCMApproveUpdate();
                }
            });

            //อนุมัติไม่ผ่านคัดกรอง อื่นๆ
            $('#healthChildNotPassOtherRemarkCM').bind('input propertychange', function () {
                CMDenyRemark = $(this).val();
            });

            //ระบุข้อยกเว้น มีประวัติสุขภาพที่ติดข้อยกเว้น
            $('#healthChildPassOtherRemarkCM').bind('input propertychange', function () {
                if ($(this).valid()) {
                    //Assign Value PassOtherRemarkCM To Variable
                    CMResultPassSpecifyRemark = $(this).val();
                }

            });

            //checkbox notpass CM
            $('input[name=healthChildNotPassCM]').on('ifChanged', function () {
                if ($(this).is(':checked')) {
                    switch ($(this).val()) {
                        case "denyHealth":
                            CMDenyHealth = true;
                            break;
                        case "denyOccupation":
                            CMDenyOccupation = true;
                            break;
                        case "denyCantPay":
                            CMDenyCantPay = true;
                            break;
                        case "denyCantContact":
                            CMDenyCantContact = true;
                            break;
                        case "denyOther":
                            CMDenyOther = true;
                            //อื่นๆ เปิดช่องหมายเหตุ
                            $('#healthChildNotPassOtherRemarkCM').attr('disabled', false)
                            break;
                        default:
                    }
                } else {
                    //ปิด
                    $('#healthChildNotPassOtherRemarkCM').attr('disabled', true)
                    switch ($(this).val()) {
                        case "denyHealth":
                            CMDenyHealth = null;
                            break
                        case "denyOccupation":
                            CMDenyOccupation = null;
                            break
                        case "denyCantPay":
                            CMDenyCantPay = null;
                            break
                        case "denyCantContact":
                            CMDenyCantContact = null;
                            break
                        case "denyOther":
                            CMDenyOther = null;
                            break
                        default:
                    }
                }
            });

            //button CM approve
            $('button[name=btnCM]').click(function (e) {
                debugger
                var healthResult = $('input[name=health]:checked').val();
                var healthChildPass = $('input[name=healthChildPass]:checked').val();

                var IshealthChildPassCM;
                switch (parseInt($(this).val())) {

                    case 1: //อนุมัติให้ผ่านคัดกรอง
                        CMApproveStatusId = 3; //ผ่านคัดกรอง
                        IshealthChildPassCM = 1; //ใช้เช็ค ตามมาตรฐาน
                        CMIsApprovePassCondition = false; // ไม่ใช่ผ่านแบบมีเงื่อนไข
                        break;
                    case 2: //อนุมัติให้ผ่านคัดกรองแบบติดเงื่อนไข
                        CMApproveStatusId = 4; //ผ่านคัดกรอง ติดเงื่อนไข
                        IshealthChildPassCM = 0; //ใช้เช็ค ติดเงื่อนไขข้อยกเว้น
                        CMIsApprovePassCondition = true; // ผ่านแบบมีเงื่อนไข
                        ClearResultPassConditionCM(); //clear ทิ้ง
                        $('input[id=health-child-pass-conditionCM]').iCheck('check'); // set ให้ใหม่
                        break;
                    case 0: //อนุมัติไม่ให้ผ่าน
                        CMApproveStatusId = 5; //ไม่ให้ผ่านคัดกรอง
                        ClearResultNotPassCM(); //clear ทิ้ง
                        $('input[id=health_notpassCM]').iCheck('check'); // set ให้ใหม่
                        break;
                    default:
                }
                    //เช็คผล ผอ กับ ประธาน ตรงกันหรือไม่ (2 คือ val button ผ่านแต่แบบติดเงื่อนไข)
                    if (parseInt($(this).val()) === parseInt(healthResult) || parseInt($(this).val()) === 2) {
                        //เช็คผล ผอ และประธาน ว่าผ่านตามมาตรฐาน หรือ ติดข้อยกเว้น เหมือนกันหรือไม่
                        if (parseInt(healthChildPass) === parseInt(IshealthChildPassCM) && healthChildPass != null && healthChildPass != 'undefined' && IshealthChildPassCM != null && IshealthChildPassCM != 'undefined') {
                            //เช็คผ่านแบบมาตรฐาน
                            if (parseInt($(this).val()) === 1) {
                                swal({
                                    title: "ยืนยันบันทึกข้อมูล",
                                    text: 'รายละเอียดเพิ่มเติม',
                                    type: 'input',
                                    showCancelButton: true,
                                    confirmButtonColor: '#277020',
                                    confirmButtonText: 'ยืนยัน',
                                    cancelButtonText: 'ยกเลิก',
                                    closeOnConfirm: false,
                                    closeOnEsc: false,
                                    closeOnCancel: true
                                }, function (inputValue) {
                                    if (inputValue === false) return false;

                                    if (inputValue === "") {
                                        swal.showInputError("กรุณากรอกข้อมูลส่วนนี้..!");
                                        return false
                                    }
                                    CMRemark = inputValue;
                                    FuncCMApproveUpdate();
                                });

                                //swal_confirm("ยืนยันบันทึกข้อมูล", "", function (e) {
                                //   FuncCMApproveUpdate();
                                //});
                            }
                            //เช็คผ่านแบบติดเงื่อนไข
                            else if (parseInt($(this).val()) === 2) {
                                //Set Default
                                SetResultPassConditionCM();

                                //Assign Value PassOtherRemarkCM To Variable
                                CMResultPassSpecifyRemark = $('textarea[id=healthChildPassOtherRemarkCM]').val();
                            }
                        }
                        //ไม่ผ่านคัดกรอง
                        else if (parseInt($(this).val()) === 0) {
                            //Set Default
                            SetResultNotPassCM();
                        }
                        else {
                            //เช็คไม่เท่ากับ 2 คือไม่ใช่แบบติดเงื่อนไข  (2 จะแสดง modal )
                            if (parseInt($(this).val()) != 2) {
                                swal({
                                    title: "โปรดระบุเหตุผลในการเปลี่ยนแปลง",
                                    text: '',
                                    type: 'input',
                                    showCancelButton: true,
                                    confirmButtonColor: '#277020',
                                    confirmButtonText: 'ยืนยัน',
                                    cancelButtonText: 'ยกเลิก',
                                    closeOnConfirm: false,
                                    closeOnEsc: false,
                                    closeOnCancel: true
                                }, function (inputValue) {
                                    if (inputValue === false) return false;

                                    if (inputValue === "") {
                                        swal.showInputError("กรุณากรอกข้อมูลส่วนนี้..!");
                                        return false
                                    }
                                    CMRemark = inputValue;
                                    FuncCMApproveUpdate();
                                });
                            }
                        }
                    } else {
                        //ผลของ ผอ และประธาน ขัดแย้งกัน เช็คว่าถ้าประธานผลเท่ากับผ่านตามมาตรฐาน
                        if (parseInt($(this).val()) === 1) {
                            swal({
                                title: "โปรดระบุเหตุผลในการเปลี่ยนแปลง",
                                text: '',
                                type: 'input',
                                showCancelButton: true,
                                confirmButtonColor: '#277020',
                                confirmButtonText: 'ยืนยัน',
                                cancelButtonText: 'ยกเลิก',
                                closeOnConfirm: false,
                                closeOnEsc: false,
                                closeOnCancel: true
                            }, function (inputValue) {
                                if (inputValue === false) return false;

                                if (inputValue === "") {
                                    swal.showInputError("กรุณากรอกข้อมูลส่วนนี้..!");
                                    return false
                                }
                                CMRemark = inputValue;
                               FuncCMApproveUpdate();
                            });
                        }
                    }
            });
        });

         const OpenSSS = (app) => {
            var encoded = btoa(app);
            window.open(`@ViewBag.OpenSSS?app=`+encoded,'_blank');
        }

        const showSectionGivecard = () => {
            debugger
            //ผ่านคัดกรอง และ เข้าพบลูกค้า
            if (healtVal === '1' && typeSelectVal === '2') {
                $('#sectionGivecard').show();
            } else {
                $('#sectionGivecard').hide();
            }
        }
        /***Document**/
        const SeeDoc = (path) => {
            if (!isWindows()) {
                window.location.href = path;
            } else {
                $('#DocDetail_form').children().show();
                //const extension = path.substr(path.length - 4);
                let extension = '';
                const indexPDF = path.indexOf('.pdf');
                const indexJPG = path.indexOf('.jpg');

                if (indexPDF >= 0) extension = '.pdf';
                if (indexJPG >= 0) extension = '.jpg';

                switch (extension) {
                    case '.pdf':
                        $('.SeeDoc').attr('src', path);
                        break;
                    case '.jpg':
                        $('.SeeDoc').attr('src', path);
                        break;
                    default:
                }
            }
        }

        const GetQueueLog_DT = () => {
            $('#tableLog').empty();
            var table = $('#tableLog').DataTable({
                pageLength: 10,
                lengthChange: false,
                processing: true,
                serverSide: true,
                destroy: true,
                searching: true,
                ordering: true,
                info: true,
                paging: true,
                autoWidth: false,
                responsive: true,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.20/i18n/Thai.json'
                },
                ajax: {
                    url: '@Url.Action("QueueLog")',
                    method: 'GET',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search;
                        d.queueId = "@ViewBag.QueueFullDetail.QueueId";
                    }
                },
                columns: [
                    {
                        title: 'วันที่ทำรายการ',
                        data: 'CreatedDate',
                        render: function (data) {
                            return moment(data).format("DD/MM/YYYY HH:mm:ss");
                        }

                    },
                    {
                        title: 'ผู้มอบหมายคิวงาน',
                        data: 'FromEmployeeName'
                    },
                    {
                        title: 'ผู้รับคิวงาน',
                        data: 'ToEmployeeName'
                    },
                    {
                        title: 'รายละเอียด',
                        data: 'TransactionTypeDetail'
                    },
                ]
            });

            window.onresize = function () {
                table.columns.adjust().responsive.recalc();
            };
        }

        //set ค่าผลคัดกรอง แบบติดข้อยกเว้นของ ผอ ให้เป็นค่า default ของประธาน
        const SetResultPassConditionCM = () => {
            //clear
            $('input[id=health-child-pass-conditionCM]').iCheck('uncheck');
            $('textarea[id=healthChildPassOtherRemarkCM]').val("");
            $('input[id=IsSpecify_CM1]').iCheck('uncheck');
            $('input[id=IsSpecify_CM0]').iCheck('uncheck');

            if ($('input[name=healthChildPass]:checked').val() === "0") {
                //มีประวัติสุขภาพที่ติดข้อยกเว้น
                $('input[id=health-child-pass-conditionCM]').iCheck('check');

                //รายละเอียดเพิ่มเติม
                $('textarea[id=healthChildPassOtherRemarkCM]').val($('textarea[id=healthChildPassOtherRemark]').val());

                if ($('input[name=IsSpecify]').val() === "1") {
                    //ระบุในใบสมัคร
                    $('input[id=IsSpecify_CM1]').iCheck('check');
                } else if ($('input[name=IsSpecify]').val() === "0") {
                    //ไม่ระบุ
                    $('input[id=IsSpecify_CM0]').iCheck('check');
                }
            }
        }

        //set ค่าผลคัดกรอง *ไม่ผ่านคัดกรอง ของ ผอ ให้เป็นค่า default ของประธาน
        const SetResultNotPassCM = () => {
            //check before set value
            if ($('input[name=health]:checked').val() === "0") {
                //มีประวัติสุขภาพที่ติดข้อยกเว้น
                $('input[id=health_notpassCM]').iCheck('check');

                //ด้านสุขภาพ
                if ($('input[id=health-child-notpass-health]').is(':checked')) $('input[id=health-child-notpass-healthCM]').iCheck('check');
                //ด้านอาชีพ
                if ($('input[id=health-child-notpass-occupation]').is(':checked')) $('input[id=health-child-notpass-occupationCM]').iCheck('check');
                //ไม่สามารถชำระเบี้ยตามเงื่อนไขได้
                if ($('input[id=health-child-notpass-cantpay]').is(':checked')) $('input[id=health-child-notpass-cantpayCM]').iCheck('check');
                //อื่นๆ
                if ($('input[id=health-child-notpass-other]').is(':checked')) $('input[id=health-child-notpass-otherCM]').iCheck('check', function (e) {
                    //รายละเอียดเพิ่มเติม
                    $('textarea[id=healthChildNotPassOtherRemarkCM]').val($('textarea[id=healthChildNotPassOtherRemark').val());
                });
            }
        }

        const ClearResultNotPassCM = () => {
            //clear ทุกครั้ง
            $('input[id=health_notpassCM]').iCheck('uncheck');
            $('input[id=health-child-notpass-healthCM]').iCheck('uncheck');
            $('input[id=health-child-notpass-occupationCM]').iCheck('uncheck');
            $('input[id=health-child-notpass-cantpayCM]').iCheck('uncheck');
            $('input[id=health-child-notpass-otherCM]').iCheck('uncheck');
            $('textarea[id=healthChildNotPassOtherRemarkCM]').val("");
        }

        const ClearResultPassConditionCM = () => {
            //clear ทุกครั้ง
            $('input[id=health-child-pass-conditionCM]').iCheck('uncheck');
            $('textarea[id=healthChildPassOtherRemarkCM]').val("");
            $('input[id=IsSpecify_CM1]').iCheck('uncheck');
            $('input[id=IsSpecify_CM0]').iCheck('uncheck');
        }

        //Function Update
        const FuncCMApproveUpdate = () => {
                //UPDATE
                CMApproveUpdate('@ViewBag.QueueId',
                                 CMApproveStatusId,
                                 CMRemark,
                                 CMIsApprovePassCondition,
                                 CMSpecify,
                                 CMDenyHealth,
                                 CMDenyOccupation,
                                 CMDenyCantPay,
                                 CMDenyCantContact,
                                 CMDenyOther,
                                 CMDenyRemark,
                                 CMResultPassSpecifyRemark);
        }

        /*fn aprrove update*/
        const CMApproveUpdate = (QueueId, CMApproveStatusId, CMRemark, CMIsApprovePassCondition, CMResultPassIsSpecify, CMDenyHealth, CMDenyOccupation, CMDenyCantPay, CMDenyCantContact, CMDenyOther, CMDenyRemark, CMResultPassSpecifyRemark) => {
            $.post('@Url.Action("QueueApproveUpdate")',
                {
                    QueueId: QueueId,
                    ApproveStatusId: CMApproveStatusId,
                    ApproveRemark: CMRemark,
                    CMIsApprovePassCondition: CMIsApprovePassCondition,
                    CMResultPassIsSpecify: CMResultPassIsSpecify,
                    CMDenyHealth: CMDenyHealth,
                    CMDenyOccupation: CMDenyOccupation,
                    CMDenyCantPay: CMDenyCantPay,
                    CMDenyCantContact: CMDenyCantContact,
                    CMDenyOther: CMDenyOther,
                    CMDenyRemark: CMDenyRemark,
                    CMResultPassSpecifyRemark: CMResultPassSpecifyRemark},
                function(data) {
                    if (data.IsResult === true) {
                        $('.modal').hide();
                        swal_success(() => {
                            window.location.reload();
                        });
                    } else {
                        window.location.reload();
                    }
                });
        }

        /*fn get payer other*/
        const getPayerOther = (appCode) => {
            $.get('@Url.Action("GetPayerOtherApp")',
                { appCode: appCode },
                function (data) {
                    if (data.length > 0) {
                        /*declare str*/
                        const str = `ชำระเบี้ยให้อีก ${data.length} คน`;
                        /*show button*/
                        $('#btnPayerOther').show();
                        /*set str to text button*/
                        $('#btnPayerOther').text(str);
                        /*load datatables*/
                        loadDatatablesPayerOther(data);
                    }
                });
        }

        /*load datatables payer other*/
        const loadDatatablesPayerOther = (data) => {
            $(`#tablePayerOther`).empty();
            $(`#tablePayerOther`).DataTable({
                pageLength: 100,
                processing: true,
                serverSide: false,
                autoWidth: false,
                responsive: true,
                destroy: true,
                lengthChange: false,
                searching: false,
                info: true,
                paging: true,
                data: data,
                language: {
                    url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Thai.json"
                },
                columns: [
                    {
                        title: 'AppId',
                        data: 'app_Id',
                        orderable: false
                    },
                    {
                        title: 'ชื่อ-สกุล',
                        data: null,
                        orderable: false,
                        render: (d) => {
                            return `${d.customerFirstName} ${d.customerLastName}`;
                        }

                    },
                    {
                        title: 'วันเริ่มคุ้มครอง',
                        data: 'startCoverDate',
                        orderable: false,
                        render: (d) => {
                            return moment(d).format("DD/MM/YYYY");
                        }
                    },
                    {
                        title: 'สถานะ',
                        data: 'status',
                        orderable: false
                    }
                ]
            });
        }
    </script>
}