@{
    ViewBag.Title = "รายงานติดตาม ";
}
<form>
    <div class="box box-primary">
        <div class="box-body">
            <div class="form-group">
                <fieldset>
                    <legend>ค้นหา</legend>
                    <div class="col-sm-3">
                        <label class="control-label">DCR</label>
                        <input class="form-control" id="DCR" name="DCR" type="text" data-date-language="th-th" data-provide="datepicker" readonly="readonly" />
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">สาขา</label>
                        <select id="select-branch" name="select-branch" class="form-control" style="width: 100%;">
                            <option value="-1">--ทั้งหมด--</option>
                            @if (ViewBag.BranchList != null)
                            {
                                foreach (var item in ViewBag.BranchList)
                                {
                                    <option value="@item.BranchId">@item.Branch</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">สถานะ</label>
                        <select id="select-bpstatus" name="select-bpstatus" class="form-control" style="width: 100%;">
                            <option value="-1">--ทั้งหมด--</option>
                            @if (ViewBag.BPStatus != null)
                            {
                                foreach (var item in ViewBag.BPStatus)
                                {
                                    <option value="@item.BillPaymentStatusId">@item.BillPaymentStatus</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-3" style="padding-top:26px;">
                        <button id="btnSearch" type="button" class="btn btn-primary" style="float: right;width: 80px;"><i class="fa fa-search"></i> ค้นหา</button>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <div class="row" style="margin-right: 15px;">
                    <button id="btnExport" type="button" class="btn btn-success" style="float: right;width: 80px;"><i class="fa fa-file-excel"></i> Export</button>
                </div>
                <fieldset>
                    <legend>แสดงรายการ</legend>
                    <div>
                        <table id="tableDetail" class="table table-bordered table-striped display responsive" style="width:100%;">
                            <tbody>
                                <tr style="text-align:center"><td>ไม่พบข้อมูล</td></tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</form>
@section ViewSpecificJavascript {
    <script>
        $(function () {
            //declare new date
            var date = new Date();
            //set options datepicker
            $('#DCR').datepicker({
                format: 'dd/mm/yyyy',
                //startDate: new Date(date.getFullYear(), (date.getMonth() + 1) - 6, 1),
                //endDate: new Date(date.getFullYear(), (date.getMonth() + 1) + 1, 1),
                viewMode: "months",
                minViewMode: "months",
                autoclose: true
            }).datepicker('setDate', new Date(date.getFullYear(), date.getMonth(), 1));

            //event
            $('#btnSearch').on('click', function (e) {
                e.preventDefault();
                //valid
                if ($('form').valid()) {
                    //load datatable
                    loadDatatables();
                }
            });

            $('#btnExport').on('click', function (e) {
                e.preventDefault();
                ExportReportBillPayment();
            });

        });

        /*function load datatables*/
        function loadDatatables() {
           $('#tableDetail').empty();
           const table = $('#tableDetail').DataTable({
                pageLength: 10,
                lengthChange: false,
                processing: true,
                serverSide: true,
                destroy: true,
                searching: true,
                ordering: true,
                info: true,
                paging: true,
                autoWidth: false,
               responsive: true,
               language: {
                   searchPlaceholder: "ชื่อหรือนามสกุลผู้ชำระเบี้ย"
                },
                ajax: {
                    url: '@Url.Action("GetBillPayment")',
                    method: "GET",
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;
                        d.period = $('#DCR').val();
                        d.payerBranchId = $('#select-branch').val();
                        d.billPaymentStatusIdList = $('#select-bpstatus').val();
                    }
                },
               columns: [
                    {
                       title: 'ลำดับ',
                       data: null,
                       orderable: false,
                       className:'th-center  td-center'
                    },
                    {
                        title: 'รหัส BillPayment',
                        data: 'BillPaymentCode',
                        orderable: false,
                        className: 'th-center'
                    },
                    {
                        title: 'ชื่อ-สกุล ผู้ชำระเบี้ย',
                        data: 'PayerName',
                        orderable: false,
                        className: 'th-center'
                   },
                   {
                       title: 'เบี้ยที่ชำระ',
                       data: 'Amount',
                       orderable: false,
                       className: 'th-center  td-right'
                   },
                   {
                       title: 'เบอร์โทร',
                       data: 'MobileNumber',
                       orderable: false,
                       className: 'th-center'
                   },
                   {
                       title: 'วันที่สร้าง BillPayment',
                       data: 'CreatedDate',
                       orderable: false,
                       className: 'th-center',
                       render: function (data) {
                           return moment(data).format("DD/MM/YYYY HH:mm:ss");
                       }
                   },
                   {
                       title: 'สถานะการชำระ',
                       data: 'BillPaymentStatus',
                       orderable: false,
                       className: 'th-center'
                   },
                   {
                       title: 'รายละเอียด',
                       data: null,
                       orderable: false,
                       className: 'th-center td-center',
                       render: function (data) {
                           let encode = btoa(data.BillPaymentCode);
                           return `<a href="@ViewBag.URL_View_Doc${encode}" target="_blank" id="btn-${data.BillPaymentId}" class="btn btn-info"><i class="fa fa-search"></i></a>`
                       }
                   },
                ]
           });
                table.on('draw.dt', function () {
                   var PageInfo = table.page.info();
                   table.column(0, { page: 'current' }).nodes().each(function (cell, i) {
                       cell.innerHTML = i + 1 + PageInfo.start;
               })
           });

             window.onresize = function () {
                table.columns.adjust().responsive.recalc();
            };

            $('.dataTables_filter input').attr('maxLength', 12)
        }

       function ExportReportBillPayment() {
          loadingSpinner('fadeIn');
            $.ajax({
                url: "@Url.Action("ExportReportBillPayment")",
                type: "GET",
                data: {
                    search: $('.dataTables_filter input').val(),
                    period: $('#DCR').val(),
                    payerBranchId : $('#select-branch').val(),
                    billPaymentStatusIdList : $('#select-bpstatus').val()
                },
                success: function (data) {
                    window.location = "@Url.Action("DownloadExportReportBillPayment")";
                    loadingSpinner('fadeOut');
                },
                 error: function (jqXHR, exception) {
                    checkXHRStatus(jqXHR,exception);
                 }
            });
        }
    </script>
}