@{
    ViewBag.Title = "CallIndex";
    Layout = "~/Views/Shared/_LayoutForTop.cshtml";
}
<style>
    strong {
        color: red;
    }
</style>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false"><h4>บันทึกผลการทำงาน</h4></a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="true"><h4>เอกสาร</h4></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="row">
                    @* on left *@
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            @* Customer Detail *@
                            <div id="Customer_form" class="form-horizontal">
                                <div class="box box-info">
                                    <div class="box-header" style="background-color: #b3eeff">
                                        <h4 class="box-title">ข้อมูลผู้เอาประกัน </h4>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div id="box_customer" class="box-body" style="height: auto;width: auto">
                                        <div class="form-group-lg-flat">
                                            <label class="control-label col-sm-6" style="font-size: 16px;">App ID : </label>
                                            <label id="lbl_appId" class="control-label col-sm-6 font-detail-normal-16"></label>
                                        </div>
                                        <div class="form-group-lg-flat">
                                            <label class="control-label col-sm-6" style="font-size: 16px;">สถานะ : </label>
                                            <label id="lbl_status" class="control-label col-sm-6 font-detail-normal-16"></label>
                                        </div>
                                        <div class="form-group-lg-flat">
                                            <label class="control-label col-sm-6" style="font-size: 16px;">แผนประกัน : </label>
                                            <label id="lbl_product" class="control-label col-sm-6 font-detail-normal-16"></label>
                                        </div>
                                        <div class="form-group-lg-flat">
                                            <label class="control-label col-sm-6" style="font-size: 16px;">เบี้ย : </label>
                                            <label id="lbl_premium" class="control-label col-sm-6 font-detail-normal-16"></label>
                                        </div>
                                        <div class="form-group-lg-flat">
                                            <label class="control-label col-sm-6" style="font-size: 16px;">วันเริ่มคุ้มครอง</label>
                                            <label id="lbl_startcover" class="control-label col-sm-6 font-detail-normal-16"></label>
                                        </div>
                                        <div class="form-group-lg-flat">
                                            <label class="control-label col-sm-6" style="font-size: 16px;">ชื่อลูกค้า : </label>
                                            <label id="lbl_customername" class="control-label col-sm-6 font-detail-normal-16"></label>
                                        </div>
                                        <div class="form-group-lg-flat">
                                            <label class="control-label col-sm-6" style="font-size: 16px;">วันเกิด : </label>
                                            <label id="lbl_birthdate" class="control-label col-sm-6 font-detail-normal-16"></label>
                                        </div>
                                        <div id="box_customer_tel" class="form-group-lg-flat"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            @* Payer Detail *@
                            <div id="Payer_form" class="form-horizontal">
                                <div class="box box-info">
                                    <div class="box-header" style="background-color: #b3eeff">
                                        <h4 class="box-title">ข้อมูลผู้ชำระเบี้ย</h4>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div id="box_payer" class="box-body" style="height: auto;width: auto">
                                        <div class="form-group-lg-flat">
                                            <label class="control-label col-sm-6" style="font-size: 16px;">ความสัมพันธ์ : </label>
                                            <label id="lbl_payerrelate" class="control-label col-sm-6 font-detail-normal-16"></label>
                                        </div>
                                        <div class="form-group-lg-flat">
                                            <label class="control-label col-sm-6" style="font-size: 16px;">ชื่อผู้ชำระเบี้ย : </label>
                                            <label id="lbl_payername" class="control-label col-sm-6 font-detail-normal-16"></label>
                                        </div>
                                        <div class="form-group-lg-flat">
                                            <label class="control-label col-sm-6" style="font-size: 16px;">อาชีพ : </label>
                                            <label id="lbl_occupation" class="control-label col-sm-6 font-detail-normal-16"></label>
                                        </div>
                                        <div id="box_payer_tel" class="form-group-lg-flat"></div>
                                        <div id="box_payer_tel_2" class="form-group-lg-flat"></div>
                                        <div id="box_payer_officetel" class="form-group-lg-flat"></div>
                                        <div id="box_payer_officetel_2" class="form-group-lg-flat"></div>
                                        <div class="form-group-lg-flat">
                                            <label class="control-label col-sm-6" style="font-size: 16px;">ชื่อหน่วยงาน : </label>
                                            <label id="lbl_office" class="control-label col-sm-6 font-detail-normal-16"></label>
                                        </div>
                                        <div class="form-group-lg-flat">
                                            <label class="control-label col-sm-6" style="font-size: 16px;">การชำระ : </label>
                                            <label id="lbl_payment" class="control-label col-sm-6 font-detail-normal-16"></label>
                                        </div>
                                        <div class="form-group-lg-flat">
                                            <label class="control-label col-sm-6" style="font-size: 16px;">ธนาคาร : </label>
                                            <label id="lbl_bank" class="control-label col-sm-6 font-detail-normal-16"></label>
                                        </div>
                                        <div class="form-group-lg-flat">
                                            <label class="control-label col-sm-6" style="font-size: 16px;">เลขที่บัญชี : </label>
                                            <label id="lbl_payeraccountno" class="control-label col-sm-6 font-detail-normal-16"></label>
                                        </div>
                                        <div class="form-group-lg-flat">
                                            <label class="control-label col-sm-6" style="font-size: 16px;">ประเภท : </label>
                                            <label id="lbl_period" class="control-label col-sm-6 font-detail-normal-16"></label>
                                        </div>
                                        <div class="form-group-lg-flat">
                                            <div class="col-md-12" style="text-align: center; margin-top: 20px !important">
                                                <button id="btn_payer_other" type="button" class="btn btn-lg btn-warning btn-flat" data-toggle="modal" data-target="#modal-warning" style="display: none">
                                                    ชำระเบี้ยให้อีก n คน
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* on right *@
                        <div class="div-answer">
                            <div class="col-sm-12">
                                <div class="box box-info">
                                    <div class="box-header" style="background-color: #b3eeff">
                                        <h4 class="box-title">ผลการคัดกรอง</h4>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group-lg-flat">
                                            <h3 class="box-title" style="text-decoration: underline"><span style="color: red;font-weight: bold">*</span>สถานะการคัดกรอง</h3>
                                            <div id="div_rd_underwritestatus" class="col-sm-12">
                                                <div class="col-sm-3">
                                                    <label class="radio" style="font-size: 18px">
                                                        <input type="radio" name="rd_underwritestatus" id="rd_underwritestatus_t" value="1" /> คัดกรองแล้ว
                                                    </label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="radio" style="font-size: 18px">
                                                        <input type="radio" name="rd_underwritestatus" id="rd_underwritestatus_f" value="0" /> ยังไม่คัดกรอง
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="div_rd_callstatus" class="form-group-lg-flat">
                                            <h3 class="box-title" style="text-decoration: underline"><span style="color: red; font-weight: bold">*</span>สถานะการโทร</h3>
                                            <div class="col-sm-12">
                                                @if (ViewBag.CallStatusList != null)
                                                {
                                                    foreach (var i in ViewBag.CallStatusList)
                                                    {
                                                        if (i.CallStatusId != 2)
                                                        {
                                                            <div class="col-sm-3">
                                                                <label class="radio" style="font-size: 18px">
                                                                    <input type="radio" name="rd_callstatus" id="rd_callstatus_@(i.CallStatusId)" value="@i.CallStatusId" /> @i.CallStatus
                                                                </label>
                                                            </div>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div id="div_chk_isfoundcustomer" class="form-group-lg-flat">
                                            <h3 class="box-title" style="text-decoration: underline"><span style="color: red; font-weight: bold">*</span>สถานะการเข้าพบ</h3>
                                            <div class="col-sm-12">
                                                <div class="col-sm-3">
                                                    <label class="checkbox" for="chk_isfoundcustomer" style="font-size: 18px">
                                                        <input type="checkbox" name="chk_isfoundcustomer" id="chk_isfoundcustomer">
                                                        ไม่พบลูกค้า
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="div_rd_typeselect" class="form-group-lg-flat">
                                            <h3 class="box-title" style="text-decoration: underline"><span style="color: red; font-weight: bold">*</span>ช่องทางการคัดกรอง</h3>
                                            <div class="col-sm-12">

                                                @if (ViewBag.QueueType != null)
                                                {
                                                    foreach (var i in ViewBag.QueueType)
                                                    {

                                                        <div class="col-sm-3">
                                                            <label class="radio" style="font-size: 18px">
                                                                <input type="radio" name="rd_typeselect" id="rd_typeselect_@(i.QueueTypeId)" value="@i.QueueTypeId" /> @i.QueueTypeDetail
                                                            </label>
                                                        </div>

                                                    }
                                                }
                                            </div>
                                        </div>

                                        <div id="div_typeselect1" class="form-group-lg-flat" style="display: none">
                                            <!-- Multiple Checkboxes -->
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <span class="col-sm-12" style="color: red; margin-bottom: 3px">เลือกอย่างน้อย 1 ข้อ</span>
                                                    <div class="checkbox">
                                                        <label for="chk_callToCustomer">
                                                            <input type="checkbox" name="chk_callTo" id="chk_callToCustomer" value="customer">
                                                            ผู้ชำระเบี้ย
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label for="chk_callToPayer">
                                                            <input type="checkbox" name="chk_callTo" id="chk_callToPayer" value="payer">
                                                            ผู้เอาประกัน
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="div_typeselect2" class="form-group-lg-flat" style="display: none">
                                            <!-- Multiple Checkboxes -->
                                            <div class="col-sm-12">
                                                <div class="col-sm-offset-3 col-sm-6">
                                                    <span class="col-sm-12" style="color: red; margin-bottom: 3px">เลือกอย่างน้อย 1 ข้อ</span>
                                                    <div class="checkbox">
                                                        <label for="chk_callToCustomer">
                                                            <input type="checkbox" name="chk_callTo" id="chk_callToCustomer2" value="customer">
                                                            ผู้ชำระเบี้ย
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label for="chk_callToPayer">
                                                            <input type="checkbox" name="chk_callTo" id="chk_callToPayer2" value="payer">
                                                            ผู้เอาประกัน
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="div-answer-child">
                                            <div class="form-group-lg-flat">
                                                <h3 class="box-title" style="text-decoration: underline"><span style="color: red;font-weight: bold">*</span>การชำระเบี้ย</h3>
                                                <h4>การยินยอมให้หักบัญชีธนาคาร ชำระเบี้ยรายเดือน/รายปี</h4>
                                                <div class="col-sm-12">
                                                    <div class="col-sm-2">
                                                        <label class="radio" style="font-size: 18px">
                                                            <input type="radio" name="rd_bankaccount" id="rd_bankaccount1" value="yes" /> ใช่
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="radio" style="font-size: 18px">
                                                            <input type="radio" name="rd_bankaccount" id="rd_bankaccount0" value="no" /> ไม่ใช่
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="col-sm-12" id="div_txtarea" style="display: none">
                                                    <label><span style="color: red">*</span>โปรดระบุรายละเอียด</label>
                                                    <textarea id="txtarea_bankaccount_remark" style="width: 100%; height: 100px;"></textarea>
                                                </div>
                                            </div>
                                            @*<div class="form-group-lg-flat">
                                                    <h3 class="box-title" style="text-decoration: underline">แจ้งการให้บริการ</h3>
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-5">
                                                            <label class="checkbox" style="font-size: 18px">
                                                                <input type="checkbox" name="chk_Inform" id="chk_branchInform" value="branch" /> ที่ตั้งสาขา,เบอร์ติดต่อสาขา
                                                            </label>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="checkbox" style="font-size: 18px">
                                                                <input type="checkbox" name="chK_Inform" id="chk_callCenterInform" value="callcenter" /> เบอร์ Call Center
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>*@

                                            @*<div class="form-group-lg-flat">
                                                    <h3 class="box-title red-star" style="text-decoration: underline">การรับรองข้อมูล</h3>
                                                    <h4>ท่านรับรองข้อมูลที่ลูกค้าได้แถลง</h4>
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-4">
                                                            <label class="checkbox" style="font-size: 18px">
                                                                <input type="checkbox" name="chk_isConfirm" id="chk_isConfirm" value="confirm" /> รับรอง
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>*@

                                            @*<div class="form-group-lg-flat">
                                                    <h3 class="box-title red-star" style="text-decoration: underline">การประสานงานลูกค้า</h3>
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-3">
                                                            <label class="radio" style="font-size: 18px">
                                                                <input type="radio" name="rd_isContact" id="rd_isContactByPhone" value="phone" /> โทรศัพท์
                                                            </label>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="radio" style="font-size: 18px">
                                                                <input type="radio" name="rd_isContact" id="rd_isContactByFaceToFace" value="face" /> เข้าพบถึงที่
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>*@

                                            <div class="form-group-lg-flat">
                                                <h3 class="box-title" style="text-decoration: underline"><span style="color: red;font-weight: bold">*</span>ผลการคัดกรอง</h3>
                                                <div class="col-sm-12">
                                                    <div class="col-sm-3">
                                                        <label class="radio" style="font-size: 18px">
                                                            <input type="radio" name="rd_isResult" id="rd_Pass" value="pass" /> ผ่าน
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="radio" style="font-size: 18px">
                                                            <input type="radio" name="rd_isResult" id="rd_NotPass" value="notpass" /> ไม่ผ่าน
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="div_deny" class="form-group-lg-flat" style="display: none">
                                                <!-- Multiple Checkboxes -->
                                                <div class="col-sm-12">
                                                    <div class="col-sm-offset-3 col-sm-6">
                                                        <span class="col-sm-12" style="color: red; margin-bottom: 3px">เลือกสาเหตุอย่างน้อย 1 ข้อ</span>
                                                        <div class="checkbox">
                                                            <label for="chk_denyHealth">
                                                                <input type="checkbox" name="chk_deny" id="chk_denyHealth">
                                                                ด้านสุขภาพ
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label for="chk_denyOccupation">
                                                                <input type="checkbox" name="chk_deny" id="chk_denyOccupation">
                                                                ด้านอาชีพ
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label for="chk_denyCantPay">
                                                                <input type="checkbox" name="chk_deny" id="chk_denyCantPay">
                                                                ไม่สามารถชำระเบี้ยตามเงื่อนไขได้
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label for="chk_denyOther">
                                                                <input type="checkbox" name="chk_deny" id="chk_denyOther">
                                                                อื่น ๆ
                                                            </label>
                                                        </div>
                                                        <div style="padding-left: 20px">
                                                            <textarea id="denyRemark" style="width: 100%; height: 100px;" disabled="disabled"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group-lg-flat">
                                            <h3 class="box-title" style="text-decoration: underline">หมายเหตุ/บันทึกเพิ่มเติม</h3>
                                            <div class="col-sm-12">
                                                <div class="col-sm-12">
                                                    <textarea id="txtarea_remark" style="width: 100%; height: 100px"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <input id="btn_success" type="button" value="บันทึกข้อมูล" class="btn btn-lg btn-success btn-flat pull-right" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_2">
                @* document *@
                <div id="Document_form" class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @if (ViewBag.FirstDoc == null)
                                {
                                    <div id="form1_msg" class="alert alert-warning alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <h4><i class="icon fa fa-ban"></i> เตือน!</h4>
                                        ไม่มีรายการเอกสารดังกล่าว
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group row">

                            @if (ViewBag.DocLink != null)
                            {
                                foreach (var itm in ViewBag.DocLink)
                                {
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-block btn-info" id="btn_@itm.DocumentFileId" onclick="SeeDoc('@itm.PathFullDoc')"><i class="fa fa-fw fa-search"></i>@itm.DocumentTypeName:@itm.DocumentId</button>
                                    </div>
                                }
                            }
                        </div>
                        <div class="form-group row" id="DocDetail_form">
                            <div class="col-sm-12" style="height: 950px">
                                <iframe class="SeeDoc" style="width: 100%; height: 100%;" src="@ViewBag.FirstDoc"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--.modal -->
<div class="modal fade" id="modal-warning">
    <!--.modal-dialog -->
    <div class="modal-dialog">
        <!--.modal-content -->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ffd243;border-color: #ffeeba;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">รายละเอียด</h4>
            </div>
            <div class="modal-body">
                <table id="table_payer_other" class="table table-bordered table-striped" style="width: 100%"></table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--/.modal -->
<input type="hidden" id="queueId" value="@ViewBag.QueueId" />
<input type="hidden" id="userId" value="@ViewBag.UserId" />
@section ViewSpecificJavascript
{
    <script>
        var ssUser = ('@Session["ViewSessionUser"]'.toLowerCase() == 'true');
        var chat;
        var isUnderwriteBranchResult = false; //สถานะการคัดกรอง
        var isBankAllow = false; //------------การชำระเบี้ย
        var isBranch = false; //***ไม่ใช้
        var isCall = false; //***ไม่ใช้
        var isConf = false; //***ไม่ใช้
        var isContact = false; //***ไม่ใช้
        var isContactFace = false; //***ไม่ใช้
        var isUnderwriteResult = false; //--------ผลการคัดกรอง
        var callStatusValue; //--------------สถานะการโทร
        var typeSelectValue; //--------------ช่องทางการคัดกรอง
        var phQueueStatusIdValue; //-----------สถานะคิว
        var isDenyHealth; //-----------ด้านสุขภาพ
        var isDenyOccupation; //----------ด้านอาชีพ
        var isDenyCantPay; //-------------ไม่สามารถชำระเบี้ยตามเงื่อนไขได้
        var isDenyOther; //----------------อื่น ๆ
        var isCallToCustomer = false; //------------callto ผอปก
        var isCallToPayer = false; //------------callto ผชรบ
        var isFoundCustomer;//--------สถานะการเข้าพบลูกค้า
        $(function () {

            /*start signalR*/
            // Reference the auto-generated proxy for the hub.
            chat = $.connection.chatHub;
            //Start Connection
            $.connection.hub.start().done();
            /*end signalR*/
            answer_child_hidden(true);
            /*get ph queue*/
            get_phQueue($('#queueId').val());
            /*get detail*/
            get_queueDetail($('#queueId').val());
            /*event if checked*/
            $('input[name=rd_bankaccount]').on('ifChecked',
                function () {
                    const rd_value = $(this).val();
                    switch (rd_value) {
                        case 'yes':
                            isBankAllow = true;
                            $('#txtarea_bankaccount_remark').val('');
                            $('#div_txtarea').hide();
                            break;
                        case 'no':
                            isBankAllow = false;
                            $('#div_txtarea').show();
                            break;
                        default:
                    }
                });

            /*event if checked rd callstatus*/
            $('input[name=rd_callstatus]').on('ifChecked',
                function () {
                    callStatusValue = $(this).val();
                    switch (callStatusValue) {
                        /*รับสาย*/
                        case '2':
                            clear_check();
                            showStar(true);
                            answer_child_hidden(false);
                            break;
                            /*ไม่รับสาย ไม่สะดวกคุย ติดต่อไม่ได้*/
                        case '3':
                        case '4':
                        case '5':
                            //clear_check();
                            //showStar(false);
                            answer_child_hidden(true);
                            isBankAllow = null;
                            isBranch = null; //**ไม่ใช้
                            isCall = null; //**ไม่ใช้
                            isConf = null; //**ไม่ใช้
                            isContact = null; //**ไม่ใช้
                            isContactFace = null; //**ไม่ใช้
                            isUnderwriteResult = null;
                            isDenyHealth = null;
                            isDenyOccupation = null;
                            isDenyCantPay = null;
                            isDenyOther = null;
                            typeSelectValue = null;
                            break;
                        default:
                    }
                });

            /*event if checked rd callstatus*/
            $('input[name=rd_typeselect]').on('ifChecked',
                function (e) {
                    e.preventDefault();
                    //uncheck
                    $('input[name=chk_callTo]').iCheck('uncheck');
                    //assign value
                    typeSelectValue = $(this).val();
                    //check case value
                    switch (typeSelectValue) {
                        case "2":
                            callStatusValue = 2; //สถานะ รับสาย
                            isFoundCustomer = null; //เข้าพบลูกค้า ให้ isFound = null
                            $('#div_typeselect1').show();
                            $('#div_typeselect2').hide();
                            break;
                        case "3":
                            callStatusValue = 1; //สถานะรอข้อมูล
                            isFoundCustomer = true; //เข้าพบลูกค้า ให้ isFound = true
                            $('#div_typeselect1').hide();
                            $('#div_typeselect2').show();
                            break;
                        default:
                    }
                    //   console.log("callStatusValue = " + callStatusValue);
                });

            /*event if changed*/
            $('input[id=chk_branchInform]').on('ifChanged',
                function () {
                    isBranch = $(this).iCheck('update')[0].checked;
                });
            $('input[id=chk_callCenterInform]').on('ifChanged',
                function () {
                    isCall = $(this).iCheck('update')[0].checked;
                });
            $('input[id=chk_denyHealth]').on('ifChanged',
                function () {
                    isDenyHealth = $(this).iCheck('update')[0].checked;
                });
            $('input[id=chk_denyOccupation]').on('ifChanged',
                function () {
                    isDenyOccupation = $(this).iCheck('update')[0].checked;
                });
            $('input[id=chk_denyCantPay]').on('ifChanged',
                function () {
                    isDenyCantPay = $(this).iCheck('update')[0].checked;
                });
            $('input[id=chk_denyOther]').on('ifChanged',
                function () {
                    isDenyOther = $(this).iCheck('update')[0].checked;
                    if (isDenyOther) {
                        $('#denyRemark').attr('disabled', false);
                    } else {
                        $('#denyRemark').attr('disabled', true);
                        $('#denyRemark').val('');
                    }
                });
            $('input[id=chk_isfoundcustomer]').on('ifChanged',
                function () {
                    const val = $(this).iCheck('update')[0].checked;
                    switch (val) {
                        case true:
                            isFoundCustomer = false;
                            break;
                        case false:
                            isFoundCustomer = null;
                            break;
                        default:
                            break;

                    }
                    if (!$('input[name=rd_callstatus]').is(':checked')) callStatusValue = 1; //เช็คสถานะการโทร ไม่เช็ค = 1 N/A

                    //  console.log("callStatusValue = " + callStatusValue);
                });
            //$('input[id=chk_isConfirm]').on('ifChanged',
            //    function () {
            //        isConf = $(this).iCheck('update')[0].checked;
            //    });

            /*event if checked*/
            $('input[name=rd_isContact]').on('ifChecked',
                function () {
                    const rd_value = $(this).val();
                    switch (rd_value) {
                        case 'phone':
                            isContact = true;
                            isContactFace = false;
                            break;
                        case 'face':
                            isContact = false;
                            isContactFace = true;
                            break;
                        default:
                    }
                });

            //Underwrite result status
            $('input[name=rd_underwritestatus]').on('ifChecked',
                function () {
                    $('input[name=rd_callstatus]').iCheck('uncheck');
                    $('input[name=rd_typeselect]').iCheck('uncheck');
                    $('input[name=rd_bankaccount]').iCheck('uncheck');
                    $('input[name=rd_isResult]').iCheck('uncheck');
                    $('input[name=chk_deny]').iCheck('uncheck');
                    $('input[name=chk_isfoundcustomer]').iCheck('uncheck');
                    $('#div_txtarea').hide();
                    $('#div_deny').hide();
                    $('#txtarea_bankaccount_remark').val('');
                    $('#denyRemark').val('');
                    $('#div_typeselect1').hide();
                    $('#div_typeselect2').hide();
                    const rd_value = $(this).val();
                    switch (rd_value) {
                        case '1':
                            isFoundCustomer = null;
                            isUnderwriteBranchResult = true;
                            $('#div_rd_callstatus').hide();
                            $('#div_rd_typeselect').show();
                            $('#div_chk_isfoundcustomer').hide();
                            answer_child_hidden(false); //show
                            break;
                        case '0':
                            isFoundCustomer = null;
                            isUnderwriteBranchResult = false;
                            $('#div_rd_callstatus').show();
                            $('#div_rd_typeselect').hide();
                            $('#div_chk_isfoundcustomer').show();
                            answer_child_hidden(true); //hide
                            break;
                        default:
                    }
                });

            /*event if checked*/
            $('input[name=rd_isResult]').on('ifChecked',
                function () {
                    const rd_value = $(this).val();
                    switch (rd_value) {
                        case 'pass':
                            $('#div_deny').hide();
                            $('input[name=chk_deny]').iCheck('uncheck');
                            $('#denyRemark').val('');
                            isUnderwriteResult = true;
                            isDenyHealth = null;
                            isDenyOccupation = null;
                            isDenyCantPay = null;
                            isDenyOther = null;
                            break;
                        case 'notpass':
                            $('#div_deny').show();
                            isUnderwriteResult = false;
                            break;
                        default:
                    }
                });

            /*event button click*/
            $('#btn_success').click((e) => {
                e.preventDefault();
                /*valid*/
                if (check_valid()) {
                    /*alert confirm*/
                    swal_confirm('ยืนยันบันทึกข้อมูล',
                        '',
                        () => {
                            /*map value*/
                            $('input[name=chk_callTo]:checked').each(function (i) {
                                const chk_val = $(this).val();
                                switch (chk_val) {
                                    case 'customer':
                                        isCallToCustomer = true;
                                        break;
                                    case 'payer':
                                        isCallToPayer = true;
                                        break;
                                    default:
                                }
                            });

                            /*call fn submit*/
                            submitData($('#queueId').val(),
                                $('#txtarea_bankaccount_remark').val(),
                                $('#txtarea_remark').val(),
                                $('#denyRemark').val(),
                                callStatusValue);
                        });
                } else {
                    /*alert fail*/
                    swal_fail('โปรดตรวจสอบการบันทึกข้อมูล!');
                }
            });
        });
        /*fn get PH Queue*/
        const get_phQueue = (Id) => {
            $.get('@Url.Action("GetPHQueueDetailById")',
                { queueId: Id },
                (data) => {

                    phQueueStatusIdValue = data[0].PHQueueStatusId;

                    if (phQueueStatusIdValue === 6) {
                        /*disabled answer*/
                        answer_disabled();
                        /*disabled child answer*/
                        answer_child_hidden(true);
                        /*get answer*/
                        get_answer($('#queueId').val());
                    } else {
                        /*คัดกรองแล้ว*/
                        if (data[0].UnderwriteBranchResult === true) {
                            /*check true คัดกรองแล้ว*/
                            $('#rd_underwritestatus_t').iCheck('check');
                            /*get answer*/
                            get_answer($('#queueId').val());
                            /*disabled answer*/
                            answer_disabled();
                            /*ยังไม่คัดกรอง */
                        } else if (data[0].UnderwriteBranchResult === false) {
                            /*check false ยังไม่ได้คัดกรอง*/
                            $('#rd_underwritestatus_f').iCheck('check');

                            if (ssUser) {
                                /*disabled child answer*/
                                answer_child_hidden(true);
                                /*get answer*/
                                get_answer($('#queueId').val());
                            } else {
                                /*disabled answer*/
                                answer_disabled();
                                /*disabled child answer*/
                                answer_child_hidden(true);
                                /*get answer*/
                                get_answer($('#queueId').val());
                            }

                        } else {
                            $('#div_rd_callstatus').hide();
                            $('#div_chk_isfoundcustomer').hide();
                            $('#div_rd_typeselect').hide();
                            $('#div_typeselect1').hide();
                            $('#div_typeselect2').hide();
                            /*disabled child answer*/
                            answer_child_hidden(true);
                            /*get answer*/
                            get_answer($('#queueId').val());

                            //disabled all
                            answer_disabled();
                        }

                        switch (data[0].QueueTypeId) {
                            case 2:
                                $('#rd_typeselect_2').iCheck('check');

                                if (data[0].CallToCustomer) {
                                    $('#chk_callToCustomer').iCheck('check');
                                }

                                if (data[0].CallToPayer) {
                                    $('#chk_callToPayer').iCheck('check');
                                }

                                break;
                            case 3:
                                $('#rd_typeselect_3').iCheck('check');

                                if (data[0].CallToCustomer) {
                                    $('#chk_callToCustomer2').iCheck('check');
                                }

                                if (data[0].CallToPayer) {
                                    $('#chk_callToPayer2').iCheck('check');
                                }

                                break;
                            default:
                        }

                        /*set value to rd or chk*/
                        switch (data[0].CallStatusId) {
                            case 2:
                                $('#rd_callstatus_2').iCheck('check');
                                break;
                            case 3:
                                $('#rd_callstatus_3').iCheck('check');
                                break;
                            case 4:
                                $('#rd_callstatus_4').iCheck('check');
                                break;
                            case 5:
                                $('#rd_callstatus_5').iCheck('check');
                                break;
                            default:
                        }
                        /*check found customer*/
                        if (data[0].IsFoundCustomer !== null && data[0].IsFoundCustomer === false) {
                            $('#chk_isfoundcustomer').iCheck('check');
                        }

                    }
                });
        }

        /*fn get queue detail*/
        const get_queueDetail = (Id) => {
            $.get('@Url.Action("GetQueueDetail")',
                { queueId: Id },
                (data) => {
                    /*check data length > 0*/
                    if (data.length > 0) {
                        /*call fn get payer other by application code*/
                        getPayerOther(data[0].ApplicationCode);
                        /*load data*/
                        load_Data(data);
                    } else {
                        swal_fail('ไม่พบข้อมูล',
                            () => {
                                window.location.href = '@Url.Action("InternalServerError", "Error")';
                            });
                        /*disabled div answer*/
                        answer_disabled();
                    }
                });
        }

        /*fn get answer*/
        const get_answer = (Id) => {
            $.get('@Url.Action("QueueResult_Get")',
                { queueId: Id },
                (data) => {
                    if (data)
                        /*load div answer*/
                        load_answer(data);
                });
        }

        /*fn load data detail*/
        const load_Data = (data) => {
            /*Customer*/
            $('#lbl_appId').text(check_undefined(data[0].ApplicationCode));
            $('#lbl_status').text(check_undefined(data[0].ApplicationStatus));
            $('#lbl_product').text(check_undefined(data[0].ProductDetail));
            $('#lbl_premium').text(check_undefined(data[0].Premium));
            $('#lbl_startcover').text(check_undefined(moment(data[0].StartCoverDate).format('DD-MM-YYYY')));
            $('#lbl_customername').text(check_undefined(data[0].CustomerFullName));
            $('#lbl_birthdate').text(check_undefined(moment(data[0].CustomerBirthDate).format('DD-MM-YYYY')));
            splitPhoneNumber(check_undefined(data[0].CustomerMobileNo), 'customer');
            $('#lbl_payerrelate').text(check_undefined(data[0].PayerRelate));
            $('#lbl_payername').text(check_undefined(data[0].PayerFullName));
            $('#lbl_occupation').text(check_undefined(data[0].OccupationDetail));
            $('#lbl_office').text(check_undefined(data[0].PayerOfficeName));
            $('#lbl_payment').text(check_undefined(data[0].PayMethodTypeDetail));
            $('#lbl_bank').text(check_undefined(data[0].BankDetail));
            $('#lbl_payeraccountno').text(check_undefined((data[0].PayerBankAccountNo)));
            $('#lbl_period').text(check_undefined(data[0].PeriodTypeDetail));
            splitPhoneNumber(check_undefined(data[0].PayerTelephoneNo), 'payer');
            splitPhoneNumber(check_undefined(data[0].PayerOfficeTelephoneNo), 'payeroffice');
        }

        /*check undefined*/
        const check_undefined = (data) => {
            if (data != "undefined" && data != null && data != '' && data != "") {
                return data;
            }
            return "-";
        }
        /*fn load answer*/
        const load_answer = (data) => {
            switch (data.IsBankAccountAllow) {
                case true:
                    $('#rd_bankaccount1').iCheck('check');
                    break;
                case false:
                    $('#rd_bankaccount0').iCheck('check');
                    $('#txtarea_bankaccount_remark').val(data.BankAccountAllowRemark);
                    $('#txtarea_bankaccount_remark').show();
                    break;
                default:
            }
            switch (data.IsBranchInform) {
                case true:
                    $('#chk_branchInform').iCheck('check');
                    break;
                default:
            }
            switch (data.IsCallCenterInform) {
                case true:
                    $('#chk_callCenterInform').iCheck('check');
                    break;
                default:
            }
            //switch (data.IsConfirm) {
            //    case true:
            //        $('#chk_isConfirm').iCheck('check');
            //        break;
            //    default:
            //}
            switch (data.IsContactByFaceToFace) {
                case true:
                    $('#rd_isContactByFaceToFace').iCheck('check');
                    break;
                default:
            }
            switch (data.IsContactByPhone) {
                case true:
                    $('#rd_isContactByPhone').iCheck('check');
                    break;
                default:
            }

            switch (data.IsResultPass) {
                case true:
                    $('#rd_Pass').iCheck('check');
                    break;
                case false:
                    $('#rd_NotPass').iCheck('check');
                    break;
                default:
            }

            $('#txtarea_remark').text(data.Remark);

            switch (data.DenyHealth) {
                case true:
                    $('#chk_denyHealth').iCheck('check');
                    break;
                default:
            }

            switch (data.DenyOccupation) {
                case true:
                    $('#chk_denyOccupation').iCheck('check');
                    break;
                default:
            }

            switch (data.DenyCantPay) {
                case true:
                    $('#chk_denyCantPay').iCheck('check');
                    break;
                default:
            }

            switch (data.DenyOther) {
                case true:
                    $('#chk_denyOther').iCheck('check');
                    $('#denyRemark').attr('disabled', true);
                    break;
                default:
            }

            $('#denyRemark').val(data.DenyRemark);
        }

        /*fn submit data*/
        const submitData = (queueId, branchremark, isremark, isdenyRemark, callstatusId) => {
            /*call ajax post*/
            $.post('@Url.Action("QueueResult_Update")',
                {
                    pHQueueId: queueId,
                    pHQueueStatusId: phQueueStatusIdValue,
                    callStatusId: callstatusId,
                    queueTypeId: typeSelectValue,
                    isUnderwriteBranchResult: isUnderwriteBranchResult,
                    isBankAccountAllow: isBankAllow,
                    bankAccountAllowRemark: branchremark,
                    isBranchInform: isBranch,
                    isCallCenterInform: isCall,
                    isConfirm: null,
                    isContactByPhone: isContact,
                    isContactByFaceToFace: isContactFace,
                    isResultStatusId: isUnderwriteResult,
                    remark: isremark,
                    denyHealth: isDenyHealth,
                    denyOccupation: isDenyOccupation,
                    denyCantPay: isDenyCantPay,
                    denyOther: isDenyOther,
                    denyRemark: isdenyRemark,
                    callToCustomer: isCallToCustomer,
                    callToPayer: isCallToPayer,
                    isFoundCustomer: isFoundCustomer,
                },
                () => {
                    /*alert success*/
                    swal_success(() => {
                        window.close();
                    });
                });
        }

        /*fn disabled div answer*/
        const answer_disabled = () => {
            $('.div-answer :input').attr('disabled', true);
            $('#btn_success').hide();
        }

        /*fn disabled div answer child*/
        const answer_child_hidden = (bool) => {
            switch (bool) {
                case true:
                    $('.div-answer-child').hide();
                    break;
                default:
                    $('.div-answer-child').show();
                    break;
            }
        }

        /*fn valid*/
        const check_valid = () => {
            //************new***************//
            const rd_callstatus = $('input[name=rd_callstatus],input[name=chk_isfoundcustomer]').is(':checked'); //เช็คสถานะการโทร
            const rd_bankaccount = $('input[name=rd_bankaccount]').is(':checked'); //เช็คการชำระเบี้ย
            const rd_typeselect = $('input[name=rd_typeselect]').is(':checked'); //เช็คช่องทางการคัดกรอง
            const rd_isResult = $('input[name=rd_isResult]').is(':checked'); //เช็คผลการคัดกรอง
            const rd_underwritestatus = $('input[name=rd_underwritestatus]').is(':checked'); //เช็คสถานะคัดกรอง
            const chk_deny = $('input[name=chk_deny]').is(':checked'); // เช็คสาเหตุ
            const chk_callTo = $('input[name=chk_callTo]').is(':checked'); // เช็คคัดกรองกับผู้เอาประกันหรือผู้ชำระเบี้ย
            const rd_underwritestatus_val = $('input[name=rd_underwritestatus]:checked').val(); //value สถานะคัดกรอง
            const rd_bankaccount_val = $('input[name=rd_bankaccount]:checked').val(); //value การชำระเบี้ย
            const rd_isResult_val = $('input[name=rd_isResult]:checked').val(); //value ผลการคัดกรอง
            const txtarea_bank = $('#txtarea_bankaccount_remark').val(); // value ระบุรายละเอียด
            if (rd_underwritestatus) {
                switch (rd_underwritestatus_val) {
                    case '1': //คัดกรองแล้ว
                        if (rd_typeselect && chk_callTo && rd_bankaccount && rd_isResult) {
                            if (rd_bankaccount_val === 'yes' && rd_isResult_val === 'pass') {
                                return true;
                            } else if (rd_bankaccount_val === 'yes' && rd_isResult_val === 'notpass' && chk_deny) {
                                return true;
                            } else if (rd_bankaccount_val === 'no' && rd_isResult_val === 'pass' && txtarea_bank != "") {
                                return true;
                            } else if (rd_bankaccount_val === 'no' &&
                                rd_isResult_val === 'notpass' &&
                                txtarea_bank != "" &&
                                chk_deny) {
                                return true;
                            }
                        }
                        break;
                    case '0': //ยังไม่คัดกรอง
                        if (rd_callstatus) {
                            return true;
                        }
                    default:
                        break;
                }
            }
            return false;
        }

        /*fn show document*/
        const SeeDoc = (path) => {
            $('#DocDetail_form').children().show();
            const extension = path.substr(path.length - 4);
            switch (extension) {
                case '.pdf':
                    $('.SeeDoc').attr('src', path);
                    break;
                case '.jpg':
                    $('.SeeDoc').attr('src', path);
                    break;
                default:
            }
        }

        /*fn get payer other*/
        const getPayerOther = (appCode) => {
            $.get('@Url.Action("Get_PayerOtherApp")',
                { appCode: appCode },
                (data) => {
                    if (data.length > 0) {
                        /*declare str*/
                        const str = `ชำระเบี้ยให้อีก ${data.length} คน`;
                        /*show button*/
                        $('#btn_payer_other').show();
                        /*set str to text button*/
                        $('#btn_payer_other').text(str);
                        /*load datatables*/
                        loadDatatables('table_payer_other', data);
                    }
                    /*set height*/
                    setHeight();
                });
        }

        /*fn load datatables*/
        const loadDatatables = (t, data) => {
            $(`#${t}`).empty();
            $(`#${t}`).DataTable({
                pageLength: 100,
                processing: true,
                serverSide: false,
                responsive: true,
                destroy: true,
                lengthChange: false,
                searching: false,
                info: true,
                paging: true,
                data: data,
                language: {
                    url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Thai.json"
                },
                columns: [
                    {
                        title: 'AppId',
                        data: 'app_Id',
                        orderable: false
                    },
                    {
                        title: 'ชื่อ-สกุล',
                        data: null,
                        orderable: false,
                        render: (d) => {
                            return `${d.customerFirstName} ${d.customerLastName}`;
                        }

                    },
                    {
                        title: 'วันเริ่มคุ้มครอง',
                        data: 'startCoverDate',
                        orderable: false,
                        render: (d) => {
                            return moment(d).format("DD/MM/YYYY");
                        }
                    },
                    {
                        title: 'สถานะ',
                        data: 'status',
                        orderable: false
                    }
                ]
            });
        }

        /*fn set height*/
        const setHeight = () => {
            /*get height from div id box_payer*/
            const h = $('#box_payer').height();
            /*set height from div id box_payer to div id box_customer*/
            $('#box_customer').height(h);
        }

        /*fn split number*/
        const splitPhoneNumber = (number, type) => {
            var str = number;
            var separators = /[.:;?!~,\+`"&|()<>{}\[\]\r\n/\\]+/;
            var res = str.split(separators);
            for (let i = 0; i < res.length; i++) {
                const s = res[i].replace(/-/g, "");
                switch (type) {
                    case 'customer':
                        if (i === 0 && s != "" && s != " ") {
                            $('#box_customer_tel')
                                .append(
                                    `<label class="control-label col-sm-6" style="font-size: 16px;">เบอร์โทร1 : </label><a class="btn btn-success" id="a_tel_${
                                i}" href="tel: ${s}">${s}</a>`);
                        } else if (i === 1 && s != "" && s != " ") {
                            $('#box_customer')
                                .append(
                                    `<label class="control-label col-sm-6" style="font-size: 16px;">เบอร์โทร2 : </label><a class="btn btn-success" id="a_tel_${
                                i}" href="tel: ${s}">${s}</a>`);
                        } else {
                            $('#box_customer_tel')
                                .append(
                                    `<label class="control-label col-sm-6" style="font-size: 16px;">เบอร์โทร${i + 1
                            } : </label><label class="control-label col-sm-6 font-detail-normal-16">-</label>`);
                        }
                        break;
                    case 'payer':
                        if (i === 0 && s != "" && s != " ") {
                            $('#box_payer_tel')
                                .append(
                                    `<label class="control-label col-sm-6" style="font-size: 16px;">เบอร์โทร1 : </label><a class="btn btn-success" id="a_tel_${
                                i}" href="tel: ${s}">${s}</a>`);
                        } else if (i === 1 && s != "" && s != " ") {
                            $('#box_payer_tel_2')
                                .append(
                                    `<label class="control-label col-sm-6" style="font-size: 16px;">เบอร์โทร2 : </label><a class="btn btn-success" id="a_tel_${
                                i}" href="tel: ${s}">${s}</a>`);
                        } else {
                            $('#box_payer_tel')
                                .append(
                                    `<label class="control-label col-sm-6" style="font-size: 16px;">เบอร์โทร${i + 1
                            } : </label><label class="control-label col-sm-6 font-detail-normal-16">-</label>`);
                        }
                        break;
                    case 'payeroffice':
                        if (i === 0 && s != "" && s != " ") {
                            $('#box_payer_officetel')
                                .append(
                                    `<label class="control-label col-sm-6" style="font-size: 16px;">เบอร์โทรที่ทำงาน1 : </label><a class="btn btn-success" id="a_tel_${
                                i}" href="tel: ${s}">${s}</a>`);
                        } else if (i === 1 && s != "" && s != " ") {
                            $('#box_payer_officetel_2')
                                .append(
                                    `<label class="control-label col-sm-6" style="font-size: 16px;">เบอร์โทรที่ทำงาน2 : </label><a class="btn btn-success" id="a_tel_${
                                i}" href="tel: ${s}">${s}</a>`);
                        } else {
                            $('#box_payer_officetel')
                                .append(
                                    `<label class="control-label col-sm-6" style="font-size: 16px;">เบอร์โทรที่ทำงาน${i + 1
                            } : </label><label class="control-label col-sm-6 font-detail-normal-16">-</label>`);
                        }
                        break;
                    default:
                }
            }
        }

        /*fn show red star*/
        const showStar = (isShow) => {
            switch (isShow) {
                case true:
                    $('.red-star').prepend(`<strong>*</strong>`);
                    break;
                case false:
                    $('strong').remove();
                    break;
                default:
            }

        }

        /*fn clear check*/
        const clear_check = () => {
            $('strong').remove();
            $('input[type=radio]').iCheck('uncheck');
            $('input[type=checkbox]').iCheck('uncheck');
            $('#txtarea_bankaccount_remark').text('');
        }
    </script>
}