@{
    /**/

    /**/

    ViewBag.Title = "พิจารณาผลการคัดกรอง";
    Layout = "~/Views/Shared/_LayoutForTop.cshtml";
}
<section class="content">
    <div class="row">
        <div class="col-md-12" style="padding-top: 10px">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">บันทึกผลการทำงาน</a></li>
                    <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">เอกสาร</a></li>
                </ul>
                <div class="tab-content pd-xs-0">
                    <div class="tab-pane active" id="tab_1">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6 pd-xs-0">
                                    @* Customer Detail *@
                                    <div class="form-horizontal">
                                        <div class="box box-info">
                                            <div class="box-header" style="background-color: #b3eeff">
                                                <h4 class="box-title">ข้อมูลผู้เอาประกัน </h4>
                                                <div class="box-tools pull-right">
                                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                                </div>
                                            </div>
                                            <div id="box_customer" class="box-body" style="height: auto;width: auto">
                                                <div class="form-group-lg-flat">
                                                    <label class="control-label col-xs-6 col-sm-6">App ID : </label>
                                                    <label id="lbl_appId" class="control-label col-xs-6  col-sm-6">@(ViewBag.QueueDetail.ApplicationCode != null && ViewBag.QueueDetail.ApplicationCode != "" ? ViewBag.QueueDetail.ApplicationCode : "-")</label>
                                                </div>
                                                <div class="form-group-lg-flat">
                                                    <label class="control-label col-xs-6  col-sm-6">สถานะ : </label>
                                                    <label id="lbl_status" class="control-label col-xs-6  col-sm-6">@(ViewBag.QueueDetail.ApplicationStatus != null && ViewBag.QueueDetail.ApplicationStatus != "" ? ViewBag.QueueDetail.ApplicationStatus : "-")</label>
                                                </div>
                                                <div class="form-group-lg-flat">
                                                    <label class="control-label col-xs-6  col-sm-6">แผนประกัน : </label>
                                                    <label id="lbl_product" class="control-label col-xs-6  col-sm-6">@(ViewBag.QueueDetail.ProductDetail != null && ViewBag.QueueDetail.ProductDetail != "" ? ViewBag.QueueDetail.ProductDetail : "-")</label>
                                                </div>
                                                <div class="form-group-lg-flat">
                                                    <label class="control-label col-xs-6  col-sm-6">เบี้ย : </label>
                                                    <label id="lbl_premium" class="control-label col-xs-6  col-sm-6">@(ViewBag.QueueDetail.Premium != null ? ViewBag.QueueDetail.Premium : "-")</label>
                                                </div>
                                                <div class="form-group-lg-flat">
                                                    <label class="control-label col-xs-6  col-sm-6">วันเริ่มคุ้มครอง</label>
                                                    <label id="lbl_startcover" class="control-label col-xs-6  col-sm-6">@(ViewBag.QueueDetail.StartCoverDate != null ? ViewBag.QueueDetail.StartCoverDate.ToString("dd/MM/yyyy") : "-")</label>
                                                </div>
                                                <div class="form-group-lg-flat">
                                                    <label class="control-label col-xs-6  col-sm-6">ชื่อลูกค้า : </label>
                                                    <label id="lbl_customername" class="control-label col-xs-6 col-sm-6">@(ViewBag.QueueDetail.CustomerFullName != null && ViewBag.QueueDetail.CustomerFullName != "" ? ViewBag.QueueDetail.CustomerFullName : "-")</label>
                                                </div>
                                                <div class="form-group-lg-flat">
                                                    <label class="control-label col-xs-6  col-sm-6">วันเกิด : </label>
                                                    <label id="lbl_birthdate" class="control-label col-xs-6  col-sm-6">@(ViewBag.QueueDetail.CustomerBirthDate != null ? ViewBag.QueueDetail.CustomerBirthDate.ToString("dd/MM/yyyy") : "-")</label>
                                                </div>
                                                <!--เบอร์โทรผู้เอาประกัน-->
                                                @if (ViewBag.ListCustomerMobileNo.Count > 0)
                                                {
                                                    for (int i = 0; i < ViewBag.ListCustomerMobileNo.Count; i++)
                                                    {
                                                        if (ViewBag.ListCustomerMobileNo[i] != "")
                                                        {
                                                            <div id="box_customer_tel" class="form-group-lg-flat">
                                                                <label class="control-label col-xs-6  col-sm-6">เบอร์โทร @(i + 1) : </label>
                                                                <label class="control-label col-xs-6  col-sm-6">@ViewBag.ListCustomerMobileNo[i]</label>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div id="box_customer_tel" class="form-group-lg-flat">
                                                                p
                                                                <label class="control-label col-xs-6  col-sm-6">เบอร์โทร @(i + 1) : </label>
                                                                <label class="control-label col-xs-6  col-sm-6">-</label>
                                                            </div>
                                                        }

                                                    }
                                                }
                                                else
                                                {
                                                    <div id="box_customer_tel" class="form-group-lg-flat">
                                                        <label class="control-label col-xs-6  col-sm-6">เบอร์โทร : </label>
                                                        <label class="control-label col-xs-6  col-sm-6">-</label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 pd-xs-0">
                                    @* Payer Detail *@
                                    <div class="form-horizontal">
                                        <div class="box box-info">
                                            <div class="box-header" style="background-color: #b3eeff">
                                                <h4 class="box-title">ข้อมูลผู้ชำระเบี้ย</h4>
                                                <div class="box-tools pull-right">
                                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                                </div>
                                            </div>
                                            <div id="box_payer" class="box-body" style="height: auto;width: auto">
                                                <div class="form-group-lg-flat">
                                                    <label class="control-label col-xs-6 col-sm-6">ความสัมพันธ์ : </label>
                                                    <label id="lbl_payerrelate" class="control-label col-xs-6 col-sm-6">@ViewBag.QueueDetail.PayerRelate</label>
                                                </div>
                                                <div class="form-group-lg-flat">
                                                    <label class="control-label col-xs-6 col-sm-6">ชื่อผู้ชำระเบี้ย : </label>
                                                    <label id="lbl_payername" class="control-label col-xs-6 col-sm-6">@ViewBag.QueueDetail.PayerFullName</label>
                                                </div>
                                                <div class="form-group-lg-flat">
                                                    <label class="control-label col-xs-6 col-sm-6">อาชีพ : </label>
                                                    <label id="lbl_occupation" class="control-label col-xs-6 col-sm-6">@ViewBag.QueueDetail.OccupationDetail</label>
                                                </div>
                                                <!--เบอร์โทรผู้ชำระเบี้ย-->
                                                @if (ViewBag.ListPayerTelephoneNo.Count > 0)
                                                {
                                                    for (int i = 0; i < ViewBag.ListPayerTelephoneNo.Count; i++)
                                                    {
                                                        if (ViewBag.ListPayerTelephoneNo[i] != "")
                                                        {
                                                            <div id="box_payer_tel" class="form-group-lg-flat">
                                                                <label class="control-label col-xs-6  col-sm-6">เบอร์โทร @(i + 1) : </label>
                                                                <label class="control-label col-xs-6  col-sm-6">@ViewBag.ListPayerTelephoneNo[i]</label>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div id="box_payer_tel" class="form-group-lg-flat">
                                                                <label class="control-label col-xs-6  col-sm-6">เบอร์โทร @(i + 1) : </label>
                                                                <label class="control-label col-xs-6  col-sm-6">-</label>
                                                            </div>
                                                        }

                                                    }
                                                }
                                                <!--เบอร์โทรที่ทำงาน-->
                                                @if (ViewBag.ListPayerOfficeTelephoneNo.Count > 0)
                                                {
                                                    for (int i = 0; i < ViewBag.ListPayerOfficeTelephoneNo.Count; i++)
                                                    {
                                                        if (ViewBag.ListPayerOfficeTelephoneNo[i] != "")
                                                        {
                                                            <div id="box_payer_officetel" class="form-group-lg-flat">
                                                                <label class="control-label col-xs-6  col-sm-6">เบอร์ที่ทำงาน @(i + 1) : </label>
                                                                <label class="control-label col-xs-6  col-sm-6">@ViewBag.ListPayerOfficeTelephoneNo[i]</label>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div id="box_payer_officetel" class="form-group-lg-flat">
                                                                <label class="control-label col-xs-6  col-sm-6">เบอร์ที่ทำงาน @(i + 1)  : </label>
                                                                <label class="control-label col-xs-6  col-sm-6">-</label>
                                                            </div>
                                                        }
                                                    }
                                                }
                                                <div class="form-group-lg-flat">
                                                    <label class="control-label col-xs-6 col-sm-6">ชื่อหน่วยงาน : </label>
                                                    <label id="lbl_office" class="control-label col-xs-6 col-sm-6">@ViewBag.QueueDetail.PayerOfficeName</label>
                                                </div>
                                                <div class="form-group-lg-flat">
                                                    <label class="control-label col-xs-6 col-sm-6">การชำระ : </label>
                                                    <label id="lbl_payment" class="control-label col-xd-6 col-sm-6">@ViewBag.QueueDetail.PayMethodTypeDetail</label>
                                                </div>
                                                <div class="form-group-lg-flat">
                                                    <label class="control-label col-xs-6 col-sm-6">ธนาคาร : </label>
                                                    <label id="lbl_bank" class="control-label col-xs-6 col-sm-6">@ViewBag.QueueDetail.BankDetail</label>
                                                </div>
                                                <div class="form-group-lg-flat">
                                                    <label class="control-label col-xs-6 col-sm-6">เลขที่บัญชี : </label>
                                                    <label id="lbl_payeraccountno" class="control-label col-xs-6 col-sm-6">@(ViewBag.QueueDetail.PayerBankAccountNo != null && ViewBag.QueueDetail.PayerBankAccountNo != "" ? ViewBag.QueueDetail.PayerBankAccountNo : "-")</label>
                                                </div>
                                                <div class="form-group-lg-flat">
                                                    <label class="control-label col-xs-6 col-sm-6">ประเภท : </label>
                                                    <label id="lbl_period" class="control-label col-xs-6 col-sm-6">@(ViewBag.QueueDetail.PeriodTypeDetail != null && ViewBag.QueueDetail.PeriodTypeDetail != "" ? ViewBag.QueueDetail.PeriodTypeDetail : "-")</label>
                                                </div>
                                                <div class="form-group-lg-flat">
                                                    <div class="col-md-12" style="text-align: center; margin-top: 20px !important">
                                                        <button id="btn_payer_other" type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-warning" style="display: none">
                                                            ชำระเบี้ยให้อีก n คน
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* on right *@

                                <!--section consult-->
                                <div id="divConsult">
                                    <div class="col-sm-12 pd-xs-0">
                                        <div class="box box-info">
                                            <div class="box-header" style="background-color: #b3eeff">
                                                <h4 class="box-title">คำปรึกษา </h4>
                                            </div>
                                            <div class="box-body">
                                                <table id="table_consult" class="table table-bordered table-striped display responsive" style="width: 100%"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end consult-->
                                <form id="formCallIndexCM" action="@Url.Action("QueueResult_UpdateV2")" method="post" enctype="multipart/form-data">
                                    <div class="col-sm-12 pd-xs-0">
                                        <div class="box box-info">
                                            <div class="box-header" style="background-color: #b3eeff">
                                                <h4 class="box-title">ผลการคัดกรอง </h4>
                                            </div>
                                            <div id="box-ask-1" class="box-body" style="height: auto;width: auto;">
                                                <label>สถานะการคัดกรอง</label>
                                                <ul class="answerList">
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="underwriteStatus" value="1" id="underwriteStatus_1"> คัดกรองแล้ว
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="underwriteStatus" value="0" id="underwriteStatus_0"> ยังไม่คัดกรอง
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="box-ask-2" class="box-body ask-y" style="height: auto;width: auto;display:none">
                                                <label>ช่องทางการคัดกรอง</label>
                                                <ul class="answerList">
                                                    @if (ViewBag.QueueType != null)
                                                    {
                                                        foreach (var i in ViewBag.QueueType)
                                                        {
                                                            <li>
                                                                <label>
                                                                    <input type="radio" name="typeSelect" value="@i.QueueTypeId" id="typeSelect_@(i.QueueTypeId)"> @i.QueueTypeDetail
                                                                </label>
                                                                <div class="box-typeselect-@(i.QueueTypeId)" style="padding-left:30px;display:none">
                                                                    <label>
                                                                        <input type="checkbox" name="typeSelectChild" id="typeSelect-chlid-customer-@(i.QueueTypeId)" value="customer"> ผู้เอาประกัน
                                                                    </label>
                                                                    <label>
                                                                        <input type="checkbox" name="typeSelectChild" id="typeSelect-chlid-payer-@(i.QueueTypeId)" value="payer"> ผู้ชำระเบี้ย
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                            <div id="box-ask-3" class="box-body ask-y" style="height: auto;width: auto;display:none">
                                                <label>การชำระเบี้ย</label>
                                                <ul class="answerList">
                                                    @if (ViewBag.PaymentType != null)
                                                    {
                                                        foreach (var i in ViewBag.PaymentType)
                                                        {
                                                            if (i.UWPaymentTypeId != 1)
                                                            {
                                                                <li>
                                                                    <label>
                                                                        <input type="radio" name="uwPaymentType" value="@i.UWPaymentTypeId" id="uwPaymentType_@(i.UWPaymentTypeId)"> @i.UWPaymentTypeDetail
                                                                    </label>
                                                                </li>
                                                            }

                                                        }
                                                    }
                                                </ul>
                                            </div>
                                            <div id="box-ask-4" class="box-body ask-y" style="height: auto;width: auto;display:none">
                                                <label>การคัดกรองด้านสุขภาพ</label>
                                                <ul class="answerList">
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="health" value="1" id="health_pass"> ผ่านคัดกรอง
                                                        </label>
                                                        <div class="box-health-pass" style="padding-left:30px;display:none">
                                                            <label>
                                                                <input type="radio" name="healthChildPass" value="1" id="health-child-pass-std"> ตามมาตรฐานทุกประการ
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="healthChildPass" value="0" id="health-child-pass-condition"> มีประวัติสุขภาพที่ติดข้อยกเว้น
                                                            </label>
                                                        </div>
                                                        <div class="sub-box-health-pass" style="padding-left:60px;display:none">
                                                            <label>
                                                                <input type="radio" name="IsSpecify" value="1" id="IsSpecify_1"> ระบุในใบสมัคร
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="IsSpecify" value="0" id="IsSpecify_0"> ไม่ระบุในใบสมัคร
                                                            </label>
                                                            <label>
                                                                <span style="color:red">*</span>ระบุข้อมูลข้อยกเว้น..
                                                                <textarea name="healthChildPassOtherRemark" id="healthChildPassOtherRemark" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px"></textarea>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="radio" name="health" value="0" id="health_notpass"> ไม่ผ่านคัดกรอง
                                                        </label>
                                                        <div class="box-health-notpass" style="padding-left:30px;display:none">
                                                            <label>
                                                                <input type="checkbox" name="healthChildNotPass" value="denyHealth" id="health-child-notpass-health"> ด้านสุขภาพ
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" name="healthChildNotPass" value="denyOccupation" id="health-child-notpass-occupation"> ด้านอาชีพ
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" name="healthChildNotPass" value="denyCantPay" id="health-child-notpass-cantpay"> ไม่สามารถชำระเบี้ยตามเงื่อนไขได้
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" name="healthChildNotPass" value="denyOther" id="health-child-notpass-other"> อื่นๆ
                                                                <textarea name="healthChildNotPassOtherRemark" id="healthChildNotPassOtherRemark" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px"></textarea>
                                                            </label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="box-ask-5" class="box-body ask-y" style="height: auto;width: auto;display:none">
                                                <label>หมายเหตุ/บันทึกเพิ่มเติม</label>
                                                <ul class="answerList">
                                                    <li>
                                                        <textarea name="remark" id="remark" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px"></textarea>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="box-ask-6" class="box-body ask-n" style="height: auto;width: auto;display:none">
                                                <label>สถานะการโทร</label>
                                                <ul class="answerList">
                                                    <li>
                                                        @if (ViewBag.CallStatusList != null)
                                                        {
                                                            foreach (var i in ViewBag.CallStatusList)
                                                            {
                                                                if (i.CallStatusId != 2)
                                                                {
                                                                    <label>
                                                                        <input type="radio" name="callStatus" value="@i.CallStatusId" id="callStatus_@(i.CallStatusId)"> @i.CallStatus
                                                                    </label>
                                                                }
                                                            }
                                                        }
                                                    </li>
                                                </ul>
                                            </div>

                                            <div id="box-ask-7" class="box-body ask-n" style="height: auto;width: auto;display:none">
                                                <label>สถานะการเข้าพบ</label>
                                                <ul class="answerList">
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="foundCustomer" value="0" id="foundCustomer_0"> ไม่พบลูกค้า
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div style="text-align:center;padding-bottom: 10px;">
                                                <input type="button" id="btnConsult" class="form-control btn btn-info" data-toggle="modal" data-target="#modal-consult" style="width:150px;margin:5px" value="ขอคำปรึกษา" />
                                                <button id="btSubmit" class="form-control btn btn-success" style="width:150px">บันทึกข้อมูล</button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="queueId" id="queueId" value="@ViewBag.QueueId" />
                                    <input type="hidden" name="userId" id="userId" value="@ViewBag.UserId" />
                                </form>

                                <div id="sectionCMResult" style="display:block">
                                    <div class="col-sm-12 pd-xs-0">
                                        <div class="box box-info">
                                            <div class="box-header" style="background-color: #b3eeff">
                                                <h4 class="box-title">ผลการพิจารณาอนุมัติของประธานสาขา </h4>
                                            </div>
                                            <div id="box-cmapprove-result" class="box-body" style="height: auto;width: auto;">
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <strong>ผลการพิจารณา :</strong>
                                                        </span>
                                                        <span name="lblCMStatusApprove" id="lblCMStatusApprove"></span>
                                                    </li>
                                                    <li id="li-detail"></li>
                                                    <li style="border-bottom: solid 1px;padding-bottom: 10px; margin-bottom: 10px;">
                                                        <span>
                                                            <strong>หมายเหตุ :</strong>
                                                        </span>
                                                        <span name="lblCMRemark" id="lblCMRemark"></span>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <strong>ผู้พิจารณา :</strong>
                                                        </span>
                                                        <span name="lblCMName" id="lblCMName">@(ViewBag.QueueResult != null ? ViewBag.QueueResult.CMApproveFullName : "-")</span>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <strong>วันที่พิจารณา :</strong>
                                                        </span>
                                                        <span name="lblCMName" id="lblCMName">@(ViewBag.QueueResult != null ? ViewBag.QueueResult.CMIApproveDate : "-")</span>
                                                    </li>
                                                    @if (@ViewBag.IsCM)
                                                    {
                                                        <li>
                                                            <button style="float: right;width: 200px;" id="btnEdit" class="form-control btn btn-warning btn-xs-center" data-toggle="collapse" data-target="#sectionCM">แก้ไขผลการพิจารณา</button>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--section CM-->
                                <div id="sectionCM" class="collapse">
                                    <div class="col-sm-12 pd-xs-0">
                                        <div class="box box-info">
                                            <div class="box-header" id="sectionCM-header" style="background-color: #b3eeff">
                                                <h4 class="box-title" id="sectionCM-title">ผลการพิจารณาประธานสาขา </h4>
                                            </div>
                                            <div style="text-align:center;padding: 10px">
                                                <button name="btnCM" id="btnApprove" class="form-control btn btn-success" value="1" style="width: 230px;margin:5px;">อนุมัติให้ผ่านคัดกรอง</button>
                                                <button name="btnCM" id="btnApproveCondition" class="form-control btn btn-warning" value="2" style="width: 230px;margin:5px;" data-toggle="modal" data-target="#modal-approved-condition">อนุมัติให้ผ่านคัดกรองแบบติดเงื่อนไข</button>
                                                <button name="btnCM" id="btnUnApprove" class="form-control btn btn-danger" value="0" style="width: 230px;margin:5px;" data-toggle="modal" data-target="#modal-unapproved">อนุมัติไม่ให้ผ่านคัดกรอง</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    @* document *@
                    <div class="tab-pane" id="tab_2">
                        <div id="Document_form" class="form-horizontal">
                            @if (ViewBag.FirstDoc == null)
                            {
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="form1_msg" class="alert alert-warning alert-dismissible">
                                            <h4><i class="icon fa fa-ban"></i> แจ้งเตือน!</h4>
                                            ไม่พบเอกสาร
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <br />
                                <div class="form-group">
                                    @if (ViewBag.DocLink != null)
                                    {
                                        foreach (var itm in ViewBag.DocLink)
                                        {
                                            <div class="col-sm-6 col-xs-12">
                                                <button type="button" class="btn btn-block btn-info" id="btn_@itm.DocumentFileId" onclick="SeeDoc('@itm.PathFullDoc')"><i class="fa fa-fw fa-search"></i>@itm.DocumentTypeName:@itm.DocumentId</button>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="row" id="DocDetail_form">
                                    <div class="col-sm-12" style="height: 950px">
                                        <iframe class="SeeDoc" style="width: 100%; height: 100%;" src="@ViewBag.FirstDoc"></iframe>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
</section>
<!--.modal -->
<div class="modal fade" id="modal-warning">
    <!--.modal-dialog -->
    <div class="modal-dialog">
        <!--.modal-content -->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ffd243;border-color: #ffeeba;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">รายละเอียด</h4>
            </div>
            <div class="modal-body">
                <table id="table_payer_other" class="table table-bordered table-striped display responsive" style="width: 100%"></table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--/.modal -->
<!--.modal -->
<div class="modal fade" id="modal-consult">
    <!--.modal-dialog -->
    <div class="modal-dialog">
        <!--.modal-content -->
        <div class="modal-content">
            <div class="modal-header" style="background-color:  #12c0e7;border-color: #ffffff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">คำปรึกษา</h4>
            </div>
            <div class="modal-body">
                <form id="formModalConsult">
                    <div class="form-group">
                        <label class="control-label">ข้อความ</label>
                        <textarea class="form-control" id="textareaConsult" required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">เบอร์โทรผู้ขอคำปรึกษา</label>
                        <input class="form-control" type="text" id="ConsultRequestPhoneNumber" />
                    </div>
                    <div style="text-align:right">
                        <button id="btnSubmitConsult" class="form-control btn btn-success" style="width:150px">ส่งขอคำปรึกษา</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--/.modal -->
<!--.modal cm -->
<form id="formModal">
    <div class="modal fade" id="modal-approved-condition">
        <!--.modal-dialog -->
        <div class="modal-dialog">
            <!--.modal-content -->
            <div class="modal-content">
                <div class="modal-header" style="background-color:  #12c0e7;border-color: #ffc318;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">รายละเอียดการพิจารณาอนุมัติของประธานสาขา</h4>
                </div>
                <div class="modal-body">
                    <div id="box-approved-contidion" class="box-body" style="height: auto;width: auto;">
                        <ul class="answerList" style="padding-left: 0px !important;">
                            <li>
                                <label>
                                    <input type="radio" name="healthChildPassCM" value="0" id="health-child-pass-conditionCM"> มีประวัติสุขภาพที่ติดข้อยกเว้น
                                </label>
                                <div style="padding-left:30px;">
                                    <label>
                                        <input type="radio" name="IsSpecify_CM" value="1" id="IsSpecify_CM1"> ระบุในใบสมัคร
                                    </label>
                                    <label>
                                        <input type="radio" name="IsSpecify_CM" value="0" id="IsSpecify_CM0"> ไม่ระบุในใบสมัคร
                                    </label>
                                    <label>
                                        <span style="color:red">*</span>ระบุข้อมูลข้อยกเว้น..
                                        <textarea name="healthChildPassOtherRemarkCM" id="healthChildPassOtherRemarkCM" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px"></textarea>
                                    </label>
                                </div>
                                <div style="text-align:center;">
                                    <input type="button" style="width:100px;margin:10px" class="btn btn-lg btn-default" data-dismiss="modal" name="button-cancel-condition" value="ยกเลิก" />
                                    <input type="button" style="width:100px;margin:10px" class="btn btn-lg btn-success" name="button-save-condition" id="button-save-condition" value="บันทึก" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</form>
<!--/.modal -->
<form id="formModalUnapproved">
    <!--.modal cm -->
    <div class="modal fade" id="modal-unapproved">
        <!--.modal-dialog -->
        <div class="modal-dialog">
            <!--.modal-content -->
            <div class="modal-content">
                <div class="modal-header" style="background-color:  #12c0e7;border-color: #f67083;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">รายละเอียดการพิจารณาอนุมัติของประธานสาขา</h4>
                </div>
                <div class="modal-body">
                    <div id="box-unapproved" class="box-body" style="height: auto;width: auto;">
                        <ul class="answerList" style="padding-left: 0px !important;">
                            <li>
                                <label>
                                    <input type="radio" name="healthCM" value="0" id="health_notpassCM"> ไม่ผ่านคัดกรอง
                                </label>
                                <div style="padding-left:30px;">
                                    <label>
                                        <input type="checkbox" name="healthChildNotPassCM" value="denyHealth" id="health-child-notpass-healthCM"> ด้านสุขภาพ
                                    </label>
                                    <label>
                                        <input type="checkbox" name="healthChildNotPassCM" value="denyOccupation" id="health-child-notpass-occupationCM"> ด้านอาชีพ
                                    </label>
                                    <label>
                                        <input type="checkbox" name="healthChildNotPassCM" value="denyCantPay" id="health-child-notpass-cantpayCM"> ไม่สามารถชำระเบี้ยตามเงื่อนไขได้
                                    </label>
                                    <label>
                                        <input type="checkbox" name="healthChildNotPassCM" value="denyOther" id="health-child-notpass-otherCM"> อื่นๆ
                                        <textarea name="healthChildNotPassOtherRemarkCM" id="healthChildNotPassOtherRemarkCM" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px"></textarea>
                                    </label>
                                </div>
                                <div style="text-align:center;">
                                    <input type="button" style="width:100px;margin:10px" class="btn btn-lg btn-default" data-dismiss="modal" name="button-cancel" value="ยกเลิก" />
                                    <input type="button" style="width:100px;margin:10px" class="btn btn-lg btn-success" name="button-save-unapproved" id="button-save-unapproved" value="บันทึก" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--/.modal -->
</form>
@section ViewSpecificJavascript
{
    <script>
        var chat;
        var isCM = @ViewBag.IsCM.ToString().ToLower();
        var isAdvisor = @ViewBag.IsAdvisor.ToString().ToLower();
        var isUnderwrite = @ViewBag.IsUnderwrite.ToString().ToLower();
        var isDirector = @ViewBag.IsDirector.ToString().ToLower();
        var isOther = @ViewBag.IsOther.ToString().ToLower();
        var IsEdit = false;
        var ResultCMIsApprove;
        var ResultCMIsApprovePassCondition;
        var CMIsApprove;
        var CMRemark = null;
        var CMSpecify = null;
        var CMDenyHealth = null;
        var CMDenyOccupation = null;
        var CMDenyCantPay = null;
        var CMDenyOther = null;
        var CMDenyRemark = null;
        var IsPassConditionCM = null;
        var IsApprovePassConditionCM = null;
        var CMResultPassConditionRemark = null;
        $(function () {
            if (isMobileTablet()) {
                $('#DocDetail_form').hide();
            }
                /*start signalR*/
                // Reference the auto-generated proxy for the hub.
                chat = $.connection.chatHub;
                //Start Connection
                $.connection.hub.start().done();
                /*end signalR*/

                get_answer('@ViewBag.QueueId');
                getPayerOther('@ViewBag.QueueDetail.ApplicationCode');
                loadDatatablesConsult();

                //FORM SUBMIT
                $('#formCallIndexCM').submit(function () {
                    if ($(this).valid()) {
                        swal_confirm("ยืนยันบันทึกข้อมูล", "", function (e) {
                            $.ajax({
                                url: $('#formCallIndexCM').attr('action'),
                                type: 'POST',
                                data: $('#formCallIndexCM').serialize(),
                                success: function (response) {
                                    if (response != null) {
                                        swal_success(function () {
                                            window.close();
                                        });
                                    } else {
                                        swal_fail("บันทึกรายการไม่สำเร็จ กรุณาตรวจสอบข้อมูล");
                                    }
                                }
                            });
                        });
                        return false;
                    }
                });

                $('button[name=btnCM]').click(function (e) {
                    var healthResult = $('input[name=health]:checked').val();
                    var healthChildPass = $('input[name=healthChildPass]:checked').val();

                    var IshealthChildPassCM;
                    switch (parseInt($(this).val())) {

                        case 1:
                            CMIsApprove = true; //ผ่าน
                            IshealthChildPassCM = 1; // ตามมาตรฐาน
                            break;
                        case 2:
                            CMIsApprove = true; //ผ่าน
                            IshealthChildPassCM = 0; //ติดเงื่อนไขข้อยกเว้น
                            IsPassConditionCM = true;
                            IsApprovePassConditionCM = true;
                            break;
                        case 0: //ไม่ผ่าน
                            CMIsApprove = false;
                            break;
                        default:

                    }
                    //แก้ไข
                    if (IsEdit) {
                        //เช็คผ่านแบบมาตรฐาน แสดง pop-up พร้อม input เหตุผลที่เปลี่ยนแปลง เพราะผลของประธานใหม่ขัดแย้งกับผลเก่า
                        //**ถ้าเป็นผ่านแบบติดเงื่อนไข แสดง modal pop-up ตามเงื่อนไขปกติ
                        //**ถ้าเป็นไม่ผ่าน แสดง modal pop-up ตามเงื่อนไขปกติ
                        if (parseInt($(this).val()) === 1) {
                            swal({
                                title: "โปรดระบุเหตุผลในการเปลี่ยนแปลง",
                                text: '',
                                type: 'input',
                                showCancelButton: true,
                                confirmButtonColor: '#277020',
                                confirmButtonText: 'ยืนยัน',
                                cancelButtonText: 'ยกเลิก',
                                closeOnConfirm: false,
                                closeOnEsc: false,
                                closeOnCancel: true
                            }, function (inputValue) {
                                if (inputValue === false) return false;

                                if (inputValue === "") {
                                    swal.showInputError("กรุณากรอกข้อมูลส่วนนี้..!");
                                    return false
                                }
                                CMRemark = inputValue;
                                FuncCMApproveUpdate();
                            });
                        }
                    } else {
                        //เช็คผล ผอ กับ ประธาน ตรงกันหรือไม่ (2 คือ val button ผ่านแต่แบบติดเงื่อนไข)
                        if (parseInt($(this).val()) === parseInt(healthResult) || parseInt($(this).val()) === 2) {
                            //เช็คผล ผอ และประธาน ว่าผ่านตามมาตรฐาน หรือ ติดข้อยกเว้น เหมือนกันหรือไม่
                            if (parseInt(healthChildPass) === parseInt(IshealthChildPassCM) && healthChildPass != null && healthChildPass != 'undefined' && IshealthChildPassCM != null && IshealthChildPassCM != 'undefined') {
                                //เช็คผ่านแบบมาตรฐาน
                                if (parseInt($(this).val()) === 1) {
                                    swal_confirm("ยืนยันบันทึกข้อมูล", "", function (e) {
                                        FuncCMApproveUpdate();
                                    });
                                }
                                //เช็คผ่านแบบติดเงื่อนไข
                                else if (parseInt($(this).val()) === 2) {
                                    //Set Default
                                    SetResultPassConditionCM();

                                    //Assign Value PassOtherRemarkCM To Variable
                                    CMResultPassConditionRemark = $('textarea[id=healthChildPassOtherRemarkCM]').val();
                                }
                            }
                            //ไม่ผ่านคัดกรอง
                            else if (parseInt($(this).val()) === 0) {
                                //Set Default
                                SetResultNotPassCM();
                            }
                            else {
                                //เช็คไม่เท่ากับ 2 คือไม่ใช่แบบติดเงื่อนไข  (2 จะแสดง modal )
                                if (parseInt($(this).val()) != 2) {
                                    swal({
                                        title: "โปรดระบุเหตุผลในการเปลี่ยนแปลง",
                                        text: '',
                                        type: 'input',
                                        showCancelButton: true,
                                        confirmButtonColor: '#277020',
                                        confirmButtonText: 'ยืนยัน',
                                        cancelButtonText: 'ยกเลิก',
                                        closeOnConfirm: false,
                                        closeOnEsc: false,
                                        closeOnCancel: true
                                    }, function (inputValue) {
                                        if (inputValue === false) return false;

                                        if (inputValue === "") {
                                            swal.showInputError("กรุณากรอกข้อมูลส่วนนี้..!");
                                            return false
                                        }
                                        CMRemark = inputValue;
                                        FuncCMApproveUpdate();
                                    });
                                }
                            }
                        } else {
                            //ผลของ ผอ และประธาน ขัดแย้งกัน เช็คว่าถ้าประธานผลเท่ากับผ่านตามมาตรฐาน
                            if (parseInt($(this).val()) === 1) {
                                swal({
                                    title: "โปรดระบุเหตุผลในการเปลี่ยนแปลง",
                                    text: '',
                                    type: 'input',
                                    showCancelButton: true,
                                    confirmButtonColor: '#277020',
                                    confirmButtonText: 'ยืนยัน',
                                    cancelButtonText: 'ยกเลิก',
                                    closeOnConfirm: false,
                                    closeOnEsc: false,
                                    closeOnCancel: true
                                }, function (inputValue) {
                                    if (inputValue === false) return false;

                                    if (inputValue === "") {
                                        swal.showInputError("กรุณากรอกข้อมูลส่วนนี้..!");
                                        return false
                                    }
                                    CMRemark = inputValue;
                                    FuncCMApproveUpdate();
                                });
                            }
                        }

                    }
                });

                //Submin ขอคำปรึกษา
                $('#btnSubmitConsult').click(function (e) {
                    e.preventDefault();
                    if ($('#formModalConsult').valid()) {
                        swal_confirm("ยืนยันบันทึกข้อมูล", "", function (e) {
                            $('#modal-consult').hide();
                            let txtConsult = $('#textareaConsult ').val();
                            let phoneConsult = $('#ConsultRequestPhoneNumber').val();
                            ConsultInsert('@ViewBag.QueueId', txtConsult, phoneConsult);
                        });

                    }
                });

                //button แก้ไข
                $('#btnEdit').click(function (e) {
                    e.preventDefault();
                    IsEdit = true;
                   //ผ่าน แบบติดเงื่อนไขข้อยกเว้น
                    if ((ResultCMIsApprove) && (ResultCMIsApprovePassCondition)) {
                        $('#btnApprove').show();
                        $('#btnUnApprove').show();
                        $('#btnApproveCondition').hide();
                    }
                    //ผ่าน ตามมาตรฐาน
                    else if (ResultCMIsApprove) {
                        $('#btnApprove').hide();
                        $('#btnUnApprove').show();
                        $('#btnApproveCondition').show();
                    }
                    //ไม่ผ่าน
                    else if (!ResultCMIsApprove) {
                        $('#btnApprove').show();
                        $('#btnUnApprove').hide();
                        $('#btnApproveCondition').show();
                    }

                    $('#sectionCM-title').text('แก้ไขผลการพิจารณา');
                    $('#sectionCM-header').css('background-color', 'rgb(255, 225, 78)');
                });
                /*event if checked*/
                //สถานะการคัดกรอง
                $('input[name=underwriteStatus]').on('ifChecked',
                    function (e) {
                        if ($(this).valid()) {
                            switch ($(this).val()) {
                                case '1':
                                    $(".ask-y").show();
                                    $(".ask-n").hide();
                                    $('.ask-n').find("input").iCheck('uncheck');
                                    $('.box-typeselect-2').hide();
                                    $('.box-typeselect-3').hide();
                                    $('.box-health-pass').hide();
                                    $('.box-health-notpass').hide();
                                    $('textarea[name=healthChildPassOtherRemark]').val('');
                                    $('textarea[name=healthChildNotPassOtherRemark]').val('');
                                    $('textarea[name=remark]').val('');
                                    break;
                                case '0':
                                    $(".ask-y").hide();
                                    $(".ask-n").show();
                                    $('.ask-y').find("input").iCheck('uncheck');
                                    $('.box-typeselect-2').hide();
                                    $('.box-typeselect-3').hide();
                                    $('.box-health-pass').hide();
                                    $('.box-health-notpass').hide();
                                    $('textarea[name=healthChildPassOtherRemark]').val('');
                                    $('textarea[name=healthChildNotPassOtherRemark]').val('');
                                    $('textarea[name=remark]').val('');
                                    break;
                                default:
                            }
                        }

                    });
                //ช่องทางการคัดกรอง
                $('input[name=typeSelect]').on('ifChecked',
                    function (e) {
                        if ($(this).valid()) {
                            switch ($(this).val()) {
                                case '2': //โทรเยี่ยม
                                    $('.box-typeselect-2').show();
                                    $('.box-typeselect-3').hide();
                                    $('input[name=typeSelectChild]').iCheck('uncheck');
                                    break;
                                case '3': //เข้าพบ
                                    $('.box-typeselect-2').hide();
                                    $('.box-typeselect-3').show();
                                    $('input[name=typeSelectChild]').iCheck('uncheck');
                                    break;
                                default:
                            }
                        }
                    });
                //ช่องทางการคัดกรอง - child
                $('input[name=typeSelectChild').on('ifChecked',
                    function (e) {
                        $(this).valid();
                    });
                //การชำระเบี้ย
                $('input[name=uwPaymentType').on('ifChecked',
                    function (e) {
                        $(this).valid();
                    });
                //สถานะการโทร
                $('input[name=callStatus').on('ifChecked',
                    function (e) {
                        $(this).valid();
                    });
                //สถานะการเข้าพบ
                $('input[name=foundCustomer').on('ifChecked',
                    function (e) {
                        $(this).valid();
                    });
                //การคัดกรองด้านสุขภาพ - parent
                $('input[name=health]').on('ifChecked',
                    function (e) {
                        if ($(this).valid()) {
                            switch ($(this).val()) {
                                case '1': //ผ่าน
                                    $('.box-health-pass').show();
                                    $('.box-health-notpass').hide();
                                    $('input[name=healthChildNotPass]').iCheck('uncheck');
                                    $('textarea[name=healthChildNotPassOtherRemark]').val('');
                                    break;
                                case '0': //ไม่ผ่าน
                                    $('.box-health-notpass').show();
                                    $('.box-health-pass').hide();
                                    $('.sub-box-health-pass').hide();
                                    $('input[name=IsSpecify]').iCheck('uncheck');
                                    $('input[name=healthChildPass]').iCheck('uncheck');
                                    $('textarea[name=healthChildPassOtherRemark]').val('');
                                    break;
                                default:
                            }
                        }
                    });
                //การคัดกรองด้านสุขภาพ-ไม่ผ่าน - child
                $('input[name=healthChildNotPass').on('ifChecked',
                    function (e) {
                        $(this).valid();
                    });
                //การคัดกรองด้านสุขภาพ-ผ่าน - child
                $('input[name=healthChildPass]').on('ifChecked',
                    function (e) {
                        if ($(this).valid()) {
                            switch ($(this).val()) {
                                case '1': //ผ่านตามมาตรฐาน
                                    $('textarea[name=healthChildPassOtherRemark]').val('');
                                    $('.sub-box-health-pass').hide();
                                    $('input[name=IsSpecify]').iCheck('uncheck');
                                    break;
                                case '0'://ติดข้อยกเว้น
                                    $('.sub-box-health-pass').show();
                                    break;
                                default:
                            }
                        }
                    });

                //มีประวัติสุขภาพที่ติดข้อยกเว้น
                $('input[name=IsSpecify]').on('ifChecked', function (e) {
                    $(this).valid();
                });

                //มีประวัติสุขภาพที่ติดข้อยกเว้น
                $('input[name=IsSpecify_CM]').on('ifChecked', function (e) {
                    if ($(this).valid()) {
                        switch ($(this).val()) {
                            case "1":
                                CMSpecify = true;
                                break;
                            case "0":
                                CMSpecify = null;
                                break;
                            default:
                        }
                    }
                });

                //มีประวัติสุขภาพที่ติดข้อยกเว้น ส่วนประธานา
                $('input[name=healthChildPassCM]').on('ifChecked', function (e) {
                    $(this).valid();
                });

                //ไม่ผ่านคัดกรอง ส่วนประธาน
                $('input[name=healthCM]').on('ifChecked', function (e) {
                    $(this).valid();
                });

                //ไม่ผ่านคัดกรอง-ส่วนย่อย -ประธาน
                $('input[name=healthChildNotPassCM]').on('ifChecked', function (e) {
                    $(this).valid();
                });

            //button save in modal condition cm
            $('#button-save-condition').click(function (e) {
                if ($('input[name=healthChildPassCM]').valid() && $('input[name=IsSpecify_CM]').valid() && $('textarea[name=healthChildPassOtherRemarkCM]').valid()) {
                    FuncCMApproveUpdate();
                }
            });

            //button save in modal unapprove cm
            $('#button-save-unapproved').click(function (e) {
                if ($('input[name=healthCM]').valid() && $('input[name=healthChildNotPassCM]').valid()) {
                    FuncCMApproveUpdate();
                }
            });

            //อนุมัติไม่ผ่านคัดกรอง อื่นๆ
            $('#healthChildNotPassOtherRemarkCM').bind('input propertychange', function () {
                    CMDenyRemark = $(this).val();
            });

            //ระบุข้อยกเว้น มีประวัติสุขภาพที่ติดข้อยกเว้น
             $('#healthChildPassOtherRemarkCM').bind('input propertychange', function () {
                 if ($(this).valid()) {
                     //Assign Value PassOtherRemarkCM To Variable
                     CMResultPassConditionRemark = $(this).val();
                 }

            });

            //checkbox notpass CM
            $('input[name=healthChildNotPassCM]').on('ifChanged', function () {
                if ($(this).is(':checked')) {
                    switch ($(this).val()) {
                        case "denyHealth":
                            CMDenyHealth = true;
                            break;
                        case "denyOccupation":
                            CMDenyOccupation = true;
                            break;
                        case "denyCantPay":
                            CMDenyCantPay = true;
                            break;
                        case "denyOther":
                            CMDenyOther = true;
                            break;
                        default:
                    }
                } else {
                    switch ($(this).val()) {
                        case "denyHealth":
                            CMDenyHealth = null;
                            break
                        case "denyOccupation":
                            CMDenyHealth = null;
                            break
                        case "denyCantPay":
                            CMDenyHealth = null;
                            break
                        case "denyOther":
                            CMDenyOther = null;
                            break
                        default:
                    }
                }
            });
        });
        //check mobile
        const isMobileTablet = () => {
            var check = false;
            (function (a) {
                if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino|android|ipad|playbook|silk/i.test(a) || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0, 4)))
                    check = true;
            })(navigator.userAgent || navigator.vendor || window.opera);
            return check;
        }

        /***Document**/
        const SeeDoc = (path) => {
            if (isMobileTablet()) {
                window.location.href = path;
            } else {
                $('#DocDetail_form').children().show();
                //const extension = path.substr(path.length - 4);
                let extension = '';
                const indexPDF = path.indexOf('.pdf');
                const indexJPG = path.indexOf('.jpg');

                if (indexPDF >= 0) extension = '.pdf';
                if (indexJPG >= 0) extension = '.jpg';

                switch (extension) {
                    case '.pdf':
                        $('.SeeDoc').attr('src', path);
                        break;
                    case '.jpg':
                        $('.SeeDoc').attr('src', path);
                        break;
                    default:
                }
            }
        }

        /*fn get answer*/
        const get_answer = (Id) => {
            $.get('@Url.Action("QueueResult_Get")',
                { queueId: Id },
                function (data) {
                    //current date
                    const date = new Date();
                    //current dcr
                    let currentDCR;
                    //เปลี่ยน dcr ทุกวันที่ 11
                    if (date.getDate() > 10) {
                        currentDCR = new Date(date.getFullYear(), date.getMonth() + 1, 1);
                    } else {
                        currentDCR = new Date(date.getFullYear(), date.getMonth(), 1);
                    }
                    //current month
                    const currentMonth = new Date(date.getFullYear(), date.getMonth(), 1);
                    //วันที่ครบกำหนดของ dcr นั้นๆ
                    const dueDate = new Date(currentDCR.getFullYear(), currentDCR.getMonth(), '@ViewBag.CMDueDate');
                    //dcr app ที่เลือก
                    const monthDCR = new Date('@ViewBag.QueueDetail.Period.ToString("yyyy/MM/dd")');
                    monthDCR.setFullYear(monthDCR.getFullYear() - 543);

                    //check queue status
                    if (isCM || isAdvisor || isUnderwrite ||isOther){
                        $("#formCallIndexCM :input").prop("disabled", true);
                        $("#btSubmit").hide();
                        $("#btnConsult").hide();
                    }else if(isDirector){
                        switch (data.PHQueueStatusId) {
                            case 3:
                            case 5:
                            case 6:
                            case 7:
                            case 8:
                                $("#formCallIndexCM :input").prop("disabled", true);
                                $("#btSubmit").hide();
                                $("#btnConsult").hide();
                                break;
                            default:
                                break;
                        }
                    }
                    //section ผลการพิจารณา
                    if (data.CMIsApprove != null) {
                        ResultCMIsApprove = data.CMIsApprove;
                        ResultCMIsApprovePassCondition = data.CMIsApprovePassCondition;
                        $("#sectionCMResult").show();

                        //DCR App = เดือนปัจจุบัน วันที่ปัจจุบันเกิน DueDate หรือ เดือนปัจจุบันมากกว่า DCR App ซ่อนปุ่มแก้ไข
                        if ((((date.getMonth() + 1) === monthDCR.getMonth() + 1) && (date.getDate() > parseInt(@ViewBag.CMDueDate))) || (date.getMonth() + 1) > monthDCR.getMonth() + 1) $("#btnEdit").hide();

                        //ผ่าน และติดเงื่อนไขข้อยกเว้น
                        if (data.CMIsApprove && data.CMIsApprovePassCondition) {
                            $('#lblCMRemark').text(`${data.CMResultPassConditionRemark}`);
                            $('#lblCMStatusApprove').addClass('label label-warning').text("อนุมัติให้ผ่านคัดกรองแบบติดเงื่อนไข");
                            $('#li-detail').append(`<span><strong>รายละเอียด :</strong> </span> <ul style="list-style-type:initial;"> ${(data.CMResultPassIsSpecify == true) ? "<li>มีประวัติสุขภาพติดข้อยกเว้น-ระบุในใบสมัคร</li>" : "<li>มีประวัติสุขภาพติดข้อยกเว้น-ไม่ระบุในใบสมัคร</li>"}</ul>`);
                        }
                        //ผ่าน มาตรฐาน
                        else if (data.CMIsApprove) {
                            $('#lblCMRemark').text(`${data.CMRemark}`);
                            $('#lblCMStatusApprove').addClass('label label-success').text("อนุมัติให้ผ่านคัดกรอง");
                        }
                        //ไม่ผ่านคัดกรอง
                        else if (!data.CMIsApprove)
                        {
                            $('#lblCMRemark').text(`${data.CMDenyRemark}`);
                            $('#lblCMStatusApprove').addClass('label label-danger').text("อนุมัติไม่ให้ผ่านคัดกรอง");
                            $('#li-detail').append(`<span><strong>รายละเอียด :</strong> </span> <ul style="list-style-type:initial;"> ${(data.CMDenyHealth == true) ? "<li>ไม่ผ่าน-ด้านสุขภาพ</li>" : ""} ${(data.CMDenyCantPay == true) ? "<li>ไม่ผ่าน-ไม่สามารถชำระเบี้ยตามเงื่อนไขได้</li>" : ""} ${(data.CMDenyOccupation == true) ? "<li>ไม่ผ่าน-ด้านอาชีพ</li>" : ""} ${(data.CMDenyOther == true) ? "<li>ไม่ผ่าน-อื่นๆ</li>" : ""}</ul>`);
                        }
                    } else {
                        //เช็คประธาน
                        if (isCM) {
                            //เช็ค dcr ที่เลือก เท่ากับ เดือน dcr ปัจจุบัน
                            if (monthDCR.getTime() === currentDCR.getTime()) {
                                //เช็ควันที่ปัจจุบัน มากกว่า duedate หรือไม่ //เช็ควันเดือนปี
                                if (!(date.getTime() > dueDate.getTime())) {
                                    $("#sectionCMResult").hide();
                                    $("#sectionCM").show();
                                    $('#btnApprove').show();
                                    $('#btnUnApprove').show();
                                } else {
                                    $("#sectionCM").hide();
                                    $("#sectionCMResult").hide();
                                    $("#btnEdit").hide();
                                }
                            }
                            //เช็คเป็นเดือนปัจจุบัน
                            else if (currentMonth.getTime() === monthDCR.getTime()) {
                                    //เช็ควันที่ปัจจุบัน มากกว่าวันที่ duedate หรือไม่ //แค่วันที่
                                    if (!(date.getDate() > dueDate.getDate())) {
                                         $("#sectionCMResult").hide();
                                         $("#sectionCM").show();
                                         $('#btnApprove').show();
                                         $('#btnUnApprove').show();
                                    } else {
                                        $("#sectionCM").hide();
                                        $("#sectionCMResult").hide();
                                        $("#btnEdit").hide();
                                    }
                            } else {
                                $("#sectionCM").hide();
                                $("#sectionCMResult").hide();
                                $("#btnEdit").hide();
                            }
                        }
                    }
                    //สถานะการคัดกรอง-คัดกรองแล้ว
                    if (data.UnderwriteBranchResult) {
                        //คัดกรองแล้ว-checked
                        $('input[id=underwriteStatus_1]').iCheck('check', function () {
                            $(".ask-y").show();
                            $(".ask-n").hide();

                            //ช่องทางการคัดกรอง-โทรเยี่ยม
                            if (data.QueueTypeId == 2) {
                                $('input[id=typeSelect_2]').iCheck('check', function () {
                                    $('.box-typeselect-2').show();
                                    if (data.CallToCustomer) $('input[id=typeSelect-chlid-customer-2]').iCheck('check');
                                    if (data.CallToPayer) $('input[id=typeSelect-chlid-payer-2]').iCheck('check');
                                });
                                //ช่องทางการคัดกรอง-เข้าพบ
                            } else if (data.QueueTypeId == 3) {
                                $('input[id=typeSelect_3]').iCheck('check', function () {
                                    $('.box-typeselect-3').show();
                                    if (data.CallToCustomer) $('input[id=typeSelect-chlid-customer-3]').iCheck('check');
                                    if (data.CallToPayer) $('input[id=typeSelect-chlid-payer-3]').iCheck('check');
                                });
                            }

                            //การชำระเบี้ย
                            if (data.UWPaymentTypeId != null) $(`input[id=uwPaymentType_${data.UWPaymentTypeId}]`).iCheck('check');

                            //การคัดกรองด้านสุขภาพ-ผ่าน
                            if (data.IsResultPass) {
                                $('input[id=health_pass]').iCheck('check', function () {
                                    $('.box-health-pass').show();

                                    //ตามมาตรฐานทุกประการ
                                    if (data.ResultPassStandard) $('input[id=health-child-pass-std]').iCheck('check');
                                    //มีประวัติสุขภาพที่ติดข้อยกเว้น
                                    if (data.ResultPassCondition) $('input[id=health-child-pass-condition]').iCheck('check', function (e) {
                                        //รายละเอียดเพิ่มเติม
                                        $('textarea[id=healthChildPassOtherRemark]').val(data.ResultPassConditionRemark);

                                        if (data.ResultPassIsSpecify) {
                                             //ระบุในใบสมัคร
                                            $('input[id=IsSpecify_1]').iCheck('check');
                                        } else if (!data.ResultPassIsSpecify) {
                                            //ไม่ระบุ
                                            $('input[id=IsSpecify_0]').iCheck('check');
                                        }
                                        //sub-box test
                                        $('#sub-box-health-pass').show();
                                    });
                                });

                            }//การคัดกรองด้านสุขภาพ-ไม่ผ่าน
                            else if (!data.IsResultPass) {
                                $('input[id=health_notpass]').iCheck('check', function () {
                                    $('.box-health-notpass').show();
                                    //ด้านสุขภาพ
                                    if (data.DenyHealth) $('input[id=health-child-notpass-health]').iCheck('check');
                                    //ด้านอาชีพ
                                    if (data.DenyOccupation) $('input[id=health-child-notpass-occupation]').iCheck('check');
                                    //ไม่สามารถชำระเบี้ยตามเงื่อนไขได้
                                    if (data.DenyCantPay) $('input[id=health-child-notpass-cantpay]').iCheck('check');
                                    //อื่นๆ
                                    if (data.DenyOther) $('input[id=health-child-notpass-other]').iCheck('check', function (e) {
                                        //รายละเอียดเพิ่มเติม
                                        $('textarea[id=healthChildNotPassOtherRemark]').val(data.DenyRemark);
                                    });
                                });
                            }
                            $('textarea[id=remark]').val(data.Remark);
                        });

                    }//สถานะการคัดกรอง-ยังไม่คัดกรอง
                    else if (!data.UnderwriteBranchResult) {
                        //ยังไม่คัดกรอง-checked
                        $('input[id=underwriteStatus_0]').iCheck('check', function () {
                            $(".ask-y").hide();
                            $(".ask-n").show();
                            //สถานะการโทร
                            if (data.CallStatusId != null) $(`input[id=callStatus_${data.CallStatusId}]`).iCheck('check');
                            //สถานะการเข้าพบ
                            if (data.IsFoundCustomer != null) {
                                if (!data.IsFoundCustomer) $(`input[id=foundCustomer_0]`).iCheck('check');
                            }
                        });
                    }
                });
        }

        /*fn get payer other*/
        const getPayerOther = (appCode) => {
            $.get('@Url.Action("Get_PayerOtherApp")',
                { appCode: appCode },
                function(data) {
                    if (data.length > 0) {
                        /*declare str*/
                        const str = `ชำระเบี้ยให้อีก ${data.length} คน`;
                        /*show button*/
                        $('#btn_payer_other').show();
                        /*set str to text button*/
                        $('#btn_payer_other').text(str);
                        /*load datatables*/
                        loadDatatables('table_payer_other', data);
                    }
                });
        }

        /*fn aprrove update*/
        const CMApproveUpdate = (PHQueueId, CMIsApprove, CMRemark, CMIsApprovePassCondition, CMResultPassCondition, CMResultPassIsSpecify, CMDenyHealth, CMDenyOccupation, CMDenyCantPay, CMDenyOther, CMDenyRemark, CMResultPassConditionRemark) => {
            $.post('@Url.Action("CMApprove")',
                { PHQueueId: PHQueueId,
                    CMIsApprove: CMIsApprove,
                    CMRemark: CMRemark,
                    CMIsApprovePassCondition: CMIsApprovePassCondition,
                    CMResultPassCondition: CMResultPassCondition,
                    CMResultPassIsSpecify: CMResultPassIsSpecify,
                    CMDenyHealth: CMDenyHealth,
                    CMDenyOccupation: CMDenyOccupation,
                    CMDenyCantPay: CMDenyCantPay,
                    CMDenyOther: CMDenyOther,
                    CMDenyRemark: CMDenyRemark,
                    CMResultPassConditionRemark: CMResultPassConditionRemark},
                function(data) {
                    if (data.Result == "Success") {
                        $('.modal').hide();
                        swal_success(() => {

                            window.close();
                        });
                    } else {
                        window.location.reload();
                    }
                });
            }

        function FuncCMApproveUpdate() {
                //UPDATE
                CMApproveUpdate('@ViewBag.QueueId',
                                 CMIsApprove,
                                 CMRemark,
                                 IsApprovePassConditionCM,
                                 IsPassConditionCM,
                                 CMSpecify,
                                 CMDenyHealth,
                                 CMDenyOccupation,
                                 CMDenyCantPay,
                                 CMDenyOther,
                                 CMDenyRemark,
                                 CMResultPassConditionRemark);
          }

        /*fn Consult Insert*/
        const ConsultInsert = (PHQueueId,PHQueueConsultDetail,RequesterTelephone) => {
            $.post('@Url.Action("ConsultInsert")',
                { PHQueueId: PHQueueId,isAdvisor:false,PHQueueConsultDetail:PHQueueConsultDetail,RequesterTelephone:RequesterTelephone },
                function(data) {
                    if (data != null) {
                        swal_success(() => {
                            window.location.reload();
                        });
                    }else{
                        swal_fail("เกิดข้อผิดพลาด ทำรายการไม่สำเร็จ !");
                    }
                });
        }

        /*fn load datatables*/
        const loadDatatables = (t, data) => {
            $(`#${t}`).empty();
            $(`#${t}`).DataTable({
                pageLength: 100,
                processing: true,
                serverSide: false,
                autoWidth: false,
                responsive: true,
                destroy: true,
                lengthChange: false,
                searching: false,
                info: true,
                paging: true,
                data: data,
                language: {
                    url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Thai.json"
                },
                columns: [
                    {
                        title: 'AppId',
                        data: 'app_Id',
                        orderable: false
                    },
                    {
                        title: 'ชื่อ-สกุล',
                        data: null,
                        orderable: false,
                        render: (d) => {
                            return `${d.customerFirstName} ${d.customerLastName}`;
                        }

                    },
                    {
                        title: 'วันเริ่มคุ้มครอง',
                        data: 'startCoverDate',
                        orderable: false,
                        render: (d) => {
                            return moment(d).format("DD/MM/YYYY");
                        }
                    },
                    {
                        title: 'สถานะ',
                        data: 'status',
                        orderable: false
                    }
                ]
            });
        }

        /*fn load datatables*/
        const loadDatatablesConsult = () => {
            $(`#table_consult`).empty();
            var table = $(`#table_consult`).DataTable({
                pageLength: 100,
                processing: true,
                serverSide: true,
                autoWidth: false,
                responsive: true,
                destroy: true,
                lengthChange: false,
                searching: false,
                info: true,
                paging: true,
                ajax:{
                    url:'@Url.Action("GetConsultByPHQueueId")',
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.pageStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;
                        d.PHQueueId = '@ViewBag.QueueId';
                    },dataSrc: function (data) {
                        if (data.data.length == 0) $('#divConsult').hide();

                        return data.data;
                    }
                },
                language: {
                    url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Thai.json"
                },
                columns: [
                     {
                         title: 'ลำดับ',
                         data:null,
                         orderable: false,
                        className:"h-dt-center nowrap"
                     },
                    {
                        title: 'Advisor',
                        data:null,
                        orderable: false,
                        className:"h-dt-center nowrap",
                        render:function(data){
                            switch (data.IsAdvisor) {
                                case true:
                                    return `<div style="text-align:center"><span><i class="far fa-bookmark"></i> ที่ปรึกษา</span></di>`;
                                    break;
                                case false:
                                    return `<div style="text-align:left"><span><i class="fas fa-bookmark"></i> ผู้ขอคำปรึกษา</span></div>`;
                                    break
                                default:
                                    return "-";
                                    break;
                            }
                        }
                    },
                    {
                        title: 'ข้อความ',
                        data: 'PHQueueConsultDetail',
                        orderable: false,
                        className:"h-dt-center"
                    },
                    {
                        title: 'วันที่บันทึก',
                        data: 'CreatedDate',
                        orderable: false,
                        className:"h-dt-center",
                        render: (d) => {
                            return moment(d).format("DD/MM/YYYY HH:mm");
                        }
                    },
                    {
                        title: 'ผู้บันทึก',
                        data: 'UserFullName',
                        className:"h-dt-center nowrap",
                        orderable: false
                    }
                ]
            });

            table.on('draw.dt', function () {
                var PageInfo = table.page.info();
                table.column(0, { page: 'current' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1 + PageInfo.start;
                })
            })

            window.onresize = function () {
                table.columns.adjust().responsive.recalc();
            };
        }

        //set ค่าผลคัดกรอง แบบติดข้อยกเว้นของ ผอ ให้เป็นค่า default ของประธาน
        function SetResultPassConditionCM() {
            if ($('input[name=healthChildPass]:checked').val() === "0") {
                //มีประวัติสุขภาพที่ติดข้อยกเว้น
                $('input[id=health-child-pass-conditionCM]').iCheck('check');

                //รายละเอียดเพิ่มเติม
                $('textarea[id=healthChildPassOtherRemarkCM]').val($('textarea[id=healthChildPassOtherRemark]').val());

                if ($('input[name=IsSpecify]').val() === "1") {
                    //ระบุในใบสมัคร
                    $('input[id=IsSpecify_CM1]').iCheck('check');
                } else if ($('input[name=IsSpecify]').val() === "0") {
                    //ไม่ระบุ
                    $('input[id=IsSpecify_CM0]').iCheck('check');
                }
            }
        }

        //set ค่าผลคัดกรอง *ไม่ผ่านคัดกรอง ของ ผอ ให้เป็นค่า default ของประธาน
        function SetResultNotPassCM() {
            if ($('input[name=health]:checked').val() === "0") {
                //มีประวัติสุขภาพที่ติดข้อยกเว้น
                $('input[id=health_notpassCM]').iCheck('check');

                //ด้านสุขภาพ
                if ($('input[id=health-child-notpass-health]').is(':checked')) $('input[id=health-child-notpass-healthCM]').iCheck('check');
                //ด้านอาชีพ
                if ($('input[id=health-child-notpass-occupation]').is(':checked')) $('input[id=health-child-notpass-occupationCM]').iCheck('check');
                //ไม่สามารถชำระเบี้ยตามเงื่อนไขได้
                if ($('input[id=health-child-notpass-cantpay]').is(':checked')) $('input[id=health-child-notpass-cantpayCM]').iCheck('check');
                //อื่นๆ
                if ($('input[id=health-child-notpass-other]').is(':checked')) $('input[id=health-child-notpass-otherCM]').iCheck('check', function (e) {
                    //รายละเอียดเพิ่มเติม
                    $('textarea[id=healthChildNotPassOtherRemarkCM]').val($('textarea[id=healthChildNotPassOtherRemark').val());
                });
            }
        }
    </script>
}