@{
    /**/

    ViewBag.Title = "บันทึกรับข้อมูล Claim On Line";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .text {
        font-size: 20px;
        font-weight: bold;
    }

    .column {
        float: left;
        width: 50%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        @* บันทึกข้อมูล *@
        <div class="box box-primary">
            @*<div class="box-header">
                    <h3 class="box-title">บันทึกข้อมูล</h3>
                </div>*@
            <div class="box-body">
                <div class="column">
                    <form class="form-horizontal" action="" name="myform">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="control-label">สาขา :</label>
                                    <select class="form-control select2 " style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlBranch" name="ddlBranch" checkNA="checkNA">

                                        <option value="-1"> -- โปรดระบุ -- </option>

                                        @foreach (var item in @ViewBag.Branch)
                                        {
                                            <option value=@item.Branch_ID>  @item.BranchDetail </option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="control-label">ประเภทเคลม :</label>
                                    <select class="form-control select2 " style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlClaimType" name="ddlClaimType" checkNA="checkNA" required>

                                        <option value="-1"> -- โปรดระบุ -- </option>

                                        @foreach (var item in @ViewBag.ProductType)
                                        {
                                            <option value=@item.ProductType_ID>  @item.ProductTypeDetail </option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="control-label">รายละเอียด :</label>
                                    @*<input type="text" class="form-control" placeholder="รายละเอียด...." id="txtdecription" name="txtdecription">*@
                                    <textarea class="form-control" rows="3" placeholder="รายละเอียด ..." id="txtdecription" name="txtdecription" required="required" style="resize:none"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="control-label">จำนวนเคลม :</label>
                                    <input type="number" class="form-control" placeholder="จำนวนเคลม...." id="txtAmountClaim" name="txtAmountClaim" step="1" pattern="^\d+(?:\.\d{1,2})?$" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="control-label">ผู้ให้บริการ :</label>
                                    @*<select class="form-control select2 " style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlSale" name="ddlSale">
                                        </select>*@
                                    <select name="txtSearchService" id="txtSearchService" class="form-control js-search-person" required="required"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">ทีม :</label>
                                    <label class="control-label" id="lblTeam" name="lblTeam" style="color:green; font-size:15px"> - </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="control-label">สาขา :</label>
                                    <label class="control-label" id="lblBranch" name="lblBranch" style="color:green; font-size:15px"> - </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="control-label">ชื่อเจ้าของรถ :</label>

                                    <select name="txtZebraCarOwnerID" id="txtZebraCarOwnerID" class="form-control js-search-person-1" required="required"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="control-label">ประเภทผู้รับเงิน :</label>
                                    <select class="form-control select2 " style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlPayeeType" name="ddlPayeeType" checkNA="checkNA" required>
                                        <option value="-1"> -- โปรดระบุ -- </option>

                                        @foreach (var item in @ViewBag.PayeeType)
                                        {
                                            if (item.PayeeTypeId != 5)
                                            {
                                                <option value=@item.PayeeTypeId>  @item.PayeeType </option>
                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="control-label">ธนาคาร :</label>
                                    <select class="form-control select2 " style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlBank" name="ddlBank" checkNA="checkNA" required>
                                        <option value="-1"> -- โปรดระบุ -- </option>

                                        @foreach (var item in @ViewBag.Bank)
                                        {

                                            <option value=@item.Bank_ID>  @item.BankDetail </option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="control-label">เลขทึ่บัญชี :</label>
                                    <input type="text" class="form-control" placeholder="เลขที่บัญชี...." id="txtAccountNo" name="txtAccountNo" checkOnlyNum="checkOnlyNum" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="control-label">ชื่อบัญชี :</label>
                                    <input type="text" class="form-control" placeholder="ชื่อบัญชี...." id="txtAccountName" name="txtAccountName" required checkOnlyCharacter="checkOnlyCharacter">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <button id="btnSave" type="button" class="btn btn-success" style="width:30%">บันทึก</button>
                                    <button id="btnCancel" type="button" class="btn btn-danger" style="width:30%">ยกเลิก</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="column" style="display:none" id="columnSearchPA">
                    <form class="form-horizontal">
                        <div class="form-group" style="position:relative">
                            <div class="col-sm-8">
                                <label class="control-label">ค้นหา :</label>
                                <input type="text" id="txtSearchPA" name="txtSearchPA" class="form-control" />
                            </div>
                            <input type="button" id="btnSearchPA" name="btnSearchPA" value="ค้นหา" class="btn btn-primary" style="position:absolute;bottom:0px" />
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12" style="font-weight:bold;text-decoration:underline;font-size:large">รายละเอียด Application</label>
                        </div>
                        <div class="form-group" style="margin-bottom: 0px!important;">
                            <div class="col-sm-7">
                                <label class="col-sm-5 control-label">ปีการศึกษา :</label>
                                <div class="col-sm-7">
                                    <p id="year" class="form-control-static" style="color:red;font-weight:bold"></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom: 0px!important;">
                            <div class="col-sm-7">
                                <label class="col-sm-5 control-label">Application ID :</label>
                                <div class="col-sm-7">
                                    <p id="appId" class="form-control-static" style="color:red;font-weight:bold">-</p>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <label class="col-sm-5 control-label">สถานะ :</label>
                                <div class="col-sm-7">
                                    <p id="status" class="form-control-static" style="color:red;font-weight:bold">-</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" style="margin-bottom: 0px!important;">
                            <div class="col-sm-7">
                                <label class="col-sm-5 control-label">สถานศึกษา:</label>
                                <div class="col-sm-7">
                                    <p id="school" class="form-control-static" style="color:red;font-weight:bold">-</p>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <label class="col-sm-5 control-label">จังหวัด :</label>
                                <div class="col-sm-7">
                                    <p id="province" class="form-control-static" style="color:red;font-weight:bold">-</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-7">
                                <label class="col-sm-5 control-label">อำเภอ :</label>
                                <div class="col-sm-7">
                                    <p id="district" class="form-control-static" style="color:red;font-weight:bold">-</p>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <label class="col-sm-5 control-label">ตำบล :</label>
                                <div class="col-sm-7">
                                    <p id="subDistrict" class="form-control-static" style="color:red;font-weight:bold">-</p>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4" style="font-weight:bold;text-decoration:underline;font-size:large;position;position:relative">ข้อมูลบัญชีธนาคาร</label>
                            <input type="button" id="btnCopy" name="btnCopy" value="คัดลอก" class="btn btn-default" style="position:absolute;display:none" />
                        </div>
                        <div class="form-group" style="margin-bottom: 0px!important;">
                            <div class="col-sm-7">
                                <label class="col-sm-5 control-label">ธนาคาร :</label>
                                <div class="col-sm-7">
                                    <p id="bank" class="form-control-static" style="color:red;font-weight:bold">-</p>
                                    <input type="hidden" id="bankId" name="bankId" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom: 0px!important;">
                            <div class="col-sm-7">
                                <label class="col-sm-5 control-label">เลขที่บัญชี :</label>
                                <div class="col-sm-7">
                                    <p id="bankNo" class="form-control-static" style="color:red;font-weight:bold">-</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom: 0px!important;">
                            <div class="col-sm-7">
                                <label class="col-sm-5 control-label">ชื่อบัญชี :</label>
                                <div class="col-sm-7">
                                    <p id="bankAccountName" class="form-control-static" style="color:red;font-weight:bold">-</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-body -->
        </div>

        <input id="hdUserId" type="hidden" />
        <input id="hdfEmpId" type="hidden" />
        <input id="hdfZebraCarOwnerByEmpId" type="hidden" />
    </div>
</div>

@section ViewSpecificJavascript
{
    <script type="text/javascript">

        $(function () {
            $('.select2').select2();

            //btn search click
            $('#btnSearchPA').on('click', function (e) {
                e.preventDefault();
                if ($('#txtSearchPA').val().trim().length > 0) {
                    GetSSSPAAccountNo();
                } else {
                    swal("ระบุคำค้นหา", '','warning');
                }

            });

            //copy
            $('#btnCopy').on('click', function (e) {
                e.preventDefault();
                CopyBankData();
            });

            //claim type change
            $('#ddlClaimType').on('change.select2', function (e) {
                let claimTypeId = $(this).val();
                //if type = 26 (PAนักเรียน)
                if (claimTypeId === "26") {
                    $('#columnSearchPA').show();
                } else {
                    $('#columnSearchPA').hide();
                    ClearTextSearchPA();
                }
            });

            $("#txtAmountClaim").on("keypress keyup blur", function (event) {
                $(this).val($(this).val().replace(/[^\d].+/, ""));
                if ((event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });

            $('.js-search-person').select2({
                ajax: {
                    type: 'GET',
                    url: '@Url.Action("GetEmployee", "ClaimOnLine")',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,// search term
                            page: params.page
                        };
                    },
                    processResults: function (data, search) {
                        //params.page = params.page || 1;
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    id: item.EmployeeCode,
                                    text: item.EmployeeCode + ' - ' + item.FirstName + ' ' + item.LastName
                                }
                            })
                        };
                    },
                    cache: true
                },
                templateResult: function (item) {
                    if (item.loading) return item.text;
                    return item.text;
                },
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 4,
                language: { inputTooShort: function () { return 'กรอกข้อมูลอย่างน้อย 4 ตัวอักษร'; } }
            });

            $('.js-search-person-1').select2({
                ajax: {
                    type: 'GET',
                    url: '@Url.Action("GetZebraCar", "ClaimOnLine")',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,// search term
                            page: params.page
                        };
                    },
                    processResults: function (data, search) {
                        //params.page = params.page || 1;
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    id: item.EmployeeCode,
                                    text: item.EmployeeCode + ' - ' + item.FirstName + ' ' + item.LastName
                                }
                            })
                        };
                    },
                    cache: true
                },
                templateResult: function (item) {
                    if (item.loading) return item.text;
                    return item.text;
                },
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 4,
                language: { inputTooShort: function () { return 'กรอกข้อมูลอย่างน้อย 4 ตัวอักษร'; } }
            });

            $("#txtZebraCarOwnerID").change(function (e) {
                //alert($("#txtSearchEmp").val());
                //alert($('#hdfUserId').val());
                GetEmployeeZebraCarDetail($("#txtZebraCarOwnerID").val());

            });

            $("#txtSearchService").change(function (e) {
                //alert($("#txtSearchEmp").val());
                GetUserId($("#txtSearchService").val());
                //alert($('#hdfUserId').val());
                GetEmployeeDetail($("#txtSearchService").val());
            });

            $('#btnCancel').click(function (e) {
                e.preventDefault();
                //DoClear
                DoClear();

            });

            $("#btnSave").click(function (e) {
                e.preventDefault();
                if ($('form').valid()) {
                    if (IsValidateForSave() != "") {
                        alert(IsValidateForSave());
                        return false;
                    }
                    else {
                        window.swal({
                            title: 'ยืนยันการทำรายการหรือไม่?',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#277020',
                            confirmButtonText: 'ตกลง',
                            cancelButtonText: 'ยกเลิก',
                            closeOnConfirm: false,
                            closeOnEsc: false,
                            closeOnCancel: true
                        }, function () {
                            //AssignQueue($('#txtQueueAmount').val(), $('#hdfUserId').val());
                            SaveClaimOnLine($('#ddlClaimType').val(), $('#txtdecription').val(), $('#txtAmountClaim').val(), $('#ddlBranch').val(), $('#hdUserId').val(), $('#hdUserId').val(), $('#txtAccountNo').val(), $('#txtAccountName').val(), $('#ddlPayeeType').val());
                        });

                    }
                }

            });

        })

        function DoClear()
        {
            $('form[name="myform"]')
                .find(':radio, :checkbox').removeAttr('checked').end()
                .find('textarea, :text, select').val('')
            $('#hdUserId').val('');
            $('#txtSearchService').text('');
            $('#txtAmountClaim').val(0);
            $('#lblTeam').text("-");
            $('#lblBranch').text("-");
            $('#txtAccountNo').val('');
            $('#txtAccountName').val('');
            $('#hdfEmpId').val('');
            $('#hdfZebraCarOwnerByEmpId').val('');
            $("#txtZebraCarOwnerID").text('');

            $('#ddlBank').select2().val('-1').trigger('change.select2');
            $('#ddlBranch').select2().val('-1').trigger('change.select2');
            $('#ddlPayeeType').select2().val('-1').trigger('change.select2');
            $('#ddlClaimType').select2().val('-1').trigger('change.select2');

            return false;
        }

        function SaveClaimOnLine(productGroupID, Detail, ClaimCount, BranchId, ServiceByUserID, NoticeByUserID, AccountNo, AccountName,PayeeTypeId)
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveClaimOnLine", "ClaimOnLine")',
                data: {
                    productGroupID: productGroupID,
                    detail: Detail,
                    claimCount: ClaimCount,
                    branchId: BranchId,
                    serviceByUserId: ServiceByUserID,
                    noticeByUserId: NoticeByUserID,
                    accountNo: AccountNo,
                    accountName: AccountName,
                    payeeTypeId: PayeeTypeId,
                    bankId: $('#ddlBank').val(),
                    serviceByEmpId: $('#hdfEmpId').val(),
                    zebarCarOwnerByEmpId: $('#hdfZebraCarOwnerByEmpId').val()
                },
                success: function (response) {
                    if (response != "") {

                        window.swal({
                            title: 'RefNo : ' + response,
                            type: 'success',
                            text: 'ทำรายการสำเร็จ',
                            showCancelButton: false,
                            confirmButtonColor: '#26A65B',
                            confirmButtonText: 'ตกลง',
                            closeOnEsc: false,
                            className: "text"
                        }, function () {
                            //GetDatatableQueue();
                            //GetDatatableQueueEmployee();
                            let encode_ClaimOnline = window.btoa(response);
                            window.location = "@Url.Action("ClaimOnLineSearch", "Claim")?claimonlineCode=" + encode_ClaimOnline+"";
                        });
                    } else {
                        window.swal({
                            title: 'เกิดข้อผิดพลาด!',
                            type: 'error',
                            text: 'กรุณาตรวจสอบข้อมูลอีกครั้ง',
                            showCancelButton: false,
                            confirmButtonColor: '#ed2b09',
                            confirmButtonText: 'ตกลง',
                            closeOnEsc: false
                        }, function () {
                            window.location = "@Url.Action("InternalServerError","Error")";
                        });
                    }
                }
            });
        }

        function IsValidateForSave()
        {
            var result = "";

            if ($('#ddlBranch').val() == "-1") {
                result = "กรุณาเลือก สาขา";
                return result;
            }

            if ($('#ddlClaimType').val() == "-1") {
                result = "กรุณาเลือก ประเภทเคลม";
                return result;
            }

            if ($('#txtdecription').val() == "") {
                result = "กรุณากรอก รายละเอียด";
                return result;
            }

            if ($("#txtAmountClaim").val() == "") {
                result = "กรุณากรอก จำนวนเคลม";
                return result;
            }

            if ($("#txtAmountClaim").val() == 0) {
                result = "จำนวนเคลม ต้องไม่เป็น 0 ";
                return result;
            }

            if ($('#txtSearchService').val() == null) {
                result = "กรุณาเลือก ผู้ให้บริการ";
                return result;
            }

            if ($('#txtZebraCarOwnerID').val() == null) {
                result = "กรุณาเลือก ชื่อเจ้าของรถ";
                return result;
            }

            if ($('#ddlPayeeType').val() == "-1") {
                result = "กรุณาเลือก ประเภทผู้รับเงิน";
                return result;
            }

            if ($('#ddlBank').val() == "-1") {
                result = "กรุณาเลือก ธนาคาร";
                return result;
            }

            if ($('#txtAccountNo').val() == "") {
                result = "กรุณากรอก เลขบัญชี";
                return result;
            } else {
                //let re = /[\d]/g;
                //let isresult = re.test($('#txtAccountNo').val());

                //if (isresult == true) {
                //    result = "กรุณาตรวจสอบเลขบัญชี เนื่องจากต้องเป็นตัวเลข 0-9 เท่านั้น";
                //    return result;
                //}

                //if ($('#txtAccountNo').val().indexOf('-')  > 0) {
                //    result = "กรุณาตรวจสอบเลขบัญชี เนื่องจากต้องไม่มี -";
                //    return result;
                //}
            }

            if ($('#txtAccountName').val() == "") {
                result = "กรุณากรอก ชื่อบัญชี";
                return result;
            }

            return result;
        }

        window.jQuery.validator.addMethod("checkOnlyNum", function (value) {
            var regex = new RegExp("^[0-9]+$");

            if (!regex.test(value)) {
                return false;
            } else {
                return true;
            }
        }, "กรอกเฉพาะตัวเลขเท่านั้น(0-9)");

       function GetUserId(empCode) {
            $.ajax({

                type: 'GET',
                url: '@Url.Action("GetUserIdByEmployeeCode", "ClaimOnLine")',
                dataType: 'json',
                data: { empCode: empCode },
                success: function (data) {
                    $('#hdUserId').val(data);
                    //alert(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('request fail');
                }

            });
        }

        function GetEmployeeDetail(empCode) {
            $.ajax({

                type: 'GET',
                url: '@Url.Action("GetEmployeeByEmployeeCode", "ClaimOnLine")',
                dataType: 'json',
                data: { empcode: empCode },
                success: function (data) {
                    //$('#hdUserId').val(data);
                    //alert(data);
                    $('#lblTeam').text(data.EmployeeTeamDetail);
                    $('#lblBranch').text(data.BranchDetail);
                    $('#hdfEmpId').val(data.Employee_ID);

                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('request fail');
                }

            });
        }

        function GetEmployeeZebraCarDetail(empCode) {
            $.ajax({

                type: 'GET',
                url: '@Url.Action("GetEmployeeByEmployeeCode", "ClaimOnLine")',
                dataType: 'json',
                data: { empcode: empCode },
                success: function (data) {
                    //$('#hdUserId').val(data);
                    //alert(data);
                    $('#hdfZebraCarOwnerByEmpId').val(data.Employee_ID);

                   // alert($('#hdfZebraCarOwnerByEmpId').val());

                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('request fail');
                }

            });
        }

        function GetSSSPAAccountNo() {
            $.get("@Url.Action("GetSSSPAAccountNo", "ClaimOnLine")", { txt: $('#txtSearchPA').val() }, function (data) {
                if (data != 0) {
                    $('#year').text(data.Year);
                    $('#appId').text(data.ApplicationCode);
                    $('#status').text(data.ApplicationStatus);
                    $('#school').text(data.SchoolName);
                    $('#province').text(data.ProvinceDetail);
                    $('#district').text(data.DistrictDetail);
                    $('#subDistrict').text(data.SubDistrictDetail);

                    $('#bank').text(data.BankDetail);
                    $('#bankId').val(data.BankID);
                    $('#bankNo').text(data.ContactBankAccountNo);
                    $('#bankAccountName').text(data.ContactBankAccountName);

                    if (data.BankID != null && data.BankID != "") {
                        $('#btnCopy').show();
                    } else {
                        $('#btnCopy').hide();
                    }
                } else {
                    swal("ไม่พบข้อมูล", "", "error");
                    ClearTextSearchPA();
                }
                });
        }

        function CopyBankData() {
            let bId = parseInt($('#bankId').val())
            $('#ddlBank').val(bId).trigger('change.select2');
            $('#txtAccountNo').val($('#bankNo').text());
            $('#txtAccountName').val($('#bankAccountName').text());
        }

        function ClearTextSearchPA() {
            $('#year').text("-");
            $('#appId').text("-");
            $('#status').text("-");
            $('#school').text("-");
            $('#province').text("-");
            $('#district').text("-");
            $('#subDistrict').text("-");

            $('#bank').text("-");
            $('#bankId').val("");
            $('#bankNo').text("-");
            $('#bankAccountName').text("-");
            $('#txtSearchPA').val("")
            $('#btnCopy').hide();
        }
    </script>
}