
@{
    ViewBag.Title = "แก้ไขClaimOnLine ClaimOnLineCode: " + ViewBag.ClaimOnLineCode;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>EditClaimOnLine</h2>*@

<form class="form-horizontal" action="" name="myform">
    <div class="row">

        <div class="col-sm-12">

            <input id="hdfClaimOnLineId" type="hidden" value="@ViewBag.ClaimOnLineId" />

            @* บันทึกข้อมูล *@
            <div class="box box-primary">
                @*<div class="box-header">
                        <h3 class="box-title">บันทึกข้อมูล</h3>
                    </div>*@

                <div class="box-body">

                    <div class="form-group">

                        <div class="col-sm-4 ">
                            <label class="control-label">สาขา :</label>
                            <select class="form-control select2 " style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlBranch" name="ddlBranch">
                                @*@foreach (var item in @ViewBag.BankId)
                                    {
                                        <option value=@item.TempCode>  @item.OrganizeDetail </option>
                                    }*@
                                <option value="-1"> -- โปรดระบุ -- </option>

                                @foreach (var item in @ViewBag.Branch)
                                {
                                    <option value=@item.Branch_ID>  @item.BranchDetail </option>
                                }

                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 ">
                            <label class="control-label">ประเภทเคลม :</label>
                            <select class="form-control select2 " style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlClaimType" name="ddlClaimType">
                                <option value="-1"> -- โปรดระบุ -- </option>
                                @foreach (var item in @ViewBag.ProductType)
                                {
                                    <option value=@item.ProductType_ID>  @item.ProductTypeDetail </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 ">
                            <label class="control-label">รายละเอียด :</label>
                            @*<input type="text" class="form-control" placeholder="รายละเอียด...." id="txtdecription" name="txtdecription">*@
                            <textarea class="form-control" rows="3" placeholder="รายละเอียด ..." id="txtdecription" name="txtdecription"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 ">
                            <label class="control-label">จำนวนเคลม :</label>
                            <input type="number" class="form-control" placeholder="จำนวนเคลม...." id="txtAmountClaim" name="txtAmountClaim" step="1" pattern="^\d+(?:\.\d{1,2})?$">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 ">
                            <label class="control-label">ผู้ให้บริการ :</label>
                            @*<select class="form-control select2 " style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlSale" name="ddlSale">

                                </select>*@
                            <select name="txtSearchService" id="txtSearchService" class="form-control js-search-person" required="required"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label class="control-label">ทีม :</label>
                            <label class="control-label" id="lblTeam" name="lblTeam" style="color:green; font-size:15px"> - </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 ">
                            <label class="control-label">สาขา :</label>
                            <label class="control-label" id="lblBranch" name="lblBranch" style="color:green; font-size:15px"> - </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 ">
                            <label class="control-label">ชื่อเจ้าของรถ :</label>
                            <select name="txtZebraCarOwnerID" id="txtZebraCarOwnerID" class="form-control js-search-person-1" required="required"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 ">
                            <label class="control-label">ประเภทผู้รับเงิน :</label>
                            <select class="form-control select2 " style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlPayeeType" name="ddlPayeeType">
                                <option value="-1"> -- โปรดระบุ -- </option>
                                @foreach (var item in @ViewBag.PayeeType)
                                {
                                    <option value=@item.PayeeTypeId>  @item.PayeeType </option>
                                }
                            </select>

                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-sm-4">
                            <label class="control-label">ธนาคาร :</label>
                            <select class="form-control select2 " style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlBank" name="ddlBank">
                                <option value="-1"> -- โปรดระบุ -- </option>
                                @foreach (var item in @ViewBag.Bank)
                                {
                                    <option value=@item.Bank_ID>  @item.BankDetail </option>
                                }
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 ">
                            <label class="control-label">เลขทึ่บัญชี :</label>
                            <input type="text" class="form-control" placeholder="เลขที่บัญชี...." id="txtAccountNo" name="txtAccountNo">

                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-sm-4 ">
                            <label class="control-label">ชื่อบัญชี :</label>
                            <input type="text" class="form-control" placeholder="ชื่อบัญชี...." id="txtAccountName" name="txtAccountName">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-4 ">
                            <button id="btnSave" type="button" class="btn btn-success" style="width:30%">บันทึก</button>
                            <button id="btnCancel" type="button" class="btn btn-danger" style="width:30%">ยกเลิก</button>
                        </div>
                    </div>


                </div>
                <!-- /.box-body -->
            </div>


            <input id="hdUserId" type="hidden" />
            <input id="hdfEmpId" type="hidden" />
            <input id="hdfZebraCarOwnerEmpId" type="hidden" />

        </div>
    </div>
</form>


@section ViewSpecificJavascript
{
    <script type="text/javascript">

        $(function () {
            $('.select2').select2();


            GetClaimOnLineDetail($('#hdfClaimOnLineId').val());

            $("#txtAmountClaim").on("keypress keyup blur", function (event) {
                $(this).val($(this).val().replace(/[^\d].+/, ""));
                if ((event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });

            $('.js-search-person').select2({
                //debugger();
                ajax: {
                    type: 'GET',
                    url: '@Url.Action("GetEmployee", "ClaimOnLine")',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,// search term
                            page: params.page
                        };
                    },
                    processResults: function (data, search) {
                        //params.page = params.page || 1;
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    id: item.EmployeeCode,
                                    text: item.EmployeeCode + ' - ' + item.FirstName + ' ' + item.LastName
                                }
                            })
                        };
                    },
                    cache: true
                },
                templateResult: function (item) {
                    if (item.loading) return item.text;
                    return item.text;
                },
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 4,
                language: { inputTooShort: function () { return 'กรอกข้อมูลอย่างน้อย 4 ตัวอักษร'; } }
            });

             $('.js-search-person-1').select2({
                //debugger();
                ajax: {
                    type: 'GET',
                    url: '@Url.Action("GetZebraCar", "ClaimOnLine")',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,// search term
                            page: params.page
                        };
                    },
                    processResults: function (data, search) {
                        //params.page = params.page || 1;
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    id: item.EmployeeCode,
                                    text: item.EmployeeCode + ' - ' + item.FirstName + ' ' + item.LastName
                                }
                            })
                        };
                    },
                    cache: true
                },
                templateResult: function (item) {
                    if (item.loading) return item.text;
                    return item.text;
                },
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 4,
                language: { inputTooShort: function () { return 'กรอกข้อมูลอย่างน้อย 4 ตัวอักษร'; } }
            });

             $("#txtZebraCarOwnerID").change(function (e) {

                 GetEmployeeZebraCarDetail($("#txtZebraCarOwnerID").val());
             });


            $("#txtSearchService").change(function (e) {
                //alert($("#txtSearchEmp").val());
                GetUserId($("#txtSearchService").val());
                //alert($('#hdfUserId').val());
                GetEmployeeDetail($("#txtSearchService").val());
            });


            $('#btnCancel').click(function (e) {
                e.preventDefault();
                //DoClear
                window.location = "@Url.Action("MonitorForEditClaimOnLine","ClaimOnLine")";

            });

            $("#btnSave").click(function (e) {
                e.preventDefault();

                if (IsValidateForSave() != "")
                    {
                    alert(IsValidateForSave());
                    return false;
                    }
                else
                    {
                    window.swal({
                        title: 'ยืนยันการทำรายการหรือไม่?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#277020',
                        confirmButtonText: 'ตกลง',
                        cancelButtonText: 'ยกเลิก',
                        closeOnConfirm: false,
                        closeOnEsc: false,
                        closeOnCancel: true
                    }, function () {
                        
                        //AssignQueue($('#txtQueueAmount').val(), $('#hdfUserId').val());
                        UpdateClaimOnLine($('#ddlClaimType').val(), $('#txtdecription').val(), $('#txtAmountClaim').val(), $('#ddlBranch').val(), $('#hdUserId').val(), $('#hdUserId').val(), $('#txtAccountNo').val(), $('#txtAccountName').val(), $('#ddlPayeeType').val());
                    });

                    }
            });

        })

        function GetClaimOnLineDetail(claimOnLineId)
        {
            //$('#lblClaimOnLineCode').text(claimOnLineCode);
            
            $.ajax({

                type: 'GET',
                url: '@Url.Action("GetClaimOnLineSelect", "ClaimOnLine")',
                dataType: 'json',
                data: { claimOnLineId: claimOnLineId },
                success: function (data) {
                    
                    //$('#hdUserId').val(data);

                    //$('#hdfClaimOnLineId').val(data.ClaimOnLineId);
                    $('#lblClaimOnLineCode').text(data.ClaimOnLineCode);




                    $('#ddlBranch').select2().val(data.BranchId).trigger('change.select2');

                    $('#txtAmountClaim').val(data.ClaimCount);

                    $('#ddlPayeeType').select2().val(data.PayeetypeId).trigger('change.select2');
                    $('#txtAccountNo').val(data.PayeeAccountNo);
                    $('#txtAccountName').val(data.PayeeAccountName);

                    $('#txtdecription').val(data.Detail);
                    $('#ddlClaimType').select2().val(data.ProductTypeId).trigger('change.select2');

                    //$('#txtSearchService').select2('data', { id: data.NoticeByEmpCode }).trigger('change.select2');

                    //$(".js-search-person").select2('data', { id: data.NoticeByEmpCode, text: data.NoticeBy });

                    $('#ddlBank').select2().val(data.PayeeBankId).trigger('change.select2');


                    GetEmpService(data.NoticeByEmpCode);

                    if (data.ZebraCarOwnerCode != null)
                    {
                        GetZebraCarOwner(data.ZebraCarOwnerCode);
                    }

                    GetUserId(data.NoticeByEmpCode);
                    GetEmployeeDetail(data.NoticeByEmpCode)


                    //alert(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('request fail');
                }

            });
        }

        function GetZebraCarOwner(empcode)
        {
            var s = $('#txtZebraCarOwnerID');


            $.ajax({

                type: 'GET',
                url: '@Url.Action("GetZebraCar", "ClaimOnLine")',
                dataType: 'json',
                data: { q: empcode },
                success: function (data) {
                    
                    // create the option and append to Select2
                    var option = new Option(data[0].EmployeeCode + ' - ' + data[0].FirstName + ' ' + data[0].LastName, data[0].EmployeeCode, true, true);
                    s.append(option).trigger('change');

                    // manually trigger the `select2:select` event
                    s.trigger({
                        type: 'select2:select',
                        params: {
                            data: data
                        }
                    });
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('request fail');
                }

            });
        }


        function GetEmpService(empcode) {
            var s = $('#txtSearchService');


            $.ajax({

                type: 'GET',
                url: '@Url.Action("GetEmployee", "ClaimOnLine")',
                dataType: 'json',
                data: { q: empcode },
                success: function (data) {
                    
                    // create the option and append to Select2
                    var option = new Option(data[0].EmployeeCode + ' - ' + data[0].FirstName + ' ' + data[0].LastName, data[0].EmployeeCode, true, true);
                    s.append(option).trigger('change');

                    // manually trigger the `select2:select` event
                    s.trigger({
                        type: 'select2:select',
                        params: {
                            data: data
                        }
                    });
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('request fail');
                }

            });

      }





        function DoClear()
        {
            $('form[name="myform"]')
                .find(':radio, :checkbox').removeAttr('checked').end()
                .find('textarea, :text, select').val('')
            $('#hdUserId').val('');
            $('#txtSearchService').text('');
            $('#txtAmountClaim').val(0);
            $('#lblTeam').text("-");
            $('#lblBranch').text("-");
            $('#txtAccountNo').val('');
            $('#txtAccountName').val('');
            $('#hdfEmpId').val('');
            $('#hdfZebraCarOwnerEmpId').val('');
            $('#txtZebraCarOwnerID').text('');

            $('#ddlBank').select2().val('-1').trigger('change.select2');
            $('#ddlBranch').select2().val('-1').trigger('change.select2');
            $('#ddlPayeeType').select2().val('-1').trigger('change.select2');
            $('#ddlClaimType').select2().val('-1').trigger('change.select2');


            return false;
        }


        function UpdateClaimOnLine(productGroupID, Detail, ClaimCount, BranchId, ServiceByUserID, NoticeByUserID, AccountNo, AccountName,PayeeTypeId)
        {
            
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateClaimOnLine", "ClaimOnLine")',
                data: {
                    productGroupID: productGroupID,
                    detail: Detail,
                    claimCount: ClaimCount,
                    branchId: BranchId,
                    serviceByUserId: ServiceByUserID,
                    noticeByUserId: NoticeByUserID,
                    accountNo: AccountNo,
                    accountName: AccountName,
                    payeeTypeId: PayeeTypeId,
                    claimOnlineId: $("#hdfClaimOnLineId").val(),
                    bankId: $('#ddlBank').val(),
                    serviceByEmpId: $('#hdfEmpId').val(),
                    zebraCarOwnerEmpId: $('#hdfZebraCarOwnerEmpId').val()
                },
                success: function (response) {
                    if (response != "") {
                        window.swal({
                            title: 'RefNo : ' + response,
                            type: 'success',
                            text: 'ทำรายการสำเร็จ',
                            showCancelButton: false,
                            confirmButtonColor: '#26A65B',
                            confirmButtonText: 'ตกลง',
                            closeOnEsc: false
                        }, function () {
                            //GetDatatableQueue();
                            //GetDatatableQueueEmployee();
                            window.location = "@Url.Action("MonitorForEditClaimOnLine","ClaimOnLine")";
                        });
                    } else {
                        window.swal({
                            title: 'เกิดข้อผิดพลาด!',
                            type: 'error',
                            text: 'กรุณาตรวจสอบข้อมูลอีกครั้ง',
                            showCancelButton: false,
                            confirmButtonColor: '#ed2b09',
                            confirmButtonText: 'ตกลง',
                            closeOnEsc: false
                        }, function () {
                            window.location = "@Url.Action("InternalServerError","Error")";
                        });
                    }
                }
            });
        }



        function IsValidateForSave()
        {
            var result = "";
            if ($('#ddlBranch').val() == "-1") {
                result = "กรุณาเลือก สาขา";
                return result;
            }

            if ($('#ddlClaimType').val() == "-1") {
                result = "กรุณาเลือก ประเภทเคลม";
                return result;
            }

            if ($('#txtdecription').val() == "") {
                result = "กรุณากรอก รายละเอียด";
                return result;
            }

            if ($("#txtAmountClaim").val() == "") {
                result = "กรุณากรอก จำนวนเคลม";
                return result;
            }

            if ($("#txtAmountClaim").val() == 0) {
                result = "จำนวนเคลม ต้องไม่เป็น 0 ";
                return result;
            }

            if ($('#txtSearchService').val() == null) {
                result = "กรุณาเลือก ผู้ให้บริการ";
                return result;
            }

            if ($('#txtZebraCarOwnerID').val() == null) {
                result = "กรุณาเลือก ชื่อเจ้าของรถ";
                return result;
            }


            if ($('#ddlPayeeType').val() == "-1") {
                result = "กรุณาเลือก ประเภทผู้รับเงิน";
                return result;
            }

            if ($('#ddlBank').val() == null) {
                result = "กรุณาเลือก ธนาคาร";
                return result;
            }

            if ($('#ddlBank').val() == "-1") {
                result = "กรุณาเลือก ธนาคาร";
                return result;
            }

            if ($('#txtAccountNo').val() == "") {
                result = "กรุณากรอก เลขบัญชี";
                return result;
            }

            if ($('#txtAccountName').val() == "") {
                result = "กรุณากรอก ชื่อบัญชี";
                return result;
            }

            return result;
        }



       function GetUserId(empCode) {
            
            $.ajax({

                type: 'GET',
                url: '@Url.Action("GetUserIdByEmployeeCode", "ClaimOnLine")',
                dataType: 'json',
                data: { empCode: empCode },
                success: function (data) {
                    
                    $('#hdUserId').val(data);
                    //alert(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('request fail');
                }

            });
        }

        function GetEmployeeZebraCarDetail(empCode) {
             
            $.ajax({

                type: 'GET',
                url: '@Url.Action("GetEmployeeByEmployeeCode", "ClaimOnLine")',
                dataType: 'json',
                data: { empcode: empCode },
                success: function (data) {
                    
                    //$('#hdUserId').val(data);
                    //alert(data);
                    $('#hdfZebraCarOwnerEmpId').val(data.Employee_ID);

                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('request fail');
                }

            });
        }


        function GetEmployeeDetail(empCode) {
            
            $.ajax({

                type: 'GET',
                url: '@Url.Action("GetEmployeeByEmployeeCode", "ClaimOnLine")',
                dataType: 'json',
                data: { empcode: empCode },
                success: function (data) {
                    
                    //$('#hdUserId').val(data);
                    //alert(data);
                    $('#lblTeam').text(data.EmployeeTeamDetail);
                    $('#lblBranch').text(data.BranchDetail);
                    $('#hdfEmpId').val(data.Employee_ID);

                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('request fail');
                }

            });
        }

    </script>
}




