@using SmileSDataCenterV2.Models
@model List<usp_RolesEditByUserName_Result>

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i> Alert!</h4>
        @ViewBag.Message
    </div>
}

@Html.Partial("_UserInfo")

<div class="row">
    <div class="col-xs-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Edit Roles @ViewBag.UserInfo.UserName</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="form1_msg" class="alert alert-danger alert-dismissible" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> เตือน!</h4>
                    กรุณากรอกข้อมูลให้ถูกต้องและครบถ้วน
                </div>
                <!-- form start -->
                <form class="form-horizontal" id="form1" action="@Url.Action("EditRoles")" method="post" enctype="multipart/form-data">

                    <input type="hidden" name="Username" value="@ViewBag.UserInfo.UserName" />

                    <div class="form-group" name="chkDiv" id="chkDiv">

                        @foreach (var item in Model.ToList())
                        {
                            <div class="checkbox col-sm-offset-2">
                                <label>
                                    @if (!string.IsNullOrEmpty(item.UserName))
                                    {
                                        <input type="checkbox" checked="checked" name="chk_@item.Id">
                                        @item.Name
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="chk_@item.Id">
                                        @item.Name
                                    }
                                </label>
                            </div>
                        }
                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="col-sm-offset-2 btn btn-primary"><i class="fa fa-floppy-o"></i> Submit</button>
                        <a href="@Url.Action("Index")" class="btn btn-danger"><i class="fa fa-times"></i> Cancel</a>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>