@{
    Layout = "~/Views/Shared/_LayoutForSurvey.cshtml";
}

<style>
    .img-icon {
        width: 20px;
        height: 20px;
    }

    h5 {
        color: Highlight;
    }

    .star {
        font-size: 3rem;
        color: #ff9800;
        background-color: unset;
        border: none;
    }

        .star:hover {
            cursor: pointer;
            color: #ff9800;
        }

    .star_rating {
        user-select: none;
    }

    .tr {
        font-size: 13px;
        color: dodgerblue;
    }

    .left-align-label {
        display: block; /* Ensures the label occupies the full width of its container */
        text-align: left; /* Aligns the label's text to the left */
    }

</style>

<form id="formQuestion" method="post" action="@Url.Action("Question","SurveyResearch")" enctype="multipart/form-data">
    <div style="max-width: 100%;">
        <img src="~/Content/img/Card.png" style="max-width: 100%; height: auto;">
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <div class="col-12" style="text-align:center">
                <label style="font-size: 17px; color: DodgerBlue">รายละเอียด</label>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table style="width:100%">
                    <tr class="tr">
                        <th style="width: 50%; text-align: left;">ชื่อผู้เอาประกัน</th>
                        <th style="width: 50%; text-align: right">ประเภทผลิตภัณฑ์</th>
                    </tr>
                    @if (ViewBag.ClaimList != null)
                    {
                        <div>
                            @for (int j = 0; j < ViewBag.ClaimList.Count; j++)
                            {
                            <tr style="font-size: 13px">
                                <td style="text-align: left"><label>คุณ</label><label>@ViewBag.ClaimList[j].Surname @ViewBag.ClaimList[j].Lastname</label></td>
                                @*<td style="text-align: left"><label>คุณ</label>@ViewBag.ClaimList[j].Fullname</td>*@
                                <td style="text-align: right"><label>@ViewBag.ClaimList[j].ProductName</label></td>
                            </tr>

                        }
                    </div>
                }
                    </table>
                </div>
        </div>

                <div class="row" style="margin-top:9px">
                    <div class="col-xs-12" style="text-align:center">
                        <div class="box-header">
                            <label>@ViewBag.Title </label>
                        </div>
                        @{ var i = 0;}
                        @{ var x = 1;}
                        @foreach (var item in ViewBag.SurveyQuestion)
                        {
                            if (i == 0)
                            {
                                <div id="starQuestion">
                                    <label class="left-align-label">@(x++).&nbsp;&nbsp;@item.QuestionDetail </label>
                                    <table style="margin-left:auto;margin-right:auto;">
                                        <tr>
                                            <td>น้อยที่สุด&nbsp;&nbsp;</td>
                                            @for (int j = 0; j < ViewBag.SurveyAnswer.Count; j++)
                                            {
                                                if (ViewBag.SurveyAnswer[j].SurveyQuestionId == item.SurveyQuestionId)
                                                {
                                                    <td>
                                                        <a style="padding-left:6px;padding-right:6px" class="star" value="@ViewBag.SurveyAnswer[j].AnswerId" id="@ViewBag.SurveyAnswer[j].AnswerDetail" name="@ViewBag.SurveyAnswer[j].SurveyQuestionId" onclick="MySurveyAnswerId('@ViewBag.SurveyAnswer[j].SurveyQuestionId','@ViewBag.SurveyAnswer[j].SurveyAnswerId','@ViewBag.SurveyAnswer[j].AnswerId')">&#9734;</a>
                                                    </td>
                                                }
                                            }
                                            <td>&nbsp;&nbsp;มากที่สุด</td>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            @for (int j = 0; j < ViewBag.SurveyAnswer.Count; j++)
                                            {
                                                if (ViewBag.SurveyAnswer[j].SurveyQuestionId == item.SurveyQuestionId)
                                                {
                                                    <th class="text-center">@ViewBag.SurveyAnswer[j].AnswerDetail</th>
                                                }
                                            }
                                            <th></th>
                                        </tr>
                                    </table>
                                </div>
                                <br />
                                i = 1;
                            }
                            else
                            {
                                <div>
                                    <table style="width:100%;border:2px solid white" id="myTable">
                                        <tr>
                                            <td>
                                                <label class="left-align-label">@(x++).&nbsp;&nbsp;@item.QuestionDetail </label>
                                            </td>
                                        </tr>
                                        <tr id="tr_@item.SurveyQuestionId">
                                            <td>
                                                @for (int j = 0; j < ViewBag.SurveyAnswer.Count; j++)
                                                {
                                                    if (ViewBag.SurveyAnswer[j].SurveyQuestionId == item.SurveyQuestionId)
                                                    {
                                                        if (ViewBag.SurveyAnswer[j].AnswerDetail != null)
                                                        {
                                                            <label class="radio-inline">
                                                                <input type="radio" name="@ViewBag.SurveyAnswer[j].SurveyQuestionId" id="@ViewBag.SurveyAnswer[j].SurveyAnswerId" value="@ViewBag.SurveyAnswer[j].AnswerId">&nbsp;&nbsp;@ViewBag.SurveyAnswer[j].AnswerDetail
                                                                @*<input type="hidden" name="@ViewBag.SurveyAnswer[j].SurveyQuestionId" id="answer_@ViewBag.SurveyAnswer[j].AnswerId" />*@
                                                            </label>
                                                        }
                                                        else
                                                        {
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="form-group">
                                                                        <textarea class="form-control" rows="3" style="overflow:auto;" type="text" name="suggest" placeholder="ข้อเสนอแนะอื่น ๆ (ถ้ามี)"></textarea>
                                                                        <input type="hidden" name="suggest_surveyquestion_id" value="@item.SurveyQuestionId" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <br />
                            }
                        }
                        <div class="row">
                            <div id="surveyAnswer"></div>
                            <div class="row text-center">
                                <button class="btn text-center" id="btnSubmit" style="width:100px;background-color:#047ed6;color:white">ส่ง</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <input type="hidden" name="survey_id" value="@ViewBag.Survey.SurveyId" />
    <input type="hidden" name="viewlog_id" value="@ViewBag.ViewLog" />

</form>
        <br />
        <br />
        <br />

        @section ViewSpecificJavascript
{
            <script type="text/javascript">
                var answers = 0;
                var elmName = '';
                var elmId = '';
                var elmVal = '';

                $(function () {
                    //const allStars = document.querySelectorAll('.star');
                    //console.log(allStars);
                });

                //------------------------------------------------ Event ---------------------------------------------------
                $('input').on('ifChanged', function () {
                    let name = (this).name;
                    let id = (this).id;
                    let val = (this).value;

                    if ($(this).is(':checked')) {
                        $('#trValidate_' + name).remove();
                        //create element answer
                        $('#surveyAnswer').append(`<input type="hidden" id="answer_${id}" name="answers" value="SQ${name}:SA${id}:A${val}" />`);
                        console.log("value=SQ${ name }: SA${ id }: A${ val } = ", `SQ${name}:SA${id}:A${val}` );

                    } else {
                        //remove element answer
                        $(`#answer_${id}`).remove();
                        //console.log("remove: ", `#answer_${id}`);
                    }
                });

                $('#btnSubmit').click(function (e) {
                    e.preventDefault()
                    if (valid()) {
                        $('#btnSubmit').attr('disabled', true);
                        $('form').submit();
                    }
                });

                $('a.star').click(function (e) {
                    e.preventDefault();
                    console.log(e.delegateTarget.id);
                    console.log(e);
                    let e_id = parseInt(e.delegateTarget.id);

                    answers = e_id;
                    //console.log("answers:", e_id);

                    for (var i = 0; i < 5; i++) {
                        var b = 1;
                        var c = b + i;
                        var a = ".star#" + c;
                        $(a).html("&#9734");
                    }


                    for (var i = 0; i < e_id; i++) {
                        var b = 1;
                        var c = b + i;
                        var a = ".star#" + c;
                        $(a).html("&#9733");
                    }

                    //console.log("name:", elmName, "id:", elmId, "value:", elmVal);

                });

                //------------------------------------------------ Method ---------------------------------------------------
                function MySurveyAnswerId(_name, _id, _value) {
                    elmName = _name;
                    elmId = _id;
                    elmVal = _value;
                    //remove validate
                    $('#trValidate_starQuestion').remove();
                    //remove previous answer
                    $('#answer_' + elmId).remove();
                    //create element answer
                    $('#surveyAnswer').append(`<input type="hidden" id="answer_${elmId}" name="answers" value="SQ${elmName}:SA${elmId}:A${elmVal}" />`);
                }

                //Function Validate
                function valid() {
                    let success = true
                    $('#trValidate_starQuestion').remove();
                    if (answers == 0) {
                        $('<tr id = "trValidate_starQuestion"><td><label  class="left-align-label" style="color:red">กรุณาตอบแบบสอบถาม</label></td></tr>').insertAfter('#starQuestion');
                        success = false;
                    }

                    var surveyQuestion = @Html.Raw(Json.Encode(ViewBag.SurveyQuestion)); // ค่า SurveyQuestion จาก ViewBag
                    var surveyAnswer = @Html.Raw(Json.Encode(ViewBag.SurveyAnswer)); // ค่า SurveyAnswer จาก ViewBag

                    $.each(surveyQuestion, function (index, question) {
                        //debugger;
                        //console.log("question: ", question);
                        var questionGroupName = question.SurveyQuestionId;
                        var radioButtons = $(':radio[name="' + questionGroupName + '"]');

                        // ตรวจสอบว่าเป็น คำถามแรกหรือไม่
                        var isNotFirstQuestion = (radioButtons.index(this) !== 0);

                        // ตรวจสอบว่าเป็น คำถามสุดท้ายหรือไม่
                        var isNotLastQuestion = (radioButtons.index(this) !== radioButtons.length - 1);

                        //remove element answer
                        $('#trValidate_' + questionGroupName).remove();

                        if (!($(':radio[name="' + questionGroupName + '"]:checked').length > 0) && isNotFirstQuestion && isNotLastQuestion) {
                            //console.log(questionGroupName + " unchecked");
                            //create element answer
                            $('<tr id="trValidate_' + questionGroupName + '"><td><label  class="left-align-label" style="color:red">กรุณาตอบแบบสอบถาม</label></td></tr>').insertAfter('#tr_' + questionGroupName);
                            success = false;
                        }
                    });

                    return success;
                }

            </script>
        }

