
@{
    ViewBag.Title = "การจัดการข้อมูลสถานศึกษา";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal" style="margin-top:10px">

    <div class="row">
        <div class="col-xs-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#NavInfo" data-toggle="tab" aria-expanded="true"><h5>ข้อมูลสถานศึกษา</h5></a></li>
                    <li class=""><a href="#NavHistory" data-toggle="tab" aria-expanded="false"><h5>ประวัติการทำรายการ</h5></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="NavInfo">
                        <div class="row" style="margin-top:1%">
                            <div class="col-sm-2">
                                <label>ประเภทสถานศึกษา:</label>
                            </div>
                            <div class="col-sm-8">
                                <span id="lblOgn_Type"></span>
                            </div>
                            <div class="col-sm-2">
                                <label>สถานะการใช้งาน:</label>
                                <span id="lblOgn_Status"></span>
                            </div>
                        </div>
                        <div class="row" style="margin-top:1%">
                            <div class="col-sm-2">
                                <label>คำนำหน้าสถานศึกษา:</label>
                            </div>
                            <div class="col-sm-10">
                                <span id="lblOgn_Title"></span>
                            </div>
                        </div>
                        <div class="row" style="margin-top:1%">
                            <div class="col-sm-3">
                                <label>ที่อยู่ เลขที่:</label>
                                <span id="lblOgn_No"></span>
                            </div>
                            <div class="col-sm-3">
                                <label>หมู่ที่:</label>
                                <span id="lblOgn_Moo"></span>
                            </div>
                            <div class="col-sm-4">
                                <label>หมู่บ้าน/อาคาร:</label>
                                <span id="lblOgn_BuildingName"></span>
                            </div>
                            <div class="col-sm-1">
                                <label>ชั้น:</label>
                                <span id="lblOgn_Floor"></span>
                            </div>
                        </div>
                        <div class="row" style="margin-top:1%">
                            <div class="col-lg-3">
                                <label> ซอย:</label>
                                <span id="lblOgn_Soi"></span>
                            </div>
                            <div class="col-lg-9">
                                <label>ถนน:</label>
                                <span id="lblOgn_Road"></span>
                            </div>
                        </div>
                        <div class="row" style="margin-top:1%">
                            <div class="col-lg-3">
                                <label>ตำบล:</label>
                                <span id="lblOrg_SubDistrictDetail"></span>
                            </div>
                            <div class="col-lg-3">
                                <label>อำเภอ:</label>
                                <span id="lblOrg_DistrictDetail"></span>
                            </div>
                            <div class="col-lg-3">
                                <label>จังหวัด:</label>
                                <span id="lblOrg_ProvinceDetail"></span>
                            </div>
                            <div class="col-lg-3">
                                <label>รหัสไปรษณีย์:</label>
                                <span id="lblOrg_ZipCode"></span>
                            </div>
                        </div>
                        <div class="row" style="margin-top:1%">
                            <div class="col-sm-2">
                                <label>ชื่อสถานศึกษา:</label>
                            </div>
                            <div class="col-sm-9">
                                <span id="lblOrg_OrganizeDetail"></span>
                            </div>
                        </div>
                        <div class="row" style="margin-top:3%;">
                            <div class="col-lg-12">
                                <div class="box box box-solid">
                                    <div class="col-lg-12 box-header with-border" style="background-color: #555555; color: #ffffff ">
                                        <h3 class="box-title">ข้อมูลการติดต่อ</h3>

                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-chevron-down" style="color:white; min-width:auto; min-height:auto"></i>
                                            </button>
                                        </div>
                                        <!-- /.box-tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="row" style="margin-top:4%">
                                            <div class="col-lg-4">
                                                <i class="fa fa-fw fa-phone"></i>
                                                <label>เบอร์โทรศัพท์หลัก:</label>
                                                <span id="lblMMobileNo"></span>
                                            </div>
                                            <div class="col-lg-4">
                                                <i class="fa fa-fw fa-phone"></i>
                                                <label>เบอร์โทรศัพท์รอง:</label>
                                                <span id="lblSMobileNo"></span>
                                            </div>
                                            <div class="col-lg-4">
                                                <i class="fa fa-fw fa-phone"></i>
                                                <label>เบอร์โทรศัพท์อื่นๆ:</label>
                                                <span id="lblOMobileNo"></span>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:2%">
                                            <div class="col-lg-4">
                                                <label>Email:</label>
                                                <span id="lblEmail"></span>
                                            </div>
                                            <div class="col-lg-4">
                                                <label>ID Line:</label>
                                                <span id="lblIdLine"></span>
                                            </div>
                                            <div class="col-lg-4">
                                                <i class="fa fa-fw fa-facebook-square" style="color:darkblue; min-width:auto; min-height:auto"></i>
                                                <label>ID Facebook:</label>
                                                <span id="lblIdFacebook"></span>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:2%">
                                            <div class="col-lg-4">
                                                <i class="fa fa-fw fa-twitter" style="color:deepskyblue; min-width:auto; min-height:auto"></i>
                                                <label>ID Twitter:</label>
                                                <span id="lblIdTwitter"></span>
                                            </div>
                                            <div class="col-lg-4">
                                                <i class="fa fa-fw fa-instagram" style="color:#D81B60; min-width: auto; min-height: auto"></i>
                                                <label>ID Instagram:</label>
                                                <span id="lblIdInstagram"></span>
                                            </div>
                                            <div class="col-lg-4">
                                                <i class="fa fa-fw fa-youtube-play" style="color:red; min-width:auto; min-height:auto"></i>
                                                <label>ID Youtube:</label>
                                                <span id="lblIdYoutube"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="NavHistory">
                        <div class="row">
                            <div class="col-xs-12">
                                <table id="dtHistory" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Transactions-->
    <div class="modal fade in" id="modal-TransactionDetail" style="display: none; padding-right: 5px;">
        <div class="modal-dialog" style="width:70%">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">รายละเอียด Transaction</h3>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="dtTransactionDetail" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                        </div>
                    </div>
                    <div class="row" style="margin-top:3%; text-align:center;">
                        <button type="button" class="btn btn-danger form-control" style="max-width: 10%; margin-left: 3%; border-radius:10px; text-decoration: none" data-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="hdfOrganizeID" value="@ViewBag.organizeID" />
</form>


@section ViewSpecificJavascript
{
    <script type="text/javascript">

        $(function () {
            GetDetailOrganize()
            GetContactOrganize()
            getHistory()
        })

//-------------------------------------------------GetData-------------------------------------------------//
         const GetDetailOrganize = () => {

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetOrganizeDetailById", "AcademyManagement")",
                data: {
                    organizeId: $('#hdfOrganizeID').val()
                },
                dataType: "json",
                async: false,
                success: function (res) {
                    if (res.IsActive == true) {
                        $('#lblOgn_Status').text('ใช้งาน').css("color","green")
                    } else {
                        $('#lblOgn_Status').text('ไม่ใช้งาน').css("color", "red")
                    }
                    $('#lblOgn_Type').text(res.OrganizeTypeDetail)
                   // $('#lblOgnStatus').text(res.IsActive)
                    $('#lblOgn_Title').text(res.OrganizeTitle)
                    $('#lblOgn_No').text(res.No)
                    $('#lblOgn_Moo').text(res.Moo)
                    $('#lblOgn_BuildingName').text(res.VillageName)
                    $('#lblOgn_Floor').text(res.Floor)
                    $('#lblOgn_Soi').text(res.Soi)
                    $('#lblOgn_Road').text(res.Road)
                    $('#lblOrg_SubDistrictDetail').text(res.SubDistrictDetail)
                    $('#lblOrg_DistrictDetail').text(res.DistrictDetail)
                    $('#lblOrg_ProvinceDetail').text(res.ProvinceDetail)
                    $('#lblOrg_ZipCode').text(res.ZipCode)
                    $('#lblOrg_OrganizeDetail').text(res.OrganizeDetail)
                }
            });

        }

        const GetContactOrganize = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetOrganizeContact", "AcademyManagement")",
                data: {
                    organizeId: $('#hdfOrganizeID').val()
                },
                dataType: "json",
                success: function (response) {
                    for (let item in response) {
                        switch (response[item].ContactType_ID) {
                            case 3:
                                $("#lblMMobileNo").text(response[item].OrganizeContactDetail)
                                break;
                            case 7:
                                $("#lblSMobileNo").text(response[item].OrganizeContactDetail)
                                break;
                            case 8:
                                $("#lblOMobileNo").text(response[item].OrganizeContactDetail)
                                break;
                            case 4:
                                $("#lblEmail").text(response[item].OrganizeContactDetail)
                                break;
                            case 6:
                                $("#lblIdLine").text(response[item].OrganizeContactDetail)
                                break;
                            case 5:
                                $("#lblIdFacebook").text(response[item].OrganizeContactDetail)
                                break;
                            case 9:
                                $("#lblIdTwitter").text(response[item].OrganizeContactDetail)
                                break;
                            case 11:
                                $("#lblIdInstagram").text(response[item].OrganizeContactDetail)
                                break;
                            case 10:
                                $("#lblIdYoutube").text(response[item].OrganizeContactDetail)
                                break;
                            default:
                        }
                    }
                }
            });
        }

        //--------------------------------------Datatable-----------------------------------------//

        const getHistory = () => {
            $('#dtHistory').empty();
            var t = $('#dtHistory').dataTable({
                    pageLength: 10,
                    processing: true,
                    serverSide: true,
                    responsive: true,
                    searching: false,
                    "order": [[0, "desc"]],
                    destroy: true,
                    ajax: {
                        url: '@Url.Action("GetOrganizeTransaction", "AcademyManagement")',
                        type: 'POST',
                        async: false,
                           data: function (d) {
                               d.draw = d.draw;
                               d.pageSize = d.length;
                               d.indexStart = d.start;
                               d.sortField = d.columns[d.order[0].column].data;

                               d.orderType = d.order[0].dir;
                               d.search = d.search.value;

                               d.organizeId = $('#hdfOrganizeID').val();
                           }
                       },
                       columns: [
                           { title: 'TransactionCode', data: 'OrganizeTransactionCode', className: 'h-dt-center text-font-small', width: '8%' },
                           { title: 'ประเภทการทำรายการ', data: 'TransactionType', className: 'h-dt-center text-font-small', width: '8%' },
                           {
                               title: 'วันที่ทำรายการ', data: 'CreatedDate', className: 'h-dt-center', width: '8%',
                               mRender: function (data) {
                                   moment.locale('th');
                                   return moment(data).add(543, 'years').format("DD/MM/YYYY HH:mm:ss", "LLLL");
                               }
                           },
                           { title: 'ผู้ทำรายการ', data: 'CreatedByName', className: 'h-dt-center text-font-small', width: '10%' },
                           {
                               title: 'เลือก',
                               data: null,
                               className: 'h-dt-center d-dt-center ',
                               mRender: (data, type, full) => {
                                   return '<button type="button"  class="btn btn-success btn-sm" id="btnEdit' + data.OrganizeTransactionId + '"><i class="glyphicon glyphicon glyphicon-eye-open ColorWhite"></i> ดู</button>'
                               }, width: '5%'
                           },
                       ],
                       bLengthChange: false,
            });

            $('#dtHistory tbody').on('click', 'td button', function () {
                debugger;
                var table = $('#dtHistory').DataTable();
                var data = table.row($(this).closest('tr')).data()
                let transactionId = data.OrganizeTransactionId;
                console.log(transactionId)
                GetTransactionDetail(transactionId);
                $('#modal-TransactionDetail').modal('show');
            });
        }

        const GetTransactionDetail = (id) => {
            console.log(id)
            $('#dtTransactionDetail').empty();
            var t = $('#dtTransactionDetail').dataTable({
                    pageLength: 10,
                    processing: true,
                    serverSide: true,
                    responsive: true,
                    searching: false,
                    "order": [[0, "desc"]],
                    destroy: true,
                    ajax: {
                        url: '@Url.Action("GetOrganizeTransactionDetail", "AcademyManagement")',
                        type: 'POST',
                        async: false,
                           data: function (d) {
                               d.draw = d.draw;
                               d.pageSize = d.length;
                               d.pageStart = d.start;
                               d.sortField = d.columns[d.order[0].column].data;

                               d.orderType = d.order[0].dir;
                               d.search = d.search.value;

                               d.organizeTransactionId = id;
                           }
                       },
                       columns: [
                           { title: 'Detail', data: 'TransactionSubType', className: 'h-dt-center text-font-small', width: '8%' },
                           { title: 'รายละเอียดเดิม', data: 'FromDetail', className: 'h-dt-center text-font-small', width: '10%' },
                           { title: 'รายละเอียดใหม่', data: 'ToDetail', className: 'h-dt-center text-font-small', width: '10%' },
                       ],
                       bLengthChange: false,
            });
        }


    </script>
}

