@{
    ViewBag.Title = "รายละเอียดผลงานตัวแทน";

}
<style>
    .table {
        font-size: 14px
    }
</style>
<form action="" method="post" id="Mainform">
    <div class="row">
        @* Search form *@
        <div class="col-sm-12" id="Search_form">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">ค้นหา</h3>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-sm-offset-2 col-sm-3">
                            <label for="" class="control-label">ประจำเดือน/ปี:</label>
                            <select class="select2 form-control" id="select_period">
                                <option value="-1">---กรุณาเลือกงวดค่าตอบแทน---</option>
                                @foreach(var itm in ViewBag.periodList)
                                {
                                    if(ViewBag.PeriodId == itm.Id)
                                    {
                                        <option value="@itm.Id" selected="selected">@itm.PayPeriod:@itm.Description</option>
                                    }
                                    else
                                    {
                                        <option value="@itm.Id">@itm.PayPeriod:@itm.Description</option>
                                    }

                                }
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="" class="control-label">รหัสพนักงาน:</label>
                            <select id="select_emp" class="select2 emp-data-ajax form-control"></select>
                        </div>
                        <div class="col-sm-2" style="margin-top: 25px">
                            <button type="button" class="btn btn-block btn-info" id="btnShow">แสดงรายการ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* end form *@
        @* result form *@
        <div class="col-sm-12" id="Detail_form">
            <div class="box box-default">
                <div class="box-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#PH">PH</a></li>
                        <li><a data-toggle="tab" href="#PA30">PA30</a></li>
                        <li><a data-toggle="tab" href="#PL">PL</a></li>
                        <li><a data-toggle="tab" href="#HP">HP</a></li>
                        <li><a data-toggle="tab" href="#MP">MP</a></li>
                        <li><a data-toggle="tab" href="#PACom">PA Community</a></li>
                        <li><a data-toggle="tab" href="#Lapse">Lapse</a></li>
                        <li><a data-toggle="tab" href="#UWG">UWG</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="PH" class="tab-pane fade in active">
                            @* new app PH *@
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <table id="dtNewAppPH" name="dtNewAppPH" class="table table-bordered table-striped" style="width: 100%"></table>
                                </div>
                            </div>
                            @* end *@
                        </div>
                        <div id="PA30" class="tab-pane fade">
                            @* NewApp PA 30 *@
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <table id="dtNewAppPA30" name="dtNewAppPA30" class="table table-bordered table-striped" style="width: 100%"></table>
                                </div>
                            </div>
                            @* end *@
                        </div>
                        <div id="PL" class="tab-pane fade">
                            @* NewApp PL *@
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <table id="dtNewAppPL" name="dtNewAppPH" class="table table-bordered table-striped" style="width: 100%"></table>
                                </div>
                            </div>
                            @* end *@
                        </div>
                        <div id="HP" class="tab-pane fade">
                            @* NewApp HP *@
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <table id="dtNewAppHP" name="dtNewAppPH" class="table table-bordered table-striped" style="width: 100%"></table>
                                </div>
                            </div>

                            @* end *@
                        </div>
                        <div id="MP" class="tab-pane fade">
                            @* NewApp MP *@
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <table id="dtNewAppMP" name="dtNewAppMP" class="table table-bordered table-striped" style="width: 100%"></table>
                                </div>
                            </div>
                        </div>
                        <div id="PACom" class="tab-pane fade">

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <table id="dtPACommu" name="dtPACommu" class="table table-bordered table-striped" style="width: 100%"></table>
                                </div>
                            </div>
                        </div>
                        <div id="Lapse" class="tab-pane fade">
                            @* Lapse *@

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <table id="dtLapse" name="dtLapse" class="table table-bordered table-striped" style="width: 100%"></table>
                                </div>
                            </div>

                            @* end *@
                        </div>
                        <div id="UWG" class="tab-pane fade">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <h4>UWG</h4>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <table id="dtUWG" name="dtNewAppPH" class="table table-bordered table-striped" style="width: 100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* end *@
                </div>
            </div>
        </div>
        @* end form *@
    </div>
    @* hidden *@
    <input type="hidden" id="hd_periodId" value="@ViewBag.PeriodId" />
    <input type="hidden" id="hd_empCode" value="@ViewBag.empCode" />
    <input type="hidden" id="hd_empFullName" value="@ViewBag.empFullName" />
    <input type="hidden" id="hd_isHasAuthen" value="@ViewBag.IsHasAuthen" />
    @* endhidden *@
</form>
@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {

            //check role to enable search employee
            if ($('#hd_isHasAuthen').val() != "true") {
                $('#select_emp').prop('disabled', true);

            }

            if ($('#hd_empCode').val() != 'null') {
                var $option = $('<option></option>')
                    .attr('value', $("#hd_empCode").val())
                    .text($("#hd_empCode").val() + ':' + $('#hd_empFullName').val())
                    .prop('selected',true);
                $('#select_emp').append($option).change();
                 show_PH_Datatable();
                    show_PA30_Datatable();
                    show_PL_Datatable();
                show_HP_Datatable();
                show_MP_Datatable();
                    show_PACommunity_Datatable();
                    show_Lapse_Datatable();

            } else {
                SetSelect2DDL();
            }

            //check if click event
            $('#select_emp').click(() => {
                $('#select_emp').empty();
                SetSelect2DDL();
            });

            $('#btnShow').click(() => {
                if ($('#select_period').val() == -1 || $('#select_emp').val() == null) {
                    swal_info("กรุณากรอกคำค้นหา");
                } else {
                    show_PH_Datatable();
                    show_PA30_Datatable();
                    show_PL_Datatable();
                    show_HP_Datatable();
                    show_PACommunity_Datatable();
                    show_MP_Datatable();
                    show_Lapse_Datatable();
                }
            });

        });

        //PH
        const show_PH_Datatable = () => {
            $('#dtNewAppPH').empty();
            var groupColumn = 0;
            var table = $('#dtNewAppPH').DataTable({
                lengthChange: false,
                sortable: false,
                paginate:false,
                searching: false,
                processing: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetNewAppPH_DT","Report")',
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = 999999;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search;
                        d.periodId = $('#select_period').val();
                        d.mainKey = $('#select_emp').val();
                    }
                },
                order: [[groupColumn, 'asc']],
                columnDefs: [
                    { "visible": false, "targets": groupColumn }
                ],
                columns: [
                    {data:'xDetailType'},
                    { title: 'App_Id', data: 'App_Id' },
                    {
                        title: 'วันที่คุ้มครอง',
                        data: 'StartCoverDate',
                        render: function (data) {
                            if (data != null) {
                                return moment(data).format('DD/MM/YYYY');
                            } else {
                                return '';
                            }
                        }
                    },
                    { title: 'ชื่อผู้เอาประกัน', data: 'CustName' },
                    { title: 'แผน', data: 'Product' },
                    { title: 'เบี้ย', data: 'Premium' },
                    { title: 'ชื่อผู้ชำระเบี้ย', data: 'PayerName' },
                    { title: 'อำเภอ', data: 'PayerAmphoe' },
                    { title: 'จังหวัด', data: 'PayerProvince' },
                    { title: 'เขตพื้นที่', data: 'PayerStudyArea' },
                    { title: 'สาขา', data: 'PayerBranch' },
                    { title: 'รหัสพนักงาน', data: 'Sale_Id1' },
                    { title: 'ชื่อพนักงาน', data: 'SaleName' }
                ],
                displayLenght: 30,
                //draw header group by ท่านบูม
                drawCallback: function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {

                    if (last !== group) {

                            $(rows).eq(i).before(
                                '<tr class="group info"><td colspan="12" class="d-dt-center"><h4>' + group  + '</h4></td></tr>'
                            );

                            last = group;
                        }
                    });
                }

            });
        }

        //PA30
         const show_PA30_Datatable = () => {
            $('#dtNewAppPA30').empty();
            var groupColumn = 0;
            var table = $('#dtNewAppPA30').DataTable({
                lengthChange: false,
                sortable: false,
                paginate:false,
                searching: false,
                processing: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetNewAppPA30_DT","Report")',
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = 999999;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search;
                        d.periodId = $('#select_period').val();
                        d.mainKey = $('#select_emp').val();
                    }
                },
                order: [[groupColumn, 'asc']],
                columnDefs: [
                    { "visible": false, "targets": groupColumn }
                ],
                columns: [
                    {data:'xDetailType'},
                    { title: 'App_Id', data: 'App_Id' },
                    {
                        title: 'วันที่คุ้มครอง',
                        data: 'StartCoverDate',
                        render: function (data) {
                            if (data != null) {
                                return moment(data).format('DD/MM/YYYY');
                            } else {
                                return '';
                            }
                        }
                    },
                    { title: 'ชื่อผู้เอาประกัน', data: 'CustName' },
                    { title: 'แผน', data: 'Product' },
                    { title: 'เบี้ย', data: 'Premium' },
                    { title: 'ชื่อผู้ชำระเบี้ย', data: 'PayerName' },
                    { title: 'อำเภอ', data: 'PayerAmphoe' },
                    { title: 'จังหวัด', data: 'PayerProvince' },
                    { title: 'เขตพื้นที่', data: 'PayerStudyArea' },
                    { title: 'สาขา', data: 'PayerBranch' },
                    { title: 'รหัสพนักงาน', data: 'Sale_Id1' },
                    { title: 'ชื่อพนักงาน', data: 'SaleName' }
                ],
                displayLenght: 30,
                //draw header group by ท่านบูม
                drawCallback: function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {

                    if (last !== group) {

                            $(rows).eq(i).before(
                                '<tr class="group info"><td colspan="12" class="d-dt-center"><h4>' + group  + '</h4></td></tr>'
                            );

                            last = group;
                        }
                    });
                }

            });
        }

        //PL
         const show_PL_Datatable = () => {
            $('#dtNewAppPL').empty();
            var groupColumn = 0;
            var table = $('#dtNewAppPL').DataTable({
                lengthChange: false,
                sortable: false,
                paginate:false,
                searching: false,
                processing: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetNewAppPL_DT","Report")',
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = 999999;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search;
                        d.periodId = $('#select_period').val();
                        d.mainKey = $('#select_emp').val();
                    }
                },
                order: [[groupColumn, 'asc']],
                columnDefs: [
                    { "visible": false, "targets": groupColumn }
                ],
                columns: [
                    {data:'xDetailType'},
                    { title: 'App_Id', data: 'App_Id' },
                    {
                        title: 'วันที่คุ้มครอง',
                        data: 'StartCoverDate',
                        render: function (data) {
                            if (data != null) {
                                return moment(data).format('DD/MM/YYYY');
                            } else {
                                return '';
                            }
                        }
                    },
                    { title: 'ชื่อผู้เอาประกัน', data: 'CustName' },
                    { title: 'แผน', data: 'Product' },
                    { title: 'เบี้ย', data: 'Premium' },
                    { title: 'ชื่อผู้ชำระเบี้ย', data: 'PayerName' },
                    { title: 'อำเภอ', data: 'PayerAmphoe' },
                    { title: 'จังหวัด', data: 'PayerProvince' },
                    { title: 'เขตพื้นที่', data: 'PayerStudyArea' },
                    { title: 'สาขา', data: 'PayerBranch' },
                    { title: 'รหัสพนักงาน', data: 'Sale_Id1' },
                    { title: 'ชื่อพนักงาน', data: 'SaleName' }
                ],
                displayLenght: 30,
                //draw header group by ท่านบูม
                drawCallback: function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {

                    if (last !== group) {

                            $(rows).eq(i).before(
                                '<tr class="group info"><td colspan="12" class="d-dt-center"><h4>' + group  + '</h4></td></tr>'
                            );

                            last = group;
                        }
                    });
                }

            });
        }

        //HP
         const show_HP_Datatable = () => {
            $('#dtNewAppHP').empty();
            var groupColumn = 0;
            var table = $('#dtNewAppHP').DataTable({
                lengthChange: false,
                sortable: false,
                paginate:false,
                searching: false,
                processing: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetNewAppHP_DT","Report")',
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = 999999;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search;
                        d.periodId = $('#select_period').val();
                        d.mainKey = $('#select_emp').val();
                    }
                },
                order: [[groupColumn, 'asc']],
                columnDefs: [
                    { "visible": false, "targets": groupColumn }
                ],
                columns: [
                    {data:'xDetailType'},
                    { title: 'App_Id', data: 'App_Id' },
                    {
                        title: 'วันที่คุ้มครอง',
                        data: 'StartCoverDate',
                        render: function (data) {
                            if (data != null) {
                                return moment(data).format('DD/MM/YYYY');
                            } else {
                                return '';
                            }
                        }
                    },
                    { title: 'ชื่อผู้เอาประกัน', data: 'CustName' },
                    { title: 'แผน', data: 'Product' },
                    { title: 'เบี้ย', data: 'Premium' },
                    { title: 'ชื่อผู้ชำระเบี้ย', data: 'PayerName' },
                    { title: 'อำเภอ', data: 'PayerAmphoe' },
                    { title: 'จังหวัด', data: 'PayerProvince' },
                    { title: 'เขตพื้นที่', data: 'PayerStudyArea' },
                    { title: 'สาขา', data: 'PayerBranch' },
                    { title: 'รหัสพนักงาน', data: 'Sale_Id1' },
                    { title: 'ชื่อพนักงาน', data: 'SaleName' }
                ],
                displayLenght: 30,
                //draw header group by ท่านบูม
                drawCallback: function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {

                    if (last !== group) {

                            $(rows).eq(i).before(
                                '<tr class="group info"><td colspan="12" class="d-dt-center"><h4>' + group  + '</h4></td></tr>'
                            );

                            last = group;
                        }
                    });
                }

            });
        }

        //MP
         const show_MP_Datatable = () => {
            $('#dtNewAppMP').empty();
            var groupColumn = 0;
            var table = $('#dtNewAppMP').DataTable({
                lengthChange: false,
                sortable: false,
                paginate:false,
                searching: false,
                processing: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetNewAppMP_DT","Report")',
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = 999999;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search;
                        d.periodId = $('#select_period').val();
                        d.mainKey = $('#select_emp').val();
                    }
                },
                order: [[groupColumn, 'asc']],
                columnDefs: [
                    { "visible": false, "targets": groupColumn }
                ],
                columns: [
                    {data:'xDetailType'},
                    { title: 'App_Id', data: 'AppId' },
                    { title: 'ชื่อผู้เอาประกัน', data: 'CustName' },
                    { title: 'แผน', data: 'ProductDetail' },
                    { title: 'เบี้ย', data: 'PremiumPerMonth' },
                    { title: 'ชื่อผู้ชำระเบี้ย', data: 'PayerName' },
                    { title: 'อำเภอ', data: 'PayerDistrict' },
                    { title: 'จังหวัด', data: 'PayerProvince' },
                    { title: 'เขตพื้นที่', data: 'PayerStudyArea' },
                    { title: 'สาขา', data: 'PayerBranchDetail' },
                    { title: 'รหัสพนักงาน', data: 'Sale_Id1' },
                    { title: 'ชื่อพนักงาน', data: 'SaleName' }
                ],
                displayLenght: 30,
                //draw header group by ท่านบูม
                drawCallback: function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {

                    if (last !== group) {

                            $(rows).eq(i).before(
                                '<tr class="group info"><td colspan="12" class="d-dt-center"><h4>' + group  + '</h4></td></tr>'
                            );

                            last = group;
                        }
                    });
                }

            });
        }

        //PA Community
         const show_PACommunity_Datatable = () => {
            $('#dtPACommu').empty();
            var groupColumn = 0;
            var table = $('#dtPACommu').DataTable({
                lengthChange: false,
                sortable: false,
                paginate:false,
                searching: false,
                processing: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetNewAppPACommunity_DT","Report")',
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = 999999;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search;
                        d.periodId = $('#select_period').val();
                        d.mainKey = $('#select_emp').val();
                    }
                },
                order: [[groupColumn, 'asc']],
                columnDefs: [
                    { "visible": false, "targets": groupColumn }
                ],
                columns: [
                    {data:'xDetailType'},
                    { title: 'App_Id', data: 'App_Id' },
                    {
                        title: 'วันที่คุ้มครอง',
                        data: 'StartCoverDate',
                        render: function (data) {
                            if (data != null) {
                                return moment(data).format('DD/MM/YYYY');
                            } else {
                                return '';
                            }
                        }
                    },
                    { title: 'ชื่อผู้เอาประกัน', data: 'CustName' },
                    { title: 'แผน', data: 'Product' },
                    { title: 'เบี้ย', data: 'Premium' },
                    { title: 'ชื่อผู้ชำระเบี้ย', data: 'PayerName' },
                    { title: 'อำเภอ', data: 'PayerAmphoe' },
                    { title: 'จังหวัด', data: 'PayerProvince' },
                    { title: 'เขตพื้นที่', data: 'PayerStudyArea' },
                    { title: 'สาขา', data: 'PayerBranch' },
                    { title: 'รหัสพนักงาน', data: 'Sale_Id1' },
                    { title: 'ชื่อพนักงาน', data: 'SaleName' }
                ],
                displayLenght: 30,
                //draw header group by ท่านบูม
                drawCallback: function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {

                    if (last !== group) {

                            $(rows).eq(i).before(
                                '<tr class="group info"><td colspan="12" class="d-dt-center"><h4>' + group  + '</h4></td></tr>'
                            );

                            last = group;
                        }
                    });
                }

            });
        }

        //Lapse
         const show_Lapse_Datatable = () => {
            $('#dtLapse').empty();
            var groupColumn = 0;
            var table = $('#dtLapse').DataTable({
                lengthChange: false,
                sortable: false,
                paginate:false,
                searching: false,
                processing: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetLapse_DT","Report")',
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = 999999;
                        d.indexStart = d.start;
                        d.sortField = null;
                        d.orderType = null;
                        d.search = d.search;
                        d.periodId = $('#select_period').val();
                        d.mainKey = $('#select_emp').val();
                    }
                },
                order: [[groupColumn, 'asc']],
                columnDefs: [
                    { "visible": false, "targets": groupColumn }
                ],
                columns: [
                    {data:'xDetailType'},
                    { title: 'App_Id', data: 'App_Id' },
                    {title:'อายุกรมธรรม์',data:'Age_Cover'},
                    {
                        title: 'วันที่คุ้มครอง',
                        data: 'StartCoverDate',
                        render: function (data) {
                            if (data != null) {
                                return moment(data).format('DD/MM/YYYY');
                            } else {
                                return '';
                            }
                        }
                    },
                    { title: 'ชื่อผู้เอาประกัน', data: 'CustName' },
                    { title: 'แผน', data: 'Product' },
                    { title: 'เบี้ย', data: 'Premium' },
                    { title: 'ชื่อผู้ชำระเบี้ย', data: 'PayerName' },
                    { title: 'อำเภอ', data: 'PayerAmphoe' },
                    { title: 'จังหวัด', data: 'PayerProvince' },
                    { title: 'เขตพื้นที่', data: 'PayerStudyArea' },
                    { title: 'สาขา', data: 'PayerBranch' },
                    { title: 'รหัสพนักงาน', data: 'Sale_Id1' },
                    { title: 'ชื่อพนักงาน', data: 'SaleName' }
                ],
                displayLenght: 30,
                //draw header group by ท่านบูม
                drawCallback: function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {

                    if (last !== group) {

                            $(rows).eq(i).before(
                                '<tr class="group info"><td colspan="13" class="d-dt-center"><h4>' + group  + '</h4></td></tr>'
                            );

                            last = group;
                        }
                    });
                }

            });
        }

         //set select2 auto complete
        const SetSelect2DDL = () => {
            $('#select_emp').select2({
                ajax: {
                    url: '@Url.Action("GetEmployeeData","Report")',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            empCode: params.term, // search term
                            page: params.page
                        }
                    },
                    processResults: function (data, search) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    id: item.EmployeeCode,
                                    text: item.EmployeeCode + ' : ' + item.FirstName + ' ' + item.LastName
                                }
                            })
                        };
                    },
                    cache: true
                },
                templateResult: function (item) {
                    if (item.loading) return item.text;
                    return item.text;
                },
                placeholder: 'กรุณากรอกรหัสพนักงาน',
                escapeMarkup: function (markup) { return markup; },
                minimumInputLength: 3,
                language: { inputTooShort: function () { return 'กรุณาใส่ตัวอักษรมากกว่า2หลัก'; } }

            });
        }
    </script>
}