@{
    ViewBag.Title = "จัดการสถานะรถม้าลาย";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary" style="margin-top:15px">
                <div class="box-body">
                    <div class="box-group">
                        <div class="row">
                            <div class="col-xs-3 col-xs-offset-1">
                                <label>ประเภทรถ :</label>
                                <select class="form-control select2  select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlCarType">
                                    <option value="-1">-----ทั้งหมด-----</option>
                                    @{
                                        foreach (var item in ViewBag.CarType)
                                        {
                                            <option value="@item.ZebraTypeId">@item.ZebraType</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-xs-4" style="padding-top:25px">
                                <input type="text" id="txtkeyword" class="form-control" placeholder="ค้นหา " />
                            </div>
                            <div class="col-xs-2" style="padding-top:25px">
                                <button type="button" class="btn btn-block btn-primary" style="text-decoration:none" id="btnSearch">ค้นหา</button>
                            </div>
                            <div class="col-xs-1 col-xs-offset-1" style="padding-top:25px">
                                <button id="btnExport" type="button" class="btn btn-block btn-success" style="float:right;"><i class="fa fa-file-excel-o" aria-hidden="true"></i></button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <table id="dtMonitor" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.modal-dialog -->
    <div class="modal fade in" id="modal-ActiveZebra" style="display: none; padding-right: 5px;">
        <div class="modal-dialog" style="width:55%">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">สถานะรถม้าลาย</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-1">
                            <label>เบอร์รถ :</label>
                            <label id="lblZebraCarNo"></label>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 5px;">
                        <div class="col-xs-11 col-xs-offset-1">
                            <label>ทะเบียนรถ :</label>
                            <label id="lblZebraplate"></label>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 5px;">
                        <div class="col-xs-2 col-xs-offset-1">
                            <label>สถานะรถ:</label>
                        </div>
                        <div class="col-xs-6 ">

                            <input type="checkbox" class="icheckbox_minimal-blue" aria-checked="false" aria-disabled="false" style="position: relative;" id="chbEditActive" name="chbEditActive" /> ปกติ
                        </div>
                    </div>
                    <div class="row" style="padding-top: 5px;">
                        <div class="col-xs-12" style="text-align:center">
                            <button type="button" class="btn btn-success" id="btnSaveUpdate" disabled><i class="glyphicon glyphicon-ok"></i>ตกลง</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>ยกเลิก</button>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <input type="hidden" id="hdfZebraId" />
</form>

@section ViewSpecificJavascript
{
    <script type="text/javascript">
        let oldIsActive;
        $(function () {

            $('#chbEditActive').on('ifChanged', function () {

                let val = $('#chbEditActive').is(':checked');
                if (val == oldIsActive) {
                    $('#btnSaveUpdate').prop('disabled', true);
                }
                else {
                    $('#btnSaveUpdate').prop('disabled', false);
                }
            });

            $('#btnSearch').click(function (e) {
                e.preventDefault();
                LoadData();
            });

            $('#btnSaveUpdate').click(function (e) {
                e.preventDefault();
                swal({
                    title: "",
                    text: "ยืนยันการบันทึกรายการ",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "ตกลง",
                    cancelButtonText: "ยกเลิก",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            DoUpdateActive();
                        } else {
                            //swal("ยกเลิกทำรายการ", "", "error");
                        }
                    }
                );
            });

            $('#btnExport').click(function (e) {
                e.preventDefault();
                Export();
            });

        });

        //////////////////////// Function /////////////////////////////

        const DoUpdateActive = () => {

            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateActive", "ZebraManagement")",
                data: {
                    zebraId: $('#hdfZebraId').val(),
                    isActive: $('#chbEditActive').is(':checked'),
                },
                dataType: "json",
                success: function (response) {
                    if (response.IsResult == true) {

                        //alert Msg
                        swal("", response.Msg, "success");

                        //doclear
                        DoClear();

                        //doload
                        LoadData();

                        //hide modal
                        $('#modal-ActiveZebra').modal('hide');

                    } else {
                        //alert Msg
                        swal("ตรวจสอบข้อมูล", response.Msg, "warning");
                        $('#modal-ActiveZebra').modal('show');

                    }
                }
            });
        }

        const LoadData = () => {
            $('#dtMonitor').empty();
            var t = $('#dtMonitor').dataTable({
                    pageLength: 10,
                    processing: true,
                    serverSide: true,
                    responsive: true,
                    searching: false,
                    "order": [[0, "desc"]],
                    destroy: true,
                    ajax: {
                        url: '@Url.Action("GetZebraManagement", "ZebraManagement")',
                        type: 'POST',
                        async: false,
                           data: function (d) {
                               d.draw = d.draw;
                               d.pageSize = d.length;
                               d.pageStart = d.start;
                               d.sortField = d.columns[d.order[0].column].data;

                               d.orderType = d.order[0].dir;
                               d.search = d.search.value;

                               d.CarTypeId = $('#ddlCarType').val();
                               d.keyword = $('#txtkeyword').val().trim();
                           }
                       },
                        columns: [
                            { title: 'ประเภทรถ', data: 'ZebraType', className: 'h-dt-center text-font-small', width: '8%' },
                            { title: 'สังกัดบริษัท', data: 'Abbreviation', className: 'h-dt-center text-font-small', width: '15%' },
                            { title: 'เบอร์รถ', data: 'Zebra_No', className: 'h-dt-center text-font-small', width: '15%' },
                            { title: 'ยี่ห้อรถ/รุ่นรถ', data: 'BrandXModel', className: 'h-dt-center text-font-small', width: '15%' },
                            { title: 'ทะเบียนรถ', data: 'PlateNo', className: 'h-dt-center text-font-small', width: '15%' },
                            { title: 'ผู้ดูแลรถ', data: 'OwnerEmployeeFullName', className: 'h-dt-center text-font-small', width: '20%' },
                            { title: 'สถานะรถ', data: 'CarStatus', className: 'h-dt-center text-font-small', width: '10%' },
                            { title: 'การใช้งาน', data: 'CarOwnerStatus', className: 'h-dt-center text-font-small', width: '15%' },
                            {
                                title: 'เลือก',
                                data: null,
                                className: 'h-dt-center d-dt-center ',
                                mRender: (data, type, full) => {
                                    return '<button type="button"  class="btn btn-warning btn-sm" id="btnEdit' + data.Zebra_ID + '"><i class="glyphicon glyphicon glyphicon-pencil ColorWhite"></i>แก้ไข</button>'

                                }, width: '5%'
                            },
                        ],
                       bLengthChange: false,
            });

            $('#dtMonitor tbody').on('click', 'td button', function () {
                DoClear();
                var table = $('#dtMonitor').DataTable();
                var data = table.row($(this).closest('tr')).data()
                let ZebraId = data.Zebra_ID;

                $('#hdfZebraId').val(ZebraId);
                $('#lblZebraCarNo').text(data.Zebra_No);
                $('#lblZebraplate').text(data.PlateNo);
                oldIsActive = data.IsActive;

                if (data.IsActive == true) {
                    $('#chbEditActive').iCheck('check');
                } else {
                    $('#chbEditActive').iCheck('uncheck');
                }

                $('#modal-ActiveZebra').modal('show');

            });
        }

        function Export() {
            $('#btnExport').prop('disabled', true);
            $("body").css("cursor", "progress");

            $.ajax({
                url: "@Url.Action("ExportZebraManagementReport", "ZebraManagement")",
                type: "GET",
                data: {
                    CarTypeId : $('#ddlCarType').val(),
                    IsActive: $('#ddlCarStatus').val(),
                    IsOwner :$('#ddlOwnerStatus').val(),
                    keyword :$('#txtkeyword').val().trim()
                },
                success: function (data) {
                    window.location = "@Url.Action("DownloadExportZebraManagement", "ZebraManagement")";
                    //loadingSpinner('fadeOut');
                    $("body").css("cursor", "default");
                    $('#btnExport').prop('disabled', false);
                },
                 error: function (jqXHR, exception) {
                     checkXHRStatus(jqXHR.status);
                     //loadingSpinner('fadeOut');
                 }
            });
        }

        const DoClear = () => {
            $('#lblZebraCarNo').val('');
            $('#lblZebraplate').val('');
            $('#chbEditActive').iCheck('uncheck');
        }
    </script>
}