@{
    ViewBag.Title = "จัดการข้อมูลผู้ดูแลรถม้าลาย";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal">
    <div class="row">

        <div class="col-xs-12">

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#NavZebraCaretaker" data-toggle="tab" aria-expanded="true"><h5>ข้อมูลผู้ดูแลรถม้าลาย</h5></a></li>
                    <li class=""><a href="#NavTransaction" data-toggle="tab" aria-expanded="false"><h5>ประวัติการทำรายการรถม้าลาย</h5></a></li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane active" id="NavZebraCaretaker">
                        <div class="row">
                            <div class=" col-xs-3 col-xs-offset-1">
                                <label>สังกัดบริษัท :</label>
                                <input class="form-control" type="text" placeholder="" id="txtCompanyType" disabled>
                            </div>
                            <div class="col-xs-3">
                                <label>วันที่รับรถจากศูนย์ :</label>
                                <input type="text" class="form-control pull-right " id="dtpReceiveCarDate" data-provide="datepicker" data-date-language="th-th" placeholder="dd/mm/yyyy" data-format="dd/MM/yyyy" disabled>
                            </div>
                        </div>

                        <div class="row" style="padding-top:5px">
                            <div class="col-xs-3 col-xs-offset-1">
                                <label>เบอร์รถ :</label>
                                <input class="form-control" type="text" placeholder="" id="txtZebraNo" disabled>
                            </div>

                            <div class="col-xs-3">
                                <label>สีรถ :</label>
                                <input class="form-control" type="text" placeholder="" id="txtZebraColor" disabled>
                            </div>
                        </div>

                        <div class="row" style="padding-top:5px">
                            <div class="col-xs-3 col-xs-offset-1">
                                <label>ยี่ห้อรถ :</label>
                                <input class="form-control" type="text" placeholder="" id="txtBrandCar" disabled>
                            </div>
                            <div class="col-xs-3">
                                <label>รุ่นรถ :</label>
                                <input class="form-control" type="text" placeholder="" id="txtCarModel" disabled>
                            </div>
                            <div class="col-xs-3">
                                <label>รุ่นย่อย :</label>
                                <input class="form-control" type="text" placeholder="" id="txtCarSubModel" disabled>
                            </div>
                        </div>
                        <div class="row" style="padding-top:5px">
                            <div class="col-xs-3 col-xs-offset-1">
                                <label>ทะเบียนรถ :</label>
                                <input class="form-control" type="text" placeholder="" id="txtCarRegistration" disabled>
                            </div>
                            <div class="col-xs-3">
                                <label>จังหวัดทะเบียนรถ :</label>
                                <input class="form-control" type="text" placeholder="" id="txtProvinceCar" disabled>
                            </div>
                        </div>

                        <div class="row" style="padding-top:5px">
                            <div class="col-xs-3 col-xs-offset-1">
                                <label>เลขตัวถัง :</label>
                                <input class="form-control" type="text" placeholder="" id="txtVINno" disabled>
                            </div>
                            <div class="col-xs-3">
                                <label>เลขเครื่อง :</label>
                                <input class="form-control" type="text" placeholder="" id="txtEngineNo" disabled>
                            </div>
                        </div>

                        <div class="row" style="padding-top:5px">
                            <div class="col-xs-3 col-xs-offset-1">
                                <label>ประเภทรถ :</label>
                                <select class="form-control select2  select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlCarType">
                                    <option value="-1">-----โปรดเลือก-----</option>
                                    @{
                                        foreach (var item in ViewBag.CarType)
                                        {
                                            <option value="@item.ZebraTypeId">@item.ZebraType</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <label>วันที่เริ่มนำไปใช้งาน :</label>
                                <input type="text" class="form-control pull-right" id="dtpStartActiveDate" data-provide="datepicker" data-date-language="th-th" placeholder="dd/mm/yyyy" data-format="dd/MM/yyyy">
                            </div>
                        </div>

                        <div class="row" style="padding-top:5px">

                            <div class="col-xs-4 col-xs-offset-1">
                                <label>รหัสเจ้าของรถ :</label>
                                <select class="form-control select2  select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" data-allow-clear="true" id="ddlownercode"></select>
                            </div>
                        </div>

                        <div class="row" style="padding-top:5px">
                            <div class="col-xs-3 col-xs-offset-1">
                                <label>ชื่อ - สกุล ผู้ใช้รถ :</label>
                                <input class="form-control" type="text" placeholder="" id="txtFullName" disabled>
                            </div>

                            <div class="col-xs-3">
                                <label>สถานะพนักงาน :</label>
                                <input class="form-control" type="text" placeholder="" id="txtEmployeeStatus" disabled>
                            </div>
                        </div>

                        <div class="row" style="padding-top:5px">
                            <div class="col-xs-3 col-xs-offset-1">
                                <label>ตำแหน่ง :</label>
                                <input class="form-control" type="text" placeholder="" id="txtPosition" disabled>
                            </div>

                            <div class="col-xs-3">
                                <label>เบอร์โทร :</label>
                                <input class="form-control" type="text" placeholder="" id="txtTel" disabled>
                            </div>
                        </div>

                        <div class="row" style="padding-top:5px">
                            <div class="col-xs-3 col-xs-offset-1">
                                <label>สาขา :</label>
                                <input class="form-control" type="text" placeholder="" id="txtBranch" disabled>
                            </div>
                        </div>

                        <div class="row" style="padding-top:5px">
                            <div class="col-xs-9 col-xs-offset-1">
                                <label>หมาเหตุ :</label>
                                <textarea class="form-control" rows="3" placeholder="กรอกหมายเหตุ ..." id="txtRemark"></textarea>
                            </div>
                        </div>

                        <div class="row" style="margin-top:10px; text-align:center" id="divButtonSaveZebraCaretaker">
                            <button id="btnSave" tabindex="35" type="button" class="btn btn-success" style="width:15%">บันทึก</button>
                            <button id="btnCancel" tabindex="36" type="button" class="btn btn-danger" style="width:15%">ยกเลิก</button>
                        </div>
                    </div>

                    <div class="tab-pane" id="NavTransaction">
                        <div class="row">
                            <div class="col-xs-12">
                                <table id="dtTransaction" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal Transaction Detail *@
    <div class="modal fade in" id="modal-TransactionDetail" style="display: none; padding-right: 5px;">
        <div class="modal-dialog" style="width:70%">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h3 class="box-title">รายละเอียด Transaction</h3>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="dtTransactionDetail" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="hdfZebraId" value="@ViewBag.ZebraId" />
</form>

@section ViewSpecificJavascript
{
    <script type="text/javascript">
        var chat = $.connection.myHub;
        var userID;

        $(function () {

            //SignalR
            //Start Connection
            $.connection.hub.start().done(function () {

                $('#btnSave').click(function (e) {
                    e.preventDefault();
                    if (Isvalidate()) {
                        DoInsertOrUpdate();
                    }
                });

            });
        });

        $(function () {
            $('.select2').select2();
            $('#dtpStartActiveDate').datepicker({ format: "dd/mm/yyyy", autoclose: true });

             userID = @ViewBag.userID;

            loadAgen();

            GetZebraManagementDetail();
            GetTransaction();

            $('#ddlownercode').change(function (e) {
                e.preventDefault();
                GetEmployeeDetail();
            });

            $('#btnCancel').click(function (e) {
                e.preventDefault();
                window.close();
            });

            $('#ddlCarType').change(function (e) {
                e.preventDefault();
                if ($('#ddlCarType').val() == '11') {
                    DoClearEmployee();
                    $('#ddlownercode').prop('disabled', true);
                    $('#dtpStartActiveDate').prop('disabled', true);
                } else {
                    $('#ddlownercode').prop('disabled', false);
                    $('#dtpStartActiveDate').prop('disabled', false);
                }
            });

        });

        /////////////////////// Function //////////////////////////

        const DoInsertOrUpdate = () => {
            $.ajax({
                type: "POST",
                url: "@Url.Action("CaretakerSaveOrUpdate", "ZebraManagement")",
                data: {
                    zebraId: $('#hdfZebraId').val(),
                    carTypeId: $('#ddlCarType').val(),
                    applyDate: $('#dtpStartActiveDate').val(),
                    employeeCode: $('#ddlownercode').val(),
                    remark: $('#txtRemark').val(),
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    if (response.IsResult == true) {

                        chat.server.sendNoticeGroup("อัพเดตข้อมูล", "", userID);

                        //alert Msg
                        swal("", response.Msg, "success");

                    } else {
                        //alert Msg
                        swal("ตรวจสอบข้อมูล", response.Msg, "warning");

                    }
                }
            });
        }

        const GetZebraManagementDetail = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetZebraCaretakerManagementById", "ZebraManagement")",
                data: {
                    zebraId: $('#hdfZebraId').val()
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    $('#txtCompanyType').val(response.Abbreviation);

                    debugger;

                    if (response.PickupDate != null) {
                        let d_pickupDate = moment(response.PickupDate);
                        $('#dtpReceiveCarDate').datepicker({ format: "dd/mm/yyyy", autoclose: true }).datepicker("setDate", new Date(d_pickupDate));
                    }

                    $('#txtZebraNo').val(response.Zebra_No);
                    $('#txtZebraColor').val(response.Color);
                    $('#txtBrandCar').val(response.Brand);
                    $('#txtCarModel').val(response.Model);
                    $('#txtCarSubModel').val(response.SubModel);
                    $('#txtCarRegistration').val(response.PlateNo);
                    $('#txtProvinceCar').val(response.ProvinceDetail);
                    $('#txtVINno').val(response.VINno);
                    $('#txtEngineNo').val(response.EngineNo);

                    if (response.ZebraTypeId != null) {
                        $('#ddlCarType').val(response.ZebraTypeId).trigger('change.select2');
                    }

                    if (response.ApplyDate != null) {
                        let d_applyDate = moment(response.ApplyDate);
                        $('#dtpStartActiveDate').datepicker({ format: "dd/mm/yyyy", autoclose: true }).datepicker("setDate", new Date(d_applyDate));
                    }

                    if (response.OwnerEmployeeCode != null) {
                        var employee = new Option(`${response.OwnerEmployeeFullName}`, response.OwnerEmployeeCode, true, true);
                        $('#ddlownercode').append(employee).trigger('change');
                        GetEmployeeDetail();
                    }
                    $('#txtRemark').val(response.Remark);
                }
            });
        }

        const GetTransaction = () => {
            $('#dtTransaction').empty();
            var t = $('#dtTransaction').dataTable({
                    pageLength: 10,
                    processing: true,
                    serverSide: true,
                    responsive: true,
                    searching: false,
                    "order": [[0, "desc"]],
                    destroy: true,
                    ajax: {
                        url: '@Url.Action("GetTransaction", "ZebraManagement")',
                        type: 'POST',
                        async: false,
                           data: function (d) {
                               d.draw = d.draw;
                               d.pageSize = d.length;
                               d.pageStart = d.start;
                               d.sortField = d.columns[d.order[0].column].data;

                               d.orderType = d.order[0].dir;
                               d.search = d.search.value;

                               d.zebraId = $('#hdfZebraId').val();
                           }
                       },
                       columns: [
                           { title: 'TransactionCode', data: 'ZebraTransactionCode', className: 'h-dt-center text-font-small', width: '8%' },
                           { title: 'ประเภทการทำรายการ', data: 'TransactionType', className: 'h-dt-center text-font-small', width: '8%' },
                           {
                               title: 'วันที่ทำรายการ', data: 'CreatedDate', className: 'h-dt-center', width: '8%',
                               mRender: function (data) {
                                   moment.locale('th');
                                   return moment(data).add(543, 'years').format("DD/MM/YYYY hh:mm:ss", "LLLL");
                               }
                           },
                           { title: 'ผู้ทำรายการ', data: 'CreateByfullName', className: 'h-dt-center text-font-small', width: '10%' },
                           {
                               title: 'เลือก',
                               data: null,
                               className: 'h-dt-center d-dt-center ',
                               mRender: (data, type, full) => {
                                   return '<button type="button"  class="btn btn-success btn-sm" id="btnEdit' + data.ZebraTransactionId + '"><i class="glyphicon glyphicon glyphicon-eye-open ColorWhite"></i> ดู</button>'
                               }, width: '5%'
                           },
                       ],
                       bLengthChange: false,
            });

            $('#dtTransaction tbody').on('click', 'td button', function () {
                debugger;
                var table = $('#dtTransaction').DataTable();
                var data = table.row($(this).closest('tr')).data()
                let transactionId = data.ZebraTransactionId;
                GetTransactionDetail(transactionId);
                $('#modal-TransactionDetail').modal('show');
            });
        }

        const GetTransactionDetail = (id) => {
            $('#dtTransactionDetail').empty();
            var t = $('#dtTransactionDetail').dataTable({
                    pageLength: 10,
                    processing: true,
                    serverSide: true,
                    responsive: true,
                    searching: false,
                    "order": [[0, "desc"]],
                    destroy: true,
                    ajax: {
                        url: '@Url.Action("GetTransactionDetail", "ZebraManagement")',
                        type: 'POST',
                        async: false,
                           data: function (d) {
                               d.draw = d.draw;
                               d.pageSize = d.length;
                               d.pageStart = d.start;
                               d.sortField = d.columns[d.order[0].column].data;

                               d.orderType = d.order[0].dir;
                               d.search = d.search.value;

                               d.transactionId = id;
                           }
                       },
                       columns: [
                           { title: 'รหัสรายการ', data: 'ZebraTransactionDetailId', className: 'h-dt-center text-font-small', width: '8%' },
                           { title: 'รายละเอียด', data: 'TransactionSubType', className: 'h-dt-center text-font-small', width: '8%' },
                           { title: 'รหัสเดิม', data: 'FromId', className: 'h-dt-center text-font-small', width: '8%' },
                           { title: 'ข้อมูลเดิม', data: 'FromDetail', className: 'h-dt-center text-font-small', width: '15%' },
                           { title: 'รหัสใหม่', data: 'ToId', className: 'h-dt-center text-font-small', width: '8%' },
                           { title: 'ข้อมูลใหม่', data: 'ToDetail', className: 'h-dt-center text-font-small', width: '15%' },
                       ],
                       bLengthChange: false,
            });
        }

        const Isvalidate = () => {

            if ($('#ddlCarType').val() == '-1') {
                swal('ตรวจสอบ', 'กรุณาเลือก ประเภทรถ', 'warning');
                return false;
            }

            // ถ้าไม่เป็น ประเภท รถว่าง =11 ให้ ตรวจสอบ วันที่เริ่มนำไปใช้งาน และ รหัสผู้ใช้งาน
            if ($('#ddlCarType').val() != '11') {

                if ($('#dtpStartActiveDate').val() == null || $('#dtpStartActiveDate').val() == "") {
                    swal('ตรวจสอบ', 'กรุณาเลือก วันที่เริ่มไปใช้งาน', 'warning');
                    return false;
                }

                if ($('#ddlownercode').val() == null || $('#ddlownercode').val() == "null") {
                    swal('ตรวจสอบ', 'กรุณาเลือก ผู้ใช้งานรถ', 'warning');
                    return false;
                }
            }

            return true;
        }

        const DoClearEmployee = () => {
            $('#txtFullName').val('');
            $('#txtEmployeeStatus').val('');
            $('#txtPosition').val('');
            $('#txtTel').val('');
            $('#txtBranch').val('');
            var employee = new Option(``, null, true, true);
            $('#ddlownercode').append(employee);

        }

        const GetEmployeeDetail = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetEmployeeByEmployeeCode", "ZebraManagement")",
                data: {
                    employeeCode: $('#ddlownercode').val()
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    $('#txtFullName').val(`${response.TitleDetail}${response.FirstName}  ${response.LastName}`);
                    $('#txtEmployeeStatus').val(response.EmployeeStatusDetail);
                    $('#txtPosition').val(response.EmployeePositionDetail);
                    $('#txtTel').val(response.Mobile);
                    $('#txtBranch').val(response.BranchDetail);
                }
            });
        }

        const loadAgen = () => {
             $("#ddlownercode").select2({
                    ajax: {
                        url: '@Url.Action("GetOwnerData", "ZebraManagement")',
                        dataType: 'json',
                        delay: 250,
                        async: false,
                        data: function (params) {
                            return {
                                q: params.term, // search term
                                page: params.page
                            };
                        },
                    processResults: processOwnerData,
                        cache: true
                },
                placeholder: 'ค้นหารายการ',
                    escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                    minimumInputLength: 3,
                    //templateResult: formatRepo,
                templateSelection: formatOwnerRepoSelection,
                    selectOnClose: true,
                    language: { inputTooShort: function () { return 'กรอกข้อมูลอย่างน้อย 3 ตัวอักษร'; } }
            });
        }

        function processOwnerData(data) {
            var mapdata = $.map(data, function (obj) {
                obj.id = obj.EmployeeCode;
                obj.text = `${obj.EmployeeCode} - ${obj.TitleDetail}${obj.FirstName}  ${obj.LastName} สาขา:${obj.BranchDetail}`;
                return obj;
            });
            return { results: mapdata };
        }

        function formatOwnerRepoSelection(repo) {

            if (repo.EmployeeCode != undefined) {
                return `${repo.EmployeeCode} - ${repo.TitleDetail}${repo.FirstName}  ${repo.LastName} ` || repo.text;
            } else {
                return repo.text;
            }

        }
    </script>
}