@{
    ViewBag.Title = "จัดการข้อมูลโรงพยาบาลและคลินิก";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal" style="margin-top:10px">
    <div class="row">
        <div class="col-xs-12">

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#NavHosInfo" data-toggle="tab" aria-expanded="true" data_id="2"><h5>ข้อมูลโรงพยาบาลและคลินิก</h5></a></li>
                    <li class=""><a href="#NavHosContact" data-toggle="tab" aria-expanded="false" data_id="3"><h5>คู่สัญญาโรงพยาบาลและคลินิก</h5></a></li>
                    <li class=""><a href="#NavBankInfo" data-toggle="tab" aria-expanded="false" data_id="4"><h5>ข้อมูลการเงินการบัญชี</h5></a></li>
                    <li class=""><a href="#NavHistory" data-toggle="tab" aria-expanded="false"><h5>ประวัติการทำรายการ</h5></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="NavHosInfo">
                        <!-- /.post -->
                        <div class="row" style="margin-top:1%">
                            <div class="col-xs-12">
                                <div class="box box-solid box-default">
                                    <div class="box-header">
                                        <label>ข้อมูลสถานพยาบาล</label>
                                    </div>
                                    <div class="box-body" style="margin-top:-10px">
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-2">
                                                <label>ประเภทสถานพยาบาล</label>@*<label style="color:red;width:auto;"> *</label>*@
                                                <input id="txtHospitalType" tabindex="1" class="form-control input-sm" type="text" disabled>
                                            </div>
                                            <div class="col-xs-4">
                                                <label style="width:auto">ชื่อสถานพยาบาล</label>@*<label style="color:red;width:auto;"> *</label>*@
                                                <input id="txtHospitalName" tabindex="2" class="form-control input-sm" type="text" required disabled>
                                            </div>
                                            <div class="col-xs-2">
                                                <label style="width:auto">สถานะการใช้งาน :</label>
                                                <label id="lblIsActive">-</label>
                                            </div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-4"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-solid box-default">
                                    <div class="box-header">
                                        <label>ข้อมูลที่อยู่</label>
                                    </div>
                                    <div class="box-body">

                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-2">
                                                <label>ที่อยู่ เลขที่ :</label>
                                                <input id="txtNo" tabindex="3" class="form-control input-sm" type="text" disabled value="@ViewBag.No">
                                            </div>
                                            <div class="col-xs-1">
                                                <label>หมู่ที่ :</label>
                                                <input id="txtMoo" tabindex="3" class="form-control input-sm" type="text" disabled value="@ViewBag.Moo">
                                            </div>
                                            <div class="col-xs-4">
                                                <label>หมู่บ้าน/อาคาร :</label>
                                                <input id="txtVillageName" tabindex="3" class="form-control input-sm" type="text" disabled value="@ViewBag.VillageName">
                                            </div>
                                            <div class="col-xs-1">
                                                <label>ชั้น :</label>
                                                <input id="txtFloor" tabindex="3" class="form-control input-sm" type="text" disabled value="@ViewBag.Floor">
                                            </div>

                                            <div class="col-xs-2">
                                                <label>ซอย :</label>
                                                <input id="txtSoi" tabindex="3" class="form-control input-sm" type="text" disabled value="@ViewBag.Soi">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>ถนน :</label>
                                                <input id="txtRoad" tabindex="3" class="form-control input-sm" type="text" disabled value="@ViewBag.Road">
                                            </div>

                                        </div>

                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-3">

                                                <label>ตำบล</label>
                                                <input id="txtSubDistrict" tabindex="7" class="form-control input-sm" type="text" disabled>
                                            </div>
                                            <div class="col-xs-3">
                                                <label>อำเภอ</label>
                                                <input id="txtDistrict" tabindex="6" class="form-control input-sm" type="text" disabled>
                                            </div>
                                            <div class="col-xs-3">
                                                <label>จังหวัด</label>
                                                <input id="txtProvince" tabindex="5" class="form-control input-sm" type="text" disabled>
                                            </div>
                                            <div class="col-xs-3">
                                                <label>รหัสไปรษณีย์</label>@*<label style="color:red">*</label>*@
                                                <input id="txtPostcode" tabindex="8" class="form-control input-sm" type="text" disabled>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-3">
                                                <label>Latitude</label>
                                                <input id="txtLatitude" tabindex="9" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-3">
                                                <label>Longitude</label>
                                                <input id="txtLongitude" tabindex="10" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-4">
                                                <label>สถานที่ใกล้เคียง</label>
                                                <input id="txtNearByPlace" tabindex="14" class="form-control input-sm" type="text" placeholder="ระบุสถานที่ใกล้เคียง">
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-3">
                                                <label>เบอร์ติดต่อ</label><label style="color:red">*</label>
                                                <input id="txtHosTel" tabindex="11" class="form-control input-sm" type="text" required>
                                            </div>
                                            <div class="col-xs-3">
                                                <label>เบอร์แฟกซ์</label>
                                                <input id="txtHosFax" tabindex="12" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-4">
                                                <label>อีเมล</label>
                                                <input id="txtHosEmail" tabindex="13" class="form-control input-sm" type="email">
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-solid box-default">
                                    <div class="box-header">
                                        <label>ข้อมูลผู้ติดต่อ</label>
                                    </div>
                                    <div class="box-body">
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-3">
                                                <label>ชื่อผู้ติดต่อฝ่ายการเงิน</label>
                                                <input id="txtFinanceContact" tabindex="15" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>เบอร์ติดต่อ</label>
                                                <input id="txtFinanceTel" tabindex="16" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>เบอร์แฟกซ์</label>
                                                <input id="txtFinanceFax" tabindex="17" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-3">
                                                <label>อีเมล</label>
                                                <input id="txtFinanceEmail" tabindex="18" class="form-control input-sm" type="email">
                                            </div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-3">
                                                <label>ชื่อผู้ติดต่อฝ่ายการเงินสำรอง</label>
                                                <input id="txtAlternateContact" tabindex="19" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>เบอร์ติดต่อ</label>
                                                <input id="txtAlternateTel" tabindex="20" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>เบอร์แฟกซ์</label>
                                                <input id="txtAlternateFax" tabindex="21" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-3">
                                                <label>อีเมล</label>
                                                <input id="txtAlternateEmail" tabindex="22" class="form-control input-sm" type="email">
                                            </div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-3">
                                                <label>ชื่อผู้ติดต่อฝ่ายบัญชี</label>
                                                <input id="txtAccountContact" tabindex="23" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>เบอร์ติดต่อ</label>
                                                <input id="txtAccountTel" tabindex="24" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>เบอร์แฟกซ์</label>
                                                <input id="txtAccountFax" tabindex="25" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-3">
                                                <label>อีเมล</label>
                                                <input id="txtAccountEmail" tabindex="26" class="form-control input-sm" type="email">
                                            </div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-3">
                                                <label>ชื่อผู้ติดต่อฝ่าย Marketing</label>
                                                <input id="txtMarketingContact" value="" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>เบอร์ติดต่อ</label>
                                                <input id="txtMarketingTel" tabindex="28" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>เบอร์แฟกซ์</label>
                                                <input id="txtMarketingFax" tabindex="29" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-3">
                                                <label>อีเมล</label>
                                                <input id="txtMarketingEmail" tabindex="30" class="form-control input-sm" type="email">
                                            </div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-3">
                                                <label>ชื่อผู้ติดต่อพยาบาล</label>
                                                <input id="txtNurseContact" tabindex="31" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>เบอร์ติดต่อ</label>
                                                <input id="txtNurseTel" tabindex="32" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>เบอร์แฟกซ์</label>
                                                <input id="txtNurseFax" tabindex="33" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-3">
                                                <label>อีเมล</label>
                                                <input id="txtNurseEmail" tabindex="34" class="form-control input-sm" type="email">
                                            </div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top:2.5%">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-2"></div>
                            <div class="col-xs-3"><button id="btnNavSave1" tabindex="35" type="submit" class="btn btn-success" style="width:100%">บันทึก</button></div>
                            
                            <div class="col-xs-3"><button id="btnNavCancel1" tabindex="36" type="submit" class="btn btn-danger" style="width:100%">ยกเลิก</button></div>
                            <div class="col-xs-2"></div>
                            <div class="col-xs-1"></div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="NavHosContact">
                        <!-- The timeline -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-solid box-default">
                                    <div class="box-header">
                                        <label>คู่สัญญา</label>
                                    </div>
                                    <div class="box-body">
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-2"><label>คู่สัญญา</label> </div>
                                            <div class="col-xs-2">
                                                <div class="radioContract">
                                                    <label style="margin-top:25px">
                                                        <input type="radio" name="rdIscontract" id="rdIscontract" value="option1">
                                                        เป็น
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                @*<div class="form-group">*@
                                                <label>วันเริ่มสัญญา :</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control datepicker" id="date_start" name="date_start" data-provide="datepicker" data-date-language="th-th" placeholder="dd/mm/yyyy" data-format="dd/MM/yyyy" />
                                                </div>
                                                @*</div>*@
                                            </div>
                                            <div class="col-xs-2">
                                                @*<div class="form-group">*@
                                                <label>วันสิ้นสุดสัญญา :</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control datepicker" id="date_end" name="date_end" data-provide="datepicker" data-date-language="th-th" placeholder="dd/mm/yyyy" data-format="dd/MM/yyyy" />
                                                </div>
                                                @*</div>*@
                                            </div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-2"></div>
                                            @*<div class="form-group">*@
                                            <div class="col-xs-2">
                                                <div class="radioContract" style="margin-top:15px">
                                                    <label>
                                                        <input type="radio" name="rdIscontract" id="rdIsNotcontract" value="option2">
                                                        ไม่เป็น
                                                    </label>
                                                </div>
                                            </div>
                                            @*</div>*@
                                            <div class="col-xs-2">
                                                <label style="margin-top:15px">
                                                    <input type="checkbox" class="icheckbox_minimal-blue" aria-checked="false" aria-disabled="false" style="position: relative;" id="cbisonprocess" name="cbisonprocess" />&nbsp;สถานะดำเนินการ
                                                </label>
                                            </div>
                                            <div class="col-xs-2">
                                                <div style="margin-top:5px">
                                                    <select id="ddlOnProcessStatus" class="form-control select2 select2-hidden-accessible" style="width: 100%" data-select2-id="1" tabindex="-1" aria-hidden="true" disabled>
                                                        <option value="-1">--เลือกสถานะ--</option>
                                                        @{
                                                            foreach (var item in ViewBag.OnProcessStatus)
                                                            {
                                                                <option value="@item.StatusId">@item.Status</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-solid box-default">
                                    <div class="box-header">
                                        <label>PH</label>
                                    </div>
                                    <div class="box-body">
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-2"><label>IPD</label></div>
                                            <div class="col-xs-2">
                                                <input type="radio" name="rdPhIpdIsContract" id="rdPhIpdIsNotContract" value="option1"> <label>ไม่ต้องสำรองจ่าย</label>
                                            </div>
                                            <div class="col-xs-2">
                                                <input type="radio" name="rdPhIpdIsContract" id="rdPhIpdIsContract" value="option2"> <label>ต้องสำรองจ่าย</label>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-2"><label>OPD</label></div>
                                            <div class="col-xs-2">
                                                <input type="radio" name="rdPhOpdIsContract" id="rdPhOpdIsNotContract" value="option1"> <label>ไม่ต้องสำรองจ่าย</label>
                                            </div>
                                            <div class="col-xs-2">
                                                <input type="radio" name="rdPhOpdIsContract" id="rdPhOpdIsContract" value="option2"> <label>ต้องสำรองจ่าย</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-solid box-default">
                                    <div class="box-header">
                                        <label>PA</label>
                                    </div>
                                    <div class="box-body">
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-2"><label>IPD</label></div>
                                            <div class="col-xs-2">
                                                <input type="radio" name="rdPAIpdIsContract" id="rdPAIpdIsNotContract" value="option1"> <label>ไม่ต้องสำรองจ่าย</label>
                                            </div>
                                            <div class="col-xs-2">
                                                <input type="radio" name="rdPAIpdIsContract" id="rdPAIpdIsContract" value="option2"> <label>ต้องสำรองจ่าย</label>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-2"><label>OPD</label></div>
                                            <div class="col-xs-2">
                                                <input type="radio" name="rdPAOpdIsContract" id="rdPAOpdIsNotContract" value="option1"> <label>ไม่ต้องสำรองจ่าย</label>
                                            </div>
                                            <div class="col-xs-2">
                                                <input type="radio" name="rdPAOpdIsContract" id="rdPAOpdIsContract" value="option2"> <label>ต้องสำรองจ่าย</label>
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top:5px">
                                            <div class="col-xs-12">
                                                <label>หมายเหตุ :</label>
                                                <textarea class="form-control" rows="3" placeholder="กรอกหมายเหตุ ..." id="txtRemark"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:2.5%">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-2"></div>
                            <div class="col-xs-3"><button id="btnNavSave2" tabindex="35" type="submit" class="btn btn-success" style="width:100%">บันทึก</button></div>
                            
                            <div class="col-xs-3"><button id="btnNavCancel2" tabindex="36" type="submit" class="btn btn-danger" style="width:100%">ยกเลิก</button></div>
                            <div class="col-xs-2"></div>
                            <div class="col-xs-1"></div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="NavBankInfo">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-solid box-default">
                                    <div class="box-header">
                                        <label>ข้อมูลสำหรับการจ่ายเช็ค</label>
                                    </div>
                                    <div class="box-body" style="margin-top:-10px">
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-4">
                                                <label>ชื่อเช็ค</label>
                                                <input id="txtChequeName" tabindex="1" class="form-control input-sm" type="text" value="Hospital">
                                            </div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-solid box-default">
                                    <div class="box-header">
                                        <label>ข้อมูลสำหรับการโอนเงิน</label>
                                    </div>
                                    <div class="box-body" style="margin-top:-10px">
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-4">
                                                <label>ธนาคาร</label>
                                                <select id="ddlBankName" class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                                    <option value="-1">--โปรดระบุ--</option>
                                                    @{
                                                        foreach (var item in ViewBag.BankName)
                                                        {
                                                            <option value="@item.Bank_ID">@item.BankDetail</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-4">
                                                <label>สาขา</label>
                                                <input id="txtBankBranch" tabindex="1" class="form-control input-sm" type="text" value="ตลาดวงศกร">
                                            </div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-4">
                                                <label>เลขที่บัญชี</label>
                                                <input id="txtBankAccountNo" tabindex="1" class="form-control input-sm" type="text" value="123-456789-123456">
                                            </div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-4">
                                                <label>ชื่อบัญชี</label>
                                                <input id="txtBankAccountName" tabindex="1" class="form-control input-sm" type="text" value="Miss.Lyn So Cute">
                                            </div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                        <div class="row" style="margin-top:2.5%">
                                            <div class="col-xs-1"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-3"><button id="btnNavSave3" tabindex="35" type="submit" class="btn btn-success" style="width:100%">บันทึก</button></div>
                                            <div class="col-xs-3"><button id="btnNavCancel3" tabindex="36" type="submit" class="btn btn-danger" style="width:100%">ยกเลิก</button></div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="NavHistory">
                        <div class="box-body" style="margin-top:-10px">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="dtTransaction" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            @*</div>*@@*Comment*@
            <!-- /.box-body -->
            @*</div>*@ @*Comment*@
        </div>
    </div>

    <!--Transaction Detail Modal-->
    <div class="modal fade bd-example-modal-lg" id="ModalTransactTionDetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-body justify-content-center">
                    <table id="dtTransactionDetail" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                </div>
                <div class="modal-footer" style="text-align:center">
                    <button type="button" class="btn bg-red-active" style="width:80px" data-dismiss="modal">ปิด</button>
                </div>
            </div>
        </div>
    </div>

</form>

@section ViewSpecificJavascript
{
    <script type="text/javascript">

        var chat = $.connection.myHub;
        var userID;

        $(function () {
            //Start Connection
            $.connection.hub.start().done(function () {

                $('#btnNavSave1').click(function (e) {
                    e.preventDefault();
                    if (Validation(1)) { Confirm(1); }
                });

                $('#btnNavSave2').click(function (e) {
                    e.preventDefault();
                    if (Validation(2)) { Confirm(2); }
                });

                $('#btnNavSave3').click(function (e) {
                    e.preventDefault();
                    if (Validation(3)) { Confirm(3); }
                });

            });
        });

        $(function () {
            $('.select2').select2();

            userID = @ViewBag.userID;

            $('#date_start').datepicker({ format: "dd/mm/yyyy", autoclose: true });
            $('#date_end').datepicker({ format: "dd/mm/yyyy", autoclose: true });

        if (@ViewBag.OrganizeId != "") {
            DoDisableByMode(@ViewBag.Mode);
            LoadData();

           //เช็คสิทธิ์การเข้าถึง
            if ('@ViewBag.AllowEditInfo' == "False") {
                $("a[href='#NavHosInfo']").hide();
            }
            if ('@ViewBag.AllowEditContract' == "False") {
                $("a[href='#NavHosContact']").hide();
            }
            if ('@ViewBag.NavBankInfo' == "False") {
                $("a[href='#NavHosInfo']").hide();
            }
        }

        $('#rdIscontract').on('ifChecked', function (event) {
            $("#date_start").prop("disabled", false);
            $("#date_end").prop("disabled", false);
            $('#cbisonprocess').iCheck('uncheck');
        });
        $('#rdIscontract').on('ifUnchecked', function (event) {
            $("#date_start").prop("disabled", true);
            $("#date_end").prop("disabled", true);
            $("#date_start").val("").datepicker("update");
            $("#date_end").val("").datepicker("update");
        });

        $('#rdIsNotcontract').on('ifChecked', function (event) {
            $("#cbisonprocess").prop("disabled", false);
            $("#ddlOnProcessStatus").prop("disabled", true);
        });
        $('#rdIsNotcontract').on('ifUnchecked', function (event) {
            $("#cbisonprocess").prop("disabled", true);
            $("#ddlOnProcessStatus").prop("disabled", true);
        });

        $('#cbisonprocess').on('ifChecked', function (event) {
            $("#ddlOnProcessStatus").prop("disabled", false);
        });
        $('#cbisonprocess').on('ifUnchecked', function (event) {
            $("#ddlOnProcessStatus").prop("disabled", true);
            $('#ddlOnProcessStatus').val('-1').trigger('change.select2');
        });

            //Check สิทธิการเข้าใช้งาน

            $('#btnNavCancel1').click(function (e) {
                e.preventDefault();
                CloseCurrentTab();
            });

            $('#btnNavCancel2').click(function (e) {
                e.preventDefault();
                CloseCurrentTab();
            });

            $('#btnNavCancel3').click(function (e) {
                e.preventDefault();
                CloseCurrentTab();
                //
            });

    });

    const LoadData = () => {
        //เช็คสิทธิ์การเข้าถึง
            if ('@ViewBag.AllowEditInfo' == "True") {
                LoadInformationData();
            }
            if ('@ViewBag.AllowEditContract' == "True") {
                LoadContractData();
            }
            if ('@ViewBag.AllowEditBanking' == "True") {
                LoadBankAccountData();
        }
        DoLoadTransaction();
    }

    const LoadInformationData = () => {
        //ประเภทสถานพยาบาล
        $('#txtHospitalType').val('@ViewBag.HospitalType');

        //ชื่อสถานพยาบาล
        $('#txtHospitalName').val('@ViewBag.HospitalName');

        //ใช้งานหรือไม่
        if ('@ViewBag.IsActive' == "True") {
            document.getElementById('lblIsActive').innerHTML = "ใช้งาน";
            document.getElementById("lblIsActive").style.color = "green";
        }
        else {
            document.getElementById('lblIsActive').innerHTML = "ไม่ใช้งาน";
            document.getElementById("lblIsActive").style.color = "red";
        }



        //Lattitude
        $('#txtLatitude').val('@ViewBag.Lattitude');
        //Logitude
        $('#txtLongitude').val('@ViewBag.Longitude');
        //ตำบล
        $('#txtSubDistrict').val('@ViewBag.SubDistrictData');
        //อำเภอ
        $('#txtDistrict').val('@ViewBag.DistrictData');
        //จังหวัด
        $('#txtProvince').val('@ViewBag.ProvinceData');
        //รหัสไปรษณีย์
        $('#txtPostcode').val('@ViewBag.PostCode');
        //เบอร์ติดต่อ
        $('#txtHosTel').val('@ViewBag.HospitalTel');
        //เบอร์แฟกซ์
        $('#txtHosFax').val('@ViewBag.HospitalFax');
        //อีเมล
        $('#txtHosEmail').val('@ViewBag.HospitalEmail');
        //สถานที่ใกล้เคียง
        $('#txtNearByPlace').val('@ViewBag.NearByPlace');
        //ชื่อผู้ติดต่อฝ่ายการเงิน
        $('#txtFinanceContact').val('@ViewBag.FinanceContact');
        //เบอร์ติดต่อ
        $('#txtFinanceTel').val('@ViewBag.FinanceTel');
        //เบอร์แฟกซ์
        $('#txtFinanceFax').val('@ViewBag.FinanceFax');
        //อีเมล
        $('#txtFinanceEmail').val('@ViewBag.FinanceEmail');

        //ชื่อผู้ติดต่อฝ่ายการเงินสำรอง
        $('#txtAlternateContact').val('@ViewBag.AlternateFinanceContact');
        //เบอร์ติดต่อ
        $('#txtAlternateTel').val('@ViewBag.AlternateFinanceTel');
        //เบอร์แฟกซ์
        $('#txtAlternateFax').val('@ViewBag.AlternateFinancefax');
        //อีเมล
        $('#txtAlternateEmail').val('@ViewBag.AlternateFinanceEmail');

        //ชื่อผู้ติดต่อฝ่ายบัญชี
        $('#txtAccountContact').val('@ViewBag.AccountingContact');
        //เบอร์ติดต่อ
        $('#txtAccountTel').val('@ViewBag.AccountingTel');
        //เบอร์แฟกซ์
        $('#txtAccountFax').val('@ViewBag.AccountingFax');
        //อีเมล
        $('#txtAccountEmail').val('@ViewBag.AccountingEmail');

        //ชื่อผู้ติดต่อฝ่ายMarketing
        $('#txtMarketingContact').val('@ViewBag.MarketingContact');
        //เบอร์ติดต่อ
        $('#txtMarketingTel').val('@ViewBag.MarketingTel');
        //เบอร์แฟกซ์
        $('#txtMarketingFax').val('@ViewBag.MarketingFax');
        //อีเมล
        $('#txtMarketingEmail').val('@ViewBag.MarketingEmail');

        //ชื่อผู้ติดต่อพยาบาล
        $('#txtNurseContact').val('@ViewBag.NurseContact');
        //เบอร์ติดต่อ
        $('#txtNurseTel').val('@ViewBag.NurseTel');
        //เบอร์แฟกซ์
        $('#txtNurseFax').val('@ViewBag.NurseFax');
        //อีเมล
        $('#txtNurseEmail').val('@ViewBag.NurseEmail');

        };

        const LoadContractData = () => {

            if ('@ViewBag.Iscontract' == 'True') {
                $('#rdIscontract').iCheck('check');
                debugger;
                if ('@ViewBag.IscontractStartDT' != null) {

                    //$('#date_start').val('@ViewBag.IscontractStartDT');

                    let StartDate = moment('@ViewBag.IscontractStartDT');
                    $('#date_start').datepicker({ format: "dd/mm/yyyy" }).datepicker('setDate', new Date(StartDate));

                }
                if ('@ViewBag.IscontractEndDT' != null) {
                    //$('#date_end').val('@ViewBag.IscontractEndDT');

                    let d_EndDate = moment('@ViewBag.IscontractEndDT')._i;

                    $('#date_end').datepicker({ format: "dd/mm/yyyy" }).datepicker('setDate', new Date(d_EndDate));

                }
            }
            else if ('@ViewBag.Iscontract' == 'False') {
                debugger;
                $('#rdIsNotcontract').iCheck('check');
                $("#cbisonprocess").prop("disabled", false);
                @*if ('@ViewBag.IsnotcontractOnProcessStatus' != null || '@ViewBag.IsnotcontractOnProcessStatus' != "") {

                    $("#ddlOnProcessStatus").prop("disabled", false);
                    //set chech cbisonprocess
                    $('#cbisonprocess').iCheck('check');
                }*@

                if ('@ViewBag.IsnotcontractOnProcessStatus' != "") {
                    $('#cbisonprocess').iCheck('check');
                     $('#ddlOnProcessStatus').val('@ViewBag.IsnotcontractOnProcessStatus').trigger('change.select2');
                }

                if ('@ViewBag.Mode' == "1") {
                    $("#cbisonprocess").prop("disabled", true);
                    $("#ddlOnProcessStatus").prop("disabled", true);
                }
            }

            if ('@ViewBag.PhIpdIsContract' == '2') { $('#rdPhIpdIsContract').iCheck('check'); }
            else if ('@ViewBag.PhIpdIsContract' == '3'){ $('#rdPhIpdIsNotContract').iCheck('check'); }
            if ('@ViewBag.PhOpdIsContract' == '2') { $('#rdPhOpdIsContract').iCheck('check'); }
            else if ('@ViewBag.PhOpdIsContract' == '3'){ $('#rdPhOpdIsNotContract').iCheck('check'); }
            if ('@ViewBag.PAIpdIsContract' == '2') { $('#rdPAIpdIsContract').iCheck('check'); }
            else if ('@ViewBag.PAIpdIsContract' == '3'){ $('#rdPAIpdIsNotContract').iCheck('check'); }
            if ('@ViewBag.PAOpdIsContract' == '2') { $('#rdPAOpdIsContract').iCheck('check'); }
            else if ('@ViewBag.PAOpdIsContract' == '3'){ $('#rdPAOpdIsNotContract').iCheck('check'); }

            @*if ('@ViewBag.PhIpdIsContract' == '2') $radios2.filter('[value=rdPhIpdIsContract]').prop('checked', true);
            else $radios2.filter('[value=rdPhIpdIsNotContract]').prop('checked', true);

            if ('@ViewBag.PhOpdIsContract' == '2') $radios3.filter('[value=rdPhOpdIsContract]').prop('checked', true);
            else $radios3.filter('[value=rdPhOpdIsNotContract]').prop('checked', true);

            if ('@ViewBag.PAIpdIsContract' == '2') $radios4.filter('[value=rdPAIpdIsContract]').prop('checked', true);
            else $radios4.filter('[value=rdPAIpdIsNotContract]').prop('checked', true);

            if ('@ViewBag.PAOpdIsContract' == '2') $radios5.filter('[value=rdPAOpdIsContract]').prop('checked', true);
            else $radios5.filter('[value=rdPAOpdIsNotContract]').prop('checked', true);*@

            $('#txtRemark').val('@ViewBag.Remark');
        }

        const LoadBankAccountData = () => {
            $('#txtChequeName').val('@ViewBag.ChequeName');

            debugger;
            if ('@ViewBag.BankId' != '') {
                $('#ddlBankName').val('@ViewBag.BankId').trigger('change.select2');
            } else {
                 $('#ddlBankName').val('-1').trigger('change.select2');
            }

            $('#txtBankBranch').val('@ViewBag.BankBranch');

            let acc_no = '@ViewBag.BankAccountNo';

            $('#txtBankAccountNo').val(acc_no.replaceAll("-",""));
            $('#txtBankAccountName').val('@ViewBag.BankAccountName');

        }

        const DoClearTab1 = () => {
            $('#txtHospitalType').val('');
            $('#txtHospitalName').val('');
            document.getElementById('lblIsActive').innerHTML = "-";
            document.getElementById("lblIsActive").style.color = "black";
            $('#txtLatitude').val('');
            $('#txtLongitude').val('');
            $('#txtSubDistrict').val('');
            $('#txtDistrict').val('');
            $('#txtProvince').val('');
            $('#txtPostcode').val('');
            $('#txtHosTel').val('');
            $('#txtHosFax').val('');
            $('#txtHosEmail').val('');
            $('#txtNearByPlace').val('');
            $('#txtFinanceContact').val('');
            $('#txtFinanceTel').val('');
            $('#txtFinanceFax').val('');
            $('#txtFinanceEmail').val('');
            $('#txtAlternateContact').val('');
            $('#txtAlternateTel').val('');
            $('#txtAlternateFax').val('');
            $('#txtAlternateEmail').val('');
            $('#txtAccountContact').val('');
            $('#txtAccountTel').val('');
            $('#txtAccountFax').val('');
            $('#txtAccountEmail').val('');
            $('#txtMarketingContact').val('');
            $('#txtMarketingTel').val('');
            $('#txtMarketingFax').val('');
            $('#txtMarketingEmail').val('');
            $('#txtNurseContact').val('');
            $('#txtNurseTel').val('');
            $('#txtNurseFax').val('');
            $('#txtNurseEmail').val('');

        }

        const DoClearTab2 = () => {
            let $radios1 = $('input:radio[name=rdIscontract]');
            let $radios2 = $('input:radio[name=rdPhIpdIsContract]');
            let $radios3 = $('input:radio[name=rdPhOpdIsContract]');
            let $radios4 = $('input:radio[name=rdPAIpdIsContract]');
            let $radios5 = $('input:radio[name=rdPAOpdIsContract]');
           $radios1.filter('[value=rdIscontract]').prop('checked', true);

            $radios2.filter('[value=rdPhIpdIsContract]').prop('checked', true);
            $radios3.filter('[value=rdPhOpdIsContract]').prop('checked', true);
            $radios4.filter('[value=rdPAIpdIsContract]').prop('checked', true);
            $radios5.filter('[value=rdPAOpdIsContract]').prop('checked', true);
            //$('#cbisonprocess').prop("disabled", true);
            //$('#ddlOnProcessStatus').prop("disabled", true);
            //$('#date_start').prop("disabled", true);
            //$('#date_end').prop("disabled", true);

        }

        const DoClearTab3 = () => {
             $('#txtChequeName').val('');
            $('#ddlBankName').val('-1').trigger('change.select2');
            $('#txtBankBranch').val('');
            $('#txtBankAccountNo').val('');
            $('#txtBankAccountName').val('');
        }

        const Confirm = (tabIndex) => {
            //Do validation function first
            swal({
                title: "",
                text: "ยืนยันการทำรายการ",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "ตกลง",
                cancelButtonText: "ยกเลิก",
                closeOnConfirm: false,
                closeOnCancel: true
            },
                function (isConfirm) {
                    if (isConfirm) {
                        //DoUpdate
                        UpdateData(tabIndex);
                    } else {
                        //swal("ยกเลิกทำรายการ", "", "error");
                    }
                }
            );
        }

        const CloseCurrentTab = () => {
            //Do validation function first
            swal({
                title: "",
                text: "ยืนยันยกเลิกรายการ",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "ตกลง",
                cancelButtonText: "ยกเลิก",
                closeOnConfirm: false,
                closeOnCancel: true
            },
                function (isConfirm) {
                    if (isConfirm) {
                        window.close();
                    } else {
                        //swal("ยกเลิกทำรายการ", "", "error");
                    }
                }
            );
        }

        const DoDisableByMode = (mode) => {
            if (mode == 1)//view
            {
                //tab 1
                $("#txtLatitude").prop("disabled", true);
                $("#txtLongitude").prop("disabled", true);
                $("#txtHosTel").prop("disabled", true);
                $("#txtHosFax").prop("disabled", true);
                $("#txtHosEmail").prop("disabled", true);
                $("#txtNearByPlace").prop("disabled", true);
                $("#txtFinanceContact").prop("disabled", true);
                $("#txtFinanceTel").prop("disabled", true);
                $("#txtFinanceFax").prop("disabled", true);
                $("#txtFinanceEmail").prop("disabled", true);
                $("#txtAlternateContact").prop("disabled", true);
                $("#txtAlternateTel").prop("disabled", true);
                $("#txtAlternateFax").prop("disabled", true);
                $("#txtAlternateEmail").prop("disabled", true);
                $("#txtAccountContact").prop("disabled", true);
                $("#txtAccountTel").prop("disabled", true);
                $("#txtAccountFax").prop("disabled", true);
                $("#txtAccountEmail").prop("disabled", true);
                $("#txtMarketingContact").prop("disabled", true);
                $("#txtMarketingTel").prop("disabled", true);
                $("#txtMarketingFax").prop("disabled", true);
                $("#txtMarketingEmail").prop("disabled", true);
                $("#txtNurseContact").prop("disabled", true);
                $("#txtNurseTel").prop("disabled", true);
                $("#txtNurseFax").prop("disabled", true);
                $("#txtNurseEmail").prop("disabled", true);
                $('#btnNavSave1').hide();
                $('#btnNavCancel1').hide();
                //tab 2
                $('#rdIscontract').prop("disabled", true);
                $('#rdIsNotcontract').prop("disabled", true);
                $('#rdPhIpdIsContract').prop("disabled", true);
                $('#rdPhIpdIsNotContract').prop("disabled", true);
                $('#rdPhOpdIsContract').prop("disabled", true);
                $('#rdPhOpdIsNotContract').prop("disabled", true);
                $('#rdPAIpdIsContract').prop("disabled", true);
                $('#rdPAIpdIsNotContract').prop("disabled", true);
                $('#rdPAOpdIsContract').prop("disabled", true);
                $('#rdPAOpdIsNotContract').prop("disabled", true);

                $('#cbisonprocess').prop("disabled", true);
                $('#ddlOnProcessStatus').prop("disabled", true);
                $('#date_start').prop("disabled", true);
                $('#date_end').prop("disabled", true);
                $('#txtRemark').prop("disabled", true);

                $('#btnNavSave2').hide();
                $('#btnNavCancel2').hide();

                //tab 3
                $('#txtChequeName').prop("disabled", true);
                $('#ddlBankName').prop("disabled", true);
                $('#txtBankBranch').prop("disabled", true);
                $('#txtBankAccountNo').prop("disabled", true);
                $('#txtBankAccountName').prop("disabled", true);

                $('#btnNavSave3').hide();
                $('#btnNavCancel3').hide();
            }
            else if (mode == 2)//edit
            {
                //tab 1
                $("#txtLatitude").prop("disabled", false);
                $("#txtLongitude").prop("disabled", false);
                $("#txtHosTel").prop("disabled", false);
                $("#txtHosFax").prop("disabled", false);
                $("#txtHosEmail").prop("disabled", false);
                $("#txtNearByPlace").prop("disabled", false);
                $("#txtFinanceContact").prop("disabled", false);
                $("#txtFinanceTel").prop("disabled", false);
                $("#txtFinanceFax").prop("disabled", false);
                $("#txtFinanceEmail").prop("disabled", false);
                $("#txtAlternateContact").prop("disabled", false);
                $("#txtAlternateTel").prop("disabled", false);
                $("#txtAlternateFax").prop("disabled", false);
                $("#txtAlternateEmail").prop("disabled", false);
                $("#txtAccountContact").prop("disabled", false);
                $("#txtAccountTel").prop("disabled", false);
                $("#txtAccountFax").prop("disabled", false);
                $("#txtAccountEmail").prop("disabled", false);
                $("#txtMarketingContact").prop("disabled", false);
                $("#txtMarketingTel").prop("disabled", false);
                $("#txtMarketingFax").prop("disabled", false);
                $("#txtMarketingEmail").prop("disabled", false);
                $("#txtNurseContact").prop("disabled", false);
                $("#txtNurseTel").prop("disabled", false);
                $("#txtNurseFax").prop("disabled", false);
                $("#txtNurseEmail").prop("disabled", false);
                $('#btnNavSave1').prop("disabled", false);
                //tab 2
                $('#rdIscontract').prop("disabled", false);
                $('#rdIsNotcontract').prop("disabled", false);
                $('#rdPhIpdIsContract').prop("disabled", false);
                $('#rdPhIpdIsNotContract').prop("disabled", false);
                $('#rdPhOpdIsContract').prop("disabled", false);
                $('#rdPhOpdIsNotContract').prop("disabled", false);
                $('#rdPAIpdIsContract').prop("disabled", false);
                $('#rdPAIpdIsNotContract').prop("disabled", false);
                $('#rdPAOpdIsContract').prop("disabled", false);
                $('#rdPAOpdIsNotContract').prop("disabled", false);
                $('#btnNavSave2').prop("disabled", false);
                $('#txtRemark').prop("disabled", false);
                $('#cbisonprocess').prop("disabled", true);
                //$('#ddlOnProcessStatus').prop("disabled", false);
                $('#date_start').prop("disabled", false);
                $('#date_end').prop("disabled", false);
                //tab 3
                $('#txtChequeName').prop("disabled", false);
                $('#ddlBankName').prop("disabled", false);
                $('#txtBankBranch').prop("disabled", false);
                $('#txtBankAccountNo').prop("disabled", false);
                $('#txtBankAccountName').prop("disabled", false);
                $('#btnNavSave3').prop("disabled", false);
            }
        }

        function ValidateThai(email) {
            const re = /^[a-zA-Z0-9$\s@@$!%*?&#^-_.+-/]+$/;
            return re.test(String(email).toLowerCase());
        }

        function Validation(tabIndex) {
            switch (tabIndex) {
                case 1:

                    if ($('#txtHosTel').val() == "") {

                        swal("คำเตือน", "กรุณากรอกเบอร์โทรศัพท์", "error");
                        return false;
                    }

                    const re_num = /^-?\d*\.?\d*$/;

                    if ($('#txtLatitude').val().trim() != "") {

                        //chk number
                        let chk_lat = re_num.test(String($('#txtLatitude').val().trim()).toLowerCase());

                        if (chk_lat == false) {
                            swal("คำเตือน", "Latitude ต้องเป็นตัวเลขเท่านั้น", "error");
                            return false;
                        }

                        let latitude = $('#txtLatitude').val().trim()

                        let number_latitude = latitude.split(".");

                        let dece_latitude = number_latitude[1];

                        if (dece_latitude != null) {
                            if (dece_latitude.length > 8) {
                                swal("คำเตือน", "กรุณาตรวจสอบ Latitude ทศนิยมต้องไม่เกิน 8 หลัก ", "error");
                                return false;
                            }
                        }

                    }

                    if ($('#txtLongitude').val().trim() != "") {

                        //chk number
                        let chk_long = re_num.test(String($('#txtLongitude').val().trim()).toLowerCase());

                        if (chk_long == false) {
                            swal("คำเตือน", "Longitude ต้องเป็นตัวเลขเท่านั้น", "error");
                            return false;
                        }

                        let longitude = $('#txtLongitude').val().trim()

                        let number_longitude = longitude.split(".");

                        let dece_longitude = number_longitude[1];

                        if (dece_longitude != null) {
                            if (dece_longitude.length > 8) {
                                swal("คำเตือน", "กรุณาตรวจสอบ Longitude ทศนิยมต้องไม่เกิน 8 หลัก", "error");
                                return false;
                            }
                        }

                    }

                    let emailHos = $('#txtHosEmail').val();
                    if (emailHos != '' && emailHos != "-") {
                        if (validateEmail(emailHos) === false || ValidateThai(emailHos) === false) {
                            swal('คำเตือน', 'กรุณาตรวจสอบ อีเมล', 'error');
                            return false;
                        }
                    }

                    let emailFin = $('#txtFinanceEmail').val();
                    if (emailFin != '' && emailFin != "-") {
                        if (validateEmail(emailFin) === false || ValidateThai(emailFin) === false) {
                            swal('คำเตือน', 'กรุณาตรวจสอบ อีเมล', 'error');
                            return false;
                        }
                    }

                    let emailAlt = $('#txtAlternateEmail').val();
                    if (emailAlt != '' && emailAlt != "-") {
                        if (validateEmail(emailAlt) === false || ValidateThai(emailAlt) === false) {
                            swal('คำเตือน', 'กรุณาตรวจสอบ อีเมล', 'error');
                            return false;
                        }
                    }

                    let emailAcc = $('#txtAccountEmail').val();
                    if (emailAcc != '' && emailAcc != "-") {
                        if (validateEmail(emailAcc) === false || ValidateThai(emailAcc) === false) {
                            swal('คำเตือน', 'กรุณาตรวจสอบ อีเมล', 'error');
                            return false;
                        }
                    }

                    let emailMar = $('#txtMarketingEmail').val();
                    if (emailMar != '' && emailMar != "-") {
                        if (validateEmail(emailMar) === false || ValidateThai(emailMar) === false) {
                            swal('คำเตือน', 'กรุณาตรวจสอบ อีเมล', 'error');
                            return false;
                        }
                    }

                    let emailNur = $('#txtNurseEmail').val();
                    if (emailNur != '' && emailNur != "-") {
                        if (validateEmail(emailNur) === false || ValidateThai(emailNur) === false) {
                            swal('คำเตือน', 'กรุณาตรวจสอบ อีเมล', 'error');
                            return false;
                        }
                    }

                    return true;
                    break;
                case 2:

                    if ($('input[name="rdIscontract"]:checked').length == 0) {
                        swal("คำเตือน", "กรุณาเลือกรายการ คู่สัญญา", "error");
                        return false;
                    }

                    if ($('#rdIscontract').iCheck('update')[0].checked == true) {
                        if (($('#date_start').datepicker().val() != "") || ($('#date_end').datepicker().val() != ""))  {

                            if ($('#date_start').datepicker().datepicker().val() == "") {
                                swal("คำเตือน", "กรุณากรอกวันเริ่มสัญญา", "warning");
                                return false;
                            }

                            //if ($('#date_end').datepicker().datepicker().val() == "") {
                            //    swal("คำเตือน", "กรุณากรอกวันสิ้นสุดสัญญา", "warning");
                            //    return false;
                            //}

                            //let startDate = new Date($('#date_start').datepicker('getDate'));
                            //let endDate = new Date($('#date_end').datepicker('getDate'));

                            //if (startDate > endDate) {
                            //    swal("คำเตือน", "วันเริ่มสัญญาหรือวันสิ้นสุดสัญญา ไม่ถูกต้อง", "warning");
                            //    return false;
                            //}

                        }
                    }

                    if ($('#rdIsNotcontract').iCheck('update')[0].checked == true) {
                        if ($('#cbisonprocess').iCheck('update')[0].checked == true) {
                            if ($('#ddlOnProcessStatus').val() == "-1") {
                                swal("คำเตือน", "กรุณาเลือกสถานะดำเนินการ", "warning");
                                return false;
                            }

                        }
                    }

                    return true;

                    break;
                case 3:

                    if ($('#ddlBankName').val() !== '-1') {

                        //สาขา
                        if ($('#txtBankBranch').val() == "") {
                            swal("คำเตือน", "กรุณากรอก สาขา", "error");
                            return false;
                        }
                        //เลขที่บัญชี
                        if ($('#txtBankAccountNo').val() == "") {
                            swal("คำเตือน", "กรุณากรอก เลขที่บัญชี", "error");
                            return false;
                        } else {

                            const re = /^\d+$/;
                            let chk_acc = re.test(String($('#txtBankAccountNo').val().trim()).toLowerCase());

                            if (chk_acc == false) {
                                swal("คำเตือน", "กรุณาตรวจสอบ เลขที่บัญชี ต้องเป็นตัวเลขเท่านั้น", "error");
                                return false;
                            }
                        }

                        //ชื่อบัญชี
                        if ($('#txtBankAccountName').val() == "") {
                            swal("คำเตือน", "กรุณากรอก ชื่อบัญชี", "error");
                            return false;
                        }

                    }

                    if ($('#ddlBankName').val() == '-1' && ($('#txtBankAccountName').val() != ""
                        || $('#txtBankAccountNo').val() != "" || $('#txtBankBranch').val() != "")) {
                        swal("คำเตือน", "กรุณาระบุ ธนาคาร", "error");
                        return false;
                    }

                    return true;

                    break;
                default:
                    return true;
            }

        }

        const UpdateData = (tabIndex) => {
            if (tabIndex == 1) {
                $.ajax({
                type: "POST",
                url: "@Url.Action("InformationInsertOrUpdate")",
                data: {
                    organizeId: @ViewBag.OrganizeId,
                    nearByPlace: $('#txtNearByPlace').val().trim(),
                    organizeContactTel: $('#txtHosTel').val().trim(),
                    organizeContactFax: $('#txtHosFax').val().trim(),
                    organizeContactEmail: $('#txtHosEmail').val().trim(),
                    latitude: $('#txtLatitude').val().trim(),
                    longitude: $('#txtLongitude').val().trim(),
                    financeContact: $('#txtFinanceContact').val().trim(),
                    financeTel: $('#txtFinanceTel').val().trim(),
                    financeEmail: $('#txtFinanceEmail').val().trim(),
                    financeFax: $('#txtFinanceFax').val().trim(),
                    alternateFinanceContact: $('#txtAlternateContact').val().trim(),
                    alternateFinanceTel: $('#txtAlternateTel').val().trim(),
                    alternateFinanceEmail: $('#txtAlternateEmail').val().trim(),
                    alternateFinanceFax: $('#txtAlternateFax').val().trim(),
                    accountingContact: $('#txtAccountContact').val().trim(),
                    accountingTel: $('#txtAccountTel').val().trim(),
                    accountingEmail: $('#txtAccountEmail').val().trim(),
                    accountingFax: $('#txtAccountFax').val().trim(),
                    marketingContact: $('#txtMarketingContact').val().trim(),
                    marketingTel: $('#txtMarketingTel').val().trim(),
                    marketingEmail: $('#txtMarketingEmail').val().trim(),
                    marketingFax: $('#txtMarketingFax').val().trim(),
                    nurseContact: $('#txtNurseContact').val().trim(),
                    nurseTel: $('#txtNurseTel').val().trim(),
                    nurseEmail: $('#txtNurseEmail').val().trim(),
                    nurseFax: $('#txtNurseFax').val().trim()
                },
                dataType: "json",
                async: false,
                success: function (data) {

                    if (data.IsResult == true) {

                        chat.server.sendNoticeGroup("อัพเดตข้อมูล", "", userID);

                        //Alert
                        swal("", data.Msg, "success");
                        //LoadData
                        //LoadData();
                        DoLoadTransaction();

                    } else {
                        swal("", data.Msg, "warning");
                    }

                }
            });
            }
            else if (tabIndex == 2) {
                let isContract = false;
                let ph_ipd = 1;
                let ph_opd = 1;
                let pa_ipd = 1;
                let pa_opd = 1;
                let onProcessStatusiD = -1
                let startDate = $('#date_start').val();
                let endDate = $('#date_end').val()
                debugger;
                if ($('#rdIscontract').iCheck('update')[0].checked == true) {
                    isContract = true;
                    if ($('#date_start').val() == "") startDate = null;
                    if ($('#date_end').val() == "") endDate = null;

                }
                else {
                    startDate = null;
                    endDate = null;
                    if ($('#cbisonprocess').iCheck('update')[0].checked == true) {
                        onProcessStatusiD = $('#ddlOnProcessStatus').val();
                    }
                }
                debugger;

                if ($('#rdPhIpdIsContract').iCheck('update')[0].checked == true) {
                    ph_ipd = 2;
                }

                if ($('#rdPhIpdIsNotContract').iCheck('update')[0].checked == true) {
                    ph_ipd = 3;
                }

                if ($('#rdPhOpdIsContract').iCheck('update')[0].checked == true) {
                    ph_opd = 2;
                }

                if ($('#rdPhOpdIsNotContract').iCheck('update')[0].checked == true) {
                    ph_opd = 3;
                }

                if ($('#rdPAIpdIsContract').iCheck('update')[0].checked == true) {
                    pa_ipd = 2;
                }

                if ($('#rdPAIpdIsNotContract').iCheck('update')[0].checked == true) {
                    pa_ipd = 3;
                }

                if ($('#rdPAOpdIsContract').iCheck('update')[0].checked == true) {
                    pa_opd = 2;
                }

                if ($('#rdPAOpdIsNotContract').iCheck('update')[0].checked == true) {
                    pa_opd = 3;
                }

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ContractInsertOrUpdate")",

                    data: {
                        organizeId: @ViewBag.OrganizeId,
                        isContract: isContract,
                        remark: $('#txtRemark').val().trim(),
                        iPD_PH: ph_ipd,
                        oPD_PH: ph_opd,
                        iPD_PA: pa_ipd,
                        oPD_PA: pa_opd,
                        startDate: startDate ,
                        endDate: endDate,
                        onProcessId: onProcessStatusiD == -1 ? null : onProcessStatusiD
                    },
                    dataType: "json",
                    async: false,
                    success: function (data) {

                        if (data.IsResult == true) {

                            chat.server.sendNoticeGroup("อัพเดตข้อมูล", "", userID);

                            //Alert
                            swal("", data.Msg, "success");
                            //LoadData
                            //LoadData();
                            DoLoadTransaction();

                        } else {
                            swal("", data.Msg, "warning");
                        }
                    }
                });
            }
            else if (tabIndex == 3) {
                $.ajax({
                type: "POST",
                url: "@Url.Action("BankAccountInsertOrUpdate")",
                data: {
                    organizeId: @ViewBag.OrganizeId,
                    ChequeName: $('#txtChequeName').val().trim(),
                    bankId: $('#ddlBankName').val().trim(),
                    bankBranch: $('#txtBankBranch').val().trim(),
                    bankAccountNo: $('#txtBankAccountNo').val().trim(),
                    bankAccountName: $('#txtBankAccountName').val().trim()
                },
                dataType: "json",
                async: false,
                success: function (data) {

                    if (data.IsResult == true) {

                        chat.server.sendNoticeGroup("อัพเดตข้อมูล", "", userID);

                        //Alert
                        swal("", data.Msg, "success");
                        //LoadData
                       // LoadData();
                        DoLoadTransaction();

                    } else {
                        swal("", data.Msg, "warning");
                    }

                }
            });
            }


        }

         //-------------------data table -----------------------

            const DoLoadTransaction = () => {
            $('#dtTransaction').empty();
            var t = $('#dtTransaction').dataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                searching: false,
                autoWidth: true,
                "order": [[0, "desc"]],
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetOrganizeTransaction", "InfomationHospitalManagement")',
                    type: 'POST',
                    async: false,
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;
                        d.organizeId = @ViewBag.OrganizeId;
                    }
                },
                columns: [
                    {
                        title: 'วันที่ทำรายการ', data: 'CreatedDate', className: 'h-dt-center', width: '8%',
                        mRender: function (data) {
                            moment.locale('th');
                            return moment(data).add(543, 'years').format("DD/MM/YYYY HH:mm:ss", "LLLL");
                        }
                    },
                    { title: 'ผู้ทำรายการ', data: 'CreatedByName', className: 'h-dt-center text-font-small', width: '8%' },
                    { title: 'ประเภทรายการ', data: 'TransactionType', className: 'h-dt-center text-font-small', width: '8%' },
                    {
                        title: 'รายละเอียด',
                        data: null,
                        className: 'h-dt-center d-dt-center ',
                        mRender: (data, type, full) => {
                            return '<a onclick="DoLoadTransactionDetail(\'' + data.OrganizeTransactionId + '\')"  type="button"  class="btn btn-primary btn-sm" > ดูรายละเอียด</a>'
                        }, width: '5%'
                    },
                ],
                bLengthChange: false,
            });
        }

          const DoLoadTransactionDetail = (TransactionId) => {
            $('#dtTransactionDetail').empty();
             var t = $('#dtTransactionDetail').dataTable({
                 pageLength: 10,
                 processing: true,
                 serverSide: true,
                 autoWidth: false,
                 responsive: true,
                destroy: true,
                searching:false,
                ajax: {
                    url: '@Url.Action("GetOrganizeTransactionDetailById", "InfomationHospitalManagement")',

                    type: 'POST',
                    async: false,
                    data: function (d) {

                        d.transactionId = TransactionId;
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;

                    }
                },
                 columns: [
                     { title: 'รายการ', data: 'TransactionSubType', className: 'h-dt-center text-font-small'},
                     { title: 'ข้อมูลเดิม', data: 'FromDetail', className: 'h-dt-center text-font-small'},
                     { title: 'ข้อมูลใหม่', data: 'ToDetail', className: 'h-dt-center text-font-small'}

                ],
                bLengthChange: false,
             });

            $('#ModalTransactTionDetail').modal('show');
        }
    </script>
}