@{
    ViewBag.Title = "รายละเอียดกรมธรรม์";
    Layout = "~/Views/Shared/_LayoutForTopIndexMotor.cshtml";
}
<style>
    .marker {
        list-style-type: circle;
        color: #005484
    }

    .page-content img {
        max-width: 20%;
        height: auto !important;
    }

    #overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: not-allowed; /* Add a pointer on hover */
    }
</style>
<div class="row">
    <div class="col-md-12" style="text-align:center;">
        <h2 style="color: #005484">รายละเอียดกรมธรรม์</h2>
    </div>
    <div class="col-md-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false"><h4>บันทึกผลการทำงาน</h4></a></li>

                <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="true"><h4>ประวัติคิวงาน</h4></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">

                    <div class="row">
                        <div class="col-sm-12" style=" margin-top:15px;margin-bottom :15px">
                            <div class="card" style="background-color: #E0F7FF; border-radius: 8px 8px; ">
                                <div class="box-header" style="color: #3F8FBD; border-bottom: 1px solid #bbb">
                                    <i class="fa fa-user"></i>
                                    <h4 class="box-title">ข้อมูลผู้เอาประกัน </h4>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <h5 class=" col-md-3"><b>App ID</b> : @ViewBag.QueueMotorFullDetail.ApplicationCode</h5>
                                        <h5 class=" col-md-3">
                                            <b>วันเริ่มคุ้มครอง</b> : @(String.Format("{0:dd MMM yyyy}",ViewBag.QueueMotorFullDetail.StartCoverDate))
                                        </h5>
                                        <h5 class=" col-md-3"><b>แผนประกัน</b> : @ViewBag.QueueMotorFullDetail.ProductDetail</h5>
                                        <h5 class=" col-md-3"><b>เบี้ย</b> : @ViewBag.QueueMotorFullDetail.Premium</h5>
                                    </div>
                                    <div class="row">
                                        <h5 class=" col-md-3 "><b>ชื่อ</b> : @(String.Format("{0}{1} {2}", ViewBag.QueueMotorFullDetail.InsuredTitle, ViewBag.QueueMotorFullDetail.InsuredFirstName, ViewBag.QueueMotorFullDetail.InsuredLastName))</h5>
                                        <h5 class="col-md-3">
                                            <b>วันเกิด</b> :  <span class="control-label" display: inline-block; max-width: 100%; text-align: right">@(ViewBag.QueueMotorFullDetail.InsuredBirthDate != null ? String.Format("{0:dd MMM yyyy}", ViewBag.QueueMotorFullDetail.InsuredBirthDate) : "-")</span>
                                        </h5>
                                        <h5 class="col-md-3"><b>เบอร์โทร</b> : @ViewBag.QueueMotorFullDetail.InsuredPhone</h5>
                                        <h5 class="col-md-3"><b>อาชีพ</b> :  @ViewBag.QueueMotorFullDetail.InsuredOccupationLevel </h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" >
                            <div class="card" style="background-color: #E0F7FF; border-radius: 8px 8px">
                                <div class="box-header" style="color: #3F8FBD; border-bottom: 1px solid #bbb">
                                    <i class="fa fa-user"></i>
                                    <h4 class="box-title">ข้อมูลผู้ชำระเบี้ย </h4>
                                </div>
                                <div class="box-body" style="align-items: center;">
                                    <div class="row">


                                        <h5 class=" col-md-4"><b>ชื่อผู้ชำระเบี้ย</b> : @(ViewBag.QueueMotorFullDetail.PayerFirstName != null ? String.Format("{0}{1} {2}", ViewBag.QueueMotorFullDetail.PayerTitle, ViewBag.QueueMotorFullDetail.PayerFirstName, ViewBag.QueueMotorFullDetail.PayerLastName) : "-")</h5>
                                        <h5 class="col-md-4">
                                            <b>วันเกิด</b> :  <span class="control-label" display: inline-block; max-width: 100%; text-align: right">@(ViewBag.QueueMotorFullDetail.PayerBirthDate != null ? String.Format("{0:dd MMM yyyy}", ViewBag.QueueMotorFullDetail.PayerBirthDate) : "-")</span>
                                        </h5>
                                        <h5 class=" col-md-4"><b>เบอร์โทร</b> : @(ViewBag.QueueMotorFullDetail.PayerPhone != null ? ViewBag.QueueMotorFullDetail.PayerPhone : "-")</h5>
                                    </div>
                                    <div class="row">
                                        <h5 class=" col-md-4"><b>กลุ่มอาชีพ</b> : @(ViewBag.QueueMotorFullDetail.PayerOccupation != null ? ViewBag.QueueMotorFullDetail.PayerOccupation : "-")</h5>
                                        <h5 class=" col-md-4"><b>อาชีพ</b> : @(ViewBag.QueueMotorFullDetail.PayerOccupationLevel != null ? ViewBag.QueueMotorFullDetail.PayerOccupationLevel : "-")</h5>
                                        <h5 class=" col-md-4"><b>ชื่อหน่วยงาน</b> : @(ViewBag.QueueMotorFullDetail.PayerOfficeName != null ? ViewBag.QueueMotorFullDetail.PayerOfficeName : "-")</h5>

                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12" style="margin-top:15px;margin-bottom :15px">
                            <div class="card" style="background-color: #E0F7FF; border-radius: 8px 8px">
                                <div class="box-header" style="color: #3F8FBD; border-bottom: 1px solid #bbb">
                                    <i class="fa fa-user"></i>
                                    <h4 class="box-title">รายละเอียดรถยนต์ </h4>
                                </div>
                                <div class="box-body" style="align-items: center;">
                                    <div class="row">

                                        <h5 class=" col-md-4"><b>ยี่ห้อ</b> : @(String.IsNullOrEmpty(ViewBag.QueueMotorFullDetail.VehicleBrandDetail) ? "-" : ViewBag.QueueMotorFullDetail.VehicleBrandDetail)</h5>
                                        <h5 class=" col-md-4"><b>รุ่น</b> : @(String.IsNullOrEmpty(ViewBag.QueueMotorFullDetail.VehicleModelDetail) ? "-" : ViewBag.QueueMotorFullDetail.VehicleModelDetail)</h5>
                                        <h5 class=" col-md-4"><b>เลขทะเบียน</b> :@(String.IsNullOrEmpty(ViewBag.QueueMotorFullDetail.VehicleRegistrationNumber) ? "-" : ViewBag.QueueMotorFullDetail.VehicleRegistrationNumber)</h5>
                                    </div>
                                    <div class="row">
                                        <h5 class=" col-md-4"><b>ปีที่จดทะเบียน</b> : @ViewBag.VehicleRegistrationYear</h5>
                                        <h5 class=" col-md-4"><b>หมายเลขตัวถัง</b> :@(String.IsNullOrEmpty(ViewBag.QueueMotorFullDetail.VehicleChassisNumber) ? "-" : ViewBag.QueueMotorFullDetail.VehicleChassisNumber)</h5>
                                        <h5 class=" col-md-4"><b>ประเภทยานพาหนะ</b> :@(String.IsNullOrEmpty(ViewBag.QueueMotorFullDetail.VehicleTypeDetail) ? "-" : ViewBag.QueueMotorFullDetail.VehicleTypeDetail)</h5>
                                    </div>
                                    <div class="row">
                                        <h5 class=" col-md-4"><b>ประเภทการใช้งาน</b> :@(String.IsNullOrEmpty(ViewBag.QueueMotorFullDetail.VehicleUseTypeDetail) ? "-" : ViewBag.QueueMotorFullDetail.VehicleUseTypeDetail)</h5>
                                        <h5 class=" col-md-4"><b>ลักษณะการใช้งาน</b> :@(String.IsNullOrEmpty(ViewBag.QueueMotorFullDetail.DriveDetail) ? "-" : ViewBag.QueueMotorFullDetail.DriveDetail)</h5>
                                        <h5 class=" col-md-4"><b>ขนาดเครื่องยนต์ (L)</b> :@(String.IsNullOrEmpty(ViewBag.QueueMotorFullDetail.VehicleEngineSize) ? "-" : ViewBag.QueueMotorFullDetail.VehicleEngineSize)</h5>

                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-12">
                            <div class="box box-info bg-info " style="border-radius: 8px 8px 0px 0px ">
                                <div class="box-header" style="background-color: #00C0EF; color: azure; border-radius: 8px 8px 0px 0px ">
                                    <h4 class="box-title">รายละเอียดการมอบกรมธรรม์ </h4>
                                </div>
                                <div class=" box-body" style="height: auto;width: auto;margin-top:15px">
                                    <form id="sectionGiveCardFrom">
                                        <div class="typeSelectChildxx form-group col-md-12">
                                            <label class="col-md-2 control-label title">มอบกรมธรรม์ ให้กับ</label>
                                            @*<label class="col-md-2  fonts-box"><input type="checkbox" name="typeSelectChild" id="typeSelectChildPayer" value=@(ViewBag.QueueMotorFullDetail.IsUnderwritePayer == true ? "" : "" ) @(ViewBag.QueueMotorFullDetail.IsUnderwritePayer == true ? "checked" : "" )> ผู้ชำระเบี้ย </label>
                            <label class="col-md-2  fonts-box"><input type="checkbox" name="typeSelectChild" id="typeSelectChildInsured" value=@(ViewBag.QueueMotorFullDetail.IsUnderwriteInsured == true ? "" : "") @(ViewBag.QueueMotorFullDetail.IsUnderwriteInsured == true ? "checked" : "")> ผู้เอาประกัน</label>*@
                                            <label class="col-md-2  fonts-box"><input type="checkbox" name="typeSelectChild" id="typeSelectChildPayer" value=@(ViewBag.QueueMotorFullDetail.IsUnderwritePayer == true ? "payer" : null ) checked="@(ViewBag.QueueMotorFullDetail.IsUnderwritePayer == true ? true : false )"> ผู้ชำระเบี้ย </label>
                                            <label class="col-md-2  fonts-box"><input type="checkbox" name="typeSelectChild" id="typeSelectChildInsured" value=@(ViewBag.QueueMotorFullDetail.IsUnderwriteInsured == true ? "insure" : null) checked="@(ViewBag.QueueMotorFullDetail.IsUnderwriteInsured == true ? true : false)"> ผู้เอาประกัน</label>

                                        </div>

                                        <div class="form-group col-md-12" id="remarkisLineOAFrom">
                                            <label class="col-md-2 control-label title">
                                                หมายเหตุการมอบกรมธรรม์
                                            </label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" name="remarkisLineOA" id="remarkisLineOA" value="@ViewBag.QueueMotorFullDetail.GiveRemark">
                                            </div>
                                        </div>
                                    </form>
                                    <div class="form-group col-md-12">
                                        <label class="col-md-2 control-label title">
                                            แนบรูปการมอบกรมธรรม์
                                        </label>
                                        <div class="col-md-8 " id="showImg">
                                            <a href="javascript:void();" class="pop">
                                                <img id="myImg" src="@ViewBag.QueueMotorFullDetail.URLPath" alt="@ViewBag.QueueMotorFullDetail.FileName" style="width:100%;max-width:100px">
                                            </a>
                                            <a href="javascript:void();" id="btnEditImg">แก้ไขรูปภาพ</a>
                                        </div>
                                        <div class="col-md-8" style="display:none" id="editDropzone">
                                            <form action="@Url.Action("FileUpload")" class="dropzone" id="myDropzone" enctype="multipart/form-data">
                                                <div class="fallback">
                                                    <input name="file" type="file" src="@ViewBag.QueueMotorFullDetail.URLPath" alt="@ViewBag.QueueMotorFullDetail.FileName" multiple />
                                                </div>
                                                <input type="hidden" name="queueId" id="hiddenQueueId" value="@ViewBag.QueueId" />
                                                <input type="hidden" name="createdDate" id="hiddenQueueCreatedDate" value="@ViewBag.QueueMotorFullDetail.CreatedDate" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form id="sectionGiveCardFrom_2">
                            <div class="col-sm-12">
                                <div class="box box-info bg-info " style="border-radius: 8px 8px 0px 0px ">
                                    <div class="box-header" style="background-color: #00C0EF; color: azure; border-radius: 8px 8px 0px 0px ">
                                        <h4 class="box-title">ข้อมูลการเฝ้าระวัง</h4>
                                    </div>
                                    <div class="box-body shadow" style="height: auto;width: auto;margin-top:15px">
                                        <div class="form-group text col-md-12">
                                            <label class="col-md-12 control-label title">ข้อมูลการเฝ้าระวัง</label>
                                            <label class="col-md-2 fonts-box">
                                                <input type="radio" name="isBeware" value="0" id="isBeware_1" @(ViewBag.QueueMotorFullDetail.IsBeware == false ? "checked" : "" )> ไม่มี
                                            </label>
                                            <label class="col-md-2 fonts-box">
                                                <input type="radio" name="isBeware" value="1" id="isBeware_2" @(ViewBag.QueueMotorFullDetail.IsBeware == true ? "checked" : "" )> มี
                                            </label>
                                            <label class="bewareRemarkLabel col-md-6 fonts-box" id="bewareRemarkLabel" style="display:none">
                                                <input class="form-control" id="bewareRemark" name="bewareRemark" type="text" placeholder="รายละเอียดเพิ่มเติม" value="@ViewBag.QueueMotorFullDetail.BewareRemark" />
                                            </label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="box box-info bg-info " style="border-radius: 8px 8px 0px 0px ">
                                    <div class="box-header" style="background-color: #00C0EF; color: azure; border-radius: 8px 8px 0px 0px ">
                                        <h4 class="box-title">รายละเอียดเพิ่มเติม</h4>
                                    </div>
                                    <div class="box-body" style="height: auto;width: auto;margin-top:15px">
                                        <div class="form-group col-md-12">
                                            <label class="col-md-12 control-label title">รายละเอียดเพิ่มเติม</label>
                                            <textarea name="remarkFrom" id="remarkFrom" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px" value="@ViewBag.QueueMotorFullDetail.QueueResultRemark">@ViewBag.QueueMotorFullDetail.QueueResultRemark</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input class="form-control" id="txtCoBrandDate" name="txtCoBrandDate" type="hidden" />
                        </form>
                        <div style="text-align:center;padding-bottom: 10px;">
                            <button id="btnSubmit" class="form-control btn btn-success" style="width: 150px; background-color: #FFC70A; color: white; border: none">บันทึกแก้ไข</button>
                        </div>
                        <!--.modal -->
                        <div class="modal fade" id="modal-warning">
                            <!--.modal-dialog -->
                            <div class="modal-dialog modal-lg">
                                <!--.modal-content -->
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color: #ffd243;border-color: #ffeeba;">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" style="color: black;">×</span>
                                        </button>
                                        <h4 class="modal-title">รายละเอียด</h4>
                                    </div>
                                    <div class="modal-body">
                                        <table id="tablePayerOther" class="table table-bordered table-striped display responsive" style="width: 100%">
                                            <tbody>
                                                <tr style="text-align:center"><td>ไม่พบข้อมูล</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!--/.modal -->
                        <!--<div class="modal fade" style="justify-content:center; align-content:center; align-items:center" id="modal-warning">



        <div class="modal-dialog  ">
            <div class="modal-content modal-lg ">
                <div class="modal-header" style="background-color: #ffd243;border-color: #ffeeba;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: black;">×</span>
                    </button>
                    <h4 class="modal-title">รายละเอียด</h4>
                </div>
                <div class="modal-body">
                    <table id="tablePayerOther" class="table table-bordered table-striped display responsive" style="width: 100%">
                        <tbody>
                            <tr style="text-align:center"><td>ไม่พบข้อมูล</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>-->
                        @* end modal *@
                    </div> @* end row*@


                </div>
                @* end ผลการคัดกรอง *@
                <!-- /.tab-pane -->
                <!-- /.tab-pane -->
                <div id="tab_3" class="tab-pane">
                    <div class="form-horizontal">
                        <table id="tableLog" name="tableLog" class="table table-bordered table-striped display responsive" style="width: 100%">
                            <tbody>
                                <tr style="text-align:center"><td>ไม่พบข้อมูล</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>
</div>
<div class="modal fade" id="modal-CountChassisNumber">
    <!--.modal-dialog -->
    <div class="modal-dialog modal-lg">
        <!--.modal-content -->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#00e676; border-color:#00e676; ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:red">×</span>
                </button>
                <h4 class="modal-title">หมายเลขตัวถังมีประวัติคัดกรอง</h4>
            </div>
            <div class="modal-body">
                <table id="UnderwriteHistory" name="UnderwriteHistory" class="table table-bordered table-striped display responsive" style="width: 100%">
                    <tbody>
                        <tr style="text-align:center"><td>ไม่พบข้อมูล</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-CountPaymentHistory">
    <!--.modal-dialog -->
    <div class="modal-dialog modal-lg">
        <!--.modal-content -->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #FAE333; border-color: #FAE333; ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:red">×</span>
                </button>
                <h4 class="modal-title">รายละเอียด</h4>
            </div>
            <div class="modal-body">
                <table id="UnderwritePaymentHistory" name="UnderwritePaymentHistory" class="table table-bordered table-striped display responsive" style="width: 100%">
                    <tbody>
                        <tr style="text-align:center"><td>ไม่พบข้อมูล</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section ViewSpecificJavascript
    {
    <script type="text/javascript">
        var chat;
        var motorVal;
        var typeSelectVal = `@ViewBag.QueueMotorFullDetail.UnderwriteTypeId`;
               var countFile = @(ViewBag.QueueMotorFullDetail.URLPath == null ? 0 :1);
        var imgUrlPath = `@(ViewBag.QueueMotorFullDetail.URLPath)`;
        var imgPhysicalPath;
        var fileImgName = `@(ViewBag.QueueMotorFullDetail.FileName)`;


        $(function () {

            //disabled element input
            $("#box-ask-1 :input").prop("disabled", true);
            $("#box-ask-2 :input").prop("disabled", true);
            if ($("#motor-child-notpass-other").is(':checked')) {
                $('#motorChildNotPassOtherRemark2').prop('disabled', false);
                $('#motorChildNotPassOtherRemark').prop('disabled', false);
            } else {
                $('#motorChildNotPassOtherRemark2').prop('disabled', true);
                $('#motorChildNotPassOtherRemark').prop('disabled', true);
            }

            //view img
            var group = {
                headerToolbar: [
                    'maximize',
                    'close'
                ],
                footerToolbar: [
                    'zoomIn',
                    'zoomOut',
                    'prev',
                    'fullscreen',
                    'next',
                    'actualSize',
                    //'rotateLeft',
                    'rotateRight',
                    //'myCustomButton'
                ],
                customButtons: {
                    myCustomButton: {
                        text: '',
                        title: '',
                        click: function (context, e) {
                            //todo
                        }
                    }
                },
                modalWidth: 400,
                modalHeight: 400,
                callbacks: {
                    beforeChange: function (context, index) {
                        //todo
                    },
                    changed: function (context, index) {
                        //todo
                    },
                    opened: function (context) {
                        $('#overlay').css("display", "block");

                    },
                    closed: function (context) {
                        $('#overlay').css("display", "none");
                    },
                }
            }

            $('[data-magnify="IDcard"]').magnify(group);
            $('[data-magnify="img"]').magnify(group);
            $('[data-magnify="register"]').magnify(group);
            $('[data-magnify="receipt"]').magnify(group);
            $('[data-magnify="consent"]').magnify(group);
            $('[data-magnify="bank"]').magnify(group);
            $('[data-magnify="other"]').magnify(group);

            $('#aaa').collapse({
                expanded: false
            })

            /*start signalR*/
            // Reference the auto-generated proxy for the hub.
            chat = $.connection.chatHub;
            //Start Connection
            $.connection.hub.start().done();

            //Date
            var date = new Date();
            $('#txtCoBrandDate').val(`${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear() + 543}`);

            $('#btnSubmit').click(function () {

                if (ValidateSave()) {
                    if ($('#sectionGiveCardFrom').valid() && $('#sectionGiveCardFrom_2').valid()) {
                        debugger
                        if (countFile === 0) {
                            imgUrlPath = null;
                            imgPhysicalPath = null;
                            fileImgName = null;
                            swal_confirm("ยืนยันบันทึกข้อมูล", "", function (e) {
                                //บันทึกมอบกรมธรรม์  && แบบสอบถาม
                                InsertQueueMotorPolicies();
                            });
                        } else {
                            swal_confirm("ยืนยันบันทึกข้อมูล", "", function (e) {
                                //บันทึกมอบกรมธรรม์  && แบบสอบถาม
                                InsertQueueMotorPolicies();
                            });
                        }

                    }
                }

            });
            @*$('#btnSubmit').click(function () {
                if ($('#motorFormQuestionUpdate').valid()) {
                    debugger
                    if ($("input[name=motorUnderwriteStatus]:checked").val() === "1") {
                        if (motorVal === '1' && typeSelectVal === '2') {
                            if (`@ViewBag.QueueMotorFullDetail.GiveTypeId` != null && `@ViewBag.QueueMotorFullDetail.GiveTypeId` != '') {
                                //บันทึกแบบสอบถาม
                                swal({
                                    title: "ยืนยันบันทึกข้อมูล",
                                    text: "",
                                    type: 'info',
                                    showCancelButton: true,
                                    confirmButtonColor: '#277020',
                                    confirmButtonText: 'ยืนยัน',
                                    cancelButtonText: 'ยกเลิก',
                                    closeOnConfirm: false,
                                    closeOnEsc: false,
                                    closeOnCancel: true
                                }, function () {
                                    $(".confirm").attr('disabled', 'disabled');
                                    SubmitMotorFormQuestionUpdate();
                                });
                            } else {
                                if (countFile > 0) {
                                    if (ValidateSave()) {
                                        swal_confirm("ยืนยันบันทึกข้อมูล", "", function (e) {
                                            //บันทึกมอบบัตร && แบบสอบถาม
                                            InsertQueueMotorPolicies();
                                        });
                                    }

                                } else {
                                    if (countFile === 0) {
                                        imgUrlPath = null;
                                        imgPhysicalPath = null;
                                        fileImgName = null;
                                        if (ValidateSave()) {
                                            swal_confirm("ยืนยันบันทึกข้อมูล", "", function (e) {
                                                //บันทึกมอบบัตร && แบบสอบถาม
                                                InsertQueueMotorPolicies();
                                            });
                                        }
                                    }
                                }
                            }

                        } else {
                            //บันทึกแบบสอบถาม
                            swal({
                                title: "ยืนยันบันทึกข้อมูล",
                                text: "",
                                type: 'info',
                                showCancelButton: true,
                                confirmButtonColor: '#277020',
                                confirmButtonText: 'ยืนยัน',
                                cancelButtonText: 'ยกเลิก',
                                closeOnConfirm: false,
                                closeOnEsc: false,
                                closeOnCancel: true
                            }, function () {
                                $(".confirm").attr('disabled', 'disabled');
                                SubmitMotorFormQuestionUpdate();
                            });
                        }
                    } else {
                        //บันทึกแบบสอบถาม
                        swal({
                            title: "ยืนยันบันทึกข้อมูล",
                            text: "",
                            type: 'info',
                            showCancelButton: true,
                            confirmButtonColor: '#277020',
                            confirmButtonText: 'ยืนยัน',
                            cancelButtonText: 'ยกเลิก',
                            closeOnConfirm: false,
                            closeOnEsc: false,
                            closeOnCancel: true
                        }, function () {
                            $(".confirm").attr('disabled', 'disabled');
                            SubmitMotorFormQuestionUpdate();
                        });
                    }
                }
            })*@



                  var start = Date.now();
            var NowDay = moment(start).format("DD");
            var NowTime = moment(start).format("HH.mm");
            var FloatNowTime = parseFloat(NowTime);
            var IntNowDay = parseInt(NowDay);

            var CloseEdit = (`@ViewBag.CancerCloseDate`).split(",");
            var CloseEditDay = parseInt(CloseEdit[0]);
            var CloseEditTime = parseFloat(CloseEdit[1]);

            var NowMonth = moment(start).format("MM");
            var preiodMonthList = (`@ViewBag.QueueMotorFullDetail.Period`).split("/");
            var preiodMonth = parseInt(preiodMonthList[1]);
            var IntNowMonth = parseInt(NowMonth);
            var IntpreiodMonth = parseInt(preiodMonth);
            var divMonth = IntpreiodMonth - IntNowMonth;




            if (divMonth == 1 && IntNowDay > CloseEditDay) {
                if (FloatNowTime < CloseEditTime) {
                    $('#btnSubmit').prop('disabled', false);

                } else {
                    $('#btnSubmit').prop('disabled', true);

                }
            } else if (divMonth == 0 && IntNowDay <= CloseEditDay) {
                if (FloatNowTime < CloseEditTime) {
                    $('#btnSubmit').prop('disabled', false);

                } else {
                    $('#btnSubmit').prop('disabled', true);

                }

            } else {

                $('#btnSubmit').prop('disabled', true);
            }

            //สถานะยังไม่ดำเนินการ หรือ เกินกำหนด ห้ามแก้ไข
            if (`@ViewBag.QueueMotorFullDetail.QueueStatusId` == '8') {

                $('#btnSubmit').prop('disabled', true);
            }



            const ValidateSave = () => {




                if ($('input[name=isBeware]:checked').val() == "1") {
                    $('#bewareRemark').prop('required', true);
                    //$('#bewareRemark').valid();
                }

                return true;
            }
            //const ValidateSave = () => {
            //    if ($('#select_GiveType').val() == 7 && $('#txtGiveTypeRemark').val() == '') {
            //        return swal({
            //            title: "กรุณาระบุหมายเหตุ",
            //            text: "",
            //            type: "error",
            //            showCancelButton: false,
            //            showConfirmButton: true,
            //            confirmButtonColor: '#ed2b09',
            //            confirmButtonText: 'ตกลง',
            //            allowEscapeKey: false,
            //            allowOutsideClick: false,
            //            html: false
            //        }, function (e) { });
            //    }

            //    if ($('#select_GiveType').val() == "-1" || $('#select_GiveType').val() == null) {
            //        return swal({
            //            title: "กรุณาเลือกประเภทการมอบบัตร",
            //            text: "",
            //            type: "error",
            //            showCancelButton: false,
            //            showConfirmButton: true,
            //            confirmButtonColor: '#ed2b09',
            //            confirmButtonText: 'ตกลง',
            //            allowEscapeKey: false,
            //            allowOutsideClick: false,
            //            html: false
            //        }, function (e) { });
            //    }

            //    return true;
            //}
            //Dropzone Options
            Dropzone.options.myDropzone = {
                paramName: "file", // ชื่อไฟล์ปลายทางเมื่อ upload แบบ mutiple จะเป็น array
                autoProcessQueue: true,// ใส่เพื่อไม่ให้อัพโหลดทันที หลังจากเลือกไฟล์
                uploadMultiple: false, // อัพโหลดไฟล์หลายไฟล์ - true จะส่งเป็น array
                parallelUploads: 10, // ให้ทำงานพร้อมกัน 10 ไฟล์
                maxFiles: 1, // ไฟล์สูงสุด 1 ไฟล์
                addRemoveLinks: true, // อนุญาตให้ลบไฟล์ก่อนการอัพโหลด
                maxFilesize: 10, // MB
                dictRemoveFile: "ลบ", // ชื่อ ปุ่ม remove
                dictCancelUpload: "ยกเลิก", // ชื่อ ปุ่ม ยกเลิก
                dictDefaultMessage: "เลือกรูปภาพ", // ข้อความบนพื้นที่แสดงรูปจะแสดงหลังจากโหลดเพจเสร็จ
                dictFileTooBig: "ไม่อนุญาตให้อัพโหลดไฟล์เกิน 2 MB", //ข้อความแสดงเมื่อเลือกไฟล์ขนาดเกินที่กำหนด
                acceptedFiles: ".jpeg,.jpg,.png", // อนุญาตให้เลือกไฟล์ประเภทรูปภาพได้
                dictMaxFilesExceeded: "ไฟล์เกินจำนวน",
                dictResponseError: "ไม่สามารถอัพโหลดไฟล์ได้",
                dictFallbackMessage: "ไม่รองรับไฟล์",
                // The setting up of the dropzone
                init: function () {

                    this.on("addedfile", function (file) {
                        if (this.files[1] != null) {
                            this.removeFile(this.files[0]);
                        }
                        countFile++
                    }).on("removedfile", function (file) {
                        countFile--
                        $.post('@Url.Action("File_delete")',
                            {
                                queueId: $('#hiddenQueueId').val(),
                                queueCreatedDate: $('#hiddenQueueCreatedDate').val()
                            }, (data) => {

                                if (data.IsResult) {
                                    var _ref;
                                    return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                                } else {
                                    return swal("เกิดข้อผิดพลาด !", data.Msg, "error");
                                }
                            });
                        //ลบไฟล์ -เคลียร์ path
                        imgUrlPath = null;
                        imgPhysicalPath = null;
                        fileImgName = null;
                    }).on("thumbnail", function (file) {

                    }).on("success", function (file, response) {
                        //เก็บ path ในตัวแปร เพื่อใช้ในการบันทึกมอบบัตรต่อไป
                        imgUrlPath = response.urlPath;
                        imgPhysicalPath = response.physicalPath;
                        fileImgName = response.fileImgName;
                    }).on("error", function (file) {

                    }).on("processing", function(file) {

                    }).on("uploadprogress", function(file) {

                    });
                }
            }


            $('#select_GiveType').on('change', function () {

                if ($('#select_GiveType').val() == 7) {
                    $('#giveTypeRemark').show();
                    $('#giveTypeRemarklabel').show();
                } else {
                    $('#giveTypeRemark').hide();
                    $('#giveTypeRemarklabel').hide();
                }
            });
            /*Event if checked*/
            //สถานะการคัดกรอง
            $('input[name=motorUnderwriteStatus]').on("ifChecked",
                function (e) {
                    if ($(this).valid()) {
                        switch ($(this).val()) {
                            case '1':
                                console.log($(this).val());
                                $(".ask-y").show();
                                $(".ask-n").hide();
                                $('.ask-n').find("input").iCheck('uncheck');
                                $('.box-typeselect-2').hide();
                                $('.box-typeselect-3').hide();
                                $('.box-motor-pass').hide();
                                $('.box-motor-notpass').hide();
                                $('textarea[name=motorChildPassOtherRemark]').val('');
                                $('textarea[name=motorChildNotPassOtherRemark]').val('');
                                $('textarea[name=remark]').val('');
                                $('#sectionGivemotord').hide();
                                break;
                            case '0':
                                console.log($(this).val());
                                $(".ask-y").hide();
                                $(".ask-n").show();
                                $('.ask-y').find("input").iCheck('uncheck');
                                $('.box-typeselect-2').hide();
                                $('.box-typeselect-3').hide();
                                $('.box-motor-pass').hide();
                                $('.box-motor-notpass').hide();
                                $('textarea[name=motorChildPassOtherRemark]').val('');
                                $('textarea[name=motorChildNotPassOtherRemark]').val('');
                                $('textarea[name=remark]').val('');
                                $('#sectionGivemotord').hide();
                                break;
                            default:
                        }
                    }

                });

            //การคัดกรอง
            $('input[name=motor]').on('ifChecked', function (e) {
                motorVal = $(this).val();
                if ($(this).valid()) {
                    debugger
                    switch ($(this).val()) {
                        case '1': //ข้อมูลถูกต้อง
                            console.log($(this).val());
                            $('.box-motor-pass').show();

                            //ช่องทางการคัดกรองเป็นเข้าพบ
                            if (typeSelectVal == '2') {
                                $('.child-pass').show();
                            }
                            $('.box-motor-notpass').hide();
                            $('input[name=motorChildPass]').iCheck('uncheck');
                            $('input[name=IsSpecify]').iCheck('uncheck');
                            $('input[name=motorChildNotPass]').iCheck('uncheck');
                            break
                        case '0': //ข้อมูลไม่ถูกต้อง
                            console.log($(this).val());
                            $('.box-motor-pass').hide();
                            $('.child-pass').hide();
                            $('.sub-box-motor-pass').hide();
                            $('.box-motor-notpass').show();
                            $('input[name=motorChildPass]').iCheck('uncheck');
                            $('input[name=IsSpecify]').iCheck('uncheck');
                            $('input[name=motorChildNotPass]').iCheck('uncheck');
                            $('textarea[name=motorChildPassOtherRemark]').val('');
                            break
                        default:
                    }
                }
                 showSectionGivecard();
            });

            //ผ่านคัดกรอก ติดเงื่อไข
            $('input[name=motorChildPass]').on('ifChecked',
                function (e) {
                    if ($(this).valid()) {
                        switch ($(this).val()) {
                            case '1': //ผ่านตามมาตรฐาน
                                $('textarea[name=motorChildPassOtherRemark]').val('');
                                $('.sub-box-motor-pass').hide();
                                $('input[name=IsSpecify]').iCheck('uncheck');
                                break;
                            case '0'://ติดข้อยกเว้น
                                $('.sub-box-motor-pass').show();
                                break;
                            default:
                        }
                    }
                });

            //checkbox healthChildNotPass
            $('input[name=motorChildNotPass]').on('ifChanged', function () {
                if ($(this).is(':checked')) {
                    switch ($(this).val()) {
                        case "denyOther":
                            $('textarea[name=motorChildNotPassOtherRemark]').prop('disabled', false);
                            break;
                        default:
                    }
                } else {
                    switch ($(this).val()) {
                        case "denyOther":
                            $('textarea[name=motorChildNotPassOtherRemark]').val('');
                            $('textarea[name=motorChildNotPassOtherRemark]').prop('disabled', true);
                            break
                        default:
                    }
                }
            });

            //ช่องทางการคัดกรอง
            $('input[name=typeSelect]').on('ifChecked',
                function (e) {
                    if ($(this).valid()) {
                        typeSelectVal = $(this).val();
                        switch ($(this).val()) {
                            case '2': //เข้าพบ
                                console.log($(this).val());

                                //ช่องทางการคัดกรองเข้าพบ
                                if (motorVal == '1') {
                                    $('.child-pass').show();
                                }

                                $('.box-typeselect-2').show();
                                $('.box-typeselect-3').hide();
                                $('input[name=typeSelectChild]').iCheck('uncheck');
                                break;
                            case '3': //โทรคัดกรอง
                                console.log($(this).val());
                                $('.child-pass').hide();
                                $('.box-typeselect-2').hide();
                                $('.box-typeselect-3').show();
                                $('input[name=typeSelectChild]').iCheck('uncheck');
                                break;
                            default:
                        }
                    }
                });

            $('input[name=isBeware]').on('ifChecked',
                function (e) {
                    debugger
                    if ($(this).valid()) {
                        switch ($(this).val()) {
                            case '0': //ไมีมี
                                $('#bewareRemarkLabel').hide();
                                break;
                            case '1': //มี
                                $('#bewareRemarkLabel').show();
                                break;
                            default:
                        }
                    }
                }
            )

            const showSectionGivecard = () => {
                //ผ่านคัดกรอง และ เข้าพบลูกค้า
                if (motorVal == '1' && typeSelectVal == '2') {
                    $('#sectionGivecard').show();
                } else {
                    $('#sectionGivecard').hide();
                }
            }

            //ช่องทางการคัดกรอง - child
            $('input[name=typeSelectChild').on('ifChecked',
                function (e) {
                    $(this).valid();
                });

            //สถานะการเข้าพบ
            $('input[name=foundCustomer').on('ifChecked',
                function (e) {
                    $(this).valid();
                });

            //สถาณการโทร
            $('input[name=callStatus').on('ifChecked',
                function (e) {
                    $(this).valid();
                });

            $('input[name=typeSelectChildCall').on('ifChecked',
                function (e) {
                    $(this).valid();
                });

            //ติดเงื่อนไข (เฉพาะประกันชั้น 1) - child
            $('input[name=IsSpecify').on('ifChecked',
                function (e) {
                    $(this).valid();
                });

            //ข้อมูลไม่ถูกต้อง - child
            $('input[name=motorChildNotPass').on('ifChecked',
                function (e) {
                    $(this).valid();
                });

            //การชำระเบี้ย
            $('input[name=paymentTypeMotor').on('ifChecked',
                function (e) {
                    $(this).valid();
                });

            /*modal show PaymentHistory*/
            $('#modal-CountPaymentHistory').on('show.bs.modal', function (e) {
                GetUnderwritePaymentHistory_DT();
            })

            /*modal show*/
            $('#modal-CountChassisNumber').on('show.bs.modal', function (e) {
                GetUnderwriteHistory_DT();
            });

        });//end load
            /*tab change*/
            $('a[data-toggle="tab"]').on('shown.bs.tab',
                function (e) {
                    e.preventDefault();
                    const target = $(e.target).attr("href");
                    switch (target) {
                        case "#tab_3":
                            //Log
                            loadingSpinner('fadeIn', 500);
                            GetQueueLog_DT();
                            break;
                        case "#tab_2":
                            loadingSpinner('fadeIn');
                            //dowload documents
                            GetDocuments();
                            break;
                        default:
                    }
                });
        $('#btnEditImg').click((e) => {
            swal_confirm('ยืนยันการทำงาน', 'ต้องการแก้ไขรูป รูปเดิมจะถูกลบออกถาวร', () => {
                $('#showImg').hide();
                swal.close();
                Dropzone.forElement('#myDropzone').removeAllFiles(true);
                $('#editDropzone').show();
                countFile = 0;
            });
        });

        //Dowload Document
        const GetDocuments = () => {
            $.post('@Url.Action("DowloadDocuments")',
                {
                    queueId: "@ViewBag.QueueId"
                },
                function (data) {

                    if (data.IsResult === true) {
                        loadingSpinner('fadeOut', 500);

                        //บัตรประจำตัวประชาชน
                        if (Array.isArray(data.idCardAttachedFile)) {
                            if (data.idCardAttachedFile.length > 0) {
                                for (var i = 0; i < data.idCardAttachedFile.length; i++) {
                                    if (data.idCardAttachedFile[i] == null) {

                                        $('.IdCardAttachedFile_NotFound').show();
                                    } else {
                                        switch (data.idCardAttachedFileType) {
                                            case "JPG":
                                                $('#IdCardAttachedFile_JPG').show();
                                                $(`.IDcard_a_${i}`).attr('href', data.idCardAttachedFile[i]);
                                                $(`.IDcard_img_${i}`).attr('src', data.idCardAttachedFile[i]);
                                                $(`.IDcard_img_${i}`).attr('data-src', data.idCardAttachedFile[i]);
                                                break
                                            case "PDF":
                                                $('#IdCardAttachedFile_PDF').show();
                                                $('#IdCardAttachedFile_PDF').append(`<object class="IDcard_PDF" data="${data.idCardAttachedFile[i]}" type="application/pdf" style="width:100%; height: 900px;overflow:auto !important">
                                                <p>
                                                    Alternative text - include a link<a href="${data.idCardAttachedFile[i]}">
                                                        to the PDF!
                                                    </a>
                                                </p>
                                            </object>`);

                                                break
                                            default:
                                                $('#IdCardAttachedFile_Type_NotFound').show();
                                                break
                                        }
                                    }
                                }
                            } else {
                                $('.IdCardAttachedFile_NoDocument').show();
                            }
                        } else {
                            $('.IdCardAttachedFile_NoDocument').show();
                        }
                        //end บัตรประจำตัวประชาชน

                        //รูปภาพ
                        if (Array.isArray(data.photoAttachedFile)) {
                            if (data.photoAttachedFile.length > 0) {
                                for (var i = 0; i < data.photoAttachedFile.length; i++) {
                                    if (data.photoAttachedFile[i] == null) {
                                        $('.photoAttachedFile_NotFound').show();
                                    } else {
                                        switch (data.photoAttachedFileType) {
                                            case "JPG":
                                                $('#photoAttachedFile_JPG').show();
                                                $(`.picture_a_${i}`).attr('href', data.photoAttachedFile[i]);
                                                $(`.picture_img_${i}`).attr('src', data.photoAttachedFile[i]);
                                                $(`.picture_img_${i}`).attr('data-src', data.photoAttachedFile[i]);
                                                break
                                            case "PDF":
                                                $('#photoAttachedFile_PDF').show();
                                                $('#photoAttachedFile_PDF').append(`<object class="picture_PDF" data="${data.photoAttachedFile[i]}" type="application/pdf" style="width:100%; height: 700px;overflow:auto !important">
                                                    <p>
                                                        Alternative text - include a link<a href="${data.photoAttachedFile[i]}">
                                                            to the PDF!
                                                        </a>
                                                    </p>
                                                </object>`);
                                                break
                                            default:
                                                $('#photoAttachedFile_Type_NotFound').show();
                                                break
                                        }
                                    }
                                }
                            } else {
                                $('.photoAttachedFile_NoDocument').show();
                            }
                        } else {
                            $('.photoAttachedFile_NoDocument').show();
                        }
                        //end รูปภาพ

                        //รายการจดทะเบียน
                        if (Array.isArray(data.regisBookAttachedFile)) {
                            if (data.regisBookAttachedFile.length > 0) {
                                for (var i = 0; i < data.regisBookAttachedFile.length; i++) {
                                    if (data.regisBookAttachedFile[i] == null) {
                                        $('.regisBookAttachedFile_NotFound').show();
                                    } else {
                                        switch (data.regisBookAttachedFileType) {
                                            case "JPG":
                                                $('#regisBookAttachedFile_JPG').show();
                                                $(`.register_a_${i}`).attr('href', data.regisBookAttachedFile[i]);
                                                $(`.register_img_${i}`).attr('src', data.regisBookAttachedFile[i]);
                                                $(`.register_img_${i}`).attr('data-src', data.regisBookAttachedFile[i]);
                                                break
                                            case "PDF":
                                                $('#regisBookAttachedFile_PDF').show();
                                                $('#regisBookAttachedFile_PDF').append(`<object class="register_PDF" data="${data.regisBookAttachedFile[i]}" type="application/pdf" style="width:100%; height: 700px;overflow:auto !important">
                                                    <p>
                                                        Alternative text - include a link<a href="${data.regisBookAttachedFile[i]}">
                                                            to the PDF!
                                                        </a>
                                                    </p>
                                                </object>`);
                                                break
                                            default:
                                                $('#regisBookAttachedFile_Type_NotFound').show();
                                                break
                                        }
                                    }
                                }
                            } else {
                                $('.regisBookAttachedFile_NoDocument').show();
                            }
                        } else {
                            $('.regisBookAttachedFile_NoDocument').show();
                        }
                        //end รายการจดทะเบียน

                        //ใบเสร็จ
                        if (Array.isArray(data.paymentSlipAttachedFile)) {
                            if (data.paymentSlipAttachedFile.length > 0) {
                                for (var i = 0; i < data.paymentSlipAttachedFile.length; i++) {
                                    if (data.paymentSlipAttachedFile[i] == null) {
                                        $('.paymentSlipAttachedFile_NotFound').show();
                                    } else {
                                        switch (data.paymentSlipAttachedFileType) {
                                            case "JPG":
                                                $('#paymentSlipAttachedFile_JPG').show();
                                                $(`.receipt_a_${i}`).attr('href', data.paymentSlipAttachedFile[i]);
                                                $(`.receipt_img_${i}`).attr('src', data.paymentSlipAttachedFile[i]);
                                                $(`.receipt_img_${i}`).attr('data-src', data.paymentSlipAttachedFile[i]);
                                                break
                                            case "PDF":
                                                $('#paymentSlipAttachedFile_PDF').show();
                                                $('#paymentSlipAttachedFile_PDF').append(`<object class="receipt_PDF" data="${data.paymentSlipAttachedFile[i]}" type="application/pdf" style="width:100%; height: 700px;overflow:auto !important">
                                                    <p>
                                                        Alternative text - include a link<a href="${data.paymentSlipAttachedFile[i]}">
                                                            to the PDF!
                                                        </a>
                                                    </p>
                                                </object>`);
                                                break
                                            default:
                                                $('#paymentSlipAttachedFile_Type_NotFound').show();
                                                break
                                        }
                                    }
                                }
                            } else {
                                $('.paymentSlipAttachedFile_NoDocument').show();
                            }
                        } else {
                            $('.paymentSlipAttachedFile_NoDocument').show();
                        }
                        //end ใบเสร็จ

                        //หนังสือยินยอม
                        if (Array.isArray(data.debitAuthorizeAttachedFile)) {
                            if (data.debitAuthorizeAttachedFile.length > 0) {
                                for (var i = 0; i < data.debitAuthorizeAttachedFile.length; i++) {
                                    if (data.debitAuthorizeAttachedFile[i] == null) {
                                        $('.debitAuthorizeAttachedFile_NotFound').show();
                                    } else {
                                        switch (data.debitAuthorizeAttachedFileType) {
                                            case "JPG":
                                                $('#debitAuthorizeAttachedFile_JPG').show();
                                                $(`.consent_a_${i}`).attr('href', data.debitAuthorizeAttachedFile[i]);
                                                $(`.consent_img_${i}`).attr('src', data.debitAuthorizeAttachedFile[i]);
                                                $(`.consent_img_${i}`).attr('data-src', data.debitAuthorizeAttachedFile[i]);
                                                break
                                            case "PDF":
                                                $('#debitAuthorizeAttachedFile_PDF').show();
                                                $('#debitAuthorizeAttachedFile_PDF').append(`<object class="consent_PDF" data="${data.debitAuthorizeAttachedFile[i]}" type="application/pdf" style="width:100%; height: 700px;overflow:auto !important">
                                                    <p>
                                                        Alternative text - include a link<a href="${data.debitAuthorizeAttachedFile[i]}">
                                                            to the PDF!
                                                        </a>
                                                    </p>
                                                </object>`);
                                                break
                                            default:
                                                $('#debitAuthorizeAttachedFile_Type_NotFound').show();
                                                break
                                        }
                                    }
                                }
                            } else {
                                $('.debitAuthorizeAttachedFile_NoDocument').show();
                            }
                        } else {
                            $('.debitAuthorizeAttachedFile_NoDocument').show();
                        }
                        //end หนังสือยินยอม

                        //บัญชีธนาคาร
                        if (Array.isArray(data.bankBookAttachedFile)) {
                            if (data.bankBookAttachedFile.length > 0) {
                            for (var i = 0; i < data.bankBookAttachedFile.length; i++) {
                                if (data.bankBookAttachedFile[i] == null) {
                                    $('.bankBookAttachedFile_NotFound').show();
                                } else {
                                    switch (data.bankBookAttachedFileType) {
                                        case "JPG":
                                            $('#bankBookAttachedFile_JPG').show();
                                            $(`.bank_a_${i}`).attr('href', data.bankBookAttachedFile[i]);
                                            $(`.bank_img_${i}`).attr('src', data.bankBookAttachedFile[i]);
                                            $(`.bank_img_${i}`).attr('data-src', data.bankBookAttachedFile[i]);
                                            break
                                        case "PDF":
                                            $('#bankBookAttachedFile_PDF').show();
                                            $('#bankBookAttachedFile_PDF').append(`<object class="bank_PDF" data="${data.bankBookAttachedFile[i]}" type="application/pdf" style="width:100%; height: 700px;overflow:auto !important">
                                                    <p>
                                                        Alternative text - include a link<a href="${data.bankBookAttachedFile[i]}">
                                                            to the PDF!
                                                        </a>
                                                    </p>
                                                </object>`);
                                            break
                                        default:
                                            $('#bankBookAttachedFile_Type_NotFound').show();
                                            break
                                    }
                                }
                            }
                        } else {
                                $('.bankBookAttachedFile_NoDocument').show();
                            };
                        } else {
                            $('.bankBookAttachedFile_NoDocument').show();
                        }
                        //end บัญชีธนาคาร

                        //อื่นๆ
                        if (Array.isArray(data.otherAttachedFile)) {
                            if (data.otherAttachedFile.length > 0) {
                                for (var i = 0; i < data.otherAttachedFile.length; i++) {
                                    if (data.otherAttachedFile[i] == null) {
                                        $('.otherAttachedFile_NotFound').show();
                                    } else {
                                        switch (data.otherAttachedFileType) {
                                            case "JPG":
                                                $('#otherAttachedFile_JPG').show();
                                                $(`.other_a_${i}`).attr('href', data.otherAttachedFile[i]);
                                                $(`.other_img_${i}`).attr('src', data.otherAttachedFile[i]);
                                                $(`.other_img_${i}`).attr('data-src', data.otherAttachedFile[i]);
                                                break
                                            case "PDF":
                                                $('#otherAttachedFile_PDF').show();
                                                $('#otherAttachedFile_PDF').append(`<object class="other_PDF" data="${data.otherAttachedFile[i]}" type="application/pdf" style="width:100%; height: 700px;overflow:auto !important">
                                                    <p>
                                                        Alternative text - include a link<a href="${data.otherAttachedFile[i]}">
                                                            to the PDF!
                                                        </a>
                                                    </p>
                                                </object>`);
                                                break
                                            default:
                                                $('.otherAttachedFile_Type_NotFound').show();
                                                break
                                        }
                                    }
                                }
                            } else {
                                $('.otherAttachedFile_NoDocument').show();
                            }
                        } else {
                            $('.otherAttachedFile_NoDocument').show();
                        }
                        //end อื่นๆ

                    } else {
                        //todo
                        //IsResult false
                    }
                });
        }

        const GetUnderwriteHistory_DT = () => {
            $('#UnderwriteHistory').empty();
            var table = $('#UnderwriteHistory').DataTable({
                pageLength: 10,
                lengthChange: false,
                processing: true,
                serverSide: true,
                destroy: true,
                searching: false,
                ordering: true,
                info: true,
                paging: true,
                autoWidth: false,
                responsive: true,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.20/i18n/Thai.json'
                },
                ajax: {
                    url: '@Url.Action("UnderwriteHistory")',
                    method: 'GET',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.queueId = "@ViewBag.QueueMotorFullDetail.QueueId";
                    }
                },
                columns: [
                    {
                        title: 'เลข App',
                        data: 'ApplicationCode'
                    },
                    {
                        title: 'ชื่อ-สกุล ผู้เอาประกัน',
                        data: 'InsuredName'
                    },
                    {
                        title: 'วันที่เริ่มคุ้มครอง',
                        data: 'StartCoverDate',
                        render: function (data) {
                            if (data != null) {
                                let date = moment(data);
                                date.add(543, 'years');
                                return moment(date).format('DD/MM/YYYY')
                            } else {
                                return '-';
                            }
                        }

                    },
                    {
                        title: 'ผลการพิจารณา',
                        data: 'ApproveStatus'
                    },
                    {
                        title: 'รายละเอียด',
                        data: null,
                        orderable: false,
                        render: function (data) {
                            return `<button onclick="OpenNewPage(${data.QueueId});" class="btn btn-info" style="width:100%">ดูรายละเอียด</button>`;
                        }
                    },
                ]
            });
        }

        const GetUnderwritePaymentHistory_DT = () => {
            $('#UnderwritePaymentHistory').empty();
            var table = $('#UnderwritePaymentHistory').DataTable({
                pageLength: 10,
                lengthChange: false,
                processing: true,
                serverSide: true,
                destroy: true,
                searching: false,
                ordering: true,
                info: true,
                paging: true,
                autoWidth: false,
                responsive: true,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.20/i18n/Thai.json'
                },
                ajax: {
                    url: '@Url.Action("UnderwritePaymentHistory")',
                    method: 'GET',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.queueId = "@ViewBag.QueueMotorFullDetail.QueueId";
                    }
                },
                columns: [
                    {
                        title: 'เลข App',
                        data: 'ApplicationCode'
                    },
                    {
                        title: 'ชื่อ-สกุล',
                        data: 'InsuredName'
                    },
                    {
                        title: 'วันที่เริ่มคุ้มครอง',
                        data: 'StartCoverDate',
                        render: function (data) {
                            if (data != null) {
                                let date = moment(data);
                                date.add(543, 'years');
                                return moment(date).format('DD/MM/YYYY')
                            } else {
                                return '-';
                            }
                        }
                    },
                    {
                        title: 'สถานะ',
                        data: 'ApplicationStatus'
                    },
                ]
            });
        }

        const SubmitMotorFormQuestionUpdate = () => {
            $.ajax({
                url: $('#motorFormQuestionUpdate').attr('action'),
                type: 'POST',
                data: $('#motorFormQuestionUpdate').serialize(),
                success: function (response) {
                    if (response != null && response.IsResult === true) {
                        switch (typeSelectVal) {
                    //ช่องทางโทรคัดกรอง
                            case "3":
                                if (motorVal === "1") {
                                    swal({
                                    title: "บันทึกข้อมูลเรียบร้อย",
                                        text: "<h3>กรณีโทรคัดกรอง <br>ท่านต้องจัดการมอบกรมธรรม์และปิดคิวงานที่</h3><br><a href='@Url.Action("MotorPoliciesQueue", "MotorPolicies")'><img src='/Content/img/menu04.jpg' style='width: 180px;border: 1px solid;' /></a>",
                                    type: "success",
                                    showCancelButton: false,
                                    showConfirmButton: true,
                                    allowEscapeKey: false,
                                    allowOutsideClick: false,
                                    html: true
                                }, function (e) {
                                    window.close();
                             });
                             break;
                         } else {
                             swal({
                                 title: "บันทึกข้อมูลเรียบร้อย",
                                 text: "",
                                 type: "success",
                                 showCancelButton: false,
                                 showConfirmButton: true,
                                 allowEscapeKey: false,
                                 allowOutsideClick: false,
                                 html: false
                             }, function (e) {
                                 window.close();
                             });
                             break;
                         }
                            default:
                                swal({
                                    title: "บันทึกข้อมูลเรียบร้อย",
                                    text: "",
                                    type: "success",
                                    showCancelButton: false,
                                    showConfirmButton: true,
                                    allowEscapeKey: false,
                                    allowOutsideClick: false,
                                    html: false
                                }, function (e) {
                                    window.close();
                                });
                                break;
                        }
                    } else {
                        swal("บันทึกรายการไม่สำเร็จ กรุณาตรวจสอบข้อมูล", response.Msg, "error");
                    }
                }
            });
        }

   @*     const InsertQueueMotorPolicies = () => {
            $.post("@Url.Action("QueueMotorPoliciesInsert")", {
                queueId: @ViewBag.QueueMotorFullDetail.QueueId,
                giverDate: $('#txtCoBrandDate').val(),
                uRLPath: imgUrlPath,
                physicalPath: imgPhysicalPath,
                fileName: fileImgName,
            }, function (data) {
                if (data.IsResult) {
                    //บันทึกมอบบัตรเรียบร้อยแล้ว
                    //บันทึกแบบสอบถาม
                    SubmitMotorFormQuestionUpdate();
                } else {
                    swal("เกิดข้อผิดพลาด !", data.Msg, "error");
                }
            });
        }*@
        if ($('input[name=isBeware]:checked').val() == "1") {
            $('#bewareRemarkLabel').show();
        }

        $('#typeSelectChildPayer').on('ifChecked',
            function (e) {
                $(this).val("payer");
            });
        $('#typeSelectChildInsured').on('ifChecked',
            function (e) {
                $(this).val("insure");
            });
        $('#typeSelectChildPayer').on('ifUnchecked',
            function (e) {
                $(this).val(null);
            });
        $('#typeSelectChildInsured').on('ifUnchecked',
            function (e) {
                $(this).val(null);
            });


          const InsertQueueMotorPolicies = () => {
            $.post("@Url.Action("QueueMotorPoliciesInsertV2")", {

                queueId: @ViewBag.QueueMotorFullDetail.QueueId,
                  isBeware: $('input[name=isBeware]:checked').val(),
                bewareRemark: $('#bewareRemark').val(),
                isUnderwritePayer: $('#typeSelectChildPayer').val(),
                isUnderwriteInsured: $('#typeSelectChildInsured').val(),


                giveRemark: $('#remarkisLineOA').val(),
                remark: $('#remarkFrom').val(),
                uRLPath: imgUrlPath,
                physicalPath: imgPhysicalPath,
                fileName: fileImgName,


            }, function (data) {
                debugger
                if (data.IsResult) {
                    //บันทึกมอบกรมธรรม์ เรียบร้อยแล้ว
                    //บันทึกแบบสอบถาม
                    swal({
                        title: "บันทึกข้อมูลเรียบร้อย",
                        text: "",
                        type: "success",
                        showCancelButton: false,
                        showConfirmButton: true,
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        html: false
                    }, function (e) {
                        window.close();
                    });
                } else {
                    swal("เกิดข้อผิดพลาด !", data.Msg, "error");
                }
             });

            }
         @*const InsertQueueMotorPolicies = () => {
            debugger
            $.post("@Url.Action("QueueMotorPoliciesInsert")", {
                queueId: @ViewBag.QueueMotorFullDetail.QueueId,
                giverDate: $('#txtCoBrandDate').val(),
                uRLPath: imgUrlPath,
                physicalPath: imgPhysicalPath,
                fileName: fileImgName,
                giveTypeId: $('#select_GiveType').val(),
                giveTypeRemark: $('#txtGiveTypeRemark').val()
            }, function (data) {
                if (data.IsResult) {
                    //บันทึกมอบบัตรเรียบร้อยแล้ว
                    //บันทึกแบบสอบถาม
                    SubmitMotorFormQuestionUpdate();
                } else {
                    swal("เกิดข้อผิดพลาด !", data.Msg, "error");
                }
            });
        }*@

        const GetQueueLog_DT = () => {
                $('#tableLog').empty();
                var table = $('#tableLog').DataTable({
                    pageLength: 10,
                    lengthChange: false,
                    processing: true,
                    serverSide: true,
                    destroy: true,
                    searching: true,
                    ordering: true,
                    info: true,
                    paging: true,
                    autoWidth: false,
                    responsive: true,
                    language: {
                        url: 'https://cdn.datatables.net/plug-ins/1.10.20/i18n/Thai.json'
                    },
                    ajax: {
                        url: '@Url.Action("QueueLog")',
                        method: 'GET',
                        data: function (d) {
                            d.draw = d.draw;
                            d.pageSize = d.length;
                            d.indexStart = d.start;
                            d.sortField = d.columns[d.order[0].column].data;
                            d.orderType = d.order[0].dir;
                            d.search = d.search;
                            d.queueId = "@ViewBag.QueueMotorFullDetail.QueueId";
                        }
                    },
                    columns: [
                        {
                            title: 'วันที่ทำรายการ',
                            data: 'CreatedDate',
                            render: function (data) {
                                let date = moment(data);
                                date.add(543, 'years');
                                return moment(date).format("DD/MM/YYYY HH:mm:ss");
                        }

                        },
                        {
                            title: 'ผู้มอบหมายคิวงาน',
                            data: 'FromEmployeeName'
                        },
                        {
                            title: 'ผู้รับคิวงาน',
                            data: 'ToEmployeeName'
                        },
                        {
                            title: 'รายละเอียด',
                            data: 'TransactionTypeDetail'
                        },
                    ]
                });

                window.onresize = function () {
                    table.columns.adjust().responsive.recalc();
                };
            }

        /***Document**/
        //ยังไม่ได้ใช้
        const SeeDoc = (path) => {
            $('#DocDetail_form').children().show();
            //const extension = path.substr(path.length - 4);
            let extension = path;
            switch (extension) {
                case 'IdCardAttachedFile'://บัตรประจำตัวประชาชน
                    $('#Document_form_IdCardAttachedFile').show();
                    $('#Document_form_PhotoAttachedFile').hide();
                    $('#Document_form_RegisBookAttachedFile').hide();
                    $('#Document_form_PaymentSlipAttachedFile').hide();
                    $('#Document_form_DebitAuthorizeAttachedFile').hide();
                    $('#Document_form_BankBookAttachedFile').hide();
                    $('#Document_form_OtherAttachedFile').hide();
                    break;
                case 'PhotoAttachedFile'://รูปภาพ
                    $('#Document_form_IdCardAttachedFile').hide();
                    $('#Document_form_PhotoAttachedFile').show();
                    $('#Document_form_RegisBookAttachedFile').hide();
                    $('#Document_form_PaymentSlipAttachedFile').hide();
                    $('#Document_form_DebitAuthorizeAttachedFile').hide();
                    $('#Document_form_BankBookAttachedFile').hide();
                    $('#Document_form_OtherAttachedFile').hide();
                    break;
                case 'RegisBookAttachedFile'://รายการจดทะเบียน
                    $('#Document_form_IdCardAttachedFile').hide();
                    $('#Document_form_PhotoAttachedFile').hide();
                    $('#Document_form_RegisBookAttachedFile').show();
                    $('#Document_form_PaymentSlipAttachedFile').hide();
                    $('#Document_form_DebitAuthorizeAttachedFile').hide();
                    $('#Document_form_BankBookAttachedFile').hide();
                    $('#Document_form_OtherAttachedFile').hide();
                    break;
                case 'PaymentSlipAttachedFile'://ใบเสร็จ
                    $('#Document_form_IdCardAttachedFile').hide();
                    $('#Document_form_PhotoAttachedFile').hide();
                    $('#Document_form_RegisBookAttachedFile').hide();
                    $('#Document_form_PaymentSlipAttachedFile').show();
                    $('#Document_form_DebitAuthorizeAttachedFile').hide();
                    $('#Document_form_BankBookAttachedFile').hide();
                    $('#Document_form_OtherAttachedFile').hide();
                    break;
                case 'DebitAuthorizeAttachedFile'://หนังสือยินยอม
                    $('#Document_form_IdCardAttachedFile').hide();
                    $('#Document_form_PhotoAttachedFile').hide();
                    $('#Document_form_RegisBookAttachedFile').hide();
                    $('#Document_form_PaymentSlipAttachedFile').hide();
                    $('#Document_form_DebitAuthorizeAttachedFile').show();
                    $('#Document_form_BankBookAttachedFile').hide();
                    $('#Document_form_OtherAttachedFile').hide();
                    break;
                case 'BankBookAttachedFile'://บัญชีธนาคาร
                    $('#Document_form_IdCardAttachedFile').hide();
                    $('#Document_form_PhotoAttachedFile').hide();
                    $('#Document_form_RegisBookAttachedFile').hide();
                    $('#Document_form_PaymentSlipAttachedFile').hide();
                    $('#Document_form_DebitAuthorizeAttachedFile').hide();
                    $('#Document_form_BankBookAttachedFile').show();
                    $('#Document_form_OtherAttachedFile').hide();
                    break;
                case 'OtherAttachedFile'://อื่นๆ
                    $('#Document_form_IdCardAttachedFile').hide();
                    $('#Document_form_PhotoAttachedFile').hide();
                    $('#Document_form_RegisBookAttachedFile').hide();
                    $('#Document_form_PaymentSlipAttachedFile').hide();
                    $('#Document_form_DebitAuthorizeAttachedFile').hide();
                    $('#Document_form_BankBookAttachedFile').hide();
                    $('#Document_form_OtherAttachedFile').show();
                    break;
                default:
            }
        }

          const OpenDocstorage = (app) => {
            var url = `@ViewBag.docstorage`+`/document=` + app + `/preview`
             window.open(`@ViewBag.docstorage`+`/document/` + app + `/preview`,'_blank');
        }
        const OpenNewPage = (queueId) => {
            let encodeId = btoa(queueId);
            window.open(`@Url.Action("MotorUnderwriteViewDetail", "MotorUnderwrite")?queueId=${encodeId}&hiddenButton=Y`, '_blank');
        }
    </script>
    <script type="text/javascript">

        $("#sectionGiveCardFrom").validate({

            rules:
            {
                bewareRemark: { required: true },
                typeSelectChild: { required: true },

            },
            messages:
            {


                typeSelectChild: {
                    required: "กรุณาเลือก.."
                },
                bewareRemark: {
                    required: "กรุณาเลือก.."
                },


            },
            errorPlacement: function (error, element) {
                debugger
                if (element.is(":radio")) {
                    error.prependTo(element.parents('.radio-check'));
                } else if (element.is(":checkbox")) {
                    error.prependTo(element.parents('.typeSelectChildxx'));
                } else if (element.is(".healthChildPassOtherRemark")) {
                    error.prependTo(element.parents('.answerList'));
                }
                else { // This is the default behavior
                    error.insertAfter(element);
                }
            }
        });

        $("#sectionGiveCardFrom_2").validate({

            rules:
            {
                typeSelectChild: { required: true },
                isLineOA: { required: true },
                txtCoBrand: { required: true },
                bewareRemark: { required: true },

            },
            messages:
            {

                txtCoBrand: {
                    required: "โปรดระบุ.."
                },
                bewareRemark: {
                    required: "โปรดระบุ.."
                },
                isLineOA: {
                    required: "กรุณาเลือก.."
                },
                typeSelectChild: {
                    required: "กรุณาเลือก.."
                },

            },
            errorPlacement: function (error, element) {
                if (element.is(":radio")) {
                    error.prependTo(element.parents('.radio-check'));
                } else if (element.is(":checkbox")) {
                    error.prependTo(element.parents('.typeSelectChildxx'));
                } else if (element.is(".healthChildPassOtherRemark")) {
                    error.prependTo(element.parents('.answerList'));
                }
                else { // This is the default behavior
                    error.insertAfter(element);
                }
            }
        });
    </script>
}