@{
    ViewBag.Title = "รายละเอียดกรมธรรม์";
    Layout = "~/Views/Shared/_LayoutForTopIndexMotor.cshtml";
}
<style>

    .page-content img {
        max-width: 20%;
        height: auto !important;
    }

    #overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: not-allowed; /* Add a pointer on hover */
    }
</style>
<div class="row">
    <div class="col-md-12" style="background-color: #1E90FF; color: white; text-align: center; margin-bottom:15px">
        <h4>รายละเอียดกรมธรรม์</h4>
    </div>
    <div class="col-md-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false"><h4>บันทึกผลการทำงาน</h4></a></li>

                <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="true"><h4>ประวัติคิวงาน</h4></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">

                    <div class="row">
                        <div class="col-sm-12" style=" margin-top:15px;margin-bottom :15px">
                            <div class="card" style="background-color: #E0F7FF; border-radius: 8px 8px; ">
                                <div class="box-header" style="color: #3F8FBD; border-bottom: 1px solid #bbb">
                                    <i class="fa fa-user"></i>
                                    <h4 class="box-title">ข้อมูลผู้เอาประกัน </h4>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <h5 class=" col-md-3"><b>App ID</b> : @ViewBag.QueueMotorFullDetail.ApplicationCode</h5>
                                        <h5 class=" col-md-3">
                                            <b>วันเริ่มคุ้มครอง</b> : @(String.Format("{0:dd MMM yyyy}",ViewBag.QueueMotorFullDetail.StartCoverDate))
                                        </h5>
                                        <h5 class=" col-md-3"><b>แผนประกัน</b> : @ViewBag.QueueMotorFullDetail.ProductDetail</h5>
                                        <h5 class=" col-md-3"><b>เบี้ย</b> : @ViewBag.QueueMotorFullDetail.Premium</h5>
                                    </div>
                                    <div class="row">
                                        <h5 class=" col-md-3 "><b>ชื่อ</b> : @(String.Format("{0}{1} {2}", ViewBag.QueueMotorFullDetail.InsuredTitle, ViewBag.QueueMotorFullDetail.InsuredFirstName, ViewBag.QueueMotorFullDetail.InsuredLastName))</h5>
                                        <h5 class="col-md-3">
                                            <b>วันเกิด</b> :  <span class="control-label" display: inline-block; max-width: 100%; text-align: right">@(ViewBag.QueueMotorFullDetail.InsuredBirthDate != null ? String.Format("{0:dd MMM yyyy}", ViewBag.QueueMotorFullDetail.InsuredBirthDate) : "-")</span>
                                        </h5>
                                        <h5 class="col-md-3"><b>เบอร์โทร</b> : @ViewBag.QueueMotorFullDetail.InsuredPhone</h5>
                                        <h5 class="col-md-3"><b>อาชีพ</b> :  @ViewBag.QueueMotorFullDetail.InsuredOccupationLevel </h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="card" style="background-color: #E0F7FF; border-radius: 8px 8px">
                                <div class="box-header" style="color: #3F8FBD; border-bottom: 1px solid #bbb">
                                    <i class="fa fa-user"></i>
                                    <h4 class="box-title">ข้อมูลผู้ชำระเบี้ย </h4>
                                </div>
                                <div class="box-body" style="align-items: center;">
                                    <div class="row">


                                        <h5 class=" col-md-4"><b>ชื่อผู้ชำระเบี้ย</b> : @(ViewBag.QueueMotorFullDetail.PayerFirstName != null ? String.Format("{0}{1} {2}", ViewBag.QueueMotorFullDetail.PayerTitle, ViewBag.QueueMotorFullDetail.PayerFirstName, ViewBag.QueueMotorFullDetail.PayerLastName) : "-")</h5>
                                        <h5 class="col-md-4">
                                            <b>วันเกิด</b> :  <span class="control-label" display: inline-block; max-width: 100%; text-align: right">@(ViewBag.QueueMotorFullDetail.PayerBirthDate != null ? String.Format("{0:dd MMM yyyy}", ViewBag.QueueMotorFullDetail.PayerBirthDate) : "-")</span>
                                        </h5>
                                        <h5 class=" col-md-4"><b>เบอร์โทร</b> : @(ViewBag.QueueMotorFullDetail.PayerPhone != null ? ViewBag.QueueMotorFullDetail.PayerPhone : "-")</h5>
                                    </div>
                                    <div class="row">
                                        <h5 class=" col-md-4"><b>กลุ่มอาชีพ</b> : @(ViewBag.QueueMotorFullDetail.PayerOccupation != null ? ViewBag.QueueMotorFullDetail.PayerOccupation : "-")</h5>
                                        <h5 class=" col-md-4"><b>อาชีพ</b> : @(ViewBag.QueueMotorFullDetail.PayerOccupationLevel != null ? ViewBag.QueueMotorFullDetail.PayerOccupationLevel : "-")</h5>
                                        <h5 class=" col-md-4"><b>ชื่อหน่วยงาน</b> : @(ViewBag.QueueMotorFullDetail.PayerOfficeName != null ? ViewBag.QueueMotorFullDetail.PayerOfficeName : "-")</h5>

                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12" style="margin-top:15px;margin-bottom :15px">
                            <div class="card" style="background-color: #E0F7FF; border-radius: 8px 8px">
                                <div class="box-header" style="color: #3F8FBD; border-bottom: 1px solid #bbb">
                                    <i class="fa fa-user"></i>
                                    <h4 class="box-title">รายละเอียดรถยนต์ </h4>
                                </div>
                                <div class="box-body" style="align-items: center;">
                                    <div class="row">

                                        <h5 class=" col-md-4"><b>ยี่ห้อ</b> : @(String.IsNullOrEmpty(ViewBag.QueueMotorFullDetail.VehicleBrandDetail) ? "-" : ViewBag.QueueMotorFullDetail.VehicleBrandDetail)</h5>
                                        <h5 class=" col-md-4"><b>รุ่น</b> : @(String.IsNullOrEmpty(ViewBag.QueueMotorFullDetail.VehicleModelDetail) ? "-" : ViewBag.QueueMotorFullDetail.VehicleModelDetail)</h5>
                                        <h5 class=" col-md-4"><b>เลขทะเบียน</b> :@(String.IsNullOrEmpty(ViewBag.QueueMotorFullDetail.VehicleRegistrationNumber) ? "-" : ViewBag.QueueMotorFullDetail.VehicleRegistrationNumber)</h5>
                                    </div>
                                    <div class="row">
                                        <h5 class=" col-md-4"><b>ปีที่จดทะเบียน</b> : @ViewBag.VehicleRegistrationYear</h5>
                                        <h5 class=" col-md-4"><b>หมายเลขตัวถัง</b> :@(String.IsNullOrEmpty(ViewBag.QueueMotorFullDetail.VehicleChassisNumber) ? "-" : ViewBag.QueueMotorFullDetail.VehicleChassisNumber)</h5>
                                        <h5 class=" col-md-4"><b>ประเภทยานพาหนะ</b> :@(String.IsNullOrEmpty(ViewBag.QueueMotorFullDetail.VehicleTypeDetail) ? "-" : ViewBag.QueueMotorFullDetail.VehicleTypeDetail)</h5>
                                    </div>
                                    <div class="row">
                                        <h5 class=" col-md-4"><b>ประเภทการใช้งาน</b> :@(String.IsNullOrEmpty(ViewBag.QueueMotorFullDetail.VehicleUseTypeDetail) ? "-" : ViewBag.QueueMotorFullDetail.VehicleUseTypeDetail)</h5>
                                        <h5 class=" col-md-4"><b>ลักษณะการใช้งาน</b> :@(String.IsNullOrEmpty(ViewBag.QueueMotorFullDetail.DriveDetail) ? "-" : ViewBag.QueueMotorFullDetail.DriveDetail)</h5>
                                        <h5 class=" col-md-4"><b>ขนาดเครื่องยนต์ (L)</b> :@(String.IsNullOrEmpty(ViewBag.QueueMotorFullDetail.VehicleEngineSize) ? "-" : ViewBag.QueueMotorFullDetail.VehicleEngineSize)</h5>

                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <form id="sectionGiveCardFrom">
                                <fieldset disabled="disabled">

                                    <div class="box box-info bg-info " style="border-radius: 8px 8px 0px 0px ">
                                        <div class="box-header" style="background-color: #00C0EF; color: azure; border-radius: 8px 8px 0px 0px ">
                                            <h4 class="box-title">รายละเอียดการมอบกรมธรรม์ </h4>
                                        </div>
                                        <div class=" box-body" style="height: auto;width: auto;margin-top:15px">

                                            <div class="typeSelectChildxx form-group col-md-12">
                                                <label class="col-md-2 control-label title">มอบกรมธรรม์ ให้กับ</label>
                                                <label class="col-md-2 fonts-box"><input type="checkbox" name="typeSelectChild" disabled id="typeSelectChildPayer" value="payer" @(@ViewBag.QueueMotorFullDetail.IsUnderwritePayer == true ? "checked" : "" )> ผู้ชำระเบี้ย </label>
                                                <label class="col-md-2  fonts-box"><input type="checkbox" name="typeSelectChild" disabled id="typeSelectChildCustomer" value="customer" @(@ViewBag.QueueMotorFullDetail.IsUnderwriteInsured == true ? "checked" : "")> ผู้เอาประกัน</label>
                                            </div>

                                            <div class="form-group col-md-12" id="remarkisLineOAFrom">
                                                <label class="col-md-2 control-label title">
                                                    หมายเหตุการมอบกรมธรรม์
                                                </label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" required name="remarkisLineOA" id="remarkisLineOA" value="@ViewBag.QueueMotorFullDetail.GiveRemark">
                                                </div>
                                            </div>

                                            <div class="form-group col-md-12">
                                                <label class="col-md-2 control-label title">
                                                    แนบรูปการมอบกรมธรรม์
                                                </label>
                                                <div class="col-md-8" id="editDropzone">
                                                    <a href="javascript:void();" class="pop">
                                                        <img id="myImg" src="@ViewBag.QueueMotorFullDetail.URLPath" alt="@ViewBag.QueueMotorFullDetail.FileName" style="width:100%;max-width:100px">
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    @if (ViewBag.QueueMotorFullDetail.QueueStatusId != 8)
                                    {

                                        <div class="box box-info bg-info " style="border-radius: 8px 8px 0px 0px ">
                                            <div class="box-header" style="background-color: #00C0EF; color: azure; border-radius: 8px 8px 0px 0px ">
                                                <h4 class="box-title">ข้อมูลการเฝ้าระวัง</h4>
                                            </div>
                                            <div class="box-body shadow" style="height: auto;width: auto;margin-top:15px">
                                                <div class="form-group text col-md-12">
                                                    <label class="col-md-12 control-label title">ข้อมูลการเฝ้าระวัง</label>
                                                    <label class="col-md-2 fonts-box">
                                                        <input type="radio" name="isBeware" value="0" disabled id="isBeware_1" @(@ViewBag.QueueMotorFullDetail.IsBeware == false ? "checked" : "" )> ไม่มี
                                                    </label>
                                                    <label class="col-md-2 fonts-box">
                                                        <input type="radio" name="isBeware" value="1" disabled id="isBeware_2" @(@ViewBag.QueueMotorFullDetail.IsBeware == true ? "checked" : "" )> มี
                                                    </label>
                                                    <label class="bewareRemarkLabel col-md-6 fonts-box" id="bewareRemarkLabel" style="display:none">
                                                        <input class="form-control" id="bewareRemark" name="bewareRemark" type="text" placeholder="รายละเอียดเพิ่มเติม" value="@ViewBag.QueueMotorFullDetail.BewareRemark" />
                                                    </label>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="box box-info bg-info " style="border-radius: 8px 8px 0px 0px ">
                                            <div class="box-header" style="background-color: #00C0EF; color: azure; border-radius: 8px 8px 0px 0px ">
                                                <h4 class="box-title">รายละเอียดเพิ่มเติม</h4>
                                            </div>
                                            <div class="box-body" style="height: auto;width: auto;margin-top:15px">
                                                <div class="form-group col-md-12">
                                                    <label class="col-md-12 control-label title">รายละเอียดเพิ่มเติม</label>
                                                    <textarea name="remarkFrom" id="remarkFrom" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px" value="@ViewBag.QueueMotorFullDetail.QueueResultRemark">@ViewBag.QueueMotorFullDetail.QueueResultRemark</textarea>
                                                </div>
                                            </div>
                                        </div> <input class="form-control" id="txtCoBrandDate" name="txtCoBrandDate" type="hidden" />
                                    }
                                </fieldset>


                            </form>

                        </div>



                        <!--.modal -->
                        <div class="modal fade" id="modal-warning">
                            <!--.modal-dialog -->
                            <div class="modal-dialog modal-lg">
                                <!--.modal-content -->
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color: #ffd243;border-color: #ffeeba;">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" style="color: black;">×</span>
                                        </button>
                                        <h4 class="modal-title">รายละเอียด</h4>
                                    </div>
                                    <div class="modal-body">
                                        <table id="tablePayerOther" class="table table-bordered table-striped display responsive" style="width: 100%">
                                            <tbody>
                                                <tr style="text-align:center"><td>ไม่พบข้อมูล</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!--/.modal -->
                        <!--<div class="modal fade" style="justify-content:center; align-content:center; align-items:center" id="modal-warning">



        <div class="modal-dialog  ">
            <div class="modal-content modal-lg ">
                <div class="modal-header" style="background-color: #ffd243;border-color: #ffeeba;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: black;">×</span>
                    </button>
                    <h4 class="modal-title">รายละเอียด</h4>
                </div>
                <div class="modal-body">
                    <table id="tablePayerOther" class="table table-bordered table-striped display responsive" style="width: 100%">
                        <tbody>
                            <tr style="text-align:center"><td>ไม่พบข้อมูล</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>-->
                        @* end modal *@
                    </div> @* end row*@







                </div>
                    @* end ผลการคัดกรอง *@
                    <!-- /.tab-pane -->
                    <!-- /.tab-pane -->
                    <div id="tab_3" class="tab-pane">
                        <div class="form-horizontal">
                            <table id="tableLog" name="tableLog" class="table table-bordered table-striped display responsive" style="width: 100%">
                                <tbody>
                                    <tr style="text-align:center"><td>ไม่พบข้อมูล</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>
</div>

<!-- The Modal Section CM-->
<form id="formModalApprovedConditionMotor">
    <div class="modal fade" id="modal-approved-condition">
        <!--.modal-dialog -->
        <div class="modal-dialog">
            <!--.modal-content -->
            <div class="modal-content">
                <div class="modal-header" style="background-color:  #ffc318;border-color: #ffc318;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">รายละเอียดการพิจารณาอนุมัติของประธานสาขา</h4>
                </div>
                <div class="modal-body">
                    <div id="box-approved-contidion" class="box-body" style="height: auto;width: auto;">
                        <ul class="answerList" style="padding-left: 0px !important;">
                            <li>
                                <label>
                                    <input type="radio" name="motorChildPassCM" value="0" id="motor-child-pass-conditionCM"> ติดเงื่อนไข
                                </label>
                                <div style="padding-left:30px;" class="box-motor-notpass">
                                    <label>
                                        <input type="radio" name="IsSpecify_CM" value="1" id="IsSpecify_CM1"> ระบุในใบสมัคร
                                    </label>
                                    <label>
                                        <input type="radio" name="IsSpecify_CM" value="0" id="IsSpecify_CM0"> ไม่ระบุในใบสมัคร
                                    </label>
                                    <label>
                                        <span style="color:red" class="box-motor-notpass">*</span>ระบุข้อมูลติดเงื่อนไข
                                        <textarea name="motorChildPassOtherRemarkCM" id="motorChildPassOtherRemarkCM" style="display: block;border-radius: 5px; margin: 10px;width: 100%;height: 80px;resize: none;"></textarea>
                                    </label>
                                </div>
                                <div style="text-align:center;">
                                    <input type="button" style="width:100px;margin:10px" class="btn btn-lg btn-default" data-dismiss="modal" name="button-cancel-condition" value="ยกเลิก" />
                                    <input type="button" style="width:100px;margin:10px" class="btn btn-lg btn-success" name="button-save-condition" id="button-save-condition" value="บันทึก" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</form>

<!--Modal Img-->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>

<form id="formModalUnapprovedMotor">
    <!--.modal cm -->
    <div class="modal fade" id="modal-unapproved">
        <!--.modal-dialog -->
        <div class="modal-dialog">
            <!--.modal-content -->
            <div class="modal-content">
                <div class="modal-header" style="background-color:  #f67083;border-color: #f67083;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">รายละเอียดการพิจารณาอนุมัติของประธานสาขา</h4>
                </div>
                <div class="modal-body">
                    <div id="box-unapproved" class="box-body" style="height: auto;width: auto;">
                        <ul class="answerList" style="padding-left: 0px !important;">
                            <li>
                                <label>
                                    <input type="radio" name="motorCM" value="0" id="motor_notpassCM"> ข้อมูลไม่ถูกต้อง
                                </label>
                                <div class="box-motor-notpass" style="padding-left:30px;">
                                    <label>
                                        <input type="checkbox" name="motorChildNotPassCM" value="denyMotor" id="motor-child-notpass-motorCM">สภาพรถยนต์ไม่ตรงตามใบสมัคร
                                    </label>
                                    <label>
                                        <input type="checkbox" name="motorChildNotPassCM" value="denyOccupation" id="motor-child-notpass-occupationCM"> ประเภทการใช้งานผิดประเภท
                                    </label>
                                    <label>
                                        <input type="checkbox" name="motorChildNotPassCM" value="denyCantPay" id="motor-child-notpass-cantpayCM"> ไม่สามารถชำระเบี้ยตามเงื่อนไขได้
                                    </label>
                                    <label>
                                        <input type="checkbox" name="motorChildNotPassCM" value="denyCantContact" id="motor-child-notpass-cantcontactCM"> ติดต่อไม่ได้/ไม่รับสาย/ไม่สะดวกคุย
                                    </label>
                                    <label>
                                        <input type="checkbox" name="motorChildNotPassCM" value="denyOther" id="motor-child-notpass-otherCM"> อื่นๆ
                                    </label>
                                    <label>
                                        <span style="color:red">*</span>หมายเหตุ/บันทึกเพิ่มเติม
                                        <textarea name="motorChildNotPassOtherRemarkCM" id="motorChildNotPassOtherRemarkCM" style="display: block;border-radius: 5px; margin: 10px;width: 80%;height: 80px;resize: none;" disabled></textarea>
                                    </label>
                                </div>
                                <div style="text-align:center;">
                                    <input type="button" style="width:100px;margin:10px" class="btn btn-lg btn-default" data-dismiss="modal" name="button-cancel" value="ยกเลิก" />
                                    <input type="button" style="width:100px;margin:10px" class="btn btn-lg btn-success" name="button-save-unapproved" id="button-save-unapproved" value="บันทึก" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--/.modal -->
    <!--.modal -->
    <div class="modal fade" id="modal-warning">
        <!--.modal-dialog -->
        <div class="modal-dialog">
            <!--.modal-content -->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #ffd243;border-color: #ffeeba;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: black;">×</span>
                    </button>
                    <h4 class="modal-title">รายละเอียด</h4>
                </div>
                <div class="modal-body">
                    <table id="tablePayerOther" class="table table-bordered table-striped display responsive" style="width: 100%"></table>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--/.modal -->
</form>

@section ViewSpecificJavascript
    {
    <script type="text/javascript">
        var chat;
        var motorVal;
        var typeSelectVal;
        var countFile = 0;
        var imgUrlPath;
        var imgPhysicalPath;

        var CMApproveStatusId;
        var CMIsApprovePassCondition = null;
        var CMRemark = null;
        var CMSpecify = null;
        var CMDenyMotor = null;
        var CMDenyOccupation = null;
        var CMDenyCantPay = null;
        var CMDenyCantContact = null;
        var CMDenyOther = null;
        var CMDenyRemark = null;
        var CMResultPassSpecifyRemark = null;

        $(function () {
            var group = {
                headerToolbar: [
                    'maximize',
                    'close'
                ],
                footerToolbar: [
                    'zoomIn',
                    'zoomOut',
                    'prev',
                    'fullscreen',
                    'next',
                    'actualSize',
                    //'rotateLeft',
                    'rotateRight',
                    //'myCustomButton'
                ],
                customButtons: {
                    myCustomButton: {
                        text: '',
                        title: '',
                        click: function (context, e) {
                            //todo
                        }
                    }
                },
                modalWidth: 400,
                modalHeight: 400,
                callbacks: {
                    beforeChange: function (context, index) {
                        //todo
                    },
                    changed: function (context, index) {
                        //todo
                    },
                    opened: function (context) {
                        $('#overlay').css("display", "block");

                    },
                    closed: function (context) {
                        $('#overlay').css("display", "none");
                    },
                }
            }

            $('[data-magnify="IDcard"]').magnify(group);
            $('[data-magnify="img"]').magnify(group);
            $('[data-magnify="register"]').magnify(group);
            $('[data-magnify="receipt"]').magnify(group);
            $('[data-magnify="consent"]').magnify(group);
            $('[data-magnify="bank"]').magnify(group);
            $('[data-magnify="other"]').magnify(group);

            if (!isWindows()) {
                $('#DocDetail_form').hide();
            }
            if ($('input[name=isBeware]:checked').val() == "1") {
                $('#bewareRemarkLabel').show();
            }

            //Date
            var date = new Date();
            $('#txtCoBrandDate').val(`${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear() + 543}`);

            //disabled element input
            $("#motorFormQuestionUpdate :input").prop("disabled", true);
            $("#motorFormQuestionUpdate label").css("cursor", "not-allowed");

            $('#btnSubmit').click(function () {
                window.close();
            })

            // click img
            $('.pop').on('click', function () {
                $('.imagepreview').attr('src', $(this).find('img').attr('src'));
                $('#imagemodal').modal('show');
            });

            /*Event if checked*/
            //สถานะการคัดกรอง
            $('input[name=motorUnderwriteStatus]').on("ifChecked",
                function (e) {
                    if ($(this).valid()) {
                        switch ($(this).val()) {
                            case '1':
                                console.log($(this).val());
                                $(".ask-y").show();
                                $(".ask-n").hide();
                                $('.ask-n').find("input").iCheck('uncheck');
                                $('.box-typeselect-2').hide();
                                $('.box-typeselect-3').hide();
                                $('.box-motor-pass').hide();
                                $('.box-motor-notpass').hide();
                                $('textarea[name=motorChildPassOtherRemark]').val('');
                                $('textarea[name=motorChildNotPassOtherRemark]').val('');
                                $('textarea[name=remark]').val('');
                                $('#sectionGivemotord').hide();
                                break;
                            case '0':
                                console.log($(this).val());
                                $(".ask-y").hide();
                                $(".ask-n").show();
                                $('.ask-y').find("input").iCheck('uncheck');
                                $('.box-typeselect-2').hide();
                                $('.box-typeselect-3').hide();
                                $('.box-motor-pass').hide();
                                $('.box-motor-notpass').hide();
                                $('textarea[name=motorChildPassOtherRemark]').val('');
                                $('textarea[name=motorChildNotPassOtherRemark]').val('');
                                $('textarea[name=remark]').val('');
                                $('#sectionGivemotord').hide();
                                break;
                            default:
                        }
                    }

                });

            //การคัดกรอง
            $('input[name=motor]').on('ifChecked', function (e) {
                motorVal = $(this).val();
                if ($(this).valid()) {
                    switch ($(this).val()) {
                        case '1': //ข้อมูลถูกต้อง
                            console.log($(this).val());
                            $('.box-motor-pass').show();
                            $('.child-pass').show();
                            $('.box-motor-notpass').hide();
                            $('input[name=motorChildPass]').iCheck('uncheck');
                            $('input[name=IsSpecify]').iCheck('uncheck');
                            $('input[name=motorChildNotPass]').iCheck('uncheck');
                            break
                        case '0': //ข้อมูลไม่ถูกต้อง
                            console.log($(this).val());
                            $('.box-motor-pass').hide();
                            $('.child-pass').hide();
                            $('.sub-box-motor-pass').hide();
                            $('.box-motor-notpass').show();
                            $('input[name=motorChildPass]').iCheck('uncheck');
                            $('input[name=IsSpecify]').iCheck('uncheck');
                            $('input[name=motorChildNotPass]').iCheck('uncheck');
                            $('textarea[name=motorChildPassOtherRemark]').val('');
                            break
                        default:
                    }
                }

            });

            //ผ่านคัดกรอก ติดเงื่อไข
            $('input[name=motorChildPass]').on('ifChecked',
                function (e) {
                    if ($(this).valid()) {
                        switch ($(this).val()) {
                            case '1': //ผ่านตามมาตรฐาน
                                $('textarea[name=motorChildPassOtherRemark]').val('');
                                $('.sub-box-motor-pass').hide();
                                $('input[name=IsSpecify]').iCheck('uncheck');
                                break;
                            case '0'://ติดข้อยกเว้น
                                $('.sub-box-motor-pass').show();
                                break;
                            default:
                        }
                    }
                });

            //checkbox healthChildNotPass
            $('input[name=motorChildNotPass]').on('ifChanged', function () {
                if ($(this).is(':checked')) {
                    switch ($(this).val()) {
                        case "denyOther":
                            $('textarea[name=motorChildNotPassOtherRemark]').prop('disabled', false);
                            break;
                        default:
                    }
                } else {
                    switch ($(this).val()) {
                        case "denyOther":
                            $('textarea[name=motorChildNotPassOtherRemark]').val('');
                            $('textarea[name=motorChildNotPassOtherRemark]').prop('disabled', true);
                            break
                        default:
                    }
                }
            });

            //ช่องทางการคัดกรอง
            $('input[name=typeSelect]').on('ifChecked',
                function (e) {
                    if ($(this).valid()) {
                        typeSelectVal = $(this).val();
                        switch ($(this).val()) {
                            case '2': //เข้าพบ
                                console.log($(this).val());
                                $('.box-typeselect-2').show();
                                $('.box-typeselect-3').hide();
                                $('input[name=typeSelectChild]').iCheck('uncheck');
                                break;
                            case '3': //โทรคัดกรอง
                                console.log($(this).val());
                                $('.box-typeselect-2').hide();
                                $('.box-typeselect-3').show();
                                $('input[name=typeSelectChild]').iCheck('uncheck');
                                break;
                            default:
                        }
                    }
                });

            //checkbox notpass CM
            $('input[name=motorChildNotPassCM]').on('ifChanged', function () {
                if ($(this).is(':checked')) {
                    switch ($(this).val()) {
                        case "denyMotor":
                            CMDenyMotor = true;
                            break;
                        case "denyOccupation":
                            CMDenyOccupation = true;
                            break;
                        case "denyCantPay":
                            CMDenyCantPay = true;
                            break;
                        case "denyCantContact":
                            CMDenyCantContact = true;
                            break;
                        case "denyOther":
                            CMDenyOther = true;
                            //อื่นๆ เปิดช่องหมายเหตุ
                            $('#motorChildNotPassOtherRemarkCM').prop('disabled', false)
                            break;
                        default:
                    }
                } else {
                    //ปิด
                    $('#motorChildNotPassOtherRemarkCM').attr('disabled', true)
                    switch ($(this).val()) {
                        case "denyMotor":
                            CMDenyMotor = null;
                            break
                        case "denyOccupation":
                            CMDenyOccupation = null;
                            break
                        case "denyCantPay":
                            CMDenyCantPay = null;
                            break
                        case "denyCantContact":
                            CMDenyCantContact = null;
                            break
                        case "denyOther":
                            CMDenyOther = null;
                            break
                        default:
                    }
                }
            });

            //button CM Edit approve
            $('button[name=btnCMEdit]').click(function (e) {
                var motorResult = $('input[name=motor]:checked').val();
                var motorChildPass = $('input[name=motorChildPass]:checked').val();

                var IsmotorMotorPassCM;
                switch (parseInt($(this).val())) {

                    case 1: //อนุมัติให้ผ่านคัดกรอง
                        CMApproveStatusId = 3; //ผ่านคัดกรอง
                        IsmotorMotorPassCM = 1; //ใช้เช็ค ตามมาตรฐาน
                        CMIsApprovePassCondition = false; // ไม่ใช่ผ่านแบบมีเงื่อนไข
                        break;
                    case 2: //อนุมัติให้ผ่านคัดกรองแบบติดเงื่อนไข
                        CMApproveStatusId = 4; //ผ่านคัดกรอง ติดเงื่อนไข
                        IsmotorMotorPassCM = 0; //ใช้เช็ค ติดเงื่อนไขข้อยกเว้น
                        CMIsApprovePassCondition = true; // ผ่านแบบมีเงื่อนไข
                        ClearResultPassConditionCM(); //clear ทิ้ง
                        $('input[id=motor-child-pass-conditionCM]').iCheck('check'); // set ให้ใหม่
                        break;
                    case 0: //อนุมัติไม่ให้ผ่าน
                        CMApproveStatusId = 5; //ไม่ให้ผ่านคัดกรอง
                        ClearResultNotPassCM(); //clear ทิ้ง
                        $('input[id=motor_notpassCM]').iCheck('check'); // set ให้ใหม่
                        break;
                    default:
                }
                //เช็คผล ผอ กับ ประธาน ตรงกันหรือไม่ (2 คือ val button ผ่านแต่แบบติดเงื่อนไข)

                if (parseInt($(this).val()) === parseInt(motorResult) || parseInt($(this).val()) === 2) {
                    //เช็คผล ผอ และประธาน ว่าผ่านตามมาตรฐาน หรือ ติดข้อยกเว้น เหมือนกันหรือไม่
                    if (parseInt(motorChildPass) === parseInt(IsmotorMotorPassCM) && motorChildPass != null && motorChildPass != 'undefined' && IsmotorMotorPassCM != null && IsmotorMotorPassCM != 'undefined') {
                        //เช็คผ่านแบบมาตรฐาน
                        if (parseInt($(this).val()) === 1) {
                            swal({
                                title: "ยืนยันบันทึกข้อมูล",
                                text: 'รายละเอียดเพิ่มเติม',
                                type: 'input',
                                showCancelButton: true,
                                confirmButtonColor: '#277020',
                                confirmButtonText: 'ยืนยัน',
                                cancelButtonText: 'ยกเลิก',
                                closeOnConfirm: false,
                                closeOnEsc: false,
                                closeOnCancel: true
                            }, function (inputValue) {
                                if (inputValue === false) return false;

                                //if (inputValue === "") {
                                //    swal.showInputError("กรุณากรอกข้อมูลส่วนนี้..!");
                                //    return false
                                //}
                                CMRemark = inputValue;
                                FuncCMApproveUpdate();
                            });
                        }
                        //เช็คผ่านแบบติดเงื่อนไข
                        else if (parseInt($(this).val()) === 2) {

                            //Set Default
                            SetResultPassConditionCMEdit();

                            //Assign Value PassOtherRemarkCM To Variable
                            CMResultPassSpecifyRemark = $('#motorChildPassOtherRemarkCM').val();
                        }
                    }
                    //ไม่ผ่านคัดกรอง
                    else if (parseInt($(this).val()) === 0) {
                        //Set Default
                        SetResultNotPassCMEdit();
                    } else {
                        //เช็คไม่เท่ากับ 2 คือไม่ใช่แบบติดเงื่อนไข  (2 จะแสดง modal )
                        if (parseInt($(this).val()) != 2) {
                            swal({
                                title: "โปรดระบุเหตุผลในการเปลี่ยนแปลง",
                                text: '',
                                type: 'input',
                                showCancelButton: true,
                                confirmButtonColor: '#277020',
                                confirmButtonText: 'ยืนยัน',
                                cancelButtonText: 'ยกเลิก',
                                closeOnConfirm: false,
                                closeOnEsc: false,
                                closeOnCancel: true
                            }, function (inputValue) {
                                if (inputValue === false) return false;

                                if (inputValue === "") {
                                    swal.showInputError("กรุณากรอกข้อมูลส่วนนี้..!");
                                    return false
                                }
                                CMRemark = inputValue;
                                FuncCMApproveUpdate();
                            });

                        } else if (parseInt($(this).val()) === 2) {
                            //Set Default
                            SetResultPassConditionCMEdit();

                            CMResultPassSpecifyRemark = $('#motorChildPassOtherRemarkCM').val();
                        }
                    }
                } else {
                    //ผลของ ผอ และประธาน ขัดแย้งกัน เช็คว่าถ้าประธานผลเท่ากับผ่านตามมาตรฐาน
                    if (parseInt($(this).val()) === 1) {
                        swal({
                            title: "โปรดระบุเหตุผลในการเปลี่ยนแปลง",
                            text: '',
                            type: 'input',
                            showCancelButton: true,
                            confirmButtonColor: '#277020',
                            confirmButtonText: 'ยืนยัน',
                            cancelButtonText: 'ยกเลิก',
                            closeOnConfirm: false,
                            closeOnEsc: false,
                            closeOnCancel: true,
                        }, function (inputValue) {
                            if (inputValue === false) return false;

                            if (inputValue === "") {
                                swal.showInputError("กรุณากรอกข้อมูลส่วนนี้..!");
                                return false
                            }
                            CMRemark = inputValue;
                            FuncCMApproveUpdate();
                        });
                    } else if (parseInt($(this).val()) === 0) {
                        //Set Default
                        $('input[name=motor]:checked').val("0")
                        SetResultNotPassCMEdit();
                    }
                }
            });

            //button CM approve
            $('button[name=btnCM]').click(function (e) {
                var motorResult = $('input[name=motor]:checked').val();
                var motorChildPass = $('input[name=motorChildPass]:checked').val();

                var IsmotorMotorPassCM;
                switch (parseInt($(this).val())) {

                    case 1: //อนุมัติให้ผ่านคัดกรอง
                        CMApproveStatusId = 3; //ผ่านคัดกรอง
                        IsmotorMotorPassCM = 1; //ใช้เช็ค ตามมาตรฐาน
                        CMIsApprovePassCondition = false; // ไม่ใช่ผ่านแบบมีเงื่อนไข
                        break;
                    case 2: //อนุมัติให้ผ่านคัดกรองแบบติดเงื่อนไข
                        CMApproveStatusId = 4; //ผ่านคัดกรอง ติดเงื่อนไข
                        IsmotorMotorPassCM = 0; //ใช้เช็ค ติดเงื่อนไขข้อยกเว้น
                        CMIsApprovePassCondition = true; // ผ่านแบบมีเงื่อนไข
                        ClearResultPassConditionCM(); //clear ทิ้ง
                        $('input[id=motor-child-pass-conditionCM]').iCheck('check'); // set ให้ใหม่
                        break;
                    case 0: //อนุมัติไม่ให้ผ่าน
                        CMApproveStatusId = 5; //ไม่ให้ผ่านคัดกรอง
                        ClearResultNotPassCM(); //clear ทิ้ง
                        $('input[id=motor_notpassCM]').iCheck('check'); // set ให้ใหม่
                        break;
                    default:
                }
                //เช็คผล ผอ กับ ประธาน ตรงกันหรือไม่ (2 คือ val button ผ่านแต่แบบติดเงื่อนไข)
                if (parseInt($(this).val()) === parseInt(motorResult) || parseInt($(this).val()) === 2) {
                    //เช็คผล ผอ และประธาน ว่าผ่านตามมาตรฐาน หรือ ติดข้อยกเว้น เหมือนกันหรือไม่
                    if (parseInt(motorChildPass) === parseInt(IsmotorMotorPassCM) && motorChildPass != null && motorChildPass != 'undefined' && IsmotorMotorPassCM != null && IsmotorMotorPassCM != 'undefined') {
                        //เช็คผ่านแบบมาตรฐาน
                        if (parseInt($(this).val()) === 1) {
                            swal({
                                title: "ยืนยันบันทึกข้อมูล",
                                text: 'รายละเอียดเพิ่มเติม',
                                type: 'input',
                                showCancelButton: true,
                                confirmButtonColor: '#277020',
                                confirmButtonText: 'ยืนยัน',
                                cancelButtonText: 'ยกเลิก',
                                closeOnConfirm: false,
                                closeOnEsc: false,
                                closeOnCancel: true
                            }, function (inputValue) {
                                if (inputValue === false) return false;

                                //if (inputValue === "") {
                                //    swal.showInputError("กรุณากรอกข้อมูลส่วนนี้..!");
                                //    return false
                                //}
                                CMRemark = inputValue;
                                FuncCMApproveUpdate();
                            });
                        }
                        //เช็คผ่านแบบติดเงื่อนไข
                        else if (parseInt($(this).val()) === 2) {
                            //Set Default
                            SetResultPassConditionCM();

                            //Assign Value PassOtherRemarkCM To Variable
                            CMResultPassSpecifyRemark = $('#motorChildPassOtherRemarkCM').val();
                        }
                    }
                    //ไม่ผ่านคัดกรอง
                    else if (parseInt($(this).val()) === 0) {
                        //Set Default
                        SetResultNotPassCM();
                    }else {
                        //เช็คไม่เท่ากับ 2 คือไม่ใช่แบบติดเงื่อนไข  (2 จะแสดง modal )
                        if (parseInt($(this).val()) != 2) {
                            swal({
                                title: "โปรดระบุเหตุผลในการเปลี่ยนแปลง",
                                text: '',
                                type: 'input',
                                showCancelButton: true,
                                confirmButtonColor: '#277020',
                                confirmButtonText: 'ยืนยัน',
                                cancelButtonText: 'ยกเลิก',
                                closeOnConfirm: false,
                                closeOnEsc: false,
                                closeOnCancel: true
                            }, function (inputValue) {
                                if (inputValue === false) return false;

                                if (inputValue === "") {
                                    swal.showInputError("กรุณากรอกข้อมูลส่วนนี้..!");
                                    return false
                                }
                                CMRemark = inputValue;
                                FuncCMApproveUpdate();
                            });
                        }
                    }
                } else {
                    //ผลของ ผอ และประธาน ขัดแย้งกัน เช็คว่าถ้าประธานผลเท่ากับผ่านตามมาตรฐาน
                    if (parseInt($(this).val()) === 1) {
                        swal({
                            title: "โปรดระบุเหตุผลในการเปลี่ยนแปลง",
                            text: '',
                            type: 'input',
                            showCancelButton: true,
                            confirmButtonColor: '#277020',
                            confirmButtonText: 'ยืนยัน',
                            cancelButtonText: 'ยกเลิก',
                            closeOnConfirm: false,
                            closeOnEsc: false,
                            closeOnCancel: true,
                        }, function (inputValue) {
                            if (inputValue === false) return false;

                            if (inputValue === "") {
                                swal.showInputError("กรุณากรอกข้อมูลส่วนนี้..!");
                                return false
                            }
                            CMRemark = inputValue;
                            FuncCMApproveUpdate();
                        });
                    }
                }
            });

            //button save in modal condition cm
            $('#button-save-condition').click(function (e) {
                if ($('input[name=motorChildPassCM]').valid() && $('input[name=IsSpecify_CM]').valid() && $('textarea[name=motorChildPassOtherRemarkCM]').valid()) {
                    FuncCMApproveUpdate();
                }
            });

            //button save in modal unapprove cm
            $('#button-save-unapproved').click(function (e) {
                if ($('input[name=motorCM]').valid() && $('input[name=motorChildNotPassCM]').valid()) {

                    if (CMDenyOther) {
                        $('#formModalUnapprovedMotor').valid()
                        var res = $('#formModalUnapprovedMotor').valid()
                        if (res) {
                            FuncCMApproveUpdate();
                        }
                    } else {
                        FuncCMApproveUpdate();
                    }
                }
            });

            //มีประวัติสุขภาพที่ติดข้อยกเว้น ส่วนประธานา
            $('input[name=motorChildPassCM]').on('ifChecked', function (e) {
                $(this).valid();
            });

            //ไม่ผ่านคัดกรอง ส่วนประธาน
            $('input[name=motorCM]').on('ifChecked', function (e) {
                $(this).valid();
            });

            //ไม่ผ่านคัดกรอง-ส่วนย่อย -ประธาน
            $('input[name=motorChildNotPassCM]').on('ifChecked', function (e) {
                $(this).valid();
            });

            //อนุมัติไม่ผ่านคัดกรอง อื่นๆ
            $('#motorChildNotPassOtherRemarkCM').bind('input propertychange', function () {
                CMDenyRemark = $(this).val();
            });

            //ระบุข้อยกเว้น มีประวัติที่ติดข้อยกเว้น
            $('#motorChildPassOtherRemarkCM').bind('input propertychange', function () {
                if ($(this).valid()) {
                    //Assign Value PassOtherRemarkCM To Variable
                    CMResultPassSpecifyRemark = $(this).val();
                }
            });

            //มีประวัติสุขภาพที่ติดข้อยกเว้น
            $('input[name=IsSpecify_CM]').on('ifChecked', function (e) {
                if ($(this).valid()) {
                    switch ($(this).val()) {
                        case "1":
                            CMSpecify = true;
                            break;
                        case "0":
                            CMSpecify = null;
                            break;
                        default:
                    }
                }
            });

        });//end load

        /*tab change*/
        $('a[data-toggle="tab"]').on('shown.bs.tab',
            function (e) {
                e.preventDefault();
                const target = $(e.target).attr("href");
                switch (target) {
                    case "#tab_3":
                        //Log
                        loadingSpinner('fadeIn', 500);
                        GetQueueLog();
                        break;
                    case "#tab_2":
                        loadingSpinner('fadeIn');
                         //dowload documents
                        GetDocument();
                            break;
                    default:
                }
            });

        //Dowload Document
        const GetDocument = () => {
            $.post('@Url.Action("DowloadDocuments")',
                {
                    queueId: "@ViewBag.QueueId"
                },
                function (data) {

                    if (data.IsResult === true) {
                        loadingSpinner('fadeOut', 500);

                        //บัตรประจำตัวประชาชน
                        if (Array.isArray(data.idCardAttachedFile)) {
                            if (data.idCardAttachedFile.length > 0) {
                                for (var i = 0; i < data.idCardAttachedFile.length; i++) {
                                    if (data.idCardAttachedFile[i] == null) {

                                        $('.IdCardAttachedFile_NotFound').show();
                                    } else {
                                        switch (data.idCardAttachedFileType) {
                                            case "JPG":
                                                $('#IdCardAttachedFile_JPG').show();
                                                $(`.IDcard_a_${i}`).attr('href', data.idCardAttachedFile[i]);
                                                $(`.IDcard_img_${i}`).attr('src', data.idCardAttachedFile[i]);
                                                $(`.IDcard_img_${i}`).attr('data-src', data.idCardAttachedFile[i]);
                                                break
                                            case "PDF":
                                                $('#IdCardAttachedFile_PDF').show();
                                                $('#IdCardAttachedFile_PDF').append(`<object class="IDcard_PDF" data="${data.idCardAttachedFile[i]}" type="application/pdf" style="width:100%; height: 900px;overflow:auto !important">
                                                <p>
                                                    Alternative text - include a link<a href="${data.idCardAttachedFile[i]}">
                                                        to the PDF!
                                                    </a>
                                                </p>
                                            </object>`);

                                                break
                                            default:
                                                $('#IdCardAttachedFile_Type_NotFound').show();
                                                break
                                        }
                                    }
                                }
                            } else {
                                $('.IdCardAttachedFile_NoDocument').show();
                            }
                        } else {
                            $('.IdCardAttachedFile_NoDocument').show();
                        }
                        //end บัตรประจำตัวประชาชน

                        //รูปภาพ
                        if (Array.isArray(data.photoAttachedFile)) {
                            if (data.photoAttachedFile.length > 0) {
                                for (var i = 0; i < data.photoAttachedFile.length; i++) {
                                    if (data.photoAttachedFile[i] == null) {
                                        $('.photoAttachedFile_NotFound').show();
                                    } else {
                                        switch (data.photoAttachedFileType) {
                                            case "JPG":
                                                $('#photoAttachedFile_JPG').show();
                                                $(`.picture_a_${i}`).attr('href', data.photoAttachedFile[i]);
                                                $(`.picture_img_${i}`).attr('src', data.photoAttachedFile[i]);
                                                $(`.picture_img_${i}`).attr('data-src', data.photoAttachedFile[i]);
                                                break
                                            case "PDF":
                                                $('#photoAttachedFile_PDF').show();
                                                $('#photoAttachedFile_PDF').append(`<object class="picture_PDF" data="${data.photoAttachedFile[i]}" type="application/pdf" style="width:100%; height: 700px;overflow:auto !important">
                                                    <p>
                                                        Alternative text - include a link<a href="${data.photoAttachedFile[i]}">
                                                            to the PDF!
                                                        </a>
                                                    </p>
                                                </object>`);
                                                break
                                            default:
                                                $('#photoAttachedFile_Type_NotFound').show();
                                                break
                                        }
                                    }
                                }
                            } else {
                                $('.photoAttachedFile_NoDocument').show();
                            }
                        } else {
                            $('.photoAttachedFile_NoDocument').show();
                        }
                        //end รูปภาพ

                        //รายการจดทะเบียน
                        if (Array.isArray(data.regisBookAttachedFile)) {
                            if (data.regisBookAttachedFile.length > 0) {
                                for (var i = 0; i < data.regisBookAttachedFile.length; i++) {
                                    if (data.regisBookAttachedFile[i] == null) {
                                        $('.regisBookAttachedFile_NotFound').show();
                                    } else {
                                        switch (data.regisBookAttachedFileType) {
                                            case "JPG":
                                                $('#regisBookAttachedFile_JPG').show();
                                                $(`.register_a_${i}`).attr('href', data.regisBookAttachedFile[i]);
                                                $(`.register_img_${i}`).attr('src', data.regisBookAttachedFile[i]);
                                                $(`.register_img_${i}`).attr('data-src', data.regisBookAttachedFile[i]);
                                                break
                                            case "PDF":
                                                $('#regisBookAttachedFile_PDF').show();
                                                $('#regisBookAttachedFile_PDF').append(`<object class="register_PDF" data="${data.regisBookAttachedFile[i]}" type="application/pdf" style="width:100%; height: 700px;overflow:auto !important">
                                                    <p>
                                                        Alternative text - include a link<a href="${data.regisBookAttachedFile[i]}">
                                                            to the PDF!
                                                        </a>
                                                    </p>
                                                </object>`);
                                                break
                                            default:
                                                $('#regisBookAttachedFile_Type_NotFound').show();
                                                break
                                        }
                                    }
                                }
                            } else {
                                $('.regisBookAttachedFile_NoDocument').show();
                            }
                        } else {
                            $('.regisBookAttachedFile_NoDocument').show();
                        }
                        //end รายการจดทะเบียน

                        //ใบเสร็จ
                        if (Array.isArray(data.paymentSlipAttachedFile)) {
                            if (data.paymentSlipAttachedFile.length > 0) {
                                for (var i = 0; i < data.paymentSlipAttachedFile.length; i++) {
                                    if (data.paymentSlipAttachedFile[i] == null) {
                                        $('.paymentSlipAttachedFile_NotFound').show();
                                    } else {
                                        switch (data.paymentSlipAttachedFileType) {
                                            case "JPG":
                                                $('#paymentSlipAttachedFile_JPG').show();
                                                $(`.receipt_a_${i}`).attr('href', data.paymentSlipAttachedFile[i]);
                                                $(`.receipt_img_${i}`).attr('src', data.paymentSlipAttachedFile[i]);
                                                $(`.receipt_img_${i}`).attr('data-src', data.paymentSlipAttachedFile[i]);
                                                break
                                            case "PDF":
                                                $('#paymentSlipAttachedFile_PDF').show();
                                                $('#paymentSlipAttachedFile_PDF').append(`<object class="receipt_PDF" data="${data.paymentSlipAttachedFile[i]}" type="application/pdf" style="width:100%; height: 700px;overflow:auto !important">
                                                    <p>
                                                        Alternative text - include a link<a href="${data.paymentSlipAttachedFile[i]}">
                                                            to the PDF!
                                                        </a>
                                                    </p>
                                                </object>`);
                                                break
                                            default:
                                                $('#paymentSlipAttachedFile_Type_NotFound').show();
                                                break
                                        }
                                    }
                                }
                            } else {
                                $('.paymentSlipAttachedFile_NoDocument').show();
                            }
                        } else {
                            $('.paymentSlipAttachedFile_NoDocument').show();
                        }
                        //end ใบเสร็จ

                        //หนังสือยินยอม
                        if (Array.isArray(data.debitAuthorizeAttachedFile)) {
                            if (data.debitAuthorizeAttachedFile.length > 0) {
                                for (var i = 0; i < data.debitAuthorizeAttachedFile.length; i++) {
                                    if (data.debitAuthorizeAttachedFile[i] == null) {
                                        $('.debitAuthorizeAttachedFile_NotFound').show();
                                    } else {
                                        switch (data.debitAuthorizeAttachedFileType) {
                                            case "JPG":
                                                $('#debitAuthorizeAttachedFile_JPG').show();
                                                $(`.consent_a_${i}`).attr('href', data.debitAuthorizeAttachedFile[i]);
                                                $(`.consent_img_${i}`).attr('src', data.debitAuthorizeAttachedFile[i]);
                                                $(`.consent_img_${i}`).attr('data-src', data.debitAuthorizeAttachedFile[i]);
                                                break
                                            case "PDF":
                                                $('#debitAuthorizeAttachedFile_PDF').show();
                                                $('#debitAuthorizeAttachedFile_PDF').append(`<object class="consent_PDF" data="${data.debitAuthorizeAttachedFile[i]}" type="application/pdf" style="width:100%; height: 700px;overflow:auto !important">
                                                    <p>
                                                        Alternative text - include a link<a href="${data.debitAuthorizeAttachedFile[i]}">
                                                            to the PDF!
                                                        </a>
                                                    </p>
                                                </object>`);
                                                break
                                            default:
                                                $('#debitAuthorizeAttachedFile_Type_NotFound').show();
                                                break
                                        }
                                    }
                                }
                            } else {
                                $('.debitAuthorizeAttachedFile_NoDocument').show();
                            }
                        } else {
                            $('.debitAuthorizeAttachedFile_NoDocument').show();
                        }
                        //end หนังสือยินยอม

                        //บัญชีธนาคาร
                        if (Array.isArray(data.bankBookAttachedFile)) {
                            if (data.bankBookAttachedFile.length > 0) {
                            for (var i = 0; i < data.bankBookAttachedFile.length; i++) {
                                if (data.bankBookAttachedFile[i] == null) {
                                    $('.bankBookAttachedFile_NotFound').show();
                                } else {
                                    switch (data.bankBookAttachedFileType) {
                                        case "JPG":
                                            $('#bankBookAttachedFile_JPG').show();
                                            $(`.bank_a_${i}`).attr('href', data.bankBookAttachedFile[i]);
                                            $(`.bank_img_${i}`).attr('src', data.bankBookAttachedFile[i]);
                                            $(`.bank_img_${i}`).attr('data-src', data.bankBookAttachedFile[i]);
                                            break
                                        case "PDF":
                                            $('#bankBookAttachedFile_PDF').show();
                                            $('#bankBookAttachedFile_PDF').append(`<object class="bank_PDF" data="${data.bankBookAttachedFile[i]}" type="application/pdf" style="width:100%; height: 700px;overflow:auto !important">
                                                    <p>
                                                        Alternative text - include a link<a href="${data.bankBookAttachedFile[i]}">
                                                            to the PDF!
                                                        </a>
                                                    </p>
                                                </object>`);
                                            break
                                        default:
                                            $('#bankBookAttachedFile_Type_NotFound').show();
                                            break
                                    }
                                }
                            }
                        } else {
                                $('.bankBookAttachedFile_NoDocument').show();
                            };
                        } else {
                            $('.bankBookAttachedFile_NoDocument').show();
                        }
                        //end บัญชีธนาคาร

                        //อื่นๆ
                        if (Array.isArray(data.otherAttachedFile)) {
                            if (data.otherAttachedFile.length > 0) {
                                for (var i = 0; i < data.otherAttachedFile.length; i++) {
                                    if (data.otherAttachedFile[i] == null) {
                                        $('.otherAttachedFile_NotFound').show();
                                    } else {
                                        switch (data.otherAttachedFileType) {
                                            case "JPG":
                                                $('#otherAttachedFile_JPG').show();
                                                $(`.other_a_${i}`).attr('href', data.otherAttachedFile[i]);
                                                $(`.other_img_${i}`).attr('src', data.otherAttachedFile[i]);
                                                $(`.other_img_${i}`).attr('data-src', data.otherAttachedFile[i]);
                                                break
                                            case "PDF":
                                                $('#otherAttachedFile_PDF').show();
                                                $('#otherAttachedFile_PDF').append(`<object class="other_PDF" data="${data.otherAttachedFile[i]}" type="application/pdf" style="width:100%; height: 700px;overflow:auto !important">
                                                    <p>
                                                        Alternative text - include a link<a href="${data.otherAttachedFile[i]}">
                                                            to the PDF!
                                                        </a>
                                                    </p>
                                                </object>`);
                                                break
                                            default:
                                                $('.otherAttachedFile_Type_NotFound').show();
                                                break
                                        }
                                    }
                                }
                            } else {
                                $('.otherAttachedFile_NoDocument').show();
                            }
                        } else {
                            $('.otherAttachedFile_NoDocument').show();
                        }
                        //end อื่นๆ

                    } else {
                        //todo
                        //IsResult false
                    }
                });
        }

        const GetQueueLog = () => {
            $('#tableLog').empty();
            var table = $('#tableLog').DataTable({
                pageLength: 10,
                lengthChange: false,
                processing: true,
                serverSide: true,
                destroy: true,
                searching: true,
                ordering: true,
                info: true,
                paging: true,
                autoWidth: false,
                responsive: true,
                language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.20/i18n/Thai.json'
                },
                ajax: {
                    url: '@Url.Action("QueueLog")',
                    method: 'GET',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search;
                        d.queueId = "@ViewBag.QueueMotorFullDetail.QueueId";
                    }
                },
                columns: [
                    {
                        title: 'วันที่ทำรายการ',
                        data: 'CreatedDate',
                        render: function (data) {
                            let date = moment(data);
                            date.add(543, 'years');
                            return moment(date).format("DD/MM/YYYY HH:mm:ss");
                        }

                    },
                    {
                        title: 'ผู้มอบหมายคิวงาน',
                        data: 'FromEmployeeName'
                    },
                    {
                        title: 'ผู้รับคิวงาน',
                        data: 'ToEmployeeName'
                    },
                    {
                        title: 'รายละเอียด',
                        data: 'TransactionTypeDetail'
                    },
                ]
            });
            window.onresize = function () {
                table.columns.adjust().responsive.recalc();
            };
        }

        //set ค่าผลคัดกรอง แบบติดข้อยกเว้นของ ผอ ให้เป็นค่า default ของประธาน
        const SetResultPassConditionCM = () => {
            //clear
            $('input[id=motor-child-pass-conditionCM]').iCheck('uncheck');
            $('textarea[id=motorChildPassOtherRemarkCM]').val("");
            $('input[id=IsSpecify_CM1]').iCheck('uncheck');
            $('input[id=IsSpecify_CM0]').iCheck('uncheck');

            if ($('input[name=motorChildPass]:checked').val() === "0") {
                //มีประวัติที่ติดข้อยกเว้น
                $('input[id=motor-child-pass-conditionCM]').iCheck('check');

                //รายละเอียดเพิ่มเติม
                $('textarea[id=motorChildPassOtherRemarkCM]').val($('textarea[id=motorChildPassOtherRemark]').val());

                if ($('input[name=IsSpecify]:checked').val() === "1") {
                    //ระบุในใบสมัคร
                    $('input[id=IsSpecify_CM1]').iCheck('check');
                } else if ($('input[name=IsSpecify]:checked').val() === "0") {
                    //ไม่ระบุ
                    $('input[id=IsSpecify_CM0]').iCheck('check');
                }
            }
        }

        //set ค่าผลคัดกรอง แบบติดข้อยกเว้นของ ผอ ให้เป็นค่า default ของประธาน (แก่ไขผลการพิจารณา)
        const SetResultPassConditionCMEdit = () => {
            //clear
            $('input[id=motor-child-pass-conditionCM]').iCheck('uncheck');
            $('textarea[id=motorChildPassOtherRemarkCM]').val("");
            $('input[id=IsSpecify_CM1]').iCheck('uncheck');
            $('input[id=IsSpecify_CM0]').iCheck('uncheck');

            if ($('input[name=motorChildPass]:checked').val() === "0") {
                //มีประวัติที่ติดข้อยกเว้น
                $('input[id=motor-child-pass-conditionCM]').iCheck('check');

                //รายละเอียดเพิ่มเติม
                let aaa  = `@ViewBag.QueueMotorFullDetail.ApproveUnderwritePassSpecifyRemark`;
                $('textarea[id=motorChildPassOtherRemarkCM]').val(aaa);

                if (`@ViewBag.QueueMotorFullDetail.ApproveIsUnderwritePassIsSpecify` == 'True') {
                    //ระบุในใบสมัคร
                    $('input[id=IsSpecify_CM1]').iCheck('check');
                } else{
                    //ไม่ระบุ
                    $('input[id=IsSpecify_CM0]').iCheck('check');
                }
            } else {

                //มีประวัติที่ติดข้อยกเว้น
                $('input[id=motor-child-pass-conditionCM]').iCheck('check');

                //รายละเอียดเพิ่มเติม
                let aaa  = `@ViewBag.QueueMotorFullDetail.ApproveUnderwritePassSpecifyRemark`;
                $('textarea[id=motorChildPassOtherRemarkCM]').val(aaa);

                if (`@ViewBag.QueueMotorFullDetail.ApproveIsUnderwritePassIsSpecify` == 'True') {
                    //ระบุในใบสมัคร
                    $('input[id=IsSpecify_CM1]').iCheck('check');
                } else{
                    //ไม่ระบุ
                    $('input[id=IsSpecify_CM0]').iCheck('check');
                }
            }
        }

        //set ค่าผลคัดกรอง *ไม่ผ่านคัดกรอง ของ ผอ ให้เป็นค่า default ของประธาน
        const SetResultNotPassCM = () => {
            //check before set value
            if ($('input[name=motor]:checked').val() === "0") {
                //มีประวัติที่ติดข้อยกเว้น
                $('input[id=motor_notpassCM]').iCheck('check');

                //สภาพรถยนต์ไม่ตรงตามใบสมัคร
                if ($('input[id=motor-child-notpass-motor]').is(':checked')) $('input[id=motor-child-notpass-motorCM]').iCheck('check');
                //ประเภทการใช้งานผิดประเภท
                if ($('input[id=motor-child-notpass-occupation]').is(':checked')) $('input[id=motor-child-notpass-occupationCM]').iCheck('check');
                //ไม่สามารถชำระเบี้ยตามเงื่อนไขได้
                if ($('input[id=motor-child-notpass-cantpay]').is(':checked')) $('input[id=motor-child-notpass-cantpayCM]').iCheck('check');
                //ติดต่อไม่ได้/ไม่รับสาย/ไม่สะดวกคุย
                if ($('input[id=motor-child-notpass-cantcontact]').is(':checked')) $('input[id=motor-child-notpass-cantcontactCM]').iCheck('check');
                //อื่นๆ
                if ($('input[id=motor-child-notpass-other]').is(':checked')) $('input[id=motor-child-notpass-otherCM]').iCheck('check', function (e) {
                    //รายละเอียดเพิ่มเติม
                    $('textarea[id=motorChildNotPassOtherRemarkCM]').val($('textarea[id=motorChildNotPassOtherRemark').val());
                });
            }
        }

        //set ค่าผลคัดกรอง *ไม่ผ่านคัดกรอง ของ ผอ ให้เป็นค่า default ของประธาน (แก่ไขผลการพิจารณา)
        const SetResultNotPassCMEdit = () => {

            //check before set value
            if ($('input[name=motor]:checked').val() === "0") {
                //มีประวัติที่ติดข้อยกเว้น
                $('input[id=motor_notpassCM]').iCheck('check');

                //สภาพรถยนต์ไม่ตรงตามใบสมัคร
                if (`@ViewBag.QueueMotorFullDetail.ApproveIsUnderwriteUnPassVehicleSpec` == 'True')
                {
                    $('input[id=motor-child-notpass-motorCM]').iCheck('check');
                }

                //ประเภทการใช้งานผิดประเภท
                if (`@ViewBag.QueueMotorFullDetail.ApproveIsUnderwriteUnPassVehicleUseType` == 'True')
                {
                    $('input[id=motor-child-notpass-occupationCM]').iCheck('check');
                }

                //ไม่สามารถชำระเบี้ยตามเงื่อนไขได้
                if (`@ViewBag.QueueMotorFullDetail.ApproveIsUnderwriteUnPassCantPay` == 'True')
                {
                    $('input[id=motor-child-notpass-cantpayCM]').iCheck('check');
                }

                //ติดต่อไม่ได้/ไม่รับสาย/ไม่สะดวกคุย
                if (`@ViewBag.QueueMotorFullDetail.ApproveIsUnderwriteUnPassCantContact` == 'True')
                {
                    $('input[id=motor-child-notpass-cantcontactCM]').iCheck('check');
                }

                //อื่นๆ                                                     {
                if (`@ViewBag.QueueMotorFullDetail.ApproveIsUnderwriteUnPassOther` == 'True') {
                    $('input[id=motor-child-notpass-otherCM]').iCheck('check')
                }

                //รายละเอียดเพิ่มเติม
                let aaa  = `@ViewBag.QueueMotorFullDetail.ApproveUnderwriteUnPassOtherRemark`;
                $('textarea[id=motorChildNotPassOtherRemarkCM]').val(aaa);
            }
        }

        const ClearResultNotPassCM = () => {
            //clear ทุกครั้ง
            $('input[id=motor_notpassCM]').iCheck('uncheck');
            $('input[id=motor-child-notpass-motorCM]').iCheck('uncheck');
            $('input[id=motor-child-notpass-occupationCM]').iCheck('uncheck');
            $('input[id=motor-child-notpass-cantpayCM]').iCheck('uncheck');
            $('input[id=motor-child-notpass-otherCM]').iCheck('uncheck');
            $('textarea[id=motorChildNotPassOtherRemarkCM]').val("");
        }

        const ClearResultPassConditionCM = () => {
            //clear ทุกครั้ง
            $('input[id=motor-child-pass-conditionCM]').iCheck('uncheck');
            $('textarea[id=motorChildPassOtherRemarkCM]').val("");
            $('input[id=IsSpecify_CM1]').iCheck('uncheck');
            $('input[id=IsSpecify_CM0]').iCheck('uncheck');
        }

        /*fn aprrove update*/
        const CMApproveUpdate = (QueueId, CMApproveStatusId, CMRemark, CMIsApprovePassCondition, CMResultPassIsSpecify, CMDenyMotor, CMDenyOccupation, CMDenyCantPay, CMDenyCantContact, CMDenyOther, CMDenyRemark, CMResultPassSpecifyRemark) => {
            $.post('@Url.Action("MotorQueueApproveUpdate")',
                {
                    QueueId: QueueId,
                    ApproveStatusId: CMApproveStatusId,
                    ApproveRemark: CMRemark,
                    CMIsApprovePassCondition: CMIsApprovePassCondition,
                    CMResultPassIsSpecify: CMResultPassIsSpecify,
                    CMDenyMotor: CMDenyMotor,
                    CMDenyOccupation: CMDenyOccupation,
                    CMDenyCantPay: CMDenyCantPay,
                    CMDenyCantContact: CMDenyCantContact,
                    CMDenyOther: CMDenyOther,
                    CMDenyRemark: CMDenyRemark,
                    CMResultPassSpecifyRemark: CMResultPassSpecifyRemark
                },
                function (data) {
                    if (data.IsResult === true) {
                        $('.modal').hide();
                        swal_success(() => {
                            window.location.reload();
                        });
                    } else {
                        window.location.reload();
                    }
                });
        }

        //Function Update
        const FuncCMApproveUpdate = () => {
                //UPDATE
            CMApproveUpdate('@ViewBag.QueueId',
            CMApproveStatusId,
            CMRemark,
            CMIsApprovePassCondition,
            CMSpecify,
            CMDenyMotor,
            CMDenyOccupation,
            CMDenyCantPay,
            CMDenyCantContact,
            CMDenyOther,
            CMDenyRemark,
            CMResultPassSpecifyRemark);
        }


            const OpenDocstorage = (app) => {
            var url = `@ViewBag.docstorage`+`/document=` + app + `/preview`
             window.open(`@ViewBag.docstorage`+`/document/` + app + `/preview`,'_blank');
        }
    </script>
}