@*
    Parameters: ViewBag.AppId
*@


@using SmileSMiscellaneous.Models;


@{
    using (var db = new MiscellaneousDBContext())
    {
        int appID = ViewBag.AppId;
        usp_Application_Select_Result obj = db.usp_Application_Select(appID, null, 0, 9999, null, null, null).SingleOrDefault();

        <input type="hidden" id="hdfAppCode" value="@obj.ApplicationCode"> 
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">ข้อมูล Application</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <div class="row">
                            <div class="col-xs-3 col-xs-offset-2">
                                <label>ApplicationID :</label>
                                <span>@obj.ApplicationCode</span>
                            </div>
                            <div class="col-xs-3">
                                <label>สถานะกรมธรรม์ :</label>
                                <span>@obj.ApplicationStatus</span>
                            </div>
                            <div class="col-xs-3">
                                <label>สถานะการชำระเงิน :</label>
                                <span>@obj.PaymentStatus</span>
                            </div>
                        </div>

                        <div class="row" style="padding-top:6px">
                            <div class="col-xs-3 col-xs-offset-2">
                                <label>ประเภท :</label>
                                <span>@obj.ProductType</span>
                            </div>
                            <div class="col-xs-3 ">
                                <label>แผน :</label>
                                <span>@obj.ProductDetail</span>
                            </div>
                        </div>

                        <div class="row" style="padding-top:6px">
                            <div class="col-xs-3 col-xs-offset-2">
                                <label>จำนวนผู้เอาประกัน :</label>
                                <span>@obj.CountCustomer</span>
                            </div>
                            <div class="col-xs-3">
                                <label>เบี้ยรวม :</label>
                                <span>@obj.SumPremiumAmount</span>
                            </div>
                        </div>

                        <div class="row" style="padding-top:6px">
                            <div class="col-xs-3 col-xs-offset-2">
                                <label>วันที่เริ่มคุ้มครอง :</label>
                                <span class="green">@obj.StartCoverDate.Value.AddYears(543).ToString("dd/MM/yyyy")</span>
                            </div>
                            <div class="col-xs-3">
                                <label>สิ้นสุดความคุ้มครอง :</label>
                                <span class="red">@obj.EndCoverDate.Value.AddYears(543).ToString("dd/MM/yyyy")</span>
                            </div>
                            <div class="col-xs-3">
                                <label>ระยะเวลา :</label>
                                <span>@obj.CoveragePeriod </span>
                                 @if (obj.PeriodTypeId == 3) { <span> ปี</span> } else { <span> วัน</span> } 
                            </div>
                        </div>


                        <div class="row" style="padding-top:6px">
                            <div class="col-xs-5 col-xs-offset-2">
                                <label>ตัวแทน : </label>
                                <span>@obj.AgentName</span>
                            </div>

                        </div>

                        <div class="row" style="padding-top:6px">
                            <div class="col-xs-5 col-xs-offset-2">
                                <label>รหัสรถม้าลาย : </label>
                                <span>@obj.Zebra</span>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>



    }
}