@*
    Parameters: ViewBag.AppId
*@

@using SmileSMiscellaneous.Models;

@{
    using (var db = new MiscellaneousDBContext())
    {
        int appID = ViewBag.AppId;
        usp_ApplicationInsured_Select_Result obj = db.usp_ApplicationInsured_Select(appID, 0, 9999, null, null, null).SingleOrDefault();
        usp_Address_Select_Result objAddress = db.usp_Address_Select(appID, 2, 0, 9999, null, null, null).SingleOrDefault();

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">ข้อมูลผู้เอาประกัน</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-2">
                                <label>ชื่อ-สกุล ผู้เอาประกัน :</label>
                                @if (@obj != null)
                                {
                                    if (@obj.InsuredName != null)
                                    {<span>@obj.InsuredName</span>}
                                else
                                {<span>-</span> }
                            }
                            else
                            { <span>-</span>}
                            </div>
                            <div class="col-xs-3">
                                <label>ประเภทผู้เอาประกัน :</label>
                                @if (@obj != null)
                                {
                                    if (@obj.PersonTypeDetail != null)
                                    {<span>@obj.PersonTypeDetail</span>}
                                else
                                {<span>-</span> }
                            }
                            else
                            { <span>-</span>}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-xs-offset-2">
                                <label>เลขพาสปอร์ต :</label>
                                @if (@obj != null)
                                {
                                    if (@obj.PassPortNumber != null)
                                    {<span>@obj.PassPortNumber</span>}
                                else
                                {<span>-</span> }
                            }
                            else
                            { <span>-</span>}
                            </div>
                            <div class="col-xs-3">
                                <label>เลขบัตรประชาชน :</label>
                                @if (@obj != null)
                                {
                                    if (@obj.IdCardNumber != null)
                                    {<span>@obj.IdCardNumber</span>}
                                else
                                {<span>-</span> }
                            }
                            else
                            { <span>-</span>}
                            </div>
                            <div class="col-xs-3">
                                <label>เบอร์โทร :</label>
                                @if (@obj != null)
                                {
                                    if (@obj.MobileNumber != null)
                                    {<span itemprop="telephone">@obj.MobileNumber</span>}
                                else
                                {<span>-</span> }
                            }
                            else
                            { <span>-</span>}
                            </div>
                        </div>
                        <div class="row" style="padding-top:6px">
                            <div class="col-xs-3 col-xs-offset-2">
                                <label>วันเกิด :</label>
                                @if (@obj != null)
                                {
                                    if (@obj.BirthDate != null)
                                    {<span class="red">@obj.BirthDate.Value.ToString("dd/MM/yyyy", new System.Globalization.CultureInfo("th-TH"))</span>}
                                else
                                {<span>-</span> }
                            }
                            else
                            { <span>-</span>}
                            </div>
                            <div class="col-xs-3">
                                @if (obj != null)
                                {
                                    <label>อายุ :</label>
                                    if (@obj.CustomeYear != null)
                                    { <span>@obj.CustomeYear</span>}
                                else
                                { <span>-</span>}

                                <label> ปี </label>
                                if (@obj.CustomeMonth != null)
                                { <span>@obj.CustomeMonth</span>}
                            else
                            { <span>-</span>}

                            <label> เดือน </label>
                            if (@obj.CustomeDay != null)
                            { <span>@obj.CustomeDay</span>}
                        else
                        { <span>-</span>}
                        <label> วัน</label>
                    }
                    else
                    {
                        <label>อายุ :</label>
                        <span>-</span>
                        <label> ปี </label>
                        <span>-</span>
                        <label> เดือน </label>
                        <span>-</span>
                        <label> วัน</label>
                    }
                            </div>
                        </div>
                        <div class="row" style="padding-top:6px">
                            <div class="col-xs-10 col-xs-offset-2">
                                <label>ที่อยู่ :</label>
                                @if (@objAddress != null)
                                {
                                    <span>@objAddress.Address1</span>
                                    <span>@objAddress.Address2</span>
                                    <span>@objAddress.AddressFullDetail</span>
                                }
                                else
                                { <span>-</span>}
                            </div>
                        </div>
                        <div class="row" style="padding-top:6px">
                            <div class="col-xs-10 col-xs-offset-2">
                                <label>หมายเหตุอื่นๆ :</label>
                                <span>@obj.Remark</span>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

    }
}