@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header"></li>
            <li class="@Url.IsLinkActive("Index", "DocumentDownload")">
                <a href="@Url.Action("Index", "DocumentDownload")"><i class="fa fa-download"></i> <span> Download Document</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "DocumentDownload")">
                <a href="http://uat.siamsmile.co.th:9134/content/SS-TNI-DocumentDownload.pdf"><i class="fa fa-info"></i> <span> Info</span></a>
            </li>
            <li class="@Url.IsLinkActive("Logout", "Auth")">
                <a href="@Url.Action("Logout", "Auth")"><i class="fa fa-sign-out-alt"></i> <span> Logout</span></a>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>