﻿﻿@{
    ViewBag.Title = "Application ID :" + @ViewBag.Application.ApplicationCode;
}

<form action="" method="post" id="Mainform">
    <div class="row">
        @* nav tabs *@
        <div class="col-sm-12 col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a style="font-size: larger" href="#tab1" data-toggle="tab" aria-expanded="True">ข้อมูลกรมธรรม์</a></li>
                    <li><a style="font-size: larger" href="#tab2" data-toggle="tab" aria-expanded="True">ข้อมูลด้านสุขภาพ</a></li>
                </ul>
                @* tabs content *@
                <div class="tab-content">
                    @* ข้อมูลกรมธรรม์ *@
                    <div class="tab-pane active" id="tab1">
                        @* document form *@
                        @Html.Partial("~/Views/partial_view/_Document.cshtml")
                        @* end document *@
                        @* Application detail form *@
                        @Html.Partial("~/Views/partial_view/_ApplicationDetail.cshtml")
                        @* end application detail *@
                        @* Customer form *@
                        @Html.Partial("~/Views/partial_view/_Customer.cshtml")
                        @* end customer form *@
                        @* Payer form *@
                        @Html.Partial("~/Views/partial_view/_Payer.cshtml")
                        @* end payer form *@
                        @* heir form *@
                        @Html.Partial("~/Views/partial_view/_Heir.cshtml")
                        @* end heir form *@
                        @* memo form *@
                        @Html.Partial("~/Views/partial_view/_Memo.cshtml")
                        @* end memo *@
                        @* transaction detail *@
                        @Html.Partial("~/Views/partial_view/_Transaction.cshtml")
                        @* end transaction *@
                        @* debt detail *@
                        @Html.Partial("~/Views/partial_view/_Debt.cshtml")
                        @* end debt *@
                    </div>
                    @* ข้อมูลด้านสุขภาพ *@
                    <div class="tab-pane" id="tab2">
                        @Html.Partial("~/Views/partial_view/_Question.cshtml")
                    </div>
                </div>
            </div>
        </div>
        @* end tabs *@
    </div>
    @* hidden *@
    <input type="hidden" id="hd_appId" value="@ViewBag.Application.ApplicationId" />
</form>
@section ViewSpecificJavascript
{
    <script type="text/javascript">
    $(function () {

        //load datatable
    GetDocEditDetail_DT(@ViewBag.Application.ApplicationId);
    GetHeir_dt(@ViewBag.Application.ApplicationId);
    GetMemo_dt(@ViewBag.Application.ApplicationId);
    GetTransaction_dt(@ViewBag.Application.ApplicationId);
    GetDebt_dt(@ViewBag.Application.ApplicationId);

    //Questioniar

    //Q1
    $('#Q1_Form input').prop('disabled', true);
    $('#A1_07').prop('disabled', true);
    //Q2
    $('#Q2_Form input').prop('disabled', true);
    //Q3
    $('#Q3_Form input').prop('disabled', true);
    //Child Q3
    if ($('#A3_08').iCheck('update')[0].checked) {
        $('#Sub_A3_08').show();
    }
    if ($('#A3_09').iCheck('update')[0].checked) {
        $('#Sub_A3_09').show();
    }

    //Q4
    $('#Q4_Form input').prop('disabled', true);

    });
    </script>
}