@{
    ViewBag.Title = "Monitor Supervisor";
    Layout = "~/Views/Shared/_LayoutForTop.cshtml";
}
<style>
    html > /**/ body table {
        font-size: 12px !important;
    }

    canvas {
        border: 1px dotted red;
    }
</style>
<div class="row">
    <div class="form-group col-md-12 col-sm-12">
        <div class="col-md-4">
            <span style="font-weight:600;font-size:16px;">ภาค</span>
            <select id="select_area" class="form-control">
                <option value="-1">ทั้งหมด</option>
                @if (ViewBag.Area != null)
                {
                    foreach (var item in ViewBag.Area)
                    {
                        <option value="@item.Area_ID">@item.AreaDetail</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-4">
            <span style="font-weight:600;font-size:16px;">สาขา</span>
            <select id="select_branch" class="form-control">
                <option value="-1">ทั้งหมด</option>
            </select>
        </div>
        <div class="col-md-4">
            <span style="font-weight:600;font-size:16px;">งวดความคุ้มครอง</span>
            <select id="select_startcoverdate" class="form-control">
                @if (ViewBag.PeriodList != null)
                {
                    var now = DateTime.Now.Date;
                    //var now = new DateTime(2021, 1, 1);
                    var from = new DateTime(now.Year, now.Month, 21);
                    var to = new DateTime(now.Year, now.Month, 20).AddMonths(1);
                    var currentMonthDCR = (from <= now && now <= to) ? now.AddMonths(1).Month : now.Month;

                    foreach (var i in ViewBag.PeriodList)
                    {
                        <option value="@i.Value.ToString("yyyy-MM-dd")" @((i.Value.Month == currentMonthDCR) ? "selected" : "" )> @i.Display</option>
                    }
                }
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @* Chart 1 *@
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-body">
                    <div style="display: flex; flex-direction: row; justify-content: center;">
                        <canvas id="queue_status_chart"></canvas>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center;">
                        <label id="queue_status_sum"></label>
                    </div>
                </div>
            </div>
        </div>
        @* Chart 2 *@
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-body">
                    <div style="display: flex; flex-direction: row; justify-content: center;">
                        <canvas id="queue_underwrite_status_chart"></canvas>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center;">
                        <label id="queue_underwrite_status_sum"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        @* Chart 3 *@
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-body">
                    <div style="display: flex; flex-direction: row; justify-content: center;">
                        <canvas id="queue_approve_status_chart"></canvas>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center;">
                        <label id="queue_approve_status_sum"></label>
                    </div>
                </div>
            </div>
        </div>
        @* Chart 4 *@
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-body">
                    <div style="display: flex; flex-direction: row; justify-content: center;">
                        <canvas id="queue_approve_status_chart2"></canvas>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center;">
                        <label id="queue_approve_status_sum2"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        @* Chart 5 *@
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-body">
                    <div style="display: flex; flex-direction: row; justify-content: center;">
                        <canvas id="queue_underwrite_type_chart"></canvas>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center;">
                        <label id="queue_underwrite_type_sum"></label>
                    </div>
                </div>
            </div>
        </div>
        @* Chart 6 *@
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-body">
                    <div style="display: flex; flex-direction: row; justify-content: center;">
                        <canvas id="queue_cobrand_chart"></canvas>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center;">
                        <label id="queue_cobrand_sum"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        @* Chart 7 *@
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-body">
                    <div style="display: flex; flex-direction: row; justify-content: center;">
                        <canvas id="queue_cobrand_duration_chart"></canvas>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center;">
                        <label id="queue_cobrand_duration_sum"></label>
                    </div>
                </div>
            </div>
        </div>
        @* Chart 8 *@
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-body">
                    <div style="display: flex; flex-direction: row; justify-content: center;">
                        <canvas id="queue_cobrand_givetype_chart"></canvas>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center;">
                        <label id="queue_cobrand_givetype_sum"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* DATA TABLE *@
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-body">
                    <div class="col-sm-12 col-md-12">
                        <div class="box box-solid">
                            <div class="box-body">
                                <div class="row" style="background-color: #f7f7f7; text-align: right; padding: 7px 10px; margin-top: 0;">
                                    <div class="col-sm-8">
                                        <label style="font-weight: bold;font-size:16px">
                                            สถานะคิวงานแบ่งตามพื้นที่ - ประธานสาขา รอบความคุ้มครอง <span id="lbl_dcr"></span>
                                        </label>
                                    </div>
                                    <button class="btn btn-success pull-right" id="supervisor_queueapprove_status_export"><i class="fa fa-file"></i> Download</button>
                                </div>
                                <table id="supervisor_queueapprove_status_datatable" class="table table-bordered table-striped display responsive" style="width: 100%"></table>

                                <div class="row" style="background-color: #f7f7f7; text-align: right; padding: 7px 10px; margin-top: 0;">
                                    <div class="col-sm-8">
                                        <label style="font-weight: bold;font-size:16px">
                                            สถานะคิวงานแบ่งตามสาขา รอบความคุ้มครอง <span id="lbl_dcr2"></span>
                                        </label>
                                    </div>
                                    <button class="btn btn-success pull-right" id="supervisor_queue_status_export" style="margin-top: 5px"><i class="fa fa-file"></i> Download</button>
                                </div>
                                <table id="supervisor_queue_status_datatable" class="table table-bordered table-striped display responsive" style="width: 100%"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section ViewSpecificJavascript
{
    <script>
/*########################################################################################*/
        $(function () {
            //Load default
            loadChart();
            loadDatatable();

            //Event Change
            $('#select_area').change(function (e) {
                e.preventDefault();
                loadBranch();
            });

            $('#select_branch').change(function (e) {
                e.preventDefault();
                clearDatasetAll();
                loadChart();
                loadDatatable();
            });

            $('#select_startcoverdate').change(function (e) {
                e.preventDefault();
                clearDatasetAll();
                loadChart();
                loadDatatable();
            });

            //Export
            $('#supervisor_queueapprove_status_export').click(function (e) {
                e.preventDefault();
                SupervisorQueueApproveStatusExcel();
            });

            $('#supervisor_queue_status_export').click(function (e) {
                e.preventDefault();
                SupervisorQueueStatusExcel();
            });
        });
/*########################################################################################*/
        //config
        const queue_status_options = {
            type: 'doughnut',
            data: {
                labels: [],
                datasets: []
            },
            options: {
                legend: {
                    display: true,
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'สถานะคิวงาน',
                    //fontFamily: "'Kanit', sans-serif",
                    fontSize: 16,
                    fontStyle: 'bold',
                    fontColor: '#000'
                },
                plugins: {
                    labels: [
                        {
                            render: 'value',
                            //fontFamily: "'Kanit', sans-serif",
                            fontSize: 12,
                            fontStyle: 'bold',
                            fontColor: '#000'
                        }
                    ]
                },
                responsive: true,
            }
        }
        const queue_underwreit_status_options = {
            type: 'doughnut',
            data: {
                labels: [],
                datasets: []
            },
            options: {
                legend: {
                    display: true,
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'สถานะคัดกรอง',
                   // fontFamily: "'Kanit', sans-serif",
                    fontSize: 16,
                    fontStyle: 'bold',
                    fontColor: '#000'
                },
                plugins: {
                    labels: [
                        {
                            render: 'value',
                            //fontFamily: "'Kanit', sans-serif",
                            fontSize: 12,
                            fontStyle: 'bold',
                            fontColor: '#000'
                        }
                    ]
                },
                responsive: true,
            }
        }
        const queue_approve_status_options = {
            type: 'doughnut',
            data: {
                labels: [],
                datasets: []
            },
            options: {
                legend: {
                    display: true,
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'สถานะการพิจารณาของประธานสาขา',
                   // fontFamily: "'Kanit', sans-serif",
                    fontSize: 16,
                    fontStyle: 'bold',
                    fontColor: '#000'
                },
                plugins: {
                    labels: [
                        {
                            render: 'value',
                           // fontFamily: "'Kanit', sans-serif",
                            fontSize: 12,
                            fontStyle: 'bold',
                            fontColor: '#000'
                        }
                    ]
                },
                responsive: true,
            }
        }
        const queue_approve_status_2_options = {
            type: 'doughnut',
            data: {
                labels: [],
                datasets: []
            },
            options: {
                legend: {
                    display: true,
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'ผลการพิจารณาของประธานสาขา',
                   // fontFamily: "'Kanit', sans-serif",
                    fontSize: 16,
                    fontStyle: 'bold',
                    fontColor: '#000'
                },
                plugins: {
                    labels: [
                        {
                            render: 'value',
                            //fontFamily: "'Kanit', sans-serif",
                            fontSize: 12,
                            fontStyle: 'bold',
                            fontColor: '#000'
                        }
                    ]
                },
                responsive: true,
            }
        }
        const queue_underwrite_type_options = {
            type: 'doughnut',
            data: {
                labels: [],
                datasets: []
            },
            options: {
                legend: {
                    display: true,
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'ช่องทางการคัดกรอง',
                    //fontFamily: "'Kanit', sans-serif",
                    fontSize: 16,
                    fontStyle: 'bold',
                    fontColor: '#000'
                },
                plugins: {
                    labels: [
                        {
                            render: 'value',
                            //fontFamily: "'Kanit', sans-serif",
                            fontSize: 12,
                            fontStyle: 'bold',
                            fontColor: '#000'
                        }
                    ]
                },
                responsive: true,
            }
        }
        const queue_cobrand_options = {
            type: 'doughnut',
            data: {
                labels: [],
                datasets: []
            },
            options: {
                legend: {
                    display: true,
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'สถานะมอบบัตร',
                    //fontFamily: "'Kanit', sans-serif",
                    fontSize: 16,
                    fontStyle: 'bold',
                    fontColor: '#000'
                },
                plugins: {
                    labels: [
                        {
                            render: 'value',
                            //fontFamily: "'Kanit', sans-serif",
                            fontSize: 12,
                            fontStyle: 'bold',
                            fontColor: '#000'
                        }
                    ]
                },
                responsive: true,
            }
        }
        const queue_cobrand_duration_options = {
            type: 'doughnut',
            data: {
                labels: [],
                datasets: []
            },
            options: {
                legend: {
                    display: true,
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'ระยะเวลามอบบัตร',
                    //fontFamily: "'Kanit', sans-serif",
                    fontSize: 16,
                    fontStyle: 'bold',
                    fontColor: '#000'
                },
                plugins: {
                    labels: [
                        {
                            render: 'value',
                           // fontFamily: "'Kanit', sans-serif",
                            fontSize: 12,
                            fontStyle: 'bold',
                            fontColor: '#000'
                        }
                    ]
                },
                responsive: true,
            }
        }
        const queue_cobrand_givetype_options = {
            type: 'doughnut',
            data: {
                labels: [],
                datasets: []
            },
            options: {
                legend: {
                    display: true,
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'ประเภทการมอบบัตร',
                    //fontFamily: "'Kanit', sans-serif",
                    fontSize: 16,
                    fontStyle: 'bold',
                    fontColor: '#000'
                },
                plugins: {
                    labels: [
                        {
                            render: 'value',
                            //fontFamily: "'Kanit', sans-serif",
                            fontSize: 12,
                            fontStyle: 'bold',
                            fontColor: '#000'
                        }
                    ]
                },
                responsive: true,
            }
        }

        //################## Chart 1 ##################
        const loadChartQueueStatus = () => {
            let ctx;
            let config = queue_status_options;
            //load dataset
            datasetQueueStatus(config);
            //get element
            ctx = document.getElementById('queue_status_chart').getContext('2d');
            //draw chart
            window.queue_status_chart = new Chart(ctx, config);
        }
        //dataset
        const datasetQueueStatus = (config) => {
            const newDataset = {
                backgroundColor: [],
                data: [],
                labels: 'dataset ' + config.data.datasets.length
            };

            $.get('@Url.Action("QueueStatus")', { period: $('#select_startcoverdate').val(), area: $('#select_area').val(), branch: $('#select_branch').val()},(data) => {
                    //sum value all
                    $('#queue_status_sum').text(`รวม : ${data.ALL}`);
                    //Map data
                    const mapStatus = {
                        QueueStatusId2: [window.chartColors.orange_FF980B, "ยังไม่ได้คัดกรอง"],
                        QueueStatusId3: [window.chartColors.yellow_FDFB46, "โทรคัดกรองและมอบบัตรภายหลัง"],
                        QueueStatusId4: [window.chartColors.green_A3F7A3, "โทรคัดกรองและมอบบัตรแล้ว"],
                        QueueStatusId5: [window.chartColors.green_03AC1D, "เข้าพบคัดกรองและมอบบัตร"],
                        QueueStatusId6: [window.chartColors.red_FF4545, "ไม่ผ่านคัดกรอง"],
                        QueueStatusId7: [window.chartColors.grey_B9B9B9, "ยกเลิกก่อน Dcr"],
                        QueueStatusId8: [window.chartColors.dark_blue_2836D8, "ยังไม่ได้ดำเนินการ"],
                    };
                    for (let key in data) {
                        if (mapStatus.hasOwnProperty(key)) {
                           //push data to array
                           newDataset.data.push(data[key]);
                           //push color to array
                           newDataset.backgroundColor.push(mapStatus[key][0]);
                           //push key to labels
                           config.data.labels.push(mapStatus[key][1]);
                        }
                    }
                    //push new dataset
                    config.data.datasets.push(newDataset);
                    //update
                    window.queue_status_chart.update();
             });
        };
        //#############################################

        //################## Chart 2 ##################
        const loadChartQueueUnderwriteStatus = () => {
            let ctx;
            let config = queue_underwreit_status_options;
            //load dataset
            datasetQueueUnderwriteStatus(config);
            //get element
            ctx = document.getElementById('queue_underwrite_status_chart').getContext('2d');
            //draw chart
            window.queue_underwrite_status_chart = new Chart(ctx, config);
        }
        //dataset
        const datasetQueueUnderwriteStatus = (config) => {
            const newDataset = {
                backgroundColor: [],
                data: [],
                labels: 'dataset ' + config.data.datasets.length
            };

            $.get('@Url.Action("QueueUnderwriteStatus")', { period: $('#select_startcoverdate').val(), area: $('#select_area').val(), branch: $('#select_branch').val()},(data) => {
                    //sum value all
                $('#queue_underwrite_status_sum').text(`รวม : ${data.ALL}`);
                    //Map data
                    const mapStatus = {
                        UnderwritePending: [window.chartColors.orange_FF980B, "ยังไม่ได้คัดกรอง"],
                        UnderwriteComplete: [window.chartColors.green_03AC1D, "คัดกรองแล้ว"],
                    };
                    for (let key in data) {
                        if (mapStatus.hasOwnProperty(key)) {
                           //push data to array
                           newDataset.data.push(data[key]);
                           //push color to array
                           newDataset.backgroundColor.push(mapStatus[key][0]);
                           //push key to labels
                           config.data.labels.push(mapStatus[key][1]);
                        }
                    }
                    //push new dataset
                    config.data.datasets.push(newDataset);
                    //update
                    window.queue_underwrite_status_chart.update();
             });
        };
        //#############################################

        //################## Chart 3 ##################
        const loadChartQueueApproveStatus = () => {
            let ctx;
            let config = queue_approve_status_options;
            //load dataset
            datasetQueueApproveStatus(config);
            //get element
            ctx = document.getElementById('queue_approve_status_chart').getContext('2d');
            //draw chart
            window.queue_approve_status_chart = new Chart(ctx, config);
        }
        //dataset
        const datasetQueueApproveStatus = (config) => {
            const newDataset = {
                backgroundColor: [],
                data: [],
                labels: 'dataset ' + config.data.datasets.length
            };

            $.get('@Url.Action("QueueApproveStatusV1")', { period: $('#select_startcoverdate').val(), area: $('#select_area').val(), branch: $('#select_branch').val()},(data) => {
                    //sum value all
                $('#queue_approve_status_sum').text(`รวม : ${data.ALL}`);
                    //Map data
                const mapStatus = {
                    ApproveComplete: [window.chartColors.green_03AC1D, "พิจารณาแล้ว"],
                    ApprovePending: [window.chartColors.orange_FF980B, "รอพิจารณา"],
                    };
                    for (let key in data) {
                        if (mapStatus.hasOwnProperty(key)) {
                           //push data to array
                           newDataset.data.push(data[key]);
                           //push color to array
                           newDataset.backgroundColor.push(mapStatus[key][0]);
                           //push key to labels
                           config.data.labels.push(mapStatus[key][1]);
                        }
                    }
                    //push new dataset
                    config.data.datasets.push(newDataset);
                    //update
                window.queue_approve_status_chart.update();
             });
        };
        //#############################################

        //################## Chart 4 ##################
        const loadChartQueueApproveStatus2 = () => {
            let ctx;
            let config = queue_approve_status_2_options;
            //load dataset
            datasetQueueApproveStatus2(config);
            //get element
            ctx = document.getElementById('queue_approve_status_chart2').getContext('2d');
            //draw chart
            window.queue_approve_status_chart2 = new Chart(ctx, config);
        }
        //dataset
        const datasetQueueApproveStatus2 = (config) => {
            const newDataset = {
                backgroundColor: [],
                data: [],
                labels: 'dataset ' + config.data.datasets.length
            };

            $.get('@Url.Action("QueueApproveStatusV2")', { period: $('#select_startcoverdate').val(), area: $('#select_area').val(), branch: $('#select_branch').val() },(data) => {
                    //sum value all
                $('#queue_approve_status_sum2').text(`รวม : ${data.ALL}`);
                    //Map data
                    const mapStatus = {
                        ApproveStatusId3: [window.chartColors.green_03AC1D, "อนุมัติให้ผ่านคัดกรอง"],
                        ApproveStatusId4: [window.chartColors.orange_FF980B, "อนุมัติให้ผ่านคัดกรองแบบติดเงื่อนไข"],
                        ApproveStatusId5: [window.chartColors.red_FF4545, "อนุมัติไม่ให้ผ่านคัดกรอง"],
                    };
                    for (let key in data) {
                        if (mapStatus.hasOwnProperty(key)) {
                           //push data to array
                           newDataset.data.push(data[key]);
                           //push color to array
                           newDataset.backgroundColor.push(mapStatus[key][0]);
                           //push key to labels
                           config.data.labels.push(mapStatus[key][1]);
                        }
                    }
                    //push new dataset
                    config.data.datasets.push(newDataset);
                    //update
                window.queue_approve_status_chart2.update();
             });
        };
        //#############################################

        //################## Chart 5 ##################
        const loadChartQueueUnderwriteType = () => {
            let ctx;
            let config = queue_underwrite_type_options;
            //load dataset
            datasetQueueUnderwriteType(config);
            //get element
            ctx = document.getElementById('queue_underwrite_type_chart').getContext('2d');
            //draw chart
            window.queue_underwrite_type_chart = new Chart(ctx, config);
        }
        //dataset
        const datasetQueueUnderwriteType = (config) => {
            const newDataset = {
                backgroundColor: [],
                data: [],
                labels: 'dataset ' + config.data.datasets.length
            };

            $.get('@Url.Action("QueueUnderwriteType")', { period: $('#select_startcoverdate').val(), area: $('#select_area').val(), branch: $('#select_branch').val() },(data) => {
                    //sum value all
                $('#queue_underwrite_type_sum').text(`รวม : ${data.ALL}`);
                    //Map data
                    const mapStatus = {
                        UnderwriteTypeId2: [window.chartColors.orange_FF980B, "เข้าพบลูกค้า"],
                        UnderwriteTypeId3: [window.chartColors.green_03AC1D, "โทรคัดกรองลูกค้า"],
                    };
                    for (let key in data) {
                        if (mapStatus.hasOwnProperty(key)) {
                           //push data to array
                           newDataset.data.push(data[key]);
                           //push color to array
                           newDataset.backgroundColor.push(mapStatus[key][0]);
                           //push key to labels
                           config.data.labels.push(mapStatus[key][1]);
                        }
                    }
                    //push new dataset
                    config.data.datasets.push(newDataset);
                    //update
                window.queue_underwrite_type_chart.update();
             });
        };
        //#############################################

         //################## Chart 6 ##################
        const loadChartQueueCobrand = () => {
            let ctx;
            let config = queue_cobrand_options;
            //load dataset
            datasetQueueCobrand(config);
            //get element
            ctx = document.getElementById('queue_cobrand_chart').getContext('2d');
            //draw chart
            window.queue_cobrand_chart = new Chart(ctx, config);
        }
        //dataset
        const datasetQueueCobrand = (config) => {
            const newDataset = {
                backgroundColor: [],
                data: [],
                labels: 'dataset ' + config.data.datasets.length
            };

            $.get('@Url.Action("QueueCobrand")', { period: $('#select_startcoverdate').val(), area: $('#select_area').val(), branch: $('#select_branch').val() },(data) => {
                    //sum value all
                $('#queue_cobrand_sum').text(`รวม : ${data.ALL}`);
                    //Map data
                    const mapStatus = {
                        QueueCobrandPending: [window.chartColors.orange_FF980B, "ยังไม่ได้มอบบัตร"],
                        QueueCobrandComplete: [window.chartColors.green_03AC1D, "มอบบัตรแล้ว"],
                    };
                    for (let key in data) {
                        if (mapStatus.hasOwnProperty(key)) {
                           //push data to array
                           newDataset.data.push(data[key]);
                           //push color to array
                           newDataset.backgroundColor.push(mapStatus[key][0]);
                           //push key to labels
                           config.data.labels.push(mapStatus[key][1]);
                        }
                    }
                    //push new dataset
                    config.data.datasets.push(newDataset);
                    //update
                window.queue_cobrand_chart.update();
             });
        };
        //#############################################

        //################## Chart 7 ##################
        const loadChartQueueCobrandDuration = () => {
            let ctx;
            let config = queue_cobrand_duration_options;
            //load dataset
            datasetQueueCobrandDuration(config);
            //get element
            ctx = document.getElementById('queue_cobrand_duration_chart').getContext('2d');
            //draw chart
            window.queue_cobrand_duration_chart = new Chart(ctx, config);
        }
        //dataset
        const datasetQueueCobrandDuration = (config) => {
            const newDataset = {
                backgroundColor: [],
                data: [],
                labels: 'dataset ' + config.data.datasets.length
            };

            $.get('@Url.Action("QueueCobrandDuration")', { period: $('#select_startcoverdate').val(), area: $('#select_area').val(), branch: $('#select_branch').val()},(data) => {
                    //sum value all
                $('#queue_cobrand_duration_sum').text(`รวม : ${data.ALL}`);
                    //Map data
                    const mapStatus = {
                        QueueCobrandDurationUnder: [window.chartColors.green_03AC1D, "ภายในกำหนด"],
                        QueueCobrandDurationOver: [window.chartColors.orange_FF980B, "เกินกำหนด"],
                    };
                    for (let key in data) {
                        if (mapStatus.hasOwnProperty(key)) {
                           //push data to array
                           newDataset.data.push(data[key]);
                           //push color to array
                           newDataset.backgroundColor.push(mapStatus[key][0]);
                           //push key to labels
                           config.data.labels.push(mapStatus[key][1]);
                        }
                    }
                    //push new dataset
                    config.data.datasets.push(newDataset);
                    //update
                window.queue_cobrand_duration_chart.update();
             });
        };
        //#############################################

        //################## Chart 8 ##################
        const loadChartQueueCobrandGiveType = () => {
            let ctx;
            let config = queue_cobrand_givetype_options;
            //load dataset
            datasetQueueCobrandGiveType(config);
            //get element
            ctx = document.getElementById('queue_cobrand_givetype_chart').getContext('2d');
            //draw chart
            window.queue_cobrand_givetype_chart = new Chart(ctx, config);
        }
        //dataset
        const datasetQueueCobrandGiveType = (config) => {
            const newDataset = {
                backgroundColor: [],
                data: [],
                labels: 'dataset ' + config.data.datasets.length
            };

            $.get('@Url.Action("QueueCobrandGiveType")', { period: $('#select_startcoverdate').val(), area: $('#select_area').val(), branch: $('#select_branch').val()},(data) => {
                    //sum value all
                $('#queue_cobrand_givetype_sum').text(`รวม : ${data.ALL}`);
                    //Map data
                    const mapStatus = {
                        Visit: [window.chartColors.green_03AC1D, "เข้าพบคัดกรองและมอบบัตร"],
                        GiveTypeId2: [window.chartColors.sky_blue_5FBFEC, "มอบบัตรหน้างานตอนขาย"],
                        GiveTypeId3: [window.chartColors.orange_FF980B, "มอบบัตรภายหลังการคัดกรอง"],
                        GiveTypeId4: [window.chartColors.yellow_FDFB46, "มอบบัตรภายหลังการคัดกรองโดยส่งไปรษณีย์"],
                    };
                    for (let key in data) {
                        if (mapStatus.hasOwnProperty(key)) {
                           //push data to array
                           newDataset.data.push(data[key]);
                           //push color to array
                           newDataset.backgroundColor.push(mapStatus[key][0]);
                           //push key to labels
                           config.data.labels.push(mapStatus[key][1]);
                        }
                    }
                    //push new dataset
                    config.data.datasets.push(newDataset);
                    //update
                window.queue_cobrand_givetype_chart.update();
             });
        };
        //#############################################

        //clear dataset
        const clearDataset = (...config) => {
            for (let i = 0; i < config.length; i++) {
                config[i].data.datasets = [];
                config[i].data.labels = [];
            }
        }

        //clear all
        const clearDatasetAll = () => {
            clearDataset(queue_status_options,
                         queue_underwreit_status_options,
                         queue_approve_status_options,
                         queue_approve_status_2_options,
                         queue_underwrite_type_options,
                         queue_cobrand_options,
                         queue_cobrand_duration_options,
                         queue_cobrand_givetype_options);
        }

        //load chart
        const loadChart = () => {
            loadingSpinner('fadeIn');
            loadChartQueueStatus();
            loadChartQueueUnderwriteStatus();
            loadChartQueueApproveStatus();
            loadChartQueueApproveStatus2();
            loadChartQueueUnderwriteType();
            loadChartQueueCobrand();
            loadChartQueueCobrandDuration();
            loadChartQueueCobrandGiveType();
            loadingSpinner('fadeOut');
        }

        //load branch select
        const loadBranch = () => {
            loadingSpinner('fadeOut');
            const id = $('#select_area').val();
            $.get("@Url.Action("BranchByArea")", { area: id }, (data) => {
                $('#select_branch').empty();
                if (data.length > 0) {
                     $('#select_branch').append(`<option value="-1">ทั้งหมด</option>`);
                    for (var i = 0; i < data.length; i++) {
                        $('#select_branch').append(`<option value="${data[i].Branch_ID}">${data[i].BranchDetail}</option>`);
                    }
                } else {
                    $('#select_branch').append(`<option value="000">ไม่ระบุ</option>`);
                }
                //trigger change
                $('#select_branch').trigger('change');
            });
        }

        //load datatable
        const loadDatatable = () => {
            SupervisorQueueApproveStatusDT();
            SupervisorQueueStatusDT();
        }

        //load datatables supervisor queue approve status
        const SupervisorQueueApproveStatusDT = () => {
            $('#lbl_dcr').text($('#select_startcoverdate option:selected').text());
            $('#supervisor_queueapprove_status_datatable').empty();
            const table = $('#supervisor_queueapprove_status_datatable').DataTable({
                pageLength: 5,
                processing: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                lengthChange: false,
                searching: true,
                ordering: true,
                info: true,
                paging: true,
                autoWidth: false,
                language: {
                    url: '/Content/js/plugins/datatable/Thai.json'
                },
                ajax: {
                    url: '@Url.Action("SupervisorQueueApproveStatusDT")',
                    method: "POST",
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;
                        d.period = $('#select_startcoverdate').val();
                        d.area = $('#select_area').val();
                        d.branch = $('#select_branch').val();
                    }
                },
                columns: [
                    {
                        title: 'สาขา',
                        data: 'BranchDetail',
                        orderable: true,
                    },
                    {
                        title: 'ประธานสาขา',
                        data: null,
                        orderable: true,
                        render: (d) => {
                            return `${d.ChairmanEmployeeCode} ${d.ChairmanFullName}`;
                        }
                    },
                    {
                        title: 'ทั้งหมด',
                        data: 'QueueAll',
                        orderable: true,
                    },
                    {
                        title: 'รอพิจารณา',
                        data: 'ApproveStatusId2',
                        orderable: true,
                    },
                    {
                        title: 'พิจารณาแล้ว',
                        data: 'ApproveComplete',
                        orderable: true,
                    },
                    {
                        title: 'อนุมัติให้ผ่านคัดกรอง',
                        data: 'ApproveStatusId3',
                        orderable: true,
                    },
                    {
                        title: 'อนุมัติให้ผ่านคัดกรองแบบติดเงื่อนไข',
                        data: 'ApproveStatusId4',
                        orderable: true,
                    },
                    {
                        title: 'อนุมัติไม่ให้ผ่านคัดกรอง',
                        data: 'ApproveStatusId5',
                        orderable: true,
                    },
                    {
                        title: 'เกินกำหนดยังไม่ได้พิจารณา',
                        data: 'ApproveStatusId6',
                        orderable: true,
                    },
                    {
                        title: 'รายละเอียด',
                        data: null,
                        orderable: false,
                        render: (d) => {
                            const period = btoa($('#select_startcoverdate').val());
                            const branchEncode = btoa(unescape(encodeURIComponent(d.Branch_ID)));
                            return `<button  class="btn btn-info" onclick="toSupervisorQueue('${period}','${branchEncode}')"><i class="fa fa-search"></i> เปิด</button>`;
                        }
                    }
                ]
            });
            window.onresize = function () {
                table.columns.adjust().responsive.recalc();
            };
        }

        //load datatables supervisor queue status
        const SupervisorQueueStatusDT = () => {
            $('#lbl_dcr2').text($('#select_startcoverdate option:selected').text());
            $('#supervisor_queue_status_datatable').empty();
            const table = $('#supervisor_queue_status_datatable').DataTable({
                pageLength: 5,
                processing: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                lengthChange: false,
                searching: true,
                ordering: true,
                info: true,
                paging: true,
                autoWidth: false,
                language: {
                    url: '/Content/js/plugins/datatable/Thai.json'
                },
                ajax: {
                    url: '@Url.Action("SupervisorQueueStatusDT")',
                    method: "POST",
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;
                        d.period = $('#select_startcoverdate').val();
                        d.area = $('#select_area').val();
                        d.branch = $('#select_branch').val();
                    }
                },
                columns: [
                    {
                        title: 'สาขา',
                        data: 'BranchDetail',
                        orderable: true,
                    },
                    {
                        title: 'ทั้งหมด',
                        data: 'QueueStatusAll',
                        orderable: true,
                    },
                    {
                        title: 'ยังไม่ได้คัดกรอง',
                        data: 'QueueStatusId2',
                        orderable: true,
                    },
                    {
                        title: 'โทรคัดกรองและมอบบัตรภายหลัง',
                        data: 'QueueStatusId3',
                        orderable: true,
                    },
                    {
                        title: 'โทรคัดกรองและมอบบัตรแล้ว',
                        data: 'QueueStatusId4',
                        orderable: true,
                    },
                    {
                        title: 'เข้าพบคัดกรองและมอบบัตร',
                        data: 'QueueStatusId5',
                        orderable: true,
                    },
                    {
                        title: 'ไม่ผ่านคัดกรอง',
                        data: 'QueueStatusId6',
                        orderable: true,
                    },
                    {
                        title: 'ยกเลิกก่อนDCR',
                        data: 'QueueStatusId7',
                        orderable: true,
                    },
                    {
                        title: 'ยังไม่ได้ดำเนินการ',
                        data: 'QueueStatusId8',
                        orderable: true,
                    },
                    {
                        title: 'รายละเอียด',
                        data: null,
                        orderable: false,
                        render: (d) => {
                            const period = btoa($('#select_startcoverdate').val());
                            const branchEncode = btoa(unescape(encodeURIComponent(d.Branch_ID)));
                            return `<button  class="btn btn-info" onclick="toSupervisorQueueStatusDetail('${period}','${branchEncode}')"><i class="fa fa-search"></i> เปิด</button>`;
                        }
                    }
                ]
            });

            window.onresize = function () {
                table.columns.adjust().responsive.recalc();
            };
        }

        //export 1
        const SupervisorQueueApproveStatusExcel = () => {
            const period = $('#select_startcoverdate').val();
            const area = $('#select_area').val();
            const branch = $('#select_branch').val();
            const search = $('#supervisor_queueapprove_status_datatable_filter input').val();;
            window.location.href = encodeURI(`@Url.Action("SupervisorQueueApproveStatusExcel")?period=${period}&area=${area}&branch=${branch}&search=${search}`);
        }

        //export 2
        const SupervisorQueueStatusExcel = () => {
            const period = $('#select_startcoverdate').val();
            const area = $('#select_area').val();
            const branch = $('#select_branch').val();
            const search = $('#supervisor_queue_status_datatable_filter input').val();;
            window.location.href = encodeURI(`@Url.Action("SupervisorQueueStatusExcel")?period=${period}&area=${area}&branch=${branch}&search=${search}`);
        }

        //goto SupervisorQueue
        const toSupervisorQueue = (p,b) => {
            window.open(encodeURI(`@Url.Action("SupervisorQueue")?period=${p}&branch=${b}`),'_blank');
        }

        //goto SupervisorQueueStatusDetail
        const toSupervisorQueueStatusDetail = (p,b) => {
            window.open(encodeURI(`@Url.Action("SupervisorQueueStatusDetail")?period=${p}&branch=${b}`),'_blank');
        }
    </script>
}