
@{
    ViewBag.Title = "รายงานผลการประเมินความพึงพอใจ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal" method="post" id="myform">
    
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-primary ">

                <div class="box-body" style="margin-top:6px;">
                    <div class="box-group">

                        <div class="row" style="margin-top:24px;margin-left:4px">
                            <div class="col-sm-3">
                                <label class="control-label">เวอร์ชั่น :</label>
                                <select class="form-control select2 " style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlVersion" name="ddlVersion">
                                    <option value="0">---เลือกเวอร์ชั่น---</option>
                                    <option value="1">เวอร์ชั่น 1 ข้อมูลสิ้นสุด วันที่ 24/4/2566</option>
                                    <option value="2">เวอร์ชั่น 2 ข้อมูลเริ่มต้น วันที่ 25/4/2566</option>
                                </select>
                            </div>
                        </div>
                       
                        <div id="uiv1">
                            <div class="row" style="margin-top:24px;margin-left:4px">
                                <div class="col-xs-3 ">
                                    <label>จากวันที่ :</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="dateFromv1" data-provide="datepicker" data-date-language="th-th">
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <label>ถึงวันที่ :</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="dateTov1" data-provide="datepicker" data-date-language="th-th">
                                    </div>
                                </div>
                                <div class="col-xs-3" style="padding-top: 25px;">
                                    <button class="btn btn-success exportExcel" id="btnExport" type="button" style="width:80%">ExportToExcel</button>
                                </div>
                            </div>
                        </div>
                        
                        <div id="uiv2">
                            <div class="row" style="margin-top:24px;margin-left:4px">
                                <div class="col-sm-3">
                                    <label class="control-label">ภาค :</label>
                                    <select class="form-control select2 " style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlArea" name="ddlArea">
                                        <option value="-1"> ทั้งหมด </option>
                                        @{
                                            foreach (var item in ViewBag.Zone)
                                            {
                                                if (@item.AreaId == @ViewBag.DefaultZone)
                                                {
                                                    <option value="@item.AreaId" selected>@item.AreaDetail</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.AreaId">@item.AreaDetail</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label class="control-label">สาขา :</label>
                                    <select class="form-control select2 " style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlBranch" name="ddlBranch">
                                        <option value="-1"> ทั้งหมด </option>
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label class="control-label">ผู้ให้บริการ :</label>
                                    <select class="form-control select2 " style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlUserService" name="ddlUserService">
                                        <option value="-1"> ทั้งหมด </option>
                                    </select>
                                </div>
                            </div>

                            <div class="row" style="margin-top:24px;margin-left:4px">
                                <div class="col-sm-3">
                                    <label class="control-label">ค้นหาจาก :</label>
                                    <select class="form-control select2 " style="width: 100%;" tabindex="-1" aria-hidden="true" id="ddlDateType" name="ddlDateType">

                                        <option value="1">วันที่ส่ง SMS</option>
                                        <option value="2">วันที่ตอบกลับ</option>
                                    </select>
                                </div>
                                <div class="col-xs-3 ">
                                    <label>จากวันที่ :</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="dateFrom" data-provide="datepicker" data-date-language="th-th">
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <label>ถึงวันที่ :</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="dateTo" data-provide="datepicker" data-date-language="th-th">
                                    </div>
                                </div>
                                <div class="col-xs-3" style="padding-top: 25px;">
                                    <button class="btn btn-success exportExcel" id="btnExport" type="button" style="width:80%">ExportToExcel</button>
                                </div>
                            </div>

                            <div class="row" style="margin-top:24px;margin-left:4px">
                                <div class="col-sm-3">
                                </div>
                                <div class="col-xs-3 ">
                                    <span><b style="color:red">*</b> ย้อนหลังไม่เกิน 6 เดือน</span>
                                </div>
                                <div class="col-xs-3">
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>

            </div>
        </div>
</form>

    @section ViewSpecificJavascript
{
        <script type="text/javascript">

            $(function () {  
             HideDivSearch();
            //GetArea();
            GetBranch();
            GetUserService();

            $('.select2').select2();

            var currentDate = new Date();
            var date = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);// Old;
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            date.setDate(date.getDate() - 150);

            var dateDefault = {
                format: 'dd/mm/yyyy',
                autoclose: true,
                startDate: date,
                endDate: today + 1 
            }

            $('#dateFromv1').datepicker(dateDefault);
            $('#dateFromv1').datepicker('setDate', today);

            $("#dateFromv1").datepicker({
                autoclose: true,
            }).on('changeDate', function (selected) {
                var date2 = $('#dateFromv1').datepicker('getDate');
                date2.setMonth(date2.getMonth() + 1);

                var nowDate = new Date();
                if (date2 > nowDate) {
                    date2 = currentDate
                }
                var minDate = new Date(selected.date.valueOf());
                $('#dateTov1').datepicker('setDate', date2);
                $('#dateTov1').datepicker('setStartDate', minDate);
                $('#dateTov1').datepicker('setEndDate', date2);
            });

            var dateto = new Date();
            var today2 = new Date(dateto.getFullYear(), dateto.getMonth(), dateto.getDate());
            dateto.setDate(dateto.getDate());

            var dateDefaultDateto = {
                format: 'dd/mm/yyyy',
                autoclose: true,
                startDate: dateto,
                endDate: today2
            }
            $('#dateTov1').datepicker(dateDefaultDateto);
            $('#dateTov1').datepicker('setDate', today2);

            $("#dateTov1").click(function () {
                let dateFrom = $("#dateFromv1").val();
                $('#dateTov1').datepicker('setStartDate', dateFrom);
            });

            //Date V2
                $('#dateFrom').datepicker(dateDefault);
                $('#dateFrom').datepicker('setDate', today);

                $("#dateFrom").datepicker({
                    autoclose: true,
                }).on('changeDate', function (selected) {
                    var date2 = $('#dateFrom').datepicker('getDate');
                    date2.setMonth(date2.getMonth() + 1);

                    var nowDate = new Date();
                    if (date2 > nowDate) {
                        date2 = currentDate
                    }
                    var minDate = new Date(selected.date.valueOf());
                    $('#dateTo').datepicker('setDate', date2);
                    $('#dateTo').datepicker('setStartDate', minDate);
                    $('#dateTo').datepicker('setEndDate', date2);
                });

                var dateto = new Date();
                var today2 = new Date(dateto.getFullYear(), dateto.getMonth(), dateto.getDate());
                dateto.setDate(dateto.getDate());

                var dateDefaultDateto = {
                    format: 'dd/mm/yyyy',
                    autoclose: true,
                    startDate: dateto,
                    endDate: today2
                }
                $('#dateTo').datepicker(dateDefaultDateto);
                $('#dateTo').datepicker('setDate', today2);

                $("#dateTo").click(function () {
                    let dateFrom = $("#dateFrom").val();
                    $('#dateTo').datepicker('setStartDate', dateFrom);
                });
  
             $('.exportExcel').click(function (e) {
                e.preventDefault();
                loadingSpinner('fadeIn');
                Export();
               });    
        });

        //kittisak 20230130
            function Export() {
                var dateform;
                var dateto;
                if ($('#ddlVersion').val() == 1) {
                    dateform = $('#dateFromv1').val();
                    dateto = $('#dateTov1').val();
                } else if ($('#ddlVersion').val() == 2) {
                    dateform = $('#dateFrom').val();
                    dateto = $('#dateTo').val();
                }
            loadingSpinner('fadeIn', 999999);
            $.ajax({
                url: "@Url.Action("ClaimOnLineSurveyExport", "Report")",
                type: "POST",
                data: {
                    areaId: $('#ddlArea').val(),
                    branchId: $('#ddlBranch').val(),
                    serviceByUserId: $('#ddlUserService').val(),
                    dateType: $('#ddlDateType').val(),
                    dateFrom: dateform,
                    dateTo: dateto,
                    reportVersion: $("#ddlVersion").val()
                },
                success: function (response) {
                    if (response.IsSuccess) {
                        window.location = "@Url.Action("ClaimOnLineSurveyExportDownload")";
                        loadingSpinner('fadeOut');
                        swal('สำเร็จ', response.Message, 'success');
                    } else {
                        swal('เกิดข้อผิดพลาด !', response.Message, 'error');
                        loadingSpinner('fadeOut')
                    }
                }
            });
        }

        $('#ddlArea').change(function (e) {
            e.preventDefault();
            $('#ddlBranch').empty();
            GetBranch($('#ddlArea').val());
            GetUserService($('#ddlArea').val());
        });

        function GetBranch(AreaId)
        {
            $('#ddlBranch').empty();
             $.ajax({
                type: 'GET',
                url: '@Url.Action("GetBranch")',
                 data: { areaId: AreaId },
                success: function (data) {
                    $('#ddlBranch').append('<option value=-1>ทั้งหมด</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlBranch').append('<option value=' + data[i].BranchID + '>' + data[i].Branch + '</option>');
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('request fail2');
                }

            });
        }

        $('#ddlBranch').change(function (e) {
            e.preventDefault();
            $('#ddlUserService').empty();
            GetUserService($('#ddlArea').val(), $('#ddlBranch').val());
        });

        function GetUserService(AreaId,BranchId)
        {
            $('#ddlUserService').empty();
             $.ajax({
                type: 'GET',
                url: '@Url.Action("GetUserService")',
                 data: { areaId: AreaId, branchId: BranchId },
                 success: function (data) {
                    $('#ddlUserService').append('<option value=-1>ทั้งหมด</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlUserService').append('<option value=' + data[i].UserId + '>' + data[i].FullName + '</option>');
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('request fail2');
                }
             });
            }
            function HideDivSearch() {
                $("#uiv1").hide();
                $("#uiv2").hide();
            }
            $("#ddlVersion").change(function (e) {
                e.preventDefault();
                if ($("#ddlVersion").val() == 1) {
                    $("#uiv1").show();
                    $("#uiv2").hide();
                }
                else if ($("#ddlVersion").val() == 2) {
                    $("#uiv2").show();
                    $("#uiv1").hide();
                } else {
                    HideDivSearch();
                }

            });


        </script>
    }


