@{
    ViewBag.Title = "InsuranceStatus";
    Layout = null;
}

<div id="content" style="font-family:'Angsana New'">
    <div>
        <img src="~/Content/img/Header.jpg" style="width:100%;" />
    </div>
    <table style="width:100%">
        <tr>
            <td style="width:100%;text-align:center;font-weight:bold">@ViewBag.Comunicate.LetterDate</td>
        </tr>
    </table>
    <table style="width:100%;">
        <tr>
            <td style="width:10%;font-weight:bold;vertical-align:top;">เรื่อง</td>
            <td style="width:90%;vertical-align:top;">แจ้งสถานะกรมธรรม์และยอดค้างชำระเบี้ยประกันสุขภาพ</td>
        </tr>
        <tr>
            <td style="width:10%;font-weight:bold;vertical-align:top;">เรียน</td>
            <td style="width:90%;vertical-align:top;">ผู้ชำระเบี้ยประกันภัย <label id="payerName">@ViewBag.Comunicate.PayerName</label></td>
        </tr>
        <tr>
            <td style="width:10%;font-weight:bold;vertical-align:top;">อ้างถึง</td>
            <td style="width:90%;vertical-align:top;">ผู้เอาประกันภัย <label id="custName">@ViewBag.Comunicate.CustomerName</label></td>
        </tr>
    </table>
    <br />
    <div style="text-indent:10%">SIAM SMILE CARD  โดยวิธีการชำระเบี้ยประกันสุขภาพ เดือนละ<label id="amount">@ViewBag.Comunicate.Amount</label> บาท ทางบริษัทฯใคร่ขอเรียนให้ท่านทราบว่า กรมธรรม์ประกันสุขภาพฯของท่านได้สิ้นสุดความคุ้มครองลง  นับตั้งแต่วันที่ @ViewBag.Comunicate.EndCoverDate เนื่องจากขาดการชำระเบี้ยประกัน</div>

    <div style="text-indent:10%">หากท่านมีความประสงค์ให้กรมธรรม์เป็นไปตามข้อกำหนดว่าด้วยผลประโยชน์ความคุ้มครองอย่างต่อเนื่อง ทางบริษัทฯใคร่ขอความกรุณาท่านชำระเบี้ยประกัน เดือน @ViewBag.Comunicate.DateRange รวมเป็นเงินทั้งสิ้น  <label id="amountTotal" style="text-decoration-line: underline;text-decoration-style: double;">@ViewBag.Comunicate.AmountTotal</label> บาท โดยชำระผ่านธนาคารกรุงไทย ชื่อบัญชีบริษัทสยามสไมล์โบรกเกอร์ (ประเทศไทย) จำกัด สาขาตลาดไท เลขที่บัญชี 152-6-00748-7  หรือ ชำระเงิน ณ ศูนย์บริการลูกค้า ภายในวันที่  @ViewBag.Comunicate.DueDate โดยทางบริษัทฯจะพิจารณาการต่ออายุกรมธรรม์หลังจากมีการชำระเบี้ย กรณีไม่สามารถต่ออายุกรมธรรม์ได้  บริษัท ฯ จะแจ้งให้ท่านทราบต่อไป</div>

    <div style="text-indent:10%">อนึ่งหากเลยกำหนดระยะเวลาดังกล่าว ทางบริษัทฯมีความจำเป็นต้องขอยกเลิกความคุ้มครองตามกรมธรรม์ที่ได้ทำไว้กับทางบริษัทฯ หากมีการชำระเงินผ่านบัญชีธนาคารที่ได้แจ้งข้างต้นแล้ว โปรดติดต่อศูนย์บริการลูกค้าสัมพันธ์โดยตรง โทรศัพท์  08-7790-7999   หรือ 02-5-333-999 และโปรดนำส่งหลักฐานการชำระเบี้ยประกันภัย มาที่ Fax : 02-5333258</div>

    <div style="text-indent:10%">บริษัทฯใคร่ขออภัย หากท่านได้รับจดหมายฉบับนี้ภายหลังจากที่ท่านได้ชำระเบี้ยประกัน หรือได้ส่งเอกสารยกเลิกกรมธรรม์เข้ามาที่บริษัทฯ เป็นที่เรียบร้อยแล้ว </div>
    <br />
    <div style="text-indent:10%">จึงเรียนมาเพื่อทราบ  และขอขอบพระคุณมา ณ โอกาสนี้</div>

    <table style="width:100%">
        <tr>
            <td style="width:65%;font-weight:bold;vertical-align:top;"></td>
            <td style="width:35%;vertical-align:top;text-align:center;">ขอแสดงความนับถือ</td>
        </tr>
        <tr>
            <td style="width:65%;font-weight:bold;vertical-align:top;"></td>
            <td style="width:35%;vertical-align:top;text-align:center;height:40px;"><img src="~/Content/img/signature.jpg" /></td>
        </tr>
        <tr>
            <td style="width:65%;font-weight:bold;vertical-align:top;"></td>
            <td style="width:35%;vertical-align:top;text-align:center;">(นางสาวมนัสนันท์ เชียงมูล)</td>
        </tr>
        <tr>
            <td style="width:65%;font-weight:bold;vertical-align:top;"></td>
            <td style="width:35%;vertical-align:top;text-align:center;">ผู้จัดการฝ่ายรับเบี้ยประกันภัย</td>
        </tr>
    </table>
    <br />
    <div style="text-indent:10%">หมายเหตุ: กรณีเรียกร้องค่าสินไหมทดแทน จะใช้สิทธิ์ได้ในกรณีการเจ็บป่วยหรือบาดเจ็บนั้นๆ เกิดขึ้นภายหลังจากที่ท่านได้ชำระเบี้ยประกันฯ ครบถ้วนตามเงื่อนไขของกรมธรรม์ประกันสุขภาพ  SIAM SMILE CARD.</div>
    @*<div style="position:fixed;bottom:0;">
            <img src="~/Content/img/Footer.jpg" style="width:100%;" />
        </div>*@
    <div class="page" style="page-break-after: always;">
    </div>
    @*<div>
            <img src="~/Content/img/Header.jpg" style="width:100%;" />
        </div>*@
    <hr width="100%" style="border: black 1px dashed;">
    <br />
    <div style="border: black 1px solid">
        <table style="width:100%;padding: 0px 40px;">
            <tr>
                <td>กรณีชำระผ่านเคาท์เตอร์</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">สาขาผู้รับฝาก..................................................................................................  วันที่..................................................................</td>
            </tr>
            <tr>
                <td>เพื่อเข้าบัญชี บริษัทสยามสไมล์โบรกเกอร์ (ประเทศไทย) จำกัด</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox"><img src="~/Content/img/ktb.png" style="width:40%;height:6%;" />
                </td>
            </tr>
            <tr>
                <td>Ref. No.1(อ้างอิง)  <label id="ID">@ViewBag.Comunicate.ComunicateCode</label></td>
            </tr>
            <tr>
                <td>Ref. No.2  <label id="payerName2">@ViewBag.Comunicate.PayerName</label></td>
                <td rowspan="4" style="padding: 0px 30px;">
                    <div style="border:black 1px solid; padding: 0px 30px;">
                        <table style="text-align:center; width:100%">
                            <tr>
                                <td>สำหรับเจ้าหน้าที่ธนาคาร</td>
                            </tr>
                            <tr>
                                <td style="height: 38px;vertical-align: bottom;">.......................................................</td>
                            </tr>
                            <tr>
                                <td>ผู้รับเงิน</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Ref. No.3(หมายเลขโทรศัพท์)  <label id="CustMobileNo">@ViewBag.Comunicate.MobilePhoneNo</label></td>
            </tr>
            <tr>
                <td>จำนวนเงิน  <label id="amountTotal2">@ViewBag.Comunicate.AmountTotal</label> บาท  *รับเฉพาะเงินสด</td>
            </tr>
            <tr>
                <td>ชื่อผู้นำฝาก....................................................................... เบอร์โทรศัพท์..........................................</td>
            </tr>
        </table>
    </div>
    @*<div style="position:absolute;bottom:0;">
            <img src="~/Content/img/Footer.jpg" style="width:100%;" />
        </div>*@
</div>
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        window.print();
    });
</script>