@{
    ViewBag.Title = "Lapsed";
    Layout = null;
}

<div style="font-family:'Angsana New';font-size:16px">
    <div>
        <img src="~/Content/img/Header.jpg" style="width:100%;" />
    </div>
    <table style="width:100%">
        <tr>
            <td style="width:100%;text-align:center;font-weight:bold;font-size:18px">@ViewBag.Comunicate.LetterDate</td>
        </tr>
    </table>
    <br />
    <table style="width:100%;">
        <tr>
            <td style="width:10%;font-weight:bold;vertical-align:top;font-size:16px">เรื่อง</td>
            <td style="width:90%;vertical-align:top;font-size:16px">ขาดการชำระเบี้ยประกันสุขภาพ</td>
        </tr>
        <tr>
            <td style="width:10%;font-weight:bold;vertical-align:top;font-size:16px">เรียน</td>
            <td style="width:90%;vertical-align:top;font-size:16px">ผู้ชำระเบี้ยประกันภัย <label id="payerName">@ViewBag.Comunicate.PayerName</label></td>
        </tr>
        <tr>
            <td style="width:10%;font-weight:bold;vertical-align:top;font-size:16px">อ้างถึง</td>
            <td style="width:90%;vertical-align:top;font-size:16px">ผู้เอาประกันภัย <label id="custName">@ViewBag.Comunicate.CustomerName</label></td>
        </tr>
        <tr>
            <td style="width:10%;font-weight:bold;vertical-align:top;font-size:16px"></td>
            <td style="width:90%;vertical-align:top;font-size:16px;padding-bottom:10px"><b>หมายเลขอ้างอิง</b> <label id="appID">@ViewBag.Comunicate.AppID</label></td>
        </tr>
    </table>
    @*<br />*@
    <div style="text-indent:10%;padding-bottom:10px">&nbsp;บริษัท สยามสไมล์ โบรกเกอร์ ( ประเทศไทย ) จำกัด&nbsp;&nbsp;&nbsp;ขอเรียนให้ท่านทราบ&nbsp;&nbsp;ขณะนี้กรมธรรม์ประกันสุขภาพของท่านขาดการชำระเบี้ย ส่งผลให้กรมธรรม์สิ้นสุดความคุ้มครอง ตั้งแต่วันที่  @ViewBag.Comunicate.EndCoverDate </div>
    @*<br />*@
    <div style="text-indent:10%;padding-bottom:10px">&nbsp;หากท่านมีความประสงค์ต่ออายุกรมธรรม์หรือหากท่านได้ชำระเบี้ยประกันแล้ว โปรดติดต่อ Call Center : 1434 หรือ Line ID : &#64;SiamSmile (24 ชม.)</div>
    @*<br />*@
    <div style="text-indent:10%">&nbsp;บริษัทฯ ขอขอบพระคุณท่านเป็นอย่างยิ่งที่ให้ความไว้วางใจและให้การสนับสนุนด้วยดีเสมอมา</div>
    <br />
    <br />
    <br />

    <table style="width:100%">
        <tr>
            <td style="width:65%;font-weight:bold;vertical-align:top;"></td>
            <td style="width:35%;vertical-align:top;text-align:center;font-size:16px">ขอแสดงความนับถือ</td>
        </tr>
        <tr>
            <td style="width:65%;font-weight:bold;vertical-align:top;"></td>
            <td style="width:35%;vertical-align:top;text-align:center;height:40px;"><img style="height: 40px;" src="~/Content/img/signature_new.png" /></td>
        </tr>
        <tr>
            <td style="width:65%;font-weight:bold;vertical-align:top;"></td>
            <td style="width:35%;vertical-align:top;text-align:center;font-size:16px">(นางสาวพรทิพย์ ลิ้มทวีมงคล)</td>
        </tr>
        <tr>
            <td style="width:65%;font-weight:bold;vertical-align:top;"></td>
            <td style="width:35%;vertical-align:top;text-align:center;font-size:16px">ผู้จัดการฝ่าย Call Center</td>
        </tr>
    </table>
    <div style="position:absolute;bottom:0;">
        <img src="~/Content/img/Footer.jpg" style="width:100%;" />
    </div>
    <div id="editor"></div>
</div>

<script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>

<script>
    $(document).ready(function () {
        window.print();

    });
</script>