@using System.Globalization
@{
    /**/

    Layout = null;
    ViewBag.Title = "PaySlip";
}
<style>
    .img-logo {
        width: 100px;
        height: auto;
    }

    hr {
        border: 1px solid #33CCFF;
    }
</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div style="font-family: 'Angsana New';" class="container">
    <br />
    <table style="border:solid 1px;width:100%">
        <tr style="border-bottom: solid 1px;">
            <td colspan="10" style="font-size:30px;font-weight:bold;text-indent: 15px;">ใบรับฝากเงิน (Pay Slip)</td>
        </tr>
        <tr>
            <td rowspan="4" style="width:10%;text-align:center"><img class="img-logo" src="~/Content/img/logo.png" /></td>
            <td colspan="4">บริษัท สยามสไมล์ โบรกเกอร์ (ประเทศไทย) จำกัด</td>
            <td style="width:10%"></td>
            <td colspan="4">วันที่รับชำระ/Date  @(ViewBag.PaySlipHeader.TransactionDate != null ? ViewBag.PaySlipHeader.TransactionDate.ToString("dd/MM/yyyy HH:mm") : ".......................................................")</td>
        </tr>
        <tr>
            <td colspan="4">เลขที่ 89/6-10 ถนนเฉลิมพงษ์</td>
            <td style="width:10%"></td>
            <td rowspan="3" colspan="4">
                <table style="border:solid 1px;width:90%">
                    <tr>
                        <td style="padding: 2px 0px 0px 4px;">ชื่อผู้ชำระเบี้ย: @(ViewBag.PaySlipHeader.BankAccountName != null ? ViewBag.PaySlipHeader.BankAccountName : "")</td>
                    </tr>
                    <tr>
                        <td style="padding: 2px 0px 0px 4px;">เลขที่บัตรประชาชน/Ref.1: @(ViewBag.PaySlipHeader.IdentityCard != null ? ViewBag.PaySlipHeader.IdentityCard : "")</td>
                    </tr>
                    <tr>
                        <td style="padding: 2px 0px 0px 4px;">เบอร์โทรศัพท์/Ref.2: @(ViewBag.PaySlipHeader.PhoneNumber != null ? ViewBag.PaySlipHeader.PhoneNumber : "")</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="4">แขวงสายไหม เขตสายไหม กรุงเทพฯ 10220</td>
            <td style="width:10%"></td>
        </tr>
        <tr>
            <td colspan="4" style="font-size: 20px;font-weight: bold;">Call Center 02-5333-999</td>
            <td style="width:10%"></td>
        </tr>
        <tr>
            <td style="text-indent: 15px;" colspan="5">วิธีการชำระเงิน : หักผ่านธนาคาร</td>
            <td style="width:10%"></td>
            <td style="width:10%"></td>
            <td style="width:10%"></td>
            <td style="width:10%"></td>
            <td style="width:10%"></td>
        </tr>

        <tr>
            <td colspan="10">
                <table style="width:95%;border:solid 1px;margin-left: 15px;margin-bottom: 20px;">
                    <tr style="border-bottom:solid 1px">
                        <td colspan="2" style="text-align:center;border-right: solid 1px;">รวมทั้งสิ้น</td>
                        <td colspan="2" style="text-align:center;border-right: solid 1px;">จำนวนเงิน(บาท)/Amount(Baht)</td>
                        <td colspan="3" style="text-align:center;border-right: solid 1px;">@(ViewBag.PaySlipHeader.SumPremium != null ? ViewBag.PaySlipHeader.SumPremium : "")</td>
                        <td style="text-align:center;border-right: solid 1px;">00</td>
                        <td rowspan="2" colspan="6" style="width:15%;text-align:center">ผู้รับเงิน....................</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:center;border-right: solid 1px;">จำนวนเงินเป็นตัวอักษร/Amount in Words</td>
                        <td style="text-align:center" colspan="6"><span style="font-weight:bold">@(ViewBag.BahtText != null ? ViewBag.BahtText : "")</span></td>
                    </tr>
                    <tr style="border-top: solid 1px;border-bottom:solid 1px;background-color:#4ea6f2 !important;font-weight:bold">
                        <td style="width:10%;text-align:center">ลำดับที่</td>
                        <td style="width:20%;text-align:center">เลขอ้างอิง</td>
                        <td style="width:20%;text-align:center">ชื่อ-สกุล</td>
                        <td style="width:10%;text-align:center">แผน</td>

                        <td colspan="2" style="text-align:center">เบี้ย</td>
                        <td colspan="2" style="text-align:center">งวด</td>
                        <td colspan="2" style="text-align:center">ส่วนลด</td>
                        <td colspan="2" style="text-align:center;border-right:solid 1px">รวม</td>
                    </tr>
                    @if (@ViewBag.PaySlipDetail != null)
                    {
                        for (int i = 0; i < ViewBag.PaySlipDetail.Count; i++)
                        {
                            <tr>
                                <td style="width:10%;text-align:center">@(i + 1)</td>
                                <td style="width:20%;text-align:center">@(ViewBag.PaySlipDetail[i].ApplicationCode != null ? ViewBag.PaySlipDetail[i].ApplicationCode : "")</td>
                                <td style="width:20%;text-align:left">@(ViewBag.PaySlipDetail[i].CustTitle != null ? ViewBag.PaySlipDetail[i].CustTitle : "")@(ViewBag.PaySlipDetail[i].CustFirstName != null ? ViewBag.PaySlipDetail[i].CustFirstName : "")    @(ViewBag.PaySlipDetail[i].CustLastName != null ? ViewBag.PaySlipDetail[i].CustLastName : "")</td>
                                <td style="width:10%;text-align:center">@(ViewBag.PaySlipDetail[i].Product != null ? ViewBag.PaySlipDetail[i].Product : ViewBag.PaySlipDetail[i].Product)</td>

                                <td colspan="2" style="text-align:center">@(ViewBag.PaySlipDetail[i].Premium != null ? ViewBag.PaySlipDetail[i].Premium : "")</td>
                                <td colspan="2" style="text-align:center">@(ViewBag.PaySlipDetail[i].DebtPeriod != null ? ViewBag.PaySlipDetail[i].DebtPeriod.ToString("dd/MM/yyyy") : "")</td>
                                <td colspan="2" style="text-align:center">@(ViewBag.PaySlipDetail[i].PremiumDiscount != null ? ViewBag.PaySlipDetail[i].PremiumDiscount : "")</td>
                                <td colspan="2" style="text-align:center;border-right:solid 1px">@(ViewBag.PaySlipDetail[i].PremiumDebt != null ? ViewBag.PaySlipDetail[i].PremiumDebt : "")</td>
                            </tr>
                        }
                    }
                </table>
            </td>
        </tr>
    </table>
</div>

<!--script-->
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        //  window.print();
    });
</script>