@using System.Globalization
@{
    Layout = null;
    ViewBag.Title = "ThankYou";
}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
    .img-logo {
        width: 100px;
        height: auto;
    }

    hr {
        border: 1px solid #33CCFF;
    }
</style>
<div style="font-family: 'Angsana New';" class="container">
    <br />
    <table>
        <tr>
            <td rowspan="4" style="width: 10%; vertical-align: center; text-align: center"><img class="img-logo" src="~/Content/img/logo.png" /></td>
            <td style="width: 80%; vertical-align: top;"><span style="font-size: 14px">บริษัท สยามสไมล์โบรกเกอร์ (ประเทศไทย) จำกัด</span></td>
        </tr>
        <tr>
            <td style="width: 80%; vertical-align: top;"><span style="font-size: 14px">Siam Smile Broker (Thailand) Co., Ltd.</span></td>
        </tr>
        <tr>
            <td style="width: 80%; vertical-align: top;"><span style="font-size: 14px">เลขที่ 89/6-10 ถนนเฉลิมพงษ์ แขวงสายไหม เขตสายไหม กรุงเทพมหานคร 10220 โทร. 0-2533-3999</span></td>
        </tr>
        <tr>
            <td style="width: 80%; vertical-align: top;"><span style="font-size: 14px">89/6-10 Chaloem Phong Rd, Khwaeng Sai Mai, Krung Thep Maha Nakhon 10220 Tel. +66-2533-3999</span></td>
        </tr>
    </table>
    <hr />
    @*<div style="font-weight: bold; text-align: center">วันที่ @ViewBag.TempPA_Select.SMSSendDate.ToString("dd MMMM yyyy")  </div>*@
    <table style="width: 100%;">
        <tr>
            <td style="width: 5%; font-weight: bold; vertical-align: top;"><span>เรื่อง</span></td>
            <td style="width: 90%; vertical-align: top;"><span>หนังสือขอบคุณ</span></td>
        </tr>
        <tr>
            <td style="width: 5%; font-weight: bold; vertical-align: top;"><span>เรียน</span></td>
            <td style="width: 90%; vertical-align: top;"><span>ผู้อำนวยการ @ViewBag.TempPA_Select.SchoolName</span></td>
        </tr>
    </table>
    <div style="text-indent: 5.2%">
        <span style="font-size: 16px">
            ตามที่ท่านได้ให้ความไว้วางใจทำประกันอุบัติเหตุนักเรียนกับบริษัท สยามสไมล์โบรกเกอร์ (ประเทศไทย) จำกัด เป็นผู้ดูแล
            โครงการประกันอุบัติเหตุ ปีการศึกษา 2561 บริษัทฯ ในฐานะผู้ดูแลโครงการขอรับรองความคุ้มครองตามรายละเอียด ดังนี้
        </span>
    </div>
    <br />
    <table style="width: 100%;">
        <tr>
            <td style="width: 20%;font-weight: bold; vertical-align: top;"><span>ผู้ถือกรมธรรม์</span></td>
            <td style="width: 80%;vertical-align: top;"><span>: @ViewBag.TempPA_Select.PolicyHolder <span style="font-weight: bold"> จังหวัด </span>@ViewBag.TempPA_Select.ProvinceName</span></td>
        </tr>
        <tr>
            <td style="width: 20%;font-weight: bold; vertical-align: top;"><span>บริษัทผู้รับประกัน</span></td>
            <td style="width: 80%;vertical-align: top;"><span>: @ViewBag.TempPA_Select.InsuranceCompany <span style="font-weight: bold">  เลขที่กรมธรรม์/อ้างอิง </span>@ViewBag.TempPA_Select.Policy</span></td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
            <td style="width: 20%;font-weight: bold; vertical-align: top;"><span>ระยะเวลาคุ้มครอง</span></td>
            <td style="width: 80%;vertical-align: top;"><span>: 1 ปี เริ่มวันที่ @ViewBag.TempPA_Select.StartCover.ToString("dd MMMM yyyy") <span style="font-weight: bold"> สิ้นสุดวันที่ </span>@ViewBag.TempPA_Select.EndCover.ToString("dd MMMM yyyy") เวลา 16.30 น.</span></td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr>
            <td style="width: 20%;font-weight: bold; vertical-align: top;"></td>
            <td style="width: 40%;vertical-align: top;"><span>: วันที่มีผล @ViewBag.TempPA_Select.EffectDate.ToString("dd MMMM yyyy")</span></td>
            <td style="width: 40%;"></td>
        </tr>
        <tr>
            <td style="width:20%;font-weight: bold; vertical-align: top;"><span>แผนการประกันภัย</span></td>
            <td style="width: 40%;vertical-align: top;"><span>: @ViewBag.TempPA_Select.PackageName เบี้ย @ViewBag.TempPA_Select.Premium บาท / ต่อคน</span></td>
            <td style="width: 40%;"></td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr>
            <td style="width: 25%;font-weight: bold; vertical-align: top;"><span>ทุนการเสียชีวิต / ค่ารักษาฯ</span></td>
            <td style="width: 30%;vertical-align: top;"><span>: @ViewBag.TempPA_Select.Coverage.ToString("N0") บาท / @ViewBag.TempPA_Select.Benefit.ToString("N0")  บาท </span></td>
            <td style="width: 45%;"></td>
        </tr>
    </table>
    <br />
    <table style="width: 100%;">
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top;"><span>รายละเอียดการนำส่งรายชื่อ และค่าเบี้ยประกันภัย</span></td>
            <td style="width: 33%;"></td>
        </tr>
        <tr>
            <td style="width: 33%; font-weight: bold; vertical-align: top; text-align: center"><span>เล่มที่ใบรับฝากเงิน</span></td>
            <td style="width: 33%; font-weight: bold; text-align: center"><span>เลขที่ใบรับฝากเงิน</span></td>
            <td style="width: 33%; font-weight: bold; text-align: right"><span>จำนวนเงิน (บาท)</span></td>
        </tr>
        @if (ViewBag.TempPAPayment_Select != null)
        {
            foreach (var item in ViewBag.TempPAPayment_Select)
            {
                <tr>
                    <td style="width: 33%; vertical-align: top; text-align: center; color: #137AC5">@item.ReceiptBookNo</td>
                    <td style="width: 33%; vertical-align: top; text-align: center; color: #137AC5">@item.ReceiptNo</td>
                    <td style="width: 33%; vertical-align: top; text-align: right; color: #137AC5">@item.PremiumAmount.ToString("N0")</td>
                </tr>
            }
        }

        <tr>
            <td style="width: 33%; vertical-align: top; text-align: center; font-weight: bold;"><span>รวมทั้งสิ้น</span></td>
            <td style="width: 33%; vertical-align: top; text-align: center;"></td>
            <td style="width: 33%; vertical-align: top; text-align: right; font-weight: bold;"><span>@ViewBag.SumPremiumAmount.ToString("N0")</span></td>
        </tr>
    </table>
    <br />
    <div style="text-indent: 5.2%;">
        <span style="font-size: 16px">
            ทางบริษัทฯ ขอขอบพระคุณท่านผู้อำนวยการโรงเรียนเป็นอย่างสูง ที่ให้ความไว้วางใจทำประกันอุบัติเหตุโครงการโรงเรียนห่วงใย School Smile บริษัทฯ หวังเป็นอย่างยิ่งว่าคงได้รับความไว้วางใจจากท่านในการให้บริการของบริษัทสยามสไมล์ต่อไป
        </span>
    </div>
    <br />
    <span style="color: red;font-style:italic">หมายเหตุ:กรุณาตรวจสอบรายละเอียดความถูกต้องของข้อมูล</span>
    <table style="width: 100%">
        <tr>
            <td style="width: 30%; font-weight: bold; vertical-align: top;"></td>
            <td style="width: 70%; vertical-align: top; text-align: center;">ขอแสดงความนับถือ</td>
        </tr>
        <tr>
            <td style="width: 30%; font-weight: bold; vertical-align: top;"></td>
            <td style="width: 70%; vertical-align: top; text-align: center;"><img style="width: 100px;height: auto" src="~/Content/img/signature_3.png" /></td>
        </tr>
        <tr>
            <td style="width: 30%; font-weight: bold; vertical-align: top;"></td>
            <td style="width: 70%; vertical-align: top; text-align: center;">( นางสาวฐิติพรรณ นันตี )</td>
        </tr>
        <tr>
            <td style="width: 30%; font-weight: bold; vertical-align: top;"></td>
            <td style="width: 70%; vertical-align: top; text-align: center;">ผู้อำนวยการฝ่ายงานรับประกันโครงการพิเศษประกันอุบัติเหตุกลุ่มนักเรียน</td>
        </tr>
        <tr>
            <td style="width: 30%; font-weight: bold; vertical-align: top;"></td>
            <td style="width: 70%; vertical-align: top; text-align: center;">บริษัท สยามสไมล์โบรกเกอร์ (ประเทศไทย) จำกัด</td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top: 50px; vertical-align: top; color: #333300">หากท่านมีข้อสอบถามเพิ่มเติม กรุณาติดต่อหมายเลขโทรศัพท์ 0-2533-3999</td>
        </tr>
    </table>
    @*<div style="position: absolute; bottom: 0;">
            <img src="~/Content/img/Footer.jpg" style="width: 100%;" />
        </div>*@
    <br />
    @*<div id="confirm" style="background-color: #88ddf9">
            <table style="width: 100%">
                <tr>
                    <td style="width: 25%;"></td>
                    <td style="width: 25%; text-align: center">
                        <div class="checkbox">
                            <label for="checkbox-confirm">
                                <input type="checkbox" name="checkboxes" id="checkbox-confirm" value="1">
                                ยืนยันรับทราบข้อมูล
                            </label>
                        </div>
                    </td>
                    <td style="width: 25%; text-align: center">
                        <input type="button" name="btn_save" class="btn btn-success" value="บันทึกข้อมูล" style="width: 40%" />
                    </td>
                    <td style="width: 25%;"></td>
                </tr>
            </table>
        </div>*@
</div>

<script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>

<script>
    $(document).ready(function () {
        window.print();
    });
</script>