@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutForTopPortalIndex.cshtml";
}
@{
    // var userDetail = GlobalFunction.GetLoginDetail(this.Context);
    var userDetail = SmileSUnderwriteAudit.Helper.GlobalFunction.GetLoginDetail(this.Context);

    ViewBag.Firstname = userDetail.FirstName;
    ViewBag.Lastname = userDetail.LastName;
    ViewBag.EmpCode = userDetail.UserName;
    ViewBag.Department = userDetail.DepartmentDetail;
    ViewBag.BranchDetail = userDetail.BranchDetail;
    ViewBag.FullName = userDetail.FullName;
    ViewBag.EmployeeTeamDetail = userDetail.EmployeeTeamDetail;
    ViewBag.FullName = userDetail.FullName;
}
<style>
    .material-icons.md-62 {
        font-size: 62px;
    }
</style>
<div class="container">
    <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header">
            <div class="widget-user-image">
                <img class="img-circle" src="~/Content/img/logo_200x200.png" alt="User SiamSmile">
            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username">@ViewBag.UserDetail.FullName</h3>
            <h5 class="widget-user-desc">@ViewBag.EmployeeTeamDetail - @ViewBag.UserDetail.DepartmentDetail</h5>
        </div>
    </div>

    <div class="row">
        @{
           
            if (ViewBag.AccessRole.Contains("UnderwriteAudit_BusinessPromoteTeam") || ViewBag.AccessRole.Contains("UnderwriteAudit_AdminBusinessPromoteTeam") || ViewBag.AccessRole.Contains("Developer"))
            {
                <div class="col-md-3 col-sm-4">
                    <div class="wrimagecard wrimagecard-topimage">
                        <a href="/MotorQueue/MotorQueueCreate">
                            <div class="wrimagecard-topimage_header bg-aqua">
                                <center>
                                    <span class="material-icons md-62" style="color: #ffffff ">
                                        create_new_folder
                                    </span>
                                </center>
                            </div>
                            <div class="wrimagecard-topimage_title">
                                <center>
                                    <h5>
                                        สร้างคิวงาน
                                        <span class="pull-right badge bg-red" id="WrControls" style="position:absolute;right:5px;bottom:5px">@ViewBag.queCountAll</span>
                                    </h5>
                                </center>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="wrimagecard wrimagecard-topimage">
                        <a href="/MotorQueue/MotorQueueCheckUnderwriteResult">
                            <div class="wrimagecard-topimage_header bg-aqua">
                                <center>
                                    <span class="material-icons md-62" style="color: #ffffff ">
                                        quiz
                                    </span>
                                </center>
                            </div>
                            <div class="wrimagecard-topimage_title">
                                <center>
                                    <h5>
                                        ตรวจสอบการมอบกรมธรรม์
                                    </h5>
                                </center>
                            </div>
                        </a>
                    </div>
                </div>
           
                <div class="col-md-3 col-sm-4">
                    <div class="wrimagecard wrimagecard-topimage">
                        <a href="/MotorQueue/MotorQueueManageAssign">
                            <div class="wrimagecard-topimage_header bg-aqua">
                                <center>
                                    <span class="material-icons md-62" style="color: #ffffff ">
                                        manage_accounts
                                    </span>
                                </center>
                            </div>
                            <div class="wrimagecard-topimage_title">
                                <center>
                                    <h5>
                                        จัดการคิวงาน
                                    </h5>
                                </center>
                            </div>
                        </a>
                    </div>
                </div>
        
                <div class="col-md-3 col-sm-4">
                    <div class="wrimagecard wrimagecard-topimage">
                        <a href="/MotorReport/MotorReportCheckAndNotApproveUnderwrite?report=abc">

                            <div class="wrimagecard-topimage_header bg-aqua">
                                <center>
                                    <span class="material-icons md-62" style="color: #ffffff ">
                                        description
                                    </span>
                                </center>
                            </div>
                            <div class="wrimagecard-topimage_title">
                                <center>
                                    <h5>
                                        รายงาน
                                    </h5>
                                </center>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="wrimagecard wrimagecard-topimage">
                        <a href="/MotorQueue/MortorTeamManage">
                            <div class="wrimagecard-topimage_header bg-aqua">
                                <center>
                                    <span class="material-icons md-62" style="color: #ffffff ">
                                        people_alt
                                    </span>
                                </center>
                            </div>
                            <div class="wrimagecard-topimage_title">
                                <center>
                                    <h5>
                                        ระบบจัดการทีม
                                    </h5>
                                </center>
                            </div>
                        </a>
                    </div>
                </div>
            }

            if (ViewBag.AccessRole.Contains("UnderwriteAudit_InsureMotor") || ViewBag.AccessRole.Contains("UnderwriteV2_InsuranceDept") || ViewBag.AccessRole.Contains("Developer"))
            {
                @*<div class="col-md-3 col-sm-4">
                    <div class="wrimagecard wrimagecard-topimage">
                        <a href="/MotorAuditHome/IndexChairman">
                            <div class="wrimagecard-topimage_header bg-aqua">
                                <center>
                                    <span class="material-icons md-62" style="color: #ffffff ">
                                        highlight_off
                                    </span>
                                </center>
                            </div>
                            <div class="wrimagecard-topimage_title">
                                <center>
                                    <h5>
                                        ไม่ผ่านคัดกรองจาก ผอ.บล.
                                        <span class="pull-right badge bg-red" id="WrControls" style="position:absolute;right:5px;bottom:5px">@ViewBag.MotorQueueChairman</span>
                                    </h5>
                                </center>
                            </div>
                        </a>
                    </div>
                </div>*@

                <div class="col-md-3 col-sm-4">
                    <div class="wrimagecard wrimagecard-topimage">
                        <a href="/MotorAuditHome/indexQC">
                            <div class="wrimagecard-topimage_header bg-aqua">
                                <center>
                                    <span class="material-icons md-62" style="color: #ffffff ">
                                        grading
                                    </span>
                                </center>
                            </div>
                            <div class="wrimagecard-topimage_title">
                                <center>
                                    <h5>
                                        ประเด็นพิจารณาจากการ QC
                                        <span class="pull-right badge bg-red" id="WrControls" style="position:absolute;right:5px;bottom:5px">@ViewBag.MotorQueueconsider</span>
                                    </h5>
                                </center>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4">
                    <div class="wrimagecard wrimagecard-topimage">
                        <a href="/MotorReport/MotorReportUnderwriteAndInsurance">
                            <div class="wrimagecard-topimage_header" style="background-color: #f587d6 ">
                                <center>
                                    <span class="material-icons md-62" style="color: #ffffff ">
                                        list_alt
                                    </span>
                                </center>
                            </div>
                            <div class="wrimagecard-topimage_title">
                                <center>
                                    <h5>
                                        รายงานคัดกรองและมอบกรมธรรม์
                                    </h5>
                                </center>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>