﻿@{
    ViewBag.Title = "Application ID :" + @ViewBag.Application.ApplicationCode;
    ViewBag.Description = "";
}

<form action="" method="post" id="Mainform">
    <div class="row">
        @* nav tabs *@
        <div class="col-sm-12 col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a style="font-size: larger" href="#tab1" data-toggle="tab" aria-expanded="True">ข้อมูลกรมธรรม์</a></li>
                    <li><a style="font-size: larger" href="#tab2" data-toggle="tab" aria-expanded="True">ข้อมูลด้านสุขภาพ</a></li>
                </ul>
                @* tabs content *@
                <div class="tab-content">
                    @* ข้อมูลกรมธรรม์ *@
                    <div class="tab-pane active" id="tab1">
                        @* document form *@
                        @Html.Partial("~/Views/partial_view/_Document.cshtml")
                        @* end document *@
                        @* Application detail form *@
                        @Html.Partial("~/Views/partial_view/_ApplicationDetail.cshtml")
                        @* end application detail *@
                        @* Customer form *@
                        @Html.Partial("~/Views/partial_view/_Customer.cshtml")
                        @* end customer form *@
                        @* Payer form *@
                        @Html.Partial("~/Views/partial_view/_Payer.cshtml")
                        @* end payer form *@
                        @* heir form *@
                        @Html.Partial("~/Views/partial_view/_Heir.cshtml")
                        @* end heir form *@
                        @* memo form *@
                        @Html.Partial("~/Views/partial_view/_Memo.cshtml")
                        @* end memo *@
                        @* transaction detail *@
                        @Html.Partial("~/Views/partial_view/_Transaction.cshtml")
                        @* end transaction *@
                        @* transaction detail *@
                        @Html.Partial("~/Views/partial_view/_Debt.cshtml")
                        @* end transaction *@
                    </div>
                    @* ข้อมูลด้านสุขภาพ *@
                    <div class="tab-pane" id="tab2">
                        @Html.Partial("~/Views/partial_view/_Question.cshtml")
                    </div>
                </div>
            </div>
        </div>
        @* end tabs *@
        @* CancelRequest_Form  *@
        <div class="col-sm-12 col-md-12" id="CancelRequest_Form">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">บันทึกแจ้งยกเลิก</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-sm-6 col-md-offset-1 col-md-3">
                            <label class="control-label" for="">วันที่ยกเลิก :</label>
                            <input type="text" class="form-control pull-right" name="cancelDate" id="cancelDate"
                                   data-date-language="th-th" data-provide="datepicker">
                        </div>
                        @*<div class="col-sm-6 col-md-3">
                                <label class="control-label" for="">สถานะกรมธรรม์ :</label>
                                <select class="form-control" id="select_AppStatus" disabled="disabled">
                                    @foreach(var itm in ViewBag.appStatusList)
                                    {
                                        if(itm.ApplicationStatusId == 6)
                                        {
                                            <option value="@itm.ApplicationStatusId" selected="selected">@itm.ApplicationStatus</option>
                                        }
                                        else
                                        {
                                            <option value="@itm.ApplicationStatusId">@itm.ApplicationStatus</option>
                                        }

                                    }
                                </select>
                            </div>*@
                        <div class="col-sm-6 col-md-3">
                            <label class="control-label" for="">สาเหตุการยกเลิก :</label>
                            <select class="form-control" id="select_CancelCause">
                                @foreach(var itm in ViewBag.cancelCauseList)
                                {

                                    <option value="@itm.CancelCauseId">@itm.CancelCause</option>

                                }
                            </select>
                        </div>
                        @*<div class="col-sm-3 col-md-3" style="margin-top: 25px">
                            <label class="control-label">&emsp;</label>
                            <span id="txtDateResult" style="color: red">*ไม่สามารถยกเลิกได้หลังจากวันที่ @ViewBag.reqCancelDate*</span>
                        </div>*@
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-offset-1 col-md-9">
                            <label class="control-label" for="">หมายเหตุ :</label>
                            <textarea class="form-control" id="txtCancelRemark" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-offset-1 col-md-2">
                            <label class="control-label">เอกสารคำขอยกเลิก</label>
                            <a href="" target="_blank" id="btnScanDoc" class="btn btn-block btn-success">Scan</a>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <label class="control-label">&emsp;</label>
                            <a href="" target="_blank" id="btnSeeDoc" class="btn btn-block btn-info">ดูเอกสาร (จำนวนเอกสาร:<i id="txtDocCount"></i> )</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* end cancel *@
        @* operate *@
        <div class="col-sm-12 col-md-12" id="Operate_Form">
            <div class="col-sm-6 col-md-offset-8 col-md-2">
                <button type="button" id="btnSubmit" class="btn btn-block btn-success">บันทึก</button>
            </div>
            <div class="col-sm-6 col-md-2">
                <button type="button" id="btnCancel" class="btn btn-block btn-warning">ยกเลิก</button>
            </div>
        </div>

        @* end operate *@
    </div>
    @* hidden *@
    <input type="hidden" id="hd_requestCancelId" value="@ViewBag.requestCancelId" />
    <input type="hidden" id="hd_startCoverDate" value="@ViewBag.StartCoverDate_string" />
</form>
@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            //select datepicker from dcr
            var date = new Date();
            date.setDate(date.getDate()-1);
            $('#cancelDate').datepicker({ format: 'MM yyyy', viewMode: "months", minViewMode: "months",autoclose: true ,startDate: date }).datepicker('setDate',new Date('@ViewBag.dcrDate'));//.datepicker("setDate", new Date());

            //Get Doc Detail
            setInterval(() => { GetDocDetail(); }, 4000);

            //CalcancelDate();

            //if cancel date not eqal to startcover date
            //$('#cancelDate').on('change', function (e) {
            //    CalcancelDate();
            //});

            $('#btnSubmit').click(() => {
                swal_confirm('ยืนยันการแจ้งยกเลิก', 'ต้องการแจ้งยกเลิกรายการนี้?', () => {

                    var result = ValidRequest();
                    if (result == 'true') {
                        addCancel();
                    } else {
                        swal_fail(result);
                    }

                });
            });

            $('#btnCancel').click(() => {
                 window.location = '@Url.Action("RequestCancelApplication")';
            });

            //load datatable
            GetDocEditDetail_DT(@ViewBag.Application.ApplicationId);
            GetHeir_dt(@ViewBag.Application.ApplicationId);
            GetMemo_dt(@ViewBag.Application.ApplicationId);
            GetTransaction_dt(@ViewBag.Application.ApplicationId);
            GetDebt_dt(@ViewBag.Application.ApplicationId);

            //Questioniar
            //Q1
             $('#Q1_Form input').prop('disabled', true);
             $('#A1_07').prop('disabled', true);
             //Q2
             $('#Q2_Form input').prop('disabled', true);
             //Q3
             $('#Q3_Form input').prop('disabled', true);
             //Child Q3
             if ($('#A3_08').iCheck('update')[0].checked) {
                 $('#Sub_A3_08').show();
             }
             if ($('#A3_09').iCheck('update')[0].checked) {
                 $('#Sub_A3_09').show();
             }

             //Q4
            $('#Q4_Form input').prop('disabled', true);

        });

        const CalcancelDate = () => {

            //ต้องเลือกdcr == startcoverdate เท่านั้น
            //ต้องไม่เกินวันที่25ของ startcoverdate
            var d1 = $('#cancelDate').datepicker('getDate');
            var d2 = new Date($('#hd_startCoverDate').val());
            var d2Convert = new Date(d2.getFullYear(), d2.getMonth() - 1, @ViewBag.reqCancelDate);
            var dateToday = new Date();
            dateToday.setDate(dateToday.getDate()-1);

           var diff = new Date(d2Convert - dateToday);
            var days = diff / 1000 / 60 / 60 / 24;
            if (d1.getTime() === d2.getTime()) {
                if (days >= 0) {

                    $('#txtDateResult').text('สามารถยกเลิกก่อน DCR ได้');
                    $('#txtDateResult').css('color', 'green');
                    $('#btnSubmit').prop('disabled', false);
                } else {

                    $('#txtDateResult').text('ไม่สามารถยกเลิกได้');
                    $('#txtDateResult').css('color', 'red');
                    $('#btnSubmit').prop('disabled', true);
                }
            } else {
                 $('#txtDateResult').text('ไม่สามารถยกเลิกได้');
                 $('#txtDateResult').css('color', 'red');
                 $('#btnSubmit').prop('disabled', true);
            }

        }

        const addCancel = () => {
            var cancelDate = $('#cancelDate').datepicker({ format: 'MM yyyy', viewMode: "months", minViewMode: "months" }).datepicker('getDate');
            var addfirstcancelDate = new Date(cancelDate.getFullYear(), cancelDate.getMonth(), 1);
            var cancelDateConvert = moment(addfirstcancelDate).format('DD-MM-YYYY');

            $.post('@Url.Action("SendRequestCancel","CancelApplication")',
                {
                    requestCancelId: $('#hd_requestCancelId').val(),
                    cancelDate: cancelDateConvert,
                    cancelCauseId: $('#select_CancelCause').val(),
                    cancelRemark: $('#txtCancelRemark').val()
                }, (data) => {
                    if (data.IsResult) {
                        swal_success(data.Msg);
                        setTimeout(() => { window.location = "@Url.Action("RequestCancelApplication","CancelApplication")"; }, 1500);
                    } else {
                        swal_fail(data.Msg);
                    }
            });
        }

        const GetDocDetail = () => {
            $.post('@Url.Action("RequestCancelDetail","CancelApplication")',
                {
                    requestCancelId: $('#hd_requestCancelId').val()

                }, (data) => {
                    $('#btnScanDoc').prop('href', data.UrlScan);
                    $('#btnSeeDoc').prop('href', data.UrlOpen);
                    $('#txtDocCount').text(data.DocumentFileCount);
                });
        }

        const ValidRequest = () => {
            if ($('#txtCancelRemark').val() == "") {
                return 'กรุณากรอกหมายเหตุ การยกเลิก';
            }
            if ($('#txtDocCount').text() == "0") {
                return 'กรุณาสแกนเอกสารการยกเลิก';
            }

            return 'true';
        }
    </script>
}