﻿@{
    ViewBag.Title = "Application ID :" + @ViewBag.Application.ApplicationCode;
    ViewBag.Description = "";
}

<form action="" method="post" id="Mainform">
    <div class="row">
        @* nav tabs *@
        <div class="col-sm-12 col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a style="font-size: larger" href="#tab1" data-toggle="tab" aria-expanded="True">ข้อมูลกรมธรรม์</a></li>
                    <li><a style="font-size: larger" href="#tab2" data-toggle="tab" aria-expanded="True">ข้อมูลด้านสุขภาพ</a></li>
                </ul>
                @* tabs content *@
                <div class="tab-content">
                    @* ข้อมูลกรมธรรม์ *@
                    <div class="tab-pane active" id="tab1">
                        @* document form *@
                        @Html.Partial("~/Views/partial_view/_Document.cshtml")
                        @* end document *@
                        @* Application detail form *@
                        @Html.Partial("~/Views/partial_view/_ApplicationDetail.cshtml")
                        @* end application detail *@
                        @* Customer form *@
                        @Html.Partial("~/Views/partial_view/_Customer.cshtml")
                        @* end customer form *@
                        @* Payer form *@
                        @Html.Partial("~/Views/partial_view/_Payer.cshtml")
                        @* end payer form *@
                        @* heir form *@
                        @Html.Partial("~/Views/partial_view/_Heir.cshtml")
                        @* end heir form *@
                        @* memo form *@
                        @Html.Partial("~/Views/partial_view/_Memo.cshtml")
                        @* end memo *@
                        @* transaction detail *@
                        @Html.Partial("~/Views/partial_view/_Transaction.cshtml")
                        @* end transaction *@
                        @* transaction detail *@
                        @Html.Partial("~/Views/partial_view/_Debt.cshtml")
                        @* end transaction *@
                    </div>
                    @* ข้อมูลด้านสุขภาพ *@
                    <div class="tab-pane" id="tab2">
                        @Html.Partial("~/Views/partial_view/_Question.cshtml")
                    </div>
                </div>
            </div>
        </div>
        @* end tabs *@
        @* CancelRequest_Form  *@
        <div class="col-sm-12 col-md-12" id="CancelRequest_Form">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">บันทึกแจ้งยกเลิก</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-sm-6 col-md-offset-1 col-md-3">
                            <label class="control-label" for="">วันที่ยกเลิก :</label>
                            <input type="text" class="form-control pull-right" name="cancelDate" id="cancelDate"
                                   data-date-language="th-th" data-provide="datepicker">
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <label class="control-label" for="">สถานะกรมธรรม์ :</label>
                            <select class="form-control" id="select_AppStatus">
                                @foreach(var itm in ViewBag.appStatusList)
                                {
                                    if(itm.ApplicationStatusId == ViewBag.Application.ApplicationStatusId)
                                    {
                                        <option value="@itm.ApplicationStatusId" selected="selected">@itm.ApplicationStatus</option>
                                    }
                                    else
                                    {
                                        <option value="@itm.ApplicationStatusId">@itm.ApplicationStatus</option>
                                    }

                                }
                            </select>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <label class="control-label" for="">สาเหตุการยกเลิก :</label>
                            <select class="form-control" id="select_CancelCause">
                                @foreach(var itm in ViewBag.cancelCauseList)
                                {
                                    if(itm.CancelCauseId == ViewBag.cancelDetail.CancelCauseId)
                                    {
                                        <option value="@itm.CancelCauseId" selected="selected">@itm.CancelCause</option>
                                    }
                                    else
                                    {
                                        <option value="@itm.CancelCauseId">@itm.CancelCause</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-offset-1 col-md-9">
                            <label class="control-label" for="">หมายเหตุที่ยกเลิก :</label>
                            <textarea class="form-control" id="txtCancelRemark" rows="3">@ViewBag.cancelDetail.CancelRemark</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-offset-1 col-md-2">
                            <label class="control-label">เอกสารคำขอยกเลิก</label>
                            <a href="@ViewBag.cancelDetail.UrlScan" target="_blank" id="btnScanDoc" class="btn btn-block btn-success">Scan</a>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <label class="control-label">&emsp;</label>
                            <a href="@ViewBag.cancelDetail.UrlOpen" target="_blank" id="btnSeeDoc" class="btn btn-block btn-info">ดูเอกสาร (จำนวนเอกสาร:@ViewBag.cancelDetail.DocumentFileCount)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* end cancel *@
        @* operate *@
        <div class="col-sm-12 col-md-12" id="UDWOperate_Form">
            <div class="col-sm-6 col-md-offset-8 col-md-2">
                <button type="button" id="btnUDWSubmit" class="btn btn-block btn-success">อนุมัติการยกเลิก</button>
            </div>
            <div class="col-sm-6 col-md-2">
                <button type="button" id="btnUDWCancel" class="btn btn-block btn-danger" data-toggle="modal" data-target=".bd-cancel-modal-lg">ปฎิเสธการยกเลิก</button>
            </div>
        </div>
        @* end operate *@
    </div>
    @* modal edit document *@
    <div class="modal fade bd-cancel-modal-lg" id="CancelModal" tabindex="-1" role="dialog" aria-labelledby="CancelModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">ปฎิเสธการยกเลิก</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-offset-1 col-md-10">
                            <label class="control-label">สาเหตุ :</label>
                            <select class="form-control" id="select_approveCause">
                                @foreach(var itm in ViewBag.approveCauseList)
                                {

                                    <option value="@itm.ApproveCauseId">@itm.ApproveCause</option>

                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-offset-1 col-md-10">
                            <label class="">หมายเหตุ :</label>
                            <textarea class="form-control" rows="3" id="txtRemarkCancel"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-md-offset-4 col-md-2">
                            <button type="button" id="btnCancelSubmit" class="btn btn-block btn-success">บันทึก</button>
                        </div>
                        <div class="col-sm-6 col-md-2">
                            <button type="button" id="btnCloseModal" class="btn btn-block btn-danger" data-dismiss="modal">ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* end modal *@
    @* hidden *@
    <input type="hidden" id="hd_requestCancelId" value="@ViewBag.requestCancelId" />
</form>
@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            //select datepicker from dcr
           $('#cancelDate').datepicker({ format: 'MM yyyy', viewMode: "months", minViewMode: "months" }).datepicker("setDate", new Date("@ViewBag.cancelDate"));

            //approve cancel
            $('#btnUDWSubmit').click(() => {
                swal_confirm("ต้องการอนุมัติ", "อนุมัติรายการนี้?", () => {
                    ApproveRequest();
                });
            });

            //unapprove cancel
            $('#btnCancelSubmit').click(() => {
                if ($('#txtRemarkCancel').val() != "") {
                    swal_confirm("ต้องการปฎิเสธ", "ปฎิเสธการยกเลิกรายการนี้?", () => {
                        UnApproveRequest();
                    });
                } else {
                    swal_fail('กรุณาใส่หมายเหตุการปฎิเสธ');
                }

            });

            //load datatable
            GetDocEditDetail_DT(@ViewBag.Application.ApplicationId);
            GetHeir_dt(@ViewBag.Application.ApplicationId);
            GetMemo_dt(@ViewBag.Application.ApplicationId);
            GetTransaction_dt(@ViewBag.Application.ApplicationId);
            GetDebt_dt(@ViewBag.Application.ApplicationId);

            //disable request cancel form
            $('#select_AppStatus').prop('disabled', true);
            $('#select_CancelCause').prop('disabled', true);
            $('#cancelDate').prop('disabled', true);
            $('#txtCancelRemark').prop('disabled', true);

            //Questioniar
            //Q1
             $('#Q1_Form input').prop('disabled', true);
             $('#A1_07').prop('disabled', true);
             //Q2
             $('#Q2_Form input').prop('disabled', true);
             //Q3
             $('#Q3_Form input').prop('disabled', true);
             //Child Q3
             if ($('#A3_08').iCheck('update')[0].checked) {
                 $('#Sub_A3_08').show();
             }
             if ($('#A3_09').iCheck('update')[0].checked) {
                 $('#Sub_A3_09').show();
             }

             //Q4
            $('#Q4_Form input').prop('disabled', true);

        });

        const ApproveRequest = () => {
            $.post('@Url.Action("ApproveCancelRequest","CancelApplication")',
                {
                    requestCancelId: $('#hd_requestCancelId').val(),
                    approveStatusId: 3,
                    approveCauseId: null,
                    approveRemark:null
                }, (data) => {
                    if (data.IsResult) {
                        swal_success(data.Msg);
                        setTimeout(() => { window.location = "@Url.Action("UnderwriteCancelApplication","CancelApplication")"; }, 1500);
                    } else {
                        swal_fail(data.Msg);
                    }
                });
        }

        const UnApproveRequest = () => {
            $.post('@Url.Action("ApproveCancelRequest","CancelApplication")',
                {
                    requestCancelId: $('#hd_requestCancelId').val(),
                    approveStatusId: 4,
                    approveCauseId: $('#select_approveCause').val(),
                    approveRemark:$('#txtRemarkCancel').val()
                }, (data) => {
                     if (data.IsResult) {
                        swal_success(data.Msg);
                        setTimeout(() => { window.location = "@Url.Action("UnderwriteCancelApplication","CancelApplication")"; }, 1500);
                    } else {
                        swal_fail(data.Msg);
                    }
            });
        }
    </script>
}