@*
    Parameters: ViewBag.appId_Int
    Functions:
*@
@using Microsoft.Ajax.Utilities
@using SmileSCriticalIllness.Models

@{
    using (var db = new CriticalIllnessEntities())
    {
        int appId = ViewBag.appId_Int;
        usp_Questionaire_Select_Result questionDetail = db.usp_Questionaire_Select(null, appId, null, 99, null, null, null).FirstOrDefault();

        if (questionDetail != null)
        {
            @* Q1 form *@
            <div id="Q1_Form">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <div class="box-title" style="font-size: 16px;">1.พ่อ แม่ พี่หรือน้องของผู้เอาประกันภัย เคยเป็นหรือเสียชีวิตจากโรคมะเร็งดังต่อไปนี้ก่อนอายุ 50 ปีหรือไม่? โปรดระบุคคลที่เคยเป็นและโรคมะเร็งที่เป็น</div>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <ul class="answerList">
                            <li>
                                <label>
                                    <input type="radio" name="A1" value="1" @(questionDetail.A1 == true ? "checked" : "" )>
                                    &nbsp; &nbsp; เคย
                                </label>
                            </li>
                            <li id="Sub_A1" style="padding-left: 30px;">
                                <label class="col-lg-3" style="display: inline-block; float: none !important;">
                                    <input type="checkbox" name="child_A1" id="A1_01" @(questionDetail.A1_01 == true ? "checked" : "" )> มะเร็งเต้านม
                                </label>
                                <label class="col-lg-3" style="display: inline-block; float: none !important;">
                                    <input type="checkbox" name="child_A1" id="A1_02" @(questionDetail.A1_02 == true ? "checked" : "" )> มะเร็งมดลูกหรือมะเร็งปากมดลูก
                                </label>
                                <label class="col-lg-3" style="display: inline-block; float: none !important;">
                                    <input type="checkbox" name="child_A1" id="A1_03" @(questionDetail.A1_03 == true ? "checked" : "" )> มะเร็งรังไข่
                                </label>
                                <label class="col-lg-3" style="display: inline-block; float: none !important;">
                                    <input type="checkbox" name="child_A1" id="A1_04" @(questionDetail.A1_04 == true ? "checked" : "" )> มะเร็งลำไส้
                                </label>
                                <label class="col-lg-3" style="display: inline-block; float: none !important;">
                                    <input type="checkbox" name="child_A1" id="A1_05" @(questionDetail.A1_05 == true ? "checked" : "" )> มะเร็งจอตา
                                </label>
                                <label class="col-lg-3" style="display: inline-block; float: none !important;">
                                    <input type="checkbox" name="child_A1" id="A1_06" @(questionDetail.A1_06 == true ? "checked" : "" )> มะเร็งเม็ดเลือดขาว
                                </label>
                                <label class="col-lg-12" style="display: inline-block; float: none !important;">
                                    <span style="color: red">*</span>โปรดระบุบุคคลที่เคยเป็น..
                                    <textarea name="child_A1" id="A1_07" style="display: block; border-radius: 5px; margin: 10px; width: 80%; height: 80px">@(!questionDetail.A1_07.IsNullOrWhiteSpace() ? questionDetail.A1_07 : "")</textarea>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="A1" value="0" @(!questionDetail.A1 == true ? "checked" : "" )>
                                    &nbsp; &nbsp; ไม่มีท่านใดตามที่กล่าว เคยเป็นมะเร็งตามที่ระบุไว้
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            @* end Q1 *@
            @* Q2 form *@
            <div id="Q2_Form">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <div class="box-title" style="font-size: 16px;">2.ประวัติการสูบบุหรี่</div>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <ul class="answerList">
                            <li>
                                <label>
                                    <input type="radio" name="A2" value="1" @(questionDetail.A2 == true ? "checked" : "" )>
                                    &nbsp; &nbsp; สูบ
                                </label>
                            </li>
                            <li id="Sub_A2" style="padding-left: 30px;">
                                <label>
                                    <input type="radio" name="child_A2" id="A2_01" @(questionDetail.A2_01 == true ? "checked" : "" )> สูบน้อยกว่า 15 มวน/วัน
                                </label>
                                <label>
                                    <input type="radio" name="child_A2" id="A2_02" @(questionDetail.A2_02 == true ? "checked" : "" )> สูบมากกว่า 15 มวน/วัน
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="A2" value="0" @(!questionDetail.A2 == true ? "checked" : "" )>
                                    &nbsp; &nbsp; ไม่สูบ
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            @* end Q2 *@
            @* Q3 form *@
            <div id="Q3_Form">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <div class="box-title" style="font-size: 16px;">3.ผู้ขอเอาประกันภัยเคยป่วย หรือได้รับการรักษาจากแพทย์ด้วยโรคต่อไปนี้ หรือได้รับเชื้อต่อไปนี้หรือไม่</div>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <ul class="answerList">
                            <li>
                                <label>
                                    <input type="radio" name="A3" value="1" @(questionDetail.A3 == true ? "checked" : "" )>
                                    &nbsp; &nbsp; เคย
                                </label>
                            </li>
                            <li id="Sub_A3" style="padding-left: 30px">
                                <label class="col-lg-4" style="display: inline-block; float: none">
                                    <input type="radio" name="child_A3" id="A3_01" @(questionDetail.A3_01 == true ? "checked" : "" )> โรคไวรัสตับอักเสบชนิด B,C
                                </label>
                                <label class="col-lg-4" style="display: inline-block; float: none">
                                    <input type="radio" name="child_A3" id="A3_02" @(questionDetail.A3_02 == true ? "checked" : "" )> โรคเอดส์ หรือมีเลือดบวกต่อไวรัส HIV
                                </label>
                                <label class="col-lg-4" style="display: inline-block; float: none">
                                    <input type="radio" name="child_A3" id="A3_03" @(questionDetail.A3_03 == true ? "checked" : "" )> ปอดอักเสบเรื้อรัง(ยังต้องรักษาต่อเนื่อง)
                                </label>
                                <label class="col-lg-4" style="display: inline-block; float: none">
                                    <input type="radio" name="child_A3" id="A3_04" @(questionDetail.A3_04 == true ? "checked" : "" )> ลำไส้ใหญ่อักเสบเรื้อรัง(ยังต้องรักษาต่อเนื่อง)
                                </label>
                                <label class="col-lg-4" style="display: inline-block; float: none">
                                    <input type="radio" name="child_A3" id="A3_05" @(questionDetail.A3_05 == true ? "checked" : "" )> ตับแข็ง ตับอักเสบ
                                </label>
                                <label class="col-lg-5" style="display: inline-block; float: none">
                                    <input type="radio" name="child_A3" id="A3_06" @(questionDetail.A3_06 == true ? "checked" : "" )> ปากมดลูก หรือ ช่องคลอดอักเสบเรื้อรัง(ยังต้องรักษาต่อเนื่อง)
                                </label>
                                <label class="col-lg-4" style="display: inline-block; float: none">
                                    <input type="radio" name="child_A3" id="A3_07" @(questionDetail.A3_07 == true ? "checked" : "" )> โรคมะเร็ง
                                </label>
                                <label class="col-lg-4" style="float: none">
                                    <input type="radio" name="child_A3" id="A3_08" @(questionDetail.A3_08 == true ? "checked" : "" )> เนื้องอก ก้อนเนื้อ ตุ่มเนื้อ
                                </label>
                                <div id="Sub_A3_08" style="display: none">
                                    <label class="col-lg-4" style="display: inline-block; float: none !important; margin-left: 30px;">
                                        <span style="color: red">*</span>โปรดระบุประเภท
                                        <input type="text" class="form-control" name="A3_08_01" id="A3_08_01" style="display: block;" value="@(!questionDetail.A3_08_01.IsNullOrWhiteSpace() ? questionDetail.A3_08_01 : " ")">
                                    </label>
                                    <label class="col-lg-4" style="display: inline-block; float: none !important; margin-left: 30px;">
                                        <span style="color: red">*</span>เป็นที่อวัยวะ
                                        <input type="text" class="form-control" name="A3_08_02" id="A3_08_02" style="display: block;" value="@(!questionDetail.A3_08_02.IsNullOrWhiteSpace() ? questionDetail.A3_08_02 : " ")">
                                    </label>
                                    <label class="col-lg-4" style="float: none; margin-left: 30px;">
                                        <input type="radio" name="child_A3_08" id="A3_08_03" @(questionDetail.A3_08_03 == true ? "checked" : "" )> ปัจจุบันยังเป็นอยู่และไม่ได้ผ่าตัด
                                    </label>
                                    <label class="col-lg-4" style="float: none; margin-left: 30px;">
                                        <input type="radio" name="child_A3_08" id="A3_08_04" @(questionDetail.A3_08_04 == true ? "checked" : "" )> ผ่าตัดออกแล้วแต่ไม่เกิน 2 ปี ก่อนขอเอาประกันภัย
                                    </label>
                                    <label class="col-lg-4" style="float: none; margin-left: 30px;">
                                        <input type="radio" name="child_A3_08" id="A3_08_05" @(questionDetail.A3_08_05 == true ? "checked" : "" )> ผ่าตัดออกแล้วเกินกว่า 2 ปี ก่อนขอเอาประกันภัย
                                    </label>
                                    <label class="col-lg-4" style="display: inline-block; float: none !important; margin-left: 30px;">
                                        <span style="color: red">*</span>เมื่อเดือน/ปี
                                        <input type="text" class="form-control" name="A3_08_06" id="A3_08_06" style="display: block;" value="@(!questionDetail.A3_08_06.IsNullOrWhiteSpace() ? questionDetail.A3_08_06 : " ")">
                                    </label>
                                    <label class="col-lg-4" style="display: inline-block; float: none !important; margin-left: 30px;">
                                        <span style="color: red">*</span>โรงพยาบาล
                                        <input type="text" class="form-control" name="A3_08_07" id="A3_08_07" style="display: block;" value="@(!questionDetail.A3_08_07.IsNullOrWhiteSpace() ? questionDetail.A3_08_07 : " ")">
                                    </label>
                                    <span style="display: block; margin-left: 30px;"><strong>ผลตรวจชิ้นเนื้อ</strong></span>
                                    <label class="col-lg-2" style="display: inline-block; float: none; margin-left: 30px;">
                                        <input type="radio" name="childA3_08_Sub_08_09" id="A3_08_08" @(questionDetail.A3_08_08 == true ? "checked" : "" )> ปกติ
                                    </label>
                                    <label class="col-lg-2" style="display: inline-block; float: none; margin-left: 30px;">
                                        <input type="radio" name="childA3_08_Sub_08_09" id="A3_08_09" @(questionDetail.A3_08_09 == true ? "checked" : "" )> ไม่ปกติ
                                    </label>
                                    <span style="display: block; margin-left: 30px;"><strong>แพทย์นัดติดตามผลเรื่องเนื้องอก ก้อนเนื้อ ตุ่มเนื้อ ทุกๆ</strong></span>
                                    <label class="col-lg-2" style="display: inline-block; float: none; margin-left: 30px;">
                                        <input type="radio" name="childA3_09_Sub_10_11_12_13" id="A3_08_10" @(questionDetail.A3_08_10 == true ? "checked" : "" )> 3 เดือน
                                    </label>
                                    <label class="col-lg-2" style="display: inline-block; float: none; margin-left: 30px;">
                                        <input type="radio" name="childA3_09_Sub_10_11_12_13" id="A3_08_11" @(questionDetail.A3_08_11 == true ? "checked" : "" )> 6 เดือน
                                    </label>
                                    <label class="col-lg-2" style="display: inline-block; float: none; margin-left: 30px;">
                                        <input type="radio" name="childA3_09_Sub_10_11_12_13" id="A3_08_12" @(questionDetail.A3_08_12 == true ? "checked" : "" )> 1 ปี
                                    </label>
                                    <label class="col-lg-2" style="display: inline-block; float: none; margin-left: 30px;">
                                        <input type="radio" name="childA3_09_Sub_10_11_12_13" id="A3_08_13" @(questionDetail.A3_08_13 == true ? "checked" : "" )> มากกว่า 1 ปี
                                    </label>
                                </div>
                                <label class="col-lg-4" style="float: none">
                                    <input type="radio" name="child_A3" id="A3_09" @(questionDetail.A3_09 == true ? "checked" : "" )> ซีสต์
                                </label>
                                <div id="Sub_A3_09" style="display: none">
                                    <label class="col-lg-4" style="display: inline-block; float: none !important; margin-left: 30px;">
                                        <span style="color: red">*</span>โปรดระบุประเภท
                                        <input type="text" class="form-control" name="A3_09_01" id="A3_09_01" style="display: block;" value="@(!questionDetail.A3_09_01.IsNullOrWhiteSpace() ? questionDetail.A3_09_01 : " ")">
                                    </label>
                                    <label class="col-lg-4" style="display: inline-block; float: none !important; margin-left: 30px;">
                                        <span style="color: red">*</span>เป็นที่อวัยวะ
                                        <input type="text" class="form-control" name="A3_09_02" id="A3_09_02" style="display: block;" value="@(!questionDetail.A3_09_02.IsNullOrWhiteSpace() ? questionDetail.A3_09_02 : " ")">
                                    </label>
                                    <label class="col-lg-4" style="float: none; margin-left: 30px;">
                                        <input type="radio" name="child_A3_09" id="A3_09_03" @(questionDetail.A3_09_03 == true ? "checked" : "" )> ปัจจุบันยังเป็นอยู่และไม่ได้ผ่าตัด
                                    </label>
                                    <label class="col-lg-4" style="float: none; margin-left: 30px;">
                                        <input type="radio" name="child_A3_09" id="A3_09_04" @(questionDetail.A3_09_04 == true ? "checked" : "" )> ผ่าตัดออกแล้วแต่ไม่เกิน 2 ปี ก่อนขอเอาประกันภัย
                                    </label>
                                    <label class="col-lg-4" style="float: none; margin-left: 30px;">
                                        <input type="radio" name="child_A3_09" id="A3_09_05" @(questionDetail.A3_09_05 == true ? "checked" : "" )> ผ่าตัดออกแล้วเกินกว่า 2 ปี ก่อนขอเอาประกันภัย
                                    </label>
                                    <label class="col-lg-4" style="display: inline-block; float: none !important; margin-left: 30px;">
                                        <span style="color: red">*</span>เมื่อเดือน/ปี
                                        <input type="text" class="form-control" name="A3_09_06" id="A3_09_06" style="display: block;" value="@(!questionDetail.A3_09_06.IsNullOrWhiteSpace() ? questionDetail.A3_09_06 : " ")">
                                    </label>
                                    <label class="col-lg-4" style="display: inline-block; float: none !important; margin-left: 30px;">
                                        <span style="color: red">*</span>โรงพยาบาล
                                        <input type="text" class="form-control" name="A3_09_07" id="A3_09_07" style="display: block;" value="@(!questionDetail.A3_09_07.IsNullOrWhiteSpace() ? questionDetail.A3_09_07 : " ")">
                                    </label>
                                    <span style="display: block; margin-left: 30px;"><strong>ผลตรวจชิ้นเนื้อ</strong></span>
                                    <label class="col-lg-2" style="display: inline-block; float: none; margin-left: 30px;">
                                        <input type="radio" name="childA3_09_Sub_08_09" id="A3_09_08" @(questionDetail.A3_09_08 == true ? "checked" : "" )> ปกติ
                                    </label>
                                    <label class="col-lg-2" style="display: inline-block; float: none; margin-left: 30px;">
                                        <input type="radio" name="childA3_09_Sub_08_09" id="A3_09_09" @(questionDetail.A3_09_09 == true ? "checked" : "" )> ไม่ปกติ
                                    </label>
                                    <span style="display: block; margin-left: 30px;"><strong>แพทย์นัดติดตามผลเรื่องเนื้องอก ก้อนเนื้อ ตุ่มเนื้อ ทุกๆ</strong></span>
                                    <label class="col-lg-2" style="display: inline-block; float: none; margin-left: 30px;">
                                        <input type="radio" name="childA3_09_Sub_10_11_12_13" id="A3_09_10" @(questionDetail.A3_09_10 == true ? "checked" : "" )> 3 เดือน
                                    </label>
                                    <label class="col-lg-2" style="display: inline-block; float: none; margin-left: 30px;">
                                        <input type="radio" name="childA3_09_Sub_10_11_12_13" id="A3_09_11" @(questionDetail.A3_09_11 == true ? "checked" : "" )> 6 เดือน
                                    </label>
                                    <label class="col-lg-2" style="display: inline-block; float: none; margin-left: 30px;">
                                        <input type="radio" name="childA3_09_Sub_10_11_12_13" id="A3_09_12" @(questionDetail.A3_09_12 == true ? "checked" : "" )> 1 ปี
                                    </label>
                                    <label class="col-lg-2" style="display: inline-block; float: none; margin-left: 30px;">
                                        <input type="radio" name="childA3_09_Sub_10_11_12_13" id="A3_09_13" @(questionDetail.A3_09_13 == true ? "checked" : "" )> มากกว่า 1 ปี
                                    </label>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="A3" value="0" @(!questionDetail.A3 == true ? "checked" : "" )>
                                    &nbsp; &nbsp; ไม่เคยเป็นโรคใดๆตามที่ระบุ
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            @* end Q3 *@
            @* Q4 form *@
            <div id="Q4_Form">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <div class="box-title" style="font-size: 16px;">4.ท่านมีหรือกำลังขอเอาประกันภัยโรคมะเร็งกับ บริษัท ธนชาตประกันภัย จำกัด(มหาชน) หรือมีการประกันภัยอื่นใดที่ให้ความคุ้มครองโรคมะเร็งหรือไม่ ถ้ามี โปรดแถลงรายละเอียด</div>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <ul class="answerList">
                            <li>
                                <label>
                                    <input type="radio" name="A4" value="1" @(!questionDetail.A4 == true ? "checked" : "" )>
                                    &nbsp; &nbsp; ไม่มี
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="A4" value="0" @(questionDetail.A4 == true ? "checked" : "" )>
                                    &nbsp; &nbsp; มี
                                </label>
                            </li>
                            <li id="Sub_A4" style="padding-left: 30px;">
                                <label class="col-lg-4" style="display: inline-block; float: none !important; margin-left: 30px;">
                                    <span style="color: red">*</span>ชื่อบริษัท
                                    <input type="text" class="form-control" name="A4_01" id="A4_01" style="display: block;" value="@(!questionDetail.A4_01.IsNullOrWhiteSpace() ? questionDetail.A4_01 : " ")">
                                </label>
                                <label class="col-lg-4" style="display: inline-block; float: none !important; margin-left: 30px;">
                                    <span style="color: red">*</span>จำนวนคนเอาประกันภัย
                                    <input type="text" class="form-control" name="A4_02" id="A4_02" style="display: block;" value="@(!questionDetail.A4_02.IsNullOrWhiteSpace() ? questionDetail.A4_02 : " ")">
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            @* end Q4 *@
        }

    }
}