
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>

        .myDiv {
            text-align: left;
            font-family: 'Sarabun';
            font-size: 17px;
            font-weight: lighter;
            padding-left: 70px;
            padding-right: 10px;
            padding-top: 30px;
        }

        .myHeaderDtail {
            padding-left: 70px;
            font-family: 'Sarabun';
            font-weight: normal;
            font-size: 17px;
            padding-top: 30px;
            padding-bottom: 17px
        }

        .myDtail {
            padding-left: 200px;
            font-family: 'Sarabun';
            font-size: 17px;
            font-weight: lighter;
        }

        .mySignOff {
            align-content: center;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 50px 50px;
            grid-gap: 5px;
            border: 5px;
            border-style: none none solid none;
            border-color: #1ab3f0;
            font-family: 'Sarabun';
        }

            .grid-container > div {
                font-family: 'Sarabun';
                font-size: 17px;
                font-weight: lighter;
            }

        .item1 {
            grid-row: 1 / span 2;
        }
    </style>
</head>
<div class="container" style="height:1258px; width:975px">
    <div class="grid-container">
        <table style="width:100%;">
            <tr>
                <th>
                    <div class="widget-user-image">
                        <img class="img-circle" src="@ViewBag.Logo" alt="logo" width="130" height="130">
                    </div>
                <td>
                    <div class="widget-user-header" style="padding-top: 10px; ">
                        <div style="text-align: left; font-size: 17px ">
                            <b>บริษัท สยามสไมล์โบรกเกอร์ (ประเทศไทย) จํากัด</b>
                            <br />
                            <span>
                                89/6-10 ถนนเฉลิมพงษ์ แขวงสายไหม เขตสายไหม กรุงเทพมหานคร 10220 <br />
                                โทร. 1434 , 02-533-3999
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="widget-user-header" style="padding-top: 17px; padding-right:17px">
                        <div style="text-align: end; font-size: 17px ">
                            <span class="al">1/1</span>
                        </div>
                    </div>
                    <div class="widget-user-header" style="padding-top: 30px; padding-right:17px">
                        <div style="text-align: end; font-size: 17px ">
                            <span class="al">@ViewBag.detail.d13<br />@ViewBag.detail.d15</span>
                        </div>
                    </div>
                </td>
                </th>
            </tr>
        </table>
    </div>
    <div class=" myHeaderDtail form-group">
        <span>
            เรื่อง &emsp; &nbsp; &nbsp; สถานะกรมธรรม์สิ้นสุดความคุ้มครอง <br />
            เรียน &emsp; &nbsp; &nbsp; @ViewBag.detail.d05 (ผู้ชำระเบี้ยประกัน)<br />
            อ้างถึง &emsp; &nbsp; ผู้เอาประกันภัย
        </span>
    </div>
    <div class=" myDtail form-group">
        @foreach (var itm in ViewBag.list)
        {
            <span> - @itm.sd02 หมายเลขอ้างอิง @itm.sd01</span>
            <br />
        }
    </div>
    <div class="myDiv">
        <span>
            &emsp; &emsp; &emsp;  เนื่องด้วยกรมธรรม์ของท่าน ไม่ได้รับการชำระเบี้ยภายในระยะเวลาผ่อนผัน บริษัท สยามสไมล์โบรกเกอร์ (ประเทศไทย)
            <br />
            จำกัด จึงขอเรียนแจ้งถึงสถานะกรมธรรม์ของท่าน ได้สิ้นสุดความคุ้มครอง มีผลตั้งแต่วันที่ &nbsp; @ViewBag.detail.d14
            <br />
            &emsp; &emsp;  &emsp;  ทั้งนี้ หากท่านได้ชำระเบี้ยประกันแล้ว หรือ หากท่านมีความประสงค์ต่ออายุกรมธรรม์ โปรดติดต่อ Call Center : 1434
            <br />
            หรือ Line ID :@ViewBag.lineId
            <br />
            &emsp; &emsp;  &emsp;  ขอขอบพระคุณท่านเป็นอย่างยิ่งที่ให้ความไว้วางใจและให้การสนับสนุนด้วยดีเสมอมา
        </span>
    </div>
    <div class="row">
        <div class="col-lg-4 " style="text-align: right; padding-right: 70px; padding-top: 50px; font-size: 17px; font-family: 'Sarabun'; font-weight: lighter; ">
            <span>
                @*ลงชื่อ<img class="img-circle" src="@ViewBag.Signature" alt="signature" width="220" height="70"> &emsp; &emsp;  &emsp; &emsp;<br />
        (นางสุนีย์ เที่ยงจันทราทิพย์)&emsp;&emsp; &emsp;  &emsp;&emsp;&emsp;<br />*@
                &emsp;&emsp;&emsp; &emsp;ขอแสดงความนับถือ&emsp; &emsp;  &emsp; &emsp;&emsp;&emsp;&emsp;<br />
                บริษัท สยามสไมล์โบรกเกอร์ (ประเทศไทย) จํากัด &emsp; &emsp;

            </span>
        </div>
    </div>

</div>
<footer>
        <div class="mySignOff">
            <img class="img-circle" src="@ViewBag.Footer" alt="Footer" style="height:130px; width:975px;">
        </div>
</footer>







