@{
    Layout = "../Shared/_Layout_Empty.cshtml";
}

<style>
    body {
        font-family: Kanit,sans-serif !important;
    }

    .page {
        /*box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);*/
        /*background-image: url(http://customer.siamsmile.co.th/service/content/img/BPbackground.jpg) !important;*/
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

        .page[size="A4"][layout="portrait"] {
            width: 29.7cm;
            height: 21cm;
        }

    Table, Tr, Td {
        /*font: 11pt arial, Kanit, sans-serif;*/
        font: 11pt Kanit, sans-serif !important;
        /*font: 9pt, tahoma;*/
        border-bottom: 2px;
    }

    img {
        max-width: 100px;
        height: auto;
    }

    .item {
        width: 500px;
        min-height: 500px;
        max-height: auto;
        float: left;
        margin: 3px;
        padding: 3px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .ggg {
        text-align: center
    }
</style>
<body>
    <form id="Mainform">
        <div class="page" style="">
            <div class="col-xs-12 col-md-12">
                <img src="~/Content/img/logo_larg22x.png" class="center" />
            </div>
            <div class="col-xs-12 col-md-12">
                <p style="font-size:16px;" class="ggg">ตารางความคุ้มครอง</p>
            </div>
            <div class="col-xs-12 col-md-12">
                <p style="font-size:16px;" class="ggg">ประกันภัยการเจ็บป่วยด้วยโรคติดเชื้อไวรัสโคโรนา 2019 (COVID-19) และอุบัติเหตุ</p>
            </div>
            <table style="width: 90%;  margin-bottom:20px; border: 1px solid black;">
                <tr style="height: 30px;">
                    <td style="width: 20%;">
                        <span style="margin: 5px;color:gray">ชื่อผู้เอาประกันภัย<span id="name"></span></span>
                    </td>
                    <td style="width: 80%;">
                        <span id="txtCustomer_fName">@ViewData["FirstName"] @ViewData["LastName"]</span>
                    </td>
                </tr>
                <tr style="height: 30px;">
                    <td style="width: 20%;">
                        <span style="margin: 5px;color:gray">ที่อยู่ปัจจุบัน<span id="s_address"></span></span>
                    </td>
                    <td style="width: 80%;">
                        <span id="address">@ViewData["Address"]</span>
                    </td>
                </tr>
                <tr style="height: 30px;">
                    <td style="width: 20%;">
                        <span style="margin: 5px;color:gray">เพศ<span id="s_sex"></span></span>
                    </td>
                    <td style="width: 80%;">
                        <span id="sex">@ViewData["Sex"]</span>
                    </td>
                </tr>
                <tr style="height: 30px;">
                    <td style="width: 20%;">
                        <span style="margin: 5px;color:gray">วัน/เดือน/ปี เกิด<span></span></span>
                    </td>
                    <td style="width: 80%;">
                        <span id="hbd">@ViewData["HBD"]</span>
                    </td>
                </tr>
                <tr style="height: 30px;">
                    <td style="width: 20%;">
                        <span style="margin: 5px;color:gray">อาชีพ<span id="s_occupation"></span></span>
                    </td>
                    <td style="width: 80%;">
                        <span id="occupation">@ViewData["Occupation"]</span>
                    </td>
                </tr>
            </table>

            <table style="width: 90%;  border-top: 1px solid gray;border-top-width: 2px;border: 1px solid black;">
                <tr style="height: 50px;">
                    <td>
                        <span style="margin: 5px;color:gray">ระยะเวลาประกันภัย</span>
                    </td>
                    <td>
                        <span id="startCoverDate" style="color: gray">เริ่มวันที่&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>@ViewData["startCoverDate"]</span>
                    </td>
                    <td>
                        <span style="color: gray">สิ้นสุดวันที่&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span id="endCoverDate">@ViewData["endCoverDate"]</span>
                    </td>
                    <td>
                        <span style="color: gray">เวลา&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>24:00 น.</span>
                    </td>
                </tr>
            </table>
            @*<hr style="margin-left: 20px;border-width:2px;color:gray;width: 90%">*@
            <table style=" width: 90%;

                    border: 1px solid black;">
                <tr style=" height: 50px;border-bottom: 1px solid black;">
                    <td class="text-left" style="width: 40%;">
                        <span style="color: gray;font-size:16px;">ข้อตกลงความคุ้มครอง/เอกสารแนบท้าย</span>
                    </td>
                    <td class="text-center" style="width: 30%;border-right: 1px solid black;">
                        <span style="color: gray;font-size:16px;">จำนวนเงินเอาประกันภัย (บาท)</span>
                    </td>
                    <td style="width: 30%;border-right: 1px solid black;" class="ggg">
                        <span style="color: gray;font-size:16px;">เบี้ยประกันภัย (บาท)</span>
                    </td>
                </tr>
                <tr>
                    <td style="border-right: 1px solid black;height: 50px;">
                        <span style="margin-top:5px;margin-left:5px">
                            1. ผลประโยชน์การเจ็บป่วยด้วยโรคติดเชื้อไวรัส
                            โคโรนา 2019(COVID - 19)
                        </span>
                    </td>
                    <td class="text-center" style="height: 50px;border-right: 1px solid black;">
                        <span style="" id="maxCover">
                            @ViewData["MaxCover"]
                        </span>
                    </td>
                    <td class="text-center" style="height: 50px;border-right: 1px solid black;">
                        <span style="" id="maxCover">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="border-right: 1px solid black;">
                        <span style="margin-left: 5px">
                            2. ผลประโยชน์การเสียชีวิต การสูญเสียอวัยวะ
                            สายตาหรือทุพพลภาพถาวรสิ้นเชิง (อ.บ. 1)
                        </span>
                    </td>
                    <td class="text-center" style="border-right: 1px solid black;">
                        <span style="" id="maxCover2">
                            @ViewData["MaxCover"]
                        </span>
                    </td>
                    <td class="text-center" style="height: 50px;">
                        <span style="">
                        </span>
                    </td>
                </tr>
            </table>
            <br />
            <table style=" width: 90%;
                    margin-left: 20px;

                   ">
                <tr>
                    <td style="text-align: right;width: 70%;">
                        <span style="color: gray">
                            เบี้ยประกันภัยสุทธิ
                        </span>
                    </td>
                    <td style="text-align: right;width: 20%;">
                        <span style="" id="premium">
                            @ViewData["premium"]
                        </span>
                    </td>
                    <td style="text-align: right;width: 10%;">
                        <span style="">
                            บาท
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;width: 70%">
                        <span style="color: gray">
                            อากรแสตมป์
                        </span>
                    </td>
                    <td style="text-align: right;width: 20%">
                        <span style="">
                            20
                        </span>
                    </td>
                    <td style="text-align: right;width: 10%;">
                        <span style="">
                            บาท
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;width: 70%">
                        <span style="color: gray">
                            ภาษี
                        </span>
                    </td>
                    <td style="text-align: right;width: 20%">
                        <span style="">
                            -
                        </span>
                    </td>
                    <td style="text-align: right;width: 10%;">
                        <span style="">
                            บาท
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;width: 70%">
                        <span style="color: gray">
                            เบี้ยประกันรวม
                        </span>
                    </td>
                    <td style="text-align: right;width: 20%">
                        <span style="" id="sum">
                            @ViewData["sum"]
                        </span>
                    </td>
                    <td style="text-align: right;width: 10%;">
                        <span style="">
                            บาท
                        </span>
                    </td>
                </tr>
            </table>
            @*<div class="col-xs-12 col-md-12">
                    <span>ผู้จัดการโครงการ: บริษัท สยามสไมล์โบรกเกอร์ (ประเทศไทย) จำกัด</span>
                </div>
                <div class="col-xs-12 col-md-12">
                    <span>บริษัทผู้รับประกันภัย : บริษัท อาคเนย์ประกันภัย จำกัด (มหาชน)  </span>
                </div>*@
        </div>
    </form>
    <input type="hidden" id="hd_appId" value="@ViewBag.appId" />
</body>

@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            //alert("555");
            $("#maxCover").inputmask({
                prefix: "",
                alias: "currency",
                digits: 0,
            });

            $("#maxCover2").inputmask({
                prefix: "",
                alias: "currency",
                digits: 0,
            });

            $("#premium").inputmask({
                prefix: "",
                alias: "currency",
                digits: 0,
            });

            $("#sum").inputmask({
                prefix: "",
                alias: "currency",
                digits: 0,
            });

        });
    </script>
}