@{
    ViewBag.Title = "Application " + ViewBag.AppCode;
}
<form id="Mainform">
    <div class="row">
        @* detail form *@
        <div id="detail_form" class="col-xs-12 col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    <h4 class="box-title">ข้อมูลผู้เอาประกัน</h4>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-xs-12 col-md-offset-1 col-md-4">
                            <label for="txtIdCard">บัตรประชาชน :<span class="red">*</span></label>
                            <input type="text" id="txtIdCard" class="form-control" value="@ViewBag.IdentityCard" placeholder="--กรุณากรอกข้อมูลเลขบัตรประชาชน13หลัก--" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-md-offset-1 col-md-4">
                            <label class="control-label" for="">แผนประกัน :<span class="red">*</span></label>
                            <select id="select_plan" class="form-control" disabled>
                                <option value="-1">---กรุณาเลือก---</option>
                                @if (ViewBag.planType != null)
                                {
                                    foreach (var itm in ViewBag.planType)
                                    {
                                        if (ViewBag.ProductId != null && ViewBag.ProductId == itm.ProductId)
                                        {
                                            <option value="@itm.ProductId" selected="selected">@(String.Format("{0} {1} เบี้ย {2} บาท",itm.Product,itm.MaxCover,itm.PremiumPerYear))</option>
                                        }
                                        else
                                        {
                                            <option value="@itm.ProductId">@(String.Format("{0} {1} เบี้ย {2} บาท",itm.Product,itm.MaxCover,itm.PremiumPerYear))</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <label class="control-label" for="">วันที่เริ่มคุ้มครอง (เวลา 00:01 น.) - วันที่สิ้นสุด (เวลา 24:00 น.) :<span class="red">*</span></label>
                            <input type="text" class="form-control pull-right" name="StartCoverDate" id="StartCoverDate"
                                   value="@(String.Format("{0} - {1}", ViewBag.startCoverDate , ViewBag.endCoverDate))" placeholder="---กรุณาเลือก---">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-md-offset-1 col-md-4">
                            <label class="control-label" for="">เพศ :<span class="red">*</span></label>
                            <select id="select_sex" class="form-control">
                                @if (ViewBag.sex != null)
                                {
                                    foreach (var itm in ViewBag.sex)
                                    {
                                        if (ViewBag.SexId != null && ViewBag.SexId == itm.SexId)
                                        {
                                            <option value="@itm.SexId" selected="selected">@itm.Sex</option>
                                        }
                                        else if (itm.SexId == 1)
                                        {
                                            <option value="-1">---กรุณาเลือก---</option>
                                        }
                                        else
                                        {
                                            <option value="@itm.SexId">@itm.Sex</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="col-xs-12  col-md-4">
                            <label class="control-label" for="">วันเกิด :<span class="red">*</span></label>
                            <input type="text" class="form-control pull-right" name="Bdate" id="Bdate"
                                   data-date-language="th-th" data-provide="datepicker" value="@ViewBag.bDate" placeholder="---กรุณาเลือก---">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-6 col-md-offset-1 col-md-4">
                            <label for="txtCustomer_fName">ชื่อผู้เอาประกัน :<span class="red" style="font-size: smaller">*ไม่ต้องกรอกคำนำหน้า</span></label>
                            <input type="text" id="txtCustomer_fName" class="form-control" value="@ViewBag.FirstName" placeholder="กรุณากรอกชื่อ" />
                        </div>
                        <div class="col-xs-6  col-md-4">
                            <label for="txtCustomer_lName">นามสกุล :<span class="red">*</span></label>
                            <input type="text" id="txtCustomer_lName" class="form-control" value="@ViewBag.LastName" placeholder="กรุณากรอกนามสกุล" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-6 col-md-offset-1 col-md-4">
                            <label for="txtCustomer_phone">เบอร์โทรศัพท์ :<span class="red">*</span></label>
                            <input type="tel" id="txtCustomer_phone" class="form-control" value="@ViewBag.MobilePhoneNumber" placeholder="ระบุตัวเลข 10 หลัก" data-inputmask="&quot;mask&quot;: &quot; 999-999-9999&quot;" data-mask="" />
                        </div>
                        <div class="col-xs-6  col-md-4">
                            <label for="txtCustomer_email">E-mail :</label>
                            <input type="text" id="txtCustomer_email" class="form-control" value="@ViewBag.Email" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-6 col-md-offset-1 col-md-4">
                            <label for="txtCustomer_Line">Line ID :</label>
                            <input type="text" id="txtCustomer_Line" class="form-control" value="@ViewBag.LineId" />
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <label class="control-label" for="">อาชีพ:<span class="red">*</span></label>
                            <select id="select_occupation" class="form-control">
                                @if (ViewBag.occupation != null)
                                {
                                    foreach (var itm in ViewBag.occupation)
                                    {
                                        if (ViewBag.OccupationId != null && ViewBag.OccupationId == itm.OccupationId)
                                        {
                                            <option value="@itm.OccupationId" selected>@itm.Occupation</option>
                                        }
                                        else if (itm.OccupationId == 1)
                                        {
                                            <option value="-1">---กรุณาเลือก---</option>
                                        }
                                        else
                                        {
                                            <option value="@itm.OccupationId">@itm.Occupation</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-md-offset-1 col-md-9">
                            <label for="txtCustomer_Address">ที่อยู่ :<span class="red">*</span></label>
                            <input type="text" id="txtCustomer_Address" class="form-control" value="@ViewBag.Address" placeholder="กรุณากรอกบ้านเลขที่,หมู่,อาคาร,ซอย,ถนน" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-4 col-md-offset-1 col-md-3">
                            <label class="control-label" for="">จังหวัด :<span class="red">*</span></label>
                            <select class="form-control" id="select_province">
                                <option value="-1" selected disabled>---กรุณาเลือกจังหวัด---</option>
                                @if (ViewBag.provinceList != null)
                                {
                                    foreach (var itm in ViewBag.provinceList)
                                    {
                                        if (ViewBag.provinceId == itm.Province_ID)
                                        {
                                            <option value="@itm.Province_ID" selected>@itm.ProvinceDetail</option>
                                        }
                                        else
                                        {
                                            <option value="@itm.Province_ID">@itm.ProvinceDetail</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label class="control-label" for="">อำเภอ/เขต :<span class="red">*</span></label>
                            <select class="form-control" id="select_district"></select>
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label class="control-label" for="">ตำบล/แขวง :<span class="red">*</span></label>
                            <select class="form-control" id="select_subDistrict"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-6 col-md-offset-1 col-md-3">
                            <label for="txtCustomer_Address">รหัสไปรษณีย์ :<span class="red">*</span></label>
                            <input type="text" id="txtPostCode" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-md-offset-1 col-md-3 checkbox" style="margin-top: 10px">
                            <label style="padding-left: 0px">
                                <input type="checkbox" name="sendSMS" id="sendSMS" class="icheckbox_minimal-blue chk_confirm" /> ส่ง SMS
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer clearfix">
                <div class="col-xs-6 col-md-offset-3 col-md-3">
                    <button type="button" id="btnSubmit" class="btn btn-block btn-success btn-ellipse" onclick="">
                        บันทึก Application
                    </button>
                </div>
                <div class="col-xs-6 col-md-3">
                    <button type="button" id="btnCancel" class="btn btn-block btn-danger btn-ellipse" onclick="">
                        ยกเลิก
                    </button>
                </div>
            </div>
        </div>
    </div>
    @* end form *@
    <input type="hidden" id="hd_appId" value="@ViewBag.appId" />
    <input type="hidden" id="hd_userId" value="@ViewBag.userId" />
    <input type="hidden" id="hd_districtId" value="@ViewBag.districtId" />
    <input type="hidden" id="hd_provinceId" value="@ViewBag.provinceId" />
    <input type="hidden" id="hd_subdistrictId" value="@ViewBag.SubDistrictId" />
    <input type="hidden" id="hd_sdate" value="@ViewBag.sDate" />
    <input type="hidden" id="hd_isSendCover" value="@ViewBag.IsSendCover" />
</form>
@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {

            // check app id not null
            //if ($('#hd_appId').val() == 0) swal_fail("appId not fount", () => { window.location = "@Url.Action("EditTable","Covid19Application")" })
            if ($('#hd_appId').val() == 0) swal_fail("Appication not fount", () => { window.close() })

            //check print report
            var isSendCover = $('#hd_isSendCover').val()
            if (isSendCover == "False") swal_fail_warning("กรุณาปริ้นรายงานส่งบริษัทประกัน !", () => { window.close() });

            $("body").addClass("sidebar-collapse");

            var datestart = new Date();
            datestart.setDate(datestart.getDate() + 1);
            datestart.setHours(12);
            datestart.setMinutes(00);
            datestart.setSeconds(00);

            $("#StartCoverDate").prop('disabled', true);

            if ($('#StartCoverDate').val() == "") {
                $('#StartCoverDate').datepicker('setDate', datestart);
            }

            $('#Bdate').datepicker({
                autoclose: true
            });

            getdistrict($('#hd_provinceId').val());

            $('#select_province').change((e) => {
                e.preventDefault();

                getdistrict($('#select_province').val());
            });

            $('#select_district').change((e) => {
                e.preventDefault();
                getSubDistrict($('#select_district').val());
            });

            $('#select_subDistrict').change((e) => {
                e.preventDefault();
                getPostCode($('#select_subDistrict').val());
            });

            //click Save
            $('#btnSubmit').click(function (e) {
                $('#btnSubmit').attr('disabled', 'disabled');

                let idCard = $('#txtIdCard').val();
                checkId(idCard)

                e.preventDefault();

                if (ValidateApplication()) {

                    loadingSpinner('fadeIn');
                    //เช็คว่า กรอก e-mail หรือเปล่า
                    if ($('#txtCustomer_email').val() == "") {

                    //save app
                        swal_confirm("ยืนยันข้อมูล", "", function() {

                            Save();
                        },
                            function () {
                                loadingSpinner('fadeOut');
                                $('#btnSubmit').removeAttr('disabled', 'disabled');
                            }
                        );

                    } else {

                        //check formath e-mail
                        $.get('@Url.Action("CheckEmail", "Covid19Application")',
                            {
                                email: $('#txtCustomer_email').val()
                            },

                            (data) => {
                                if (data.IsResult) {

                                    //formath true save app
                                    swal_confirm("ยืนยันข้อมูล", "", function () {

                                        Save();
                                    },
                                        function () {
                                            loadingSpinner('fadeOut');
                                            $('#btnSubmit').removeAttr('disabled', 'disabled');
                                        }
                                    );

                                } else {

                                    loadingSpinner('fadeOut');
                                    $('#btnSubmit').removeAttr('disabled', 'disabled');
                                    swal_fail(data.Msg);
                                }
                            });
                    }

                } else {

                    $('#btnSubmit').removeAttr('disabled', 'disabled');
                }
            });

            $('#btnCancel').click((e) => {
                window.close();
            });

        });

        const ValidateApplication = () => {

            if ($('#txtIdCard').val() == "") {
                swal_fail("กรุณากรอกเลขบัตรประชาชน");
                return false
            }
            if ($('#select_plan').val() == -1) {
                swal_fail("กรุณาเลือกแผนประกัน");
                return false
            }
            if ($('#StartCoverDate').val() == "") {
                swal_fail("กรุณากรอกวันที่เริ่มคุ้มครอง");
                return false
            }
            if ($('#select_sex').val() == -1) {
                swal_fail("กรุณาเลือกเพศ");
                return false
            }
            if ($('#Bdate').val() != "") {
                checkHBD();
                //check (1 > HBD < 99)
                if (checkHBD()) {
                } else {
                    swal_info("กรุณาตรวจสอบวันเกิด");
                    return false
                }
            } else {
                swal_info("กรุณากรอกวันเกิด");
                return false
            }
            if ($('#txtCustomer_fName').val() == "") {
                swal_fail("กรุณากรอกชื่อผู้เอาประกัน");
                return false
            }
            if ($('#txtCustomer_lName').val() == "") {
                swal_fail("กรุณากรอกนามสกุลผู้เอาประกัน");
                return false
            }
            if ($('#select_occupation').val() == -1) {
                swal_fail("กรุณาเลือกอาชีพ");
                return false
            }
            if ($('#txtCustomer_phone').val() == "") {
                swal_info("กรุณากรอกเบอร์โทรศัพท์");
                return false
            } else {
                let phone = $('#txtCustomer_phone').val().trim().replaceAll('-', '').replaceAll('_', '');
                if (phone.length != 10) {
                    swal_info("กรุณากรอกเบอร์โทรศัพท์ 10 หลัก");
                    return false
                }
            }
            if ($('#txtCustomer_Address').val() == "") {
                swal_fail("กรุณากรอกที่อยู่");
                return false
            }
            if ($('#select_province').val() == -1) {
                swal_info("กรุณาเลือกจังหวัด");
                return false
            }
            if (!$('form').valid()) {
                swal_fail('กรุณากรอกเบอร์โทรศัพท์ให้ถูกต้อง');
                return false
            }

            return true;
        }

        const getdistrict = (provinceId) => {
            $('#select_district').empty();
            $.get('@Url.Action("GetDistrict","Covid19Application")', { provinceId: provinceId }, (data)=>
            {
                $.each(data, function (key, value) {
                    if($('#hd_districtId').val() == value.District_ID)
                    {
                        $('#select_district').append(
                            $("<option></option>")
                                .val(value.District_ID)
                                .text(value.DistrictDetail)
                                .attr('selected', 'selected')
                                .change());
                        //$('#select_district').val($('#hd_districtId').val()).change();
                    }
                    else
                    {
                        $('#select_district').append($("<option></option>").attr('value',value.District_ID).text(value.DistrictDetail));
                    }

                });
                if ($('#hd_districtId').val() == null) {
                    $('#select_district').val($('#select_district option:first').val());
                }

                getSubDistrict($('#select_district').val());
            });
        }

        //fun check HBD
        const checkHBD = () => {

            let now = new Date();
            let year = now.getFullYear();
            let HBD = $('#Bdate').datepicker('getDate');
            let year_HBD = moment(HBD).format('YYYY');
            let checkHBD = year - year_HBD;
            if (checkHBD >= 1 && checkHBD <= 99) {
                return true
            } else {
                return false
            }
        }

        const getSubDistrict = (districtId) => {
            $('#select_subDistrict').empty();
            $.get('@Url.Action("GetSubDistrict","Covid19Application")', { districtId: districtId }, (data)=>
            {
                $.each(data, function (key, value) {
                    if($('#hd_subdistrictId').val() == value.SubDistrict_ID)
                    {
                        $('#select_subDistrict').append(
                            $("<option></option>")
                                .val(value.SubDistrict_ID)
                                .text(value.SubDistrictDetail)
                                .attr('selected', 'selected')
                                .change());
                        //$('#select_subDistrict').val($('#hd_subdistrictId').val()).change();
                    }
                    else
                    {
                        $('#select_subDistrict').append($("<option></option>").attr('value',value.SubDistrict_ID).text(value.SubDistrictDetail));
                    }

                });
                if ($('#hd_subdistrictId').val() == null) {
                    $('#select_subDistrict').val($('#select_subDistrict option:first').val());
                }
                getPostCode($('#select_subDistrict').val());
            });
        }

        const getPostCode = (subDistrictId) => {
            $('#txtPostCode').val('');
            $.get('@Url.Action("GetPostCode","Covid19Application")', { subDistrictId: subDistrictId }, (data) => {
                $('#txtPostCode').val(data);
            });
        }

        var isSend = false;
        const Save = () => {
            loadingSpinner('fadeIn');
            //var startCoverDate = $('#StartCoverDate').datepicker('getDate');
            //var startCoverDateConvert = moment(startCoverDate).format('DD-MM-YYYY HH:mm:ss');
            var startCoverDateConvert = $('#hd_sdate').val();

            var Bdate = $('#Bdate').datepicker('getDate');
            var bDateConvert = moment(Bdate).format('DD-MM-YYYY');

                //submit data
            $.post('@Url.Action("UpdateApplication","Covid19Application")',

                {
                    appId: $('#hd_appId').val(),
                    productId: $('#select_plan').val(),
                    startCoverDate: startCoverDateConvert,
                    firstName: $('#txtCustomer_fName').val(),
                    lastName: $('#txtCustomer_lName').val(),
                    identityCardNo: $('#txtIdCard').val(),
                    sexId: $('#select_sex').val(),
                    birthDate: bDateConvert,
                    mobilePhoneNumber: $('#txtCustomer_phone').val(),
                    email: $('#txtCustomer_email').val(),
                    lineId: $('#txtCustomer_Line').val(),
                    address: $('#txtCustomer_Address').val(),
                    subDistrictId: $('#select_subDistrict').val(),
                    occupationId: $('#select_occupation').val()
                },
                (data) => {
                    if (data.IsResult) {

                        //ไม่ให้ Save Double
                        $('#btnSubmit').attr('disabled', 'disabled');

                        loadingSpinner('fadeOut');

                        swal_success(data.Msg);

                        //updata data center
                        updataDataCenter(data.Result);

                        setTimeout(() => { window.location = "@Url.Action("EditTable", "Covid19Application")"; }, 2000);

                        //Check SendSMS?
                        if (isSend) {
                            SendSMS(data.Result);
                        }

                    } else if (data.SessionTimeOut) {

                        swal_fail(data.Msg, function () {
                            location.reload();
                        });
                    } else {

                        $('#btnSubmit').removeAttr('disabled', 'disabled');
                        loadingSpinner('fadeOut');
                        swal_fail(data.Msg);
                    }
                });
        }

        //checkBox is check sendSMS
        $("#sendSMS").on('ifChanged', function () {
            isSend = $(this).is(':checked');
        })

         //updata data center
        const updataDataCenter = (appId) => {

            $.post('@Url.Action("UpdateDataCenter", "Covid19Application")',

                {
                    appId: appId
                },
                (d) => {
                    if (d.IsResult) {
                        return true
                    } else {
                        return swal_fail(d.Msg);
                    }
                });
        };

        //check idCard
        const checkId = (id) => {
            $.get('@Url.Action("CheckCitizenId","Covid19Application")', { identityIDCard: id }, (data) => {
                if (data == false) {
                    swal_fail('กรุณากรอกเลขบัตรประชาชน13หลักให้ถูกต้อง');
                    $('#btnSubmit').removeAttr('disabled', 'disabled');
                    return false;
                } else {
                    return true;
                }
            });
        }

        const SendSMS = (appId) => {
            var encodeAppId = btoa(appId);
            var url = "http://customer.siamsmile.co.th/service/portal/" + encodeAppId + "/13";
            var fullname = $('#txtCustomer_fName').val() + ' ' + $('#txtCustomer_lName').val();
            let phone = $('#txtCustomer_phone').val().trim().replaceAll('-', '');

            var message = "ขอบคุณที่ท่านไว้วางใจสยามสไมล์ เลือกใช้บริการประกันภัย COVID-19 โปรดตรวจสอบรายละเอียดความคุ้มครองได้ที่ " + url + " สอบถามเพิ่มเติมติดต่อ Call center 1434 หรือ Line : https://line.me/R/ti/p/%40siamsmile";

            $.ajax({
                type: "POST",
                dataType: 'json',
                url: "http://operation.siamsmile.co.th:9215/api/sms/SendSMSV2",
                data: {
                    SMSTypeId: 18,
                    Message: message,
                    PhoneNo: phone,
                    CreatedById: $('#hd_userId').val()
                },
                headers: {
                    Authorization: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwcm9qZWN0aWQiOjl9.XX7R_Ik8pydv2e04ZvrDew8tlszSDrjvTEYKdgO4t7A'
                },
                success: function(data){
                    console.log('ทำการส่ง SMS แล้ว');
                },
                error: function (xhr, textStatus, errorThrown) {
                    swal_fail('เกิดข้อผิดพลาด! ' + textStatus);
                }
            });
        }
    </script>
}