@{

    ViewBag.Title = "Application :" + ViewBag.AppCode;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @* detail form *@
    <div id="detail_form" class="col-xs-12 col-md-12">
        <div class="box box-success">
            <div class="box-header">
                <h4 class="box-title">ข้อมูลผู้เอาประกัน</h4>
            </div>
            <div class="box-body">
                
                <div class="form-group row">
                    <div class="col-xs-12 col-md-offset-1 col-md-4">
                        <label for="txtIdCard">บัตรประชาชน :<span id="txtIdCard">@ViewBag.IdentityCard</span></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-md-offset-1 col-md-4">
                        <label for="txtIdCard">เลขกรมธรรม์ :<span id="txtIdCard">@ViewBag.PolicyNo</span></label>
                    </div>
                    <div class="col-xs-12  col-md-4">
                        <label for="txtAppStatus">สถานะ :<span id="txtAppStatus">@ViewBag.AppStatus</span></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-md-offset-1 col-md-4">
                        <label class="control-label" for="">แผนประกัน :<span id="txtPlan">@(String.Format("{0} {1} เบี้ย {2} บาท", ViewBag.Plan, ViewBag.MaxCover, ViewBag.PremiumPerYear))</span></label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <label class="control-label" for="">วันที่คุ้มครอง :<span id="txtStartCoverDate">@(String.Format("{0} - {1}", ViewBag.startCoverDate , ViewBag.endCoverDate))</span></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-md-offset-1 col-md-4">
                        <label class="control-label" for="">เพศ :<span id="txtSex">@ViewBag.Sex</span></label>
                    </div>
                    <div class="col-xs-12  col-md-4">
                        <label class="control-label" for="">วันเกิด :<span id="txtbDate"></span>@ViewBag.bDate</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-6 col-md-offset-1 col-md-4">
                        <label for="txtCustomer_fName">ชื่อผู้เอาประกัน :<span id="txtCustomer_fName">@ViewBag.FirstName</span></label>
                    </div>
                    <div class="col-xs-6  col-md-4">
                        <label for="txtCustomer_lName">นามสกุล :<span id="txtCustomer_lName">@ViewBag.LastName</span></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-6 col-md-offset-1 col-md-4">
                        <label for="txtCustomer_phone">เบอร์โทรศัพท์ :<span id="txtCustomer_phone">@ViewBag.MobilePhoneNumber</span></label>
                    </div>
                    <div class="col-xs-6  col-md-4">
                        <label for="txtCustomer_email">E-mail :<span id="txtCustomer_email">@ViewBag.Email</span></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-6 col-md-offset-1 col-md-4">
                        <label for="txtCustomer_Line">Line ID :<span id="txtCustomer_Line">@ViewBag.LineId</span></label>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label for="txtCustomer_Line">อาชีพ :<span id="txtCustomer_Line">@ViewBag.Occupation</span></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-md-offset-1 col-md-12">
                        <label for="txtCustomer_Address">ที่อยู่ :<span id="txtCustomer_Address">@ViewBag.Address</span></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-md-offset-1 col-md-12">
                        <label for="txtSale">ตัวแทน : <span id="txtSale">@(String.Format("{0} {1}", ViewBag.SaleEmployeeCode, ViewBag.SaleEmployeeName))</span></label>
                    </div>
                    <div class="col-xs-12 col-md-offset-1 col-md-12">
                        <label for="txtBranch">สาขา : <span id="txtBranch">@ViewBag.SaleBranchName</span></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer clearfix">
            <div class="col-xs-6 col-md-offset-4 col-md-3">
                <button type="button" id="btnCancel" class="btn btn-block btn-danger" onclick="">
                    ปิด
                </button>
            </div>
        </div>
    </div>
</div>
@* end form *@
@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            $('#btnCancel').click((e) => {
                window.close();
            });
        });
    </script>
}