<header class="main-header">
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini">S<b>S</b>O</span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg"><b>Login</b> SSO</span>
    </a>
    @* END Logo *@
    @* BEGIN Header *@
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @* BEGIN User Account Menu *@
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">@ViewBag.EmpFullName</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <p>
                                @ViewBag.EmpFullName
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="@Url.Action("ChangePassword", "Auth")" class="btn btn-default btn-flat">เปลี่ยนรหัสผ่าน</a>
                            </div>
                            <div class="pull-right">
                                <a href="@Url.Action("LogOutAll", "Auth")" class="btn btn-default btn-flat">ออกจากระบบ</a>
                            </div>
                        </li>
                    </ul>
                </li>
                @* END User Account Menu *@
            </ul>
        </div>
    </nav>
</header>