@model IEnumerable<SmileSPACommunity.ViewModels.GetDataSaveEditInsuredDto>
@{
    Layout = null;

}

<div class="table-responsive">
    <table class="table" id="responseDataTable">
        <thead>
            <tr>
                <th class="text-center">App ID</th>
                <th>ชื่อกรมธรรม์</th>
                <th>สถานะ</th>
                <th class="text-center">วันเริ่มคุ้มครอง</th>
                <th>วันสิ้นสุดคุ้มครอง</th>
                <th class="text-center"></th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var get in Model)
                {
                        <tr>
                            <td class="text-center"> @get.PersonnelApplicationCode </td>
                            <td> @get.PersonnelApplicationName</td>
                            <td> @get.PersonnelApplicationStatusName</td>
                            <td class="text-center">
                                @get.StartCoverDate
                            </td>
                            <td>
                                @get.EndCoverDate
                            </td> 
                            <td class="text-center">
                                <a href="/PAPersonnel/PAPersonnelDetail?appId=@get.PersonnelApplicationId" target="_blank" class="btn btn-primary viewData"><i class="fa fa-laptop"></i> รายละเอียด</a>
                            </td>
                            <td class="text-center">
                                <a href="javascript:void(0)" class="btn btn-warning edit" data-id="@get.PersonnelApplicationId"><i class="fa fa-edit"></i> แก้ไขข้อมูล</a>
                            </td>
                        </tr>

                }
            }

        </tbody>
    </table>
</div>