@{
    Layout = null;
    int statusId = ViewBag.status;
}

<div class="table-responsive">
    <table class="table" id="responseDataTable">
        <thead>
            <tr>
                <th class="text-center">รหัสรายการ</th>
                <th>App ID</th>
                <th>ชื่อกรมธรรม์</th>
                <th>วันที่เริ่มคุ้มครอง</th>
                <th>วันที่มีผลบังคับ</th>
                <th>สถานะการแก้ไข</th>
                <th class="text-center">สาเหตุการแก้ไข</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 1; i <= 20; i++)
                {
                    <tr>
                        <td class="text-center">@i.</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td class="text-center">
                            @{

                                if (statusId == 4)
                                {
                                    <a href="javascript:void(0)" class="btn btn-warning reasonDetail" data-id="@i" data-status="@statusId">
                                        <i class="fa fa-chat-right-text-fill"></i>
                                    </a>
                                }
                            }

                        </td>
                        <td class="text-center">
                            @{

                                if (statusId == 3)
                                {
                                    <a href="javascript:void(0)" class="btn btn-primary action-data" data-id="@i" data-status="@statusId">
                                        <i class="fa fa-search"></i> ดูรายละเอียด
                                    </a>
                                }
                                else if (statusId == 4)
                                {
                                    <a href="javascript:void(0)" class="btn btn-warning action-data" data-id="@i" data-status="@statusId">
                                        <i class="fa fa-edit"></i> แก้ไข
                                    </a>
                                }
                                else
                                {
                                    <a href="javascript:void(0)" class="btn btn-warning verify-data" data-id="@i" data-status="@statusId">
                                        <i class="fa fa-laptop"></i> ตรวจสอบ
                                    </a>
                                }
                            }

                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>