@{

    Layout = null;
}
@using System.Web.Optimization
@using WebHelpers.Mvc5.Enum
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        JWTAuthentication Login
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @Styles.Render("~/Bundles/css")
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>SiamSmile</b>Login</a>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">เปลี่ยนรหัสผ่าน</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="form1_msg" class="alert alert-danger alert-dismissible" style="display: none;">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-ban"></i> เตือน!</h4>
                            กรุณากรอกข้อมูลให้ถูกต้องและครบถ้วน
                        </div>
                        @if(ViewBag.ErrorText != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                                @ViewBag.ErrorText
                            </div>
                        }
                        <!-- form start -->
                            <form class="form-horizontal" id="form1" action="@Url.Action("ChangePassword")" onsubmit="return form_submission()" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="ReturnURL" value="@ViewBag.url" />
                                <div class="box-body">
                                    @*Username*@
                                    <div class="form-group">
                                        <label for="Username" class="col-sm-4 control-label">Username *</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" placeholder="รหัสพนักงาน" name="Username" id="Username">
                                        </div>
                                    </div>

                                    @*รหัสเดิม*@
                                    <div class="form-group">
                                        <label for="OldPassword" class="col-sm-4 control-label">รหัสผ่านเดิม *</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" placeholder="รหัสเดิม" name="OldPassword" id="OldPassword">
                                        </div>
                                    </div>

                                    @*รหัสใหม่*@
                                    <div class="form-group">
                                        <label for="NewPassword" class="col-sm-4 control-label">รหัสใหม่ *</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" placeholder="รหัสใหม่" name="NewPassword" id="NewPassword">
                                        </div>
                                    </div>

                                    @*ยืนยันรหัสใหม่*@
                                    <div class="form-group">
                                        <label for="ConfirmPassword" class="col-sm-4 control-label">ยืนยันรหัสใหม่ *</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" placeholder="ยืนยันรหัสใหม่" name="ConfirmPassword" id="ConfirmPassword">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button type="submit" class="col-sm-offset-2 btn btn-primary"><i class="fa fa-floppy-o"></i> Submit</button>
                                    <a href="@Url.Action("Login","Auth")" class="btn btn-danger col-sm-offset-1"><i class="fa fa-times"></i> Cancel</a>
                                </div>
                                <!-- /.box-footer -->
                            </form>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <script src="@EnumHandler.HandlerUrl"></script>
    @Scripts.Render("~/Bundles/js")
    <script type="text/javascript">
        $(function () {

            $("#form1").validate({
                rules: {
                    Username: { required: true },
                    OldPassword: { required: true },
                    NewPassword: { required: true },
                    ConfirmPassword: { required: true }
                },
                invalidHandler: function (e, r) {
                    $("#form1_msg").css('display', 'block');
                },
                submitHandler: function (e) {
                    e.preventDefault();
                }
            });
        });

        function form_submission() {
            //validate new password and confirm password
            var newPassword = $('#NewPassword').val();
            var confirmPassword = $('#ConfirmPassword').val();
            var Username = $('#Username').val();

            //lengh must >=4
            if (newPassword.length < 4) {
                alert('รหัสใหม่ต้องมีความยาวตั้งแต่ 4 ตัวอักษรขึ้นไป');
                return false;
            }

            //new password = confirm password
            if (newPassword != confirmPassword) {
                //do not submit form
                alert('รหัสใหม่และการยืนยันไม่ตรงกัน');
                return false;
            }

            if (Username == null) {
                alert('กรุณากรอก Username');
                return false;
            }

            return true;

        }
    </script>
</body>
</html>