@{
    Layout = "~/Views/Shared/_Layout_Empty.cshtml";
}
<form action="" method="post" id="Mainform">
    <div class="register-box">

        <div class="register-box-body">
            <div class="row">
                <div class="col-xs-12">
                    <img src="~/Content/img/sslogo.png" width="200px" height="200px" style="display: block;margin-left: auto;margin-right: auto" />
                </div>
                <div class="col-xs-12">
                    <p>
                        ข้าพเจ้า นาย/นาง/นางสาว <label id="FullName">@ViewBag.FullName</label>
                    </p>
                    <p>
                        ซึ่งเป็นผู้เอาประกันของกรมธรรม์ <label id="Product">@ViewBag.Product</label>
                    </p>
                    <p>(หมายเลข:@ViewBag.AppId)</p>
                    <p style="background-color: rgb(225, 239, 245)">
                        ยินยอมให้ส่ง และเปิดเผยข้อมูลเกี่ยวกับเบี้ยประกันภัยต่อกรมสรรพากร
                        เพื่อใช้สิทธิยกเว้นภาษีเงินได้ตามกฎหมายว่าด้วยภาษีอากร พร้อมรายละเอียดดังต่อไปนี้
                    </p>
                    <p>&emsp;หากท่านมีความประสงค์แจ้งการใช้สิทธิยกเว้นภาษีเงินได้ดังกล่าว กรุณากรอกรายละเอียด ตามแบบฟอร์มดังต่อไปนี้</p>
                </div>

                <div class="form-group  col-xs-12">
                    <label for=""><font color="red">*</font>เลขบัตรประจำตัวประชาชน</label>
                    <input type="text" class="form-control" id="txtIdCard" name="txtIdCard" placeholder="เลขประจำตัวประชาชน13หลัก" checkID="checkID" value="@ViewBag.CusId" required="required" />
                </div>
                <div class="form-group  col-xs-12">
                    <label for=""><font color="red">*</font>คำนำหน้า</label>
                    <select id="select_title" name="select_title" class="form-control" checkNA="checkNA" required="required">
                        @foreach(var itm in ViewBag.CusTitle)
                        {
                            if(@ViewBag.TitleCode == itm.TitleCode)
                            {
                                <option value="@itm.TitleCode" selected="selected">@itm.TitleDetail</option>
                            }
                            else
                            {
                                <option value="@itm.TitleCode">@itm.TitleDetail</option>

                            }

                        }
                    </select>
                </div>
                <div class="form-group  col-xs-12">
                    <label for=""><font color="red">*</font>ชื่อ</label>
                    <input type="text" class="form-control" id="txtFName" name="txtFName" placeholder="sample:สมชาย" required="required" value="@ViewBag.Fname" />
                </div>
                <div class="form-group  col-xs-12">
                    <label for=""><font color="red">*</font>นามสกุล</label>
                    <input type="text" class="form-control" id="txtLName" name="txtLName" placeholder="sample:สมใจ" required="required" value="@ViewBag.Lname" />
                </div>
                <div class="form-group  col-xs-12">
                    <label for=""><font color="red">*</font>วันเกิด</label>
                    <input type="text" class="form-control pull-right datepicker" name="BDate" id="BDate" required="required" value="@ViewBag.Bday"
                           data-provide="datepicker" data-date-language="th-th" placeholder="dd/mm/yyyy">
                </div>
                <div class="form-group  col-xs-12">
                    <label for=""><font color="red">*</font>เบอร์โทรศัพท์มือถือ</label>
                    <input type="tel" maxlength="10" minlength="10" class="form-control" id="txtPhone" name="txtPhone" placeholder="เบอร์มือถือ10หลัก" required="required" value="@ViewBag.Tel" />
                </div>
                <div class="form-group  col-xs-12">
                    <label for="">อีเมล์</label>
                    <input type="email" class="form-control email" id="txtEmail" name="txtEmail" placeholder="sample:somchai@siamsmile.com" value="@ViewBag.Email" />
                </div>
                <div class="form-group  col-xs-12">
                    <div class="iradio_flat-green">

                        <input type="radio" id="chkAccept" name="chkAccept" value="2" @if(ViewBag.CusCheck == 2) { <text> checked="checked" </text> } />

                        <label for="chkAccept">
                            มีความประสงค์
                        </label>
                    </div>
                    <p>
                        มีความประสงค์ ใช้สิทธิขอยกเว้นภาษีเงินได้ตามกฎหมายว่าด้วยภาษีอากร และยินยอมให้บริษัทประกันภัยส่ง
                        และเปิดเผยข้อมูลเกี่ยวกับเบี้ยประกันภัยต่อกรมสรรพากร ตามหลักเกณฑ์ วิธีการที่สรรพากรกำหนด
                    </p>
                </div>
                <div class="form-group  col-xs-12">
                    <div class="iradio_flat-green">

                        <input type="radio" id="chkNotAccept" name="chkAccept" value="3" @if(ViewBag.CusCheck == 3) { <text> checked="checked" </text> } />

                        <label for="chkNotAccept">
                            ไม่มีความประสงค์
                        </label>
                        <p>
                            ไม่มีความประสงค์ใช้สิทธิขอยกเว้นภาษีเงินได้ตามกฎหมายว่าด้วยภาษีอากร
                        </p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p style="background-color: rgb(225, 239, 245)">
                        ทั้งนี้ ข้าพเจ้าตกลงยินยอมให้บริษัทส่ง และเปิดเผยข้อมูลของข้าพเจ้า สำหรับกรมธรรม์ประกันภัยที่เข้าหลักเกณฑ์การใช้สิทธิลดหย่อนภาษีตามที่สรรพากรประกาศกำหนด
                        ที่ข้าพเจ้าได้ทำไว้กับบริษัท ณ ปัจจุบัน หรือที่เกิดขึ้นในอนาคต เว้นแต่ข้าพเจ้าจะแสดงความประสงค์เปลี่ยนแปลงเป็นอย่างอื่น เพื่อวัตถุประสงค์ตามที่ได้ระบุไว้ข้างต้นแล้ว
                    </p>
                    <p style="color: red">**หาก SMS นี้ไม่ใช่ของท่านกรุณา ติดต่อ Callcenter <a href="tel:025333999">02-533-3999</a></p>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-offset-3 col-xs-6">
                        <button class="btn btn-block btn-success" type="button" id="btnSubmit">บันทึกข้อมูล</button>
                    </div>
                    @*<div class="col-xs-offset-1 col-xs-4">
                            <button class="btn btn-block btn-warning" type="button" id="btnCancel" onclick="javascript:window.open('','_self').close();">ยกเลิก</button>
                        </div>*@
                </div>
                <input type="hidden" id="hd_CleanId" name="hd_CleanId" value="@ViewBag.CleanID" />
            </div>
        </div>
    </div>
</form>
@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            $('#BDate').datepicker({
                format: 'dd.MM.yyyy',
                language: 'th'
            });

            //$('#btnSubmit').click(function () {
            //    if ($('input[name=chkAccept]:checked').length == 0) {
            //        alert('กรุณาเลือกความประสงค์การใช้สิทธิ์');
            //        $('#chkAccept').focus();
            //    } else {
            //        if ($('#Mainform').valid()) {

            //            window.swal({
            //                title: 'ยืนยันรายการ?',
            //                type: 'info',
            //                showCancelButton: true,
            //                confirmButtonColor: '#277020',
            //                confirmButtonText: 'ตกลง',
            //                cancelButtonText: 'ยกเลิก',
            //                closeOnConfirm: false,
            //                closeOnEsc: false,
            //                closeOnCancel: true
            //            }, function (isConfirm) {
            //                if (isConfirm) {
            //                    $('#Mainform').submit();
            //                }
            //            });
            //        }
            //    }

            //});

            $('#btnSubmit').click(function () {
                if ($('#Mainform').valid()) {
                     if ($('input[name=chkAccept]:checked').length == 0) {
                            alert('กรุณาเลือกความประสงค์การใช้สิทธิ์');
                            $('#chkAccept').focus();
                } else {
                    swal_confirm("ยืนยันการบันทึกข้อมูล",
                        "",
                        function () {
                            $.post("@Url.Action("DataAndAgreement2", "Customers")",
                                {
                                    disclosureId: $('#hd_CleanId').val(),
                                    zCardId: $('#txtIdCard').val(),
                                    titleCode: $('#select_title').val(),
                                    fName: $('#txtFName').val(),
                                    lName: $('#txtLName').val(),
                                    bDay: $('#BDate').val(),
                                    mobileNo: $('#txtPhone').val(),
                                    email: $('#txtEmail').val(),
                                    acceptAgreement: $('#chkAccept').val()
                                },
                                function (res) {
                                    if (res === true) {
                                        swal_success("บันทึกข้อมูลเรียบร้อยแล้ว", "คุณแสดงความประสงค์การใช้สิทธิประโยชน์ทางภาษีเรียบร้อยแล้ว", function () {
                                            window.location.href = 'https://siamsmile.co.th/';
                                        });
                                    } else {
                                        swal_fail(res);
                                    }
                                });
                        });
                }
                }

            });
        });
    </script>
}