@model SmileSMobileWebUI.Models.CaptchaModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="container-fluid">
        <fieldset>
            <legend>กรอกรหัส OTP</legend>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-lg-3" style="text-align: right" for="txtRefCode">Reference Code :</label>
                        <div class="col-md-6 col-lg-6">
                            <input type="text" id="txtRefCode" name="txtRefCode" readonly="readonly" value="@Model.RefCode" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-lg-3" style="text-align: right" for="txtOTP">OTP :</label>
                        <div class="col-md-6 col-lg-6">
                            <input type="text" id="txtOTP" name="txtOTP" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Button -->
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <div class="col-md-8" style="text-align: center">
                            <button id="btnOTP" type="submit" name="btnOTP" class="btn btn-info">ดำเนินการต่อ</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--check if enter wrong otp send error message-->
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        @if (ViewBag.Message != null)
                        {
                            <div style="border: 1px solid rgb(141, 27, 27); width: 300px; padding: 5px;text-align: center">
                                @ViewBag.Message
                            </div>
                        }
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    @Html.HiddenFor(x => x.EmpCode)
    @Html.HiddenFor(x => x.RefCode)
    @Html.HiddenFor(x => x.MobileNo)
}
