@model SmileSMobileWebUI.Models.CaptchaModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>ยืนยันข้อมูลขอ OTP</legend>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-lg-3" for="txtEmpCode">รหัสพนักงาน :</label>
                        <div class="col-md-6 col-lg-6">
                            <input type="text" id="txtEmpCode" name="txtEmpCode" readonly="readonly" value="@Model.EmpCode" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-lg-3" for="txtEmpPhone">เบอร์โทรศัพท์สำหรับส่ง OTP :</label>
                        <div class="col-md-6 col-lg-6">
                            <input type="text" id="txtEmpPhone" name="txtEmpPhone" readonly="readonly" value="@ViewBag.MobileMask" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-lg-3" style="text-align: right">Captcha Image :</label>
                        <div class="col-md-6 col-lg-6">
                            <img src="@Url.Action("getcaptchaimage", "useraccount")" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <div class="col-md-8 col-lg-8" style="text-align: center">
                            <input type="text" name="CaptchaText" id="CaptchaText" value="@ViewBag.CaptchaText" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Button -->
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <div class="col-md-8" style="text-align: center">
                            <button id="btnOTP" type="submit" name="btnOTP" class="btn btn-info">ดำเนินการต่อ</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        @if (ViewBag.Message != null)
                        {
                            <div style="border: 1px solid rgb(141, 27, 27); width: 300px; padding: 5px;text-align: center">
                                @ViewBag.Message
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    @Html.HiddenFor(x => x.EmpCode)
    @Html.HiddenFor(x => x.RefCode)
    @Html.HiddenFor(x => x.MobileNo)
}

@section scripts
{
    @*<script type="text/javascript">
            $(function () {
                $('#btnOTP').click(function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("CheckCaptcha","UserAccount")',
                        data: { 'captchaText': $('#CaptchaText').val() },
                        success: function (e) {
                            swal({
                                title: 'Complete!',
                                type: 'success',
                                confirmButtonText: 'ดำเนินการต่อ'
                            }).then(function () {
                                var url = "/UserAccount/CheckOTP";
                                window.location.href = url;
                            });
                        },
                        error: function (response) {
                            swal(response);
                        }
                    });
                });
            });
        </script>*@
}