<form class="form-horizontal" method="post">

    <div class="row">

        <!-- ค้นหา -->
        <!-- /.Detail -->

        <div class="col-md-12">

            <div class="box box-info">
                <div class="box-header with-border">


                    <h3 class="box-title">บันทึก KTB</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                <div class="box-body">

                    <div class="form-group">
                        <!-- C1 -->
                        <div class="col-md-6 ">

                            <div class="form-group" id="GroupCode">
                                <div class="col-md-8 col-md-offset-1">
                                    <div class="input-group ">
                                        <div class="input-group-addon" >
                                            <i class="fa fa-align-justify"></i>
                                        </div>
                                      <input type="text" id="RunNo" name="RunNo" class="form-control" value=@ViewBag.RunNo disabled>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group" id="GroupCode">
                                <div class="col-md-8 col-md-offset-1">

                                    <label>เลขที่บัญชีธนาคาร</label>
                                    <div class="input-group ">
                                        <div class="input-group-addon">
                                            <i class="fa fa-bank (alias)"></i>
                                        </div>
                                        <input type="text" id="AccCode" name="AccCode" class="form-control" data-inputmask="'mask': ['999-9-99999-9', '999-9-99999-9']" data-mask="" placeholder="999-9-99999-9">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="GroupName">
                                <div class="col-md-8 col-md-offset-1">
                                    <label>ชื่อบัญชีธนาคาร</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" class="form-control" id="AccName" neme="AccName" placeholder="นาย สยามสไมล์">
                                    </div>

                                    <!-- /.input group -->
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-4 col-md-offset-1">

                                    <label>เบอร์กล่อง</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-dropbox"></i>
                                        </div>
                                        <select class="form-control select2 " name="AccBox" id="AccBox" style="width: 100%;" tabindex="-1" aria-hidden="true">

                                            @foreach (var item in @ViewBag.BoxList)
                                            {
                                                <option value=@item.BoxId>  @item.BoxName </option>
                                            }
                                        </select>
                                        @*<h id="H1">1</h>*@                                    
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- C2 -->
                        <div class="col-md-5 ">

                            <div class="form-group">
                                <div class="col-md-12 ">

                                    <div class="box-body">

                                        <div class="alert alert-danger alert-dismissible" id="alertNot" name="alertNot" hidden>
                                            <h4><i class="icon fa fa-ban"></i> Not found information!</h4>
                                            ไม่พบข้อมูลหักข้อมูลธนาคาร
                                        </div>

                                        <div class="alert alert-info alert-dismissible" id="alertOk" name="alertOk" hidden>
                                            <h4><i class="icon fa fa-check"></i> Found information!</h4>
                                            ยืนยันหักข้อมูลธนาคาร KTB
                                        </div>

                                        <div class="alert alert-warning alert-dismissible" id="alertWait" name="alertWait" hidden>
                                            <h4><i class="icon fa fa-info"></i> Wait....</h4>
                                            รอตรวจสอบข้อมูลธนาคาร.....
                                        </div>

                                        <div>
                                            <input type="radio" name="gender" value="false" id="r03"> ไม่มีเอกสาร
                                        </div>

                                        <div style="padding-top:10px ">
                                            <input type="radio" name="gender" value="true" id="r01" checked> ถูกต้อง
                                        </div>

                                        <div style="padding-top:10px ">
                                            <input type="radio" name="gender" value="false" id="r02"> ไม่ถูกต้อง
                                        </div>

                                        <div style="padding-left:20px">

                                            <div style="padding-top:1px"><input type="checkbox" id="chk1" value="false" disabled name="chk1">  ลายเซ็นไม่เหมือนกัน</div>
                                            <div style="padding-top:3px"><input type="checkbox" id="chk2" value="false" disabled name="chk2">  เลขที่บัญชีไม่ถูกต้อง</div>
                                            <div style="padding-top:3px"><input type="checkbox" id="chk3" value="false" disabled name="chk3">  โปรดติดต่อเจ้าของบัญชี</div>
                                            <div style="padding-top:3px"><input type="checkbox" id="chk4" value="false" disabled name="chk4">  บัญชีปิดแล้ว</div>
                                            <div style="padding-top:3px"><input type="checkbox" id="chk5" value="false" disabled name="chk5">  บัญชีนี้ไม่สามารถใช้หักบัญชีได้</div>
                                            <div style="padding-top:3px"><input type="checkbox" id="chk6" value="false" disabled name="chk6">  เลขที่บัญชีกับชื่อบัญชีไม่ตรงกัน</div>
                                            <div><input type="checkbox" id="chk7" name="chk7" value="false" disabled>  อื่นๆ โปรดระบุ   <input type="text" name="Oth" id="Oth" disabled> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-5>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-2 col-md-offset-2">
                            <button type="button" class="btn btn-info pull-right" style="width:80%" id="btnScan" name="btnScan">สแกนเอกสาร</button>
                        </div>
                        <div class="col-md-2 col-md-offset-4">
                            <button type="button" class="btn btn-block btn-success" style="width:80%" id="btnOk" name="btnOk">บันทึก</button>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            </div>
                        </div>

                         
                    </div>
                    <!-- /.box-footer -->
                </div>
            </div>
        </div>
    </div>
</form>


    <input type="hidden" name="AccountKTBId" id="AccountKTBId" value="@ViewBag.AccountKTBId" />
    <input type="hidden" name="BankId" id="BankId" value="@ViewBag.BankId" />
    <input type="hidden" name="ChkIsKtb" id="ChkIsKtb" value="0" />
    <input type="hidden" id="hdgSSSDocPath" value="@ViewBag.SSSDocPath" />

@section ViewSpecificJavascript{
    <script>
        $(function () {

            var ChkDocStr = "0"


        function CheckDocument() {
            var DocumentNo = $('#RunNo').val();
            
            $.ajax({
                type: "POST",
                url: "@Url.Action("CheckDocument")?DocumentNo=" + DocumentNo,
                success: function (response) {
               
                    ChkDocStr = response;

                }
                });
        }

      
         
            var chat = $.connection.myHub;


                $.connection.hub.start().done(function () {
                   
                    //join group
                    chat.server.joinGroup('@ViewBag.CurrentUser');

                    //Send Public


                        $('#btnOk').on('click', function () {

                            debugger;
                            var ChkIsKtb = $('#ChkIsKtb').val();
                            var DocumentNo = $('#RunNo').val();
                            $.ajax({
                            type: "POST",
                            url: "@Url.Action("CheckDocument")?DocumentNo=" + DocumentNo,
                            success: function (response) {
               
                                ChkDocStr = response;

                            if ($('#AccCode').val().replace(/_/gi, '').length != 13) {
                                window.swal({
                                    title: 'คำเตือน',
                                    text: 'กรุณาตรวจสอบเลขที่บัญชี',
                                    type: 'error',
                                    showCancelButton: false,
                                    confirmButtonColor: '#ed2b09',
                                    confirmButtonText: 'ตกลง',
                                    closeOnEsc: false
                                }, function () {


                                });
                            } else if ($('#AccName').val() == '') {
                                window.swal({
                                    title: 'คำเตือน',
                                    text: 'กรุณาตรวจสอบชื่อที่บัญชี',
                                    type: 'error',
                                    showCancelButton: false,
                                    confirmButtonColor: '#ed2b09',
                                    confirmButtonText: 'ตกลง',
                                    closeOnEsc: false
                                }, function () {

                                    });

                            } else if ($('#r01').val() == 'false'
                                    && $('#r03').val() == 'false'
                                    && $('#chk1').val() == 'false'
                                    && $('#chk2').val() == 'false'
                                    && $('#chk3').val() == 'false'
                                    && $('#chk4').val() == 'false'
                                    && $('#chk5').val() == 'false'
                                    && $('#chk6').val() == 'false'
                                    && $('#chk7').val() == 'false') {
                                window.swal({
                                    title: 'คำเตือน',
                                    text: 'กรุณาเลือกเหตุผลเอกสารไม่ถูกต้อง',
                                    type: 'error',
                                    showCancelButton: false,
                                    confirmButtonColor: '#ed2b09',
                                    confirmButtonText: 'ตกลง',
                                    closeOnEsc: false
                                }, function () {

                                });
                            } else if (ChkDocStr == '0' && $('#r02').val() == 'false'
                                && $('#ChkIsKtb').val() == '1') {

                                window.swal({
                                    title: 'คำเตือน',
                                    text: 'กรุณาสแกนเอกสารเข้าระบบ',
                                    type: 'warning',
                                    showCancelButton: false,
                                    confirmButtonColor: '#ed2b09',
                                    confirmButtonText: 'ตกลง',
                                    closeOnEsc: false
                                });

                            } else {
                                window.swal({
                                    title: 'ต้องการบันทึกข้อมูลใช่หรือไม่?',
                                    type: 'info',
                                    showCancelButton: true,
                                    confirmButtonColor: '#277020',
                                    confirmButtonText: 'ตกลง',
                                    cancelButtonText: 'ยกเลิก',
                                    closeOnConfirm: false,
                                    closeOnEsc: false,
                                    closeOnCancel: true
                                }, function (isConfirm) {
                                    if (isConfirm) {
                                        chat.server.sendNotice('', '');
                                        SAVE();
                                    }
                                });

                            }


                                }
                            });


                        });




                    //$('#btnTest').click(function (e) {

                    //    chat.server.sendNotice('', '');

                    //});

                });



            $('.select2').select2();
            //debugger;
            $('#AccCode').on('keypress', function () {

                if ($(this).val().replace(/_/gi, '').length == 13) {
                    //debugger;
      
                    TEST_CHECK();
                } else {
                    $('#alertNot').prop('hidden', true);
                    $('#alertOk').prop('hidden', true);
                    $('#alertWait').prop('hidden', true);
                };

            });

            $('#AccName').on('keypress', function () {

                    //debugger;
 
            });

            $("input[id=r01]").on('ifChecked', function (e) {

                    //manage id card input
                $("input[name^=chk]").iCheck('disable');
                $("input[name^=chk]").iCheck('uncheck');

                $('#Oth').val('');
                $('#r01').val('true');
                $('#r02').val('false');
                $('#r03').val('false');
                $('#btnScan').prop('disabled', false);
            });

            $("input[id=r02]").on('ifChecked', function (e) {
                debugger;
                //manage passport input
                $("input[name^=chk]").iCheck('enable');

                $('#Oth').val('');
                $('#r01').val('false');
                $('#r02').val('true');
                $('#r03').val('false');
                $('#btnScan').prop('disabled', true);
            });

            $("input[id=r03]").on('ifChecked', function (e) {

                    //manage passport input
                    $("input[name^=chk]").iCheck('enable');

                $('#Oth').val('');
                $('#r01').val('false');
                $('#r02').val('false');
                $('#r03').val('true');
                $('#btnScan').prop('disabled', false);
            });



            $("input[id=chk1]").on('ifChecked', function (e) {
                $('#chk1').val('true');
            });
            $("input[id=chk2]").on('ifChecked', function (e) {
                $('#chk2').val('true');
            });
            $("input[id=chk3]").on('ifChecked', function (e) {
                $('#chk3').val('true');
            });
            $("input[id=chk4]").on('ifChecked', function (e) {
                $('#chk4').val('true');
            });
            $("input[id=chk5]").on('ifChecked', function (e) {
                $('#chk5').val('true');
            });
            $("input[id=chk6]").on('ifChecked', function (e) {
                $('#chk6').val('true');
            });
            $("input[id=chk7]").on('ifChecked', function (e) {
                $('#chk7').val('true');
                $('#Oth').prop('disabled', false);
            });

            //ifUnchecked
            $("input[id=chk1]").on('ifUnchecked', function (e) {
                $('#chk1').val('false');
            });
            $("input[id=chk2]").on('ifUnchecked', function (e) {
                $('#chk2').val('false');
            });
            $("input[id=chk3]").on('ifUnchecked', function (e) {
                $('#chk3').val('false');
            });
            $("input[id=chk4]").on('ifUnchecked', function (e) {
                $('#chk4').val('false');
            });
            $("input[id=chk5]").on('ifUnchecked', function (e) {
                $('#chk5').val('false');
            });
            $("input[id=chk6]").on('ifUnchecked', function (e) {
                $('#chk6').val('false');
            });
            $("input[id=chk7]").on('ifUnchecked', function (e) {
                $('#chk7').val('false');
                $('#Oth').prop('disabled', true);
            });



            //btn save remark

            $('#btnScan').on('click', function () {

                if ($('#AccCode').val().replace(/_/gi, '').length != 13) {
                    window.swal({
                        title: 'คำเตือน',
                        text: 'กรุณาตรวจสอบเลขที่บัญชี',
                        type: 'error',
                        showCancelButton: false,
                        confirmButtonColor: '#ed2b09',
                        confirmButtonText: 'ตกลง',
                        closeOnEsc: false
                    }, function () {
                   

                    });
                } else if ($('#AccName').val() == '') {
                    window.swal({
                        title: 'คำเตือน',
                        text: 'กรุณาตรวจสอบชื่อที่บัญชี',
                        type: 'error',
                        showCancelButton: false,
                        confirmButtonColor: '#ed2b09',
                        confirmButtonText: 'ตกลง',
                        closeOnEsc: false
                    }, function () {
                  

                    });
                } else {
                    ScanDoc();
           

                        }

            });

            



        });

        function SAVE() {
            var RunNo = $('#RunNo').val();
            var AccCode = $('#AccCode').val().replace(/-/ig, "");
            var AccName = $('#AccName').val();
            var AccBox = $('#AccBox').val();
            var Correct = $('#r01').val();
            var InCorrect = $('#r02').val();
            var NoDocument = $('#r03').val();
            var DocumentResultStatusId = 1;

            if (Correct == 'true') {
                DocumentResultStatusId = '2';
            }

            if (InCorrect == 'true') {
                DocumentResultStatusId = '3';
            }

            if (NoDocument == 'true') {
                DocumentResultStatusId = '4';
            }

            var InCorrect_Signature = $('#chk1').val();
            var InCorrect_AccountNo = $('#chk2').val();
            var InCorrect_ContactBranch = $('#chk3').val();
            var InCorrect_AccountClosed = $('#chk4').val();
            var InCorrect_AccountUnAvailable = $('#chk5').val();
            var InCorrect_AccountUnmatch = $('#chk6').val();
            var InCorrect_Other = $('#chk7').val();
            var InCorrect_OtherRemark = $('#Oth').val();
            var AccountKTBId = $('#AccountKTBId').val();
            var BankId = $('#BankId').val();



            var sendCorrect = 'true';
            if (InCorrect == 'true') {
                sendCorrect = 'false';
            }


            //debugger;
            $.ajax({
                type: "POST",
                  url: '@Url.Action("SAVE", "Home")',
                data: { RunNo: RunNo,
                        AccCode: AccCode,
                        AccName: AccName,
                        AccBox: AccBox,
                        DocumentResultStatusId: DocumentResultStatusId,
                        InCorrect_Signature: InCorrect_Signature,
                        InCorrect_AccountNo: InCorrect_AccountNo,
                        InCorrect_ContactBranch: InCorrect_ContactBranch,
                        InCorrect_AccountClosed: InCorrect_AccountClosed,
                        InCorrect_AccountUnAvailable: InCorrect_AccountUnAvailable,
                        InCorrect_AccountUnmatch: InCorrect_AccountUnmatch,
                        InCorrect_Other: InCorrect_Other,
                        InCorrect_OtherRemark: InCorrect_OtherRemark,
                        AccountKTBId: AccountKTBId,
                        BankId: BankId,
                        Correct: sendCorrect
                },

                success: function (response) {
                    debugger;
                    if (response[0] == 'True') {
                        window.swal({
                            title: 'ทำรายการสำเร็จ',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#26A65B',
                            confirmButtonText: 'ตกลง',
                            closeOnEsc: false
                        }, function () {
                            $('#RunNo').val(response[1]); 
                            $('#AccountKTBId').val(response[2]); 
                            $('#BankId').val(response[3]); 
                            DefaultFrom();
                        });
                    } else {
                        window.swal({
                            title: 'เกิดข้อผิดพลาด!',
                            type: 'error',
                            text: 'กรุณาตรวจสอบข้อมูลอีกครั้ง',
                            showCancelButton: false,
                            confirmButtonColor: '#ed2b09',
                            confirmButtonText: 'ตกลง',
                            closeOnEsc: false
                        }, function () {
                            @*window.location = "@Url.Action("InternalServerError","Error")";*@
                        });
                    }
                }
            });
        }

        function TEST_CHECK() {
            var t = $('#AccCode').val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("CHECK_TEST")?AccCode=" + t,
                success: function (response) {
                if (response[0] == "Double")    {
                        window.swal({
                            title: 'คำเตือน',
                            text: 'กรุณาตรวจสอบเลขที่บัญชี มีอยู่ในระบบแล้ว',
                            type: 'warning',
                            showCancelButton: false,
                            confirmButtonColor: '#ed2b09',
                            confirmButtonText: 'ตกลง',
                            closeOnEsc: false
                        });
                    }

                        $('#AccName').val(response[1]);

                        if (response[2] != null && response[2] != '') {
                           
                            $('#alertNot').prop('hidden', true);
                            $('#alertOk').prop('hidden', true);
                            $('#ChkIsKtb').val('1');
                            //$('#alertWait').prop('hidden', true);
                        } else {
                        
                            $('#alertNot').prop('hidden', true);
                            $('#alertOk').prop('hidden', true);
                            $('#ChkIsKtb').val('0');
                            //$('#alertWait').prop('hidden', true);
                        }

                    }
            });

        }

        function ScanDoc() {
            //debugger;
            //var Acc = 'DKTB' + $('#AccCode').val().replace(/-/ig, "");
            var DocCode = $('#RunNo').val();
            var Code = window.btoa(DocCode);

            //var linkSSDoc = ""+ + "";


            window.open($('#hdgSSSDocPath').val() + '/Modules/Document/frmDocumentScanPDF.aspx?dcid=' + Code + '&prjid=DocumentKTB', '_blank');
        }

        function DefaultFrom() {
            //debugger;
                $("input[name^=chk]").iCheck('disable');
                $("input[name^=chk]").iCheck('uncheck');
                $('input[id=r01]').iCheck('check');
                $('#Oth').prop('disabled', true);
                $('#Oth').val('');
                $('#AccName').val('');
                $('#AccCode').val('');
            $('#alertNot').prop('hidden', true);
            $('#alertOk').prop('hidden', true);
            $('#alertWait').prop('hidden', true);
    
        }


    </script>



}