@{
    ViewBag.Title = "Add New Travel Insurance";
}
<style>
    .control-label {
        padding-top: 5px;
        text-align: right;
    }

    .form-control {
        width: 100%
    }
    /*.form-group {
        padding-top: 6px;
        display: inline-block
    }*/
</style>

<div class="row">
    @* header navigation *@
    <div id="Header" class="col-md-12">
        <div class="box box-footer">
            <div class="row">
                @* menu1 *@
                <div class="col-md-3 border-right">
                    <div class="description-block">
                        <a href="@Url.Action("AddNewTAMain")">
                            <span class="glyphicon glyphicon-check" style="color: darkorange"></span>
                            <h5 class="description-text">เลือกแบบประกัน</h5>
                        </a>
                    </div>
                </div>
                @* menu2 *@
                <div class="col-md-3 border-right">
                    <div class="description-block">
                        <a href="@Url.Action("AddNewTA")">
                            <span class="glyphicon glyphicon-edit" style="color: dimgray"></span>
                            <h5 class="description-text">กรอกข้อมูลผู้เอาประกัน</h5>
                        </a>
                    </div>
                </div>
                @* menu3 *@
                <div class="col-md-3 border-right">
                    <div class="description-block">
                        <a href="@Url.Action("AddNewTAPayer")">
                            <span class="glyphicon glyphicon-edit" style="color: dimgray"></span>
                            <h5 class="description-text">กรอกข้อมูลผู้ชำระเบี้ยและผู้รับผลประโยชน์</h5>
                        </a>
                    </div>
                </div>
                @* menu4 *@
                <div class="col-md-3">
                    <div class="description-block">
                        <a href="@Url.Action("AddNewTAResult")">
                            <span class="glyphicon glyphicon-edit" style="color: dimgray"></span>
                            <h5 class="description-text">ตรวจสอบรายละเอียด</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="@Url.Action("AddNewTAMain")" method="post">
        @* form start *@
        @* left column *@
        <div class="col-md-6">
            @* left form insurance plan *@
            <div id="InsurancePlan_form">
                <div class="box box-primary">
                    @* header box *@
                    <div class="box-header with-border">
                        <h4 class="box-title">เลือกแบบประกัน</h4>
                    </div>
                    @* body box *@
                    <div class="box-body">
                        @* 1st row *@
                        <div class="form-group row">

                            <div class="col-sm-4">
                                <label class="control-label" for="select_InsuranceCo">บริษัทประกัน:</label>
                            </div>
                            <div class="col-sm-8">
                                <select name="select_InsuranceCo" id="select_InsuranceCo" class="form-control select2" required="required">
                                    <option value="0">---กรุณาเลือก---</option>
                                    @foreach(var itm in ViewBag.InsuranceCompanyList)
                                    {
                                        <option value="@itm.Organize_ID">@itm.OrganizeDetail</option>
                                    }
                                </select>
                            </div>
                        </div>
                        @* 2nd row *@
                        <div class="form-group row">

                            <div class="col-sm-4">
                                <label class="control-label" for="select_TravelType">ประเภทการเดินทาง:</label>
                            </div>
                            <div class="col-sm-8">
                                <select name="select_TravelType" id="select_TravelType" class="form-control select2" required="required" disabled="disabled">
                                    <option value="0">---กรุณาเลือก---</option>
                                </select>
                            </div>
                        </div>
                        @* 3rd row *@
                        <div class="form-group row">

                            <div class="col-sm-4">
                                <label class="control-label" for="select_ProductGroup">กลุ่มแผนประกัน:</label>
                            </div>
                            <div class="col-sm-8">
                                <select name="select_ProductGroup" id="select_ProductGroup" class="form-control select2" required="required" disabled="disabled">
                                    <option value="0">---กรุณาเลือก---</option>
                                </select>
                            </div>
                        </div>
                        @* 4th row *@
                        <div class="form-group row">

                            <div class="col-sm-4">
                                <label class="control-label" for="select_Plan">แผนประกัน:</label>
                            </div>
                            <div class="col-sm-8">
                                <select name="select_Plan" id="select_Plan" class="form-control select2" required="required" disabled="disabled">
                                    <option value="0">---กรุณาเลือก---</option>
                                </select>
                            </div>
                        </div>
                        @* 5th row *@
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="control-label" for="">ประเภทประกัน :</label>
                            </div>
                            <div class="col-sm-8">
                                <div class="radio-inline">
                                    <label><input type="radio" name="rd_AppType" id="rd_AppType1" value="Person" />เดี่ยว</label>
                                </div>
                                <div class="radio-inline">
                                    <label><input type="radio" name="rd_AppType" id="rd_AppType2" value="Group" />กลุ่ม</label>
                                </div>
                            </div>
                        </div>
                        @* 6th row *@
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="control-label" for="">จำนวนคน:</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="number" name="txtCountPerson" id="txtCountPerson" class="form-control" placeholder="จำนวนคน" required="required" />
                            </div>
                        </div>

                        @* end row *@
                    </div>
                </div>
            </div>
            @* left form flight plan *@
            <div id="Flight_form">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">ข้อมูลการเดินทาง</h4>
                    </div>
                    <div class="box-body">
                        @* 6th row *@
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-3">
                                <label class="control-label" for="txtDeparture">ต้นทาง:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="txtDeparture" id="txtDeparture" class="form-control" placeholder="เมืองต้นทาง" required="" />
                            </div>
                        </div>
                        @* 7th row *@
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-3">
                                <label class="control-label" for="txtArrival">ปลายทาง:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="txtArrival" id="txtArrival" class="form-control" placeholder="เมืองปลายทาง" required="" />
                            </div>
                        </div>

                        @* 8th row *@
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-3">
                                <label class="control-label" for="txtDepartureDate">วันที่เดินทาง:</label>
                            </div>
                            <div class="input-group date col-sm-6">
                                <input type="text" class="form-control datepicker" id="txtDepartureDate" name="txtDepartureDate" placeholder="mm/dd/yyyy" required="">
                                <div class="input-group-addon">
                                    <i class="fa fa-fw fa-plane"></i>
                                </div>
                            </div>
                        </div>

                        @* 9th row *@
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-3">
                                <label class="control-label" for="txtArrivalDate">วันที่กลับ:</label>
                            </div>
                            <div class="input-group date col-sm-6">
                                <input type="text" class="form-control datepicker" id="txtArrivalDate" name="txtArrivalDate" placeholder="mm/dd/yyyy" required="">
                                <div class="input-group-addon">
                                    <i class="fa fa-fw fa-plane fa-rotate-180"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <label class="control-label" for="txtTravelDay">จำนวนวันเดินทาง:</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="number" name="txtTravelDay" id="txtTravelDay" class="form-control" placeholder="" disabled="disabled" />
                            </div>
                        </div>
                        @* 10 row *@
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <label class="control-label" for="txtPremium">ราคาประกันภัย(โดยประมาณ):</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" name="txtPremium" id="txtPremium" class="form-control" placeholder="" disabled="disabled" />
                            </div>
                        </div>
                        @* end row *@
                    </div>
                </div>
            </div>
        </div>
        @* right column *@
        <div class="col-md-6">

            @* Insurance Plan result *@
            <div id="InsurancePlanResult_form">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">ความคุ้มครอง</h4>
                    </div>
                    <div class="box-body">
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                </div>
            </div>
            @* calculate form *@
            <div id="Calculate_form">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">คำนวนเบี้ยประกัน</h4>
                    </div>
                    <div class="box-body">
                        @* 1st row *@
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-4">
                                <label class="control-label" for="txtInputDebt">เบี้ยสุทธิ:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="txtInputDebt" id="txtInputDebt" class="form-control" />
                            </div>
                        </div>
                        @* 2sn row *@
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-4">
                                <label class="control-label" for="txtDeptBeforeVat">ยอดเบี้ยก่อนVAT:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="txtDeptBeforeVat" id="txtDeptBeforeVat" class="form-control" />
                            </div>
                        </div>
                        @* 3rd row *@
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-4">
                                <label class="control-label" for="txtDuty">อากร:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="txtDuty" id="txtDuty" class="form-control" />
                            </div>
                        </div>
                        @* 4th row *@
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-4">
                                <label class="control-label" for="txtVat7">VAT 7%:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="txtVat7" id="txtVat7" class="form-control" />
                            </div>
                        </div>
                        @* 5th row *@
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-4">
                                <label class="control-label" for="txtTotalDebt">เบี้ยรวมเก็บลูกค้า:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="txtTotalDebt" id="txtTotalDebt" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* App Owener form *@
            <div id="Owner_form">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">เจ้าของผลงาน</h4>
                    </div>
                    <div class="box-body">
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-4">
                                <label class="control-label" for="txtSearchEmp">รหัสพนักงาน:</label>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtSearchEmp" name="txtSearchEmp" maxlength="5" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-info btn-flat" id="btnSearch">Search</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-4">
                                <label class="control-label" for="txtEmpResult">พนักงาน:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="txtEmpResult" name="txtEmpResult" maxlength="5" required="" onfocus="blur();" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* footer *@
        <div id="submit_tab" class="col-md-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-2">
                            <button id="SubmitForm" type="submit" class="btn btn-block btn-primary">บันทึกข้อมูล</button>
                        </div>
                        <div class="col-sm-2">
                            <button id="CancelForm" type="button" class="btn btn-block btn-warning">ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            //call select2 comp
            $('.select2').select2();

            //empty select
            $('#select_TravelType').empty();
            $('#select_ProductGroup').empty();
            $('#select_Plan').empty();

            //call travel type cascade by insurance company id
            $('#select_InsuranceCo').on('change', function () {
                $('#select_TravelType').empty();
                $('#select_ProductGroup').empty();
                $('#select_Plan').empty();
                $('#select_TravelType').prop('disabled', false);
                 $('#select_ProductGroup').prop('disabled', true);
                $('#select_Plan').prop('disabled', true);
                callTravelType($('#select_InsuranceCo').val());
            });

            //call product group casecade by insurance company and traveltype
            $('#select_TravelType').on('change', function () {
                $('#select_ProductGroup').empty();
                $('#select_Plan').empty();
                 $('#select_ProductGroup').prop('disabled', false);
                $('#select_Plan').prop('disabled', true);
                callProductGroup($('#select_InsuranceCo').val(), $('#select_TravelType').val());
            });

            //call product casecade by productgroup id,traveltype and insurance company id
            $('#select_ProductGroup').on('change', function () {
                $('#select_Plan').empty();
                $('#select_Plan').prop('disabled', false);
                callProduct($('#select_InsuranceCo').val(), $('#select_TravelType').val(), $('#select_ProductGroup').val());
            });

            //calculate day
            $('#txtDepartureDate').on('change', function () {
                if ($('#txtDepartureDate').val() != null && $('#txtArrivalDate').val() != null) {
                    var diff = new Date($('#txtArrivalDate').datepicker('getDate') - $('#txtDepartureDate').datepicker('getDate'));
                    var days = Math.ceil(diff / 1000 / 60 / 60 / 40);
                    $('#txtTravelDay').val(days);
                }
            });
            //calculate day
            $('#txtArrivalDate').on('change', function () {
                if ($('#txtDepartureDate').val() != null && $('#txtArrivalDate').val() != null) {
                    var diff = new Date($('#txtArrivalDate').datepicker('getDate') - $('#txtDepartureDate').datepicker('getDate'));
                    debugger;
                    var days = Math.ceil(diff / 1000 / 60 / 60 / 40);
                    $('#txtTravelDay').val(days);
                }
            });

            $('#btnSearch').on('click', function () {
                $('#txtEmpResult').empty();
                debugger;
                SearchEmp($('#txtSearchEmp').val());
            });
        });

        function callTravelType(InsuranceCoId) {
            $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetTravelType")',
                    data: { InsComId: InsuranceCoId },
                success: function (data) {
                    $('#select_TravelType').append('<option value="0">---กรุณาเลือก---</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#select_TravelType').append('<option value=' + data[i].TravelTypeId + '>'+ data[i].TravelType +'</option>');
                        }
                }, error: function (xhr, textStatus, errorThrown) {
                        alert('request fail');
                    }

                });
        }

        function callProductGroup(InsuranceCoId,travelTypeId) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetProductGroup")',
                    data: {
                        InsComId: InsuranceCoId,
                        travelTypeId :travelTypeId
                    },
                success: function (data) {
                         $('#select_ProductGroup').append('<option value="0">---กรุณาเลือก---</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#select_ProductGroup').append('<option value=' + data[i].ProductType_ID + '>'+ data[i].ProductTypeDetail +'</option>');
                        }
                }, error: function (xhr, textStatus, errorThrown) {
                        alert('request fail');
                    }

                });
        }

        function callProduct(insCom,travelType,productGroup) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetProduct")',
                data: {
                    insComId : insCom,
                    travelTypeId: travelType,
                    productGroupId : productGroup
                },
                success: function (data) {
                         $('#select_Plan').append('<option value="0">---กรุณาเลือก---</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#select_Plan').append('<option value=' + data[i].Product_ID + '>'+ data[i].ProductDetail +'</option>');
                        }
                }, error: function (xhr, textStatus, errorThrown) {
                        alert('request fail');
                    }
            });
        }

        function SearchEmp(empCode) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetEmployee")',
                data: {
                    empCode : empCode
                },
                success: function (data) {
                    $('#txtEmpResult').val(data.EmployeeCode+' '+data.FirstName + ' ' + data.LastName);
                }, error: function (xhr, textStatus, errorThrown) {
                        alert('request fail');
                    }
            });
        }
    </script>
}