@{
    ViewBag.Title = "Add New Travel Insurance";
}
<style>
    .control-label {
        padding-top: 5px;
        text-align: right;
    }

    .form-control {
        width: 100%
    }
    /*.form-group {
        padding-top: 6px;
        display: inline-block
    }*/
</style>
<div class="row">
    @* header navigation *@
    <div id="Header" class="col-md-12">
        <div class="box box-footer">
            <div class="row">
                @* menu1 *@
                <div class="col-md-3 border-right">
                    <div class="description-block">
                        <a href="@Url.Action("AddNewTAMain")">
                            <span class="glyphicon glyphicon-check" style="color: green"></span>
                            <h5 class="description-text">เลือกแบบประกัน</h5>
                        </a>
                    </div>
                </div>
                @* menu2 *@
                <div class="col-md-3 border-right">
                    <div class="description-block">
                        <a href="@Url.Action("AddNewTA")">
                            <span class="glyphicon glyphicon-edit" style="color: green"></span>
                            <h5 class="description-text">กรอกข้อมูลผู้เอาประกัน</h5>
                        </a>
                    </div>
                </div>
                @* menu3 *@
                <div class="col-md-3 border-right">
                    <div class="description-block">
                        <a href="@Url.Action("AddNewTAPayer")">
                            <span class="glyphicon glyphicon-edit" style="color: darkorange"></span>
                            <h5 class="description-text">กรอกข้อมูลผู้ชำระเบี้ยและผู้รับผลประโยชน์</h5>
                        </a>
                    </div>
                </div>
                @* menu4 *@
                <div class="col-md-3">
                    <div class="description-block">
                        <a href="@Url.Action("AddNewTAResult")">
                            <span class="glyphicon glyphicon-edit" style="color: dimgray"></span>
                            <h5 class="description-text">ตรวจสอบรายละเอียด</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="@Url.Action("AddNewTAPayer")" method="post">
        @* form start *@
        @* left column *@
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">ผู้เอาประกัน</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-sm-3" style="text-align: center">
                            <label class="control-label" for="">ชื่อ-นามสกุล:</label>
                        </div>
                        <div class="col-sm-9" style="padding-top: 5px">
                            <a>นางสาวปณิดา ทาริวิก</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* right column *@
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">ข้อมูลผู้ชำระเบี้ย</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-sm-5">
                            <label for="select_RelationType" class="control-label">ความสัมพันธ์กับผู้เอาประกัน:</label>
                        </div>
                        <div class="col-sm-7">
                            <select name="select_RelationType" id="select_RelationType" class="form-control" required="">
                                @foreach(var itm in @ViewBag.Relation)
                                {
                                    if(itm.PersonRelationType_ID == 1)
                                    {
                                        <option value="">---กรุณาเลือก---</option>
                                    }
                                    else
                                    {
                                        <option value="@itm.PersonRelationType_ID">@itm.PersonRelationType</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Person main *@
        <div id="Person_Form" class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">ข้อมูลผู้เอาประกัน</h4>
                </div>
                <div class="box-body">
                    @* 1st column *@
                    <div class="form-group row">
                        <label class="col-sm-1 control-label" for="select_title">ชื่อ:</label>
                        <div class="col-sm-2">
                            <select name="select_title" id="select_title" class="form-control select2">
                                @foreach(var item in @ViewBag.persontitle)
                                {
                                    if(item.Title_ID == 1)
                                    {
                                        <option value="">---กรุณาเลือก---</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Title_ID">@item.TitleDetail</option>
                                    }

                                }
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" name="txtFirstName" id="txtFirstName" class="form-control" placeholder="ท่านลอริเอะ" />
                        </div>
                        <label class="col-sm-1 control-label" for="txtLastName">นามสกุล:</label>
                        <div class="col-sm-4">
                            <input type="text" name="txtLastName" id="txtLastName" class="form-control" placeholder="บูมบะลาก้า" />
                        </div>
                    </div>
                    @* 2nd column *@
                    <div class="form-group row">
                        <label class="col-sm-3 control-label" style="text-align: right" for="txtZCardId">เลขบัตรประชาชน:</label>
                        <div class="col-sm-4">
                            <input type="text" name="txtZCardId" id="txtZCardId" class="form-control" placeholder="เลขบัตรประชาชน" />
                        </div>
                        <label class="col-sm-1 control-label" for="">Passport:</label>
                        <div class="col-sm-4">
                            <input type="text" name="txtPassport" id="txtPassport" class="form-control" placeholder="เลขPassport" />
                        </div>
                    </div>
                    @* 3rd column *@
                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <label class="col-sm-1 control-label" for="select_title">เพศ:</label>
                        <div class="col-sm-3">
                            <select name="select_sex" id="select_sex" class="form-control select2">
                                @foreach(var itm in ViewBag.sexList)
                                {
                                    if(itm.Sex_ID == 1)
                                    {
                                        <option value="">---กรุณาเลือก---</option>
                                    }
                                    else
                                    {
                                        <option value="@itm.Sex_ID">@itm.SexDetail</option>
                                    }

                                }
                            </select>
                        </div>
                        <label class="col-sm-2 control-label" style="text-align: right" for="select_status">สถานภาพ:</label>
                        <div class="col-sm-3">
                            <select name="select_status" id="select_status" class="form-control select2">
                                @foreach(var itm in ViewBag.MaritialStatusList)
                                {
                                    if(itm.MaritalStatus_ID == 1)
                                    {
                                        <option value="">---กรุณาเลือก---</option>
                                    }
                                    else
                                    {
                                        <option value="@itm.MaritalStatus_ID">@itm.MaritalStatusDetail</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                    @* 4th column *@
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label class="col-sm-2 control-label" style="text-align: right" for="txtTel">เบอร์โทรศัพท์:</label>
                        <div class="col-sm-3">
                            <input type="text" name="txtTel" id="txtTel" class="form-control" placeholder="หมายเลขโทรศัพท์" maxlength="10" />
                        </div>
                        <label class="col-sm-2 control-label" style="text-align: right" for="txtBirthDate">วันเกิด:</label>
                        <div class="input-group date col-sm-3">
                            <input type="text" class="form-control datepicker" id="txtBirthDate" placeholder="mm/dd/yyyy">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                    </div>
                    @* 5th column *@
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label class="col-sm-2 control-label" style="text-align: right" for="select_occupation">ประเภทอาชีพ:</label>
                        <div class="col-sm-3">
                            <select name="select_occupation" id="select_occupation" class="form-control select2">
                                @foreach(var itm in ViewBag.Occupation)
                                {
                                    if(itm.Occupation_ID == 1)
                                    {
                                        <option value="">---กรุณาเลือก---</option>
                                    }
                                    else
                                    {
                                        <option value="@itm.Occupation_ID">@itm.OccupationDetail</option>
                                    }

                                }
                            </select>
                        </div>
                        <label class="col-sm-2 control-label" style="text-align: right" for="select_occupationLevel">ระดับอาชีพ:</label>
                        <div class="col-sm-3">
                            <select name="select_occupationLevel" id="select_occupationLevel" class="form-control select2">
                                @foreach(var itm in ViewBag.OccupationLevel)
                                {
                                    if(itm.Occupation_ID == 1)
                                    {
                                        <option value="">---กรุณาเลือก---</option>
                                    }
                                    else
                                    {
                                        <option value="@itm.OccupationLevel_ID">@itm.OccupationLevelDetail</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Corporate main *@
        <div id="Corporate_Form" class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">ข้อมูลผู้เอาประกัน นิติบุคคล</h4>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        @* 1st column *@
                        <div class="form-group row">
                            <label class="col-sm-1 control-label" style="text-align: right" for="select_Cotitle">ชื่อ:</label>
                            <div class="col-sm-2">
                                <select name="select_Cotitle" id="select_Cotitle" class="form-control select2">
                                    @foreach(var item in @ViewBag.persontitle)
                                    {
                                        if(item.Title_ID == 1)
                                        {
                                            <option value="">---กรุณาเลือก---</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Title_ID">@item.TitleDetail</option>
                                        }

                                    }
                                </select>
                            </div>
                            <div class="col-sm-7 ">
                                <input type="text" name="txtCoName" id="txtCoName" class="form-control" placeholder="ท่านลอริเอะ" />
                            </div>
                        </div>
                        @* 2nd column *@
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2 control-label" for="txtCoNumber">เลขผู้เสียภาษี:</label>
                            <div class="col-sm-3">
                                <input type="text" name="txtCoNumber" id="txtCoNumber" class="form-control" placeholder="เลขที่ผู้เสียภาษี" />
                            </div>
                            <label class="col-sm-2 control-label" for="txtCoTel">เบอร์โทรศัพท์:</label>
                            <div class="col-sm-3">
                                <input type="text" name="txtCoTel" id="txtCoTel" class="form-control" placeholder="เบอร์โทรศัพท์" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Address tab *@
        <div id="Address_Tab" class="col-md-12">
            <div class="nav-tabs-custom">
                @* tab *@
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#MainAddress" data-toggle="tab" aria-expanded="True">ที่อยู่ปัจจุบัน</a>
                    </li>
                    <li>
                        <a href="#WorkAddress" data-toggle="tab" aria-expanded="True">ที่อยู่ที่ทำงาน</a>
                    </li>
                    <li>
                        <a href="#CardAddress" data-toggle="tab" aria-expanded="True">ที่อยู่ตามบัตรประชาชน</a>
                    </li>
                </ul>
                @* tab content *@
                <div class="tab-content">
                    @* Main address = 1 *@
                    <div id="MainAddress" class="tab-pane active">
                        @* Main Address 1st row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="txtCoAddressName1">ชื่อหน่วยงาน:</label>
                            <div class="col-sm-4">
                                <input type="text" name="txtCoAddressName1" id="txtCoAddressName1" class="form-control" placeholder="หน่วยงาน" />
                            </div>
                            <label class="col-sm-2 control-label" for="txtVillageName1">หมู่บ้าน:</label>
                            <div class="col-sm-4">
                                <input type="text" name="txtVillageName1" id="txtVillageName1" class="form-control" placeholder="ชื่อหมู่บ้าน" />
                            </div>
                        </div>
                        @* Main Address 2nd row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="txtHomeNumber1">เลขที่:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtHomeNumber1" id="txtHomeNumber1" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtVillageNo1">หมู่ที่:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtVillageNo1" id="txtVillageNo1" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtFloor1">ชั้น:</label>
                            <div class="col-sm-1">
                                <input type="text" name="txtFloor1" id="txtFloor1" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtRoom1">ห้อง:</label>
                            <div class="col-sm-1">
                                <input type="text" name="txtRoom1" id="txtRoom1" class="form-control" />
                            </div>
                        </div>
                        @* Main Address 3rd row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="txtValley1">ซอย:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtValley1" id="txtValley1" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtRoad1">ถนน:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtRoad1" id="txtRoad1" class="form-control" />
                            </div>
                        </div>
                        @* Main Address 4th row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="select_Province1">จังหวัด:</label>
                            <div class="col-sm-4">
                                <select name="select_Province1" style="width: 100%" id="select_Province1" class="form-control select2">
                                    <option value="1">กรุงมหาเมพ</option>
                                    <option value="2">จักรวาลมาร์เวล</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" for="select_District1">อำเภอ:</label>
                            <div class="col-sm-4">
                                <select name="select_District1" style="width: 100%" id="select_District1" class="form-control select2">
                                    <option value="1">กรุงมหาเมพ</option>
                                    <option value="2">จักรวาลมาร์เวล</option>
                                </select>
                            </div>
                        </div>
                        @* Main Address 5th row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="select_SubDistrict1">ตำบล:</label>
                            <div class="col-sm-4">
                                <select name="select_SubDistrict1" style="width: 100%" id="select_SubDistrict1" class="form-control select2">
                                    <option value="1">กรุงมหาเมพ</option>
                                    <option value="2">จักรวาลมาร์เวล</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" for="txtPostCode1">รหัสไปรษณีย์:</label>
                            <div class="col-sm-3">
                                <input type="text" name="txtPostCode1" id="txtPostCode1" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    @* Work Address = 2 *@
                    <div id="WorkAddress" class="tab-pane">
                        @* Extra *@
                        <div class="checkbox">
                            <label><input type="checkbox" id="chkAddress2" />ที่อยู่เดียวกันกับที่อยู่ปัจจุบัน</label>
                        </div>
                        @* Main Address 1st row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="txtCoAddressName2">ชื่อหน่วยงาน:</label>
                            <div class="col-sm-4">
                                <input type="text" name="txtCoAddressName2" id="txtCoAddressName2" class="form-control" placeholder="หน่วยงาน" />
                            </div>
                            <label class="col-sm-2 control-label" for="txtVillageName2">หมู่บ้าน:</label>
                            <div class="col-sm-4">
                                <input type="text" name="txtVillageName2" id="txtVillageName2" class="form-control" placeholder="ชื่อหมู่บ้าน" />
                            </div>
                        </div>
                        @* Main Address 2nd row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="txtHomeNumber2">เลขที่:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtHomeNumber2" id="txtHomeNumber2" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtVillageNo2">หมู่ที่:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtVillageNo2" id="txtVillageNo2" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtFloor2">ชั้น:</label>
                            <div class="col-sm-1">
                                <input type="text" name="txtFloor2" id="txtFloor2" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtRoom2">ห้อง:</label>
                            <div class="col-sm-1">
                                <input type="text" name="txtRoom2" id="txtRoom2" class="form-control" />
                            </div>
                        </div>
                        @* Main Address 3rd row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="txtValley2">ซอย:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtValley2" id="txtValley2" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtRoad2">ถนน:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtRoad2" id="txtRoad2" class="form-control" />
                            </div>
                        </div>
                        @* Main Address 4th row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="select_Province2">จังหวัด:</label>
                            <div class="col-sm-4">
                                <select name="select_Province2" id="select_Province2" style="width: 100%" class="form-control select2">
                                    <option value="1">กรุงมหาเมพ</option>
                                    <option value="2">จักรวาลมาร์เวล</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" for="select_District2">อำเภอ:</label>
                            <div class="col-sm-4">
                                <select name="select_District2" id="select_District2" style="width: 100%" class="form-control select2">
                                    <option value="1">กรุงมหาเมพ</option>
                                    <option value="2">จักรวาลมาร์เวล</option>
                                </select>
                            </div>
                        </div>
                        @* Main Address 5th row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="select_SubDistrict2">ตำบล:</label>
                            <div class="col-sm-4">
                                <select name="select_SubDistrict2" id="select_SubDistrict2" style="width: 100%" class="form-control select2">
                                    <option value="1">กรุงมหาเมพ</option>
                                    <option value="2">จักรวาลมาร์เวล</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" for="txtPostCode2">รหัสไปรษณีย์:</label>
                            <div class="col-sm-3">
                                <input type="text" name="txtPostCode2" id="txtPostCode2" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    @* Card Address = 3 *@
                    <div id="CardAddress" class="tab-pane">
                        @* Extra *@
                        <div class="checkbox">
                            <label><input type="checkbox" id="chkAddress3" />ที่อยู่เดียวกันกับที่อยู่ปัจจุบัน</label>
                        </div>
                        @* Main Address 1st row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="txtCoAddressName3">ชื่อหน่วยงาน:</label>
                            <div class="col-sm-4">
                                <input type="text" name="txtCoAddressName3" id="txtCoAddressName3" class="form-control" placeholder="หน่วยงาน" />
                            </div>
                            <label class="col-sm-2 control-label" for="txtVillageName3">หมู่บ้าน:</label>
                            <div class="col-sm-4">
                                <input type="text" name="txtVillageName3" id="txtVillageName3" class="form-control" placeholder="ชื่อหมู่บ้าน" />
                            </div>
                        </div>
                        @* Main Address 2nd row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="txtHomeNumber3">เลขที่:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtHomeNumber3" id="txtHomeNumber3" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtVillageNo3">หมู่ที่:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtVillageNo3" id="txtVillageNo3" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtFloor3">ชั้น:</label>
                            <div class="col-sm-1">
                                <input type="text" name="txtFloor3" id="txtFloor3" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtRoom3">ห้อง:</label>
                            <div class="col-sm-1">
                                <input type="text" name="txtRoom3" id="txtRoom3" class="form-control" />
                            </div>
                        </div>
                        @* Main Address 3rd row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="txtValley3">ซอย:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtValley3" id="txtValley3" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtRoad3">ถนน:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtRoad3" id="txtRoad3" class="form-control" />
                            </div>
                        </div>
                        @* Main Address 4th row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="select_Province3">จังหวัด:</label>
                            <div class="col-sm-4">
                                <select name="select_Province3" id="select_Province3" style="width: 100%" class="form-control select2">
                                    <option value="1">กรุงมหาเมพ</option>
                                    <option value="2">จักรวาลมาร์เวล</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" for="select_District3">อำเภอ:</label>
                            <div class="col-sm-4">
                                <select name="select_District3" id="select_District3" style="width: 100%" class="form-control select2">
                                    <option value="1">กรุงมหาเมพ</option>
                                    <option value="2">จักรวาลมาร์เวล</option>
                                </select>
                            </div>
                        </div>
                        @* Main Address 5th row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="select_SubDistrict3">ตำบล:</label>
                            <div class="col-sm-4">
                                <select name="select_SubDistrict3" id="select_SubDistrict3" style="width: 100%" class="form-control select2">
                                    <option value="1">กรุงมหาเมพ</option>
                                    <option value="2">จักรวาลมาร์เวล</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" for="txtPostCode3">รหัสไปรษณีย์:</label>
                            <div class="col-sm-3">
                                <input type="text" name="txtPostCode3" id="txtPostCode3" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Heir main *@
        <div id="Heir_Form" class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">ผู้รับผลประโยชน์</h4>
                </div>
                <div class="box-body">
                    @* 1st column *@
                    <div class="form-group row">
                        <label class="col-sm-1 control-label" for="select_Heirtitle">ชื่อ:</label>
                        <div class="col-sm-2">
                            <select name="select_Heirtitle" id="select_Heirtitle" class="form-control select2" required="">
                                @foreach(var item in @ViewBag.persontitle)
                                {
                                    if(item.Title_ID == 1)
                                    {
                                        <option value="">---กรุณาเลือก---</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Title_ID">@item.TitleDetail</option>
                                    }

                                }
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" name="txtHeirFirstName" id="txtHeirFirstName" class="form-control" placeholder="ชื่อ" required="" />
                        </div>
                        <label class="col-sm-1 control-label" for="txtHeirLastName">นามสกุล:</label>
                        <div class="col-sm-4">
                            <input type="text" name="txtHeirLastName" id="txtHeirLastName" class="form-control" placeholder="นามสกุล" required="" />
                        </div>
                    </div>
                    @* 2nd row *@
                    <div class="form-group row">
                        <div class="col-sm-3" style="text-align: right">
                            <label for="select_Relation" class="control-label">ความสัมพันธ์กับผู้เอาประกัน:</label>
                        </div>
                        <div class="col-sm-4">
                            <select name="select_Relation" id="select_Relation" class="form-control" required="">
                                @foreach(var itm in @ViewBag.Relation)
                                {
                                    if(itm.PersonRelationType_ID == 1)
                                    {
                                        <option value="">---กรุณาเลือก---</option>
                                    }
                                    else
                                    {
                                        <option value="@itm.PersonRelationType_ID">@itm.PersonRelationType</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* submit tab *@
        <div id="submit_tab" class="col-md-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-sm-10"></div>
                        <div class="col-sm-2">
                            <button id="SubmitForm" type="button" class="btn btn-block btn-primary">บันทึกข้อมูล</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            hideOnLoad();

            $('.select2').select2();

            //show and hide form
            $('#select_RelationType').change(function () {
                if ($('#select_RelationType').val() == 39) {
                    $('#Person_Form').hide();
                    $('#Address_Tab').hide();
                    $('#submit_tab').show();
                    $('#Corporate_Form').hide();
                    $('#Heir_Form').show();
                } else if ($('#select_RelationType').val() == '') {
                    hideOnLoad();
                } else {
                    $('#Corporate_Form').hide();
                    $('#Address_Tab').show();
                    $('#submit_tab').show();
                    $('#Person_Form').show();
                    $('#Heir_Form').show();
                }

            });
        });

        function hideOnLoad() {
            $('#Person_Form').hide();
            $('#Corporate_Form').hide();
            $('#Address_Tab').hide();
            $('#submit_tab').hide();
            $('#Heir_Form').hide();
        }
    </script>
}