@{
    ViewBag.Title = "Add New Travel Insurance";
}
<style>
    .control-label {
        padding-top: 5px;
        text-align: right;
    }
</style>
<div class="row">
    @* header navigation *@
    <div id="Header" class="col-md-12">
        <div class="box box-footer">
            <div class="row">
                @* menu1 *@
                <div class="col-md-3 border-right">
                    <div class="description-block">
                        <a href="@Url.Action("AddNewTAMain")">
                            <span class="glyphicon glyphicon-check" style="color: green"></span>
                            <h5 class="description-text">เลือกแบบประกัน</h5>
                        </a>
                    </div>
                </div>
                @* menu2 *@
                <div class="col-md-3 border-right">
                    <div class="description-block">
                        <a href="@Url.Action("AddNewTA")">
                            <span class="glyphicon glyphicon-edit" style="color: darkorange"></span>
                            <h5 class="description-text">กรอกข้อมูลผู้เอาประกัน</h5>
                        </a>
                    </div>
                </div>
                @* menu3 *@
                <div class="col-md-3 border-right">
                    <div class="description-block">
                        <a href="@Url.Action("AddNewTAPayer")">
                            <span class="glyphicon glyphicon-edit" style="color: dimgray"></span>
                            <h5 class="description-text">กรอกข้อมูลผู้ชำระเบี้ยและผู้รับผลประโยชน์</h5>
                        </a>
                    </div>
                </div>
                @* menu4 *@
                <div class="col-md-3">
                    <div class="description-block">
                        <a href="@Url.Action("AddNewTAResult")">
                            <span class="glyphicon glyphicon-edit" style="color: dimgray"></span>
                            <h5 class="description-text">ตรวจสอบรายละเอียด</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="@Url.Action("AddNewTA")" method="post">
        @* form start *@
        @* left column *@
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">ค้นหาข้อมูล</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="select_Person" class="col-sm-3 control-label">คำค้นหา:</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                @*<input type="text" name="txtSearch" id="txtSearch" class="form-control js-search-person">*@
                                <select name="select_Person" id="select_Person" class="form-control js-search-person"></select>
                                <span class="input-group-btn">
                                    <button type="button" id="btnSelectPerson" class="btn btn-info btn-flat">เลือก</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* right column *@
        <div class="col-md-6">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">ประเภทผู้เอาประกัน</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-sm-3" style="text-align: right">
                            <label class="control-label" for="select_PersonType">ประเภท :</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="select_PersonType" id="select_PersonType" class="form-control select2" disabled="disabled">
                                @foreach(var itm in ViewBag.PersonTypeList)
                                {
                                    if(itm.PersonType_ID == 1)
                                    {
                                        <option value="">---กรุณาเลือก---</option>
                                    }
                                    else
                                    {
                                        <option value="@itm.PersonType_ID">@itm.PersonTypeDetail</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Person main *@
        <div id="Person_Form" class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">ข้อมูลผู้เอาประกัน</h4>
                </div>
                <div class="box-body">
                    @* 1st column *@
                    <div class="form-group row">
                        <label class="col-sm-1 control-label" for="select_title">ชื่อ:</label>
                        <div class="col-sm-2">
                            <select name="select_title" id="select_title" class="form-control select2">
                                @foreach(var item in @ViewBag.persontitle)
                                {
                                    if(item.Title_ID == 1)
                                    {
                                        <option value="">---กรุณาเลือก---</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Title_ID">@item.TitleDetail</option>
                                    }

                                }
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" name="txtFirstName" id="txtFirstName" class="form-control" placeholder="ท่านลอริเอะ" />
                        </div>
                        <label class="col-sm-1 control-label" for="txtLastName">นามสกุล:</label>
                        <div class="col-sm-4">
                            <input type="text" name="txtLastName" id="txtLastName" class="form-control" placeholder="บูมบะลาก้า" />
                        </div>
                    </div>
                    @* 2nd column *@
                    <div class="form-group row">
                        <label class="col-sm-3 control-label" style="text-align: right" for="txtZCardId">เลขบัตรประชาชน:</label>
                        <div class="col-sm-4">
                            <input type="text" name="txtZCardId" id="txtZCardId" class="form-control" placeholder="เลขบัตรประชาชน" />
                        </div>
                        <label class="col-sm-1 control-label" for="">Passport:</label>
                        <div class="col-sm-4">
                            <input type="text" name="txtPassport" id="txtPassport" class="form-control" placeholder="เลขPassport" />
                        </div>
                    </div>
                    @* 3rd column *@
                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <label class="col-sm-1 control-label" for="select_title">เพศ:</label>
                        <div class="col-sm-3">
                            <select name="select_sex" id="select_sex" class="form-control select2">
                                @foreach(var itm in ViewBag.sexList)
                                {
                                    if(itm.Sex_ID == 1)
                                    {
                                        <option value="">---กรุณาเลือก---</option>
                                    }
                                    else
                                    {
                                        <option value="@itm.Sex_ID">@itm.SexDetail</option>
                                    }

                                }
                            </select>
                        </div>
                        <label class="col-sm-2 control-label" style="text-align: right" for="select_status">สถานภาพ:</label>
                        <div class="col-sm-3">
                            <select name="select_status" id="select_status" class="form-control select2">
                                @foreach(var itm in ViewBag.MaritialStatusList)
                                {
                                    if(itm.MaritalStatus_ID == 1)
                                    {
                                        <option value="">---กรุณาเลือก---</option>
                                    }
                                    else
                                    {
                                        <option value="@itm.MaritalStatus_ID">@itm.MaritalStatusDetail</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                    @* 4th column *@
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label class="col-sm-2 control-label" style="text-align: right" for="txtTel">เบอร์โทรศัพท์:</label>
                        <div class="col-sm-3">
                            <input type="text" name="txtTel" id="txtTel" class="form-control" placeholder="หมายเลขโทรศัพท์" maxlength="10" />
                        </div>
                        <label class="col-sm-2 control-label" style="text-align: right" for="txtBirthDate">วันเกิด:</label>
                        <div class="input-group date col-sm-3">
                            <input type="text" class="form-control datepicker" id="txtBirthDate" placeholder="mm/dd/yyyy" data-provide="datepicker" data-date-language="th-th">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                    </div>
                    @* 5th column *@
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label class="col-sm-2 control-label" style="text-align: right" for="select_occupation">ประเภทอาชีพ:</label>
                        <div class="col-sm-3">
                            <select name="select_occupation" id="select_occupation" style="width: 100%" class="form-control select2">
                                @foreach(var itm in ViewBag.Occupation)
                                {
                                    if(itm.Occupation_ID == 1)
                                    {
                                        <option value="">---กรุณาเลือก---</option>
                                    }
                                    else
                                    {
                                        <option value="@itm.Occupation_ID">@itm.OccupationDetail</option>
                                    }

                                }
                            </select>
                        </div>
                        <label class="col-sm-2 control-label" style="text-align: right" for="select_occupationLevel">ระดับอาชีพ:</label>
                        <div class="col-sm-3">
                            <select name="select_occupationLevel" id="select_occupationLevel" style="width: 100%" class="form-control select2">
                                @foreach(var itm in ViewBag.OccupationLevel)
                                {
                                    if(itm.Occupation_ID == 1)
                                    {
                                        <option value="">---กรุณาเลือก---</option>
                                    }
                                    else
                                    {
                                        <option value="@itm.OccupationLevel_ID">@itm.OccupationLevelDetail</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Corporate main *@
        <div id="Corporate_Form" class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">ข้อมูลผู้เอาประกัน นิติบุคคล</h4>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        @* 1st column *@
                        <div class="form-group row">
                            <label class="col-sm-1 control-label" style="text-align: right" for="select_Cotitle">ชื่อ:</label>
                            <div class="col-sm-2">
                                <select name="select_Cotitle" id="select_Cotitle" class="form-control select2">
                                    @foreach(var item in @ViewBag.persontitle)
                                    {
                                        if(item.Title_ID == 1)
                                        {
                                            <option value="">---กรุณาเลือก---</option>
                                        }
                                        <option value="@item.Title_ID">@item.TitleDetail</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-7 ">
                                <input type="text" name="txtCoName" id="txtCoName" class="form-control" placeholder="ท่านลอริเอะ" />
                            </div>
                        </div>
                        @* 2nd column *@
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2 control-label" for="txtCoNumber">เลขผู้เสียภาษี:</label>
                            <div class="col-sm-3">
                                <input type="text" name="txtCoNumber" id="txtCoNumber" class="form-control" placeholder="เลขที่ผู้เสียภาษี" />
                            </div>
                            <label class="col-sm-2 control-label" for="txtCoTel">เบอร์โทรศัพท์:</label>
                            <div class="col-sm-3">
                                <input type="text" name="txtCoTel" id="txtCoTel" class="form-control" placeholder="เบอร์โทรศัพท์" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Address tab *@
        <div id="Address_Tab" class="col-md-12">
            <div class="nav-tabs-custom">
                @* tab *@
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#MainAddress" data-toggle="tab" aria-expanded="True">ที่อยู่ปัจจุบัน</a>
                    </li>
                    <li>
                        <a href="#WorkAddress" data-toggle="tab" aria-expanded="True">ที่อยู่ที่ทำงาน</a>
                    </li>
                    <li>
                        <a href="#CardAddress" data-toggle="tab" aria-expanded="True">ที่อยู่ตามบัตรประชาชน</a>
                    </li>
                </ul>
                @* tab content *@
                <div class="tab-content">
                    @* Main address = 1 *@
                    <div id="MainAddress" class="tab-pane active">
                        @* Main Address 1st row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="txtCoAddressName1">ชื่อหน่วยงาน:</label>
                            <div class="col-sm-4">
                                <input type="text" name="txtCoAddressName1" id="txtCoAddressName1" class="form-control" placeholder="หน่วยงาน" />
                            </div>
                            <label class="col-sm-2 control-label" for="txtVillageName1">หมู่บ้าน:</label>
                            <div class="col-sm-4">
                                <input type="text" name="txtVillageName1" id="txtVillageName1" class="form-control" placeholder="ชื่อหมู่บ้าน" />
                            </div>
                        </div>
                        @* Main Address 2nd row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="txtHomeNumber1">เลขที่:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtHomeNumber1" id="txtHomeNumber1" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtVillageNo1">หมู่ที่:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtVillageNo1" id="txtVillageNo1" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtFloor1">ชั้น:</label>
                            <div class="col-sm-1">
                                <input type="text" name="txtFloor1" id="txtFloor1" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtRoom1">ห้อง:</label>
                            <div class="col-sm-1">
                                <input type="text" name="txtRoom1" id="txtRoom1" class="form-control" />
                            </div>
                        </div>
                        @* Main Address 3rd row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="txtValley1">ซอย:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtValley1" id="txtValley1" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtRoad1">ถนน:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtRoad1" id="txtRoad1" class="form-control" />
                            </div>
                        </div>
                        @* Main Address 4th row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="select_Province1">จังหวัด:</label>
                            <div class="col-sm-4">
                                <select name="select_Province1" style="width: 100%" id="select_Province1" class="form-control select2">
                                    <option value="0">---กรุณาเลือก---</option>
                                    @foreach(var itm in ViewBag.Province)
                                    {
                                        <option value="@itm.Province_ID">@itm.ProvinceDetail</option>
                                    }
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" for="select_District1">อำเภอ:</label>
                            <div class="col-sm-4">
                                <select name="select_District1" style="width: 100%" id="select_District1" class="form-control select2">
                                    <option value="0">---กรุณาเลือก---</option>
                                </select>
                            </div>
                        </div>
                        @* Main Address 5th row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="select_SubDistrict1">ตำบล:</label>
                            <div class="col-sm-4">
                                <select name="select_SubDistrict1" style="width: 100%" id="select_SubDistrict1" class="form-control select2">
                                    <option value="0">---กรุณาเลือก---</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" for="txtPostCode1">รหัสไปรษณีย์:</label>
                            <div class="col-sm-3">
                                <input type="text" name="txtPostCode1" id="txtPostCode1" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    @* Work Address = 2 *@
                    <div id="WorkAddress" class="tab-pane">
                        @* Extra *@
                        <div class="checkbox">
                            <label><input type="checkbox" id="chkAddress2" />ที่อยู่เดียวกันกับที่อยู่ปัจจุบัน</label>
                        </div>
                        @* Main Address 1st row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="txtCoAddressName2">ชื่อหน่วยงาน:</label>
                            <div class="col-sm-4">
                                <input type="text" name="txtCoAddressName2" id="txtCoAddressName2" class="form-control" placeholder="หน่วยงาน" />
                            </div>
                            <label class="col-sm-2 control-label" for="txtVillageName2">หมู่บ้าน:</label>
                            <div class="col-sm-4">
                                <input type="text" name="txtVillageName2" id="txtVillageName2" class="form-control" placeholder="ชื่อหมู่บ้าน" />
                            </div>
                        </div>
                        @* Main Address 2nd row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="txtHomeNumber2">เลขที่:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtHomeNumber2" id="txtHomeNumber2" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtVillageNo2">หมู่ที่:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtVillageNo2" id="txtVillageNo2" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtFloor2">ชั้น:</label>
                            <div class="col-sm-1">
                                <input type="text" name="txtFloor2" id="txtFloor2" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtRoom2">ห้อง:</label>
                            <div class="col-sm-1">
                                <input type="text" name="txtRoom2" id="txtRoom2" class="form-control" />
                            </div>
                        </div>
                        @* Main Address 3rd row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="txtValley2">ซอย:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtValley2" id="txtValley2" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtRoad2">ถนน:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtRoad2" id="txtRoad2" class="form-control" />
                            </div>
                        </div>
                        @* Main Address 4th row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="select_Province2">จังหวัด:</label>
                            <div class="col-sm-4">
                                <select name="select_Province2" id="select_Province2" style="width: 100%" class="form-control select2">
                                    <option value="0">---กรุณาเลือก---</option>
                                    @foreach(var itm in ViewBag.Province)
                                    {
                                        <option value="@itm.Province_ID">@itm.ProvinceDetail</option>
                                    }
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" for="select_District2">อำเภอ:</label>
                            <div class="col-sm-4">
                                <select name="select_District2" id="select_District2" style="width: 100%" class="form-control select2">
                                    <option value="0">---กรุณาเลือก---</option>
                                </select>
                            </div>
                        </div>
                        @* Main Address 5th row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="select_SubDistrict2">ตำบล:</label>
                            <div class="col-sm-4">
                                <select name="select_SubDistrict2" id="select_SubDistrict2" style="width: 100%" class="form-control select2">
                                    <option value="0">---กรุณาเลือก---</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" for="txtPostCode2">รหัสไปรษณีย์:</label>
                            <div class="col-sm-3">
                                <input type="text" name="txtPostCode2" id="txtPostCode2" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    @* Card Address = 3 *@
                    <div id="CardAddress" class="tab-pane">
                        @* Extra *@
                        <div class="checkbox">
                            <label><input type="checkbox" id="chkAddress3" />ที่อยู่เดียวกันกับที่อยู่ปัจจุบัน</label>
                        </div>
                        @* Main Address 1st row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="txtCoAddressName3">ชื่อหน่วยงาน:</label>
                            <div class="col-sm-4">
                                <input type="text" name="txtCoAddressName3" id="txtCoAddressName3" class="form-control" placeholder="หน่วยงาน" />
                            </div>
                            <label class="col-sm-2 control-label" for="txtVillageName3">หมู่บ้าน:</label>
                            <div class="col-sm-4">
                                <input type="text" name="txtVillageName3" id="txtVillageName3" class="form-control" placeholder="ชื่อหมู่บ้าน" />
                            </div>
                        </div>
                        @* Main Address 2nd row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="txtHomeNumber3">เลขที่:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtHomeNumber3" id="txtHomeNumber3" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtVillageNo3">หมู่ที่:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtVillageNo3" id="txtVillageNo3" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtFloor3">ชั้น:</label>
                            <div class="col-sm-1">
                                <input type="text" name="txtFloor3" id="txtFloor3" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtRoom3">ห้อง:</label>
                            <div class="col-sm-1">
                                <input type="text" name="txtRoom3" id="txtRoom3" class="form-control" />
                            </div>
                        </div>
                        @* Main Address 3rd row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="txtValley3">ซอย:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtValley3" id="txtValley3" class="form-control" />
                            </div>
                            <label class="col-sm-1 control-label" for="txtRoad3">ถนน:</label>
                            <div class="col-sm-2">
                                <input type="text" name="txtRoad3" id="txtRoad3" class="form-control" />
                            </div>
                        </div>
                        @* Main Address 4th row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="select_Province3">จังหวัด:</label>
                            <div class="col-sm-4">
                                <select name="select_Province3" id="select_Province3" style="width: 100%" class="form-control select2">
                                    @foreach(var itm in ViewBag.Province)
                                    {
                                        <option value="@itm.Province_ID">@itm.ProvinceDetail</option>
                                    }
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" for="select_District3">อำเภอ:</label>
                            <div class="col-sm-4">
                                <select name="select_District3" id="select_District3" style="width: 100%" class="form-control select2">
                                    <option value="0">---กรุณาเลือก---</option>
                                </select>
                            </div>
                        </div>
                        @* Main Address 5th row *@
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="select_SubDistrict3">ตำบล:</label>
                            <div class="col-sm-4">
                                <select name="select_SubDistrict3" id="select_SubDistrict3" style="width: 100%" class="form-control select2">
                                    <option value="0">---กรุณาเลือก---</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" for="txtPostCode3">รหัสไปรษณีย์:</label>
                            <div class="col-sm-3">
                                <input type="text" name="txtPostCode3" id="txtPostCode3" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="subdistrictId1" id="subdistrictId1" />
        <input type="hidden" name="subdistrictId2" id="subdistrictId2" />
        <input type="hidden" name="subdistrictId3" id="subdistrictId3" />
        @* footer *@
        <div id="submit_tab" class="col-md-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-sm-8"></div>
                        <div class="col-sm-2">
                            <button id="SubmitForm" type="button" class="btn btn-block btn-primary">บันทึกข้อมูล</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function() {
                hideOnLoad();

            $('#btnSelectPerson').on('click', function ()
            {
                ClearAllBox();
                debugger;
                GetAllBoxInfo($('#select_Person').val());
                 DisableAllBox();
            });

            $('.select2').select2();
            $('.datepicker').datepicker();
                $('.js-search-person').select2({
                    ajax: {
                        type: 'GET',
                        url: '@Url.Action("SearchPerson")',
                        dataType: 'json',
                        delay: 250,
                        data: function(params) {
                            return {
                                q: params.term // search term
                                //page: params.page
                            };
                        },
                        processResults: function(data, search) {
                            //params.page = params.page || 1;
                            return {
                                results: $.map(data,function(item) {
                                    return {
                                            id: item.Person_ID,
                                            text: item.FullName +' '+ item.PersonCardDetail
                                        }
                                    })
                            };
                        },
                        cache:true
                    },
                    templateResult: function(item) {
                        if (item.loading) return item.text;
                        return item.text;
                    },
                    escapeMarkup:function(markup) { return markup; }, // let our custom formatter work
                    minimumInputLength: 3
                });

        //show and hide form
        $('#select_PersonType').change(function() {
                if ($('#select_PersonType').val() == '2') {
                    $('#Person_Form').show();
                    $('#Address_Tab').show();
                    $('#submit_tab').show();
                    $('#Corporate_Form').hide();
                } else if ($('#select_PersonType').val() == '3') {
                    $('#Corporate_Form').show();
                    $('#Address_Tab').show();
                    $('#submit_tab').show();
                    $('#Person_Form').hide();
                } else {
                    hideOnLoad();
                }

            });

        });

        $('#select_Province1').on('change', function () {
            GetAddressCaseCade($('#subdistrictId1'));
        });

        function hideOnLoad() {
            $('#Person_Form').hide();
            $('#Corporate_Form').hide();
            $('#Address_Tab').hide();
            $('#submit_tab').hide();
        }

        //clear all data in box
        function ClearAllBox() {
            $('#select_PersonType').val(0);
        }
        //disable all box
        function DisableAllBox() {
            $('#Person_Form * ').prop('disabled', true);
            $('#Corporate_Form *').prop('disabled', true);
            $('#MainAddress *').prop('disabled', true);
            $('#WorkAddress *').prop('disabled', true);
            $('#CardAddress *').prop('disabled', true);

        }

        function GetAllBoxInfo(personId) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SelectPersonDetail")',
                data: { personId: personId },
                success: function (data) {
                    if (data.Result.PersonType_ID == 2) {
                        $('#select_PersonType').val('2').change();
                        $('#select_title').val(data.Result.Title_ID).change();
                        $('#txtFirstName').val(data.Result.FirstName);
                        $('#txtLastName').val(data.Result.LastName);
                        $('#txtZCardId').val(data.Result.IdentityCard);
                        $('#txtPassport').val(data.Result.Passport);
                        $('#select_sex').val(data.Result.Sex_ID).change();
                        $('#select_status').val(data.Result.MaritalStatus_ID).change();
                        $('#txtTel').val(data.Result.Mobile);
                        //moment.locale();
                        var bday = moment(data.Result.BirthDate).format('l');
                        debugger;
                        $('#txtBirthDate').val(bday);
                        $('#select_occupation').val(data.Result.Occupation_ID).change();

                        $('#select_occupationLevel').val(data.Result.OccupationLevel_ID).change();

                    }
                    if (data.Result.PersonType_ID == 3) {
                        $('#select_PersonType').val('3').change();
                        $('#select_Cotitle').val(data.Result.Title_ID).change();
                        $('#txtCoName').val(data.Result.FirstName);
                        $('#txtCoNumber').val(data.personDetail.PersonCardDetail);
                        $('#txtCoTel').val(data.Result.Tel);
                    }
                    //set home address detail
                    $('#txtCoAddressName1').val(data.homeAddressResult.BuildingName);
                    $('#txtVillageName1').val(data.homeAddressResult.VillageName);
                    $('#txtHomeNumber1').val(data.homeAddressResult.No);
                    $('#txtVillageNo1').val(data.homeAddressResult.Moo);
                    $('#txtFloor1').val(data.homeAddressResult.Floor);
                    $('#txtRoom1').val(data.homeAddressResult.Room);
                    $('#txtValley1').val(data.homeAddressResult.Soi);
                    $('#txtRoad1').val(data.homeAddressResult.Road);
                    $('#select_SubDistrict1').val(data.homeAddressResult.SubDistrict_ID).change();
                    $('#select_District1').val(data.homeAddressResult.District_ID).change();
                    $('#select_Province1').val(data.homeAddressResult.Province_ID).change();
                    $('#txtPostCode1').val(data.homeAddressResult.ZipCode);
                    $('#subdistrictId1').val(data.homeAddressResult.SubDistrict_ID);

                }, error: function (xhr, textStatus, errorThrown) {
                        alert('request fail please cantact admin!');
                    }
            });
        }

        function GetOccupationLevel(occuId) {
             $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetOccupationLevel")',
                    data: { occuCode: occuId },
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            $('#select_occupationLevel').append('<option value=' + data[i].OccupationLevel_ID + '>'+ data[i].OccupationLevelDetail +'</option>');
                        }
                    }, error: function (xhr, textStatus, errorThrown) {
                        alert('request fail');
                    }
            });
        }

        function GetAddressCaseCade(subDistrictId) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("SelectFullAddressFromSubDistrictId")',
                data: { subDistrictId: subDistrictId },
                success: function (data) {
                    $('#select_District1').append('<option value=' + data[i].districtResult.District_ID + ' selected>' + data[i].districtResult.DistrictDetail + '</option>');
                    $('#select_SubDistrict1').append('<option value=' + data[i].subDistrictResult.SubDistrict_ID + ' selected>' + data[i].subDistrictResult.SubDistrictDetail + '</option>');
                }
            });
        }
    </script>
}