@{
    ViewBag.Title = "ข้อมูลผู้เอาประกัน";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<form class="form-horizontal">

    <input type="hidden" id="hdfCustomerDetailId" hidden value="@ViewBag.CustomerDetailId" />
    <input type="hidden" id="hdfApplicationRoundId" hidden value="@ViewBag.ApplicationRoundId" />
    <input type="hidden" id="hdfEffectiveDate" hidden value="" />
    <input type="hidden" id="hdfProductId" hidden value="" />

    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">ข้อมูลผู้เอาประกัน</h3>
                    </div>
                    <div class="box-body">
                        <div class="row" style="padding-top:0px">
                            <div class="col-md-4">
                                <label class="control-label" for="lblMemberId">Member ID</label>

                                <input type="text" class="form-control" id="txtCustomerDetailCode" disabled>
                                <label class="control-label" for="lblCustZCardId">เลขบัตรประชาชน</label>
                                <div class="row form-inline">
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @*<input type="text" class="form-control" id="txtCustZCardId" style="width:auto;"
                                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                placeholder="เลขบัตรประชาชน">*@
                                            <input type="text" class="form-control " style="width:auto" id="txtCustZCardId" name="txtCustZCardId" data-inputmask="'mask': '9-9999-99999-99-9'" />
                                            <span class="input-group-btn">
                                                <button type="button" id="btnChkIdcard" class="btn btn-primary">ตรวจสอบ</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="col-md-6">
                                    <div class="col-md-7">
                                        <label style="MARGIN-LEFT: -30px" class="control-label">สถานะ</label>
                                        <input style="MARGIN-LEFT: -30px" type="text" class="form-control" id="txtStatus" disabled>
                                    </div>
                                    <div class="col-md-5">
                                    </div>

                                    <div class="col-md-10">
                                        <label style="MARGIN-LEFT: -30px" class="control-label" for="lblPassportNo">หมายเลขพาสปอร์ต</label>
                                        <input style="MARGIN-LEFT: -30px" type="text" class="form-control" id="txtPassportNo" placeholder="หมายเลขพาสปอร์ต">
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>

                                <div class="col-md-1">
                                </div>

                                <div class="col-md-5">
                                    <div class="info-box bg-aqua" id="LogoH">
                                        <span class="info-box-icon"><i class="fa fa-fw fa-heartbeat"></i></span>

                                        <div class="info-box-content">

                                            <h3 id="LogoHText1" style="margin-top: 1px">บันทึกข้อมูล</h3>

                                            <div class="progress">
                                                <div class="progress-bar" style="width: 20%"></div>
                                            </div>
                                            <span class="progress-description" id="txtApplicationID"></span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row" style="padding-top:6px">
                                    <div class="col-md-2">
                                        <label>คำนำหน้า</label>
                                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" id="ddlTitle" name="ddlTitle">
                                            <option value="-1">--โปรดระบุ--</option>

                                            @{foreach (var item in ViewBag.Titles)
                                                {
                                                    <option value="@item.TitleId">@item.Title</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label" for="lblCustFirstName">ชื่อ</label>
                                        <input type="text" class="form-control" id="txtCustFirstName" placeholder="กรอกชื่อจริง">
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label" for="lblCustLastName">นามสกุล</label>
                                        <input type="text" class="form-control" id="txtCustLastName" placeholder="กรอกนามสกุล">
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>
                                <div class="row" style="padding-top:6px">
                                    <div class="col-md-2">
                                        <label class="control-label" for="lblCustBirthDay">วันเกิด</label>
                                        <div class="input-group date">
                                            <input type="text" class="form-control pull-right" id="dtpCustBirthDay" data-provide="datepicker" data-date-language="th-th" placeholder="dd/mm/yyyy" data-format="dd/MM/yyyy">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="text-left" style="margin-top: 30px">
                                            <div class="row form-inline">
                                                <label class="control-label text-al" for="lblCustAgeH" style="text-align:right;">&nbsp;&nbsp;&nbsp;&nbsp;อายุ&nbsp;</label>
                                                <label class="control-label text-green" id="txtAge_Y" for="lblCustAge" style="text-align:left; text-decoration:underline;">0</label>
                                                <label class="control-label" for="lblCustAgeYearH" style="text-align:left;">&nbsp;ปี&nbsp;&nbsp;</label>
                                                <label class="control-label text-green" id="txtAge_M" for="lblCustAgeYear" style="text-align:left; text-decoration:underline;">0</label>
                                                <label class="control-label" for="lblCustAgeMonthH">&nbsp;เดือน&nbsp;&nbsp;</label>
                                                <label class="control-label text-green" id="txtAge_D" for="lblCustAgeMonth" style="text-align:left; text-decoration:underline;">0</label>
                                                <label class="control-label" for="lblCustAgeDateH">&nbsp;วัน</label>
                                            </div>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                                <div class="row" style="padding-top:6px">
                                    <div class="col-md-4">
                                        <label class="control-label" for="lblOccupation">อาชีพ</label>
                                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" id="ddlOccupation" name="ddlOccupation">
                                            <option value="-1">--โปรดระบุ--</option>

                                            @{foreach (var item in ViewBag.Occupation)
                                                {
                                                    <option value="@item.OccupationId">@item.Occupation</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label text-left" for="lblPhoneNo">เบอร์โทรศัพท์</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            <input type="text" class="form-control " id="txtPhoneNo" name="txtPhoneNo" data-inputmask="'mask': '999-9999999'" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top:6px">
                                    <div class="col-md-4">
                                        <label class="control-label" for="lblPhoneNo">
                                            <input type="checkbox" id="cbCover" disabled>
                                            ความคุ้มครองพิเศษเพิ่มเติม(ฟรี)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="row">

                                <div class="col-md-2 col-md-offset-10">

                                    <button type="button" class="btn btn-block btn-success float-right" id="btnSave">บันทึกผู้เอาประกัน</button>
                                    @*<button type="button" class="btn btn-block btn-success float-right" id="send-group">SignalR</button>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section ViewSpecificJavascript
{
    <script>

        $(function () {
            $('#txtPhoneNo').inputmask();
            $('#txtCustZCardId').inputmask();
            //Initialize Select2 Elements
            GetCustomerDetail();
            DefaultLogo();
            //Date picker
            var d1 = new Date();
            $('#dtpCustBirthDay').datepicker({ format: "dd/mm/yyyy", autoclose: true }).datepicker("setDate", new Date(d1.getFullYear(), d1.getMonth(), 1));

            //$('#dtpCustBirthDay').change(function () {
            //   $('#txtCustAgeYear').val("123");
            //});

        });

        $('#btnChkIdcard').click(function (e) {
            e.preventDefault();
            if (checkID($('#txtCustZCardId').val()) == true) {
                swal("ตรวจสอบข้อมูล", "รหัสบัตรประชาชนถูกต้อง", "success")
            }
        });

        $('#dtpCustBirthDay').change(e => {
            e.preventDefault();
            GetAgeInRange();
        });

             //Get อายุ สถานะ  hdfEffectiveDate
        const GetAgeInRange = () => {

            $.ajax({

                type: "GET",
                url: '@Url.Action("CalculateAgeXProduct", "PACommunity")',
                data: {

                    DateFrom: $('#dtpCustBirthDay').val(),
                    DateTo: $('#hdfEffectiveDate').val(),
                    ProductId: $('#hdfProductId').val()
                },
                dataType: "json",
                success: function (response) {
                    debugger;
                    $('#txtAge_Y').text(response.Year);
                    $('#txtAge_M').text(response.Month);
                    $('#txtAge_D').text(response.Day);

                    if (response.IsAgeInRange == true) {
                        //ปกติ
                        $('#txtStatus').val('ปกติ');
                    } else {
                          //ไม่รับประกัน
                        $('#txtStatus').val('ไม่รับประกัน');

                    }

                }
            });
        }

             //บันทึกข้อมูล
        const DoSave = () => {
            debugger;
            var IscbCover = 2

            let ischecked_Cover = $("#cbCover").is(":checked");

            if (ischecked_Cover == true) {
                IscbCover = 3
            }

            $.ajax({

                type: "POST",
                url: '@Url.Action("DoSaveCustomerDetail", "PACommunity")',
                data: {

                    ApplicationRoundId: $('#hdfApplicationRoundId').val(),
                    TitleId: $('#ddlTitle').val(),
                    FirstName: $('#txtCustFirstName').val(),
                    LastName: $('#txtCustLastName').val(),
                    MobileNumber: $('#txtPhoneNo').val().replace(/-/gi, ''),
                    IdCardNumber: $('#txtCustZCardId').val().replace(/-/gi, ''),
                    PassPortNumber: $('#txtPassportNo').val(),
                    OccupationId: $('#ddlOccupation').val(),
                    CustomerDetailTypeId: IscbCover,
                    BirthDate: $('#dtpCustBirthDay').val()

                },
                dataType: "json",
                success: function (response) {

                    if (response[0] == "True") {
                        window.swal({
                            title: 'รายการ',
                            type: 'success',
                            text: response[2],
                            showCancelButton: false,
                            confirmButtonColor: '#26A65B',
                            confirmButtonText: 'ตกลง',
                            closeOnEsc: false,
                            className: "text"
                        }, function () {
                            //Close Page
                            window.close();
                        });

                    } else {
                        swal(response[2], "", "error")

                    }

                },
                Error: function (d) {

                }
            });
        }

             //แก้ไขข้อมูล
        const DoUpdate = () => {
            debugger;
            var IscbCover = 2

            let ischecked_Cover = $("#cbCover").is(":checked");

            if (ischecked_Cover == true) {
                IscbCover = 3
            }

            $.ajax({

                type: "POST",
                url: '@Url.Action("DoUpdateCustomerDetail", "PACommunity")',
                data: {

                    CustomerDetailId: $('#hdfCustomerDetailId').val(),
                    TitleId: $('#ddlTitle').val(),
                    FirstName: $('#txtCustFirstName').val(),
                    LastName: $('#txtCustLastName').val(),
                    IdCardNumber: $('#txtCustZCardId').val().replace(/-/gi, ''),
                    PassPortNumber: $('#txtPassportNo').val(),

                    BirthDate: $('#dtpCustBirthDay').val(),

                    AgeAtRegister_Y: $('#txtAge_Y').text(),
                    AgeAtRegister_M: $('#txtAge_M').text(),
                    AgeAtRegister_D: $('#txtAge_D').text(),
                    OccupationId: $('#ddlOccupation').val(),
                    MobileNumber: $('#txtPhoneNo').val().replace(/-/gi, ''),

                    CustomerDetailTypeId: IscbCover
                },
                dataType: "json",
                success: function (response) {

                    if (response[0] == "True") {

                        swal(response[2], "", "success")

                    } else {
                        swal(response[2], "", "error")

                    }

                },
                Error: function (d) {

                }
            });
        }

        const DefaultLogo = () => {

            if ($('#hdfCustomerDetailId').val() != "") {
                $('#LogoH').removeClass("info-box bg-aqua").addClass("info-box bg-orange");
                $('#LogoHText1').text('แก้ไขข้อมูล');
            }

        }

        const Isvalidate = () => {
            debugger;
            if ($('#txtCustZCardId').val().replace(/-/gi, '') != "" || $('#txtPassportNo').val() != "") {
                if ($('#txtCustZCardId').val() != "") {

                    if (checkID($('#txtCustZCardId').val()) == false) {
                        return false

                    }

                }

                if ($('#ddlTitle').val() == -1) {
                    swal("ตรวจสอบข้อมูล", "กรุณาระบุคำนำหน้าชื่อผู้เอาประกัน", "warning")
                    return false
                }

                else if ($('#txtCustFirstName').val() == "") {
                    swal("ตรวจสอบข้อมูล", "กรุณาระบุชื่อผู้เอาประกัน", "warning")
                    return false
                }

                else if ($('#txtCustLastName').val() == "") {
                    swal("ตรวจสอบข้อมูล", "กรุณาระบุนามสกุลผู้เอาประกัน", "warning")
                    return false
                }

                else if (Number(($('#txtAge_Y').text())
                    + Number($('#txtAge_M').text())
                    + Number($('#txtAge_D').text())) == 0) {
                    swal("ตรวจสอบข้อมูล", "กรุณาระบุวันเกิดผู้เอาประกัน", "warning")
                    return false
                }

                else if ($('#ddlOccupation').val() == -1) {
                    swal("ตรวจสอบข้อมูล", "กรุณาระบุอาชีพผู้เอาประกัน", "warning")
                    return false
                }

                else if ($('#txtPhoneNo').val().replace(/-/gi, '') == "") {
                    swal("ตรวจสอบข้อมูล", "กรุณาเบอร์โทรศัพท์ผู้เอาประกัน", "warning")
                    return false
                }

                else if ($('#txtPhoneNo').val().replace(/-/gi, '').length != 10) {
                    swal("ตรวจสอบข้อมูล", "เบอร์โทรศัพท์ต้องมี 10 หลัก", "warning")
                    return false
                }

                return true

            } else {
                swal("ตรวจสอบข้อมูล", "กรุณาระบุเลขบัตรประชาชน หรือ หมายเลขพาสปอร์ต", "warning")
                $('#txtCustZCardId').val('')
                return false
            }

        }

        const checkID = (id) => {
            debugger;
            id =  id.replace(/-/gi, '')
            if (id.length != 13) {

                swal("ตรวจสอบข้อมูล", "รหัสบัตรประชาชนต้องมี 13 หลัก", "warning")
                $('#txtCustZCardId').val('')
                return false
            } else {

                for (i = 0, sum = 0; i < 12; i++)
                    sum += parseFloat(id.charAt(i)) * (13 - i);

                if ((11 - sum % 11) % 10 != parseFloat(id.charAt(12))) {
                    $('#txtCustZCardId').val()
                    swal("ตรวจสอบข้อมูล", "รหัสบัตรประชาชนไม่ถูกต้องกรุณาตรวจสอบ", "warning")
                    $('#txtCustZCardId').val('')
                    return false
                } else {

                    return true

                }

            }

        }

        const GetApplicationRoundByID = () => {

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetApplicationRoundByID", "PACommunity")',
                data: {
                    applicationRoundID: $('#hdfApplicationRoundId').val()
                },
                dataType: "json",
                success: function (response) {

                    debugger;

                    $('#txtApplicationID').text(response.ApplicationCode);
                    let EffectiveDate1 = moment(response.EffectiveDate).add(543, 'years')._d;
                    $('#hdfEffectiveDate').datepicker({ format: "dd/mm/yyyy" }).datepicker('setDate', new Date(EffectiveDate1));
                    $('#hdfProductId').val(response.ProductId);
                }
            });
        }

        const GetCustomerDetail = () => {

            GetApplicationRoundByID();

            if ($('#hdfCustomerDetailId').val() != "") {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetCustomerByCustomerid", "PACommunity")',
                    data: {
                        CustomerDetailId: $('#hdfCustomerDetailId').val()
                    },
                    dataType: "json",
                    success: function (response) {
                        debugger;
                        $('#txtApplicationID').text(response.ApplicationCode);
                        $('#txtCustomerDetailCode').val(response.CustomerDetailCode);
                        $('#txtStatus').val(response.CustomerDetailStatus);
                        $('#txtCustZCardId').val(response.IdCardNumber);
                        $('#txtPassportNo').val(response.PassPortNumber);
                        $('#ddlTitle').select2().val(response.TitleId).trigger('change.select2');
                        $('#txtCustFirstName').val(response.FirstName);
                        $('#txtCustLastName').val(response.LastName);
                        let BirthDate1 = moment(response.BirthDate)._d;

                        $('#dtpCustBirthDay').datepicker({ format: "dd/mm/yyyy" }).datepicker('setDate', new Date(BirthDate1));
                        $('#ddlOccupation').select2().val(response.OccupationId).trigger('change.select2');
                        $('#txtPhoneNo').val(response.MobileNumber);
                        $('#cbCover').iCheck('uncheck');

                        if (response.CustomerDetailTypeId == 3) {
                            $('#cbCover').iCheck('check');
                        }

                        $('#txtAge_Y').text(response.AgeAtRegister_Y);
                        $('#txtAge_M').text(response.AgeAtRegister_M);
                        $('#txtAge_D').text(response.AgeAtRegister_D);
                    }
                });

            } else {

                $('#ddlOccupation').select2().val(-1).trigger('change.select2');
                $('#ddlTitle').select2().val(-1).trigger('change.select2');
            }

        }

        $(document).ready(function () {
            debugger;
            // Reference the auto-generated proxy for the hub.
            var chat = $.connection.myHub;

            //Start Connection
            $.connection.hub.start().done(function () {
                debugger;
                //join group
                chat.server.joinGroup(@ViewBag.userID);

                $('#btnSave').click(function (e) {
                    e.preventDefault();

                    chat.server.sendNotice("", "");
                    if (Isvalidate() == true) {
                        if ($('#hdfCustomerDetailId').val() != "") {

                            DoUpdate();

                        } else {

                            DoSave();

                        }

                    }

                });

            });
        });
    </script>

}