@{
    ViewBag.Title = "รายละเอียด PAชุมชน";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal">
    <div class="row">
        <div class="col-xs-12">

            @* ApplicationDetail *@
            <div class="col-xs-12">

                @* ApplicationID *@
                <div class="col-md-4 col-sm-8 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua bs-glyphicons"><i class="fa fa-fw fa-heartbeat"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Application ID</span>
                            <span class="info-box-number"><label id="txtApplicationID"></label></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                @* เลขที่กรมธรรม์ *@
                <div class="col-md-4 col-sm-8 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><span class="glyphicon glyphicon-tasks"></span></span>

                        <div class="info-box-content">
                            <span class="info-box-text">เลขที่กรมธรรม์</span>
                            <span class="info-box-number"><label id="txtPolicyNo"></label></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                @* สถานะกรรมธรรม์ *@
                <div class="col-md-4 col-sm-8 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><span class="glyphicon glyphicon-lock"></span></span>

                        <div class="info-box-content">
                            <span class="info-box-text">สถานะกรมธรรม์</span>
                            <span class="info-box-number"><label id="txtPolicyStatus"></label></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="tab" role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#pnlPACommunityDetail" aria-controls="home" role="tab" data-toggle="tab">ข้อมูลชุมชน</a></li>
                            <li role="presentation"><a href="#pnlBenefit" aria-controls="messages" role="tab" data-toggle="tab">ความคุ้มครอง</a></li>
                            <li role="presentation"><a href="#pnlCustomerDetail" aria-controls="profile" role="tab" data-toggle="tab">ข้อมูลผู้เอาประกัน</a></li>
                            <li role="presentation"><a href="#pnlPremium" aria-controls="messages" role="tab" data-toggle="tab">ข้อมูลเบี้ยประกัน</a></li>
                            <li role="presentation"><a href="#pnlDocument" aria-controls="messages" role="tab" data-toggle="tab">เอกสาร</a></li>
                            <li role="presentation" class="disabled disabledTab"><a href="#pnlEndorseCustomerDetail" aria-controls="messages" role="tab" data-toggle="tab" style="background-color:#E7E7E7">สลักหลังผู้เอาประกัน</a></li>

                            <li role="presentation"><a href="#pnlTask" aria-controls="messages" role="tab" data-toggle="tab">ประวัติการทำรายการ</a></li>
                            <li role="presentation"><a href="#pnlImportTask" aria-controls="messages" role="tab" data-toggle="tab">ประวัตินำเข้ารายชื่อ</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content tabs">
                            @* panel PACommunityDetail *@
                            <div role="tabpanel" class="tab-pane fade in active" id="pnlPACommunityDetail">

                                @* Policy  *@
                                <div class="box box-primary">
                                    <div class="box-header with-border" style="background-color:#3987b4; color:white">
                                        <h3 class="box-title">ข้อมูลกรมธรรม์</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label>กลุ่มหน่วยงาน</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtOrganizeGroup" />
                                            </div>
                                            <div class="col-xs-4">
                                                <label>ประเภทหน่วยงาน</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtOrganizeType" />
                                            </div>
                                            <div class="col-xs-2">
                                                <label>จังหวัด</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtProvinceOrganize" />
                                            </div>
                                            <div class="col-xs-3">
                                                <label>สาขา</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtBranch" />
                                            </div>
                                        </div>

                                        <div class="row" style="padding-top:5px">
                                            <div class="col-xs-8">
                                                <label>ชื่อโรงเรียน / หน่วยงาน</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtOrganizeName" />
                                            </div>
                                        </div>

                                        <div class="row" style="padding-top:5px">
                                            <div class="col-xs-8">
                                                <label>ชื่อกรมธรรม์</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtApplicationName" />
                                            </div>
                                        </div>

                                        <div class="row" style="padding-top:5px">
                                            <div class="col-xs-8">
                                                <label>ที่อยู่</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtOrganizeAddress" />
                                            </div>
                                        </div>

                                        <div class="row" style="padding-top:5px">
                                            <div class="col-xs-3">
                                                <label>จังหวัด</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtProvinceAddress" />
                                            </div>
                                            <div class="col-xs-3">
                                                <label>อำเภอ</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtDistrictAddress" />
                                            </div>
                                            <div class="col-xs-3">
                                                <label>ตำบล</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtSubDistrictAddress" />
                                            </div>
                                            <div class="col-xs-3">
                                                <label>รหัสไปรษณีย์</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtZipCode" />
                                            </div>
                                        </div>

                                        <div class="row" style="padding-top:5px">
                                            <div class="col-xs-3">
                                                <label>วันเริ่มสัญญา</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtStartCoverDate" />
                                            </div>
                                            <div class="col-xs-3">
                                                <label>วันสิ้นสุดสัญญา</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtEndCoverDate" />
                                            </div>
                                            <div class="col-xs-3">
                                                <label>ผลิตภัณฑ์</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtProduct" />
                                            </div>
                                            <div class="col-xs-3">
                                                <label>เบี้ย</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtPremium" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12" style="padding-top:7px;">
                                        <div class="col-xs-3" style="padding-top:6px">
                                            <label>ตัวเลือกข้อมูลผู้ประสานงานชุมชน :</label>
                                        </div>
                                        <div class="col-xs-9" style="padding:8px; background-color:#F88017; color:white;">
                                            <span id="spanContactCommunity" style="font-size: 18px;">ไม่มีผู้ประสานงานชุมชน</span>
                                        </div>
                                    </div>
                                </div>

                                @* Contact Community *@
                                <div class="box box-primary" id="divContactCommunity" style="display:none">
                                    <div class="box-header with-border" style="background-color:#3987b4; color:white">
                                        <h3 class="box-title">ข้อมูลผู้ประสานงานชุมชน</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label>คำนำหน้า</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtTitleContact" />
                                            </div>
                                            <div class="col-xs-3">
                                                <label>ชื่อ</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtFirstNameContact" />
                                            </div>
                                            <div class="col-xs-3">
                                                <label>นามสกุล</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtLastNameContact" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label>เบอร์โทรศัพท์</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtMobileContact" />
                                            </div>
                                            <div class="col-xs-3">
                                                <label>หมายเลขบัตรประชาชน</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtIDCard" />
                                            </div>
                                            <div class="col-xs-3">
                                                <label>หมายเลขบัตร Passport</label>
                                                <input type="text" class="form-control input-sm" disabled value="" id="txtPassport" />
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top:6px">
                                            <div class="col-xs-3">
                                                <label>ธนาคาร :</label>
                                                <input type="text" class="form-control input-sm" id="txtBank" name="txtBank" disabled />
                                            </div>
                                            <div class="col-xs-3">
                                                <label>ชื่อบัญชี :</label>
                                                <input type="text" class="form-control input-sm" id="txtAccountName" name="txtAccountName" disabled />
                                            </div>
                                            <div class="col-xs-3">
                                                <label>เลขที่บัญชี :</label>
                                                <input type="text" class="form-control input-sm" id="txtAccountNo" name="txtAccountNo" disabled />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @* Import Round *@
                                <div class="box box-primary">
                                    <div class="box-header with-border" style="background-color:#3987b4; color:white">
                                        <h3 class="box-title">ข้อมูลการรับข้อมูลผู้เอาประกัน</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="box-body">
                                        <table id="dtApplicationRound" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                                    </div>
                                </div>

                                @* ContractProject *@
                                <div class="box box-primary">
                                    <div class="box-header with-border" style="background-color:#3987b4; color:white">
                                        <h3 class="box-title">ข้อมูลผู้ประสานงานโครงการ</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="box-body">
                                        <table id="dtContractProject" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                                    </div>
                                </div>

                                @* Consent *@
                                <div class="box box-primary" id="boxConsent">
                                    <div class="box-header with-border" style="background-color:#3987b4; color:white">
                                        <h3 class="box-title">การให้ความยินยอมการเก็บ รวบรวม ใช้เปิดเผยข้อมูลส่วนบุคคล</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="box-body">
                                        <div class="box-group">
                                            <div class="col-xs-6">
                                                <button type="button" class="btn btn-primary" id="btnAddConsent" style="background-color:goldenrod; color:black">ข้อมูล PDPA</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>



                            @* panel CustomerDetail *@
                            <div role="tabpanel" class="tab-pane fade" id="pnlCustomerDetail">

                                <div class="box box-primary">
                                    <div class="box-header with-border" style="background-color:#3987b4; color:white">
                                        <h3 class="box-title">ข้อมูลผู้เอาประกัน</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label>รอบ</label>
                                                <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" id="ddlRound"></select>
                                            </div>
                                            <div class="col-xs-3">
                                                <label>จำนวนคนชำระเบี้ย</label>
                                                <input type="text" class="form-control input-sm" value="" id="txtAboutCustomerBuy" disabled />
                                            </div>
                                            <div class="col-xs-3">
                                                <label>จำนวนสิทธิ์ฟรี</label>
                                                <input type="text" class="form-control input-sm" value="" id="txtAboutCustomerFree" disabled />
                                            </div>
                                        </div>
                                        <div style="padding-top:7px;">
                                            <table id="dtCustomerDetail" class="table table-bordered table-hover dataTable" style="width:100%; "></table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @* panel Document *@
                            <div role="tabpanel" class="tab-pane fade" id="pnlDocument">

                                <div class="box box-primary">
                                    <div class="box-header with-border" style="background-color:#3987b4; color:white">
                                        <h3 class="box-title">ข้อมูลเอกสาร</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="box-body">
                                        <table id="dtDocument" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                                    </div>
                                </div>
                            </div>

                            @* panel EndorseCustomerDetail *@
                            <div role="tabpanel" class="tab-pane fade" id="pnlEndorseCustomerDetail">
                                <h3>Section 3</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna a ultricies volutpat, mi eros viverra massa, vitae consequat nisi justo in tortor. Proin accumsan felis ac felis dapibus, non iaculis mi varius.</p>
                            </div>

                            @* panel Premium *@
                            <div role="tabpanel" class="tab-pane fade" id="pnlPremium">

                                <div class="box box-primary">
                                    <div class="box-header with-border" style="background-color:#3987b4; color:white">
                                        <h3 class="box-title">ข้อมูลเบี้ยประกัน</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="box-body">
                                        <div class="row">

                                            @* Premium in PACommunity *@
                                            <div class="col-xs-5">
                                                <div class="box box-warning">
                                                    <div class="box-header with-border" style="">
                                                        <h3 class="box-title">สรุปเบี้ยประกัน</h3>
                                                        <div class="box-tools pull-right">
                                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="box-body">
                                                        <table id="dtSumPremiumInPACommunity" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                                                    </div>
                                                </div>
                                            </div>

                                            @* Premium in CashReceive *@
                                            <div class="col-xs-7">
                                                <div class="box box-success">
                                                    <div class="box-header with-border" style="">
                                                        <h3 class="box-title">ยอดชำระเงินในโปรแกรม Cash Receive</h3>
                                                        <div class="box-tools pull-right">
                                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="box-body">

                                                        <div class="" style="float:right">
                                                            <span class="btn btn-warning btn-sm" id="btnCheckPayment"><i class="glyphicon glyphicon-bitcoin"></i> เช็คการชำระเงิน</span>
                                                        </div>

                                                        <div>
                                                            <table id="dtSumPremiumInCashReceive" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @* panel Task *@
                            <div role="tabpanel" class="tab-pane fade" id="pnlTask">

                                <div class="box box-primary">
                                    <div class="box-header with-border" style="background-color:#3987b4; color:white">
                                        <h3 class="box-title">ประวัติการทำรายการ</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="box-body">
                                        <table id="dtHistory" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                                    </div>
                                </div>
                            </div>

                            @* panel ImportTask *@
                            <div role="tabpanel" class="tab-pane fade" id="pnlImportTask">
                                <div class="box box-primary">
                                    <div class="box-header with-border" style="background-color:#3987b4; color:white">
                                        <h3 class="box-title">ประวัติการนำเข้ารายชื่อ</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="box-body">
                                        <table id="dtImportHistory" class="table table-bordered table-hover dataTable" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>ลำดับ</th>
                                                    <th>รอบ</th>
                                                    <th>คนชำระเบี้ย</th>
                                                    <th>รับสิทธิ์ฟรี</th>
                                                    <th>รวม</th>
                                                    <th>รหัสพนักงาน</th>
                                                    <th>ผู้นำเข้า</th>
                                                    <th>วันที่ทำรายการ</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            @* panel Benefit *@
                            <div role="tabpanel" class="tab-pane fade" id="pnlBenefit">

                                <div class="box box-primary">
                                    <div class="box-header with-border" style="background-color:#3987b4; color:white">
                                        <h3 class="box-title">ความคุ้มครอง</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="box-body">
                                        @* partial View benefit *@
                                        @Html.Partial("~/Views/PartialView/_PACommunityBenefit.cshtml")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="hdfapplicationId" value="@ViewBag.ApplicationId" hidden />
    <input type="hidden" id="hdfapplicationRoundId" hidden />
    <input type="hidden" id="hdfLinkCashReceiveCheckPayment" value="@ViewBag.LinkCashReceive" hidden />
</form>

@section ViewSpecificJavascript
{
    <script type="text/javascript">

        $(function () {

            $('#ddlRound').select2();

            LoadPACommunityDetailTab();

            $('#btnCheckPayment').click(function (e) {
                e.preventDefault();
                let linkCashReceive = $('#hdfLinkCashReceiveCheckPayment').val();
                let applicationCode = $('#txtApplicationID').text();
                bob = window.open('', '_blank');
                bob.location = linkCashReceive + "app="+ applicationCode;
            });

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href");
                switch (target) {
                    case "#pnlCustomerDetail":
                        //alert("1234");
                        LoadCustomerDetailTab();
                        break;
                    case "#pnlDocument":

                        LoadDocumentTab();

                        break;
                    case "#pnlEndorseCustomerDetail":
                        break;
                    case "#pnlPremium":

                        LoadPremiumTab();
                        break;
                    case "#pnlTask":

                        LoadHistoryTab();
                        break;
                    case "#pnlImportTask":

                        LoadHistoryImportTab();
                        break;
                    case "#pnlBenefit":
                        GetBenefitDe($('#hdfapplicationId').val(), null);
                        break;
                }

            });

            $('#ddlRound').change(function (e) {
                e.preventDefault();
                GetAboutCustomerDetail();
                GetCustomerDetailByRoundID();
            });

        });

        $('#btnAddConsent').click(function (e) {
             e.preventDefault();
            window.open("@Url.Action("PDPAPost", "PACommunity")?AppID=" + $('#hdfapplicationId').val() + "&Mode=" + "view");
        });

        const LoadPACommunityDetailTab = () => {
            GetPACommunityDetail();
            GetPDPAExistByApplicationID();
            GetContactCommunity();
            GetApplicationRound();
            GetDTContractProject();
        }

        const LoadCustomerDetailTab = () => {
            GetRound();
            GetAboutCustomerDetail();
            GetCustomerDetailByRoundID();
        }

        const LoadPremiumTab = () => {
            GetPremiumAmountRound();
            GetPremiumByCashReceive();
        }

        const LoadHistoryTab = () => {
            GetHistory();
        }

        const LoadHistoryImportTab = () => {
            GetHistoryImport();
        }

        const LoadDocumentTab = () => {
            GetDocumentDetail();
        }

        const GetDocumentDetail = () => {
            $('#dtDocument').empty();
            var table = $('#dtDocument').DataTable({
                     pageLength: 10,
                     processing: true,
                     serverSide: true,
                     responsive: true,
                     destroy: true,
                     searching: false,
                     //paging: false,
                     info: false,
                     ajax: {
                         url: '@Url.Action("GetDocumentDetail", "PACommunity")',
                         type: 'POST',
                         data: function (d) {
                             d.draw = d.draw;
                             d.pageSize = d.length;
                             d.pageStart = d.start;
                             d.sortField = d.columns[d.order[0].column].data;
                             d.orderType = d.order[0].dir;
                             d.search = d.search.value;
                             d.applicationID = $('#hdfapplicationId').val();
                             //d.applicationID = 2;
                         }
                     },
                columns: [
                    { title: 'ประเภทเอกสาร', data: 'DocumentTypeDetail', className: 'h-dt-center d-dt-center', width: '23%'},
                    { title: 'รอบ', data: 'Round', className: 'h-dt-center d-dt-center', width: '10%'},
                    { title: 'รหัสรอบ', data: 'ApplicationRoundCode', className: 'h-dt-center d-dt-center', width: '15%'},
                         {
                             title: 'วันที่สแกนเอกสาร', data: 'CreatedDate', className: 'h-dt-center d-dt-center'
                             , mRender: function (data) {
                                 moment.locale('th');
                                 //return moment(data).add(543, 'years').format("DD/MM/YYYY HH:mm:ss");
                                 var d = moment(data);
                                 return `${d.format("DD/MM")}/${d.year() + 543} ${d.format("HH:mm:ss")}`;
                             }, width: '15%'
                        },

                        {
                            title: 'รายละเอียด',
                            className: 'h-dt-center d-dt-center',
                            data: null,
                            mRender: (data, type, full) =>
                            {
                                return '<a href="' + data.UrlLinkOpen + '" class="btn btn-primary btn-sm" target="_blank"><i class="fa fa-fw fa-desktop"></i> รายละเอียด(' + data.FileCount +') </a>';
                            }, width: '10%'
                        },
                     ],
                     bLengthChange: false,
                     createdRow: function (row, data, index) {

                     },
              });
        }

        const GetHistoryImport = () => {
            $('#dtImportHistory').empty();
            var table = $('#dtImportHistory').DataTable({
                     pageLength: 10,
                     processing: true,
                     serverSide: true,
                     responsive: true,
                     destroy: true,
                     orderable: false,
                     searchable: false,
                     targets: 0,
                     searching: false,
                     //paging: false,
                     info: false,
                     ajax: {
                         url: '@Url.Action("GetHistoryImportCustomerDetail", "PACommunity")',
                         type: 'POST',
                         data: function (d) {
                             d.draw = d.draw;
                             d.pageSize = d.length;
                             d.pageStart = d.start;
                             d.sortField = d.columns[d.order[0].column].data;
                             d.orderType = d.order[0].dir;
                             d.search = d.search.value;
                             d.applicationID = $('#hdfapplicationId').val();
                             //d.applicationID = 2;
                         }
                     },
                columns: [
                         { title: 'ลำดับ', data: null, className: 'h-dt-center d-dt-center', mRender: function (data) { return  ''}},
                         { title: 'รอบ', data: 'Round', className: 'h-dt-center d-dt-center', },
                         { title: 'คนชำระเบี้ย', data: 'ApplicationRoundImportCustomerBuy', className: 'h-dt-center d-dt-center', },
                         { title: 'รับสิทธิ์ฟรี', data: 'ApplicationRoundImportCustomerFree', className: 'h-dt-center d-dt-center', },
                         {
                             title: 'รวม', data: null, className: 'h-dt-center d-dt-center',
                             mRender: function (data) {

                                 let sum = data.ApplicationRoundImportCustomerBuy + data.ApplicationRoundImportCustomerFree;
                                      return sum ;
                                  }
                         },
                         { title: 'รหัสพนักงาน', data: 'CreatedByUserCode', className: 'h-dt-center d-dt-center', },
                         { title: 'ผู้นำเข้า', data: 'CreatedByUserName', className: 'h-dt-center d-dt-center', },
                         {
                            title: 'วันที่ทำรายการ', data: 'CreatedDate', className: 'h-dt-center d-dt-center'
                             , mRender: function (data) {
                                 moment.locale('th');
                                 //return moment(data).add(543, 'years').format("DD/MM/YYYY HH:mm:ss");\
                                 var d = moment(data);
                                 return `${d.format("DD/MM")}/${d.year() + 543} ${d.format("HH:mm:ss")}`;
                             }, width: '15%'
                         },
                     ],
                     bLengthChange: false,
                     createdRow: function (row, data, index) {

                     },
                     order: [[ 1, 'asc' ]]
            });

            table.on( 'order.dt search.dt', function () {
                table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();
        }

        const GetHistory = () => {
            $('#dtHistory').empty();
            var table = $('#dtHistory').DataTable({
                     pageLength: 10,
                     processing: true,
                     serverSide: true,
                     responsive: true,
                     destroy: true,
                     searching: false,
                     //paging: false,
                     info: false,
                     ajax: {
                         url: '@Url.Action("GetHistoryApplicationDetail", "PACommunity")',
                         type: 'POST',
                         data: function (d) {
                             d.draw = d.draw;
                             d.pageSize = d.length;
                             d.pageStart = d.start;
                             d.sortField = d.columns[d.order[0].column].data;
                             d.orderType = d.order[0].dir;
                             d.search = d.search.value;
                             d.applicationID = $('#hdfapplicationId').val();
                             //d.applicationID = 2;
                         }
                     },
                    columns: [
                         {
                            title: 'วันที่ทำรายการ', data: 'CreatedDate', className: 'h-dt-center d-dt-center'
                             , mRender: function (data) {
                                 moment.locale('th');
                                 //return moment(data).add(543, 'years').format("DD/MM/YYYY HH:mm:ss");
                                 var d = moment(data);
                                 return `${d.format("DD/MM")}/${d.year() + 543} ${d.format("HH:mm:ss")}`;
                             }, width: '10%'
                        },
                        { title: 'รายละเอียด', data: 'TransactionType', className: 'h-dt-center d-dt-center', },
                         { title: 'รหัสรอบ', data: 'Reference1', className: 'h-dt-center d-dt-center', },
                        { title: 'หมายเหตุ', data: 'Remark', className: 'h-dt-center d-dt-center', },
                        { title: 'รหัสพนักงาน', data: 'CreatedByCode', className: 'h-dt-center d-dt-center', },
                        { title: 'ผู้ทำรายการ', data: 'CreatedByName', className: 'h-dt-center d-dt-center', },
                        { title: 'สาขา', data: 'Branch', className: 'h-dt-center d-dt-center', },

                     ],
                     bLengthChange: false,
                     createdRow: function (row, data, index) {

                     },
              });
        }

        const GetPremiumAmountRound = () => {
            $('#dtSumPremiumInPACommunity').empty();
            var table = $('#dtSumPremiumInPACommunity').DataTable({
                     pageLength: 10,
                     processing: true,
                     serverSide: true,
                     responsive: true,
                     destroy: true,
                     searching: false,
                     //paging: false,
                     info: false,
                     ajax: {
                         url: '@Url.Action("GetApplicationRoundDetail", "PACommunity")',
                         type: 'POST',
                         data: function (d) {
                             d.draw = d.draw;
                             d.pageSize = d.length;
                             d.pageStart = d.start;
                             d.sortField = d.columns[d.order[0].column].data;
                             d.orderType = d.order[0].dir;
                             d.search = d.search.value;
                             d.applicationID = $('#hdfapplicationId').val();
                             //d.applicationID = 2;
                         }
                     },
                     columns: [
                         { title: 'รหัสรอบ', data: 'ApplicationRoundCode', className: 'h-dt-center d-dt-center', },
                         { title: 'เบี้ยประกัน', data: 'PremiumAmount', className: 'h-dt-center d-dt-center', },

                     ],
                     bLengthChange: false,
                     createdRow: function (row, data, index) {

                     },
              });
        }

        const GetPremiumByCashReceive = () => {
            $('#dtSumPremiumInCashReceive').empty();
            var table = $('#dtSumPremiumInCashReceive').DataTable({
                     pageLength: 10,
                     processing: true,
                     serverSide: true,
                     responsive: true,
                     destroy: true,
                     searching: false,
                     //paging: false,
                     info: false,
                     ajax: {
                         url: '@Url.Action("GetPremiumDetail", "PACommunity")',
                         type: 'GET',
                         data: function (d) {
                             d.draw = d.draw;
                             d.pageSize = d.length;
                             d.pageStart = d.start;
                             d.sortField = d.columns[d.order[0].column].data;
                             d.orderType = d.order[0].dir;
                             d.search = d.search.value;
                             d.applicationID = $('#hdfapplicationId').val();
                             //d.applicationID = 2;
                         }
                     },
                     columns: [
                         { title: 'CashReceiveID', data: 'ReceiveDetailCode', className: 'h-dt-center d-dt-center', },
                         { title: 'ยอดรับ', data: 'PremiumAmount', className: 'h-dt-center d-dt-center', },
                         { title: 'สถานะ', data: 'PremiumStatus', className: 'h-dt-center d-dt-center', }

                     ],
                     bLengthChange: false,
                     createdRow: function (row, data, index) {

                     },
              });
        }

        const GetRound = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetRoundByApplicationId", "PACommunity")",
                data: {
                    applicatonId: $('#hdfapplicationId').val()
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    $('#ddlRound').empty();

                    for (var i = 0; i < response.length; i++) {
                        $('#ddlRound').append(`<option value="${response[i].ApplicationRoundId}">${response[i].Round}</option>`);
                    }

                }
            });
        }

        const GetAboutCustomerDetail = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetApplicationRoundByID", "PACommunity")",
                data: {
                    applicationRoundID: $('#ddlRound').val()
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    $('#txtAboutCustomerBuy').val(response.CustomerBuyTotal);
                    $('#txtAboutCustomerFree').val(response.CustomerFreeTotal);

                }
            });
        }

        const GetCustomerDetailByRoundID = () => {

            $('#dtCustomerDetail').empty();
            var t = $('#dtCustomerDetail').DataTable({

                pageLength: 10,
                processing: true,
                serverSide: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetCustomerDetail", "PACommunity")',
                    type: 'POST',
                    data: function (d) {
                        d.CustomerDetailId = null;
                        d.applicatonRoundId = $('#ddlRound').val();
                        d.applicatonId = $('#hdfapplicationId').val();
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.pageStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;

                    }
                },

                columns: [

                    { title: 'Memder ID', data: 'CustomerDetailCode', width: '10%', className: 'h-dt-center d-dt-center',},
                    { title: 'ชื่อ-นามสกุล', data: 'CustomerName', width: '100%', className: 'h-dt-center d-dt-center', },
                    { title: 'บัตรประชาชน', data: 'IdCardNumber', className: 'h-dt-center d-dt-center', width: '10%'} ,
                    { title: 'Passport', data: 'PassPortNumber', width: '10%', className: 'h-dt-center d-dt-center',},

                    {
                        title: 'วันเกิด', data: 'BirthDate', className: 'h-dt-center d-dt-center'
                        , mRender: function (data) {
                            moment.locale('th');
                            //return moment(data).add(543, 'years').format("DD/MM/YYYY", "LLLL");
                            var d = moment(data);
                            return `${d.format("DD/MM")}/${d.year() + 543}`;
                        }, width: '10%'
                    },

                    { title: 'อายุ', data: 'AgeAtRegister_Y', className: 'h-dt-center d-dt-center', width: '10%'},
                    { title: 'อาชีพ', data: 'Occupation', width: '10%', className: 'h-dt-center d-dt-center', },
                    { title: 'เบอร์โทร', data: 'MobileNumber', width: '10%', className: 'h-dt-center d-dt-center', },
                    { title: 'ฟรี', data: 'CustomerDetailType', className: 'h-dt-center d-dt-center', },

                    { title: 'สถานะ', data: 'CustomerDetailStatus', className: 'h-dt-center d-dt-center', },

                    //{ data: null, mRender: (data, type, full) => { return '<a  type="button" class="btn-danger btn-sm" onclick="DeleteCustomerDetail(\'' + data.CustomerDetailId  + '\');" ; >ลบ</a >'; }, width: '5%' },

                    {
                        title: 'วันที่มีผล', data: 'CustomerDetailStartCoverDate', className: 'h-dt-center d-dt-center'
                        , mRender: function (data) {
                            moment.locale('th');
                            //return moment(data).add(543, 'years').format("DD/MM/YYYY", "LLLL");
                            var d = moment(data);
                            return `${d.format("DD/MM")}/${d.year() + 543}`;
                        }, width: '10%'
                    },
                ],

            });
        }

        const GetPACommunityDetail = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetApplicationDetail", "PACommunity")",
                data: {
                    applicationID: $('#hdfapplicationId').val()
                },
                dataType: "json",
                async: false,
                success: function (data) {

                    //ApplicationDetail
                    $('#txtApplicationID').text(data.ApplicationCode);
                    $('#txtPolicyNo').text(data.PolicyNo);
                    $('#txtPolicyStatus').text(data.ApplicationStatus);

                    //Disable BTN


                    //PACommunityDetail
                    $('#txtBranch').val(data.Branch);
                    $('#txtOrganizeName').val(data.Organize);
                    $('#txtApplicationName').val(data.ApplicationName);

                    let d_startCoverDate = moment(data.StartCoverDate).add(543, 'years').format("DD/MM/YYYY");
                    let d_endCoverDate = moment(data.EndCoverDate).add(543, 'years').format("DD/MM/YYYY");
                    $('#txtStartCoverDate').val(d_startCoverDate);
                    $('#txtEndCoverDate').val(d_endCoverDate);
                    $('#txtProduct').val(data.Product);
                    $('#txtPremium').val(data.PremiumPerYear);

                    //Organize
                    GetOrganizeDetail(data.OrganizeId);
                }
            });
        }

        const GetPDPAExistByApplicationID = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("PDPAExistByApplicationID", "PACommunity")",
                data: {
                    ApplicationID: $('#txtApplicationID').text()
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    if (response.Result == true) {
                        $('#boxConsent').show();
                    } else {
                        $('#boxConsent').hide();
                    }
                }
            });
        }

        //ดึง ที่อยู่ ประเภทที่อยู่หน่วยงานมาแสดง Organize
        const GetOrganizeDetail = (organizeId) => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetOrganizeById","PACommunity")",
                data: {
                    organizeID: organizeId
                },
                dataType: "json",
                async: false,
                success: function (data) {
                    $('#txtOrganizeAddress').val(`เลขที่: ${data.CurrentNo} ชื่อหน่วยงาน: ${data.CurrentBuildingName} หมู่: ${data.CurrentMoo} ถนน: ${data.CurrentRoad}`);
                    $('#txtProvinceAddress').val(data.CurrentProvince);
                    $('#txtDistrictAddress').val(data.CurrentDistrict);
                    $('#txtSubDistrictAddress').val(data.CurrentSubDistrict);
                    $('#txtZipCode').val(data.CurrentZipCode);

                    $('#txtOrganizeGroup').val(data.OrganizeGroup);
                    $('#txtOrganizeType').val(data.OrganizeType);
                    $('#txtProvinceOrganize').val(data.CurrentProvince);
                }
            });
        }

        const GetContactCommunity = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetContractCommunity", "PACommunity")",
                data: {
                    applicationID: $('#hdfapplicationId').val()
                },
                dataType: "json",
                success: function (data) {

                    if (data != null) {

                        $('#txtTitleContact').val(data.Title);
                        $('#txtFirstNameContact').val(data.FirstName);
                        $('#txtLastNameContact').val(data.LastName);
                        $('#txtMobileContact').val(data.MobileNumber);

                        $('#txtBank').val(data.Bank);
                        $('#txtAccountName').val(data.AccountName);
                        $('#txtAccountNo').val(data.AccountNo);

                        if (data.IdCardNumber !== "") {

                            $('#txtIDCard').val(data.IdCardNumber);

                        }

                        if (data.PassPortNumber !== "") {
                            $('#txtPassport').val(data.PassPortNumber);
                        }

                        $('#spanContactCommunity').text('มีผู้ประสานงานชุมชน');

                        $('#divContactCommunity').show();

                    }
                }
            });
        }

        const GetApplicationRound = () => {
            $('#dtApplicationRound').empty();
            var table = $('#dtApplicationRound').DataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                searching: false,
                ajax: {
                    url: '@Url.Action("GetApplicationRoundDetail", "PACommunity")',
                    type: 'POST',
                    async: false,
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.pageStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;
                        d.applicationID = $('#hdfapplicationId').val();
                        //d.applicationID = 2;
                    }
                },
                columns: [
                    { title: 'รอบที่', data: 'Round', width: '8%', className: 'h-dt-center d-dt-center' },
                    { title: 'รหัสรอบ', data: 'ApplicationRoundCode', className: 'h-dt-center d-dt-center' },
                    {
                        title: 'วันที่มีผลบังคับ', data: 'EffectiveDate',
                        className: 'h-dt-center d-dt-center',
                        mRender: function (data) {
                            moment.locale('th');
                            //return moment(data).add(543, 'years').format("DD/MM/YYYY","LLLL");
                            var d = moment(data);
                            return `${d.format("DD/MM")}/${d.year() + 543}`;
                        }
                    },
                    { title: 'คนชำระเบี้ย', data: 'CustomerBuy', className: 'h-dt-center d-dt-center', width: '12%'},
                    { title: 'รับสิทธิ์ฟรี', data: 'CustomerFree', className: 'h-dt-center d-dt-center', width: '11%'},
                    { title: 'สถานะรอบ', data: 'ApplicationRoundStatus', className: 'h-dt-center d-dt-center', },
                    //{ title: 'ทีม', data: 'ClaimCount', className: 'dt-center', },
                ],
                bLengthChange: false,
                createdRow: function (row, data, index) {

                    $('#hdfapplicationRoundId').val(data.ApplicationRoundId);
                },

            });

        }

         const GetDTContractProject = () => {

            $('#dtContractProject').empty();
            var table = $('#dtContractProject').DataTable({
            pageLength: 10,
            processing: true,
            serverSide: true,
            responsive: true,
            destroy: true,
            searching: false,
            ajax: {
                url: '@Url.Action("GetContractProject","PACommunity")',
                type: 'POST',
                data: function (d) {
                    d.draw = d.draw;
                    d.pageSize = d.length;
                    d.pageStart = d.start;
                    d.sortField = d.columns[d.order[0].column].data;
                    d.orderType = d.order[0].dir;
                    d.search = d.search.value;
                    d.applicationID = $('#hdfapplicationId').val();
                }
            },
            columns: [
                { title: 'รหัสพนักงาน', data: 'EmployeeCode', className: 'h-dt-center d-dt-center', width: '15%'},
                { title: 'ชื่อ - นามสกุล', data: 'EmployeeName', className: 'h-dt-center d-dt-center', },
                { title: 'สาขา', data: 'Branch', className: 'h-dt-center d-dt-center', },
                { title: 'ทีม', data: 'Team', className: 'h-dt-center d-dt-center', },
            ],
            bLengthChange: false,
            });
          }
    </script>
}