@{
    ViewBag.Title = "ปิดคิวงานมีประเด็น";
}
<style>
    .table-hover {
        cursor: context-menu;
    }

    /*.material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;*/
    /* font-size: 24px; */
    /*line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }*/
</style>
<div class="row">
    <div class="col-md-12">
        <h4>ปิดคิวงานมีประเด็น</h4>
    </div>
    @* start ข้อมูลผู้ชำระเบี้ย *@
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">ข้อมูลผู้ชำระเบี้ย</h3>
            </div>
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">ชื่อผู้ชำระเบี้ย :</label>
                        <div class="col-md-2">
                            <h5 class="text-muted">@ViewBag.QueueFullDetail.PayerName</h5>
                        </div>
                        <label class="col-md-2 control-label">เลขบัตรประชาชน/Passport :</label>
                        <div class="col-md-2">
                            <h5 class="text-muted">@ViewBag.QueueFullDetail.PayerIdCardNo</h5>
                        </div>
                        <label class="col-md-2 control-label">เบอร์โทรศัพท์ :</label>
                        <div class="col-md-2">
                            <h5 class="text-muted">@ViewBag.QueueFullDetail.PayerPhone</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">อาชีพ :</label>
                        <div class="col-md-2">
                            <h5 class="text-muted">@ViewBag.QueueFullDetail.PayerOccupation</h5>
                        </div>
                        <label class="col-md-2 control-label">ระดับอาชีพ :</label>
                        <div class="col-md-2">
                            <h5 class="text-muted">@ViewBag.QueueFullDetail.PayerOccupationLevel</h5>
                        </div>
                        <label class="col-md-2 control-label">สาขา :</label>
                        <div class="col-md-2">
                            <h5 class="text-muted">@ViewBag.QueueFullDetail.BranchDetail</h5>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @* end ข้อมูลผู้ชำระเบี้ย *@

    @* start ข้อมูลผู้เอาประกัน *@
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">ข้อมูลผู้เอาประกัน</h3>
            </div>
            <div class="box-body">
                <div class="col-md-12 col-sm-12 col-xs-12" style="width:100%">
                    <table id="queueDetail" class="table table-bordered table-hover dataTable"></table>
                </div>
            </div>
        </div>
    </div>
    @* end ข้อมูลผู้เอาประกัน *@

    @* start ข้อมูลลูกค้ายกเลิก *@
    <div class="col-md-12">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">ข้อมูลลูกค้ายกเลิก</h3>
            </div>
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">มีประเด็น :</label>
                        <div class="col-md-10">
                            <h5 class="text-muted">@ViewBag.QueueFullDetail.IssueRemark</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">สาเหตุการยกเลิก :</label>
                        <div class="col-md-10">
                            @*<span class="text-muted">@ViewBag.QueueFullDetail.CancelCauseFullDetail</span>*@
                            <div class="box-body checkbox-FormOther">
                                <div class="col-md-4 msg-error">
                                    @foreach (var item in ViewBag.a1)
                                    {
                                        <div class="form-group">
                                            <label>
                                                <span class="text-muted"> @item</span>
                                            </label>
                                        </div>
                                    }
                                </div>

                                <div class="col-md-4">
                                    @foreach (var item in ViewBag.a2)
                                    {
                                        <div class="form-group">
                                            <label>
                                                <span class="text-muted"> @item</span>
                                            </label>
                                        </div>
                                    }
                                </div>

                                <div class="col-md-4">
                                    @foreach (var item in ViewBag.a3)
                                    {
                                        <div class="form-group">
                                            <label>
                                                <span class="text-muted"> @item</span>
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">เพิ่มเติม :</label>
                        <div class="col-md-10">
                            <h5 class="text-muted">@ViewBag.QueueFullDetail.CancelCauseRemark</h5>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @* end ข้อมูลลูกค้ายกเลิก *@

    @* strt บันทึกข้อความ *@
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">บันทึกข้อความ</h3>
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <form class="form-horizontal" id="cancelFormResultRemark" name="cancelFormResultRemark" action="@Url.Action("ResultRemarkInsert")" method="post">
                        <div class="form-group msg-error">
                            <input type="hidden" name="queueId" id="queueId" value="@ViewBag.QueueId" />
                            <textarea class="form-control" rows="3" placeholder="โปรดระบุข้อความ ..." name="txtResultRemark" id="txtResultRemark"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @* end บันทึกข้อความ *@

    @* start อัพโหลดเอกสาร *@
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">อัพโหลดเอกสาร</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="width:100%">
                        <table id="queueDocument" class="table table-bordered table-hover dataTable"></table>
                    </div>
                </div>
                @*<div class="col-md-12">
                        <input type="button" style="color:white;" class="btn btn-sm btn-warning col-md-2 col-xs-3" name="btn-scanDoc" id="btn-scanDoc" value="ScanDoc" />
                        <input type="button" style="color:white;" class="btn btn-sm btn-info col-md-2 col-md-offset-1 col-xs-3 col-xs-offset-1" name="btn-countDoc" id="btn-countDoc" value="จำนวนเอกสาร : 0" />
                        <input type="button" class="btn btn-sm btn-default col-md-2 col-md-offset-1 col-xs-3 col-xs-offset-1" name="btn-refresh" id="btn-refresh" value="Refresh" />
                    </div>*@
            </div>
        </div>
    </div>
    @* end อัพโหลดเอกสาร *@

    @* start btn บันทึก *@
    <div class="col-md-12">
        <input type="button" style="color:white;" class="btn btn-sm btn-success col-md-2 col-md-offset-5 col-xs-3 col-xs-offset-4" name="btn-submit" id="btn-submit" value="บันทึก" />
    </div>
    @* end btn บันทีก *@
</div>

@section ViewSpecificJavascript
    {
    <script type="text/javascript">
        $((e) => {
            GetQueueDetail();
            GetQueueDocument();
            if ('@ViewBag.QueueFullDetail.IssueCompleteRemark' != '') {
                $("#txtResultRemark").text('@ViewBag.QueueFullDetail.IssueCompleteRemark');
            }

            //คิวงานมีประเด็น ดำเนินการแล้ว เปลี่ยน text
            if ('@ViewBag.QueueFullDetail.IsIssueComplete' == 'True') {
                $("#btn-submit").val("ปิด");
                $("#btn-submit").removeClass("btn-success")
                $("#btn-submit").addClass("btn-primary")
                $("#txtResultRemark").prop("disabled", true);
            }
        })//end load

        //onClick btn บันทึก
        $('#btn-submit').click(() => {
            let isIssueComplete = '@ViewBag.QueueFullDetail.IsIssueComplete'
            switch (isIssueComplete) {
                case "True":
                    //คิวงานมีประเด็น ดำเนินการแล้ว btn onClick เป็น ปิด tab
                    window.close()
                    break
                default:
                    let iscancelFormResultRemark = $("#cancelFormResultRemark").valid();
                    if (iscancelFormResultRemark) {
                        swal_confirm("ยืนยันบันทึกข้อมูล", "", function (e) {
                            $.ajax({
                                type: "POST",
                                url: $('#cancelFormResultRemark').attr('action'),
                                data: $('#cancelFormResultRemark').serialize(),
                                dataType: "json",
                                success: function (response) {
                                    if (response.IsResult === true) {
                                        swal_success(() => { onClose() }, response.Msg);
                                    } else {
                                        swal_fail(response.Msg);
                                    }
                                }
                            });
                        });
                    };
                    break
            }
        });
        //auto close on success
        const onClose = () => {
            setInterval(() => { window.close() } , 550);
        }

        //get data queueDetail
        const GetQueueDetail = () => {
            $('#queueDetail').empty();
            var table = $('#queueDetail').DataTable({
                pageLength: 10,
                serverSide: true,
                autoWidth: false,
                responsive: true,
                destroy: true,
                searching: false,
                info: true,
                orderable: false,
                initComplete: function (settings, json) {
                    $("th").removeClass('sorting_asc'); //remove sorting_desc,sorting_asc class
                },
                language: {
                    info: "แสดง _START_ ถึง _END_ จาก _TOTAL_ แถว",
                    infoFiltered: "<span class='quickApproveTable_info_filtered_span'></span>"
                },
                ajax: {
                    url: '@Url.Action("GetQueueDetail", "CustomerCheckInfo")',
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.queueId = $("#queueId").val()
                    },
                },
                columns: [
                    {
                        title: 'App ID',
                        data: null,
                        className: "th-center",
                        render: function (data) {
                            return `<a style="cursor: pointer; text-decoration: underline">${data.ApplicationCode}</a>`;
                        }
                    },
                    {
                        title: 'Product',
                        data: 'ProductGroup',
                        className: "th-center"
                    },
                    {
                        title: 'แผนประกัน',
                        data: 'Product',
                        className: "th-center"
                    },
                    {
                        title: 'สถานะการยกเลิก',
                        data: 'AppStatus',
                        className: "th-center"
                    },
                    {
                        title: 'ชื่อผู้เอาประกัน',
                        data: 'InsuredName',
                        className: "th-center"
                    },
                    {
                        title: 'ความสัมพันธ์',
                        data: 'PayerRelate',
                        className: "th-center"
                    },
                    {
                        title: 'ระบุหมายเหตุ',
                        data: 'QueueDetailRemark',
                        className: "th-center"
                    },
                ],
                columnDefs: [
                    { targets: [0,1,2,3,4,5,6], orderable: false }
                ]
            });

            window.onresize = function () {
                table.columns.adjust().responsive.recalc();
            };

            //on click tbody set val to modal
            $('#queueDetail tbody').on('click', 'td', function (e) {
                e.preventDefault();
                var data = table.row(this, e.preventDefault()).data();
                let colIndex = $(this).index();
                switch (colIndex) {
                    case 0:
                        let en_AppID = window.btoa(data.ApplicationCode);
                        window.open('@ViewBag.SSS'+'/Modules/PH/frmPHDetail.aspx?app=' + en_AppID, '_blank');
                        break;
                    default:
                        break;
                }
            });
        }

        const GetQueueDocument = () => {
            $('#queueDocument').empty();
            var tbl = $('#queueDocument').DataTable({
                pageLength: 10,
                serverSide: true,
                autoWidth: false,
                responsive: true,
                destroy: true,
                searching: false,
                info: true,
                orderable: false,
                initComplete: function (settings, json) {
                    $("th").removeClass('sorting_asc'); //remove sorting_desc,sorting_asc class
                },
                language: {
                    info: "แสดง _START_ ถึง _END_ จาก _TOTAL_ แถว",
                    infoFiltered: "<span class='quickApproveTable_info_filtered_span'></span>"
                },
                ajax: {
                    url: '@Url.Action("GetQueueDocument", "IssuedQueue")',
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.queueId = $("#queueId").val()
                    },
                },
                columns: [
                    {
                        title: 'รหัสรายการ',
                        data: 'DocumentCode',
                        className: "th-center",
                        orderable: false,
                    },
                    {
                        title: 'ประเภทเอกสาร',
                        data: 'DocumentTypeDetail',
                        className: "th-center",
                        orderable: false,
                    },
                    {
                        title: 'Action', data: null,
                        className: "th-center",
                        orderable: false,
                        render: function (data, type, row, meta) {
                            if ('@ViewBag.QueueFullDetail.IsIssueComplete' == 'True') {
                                return `<button class="btn btn-sm btn-warning" style="cursor:not-allowed;margin-right:5px" disabled> <i class="material-icons" style="font-size: 15px; margin-right:5px">scanner</i>scan</button ><a class="btn btn-sm btn-info" style="cursor:pointer;margin-right:5px" href="${data.UrlLinkOpen}" target="_blank"> <i class="fa fa-file" style="margin-right:5px"></i>เอกสาร</a >`
                            } else {
                                return `<a class="btn btn-sm btn-warning" style="cursor:pointer;margin-right:5px" href="${data.UrlLinkScan}" target="_blank"> <i class="material-icons" style="font-size: 15px; margin-right:5px">scanner</i>scan</a ><a class="btn btn-sm btn-info" style="cursor:pointer;margin-right:5px" href="${data.UrlLinkOpen}" target="_blank"> <i class="fa fa-file" style="margin-right:5px"></i>เอกสาร</a >`
                            }
                        }
                    },
                ],
                columnDefs: [
                    { width: '20%', targets: 0 },
                    { width: '20%', targets: 2 },
                ],
                fixedColumns: true,
            });

            window.onresize = function () {
                tbl.columns.adjust().responsive.recalc();
            };
        };
    </script>
}