
@{
    ViewBag.Title = "บันทึก PA ยิ้มแฉ่ง";
}

<style>
    .swal-wide {
        width: 35% !important
    }
</style>
<form class="form-horizontal">
    <input type="hidden" value="@ViewBag.RoundId" id="hdfRoundID" />
    <input type="hidden" value="" id="hdfPlanID" />
    <input type="hidden" value="" id="hdfAppID" />
    <input type="hidden" value="" id="hdfStatusId" />

    <div class="row">
        <div class="col-xs-12">

            @* ApplicationID *@
            <div class="col-md-4 col-sm-8 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua bs-glyphicons"><i class="fa fa-fw fa-heartbeat"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Application ID</span>
                        <span class="info-box-number"><label id="txtApplicationID"></label></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>

            @* เลขที่กรมธรรม์ *@
            <div class="col-md-4 col-sm-8 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><span class="glyphicon glyphicon-tasks"></span></span>

                    <div class="info-box-content">
                        <span class="info-box-text">เลขที่กรมธรรม์</span>
                        <span class="info-box-number"><label id="txtPolicyNo"></label></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>

            @* สถานะกรรมธรรม์ *@
            <div class="col-md-4 col-sm-8 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><span class="glyphicon glyphicon-lock"></span></span>

                    <div class="info-box-content">
                        <span class="info-box-text">สถานะกรมธรรม์</span>
                        <span class="info-box-number"><label id="txtPolicyStatus"></label></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <div class="box box-primary box-solid">
                <div class="box-header with-border" style="background-color:#3987b4; color:white; margin-bottom:1%">
                    <h3 class="box-title">ข้อมูลกรมธรรม์</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body" style="">
                    <div class="box-group">
                        <div class="row">
                            @* ปีการศึกษา *@
                            <div class="col-xs-4">
                                <label>ปีการศึกษา:</label>
                                <span id="lblStudyYear" style="color: #3bb6f7"></span>
                            </div>
                            @* จังหวัด *@
                            <div class="col-xs-4">
                                <label>จังหวัด:</label>
                                <span id="lblProvince" style="color: #3bb6f7"></span>
                            </div>
                            @* สาขา *@
                            <div class="col-xs-4">
                                <label>สาขา: </label>
                                <span id="lblBranch" style="color: #3bb6f7"></span>
                            </div>
                        </div>
                        <div class="row" style="padding-top:1%">
                            @* สถานศึกษา *@
                            <div class="col-xs-4">
                                <label>สถานศึกษา: </label>
                                <span id="lblSchoolName" style="color: #3bb6f7"></span>
                            </div>
                            <div class="col-xs-4">
                                <label>สถานะกรมธรรม์ PAนักเรียน:</label>
                                <span id="lblPAPersonnelStatus" style="color: #3bb6f7"></span>
                            </div>
                            <div class="col-xs-4">
                                <label>เลข APP PAนักเรียน:</label>
                                <a href="" id="urlPA" target="_blank"><u id="lblPAPersonnelAppId" style="color: #3bb6f7"></u></a>
                            </div>
                        </div>

                        @* วันที่คุ้มครอง / มีผลบังคับ / สิ้นสุดคุ้มครอง *@
                        <div class="row" style="padding-top:1%">
                            <div class="col-xs-4">
                                <label>วันที่คุ้มครอง:</label>
                                <span id="lblCoverDate" style="color: #3bb6f7"></span>
                            </div>
                            <div class="col-xs-4">
                                <label>วันที่มีผลบังคับ:</label>
                                <span id="lblActiveDate" style="color: #3bb6f7"></span>
                            </div>
                            <div class="col-xs-4">
                                <label>วันที่สิ้นสุดคุ้มครอง:</label>
                                <span id="lblLastCoverDate" style="color: #3bb6f7"></span>
                            </div>
                        </div>
                        @* แผนประกัน / ทุนประกัน *@
                        <div class="row" style="padding-top:1%">
                            <div class="col-xs-4">
                                <label>แผนประกัน PAนักเรียน:</label>
                                <span id="lblPAStudentPlan" style="color: #3bb6f7"></span>
                            </div>
                            <div class="col-xs-4">
                                <label>ทุนประกัน PAนักเรียน:</label>
                                <span id="lblPAStudentInsurance" style="color: #3bb6f7"></span>
                            </div>
                            <div class="col-xs-4">
                                <label>จำนวน นักเรียน/ครูฟรี/ครูซื้อ:</label>
                                <span id="lblStudentCount" style="color: #3bb6f7">0</span>
                                <span style="color: #3bb6f7">/</span>
                                <span id="lblFreeTeacherCount" style="color: #3bb6f7">0</span>
                                <span style="color: #3bb6f7">/</span>
                                <span id="lblBuyerTeacherCount" style="color: #3bb6f7">0</span>
                            </div>
                        </div>
                        @* เลือกแผนประกัน *@
                        <div class="row" style="padding-top:1%">
                            <div class="col-xs-4">
                                <label>เลือกแผนประกัน PA ยิ้มแฉ่ง:</label>
                                <select class="form-control select2 select2-hidden-accessible" id="ddlPAPlan" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                    <option value="-1">--โปรดระบุ--</option>
                                    @{
                                        foreach (var item in ViewBag.PlanID)
                                        {
                                            <option value="@item.ProductId">@item.ProductName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <label>ทุนประกัน PA ยิ้มแฉ่ง: </label>
                                <input type="text" class="form-control" placeholder="0.00" disabled value="" id="txtInsurance">
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="box-body" style="padding-top:2%">
                        <div class="box-group" style="text-align:center">
                            <button class="btn btn-primary" id="btnEditPAPersonnel" name="btnEditPAPersonnel" type="button">บันทึกการแก้ไขแผน</button>
                            <button class="btn btn-warning" id="btnCheckImportName" name="btnCheckImportName" type="button">
                                <i class="fa fa-fw fa-user"></i>
                                ตรวจสอบรายชื่อผู้เอาประกัน
                            </button>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</form>

@section ViewSpecificJavascript
{
    <script>

        //--------------------------------------------Event----------------------------------------
        $(function () {
            $('.select2').select2()

            if ($('#hdfRoundID').val() != "" || $('#hdfRoundID').val() != null) {
                GetPersonnelApplicationIDByRoundID();
                if ($('#hdfStatusId').val() != 5) {

                    $('#ddlPAPlan').prop('disabled', true);
                    $('#btnCheckImportName').prop('disabled', true);

                }
            }

            if ($('#hdfAppID').val() != "") {
                GetDetailByAppID();
                $('#btnEditPAPersonnel').prop('disabled', true).show();
            }

            $('#ddlPAPlan').change(function (e) {
                e.preventDefault();
                GetInsurancePAByPlanID()
                if ($('#ddlPAPlan').val() != $('#hdfPlanID').val()) {
                    $('#btnEditPAPersonnel').prop('disabled', false);
                } else {
                    $('#btnEditPAPersonnel').prop('disabled', true)
                }
            })

            $('#btnEditPAPersonnel').click(function (e) {
                if (IsValidateEdit()) {
                    swal({
                        title: "ยืนยันการแก้ไข",
                        text: "แก้ไขแผนประกัน PA ยิ้มแฉ่ง",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "ยืนยัน",
                        cancelButtonText: "ยกเลิก",
                        closeOnConfirm: false,
                        showLoaderOnConfirm: true
                    },
                        function () {
                            setTimeout(function () {
                                UpdatePlanPAPersonnel();
                            }, 1000)
                        })
                }
            })


            $('#btnCheckImportName').click(function (e) {
                e.preventDefault()
                //Encode AppId
                debugger
                var en_RoundID = window.btoa($('#hdfRoundID').val())
                view = '@Url.Action("PAPersonnelManageCustomer", "PAPersonnel")?roundID=' + en_RoundID;
                //เปลี่ยนหน้า
                window.location.href = view;
            })
        })



        //---------------------------------------Method----------------------------------------


        function GetDetailByAppID() {
             $.ajax({
                type: "GET",
                url: "@Url.Action("GetPAApplicationDetailByAppID", "PAPersonnel")",
                data: { AppID: $('#hdfAppID').val() },
                dataType: "json",
                async: false,
                 success: function (response) {
                     debugger
                     let PAApplicationCode = response.PersonnelApplicationCode;
                     let PAStatusApp = response.PersonnelApplicationStatusName;
                     let PolicyNumber = response.PolicyNumber;

                     let StudyYear = response.PAYear;
                     let Branch = response.BranchName;
                     let SchoolName = response.PersonnelApplicationName;
                     let PAPersonnelAppCode = response.RefApplicationCode;
                     let productId = response.ProductId;

                     $('#txtApplicationID').text(PAApplicationCode);
                     $('#txtPolicyNo').text(PolicyNumber);
                     $('#txtPolicyStatus').text(PAStatusApp);

                     $('#lblStudyYear').text(StudyYear);
                     $('#lblBranch').text(Branch);
                     $('#lblSchoolName').text(SchoolName);
                     GetSchoolByAppID(PAPersonnelAppCode);

                     $('#hdfPlanID').val(productId);
                     $('#ddlPAPlan').select2().val(productId).trigger('change.select2');

                     GetInsurancePAByPlanID();


                }
            })
        }

        //รับข้อมูล ทุนประกัน PA ยิ้มแฉ่ง
        function GetInsurancePAByPlanID() {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetPersonnelByPlanId", "PAPersonnel")",
                    data: { productId: $('#ddlPAPlan').val()},
                    dataType: "json",
                    async: false,
                    success: function (response) {

                        let insurance_PA = response.MaxCover;

                        if ($('#ddlPAPlan').val() != "-1") {
                            $('#txtInsurance').val(commaSeparateNumber(insurance_PA));
                        } else {
                            $('#txtInsurance').val('');
                        }

                    }
                })
            }

        //แก้ไขข้อมูลแผนส่งไปอัพเดต เมื่อกด ไปหน้าจัดการข้อมูลผู้เอาประกัน จะเปลี่ยนไปหน้า จัดการข้อมูลผู้เอาประกัน
        function UpdatePlanPAPersonnel() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DoUpdateByAppId", "PAPersonnel")",
                data: {
                    PersonnelAppID: $('#hdfAppID').val(),
                    ProductID: $('#ddlPAPlan').val()
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    if (response.IsResult == true) {

                        swal({
                            title: "บันทึกข้อมูลสำเร็จ",
                            text: response.Msg,
                            type: "success",
                            confirmButtonText: "ไปหน้านำเข้ารายชื่อ",
                        },
                            function () {
                                var en_RoundID = window.btoa($('#hdfRoundID').val())
                                window.location.href = "@Url.Action("PAPersonnelManageCustomer", "PAPersonnel")?roundID=" + en_RoundID;
                            })

                    } else {
                        swal("พบข้อผิดพลาด", response.Msg, "error")
                    }

                }
            });
        }

            function GetSchoolByAppID(refAppCode) {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetSchoolDetail", "PAPersonnel")",
                    data: { appCode: refAppCode },
                    dataType: "json",
                    async: false,
                    success: function (response) {

                        let statusPolicy = response.ApplicationStatusName;
                        let applicationCode = response.ApplicationCode;
                        let province = response.Province;
                        let startCoverDate = moment(response.StartCoverDate).add(543, 'years').format("DD/MM/YYYY");
                        let effectiveDate = moment(response.EffectiveDate).add(543, 'years').format("DD/MM/YYYY");
                        let endCoverDate = moment(response.EndCoverDate).add(543, 'years').format("DD/MM/YYYY");
                        let productName = response.ProductName;
                        let standardCoverage = response.StandardCoverage;
                        let studentCount = response.Student;
                        let teacherFree = response.Free;
                        let teacherBuy = response.Buy
                        let urlPA = response.UrlPA;

                        $('#lblProvince').text(province);
                        $('#lblPAPersonnelAppId').text(applicationCode)
                        $('#lblPAPersonnelStatus').text(statusPolicy)
                        $('#lblCoverDate').text(startCoverDate);
                        $('#lblActiveDate').text(effectiveDate);
                        $('#lblLastCoverDate').text(endCoverDate);
                        $('#lblPAStudentPlan').text(productName);
                        $('#lblPAStudentInsurance').text(commaSeparateNumber(standardCoverage));
                        $('#lblStudentCount').text(studentCount);
                        $('#lblFreeTeacherCount').text(teacherFree);
                        $('#lblBuyerTeacherCount').text(teacherBuy);
                        $('#urlPA').attr('href', urlPA);
                    }
                });

        }
        function GetPersonnelApplicationIDByRoundID() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetPAPersonnelAppIDByRoundID", "PAPersonnel")",
                data: { appRoundId: $('#hdfRoundID').val()},
                dataType: "json",
                async: false,
                success: function (response) {
                    var appId = response.PersonnelApplicationId;
                    var statusRoundId = response.PersonnelApplicationRoundStatusId;
                    debugger
                    $('#hdfAppID').val(appId);
                    $('#hdfStatusId').val(statusRoundId);
                }
            });
        }

        //---------------------------------------Validate--------------------------------------

        function IsValidateEdit() {
            if ($('#ddlPAPlan').val() == "-1") {
                swal("ไม่สามารถทำรายการได้", "กรุณาเลือกแผน", "error")
                return false
            }
            return true
        }

    </script>
}
