
@{
    ViewBag.Title = "รายละเอียด PA ยิ้มแฉ่ง";
}

<form>
    @*header box*@
    <div class="row">
        <div class="col-lg-4 ">
            <div class="small-box bg-aqua" style="border-radius:6px;height:100px">
                <div class="inner">
                    <p>Application ID</p>
                    <label id="lblAppCode"></label>
                </div>
                <div class="icon">
                    <i class="fa fa-heartbeat"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-4 ">

            <div class="small-box bg-yellow" style="border-radius: 6px; height: 100px">
                <div class="inner">
                    <p>เลขที่กรมธรรม์</p>
                    <label id="lblPolicyNo"></label>
                </div>
                <div class="icon">
                    <i class="fa fa-list-ul"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-4 ">

            <div class="small-box bg-green" style="border-radius: 6px; height: 100px">
                <div class="inner">
                    <p>สถานะกรมธรรม์</p>
                    <label id="lblStatus"></label>
                </div>
                <div class="icon">
                    <i class="fa fa-lock"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="tab" role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#pnlApplicationDetail" aria-controls="home" role="tab" data-toggle="tab">ข้อมูลสถานศึกษา</a></li>
                    <li role="presentation"><a href="#pnlBenefit" aria-controls="messages" role="tab" data-toggle="tab">ความคุ้มครอง</a></li>
                    <li role="presentation"><a href="#pnlCustomerDetail" aria-controls="profile" role="tab" data-toggle="tab">ข้อมูลผู้เอาประกัน</a></li>
                    <li role="presentation"><a href="#pnlDocument" aria-controls="messages" role="tab" data-toggle="tab">เอกสาร</a></li>
                    <li role="presentation"><a href="#pnlEndorseCustomerDetail" aria-controls="messages" role="tab" data-toggle="tab">สลักหลังผู้เอาประกัน</a></li>
                    <li role="presentation"><a href="#pnlTask" aria-controls="messages" role="tab" data-toggle="tab">ประวัติการทำรายการ</a></li>
                    <li role="presentation"><a href="#pnlImportTask" aria-controls="messages" role="tab" data-toggle="tab">ประวัตินำเข้ารายชื่อ</a></li>
                    <li role="presentation" class="disabled disabledTab"><a href="#pnlClaim" aria-controls="messages" role="tab" data-toggle="tab" style="background-color:#E7E7E7">ประวัติการเคลม</a></li>
                </ul>


                <!-- Tab panes -->
                <div class="tab-content tabs">

                    @* panel App Detail *@
                    <div role="tabpanel" class="tab-pane fade in active" id="pnlApplicationDetail">

                        <div class="box box-solid box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">ข้อมูลกรมธรรม์</h3>
                            </div>

                            <div class="box-body">
                                @*patial view*@
                                @Html.Partial("~/Views/PartialView/_PAPersonnelApplicationDetail.cshtml")
                            </div>
                        </div>
                    </div>

                    @* panel Cover Detail *@
                    <div role="tabpanel" class="tab-pane fade" id="pnlBenefit">

                        <div class="box box-solid box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">ความคุ้มครอง</h3>
                            </div>

                            <div class="box-body">
                                @*patial view*@
                                @Html.Partial("~/Views/PartialView/_PAPersonnelBenefit.cshtml")
                            </div>
                        </div>
                    </div>

                    @* panel Customer Detail *@
                    <div role="tabpanel" class="tab-pane fade" id="pnlCustomerDetail">

                        <div class="box box-solid box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">ข้อมูลผู้เอาประกัน</h3>
                            </div>

                            <div class="box-body">

                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>รอบนำเข้า</label>
                                        <select class="form-control select2" style="width:100%" id="ddlRoundNo">
                                            <option value="-1">---ทั้งหมด---</option>
                                            @foreach (var item in ViewBag.Round)
                                            {
                                                <option value="@item.PersonnelApplicationRoundId">@item.RoundNo</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="col-lg-3">
                                        <label>จำนวนผู้เอาประกัน</label>
                                        <input class="form-control" value="0" disabled id="txtCustomerCount" />
                                    </div>
                                </div>

                                <div class="row" style="padding-top: 2%">
                                    <div class="col-lg-12">
                                        @*patial view*@
                                        @Html.Partial("~/Views/PartialView/_PAPersonnelCustomerDetail.cshtml")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* panel  Document*@
                    <div role="tabpanel" class="tab-pane fade" id="pnlDocument">

                        <div class="box box-solid box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">เอกสาร</h3>
                            </div>

                            <div class="box-body">
                                @*patial view*@
                                @Html.Partial("~/Views/PartialView/_PAPersonnelDocument.cshtml")
                            </div>
                        </div>
                    </div>

                    @* panel Endorse Customer Detail *@
                    <div role="tabpanel" class="tab-pane fade" id="pnlEndorseCustomerDetail">

                        <div class="box box-solid box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title"> ประวัติการสลักหลังผู้เอาประกัน</h3>
                            </div>

                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="dtResponseTable" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* panel Task *@
                    <div role="tabpanel" class="tab-pane fade" id="pnlTask">

                        <div class="box box-solid box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">ประวัติการทำรายการ</h3>
                            </div>

                            <div class="box-body">
                                @*patial view*@
                                @Html.Partial("~/Views/PartialView/_PAPersonnelTask.cshtml")
                            </div>
                        </div>
                    </div>

                    @* panel Import Task *@
                    <div role="tabpanel" class="tab-pane fade" id="pnlImportTask">

                        <div class="box box-solid box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">ประวัตินำเข้ารายชื่อ</h3>
                            </div>

                            <div class="box-body">
                                @*patial view*@
                                @Html.Partial("~/Views/PartialView/_PAPersonnelImportTask.cshtml")

                            </div>
                        </div>
                    </div>

                    @* panel AClaim *@
                    <div role="tabpanel" class="tab-pane fade" id="pnlClaim">

                        <div class="box box-solid box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">ประวัติการเคลม</h3>
                            </div>

                            <div class="box-body">
                                @*patial view*@
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="hdfProductId" />

</form>


@section ViewSpecificJavascript
{
    <script type="text/javascript">

        var app_id = '@ViewBag.ApplicationId';

        $(function () {
            $('.select2').select2();

            GetAppplicationDetail();
            DoloadApplicationDetail(app_id);


            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href");
                switch (target) {
                    case "#pnlApplicationDetail":
                        DoloadApplicationDetail(app_id);
                        break;
                    case "#pnlBenefit":
                        GetBenefitDataTable(app_id, $('#hdfProductId').val());
                        GetProductDetail($('#hdfProductId').val());
                        break;
                    case "#pnlCustomerDetail":
                        DoloadCustomerDetail($('#ddlRoundNo').val(),app_id)
                        break;
                    case "#pnlDocument":
                        GetDocumentDetail(app_id);
                        break;
                    case "#pnlEndorseCustomerDetail":
                        GetEndorseCustomerDetail();
                        break;
                    case "#pnlTask":
                        DoloadTask(app_id)
                        break;
                    case "#pnlImportTask":
                        GetHistoryImport(app_id)
                        break;
                    case "#pnlClaim":
                        //do something
                        break;
                }

            });


            $('#ddlRoundNo').change(function (e) {
                e.preventDefault();

                if ($('#ddlRoundNo').val() != "-1") {
                    GetCustomerCount();
                } else {
                    GetCustomerCountByAppId();
                }

                //Load CustomerDetail
                DoloadCustomerDetail($('#ddlRoundNo').val(), app_id)

            });

        });


        const GetAppplicationDetail = () => {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetPAApplicationDetailByAppID", "PAPersonnel")',
                data: {
                    appId: app_id
                },
                dataType: "json",
                async: false,
                success: function (data) {

                    $('#lblAppCode').text(data.PersonnelApplicationCode);
                    $('#lblPolicyNo').text((data.PolicyNo == null ? "-" : data.PolicyNo));
                    $('#lblStatus').text(data.PersonnelApplicationStatusName);
                    $('#hdfProductId').val(data.ProductId);
                    GetCustomerCountByAppId();
                }
            });
        }

        const GetCustomerCount = () => {

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCustomerCountByRoundId", "PAPersonnel")",
                data: {
                    applicationRoundId: $('#ddlRoundNo').val()
                },
                dataType: "json",
                async: false,
                success: function (data) {
                    $('#txtCustomerCount').val(data);
                }
            });
        }

        const GetCustomerCountByAppId = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCustomerCountByAppId", "PAPersonnel")",
                data: {
                    applicationId: app_id
                },
                dataType: "json",
                async: false,
                success: function (data) {
                    $('#txtCustomerCount').val(data);
                }
            });
        }

        const GetEndorseCustomerDetail = () => {
            $("#dtResponseTable").DataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                destroy: true,
                searching: false,
                ajax: {
                    url: '/PAPersonnel/GetCustomerDetailHistory',
                    async: false,
                    type: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = null;
                        d.personnelApplicationId = app_id
                    }
                },
                columns: [
                    { title: 'รหัสรายการ', data: 'EndorsePersonnelCustomerDetailHeaderCode', className: 'text-center' },
                    { title: 'สถานะ', data: 'PersonnelCustomerDetailStatusName', className: 'text-center' },
                    { title: 'คำนำหน้าเดิม', data: 'FromTitle', className: 'text-center' }, // เพื่มรายการใหม่
                    { title: 'ชื่อเดิม', data: 'FromFirstName', className: 'h-dt-center' },
                    { title: 'นามสกุลเดิม', data: 'FromLastName', className: 'h-dt-center' },
                    { title: 'คำนำหน้าใหม่', data: 'ToTitle', className: 'text-center' }, // เพื่มรายการใหม่
                    { title: 'ชื่อใหม่', data: 'ToFirstName', className: 'h-dt-center' },
                    { title: 'นามสกุลใหม่', data: 'ToLastName', className: 'h-dt-center'},
                    { title: 'เลขบัตรเดิม', data: 'FromIdCard', className: 'h-dt-center' },
                    { title: 'เลขบัตรใหม่', data: 'ToIdCard', className: 'h-dt-center' },
                    { title: 'Passport เดิม', data: 'FromPassport', className: 'h-dt-center' },
                    { title: 'Passport ใหม่', data: 'ToPassport', className: 'h-dt-center' },
                    { title: 'ตำแหน่งเดิม', data: 'FromPosition', className: 'h-dt-center' },
                    { title: 'ตำแหน่งใหม่', data: 'ToPosition', className: 'h-dt-center' },
                    { title: 'เบอร์โทรศัพท์เดิม', data: 'FromMobileNumber', className: 'h-dt-center' },
                    { title: 'เบอร์โทรศัพท์ใหม่', data: 'ToMobileNumber', className: 'h-dt-center' },
                    {
                        title: 'วันที่ทำรายการ', data: 'CreatedDate', className: 'h-dt-center',
                        mRender: function (data) {
                            moment.locale('th');
                            return moment(data).add(543, 'years').format("DD/MM/YYYY ", "LLLL");
                        }
                    },
                ],
                bLengthChange: false
            });
        }



    </script>
}

