@{
    ViewBag.Title = "Rank";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    @*Bootstrap CSS*@
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pridi" rel="stylesheet">
    <link href="~/Content/StyleRank.css" rel="stylesheet">

    <style>
        .menu {
            text-align: center;
            background-color: #00ADEF;
            cursor: pointer;
            color: white;
            height: 70px;
            border: 1px white solid;
        }

        #sales {
            background-color: #80D6F9;
        }

        .menu > label {
            padding-top: 10px;
            font-size: 30px;
        }

        #dcr {
            display: table;
        }

        .dcr-menu {
            width: 85%;
            display: table-cell;
            height: 40px;
            font-size: 20px;
            margin-top: 10px;
        }

        #head-menu {
            width: 180px;
            height: 40px;
            font-size: 20px;
            margin: 10px 40px;
        }

        .headcolumn {
            background-color: #4CC6F8;
        }

        .odd > td {
            background-color: #D0ECFB;
        }

        .even > td {
            background-color: #E7F8FD;
        }

        th {
            font-size: 20px;
            text-align: center;
        }

        td {
            font-size: 15px;
            text-align: center;
            vertical-align: middle;
        }

            td.selected {
                font-weight: bold;
                background-color: #8EDCF8;
            }

        #detailid {
            text-align: left;
        }

        #myrank {
            text-align: center;
            font-size: 30px;
        }

        hr {
            margin-top: 5px;
        }

        .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
            z-index: 3;
            color: #fff;
            cursor: default;
            background-color: #00ADEF;
            border-color: #00ADEF;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div id="sales" class="col-xs-4 menu">
                <label>นักขาย</label>
            </div>
            <div id="teams" class="col-xs-4 menu">
                <label>ทีม</label>
            </div>
            <div id="branch" class="col-xs-4 menu">
                <label>สาขา</label>
            </div>
        </div>
        <div class="row">
            <div id="dcr" class="col-xs-4 submenu">
                <select id="dcr-month" class="form-control dcr-menu"></select>
            </div>
            <div id="head" class="col-xs-4 submenu" align="center">
                <select id="head-menu" class="form-control">
                    <option value="103">LG</option>
                    <option value="105">Persistency</option>
                    <option value="106">Growth PH</option>
                </select>
            </div>
            <div class="col-xs-4 submenu">
            </div>
        </div>
        <hr>
        <div class="row">
            <div id="table" class="col-xs-12">
                <table id="valuetable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="headcolumn">ลำดับ</th>
                            <th class="headcolumn">รหัส</th>
                            <th id="detail-head" class="headcolumn">รายละเอียด</th>
                            <th class="headcolumn">คะแนน</th>
                            @*<th class="headcolumn"></th>*@
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div id="myrank">
            ลำดับของคุณ คือ
            <label id="rank"></label>
        </div>
    </div>

    <div class="modal fade" id="modal-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">รายละเอียด</h4>
                </div>
                <div class="modal-body">
                    <label for="" id="refid"></label>

                    <table id="table-detail" class="table table-hover">
                        <thead>
                            <tr>
                                <th class="headcolumn">Parameter</th>
                                <th class="headcolumn">Value</th>
                                <th class="headcolumn">Grade</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div id="loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <input type="hidden" id="teamId" value="@ViewBag.TeamID" />
    <input type="hidden" id="branchId" value="@ViewBag.BranchID" />
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    @section scripts
        {
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
        @*<script src="https://cdn.datatables.net/plug-ins/1.10.16/api/page.jumpToData().js"></script>*@

        <script>
            var datatable = null;
            var refId2; //Add ref2 10-07-2561 by cuteful
            $(function () {
                $(window).load(function () {
                    $('#loading').fadeOut('slow');
                });
                var refId = GetParameterByName('empId');
                refId2 = refId; //Add ref2 10-07-2561 by cuteful
                GetDCR();
                const pSt = GetStartPageTable(refId2, $('#dcr-month').val());
                datatable = ShowTable(refId, $('#dcr-month').val(), pSt);
                GetReferenceValue(refId, $('#dcr-month').val());

                $('#sales').click(function (e) {
                    e.preventDefault();
                    //SET refId2 = refId ใช้เช็คค่าเพื่อ addClass selected row
                    refId2 = refId; //Add ref2 10-07-2561 by cuteful
                    $('#sales').css("background-color", "#80D6F9");
                    $('#teams,#branch').css("background-color", "#00ADEF");

                    var list = ["LG", "Persistency", "Growth PH"];
                    var list2 = ["103", "105", "106"];

                    $('#head-menu').empty();

                    for (var i = 0; i < list.length; i++) {
                        $('#head-menu').append("<option value=" + list2[i] + ">" + list[i] + "</option>");
                    }

                    ReDrawTable(refId2, $('#dcr-month').val());
                });

                $('#teams').click(function (e) {
                    e.preventDefault();
                    refId2 = $('#teamId').val(); //Add ref2 10-07-2561 by cuteful
                    $('#teams').css("background-color", "#80D6F9");
                    $('#sales,#branch').css("background-color", "#00ADEF");

                    var list = ["New App"];
                    var list2 = ["114"];

                    $('#head-menu').empty();

                    for (var i = 0; i < list.length; i++) {
                        $('#head-menu').append("<option value=" + list2[i] + ">" + list[i] + "</option>");
                    }

                    ReDrawTable(refId2, $('#dcr-month').val());
                });

                $('#branch').click(function (e) {
                    e.preventDefault();
                    refId2 = $('#branchId').val(); //Add ref2 10-07-2561 by cuteful
                    $('#branch').css("background-color", "#80D6F9");
                    $('#sales,#teams').css("background-color", "#00ADEF");

                    var list = ["BG", "LG", "PSG"];
                    var list2 = ["115", "116", "118"];

                    $('#head-menu').empty();

                    for (var i = 0; i < list.length; i++) {
                        $('#head-menu').append("<option value=" + list2[i] + ">" + list[i] + "</option>");
                    }

                    ReDrawTable(refId2, $('#dcr-month').val());
                });

                $('#head-menu').change(function (e) {
                    ReDrawTable(refId2, $('#dcr-month').val());
                });

                $('#dcr-month').change(function (e) {
                    ReDrawTable(refId2, $('#dcr-month').val());
                });

                $('#btntest').click(function (e) {
                    $('#modal-id2').modal('show');
                });

            });

            //var parameterList;

            function GetParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, "\\$&");
                var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, " "));
            }

            function GetDCR() {
                $.ajax({
                    type: "GET",
                    url: "@ViewBag.APIUrlParameters/api/parameters/ScheduleDCR",
                    async: false,
                    success: function (response) {
                        for (var i = 0; i < response.length; i++) {
                            var dateDcr = response[i].monthlyProductDCR.split("T");
                            var date = dateDcr[0].split("-");

                            var year = parseInt(date[0]) + 543;
                            var month = date[1];

                            switch (month) {
                                case '01': $('#dcr-month').append("<option value=" + dateDcr[0].toString() + ">มกราคม " + year + "</option>");
                                    break;
                                case '02': $('#dcr-month').append("<option value=" + dateDcr[0].toString() + ">กุมภาพันธ์ " + year + "</option>");
                                    break;
                                case '03': $('#dcr-month').append("<option value=" + dateDcr[0].toString() + ">มีนาคม " + year + "</option>");
                                    break;
                                case '04': $('#dcr-month').append("<option value=" + dateDcr[0].toString() + ">เมษายน " + year + "</option>");
                                    break;
                                case '05': $('#dcr-month').append("<option value=" + dateDcr[0].toString() + ">พฤษภาคม " + year + "</option>");
                                    break;
                                case '06': $('#dcr-month').append("<option value=" + dateDcr[0].toString() + ">มิถุนายน " + year + "</option>");
                                    break;
                                case '07': $('#dcr-month').append("<option value=" + dateDcr[0].toString() + ">กรกฎาคม " + year + "</option>");
                                    break;
                                case '08': $('#dcr-month').append("<option value=" + dateDcr[0].toString() + ">สิงหาคม " + year + "</option>");
                                    break;
                                case '09': $('#dcr-month').append("<option value=" + dateDcr[0].toString() + ">กันยายน " + year + "</option>");
                                    break;
                                case '10': $('#dcr-month').append("<option value=" + dateDcr[0].toString() + ">ตุลาคม " + year + "</option>");
                                    break;
                                case '11': $('#dcr-month').append("<option value=" + dateDcr[0].toString() + ">พฤศจิกายน " + year + "</option>");
                                    break;
                                case '12': $('#dcr-month').append("<option value=" + dateDcr[0].toString() + ">ธันวาคม " + year + "</option>");
                                    break;
                            }
                        }
                    }
                });
            }

            function ShowTable(refId, dcr, pStart) {
                var pageStart = pStart;
                var pLength = 10;
                var datatable = $('#valuetable').DataTable({
                    pageLength: pLength,
                    lengthChange: true,
                    bInfo: true,
                    bProcessing: true,
                    bServerSide: true,
                    displayStart: pageStart * pLength,
                    ajax: {
                        url: "@ViewBag.APIUrlParameters/api/parameters/Rank?parameterId=" + $('#head-menu').val() + "&DCR=" + dcr,

                        data: function (d) {
                            d.draw = d.draw;
                            d.pageSize = d.length;
                            d.pageStart = d.start;
                            d.sortField = d.columns[d.order[0].column].data;
                            d.orderType = d.order[0].dir;
                            d.search = d.search.value;
                        }
                    },
                    columns: [
                        { data: "value" },
                        { data: "referenceId" },
                        { data: "detail" },
                        {
                            data: "valueString",
                            render: function (d) {
                                const p = d.split(" ");
                                return p[0];
                            }
                        }
                        //{
                        //    data: null,
                        //    render: function (o) {
                        //        var modal = ' <button id="btndetail" type="button" onclick="javascript:showDetail(' + "'" + o.referenceId + "'" + ',' + "'" + dcr + "'" + ')" class="btn btn-success">รายละเอียด</button>';
                        //        //getParametersList($('#head-menu').val());
                        //        return modal;
                        //    }
                        //}
                    ],
                    bLengthChange: false,
                    createdRow: function (row, data, index) {
                        if (data.referenceId == refId2) {
                            $('td', row).addClass('selected');
                        }
                    },
                    language: {
                        url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Thai.json"
                    }

                });

                return datatable;

            }

            function GetStartPageTable(refId, dcr) {
                var page = "";
                $.ajax({
                    type: "GET",
                    url: "@ViewBag.APIUrlParameters/api/parameters/RankPage?parameterId=" + $('#head-menu').val() + " &DCR=" + dcr + "&referenceId=" + refId,
                    async: false,
                    success: function (response) {
                        if (response.length > 0) {
                            page = response[0].page;
                        }
                    }
                });

                return page;
            }

            function GetReferenceValue(refId, dcr) {
                $.ajax({
                    type: "GET",
                    url: "@ViewBag.APIUrlParameters/api/parameters/Rank?parameterId=" + $('#head-menu').val() + "&DCR=" + dcr + "&referenceId=" + refId,
                    success: function (response) {
                        if (response.data[0] == null) {
                            $('#rank').text("ไม่พบข้อมูล");
                        }
                        else {
                            $('#rank').text(response.data[0].value);
                        }
                    }
                });
            }

            function GetParametersList(paramId) {

                var parameterList;

                $.ajax({
                    type: "GET",
                    url: "@ViewBag.APIUrlParameters/api/parameters/ReferenceParameters?parameterId=" + paramId,
                    success: function (response) {
                        if (response[0].referenceParameters == null) {
                            parameterList = null;
                        } else {
                            parameterList = response[0].referenceParameters;
                        }

                        return parameterList;
                    }
                });
            }

            function showDetail(refId, dcr) {
                $('#modal-id').modal('show');
                $('#refid').text(refId);

                var parameterList = GetParametersList($('#head-menu').val());

                GetDetail(refId, dcr, parameterList);

            }

            function GetDetail(refId, dcr, parameterList) {
                if (parameterList == null) {
                    $('#table-detail > tbody').empty();
                    $('#table-detail > tbody:last-child').append(
                        '<tr class="odd">' +
                        '<td>ไม่พบข้อมูล</td>' +
                        '<td>ไม่พบข้อมูล</td>' +
                        '<td>ไม่พบข้อมูล</td>' +
                        '</tr>'
                    );
                } else {

                    $.ajax({
                        type: "GET",
                        url: "@ViewBag.APIUrlParameters/api/parameters/ValueList?DCR=" + dcr + "&referenceId=" + refId + "&parameterList=" + parameterList,
                        success: function (response) {
                            $('#table-detail > tbody').empty();
                            for (var i = 0; i < response.length; i++) {
                                if ((i % 2) == 0) {
                                    $('#table-detail > tbody:last-child').append(
                                        '<tr class="even">' +
                                        '<td>' + response[i].parameterName + '</td>' +
                                        '<td>' + response[i].value + '</td>' +
                                        '<td>' + response[i].valueString + '</td>' +
                                        '</tr>'
                                    );
                                } else {
                                    $('#table-detail > tbody:last-child').append(
                                        '<tr class="odd">' +
                                        '<td>' + response[i].parameterName + '</td>' +
                                        '<td>' + response[i].value + '</td>' +
                                        '<td>' + response[i].valueString + '</td>' +
                                        '</tr>'
                                    );
                                }

                            }
                        }
                    });
                }
            }

            function ReDrawTable(refId) {
                datatable.destroy();
                const pSt = GetStartPageTable(refId2, $('#dcr-month').val());
                datatable = ShowTable(refId, $('#dcr-month').val(), pSt);
                GetReferenceValue(refId, $('#dcr-month').val());
            }
        </script>
    }
</body>