@{
    ViewBag.Title = "รายการแก้ไขผู้ประสานงานชุมชน";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal">
    <div class="row" id="divdetail">
        <div class="col-xs-12">

            <div class="box box-warning box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">ข้อมูลกรมธรรม์</h3>

                    <!-- /.box-tools -->
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <label>Application ID:</label>
                            <input type="text" class="form-control" id="txtapplicationCode" />
                        </div>
                        <div class="col-xs-6">
                            <label>ชื่อกรมธรรม์:</label>
                            <input type="text" class="form-control" id="txtapplicationName" />
                        </div>
                        <div class="col-xs-3">
                            <label>สถานะกรมธรรม์:</label>
                            <input type="text" class="form-control" id="txtStatus" />
                        </div>
                    </div>
                    <div class="row" style="padding-top:6px">
                        <div class="col-xs-3">
                            <label>วันเริ่มสัญญา:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="dtpStarCoverDate">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <label>วันสิ้นสุดสัญญา:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="dtpEndCoverDate">
                            </div>
                        </div>
                        <div class="col-xs-3" style="padding-top:26px">
                            <button type="button" class="btn btn-primary" id="btnDetail">รายละเอียด</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-warning box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">ข้อมูลผู้ประสานงานชุมชนเดิม</h3>

                    <!-- /.box-tools -->
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <label>คำนำหน้า:</label>
                            <input type="text" class="form-control" id="txtFromTitle" />
                        </div>
                        <div class="col-xs-3">
                            <label>ชื่อ:</label>
                            <input type="text" class="form-control" id="txtFromFirstName" />
                        </div>
                        <div class="col-xs-3">
                            <label>นามสกุล:</label>
                            <input type="text" class="form-control" id="txtFromLastName" />
                        </div>
                    </div>
                    <div class="row" style="padding-top:6px">
                        <div class="col-xs-3">
                            <label>เบอร์โทรศัพท์:</label>
                            <input type="text" class="form-control" id="txtFromTel" />
                        </div>

                        <div class="col-xs-3" style="padding-top:6px">
                            <label class="control-label" for="">หมายเลขบัตรประชาชน</label>
                            <input type="text" class="form-control" id="txtFromZCardId" name="txtFromZCardId" data-inputmask="'mask': '9-9999-99999-99-9'" />
                        </div>

                        <div class="col-xs-3" style="padding-top:6px">

                            <label class="control-label" for="lblPassportNo">หมายเลขพาสปอร์ต</label>
                            <input type="text" class="form-control" id="txtFromPassportNo" name="txtFromPassportNo" placeholder="หมายเลขพาสปอร์ต">
                        </div>
                    </div>
                    <div class="row" style="padding-top:6px">
                        <div class="col-xs-3">
                            <label>ธนาคาร:</label>
                            <input type="text" class="form-control" id="txtFromBank" />
                        </div>
                        <div class="col-xs-3">
                            <label>ชื่อบัญชี:</label>
                            <input type="text" class="form-control" id="txtFromAccountName" />
                        </div>
                        <div class="col-xs-3">
                            <label>เลขที่บัญชี:</label>
                            <input type="text" class="form-control" id="txtFromAccountNo" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-warning box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">ข้อมูลผู้ประสานงานชุมชนใหม่</h3>

                    <!-- /.box-tools -->
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <label>คำนำหน้า:</label>
                            <input type="text" class="form-control" id="txtToTitle" />
                        </div>
                        <div class="col-xs-3">
                            <label>ชื่อ:</label>
                            <input type="text" class="form-control" id="txtToFirstName" />
                        </div>
                        <div class="col-xs-3">
                            <label>นามสกุล:</label>
                            <input type="text" class="form-control" id="txtToLastName" />
                        </div>
                    </div>
                    <div class="row" style="padding-top:6px">
                        <div class="col-xs-3">
                            <label>เบอร์โทรศัพท์:</label>
                            <input type="text" class="form-control" id="txtToTel" />
                        </div>
                        <div class="col-xs-3" style="padding-top:6px">
                            <label class="control-label" for="">หมายเลขบัตรประชาชน</label>
                            <input type="text" class="form-control" id="txtToZCardId" name="txtToZCardId" data-inputmask="'mask': '9-9999-99999-99-9'" />
                        </div>

                        <div class="col-xs-3" style="padding-top:6px">

                            <label class="control-label" for="lblPassportNo">หมายเลขพาสปอร์ต</label>
                            <input type="text" class="form-control" id="txtToPassportNo" name="txtToPassportNo" placeholder="หมายเลขพาสปอร์ต">
                        </div>
                    </div>
                    <div class="row" style="padding-top:6px">
                        <div class="col-xs-3">
                            <label>ธนาคาร:</label>
                            <input type="text" class="form-control" id="txtToBank" />
                        </div>
                        <div class="col-xs-3">
                            <label>ชื่อบัญชี:</label>
                            <input type="text" class="form-control" id="txtToAccountName" />
                        </div>
                        <div class="col-xs-3">
                            <label>เลขที่บัญชี:</label>
                            <input type="text" class="form-control" id="txtToAccountNo" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-warning box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">รายการเอกสาร</h3>

                    <!-- /.box-tools -->
                </div>

                <div class="box-body">
                    <div>
                        <table id="dtDocument" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" style="text-align:center" id="divbutton">
                    <button type="button" class="btn btn-success" id="btnApprove"><i class="glyphicon glyphicon-ok-sign"></i> อนุมัติ</button>
                    <button type="button" class="btn btn-danger" id="btnUnApprove"><i class="glyphicon glyphicon-remove-sign"></i> ไม่อนุมัติ</button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="hdfApplicationId" />
    <input type="hidden" id="hdfReferenceID" value="@ViewBag.RequestEndorseContactAndAccountId" />
</form>

@* Modal Cause UnApprove *@
<div class="modal fade in" id="modal-CauseUnApprove" style="display: none; ">

    <div class="modal-dialog">
        <div class="box box-danger box-solid">
            <div class="box-header">

                <h4 class="box-title">สาเหตุการไม่อนุมัติ</h4>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label>สาเหตุการไม่อนุมัติ :</label>
                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" id="ddlUnApproveCause" name="ddlUnApproveCause">
                            <option value="-1">--โปรดระบุ--</option>
                            @{
                                foreach (var item in ViewBag.ApproveCause)
                                {
                                    <option value="@item.ApproveCauseId">@item.ApproveCause</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="row" style="padding-top: 5px;">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label>หมายเหตุ :</label>
                        <textarea rows="3" class="form-control" id="txtUnApproveRemark"></textarea>
                    </div>
                </div>

                <div class="row" style="padding-top: 5px;">
                    <div class="col-xs-12" style="text-align:center">
                        <button type="button" class="btn btn-success" id="btnSaveUnApprove"><i class="glyphicon glyphicon-ok"></i> ตกลง</button>
                        <button type="button" class="btn btn-danger" id="btnCancelUnApprove"><i class="glyphicon glyphicon-remove"></i> ยกเลิก</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section ViewSpecificJavascript {
    <script type="text/javascript">
        $(function () {
            $('.select2').select2();
            EnabledDetail(true);
            GetEndorseContactAndAccount();
            GetDocument();

            $('#btnDetail').click(function (e) {
                e.preventDefault();
                OpenAppDetail();
            });

            $('#btnUnApprove').click(function (e) {
                e.preventDefault();

                $('#modal-CauseUnApprove').addClass('modal_itemcenter');
                $('#modal-CauseUnApprove').modal('show');
            });

            $('#btnCancelUnApprove').click(function (e) {
                e.preventDefault();
                DoClearinputCause();
                $('#modal-CauseUnApprove').modal('hide');

            });

            $('#btnApprove').click(function (e) {
                e.preventDefault();
                window.swal({
                    title: 'ยืนยันการทำรายการหรือไม่?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#277020',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก',
                    closeOnConfirm: false,
                    closeOnEsc: false,
                    closeOnCancel: true
                }, function (isconfirm) {

                    if (isconfirm) {
                        SaveApproveEndorseContactandAccount();
                    }

                });
            });

            $('#btnSaveUnApprove').click(function (e) {
                e.preventDefault();
                if (IsvalidateForUnApprove()) {
                    window.swal({
                        title: 'ยืนยันการทำรายการหรือไม่?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#277020',
                        confirmButtonText: 'ตกลง',
                        cancelButtonText: 'ยกเลิก',
                        closeOnConfirm: false,
                        closeOnEsc: false,
                        closeOnCancel: true
                    }, function (isconfirm) {

                        if (isconfirm) {
                            SaveUnApproveEndorseContactandAccount();
                        }

                    });
                }

            });

        });

        const DoClearinputCause = () => {
            $('#ddlUnApproveCause').val('-1').select2().trigger('change.select2');
            $('#txtUnApproveRemark').val('');
        }

        const IsvalidateForUnApprove = () => {

            if ($('#ddlUnApproveCause').val() == '-1') {
                swal("ตรวจสอบข้อมูล", "กรุณาเลือก สาเหตุการไม่อนุมัติ", "warning");
                return false;
            }

            if ($("#txtUnApproveRemark").val() == "") {
                swal("ตรวจสอบข้อมูล", "กรุณากรอก หมายเหตุ", "warning");
                return false;
            }

            return true;
        }

        //อนุมัติ
        const SaveApproveEndorseContactandAccount = () => {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveApproveContactAndAccount","Approve")",
                data: {
                    endorseContactandAccountID: $('#hdfReferenceID').val(),
                    approveStatusId: 3
                },
                dataType: "json",
                async: false,
                success: function (response) {

                    if (response.IsResult == 1) {
                        swal({
                            title: response.Msg,
                            type: "success",
                            showCancelButton: false,
                            closeOnConfirm: false,
                            showLoaderOnConfirm: true
                        }, function () {
                            setTimeout(function () {
                                //swal("Ajax request finished!");
                                window.close();
                            }, 1000);
                        });
                    } else {
                        swal("", response.Msg, "error");
                    }
                }
            });
        }

        //ไม่อนุมัติ
        const SaveUnApproveEndorseContactandAccount = () => {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveApproveContactAndAccount","Approve")",
                data: {
                    endorseContactandAccountID: $('#hdfReferenceID').val(),
                    approveStatusId: 4,
                    approveCauseId: $('#ddlUnApproveCause').val(),
                    approveRemark: $('#txtUnApproveRemark').val()
                },
                dataType: "json",
                async: false,
                success: function (response) {

                    if (response.IsResult == 1) {
                        swal({
                            title: response.Msg,
                            type: "success",
                            showCancelButton: false,
                            closeOnConfirm: false,
                            showLoaderOnConfirm: true
                        }, function () {
                            setTimeout(function () {
                                //swal("Ajax request finished!");
                                window.close();
                            }, 1000);
                        });
                    } else {
                        swal("", response.Msg, "error");
                    }
                }
            });
        }

        const GetEndorseContactAndAccount = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetEndorseContactAndAccountDetail","Approve")",
                data: {
                    referenceID: $('#hdfReferenceID').val()
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    $('#hdfApplicationId').val(response.ApplicationId);
                    $('#txtapplicationCode').val(response.ApplicationCode);
                    $('#txtapplicationName').val(response.ApplicationName);
                    $('#txtStatus').val(response.ApplicationStatus);

                    let startCoverDate = moment(response.ApplicationStartCoverDate).add(543, 'years').format("DD/MM/YYYY");
                    let endCoverDate = moment(response.ApplicationEndCoverDate).add(543, 'years').format("DD/MM/YYYY");

                    $('#dtpStarCoverDate').val(startCoverDate);
                    $('#dtpEndCoverDate').val(endCoverDate);
                    $('#txtFromTitle').val(response.FromContactTitle);
                    $('#txtFromFirstName').val(response.FromContactFirstName);
                    $('#txtFromLastName').val(response.FromContactLastName);
                    $('#txtFromTel').val(response.FromContactMobileNumber);
                    $('#txtFromBank').val(response.FromBank);
                    $('#txtFromAccountName').val(response.FromAccountName);
                    $('#txtFromAccountNo').val(response.FromAccountNo);

                    $('#txtToTitle').val(response.ToContactTitle);
                    $('#txtToFirstName').val(response.ToContactFirstName);
                    $('#txtToLastName').val(response.ToContactLastName);
                    $('#txtToTel').val(response.ToContactMobileNumber);
                    $('#txtToBank').val(response.ToBank);
                    $('#txtToAccountName').val(response.ToAccountName);
                    $('#txtToAccountNo').val(response.ToAccountNo);

                    $('#txtFromZCardId').val(response.FromIdCardNumber);
                    $('#txtFromPassportNo').val(response.FromPassPortNumber);

                    $('#txtToZCardId').val(response.ToIdCardNumber);
                    $('#txtToPassportNo').val(response.ToPassPortNumber);

                    //ถ้าสถานะไม่ใช่รออนุมัติ ให้ปิดปุ่ม
                    if (response.ApproveStatusId != 2) {
                        $('#divbutton').hide();
                    } else {
                        $('#divbutton').show();
                    }

                    CheckContactAndAccount();

                }
            });
        }

        const CheckContactAndAccount = () => {

            if ($('#txtFromTitle').val() != $('#txtToTitle').val()) {

                $('#txtToTitle').css("color", "red");
            }

            if ($('#txtFromFirstName').val() != $('#txtToFirstName').val()) {

                $('#txtToFirstName').css("color", "red");
            }

            if ($('#txtFromLastName').val() != $('#txtToLastName').val()) {

                $('#txtToLastName').css("color", "red");
            }

            if ($('#txtFromTel').val() != $('#txtToTel').val()) {

                $('#txtToTel').css("color", "red");
            }

            //////////////////////////////////////////////////////////////

            if ($('#txtFromBank').val() != $('#txtToBank').val()) {

                $('#txtToBank').css("color", "red");
            }

            if ($('#txtFromAccountNo').val() != $('#txtToAccountNo').val()) {
                $('#txtToAccountNo').css("color", "red");
            }

            if ($('#txtFromAccountName').val() != $('#txtToAccountName').val()) {
                $('#txtToAccountName').css("color", "red");
            }

            ///////////////////////////////////////////////////////////////
            if ($('#txtFromZCardId').val() != $('#txtToZCardId').val()) {
                $('#txtToZCardId').css("color", "red");
            }

            if ($('#txtFromPassportNo').val() != $('#txtToPassportNo').val()) {
                $('#txtToPassportNo').css("color", "red");
            }

        }

         const GetDocument = () => {
            $('#dtDocument').empty();

            let t = $('#dtDocument').DataTable({
                 pageLength: 5,
                 processing: true,
                 serverSide: true,
                 responsive: true,
                 destroy: true,
                 searching: false,
                 ajax: {
                     url: '@Url.Action("GetDocumentRequestEndorseContactAndAccount", "Endorse")',
                        type: 'POST',
                        data: function (d) {
                            d.draw = d.draw;
                            d.pageSize = d.length;
                            d.pageStart = d.start;
                            d.sortField = d.columns[d.order[0].column].data;
                            d.orderType = d.order[0].dir;
                            d.search = d.search;
                            d.referenceId = $('#hdfReferenceID').val();
                        }
                    },
                    columns: [
                        { title: 'รหัสเอกสาร', data: 'DocumentCode', className: 'h-dt-center d-dt-center', width: '17%' },
                        { title: 'ประเภทเอกสาร', data: 'DocumentType', className: 'h-dt-center '},
                        {
                            title: 'Action', data: null,
                            className: 'h-dt-center d-dt-center',
                            mRender: (data, type, full) =>
                            {
                                return '<a href = "' + data.UrlLinkScan + '" target = "_blank" class="btn btn-warning btn-sm" disabled="disabled"> <i class="fa fa-fw fa-upload"></i> Scan</a> '
                                    + '<a href="' + data.UrlLinkOpen + '" target="_blank" class="btn btn-info btn-sm" > <i class="fa fa-fw fa-file"></i> เอกสาร</a > ';
                            }, width: '20%'
                        },

                    ],
                    bLengthChange: false,
                });
        }

        const OpenAppDetail = () => {
            let en_applicationID = window.btoa($('#hdfApplicationId').val());
           bob = window.open('', '_blank');
            bob.location = "@Url.Action("PACommunityDetail", "PACommunity")?applicationID=" + en_applicationID;
        }

        const EnabledDetail = (v) => {
            $('#divdetail').find('input').prop('disabled', v);
        }
    </script>
}