@{
    ViewBag.Title = "แก้ไขบัญชี";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-success">
            <!-- /.box-header -->
            <div class="box-body">
                <div id="form1_msg" class="alert alert-danger alert-dismissible" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> เตือน!</h4>
                    กรุณากรอกข้อมูลให้ถูกต้องและครบถ้วน
                </div>
                <!-- form start -->
                <form class="form-horizontal" id="form1" action="@Url.Action("Edit")" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="@ViewBag.Form.PointAccountId" />

                    <div class="box-body">

                        <div class="form-group">
                            <label for="point-account-id" class="col-sm-2 control-label">เลขบัญชี</label>
                            <div class="col-sm-4">
                                <label class="col-sm-2 control-label"> @ViewBag.Form.PointAccountId </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="PointAccountTypeId" class="col-sm-2 control-label">ประเภท</label>
                        <div class="col-sm-4">
                            <select class="form-control select2" name="PointAccountTypeId" id="PointAccountTypeId" style="width: 100%;">
                                @foreach (var itm in ViewBag.PointAccountTypes)
                                {
                                    <option value="@itm.PointAccountTypeId" @(itm.PointAccountTypeId == ViewBag.Form.PointAccountTypeId ? "selected" : "")>@itm.PointAccountTypeName</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="PointAccountName" class="col-sm-2 control-label">ชื่อบัญชี *</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="PointAccountName" id="PointAccountName" value="@ViewBag.Form.PointAccountName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ReferenceCode" class="col-sm-2 control-label">รหัสอ้างอิง *</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="ReferenceCode" id="ReferenceCode" value="@ViewBag.Form.ReferenceCode">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ReferenceDetail" class="col-sm-2 control-label">ชื่ออ้างอิง *</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="ReferenceDetail" id="ReferenceDetail" value="@ViewBag.Form.ReferenceDetail">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="IsActive" class="col-sm-2 control-label"></label>
                        <div class="col-sm-4">
                            <label>
                                <input type="checkbox" class="minimal" name="IsActive" id="IsActive" style="margin-right: 10px;" @(ViewBag.Form.IsActive ? "checked" : "")> Active
                            </label>
                        </div>
                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="col-sm-offset-2 btn btn-primary"><i class="fa fa-floppy-o"></i> บันทึก</button>
                        <a href="@Url.Action("Index")" class="btn btn-danger"><i class="fa fa-times"></i> ยกเลิก</a>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
@section ViewSpecificJavascript{
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            $(".datepicker").datepicker();

            $("#form1").validate({
                rules: {
                    Name: { required: true }
                },
                invalidHandler: function (e, r) {
                    $("#form1_msg").css('display', 'block');
                },
                submitHandler: function (e) {
                    e.preventDefault();
                }
            });
        });
    </script>
}