@{
    ViewBag.Title = "ระบบโทรหาลูกค้ายกเลิก";
}
<style>
    .info-box-custom {
        display: block;
        min-height: 90px;
        width: 100%;
        background: #fff;
        box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
        border-radius: 2px;
        border: 1px solid;
        border-color: #40A6D8;
        margin-bottom: 15px
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box-body">
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h3>
                        ระบบโทรหาลูกค้ายกเลิก
                        @*<small>@ViewBag.Description</small>*@
                    </h3>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="datepicker" class="col-lg-2 col-lg-offset-6 col-md-3 col-md-offset-5 col-sm-4 col-xs-2 control-label">วันที่ :</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="datepicker" data-date-language="th-th" data-provide="datepicker" value="" placeholder="กรุณาเลือก" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            @*แก้ collapse box-body*@
            <div class="box-body1" style="padding:10px">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box bg-aqua">
                            <span class="info-box-icon"><i class="fa fa-phone"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">คิวงานทั้งหมด</span>
                                <span class="info-box-number" id="queueAllCount">??</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box bg-yellow">
                            <span class="info-box-icon"><i class="fa fa-hourglass-half"></i></span>
                            <div class="info-box-content">
                                <div class="box-tools pull-right">
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" title="Show" id="btn-jobWaiting"><span style="color:white">เพิ่มเติม</span><i class="fa fa-angle-left" id="icon-btn-jobWaiting" style="color:white;margin-left:5px"></i></button>
                                    </div>
                                </div>
                                <span class="info-box-text">รอปิดคิวงาน</span>
                                <span class="info-box-number" id="queuePendingCount">??</span>
                            </div>
                        </div>
                        <div class="box-body box-btn-jobWaiting animate__animated animate__bounceInLeft" style="background-color:#FFE097" hidden>
                            @foreach (var item in ViewBag.CallStatus)
                            {
                                <div class="col-md=12" style="margin-bottom:5px">
                                    <span class="info-box-text text-bold col-md-11" id="@String.Format("CallStatus{0}",item.CallStatusId)">@item.CallStatusDetail</span>
                                    <span class="info-box-text label" id="@String.Format("CallStatusId{0}",item.CallStatusId)" style="background-color:white;color:black;cursor:pointer">??</span>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box bg-green">
                            <span class="info-box-icon"><i class="fa fa-check"></i></span>
                            <div class="info-box-content">
                                <div class="box-tools pull-right">
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" title="Show" id="btn-jobCompleted"><span style="color:white">เพิ่มเติม</span><i class="fa fa-angle-left" id="icon-btn-jobCompleted" style="color:white;margin-left:5px"></i></button>
                                    </div>
                                </div>
                                <span class="info-box-text">ปิดคิวงานสำเร็จ</span>
                                <span class="info-box-number" id="queueCompleteCount">??</span>
                            </div>
                        </div>
                        <div class="box-body box-btn-jobCompleted animate__animated animate__bounceInRight" style="background-color:#94CD9B" hidden>
                            <div class="col-md=12" style="margin-bottom:5px">
                                <span class="info-box-text text-bold col-md-11">ปิดคิวงานโดยไม่ได้ตรวจสอบ</span>
                                <span class="info-box-text label" id="queueStatusId2" style="background-color:white;color:black">??</span>
                            </div>
                            <div class="col-md=12" style="margin-bottom:5px">
                                <span class="info-box-text text-bold col-md-11">ปิดคิวงานโดยตรวจสอบแล้ว <button class="btn btn-box-tool" title="Show" id="btn-jobCompleted-queueStatusId3"><i class="fa fa-angle-left" id="icon-btn-jobCompleted-queueStatusId3" style="color:black;margin-left:5px"></i></button></span>
                                <span class="info-box-text label" id="queueStatusId3" style="background-color:white;color:black">??</span>
                            </div>
                        </div>
                        <div class="box-body box-btn-jobCompleted-queueStatusId3 animate__animated animate__bounceInRight" style="background-color:#94CD9B;margin-top:1px" hidden>
                            <div class="col-md=12" style="margin-bottom:5px">
                                <span class="info-box-text col-md-11">มีประเด็น</span>
                                <span class="info-box-text label" id="queueResultIsIssue1" style="background-color:white;color:black">??</span>
                            </div>
                            <div class="col-md=12" style="margin-bottom:5px">
                                <span class="info-box-text col-md-11">ไม่มีประเด็น </span>
                                <span class="info-box-text label" id="queueResultIsIssue0" style="background-color:white;color:black">??</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="box">
                <div class="box-body2" style="padding:10px">
                    <h5 class="text-bold">ผลิตภัณฑ์</h5>
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="info-box-custom">
                                <span class="box-tools"><i class="fa fa-plus" style="font-size: 30px; padding: 10px; color:#40A6D8"></i></span>
                                <div class="box-body">
                                    <span class="info-box-text" style="text-align:center">ประกันสุขภาพ</span>
                                    <span class="info-box-number" id="PHQueueCount" style="text-align: center; color: #40A6D8">??</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="info-box-custom">
                                <span class="box-tools">
                                    <i class="material-icons" style="font-size: 30px; color: #40A6D8;padding:10px">
                                        savings
                                    </i>
                                </span>
                                <div class="box-body">
                                    <span class="info-box-text" style="text-align:center">ประกันชีวิตออมทรัพย์</span>
                                    <span class="info-box-number" id="PLQueueCount" style="text-align: center; color: #40A6D8">??</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="info-box-custom">
                                <span class="box-tools"><i class="fa fa-stethoscope" style="font-size: 30px; padding: 10px; color:#40A6D8"></i></span>
                                <div class="box-body">
                                    <span class="info-box-text" style="text-align:center">ประกัน 50 โรคร้ายแรง</span>
                                    <span class="info-box-number" id="CIQueueCount" style="text-align: center; color: #40A6D8">??</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section ViewSpecificJavascript
    {
    <script type="text/javascript">
        $(function () {
            //todo
            $('#datepicker').datepicker({
                autoclose: true,
                todayHighlight: true,
                minViewMode: "months",
                format: "dd/mm/yyyy",
            }).on('changeDate', function (ev) {
                let data = new Date(ev.date).toLocaleDateString();
                GetManagerQC(data)
            });

            //disable hand key
            $("#datepicker").keypress(function (e) {
                return false;
            });

        });//end load

        //toggle ปิดคิวงานสำเร็จ
        $("#btn-jobCompleted").click(() => {
            $(".box-btn-jobCompleted").toggle(200, () => {
                if ($('#icon-btn-jobCompleted').hasClass('fa-angle-left')) {
                    $('#icon-btn-jobCompleted').removeClass('fa-angle-left')
                    $('#icon-btn-jobCompleted').addClass('fa-angle-down')
                } else {
                    $('#icon-btn-jobCompleted').removeClass('fa-angle-down')
                    $('#icon-btn-jobCompleted').addClass('fa-angle-left')
                };
            });

            //เช็ค box-btn-jobCompleted-queueStatusId3 show อยู่ หรือเปล่า ถ้า show อยู่ ก็ให้เปิดไปด้วย
            if (!$(".box-btn-jobCompleted-queueStatusId3").is(":hidden")) {
                $(".box-btn-jobCompleted-queueStatusId3").toggle(200, () => {
                    $('#icon-btn-jobCompleted-queueStatusId3').removeClass('fa-angle-down')
                    $('#icon-btn-jobCompleted-queueStatusId3').addClass('fa-angle-left')
                })
            }
        });

        //toggle ปิดคิวงานโดยตรวจสอบแล้ว
        $("#btn-jobCompleted-queueStatusId3").click(() => {
            $(".box-btn-jobCompleted-queueStatusId3").toggle(200, () => {
                if ($('#icon-btn-jobCompleted-queueStatusId3').hasClass('fa-angle-left')) {
                    $('#icon-btn-jobCompleted-queueStatusId3').removeClass('fa-angle-left')
                    $('#icon-btn-jobCompleted-queueStatusId3').addClass('fa-angle-down')
                } else {
                    $('#icon-btn-jobCompleted-queueStatusId3').removeClass('fa-angle-down')
                    $('#icon-btn-jobCompleted-queueStatusId3').addClass('fa-angle-left')
                };
            });
        });

        //toggle รอปิดคิวงาน
        $("#btn-jobWaiting").click(() => {
            $(".box-btn-jobWaiting").toggle(200, () => {
                if ($('#icon-btn-jobWaiting').hasClass('fa-angle-left')) {
                    $('#icon-btn-jobWaiting').removeClass('fa-angle-left')
                    $('#icon-btn-jobWaiting').addClass('fa-angle-down')
                } else {
                    $('#icon-btn-jobWaiting').removeClass('fa-angle-down')
                    $('#icon-btn-jobWaiting').addClass('fa-angle-left')
                };

            });
        });

        const GetManagerQC = (dataPeriod) => {
            $.get('@Url.Action("GetManagerQC")', { period: dataPeriod },
                (data) => {
                    console.log(data)
                    $("#queueAllCount").text(data.pvQueueStatusCount.QueueAllCount); //คิวงานทั้งหมด
                    $("#queuePendingCount").text(data.pvQueueStatusCount.QueuePendingCount); //รอปิดคิวงาน
                    $("#queueCompleteCount").text(data.pvQueueStatusCount.QueueCompleteCount); //ปิดคิวงานสำเร็จ

                    //set val callCallStatus
                    $("#CallStatusId2").text(data.pvQueueStatusCount.CallStatusId2) //รอดำเนินการ
                    $("#CallStatusId3").text(data.pvQueueStatusCount.CallStatusId3) //ติดต่อไม่ได้
                    $("#CallStatusId4").text(data.pvQueueStatusCount.CallStatusId4) //ไม่รับสาย
                    $("#CallStatusId5").text(data.pvQueueStatusCount.CallStatusId5) //เบอร์ผิด
                    $("#CallStatusId6").text(data.pvQueueStatusCount.CallStatusId6) //ไม่สะดวก
                    $("#CallStatusId7").text(data.pvQueueStatusCount.CallStatusId7) //โทรแล้ว

                    //set val ปิดคิวงานโดยไม่ได้ตรวจสอบ,ปิดคิวงานโดยตรวจสอบแล้ว
                    $("#queueStatusId2").text(data.pvQueueStatusCount.QueueStatusId2)//ปิดคิวงานโดยตรวจสอบแล้ว
                    $("#queueStatusId3").text(data.pvQueueStatusCount.QueueStatusId3)//ปิดคิวงานโดยไม่ได้ตรวจสอบ

                    //set val มีประเด็นหรือไม่
                    $("#queueResultIsIssue1").text(data.pvQueueStatusCount.QueueResultIsIssue1)//มีประเด็น
                    $("#queueResultIsIssue0").text(data.pvQueueStatusCount.QueueResultIsIssue0)//ไม่มีประเด็น

                    //set val ผลิตภัณฑ์
                    $("#PHQueueCount").text(data.pvProductGroupQueueCount.PHQueueCount)//สุขภาพ
                    $("#PLQueueCount").text(data.pvProductGroupQueueCount.PLQueueCount)//ประกันชีวิตออมทรัพย์
                    $("#CIQueueCount").text(data.pvProductGroupQueueCount.CIQueueCount)//ประกัน 50 โรคร้ายแรง
                    return '';
                });
        };

        //onClick span call status
        //รอดำเนินการ
        $("#CallStatusId2").click(() => {
            setTimeout(() => window.open(`@Url.Action("WaitCloseQueue", "QueueManageAssign", new { callStatusId = 2 })`),500);
        })
        //ติดต่อไม่ได้
        $("#CallStatusId3").click(() => {
            setTimeout(() => window.open(`@Url.Action("WaitCloseQueue", "QueueManageAssign", new { callStatusId = 3 })`),500);
        })
        //ไม่รับสาย
        $("#CallStatusId4").click(() => {
            setTimeout(() => window.open(`@Url.Action("WaitCloseQueue", "QueueManageAssign", new { callStatusId = 4 })`),500);
        })
        //เบอร์ผิด
        $("#CallStatusId5").click(() => {
            setTimeout(() => window.open(`@Url.Action("WaitCloseQueue", "QueueManageAssign", new { callStatusId = 5 })`),500);
        })
        //ไม่สะดวก
        $("#CallStatusId6").click(() => {
            setTimeout(() => window.open(`@Url.Action("WaitCloseQueue", "QueueManageAssign", new { callStatusId = 6 })`),500);
        })
        //โทรแล้ว
        $("#CallStatusId7").click(() => {
            setTimeout(() => window.open(`@Url.Action("WaitCloseQueue", "QueueManageAssign", new { callStatusId = 7 })`),500);
        })
    </script>
}