@{
    ViewBag.Title = "" + ViewBag.QueueTypeDetail;
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "" + "(สร้างเมื่อวันที่ " + @ViewBag.QueueCreated + ")";
    ViewBag.Header = "รายละเอียด";
}

<div class="row">
    @{
        Html.RenderPartial("_ApplicationDetail");
    }
    <div id="UnderwriteHistory_form" class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">ประวัติคัดกรอง</h4>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <table id="tblUnderwriteHistory" class="table table-bordered table-striped"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* สถานะการโทร *@
    <div id="ContactDetail_form" class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">สถานะการโทร</h4>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            @{
                int callOptionId = -1;
                if (ViewBag.CallDetail != null) { callOptionId = (int)ViewBag.CallDetail.CallStatusId; }
            }
            <div class="box-body">
                <div class="form-group row">
                    <div class="radio col-sm-offset-2">
                        <label>
                            <input type="radio" id="radio_call1" name="radio_call" value="option1" @if (callOptionId == 2) { <text> checked="checked" </text> }>
                            รับสาย &emsp; &emsp; ชื่อสกุลผู้รับสาย <input type="text" id="txtRecieverName" name="txtRecieverName" @if (callOptionId == 2) { <text> value="@ViewBag.CallDetail.ContactName" </text> } />
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="radio col-sm-offset-2">
                        <label>
                            <input type="radio" id="radio_call2" name="radio_call" value="option2" @if (callOptionId == 3) { <text> checked="checked" </text> }>
                            ไม่รับสาย
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="radio col-sm-offset-2">
                        <label>
                            <input type="radio" id="radio_call3" name="radio_call" value="option3" @if (callOptionId == 4) { <text> checked="checked" </text> }>
                            ไม่สามารถติดต่อได้
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="radio col-sm-offset-2">
                        <label>
                            <input type="radio" id="radio_call4" name="radio_call" value="option4">
                            อื่นๆ &emsp; <input type="text" id="txtEtc" name="txtEtc" />
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* คำถามคัดกรอง *@
    <div id="PAQuestion_form" class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">คำถามคัดกรอง</h4>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group row">
                    <div class="checkbox col-sm-offset-2">
                        <label>
                            <input type="checkbox" id="chk_option1" name="chk_option1"
                                   @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A2) { <text> checked="checked" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.A12) { <text> checked="checked" </text> }>
                            ทำประกันกับบริษัทอื่น &emsp; บริษัท
                        </label>
                        <select id="select_InsuranceCo" name="select_InsuranceCo">
                            @foreach (var itm in ViewBag.OtherInsurance)
                            {
                                <option value="@itm.InsuranceId" @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A3 == itm.InsuranceId.ToString()) { <text> selected="selected" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.A13 == itm.InsuranceId.ToString()) { <text> selected="selected" </text> }>
                                    @itm.Insurance
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="checkbox col-sm-offset-2">
                        <label>
                            <input type="checkbox" id="chk_option2" name="chk_option2"
                                   @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A4) { <text> checked="checked" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.A14) { <text> checked="checked" </text> }>
                            ทางโรงเรียนไม่ประสงค์ทำประกัน เนื่องจาก &emsp;
                        </label>
                        <input type="text" id="txtCause" name="txtCause"
                               @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A4) { <text> value="@ViewBag.ResultQ2.A5" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.A14) { <text> value="@ViewBag.ResultQ3.A15" </text> } />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="checkbox col-sm-offset-2">
                        <label>
                            <input type="checkbox" id="chk_option3" name="chk_option3"
                                   @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A6) { <text> checked="checked" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.A16) { <text> checked="checked" </text> }>
                            โรงเรียนยุบรวมกับโรงเรียนอื่น
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="checkbox col-sm-offset-2">
                        <label>
                            <input type="checkbox" id="chk_option4" name="chk_option4"
                                   @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A7) { <text> checked="checked" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.A17) { <text> checked="checked" </text> }>
                            ไม่มีเจ้าหน้าที่เข้ามาจัดเก็บเบี้ยประกันภัย
                        </label>
                    </div>
                </div>
                <div class="form-group row" id="group_Paydate">
                    <div class="checkbox col-sm-offset-2">
                        <label class="col-sm-4" for="DatePayment">
                            <input type="checkbox" id="chk_option5" name="chk_option5"
                                   @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A8) { <text> checked="checked" </text> }>
                            นัดหมายกับเจ้าหน้าที่แล้ว จะชำระเบี้ยวันที่
                        </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control pull-right datepicker" name="DatePayment" id="DatePayment"
                                   data-provide="datepicker" data-date-language="th-th" placeholder="dd/mm/yyyy"
                                   @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A8) { <text> value="@ViewBag.DatePayment" </text> }>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="checkbox col-sm-offset-2">
                        <label class="col-sm-2">
                            <input type="checkbox" id="chk_option6" name="chk_option6"
                                   @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A10) { <text> checked="checked" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.A18) { <text> checked="checked" </text> }>
                            สาเหตุอื่น &emsp;
                        </label>
                        <div class="col-sm-5">
                            <input type="text" id="txtAnotherCause" name="txtAnotherCause" style="width: 100%"
                                   @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.A10) { <text> value="@ViewBag.ResultQ2.A11" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.A18) { <text> value="@ViewBag.ResultQ3.A19" </text> } />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* คำถามคัดกรอง(มีการชำระเบี้ยเข้ามา) *@
    <div id="PAQuestion2_form" class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">คำถามคัดกรอง</h4>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group row">
                    <div class="checkbox col-sm-offset-2">
                        <label>
                            <input type="checkbox" id="chk_option2_1" name="chk_option2_1"
                                   @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A20) { <text> checked="checked" </text> }>
                            ถูกต้องตามชุดนำส่งเบี้ย
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="checkbox col-sm-offset-2">
                        <label>
                            <input type="checkbox" id="chk_option2_2" name="chk_option2_2"
                                   @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A21) { <text> checked="checked" </text> }>
                            ไม่ถูกต้องตามชุดนำส่งเบี้ย รายละเอียดดังนี้
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="checkbox col-sm-offset-3">
                        <label>
                            <input type="checkbox" id="chk_option2_2_1" name="chk_option2_2_1"
                                   @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A22) { <text> checked="checked" </text> }>
                            จำนวนผู้ทำประกัน/คน รายละเอียดที่ไม่ตรง &emsp;
                        </label>
                        <input type="number" id="txtPersonUnequal" name="txtPersonUnequal"
                               @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A22) { <text> value="@ViewBag.ResultQ4.A23" </text> } />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="checkbox col-sm-offset-3">
                        <label>
                            <input type="checkbox" id="chk_option2_2_2" name="chk_option2_2_1"
                                   @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A24) { <text> checked="checked" </text> }>
                            ส่วนลด รายละเอียดที่ไม่ตรง &emsp;
                        </label>
                        <input type="number" id="txtDiscountUnequal" name="txtDiscountUnequal"
                               @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A24) { <text> value="@ViewBag.ResultQ4.A25" </text> } />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="checkbox col-sm-offset-3">
                        <label>
                            <input type="checkbox" id="chk_option2_2_3" name="chk_option2_2_1"
                                   @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A26) { <text> checked="checked" </text> }>
                            จำนวนเงินชำระเบี้ยประกันภัย รายละเอียดที่ไม่ตรง &emsp;
                        </label>
                        <input type="number" id="txtPaymentUnequal" name="txtPaymentUnequal"
                               @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A26) { <text> value="@ViewBag.ResultQ4.A27" </text> } />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="checkbox col-sm-offset-3">
                        <label>
                            <input type="checkbox" id="chk_option2_2_4" name="chk_option2_2_1"
                                   @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A28) { <text> checked="checked" </text> }>
                            อื่นๆ รายละเอียดที่ไม่ตรง &emsp;
                        </label>
                        <input type="text" id="txtEtcUnequal" name="txtEtcUnequal"
                               @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A28) { <text> value="@ViewBag.ResultQ4.A29" </text> } />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="checkbox col-sm-offset-2">
                        <label class="col-sm-4">
                            <input type="checkbox" id="chk_option2_3" name="chk_option2_3"
                                   @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A30) { <text> checked="checked" </text> }>
                            มีการชำระเงินแล้ว เมื่อวันที่
                        </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control pull-left datepicker" name="DatePayment2" id="DatePayment2"
                                   data-provide="datepicker" data-date-language="th-th" placeholder="dd/mm/yyyy"
                                   @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A30) { <text> value="@ViewBag.DatePayment2" </text> }>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="checkbox col-sm-offset-3">
                        <label>
                            ชื่อตัวแทน &emsp;
                        </label>
                        <input type="text" id="txtAgentName" name="txtAgentName"
                               @if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.A30) { <text> value="@ViewBag.ResultQ4.A32" </text> } />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* ผลการโทรคัดกรอง *@
    @*<div id="PACallResult_form" class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">ผลการโทรคัดกรอง</h4>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        <div class="radio col-sm-offset-2">
                            <label>
                                <input type="radio" id="radio_callResult1" name="radio_callResult" value="option1"
                                       @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.UnderwriteStatusId == 3) { <text> checked="checked" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.UnderwriteStatusId == 3) { <text> checked="checked" </text>  } else if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.UnderwriteStatusId == 4) { <text> checked="checked" </text> }>
                                รอการตรวจสอบ &emsp;จำนวนเงิน:
                            </label>
                            <input type="number" id="txtAmountCorrupt" name="txtAmountCorrupt"
                                   @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.UnderwriteStatusId == 3) { <text> value="@ViewBag.ResultQ2.CorruptAmount" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.UnderwriteStatusId == 3) { <text> value="@ViewBag.ResultQ3.CorruptAmount" </text>  } else if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.UnderwriteStatusId == 4) { <text> value="@ViewBag.ResultQ4.CorruptAmount" </text> } />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="radio col-sm-offset-2">
                            <label>
                                <input type="radio" id="radio_callResult2" name="radio_callResult" value="option2"
                                       @if (ViewBag.ResultQ2 != null && ViewBag.ResultQ2.UnderwriteStatusId == 2) { <text> checked="checked" </text>  } else if (ViewBag.ResultQ3 != null && ViewBag.ResultQ3.UnderwriteStatusId == 2) { <text> checked="checked" </text>  } else if (ViewBag.ResultQ4 != null && ViewBag.ResultQ4.UnderwriteStatusId == 2) { <text> checked="checked" </text> }>
                                ปกติ
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    @* หมายเหตุ //ผลการโทรคัดกรอง *@
    <form id="RemarkMain_Form" action="@Url.Action("Detail")" method="post">
        <div id="Remark_Form" class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">ผลการโทรคัดกรอง</h4>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-md-offset-1 col-md-2">
                            <label class="control-label">ผลการคัดกรอง :</label> &nbsp;
                            @if (ViewBag.UnderwriteStatusId == 2)
                            {
                                <label style="color:green">@ViewBag.UnderwriteStatus</label>
                            }
                            else if (ViewBag.UnderwriteStatusId == 4)
                            {
                                <label style="color:red">@ViewBag.UnderwriteStatus</label>
                            }
                            else
                            {
                                <label style="color:black">-</label>
                            }
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-offset-1 col-md-10">
                            <label class="control-label" for="txtRemark"><span style="color:red"></span>หมายเหตุ :</label>
                            @if (ViewBag.ResultQ2 != null)
                            {
                                var arrRemark = ViewBag.ResultQ2.Remark.Split('|');
                                <textarea id="txtRemark" name="txtRemark" class="form-control" rows="5" readonly="readonly" style="resize:none">
                                 @for (int i = 0; i < arrRemark.Length; i++)
                                    {<text>- </text>@arrRemark[i] <text>&#13;</text>
                                 }
                                </textarea>
                                <input type="hidden" name="hiddenRemark" value="@ViewBag.ResultQ2.Remark" />
                            }
                            else if (ViewBag.ResultQ3 != null)
                            {
                                var arrRemark = ViewBag.ResultQ3.Remark.Split('|');
                                <textarea id="txtRemark" name="txtRemark" class="form-control" rows="5" readonly="readonly" style="resize:none">
                                    @for (int i = 0; i < arrRemark.Length; i++)
                                    {<text>- </text>@arrRemark[i] <text>&#13;</text>
                                    }
                                </textarea>
                                <input type="hidden" name="hiddenRemark" value="@ViewBag.ResultQ3.Remark" />
                            }
                            else if (ViewBag.ResultQ4 != null)
                            {
                                var arrRemark = ViewBag.ResultQ4.Remark.Split('|');
                                <textarea id="txtRemark" name="txtRemark" class="form-control" rows="5" readonly="readonly" style="resize:none">
                                 @for (int i = 0; i < arrRemark.Length; i++)
                                    {<text>- </text>@arrRemark[i] <text>&#13;</text>
                                 }
                                </textarea> <input type="hidden" name="hiddenRemark" value="@ViewBag.ResultQ4.Remark" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* ผลการตรวจสอบ//หมายเหตุเพิ่มเติม*@
        @*00000*@
        <div id="CheckResult_form" class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">หมายเหตุเพิ่มเติม</h4>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-md-offset-1 col-md-10">
                            <label class="control-label" for=""><span style="color:red">*</span>หมายเหตุ  <span style="color:#e08e0b">(กรณีแก้ไขเพิ่มเติม)</span></label>
                            <textarea id="txtRemarkCheck" name="txtRemarkCheck" class="form-control" rows="3" style="resize:none"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* อัพโหลดไฟล์ *@
        <div id="Uploadfile_form" class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">อัพโหลดไฟล์</h4>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-sm-offset-1 col-sm-2">
                            <a class="btn btn-block btn-warning" href="@ViewBag.ScanUrl" target="_blank" id="btnScanDoc">ScanDoc</a>
                        </div>
                        <div class=" col-sm-2">
                            <a class="btn btn-block btn-info" href="@ViewBag.OpenUrl" target="_blank" id="btnSeeDoc">จำนวนเอกสาร <span id="docCount">@ViewBag.DocCount</span></a>
                        </div>
                        <div class=" col-sm-2">
                            <button class="btn btn-block btn-default" type="button" id="btnRefreshDoc" onclick="RefreshDoc()">Refresh</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* footer *@
        <div class="box-footer col-md-12">
            <div class="form-group row">
                <div class="col-sm-offset-4 col-sm-2">
                    <button class="btn btn-block btn-success" type="button" id="btnSaveRemark">บันทึกการแก้ไข</button>
                </div>
                <div class="col-sm-offset-1 col-sm-2">
                    <button class="btn btn-block btn-danger" type="button" id="btnBackToMain">กลับหน้าเมนู</button>
                </div>
            </div>
        </div>
        <input type="hidden" id="hd_underwriteId" name="hd_underwriteId" value="@ViewBag.UnderwiteId" />
        <input type="hidden" id="hd_SchoolId" name="hd_SchoolId" value="@ViewBag.SchoolId" />
        <input type="hidden" id="hd_queueId" name="hd_queueId" value="@ViewBag.QueueId" />
    </form>
</div>

@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            HideForm(@ViewBag.QuestionId);
            ReadOnlyForm();
            GetUnderwriteHistory();

            //btn save remark
            $('#btnSaveRemark').on('click', function () {
                window.swal({
                    title: 'ต้องการบันทึกแก้ไขข้อมูลหมายเหตุใช่หรือไม่?',
                        type: 'info',
                        showCancelButton: true,
                        confirmButtonColor: '#277020',
                        confirmButtonText: 'ตกลง',
                        cancelButtonText: 'ยกเลิก',
                        closeOnConfirm: false,
                        closeOnEsc: false,
                        closeOnCancel: true
                        }, function (isConfirm) {
                        if (isConfirm) {
                            $('#RemarkMain_Form').submit();
                        }
                });
            });

            //btn action
            $('#btnBackToMain').on('click', function () {
                window.swal({
                        title: 'ต้องการกลับไปหน้าหลักใช่หรือไม่?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#277020',
                        confirmButtonText: 'ตกลง',
                        cancelButtonText: 'ยกเลิก',
                        closeOnConfirm: false,
                        closeOnEsc: false,
                        closeOnCancel: true
                        }, function (isConfirm) {
                        if (isConfirm) {
                            window.location = '@Url.Action("QueueCallIndex","QueueCall")';
                        }
                    });
            });
        });

        function RefreshDoc() {
            $.get('@Url.Action("RefreshDocCount")', { queueId: $('#hd_queueId').val() },
                (data) => {
                    $('#docCount').text(data);
                    return '';
                });
        }

        //set read only
        function ReadOnlyForm() {
            $('#ContactDetail_form *').prop('readonly', true);
            $('#PAQuestion_form *').prop('readonly', true);
            $('#PAQuestion2_form *').prop('readonly', true);
          //  $('#PACallResult_form *').prop('readonly', true);
            //$('#Remark_Form *').prop('readonly', true);
            $('#select_InsuranceCo').prop('disabled', true);
            $('input[type=radio]').prop('disabled', true);
            $('input[type=checkbox]').prop('disabled', true);
            $('#DatePayment').prop('disabled', true);
        }
        //hide form by queueTypeId
        function HideForm(questionId) {
            if (questionId == '2') {
                $('#PAQuestion2_form').hide();
                $('#PAQuestion2_form').prop('disable', true);
            } else if (questionId == '3') {
                $('#PAQuestion2_form').hide();
                $('#PAQuestion2_form').prop('disable', true);
                $('#group_Paydate').hide();
                $('#group_Paydate').prop('disable', true);
            } else if (questionId == '4') {
                $('#PAQuestion_form').hide();
                $('#PAQuestion_form').prop('disable', true);
            } else {
                window.location = '@Url.Action("Report","QueueCall")';
            }
        }

        function GetUnderwriteHistory() {
        $('#tblUnderwriteHistory').empty();
        var table = $('#tblUnderwriteHistory').DataTable({
                pageLength: 10,
                processing: true,
            serverSide: true,
                dom: "lfrti",
                destroy: true,
                ajax: {
                    url: '@Url.Action("UnderwriteHistory","PAUnderwriteCall")',
                    method:'POST',
                    data: function (d) {
                                d.pageSize = d.length;
                                d.pagestart = d.start;
                                d.sortField = d.columns[d.order[0].column].data;
                                d.orderType = d.order[0].dir;
                                d.search = d.search.value;
                                d.schoolId = $('#hd_SchoolId').val();
                    }
                },
                columns: [
                    { title: 'วันที่รับคิวงาน', data: 'AssignDate',
                        className: 'dt-center',
                        render: function (data) {
                            return moment(data).format('DD/MM/YYYY');
                        } },
                    { title:'เลขอ้างอิง', data:'ReferenceCode'},
                    { title:'ประเภทคิว', data:'QueueTypeDetail'},
                    { title: 'ผลการโทรคัดกรอง', data: 'UnderwriteStatusDetail' },
                    { title: 'สถานะคิวงาน', data: 'QueueStatus' },
                    { title: 'ผู้รับผิดชอบ', data: 'AssignToName' },
                    {  data: 'QueueId',
                        title: 'รายละเอียด',
                        render: function (data) {
                            return '<button type="button" class="btn btn-block btn-info" id="btnDetail_'+data+'" name="btnDetail_'+data+'" value="'+data+'" onclick="CallDetail('+data+')" >Detail</button>';
                        }
                    }
                ]
            });
        }
    </script>
}