@*@model dynamic*@

@{
    ViewBag.Title = "รายงานคัดกรอง";
    //Layout = "_Layout";
    ViewBag.Header = "รายงานคัดกรอง";
}

<form id="frm1" action="@Url.Action("ReportToExcel")" method="post" enctype="multipart/form-data">

    <div class="row">
        <div class="col-sm-12">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">ค้นหา</h3>
                </div>

                <div class="box-body">

                    @* ประเภทคิว *@
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label for="ddlQueueType" class="">ประเภทคิว</label>
                            <select class="form-control select2" name="ddlQueueType" id="ddlQueueType" style="width: 100%;" onchange="ddlQueueTypeOnChange()">
                                <option value="" selected disabled>---โปรดระบุ---</option>
                                <option value="-1" disabled>ทั้งหมด</option>
                                @foreach (var item in ViewBag.QueueTypes)
                                {
                                    <option value="@item.QueueTypeId">@item.QueueTypeDetail</option>
                                }
                            </select>
                        </div>
                        @* ปีการศึกษา *@

                        <div class="col-sm-4" id="div-ddlYear">
                            <label for="lblQueueGroup" class="control-label">ปีการศึกษา :</label>
                            <select class="form-control select2" name="ddlYear" id="ddlYear" style="width: 100%;">
                                @foreach (var item in ViewBag.PaYear)
                                {
                                    <option value="@item.Detail">@item.Detail</option>
                                }
                            </select>
                        </div>
                        <div class="clearfix visable-sm-block"></div>
                    </div>

                    @* วันที่ / ค้นหา *@
                    <div class="form-group">
                        @* วันที่ *@
                        <div class="col-sm-4">
                            <label>วันที่:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right datepicker" name="dtpDateFrom" id="dtpDateFrom" data-provide="datepicker" data-date-language="th-th" placeholder="dd/mm/yyyy" required="required">
                            </div>
                        </div>
                        @* ถึง *@
                        <div class="col-sm-4">
                            <label>ถึงวันที่:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right datepicker" name="dtpDateTo" id="dtpDateTo" data-provide="datepicker" data-date-language="th-th" placeholder="dd/mm/yyyy" required="required">
                            </div>
                        </div>
                        @* ค้นหา *@
                        <div class="col-sm-2" style="padding-top: 5px;">
                            <label></label>
                            <button type="button" class="btn btn-block btn-primary" id="btnSearch" name="btnSearch">ค้นหา</button>
                        </div>
                        @* Export *@

                        <div class="col-sm-2" style="padding-top: 5px;">
                            <label></label>
                            <button type="submit" class="btn btn-block btn-success" id="btnExport" name="btnExport">ExportToExcel</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">รายละเอียด</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">

                        <table id="dtReport" class="table table-bordered table-striped"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section ViewSpecificJavascript
{

    <script>

        $(function () {

             $('.select2').select2();

            var d1 = new Date();
            $('#dtpDateFrom').datepicker("update", new Date(d1.getFullYear(), 0, 2));
            $('#dtpDateTo').datepicker("update", new Date(d1.getFullYear(), 11, 32));

             $("#frm1").validate();

             $("#btnSearch").click(function (e) {

                 e.preventDefault();
                 //required ประเภทคีว
                 let ddlQueueType = $("#ddlQueueType").val();
                 if (ddlQueueType == "" || ddlQueueType == null) {
                     swal("กรุณาตรวจสอบข้อมูล", "โปรดระบุประเภทคิว", "warning")
                 } else {

                     if ($("#frm1").valid() == true) {

                     GetDatatableReport();
                     };
                 };
             });

            $("#btnExport").click(function (e) {
                let ddlQueueType = $("#ddlQueueType").val();
                if (ddlQueueType == "" || ddlQueueType == null) {
                     swal("กรุณาตรวจสอบข้อมูล", "โปรดระบุประเภทคิว", "warning")

                } else {

                    if ($("#frm1").valid() == true) {
                    //GetDatatableReport()
                    //GetReport();
                     @*$.post('@Url.Action("ReportToExcel")', { dFrom: $("#dtpDateFrom").val(), dTo: $("#dtpDateTo").val() })
                         .done(function (data) {
                             console.log("123456");
                         });*@
                    };
                };

            });

        });

        //onChange ประเภทคีวงาน
        const ddlQueueTypeOnChange = () => {
            let ddlQueueType = $("#ddlQueueType").val();
            //ประเภทคีวงาน เป็น โรงเรียนเก่าไม่ต่อสัญญา hidden ปีการศึกษา
            if (ddlQueueType == 3) {
                $('#div-ddlYear').attr('hidden', 'hidden');
            } else {
                $('#div-ddlYear').removeAttr('hidden', 'hidden');
            }
        }

        function GetReport() {
             @*$.ajax({
                url: '@Url.Action("ReportToExcel")',
                //method: 'POST',
                data: function (d) {
                    d.dFrom = $("#dtpDateFrom").val();
                    d.dTo = $("#dtpDateTo").val();
                }
            });*@

            $.post('@Url.Action("ReportToExcel")', { dFrom: $("#dtpDateFrom").val(), dTo: $("#dtpDateTo").val()})

            //r.done(function (dd) {
            //    console.log("Hooray, it worked!");
            //});
        }

        function GetDatatableReport() {
            let ddlYear = $('#ddlYear').val(); //ปีการศึกษา
            let ddlQueueType = $("#ddlQueueType").val(); //ประเภทคีว
             //ไม่ได้เลือก ประเภทคีว ไม่ยิง
            if (ddlQueueType != "" && ddlQueueType != null) {
                if (ddlQueueType == "3") {
                    ddlYear = "";
                };
                $('#dtReport').empty();
                var table = $('#dtReport').DataTable({
                    pageLength: 10,
                    processing: true,
                    serverSide: true,
                    responsive: true,
                    destroy: true,
                    ajax: {
                        url: '@Url.Action("GetDatatableReport")',
                        method: 'POST',
                        data: function (d) {
                            d.draw = d.draw;
                            d.pageSize = d.length;
                            d.pageStart = d.start;
                            d.sortField = d.columns[d.order[0].column].data;
                            d.orderType = d.order[0].dir;
                            d.search = d.search.value;
                            d.queueType = $("#ddlQueueType").val();
                            d.dFrom = $("#dtpDateFrom").val();
                            d.dTo = $("#dtpDateTo").val();
                            d.yearData = ddlYear;
                            d.statusCall = null;
                        }
                    },
                    columns: [

                        { title: 'AppID', data: 'ReferenceCode' },
                        { title: 'ชื่อโรงเรียน', data: 'Detail1' },
                        { title: 'ที่อยู่', data: 'Detail2' },
                        { title: 'ประเภทคิว', data: 'QueueTypeDetail' },
                        { title: 'ผู้รับผิดชอบ', data: 'AssignToName' },
                        { title: 'ผลการดำเนินการ', data: 'QueueStatus' },
                        { title: 'หมายเหตุ', data: 'UnderwriteRemark' }

                    ]
                });
            }
        }
    </script>

}