@{
    ViewBag.Title = "ข้อมูล";
}

<style>
    /*.nav-tabs-custom > .nav-tabs > li.active {
        border-top-color: #00c0ef;
    }*/

    .title1 {
        color: dimgray;
        font-weight: normal;
    }
</style>

<form id="myForm" class="form-inline" action="@Url.Action("CreateUser")" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-size:26px;">ข้อมูลบุคคล</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @*<form class="form-inline">*@
                <div class="box-body">
                    <div class="col-md-4" style="padding-left:0px;margin-bottom:15px;">
                        <button type="button" class="btn btn-success" id="button_searchPerson" data-toggle="modal" data-target="#modal-default" data-backdrop="static" data-keyboard="false">ค้นหา</button>
                    </div>
                    <div class="col-md-4 col-md-offset-4" style="padding-left:0px;margin-bottom:15px;text-align:right;">
                        <i id="button_addPerson" class="fa fa-user-plus fa-4x" style="color:green;cursor:pointer;"></i>
                    </div>
                    <div class="col-md-12">
                        <div id="personbox" class="box box-info" style="display:none;">
                            <!-- form start -->
                            <div class="box-body">
                                @*@if (@ViewBag.PersonDetail != null)
                                    {*@
                                <input id="personId" name="personId" type="hidden" value="" />

                                <div class="col-md-12" style="padding-left:0px;margin-bottom:15px;">
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">ชื่อ-นามสกุล :</label>

                                        <label id="personFirstName" class="control-label"></label>
                                        <label class="control-label"> </label>
                                        <label id="personLastName" class="control-label"></label>
                                    </div>
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">เพศ :</label>
                                        <label id="personSex" class="control-label"></label>
                                    </div>
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">สถานภาพ :</label>
                                        <label id="personMarital" class="control-label"></label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding-left:0px;margin-bottom:15px;">
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">เลขบัตรประชาชน :</label>
                                        <label id="personIdCard" class="control-label"></label>
                                    </div>
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">Passport :</label>
                                        <label id="personPassport" class="control-label"></label>
                                    </div>
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">วันเกิด :</label>
                                        <label id="personBirthDate" class="control-label"></label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding-left:0px;margin-bottom:15px;">
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">ที่อยู่ :</label>
                                        <label id="personAddr" class="control-label"></label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding-left:0px;margin-bottom:15px;">
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">ประเภทอาชีพ :</label>
                                        <label id="personOccupation" class="control-label"></label>
                                    </div>
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">ระดับอาชีพ :</label>
                                        <label id="personOccupationLevel" class="control-label"></label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding-left:0px;margin-bottom:15px;">
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">ข้อมูลองค์กร :</label>
                                        <label id="personOrganize" class="control-label"></label>
                                    </div>
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">เลขประจำตัวผู้เสียภาษี :</label>
                                        <label id="personTaxNo" class="control-label"></label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding-left:0px;margin-bottom:15px;">
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">เบอร์โทรศัพท์ :</label>
                                        <label id="personMobile" class="control-label"></label>
                                    </div>
                                </div>
                                @*}*@
                            </div>

                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                @*</form>*@
                <!-- /.box-body -->
                @*<div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-size:26px;">ข้อมูลพนักงาน</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @*<form class="form-inline">*@
                <div class="box-body">
                    <div class="col-md-4" style="padding-left:0px;margin-bottom:15px;">
                        <button type="button" class="btn btn-success" id="button_searchEmployee" data-toggle="modal" data-target="#modal-default" data-backdrop="static" data-keyboard="false">ค้นหา</button>
                    </div>
                    <div class="clearfix">
                    </div>
                    <div class="col-md-12">
                        <div id="empbox" class="box box-info" style="display:none;">
                            <!-- form start -->
                            <div class="box-body">
                                @*@if (@ViewBag.EmployeeDetail != null)
                                    {*@
                                <input id="employeeCode" name="employeeCode" type="hidden" value="" />
                                <input id="employeeId" name="employeeId" type="hidden" value="" />

                                <div class="col-md-12" style="padding-left:0px;margin-bottom:15px;">
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">รหัสพนักงาน :</label>
                                        <label id="empCode" class="control-label"></label>
                                    </div>
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">ชื่อ-นามสกุล :</label>
                                        <label id="empFirstName" class="control-label"></label>
                                        <label class="control-label"> </label>
                                        <label id="empLastName" class="control-label"></label>
                                    </div>
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">ชื่อเล่น :</label>
                                        <label id="empNickName" class="control-label"></label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding-left:0px;margin-bottom:15px;">
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">สาขา :</label>
                                        <label id="empBranch" class="control-label"></label>
                                    </div>
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">ทีม :</label>
                                        <label id="empTeam" class="control-label"></label>
                                    </div>
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">สถานะ :</label>
                                        <label id="empStatus" class="control-label"></label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding-left:0px;margin-bottom:15px;">
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">ที่อยู่ :</label>
                                        <label id="empAddr" class="control-label"></label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding-left:0px;margin-bottom:15px;">
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">เวลาทำการ :</label>
                                        <label class="control-label">วันจันทร์ - ศุกร์  08.00-17.00 น.</label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding-left:0px;margin-bottom:15px;">
                                    <div class="form-group" style="margin-right:10px;">
                                        <label class="control-label title1" for="" style="margin-right:10px;">เบอร์โทรศัพท์ :</label>
                                        <label id="empMobile" class="control-label"></label>
                                    </div>
                                </div> 

                                @*}*@
                            </div>

                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                @*<div class="box-footer" style="text-align:right;">
                        <button type="submit" class="btn btn-success">ตกลง</button>
                    </div>*@
                @*</form>*@
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="loginbox" class="box box-solid box-primary" style="display:none">
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-size:26px;">การให้สิทธิ์</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @*<form class="form-inline">*@
                <div class="box-body">
                    <div class="col-md-12">

                        <!-- form start -->
                        <!-- Custom Tabs -->
                        <div class="nav-tabs-custom" style="">
                            <ul class="nav nav-tabs">
                                <li class="active"><a id="a_tab1" href="#tab_1" data-toggle="tab">Login</a></li>
                                <li><a id="a_tab2" href="#tab_2" data-toggle="tab">สิทธื์การใช้งาน</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label" for="" style="display:block;">รหัสผู้ใช้งาน :</label>
                                                <input id="username" name="username" type="text" placeholder="" class="form-control" style="display:block;" required="required">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label" for="" style="display:block;">รหัสผ่าน :</label>
                                                <input id="password" name="password" type="text" placeholder="" class="form-control" style="display:block;" required="required">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2">
                                    <div class="row">
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.box-body -->
                @*<div class="box-footer" style="text-align:right;">
                        <button type="submit" class="btn btn-success">ตกลง</button>
                    </div>*@
                @*</form>*@
                <!-- /.box-body -->
                <div class="box-footer" style="text-align:right;">
                    <button type="submit" id="button_submit" class="btn btn-success">ยืนยัน</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="modal-default" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>*@
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <table id="datatable1" class="table table-bordered table-striped "></table>
            </div>
            <div class="modal-footer">
                <button type="button" id="button_closeModal" class="btn btn-default pull-left" data-dismiss="modal">ปิด</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section ViewSpecificJavascript
{
    <script>
        $(function () {

            $('#loginbox').hide();

            $('#button_addPerson').click(function () {
                window.open('@Url.Action("AddPerson")','_blank');
            });

            $('#button_searchPerson').click(function () {
                GetPerson();
            });

            $('#button_searchEmployee').click(function () {
                GetEmployee();
            });

            $('input[name="role[]"]').click(function () {
                $('#errorChkBox').hide();
            });

            $('#a_tab1').click(function () {
                $('#button_submit').show();
            })

            $('#a_tab2').click(function () {
                $('#button_submit').hide();
            })

            $('#button_closeModal').click(function () {
                if ($('#personId').val() != "" && $('#employeeId').val() != "") {
                    $('#loginbox').fadeIn();
                } else {
                    $('#loginbox').fadeOut();
                }
            });

            $('#myForm').submit(function(e) {
                e.preventDefault();
                if ($("#myForm").valid() == true) {
                        var dataObj = $('#myForm').serialize();
                        window.swal({
                            title: 'ต้องการบันทึกข้อมูลหรือไม่?',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#277020',
                            confirmButtonText: 'ตกลง',
                            cancelButtonText: 'ยกเลิก',
                            closeOnConfirm: false,
                            closeOnEsc: false,
                            closeOnCancel: true,
                            showLoaderOnConfirm: true
                        },function() {
                            $.ajax({
                                type: "POST",
                                url: $('#myForm').attr('action'),
                                data: dataObj,
                                success: function (response) {
                                    debugger
                                    if (response.Succeeded != false) {
                                        window.swal({
                                            title: 'ดำเนินการเรียบร้อย!',
                                            type: 'success',
                                            showCancelButton: false,
                                            confirmButtonColor: '#26A65B',
                                            confirmButtonText: 'ตกลง',
                                            closeOnEsc: false
                                        },function() {
                                            window.location = "@Url.Action("Index","Person")";
                                        });
                                    } else {
                                        window.swal({
                                            title: 'เกิดข้อผิดพลาด!',
                                            type: 'error',
                                            text:'รหัสผู้ใช้งานนี้ถูกใช้แล้ว กรุณาเปลี่ยนใหม่ ',
                                            showCancelButton: false,
                                            confirmButtonColor: '#ed2b09',
                                            confirmButtonText: 'ตกลง',
                                            closeOnEsc: false
                                        });
                                    }
                                }
                            });
                        });

                }

                //document.body.scrollTop = 0; // For Chrome, Safari and Opera
                //document.documentElement.scrollTop = 0; // For IE and Firefox
            });

        });

        function GetPerson() {
            $('#datatable1').empty();

            $('.modal-title').text('บุคคล');

            $('#datatable1').DataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                searching: true,
                lengthChange: false,
                responsive: true,
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetDataTablePerson")',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.pageStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;
                    }
                },
                columns: [
                    {
                        title: '',
                        data: null,
                        bSortable: false,
                        className: 'dt-center',
                        mRender: function (o) {
                            return '<a onclick="setPersonData(\'' + o.PersonId + '\')" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"></i></a>';
                        }
                    },
                    {
                        title: 'ประเภทบัตร', data: 'PersonCardType'
                    },
                    {
                        title: 'ข้อมูลบัตร', data: 'PersonCard'
                    },
                    {
                        title: 'ชื่อ-นามสกุล', data: 'FullName'
                    },
                    {
                        title: 'ประเภทอาชีพ', data: 'Occupation'
                    },
                    {
                        title: 'ระดับอาชีพ', data: 'OccupationLevel'
                    }
                ],
                language: {
                        url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Thai.json"
                }
            });

        }

        function setPersonData(id) {
            //window.location = "@Url.Action("Index", "Person")?personId=" + id + "&employeeCode=" + getUrlVars()["employeeCode"];

            $('#personbox').css('display', '');

            $('#personId').val(id);

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetPersonDetail")?personId=" + id,
                async: false,
                success: function (response) {

                    var fistName = (response.FirstName !== null) ? response.FirstName : '-';
                    var lastName = (response.LastName !== null) ? response.LastName : '-';
                    var sexDetail = (response.SexDetail !== null) ? response.SexDetail : '-';
                    var maritalStatus = (response.MaritalStatusDetail !== null) ? response.MaritalStatusDetail : '-';
                    var IdCard = (response.IDCard !== null) ? response.IDCard : '-';
                    var passport = (response.Passport !== null) ? response.Passport : '-';
                    var birthDate = (response.BirthDate !== null) ? response.BirthDate : '-';
                    var addr = (response.IDCardAddressFullDetail !== null) ? response.IDCardAddressFullDetail : '-';
                    var occupation = (response.OccupationDetail !== null) ? response.OccupationDetail : '-';
                    var occupationLevel = (response.OccupationLevelDetail !== null) ? response.OccupationLevelDetail : '-';
                    var organize = (response.Organize !== null) ? response.Organize : '-';
                    var taxNo = (response.IDCard !== null) ? response.IDCard : '-';
                    var mobile = (response.Mobile !== '') ? response.Mobile : '-';

                    $('#personFirstName').text(fistName);
                    $('#personLastName').text(lastName);
                    $('#personSex').text(sexDetail);
                    $('#personMarital').text(maritalStatus);
                    $('#personIdCard').text(IdCard);
                    $('#personPassport').text(passport);
                    $('#personBirthDate').text(DisplayJsonDateBE(birthDate));
                    $('#personAddr').text(addr);
                    $('#personOccupation').text(occupation);
                    $('#personOccupationLevel').text(occupationLevel);
                    $('#personOrganize').text(organize);
                    $('#personTaxNo').text(taxNo);
                    $('#personMobile').text(mobile);

                    //$('#personFirstName').text(response.FirstName);
                    //$('#personLastName').text(response.LastName);
                    //$('#personSex').text(response.SexDetail);
                    //$('#personMarital').text(response.MaritalStatusDetail);
                    //$('#personIdCard').text(response.IDCard);
                    //$('#personPassport').text(response.Passport);
                    //$('#personBirthDate').text(DisplayJsonDateBE(response.BirthDate));
                    //$('#personAddr').text(response.IDCardAddressFullDetail);
                    //$('#personOccupation').text(response.OccupationDetail);
                    //$('#personOccupationLevel').text(response.OccupationLevelDetail);
                    //$('#personOrganize').text(response.Organize);
                    //$('#personTaxNo').text(response.IDCard);
                    //$('#personMobile').text(response.Mobile);
                }
            });

            if ($('#personId').val() != "" && $('#employeeId').val() != "") {
                $('#loginbox').fadeIn();
            } else {
                $('#loginbox').fadeOut();
            }
        }

        function GetEmployee() {
            $('#datatable1').empty();

            $('.modal-title').text('พนักงาน');

            $('#datatable1').DataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                searching: true,
                lengthChange: false,
                responsive: true,
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetDataTableEmployee")',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.pageStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;
                    }
                },
                columns: [
                    {
                        title: '',
                        data: null,
                        bSortable: false,
                        className: 'dt-center',
                        mRender: function (o) {
                            return '<a onclick="setEmployeeData(\'' + o.EmployeeCode + '\',\'' + o.Employee_ID +'\')" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"></i></a>';
                        }
                    },
                    {
                        title: 'รหัสพนักงาน', data: 'EmployeeCode'
                    },
                    {
                        title: 'ชื่อ-นามสกุล', data: 'FullName'
                    },
                    {
                        title: 'สาขา', data: 'BranchDetail'
                    },
                    {
                        title: 'เบอร์ติดต่อ', data: 'Mobile'
                    },
                    {
                        title: 'สถานะ', data: 'EmployeeStatusDetail'
                    }
                ],
                language: {
                        url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Thai.json"
                }
            });

        }

        function setEmployeeData(code,id) {
            //window.location = "@Url.Action("Index", "Person")?personId=" + getUrlVars()["personId"] + "&employeeCode=" + code;

            $('#empbox').css('display', '');

            $('#employeeCode').val(code);

            $('#employeeId').val(id);

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetEmployeeDetail")?empCode=" + code,
                async: false,
                success: function (response) {

                    var empCode = (response.EmployeeCode !== null) ? response.EmployeeCode : '-';
                    var fistName = (response.FirstName !== null) ? response.FirstName : '-';
                    var lastName = (response.LastName !== null) ? response.LastName : '-';
                    var nickName = (response.NickName !== null) ? response.NickName : '-';
                    var branch = (response.BranchDetail !== null) ? response.BranchDetail : '-';
                    var team = (response.EmployeeTeamDetail !== null) ? response.EmployeeTeamDetail : '-';
                    var status = (response.EmployeeStatusDetail !== null) ? response.EmployeeStatusDetail : '-';
                    var addr = (response.WorkAddressFullDetail !== null) ? response.WorkAddressFullDetail : '-';
                    var mobile = (response.Mobile !== '') ? response.Mobile : '-';


                    $('#empCode').text(empCode);
                    $('#empFirstName').text(fistName);
                    $('#empLastName').text(lastName);
                    $('#empNickName').text(nickName);
                    $('#empBranch').text(branch);
                    $('#empTeam').text(team);
                    $('#empStatus').text(status);
                    $('#empAddr').text(addr);
                    $('#empMobile').text(mobile);

                    //$('#empCode').text(response.EmployeeCode);
                    //$('#empFirstName').text(response.FirstName);
                    //$('#empLastName').text(response.LastName);
                    //$('#empNickName').text(response.NickName);
                    //$('#empBranch').text(response.BranchDetail);
                    //$('#empTeam').text(response.EmployeeTeamDetail);
                    //$('#empStatus').text(response.EmployeeStatusDetail);
                    //$('#empAddr').text(response.WorkAddressFullDetail);
                    //$('#empMobile').text(response.Mobile);
                }
            });

            if ($('#personId').val() != "" && $('#employeeId').val() != "") {
                $('#loginbox').fadeIn();
            } else {
                $('#loginbox').fadeOut();
            }

            getRoles();
        }

        function getRoles() {

            $('#tab_2 > .row').empty();

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetRoles", "Person")",
                async: false,
                success: function (response) {
                    for (var i = 0; i < response.length; i++) {

                        $('#tab_2 > .row').append(
                                '<div class="col-md-2">' +
                                '<div class="form-group">' +
                                '<div class="checkbox" style="display:block;">' +
                                '<label>' +
                                '<input type="checkbox" name="chk_'+ response[i].Id +'" value="' + response[i].Id + '">' +
                                response[i].Name +
                                '</label>' +
                                '</div>' +
                                '</div>' +
                                '</div>'
                            );

                        $('input:checkbox').iCheck({
                                checkboxClass: 'icheckbox_minimal-blue',
                                radioClass: 'iradio_minimal-blue'
                            });
                    }
                }
            });
        }

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
    </script>
}