@{
    ViewBag.Title = "DateAndTime";
}

<h2>DateAndTime</h2>

<!-- form start -->
<form class="form-horizontal" id="form1" action="@Url.Action("DateAndTime")" method="post" enctype="multipart/form-data">
    <div class="box-body col-md-4">
        <div class="form-group col-md-6">
            <label class="title1">วันที่เข้ารักษา :</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input id="date_in" name="date_in" class="form form-control datepicker" data-provide="datepicker" data-date-language="th-th" required="required" value="@ViewBag.InputDate.ToString("dd/MM/yyyy")" />
            </div>
        </div>

        <div class="form-group col-md-6">
            <label>เวลา:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                </div>
                <input id="time_in" name="time_in" type="text" class="form-control timepicker" value="@ViewBag.InputDate.ToString("HH:mm:ss")">
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <button type="submit" class="col-sm-offset-2 btn btn-primary"><i class="fa fa-floppy-o"></i> Submit</button>
        <a href="@Url.Action("Index")" class="btn btn-danger"><i class="fa fa-times"></i> Cancel</a>
    </div>
    <!-- /.box-footer -->
</form>
@section ViewSpecificJavascript{
    <script>
        $(function () {
            debugger;

            //initialize if no value from ViewBag
            var strDate = '@ViewBag.InputDate';
            if (strDate == '') {
                $('#date_in').datepicker("setDate", new Date());
                $('.timepicker').timepicker({ defaulttime: 'current' });
            }
        });
    </script>
}