@using System.Web.Optimization
@using WebHelpers.Mvc5.Enum
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @*@if (!string.IsNullOrWhiteSpace(ViewBag.Title))
            {
                @ViewBag.Title@: -
            }*@
        Tax
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @Styles.Render("~/Bundles/css")
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>

        .bg {
            /* The image used */
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
       
    </style>
</head>
<body class="hold-transition bg" background="~/Content/img/messageImage_1643598206219.jpeg" >
    <div class="wrapper">

        <div class="content">
            <section class="content-header">
                <h1>
                    @*@ViewBag.Title
                        <small>@ViewBag.Description</small>*@
                </h1>

                <div style="text-align:center">
                    <img src="~/Content/img/ssm_logo.png" width="200" height="200" class="responsive" />
                </div>
            </section>

            <section class="content">
                @RenderBody()
            </section>
        </div>

    </div>

    @*-----------footer-------------*@
    <div class="siamsmile-footer" style="padding: 15px; background-color: #1eaaeb; color: white; box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 10px -10px inset;">
        <div class="pull-left" style="margin-top:2.5px;">
            <strong style="font-size:20px;"> Call Center โทร 1434</strong>
        </div>
        
        <div class="pull-right">
            <a class="btn btn-social-icon btn-facebook" style="border-radius:50%"  target="_blank" href="https://www.facebook.com/siamsmilebroker/" ><i class="fa fa-facebook"></i></a>
            <a class="btn btn-social-icon" style="border-radius:50%; background-color: #DA1906; color:white" target="_blank" href="https://www.youtube.com/channel/UC-x4bdgWZCeYqJO5RBFkg7w"><i class="fa fa-youtube-play"></i></a>
            <a class="btn btn-social-icon btn-line" style="border-radius:50%" target="_blank" href="https://line.me/R/ti/p/%40siamsmile"> <img src="~/Content/img/line.png" /></a>
            <a class="btn btn-social-icon" style="border-radius:50%; background-color:white"  target="_blank"  href="https://www.siamsmilebroker.co.th/"><img src="~/Content/img/ssml_logo_1.png" width="30" height="30" /> </a>
        </div>
        
      
    </div>

    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <script src="@EnumHandler.HandlerUrl"></script>
    @Scripts.Render("~/Bundles/js")
    @RenderSection("ViewSpecificJavascript", required: false)
</body>
</html>
