@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                @*<input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>*@
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Menu</li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>ใบลดหย่อนภาษี</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @*<li class="@Url.IsLinkActive("TaxAllowanceMonitor", "Tax")">
            <a href="@Url.Action("TaxAllowanceMonitor", "Tax")"><i class="fa fa-link"></i> <span>ประจำปี 2560</span></a>
        </li>
        <li class="@Url.IsLinkActive("TaxAllowance2561Monitor", "Tax")">
            <a href="@Url.Action("TaxAllowance2561Monitor", "Tax")"><i class="fa fa-link"></i> <span>ประจำปี 2561</span></a>
        </li>*@
                    @*<li class="@Url.IsLinkActive("TaxAllowance2562Monitor", "Tax")">
            <a href="@Url.Action("TaxAllowance2562Monitor", "Tax")"><i class="fa fa-link"></i> <span>ประจำปี 2562</span></a>
        </li>*@
                    @*<li class="@Url.IsLinkActive("TaxAllowance2563Monitor", "Tax")">
            <a href="@Url.Action("TaxAllowance2563Monitor", "Tax")"><i class="fa fa-link"></i> <span>ประจำปี 2563</span></a>
        </li>*@
                    @*<li class="@Url.IsLinkActive("TaxAllowance2564Monitor", "Tax")">
                        <a href="@Url.Action("TaxAllowance2564Monitor", "Tax")"><i class="fa fa-link"></i> <span>ประจำปี 2564</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("TaxAllowance2565Monitor", "Tax")">
                        <a href="@Url.Action("TaxAllowance2565Monitor", "Tax")"><i class="fa fa-link"></i> <span>ประจำปี 2565</span></a>
                    </li>*@
                    <li class="@Url.IsLinkActive("TaxAllowance2566Monitor", "Tax")">
                        <a href="@Url.Action("TaxAllowance2566Monitor", "Tax")"><i class="fa fa-link"></i> <span>ประจำปี 2566</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("TaxAllowance2567Monitor", "Tax")">
                        <a href="@Url.Action("TaxAllowance2567Monitor", "Tax")"><i class="fa fa-link"></i> <span>ประจำปี 2567</span></a>
                    </li>
                    @*<li class="@Url.IsLinkActive("AnotherLink", "Home")">
            <a href="@Url.Action("AnotherLink", "Home")"><i class="fa fa-link"></i> <span>Another Link</span></a>
        </li>*@
                </ul>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>