@{
    ViewBag.Title = "จัดการข้อมูลอู่ซ่อมรถยนต์";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal" style="margin-top:10px">
    <div class="row">
        <div class="col-xs-12">
            @*<div class="box box-solid box-success">*@
            @*<div class="box-header with-border" style="text-align:center">*@
            @*<h3 class="box-title">จัดการข้อมูลโรงพยาบาลและคลินิก</h3>*@
            @*</div>*@
            @*<div class="box-body">*@
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#NavInfo" data-toggle="tab" aria-expanded="true"><h5>ข้อมูลอู่ซ่อมรถยนต์</h5></a></li>
                    <li class=""><a href="#NavContract" data-toggle="tab" aria-expanded="false"><h5>คู่สัญญาอู่ซ่อมรถยนต์</h5></a></li>
                    <li class=""><a href="#NavBankInfo" data-toggle="tab" aria-expanded="false"><h5>ข้อมูลการเงินการบัญชี</h5></a></li>
                    <li class=""><a href="#NavHistory" data-toggle="tab" aria-expanded="false"><h5>ประวัติการทำรายการ</h5></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="NavInfo">
                        <!-- /.post -->
                        <div class="row" style="margin-top:1%">
                            <div class="col-xs-12">
                                <div class="box box-solid box-default">
                                    <div class="box-header">
                                        <label>ข้อมูลอู่ซ่อมรถยนต์</label>
                                    </div>
                                    <div class="box-body" style="margin-top:-10px">
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-3">
                                                <label>ประเภทอู่ซ่อมรถยนต์</label>
                                                <input id="txtOrganizeType" tabindex="2" class="form-control input-sm" type="text" disabled>
                                            </div>
                                            <div class="col-xs-6">
                                                <label style="width:auto">ชื่ออู่ซ่อมรถยนต์</label>
                                                <input id="txtOrganizeDetail" tabindex="2" class="form-control input-sm" type="text" disabled>
                                            </div>
                                            <div class="col-xs-2 col-xs-offset-1" style="">
                                                <label style="width:auto">สถานะการใช้งาน :</label>
                                                <label id="lblIsActive" style="color:green">ใช้งาน</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-solid box-default">
                                    <div class="box-header">
                                        <label>ข้อมูลที่อยู่</label>
                                    </div>
                                    <div class="box-body" id="divAddressInfo">

                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-2">
                                                <label>ที่อยู่ เลขที่ :</label>
                                                <input id="txtNo" tabindex="3" class="form-control input-sm" type="text" disabled value="">
                                            </div>
                                            <div class="col-xs-1">
                                                <label>หมู่ที่ :</label>
                                                <input id="txtMoo" tabindex="3" class="form-control input-sm" type="text" disabled value="">
                                            </div>
                                            <div class="col-xs-4">
                                                <label>หมู่บ้าน/อาคาร :</label>
                                                <input id="txtVillageName" tabindex="3" class="form-control input-sm" type="text" disabled value="">
                                            </div>
                                            <div class="col-xs-1">
                                                <label>ชั้น :</label>
                                                <input id="txtFloor" tabindex="3" class="form-control input-sm" type="text" disabled value="">
                                            </div>

                                            <div class="col-xs-2">
                                                <label>ซอย :</label>
                                                <input id="txtSoi" tabindex="3" class="form-control input-sm" type="text" disabled value="">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>ถนน :</label>
                                                <input id="txtRoad" tabindex="3" class="form-control input-sm" type="text" disabled value="">
                                            </div>

                                        </div>

                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-3">
                                                <label>ตำบล</label><label style="color:red">*</label>
                                                <input id="txtSubDistrict" tabindex="5" class="form-control input-sm" type="text" value="" disabled>
                                            </div>
                                            <div class="col-xs-3">
                                                <label>อำเภอ</label><label style="color:red">*</label>
                                                <input id="txtDistrict" tabindex="6" class="form-control input-sm" type="text" value="" disabled>
                                            </div>
                                            <div class="col-xs-3">
                                                <label>จังหวัด</label><label style="color:red">*</label>
                                                <input id="txtProvince" tabindex="7" class="form-control input-sm" type="text" value="" disabled>
                                            </div>

                                            <div class="col-xs-3">
                                                <label>รหัสไปรษณีย์</label><label style="color:red">*</label>
                                                <input id="txtPostcode" tabindex="8" class="form-control input-sm" type="text" value="" disabled>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-3">
                                                <label>Latitude</label>
                                                <input id="txtLatitude" tabindex="9" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-3">
                                                <label>Longitude</label>
                                                <input id="txtLongitude" tabindex="10" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-4">
                                                <label>สถานที่ใกล้เคียง</label>
                                                <input id="txtNearByPlace" tabindex="14" class="form-control input-sm" type="text" placeholder="ระบุสถานที่ใกล้เคียง">
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-3">
                                                <label>เบอร์ติดต่อ</label><label style="color:red">*</label>
                                                <input id="txtTel" tabindex="11" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-3">
                                                <label>เบอร์แฟกซ์</label>
                                                <input id="txtFax" tabindex="12" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-4">
                                                <label>อีเมล</label>
                                                <input id="txtEmail" tabindex="13" class="form-control input-sm" type="email">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-solid box-default">
                                    <div class="box-header">
                                        <label>ข้อมูลผู้ติดต่อ</label>
                                    </div>
                                    <div class="box-body" id="divContact">
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-4">
                                                <label>ชื่อผู้ติดต่อฝ่ายการเงิน</label>
                                                <input id="txtFinanceContact" tabindex="15" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>เบอร์ติดต่อ</label>
                                                <input id="txtFinanceTel" tabindex="16" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>แฟกซ์</label>
                                                <input id="txtFinanceFax" tabindex="17" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-3">
                                                <label>อีเมล</label>
                                                <input id="txtFinanceEmail" tabindex="18" class="form-control input-sm" type="email">
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-4">
                                                <label>ชื่อผู้ติดต่อฝ่ายการเงินสำรอง</label>
                                                <input id="txtAlternateContact" tabindex="19" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>เบอร์ติดต่อ</label>
                                                <input id="txtAlternateTel" tabindex="20" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>แฟกซ์</label>
                                                <input id="txtAlternateFax" tabindex="21" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-3">
                                                <label>อีเมล</label>
                                                <input id="txtAlternateEmail" tabindex="22" class="form-control input-sm" type="email">
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-4">
                                                <label>ชื่อผู้ติดต่อฝ่ายบัญชี</label>
                                                <input id="txtAccountContact" tabindex="23" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>เบอร์ติดต่อ</label>
                                                <input id="txtAccountTel" tabindex="24" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>แฟกซ์</label>
                                                <input id="txtAccountFax" tabindex="25" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-3">
                                                <label>อีเมล</label>
                                                <input id="txtAccountEmail" tabindex="26" class="form-control input-sm" type="email">
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-4">
                                                <label>ชื่อผู้ติดต่อฝ่าย Marketing</label>
                                                <input id="txtMarketingContact" tabindex="27" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>เบอร์ติดต่อ</label>
                                                <input id="txtMarketingTel" tabindex="28" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-2">
                                                <label>แฟกซ์</label>
                                                <input id="txtMarketingFax" tabindex="29" class="form-control input-sm" type="text">
                                            </div>
                                            <div class="col-xs-3">
                                                <label>อีเมล</label>
                                                <input id="txtMarketingEmail" tabindex="30" class="form-control input-sm" type="email">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top:10px; text-align:center" id="divButtonSaveInfo">

                            <div class="col-xs-3"></div>
                            <div class="col-xs-3"> <button id="btnNavSave1" tabindex="35" type="button" class="btn btn-success" style="width:100%">บันทึก</button></div>
                            <div class="col-xs-3"><button id="btnNavCancel1" tabindex="36" type="button" class="btn btn-danger" style="width:100%">ยกเลิก</button></div>
                           
                            
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="NavContract">
                        <!-- The timeline -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-solid box-default">
                                    <div class="box-header">
                                        <label>คู่สัญญา</label>
                                    </div>
                                    <div class="box-body">
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-2"><label>คู่สัญญา</label></div>
                                            <div class="col-xs-1">
                                                <div class="radioContract">
                                                    <label>
                                                        <input type="radio" name="rdbContract" id="rdbContract" value="1">
                                                        เป็น
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <label>วันเริ่มสัญญา :</label>
                                                <input type="text" class="form-control pull-right input-sm" id="dtpStartDate" data-provide="datepicker" data-date-language="th-th" placeholder="dd/mm/yyyy" data-format="dd/MM/yyyy" disabled>
                                            </div>
                                            <div class="col-xs-2">
                                                <label>วันสิ้นสุดสัญญา :</label>
                                                <input type="text" class="form-control pull-right input-sm" id="dtpEndDate" data-provide="datepicker" data-date-language="th-th" placeholder="dd/mm/yyyy" data-format="dd/MM/yyyy" disabled>
                                            </div>
                                            <div class="col-xs-2"></div>
                                        </div>

                                        <div class="row" style="padding-top:5px">
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-1">
                                                <div class="radioContract">
                                                    <label>
                                                        <input type="radio" name="rdbContract" id="rdbNonContract" value="2">
                                                        ไม่เป็น
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-2" style="text-align:right;padding-top:8px">
                                                <input type="checkbox" class="icheckbox_minimal-blue" aria-checked="false" aria-disabled="false" style="position: relative;" id="cnbStatusPending" name="cnbStatusPending" disabled /> <label>สถานะดำเนินการ:</label>
                                            </div>
                                            <div class="col-xs-2">
                                                <select id="ddlStatusPending" class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" disabled>
                                                    <option value="-1">--โปรดระบุ--</option>
                                                    @{
                                                        foreach (var item in ViewBag.ProcessStatus)
                                                        {
                                                            <option value="@item.StatusId">@item.Status</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-top:5px">
                            <div class="col-xs-12">
                                <div class="box box-solid box-default">
                                    <div class="box-header">
                                        <label>สิทธิ์การเคลม</label>
                                    </div>
                                    <div class="box-body">
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-2"><label>เคลม</label></div>
                                            <div class="col-xs-2">
                                                <div class="radioContract">
                                                    <label>
                                                        <input type="radio" name="rdbGarageClaim" id="rdbalternatePremium" value="1">
                                                        ต้องสำรองจ่าย
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="radioContract">
                                                    <label>
                                                        <input type="radio" name="rdbGarageClaim" id="rdbNonalternatePremium" value="2">
                                                        ไม่ต้องสำรองจ่าย
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-top:5px">
                            <div class="col-xs-12">
                                <label>หมายเหตุ :</label>
                                <textarea class="form-control" rows="3" placeholder="Enter ..." id="txtRemark"></textarea>
                            </div>
                        </div>

                        <div class="row" style="margin-top:10px; text-align:center" id="divButtonSaveContract">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-3"><button id="btnNavSave2" tabindex="35" type="button" class="btn btn-success" style="width:100%">บันทึก</button></div>
                            <div class="col-xs-3"><button id="btnNavCancel2" tabindex="36" type="button" class="btn btn-danger" style="width:100%">ยกเลิก</button></div>
                            
                            
                        </div>
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="NavBankInfo">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-solid box-default">
                                    <div class="box-header">
                                        <label>ข้อมูลสำหรับการจ่ายเช็ค</label>
                                    </div>
                                    <div class="box-body" style="margin-top:-10px" id="divChequeData">
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-4">
                                                <label>ชื่อเช็ค</label>
                                                <input id="txtChequeName" tabindex="1" class="form-control input-sm" type="text" value="">
                                            </div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-solid box-default">
                                    <div class="box-header">
                                        <label>ข้อมูลสำหรับการโอนเงิน</label>
                                    </div>
                                    <div class="box-body" style="margin-top:-10px" id="divBankAccount">
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-4">
                                                <label>ธนาคาร</label>
                                                <select id="ddlBankName" class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                                    <option value="-1">--โปรดระบุ--</option>
                                                    @{
                                                        foreach (var item in ViewBag.BankName)
                                                        {
                                                            <option value="@item.Bank_ID">@item.BankDetail</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-4">
                                                <label>สาขา</label>
                                                <input id="txtBankBranch" tabindex="1" class="form-control input-sm" type="text" value="">
                                            </div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-4">
                                                <label>เลขที่บัญชี</label>
                                                <input id="txtBankAccountNo" tabindex="1" class="form-control input-sm" type="text" value="">
                                            </div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-xs-4">
                                                <label>ชื่อบัญชี</label>
                                                <input id="txtBankAccountName" tabindex="1" class="form-control input-sm" type="text" value="">
                                            </div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                            <div class="col-xs-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top:10px; text-align:center" id="divButtonSaveBankAccount">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-3"> <button id="btnNavSave3" tabindex="35" type="button" class="btn btn-success" style="width:100%">บันทึก</button></div>
                            <div class="col-xs-3">  <button id="btnNavCancel3" tabindex="36" type="button" class="btn btn-danger" style="width:100%">ยกเลิก</button></div>
                           
                          
                        </div>
                    </div>

                    <div class="tab-pane" id="NavHistory">
                        <div class="box-body" style="margin-top:-10px">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="dtTransaction" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            @*</div>*@@*Comment*@
            <!-- /.box-body -->
            @*</div>*@ @*Comment*@
        </div>
    </div>

    <!--Transaction Detail Modal-->
    <div class="modal fade bd-example-modal-lg" id="ModalTransactTionDetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-body justify-content-center">
                    <table id="dtTransactionDetail" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                </div>
                <div class="modal-footer" style="text-align:center">
                    <button type="button" class="btn bg-red-active" style="width:80px" data-dismiss="modal">ปิด</button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="hdfOrganizeId" value="@ViewBag.OrganizeId" />
    <input type="hidden" id="hdfMode" value="@ViewBag.Mode" />
</form>

@section ViewSpecificJavascript
{
    <script type="text/javascript">

        var chat = $.connection.myHub;
        var userID;

        $(function () {


            //Start Connection
            $.connection.hub.start().done(function () {

                $('#btnNavSave1').click(function (e) {
                    e.preventDefault();
                    if (Validation(1)) { Confirm(1); }
                });

                $('#btnNavSave2').click(function (e) {
                    e.preventDefault();
                    if (Validation(2)) { Confirm(2); }
                });

                $('#btnNavSave3').click(function (e) {
                    e.preventDefault();
                    if (Validation(3)) { Confirm(3); }
                });

            });
        });

    $(function () {
        @*if (@ViewBag.OrganizeId != "") {
            DoloadData();

        }*@

        userID = @ViewBag.userID;

        $('#dtpStartDate').datepicker({ format: "dd/mm/yyyy", autoclose: true });
        $('#dtpEndDate').datepicker({ format: "dd/mm/yyyy", autoclose: true });

        LoadData();

        if ($('#hdfMode').val() === "2") {
            DoEnabledInput(true);
        }

            $('.select2').select2();

            //Check สิทธิการเข้าใช้งาน

            $('#btnNavCancel1').click(function (e) {
                e.preventDefault();
                window.close();
            });

            $('#btnNavCancel2').click(function (e) {
                e.preventDefault();
                window.close();
            });

            $('#btnNavCancel3').click(function (e) {
                e.preventDefault();
                //
                window.close();
            });

            $('#rdbContract').on('ifChecked', function (event) {
                $("#dtpStartDate").prop('disabled', false);
                $("#dtpEndDate").prop('disabled', false);

                $("#cnbStatusPending").iCheck('disable');

                $("#ddlStatusPending").prop('disabled', true);

                $('#cnbStatusPending').iCheck('uncheck');
                $('#ddlStatusPending').val('-1').trigger('change.select2');
            });

            $('#rdbNonContract').on('ifChecked', function (event) {
                $("#dtpStartDate").prop('disabled', true);
                $("#dtpEndDate").prop('disabled', true);

                $("#cnbStatusPending").iCheck('enable');

                $("#ddlStatusPending").prop('disabled', true);

                $("#dtpStartDate").val('');
                $("#dtpEndDate").val('');
            });

            $('#cnbStatusPending').on('ifChecked', function (event) {

                $("#ddlStatusPending").prop('disabled', false);

            });

            $('#cnbStatusPending').on('ifChecked', function (event) {

                $("#ddlStatusPending").prop('disabled', false);

            });

            $('#cnbStatusPending').on('ifUnchecked', function (event) {

                $("#ddlStatusPending").prop('disabled', true);
                $('#ddlStatusPending').val('-1').trigger('change.select2');
             });

    });

        const LoadData = () => {
            LoadInformationData();
            LoadContractData();
            LoadBankAccountData();
            DoLoadTransaction();
        }

        const LoadInformationData = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetInsuranceInformationDataById", "GarageManagement")",
                data: {
                    organizeId: $('#hdfOrganizeId').val()
                },
                dataType: "json",
                async: false,
                success: function (data) {

                    $('#txtOrganizeType').val(data.OrganizeTypeDetail);
                    $('#txtOrganizeDetail').val(data.OrganizeDetail);

                    if (data.IsActive === true) {
                        $('#lblIsActive').text('ใช้งาน');
                        $('#lblIsActive').css('color', 'green');
                    } else {
                        $('#lblIsActive').text('ไม่ใช้งาน');
                        $('#lblIsActive').css('color', 'red');
                    }


                    $('#txtNo').val(data.No);
                    $('#txtMoo').val(data.Moo);
                    $('#txtVillageName').val(data.VillageName);
                    $('#txtFloor').val(data.Floor);
                    $('#txtSoi').val(data.Soi);
                    $('#txtRoad').val(data.Road);


                    $('#txtLatitude').val(data.Latitude);
                    $('#txtLongitude').val(data.Longitude);
                    $('#txtSubDistrict').val(data.SubDistrictDetail);
                    $('#txtDistrict').val(data.DistrictDetail);
                    $('#txtProvince').val(data.ProvinceDetail);
                    $('#txtPostcode').val(data.ZipCode);
                    $('#txtTel').val(data.PrimaryPhone);
                    $('#txtFax').val(data.Fax);
                    $('#txtEmail').val(data.Email);
                    $('#txtNearByPlace').val(data.NearByPlace);
                    $('#txtFinanceContact').val(data.FinanceContact);
                    $('#txtFinanceTel').val(data.FinanceTel);
                    $('#txtFinanceFax').val(data.FinanceFax);
                    $('#txtFinanceEmail').val(data.FinanceEmail);
                    $('#txtAlternateContact').val(data.AlternateFinanceContact);
                    $('#txtAlternateTel').val(data.AlternateFinanceTel);
                    $('#txtAlternateFax').val(data.AlternateFinanceFax);
                    $('#txtAlternateEmail').val(data.AlternateFinanceEmail);
                    $('#txtAccountContact').val(data.AccountingContact);
                    $('#txtAccountTel').val(data.AccountingTel);
                    $('#txtAccountFax').val(data.AccountingFax);
                    $('#txtAccountEmail').val(data.AccountingEmail);
                    $('#txtMarketingContact').val(data.MarketingContact);
                    $('#txtMarketingTel').val(data.MarketingTel);
                    $('#txtMarketingFax').val(data.MarketingFax);
                    $('#txtMarketingEmail').val(data.MarketingEmail);
                }
            });
        }

        const LoadContractData = () => {
             $.ajax({
                type: "GET",
                url: "@Url.Action("GetContractDataById", "GarageManagement")",
                data: {
                    organizeId: $('#hdfOrganizeId').val()
                },
                dataType: "json",
                async: false,
                success: function (data) {

                    switch (data.IsContract) {
                        case true:
                            // code block
                            $('#rdbContract').iCheck('check');

                            $('#dtpStartDate').prop('disabled', false);
                            $('#dtpEndDate').prop('disabled', false);

                            //bind contractDate
                            if (data.StartContractDate != null) {
                                let StartDate = moment(data.StartContractDate)._d;
                                $('#dtpStartDate').datepicker({ format: "dd/mm/yyyy" }).datepicker('setDate', new Date(StartDate));
                            }

                            if (data.EndContractDate != null) {
                                let EndDate = moment(data.EndContractDate)._d;
                                $('#dtpEndDate').datepicker({ format: "dd/mm/yyyy" }).datepicker('setDate', new Date(EndDate));
                            }
                            break;
                        case false:
                            $('#rdbNonContract').iCheck('check');
                            $('#cnbStatusPending').iCheck('enable');

                            //Check statusId
                            if (data.PendingStatusId != null) {
                                $('#cnbStatusPending').iCheck('check');
                                $('#ddlStatusPending').prop('disabled', false);
                                $('#ddlStatusPending').val(data.PendingStatusId).trigger('change.select2');
                            }
                            break;
                        default:
                            $('#rdbContract').iCheck('uncheck');
                            $('#rdbNonContract').iCheck('uncheck');
                            // code block
                    }

                    switch (data.Claim) {
                        case 2:
                            $('#rdbalternatePremium').iCheck('check');
                            break;
                        case 3:
                            $('#rdbNonalternatePremium').iCheck('check');
                            break;
                        default:
                            $('#rdbalternatePremium').iCheck('uncheck');
                            $('#rdbNonalternatePremium').iCheck('uncheck');
                    }

                    $('#txtRemark').val(data.Remark);

                }
            });
        }

         const LoadBankAccountData = () => {
             $.ajax({
                type: "GET",
                url: "@Url.Action("GetBankAccountDataById", "GarageManagement")",
                data: {
                    organizeId: $('#hdfOrganizeId').val()
                },
                dataType: "json",
                async: false,
                success: function (data) {

                    $('#txtChequeName').val(data.OrganizeBankAccountChequeName);

                    if (data.Bank_ID != null) {
                        $('#ddlBankName').val(data.Bank_ID).trigger('change.select2');
                    }

                    $('#txtBankBranch').val(data.OrganizeBranchBank);
                    $('#txtBankAccountNo').val(data.OrganizeBankAccountNO.replaceAll("-", ""));
                    $('#txtBankAccountName').val(data.OrganizeBankAccountName);

                }
            });
        }

        const DoEnabledInput = (v) => {
            $('#txtLatitude').prop('disabled', v);
            $('#txtLongitude').prop('disabled', v);
            $('#txtTel').prop('disabled', v);
            $('#txtFax').prop('disabled', v);
            $('#txtEmail').prop('disabled', v);
            $('#txtNearByPlace').prop('disabled', v);
            $('#txtFinanceContact').prop('disabled', v);
            $('#txtFinanceTel').prop('disabled', v);
            $('#txtFinanceFax').prop('disabled', v);
            $('#txtFinanceEmail').prop('disabled', v);
            $('#txtAlternateContact').prop('disabled', v);
            $('#txtAlternateTel').prop('disabled', v);

            $('#txtAlternateFax').prop('disabled', v);
            $('#txtAlternateEmail').prop('disabled', v);
            $('#txtAccountContact').prop('disabled', v);
            $('#txtAccountTel').prop('disabled', v);
            $('#txtAccountFax').prop('disabled', v);
            $('#txtAccountEmail').prop('disabled', v);
            $('#txtMarketingContact').prop('disabled', v);
            $('#txtMarketingTel').prop('disabled', v);
            $('#txtMarketingFax').prop('disabled', v);
            $('#txtMarketingEmail').prop('disabled', v);

            $('#rdbContract').prop('disabled', v);
            $('#rdbNonContract').prop('disabled', v);

            $('#txtChequeName').prop('disabled', v);
            $('#ddlBankName').prop('disabled', v);
            $('#txtBankBranch').prop('disabled', v);
            $('#txtBankAccountNo').prop('disabled', v);
            $('#txtBankAccountName').prop('disabled', v);
            $('#dtpStartDate').prop('disabled', v);
            $('#dtpEndDate').prop('disabled', v);
            $('#ddlStatusPending').prop('disabled', v);

            $('#rdbalternatePremium').prop('disabled', v);
            $('#rdbNonalternatePremium').prop('disabled', v);

            $('#txtRemark').prop('disabled', v);

            if (v == true) {
                $('#cnbStatusPending').iCheck('disable');
                $('#divButtonSaveInfo').hide();
                $('#divButtonSaveContract').hide();
                $('#divButtonSaveBankAccount').hide();
            }

        }

        const Confirm = (tabIndex) => {
            //Do validation function first
            swal({
                title: "",
                text: "ยืนยันการทำรายการ",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "ตกลง",
                cancelButtonText: "ยกเลิก",
                closeOnConfirm: false,
                closeOnCancel: true
            },
                function (isConfirm) {
                    if (isConfirm) {
                        //DoUpdate

                        switch (tabIndex) {
                            case 1:
                                InformationInsertOrUpdate();
                                break;
                            case 2:
                                ContractInsertOrUpdate();
                                break;
                            case 3:
                                BankAccountInsertOrUpdate();
                                break;
                            default:
                        }

                    } else {
                        //swal("ยกเลิกทำรายการ", "", "error");
                    }
                }
            );
        }

        const InformationInsertOrUpdate = () => {
            $.ajax({
                type: "POST",
                url: "@Url.Action("InformationInsertOrUpdate", "GarageManagement")",
                data: {
                    organizeId: $('#hdfOrganizeId').val(),
                    nearByPlace: $('#txtNearByPlace').val().trim(),
                    organizeContactTel: $('#txtTel').val().trim(),
                    organizeContactFax: $('#txtFax').val().trim(),
                    organizeContactEmail: $('#txtEmail').val().trim(),
                    latitude: $('#txtLatitude').val().trim(),
                    longitude: $('#txtLongitude').val().trim(),
                    financeContact: $('#txtFinanceContact').val().trim(),
                    financeTel: $('#txtFinanceTel').val().trim(),
                    financeEmail: $('#txtFinanceEmail').val().trim(),
                    financeFax: $('#txtFinanceFax').val().trim(),
                    alternateFinanceContact: $('#txtAlternateContact').val().trim(),
                    alternateFinanceTel: $('#txtAlternateTel').val().trim(),
                    alternateFinanceEmail: $('#txtAlternateEmail').val().trim(),
                    alternateFinanceFax: $('#txtAlternateFax').val().trim(),
                    accountingContact: $('#txtAccountContact').val().trim(),
                    accountingTel: $('#txtAccountTel').val().trim(),
                    accountingEmail: $('#txtAccountEmail').val().trim(),
                    accountingFax: $('#txtAccountFax').val().trim(),
                    marketingContact: $('#txtMarketingContact').val().trim(),
                    marketingTel: $('#txtMarketingTel').val().trim(),
                    marketingEmail: $('#txtMarketingEmail').val().trim(),
                    marketingFax: $('#txtMarketingFax').val().trim()
                },
                dataType: "json",
                async: false,
                success: function (data) {

                    if (data.IsResult == true) {

                        chat.server.sendNoticeGroup("อัพเดตข้อมูล", "", userID);

                        //Alert
                        swal("", data.Msg, "success");
                        //LoadData
                        LoadData();

                    } else {
                        swal("คำเตือน", data.Msg, "error");
                    }

                }
            });
        }

        const ContractInsertOrUpdate = () => {
            let isContract = false;
            let d_startContractDate = null;
            let d_endContractDate = null;
            let processStatusId = null;
            let claim = 1;

            if ($('#rdbContract').iCheck('update')[0].checked == true) {
                isContract = true;
            }

            if ($('#dtpStartDate').val() != null) {
                d_startContractDate = $('#dtpStartDate').val();
            }

            if ($('#dtpEndDate').val() != null) {
                d_endContractDate = $('#dtpEndDate').val();
            }

            if ($('#ddlStatusPending').val() != '-1') {
                processStatusId = $('#ddlStatusPending').val();
            }

            if ($('#rdbalternatePremium').iCheck('update')[0].checked == true) {
                claim = 2;
            }

            if ($('#rdbNonalternatePremium').iCheck('update')[0].checked == true) {
                claim = 3;
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("ContractInsertOrUpdate", "GarageManagement")",
                data: {
                    organizeId: $('#hdfOrganizeId').val(),
                    isContract: isContract,
                    startContractDate: d_startContractDate,
                    endContractDate: d_endContractDate,
                    processStatusId: processStatusId,
                    claim: claim,
                    remark: $('#txtRemark').val().trim()
                },
                dataType: "json",
                async: false,
                success: function (data) {

                    if (data.IsResult == true) {

                        chat.server.sendNoticeGroup("อัพเดตข้อมูล", "", userID);

                        //Alert
                        swal("", data.Msg, "success");
                        //LoadData
                        LoadData();

                    } else {
                        swal("คำเตือน", data.Msg, "error");
                    }
                }
            });
        }

        const BankAccountInsertOrUpdate = () => {
            $.ajax({
                type: "POST",
                url: "@Url.Action("BankAccountInsertOrUpdate", "GarageManagement")",
                data: {
                    organizeId: $('#hdfOrganizeId').val(),
                    ChequeName: $('#txtChequeName').val().trim(),
                    bankId: $('#ddlBankName').val().trim(),
                    bankBranch: $('#txtBankBranch').val().trim(),
                    bankAccountNo: $('#txtBankAccountNo').val().trim(),
                    bankAccountName: $('#txtBankAccountName').val().trim()
                },
                dataType: "json",
                async: false,
                success: function (data) {

                    if (data.IsResult == true) {

                        chat.server.sendNoticeGroup("อัพเดตข้อมูล", "", userID);

                        //Alert
                        swal("", data.Msg, "success");
                        //LoadData
                        LoadData();

                    } else {
                        swal("คำเตือน", data.Msg, "error");
                    }

                }
            });
        }

        function ValidateThai(email) {
            const re = /^[a-zA-Z0-9$\s@@$!%*?&#^-_.+-/]+$/;
            return re.test(String(email).toLowerCase());
        }

        function Validation(tabIndex) {

            switch (tabIndex) {
                case 1:

                    if ($('#txtTel').val().trim() == "") {

                        swal("คำเตือน", "กรุณากรอกเบอร์โทรศัพท์", "error");
                        return false;
                    }

                    const re_num = /^-?\d*\.?\d*$/;

                    if ($('#txtLatitude').val().trim() != "") {

                        //chk number
                        let chk_lat = re_num.test(String($('#txtLatitude').val().trim()).toLowerCase());

                        if (chk_lat == false) {
                            swal("คำเตือน", "Latitude ต้องเป็นตัวเลขเท่านั้น", "error");
                            return false;
                        }

                        let latitude = $('#txtLatitude').val().trim()

                        let number_latitude = latitude.split(".");

                        let dece_latitude = number_latitude[1];

                        if (dece_latitude != null) {
                            if (dece_latitude.length > 8) {
                                swal("คำเตือน", "กรุณาตรวจสอบ Latitude ทศนิยมต้องไม่เกิน 8 หลัก ", "error");
                                return false;
                            }
                        }

                    }

                    if ($('#txtLongitude').val().trim() != "") {

                        //chk number
                        let chk_long = re_num.test(String($('#txtLongitude').val().trim()).toLowerCase());

                        if (chk_long == false) {
                            swal("คำเตือน", "Longitude ต้องเป็นตัวเลขเท่านั้น", "error");
                            return false;
                        }

                        let longitude = $('#txtLongitude').val().trim()

                        let number_longitude = longitude.split(".");

                        let dece_longitude = number_longitude[1];

                        if (dece_longitude != null) {
                            if (dece_longitude.length > 8) {
                                swal("คำเตือน", "กรุณาตรวจสอบ Longitude ทศนิยมต้องไม่เกิน 8 หลัก", "error");
                                return false;
                            }
                        }

                    }

                    if ($('#txtEmail').val().trim() != '-' && $('#txtEmail').val().trim() != "") {

                        //Check regx email
                        if (validateEmail($('#txtEmail').val().trim()) == false || ValidateThai($('#txtEmail').val().trim()) === false) {
                            swal("คำเตือน", "กรุณาตรวจสอบ Email", "error");
                            return false;
                        }
                    }

                    if ($('#txtFinanceEmail').val().trim() != '-' && $('#txtFinanceEmail').val().trim() != "") {

                        //Check regx email
                        if (validateEmail($('#txtFinanceEmail').val().trim()) == false || ValidateThai($('#txtFinanceEmail').val().trim()) === false) {
                            swal("คำเตือน", "กรุณาตรวจสอบ Email การเงิน", "error");
                            return false;
                        }
                    }

                    if ($('#txtAlternateEmail').val().trim() != '-' && $('#txtAlternateEmail').val().trim() != "") {

                        //Check regx email
                        if (validateEmail($('#txtAlternateEmail').val().trim()) == false || ValidateThai($('#txtAlternateEmail').val().trim()) === false) {
                            swal("คำเตือน", "กรุณาตรวจสอบ Email การเงินสำรอง", "error");
                            return false;
                        }
                    }

                    if ($('#txtAccountEmail').val().trim() != '-' && $('#txtAccountEmail').val().trim() != "") {

                        //Check regx email
                        if (validateEmail($('#txtAccountEmail').val().trim()) == false || ValidateThai($('#txtAccountEmail').val().trim()) === false) {
                            swal("คำเตือน", "กรุณาตรวจสอบ Email บัญชี", "error");
                            return false;
                        }
                    }

                    if ($('#txtMarketingEmail').val().trim() != '-' && $('#txtMarketingEmail').val().trim() != "") {

                        //Check regx email
                        if (validateEmail($('#txtMarketingEmail').val().trim()) == false || ValidateThai($('#txtMarketingEmail').val().trim()) === false) {
                            swal("คำเตือน", "กรุณาตรวจสอบ MarketingEmail", "error");
                            return false;
                        }
                    }

                    return true;
                    break;
                case 2:

                    if ($('input[name="rdbContract"]:checked').length == 0) {
                        swal("คำเตือน", "กรุณาเลือกรายการ คู่สัญญา", "error");
                        return false;
                    }

                    if ($('#cnbStatusPending').iCheck('update')[0].checked == true) {
                        if ($('#ddlStatusPending').val() == '-1') {
                            swal("คำเตือน", "กรุณาเลือกรายการ สถานะดำเนินการ", "error");
                            return false;
                        }
                    }

                    return true;

                    break;
                case 3:

                    if ($('#ddlBankName').val() !== '-1') {

                        //สาขา
                        if ($('#txtBankBranch').val().trim() == "") {
                            swal("คำเตือน", "กรุณากรอก สาขา", "error");
                            return false;
                        }
                        //เลขที่บัญชี
                        if ($('#txtBankAccountNo').val().trim() == "") {
                            swal("คำเตือน", "กรุณากรอก เลขที่บัญชี", "error");
                            return false;
                        } else {

                            const re = /^\d+$/;
                            let chk_acc = re.test(String($('#txtBankAccountNo').val().trim()).toLowerCase());

                            if (chk_acc == false) {
                                swal("คำเตือน", "กรุณาตรวจสอบ เลขที่บัญชี ต้องเป็นตัวเลขเท่านั้น", "error");
                                return false;
                            }
                        }

                        //ชื่อบัญชี
                        if ($('#txtBankAccountName').val().trim() == "") {
                            swal("คำเตือน", "กรุณากรอก ชื่อบัญชี", "error");
                            return false;
                        }

                    }

                    if ($('#ddlBankName').val() == '-1' && ($('#txtBankAccountName').val() != ""
                        || $('#txtBankAccountNo').val() != "" || $('#txtBankBranch').val() != "")) {
                        swal("คำเตือน", "กรุณาระบุ ธนาคาร", "error");
                        return false;
                    }

                    return true;

                    break;
                default:
                    return true;
            }

        }

         //-------------------data table -----------------------

            const DoLoadTransaction = () => {
            $('#dtTransaction').empty();
            var t = $('#dtTransaction').dataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                searching: false,
                autoWidth: true,
                "order": [[0, "desc"]],
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetOrganizeTransaction", "GarageManagement")',
                    type: 'POST',
                    async: false,
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;
                        d.organizeId = $('#hdfOrganizeId').val();
                    }
                },
                columns: [
                    {
                        title: 'วันที่ทำรายการ', data: 'CreatedDate', className: 'h-dt-center', width: '8%',
                        mRender: function (data) {
                            moment.locale('th');
                            return moment(data).add(543, 'years').format("DD/MM/YYYY HH:mm:ss", "LLLL");
                        }
                    },
                    { title: 'ผู้ทำรายการ', data: 'CreatedByName', className: 'h-dt-center text-font-small', width: '8%' },
                    { title: 'ประเภทรายการ', data: 'TransactionType', className: 'h-dt-center text-font-small', width: '8%' },
                    {
                        title: 'รายละเอียด',
                        data: null,
                        className: 'h-dt-center d-dt-center ',
                        mRender: (data, type, full) => {
                            return '<a onclick="DoLoadTransactionDetail(\'' + data.OrganizeTransactionId + '\')"  type="button"  class="btn btn-primary btn-sm" > ดูรายละเอียด</a>'
                        }, width: '5%'
                    },
                ],
                bLengthChange: false,
            });
        }

          const DoLoadTransactionDetail = (TransactionId) => {
            $('#dtTransactionDetail').empty();
             var t = $('#dtTransactionDetail').dataTable({
                 pageLength: 10,
                 processing: true,
                 serverSide: true,
                 autoWidth: false,
                 responsive: true,
                 destroy: true,
                searching:false,
                ajax: {
                    url: '@Url.Action("GetOrganizeTransactionDetailById", "GarageManagement")',

                    type: 'POST',
                    async: false,
                    data: function (d) {

                        d.transactionId = TransactionId;
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;

                    }
                },
                 columns: [
                     {title: 'รายการ', data: 'TransactionSubType', className: 'h-dt-center text-font-small'},
                     { title: 'ข้อมูลเดิม', data: 'FromDetail', className: 'h-dt-center text-font-small'},
                     { title: 'ข้อมูลใหม่', data: 'ToDetail', className: 'h-dt-center text-font-small'}

                ],
                bLengthChange: false,
             });

            $('#ModalTransactTionDetail').modal('show');
        }
    </script>
}