@{
    ViewBag.Title = "DetailApp";
    Layout = "";
}

<html>
<body onload="document.frm.submit()">
    <form method="post" action="@ViewBag.Url" name="frm">
        <input type="hidden" name="ProjectId" value="@(ViewBag.ProjectId)">
        <input type="hidden" name="ApplicationCode" value="@ViewBag.ApplicationCode">
        <input type="hidden" name="ApplicationStatusId" value="@ViewBag.ApplicationStatusId">
        <input type="hidden" name="ApplicationStatusName" value="@ViewBag.ApplicationStatusName">
        <input type="hidden" name="CustomerFistName" value="@ViewBag.CustFirstName">
        <input type="hidden" name="CustomerLastName" value="@ViewBag.CustLastName">
        <input type="hidden" name="CustomerIdentitycardNo" value="@ViewBag.CustomerIdentitycardNo">
        <input type="hidden" name="PayerFirstName" value="@ViewBag.PayerFirstName">
        <input type="hidden" name="PayerLastName" value="@ViewBag.PayerLastName">
        <input type="hidden" name="PayerIdentitycardNo" value="@ViewBag.PayerIdentitycardNo">
        <input type="hidden" name="IsSamePerson" value="@ViewBag.IsSamePerson">
        <input type="hidden" name="Mode" value="@ViewBag.Mode">
        <input type="hidden" name="EmployeeCode" value="@ViewBag.EmployeeCode">
        <input type="hidden" name="ExecutiveIdentitycardNo" value="">
    </form>
</body>
</html>
