@using System.Web.Optimization
@using WebHelpers.Mvc5.Enum
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title
        }
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    @Styles.Render("~/Bundles/css")
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="hold-transition" style="font-family: 'Sarabun', sans-serif;">

    <div class="container">
        <section class="content">
            @RenderBody()
        </section>
    </div>

    <footer class="feedback-blue-bottom" style="height:4rem;width:100%; color: white;">
        <div class="container">
            <div class="form-group">
                <div class="pull-left" style="margin:10px">
                    <strong> Call Center โทร 1434</strong>
                </div>

                <div class="pull-right">
                    <a class="btn btn-social-icon" style="margin-top: 2px;" href="https://www.siamsmilebroker.co.th/" target="_blank"><img src="~/Content/img/Website.png" /> </a>
                    <a class="btn btn-social-icon" style="margin-top: 2px;" href="https://line.me/R/ti/p/%40siamsmile" target="_blank"> <img src="~/Content/img/line.png" /></a>
                    <a class="btn btn-social-icon" style="margin-top: 2px;" href="https://www.facebook.com/siamsmilebroker/" target="_blank"><img src="~/Content/img/Facebook.png" /></a>
                    <a class="btn btn-social-icon" style="margin-top: 2px;" href="https://www.youtube.com/channel/UC-x4bdgWZCeYqJO5RBFkg7w" target="_blank"><img src="~/Content/img/Youtube.png" /></a>
                </div>
            </div>
        </div>
    </footer>

    <style>
        body {
            background-image: url('/Content/img/my-blue-bg.png');
            background-size: cover; /* ทำให้ภาพครอบคลุมพื้นที่ทั้งหมด */
            background-position: center; /* จัดให้ภาพอยู่กลาง */
            background-repeat: no-repeat; /* ห้ามให้ภาพซ้ำ */
        }
    </style>

    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <script src="@EnumHandler.HandlerUrl"></script>
    @Scripts.Render("~/Bundles/js")
    @RenderSection("ViewSpecificJavascript", required: false)
</body>
</html>